<table class="table-condensed rb-fieldset-table">
  <thead>
  <tr>
    <td style="width:300px;">{{'service'|translate}}</td>
    <td>{{'alias'|translate}}</td>
    <td style="width:70px;"></td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in vm.linkServiceList track by $index">
    <td>
      <rb-dropdown options="vm.serviceList"
                   init="item.dest_uuid"
                   key="display_name"
                   value="uuid"
                   on-change="vm.onServiceChange(option, item)"></rb-dropdown>
    </td>
    <td>
      <div class="ui input fluid">
        <input type="text"
               placeholder="{{'service_link_alias_placeholder' | translate}}"
               ng-required="true"
               ng-model="item.alias">
      </div>
    </td>
    <td>
      <button class="rb-fieldset-action-btn" ng-click="vm.deleteService($index)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <button ng-click="vm.addService()" class="rb-fieldset-add-btn">
        <i class="fa fa-plus"></i>
      </button>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>
