<rc-form-container [rcLoadingMask]="!initialized">
  <form #form="ngForm">
    <div class="rc-form-field">
      <div class="rc-form-field-label">{{'current_service_replicas' | translate}}</div>
      <div class="rc-form-field-container">{{currentReplicas}}</div>
    </div>

    <rc-form-field
      [hideErrors]="true"
      [label]="'service_replicas' | translate">
      <input
        rcInput
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
        name="name"
        min="1"
        [(ngModel)]="replicas"
        [pattern]="numberReg.pattern"
        required>
    </rc-form-field>

  </form>
  <ng-container *rcFooterContent>
    <button rcButton
            (click)="cancel()">
      {{'cancel'|translate}}
    </button>
    <button rcButton="primary"
            [loading]="submitting"
            [disabled]="submitting"
            (click)="confirm()">
      {{'confirm'|translate}}
    </button>
  </ng-container>
</rc-form-container>
