@import 'colors.styles';
@import 'definitions/rubick.def';

.rc-detail-container {
  min-height: 120px;
  display: block;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 3px;
  .detail-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    > img {
      width: 80px;
      height: 80px;
      border-radius: 3px;
    }
  }
  .detail-wrapper {
    margin-left: 100px;
    .detail-header {
      margin-bottom: 4px;
      position: relative;
      > h3 {
        line-height: 32px;
        font-size: 18px;
        margin: 0;
        padding-right: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .detail-buttons {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        > button,
        > rc-button-menu {
          margin-left: 8px;
        }
      }
    }

    .detail-content {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      @include clearfix;
      .detail-item {
        float: left;
        width: 50%;
        display: flex;
        line-height: 20px;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #4d4d4d;
        font-size: 14px;
        margin-top: 6px;
        &:nth-child(2n + 1) {
          padding-right: 8px;
        }
        > label {
          font-weight: normal;
          &:after {
            content: '\FF1A';
          }
        }
        > div:first-of-type {
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          padding-right: 12px;
        }
      }
    }
  }
  .detail-collapse-switch {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #fff;
    bottom: -10px;
    left: 50%;
    margin-left: -15px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.1);
    .icon {
      margin: 0;
      line-height: 1;
      width: 8px;
    }
  }
}

.rc-detail-tab {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;

  .rc-form-field-text {
    display: flex;

    .rc-form-field-label,
    .rc-form-field-value {
      line-height: 32px;
    }

    .rc-form-field-label {
      width: 25%;
      min-width: 200px;
      padding-right: 32px;
      text-align: right;
    }

    .rc-form-field-value {
      width: 50%;
    }
  }
}

.badge {
  height: 21px;
  line-height: 21px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #a8a8a8;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  &.detail-status {
    font-weight: 400;
    height: auto;
    width: auto;
    font-size: 16px;
    padding: 4px 10px;
  }
}

$status-color-map: (
  deploying: $status-color-in-process,
  error: $status-color-error,
  ok: $status-color-success,
  pending: $status-color-pending,
  running: $status-color-success,
  stopped: $status-color-error,
  waiting: $status-color-pending,
);

@each $status, $color in $status-color-map {
  .status-#{$status},
  .badge.status-#{$status} {
    background-color: $color;
  }
}
