@import 'colors.styles';

$form-row-height: 32px;

.rc-form-group {
  border-radius: 3px;
  background-color: #fff;
  padding: 0 20px;
  &-wrap {
    padding-bottom: 72px;
  }
  &-header {
    height: 48px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  &-content {
    padding: 16px 0;
  }
  &-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 56px;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
    border-top: 1px solid #e8e8e8;
    left: 160px;
    padding: 12px 20px;
    z-index: 99;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 8px !important;
    }
  }
}

.rc-form-field {
  margin-bottom: 16px;
  display: flex;
  .rc-form-field-row {
    display: flex;
  }
  .rc-form-field-label {
    display: flex;
    width: 140px;
    flex-shrink: 0;
    font-size: 14px;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    font-weight: 400;
    margin-bottom: 0;
    padding-right: 16px;
    color: #4d4d4d;
    overflow-wrap: break-word;
    height: $form-row-height;
    .rc-required-mark {
      color: $status-color-error;
      padding-left: 4px;
    }
  }
  .rc-form-field-container {
    flex: 1;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--blocked {
      background: #f2f2f2;
      padding: 12px;
    }
  }
  .rc-form-field-none {
    color: $status-color-error;
  }
  .rc-form-addon {
    min-width: 24px;
    height: $form-row-height;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #e2e2e2;
    padding-left: 8px;
    justify-content: center;
  }
}

.rc-form-zero-state {
  margin-bottom: 12px;
  height: 32px;
  background: #fff;
  text-align: center;
  line-height: 32px;
  color: #ccc;
  border: 1px dashed #979797;
}

.rc-form-action-button {
  height: 24px;
  display: flex;
  cursor: pointer;
  color: #009ce3;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: all 0.3s ease;
  border: 1px dashed #009ce3;
  &:hover {
    background-color: #e5f5fc;
  }
  aui-icon,
  i.fa {
    margin-right: 4px;
  }
}

.resource-form {
  &__wrapper {
    margin-bottom: 50px;
    padding: 0 20px 30px 20px;
    border-radius: 3px;
    background-color: #fff;
  }
  &__header {
    padding: 12px 0;
    display: flex;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
    > span {
      display: flex;
      align-items: center;
      font-size: 18px;
    }
  }
  &__content {
    padding: 0 150px;
    height: 100%;
  }
  &__footer {
    position: fixed;
    left: 200px;
    right: 0;
    bottom: 0;
    padding: 8px 30px 8px 30px;
    display: flex;
    border-top: solid 1px $black-2;
    box-shadow: 0 0 8px 0 $gray-7;
    background-color: $silver-6;
    justify-content: space-between;
    button:not(:last-of-type) {
      margin: 0 16px 0 0;
    }
  }
}
