@import 'colors.styles';
.rc-form-table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  thead {
    background-color: #f0f0f0;
  }
  tbody {
    background-color: #fafafa;
    tr {
      border-bottom: 1px dashed #e8e8e8;
      &:last-child {
        border-bottom: none;
      }
      &:not(.rc-form-input) {
        button {
          padding: 4px 8px;
        }
        td {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  td {
    line-height: 24px;
    padding: 4px 8px;
    .rc-form-table-empty {
      height: 24px;
      border: none;
    }
    .rc-pills {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .rc-pill {
        display: flex;
        align-items: center;
        height: 20px;
        padding: 2px 4px;
        margin: 2px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #f2f2f2;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &:last-child {
      padding: 0;
      text-align: center;
    }
  }
  .form-action-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 18px;
    height: 18px;
    color: #999;
    transition: all 0.3s ease;
    &:focus {
      text-decoration: none;
    }
    &:hover {
      color: $button-default-hover-border-color;
    }
  }
  .ui.selection.dropdown {
    min-width: 6em;
  }
}

.rc-form-table + .rc-form-table-empty {
  border-top: 1px solid #e8e8e8;
}

.rc-form-table-empty {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  background-color: #fafafa;
}

// TODO: delete
.rc-form-table-add-row {
  height: 24px;
  color: #4d4d4d;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  aui-icon,
  i.fa {
    margin-right: 4px;
  }
  &:hover {
    color: #009ce3;
    background-color: #e5f5fc;
  }
  &.hovered {
    color: #009ce3;
    background-color: #e5f5fc;
  }
}
