$log-hover-background-color: #465155;
$log-context-background-color: #121b1b;

@mixin rc-log-context-border-style() {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  height: 100%;
  width: 0;
  border-left: 1px solid #e1e6e6;
}

.rc-log-result-wrap {
  display: flex;
  flex: 1;
  max-height: 480px;
  min-height: 450px;
  .rc-log-result {
    font-family: 'Monaco', 'DejaVu Sans Mono', 'Liberation Mono', monospace;
    color: #e1e6e6;
    font-size: 12px;
    background-color: #263238;
    overflow: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    ul {
      margin: 0;
      li {
        position: relative;
        list-style: none;
        > span {
          margin-right: 4px;
        }
        .rc-log-icon {
          font-size: 16px;
          width: 16px;
          height: 20px;
          position: absolute;
          left: 8px;
          top: 4px;
          margin-right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #e1e6e6;
          transition: color 0.2s;
          &.icon-after {
            bottom: 4px;
            top: auto;
          }
          &:hover {
            color: #0badeb;
          }
          .fa-minus-circle {
            color: #0badeb;
          }
        }
        &.rc-log-item {
          padding: 4px 8px 4px 32px;
          background-color: #263238;
          line-height: 20px;
          &:hover {
            background-color: $log-hover-background-color;
          }
          .keyword {
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          .log-service {
            color: #ff7c57;
          }

          .log-cluster {
            color: #72f08c;
          }

          .log-node {
            color: #2dcbf6;
          }

          .log-instance {
            color: #b3db7a;
          }

          .log-path {
            color: #efc241;
          }
          .log-message {
            white-space: pre-wrap;
            word-break: break-word;
            em {
              font-style: normal;
              background-color: #f7e8ac;
              color: #1a282f;
            }
          }
        }
        .rc-log-context {
          margin: 0 8px;
          background-color: $log-context-background-color;
          border-radius: 4px;
          &.collapse {
            height: 0;
          }
          .log-context-item {
            display: relative;
            line-height: 20px;
            padding: 4px 8px 4px 32px;
          }
          .log-context-item:before {
            @include rc-log-context-border-style();
          }
          &.rc-log-context-before {
            .log-context-item:first-child:before {
              top: 26px;
            }
          }
          &.rc-log-context-after {
            .log-context-item:last-child:before {
              bottom: 26px;
            }
          }
        }
      }
    }
  }
}
