@import 'colors.styles';

@mixin datatable-header {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 2px;
  .datatable-header-cell {
    text-align: left;
    padding: 0.75rem 1.2rem;
    color: $gray-10;
    vertical-align: bottom;
    font-size: 14px;
    font-weight: 500;
    &.rc-header-cell-right {
      text-align: right;
      padding-right: 50px;
    }
    .datatable-header-cell-wrapper {
      position: relative;
    }
    &.longpress {
      .draggable::after {
        transition: transform 400ms ease, opacity 400ms ease;
        opacity: 0.5;
        transform: scale(1);
      }
    }
    .draggable::after {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -30px 0 0 -30px;
      height: 60px;
      width: 60px;
      background: $gray-7;
      border-radius: 100%;
      opacity: 1;
      filter: none;
      transform: scale(0);
      z-index: 9999;
      pointer-events: none;
    }
    &.dragging {
      .resize-handle {
        border-right: none;
      }
    }
  }
  .resize-handle {
    border-right: solid 1px #eee;
  }
}

@mixin datatable-body {
  // ngx-datatable的bug，window.resize重新计算column总宽度时，ngx-datatable-body未正确获取到最新的值
  datatable-selection {
    .datatable-scroll {
      width: auto !important;
    }
    .empty-row {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #999;
      background-color: #fff;
    }
  }

  .datatable-row-wrapper {
    //border: 1px solid #e3e3e3;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s ease;
    &:not(:last-child) {
      margin-bottom: 2px;
    }
    &:hover,
    &.rc-row-wrapper-expanded {
      z-index: 1;
      background-color: $blue-2;
    }
    &:hover {
      z-index: 2;
    }
    .datatable-row-detail {
      margin: 0 24px 24px;
    }
    .datatable-body-row {
      .datatable-body-cell {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.9rem 1.2rem;
        border-top: 0;
        color: #666;
        transition: width 0.3s ease;
        font-size: 14px;
        font-weight: 400;
        &.rc-col-cell-truncated .datatable-body-cell-label {
          width: 100%;
          > div:first-of-type {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        &.rc-col-cell-right {
          justify-content: flex-end;
        }
        &.rc-col-cell-wrap {
          word-break: break-all;
        }
        &.rc-col-cell-action {
          padding-right: 30px;
        }
      }
    }
    a.rc-table-row-expand.datatable-icon-down {
      i {
        transform: rotate(90deg);
      }
    }
    a {
      color: $blue-6;
    }
    a,
    a:hover,
    a:focus {
      text-decoration: none;
    }
    a.rc-table-row-expand {
      color: $gray-7;
      font-size: 24px;
      i {
        transition: transform 0.3s ease;
      }
    }
  }
}

// 列表页表格（应用、容器组列表）
.rc-primary-table > .ngx-datatable,
.rc-primary-table.ngx-datatable {
  background: transparent;

  .datatable-header {
    @include datatable-header;
  }

  .datatable-body {
    @include datatable-body;
  }
}

// 1. 嵌套表格
// 2. 详情页表格
.rc-secondary-table > .ngx-datatable,
.rc-primary-table.ngx-datatable {
  background: #fff;
  border-radius: 5px;
  .datatable-header {
    @include datatable-header;
    background-color: $silver-6;
    border-bottom: 1px solid $gray-6;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .datatable-body {
    @include datatable-body;
    .datatable-row-wrapper {
      &,
      &:hover {
        background-color: transparent;
      }
      border-bottom: 1px solid $gray-6;
    }
  }
}

//// TODO: replace with aui-table and delete me
.rc-resource-name-cell {
  display: flex;
  align-items: center;
  img {
    margin-right: 8px;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    flex-shrink: 0;
  }
  .rc-lines {
    display: flex;
    flex-direction: column;
    .rc-line {
      line-height: 24px;
      &.display-name > a {
        color: #24a7e3;
      }
      &.app-name > a {
        color: #999;
      }
    }
  }
}
////

.aui-table {
  > .aui-table__row {
    .aui-table__cell {
      .rc-resource-name-cell {
        display: flex;
        align-items: center;
        img {
          margin-right: 8px;
          width: 48px;
          height: 48px;
          border-radius: 3px;
          flex-shrink: 0;
        }
        .rc-lines {
          display: flex;
          flex-direction: column;
          .rc-line {
            line-height: 24px;
            &.display-name > a {
              color: #24a7e3;
            }
            &.app-name > a {
              color: #999;
            }
          }
        }
      }
    }
  }
  .aui-table__column-action {
    flex: 0 0 44px;
    display: flex;
    justify-content: center;
    .action-button {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #333;

      &:hover {
        background-color: #e5f5fc;
        color: #009ce3;
      }

      aui-icon {
        font-size: 12px;
      }
    }
  }
}
