// overwrite tooltip item style in ngx-chart ngx-tooltip
.rc-chart-tooltip-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.2em;
  padding: 4px;
  .tooltip-item-color {
    display: block;
    height: 10px;
    width: 10px;
    margin-right: 4px;
    border-radius: 3px;
  }
}
