<rc-region-badge-option [option]="{hidden: true}"></rc-region-badge-option>

<rc-form-container>
  <form
    #configForm="ngForm"
    class="rc-create-cluster-form">
    <rc-form-field
      [label]="'region_region_name' | translate"
      [errorsMapper]="{pattern: ('region_name_hint' | translate)}">
      <input
        rcInput
        name="name"
        [(ngModel)]="baseConfig.name"
        pattern="^[a-z][a-z0-9\_]*$"
        [maxlength]="36"
        required>
    </rc-form-field>
    <rc-form-field
      [label]="'display_name' | translate">
      <input
        name="display_name"
        rcInput
        [(ngModel)]="baseConfig.display_name"
        [maxlength]="36"
        required>
    </rc-form-field>
    <rc-form-field
      [label]="'region_cloud_provider' | translate"
      [shouldFlexRow]="true">
      <rc-single-selection-dropdown
        name="cloud_name"
        [(ngModel)]="baseConfig.attr.cloud.name"
        [options]="cloudOptions"
        displayField="display"
        valueField="value"
        (change)="onCloudChanged($event)"
        [allowFilter]="false"
        required>
      </rc-single-selection-dropdown>
    </rc-form-field>
    <rc-dynamic-form
      #cloudForm
      [fieldModels]="cloudFields">
    </rc-dynamic-form>
    <rc-form-field
      [label]="'region_docker_version' | translate"
      [shouldFlexRow]="true">
      <rc-single-selection-dropdown
        name="docker_version"
        [(ngModel)]="baseConfig.attr.docker.version"
        [options]="dockerVersions"
        [allowFilter]="false"
        required>
      </rc-single-selection-dropdown>
    </rc-form-field>
    <rc-form-field
      [label]="'region_docker_path' | translate">
      <input
        name="docker_path"
        rcInput
        [(ngModel)]="baseConfig.attr.docker.path"
        required>
    </rc-form-field>
    <rc-form-field
      [label]="'region_nic_name' | translate">
      <input
        name="nic_name"
        rcInput
        [(ngModel)]="baseConfig.attr.nic"
        placeholder="eth0"
        required>
    </rc-form-field>
  </form>

  <div class="rc-create-cluster-btns" *rcFooterContent>
    <button
      rcButton="primary"
      [loading]="loading$ | async"
      [disabled]="loading$ | async"
      (click)="create()">
      {{ 'create' | translate }}
    </button>
    <button
      rcButton
      [disabled]="loading$ | async"
      routerLink="/cluster/list">
      {{ 'cancel' | translate }}
    </button>
  </div>
</rc-form-container>
