<!-- catalog Basic Info -->
<div class="rc-detail-container catalogBasicInfo" *ngIf="!(showLoadingMask$ | async)"
      style="margin-bottom: 0">
  <div class="detail-icon">
    <img [src]="basic_info.icon || ''"
          alt="app-icon"
          onerror="javascript:this.src='/static/images/app-catalog/template.svg';">
  </div>
  <div class="detail-wrapper">
    <div class="detail-header">
      <h3>{{basic_info.display_name}}</h3>
      <div fxFlex></div>
    </div>
    <div class="detail-content">
      <div class="detail-item">
        <label>{{'app_catalog_template_name' | translate}}</label>
        <div>{{basic_info.name}}</div>
      </div>
      <div class="detail-item">
        <label>{{'app_catalog_version' | translate}}</label>
        <div>{{basic_info.version}}</div>
      </div>
      <div class="detail-item app-catalog-desc-item">
        <label>{{'description' | translate}}</label>
        <div class="app-catalog-desc-content">{{basic_info.description}}</div>
      </div>
    </div>
  </div>
</div>

<rc-form-container [rcLoadingMask]="showLoadingMask$ | async" class="catalog-create-app">
  <!-- Basic Settings -->
  <div class="form-section-header">
    <div class="form-section-header__title">{{ 'basic_config' | translate }}</div>
  </div>
  <div>
    <form class="rb-form" #appCatalogForm="ngForm">
      <!-- 名称 -->
      <rc-form-field label="{{'app_name' | translate}}" [shouldFlexRow]="true">
        <input rcInput
                [(ngModel)]="catalogPayload.name"
                name="name"
                minlength="4"
                maxlength="63"
                pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
                required>
      </rc-form-field>
      <!-- 显示名称 -->
      <rc-form-field label="{{'display_name' | translate}}" [shouldFlexRow]="true">
        <input rcInput [(ngModel)]="catalogPayload.display_name" name="display_name">
      </rc-form-field>
    </form>
  </div>

  <!-- YAML Config -->
  <div class="form-section-header">
    <div class="form-section-header__title">{{ 'app_catalog_yaml_config' | translate }}</div>
    <div fxFlex></div>
    <div (click)="showComment = !showComment"
         class="button-link">
      # {{ (showComment ? 'app_catalog_hide_comments' : 'app_catalog_show_comments') | translate }}
    </div>

    <div class="button-link"
         (click)="viewYamlConfigFile()">
      <span class="fa fa-file-text-o"></span>
      {{ 'app_catalog_show_yaml_config_window' | translate }}
    </div>
  </div>
  <rc-yaml-comment-form (ngSubmit)="onYamlFormSubmit($event)"
                        *ngIf="yaml$ | async"
                        [yaml]="yaml$ | async"
                        [showComment]="showComment">
  </rc-yaml-comment-form>

  <ng-container *rcFooterContent>
    <div *ngIf="!(showLoadingMask$ | async)">
      <button fxFlexOffset="140px" rcButton="primary"
              [loading]="submitting"
              [disabled]="!form.valid || submitting"
              (click)="yamlCommentForm.onSubmit($event)">{{'create' | translate}}</button>
      <button fxFlexOffset="12px" rcButton (click)="cancelCreateAppCatalog()">{{'cancel' | translate}}</button>
    </div>
  </ng-container>
</rc-form-container>

<ng-template #yamlModalTemplate>
  <div class="yaml-config-file-panel">
    <aui-code-editor [options]="codeEditorOptions"
                     [value]="yaml$ | async">
    </aui-code-editor>
  </div>
</ng-template>
