@import 'colors.styles';

$form-margin-right: 120px;

rc-yaml-comment-form::ng-deep {
  .form-input-row,
  pre {
    margin-right: $form-margin-right;
  }
}

.form-section-header {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px dashed $default-border-color;
  padding: 4px 0;
  margin-bottom: 20px;

  &__title {
    font-weight: 500;
    font-size: 18px;
  }

  > *:last-child {
    margin-right: $form-margin-right;
  }
}

.button-link {
  cursor: pointer;
  color: $rb-blue;
  margin-left: 20px;
}

.yaml-config-file-panel {
  background: #fff;
  padding: 20px;
  height: 100%;

  rc-code-editor {
    height: 100%;
  }
}

.rc-detail-container.catalogBasicInfo {
  border-radius: 8px;
}

:host {
  .detail-item.app-catalog-desc-item {
    display: -webkit-box;
    height: auto !important;
    width: 100%;
    -webkit-box-align: inherit;
    .app-catalog-desc-content {
      white-space: normal;
      width: 90%;
    }
  }
  form {
    ::ng-deep label.form-field-label {
      width: 250px;
      word-wrap: break-word;
      word-break: break-word;
    }

    ::ng-deep .addon-container {
      display: none;
    }

    rc-form-field {
      margin-bottom: 4px;
    }
  }
  .rb-form {
    margin-right: 120px;
    ::ng-deep rc-single-selection-dropdown {
      flex: 1;
    }
  }
  .catalog-create-app {
    margin-top: 30px;
  }
  ::ng-deep .rc-form-footer {
    justify-content: flex-end !important;
    padding-right: 135px !important;
  }
  ::ng-deep .rc-form-panel {
    border: 0px !important;
    padding: 0px 16px !important;
  }
  .detail-icon {
    width: 92px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 92px;
      height: auto;
      border-radius: 0px;
    }
  }
}
