<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'pipeline_name_placeholder' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <rb-dropdown rb-loading-mask="!vm.pipelines"
               key="name"
               value="uuid"
               is-disabled="vm.workflow.readonly"
               init="vm.item.model.data.pipeline_uuid"
               allow-empty-default="vm.workflow.readonly"
               on-change="option && vm.pipelineChanged(option)"
               options="vm.pipelines">
  </rb-dropdown>
</div>

<div ng-if="vm.item.model.data.pipeline_uuid"
     class="rb-form-row input">
  <div class="rb-label">
    {{ (vm.isBuildOrRepository ? 'manual_code_commit' : 'image_tag') | translate }}
    <span ng-if="!vm.isBuildOrRepository"
          class="rb-required-mark">*</span>
  </div>
  <div class="selections-container">
    <rb-radio-group on-change="vm.versionTypeChanged(option.type)"
                    key="name"
                    value="type"
                    readonly="vm.workflow.readonly"
                    init="vm.item.model.data.version_from"
                    options="vm.versionTypes"
                    hidden>
    </rb-radio-group>
    <rb-dropdown ng-if="!vm.isBuildOrRepository && vm.item.model.data.version_from === 'manual'"

                 rb-loading-mask="!vm.versions"
                 is-disabled="vm.workflow.readonly"
                 init="vm.item.model.data.version"
                 on-change="vm.item.model.data.version = option.value"
                 allow-empty-default="vm.workflow.readonly"
                 options="vm.versions"
                 placeholder="{{ 'build_trigger_build_hint' | translate }}">
    </rb-dropdown>
    <input type="text"
           ng-if="vm.isBuildOrRepository && vm.item.model.data.version_from === 'manual'"

           ng-model="vm.item.model.data.version"
           ng-disabled="vm.workflow.readonly"
           placeholder="{{ 'build_trigger_build_hint' | translate }}">
  </div>
</div>

<div class="rb-form-row input"
     hidden>
  <div class="rb-label">
    {{ 'execute_type' | translate }}
  </div>
  <div style="height:32px;display:flex;align-items:center;">
    <rb-radio-group key="name"
                    value="type"
                    readonly="vm.workflow.readonly"
                    init="vm.item.model.data.execute_type"
                    options="vm.executeTypes">
    </rb-radio-group>
    </divs>
  </div>
