<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="!vm.initialized">
    <form class="rb-form" name="vm.form">

      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'parent_role' | translate}}</label>
          <rb-search-dropdown placeholder="'select_role' | translate"
                              backend-url="vm.roleBackendUrl"
                              object-option-enabled="true"
                              response-item-filter="vm.roleFilter"
                              fields-setting="{name: 'name', value: 'name'}"
                              on-change="vm.onParentRoleSelected(option)">
          </rb-search-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>

    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-disabled="!vm.initialized" ng-click="vm.confirm()">{{'confirm' |
        translate}}
      </button>
    </div>
  </div>
</div>