<!-- Env variables -->
<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'email' | translate }}
  </div>
  <!-- <rb-service-fieldset-emails
    is-disabled="vm.workflow.readonly"
    emails="vm.item.model.data.emails">
  </rb-service-fieldset-emails> -->
  <textarea ng-model="vm.item.model.data.email_receivers"
            rb-errors-tooltip
            rb-errors-tooltip-mapper="{
              'pattern': ('ci_report_email_error_pattern' | translate)
            }"
            name="email_receivers"
            ng-disabled="vm.workflow.readonly"
            ng-pattern="vm.EMAIL_REGEX"
            rows="6"
            class="textarea-ci-report"></textarea>
</div>
<div class="rb-form-row input">
    <div class="rb-label">
      {{ 'sonar_project_key' | translate }}
      <span class="rb-required-mark">*</span>
    </div>
    <input type="text"
           ng-model="vm.item.model.data.sonar_project_key"
           rb-errors-tooltip
           name="sonar_project_key"
           required
           ng-disabled="vm.workflow.readonly">
  </div>
