.rb-console .rb-pipeline-config-form .checkbox-column {
  align-items: flex-start;
}

.textarea-ci-report {
  resize: none;
  padding: 4px 8px;
}

.rb-form textarea.disabled,
.rb-form textarea[disabled] {
  background: #f0f0f0;
  opacity: 0.45;
}
