<div class="rc-log-section-container log-header">
  <form class="rc-form">
    <div class="rc-log-dashboard-fields content-container">
      <rc-form-field
        label="{{'log_data_source' | translate}}">
        <rc-single-selection-dropdown [options]="logDataSources"
                                      [allowFilter]="false"
                                      [displayField]="'name'"
                                      [valueField]="'name'"
                                      name="datasourceselect"
                                      [(ngModel)]="logDataSource"
                                      (change)="onLogDataSourceChanged($event)">
        </rc-single-selection-dropdown>
        <a
          style="margin-left: 18px;"
          target="_blank"
          *ngIf="selectedDataSource && selectedDataSource.fields && selectedDataSource.fields.kibana_address"
          [href]="selectedDataSource.fields.kibana_address">
          Kibana {{ 'address' | translate }}
        </a>
      </rc-form-field>
      <rc-form-field label="{{'monitor_period' | translate}}">
        <div fxLayout="row" fxFlex>
          <rc-form-field fxFlex>
            <rc-single-selection-dropdown [options]="timestampOptions"
                                          [allowFilter]="false"
                                          [displayField]="'name'"
                                          [valueField]="'type'"
                                          name="timestampselect"
                                          [(ngModel)]="timestampOption"
                                          (change)="onTimestampChanged($event)">
            </rc-single-selection-dropdown>
            <div class="field-group" *ngIf="timestampOption === 'custom_time_range'">
              <label>&nbsp;{{ "from" | translate }}</label>
              <div class="input-wrapper" (valueChange)="onStartTimeSelect($event)" [rcCalendar]="dateTimeOptions" [(value)]="queryDatesShown.start_time">
                <input rcInput class="input" [value]="queryDatesShown.start_time" />
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
            <div class="field-group" *ngIf="timestampOption === 'custom_time_range'">
              <label>&nbsp;{{ "to" | translate }}</label>
              <div class="input-wrapper" (valueChange)="onEndTimeSelect($event)" [rcCalendar]="dateTimeOptions" [(value)]="queryDatesShown.end_time">
                <input rcInput class="input" [value]="queryDatesShown.end_time" />
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
            <div *ngIf="timeRangeOutOfDate" class="field-group" style="color: red;line-height: 26px;padding-left: 8px;">
              {{'query_condition_time_range_out_of_date' | translate}}
            </div>
          </rc-form-field>
        </div>
      </rc-form-field>
      <div class="rc-form-field">
        <div class="rc-form-field-label">
            {{'logs_query_condition' | translate}}
        </div>
        <aui-multi-select
          [(ngModel)]="tags"
          [ngModelOptions]="{standalone: true}"
          (valueChange)="search()"
          required
          [placeholder]="tagsInputPlaceholder"
          [loading]="loadingTypes"
          [filterable]="true"
          [allowCreate]="true"
          [trackFn]="trackFn"
          [filterFn]="filterFn"
          [tagClassFn]="tagClassFn">
          <aui-option
            *ngFor="let suggesstion of suggesstions"
            [label]="suggesstion.type + ': ' + suggesstion.name"
            [value]="suggesstion">
            {{ suggesstion.type }}: {{ suggesstion.name }}
          </aui-option>
          <aui-option-placeholder>{{ 'no_results' | translate }}</aui-option-placeholder>
        </aui-multi-select>
        <input type="hidden">
        <button aui-button
            class="aui-multi-select-addon"
            [auiDropdown]="menu">
            <i class="fa fa-gear" style="margin-right: 5px;"></i>
            <aui-icon icon="angle_down"
                margin="left"></aui-icon>
        </button>
        <div class="rc-form-addon">
          <i class="fa fa-question-circle"
            rcTooltipPosition="left center"
            rcTooltipMode="info"
            [rcTooltip]="tagsInputSearchHint"></i>
        </div>
      </div>
      <div *ngIf="conditions.length" class="rc-log-search-conditions"
            id="rc-log-search-conditions">
        <div class="search-condition-list">
          <div class="search-condition"
                title="{{item.display_name}}({{item.space_name}})"
                [ngClass]="{'active': isConditionItemActive(item)}"
                *ngFor="let item of labeledConditions"
                (click)="onQueryConditionSelect(item)">
            {{item.display_name}}({{item.space_name}})
          </div>
          <div class="search-condition-separator"></div>
          <div class="search-condition-more">
            <ng-template #searchTooltipTemplate>
              <div class="menu">
                <rc-search-input (onSearch)="listFilter($event)"
                  placeholder="{{'filter_by_name_placeholder' | translate}}"
                  mode="filter"></rc-search-input>
                <div class="divider"></div>
                <div class="menu-item-wrapper">
                  <div class="item" *ngFor="let item of filteredConditions"
                        [ngClass]="{'active': isConditionItemActive(item)}"
                        (click)="onQueryConditionSelect(item, 'true')">
                    <span title="{{item.display_name}}({{item.space_name}})">{{item.display_name}}({{item.space_name}})</span>
                    <i class="fa fa-check-circle"></i>
                  </div>
                </div>
              </div>
            </ng-template>
            <a #manualTooltip="tooltip"
               [rcTooltip]="searchTooltipTemplate"
               rcTooltipPosition="bottom right"
               rcTooltipMode="info"
               rcTooltipOn="click"
               (click)="listFilter('')">
              {{'more' | translate}}
              <i class="fa fa-angle-double-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="rc-log-dashboard-submit rc-dialog-footer">
      <button
        rcButton="primary"
        (click)="search()"
      >
        {{ 'search' | translate }}
      </button>
    </div>
  </form>
</div>

<div class="rc-log-section-container log-detail">
  <div class="rc-log-dashboard-events">
    <div *ngIf="chartData && !loadingSeries && chartData.length > 0" class="ngx-charts-container">
      <span class="logCount">{{ logCount }}</span>
      <div class="chart-wrapper">
        <rc-charts-bar-vertical
          [results]="barChartData"
          [yScaleMax]="chartData ? null : 1500"
          [scheme]="chartConfig.scheme"
          [schemeType]="'ordinal'"
          [xAxis]="chartConfig.xAxis"
          [yAxis]="chartConfig.yAxis"
          [showGridLines]="chartConfig.showGridLines"
          [roundDomains]="chartConfig.roundDomains"
          [xAxisTickWidth]="180"
          [xAxisTickFormatting]="chartConfig.xAxisTickFormatting"
          [yAxisTickFormatting]="chartConfig.yAxisTickFormatting"
          (select)="onChartSelect($event)">
          <ng-template #tooltipTemplate let-model="model">
            <h5>
              {{getTip(model.name)}}
            </h5>
            <h5>{{model.value}}</h5>
          </ng-template>
        </rc-charts-bar-vertical>
      </div>
    </div>
    <div class="rc-loading-mask-placeholder" *ngIf="loadingSeries">
      {{'data_loading' | translate}}
    </div>
    <div class="rc-loading-mask-placeholder"
         *ngIf="!loadingSeries && !showChart && initialized">
      {{'no_data' | translate}}
    </div>
  </div>

  <!--日志查询结果-->
  <div class="rc-log-result-wrap" [rcLoadingMask]="loadingLogs">
    <div class="rc-log-result">
      <ul *ngFor="let log of logs">
        <li *ngIf="logCache[log.time]">
          <ul class="rc-log-context rc-log-context-before"
              [ngClass]="{'collapse': !logCollapseMap[log.time]}">
            <li class="log-context-item"
                *ngFor="let _log of logCache[log.time]['before']; first as isFirst">
              <span>{{_log.time * 1000 | rcFormatUtcStr}}</span>
              <span class="log-services">{{_log.service_name}}</span>
              <span class="log-cluster">{{_log.cluster_name}}</span>
              <span class="log-node">{{_log.nodes}}</span>
              <span class="log-instance">{{_log.instance_id}}</span>
              <span class="log-paths">{{_log.paths}}</span>
              <span class="log-message">{{_log.message}}</span>
              <span *ngIf="isFirst"
                    role="button"
                    class="rc-log-icon icon-before"
                    (click)="logInsight(log, 'before')"
                    title="{{'log_context_view_more_before' | translate}}">
                <i class="fa fa-arrow-circle-up"></i>
              </span>
            </li>
          </ul>
        </li>
        <li class="rc-log-item">
          <span>{{log.time * 1000 | rcFormatUtcStr}}</span>
          <span class="keyword log-service"
                (click)="addKeywordByClick('service', log.service_name);$event.stopPropagation();">{{log.service_name}}</span>
          <span class="keyword log-cluster"
                (click)="addKeywordByClick('cluster', log.cluster_name);$event.stopPropagation();">{{log.cluster_name}}</span>
          <span class="keyword log-node"
                (click)="addKeywordByClick('node', log.nodes);$event.stopPropagation();">{{log.nodes}}</span>
          <span class="keyword log-instance"
                (click)="addKeywordByClick('instance', log.instance_id)">{{log.instance_id}}</span>
          <span class="keyword log-path"
                (click)="addKeywordByClick('path', log.paths)">{{log.paths}}</span>
          <span class="log-message"
                *ngIf="hasQueryString"
                [innerHtml]="(log.message)"></span>
          <span class="log-message"
                *ngIf="!hasQueryString">{{log.message}}</span>
          <span *ngIf="showContext(log)"
                class="rc-log-icon"
                (click)="logInsight(log)"
                title="{{'log_context_view' | translate}}">
                <i class="fa" [ngClass]="{'fa-minus-circle': logCollapseMap[log.time], 'fa-plus-circle': !logCollapseMap[log.time]}"></i>
          </span>
        </li>
        <li *ngIf="logCache[log.time]">
          <ul class="rc-log-context rc-log-context-after"
              [ngClass]="{'collapse': !logCollapseMap[log.time]}">
            <li class="log-context-item"
                *ngFor="let _log of logCache[log.time]['after']; last as isLast">
              <span>{{_log.time * 1000 | rcFormatUtcStr}}</span>
              <span class="log-cluster">{{_log.cluster_name}}</span>
              <span class="log-node">{{_log.nodes}}</span>
              <span class="log-instance">{{_log.instance_id}}</span>
              <span class="log-paths">{{_log.paths}}</span>
              <span class="log-message">{{_log.message}}</span>
              <span *ngIf="isLast"
                    role="button"
                    class="rc-log-icon icon-after"
                    (click)="logInsight(log, 'after');$event.stopPropagation();"
                    title="{{'log_context_view_more_after' | translate}}">
                <i class="fa fa-arrow-circle-down"></i>
              </span>
            </li>
          </ul>
        </li>
      </ul>
      <ul *ngIf="!logs.length && initialized">
        <li class="rc-log-item"><span class="log-message">{{'no_data' | translate}}</span></li>
      </ul>
    </div>
  </div>

  <div class="log-pagination" *ngIf="pagination.total_items>0">
    <rc-pagination2
      [page]="currentPage"
      [count]="pagination.total_items"
      [pageSize]="pagination.size"
      [disabled]="loadingLogs"
      (pageChanged)="search($event)"
    ></rc-pagination2>
    <i class="fa fa-question-circle logs-search-hint"
      rcTooltipPosition="left center"
      rcTooltipMode="info"
      [rcTooltip]="logSearchHint"></i>
  </div>
</div>

<aui-menu #menu>
  <aui-menu-group>
    <aui-menu-item [disabled]="shouldDisalbeSaveButton()"
    (click)="conditionSave()">
        {{ 'save' | translate }}
    </aui-menu-item>
    <aui-menu-item [disabled]="!logFilterCreateEnabled"
    (click)="conditionSaveAs()">
        {{ 'save_as' | translate }}
    </aui-menu-item>
    <aui-menu-item (click)="conditionManage()">
        {{ 'manage' | translate }}
    </aui-menu-item>
  </aui-menu-group>
</aui-menu>