@import 'border.styles';

:host {
  ::ng-deep {
    .form-main-container {
      width: 100%;
      .form-input-row {
        width: 100%;
        .rc-tags-input-container {
          width: 100%;
        }
      }
    }
    .aui-icon-caret_down_s {
      display: none;
    }
    .aui-input.aui-multi-select {
      height: 32.5px;
      border-radius: 3px 0 0 3px;
    }
    &.tag-service .aui-tag {
      background-color: #fde8d8 !important;
      &:hover {
        background-color: #f1ccb1 !important;
      }
    }
    &.tag-node .aui-tag {
      background-color: #d5edfa !important;
      &:hover {
        background-color: #a8d5ed !important;
      }
    }
    &.tag-instance .aui-tag {
      background: #e2f2cb !important;
      &:hover {
        background-color: #c7e59c !important;
      }
    }
    &.tag-path .aui-tag {
      background-color: #fff2cb !important;
      &:hover {
        background-color: #f4de9c !important;
      }
    }
    &.tag-cluster .aui-tag {
      background-color: #d0f1da !important;
      &:hover {
        background-color: #8fe7aa !important;
      }
    }
    .rc-tooltip__content {
      color: rgba(0, 0, 0, 0.87) !important;
      background-color: #ffffff !important;
      .menu {
        padding-top: 10px;
        .divider {
          border-top: 1px solid rgba(34, 36, 38, 0.1);
          height: 0;
          margin: 0.5em 0;
          margin-top: 16px;
        }
        .item {
          position: relative;
          width: 240px;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 9px 20px 9px 14px;
          > span {
            font-size: 14px;
          }
          > i {
            position: absolute;
            top: 13px;
            right: 6px;
            display: none;
          }
          &.active {
            background: #f2f2f2;
            > i {
              display: block;
            }
          }
          &:hover {
            background: rgba(0, 0, 0, 0.05);
            color: rgba(0, 0, 0, 0.95);
            z-index: 13;
          }
        }
      }
    }
  }
}

.log-pagination {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.rc-log-section-container {
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  &.log-header {
    .fa-question-circle {
      font-size: 14px;
      padding: 0 3px;
    }
    .field-label {
      width: 100px;
      text-align: right;
      padding-right: 15px;
    }
    .rc-input-field-addon {
      line-height: 28px;
    }
    rc-tags-input {
      display: flex;
      flex: 1;
      .tags {
        height: auto;
        max-height: 62px;
      }
      input {
        font-size: 12px;
      }
    }
    .field-group {
      input {
        height: 32px;
        line-height: 32px;
        font-size: 12px;
        border-radius: 5px 0 0 5px;
      }
    }
  }
  &.log-detail {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    padding: 0 12px 16px;
    flex: 1;
  }
}
.rc-form {
  display: flex;
  flex: 1;
  .input-wrapper {
    display: inline-flex;
    .input-group-addon {
      padding: 0 8px;
      width: auto;
      .fa {
        line-height: 30px;
      }
    }
  }
  .rc-log-dashboard-fields {
    padding: 16px 16px 0;
    flex: 1;
    overflow: visible;
  }
  .rc-log-dashboard-submit {
    flex: 0 0 122px;
    justify-content: center;
    display: flex;
    background: #f7f7f7;
    button {
      align-self: center;
      width: 72px;
      height: 40px;
    }
  }
  .form-inline {
    display: flex;
    min-height: 26px;
    margin-bottom: 8px;
    input {
      width: 160px;
    }
    rc-dropdown {
      display: inline-block;
    }
  }
  .rc-log-search-conditions {
    padding-left: 140px;
    padding-right: 85px;
    line-height: 18px;
    height: 40px;
    .search-condition-list {
      position: relative;
      height: 18px;
      display: inline-block;

      .search-condition {
        cursor: pointer;
        float: left;
        max-width: 160px;
        padding: 0 8px;
        margin-bottom: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 2px;
        color: #666;
        &:hover,
        &.active {
          background: #f2f2f2;
          color: #25444f;
        }
        &:not(:first-child) {
          margin-left: 4px;
        }
      }

      .search-condition-separator {
        position: absolute;
        top: 0;
        right: -12px;
        border: 1px solid #ececec;
        width: 2px;
        height: 100%;
      }

      .search-condition-more {
        position: absolute;
        top: 0;
        right: -70px;
        .menu {
          rc-search-input {
            width: auto;
            min-width: 240px;
          }
          .menu-item-wrapper {
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
          }
        }
      }
    }
  }
}

.rc-log-dashboard-events {
  flex: 0 0 120px;
  position: relative;
  .ngx-charts-container {
    position: relative;
    height: 120px;
    .logCount {
      position: absolute;
      top: 0;
      margin-top: 5px;
      margin-left: 15px;
      font-size: 12px;
      background: #fff;
      z-index: 1;
    }
    .chart-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
    }
  }
  > .rc-loading-mask-placeholder {
    height: 120px;
    background: #fff;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #a1a1a1;
    flex-direction: column;
  }
}

rc-log-query-condition-list {
  .rc-query-condition-line {
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    > b {
      margin-right: 4px;
    }
  }
}

.logs-search-hint {
  padding: 8px;
}

.aui-multi-select-addon {
  height: 32.5px;
  border-radius: 0 3px 3px 0;
  transform: translateX(-1px);
}
