<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'template' | translate }}
  </div>
  <rb-dropdown
    on-change="vm.templateChanged(option)"
    ng-click="vm.templatesDropdownClicked()"
    rb-loading-mask="!(vm.templates$ | rbAsync:this)"
    key="display_name"
    value="uuid"
    is-disabled="vm.workflow.readonly"
    init="vm.item.model.data.application_template_uuid"
    options="vm.templates$ | rbAsync:this">
  </rb-dropdown>
</div>
<div class="rb-form-row rb-input-message"
     ng-if="vm.noTemplateServices">
  <div>{{'pipeline_no_template_services' | translate}}</div>
</div>

<!-- Hidden field to make sure the form is in invalid state if service is null -->
<input type="number"
       class="hidden"
       name="deploy_service_length"
       ng-model="vm.selectedServiceLength"
       min="0">
<div class="rb-form-row input">
  <div class="rb-label" flex="25">
    {{ 'pipeline_template_service_to_deploy' | translate }}
  </div>
  <rb-dropdown
    rb-loading-mask="!vm.templateServices"
    rb-errors-tooltip="vm.form['deploy_service_length']"
    rb-errors-tooltip-mapper="{
      min: ('pipeline_config_task_select_multiple_service_hint' | translate)
    }"
    multiple="true"
    placeholder="{{'pipeline_config_task_select_multiple_service_hint' | translate}}"
    on-add="vm.serviceAdded(option)"
    on-remove="vm.serviceRemoved(option)"
    key="name"
    value="name"
    is-disabled="vm.workflow.readonly"
    init="vm.item.model.data.services"
    options="vm.templateServices">
  </rb-dropdown>
</div>
