<rc-collapse-pane
  [hidden]="isDeployed"
  [disabled]="cluster?.attr.cloud.name === 'PRIVATE'"
  [initHeight]="157">
  <div rcRow [rcRowGutter]="16">
    <div
      rcCol
      [rcColSpan]="isDeployed ? 8 : 24">
      <div [class.rc-cluster-info__wrapper]="isDeployed">
        <div
          [class]="isDeployed ? 'rc-cluster-info--deployed' : 'rc-cluster-info'">
          <div *ngIf="isDeployed" style="margin-bottom: 30px;">
            <div class="rc-cluster-info__title">{{ 'deploy_info' | translate }}</div>
            <ul class="rc-cluster-info__content">
              <li *ngIf="cluster?.container_manager==='KUBERNETES' && cluster?.features.kubernetes.version"
                  class="rc-cluster-info__item">
                <span class="rc-cluster-info__label">Kubernetes</span>
                <span class="rc-cluster-info__value" title="v{{ cluster?.features.kubernetes.version }}">
                  v{{ cluster?.features.kubernetes.version }}
                </span>
              </li>
              <li *ngIf="cluster?.container_manager==='KUBERNETES'" class="rc-cluster-info__item">
                <span class="rc-cluster-info__label">CNI</span>
                <div class="rc-cluster-info__value">
                  <div class="rc-cluster-info__value" [title]="safeGet(cluster,'features.kubernetes.cni.type','-')">
                    {{ 'network_mode' | translate }}: {{ safeGet(cluster,'features.kubernetes.cni.type','-') }}
                  </div>
                  <div class="rc-cluster-info__value" [title]="safeGet(cluster,'features.kubernetes.cni.backend','-')">
                    {{ 'type' | translate }}: {{ safeGet(cluster,'features.kubernetes.cni.backend','-') }}
                  </div>
                  <div class="rc-cluster-info__value" [title]="safeGet(cluster,'features.kubernetes.cni.network_policy') === 'calico' ? 'Calico' : ('none' | translate)">
                    {{ 'network_policy' | translate }}: {{ safeGet(cluster,'features.kubernetes.cni.network_policy') === 'calico' ? 'Calico' : ('none' | translate)}}
                  </div>
                </div>
              </li>
              <li *ngIf="!(cluster.platform_version?.substr(1) > 2)" class="rc-cluster-info__item">
                <span class="rc-cluster-info__label">{{ 'region_over_commit' | translate }}</span>
                <div class="rc-cluster-info__value">
                  <div class="rc-cluster-info__value" [title]="safeGet(manager,'docker_resource_ratio.cpu','-')">
                    CPU: {{ safeGet(manager,'docker_resource_ratio.cpu','-') }}
                  </div>
                  <div class="rc-cluster-info__value" [title]="safeGet(manager,'docker_resource_ratio.mem','-')">
                    {{ 'memory' | translate }}: {{ safeGet(manager,'docker_resource_ratio.mem','-') }}
                  </div>
                </div>
              </li>
              <li *ngIf="cluster?.container_manager==='KUBERNETES'" class="rc-cluster-info__item">
                <span class="rc-cluster-info__label">CIDR</span>
                <span class="rc-cluster-info__value" [title]="safeGet(cluster,'features.kubernetes.cni.cidr','-')">
                  {{ safeGet(cluster,'features.kubernetes.cni.cidr','-') }}
                </span>
              </li>
              <li class="rc-cluster-info__item">
                <span class="rc-cluster-info__label">{{ 'lb' | translate }}</span>
                <div class="rc-cluster-info__value">
                  <div class="rc-cluster-info__value" [title]="safeGet(cluster,'features.lb.features',[]).join(',') || '-'">
                    {{ 'type' | translate }}: {{ safeGet(cluster,'features.lb.features',[]).join(',') || '-' }}
                  </div>
                  <div class="rc-cluster-info__value" [title]="safeGet(cluster,'features.lb.haproxy.private_ip','-')">
                    Node IP: {{ safeGet(cluster,'features.lb.haproxy.private_ip','-') }}
                  </div>
                </div>
              </li>
              <li class="rc-cluster-info__item">
                <span class="rc-cluster-info__label">{{ 'volumes' | translate }}</span>
                <span class="rc-cluster-info__value" [title]="volumes || '-'">{{ volumes || '-' }}</span>
              </li>
            </ul>
          </div>
          <div class="rc-cluster-info__title">{{ 'basic_info' | translate }}</div>
          <ul class="rc-cluster-info__content">
            <li class="rc-cluster-info__item">
              <span class="rc-cluster-info__label">{{ 'name' | translate }}</span>
              <span class="rc-cluster-info__value" [title]="cluster?.name">{{ cluster?.name }}</span>
            </li>
            <li class="rc-cluster-info__item">
              <span class="rc-cluster-info__label">{{ 'region_cloud_provider' | translate }}</span>
              <span class="rc-cluster-info__value" [title]="cluster?.attr.cloud.name.toLowerCase() | translate">
                {{ cluster?.attr.cloud.name.toLowerCase() | translate }}
              </span>
            </li>
            <li class="rc-cluster-info__item">
              <span class="rc-cluster-info__label">{{ 'region_docker_version' | translate }}</span>
              <span class="rc-cluster-info__value" [title]="cluster?.attr.docker.version">{{ cluster?.attr.docker.version }}</span>
            </li>
            <li class="rc-cluster-info__item">
              <span class="rc-cluster-info__label">{{ 'region_docker_path' | translate }}</span>
              <span class="rc-cluster-info__value"
                    [title]="cluster?.attr.docker.path">{{ cluster?.attr.docker.path }}</span>
            </li>
            <li class="rc-cluster-info__item">
              <span class="rc-cluster-info__label">{{ 'created_at' | translate }}</span>
              <span class="rc-cluster-info__value" [title]="cluster?.created_at | rcFormatUtcStr">{{ cluster?.created_at | rcFormatUtcStr }}</span>
            </li>
          </ul>
          <div *ngIf="cluster?.attr.cloud.name !== 'PRIVATE'" style="margin-top: 30px;">
            <div class="rc-cluster-info__title">{{ 'public_cloud_info' | translate }}</div>
            <ul class="rc-cluster-info__content">
              <li
                *ngFor="let info of publicCloudInfos"
                class="rc-cluster-info__item">
                <span class="rc-cluster-info__label">{{ info.label | translate }}</span>
                <span class="rc-cluster-info__value" [title]="info.value">{{ info.value }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="isDeployed"
      rcCol
      [rcColSpan]="16">
      <div
        *ngIf="!(pluck(stats$, 'gpus_total') | async)"
        rcRow [rcRowGutter]="16" style="margin-bottom: 16px;">
        <div rcCol [rcColSpan]="12">
          <rc-percent-card
            [fixed]="3"
            [allocated]="(pluck(stats$, 'cpus_allocated') | async) || 0"
            [total]="(pluck(stats$, 'cpus_total') | async) || 0"
            [utilization]="(pluck(stats$, 'cpus_utilization') | async) || 0"
            [title]="'quota_cpu' | translate">
          </rc-percent-card>
        </div>
        <div rcCol [rcColSpan]="12">
          <rc-percent-card
            [allocated]="(pluck(stats$, 'mem_allocated') | async) || 0"
            [total]="(pluck(stats$, 'mem_total') | async) || 0"
            [utilization]="(pluck(stats$, 'mem_utilization') | async) || 0"
            [title]="'quota_mem' | translate">
          </rc-percent-card>
        </div>
      </div>
      <div
        *ngIf="pluck(stats$, 'gpus_total') | async"
        style="margin-bottom: 16px;">
        <div class="rc-cluster-usage">
          <div class="rc-cluster-usage__item">
            <rc-percent-card
              [vertical]="true"
              [fixed]="3"
              [allocated]="(pluck(stats$, 'cpus_allocated') | async) || 0"
              [total]="(pluck(stats$, 'cpus_total') | async) || 0"
              [utilization]="(pluck(stats$, 'cpus_utilization') | async) || 0"
              [title]="'quota_cpu' | translate">
            </rc-percent-card>
          </div>
          <div class="rc-cluster-usage__item rc-cluster-usage__item--center">
            <rc-percent-card
              [vertical]="true"
              [allocated]="(pluck(stats$, 'mem_allocated') | async) || 0"
              [total]="(pluck(stats$, 'mem_total') | async) || 0"
              [utilization]="(pluck(stats$, 'mem_utilization') | async) || 0"
              [title]="'quota_mem' | translate">
            </rc-percent-card>
          </div>
          <div class="rc-cluster-usage__item">
            <rc-percent-card
              [vertical]="true"
              [fixed]="3"
              [allocated]="(pluck(stats$, 'gpus_allocated') | async) || 0"
              [total]="(pluck(stats$, 'gpus_total') | async) || 0"
              [utilization]="(pluck(stats$, 'gpus_utilization') | async) || 0"
              [title]="'quota_gpu' | translate">
            </rc-percent-card>
          </div>
        </div>
      </div>
      <div rcRow [rcRowGutter]="16">
        <div rcCol [rcColSpan]="12">
          <div class="rc-cluster-components">
            <div class="rc-cluster-components__title">{{ 'component_info' | translate }}</div>
            <ul class="rc-cluster-components__content">
              <li
                *ngFor="let component of components$ | async"
                [style.width]="1/(pluck(components$, 'length') | async)*100+'%'"
                [attr.status]="component.status"
                class="rc-cluster-components__item">
                <span>
                  {{ component.type | translate }}
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div rcCol [rcColSpan]="12">
          <div class="rc-cluster-num">
            <div class="rc-cluster-num__column">
              <div class="rc-cluster-num__label">
                {{ 'region-nodes-count' | translate }}
              </div>
              <div class="rc-cluster-num__value">
                {{ (pluck(stats$, 'nodes_count') | async) || 0 }}
              </div>
            </div>
            <div class="rc-cluster-num__column rc-cluster-num__column--position-center">
              <a *ngIf="couldLink2Services(cluster)"
                 [rcRouterStateLink]="cluster.platform_version.substr(1) > 2 ? 'k8s_app' : 'app_service.service'">
                <div class="rc-cluster-num__label">
                  {{ 'region-services-count' | translate }}
                </div>
              </a>
              <div *ngIf="!couldLink2Services(cluster)" class="rc-cluster-num__label">
                {{ 'region-services-count' | translate }}
              </div>
              <div class="rc-cluster-num__value">
                {{ (pluck(stats$, 'services_count') | async) || 0 }}
              </div>
            </div>
            <div class="rc-cluster-num__column">
              <div class="rc-cluster-num__label">
                {{ 'region_pods_count' | translate }}
              </div>
              <div class="rc-cluster-num__value">
                {{ (podsCount$ | async) || 0 }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</rc-collapse-pane>
