@import 'colors.palette';

@import '../../colors';

$radius: 3px;

.rc-cluster-info {
  padding: 30px 40px;
  background-color: white;
  .rc-cluster-info {
    &__title {
      margin-bottom: 15px;
      font-size: 16px;
      color: #4d4d4d;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      padding: 0 22px;
      margin: 0;
    }

    &__item {
      display: flex;
      width: 33.33%;
      padding: 5px 12px 5px 0;
      font-size: 14px;
    }

    &__label {
      color: #888888;
      flex-shrink: 0;

      &::after {
        content: '：';
      }
    }

    &__value {
      color: #4d4d4d;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

:host ::ng-deep {
  .collapse-content {
    border-radius: $radius;
  }
}

.rc-cluster-info__wrapper {
  overflow: hidden;
  border-radius: $radius;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12px;
    background: white;
    box-shadow: 0 0 16px 4px white;
  }
}

.rc-cluster-info--deployed {
  height: 310px;
  padding: 12px 20px;
  border-radius: 3px;
  background-color: white;
  overflow-y: scroll;
  margin-right: -18px;
  position: relative;

  .rc-cluster-info {
    &__title {
      font-size: 18px;
      color: #4d4d4d;
    }

    &__content {
      margin: 10px 0 15px;
    }

    &__item {
      display: flex;
      padding: 10px 0;
      font-size: 14px;
      border-bottom: 1px solid #f5f6f7;

      &:nth-last-of-type(1) {
        border-bottom: none;
      }
    }

    &__label {
      width: 145px;
      flex-grow: 0;
      flex-shrink: 0;
      max-width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #a1a1a1;

      &::after {
        content: '';
      }
    }

    &__value {
      width: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #4d4d4d;
    }
  }
}

.rc-cluster-components {
  display: flex;
  flex-direction: column;
  height: 120px;
  padding: 8px;
  background-color: white;
  border-radius: $radius;

  &__title {
    font-size: 16px;
    color: #666666;
    padding-bottom: 8px;
    padding-left: 10px;
    border-bottom: 1px solid #f5f6f7;
  }

  &__content {
    height: 100%;
    flex-shrink: 1;
    margin: 12px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #808080;
    min-width: 33.33%;
    > span {
      width: 100%;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &::before {
      content: '';
      margin: 0 6px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      flex-shrink: 0;
    }

    &[status='RUNNING'] {
      &::before {
        background-color: $main-green;
        box-shadow: 0 0 0 2px
          rgba(red($main-green), green($main-green), blue($main-green), 0.2);
      }
    }

    &[status='ERROR'] {
      &::before {
        background-color: $main-red;
        box-shadow: 0 0 0 2px
          rgba(red($main-red), green($main-red), blue($main-red), 0.2);
      }
    }
    &[status='UNKNOWN'] {
      &::before {
        background-color: $main-gray;
        box-shadow: 0 0 0 2px
          rgba(red($main-gray), green($main-gray), blue($main-gray), 0.2);
      }
    }
  }
}

.rc-cluster-num {
  display: flex;
  justify-content: center;
  height: 120px;
  padding: 8px;
  background-color: white;
  border-radius: $radius;

  &__column {
    width: 33.33%;
    display: flex;
    flex-direction: column;

    &--position-center {
      border-right: 1px solid #f5f6f7;
      border-left: 1px solid #f5f6f7;
    }
  }

  &__label {
    padding-bottom: 8px;
    border-bottom: 1px solid #f5f6f7;
    font-size: 16px;
    color: #666666;
    text-align: center;
  }

  a {
    .rc-cluster-num__label {
      color: $blue-6;
    }
  }

  &__value {
    height: 100%;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    color: $main-green;
  }
}

.rc-cluster-usage {
  display: flex;
  background-color: white;
  border-radius: $radius;

  &__item {
    width: 100%;
    flex-shrink: 1;
    position: relative;

    &--center {
      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 158px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #f5f6f7;
      }
      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 158px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #f5f6f7;
      }
    }
  }
}
