@import '_colors.styles';
@import '_mixins';

$status-color-map: (
  'OK': $status-color-success,
  'Running': $status-color-in-process,
  'WAITING': $status-color-pending,
  'ERROR': $status-color-error,
);

@mixin status-bullet-color($status, $color) {
  .status-list-bullet[status='#{$status}'] {
    color: $color;
  }
}

@each $status, $color in $status-color-map {
  @include status-bullet-color($status, $color);
}

@keyframes installing {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

.plugin-card {
  perspective: 1000px;
  margin-right: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 240px;
  height: 296px;
  position: relative;
  float: left;
  &.flip-over .flipper-card {
    transform: rotateY(180deg);
    > .card-front {
      z-index: -1;
    }
  }
  .card-front,
  .card-back {
    background-color: $card-background-color;
    border-radius: 2px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    box-shadow: $rb-gray-light-shadow;
    padding: 8px 14px 0;
    width: 100%;
    height: 280px;
    &:hover {
      box-shadow: $rb-gray-bold-shadow;
    }
  }
  > .flipper-card {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    // front view
    > .card-front {
      > .plugin-info {
        position: relative;
        > .avatar {
          box-sizing: initial;
          padding-top: 35px;
          height: 62px;
        }
        > .plugin-num {
          cursor: pointer;
          font-size: 12px;
          display: block;
          position: absolute;
          top: 0;
          height: 20px;
          line-height: 20px;
          color: $rb-blue;
          &:hover {
            color: $rb-blue-l1;
          }
          &.plugin-num {
            right: 0;
          }
          > i.fa {
            margin-right: 5px;
          }
        }
        > h3 {
          font-size: 19px;
          margin-top: 10px;
        }
        > .lower-half {
          > p {
            margin-bottom: 30px;
            color: $form-text-help-color;
          }
          > .installing {
            position: relative;
            top: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: #72c63d;
            > .animate {
              border-radius: 5px;
              background-color: #85d652;
              width: 100%;
              height: 100%;
              animation: installing 2.5s infinite;
            }
          }
        }
      }
    }
    // back view
    > .card-back {
      transform: rotateY(180deg);
      > .plugin-instances {
        > h4 {
          height: 32px;
          line-height: 32px;
          font-size: 14px;
          margin-bottom: 8px;
          margin-top: 0;
          > .fa-long-arrow-left {
            cursor: pointer;
            margin-right: 10px;
            color: $rb-blue;
            &:hover {
              color: $rb-blue-l1;
            }
          }
        }
        > .instance-list {
          min-height: 210px;
          > hr {
            margin: 0 0 14px 0;
          }
          > .accordion {
            > .item {
              > .title {
                user-select: none;
                &:first-child {
                  border: none;
                }
                font-size: 14px;
                padding: 5px;
                font-weight: normal;
              }
              > .content {
                padding: 8px;
                > li {
                  line-height: 18px;
                  font-size: 12px;
                  padding-left: 8px;
                  list-style: none;
                  > .status-list-bullet {
                    margin-right: 2px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// status popup
.status-popup-anchor {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 12px;
  top: 0;
  left: 0;
  height: 20px;
  line-height: 20px;
  max-width: 100px;
  color: $rb-blue;
  @extend %singleline-ellipsis;
  &:hover {
    color: $rb-blue-l1;
  }
  i.fa-circle {
    color: $status-color-success;
    box-sizing: border-box;
    text-align: center;
    width: 14px;
    height: 14px;
    padding: 1px;
    border-radius: 8px;
    background-color: $status-color-success + rgb(80, 80, 80);
  }
  i.fa-circle.err {
    color: $status-color-error;
    background-color: $status-color-error + rgb(80, 80, 80);
  }
}
