<!-- latest_plugin 实际上是上一次已完成的plugin, 而不是最新安装的plugin -->
<div class="plugin-card" [ngClass]="{ 'flip-over': flipOver }">

  <div class="flipper-card">

    <!-- card-front -->
    <div class="card-front">
      <div class="plugin-info">

        <rc-status-popover
          *ngIf="statusList"
          [statusList]="statusList"
          [position]="'top left'"
          [mode]="'info'"
          [trigger]="'click'"
          [target]="popperAnchor">
          <span class="status-popup-anchor">
            <i #popperAnchor [ngClass]="{ 'err': cardItem.latest_plugin.status === 'Failed' }" class="fa fa-circle"></i>
            {{ cardItem.latest_plugin.created_at | rcUtcToConsumed }}
          </span>
        </rc-status-popover>

        <span class="plugin-num" (click)="flip();"><i class="fa fa-cubes"></i>{{ cardItem.plugin_num }}</span>
        <img class="avatar center-block" [src]="'/static/images/integration-logo/' + cardItem.plugin_type + '.png'" alt="">
        <h3 class="text-center">{{ cardItem.display_name }}</h3>
        <hr>
        <div class="lower-half text-center">
          <p>{{ cardItem.display_info[lang] }}</p>
          <button rcButton='primary'
                  (click)="install();"
                  *ngIf="!cardItem.current_plugin.status"
                  [disabled]="!installButtonEnabled">
            {{ 'plugin_center_plugin_install' | translate }}
          </button>
          <div *ngIf="!!cardItem.current_plugin.status" class="installing"><div class="animate"></div></div>
        </div>
      </div>
    </div>
    <!-- card-back -->
    <div class="card-back" layout="column" flex="grow">
      <div class="plugin-instances" layout="column" flex="grow">
        <h4>
          <span class="fa fa-long-arrow-left" (click)="flip();"></span>
          {{ 'plugin_center_plugin_instances' | translate}}
        </h4>
        <div [rcLoadingMask]="loading" class="instance-list" layout="column" flex="grow">
          <hr>
          <div class="ui styled accordion" *ngIf="instanceList && instanceList.length && !loading">
            <div class="item" *ngFor="let regionData of instanceList">
              <div class="title"
                   [ngClass]="{ 'active': !!regionData.selected }"
                   (click)="regionData.selected = !regionData.selected">
                <i class="dropdown icon"></i>
                {{ regionData.region_name }}
              </div>
              <ul class="content" [ngClass]="{ 'active': !!regionData.selected }">
                <li *ngFor="let plugin of regionData.plugins">
                  <i class="status-list-bullet fa fa-circle-o"
                     status="plugin.app_status"></i>
                  <a (click)="viewApp(plugin)">{{ plugin.app_name }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="rb-loading-mask-placeholder" *ngIf="instanceList && !instanceList.length && !loading" layout="column" flex="grow" layout-align="center center">
            <p class="text-center">{{ 'no_info' | translate}}</p>
          </div>
          <div class="rb-loading-mask-placeholder" *ngIf="instanceListLoadingErr && !loading" flex="column" layout="center" layout-align="center center">
            <p class="text-center">{{"data_load_error" | translate}}</p>
            <button rcButton (click)="getInstanceList()">{{ 'refresh' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
