<div class="affinity-mode-selector">
  <rb-radio-group
    options="vm.modes"
    key="key"
    value="value"
    init="vm.mode"
    on-change="vm.onModeChange(option)"
  >
  </rb-radio-group>
  <i
    class="fa fa-question-circle"
    uib-popover-html="'affinity_mode_help' | translate"
    popover-placement="top"
    popover-trigger="'mouseenter'"
    popover-append-to-body="true"
  ></i>
</div>
<div ng-show="vm.mode === 'standard'" class="affinity-standard">
  <div class="affinity-with">
    <span>{{ 'affinity_with_hint_prefix' | translate }}</span>
    <rb-dropdown
      multiple="true"
      placeholder="{{'affinity_select_services' | translate }}"
      on-add="vm.addAffinityService(option)"
      on-remove="vm.removeAffinityService(option)"
      key="display_name"
      value="uuid"
      init="vm.affinityServices"
      options="vm.affinityServiceOptions"
    />
    <span>{{ 'affinity_with_hint_suffix' | translate }}</span>
  </div>
  <div class="anti-affinity-with">
    <span>{{ 'anti_affinity_with_hint_prefix' | translate }}</span>
    <rb-dropdown
      multiple="true"
      placeholder="{{'affinity_select_services' | translate }}"
      on-add="vm.addAntiAffinityService(option)"
      on-remove="vm.removeAntiAffinityService(option)"
      key="display_name"
      value="uuid"
      init="vm.antiAffinityServices"
      options="vm.antiAffinityServiceOptions"
    />
    <span>{{ 'anti_affinity_with_hint_suffix' | translate }}</span>
  </div>
</div>
<div ng-show="vm.mode === 'advanced'" class="affinity-advanced">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="width: 80px">{{ 'affinity_setting_type' | translate }}</th>
        <th style="width: 100px">{{ 'affinity_setting_classification' | translate }}</th>
        <th style="width: 100px">{{ 'affinity_setting_condition' | translate }}</th>
        <th>{{ 'affinity_setting_service_label' | translate }}</th>
        <th>{{ 'affinity_setting_node_label' | translate }}</th>
        <th style="width: 80px">{{ 'affinity_setting_weight' | translate }}</th>
        <th style="width: 80px">{{ 'affinity_setting_operate' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.advancedSettings track by $index">
        <td>{{ item.type }}</td>
        <td>{{ item.classification }}</td>
        <td>{{ item.operator }}</td>
        <td ng-if="!['Exists', 'DoesNotExist'].includes(item.operator)">
          <p
            class="service-label"
            title="{{ label }}"
            ng-repeat="label in item.serviceLabel"
          >
            {{ label }}
          </p>
        </td>
        <td ng-if="['Exists', 'DoesNotExist'].includes(item.operator)">
          <p
            class="service-label"
            title="{{ key }}"
            ng-repeat="key in item.serviceKey"
          >
            {{ key }}
          </p>
        </td>
        <td>
          <p class="node-label" title="{{ item.nodeLabel }}">
            {{ item.nodeLabel }}
          </p>
        </td>
        <td>
          <span
            ng-if="item.classification === 'Preferred'"
          >{{ item.weight }}</span>
          <span
            class="required-no-weight"
            ng-if="item.classification !== 'Preferred'"
          >－</span>
        </td>
        <td>
          <a href="#" ng-click="vm.openEditDialog(item)">
            <i class="fa fa-edit"></i>
          </a>
          <a href="#" ng-click="vm.removeAdvancedSetting(item)">
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    class="ui button tiny rb-btn-default pull-right"
    ng-click="vm.openEditDialog()"
  >
    {{ 'affinity_setting_add' | translate }}
  </button>
</div>
