rb-service-affinity-control {
  width: 100%;
  .affinity-mode-selector {
    height: 32px;
    line-height: 32px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    > * {
      float: left;
    }

    .fa-question-circle {
      margin-left: 4px;
    }
  }

  .affinity-standard {
    clear: both;
    rb-dropdown {
      margin-left: 8px;
      margin-right: 8px;
    }
    .affinity-with {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 8px;
      > span {
        white-space: nowrap;
      }
      rb-dropdown {
        flex-grow: 1;
      }
    }
    .anti-affinity-with {
      display: flex;
      flex-wrap: nowrap;
      > span {
        white-space: nowrap;
      }
      rb-dropdown {
        flex-flow: 1;
      }
    }
  }

  .affinity-advanced {
    table.table {
      border: solid 1px #eee;
      margin-bottom: 8px;
      width: 100%;
      table-layout: fixed;
      thead {
        th {
          color: #666;
          font-weight: normal;
          border-bottom: solid 1px #eee;
        }
      }
      tbody {
        td {
          .required-no-weight {
            font-size: 14px;
            font-family: STHeitiSC-Light;
          }
          .service-label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .node-label {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          > a {
            font-size: 16px;
            margin-right: 8px;
            color: #e2e2e2;
            &:hover {
              color: #999;
            }
            &:first-child {
              color: #6d6d6d;
              &:hover {
                color: #999;
              }
            }
          }
        }
      }
    }
  }
}
