<div class="ui search" ng-class="{loading: vm.loading}">
  <ng-form name="vm.rbsearchInput" class="rb-form form ui icon input">
    <input type="text"
           placeholder="{{vm.placeholder || 'keyword' | translate}}"
           rb-key-code="vm.search(true);"
           keycode="{{vm.keycode}}"
           ng-model="vm.value"
           ng-pattern="/^.{0,64}$/"
           ng-change="vm.onInputChange && vm.onInputChange()"
           g-required="vm.required"/>
    <i class="search icon" ng-click="vm.search(true)"></i>
  </ng-form>
</div>