@import 'colors.styles';
@import 'border.styles';

@mixin flex {
  display: flex;
  flex: 1;
}

rb-search-input {
  @include flex;
  div.ui {
    @include flex;
  }
  input {
    border-radius: 0 !important;
    width: 100%;
    margin-right: 0 !important;
  }
  .ui.icon.input > i.icon:not(.link) {
    pointer-events: auto;
    top: 15%;
    height: 70%;
    @include r1bl;
    &:before {
      transition: color 0.3s ease;
    }
    &:hover {
      opacity: 1;
      color: #0badeb;
    }
  }
  input:focus {
    //border: 1px solid rgba(34, 36, 38, 0.15) !important;
  }
  input:focus + i.icon:not(.link):before {
    opacity: 1;
    color: #fff;
  }
  input:focus + i.icon:not(.link):hover:before {
    //color: #3090D4 !important;
  }
  input:focus + i.icon:not(.link) {
    top: 0 !important;
    height: 100% !important;
    border-left: none !important;
    background: #24a7e3;
  }
  .loading {
    input:focus + i.icon:after {
      border-color: #fff rgba(255, 255, 255, 0.65) rgba(255, 255, 255, 0.65) !important;
    }
  }
}
