.ui.modal.rb-modal rb-service-edit-affinity-dialog {
  .rb-form-panel {
    .rb-form-container {
      padding-top: 48px;
      padding-bottom: 48px;

      .rb-input-container {
        margin-top: 8px;
        &:first-child {
          margin-top: 0px;
        }

        rb-autocomplete {
          padding-left: 0;
          flex-grow: 1;
          input.prompt {
            padding: 0 8px;
            &:focus {
              border-color: #85b7d9;
              &.ng-invalid.ng-dirty {
                background-color: #fff6f6;
              }
            }
          }
          .results {
            width: 100%;
            margin-top: 0;
            border-radius: 0;
            box-shadow: none;
            border-top: 0;
            border-color: #85b7d9;
            a {
              border-top: 1px solid #fafafa;
              border-bottom: 0;
              padding: 10px 14px;
              .title {
                font-size: unset;
                font-weight: unset;
                font-family: unset;
              }
              &:hover {
                background-color: rgba(0, 0, 0, 0.05);
              }
            }
          }
        }

        rb-tags-input {
          .tag-item {
            span {
              max-width: 100px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }

        .rb-input-hint-container {
          color: #9c9c9c;
        }
      }

      .ng-submitted {
        .rb-input-container {
          rb-autocomplete {
            input.prompt.ng-invalid:focus {
              background-color: #fff6f6;
            }
          }
        }
      }
    }
  }
}
