<div class="rb-form-panel">
  <div class="rb-form-container">
    <ng-form name="vm.form" class="rb-form">
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'affinity_setting_type' | translate}}</label>
          <rb-dropdown
            name="type"
            key="key"
            value="value"
            options="vm.types"
            init="vm.model.type"
            on-change="vm.onTypeChange(option)"
          ></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
      </div>
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'affinity_setting_classification' | translate}}</label>
          <rb-dropdown
            name="classification"
            key="key"
            value="value"
            options="vm.classifications"
            init="vm.model.classification"
            on-change="vm.onClassificationChange(option)"
          ></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
      </div>
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'affinity_setting_condition' | translate}}</label>
          <rb-dropdown
            name="operator"
            key="key"
            value="value"
            options="vm.operators"
            init="vm.model.operator"
            on-change="vm.onOperatorChange(option)"
          ></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
      </div>
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'affinity_setting_service_label' | translate}}</label>
          <input 
            type="number"
            class="hidden"
            name="serviceLabelLength"
            ng-model="vm.serviceLabelLength"
            min="{{ !vm.isExisting() ? 1 : 0 }}"
          >
          <rb-tags-input
            ng-if="!vm.isExisting()"
            suggestions="vm.serviceLabels"
            init-tags="vm.model.serviceLabel"
            on-change="vm.onServiceLabelChange(tags)"
            validate-fn="vm.serviceLabelValidateFn"
            rb-errors-tooltip="vm.form.serviceLabelLength"
            rb-errors-tooltip-mapper="{
              min: ('field_required' | translate)
            }"
            is-required="!vm.isExisting()"
          ></rb-tags-input>
          <input 
            type="number"
            class="hidden"
            name="serviceKeyLength"
            ng-model="vm.serviceKeyLength"
            min="{{ vm.isExisting() ? 1 : 0}}"
          >
          <rb-tags-input
            ng-if="vm.isExisting()"
            suggestions="vm.serviceKeys"
            init-tags="vm.model.serviceKey"
            on-change="vm.onServiceKeyChange(tags)"
            validate-fn="vm.serviceKeyValidateFn"
            rb-errors-tooltip="vm.form.serviceKeyLength"
            rb-errors-tooltip-mapper="{
              min: ('field_required' | translate)
            }"
            is-required="vm.isExisting()"
          ></rb-tags-input>
          <div class="rb-input-field-addon"></div>
        </div>
      </div>
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'affinity_setting_node_label' | translate}}</label>
          <rb-autocomplete
            name="'nodeLabel'"
            value="vm.model.nodeLabel"
            content="vm.nodeLabels"
            on-update="vm.onNodeLabelChange(value)"
            required="true"
            rb-errors-tooltip="vm.form.nodeLabel"
            setting="vm.nodeLabelSetting"
          ></rb-autocomplete>
          <div class="rb-input-field-addon"></div>
        </div>
      </div>
      <div class="rb-input-container" ng-if="vm.isPreferred()">
        <div class="rb-input-field-container">
          <label>{{'affinity_setting_weight' | translate }}</label>
          <input
            type="number"
            class="rb-input"
            type="text"
            name="weight"
            ng-required="vm.isPreferred()"
            min="0"
            ng-model="vm.model.weight"
            rb-errors-tooltip="vm.form.weight"
          />
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
          {{ 'affinity_setting_weight_hint' | translate }}{{ vm.weightPercent() | rbFieldNotAvailable }}%
        </div>
      </div>
    </ng-form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button
        type="button"
        class="ui button rb-btn-default"
        ng-click="vm.cancel()"
      >
        {{'cancel' | translate}}
      </button>
      <button
        type="submit"
        class="ui button rb-btn-primary"
        ng-click="vm.submit()"
      >
        {{ vm.editType | translate }}
      </button>
    </div>
  </div>
</div>