@import 'colors.styles';
$status-color-map: (
  success: $status-color-success,
  info: $status-color-info,
  error: $status-color-error,
  warning: $status-color-warning,
  explanation: $status-color-explanation,
);

:host {
  .wrapper {
    // max-width: 876px;
    margin: 0 auto;
    padding: 12px 16px;
    display: flex;
    border-radius: 3px;
    background-color: $card-background-color;
    border: solid 1px $status-color-success;
    justify-content: center;
    margin-bottom: 20px;

    &.sm {
      .confirm-box-info-icon {
        font-size: 16px;
        line-height: 20px;
      }
      .right {
        margin-top: 4px;
      }
    }

    @each $status, $color in $status-color-map {
      &.#{$status} {
        border: solid 1px $color;
        .left {
          color: $color;
        }
      }
    }

    .confirm-box-info-icon {
      font-size: 24px;
    }

    .left {
      color: $status-color-success;
      font-size: 24px;
    }

    .middle {
      flex: 1;
      color: $black-6;
      padding-left: 8px;
      max-width: 784px;
      .m-h {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 4px;
      }
      .m-b {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .right {
      width: 12px;
      margin-left: 14px;
      color: $black-4;
      cursor: pointer;
      margin-top: 6px;
      background: url('/static/images/icon/close.svg') no-repeat;
    }
  }
}
