<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<div *ngIf="initialized && !resourceTypes.length" class="rb-loading-mask-placeholder">
  {{'quota_has_no_resources' | translate}}
</div>
<div *ngIf="resourceTypes.length" class="rb-quota-resource">
  <div class="resource-types">
    <div class="resource-type" *ngFor="let type of resourceTypes"
         [ngClass]="{'active': selectedType === type.name}"
         (click)="onResourceTypeSelect(type.name)">
      <span>{{ type.name | lowercase | translate | rcTitleCase }}</span>
      <span>{{ type.count }}</span>
    </div>
  </div>
  <div class="resource-list">
    <div class="resource-list-heading">
      <div>
        <input rcInput
              type="text"
              [(ngModel)]="filter"
              (ngModelChange)="listFilter()"
               placeholder="{{ 'filter_by_name_placeholder' | translate }}">
      </div>
    </div>
    <rc-table
      class="rc-primary-table"
      columnMode="force"
      headerHeight="37"
      [rowHeight]="37"
      [rows]="displayedResources"
    >
      <rc-table-col name="{{ 'name' | translate }}">
        <div *rcTableColCell="let item = row">
          <span *ngIf="!shouldShowResourceLink(item)">{{item.name}}</span>
          <a
            style="cursor: pointer;"
            *ngIf="shouldShowResourceLink(item)"
            (click)="getResourceUrl(item)">
            {{item.name}}
          </a>
        </div>
      </rc-table-col>
      <rc-table-col name="{{ 'created_at' | translate }}">
        <div *rcTableColCell="let item = row">
          {{ item.created_at | rcFormatUtcStr }}
        </div>
      </rc-table-col>
    </rc-table>
  </div>
</div>
