.rb-quota-resource {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .resource-types {
    margin-right: 32px;
    line-height: 36px;
    cursor: pointer;
    .resource-type {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 166px;
      padding: 0 16px;
      margin: 4px 0;
      border-radius: 6px;
      &:hover {
        background-color: #eee;
        color: #464646;
      }
      &.active {
        background-color: #36ace2;
        color: #fff;
      }
      transition: background-color 0.2s, color, 0.2s;
    }
  }
  .resource-list {
    width: 100%;
    padding: 16px;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.12);
    .resource-list-heading {
      display: flex;
      margin-bottom: 12px;
      input {
        width: 24em;
      }
    }
  }
}
