@import '_colors.palette.scss';
@import '_colors.styles';
$color-app: #24a7e3;
$color-container: #28d06e;
$color-route: #7c70e2;
@mixin row-button-style {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  i {
    margin-right: 4px;
  }
}
:host {
  ul {
    list-style: none;
    margin: 0;
  }
  rc-form-field {
    rc-single-selection-dropdown {
      flex: 1;
    }
  }
  .add-container-button {
    @include row-button-style();
    margin-top: 10px;
    color: #009ce3;
    background-color: #fff;
    border: dashed 1px $button-default-border-color;
    &:hover {
      border-color: $button-default-hover-border-color;
      background-color: $button-default-hover-background-color;
    }
  }
  .toc-footer {
    padding: 0 20px 10px 20px;
    background-color: #fff;
    .toc-form-group-toggle {
      @include row-button-style();
      color: #009ce3;
      background-color: #fafafa;
      &:hover {
        background-color: #e5f5fc;
      }
    }
  }
  .toc-form-group {
    position: relative;
    background-color: #fff;
    padding: 0 20px 20px;
    .form-group-header {
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #333;
      height: 48px;
      border-bottom: 1px solid #e5e5e5;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      .form-group-bar {
        height: 18px;
        width: 6px;
        margin-right: 4px;
        &.group-app {
          background-color: $color-app;
        }
        &.group-container {
          background-color: $color-container;
        }
        &.group-route {
          background-color: $color-route;
        }
      }
    }
    .form-group-content {
      padding: 16px 0 0 0;
      min-height: 120px;
    }
  }
  .form-field {
    display: flex;
    align-items: flex-start;
    color: #333;
    label {
      width: 140px;
      padding-right: 16px;
      height: 32px;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      overflow-wrap: break-word;
    }
    .required-mark {
      color: $status-color-error;
      padding-left: 4px;
    }
    .field-container {
      line-height: 32px;
      padding: 0 24px 18px 0;
      flex: 1;
      .field-content-row {
        width: 100%; // background-color: #fafafa;
        // padding: 8px;
        display: flex;
        .content-row-cell {
          flex: auto;
          display: flex;
          .rc-input-prefix,
          .rc-input-suffix {
            height: 32px;
            border: 1px solid $form-input-border-color;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 8px;
          }
          .rc-input-prefix {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-right: none;
            background-color: #f2f2f2;
          }
          .rc-input-suffix {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-left: none;
          }
          > .rc-input-wapper {
            flex: 1;
            > input {
              border-radius: 0px;
            }
          }
          > input {
            flex: 1;
            border-radius: 0px 3px 3px 0px;
          }
          &:not(:last-child) {
            margin-right: 24px;
          }
        }
      }
    }
  }
}
