<rc-form-container>
    <form #appForm="ngForm">
        <!-- 集群选择 -->
        <div class="rc-form-field" *ngIf="mirrorClusters.length">
            <div class="rc-form-field-label">
                {{'cluster' | translate}}
                <span class="rc-required-mark">*</span>
            </div>
            <rc-mirror-cluster-select
                name="clusters"
                [clusters]="mirrorClusters"
                [currentCluster]="currentCluster"
                [(ngModel)]="clusters">
            </rc-mirror-cluster-select>
        </div>
        <!-- YAML -->
        <div class="rc-form-field">
            <div class="rc-form-field-label">{{'yaml_file' | translate}}</div>
            <div class="rc-form-field-container"
                style="min-width: 32em;">
                <aui-code-editor *ngIf="data"
                    name="yaml"
                    required
                    [rcErrorsTooltip]
                    [rcErrorsTooltipInline]="true"
                    [originalValue]="originalYaml"
                    [(ngModel)]="appYaml"
                    [actionsConfig]="actionsConfigUpdate"
                    [options]="codeEditorOptions">
                </aui-code-editor>
                <aui-code-editor *ngIf="!data"
                    name="yaml"
                    required
                    [rcErrorsTooltip]
                    [rcErrorsTooltipInline]="true"
                    [(ngModel)]="appYaml"
                    [actionsConfig]="actionsConfigCreate"
                    [options]="codeEditorOptions">
                </aui-code-editor>
                <!-- YAML template -->
                <div class="rc-sample-code-editor-toolbar">
                    <span class="rc-sample-code-editor-toolbar__label">
                        {{ 'show_compose_demo' | translate }}:
                    </span>
                    <a class="rc-sample-code-editor-toolbar__button"
                        href="javascript:void(0)"
                        (click)="useDemoTemplate()">
                        <aui-icon icon="basic:write_file"></aui-icon>
                        {{ 'write_in' | translate }}
                    </a>
                    <a class="rc-sample-code-editor-toolbar__button"
                        href="javascript:void(0)"
                        (click)="showDemoTemplate(yamlDemoTemplate)">
                        <aui-icon icon="basic:eye_s"></aui-icon>
                        {{ 'view' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </form>

    <ng-container *rcFooterContent>
        <button fxFlexOffset="140px"
            rcButton="primary"
            [loading]="submitting"
            [disabled]="submitting"
            (click)="confirm()">{{'confirm' | translate}}</button>
        <button fxFlexOffset="12px"
            rcButton
            [disabled]="submitting"
            (click)="cancel()">{{'cancel' | translate}}</button>
    </ng-container>
</rc-form-container>

<ng-template #yamlDemoTemplate>
    <aui-dialog-header>
        {{ 'show_compose_demo' | translate }}
    </aui-dialog-header>
    <aui-dialog-content>
        <aui-code-editor
            class="rc-sample-code-editor"
            [options]="{ language: 'yaml', readOnly: true }"
            [actionsConfig]="actionsConfigView"
            [ngModel]="yamlDemo">
        </aui-code-editor>
    </aui-dialog-content>
</ng-template>