@import '_colors.palette.scss';
@import '_colors.styles';

$color-app: #24a7e3;
$color-container: #28d06e;
$color-route: #7c70e2;

@mixin toc-link-separator {
  display: block;
  content: '';
  background-color: #999;
  width: 1px;
  height: 20px;
  transform: translateX(-50%);
}

@mixin toc-link {
  color: #777;
  display: flex;
  align-items: center;
  word-break: break-all;
  &:focus {
    text-decoration: none;
  }
  &.active {
    font-weight: 600;
    color: #4d4d4d;
    &::before {
      background-color: #4d4d4d;
    }
  }
  .link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
  }
}

:host {
  display: block;
  flex: 1;
  .form-content {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .form-footer {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 30px 8px 30px;
    border-top: solid 1px $black-2;
    box-shadow: 0 0 8px 0 $gray-7;
    background-color: $silver-6;
    display: flex;
    justify-content: space-between;
    button:not(:last-of-type) {
      margin: 0 16px 0 0;
    }
  }
  .container-form-wrapper {
    position: relative;
    margin-top: 16px;
    .form-group-remove {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 12px;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      color: #999;
      font-size: 16px;
      z-index: 1;
      &:focus {
        text-decoration: none;
      }
      &:hover {
        color: $button-default-hover-border-color;
      }
    }
  }
  .readonly-toggle {
    display: flex;
    justify-content: flex-end;
    height: 24px;
    a,
    a:hover {
      color: $blue-6;
    }
    a:focus {
      text-decoration: none;
    }
  }
  .toc-links {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 0;
    width: 150px;
    overflow: hidden;
    > ul {
      padding: 0 16px 16px;
      overflow-y: auto;
      height: 100%;
      margin-right: -18px;
      > li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        > a {
          @include toc-link;
          font-size: 14px;
          width: 100%;
          display: flex;
          align-items: center;
          .link-label {
            margin-left: -4px;
          }
          .link-icon {
            flex-shrink: 0;
            transform: translateX(-50%);
            transition: all 0.2s ease-in;
          }
          .icon-app {
            color: $color-app;
            border-color: $color-app;
          }
          .icon-container {
            font-size: 12px;
            margin-right: 8px;
            height: 16px;
            width: 16px;
            color: #28d06e;
            border-color: $color-container;
          }
          .icon-route {
            color: $color-route;
            border-color: $color-route;
          }
        }
        > a.active {
          .icon-app {
            color: #fff;
            background-color: $color-app;
          }
          .icon-container {
            color: #fff;
            background-color: $color-container;
          }
          .icon-route {
            color: #fff;
            background-color: $color-route;
          }
          .icon-preview {
            color: #fff;
            background-color: $color-app;
          }
        }
        > .link-separator {
          @include toc-link-separator;
        }
      }
      .secondary-links {
        li {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          a {
            @include toc-link;
            font-size: 12px;
            &::before {
              display: block;
              content: '';
              background-color: #999;
              width: 8px;
              height: 8px;
              border-radius: 4px;
              transform: translateX(-50%);
              margin-right: 12px;
              transition: all 0.2s ease-in;
            }
          }
          &::after {
            @include toc-link-separator;
          }
        }
      }
      > li:not(.disabled) {
        a:hover {
          color: $blue-6;
        }
      }
      > li.disabled {
        opacity: 0.3;
        a {
          cursor: default;
        }
      }
    }
  }
  .toc-container {
    position: absolute;
    padding-right: 20px;
    bottom: 0;
    top: 0;
    left: 158px;
    right: 0;
    overflow: auto;
    padding: 16px 16px 16px 0;
  }
}
