<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<div *ngIf="initialized"
    class="form-content">

    <div class="toc-links"
        [hidden]="yamlPreview">
        <ul>
            <li>
                <a href="javascript:void(0)"
                    rcTocLink="toc_content_service_basic.toc_content_service_advance.toc_content_service_network"
                    [for]="toc">
                    <span class="link-icon icon-app">
                        <aui-icon icon="basic:application_s"></aui-icon>
                    </span>
                    <span class="link-label">{{'application'| translate}}</span>
                </a>
                <div class="link-separator"></div>
                <ul class="secondary-links">
                    <li>
                        <a rcTocLink="toc_content_service_basic"
                            [for]="toc"
                            href="javascript:void(0)">{{'basic' | translate}}</a>
                    </li>
                    <li>
                        <a rcTocLink="toc_content_service_advance"
                            [for]="toc"
                            href="javascript:void(0)">{{'advanced' | translate}}</a>
                    </li>
                </ul>
            </li>
            <li *ngFor="let container of viewModel.containers; let i = index; trackBy: trackByContainerIndex;">
                <a href="javascript:void(0)"
                    rcTocLink="{{'toc_content_container_basic' + i + '.toc_content_container_advance' + i}}"
                    [for]="toc">
                    <span class="link-icon icon-container">
                        <i class="fa fa-codepen"></i>
                    </span>
                    <span class="link-label"
                        style="font-size: 12px; height: 16px;">{{'container' | translate}}</span>
                </a>
                <div class="link-separator"></div>
                <ul class="secondary-links">
                    <li>
                        <a rcTocLink="{{'toc_content_container_basic' + i}}"
                            [for]="toc"
                            href="javascript:void(0)">{{'basic' | translate}}</a>
                    </li>
                    <li>
                        <a rcTocLink="{{'toc_content_container_advance' + i}}"
                            [for]="toc"
                            href="javascript:void(0)">{{'advanced' | translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"
                    [for]="toc"
                    rcTocLink="toc_content_service_route">
                    <span class="link-icon icon-app">
                        <aui-icon icon="basic:route_s"></aui-icon>
                    </span>
                    <span class="link-label">{{'service_route' | translate}}</span>
                </a>
            </li>
        </ul>
    </div>


    <form #form="ngForm"
        [hidden]="yamlPreview"
        novalidate>
        <div #toc=toc-contents-container
            rcTocContentsContainer
            class="toc-container">
            <section class="toc-form-group"
                style="margin-top:0;"
                rcTocContent="toc_content_service_basic">
                <div class="form-group-header">
                    <div class="form-group-bar group-app"></div>
                    {{'application' | translate}}-{{'basic' | translate}}
                </div>
                <!-- 基本 -->
                <div class="form-group-content">
                    <!-- 更新 -->
                    <ng-container *ngIf="data">
                        <!-- 集群选择 -->
                        <div class="rc-form-field" *ngIf="mirrorClusters.length">
                            <div class="rc-form-field-label">
                                {{'cluster' | translate}}
                                <span class="rc-required-mark">*</span>
                            </div>
                            <rc-mirror-cluster-select
                                name="clusters"
                                [clusters]="mirrorClusters"
                                [currentCluster]="currentCluster"
                                [(ngModel)]="clusters">
                            </rc-mirror-cluster-select>
                        </div>
                        <div class="form-field">
                            <label>{{'app_name' | translate}}</label>
                            <div class="field-container">
                                {{viewModel.name}}
                            </div>
                        </div>
                        <div class="rc-form-field">
                            <div class="rc-form-field-label">
                                {{'app_owner' | translate}}
                                <span class="rc-required-mark">*</span>
                            </div>
                            <rc-app-owners-fieldset #appOwnerField name="appOwner"
                                [(ngModel)]='viewModel.owners'></rc-app-owners-fieldset>
                        </div>
                        <div class="form-field">
                            <label>{{'service_create_deploy_model' | translate}}</label>
                            <div class="field-container">
                                {{viewModel.kind}}
                            </div>
                        </div>
                    </ng-container>
                    <!-- 创建 -->
                    <ng-container *ngIf="!data">
                        <!-- 集群选择 -->
                        <div class="rc-form-field" *ngIf="mirrorClusters.length">
                            <div class="rc-form-field-label">
                                {{'cluster' | translate}}
                                <span class="rc-required-mark">*</span>
                            </div>
                            <rc-mirror-cluster-select
                                name="clusters"
                                [clusters]="mirrorClusters"
                                [currentCluster]="currentCluster"
                                [(ngModel)]="clusters">
                            </rc-mirror-cluster-select>
                        </div>
                        <!-- 应用名称 -->
                        <div class="rc-form-field">
                            <div class="rc-form-field-label">
                                {{'app_name' | translate}}
                                <span class="rc-required-mark">*</span>
                            </div>
                            <div class="rc-form-field-container">
                                <input aui-input
                                    required
                                    rcServiceNameValidator
                                    name="name"
                                    maxlength="32"
                                    [rcNamespace]="namespaceName"
                                    [rcCluster]="clusterName"
                                    [placeholder]="resourceNameReg.tip | translate"
                                    [pattern]="resourceNameReg.pattern"
                                    [rcErrorsTooltip]
                                    [rcErrorsTooltipMapper]="{service_name_existed: ('app_name_exists' | translate)}"
                                    [(ngModel)]="viewModel.name" />
                            </div>
                        </div>
                        <div class="rc-form-field">
                            <div class="rc-form-field-label">
                                {{'app_owner' | translate}}
                                <span class="rc-required-mark">*</span>
                            </div>
                            <rc-app-owners-fieldset #appOwnerField name="appOwner"
                                [(ngModel)]='viewModel.owners'></rc-app-owners-fieldset>
                        </div>
                        <!-- 类型 -->
                        <rc-form-field label="{{'type' | translate}}">
                            <rc-radio-group required
                                name='kind'
                                [(ngModel)]="viewModel.kind"
                                [options]="['Deployment']">
                            </rc-radio-group>
                        </rc-form-field>
                    </ng-container>
                    <!-- 实例数量 -->
                    <rc-form-field label="{{'service_replicas' | translate}}">
                        <input rcInput
                            name='replicas'
                            min="1"
                            placeholder="{{'service_replicas_placeholder' | translate}}"
                            [pattern]="numberReg.pattern"
                            [(ngModel)]="viewModel.replicas" />
                    </rc-form-field>
                </div>
            </section>

            <!-- 高级 -->
            <section class="toc-form-group"
                [hidden]="!showMore"
                rcTocContent="toc_content_service_advance">
                <div class="form-group-header"
                    [hidden]="!showMore">
                    <div class="form-group-bar group-app"></div>
                    {{'application' | translate}}-{{'advanced'| translate}}</div>
                <div class="form-group-content"
                    [hidden]="!showMore">
                    <!-- 标签 -->
                    <rc-form-field label="{{'labels' | translate}}"
                        [shouldFlexRow]="true">
                        <rc-service-fields-labels name='labels'
                            [(ngModel)]="viewModel.labels"></rc-service-fields-labels>
                    </rc-form-field>

                    <!-- 扩缩容 -->
                    <div class="form-field">
                        <label>{{'service_scaling_config' | translate}}</label>
                        <div class="field-container">
                            <div class="field-content-row">
                                <div class="content-row-cell">
                                    <div class="rc-input-prefix">{{'min_num_instances'| translate}}</div>
                                    <div class="rc-input-wapper">
                                        <input rcInput
                                            name="minReplicas"
                                            min="1"
                                            [pattern]="numberReg.pattern"
                                            [(ngModel)]="viewModel.minReplicas"
                                            [rcErrorsTooltip]
                                            type="text" />
                                    </div>
                                    <div class="rc-input-suffix">{{'ge'| translate}}</div>
                                </div>
                                <div class="content-row-cell">
                                    <div class="rc-input-prefix">{{'max_num_instances'| translate}}</div>
                                    <div class="rc-input-wapper">
                                        <input rcInput
                                            name="maxReplicas"
                                            min="1"
                                            [pattern]="numberReg.pattern"
                                            [(ngModel)]="viewModel.maxReplicas"
                                            [rcErrorsTooltip]
                                            type="text" />
                                    </div>
                                    <div class="rc-input-suffix">{{'ge'| translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 主机标签，接入集群不支持 -->
                    <!-- <div class="rc-form-field">
                        <div class="rc-form-field-label">
                            {{'node_tag' | translate}}
                        </div>
                        <rc-service-fields-node-affinitys name="nodeAffinity"
                            [(ngModel)]='viewModel.nodeAffinitys'></rc-service-fields-node-affinitys>
                    </div> -->

                    <!-- 亲和 -->
                    <!-- <div class="rc-form-field">
                        <div class="rc-form-field-label">
                            {{'service_affinity' | translate}}
                        </div>
                        <div class="rc-form-field-container">
                            <rc-affinity-fieldset name="affinity"
                                [(ngModel)]="viewModel.affinity"></rc-affinity-fieldset>
                        </div>
                    </div> -->

                    <!-- 更新策略 -->
                    <div class="form-field">
                        <label>{{'service_update_strategy' | translate}}</label>
                        <div class="field-container">
                            <div class="field-content-row">
                                <div class="content-row-cell">
                                    <div class="rc-input-prefix">{{'service_max_surge' | translate}}</div>
                                    <input rcInput
                                        type="text"
                                        name="maxSurge"
                                        pattern="^[0-9]+[%]?$"
                                        [rcErrorsTooltip]
                                        placeholder="{{'percentage_or_number' | translate}}"
                                        [(ngModel)]="viewModel.maxSurge">
                                </div>
                                <div class="content-row-cell">
                                    <div class="rc-input-prefix">{{'service_max_unavailable' | translate}}</div>
                                    <input rcInput
                                        type="text"
                                        name="maxUnavailable"
                                        pattern="^[0-9]+[%]?$"
                                        [rcErrorsTooltip]
                                        placeholder="{{'percentage_or_number' | translate}}"
                                        [(ngModel)]="viewModel.maxUnavailable">
                                </div>
                                <div>
                                    <aui-icon
                                        icon="basic:question"
                                        [auiTooltip]="template"
                                        auiTooltipTrigger="click"
                                    ></aui-icon>
                                    <ng-template #template>
                                        <p>{{'service_max_surge' | translate}}: {{'service_max_surge_desc' | translate}}</p>
                                        <p>{{'service_max_unavailable' | translate}}: {{'service_max_unavailable_desc' | translate}}</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 网络模式 -->
                    <rc-form-field label="{{'host_mode' | translate}}">
                        <rc-checkbox mode="toggle"
                            name="hostNetwork"
                            [(ngModel)]="viewModel.networkMode.hostNetwork"></rc-checkbox>
                    </rc-form-field>
                </div>
            </section>

            <div class="toc-footer"
                (click)="showMore = !showMore;">
                <div class="toc-form-group-toggle">
                    <span><i class="fa" 
                        [ngClass]="{'fa-angle-double-down': !showMore, 'fa-angle-double-up': showMore}"></i>{{'display_app_advanced' | translate}}</span>
                </div>
            </div>

            <!-- 容器组 -->
            <div class="container-form-wrapper"
                *ngFor="let container of viewModel.containers; let i = index; trackBy: trackByContainerIndex;">
                <a class="form-group-remove"
                    href="javascript:void(0)"
                    (click)="removeContainer(container.index)"
                    [hidden]="viewModel.containers.length === 1">
                    <i class="fa fa-trash"></i>
                </a>
                <rc-container-fieldset name="container{{container.index}}"
                    [namespaceName]="namespaceName" [clusterName]="clusterName" [projectName]="projectName"
                    [containerIndex]="container.index"
                    [(ngModel)]="container.config"></rc-container-fieldset>
            </div>

            <!-- 添加容器 -->
            <div class="add-container-button" (click)="addContainer()"><i class="fa fa-plus-circle"></i>{{ 'add_container' | translate }}</div>

            <!-- 路由 -->
            <section class="toc-form-group"
                style="margin-top: 16px;"
                rcTocContent="toc_content_service_route">
                <div class="form-group-header">
                    <div class="form-group-bar group-route"></div>
                    {{'service_route' | translate}}
                </div>
                <div class="form-group-content">
                    <div class="rc-form-field">
                        <div class="rc-form-field-container">
                            <rc-route-fieldset name="route"
                                [(ngModel)]="viewModel.kubeServices"></rc-route-fieldset>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </form>

    <!-- yaml mode -->
    <form *ngIf="yamlPreview">
        <div class="toc-container"
            style="left: 16px;">
            <div class="toc-form-group">
                <div class="form-group-header">{{'yaml_preview' | translate}}</div>
                <div class="form-group-content">
                    <div class="rc-form-field">
                        <div class="rc-form-field-container"
                            style="min-width: 32em; margin-right: 0;">
                            <aui-code-editor name="yaml"
                                required
                                [originalValue]="originalYaml"
                                [(ngModel)]="yaml"
                                [actionsConfig]="editorActionsConfig"
                                [options]="codeEditorOptions">
                            </aui-code-editor>
                        </div>
                    </div>
                    <div class="readonly-toggle">
                        <a href="javascript:void(0);"
                            *ngIf="yamlReadonly"
                            (click)="toggleYamlReadonly()">{{'enter_yaml_edit_mode' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div [hidden]="!initialized"
    class="form-footer">
    <button rcButton="primary-lite"
        *ngIf="!yamlPreview"
        [disabled]="submitting"
        (click)="preview()">
        <i class="fa fa-hashtag"
            style="margin-right: 2px;"></i>{{ 'generate_yaml' | translate }}</button>
    <button rcButton="default"
        *ngIf="yamlPreview && yamlReadonly"
        [disabled]="submitting"
        (click)="cancelPreview()">{{ 'back_to_ui_edit_mode' | translate }}</button>
    <div style="flex: 1;"></div>
    <button rcButton="default"
        [disabled]="submitting"
        (click)="cancel()">{{ 'cancel' | translate }}</button>
    <button rcButton="primary"
        [loading]="submitting"
        [disabled]="submitting"
        (click)="confirm()">
        <span *ngIf="!data">{{ 'create' | translate }}</span>
        <span *ngIf="data">{{ 'save' | translate }}</span>
    </button>
</div>