<div class="rb-page-heading">
  <h1>
    <i class="fa fa-calendar-check-o"></i>
    <a title="{{ vm.history.config_name }}" ui-sref="job.config.detail({name: vm.history.config_name})">
      {{ vm.history.config_name }}
    </a>
    <span>/</span>
    <span class="visible" title="{{ vm.uuid }}">{{ vm.uuid | limitTo:8 }}</span>
    <span rubick-status-icon
          ng-if="vm.history"
          style="display: inline-flex;"
          status="vm.statusIconMap[vm.history.status]"
          status-text="{{ ('job_status_' + vm.history.status) | translate }}"
          mode="detail">
    </span>
  </h1>
  <div flex></div>

  <div ng-if="vm.history" class="rb-heading-button-group">
    <button class="ui button rb-btn-default"
            ng-if="vm.canRestart()"
            ng-disabled="vm.restarting"
            ng-class="{loading: vm.restarting}"
            ng-click="vm.restartClicked()">
      {{"job_restart" | translate}}
    </button>
    <button class="ui button rb-btn-secondary"
            ng-disabled="vm.deleting"
            ng-class="{loading: vm.deleting}"
            ng-if="vm.buttonDisplayExpr('delete')"
            ng-click="vm.deleteClicked()">
      {{"delete" | translate}}
    </button>
  </div>
</div>

<rb-basic-info-panel fields="vm.basicInfoFields" initialized="vm.history">
</rb-basic-info-panel>

<div class="rb-tabs-container rb-detail-container">
  <md-tabs class="rb-tabs"
           md-border-bottom="true"
           md-dynamic-height="true">
    <!-- Logs -->
    <md-tab class="rb-tab"
            label="{{ 'logs' | translate }}">
      <rb-job-history-log
        ng-if="vm.history"
        history="vm.history">
      </rb-job-history-log>
    </md-tab>

    <!-- Env Files and Vars -->
    <md-tab label="{{ 'environment_variable' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-env-vars-table ng-if="vm.history"
                           env-vars="vm.history.envvars"
                           env-files="vm.envfiles$ | rbAsync:this">
        </rb-env-vars-table>
      </div>
    </md-tab>
  </md-tabs>
</div>
