form {
  padding: 30px 40px;
}

.next-time {
  font-size: 12px;
  color: #9c9c9c;
}

.clean-time-tips {
  padding: 6px;
  font-size: 12px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.22);
  border-radius: 3px;
  background: #f6fdff;
  border: 1px solid #60d3ff;
  color: #228eb3;

  p {
    margin-bottom: 0;
    line-height: 1.4;
  }
}
