form {
  padding: 16px;
}

.tips {
  background-color: #fcfcfc;
  border: 1px solid #f3f3f3;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 16px;
  color: #666;
}
