.image-repository-projects-header {
  display: flex;
  margin-bottom: 16px;
}

.image-repository-projects-content {
  display: flex;
  align-items: stretch;
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);

  .rc-project-nav {
    min-height: 360px;
    display: flex;
    border-right: 1px solid #eee;
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    .rc-project-nav-item-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .rc-project-nav-item-buttons {
        display: flex;
        align-items: center;
      }
      .rc-fieldset-action-btn {
        border: 0;
        display: none;
        font-size: 14px;
        padding: 0 4px;
        .fa {
          color: #a1a1a1;
        }
        &:hover > .fa {
          color: #37acf0;
        }
        &[disabled] > .fa,
        &[disabled]:hover > .fa {
          color: #e2e2e2;
        }
        transition: opacity 0.3s;
      }
      &:hover,
      &.active {
        .rc-fieldset-action-btn {
          display: unset;
        }
      }
      &:hover > .rc-project-nav-item {
        background-color: #eee;
      }
      &.active > .rc-project-nav-item {
        background-color: #36ace2;
        color: #fff;
      }
    }
    .rc-project-nav-item {
      cursor: pointer;
      width: 140px;
      font-size: 14px;
      color: #333;
      font-weight: 600;
      padding: 8px;
      margin: 4px 0;
      border-radius: 5px;
      transition: background-color 0.3s;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .rc-project-add-btn {
      padding: 0;
      border: none;
      width: 100%;
      display: block;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background-color: #efefef;
      font-size: 14px;
      color: #b4b4b4;
      opacity: 0.75;
      border-radius: 4px;
      margin: 4px 0;
      &:hover {
        color: #37acf0;
        opacity: 1;
      }
      transition: opacity 0.3s;
    }
  }
  .rc-repo-list-wrap {
    display: flex;
    flex: 1;
    align-self: stretch;
    flex-direction: column;
    min-height: 300px;
    .rc-repo-list {
      display: flex;
      flex-wrap: wrap;
      padding: 16px 0 0 16px;
    }
  }

  ::ng-deep .rc-repository-card-placeholder {
    min-width: 300px;
    height: 1px;
    margin: 0 16px 16px 0;
    // To workaround Safari bug, make flex-basis equal min-width if you had set a min-width, refer to:
    // https://github.com/philipwalton/flexbugs#11-min-and-max-size-declarations-are-ignored-when-wrapping-flex-items
    flex: 1 0 300px;
    padding: 0 16px;
  }
}

rc-pagination2 {
  margin-bottom: 20px;
  margin-right: 20px;
}
