form {
  padding: 30px 40px;
}

.tag-amount-tips {
  margin-top: 22px;
  padding: 6px;
  font-size: 12px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.22);
  border-radius: 3px;
  background: #f6fdff;
  border: 1px solid #60d3ff;
  color: #228eb3;
  line-height: 1.4;

  p {
    margin-bottom: 0;
  }
}

rc-form-field {
  ::ng-deep {
    .rc-input-element.with-addon {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .addon-container {
      padding-left: 0;

      button.ui.button {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 6px 10px;
      }
    }
  }
}
