<form #form="ngForm">
  <rc-form-field label=" ">
    <label role="button" style="line-height:20px">
      <rc-checkbox class="pull-left"
                   name="checked"
                   [(ngModel)]="checked"></rc-checkbox>
      {{ 'image_repository_tag_amount_limit' | translate }}
    </label>
  </rc-form-field>
  <rc-form-field [label]="'image_repository_tag_amount' | translate">
    <input type="number"
           name="tag_max_number"
           [(ngModel)]="tag_max_number"
           [ngClass]="{ 'with-addon': 'ge' | translate }"
           [disabled]="!checked"
           rcInput
           rcErrorsTooltip
           [pattern]="pattern"
           [min]="checked && 1"
           [max]="checked && 9999"
           [required]="checked"
           placeholder="1 - 9999" />
    <ng-container rcFormAddon
                  *ngIf="'ge' | translate">
      <button rcButton
              [disabled]="!checked">
        {{ 'ge' | translate }}
      </button>
    </ng-container>
  </rc-form-field>

  <div class="tag-amount-tips">
    <p *ngFor="let i of [1,2,3]">{{ i }}. {{ 'image_repository_tag_amount_tip' + i | translate }}</p>
  </div>
</form>

<div class="modal-footer">
  <button type="button"
          rcButton
          (click)="close.emit()">
    {{ 'cancel' | translate }}
  </button>
  <button rcButton="primary"
          (click)="confirm()">
    {{ 'confirm' | translate }}
  </button>
</div>
