<form [rcLoadingMask]="loading"
      #from="ngForm">
  <div class="tips">
    <span class="fa fa-exclamation-circle"></span>
    <span>{{ 'image_scan_update_hint' | translate }}</span>
  </div>
  <rc-form-field [label]="'image_scan' | translate">
    <rc-single-selection-dropdown [options]="options"
                                  displayField="name"
                                  valueField="id"
                                  name="integration"
                                  [(ngModel)]="selected">
    </rc-single-selection-dropdown>
  </rc-form-field>
</form>

<div class="modal-footer">
  <button type="button"
          rcButton
          (click)="close.emit()">{{ 'cancel' | translate }}</button>
  <button rcButton="primary"
          [ngClass]="{ loading: submitting }"
          [disabled]="submitting"
          (click)="confirm()">{{ 'confirm' | translate }}</button>
</div>
