<div class="image-repository-projects-header">
  <div class="ui input">
    <rc-search-input [placeholder]="'support_search_by_name' | translate"
                     (onSearch)="search=$event;getRepositories()"></rc-search-input>
  </div>
  <div class="flex"></div>
  <button *ngIf="(!weblabs.TAG_MANAGE_ENABLED || registry.is_public) && registryButtonDisplayExpr('update')"

          [rcButton]="!registry.integration_id && 'primary'"
          (click)="showImageScanDialog()">
    {{ (registry.integration_id ? 'image_repository_scan_update' : 'image_repository_scan_configure')
    | translate }}</button>
  <button *ngIf="repositoryCreateDisplay"
          [routerLink]="['/image/repository/create']"
          [queryParams]="{ registryName: registry.name, integrationId: registry.integration_id, projectName: currentProject.is_default ? null : currentProject.project_name }"

          [disabled]="!repositoryCreateEnabled"
          rcButton="primary"
          style="margin-left:4px">{{'repo_create' | translate}}</button>
  <rc-button-menu *ngIf="weblabs.TAG_MANAGE_ENABLED && !registry.is_public && registryButtonDisplayExpr('update')"

                  [text]="'action' | translate"
                  style="margin-left:4px">
    <button rcMenuButton
            (click)="showImageScanDialog()">
      {{ (registry.integration_id ? 'image_repository_scan_update' : 'image_repository_scan_configure')
      | translate }}</button>
    <button rcMenuButton
            (click)="showTagMountDialog()">
      {{ 'image_repository_tag_amount_configure' | translate }}
    </button>
    <button rcMenuButton
            (click)="showCleanTimeDialog()">
      {{ 'image_repository_clean_time_configure' | translate }}
    </button>
  </rc-button-menu>
</div>
<div class="image-repository-projects-content"
     [rcLoadingMask]="!projects">
  <div *ngIf="!registry.is_public"
       class="rc-project-nav">
    <div class="rc-project-nav-item-wrapper"
         *ngFor="let project of projects"
         [ngClass]="{'active': currentProject.project_name === project.project_name}">
      <div class="rc-project-nav-item"
           (click)="selectProject(project)"
           [attr.title]="project.project_name">
        <span>{{ project.project_name }}</span>
      </div>
      <div *ngIf="!project.is_default && projectButtonDisplayExpr(project, 'delete')"
           class="rc-project-nav-item-buttons">
        <button class="rc-fieldset-action-btn"
                [rcTooltip]="'delete' | translate"
                (click)="deleteProject(project)">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
    <button class="rc-project-add-btn"
            *ngIf="projectCreateDisplay"
            (click)="addProject()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="rc-repo-list-wrap"
       [rcLoadingMask]="projects && repositoryLoading">
    <div *ngIf="projects && !repositories.length && !repositoryLoading"
         class="rb-loading-mask-placeholder">
      {{'repo_empty' | translate}}
    </div>
    <div *ngIf="repositories.length"
         class="rc-repo-list">
      <rc-image-repository-card *ngFor="let repository of repositories; trackBy trackByUuid"
                                [routerLink]="['/image/repository/detail']"
                                [queryParams]="{ repositoryName: repository.name, registryName: repository.registry.name, projectName: repository.project && repository.project.project_name }"

                                [ngClass]="{'tag-manage-enabled': weblabs.TAG_MANAGE_ENABLED}"
                                [repository]="repository"
                                (deleteRepository)="deleteRepository(repository, $event)">
      </rc-image-repository-card>
      <div class="rc-repository-card-placeholder"></div>
      <div class="rc-repository-card-placeholder"></div>
      <div class="rc-repository-card-placeholder"></div>
      <div class="rc-repository-card-placeholder"></div>
    </div>
    <rc-pagination2 [count]="count"
                    [page]="page"
                    [pageSize]="20"
                    (pageChanged)="getRepositories($event)"></rc-pagination2>
  </div>
</div>
