<form #form="ngForm">
  <rc-form-field label=" ">
    <label role="button"
           style="line-height:20px">
      <rc-checkbox class="pull-left"
                   name="auto_garbage_collect"
                   [(ngModel)]="auto_garbage_collect"></rc-checkbox>
      {{ 'image_repository_clean_time_switch' | translate }}
    </label>
  </rc-form-field>

  <rc-form-field [label]="'schedule_rule' | translate">
    <input rcInput
           [disabled]="!auto_garbage_collect"
           [(ngModel)]="garbage_collect_schedule_rule"
           name="garbage_collect_schedule_rule"
           [rcCron]="auto_garbage_collect && {minInterval: 60}"
           rcErrorsTooltip
           [rcErrorsTooltipMapper]="errorMapper"
           [required]="auto_garbage_collect">
    <i rcFormAddon
       class="fa fa-question-circle"
       [rcTooltip]="'build_schedule_rule_hint' | translate"
       rcTooltipPosition="top"></i>
  </rc-form-field>

  <rc-form-field label=" ">
    <input rcInput
           type="hidden">
    <div class="next-time">
      {{ 'build_config_next_trigger_time' | translate }}：{{ garbage_collect_schedule_rule
      | rcCrontabNext }}
    </div>
  </rc-form-field>

  <div class="clean-time-tips">
    <p *ngFor="let i of [1,2]"
       [innerHTML]="'image_repository_clean_time_tip' + i | translate"></p>
  </div>
</form>

<div class="modal-footer">
  <button type="button"
          rcButton
          (click)="close.emit()">
    {{ 'cancel' | translate }}
  </button>
  <button rcButton="primary"
          [ngClass]="{ loading: submitting }"
          [disabled]="submitting"
          (click)="confirm()">
    {{ 'confirm' | translate }}
  </button>
</div>
