<form class="rb-form"
      #form="ngForm"
      style="padding-top:16px"
      (ngSubmit)="addProject()">
  <rc-form-field [label]="'name' | translate">
    <input rcInput
           [(ngModel)]="name"
           name="name"
           minlength="4"
           maxlength="64"
           rcErrorsTooltip
           pattern="^[a-z0-9][a-z0-9\-\_]*[a-z0-9]$"
           placeholder="{{'repo_name_placeholder' | translate}}"
           required>
  </rc-form-field>
  <div class="modal-footer"
       style="padding: 12px">
    <button rcButton
            style="margin-right: 8px"
            (click)="confirmed.next()"
            [disabled]="loading">{{ 'cancel' | translate }}</button>
    <button rcButton="primary"
            type="submit"
            [disabled]="loading"
            [loading]="loading">{{ 'confirm' | translate }}</button>
  </div>
</form>
