<table class="rb-fieldset-table">
  <thead>
  <td style="width:120px;">{{ 'port_mapping_type' | translate }}</td>
  <td>{{ 'port_mapping_listening_port' | translate }}</td>
  <td style="width:200px;">{{ 'port_mapping_container_port' | translate }}</td>
  <td style="width:160px;">{{ 'port_mapping_protocol' | translate }}</td>
  <td style="width:70px;"></td>
  </thead>
  <tbody ng-repeat="loadBalancer in vm.loadBalancers track by $index">
  <tr ng-repeat="listener in loadBalancer.listeners track by $index">
    <!-- port_mapping_type -->
    <td ng-if="$index === 0" rowspan="{{loadBalancer.listeners.length + 1}}" style="vertical-align: top; padding-top: 5px !important;">
      <rb-dropdown options="vm.portMappingTypes"
                   init="loadBalancer.port_mapping_type"
                   key="name"
                   value="value"
                   on-change="vm.onPortMappingTypeChange(option, loadBalancer)"></rb-dropdown>
    </td>
    <!-- lb_port -->
    <td>
      <div class="ui input fluid">
        <input type="number"
               ng-model="listener.lb_port"
               placeholder="{{'ports_placeholder'|translate}}"
               max="65535"
               min="1">
      </div>
    </td>
    <!-- container_port -->
    <td>
      <rb-dropdown ng-if="vm.isHostNetwork()"
                   options="vm.clonedContainerPorts"
                   init="listener.container_port"
                   on-change="vm.onListenerContainerPortChange(option, listener)"></rb-dropdown>
      <div ng-if="!vm.isHostNetwork()" class="ui buttons fluid">
        <div class="ui input fluid">
          <input type="number"
                 ng-model="listener.container_port"
                 placeholder="{{'ports_placeholder'|translate}}"
                 max="65535"
                 min="1"
                 style="width:120px;">
        </div>
        <rb-dropdown options="vm.clonedContainerPorts"
                     floating="true"
                     on-change="vm.onListenerContainerPortChange(option, listener)" style="flex-grow: 0;"></rb-dropdown>
      </div>
    </td>
    <!-- protocol -->
    <td>
      <rb-dropdown options="vm.loadBalancerProtocols"
                   init="listener.protocol"
                   on-change="vm.onListenerProtocolChange(option, listener)"></rb-dropdown>
    </td>
    <td>
      <button class="rb-fieldset-action-btn"
              ng-click="vm.deleteListener($index, loadBalancer, $parent.$index)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>

  <tr>
    <td colspan="3">
      <button ng-click="vm.addListener(loadBalancer)" class="rb-fieldset-add-btn">
        <i class="fa fa-plus"></i>
      </button>
    </td>
  </tr>

  </tbody>
  <tbody>
  <tr>
    <td colspan="4" style="text-align: right">
      <button type="button" class="ui button tiny rb-btn-default" ng-click="vm.addLoadBalancer()">{{'add' | translate}}</button>
    </td>
  </tr>
  </tbody>
</table>