<div class="rb-form-panel" rb-loading-mask="vm.submitting">
  <div class="rb-form-container">
    <form class="rb-form" name="vm.form">
      <!-- configuration name -->
      <div>
        <div class="rb-form-row input">
          <div class="rb-label">{{'name' | translate}} <span class="rb-required-mark">*</span></div>
          <input class="rb-input"
                 type="text"
                 name="name"
                 ng-model="vm.name"
                 ng-maxlength="64"
                 ng-pattern="/^[A-Za-z0-9\-_]+$/"
                 rb-errors-tooltip
                 rb-errors-tooltip-mapper="{
                   'pattern': ('configuration_pattern_invalid' | translate)
                 }"
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
      <!-- quota_space -->
      <div ng-if="vm.quotaEnabled">
        <div class="rb-form-row input">
          <div class="rb-label">{{'quota_space' | translate}}</div>
          <div ng-if="!vm.spaces.length" class="rb-info-tip">
            {{'quota_space_required' | translate}}
          </div>
          <rb-dropdown ng-if="vm.spaces.length"
                       options="vm.spaces"
                       value="name"
                       key="name"
                       filter-threshold="5"
                       on-change="vm.onSpaceChanged(option)"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- remark -->
      <div>
        <div class="rb-form-row input">
          <div class="rb-label">{{'description' | translate}}</div>
          <input class="rb-input"
                 type="text"
                 name="description"
                 rb-errors-tooltip
                 ng-maxlength="64"
                 ng-model="vm.description">
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.confirm()">{{'create' |
        translate}}
      </button>
    </div>
  </div>
</div>
