<rc-form-container [rcLoadingMask]="!initialized">
    <form #form="ngForm">
      <rc-form-field [shouldFlexRow]="true">
        <rc-container-fields-envvars [(ngModel)]='containerEnvvars' name="envvars" [namespace]="namespace"></rc-container-fields-envvars>
      </rc-form-field>
    </form>
    <ng-container *rcFooterContent>
        <button rcButton
                (click)="cancel()">
          {{'cancel'|translate}}
        </button>
        <button
          *ngIf="shouldShowPrevStep()"
          rcButton
          (click)="prevStep()">
          {{'prev_step'|translate}}
        </button>
        <button rcButton="primary"
                [loading]="submitting"
                [disabled]="submitting"
                (click)="confirm()">
          {{'confirm'|translate}}
        </button>
      </ng-container>
  </rc-form-container>