$code-editor-toolbar-padding: 0 20px;
$code-editor-toolbar-height: 40px;
$code-editor-toolbar-icon-size: 16px;
$code-editor-toolbar-font-size: 14px;
$code-editor-toolbar-control-margin: 4px;
$code-editor-toolbar-background: #f7f7f7;
$code-editor-toolbar-background-dark: #333333;
$code-editor-toolbar-color-dark: #fff;
$code-editor-toolbar-inactive-opacity: 0.6;
:host {
  display: block;
  ::ng-deep {
    .aui-form-field__label {
      width: auto;
    }
    .aui-form-field__control {
      width: auto;
    }
    .aui-form-field__hint {
      display: none;
    }
    .aui-paginator-range-label {
      display: none;
    }
  }
}

.log-sources-toolbar {
  margin-bottom: 12px;
  display: flex;
  aui-form-field {
    margin-right: 24px;
  }
  aui-select {
    width: 274px;
  }
}

.log-container {
  border: 1px solid #dddddd;
  display: block;
}

aui-monaco-editor {
  flex: 1;
  display: flex;
  flex-flow: column;
  height: 400px;
}

.log-container--dark .log-container-toolbar {
  background-color: $code-editor-toolbar-background-dark;
  color: $code-editor-toolbar-color-dark;

  ::ng-deep .aui-checkbox__content {
    color: $code-editor-toolbar-color-dark;
  }

  .log-container-toolbar__control-button-icon > svg {
    fill: #fff;
  }
}

.log-container-toolbar {
  height: $code-editor-toolbar-height;
  background-color: $code-editor-toolbar-background;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
  padding: $code-editor-toolbar-padding;

  display: flex;
  align-items: center;

  &__spacer {
    flex: 1;
  }

  &__control-button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: $code-editor-toolbar-font-size;
    margin: 0 $code-editor-toolbar-control-margin;
    opacity: 0.6;

    &:hover,
    &--active {
      opacity: 1;
    }
  }

  &__control-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $code-editor-toolbar-icon-size + 2px;
    height: $code-editor-toolbar-icon-size + 2px;

    ::ng-deep > svg {
      width: $code-editor-toolbar-icon-size;
      height: $code-editor-toolbar-icon-size;
    }
  }

  ::ng-deep .aui-checkbox {
    margin-right: 0;
  }
}
