<div class="log-sources-toolbar">
    <aui-form-field label="Pod">
        <aui-select [(ngModel)]="selectedInstanceName"
            [loading]="!initialized"
            [disabled]="!instances.length"
            (ngModelChange)="onInstanceNameSelect($event)">
            <aui-option *ngFor="let instance of instances"
                [value]="instance.name">{{ instance.name }}</aui-option>
        </aui-select>
    </aui-form-field>

    <aui-form-field label="{{ 'container' | translate }}">
        <aui-select [(ngModel)]="selectedContainerName"
            [loading]="!initialized"
            [disabled]="!containers.length"
            (ngModelChange)="onContainerNameSelect($event)">
            <aui-option *ngFor="let container of containers"
                [value]="container.name">{{ container.name }}</aui-option>
        </aui-select>
    </aui-form-field>
    <span fxFlex></span>
    <button aui-button><a target="_blank" [attr.href]="externalLogPageUrl">{{'log_platform' | translate}}</a></button> 
</div>

<div class="log-container"
    [class.log-container--dark]="monacoProvider.isDarkTheme">
    <div class="log-container-toolbar">
        <ng-container *ngIf="logsReady$ | async">
            <div class="log-container-toolbar__control-button"
                (click)="loadOldest()">
                <div class="log-container-toolbar__control-button-icon">
                    <svg height="24"
                        viewBox="0 0 24 24"
                        width="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z" />
                        <path d="M24 24H0V0h24v24z"
                            fill="none" />
                    </svg>
                </div>
            </div>

            <div class="log-container-toolbar__control-button"
                (click)="loadOlder()">
                <div class="log-container-toolbar__control-button-icon">
                    <svg height="24"
                        viewBox="0 0 24 24"
                        width="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                        <path d="M0 0h24v24H0z"
                            fill="none" />
                    </svg>
                </div>
            </div>

            <div class="log-container-toolbar__control-button"
                (click)="loadNewer()">
                <div class="log-container-toolbar__control-button-icon">
                    <svg height="24"
                        viewBox="0 0 24 24"
                        width="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
                        <path d="M0 0h24v24H0z"
                            fill="none" />
                    </svg>
                </div>
            </div>


            <div class="log-container-toolbar__control-button"
                (click)="loadNewest()">
                <div class="log-container-toolbar__control-button-icon">
                    <svg height="24"
                        viewBox="0 0 24 24"
                        width="24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z" />
                        <path d="M0 0h24v24H0V0z"
                            fill="none" />
                    </svg>
                </div>
            </div>
            <div class="log-container-toolbar__time-span">
                {{ (logInfo$ | async)?.fromDate | rcFormatUtcStr }} ~ {{ (logInfo$ | async)?.toDate | rcFormatUtcStr }}
            </div>
        </ng-container>

        <div class="log-container-toolbar__spacer"></div>

        <!-- polling mode -->
        <aui-checkbox class="log-container-toolbar__control-button"
            [class.log-container-toolbar__control-button--active]="pollNewest"
            [(ngModel)]="pollNewest">{{ 'poll_logs' | translate }}
        </aui-checkbox>

        <!-- find -->
        <div class="log-container-toolbar__control-button"
            (click)="onFindClicked()">
            <div class="log-container-toolbar__control-button-icon">
                <aui-icon icon="search_s"></aui-icon>
            </div>
            {{ codeEditorIntl.findLabel }}
        </div>

        <!-- theme -->
        <div class="log-container-toolbar__control-button"
            (click)="monacoProvider.toggleTheme()">
            <ng-container *ngIf="!monacoProvider.isDarkTheme">
                <div class="log-container-toolbar__control-button-icon">
                    <aui-icon icon="sun"></aui-icon>
                </div>
                {{ codeEditorIntl.lightThemeLabel }}
            </ng-container>

            <ng-container *ngIf="monacoProvider.isDarkTheme">
                <div class="log-container-toolbar__control-button-icon">
                    <aui-icon icon="moon"></aui-icon>
                </div>
                {{ codeEditorIntl.darkThemeLabel }}
            </ng-container>
        </div>
    </div>
    <aui-monaco-editor *ngIf="!fullscreenDialog"
        (monacoEditorChanged)="onMonacoEditorChanged($event)"
        [ngModel]="logs$ | async"
        [options]="monacoOptions">
    </aui-monaco-editor>
</div>