@keyframes rb-constraint-highlight {
  0% {
    background: #eff5f8;
  }
  25% {
    background: none;
  }
  50% {
    background: #eff5f8;
  }
  100% {
    background: none;
  }
}
.rb-constraints-groups {
  flex: 1;
  .constraint-group {
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
    padding: 4px;
    margin-bottom: 8px;
    .group-delete {
      cursor: pointer;
      top: 0;
      right: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 18px;
      border-radius: 3px;
      box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.04);
      color: #e2e2e2;
      transition: color 0.2s, background 0.2s;
      &:hover {
        background: #f5f5f5;
        color: #0badeb;
      }
    }
    table {
      border-collapse: separate;
      border-spacing: 0 4px;
      margin-bottom: 0;
      td {
        padding: 4px;
      }
      thead {
        td {
          padding: 0 4px;
        }
      }
      tbody {
        tr:first-child {
          background: #f9f9f9;
          td {
            vertical-align: middle;
          }
        }
        tr:not(:first-child) {
          transition: background 0.2s;
          &:hover {
            background: #f9f9f9;
          }
        }
        tr.rb-highlight {
          //animation: rb-constraint-highlight 1s;
        }
      }
      td {
        border: none;
      }
    }
  }
  .group-operation {
    height: 32px;
    text-align: right;
    padding: 5px 0;
  }
}
