<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="!vm.initialized">
    <form class="rb-form" name="vm.form">
      <!-- resource type -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'resource_type' | translate}}</label>
          <rb-dropdown
            options="vm.schemaList"
            init="vm.selectedResourceType"
            on-change="vm.onResourceTypeSelected(option)"
            key="resource" value="resource"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>

      <!-- resource names -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'resource' | translate}}</label>
          <rb-tags-input flex="100"
                         init-tags="vm.initResourceNames"
                         placeholder="'resource_names_placeholder' | translate"
                         on-change="vm.onResourceNamesChange(tags)"
                         validate-fn="vm.resourceNameValiadteFn"></rb-tags-input>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>

      <!-- actions -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'action' | translate}}<span class="rb-required-mark">*</span></label>
          <rb-dropdown
            multiple="true"
            init="vm.initActions"
            has-error="vm.getActionsValidationState()"
            options="vm.resourceActions"
            on-add="vm.onResourceActionAdd(option)"
            on-remove="vm.onResourceActionRemove(option)"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>

      <!-- constraints -->
      <div class="rb-input-container" ng-if="vm.resourceConstraintFields.length">
        <div class="rb-input-field-container">
          <label>{{'constraints' | translate}}</label>
          <div class="rb-constraints-groups">
            <div ng-repeat="group in vm.resourceConstraints track by $index"
                 class="constraint-group">
              <div class="group-delete" ng-click="vm.deleteConstraintGroup($index)">
                <i class="fa fa-trash"></i>
              </div>
              <table class="table table-condensed">
                <thead>
                <tr>
                  <td style="width:100px;">{{'field'|translate}}</td>
                  <td>{{'value'|translate}}</td>
                  <td style="width:44px;"></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <rb-dropdown options="vm.resourceConstraintFields"
                                 filter-threshold="5"
                                 init="item.value"
                                 key="name"
                                 value="value"
                                 on-change="vm.onConstraintFieldSelected(option, group)"></rb-dropdown>
                  </td>
                  <td>
                    <div class="ui input fluid">
                      <input type="text" ng-model="group.inputConstraintValue">
                    </div>
                  </td>
                  <td>
                    <button type="button"
                            class="ui button tiny rb-btn-default"
                            ng-click="vm.addConstraintToGroup(group)">
                      {{'add' | translate}}
                    </button>
                  </td>
                </tr>
                <tr ng-repeat="item in group.constraints track by $index" class="rb-highlight">
                  <td>{{item.name}}</td>
                  <td>{{item.value}}</td>
                  <td>
                    <a class="rb-fieldset-action-btn"
                       ng-click="vm.deleteConstraintFromGroup(group, $index)">
                      <i class="fa fa-remove"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!--
            <table ng-repeat="group in vm.resourceConstraints track by $index" flex="100"
                   class="table-condensed rb-fieldset-table">
              <thead>
              <tr>
                <td>{{'field'|translate}}</td>
                <td style="width:100px;">{{'value'|translate}}</td>
                <td style="width:30px;"></td>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in group track by $index">
                <td>
                  <rb-dropdown options="vm.resourceConstraintFields"
                               filter-threshold="5"
                               init="item.value"
                               key="name"
                               value="value"
                               on-change="vm.onConstraintFieldSelected(option, item)"></rb-dropdown>
                </td>
                <td>
                  <div class="ui input">
                    <input type="text" ng-model="item.value">
                  </div>
                </td>
                <td>
                  <a class="rb-fieldset-action-btn" ng-click="vm.deleteConstraint(group, $index, $parent.$index)">
                    <i class="fa fa-remove"></i>
                  </a>
                </td>
              </tr>

              <tr>
                <td colspan="3">
                  <button type="button" ng-click="vm.addConstraint(group)" class="rb-fieldset-add-btn">
                    <i class="fa fa-plus"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            -->

            <div class="group-operation">
              <button type="button"
                      class="ui button tiny rb-btn-default"
                      ng-click="vm.addConstraintGroup()">
                {{'add_constraint_group' | translate}}
              </button>
            </div>

          </div>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>

    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-disabled="!vm.initialized"
              ng-click="vm.confirm()">
        {{'confirm' |
        translate}}
      </button>
    </div>
  </div>
</div>