@import '../../../core/styles/_colors.scss';

.steps-process {
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    &-num {
      width: 24px;
      height: 24px;
      border: 1px solid #999;
      border-radius: 50%;
      color: #999;
      line-height: 22px;
      text-align: center;
      &--active {
        border: 1px solid #009ce3;
        background: #009ce3;
        color: #fff;
      }
    }
    &-desc {
      color: #999;
      margin-left: 8px;
      &--on {
        color: #4d4d4d;
        font-size: 500;
      }
    }
    &-line {
      width: 96px;
      height: 1px;
      background: #999;
      margin: 0 12px;
      background: $color-info-dark;
    }
  }
  &__content--active {
    .steps-process__content-num {
      border: 1px solid #009ce3;
      background: #009ce3;
      color: #fff;
    }
    .steps-process__content-desc {
      color: #4d4d4d;
      font-size: 500;
    }
  }
}
