<div class="steps-process">
  <div *ngFor="let step of steps;let i = index;" [ngClass]="{'steps-process__content':true,'steps-process__content--active':i+1 <= currStep}">
    <div *ngIf="i >= 1" class="steps-process__content-line"></div>
    <div class="steps-process__content-num">
      <ng-container *ngIf="i+1 >= currStep">{{i+1}}</ng-container>
      <aui-icon size="22" *ngIf="i+1 < currStep" icon="check_circle_s"></aui-icon>
    </div>
    <div class="steps-process__content-desc">{{ step | translate }}</div>
  </div>
</div>
