<div class="rb-form-panel rb-load-balancer-service">
  <div class="rb-form-container" rb-loading-mask="vm.submitting || vm.loading">
    <ng-form name="vm.form" class="rb-form">
     <rb-service-create-kubernetes-service-table services="vm.services"
                                                 mode="update"
                                                 ports="vm.containerPorts"
                                                 service-name="vm.serviceName">
          </rb-service-create-kubernetes-service-table>
    </ng-form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default"
              ng-disabled="vm.submitting"
              ng-click="vm.cancel()">{{ 'cancel' | translate }}
      </button>
      <button type="button"
              class="ui button rb-btn-primary"
              ng-click="vm.save()"
              ng-disabled="vm.submitting">{{ 'save' | translate }}
      </button>
    </div>
  </div>
</div>