<rc-application-form *ngIf="type==='repo'" [projectName]="projectName" [namespaceName]="namespaceName" [clusterName]="clusterName"></rc-application-form>
<rc-application-yaml-form *ngIf="type==='yaml'" [projectName]="projectName" [namespaceName]="namespaceName" [clusterName]="clusterName"></rc-application-yaml-form>