<div class="rb-log-container">
  <ul class="rb-log-list">
    <li class="rb-log-item" ng-show="!vm.lastLogTime && vm.loading"><span class="log-message">{{ 'logs_poll_waiting' | translate }}</span>
    </li>
    <li class="rb-log-item" ng-show="!vm.lastLogTime && !vm.loading && !vm.waiting"><span class="log-message">{{ 'logs_none' | translate }}</span>
    </li>
    <li class="rb-log-item" ng-show="vm.waiting"><span class="log-message">{{ 'logs_server_busy' | translate }}</span>
    </li>
  </ul>
  <div
    ng-if="vm.history.status==='I'"
    ng-click="vm.clearLogs()"
    class="clear-button rb-icon-besom"></div>
</div>
