<rb-region-badge-option
  on-change-state="'app_service.app.list'"
  on-change-confirm="true">
</rb-region-badge-option>

<div rb-loading-mask="!vm.initialized || vm.submitting">
  <div class="rb-form-panel">
    <div class="rb-form-container">
      <div class="rb-horizontal-message rb-horizontal-message-center"
           style="width: auto;margin: 0 100px 20px 100px;line-height: 1.5em">
        <span class="fa fa-exclamation-circle"></span>
        <div ng-bind-html="vm.updateTips | markdown2html"></div>
      </div>
      <ng-form class="rb-form">
        <!-- app region -->
        <div class="rb-form-row input">
          <div class="rb-label" flex="20">
            {{ "app_area" | translate }}
          </div>
          <div flex="65">
            {{ vm.regionName }}
          </div>
        </div>

        <!-- app_name -->
        <div class="rb-form-row input">
          <div class="rb-label" flex="20">
            {{ "app_name" | translate }}
          </div>
          <div flex="65">
            {{ vm.app.app_name }}
          </div>
        </div>

        <!-- yml file -->
        <div class="rb-form-row input">
          <div class="rb-label" flex="20">
            {{ "yaml_compose_file" | translate }}
            <span class="rb-required-mark">*</span>
          </div>
          <div flex="65">
            <div style="width: 100%;">
              <ui-codemirror ui-codemirror-opts="vm.editorOptions"
                             ng-model="vm.yamlData"></ui-codemirror>
            </div>
          </div>
        </div>
      </ng-form>
    </div>

    <div class="rb-form-footer">
      <div flex="20"></div>
      <div class="rb-form-footer-buttons" flex="65">
        <button type="button"
                ng-click="vm.update()"
                class="ui button rb-btn-primary">{{ 'save' | translate }}
        </button>
        <button type="button" class="ui button rb-btn-default"
                ng-click="vm.cancel()">{{ 'cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
