@import 'colors.styles';
.rb-input-message.ui.popup {
  padding: 2px 4px;
  min-width: 30px;
  min-height: 15px;
  border-color: $form-text-error-color;
  background-color: $form-input-invalid-background-color;
}
.rb-input-message.ui.popup:before {
  box-shadow: 1px 1px 0 0 $form-text-error-color;
  background-color: $form-input-invalid-background-color;
}
