:host {
  .rb-form {
    ::ng-deep rc-single-selection-dropdown {
      flex: 1;
    }
  }
  ::ng-deep .rc-form-panel {
    border: 0px !important;
    padding: 0px 16px !important;
  }
  ::ng-deep {
    .ui.loader:after {
      border-color: #767676 transparent transparent !important;
    }
    .ui.loader:before {
      border-color: rgba(0, 0, 0, 0.1) !important;
    }
  }
}
