<rc-form-container [rcLoadingMask]="loading">
  <div>
    <form class="rb-form" *ngIf="instanceDetailData" #instanceCreateBindingForm="ngForm">
      <!-- 绑定应用程序 -->
      <rc-form-field label="{{'service_catalog_binding_application' | translate}}" [shouldFlexRow]="true" class="binding-app">
          <rc-single-selection-dropdown #singleDropdown
                                        [rcLoadingMask]="bingdingAppLoading"
                                        [placeholder]="bindingPlaceholder"
                                        required
                                        name="application"
                                        [options]="bingdingAppOptions"
                                        displayField="name"
                                        valueField="uuid"
                                        [(ngModel)]="binding_app_uuid"
                                        required>
          </rc-single-selection-dropdown>
      </rc-form-field>
      <!-- 参数 -->
      <rc-form-field *ngFor="let param of bindingCreateParameters" [label]="param[0]" [shouldFlexRow]="true" class="binding-app">
          <input rcInput
                 [name]="param[0]"
                 [type]="handleType(param[1].type)"
                 [(ngModel)]="bindingPayload.kubernetes.spec.parameters[param[0]]"
                 (ngModelChange)="handleType(param[1].type) === 'number' &&
                                  bindingPayload.kubernetes.spec.parameters[param[0]]=parseInt($event);">
          <span class="fa fa-question-circle description-question-circle"
                *ngIf="param[1].description"
                rcFormAddon
                [rcTooltip]="param[1].description"
                [rcTooltipInline]="false"
                rcTooltipMode="info"
                rcTooltipPosition="top center">
          </span>
      </rc-form-field>
    </form>
  </div>

  <ng-container *rcFooterContent>
    <div *ngIf="instanceDetailData">
      <button fxFlexOffset="200px" rcButton (click)="cancel()">{{'cancel' | translate}}</button>
      <button fxFlexOffset="12px" rcButton="primary"
              [loading]="submitting"
              (click)="confirm()">{{'bind' | translate}}</button>
    </div>
  </ng-container>
</rc-form-container>