@import 'colors.styles';
@import 'static/app/components/common/style/mixins';

.network-policy-tip {
  float: right;
  color: $status-color-info;
  font-size: 16px;
  padding-right: 10px;
  line-height: 28px;
  &.network-policy-tip-closed {
    color: $status-color-explanation;
  }
}
