<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_network'| translate }}
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      <a href="javascript:void(0)"
         [routerLink]="['/network_policy']">{{ 'network_policy'| translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'detail' | translate }}
    </ng-container>
  </rc-breadcrumb>
  <div class="network-policy-tip"
       [ngClass]="{'network-policy-tip-closed': networkPolicyTipClosed}"
       (click)="openNetworkPolicyTip()">
    <i class="fa fa-info-circle"
       [rcTooltip]="'network_policy_tip' | translate"
       rcTooltipMode="info"
       rcTooltipPosition="left center"></i>
  </div>
</div>
<rc-inline-notification *ngIf="!networkPolicyTipClosed"
                        type="info"
                        closable='true'
                        content="{{ 'network_policy_list_description' | translate }}"
                        (close)="onNetworkPolicyTipClosed()">
</rc-inline-notification>

<!--Explain why there is no data-->
<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
  <div *ngIf="!loadError">
    {{ "no_data" | translate }}
  </div>
  <div *ngIf="loadError">
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError"
          rcButton="primary"
          style="margin-top: 12px;"
          (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>
<!-- Service Basic Info -->
<div *ngIf="networkPolicyData" class="rc-detail-container">
  <div class="detail-icon">
    <img src="/static/images/network/network-policy.svg">
  </div>
  <div class="detail-wrapper">
    <div class="detail-header">
      <h3 [attr.title]="networkPolicyData?.kubernetes?.metadata?.name">{{networkPolicyData?.kubernetes?.metadata?.name}}</h3>
      <div class="detail-buttons">
        <button rcButton *ngIf="networkUtilities.canNetworkPolicyUpdate(networkPolicyData)"
                [disabled]="!networkUtilities.canNetworkPolicyUpdate(networkPolicyData)"
                (click)="updateNetworkPolicy(networkPolicyData)">{{'update' | translate}}
        </button>
        <button rcButton="secondary" *ngIf="networkUtilities.canNetworkPolicyDelete(networkPolicyData)"
                [disabled]="!networkUtilities.canNetworkPolicyDelete(networkPolicyData)"
                (click)="deleteNetworkPolicy(networkPolicyData)">{{'delete' | translate}}
        </button>
      </div>
    </div>
    <div class="detail-content">
      <!--命名空间-->
      <div class="detail-item">
        <label>{{ 'region_namespace' | translate }}</label>
        <div>{{networkPolicyData?.kubernetes?.metadata?.namespace}}</div>
      </div>
      <!--创建时间-->
      <div class="detail-item">
        <label>{{ 'created_at' | translate }}</label>
        <div>{{networkPolicyData?.kubernetes?.metadata?.creationTimestamp | rcFormatUtcStr}}</div>
      </div>
    </div>
  </div>
</div>

<rc-tab-group *ngIf="networkPolicyData">
  <!--Yaml-->
  <ng-container *rcTab="'yaml_compose_file' | translate">
    <rc-code-editor mode="yaml" [ngModel]="networkPolicyYaml" [readOnly]="true"></rc-code-editor>
  </ng-container>
  <!--事件-->
  <ng-container *rcTab="'events' | translate">
    <rc-event-list *ngIf="uuid" type="k8s_networkpolicies" [primaryKey]="uuid"></rc-event-list>
  </ng-container>
</rc-tab-group>
