@import 'colors.styles';
@import 'form.styles';

:host {
  .form-section-header {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px dashed $default-border-color;
    padding: 4px 0;
    margin-bottom: 20px;

    &__title {
      font-weight: 500;
      font-size: 18px;
    }

    > *:last-child {
      margin-right: 120px;
    }
  }

  form {
    margin-right: 20%;
    margin-left: 15%;
  }

  .integration-footer {
    margin-left: 15%;
  }

  .description-question-circle:hover {
    color: $blue-5;
  }

  .rc-form-field-value {
    display: flex;
    align-items: center;
  }

  ::ng-deep .rc-form-panel {
    border: 0px !important;
    padding: 0px 16px !important;
  }

  .detail-item.long-item {
    display: -webkit-box;
    height: auto !important;
    width: 100%;
    .long-content {
      white-space: normal;
      width: 90%;
    }
  }
}
