<rc-loading-mask [loading]="loading"></rc-loading-mask>
<div *ngIf="!loading" class="rc-detail-container">
  <div class="detail-icon">
    <img [src]="getImg(type.name)"
         [attr.data-standby]="type.logo"
         onerror="this.src=this.dataset.standby">
  </div>
  <div class="detail-wrapper">
    <div class="detail-content">
      <!--场景-->
      <div class="detail-item long-item">
        <label>{{'type' | translate}}</label>
        <div>{{ type.display_text || type.name }}</div>
      </div>
      <!--描述-->
      <div class="detail-item long-item">
        <label>{{'description' | translate}}</label>
        <div>{{ type.description || '-' }}</div>
      </div>
    </div>
  </div>
</div>


<rc-form-container *ngIf="!loading">
  <!-- 集成信息 -->
  <div class="form-section-header">
    <div class="form-section-header__title">{{ 'integration_info' | translate }}</div>
  </div>
  <div>
    <form class="rb-form" #integrationForm="ngForm">
      <!-- 资源空间 -->
      <rc-form-field *ngIf="!updateMode" 
                    label="{{'quota_space' | translate}}" 
                    [shouldFlexRow]="true">
        <rc-single-selection-dropdown #singleDropdown
                                      required
                                      name="quota_space"
                                      [options]="spaces"
                                      [(ngModel)]="basicFields.space_name"
                                      displayField="name"
                                      valueField="name">
        </rc-single-selection-dropdown>
      </rc-form-field>
      <div class="rc-form-field" *ngIf="updateMode">
        <label class="rc-form-field-label">{{ 'quota_space' | translate }} <span class="rc-required-mark">*</span></label>
        <div class="rc-form-field-value">{{basicFields.space_name}}</div>
      </div>
      <!-- 名称 -->
      <rc-form-field *ngIf="!updateMode" 
                    label="{{'name' | translate}}" 
                    [shouldFlexRow]="true">
        <input rcInput
              required
              name="name"
              pattern="^[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?$"
              maxlength="128"
              [(ngModel)]="basicFields.name">
      </rc-form-field>
      <div class="rc-form-field" *ngIf="updateMode">
        <label class="rc-form-field-label">{{ 'name' | translate }} <span class="rc-required-mark">*</span></label>
        <div class="rc-form-field-value">{{ basicFields.name }}</div>
      </div>

      <rc-form-field *ngFor="let field of configFields" 
                     [label]="field.display_text || field.name" 
                     [shouldFlexRow]="true">
        <input rcInput
               *ngIf="field.type!=='boolean'&&field.type!=='enum'"
               [name]="field.name"
               [type]="field.type"
               [min]="field.minimum"
               [max]="field.maximum"
               [minlength]="field.min_length || 0"
               [maxlength]="field.max_length || 256"
               [pattern]="field.pattern"
               [required]="field.required"
               [(ngModel)]="field.value">
        <rc-single-selection-dropdown *ngIf="field.type==='enum'"
                                      #singleDropdown
                                      [name]="field.name"
                                      [required]="field.required"
                                      [options]="field.enum"
                                      [placeholder]="(field.enum.length === 0 ? 'no_data' : 'please_select') | translate"
                                      [(ngModel)]="field.value">
        </rc-single-selection-dropdown>
        <rc-checkbox *ngIf="field.type==='boolean'"
                      [name]="field.name"
                      [required]="field.required"
                      [(ngModel)]="field.value">
        </rc-checkbox>
        <span class="fa fa-question-circle description-question-circle"
              *ngIf="field.description"
              rcFormAddon
              [rcTooltip]="field.description"
              [rcTooltipInline]="false"
              rcTooltipMode="info"
              rcTooltipPosition="top center">
        </span>
      </rc-form-field>

      <!-- 描述 -->
      <rc-form-field label="{{'description' | translate}}" [shouldFlexRow]="true">
        <input rcInput
              name="description"
              [(ngModel)]="basicFields.description">
      </rc-form-field>
      <!-- 创建后立即启用 -->
      <rc-form-field label="{{'integration_immediately_enabled' | translate}}" [shouldFlexRow]="true">
          <rc-checkbox name="immediately_enabled"
                       type="toggle"
                       [(ngModel)]="basicFields.enabled">
            </rc-checkbox>
      </rc-form-field>
    </form>
  </div>
  <ng-container *rcFooterContent>
    <div class="integration-footer">
      <button fxFlexOffset="140px" rcButton="primary"
              [loading]="submitting"
              (click)="submit()">{{ (updateMode ? 'save' : 'create') | translate}}</button>
      <button fxFlexOffset="12px" rcButton (click)="cancel()">{{'cancel' | translate}}</button>
    </div>
  </ng-container>
</rc-form-container>
