.cluster-card {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  color: inherit;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;

  &__header {
    display: flex;
    padding: 16px 16px 0;
  }

  &__status {
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 8px;
    align-items: center;
    justify-content: center;

    &--running {
      background-color: rgba(27, 179, 147, 0.1);
    }

    &--deploying {
      background-color: rgba(0, 156, 227, 0.1);
    }

    &--error {
      background-color: rgba(243, 66, 53, 0.1);
    }
  }

  &__info__wrapper {
    flex: 1;
    overflow: hidden;
  }

  &__info {
    display: flex;

    &__title {
      flex: 1;
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__icon {
      margin-left: 10px;

      &__wrapper {
        display: inline-flex;
        width: 16px;
        height: 16px;
        padding: 2px;
        border-radius: 2px;

        > img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__count {
    font-size: 13px;
    color: #999;
  }

  &__unnormal-nodes {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    align-items: center;
    color: #999;

    &__count {
      font-size: 32px;

      &--error {
        color: #f34235;
      }
    }
  }

  &__footer {
    display: flex;
    border-top: solid 1px #f2f2f2;
    padding: 16px 24px;

    .splitting {
      width: 1px;
      background-color: #f2f2f2;
    }

    &__usage {
      flex: 1;

      &:last-child {
        text-align: right;
      }

      > :first-child {
        color: #999;
      }

      &--warning {
        color: #f5a623;
      }
    }
  }
}
