<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
  <div *ngIf="!loadError">
    {{ "have_no_data" | translate }}
  </div>
  <div *ngIf="loadError">
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError"
          rcButton="primary"
          style="margin-top: 12px;"
          (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>

<div class="rc-detail-container" *ngIf="instanceData"
      style="margin-bottom: 0">
  <div>
    <div class="detail-icon">
      <span *ngIf="!status && !brokerStatus"
            class="fa fa-exclamation-circle service-catalog-warning-exclamation-circle"
            [rcTooltip]="'service_catalog_broker_instance_breakdown' | translate"
            [rcTooltipInline]="false"
            rcTooltipMode="warning"
            rcTooltipPosition="top">
      </span>
      <ng-container *ngIf="!status && brokerStatus">
        <span *ngIf="instanceData.kubernetes.status.conditions.length === 0; else statusBolck"
              class="fa fa-refresh service-catalog-sync-circle"
              [rcTooltip]="'status_creating' | translate"
              [rcTooltipInline]="false"
              rcTooltipMode="info"
              rcTooltipPosition="top"
        ></span>
        <ng-template #statusBolck>
          <span class="fa fa-exclamation-circle service-catalog-warning-exclamation-circle"
                [rcTooltip]="'service_catalog_instance_breakdown' | translate"
                [rcTooltipInline]="false"
                rcTooltipMode="warning"
                rcTooltipPosition="top">
          </span>
        </ng-template>
      </ng-container>
      <img src="/static/images/service-catalog/service-instance.svg"
            [ngClass]="{'service-catalog-error-image':!status}">
    </div>
    <div class="detail-wrapper">
      <div class="detail-header">
        <h3>{{instanceData?.kubernetes.metadata.name}}</h3>
        <div class="detail-buttons">
            <rc-button-menu *ngIf="serviceCatalogUtilities.showInstanceUpdate(instanceData)">
              <button rcButton rcButtonSize="small" rcButtonMenuDefault (click)="bindApp()">
                {{ 'service_catalog_binding_application' | translate}}
              </button>
              <button rcMenuButton (click)="updateParams()" [disabled]="!brokerStatus || !updateEnable">
                {{ 'service_catalog_update_params' | translate}}
              </button>
              <button rcMenuButton
                      *ngIf="serviceCatalogUtilities.showInstanceDelete(instanceData)"
                      (click)="deleteInstance()">{{ 'delete' | translate}}</button>
            </rc-button-menu>
        </div>
      </div>
      <div class="detail-content">
        <!--命名空间-->
        <div class="detail-item">
          <label>{{ 'namespace' | translate }}</label>
          <div>{{ instanceData?.kubernetes.metadata.namespace }}</div>
        </div>
        <!--Service Plan-->
        <div class="detail-item">
          <label>{{ 'service_catalog_plan' | translate }}</label>
          <div>{{ instanceData?.kubernetes.spec.clusterServicePlanExternalName }}</div>
        </div>
        <!--Service Class-->
        <div class="detail-item">
          <label>{{ 'nav_service_class' | translate }}</label>
          <div>{{ instanceData?.kubernetes.spec.clusterServiceClassExternalName }}</div>
        </div>
        <!--Broker-->
        <div class="detail-item">
          <label>{{ 'nav_service_broker' | translate }}</label>
          <div>{{ instanceData?.clusterserviceplans[0].spec.clusterServiceBrokerName }}</div>
        </div>
        <!--创建时间-->
        <div class="detail-item">
          <label>{{ 'created_at' | translate }}</label>
          <div>{{ instanceData?.kubernetes.metadata.creationTimestamp | rcFormatUtcStr}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<rc-tab-group class="rc-detail-tab" *ngIf="instanceData">
  <!--绑定应用程序-->
  <ng-container *rcTab="'service_catalog_binding_application' | translate">
    <rc-service-catalog-binding-app-list [instanceName]="instanceData.kubernetes.metadata.name"
                                         (updateListNumber)="bindingListNumber($event)"
                                         [serviceNamespace]="instanceData.kubernetes.metadata.namespace">
    </rc-service-catalog-binding-app-list>
  </ng-container>
  <!--Service Plan-->
  <ng-container *rcTab="'Service Plan'">
    <div>
      <h4>{{ instanceData?.clusterserviceplans[0].spec.externalName }}</h4>
      <ul class="service-plan-detail">
        <li *ngFor="let plan of instanceData.clusterserviceplans[0].spec.externalMetadata?.bullets">
          {{plan}}
        </li>
      </ul>
    </div>
  </ng-container>
  <!--参数配置-->
  <ng-container *rcTab="'service_catalog_instance_params' | translate">
    <form class="rb-form instance-parameters-form" #instanceUpdateParamsForm="ngForm">
      <rc-form-field *ngFor="let param of instanceParameters" [label]="param[0]+':'" [shouldFlexRow]="true">
        <input rcInput
               [value]="param[1]"
               readonly="readonly">
      </rc-form-field>
    </form>
    <div class="empty-message-container" *ngIf="instanceParameters.length === 0">
      <div class="empty-message">{{ 'service_catalog_instance_detail_params_empty' | translate }}</div>
    </div>
  </ng-container>
</rc-tab-group>
