@import 'colors.styles';
:host {
  form {
    ::ng-deep label.form-field-label {
      width: 180px;
      word-wrap: break-word;
      word-break: break-word;
    }

    input:read-only {
      border: 0px;
    }
  }

  .rc-detail-tab {
    min-height: 100px;
    margin-top: 30px;
  }

  .service-plan-detail {
    padding-left: 20px;
  }

  .empty-message-container {
    min-height: 60px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .empty-message {
    color: $gray-7;
  }

  .rb-form.instance-parameters-form {
    ::ng-deep .hint-label-wrapper {
      display: none;
    }
  }

  .detail-icon {
    span {
      position: absolute;
      top: 60px;
      left: 61px;
      font-size: 16px;
      z-index: 1;
    }
  }
}
