@import 'form.styles';

.form-field-text {
  display: flex;
  line-height: $form-row-height;
  margin-bottom: 8px;
}
.form-field-label {
  width: 140px;
  text-align: right;
  padding-right: 16px;
  font-weight: normal;
}
.field-bricks {
  display: flex;
  rc-form-field:first-child {
    ::ng-deep .addon-container {
      display: none;
    }
  }
  & > span {
    margin: 0 5px;
    line-height: $form-row-height;
  }
}
