<rc-form-container>
    <div [rcLoadingMask]="!initialized || submitting">
      <!-- region -->
      <form #volumeForm="ngForm">
        <div class="form-field-text">
          <label class="form-field-label">{{'region'|translate}}</label>
          <div class="form-field-value">{{region.display_name}}</div>
        </div>
        <!-- snapshot -->
        <!-- <div class="form-field-text" *ngIf="!!snapshot">
          <label class="form-field-label">{{'storage_snapshot'|translate}}</label>
          <div class="form-field-value">{{snapshot.name}}</div>
        </div>
        <rc-form-field label="{{'storage_snapshot'|translate}}" [shouldFlexRow]="true" *ngIf="!snapshot">
          <rc-single-selection-dropdown #snapshotDropdown
                                        name="snapshot"
                                        [options]="dropdowns.snapshot.options"
                                        [(ngModel)]="dataModel.snapshotId"
                                        displayField="name"
                                        valueField="id"
                                        (change)="onSnapshotChanged($event)">
          </rc-single-selection-dropdown>
        </rc-form-field> -->
        <!-- volume name -->
        <rc-form-field label="{{'storage_volume_name'|translate}}"
                       [shouldFlexRow]="true"
                       [hideErrors]="true">
          <input  rcInput
                  name="volumeName"
                  [rcErrorsTooltip]
                  [rcErrorsTooltipMapper]="errorMappers.name"
                  [(ngModel)]="dataModel.name"
                  pattern="^[a-z][a-z0-9\-\_]*$"
                  placeholder="{{'storage_volume_name'|translate}}"
                  required>
        </rc-form-field>
        <!-- driver type -->
        <rc-form-field label="{{'storage_volume_driver_type'|translate}}" 
                       [shouldFlexRow]="true">
          <rc-single-selection-dropdown #driverTypeDropdown
                                        required
                                        name="driverType"
                                        [options]="dropdowns.driverType.options"
                                        [(ngModel)]="dataModel.driverName"
                                        displayField="displayName"
                                        valueField="driver"
                                        (change)="driverTypeChanged($event)">
                                        <!-- [disabled]="dataModel.snapshotId!=='undefined'"> -->
          </rc-single-selection-dropdown>
        </rc-form-field>
        <!-- volume size -->
        <rc-form-field label="{{'storage_volume_size_alt'|translate}}"
                       [shouldFlexRow]="true"
                       [hideErrors]="true"
                       *ngIf="shouldShowVolumeSize">
          <input rcInput
                  type="number"
                  name="volumeSize"
                  [rcErrorsTooltip]
                  [rcErrorsTooltipMapper]="errorMappers.size"
                  [(ngModel)]="dataModel.size"
                  pattern="^[0-9]*$"
                  placeholder="{{volumeSizeRange.min + ' - ' + volumeSizeRange.max}}"
                  [min]="volumeSizeRange.min"
                  [max]="volumeSizeRange.max"
                  required>
          <div rcFormSuffix>GB</div>
        </rc-form-field>
        <!-- volume type -->
        <rc-form-field label="{{'storage_volume_type'|translate}}" [shouldFlexRow]="true" *ngIf="shouldShowVolumeType">
          <rc-single-selection-dropdown #volumeTypeDropdown
                                        required
                                        name="volumeType"
                                        [options]="volumeTypes"
                                        [(ngModel)]="dataModel.volumeType">
          </rc-single-selection-dropdown>
        </rc-form-field>
        <!-- bricks -->
        <div class="field-bricks" *ngIf="shouldShowBricks">
          <rc-form-field label="{{'storage_volume_brick_path'|translate}}"
                         [shouldFlexRow]="true">
            <input rcInput
                   name="bricksNode"
                   [(ngModel)]="dataModel.bricksNode"
                   placeholder="eg., 192.168.0.1"
                   required>
          </rc-form-field>
          <span>:</span>
          <rc-form-field [shouldFlexRow]="true">
            <input rcInput
                    name="bricksPath"
                    [(ngModel)]="dataModel.bricksPath"
                    placeholder="eg., /var/lib/mysql"
                    required>
          </rc-form-field>
        </div>
      </form>
      <ng-container *rcFooterContent>
        <button rcButton
                (click)="cancel(volumeForm)"
                [disabled]="submitting">
          {{'cancel'|translate}}
        </button>
        <button rcButton="primary"
                (click)="submit($event)"
                [class.loading] = "submitting">
          {{'create'|translate}}
        </button>
      </ng-container>
    </div>
  </rc-form-container>
