<form
  #createForm="ngForm"
  style="padding-top: 20px"
  (ngSubmit)="submit()"
>
  <rc-form-field label="{{ 'build_code_repo_client'| translate }}">
    <rc-radio-group
      name="type"
      [options]="sourceList"
      displayField="name"
      valueField="value"
      [(ngModel)]="model.type"
    >
    </rc-radio-group>
  </rc-form-field>
  <rc-form-field label="{{ 'jenkins_code_repository_address'| translate }}">
    <input
      rcInput
      name="url"
      pattern="^(http(s?):\/\/.+)|(git@.+:.+)|(ssh:\/\/.+@.+)|(git:\/\/.+)"
      placeholder="{{(['GIT'].includes(model.type)? 'jenkins_git_repo_address_example':'jenkins_svn_repo_address_example') | translate}}"
      [(ngModel)]="model.url"
      required
    >
  </rc-form-field>
  <rc-form-field
    *ngIf="model.type === 'GIT'"
    label="{{ 'build_config_code_branch'| translate }}"
    [shouldFlexRow]="true"
  >
    <input
      rcInput
      name="branch"
      [(ngModel)]="model.branch"
      required
    >
  </rc-form-field>
  <rc-form-field
    label="{{ 'username'| translate }}"
    [shouldFlexRow]="true"
  >
    <input
      rcInput
      name="username"
      [(ngModel)]="model.username"
    >
  </rc-form-field>
  <rc-form-field
    label="{{ 'password'| translate }}"
    [shouldFlexRow]="true"
  >
    <input
      rcInput
      type="password"
      name="password"
      [(ngModel)]="model.password"
    >
  </rc-form-field>
  <div class="modal-footer">
    <button
      rcButton
      (click)="cancel()"
    >
      {{ 'cancel' | translate }}
    </button>
    <button
      rcButton="primary"
      [class.loading]="submitting"
      [disabled]="!form.valid || this.submitting"
      (click)="form.onSubmit()"
    >
      {{ 'jenkins_template_save_and_sync' | translate }}
    </button>
  </div>
</form>
