<div class="rc-form-field-column"
     [class.should-flex-row]="shouldFlexRow">
  <label class="form-field-label"
         *ngIf="label"
         [for]="formFieldControl.id">
    {{ label }}
    <span *ngIf="formFieldControl.required"
          class="required-mark">*</span>
  </label>

  <div class="main-wrapper"
       [class.should-flex-row]="shouldFlexRow">
    <div class="form-main-container"
         [class.should-flex-row]="shouldFlexRow">
      <div class="form-input-row"
           [ngClass]="{'form-input-row-suffix': !!formSuffix}">
        <div *ngIf="formPrefix"
             class="form-input-prefix">
          <ng-content select="[rcFormPrefix]"></ng-content>
        </div>
        <ng-content></ng-content>
        <div *ngIf="formSuffix"
             class="form-input-suffix">
          <ng-content select="[rcFormSuffix]"></ng-content>
        </div>
        <div *ngIf="!hideErrors && formFieldControl.ngControl"
             class="errors-anchor"
             [rcErrorsTooltip]="formFieldControl.ngControl"
             [rcErrorsTooltipMapper]="errorsMapper">
        </div>
      </div>
      <div class="hint-label-wrapper"
           *ngIf="!parentField || hintLabel">
        <div class="hint-label-spacer"></div>
        <span class="hint-label">{{ hintLabel }}</span>
      </div>
    </div>

    <!-- If this form field is contained within another field, then hide the addon container -->
    <div class="addon-container"
         *ngIf="!parentField">
      <ng-content *ngIf="formAddon"
                  select="[rcFormAddon]"></ng-content>
    </div>
  </div>
</div>
