@import 'colors.styles';
@import 'form.styles';

$label-color: #4d4d4d;
$label-width: 140px;
$addon-container-size: 24px;
$addon-font-size: 16px;
$form-field-bottom-margin: 16px;

:host {
  display: flex;
  position: relative;
}

.rc-form-field-column {
  display: flex;
  position: relative;

  flex-direction: column;

  &.should-flex-row {
    flex: 1;
  }

  label.form-field-label {
    justify-content: unset;
  }

  .main-wrapper {
    display: flex;

    &.should-flex-row {
      flex: 1;
    }
  }
}

label.form-field-label {
  display: flex;
  width: $label-width;
  flex-shrink: 0;
  font-size: $form-font-size;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  font-weight: 400;
  margin-bottom: 0;
  padding-right: 16px;
  color: $label-color;
  overflow-wrap: break-word;
  height: $form-row-height;
}

.form-main-container {
  display: flex;
  flex-flow: column;
  position: relative;

  > * {
    justify-content: stretch;
  }

  &.should-flex-row {
    flex: 1;
    min-width: 0;
    > .form-input-row {
      align-self: stretch;
      // fix rc-single-dropdown width not correct
      // 可能需要利用directive给form-field-control的form-control加一个统一的class控制类似行为
      ::ng-deep > rc-single-selection-dropdown {
        flex: 1;
        min-width: 0;
      }
      ::ng-deep > rc-multi-selection-dropdown {
        flex: 1;
      }
    }
  }
}

.form-input-row {
  display: flex;
  align-items: center;
  min-height: $form-row-height;
  position: relative;
  align-self: flex-start;

  .content-wrapper {
    position: relative;
  }

  .errors-anchor {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
  }

  &::ng-deep > input {
    flex: 1;
  }

  .form-input-prefix,
  .form-input-suffix {
    display: flex;
    flex-grow: 0;
    align-self: stretch;
    align-items: center;
    padding: 0 8px;
    border: 1px solid $form-input-border-color;
  }

  .form-input-prefix {
    border-right: none;
    border-radius: 5px 0 0 5px;
  }
  .form-input-suffix {
    border-left: none;
    border-radius: 0 5px 5px 0;
  }
}
.form-input-row-suffix {
  &::ng-deep > input {
    border-radius: 5px 0 0 5px;
  }
}

.hint-label-wrapper {
  display: flex;
  height: $form-field-bottom-margin;
  .hint-label-spacer {
    flex: 1 0 1em;
  }
  .hint-label {
    font-size: 75%;
    color: rgba(0, 0, 0, 0.54);
  }
}

.required-mark {
  color: #fc5d68;
  padding-left: 4px;
}

.addon-container {
  min-width: $addon-container-size;
  height: $form-row-height;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: $addon-font-size;
  color: #e2e2e2;
  padding-left: 8px;
}

/* Nested fields styles */
:host::ng-deep rc-form-field {
  &:not(:last-of-type) {
    margin-right: 16px;
  }

  .hint-label-wrapper {
    height: auto;
  }
}
