@import 'colors.styles';

:host {
  display: inline-flex;
  align-items: center;
  padding: 4px 0;
  font-size: 14px;
  border-radius: 3px;
}

.breadcrumb-item {
  color: $silver-8;
  padding-right: 4px;
  &:last-child {
    color: $silver-9;
    padding-right: 0;

    > .breadcrumb-separator {
      display: none;
    }
  }
}
