<div class="empty-page-container">
  <img class="empty-view-image" src="/static/images/app-catalog/app-catalog-empty.png" alt="empty-icon">
  <div class="empty-view-title">{{ empty_view_title | translate }}</div>

  <div class="catalog-description">
    <div>{{ 'app_catalog_platform_empty' | translate : {type:nav_type | translate} }}</div>
  </div>
</div>
