.rb-console {
  .rb-loading-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.05);
    opacity: 1;
    transition: opacity 0.5s;

    &.ng-hide {
      opacity: 0;
    }

    /* Make sure the contents (spinner, text) are always centered: */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .loading-text {
      margin-top: 20px;
    }
  }

  .rb-loading-mask-placeholder {
    min-height: 80px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #a1a1a1;
    flex-direction: column;
    .rb-loading-mask {
      background: transparent;
    }
  }
}
