<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_network'| translate }}
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'network_policy'| translate }}
    </ng-container>
  </rc-breadcrumb>
  <div class="network-policy-tip"
       [ngClass]="{'network-policy-tip-closed': networkPolicyTipClosed}"
       (click)="openNetworkPolicyTip()">
    <i class="fa fa-info-circle"
       [rcTooltip]="'network_policy_tip' | translate"
       rcTooltipMode="info"
       rcTooltipPosition="left center"></i>
  </div>
</div>

<rc-inline-notification *ngIf="!networkPolicyTipClosed"
                        type="info"
                        closable='true'
                        content="{{ 'network_policy_list_description' | translate }}"
                        (close)="onNetworkPolicyTipClosed()">
</rc-inline-notification>

<div fxLayout="row"
     class="rc-list-header">
  <div>
    <button rcButton="primary"
            *ngIf="networkPolicyCreateEnabled"
            (click)="create()">
      {{ "network_policy_create" | translate }}
    </button>
  </div>
  <span fxFlex></span>
  <div class="search">
    <i class="icon search"></i>
    <input class="filter-input"
           [(ngModel)]="filterKey"
           placeholder="{{ 'filter_by_name_placeholder' | translate }}">
  </div>
  <button rcIconButton
          [disabled]="loading"
          [loading]="loading"
          (click)="refetch()"
          class="refresh-button">
    <i class="fa fa-refresh"></i>
  </button>
</div>

<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<!-- network policy list-->
<div class="rc-list-container" *ngIf="!loading">
  <rc-table #npTable
            class="rc-primary-table"
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowHeight]="82"
            [rows]="getNetworkPolicyList()">
    <rc-table-col name="{{ 'name'| translate }}"
                  [width]="350"
                  [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <img src="/static/images/network/network-policy.svg">
          <div class="rc-lines">
            <div class="rc-line">
              <a href="javascript:void(0)"
                 title="{{rowData.kubernetes.metadata.name}}"
                 [routerLink]="['/network_policy/detail', region.id, rowData.kubernetes.metadata.namespace, rowData.kubernetes.metadata.name]">{{ rowData.kubernetes.metadata.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>
    <!-- namespace -->
    <rc-table-col name="{{ 'namespace'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          {{ rowData.kubernetes.metadata.namespace }}
        </div>
      </div>
    </rc-table-col>
    <!-- label -->

    <!-- create time -->
    <rc-table-col name="{{ 'created_time'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          {{ rowData.kubernetes.metadata.creationTimestamp | rcFormatUtcStr}}
        </div>
      </div>
    </rc-table-col>
    <!-- action -->
    <rc-table-col name="{{ 'action'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <rc-button-menu>
          <button rcButton
                  rcButtonSize="small" rcButtonMenuDefault
                  *ngIf="networkService.canNetworkPolicyAction(rowData, 'view')"
                  (click)="viewNetworkPolicy(rowData)">
            {{ 'view' | translate }}
          </button>
          <button rcMenuButton
                  *ngIf="networkService.canNetworkPolicyAction(rowData, 'update')"
                  (click)="updateNetworkPolicy(rowData)">
            {{ 'update' | translate }}
          </button>
          <button rcMenuButton
                  *ngIf="networkService.canNetworkPolicyAction(rowData, 'delete')"
                  (click)="deleteNetworkPolicy(rowData)">{{ 'delete' | translate }}</button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>
  <div *ngIf="empty && !loading">
      <div class="rb-loading-mask-placeholder">
        <div *ngIf="loadError">
          {{ 'data_load_error' | translate }}
        </div>
        <button *ngIf="loadError"
                rcButton="primary"
                style="margin-top: 12px;"
                (click)="refetch()">
          {{ 'refresh' | translate }}
        </button>
      </div>
    </div>
</div>
