@import 'colors.styles';
@import 'static/app/components/common/style/mixins';

.network-policy-tip {
  float: right;
  color: $status-color-info;
  font-size: 16px;
  padding-right: 10px;
  line-height: 28px;
  &.network-policy-tip-closed {
    color: $status-color-explanation;
  }
}

.refresh-button {
  margin-left: 10px;
  &:hover {
    i {
      color: $button-default-hover-border-color;
    }
  }
}

.rc-list-header {
  margin: 8px 0 16px;
  .search-input {
    margin-right: 8px;
    input {
      border-radius: 5px 0 0 5px;
      min-width: 24rem;
    }
    button {
      border-radius: 0 5px 5px 0;
      margin-left: -1px;
    }
  }
  rc-search-input {
    margin-right: 8px;
  }
}

.rc-list-container {
  margin-bottom: 16px;
}

.search {
  position: relative;
  color: #ccc;

  .filter-input {
    border: 1px solid $form-input-border-color;
    border-radius: 5px;
    width: 345px;
    height: 32px;
    padding-left: 25px;

    &::placeholder {
      color: #ccc;
    }
  }
  .icon.search {
    position: absolute;
    left: 6px;
    top: 6px;
  }
}

.rc-lines {
  overflow: hidden;
  .rc-line {
    a {
      @include truncate-anchor;
    }
  }
}
