:host {
  cursor: pointer;
  background: transparent;
  color: #fff;
  padding-right: 12px;
}

.text {
  display: flex;
  align-items: center;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
}

.caret {
  margin-right: 8px;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.rb-user-logo {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.ui.dropdown .menu > .item {
  font-size: 14px;
  margin: 8px 4px;

  .fa {
    width: 16px;
    text-align: center;
  }
}
