<div class="text"
     [auiDropdown]="menu">
  <span>{{ account.username || account.namespace }}</span>
  <i class="caret"></i>
  <img class="rb-user-logo"
       [src]="(profile && profile.logo_file | rcUrlProxy) | async" />
</div>

<aui-menu #menu>
  <aui-menu-item *ngIf="weblabs.USER_VIEW_ENABLED"
                 (click)="switchToUserView()">
    <i class="fa fa-gear"></i>
    {{ 'users_view' | translate }}</aui-menu-item>
  <aui-menu-item rcRouterStateLink="user">
    <i class="fa fa-user"></i>
    {{ (account.username ? 'user_center' : 'account_center') | translate }}</aui-menu-item>
  <aui-menu-item (click)="translate.changeLanguage()">
    <i class="fa fa-globe"></i>
    {{ translate.otherLang | translate }}</aui-menu-item>
  <aui-menu-item (click)="logout()">
    <i class="fa fa-sign-out"></i>
    {{ 'logout' | translate }}</aui-menu-item>
</aui-menu>
