<div style="font-size: 12px;">
  {{ 'password_strength' | translate }}:
  <span ng-style="{ 'color': vm.getStrengthLabelAndColor().color }">
    {{ vm.getStrengthLabelAndColor().label | translate }}
  </span>
</div>
