@import 'colors.styles';

.rc-alarm-status {
  display: flex;
  font-size: 14px;
  align-items: center;
}
.rc-alarm-status-alarm {
  color: $status-color-error;
}
.rc-alarm-status-insufficient-data {
  color: $status-color-in-process;
}
.rc-alarm-status-ok {
  color: $status-color-success;
}
.rc-alarm-status-separator {
  background-color: #d8d8d8;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  margin: 0 6px;
}
