<div class="rc-alarm-status">
  <span [ngClass]="statusClass">
    {{ statusStat.alarm }} {{ 'alarm' | translate }}
  </span>
  <span *ngIf="statusStat.alarm_ack" class="rc-alarm-status-separator"></span>
  <span *ngIf="statusStat.alarm_ack" class="rc-alarm-status-ok">{{ statusStat.alarm_ack}} {{'alarm_status_ack' | translate }}</span>
</div>