<div class="rb-form-panel" rb-loading-mask="vm.submitting">
  <div class="rb-form-container">
    <form class="rb-form" name="vm.scalingForm">
      <div class="rb-input-container">
        <!-- scaling mode -->
        <div class="rb-input-field-container">
          <label>{{'scaling_mode' | translate}}</label>
          <rb-radio-group options="vm.getScalingModeOptions()"
                          init="vm.scalingMode"
                          key="name"
                          value="value"
                          on-change="vm.onScalingModeChange(option)"></rb-radio-group>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <div ng-if="vm.scalingMode === 'MANUAL'">
        <!-- target instance number -->
        <div class="rb-input-container">
          <div class="rb-input-field-container">
            <label>{{'instance_num' | translate}}</label>
            <input class="rb-input"
                   type="number"
                   name="target_instance_number"
                   ng-model="vm.target_num_instances"
                   placeholder="1-200"
                   min="1"
                   max="200"
                   ng-disabled="vm.disableInstanceNumber"
                   ng-readonly="vm.disableInstanceNumber"
                   required>
            <div class="rb-input-field-addon"></div>
          </div>
          <div class="rb-input-hint-container"></div>
        </div>
      </div>

      <div ng-if="vm.scalingMode === 'AUTO'" class="rb-service-scaling-config">
        <div class="rb-scaling-config-row">
          <div>{{'auto_scaling_metric_name' | translate}}</div>
          <div>
            <rb-dropdown options="vm.metricNames"
                         key="name"
                         value="value"
                         init="vm.autoscaling_config.metric_name"
                         on-change="vm.onMetricNameChange(option)"></rb-dropdown>
          </div>
          <div>{{'metric_status' | translate}}</div>
          <div>
            <rb-dropdown options="vm.metricTypes"
                         key="name"
                         value="value"
                         init="vm.autoscaling_config.metric_stat"
                         on-change="vm.onMetricTypeChange(option)"></rb-dropdown>
          </div>
        </div>

        <div class="rb-scaling-config-row">
          <div>{{'lower_threshold' | translate}}</div>
          <div>
            <div class="ui fluid labeled input">
              <input name="lower_threshold"
                     type="number"
                     step="1"
                     ng-pattern="/^\d+$/"
                     placeholder="0-100"
                     max="100"
                     min="0"
                     ng-model="vm.autoscaling_config.lower_threshold"
                     required>
              <div class="ui label">%</div>
            </div>
          </div>
          <div>{{'upper_threshold' | translate}}</div>
          <div>
            <div class="ui fluid labeled input">
              <input name="upper_threshold"
                     type="number"
                     step="1"
                     ng-pattern="/^\d+$/"
                     placeholder="0-100"
                     max="100"
                     min="0"
                     ng-model="vm.autoscaling_config.upper_threshold"
                     rb-higher-than="{{ vm.autoscaling_config.lower_threshold }}"
                     required>
              <div class="ui label">%</div>
            </div>
          </div>
        </div>

        <div class="rb-scaling-config-row">
          <div>{{'min_num_instances' | translate}}</div>
          <div>
            <div class="ui input mini fluid">
              <input name="minimum_num_instances"
                     type="number"
                     ng-pattern="/^\d+$/"
                     placeholder="1-200"
                     max="200"
                     min="1"
                     ng-model="vm.autoscaling_config.minimum_num_instances"
                     required>
            </div>
          </div>
          <div>{{'max_num_instances' | translate}}</div>
          <div>
            <div class="ui input mini fluid">
              <input name="maximum_num_instances"
                     type="number"
                     ng-pattern="/^\d+$/"
                     placeholder="1-200"
                     max="200"
                     min="1"
                     ng-model="vm.autoscaling_config.maximum_num_instances"
                     required>
            </div>
          </div>
        </div>

        <div class="rb-scaling-config-row">
          <div>{{'decrease_delta' | translate}}</div>
          <div>
            <div class="ui input mini fluid">
              <input type="number"
                     ng-pattern="/^\d+$/"
                     placeholder="1-200"
                     max="200"
                     min="1"
                     ng-model="vm.autoscaling_config.decrease_delta"
                     required>
            </div>
          </div>
          <div>{{'increase_delta' | translate}}</div>
          <div>
            <div class="ui input mini fluid">
              <input name="increase_delta"
                     type="number"
                     ng-pattern="/^\d+$/"
                     placeholder="1-200"
                     max="200"
                     min="1"
                     ng-model="vm.autoscaling_config.increase_delta"
                     required>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.confirm()">{{'confirm' |
        translate}}
      </button>
    </div>
  </div>
</div>