.rb-service-scaling-config {
  .rb-scaling-config-row {
    //padding: 0 16px;
    display: flex;
    line-height: 30px;
    padding: 0 32px 16px 0;
    > div {
      word-break: break-all;
    }
    > div:nth-child(odd) {
      text-align: right;
      padding-right: 16px;
      color: #a1a1a1;
      flex: 0 0 140px;
    }
    > div:nth-child(even) {
      color: #666;
      flex: 1;
    }
    rb-dropdown {
      min-width: 10em;
    }
  }
  .rb-horizontal-message {
    margin-bottom: 24px;
  }
  .scaling-config-content {
    display: flex;
    justify-content: space-between;
    .scaling-config-partial {
      width: 49%;
      position: relative;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12);
      min-height: 300px;
      //display: flex;
      //flex-direction: column;
      padding: 24px;
      label {
        display: block;
        font-weight: 400;
        padding: 8px 0;
      }
      .partial-header {
        position: absolute;
        top: -12px;
        left: calc(50% - 40px);
        width: 80px;
        height: 24px;
        line-height: 22px;
        border: 1px solid #dedede;
        border-radius: 20px;
        background-color: #fff;
        text-align: center;
      }
      .scaling-alarm-partial {
        display: flex;
        align-items: center;
        label,
        rb-dropdown {
          margin-right: 8px;
        }
      }
      .scaling-alarm-list {
        .scaling-alarm-empty {
          font-size: 14px;
          min-height: 30px;
          display: flex;
          flex: 1;
          align-items: center;
          color: #a1a1a1;
        }
        .scaling-alarm-item {
          position: relative;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          color: #2a8baf;
          padding-left: 16px;
          word-break: break-all;
          .alarm-item-status {
            position: absolute;
            transform: scale(0.8);
            left: 0;
            &.alarm-item-staus-ok {
              color: #72c63d;
            }
            &.alarm-item-staus-alarm {
              color: #fc5d68;
            }
            &.alarm-item-staus-insufficient_data {
              color: #0badeb;
            }
            &.alarm-item-staus-error {
              color: #fc5d68;
            }
            &.alarm-item-staus-insufficient_res {
              color: #0badeb;
            }
          }
        }
      }
    }
  }
}
