<div
  class="rc-card"
  [class.rc-card--fit-parent]="fitParent">
  <div
    *ngIf="title || headerRef"
    class="rc-card__header">
    <div *ngIf="title" class="rc-card__title">{{ title }}</div>
    <ng-content select="[rcCardHeader]"></ng-content>
  </div>
  <div
    class="rc-card__content">
    <ng-content></ng-content>
  </div>
  <div
    *ngIf="footnote"
    class="rc-card__footer">
    <div class="rc-card__footnote">
      {{ footnote }}
    </div>
  </div>
</div>