@import 'static/app2/shared/styles/colors.styles';

.rc-card {
  $header-height: 30px;

  background: #ffffff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;

  &--fit-parent {
    height: 100%;
    display: flex;
    flex-direction: column;

    .rc-card__content {
      height: 100%;
    }
  }

  &__header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: $header-height;
    padding: 0 12px;
    background-color: #eff2f4;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #9da4af;
  }

  &__content {
    padding: 12px;
    overflow: hidden;
  }

  &__footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    height: 16px;
    background-color: #f1f4f6;
  }

  &__footnote {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    color: #d3d3d3;
  }
}
