.rb-modal {
  min-width: auto !important;
  max-width: none !important;
}

rb-license-tip-modal {
  .forgr-header {
    font-size: 20px;
    height: 60px;
    line-height: 33px;
    font-weight: 400;
    color: #464646;
    background-color: #f6f6f6;
    border-bottom: none;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
    padding: 1.25rem 1.5rem;
    .fa {
      line-height: 33px;
      font-size: 16px;
      float: right;
      color: #b4b4b4;
      cursor: pointer;
      transition: color 0.3s;
    }
  }

  .license-modal-box-modal {
    padding: 16px 20px;
    .fa {
      position: absolute;
      left: 20px;
      display: flex;
      width: 24px;
      height: 24px;
      font-size: 24px;
      align-items: center;
      justify-content: center;
      color: #f8c073;
    }
    .license-modal-box-modal-content {
      padding: 0 0 33px 30px;
      .content {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .header {
      font-size: 18px;
      line-height: 24px;
    }
    .footer {
      padding: 80px 0 0;
      div {
        font-size: 12px;
        line-height: 1.5;

        &:nth-child(2) {
          margin-top: 6px;
        }
        &:nth-child(3) {
          margin-top: 2px;
        }
      }
    }
  }
  .license-normal-box-modal {
    padding: 32px;
    .main-container {
      flex: 1;
      flex-shrink: 0;
      display: flex;
      margin-bottom: 24px;
      .confirm-box-info-icon {
        display: flex;
        width: 24px;
        height: 24px;
        font-size: 24px;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        color: #f8c073;
      }
      .fa-exclamation-triangle {
        color: #f38686;
      }

      .content-container {
        flex: 1;
        .confirm-title {
          font-size: 18px;
          line-height: 24px;
          text-align: left;
          word-wrap: break-word;
          font-weight: 500;
          margin-bottom: 8px;
        }

        .confirm-content {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    .confirm-box-footer {
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 10px;
      }
    }
  }
}
