<div class="rb-form-container">
  <ng-form class="rb-form" name="vm.basicForm">
    <!-- region_name -->
    <div class="rb-form-row input">
      <div class="rb-label">
        {{ "service_area" | translate }}
      </div>
      <div>{{ vm.region.display_name }}</div>
    </div>

    <!-- quota_space -->
    <div class="rb-form-row input" ng-if="vm.quotaEnabled">
      <div class="rb-label">
        {{ "quota_space" | translate }}
      </div>
      <div flex="50" rb-loading-mask="vm.loadingSpaces">
        <div ng-if="!vm.spaces.length" style="color: #fc5d68">
          {{ 'quota_space_required' | translate }}
        </div>
        <rb-dropdown ng-if="vm.spaces.length"
                     options="vm.spaces"
                     value="name"
                     key="name"
                     filter-threshold="5"
                     on-change="vm.onSpaceChanged(option)"></rb-dropdown>
      </div>
    </div>

    <!-- image_name -->
    <div class="rb-form-row input">
      <div class="rb-label">
        {{ "image_repo" | translate }}
      </div>
      <div flex="50">
        {{ vm.model.image_name }}
      </div>
    </div>

    <!-- image_tag -->
    <div class="rb-form-row input">
      <div class="rb-label">
        {{ "image_tag" | translate }}
        <span class="rb-required-mark">*</span>
      </div>
      <div flex="50">
        <rb-dropdown ng-if="vm.imageTags.length && !vm.imageTagsLoading"
                     options="vm.imageTags"
                     key="tag_name"
                     value="tag_name"
                     html-key="tag_display"
                     filter-threshold="5"
                     on-change="vm.onImageTagChange(option)"></rb-dropdown>
        <div class="ui mini fluid input" ng-if="!vm.imageTags.length">
          <input
            type="text"
            ng-model="vm.model.image_tag"
            ng-model-options="{ debounce: 500 }"
            rb-errors-tooltip
            name="image_tag"
            ng-pattern="/^[A-Za-z0-9-_.]+$/"
            required
            placeholder="{{ 'tag_name_placeholder' | translate }}">
        </div>
      </div>
    </div>

    <!-- service_name -->
    <div class="rb-form-row input">
      <div class="rb-label">
        {{ "service_name" | translate }}
        <span class="rb-required-mark">*</span>
      </div>
      <div flex="50" class="ui mini fluid input icon"
           ng-class="{'loading': vm.form['service_name']['$pending']}">
        <input
          type="text"
          ng-model="vm.model.service_name"
          ng-model-options="{ debounce: 500 }"
          rb-errors-tooltip
          rb-errors-tooltip-mapper="{
            'required': ('name_required' | translate),
            'pattern': (vm.resourceNameBaseRegExp.tip | translate),
            'nameError': (vm.serviceNameErrorCode | translate)
          }"
          name="service_name"
          ng-pattern="vm.resourceNameBaseRegExp.pattern"
          ng-maxlength="32"
          required
          ui-validate-async="{nameError: 'vm.validateServiceNameAsync($value)'}"
          placeholder="{{ 'service_name' | translate }}">
        <i class="icon" ng-class="{'checkmark': vm.model.service_name}"></i>
      </div>
    </div>

    <!-- deploy model -->
    <div ng-if="vm.deployModelEnabled()" class="rb-form-row input">
      <div class="rb-label">
        {{ 'service_create_deploy_model' | translate }}
      </div>
      <div flex="50">
        <rb-radio-group options="vm.serviceDeployModels"
                        key="key"
                        value="value"
                        on-change="vm.onServiceDeployModelChange(option)"></rb-radio-group>
      </div>
    </div>

    <div class="rb-form-row input">
      <div class="rb-label">
        {{ "service_create_auto_run" | translate }}
      </div>
      <div flex="50">
        <div class="ui toggle checkbox">
          <input
            type="checkbox"
            name="service_create_auto_run"
            ng-model="vm.model.autoStart">
          <label></label>
        </div>
      </div>
    </div>

    <!-- instance_size -->
    <div class="rb-form-row input">
      <div class="rb-label">
        {{ "instance_size" | translate }}
      </div>
      <div flex="50">
        <rb-service-fieldset-instance-size-new on-change="vm.onInstanceSizeChange(instance_size, config)"
                                           region="vm.currentRegion"></rb-service-fieldset-instance-size-new>
      </div>
    </div>

    <!-- service_labels -->
    <div class="rb-form-row input" ng-if="vm.affinityEnabled()">
      <div class="rb-label">
        {{ "service_labels" | translate }}
      </div>
      <div flex="50">
        <rb-service-labels-control
          ng-model="vm.model.labels"
          keys="vm.labelKeys"
          values="vm.labelValues"
        ></rb-service-labels-control>
      </div>
    </div>
  </ng-form>
</div>
