.rc-list {
  &__container {
    padding: 20px;
    background-color: #fff;

    aui-search {
      float: right;
      width: 300px;
    }

    ::ng-deep aui-table-cell {
      &:first-child {
        display: flex;
      }

      &:last-child {
        overflow: unset;
      }
    }
  }

  &__header {
    margin-bottom: 15px;
  }

  &__icon {
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    margin-right: 5px;
  }

  &__name {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-right: 8px;

    > a {
      font-size: 16px;

      + div {
        color: #999;
      }

      &,
      + div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  &__regions {
    white-space: nowrap;

    > ul {
      display: inline-block;
      margin-bottom: 0;

      > li {
        display: inline-block;
        vertical-align: middle;

        > a {
          float: left;
        }

        &:not(:last-child):after {
          content: ';';
          margin-right: 5px;
        }
      }
    }

    &__more {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      background-color: #fafafa;
      border: 1px solid #eee;
      text-align: center;
      color: #999;
      cursor: pointer;
    }

    &__all {
      padding: 20px 20px 20px 0;
      background-color: #fff;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);

      > ul {
        padding-left: 30px;
        margin-bottom: 0;
        color: #009ce3;
      }
    }
  }
}

.toggle-button {
  color: #333;

  &:hover,
  &:focus {
    color: #009ce3;
  }
}

.no-data {
  padding-top: 10px;
  text-align: center;
}
