<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <a *rcBreadcrumbItem
       routerLink="/cluster/list">{{ 'nav_region'| translate }}</a>
    <a *rcBreadcrumbItem
       routerLink="/cluster/mirror">{{ 'region_mirror_cluster'| translate }}</a>
    <ng-container *rcBreadcrumbItem>{{ mirror?.display_name || name }}</ng-container>
  </rc-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!mirror"></rc-loading-mask>

<ng-container *ngIf="mirror">
  <div class="rc-detail-container">
    <div class="detail-icon"
         [ngStyle]="{backgroundColor: mirror.flag}">
      <img src="/static/images/cluster/mirror-cluster.svg"
           alt="mirror cluster icon">
    </div>
    <div class="detail-wrapper">
      <div class="detail-header">
        <h3 [attr.title]="name">{{ mirror.display_name }}</h3>
        <div class="detail-buttons">
          <rc-button-menu [text]="'action' | translate">
            <button *ngIf="showButton('update')"
                    [disabled]="loading"
                    rcMenuButton
                    [routerLink]="['/cluster/mirror/update', mirror.name]">{{ 'update' | translate }}</button>
            <button *ngIf="showButton('delete')"
                    [disabled]="loading"
                    rcMenuButton
                    (click)="deleteMirror()">{{ 'delete' | translate }}</button>
          </rc-button-menu>
        </div>
      </div>
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ 'name' | translate }}</label>
          <div>{{ mirror.name }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'created_at' | translate}}</label>
          <div>{{ mirror.created_at | rcFormatUtcStr }}</div>
        </div>
      </div>
    </div>
  </div>

  <rc-tab-group>
    <ng-container *rcTab="'region_mirror_member' | translate">
      <aui-table [dataSource]="mirror.regions"
                 [trackBy]="trackByFn">
        <ng-container auiTableColumnDef="region_name">
          <aui-table-header-cell *auiTableHeaderCellDef>{{ 'region_name' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <a [routerLink]="['/cluster/detail-v4', item.name]">
              {{ item.display_name }}
            </a>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="create_time">
          <aui-table-header-cell *auiTableHeaderCellDef>{{ 'created_at' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">{{ item.created_at | rcFormatUtcStr }}</aui-table-cell>
        </ng-container>
        <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
        <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
      </aui-table>
      <div *ngIf="!mirror.regions?.length"
           class="no-data">
        {{ 'no_data' | translate }}
      </div>
    </ng-container>
  </rc-tab-group>
</ng-container>
