.rc-detail-container .detail-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;

  > img {
    width: 48px;
    height: 48px;
  }
}

.no-data {
  padding-top: 10px;
  text-align: center;
}
