<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <a *rcBreadcrumbItem
       routerLink="/cluster/list">{{ 'nav_region'| translate }}</a>
    <a *rcBreadcrumbItem
       routerLink="/cluster/mirror">{{ 'region_mirror_cluster'| translate }}</a>
    <ng-container *rcBreadcrumbItem>{{ (isUpdating ? 'change' : 'create') | translate }}</ng-container>
  </rc-breadcrumb>
</ng-container>

<div class="rc-edit"
     [rcLoadingMask]="!mirror || loading">
  <h4>{{ (isUpdating ? 'change' : 'create') | translate }}{{ 'word_delimiter' | translate}}{{
    'region_mirror_cluster' | translate }}</h4>
  <form #form="ngForm"
        (ngSubmit)="confirm(form)">
    <div class="rc-edit__content">
      <rc-form-field [label]="'name' | translate">
        <ng-container *ngIf="isUpdating">
          <input type="hidden"
                 rcInput>{{ name || mirror.name }}
        </ng-container>
        <input *ngIf="!isUpdating"
               rcInput
               required
               name="name"
               pattern="^[a-z][a-z0-9\_]*$"
               maxlength="36"
               [(ngModel)]="mirror.name">
      </rc-form-field>
      <rc-form-field [label]="'display_name' | translate">
        <input rcInput
               required
               name="display_name"
               maxlength="36"
               [(ngModel)]="mirror.display_name">
      </rc-form-field>
      <rc-form-field [label]="'region_mirror_color_flag' | translate">
        <input type="hidden"
               rcInput>
        <div class="rc-edit__color-selector">
          <div class="rc-edit__color-selector__content"
               [ngStyle]="{backgroundColor: mirror.flag}"></div>
          <button type="button"
                  [auiTooltip]="colors"
                  auiTooltipPosition="bottom"
                  auiTooltipType="plain">
            <i class="dropdown icon"></i>
          </button>
        </div>
      </rc-form-field>
      <rc-form-field [label]="'region_mirror_cluster' | translate"
                     [shouldFlexRow]="true">
        <rc-multi-selection-dropdown name="regions"
                                     [options]="regions$ | async"
                                     displayField="_display"
                                     valueField="id"
                                     [(ngModel)]="regionIds"
                                     (optionAdd)="onRegionAdded($event)"
                                     (optionRemove)="onRegionRemoved($event)"
                                     [disabled]="isUpdating"
                                     required></rc-multi-selection-dropdown>
      </rc-form-field>
    </div>
    <div class="rc-edit__footer">
      <button aui-button
              type="button"
              (click)="cancel()">{{ 'cancel' | translate }}</button>
      <button aui-button="primary">{{ (isUpdating ? 'save' : 'create') | translate }}</button>
    </div>
  </form>
</div>

<ng-template #colors>
  <ul class="rc-edit__color-selector__colors">
    <li *ngFor="let color of allColors"
        [ngStyle]="{backgroundColor: color}"
        [class.disabled]="disabledColors.includes(color)"
        (click)="disabledColors.includes(color) || (mirror.flag = color)"></li>
  </ul>
</ng-template>
