<div
  [rcTooltip]="tooltipTemplate"
  [rcTooltipPosition]="position"
  [rcTooltipMode]="mode"
  [rcTooltipOn]="trigger"
  [rcTooltipTarget]="target">
  <ng-content></ng-content>
</div>

<ng-template #tooltipTemplate>
  <ul class="status-list">
    <li class="status-item" *ngFor="let item of statusList; let i = index">
      <div class="info" [ngClass]="getClassByStatus(item.status)">
        <i class="fa" [ngClass]="getIconClassByStatus(item.status)"></i>
        <span>{{ item.txt }}</span>
      </div>
      <div class="line" *ngIf="i < statusList.length - 1" [ngClass]="getClassByStatus(item.status)"></div>
    </li>
  </ul>
</ng-template>
