@import '_colors.styles';

// status popup
ul.status-list {
  margin: 6px 0 -4px;
  > li.status-item {
    font-size: 12px;
    height: 22px;
    line-height: 12px;
    list-style: none;
    white-space: nowrap;
    > .info {
      &.success {
        color: $status-color-success;
      }
      &.error {
        color: $status-color-error;
      }
      &.inactive {
        color: $status-color-stopped;
      }
    }
    > .line {
      width: 1px;
      height: 11px;
      margin-left: 4px;
      margin-top: -1px;
      background-color: $status-color-stopped;
      &.success {
        background-color: $status-color-success;
      }
      &.error {
        background-color: $status-color-stopped;
      }
      &.inactive {
        background-color: $status-color-stopped;
      }
    }
  }
}
