<div class="page-heading" flex layout="row">
  <rc-search-input
    [loading]="searching"
    [searchOnChange]="true"
    (onSearch)="onSearchChanged($event)">
  </rc-search-input>
  <div class="placeholder-space"></div>
</div>
<rc-loading-mask [loading]="!initialized" *ngIf="!initialized"></rc-loading-mask>
<div class="rb-loading-mask-placeholder" *ngIf="initialized && !roles.length">
  {{'no_data' | translate}}
</div>
<table *ngIf="roles.length" class="roles-table" [rcLoadingMask]="rolesLoading">
  <thead>
  <tr>
    <td>{{'name'|translate}}</td>
    <td style="width:240px;">{{'project' | translate}}</td>
    <td style="width:180px;">{{'created_at'|translate}}</td>
    <td style="width:80px;">{{'action' | translate}}</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let item of roles;trackBy index">
    <td>
      <span *ngIf="!buttonDisplayExpr(item, 'view')">{{item.name}}</span>
      <a *ngIf="buttonDisplayExpr(item, 'view')"
         (click)="showRoleDetail(item)">{{item.name}}</a>
      <span *ngIf="buttonDisplayExpr(item, 'view')"
            [rcTooltip]="popoverTemplate"
            #tooltip="tooltip"
            rcTooltipPosition="top left"
            rcTooltipMode="info"
            rcTooltipOn="click"
            class="fa fa-group"
            (click)="fetchRoleUsers(item,tooltip)"></span>
    </td>
    <td>{{item.project_name || '-'}}</td>
    <td>
      {{item.created_at | rcFormatUtcStr}}
    </td>
    <td>
      <button type="button" rcIconButton="primary"
              rcButtonSize="tiny"
              (click)="deleteRole(item, $index)"
              *ngIf="buttonDisplayExpr(item, 'delete')"
              [rcTooltip]="'delete' | translate"
              rcTooltipPosition="top">
        <i class="fa fa-trash-o"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<rc-pagination2
    class="pull-right"
    [page]="pagination.page"
    [count]="pagination.count"
    [pageSize]="pagination.page_size"
    (pageChanged)="pageNoChange($event)"
  ></rc-pagination2>
<ng-template #popoverTemplate>
  <div class="rb-popover-label-list-wrap" [rcLoadingMask]="popoverConfig.loading">
    <div *ngIf="!popoverConfig.loading && !popoverConfig.list.length">
      <span>{{popoverConfig.noDataText}}</span>
    </div>
    <div *ngIf="popoverConfig.list.length > 0" class="rb-popover-label-list">
      <div class="rb-popover-label-item" *ngFor="let item of popoverConfig.list">
        <span>{{item.user}}</span>
        <span *ngIf="buttonDisplayExpr(popoverConfig.role, 'revoke')"
              class="rb-popover-close fa fa-close"
              (click)="deleteUserOfRole(item.user)"></span>
      </div>
    </div>
  </div>
</ng-template>

