@import 'colors.styles';

.template-import {
  display: flex;
  height: calc(100% - 57px);
  flex-direction: column;

  > .form {
    height: 100%;
  }

  .nav-tab {
    width: 182px;
    height: 64px;
    background: #f6f7f8;
    margin: 10px;
    border-radius: 2px;
    position: relative;
    text-align: center;
    line-height: 64px;

    .triangle {
      display: none;
    }

    &.active {
      background: #2fa7e3;
      color: #fff;

      .triangle {
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        right: -20px;
        border-radius: 5px;
        top: 6px;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 25px solid #2fa7e3;
      }
    }
  }

  .modal-footer {
    background-color: $silver-6;
    box-shadow: 0 0 8px 0 rgba(196, 201, 203, 0.65);
  }
}

.fa-question-circle {
  margin-left: 8px;
  color: $blue-6;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.scope {
  padding: 20px 40px;
  table {
    display: block;
    padding: 20px;
    width: 100%;
    border: 1px dashed $table-border-color;
    thead {
      display: block;
      color: $gray-8;
      padding-bottom: 8px;
    }
    tbody {
      display: block;
    }
    tr {
      display: flex;
      margin-bottom: 8px;
      &:last-child {
        margin: 0;
      }
      td {
        align-self: center;
        &:first-child {
          flex: 3;
        }
        &:last-child {
          flex: 7;
        }
      }
    }
  }
}

.content {
  border-radius: 5px;
  box-shadow: $rb-gray-light-shadow;
  padding: 20px 40px;
  .rb-header-alt {
    margin: 0;
    padding-bottom: 20px;
  }
  .rc-primary-table {
    border: 2px solid $table-border-color;
    border-bottom: none;
  }
  ::ng-deep {
    .datatable-header,
    .datatable-body-row,
    .rc-row-wrapper-expanded {
      border-bottom: 2px solid $table-border-color;
      margin-bottom: 0;
    }
    .datatable-row-detail {
      background-color: $table-second-background-color;
      margin: 0 !important;
    }
    .secondary-table {
      width: 100%;
      > tbody {
        > tr {
          border-bottom: 2px solid $table-border-color;
          display: flex;
          > td {
            padding: 0.9rem 1.2rem;
            box-sizing: border-box;
            flex: 1;
            display: flex;
            align-items: center;
            text-indent: 3rem;
            overflow: hidden;
          }
          .third-table {
            position: relative;
            display: flex;
            flex: 4;
            > tbody {
              width: 100%;
              > tr {
                display: flex;
                > td {
                  max-width: 400px;
                  text-overflow: ellipsis;
                  flex: 1;
                  padding: 0.9rem 1.2rem;
                  box-sizing: border-box;
                  overflow: hidden;
                  align-self: center;
                  &.actions {
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .resource {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 20px;
                  }
                  .constraint {
                    width: 100%;
                    > div {
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }
                  }
                  hr {
                    margin: 10px 0;
                  }
                }
              }
              > tr:not(:last-child) {
                border-bottom: 2px solid $table-border-color;
              }
            }
          }
        }
      }
    }
    .rc-primary-table {
      > .ngx-datatable {
        .datatable-body {
          .datatable-row-wrapper:hover,
          .datatable-row-wrapper.rc-row-wrapper-expanded {
            background-color: $card-background-color;
          }
          .datatable-row-wrapper {
            margin-bottom: 0;
            > .datatable-body-row {
              .datatable-body-cell {
                overflow: visible;
              }
            }
          }
        }
      }
    }
  }
}

:host::ng-deep {
  rc-vertical-tabs {
    .nav-tab {
      position: relative;
      cursor: pointer;
      .official-container {
        position: absolute;
        left: 0;
        top: 0;
        img {
          display: block;
        }
        .official {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 35px 50px 0 0;
          border-color: $button-primary-border-color transparent transparent
            transparent;
        }
        span {
          user-select: none;
          white-space: nowrap;
          transform: rotateZ(-35deg);
          color: $button-primary-text-color;
          line-height: 28px;
          text-indent: 4px;
          font-size: 12px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    .vertical-tabs {
      height: 100%;
      .vertical-tabs-content {
        padding-right: 8px;
        overflow-y: visible !important;
      }
      .vertical-nav-tabs {
        min-width: 213px;
        overflow-x: visible;
        overflow-y: scroll;
      }
    }
    .not-select {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: -20px;
      .line {
        width: 100%;
        align-self: center;
        > img {
          display: block;
          margin: 0 auto 40px auto;
        }
        > div {
          width: 100%;
          align-self: center;
          text-align: center;
          font-size: 14px;
          color: #999;
        }
      }
    }
    .title,
    .description {
      padding-left: 40px;
      margin-bottom: 10px;
    }
    .title {
      font-size: 18px;
      color: $gray-10;
    }
    .description {
      font-size: 12px;
      color: $gray-7;
    }
  }
}

::ng-deep {
  .ui.modal.rc-modal.rc-modal--right {
    max-width: initial;
  }
}
