<div class="template-import">
  
  <form #form="ngForm" class="form">
    <rc-vertical-tabs (tabChanged)="tabChanged($event)" *ngIf="tabList" style="height: 100%">
      <h2 class="title">{{ title }}</h2>
      <div class="description">{{ description }}</div>
      <!-- scope -->
      <section class="scope" *ngIf="scope && scope.length" >
        <div class="rb-header-alt">
          {{ 'rbac_constraints_multiply_set' | translate }}
          <i class="fa fa-question-circle"
             [rcTooltip]="'rbac_template_constraints_hint' | translate"
             [rcTooltipInline]="false"
             rcTooltipMode="info"
             rcTooltipPosition="top"
             ></i>
        </div>
          <table>
            <thead>
              <tr>
                <td class="field">{{ 'field' | translate }}</td>
                <td class="value">{{ 'value' | translate }}<font color="red">*</font></td>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of scope">
                  <td>{{ item.key | translate }}</td>
                  <td><input [name]="item.key" rcInput type="text" required [(ngModel)]="item.val" [rcErrorsTooltip]></td>
                </tr>
              </tbody>
          </table>
      </section>
      <div class="not-select" *ngIf="tabIndex === undefined">
        <div class="line">
          <img src="/static/images/rbac/template_not_chosen.svg" alt="none">
          <div >{{ 'rbac_select_template' | translate }}</div>
        </div>
      </div>
      <!-- tab -->
      <ng-container *ngFor="let tab of tabList; index as i">
        <rc-vertical-tab>
          <div *rcTabNav
              class="nav-tab"
              [ngClass]="{'active': tabIndex == i}">{{ (lang.match('en') && tab.display_name_en) ? tab.display_name_en : (tab.display_name || tab.name) }}
            <div class="official-container" *ngIf="tab.official" >
              <img [src]="'/static/images/rbac/sys_' + lang + '.svg'" alt="sys">
              <!-- <i class="official"></i> -->
              <!-- <span>{{ 'rbac_official' | translate }}</span> -->
            </div>
            <div class="triangle"></div>
          </div>
          <!-- <div class="tab-content"></div> -->
        </rc-vertical-tab>
      </ng-container>
      <!-- 权限内容 -->
      <section class="content" *ngIf="permissionsCatalog" >
        <div class="rb-header-alt">
          {{ 'rbac_content' | translate }}
        </div>
        <!-- table -->
        <rc-table #permissionsTable class="rc-primary-table"
                  [columnMode]="'force'"
                  [headerHeight]="40"
                  [rowHeight]="40"
                  [rows]="permissionsCatalog">
    
          <rc-table-col [width]="30"
                        [resizeable]="false"
                        [sortable]="false"
                        [draggable]="false"
                        [canAutoResize]="false">
            <ng-template rcTableColCell let-row="row" let-rindex="rowIndex" let-expanded="expanded">
              <a
                class="rc-table-row-expand"
                href="javascript:void(0)"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                (click)="toggleExpandRow(row, rindex)">
                <i class="fa fa-angle-right"></i>
              </a>
            </ng-template>
          </rc-table-col>
          <rc-table-col [resizeable]="false"
                        [sortable]="false"
                        name="{{ 'type' | translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                <div class="rc-lines">
                  {{ rowData.type | translate }} {{ translateTypes(rowData.type) }}
                </div>
              </div>
            </div>
          </rc-table-col>
          <rc-table-col [resizeable]="false"
                        [sortable]="false"
                        name="{{ 'resource_type' | translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                <div class="rc-lines"></div>
              </div>
            </div>
          </rc-table-col>
          <rc-table-col [resizeable]="false"
                        [sortable]="false"
                        name="{{ 'action' | translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                <div class="rc-lines"></div>
              </div>
            </div>
          </rc-table-col>
          <rc-table-col [resizeable]="false"
                        [sortable]="false"
                        name="{{ 'constraints' | translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                <div class="rc-lines"></div>
              </div>
            </div>
          </rc-table-col>
          <rc-table-col [resizeable]="false"
                        [sortable]="false"
                        name="{{ 'resource_name' | translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                <div class="rc-lines"></div>
              </div>
            </div>
          </rc-table-col>
    
          <rc-table-row-detail [rowHeight]="'auto'">
            <ng-template rcTableRowDetailTemplate let-row="row">
              <!-- 子列表 -->
              <table class="secondary-table">
                <tbody>
                  <tr *ngFor="let key of keys(permissionsCatalogMap[row.type])"
                      [hidden]="!_.intersection(keys(permissionsMap), permissionsCatalogMap[row.type][key]).length">
                    <td>{{ key | translate }}</td>
                    <table class="third-table">
                      <tr *ngFor="let type of permissionsCatalogMap[row.type][key]"
                          [hidden]="!permissionsMap[type]">
                        <td>{{ type | translate }}</td>
                        <td class="actions" [title]="(permissionsMap[type] ? permissionsMap[type].actions : []) | rcActionsToTranslateKeys: actionsMap[type]">{{ (permissionsMap[type] ? permissionsMap[type].actions : []) | rcActionsToTranslateKeys: actionsMap[type] }}</td>
                        <td>
                          <div *ngFor="let constraint of (permissionsMap[type] ? permissionsMap[type].constraints : []); let i = index;"
                              class="constraint">
                            <div *ngFor="let key of keys(constraint)" [title]="(key.split(':')[1] | translate) + ': ' + (constraint[key] || '-')">
                              {{ (key.split(':')[1] | translate) + ': ' + (constraint[key] || '-') }}
                            </div>
                            <hr *ngIf="permissionsMap[type].constraints.length - 1 !== i">
                          </div>
                          <span *ngIf="permissionsMap[type] && !permissionsMap[type].constraints.length">{{ 'rbac_not_set' | translate }}</span>
                        </td>
                        <td>
                          <ng-container *ngIf="permissionsMap[type]">
                            <ng-container *ngIf="permissionsMap[type].resource.includes('*') || !permissionsMap[type].resource.length">
                              {{ 'rbac_any' | translate }}
                            </ng-container>
                            <ng-container *ngIf="!permissionsMap[type].resource.includes('*') && permissionsMap[type].resource.length">
                              <div class="resource" *ngFor="let resourceName of permissionsMap[type].resource" [title]="resourceName">
                                {{ resourceName }}
                              </div>
                            </ng-container>
                          </ng-container>
                        </td>
                      </tr>
                    </table>
                  </tr>
                </tbody>
              </table>
            </ng-template>
          </rc-table-row-detail>
        </rc-table>
      </section>
    </rc-vertical-tabs>
  </form>

  
  <div class="modal-footer"
       style="padding: 12px">
    <button rcButton
            (click)="cancel()"
            style="margin-right: 8px">{{ 'cancel' | translate }}</button>
    <button rcButton="primary" [disabled]="tabIndex === undefined" (click)="confirm()">{{ 'import_current_role_template' | translate }}</button>
  </div>
</div>
