<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a [routerLink]="['/rbac']">{{ 'rbac' | translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'role_create' | translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<!-- 模板基本信息 -->
<section class="basic-info">
  <form class="basic-info-form" #form="ngForm" auiForm [auiFormLabelPosition]="'right'" [auiFormInline]="false" [auiFormEmptyAddon]="false">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'rbac_role_name' | translate }}</label>
      <input aui-input
             [rcErrorsTooltip]
             [placeholder]="'rbac_role_name_hint' | translate"
             type="text"
             name="name"
             [(ngModel)]="data.name"
             pattern="^[A-Za-z0-9-_.]+$"
             required>
    </aui-form-item>
    
    <aui-form-item>
      <label auiFormItemLabel>{{ 'rbac_parent_roles' | translate }}</label>
      <div *ngFor="let item of data.parents; let i = index;">
        <aui-select
            name="parent"
            (valueChange)="onParentsChange($event, i)"
            filterable>
            <aui-option *ngFor="let parent of parentOptions" [value]="parent" [label]="parent.name">{{ parent.name }}</aui-option>
            <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
        </aui-select>
        <i class="fa fa-eye" *ngIf="item.name" (click)="showParent(item.name)"></i>
        <i class="fa fa-remove" (click)="deleteParent(i)"></i>
      </div>
      <div class="add" (click)="addParent()"><span><i class="fa fa-plus-circle"></i>{{ 'rbac_add_parent_role' | translate }}</span></div>
    </aui-form-item>
  
    <aui-form-item>
      <label auiFormItemLabel>{{ 'project' | translate }}</label>
      <aui-select
          name="project_name"
          [(ngModel)]="project"
          [placeholder]="'project' | translate"
          filterable>
          <aui-option *ngFor="let project of projectNames" [value]="project">{{ project }}</aui-option>
          <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
      </aui-select>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'import_permissions' | translate }}</label>
      <button aui-button (click)="import()">{{ 'select_role_template' | translate }}</button>
    </aui-form-item>
  </form>
</section>


<!-- 权限内容 -->
<section class="content">
  <div class="header-alt">
    {{ 'rbac_content' | translate }}
    <i class="fa fa-question-circle"
       [rcTooltip]="contentTip[lang]"
       [rcTooltipInline]="false"
       rcTooltipMode="info"
       ></i>
  </div>
  <button rcButton
          class="add-permission"
          (click)="addPermission()"
          [disabled]="!initialized"
          style="margin-bottom: 16px;"><i class="fa fa-plus-circle"></i> {{ 'add_permission' | translate }}</button>
  <!-- table -->
  <rc-table *ngIf="data" #permissionsTable class="rc-primary-table" [columnMode]="'force'" [headerHeight]="40" [rowHeight]="40"
    [rows]="permissionsCatalog">

    <rc-table-col [width]="30" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
      <ng-template rcTableColCell let-row="row" let-rindex="rowIndex" let-expanded="expanded">
        <a class="rc-table-row-expand" href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
          (click)="toggleExpandRow(row, rindex)">
          <i class="fa fa-angle-right"></i>
        </a>
      </ng-template>
    </rc-table-col>
    <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'type' | translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines">
            {{ rowData.type | translate }} {{ translateTypes(rowData.type) }}
          </div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'resource_type' | translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines"></div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'action' | translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines"></div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'constraints' | translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines"></div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'resource_name' | translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines"></div>
        </div>
      </div>
    </rc-table-col>

    <rc-table-row-detail [rowHeight]="'auto'">
      <ng-template rcTableRowDetailTemplate let-row="row">
        <table class="secondary-table">
          <tbody>
            <tr *ngFor="let key of keys(permissionsCatalogMap[row.type])">
              <td>
                {{ key | translate }}
              </td>
              <table class="third-table">
                <tr *ngFor="let type of permissionsCatalogMap[row.type][key]">
                  <td>
                    <div class="check-group">
                      <aui-checkbox [(ngModel)]="checkedMap[type]"
                                    (ngModelChange)="onCheck($event, type)"></aui-checkbox>
                      <a href="javascript:;" (click)="addPermission(type)">{{ type | translate }}</a>
                    </div>
                    <div class="permissions-group">
                      <table class="forth-table" *ngFor="let permission of (permissionsMap[type] || []); index as i">
                        <td [ngClass]="{ editable: checkedMap[type] }"
                            class="actions-edit"
                            [rcTooltip]="actionsEdit"
                            [rcTooltipOn]="checkedMap[type] ? 'click' : 'manual'"
                            [rcTooltipInline]="false"
                            rcTooltipPosition="right"
                            rcTooltipMode="info">
                        <span *ngIf="permission">
                          {{ permission.actions | rcActionsToTranslateKeys: actionsMap[type] }}
                        </span>
                      </td>
                      <ng-template #actionsEdit>
                        <aui-multi-select
                            (valueChange)="onActionsChange($event, permission)">
                            <aui-option *ngFor="let action of actionsMap[type]" [value]="action" [label]="action.name">{{ action.name }}</aui-option>
                            <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
                        </aui-multi-select>
                      </ng-template>
                      <td [ngClass]="{ editable: checkedMap[type] && keys(schemaMap[type]).length }"
                          [rcTooltip]="keys(schemaMap[type]).length && checkedMap[type] ? constraintsEdit : ''"
                          [rcTooltipOn]="checkedMap[type] ? 'click' : 'manual'"
                          [rcTooltipInline]="false"
                          rcTooltipPosition="left"
                          rcTooltipMode="info">
                          <div *ngFor="let constraint of (permission ? permission.constraints : []); let i = index;"
                               class="constraint">
                            <div *ngFor="let key of keys(constraint)">
                              {{ (key.split(':')[1] | translate) + ': ' + (constraint[key] || '-') }}
                            </div>
                            <hr *ngIf="permission.constraints.length - 1 !== i">
                          </div>
                          <span *ngIf="permission && !permission.constraints.length">{{ 'rbac_not_set' | translate }}</span>
                        </td>
                        <ng-template #constraintsEdit>
                          <rc-constraint-editor [type]="type"
                                                [constraints]="permission.constraints"
                                                [options]="keys(schemaMap[type])"
                                                (onChange)="constraintChange($event, permission)"></rc-constraint-editor>
                        </ng-template>
                        <td *ngIf="permission">
                          <span class="resource-name"
                                [ngClass]="{ editable: checkedMap[type] }"
                                [rcTooltip]="resourceEdit"
                                [rcTooltipOn]="checkedMap[type] ? 'click' : 'manual'"
                                [rcTooltipInline]="false"
                                rcTooltipPosition="bottom"
                                rcTooltipMode="info">
                            {{ (permission.resource.includes('*') || !permission.resource.length) ? ('rbac_any' | translate) : permission.resource.join(', ') }}
                          </span>
                          <i class="fa fa-trash" (click)="removePermission(type, i)" ></i>
                        </td>
                        <ng-template #resourceEdit>
                          <rc-tags-input [(ngModel)]="permission.resource" (onTagsChange)="onResourceChange($event, permission)"></rc-tags-input>
                        </ng-template>
                        <hr *ngIf="permissionsMap[type].length - 1 !== i">
                      </table>
                    </div>
                  </td>
                </tr>
              </table>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </rc-table-row-detail>
  </rc-table>
</section>

<section class="bottom">
  <button rcButton (click)="cancel()">{{ 'cancel' | translate }}</button>
  <button rcButton="primary" (click)="submit()">{{ 'submit' | translate }}</button>
</section>
