@import 'colors.styles';

:host {
  width: 100%;
}
::ng-deep .rc-tooltip__content {
  padding: 8px;
}

.basic-info {
  background-color: #fff;
  padding: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  .basic-info-form {
    width: 80%;
    margin: 0 auto;
    ::ng-deep .aui-form-item {
      .aui-form-item__label-wrapper {
        flex: 1;
      }
      .aui-form-item__container {
        flex: 8;
        .aui-form-item__content {
          flex-wrap: wrap;
          > .ng-star-inserted {
            display: flex;
            width: 100%;
            margin-bottom: 8px;
          }
          i.fa-eye,
          i.fa-remove {
            font-size: 16px;
            line-height: 32px;
            padding-left: 8px;
            cursor: pointer;
            &:hover {
              color: $blue-6;
            }
          }
          .add {
            border-radius: 2px;
            width: 100%;
            height: 32px;
            line-height: 32px;
            text-align: center;
            cursor: pointer;
            background-color: #d8eef9;
            color: #2fa7df;
            i.fa {
              margin-right: 4px;
            }
          }
        }
      }
    }
    .import {
      width: 80%;
      margin: 0 auto;
      display: flex;
      box-sizing: border-box;
      padding-right: 48px;
      > span {
        flex: 2;
        text-align: right;
        line-height: 32px;
        padding-right: 24px;
      }
      .rc-button {
        flex: 7;
      }
    }
  }
}

.bottom {
  margin: 16px 0 120px 0;
  display: flex;
  justify-content: flex-end;
  .ui.button {
    margin-right: 5px;
  }
}

.content {
  border-radius: 0 0 8px 8px;
  box-shadow: $rb-gray-light-shadow;
  background-color: $card-background-color;
  padding: 20px 40px;
  .header-alt {
    display: flex;
    align-items: center;
    margin: 16px 0;
    font-size: 16px;
    &:before {
      width: 3px;
      height: 17px;
      background-color: #59889b;
      content: '';
      display: block;
      margin-right: 10px;
    }
    .fa-question-circle {
      margin-left: 8px;
      color: $blue-6;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }
  .add-permission {
    color: $blue-6 !important;
  }
  .rc-primary-table {
    border: 2px solid $table-border-color;
    border-bottom: none;
  }
  ::ng-deep {
    .datatable-header,
    .datatable-body-row,
    .rc-row-wrapper-expanded {
      border-bottom: 2px solid $table-border-color;
      margin-bottom: 0;
    }
    .datatable-row-detail {
      background-color: $table-second-background-color;
      margin: 0 !important;
    }
    .secondary-table {
      width: 100%;
      > tbody {
        > tr {
          border-bottom: 2px solid $table-border-color;
          display: flex;
          > td {
            padding: 0.9rem 1.2rem;
            box-sizing: border-box;
            flex: 1;
            display: flex;
            align-items: center;
            text-indent: 3rem;
            overflow: hidden;
          }
          .third-table {
            position: relative;
            display: flex;
            flex: 4;
            > tbody {
              width: 100%;
              > tr {
                display: flex;
                > td {
                  display: flex;
                  flex: 1;
                  flex-wrap: wrap;
                  padding: 0.9rem 1.2rem;
                  box-sizing: border-box;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  align-self: center;
                  .check-group {
                    aui-checkbox {
                      display: flex;
                      align-items: center;
                      .aui-checkbox {
                        margin-right: 0;
                        display: flex;
                      }
                    }
                    display: flex;
                    flex: 1;
                    a {
                      align-self: center;
                    }
                  }
                  .permissions-group {
                    flex: 3;
                    position: relative;
                    .forth-table {
                      display: flex;
                      position: relative;
                      width: 100%;
                      padding: 2px 0;
                      .actions-edit {
                        word-break: keep-all;
                        white-space: normal;
                      }
                      .editable {
                        transition: background-color 0.3s;
                        color: $blue-6;
                        cursor: pointer;
                        &:hover {
                          background-color: $table-rows-hover-color;
                        }
                      }
                      .resource-name {
                        width: 80%;
                        white-space: normal;
                        word-break: break-all;
                        text-indent: 0;
                        padding-left: 1.2rem;
                        margin-right: 8px;
                        i.fa {
                          width: 20%;
                        }
                      }
                      > td {
                        display: flex;
                        flex: 1;
                        flex-wrap: wrap;
                        padding: 0 0 0 1.2rem;
                        line-height: 40px;
                        box-sizing: border-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        align-self: center;
                        div {
                          text-overflow: ellipsis;
                          align-self: center;
                        }
                        .constraint {
                          width: 100%;
                        }
                        .wrapper {
                          width: 100%;
                          height: 100%;
                        }
                        hr {
                          margin: 10px 0;
                        }
                        i.fa-trash {
                          cursor: pointer;
                          color: $blue-6;
                          display: block;
                          opacity: 0.6;
                          align-self: center;
                          align-items: right;
                          font-size: 16px;
                          &:hover {
                            opacity: 1;
                          }
                        }
                      }
                      > hr {
                        width: 100%;
                        margin: 0;
                        position: absolute;
                        bottom: 0;
                      }
                    }
                  }
                }
              }
              > tr:not(:last-child) {
                border-bottom: 2px solid $table-border-color;
              }
            }
          }
        }
      }
    }
    .rc-primary-table {
      > .ngx-datatable {
        .datatable-body {
          .datatable-row-wrapper:hover,
          .datatable-row-wrapper.rc-row-wrapper-expanded {
            background-color: $card-background-color;
          }
          .datatable-row-wrapper {
            margin-bottom: 0;
            > .datatable-body-row {
              .datatable-body-cell {
                overflow: visible;
              }
            }
          }
        }
      }
    }
  }
}
