$table-border-color: #eee;

.sync-report-container {
  padding: 20px;

  .title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 13px;
    color: #666;
  }
  .title-lower {
    font-size: 14px;
    font-weight: 600;
    color: #4d4d4d;
    margin-bottom: 13px;
  }
  .basic-info-detail {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

    .row {
      display: flex;
      margin-top: 12px;
      color: #4d4d4d;

      & > span:first-child {
        display: inline-block;
        width: 120px;
        margin-right: 20px;
        text-align: right;

        &::after {
          content: ':';
        }
      }
    }
  }
  .brief-status {
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    min-height: 44px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    .fa {
      margin-right: 4px;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed;
    thead {
      tr {
        height: 40px;
        background: #fafafa;
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $table-border-color;
        height: 44px;
        &.error-logs-on {
          border-bottom: none;
        }
        & > td:first-child {
          padding-left: 8px;
        }
        & > td {
          overflow: hidden;
          padding: 0 4px;
        }
        .template-name {
          color: #333;
        }
      }
    }

    .error-logs {
      display: none;
      height: auto;

      &.show-logs {
        display: table-row;
      }

      .error-decorate {
        display: block;
        width: 3px;
        margin-right: 8px;
        background: #e26a7a;
      }
    }
  }

  .fa {
    font-size: 16px;
  }

  .color-ban {
    color: #ccc;
  }

  .color-health {
    color: #53b973;
  }

  .color-error {
    color: #e26a7a;
  }

  .color-version-change {
    color: #24a7e3;
  }

  .version-change {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .color-text {
    color: #4d4d4d;
  }

  .color-path {
    color: #999;
  }

  .errors-detail-action {
    color: #009ce3;
    font-size: 14px;
    cursor: pointer;
  }

  .failed-error-message {
    min-height: 30px;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
  }
}
