<div class="sync-report-container">
  <div class="title">
    {{ 'jenkins_template_sync_info' | translate }}
  </div>
  <div class="basic-info-detail">
    <div class="row">
      <span>
        {{'jenkins_template_sync_start_time'|translate}}
      </span>
      <span>{{lastJob.created_at | rcFormatUtcStr}}</span>
    </div>
    <div class="row">
      <span>{{'time_cost'|translate}}</span>
      <span>
        {{timeConsuming()}}{{'second'|translate}}
      </span>
    </div>
    <div class="row">
      <span>
        {{'jenkins_code_repository_address'|translate}}
      </span>
      <span>{{status?.url}}</span>
    </div>
    <div class="row">
      <span>
        {{      'code_branch' | translate      }}
      </span>
      <span>{{status?.branch}}</span>
    </div>
  </div>
  <div style="display: flex;margin-top: 24px">
    <div class="title">
      {{'jenkins_template_sync_result'|translate}}
    </div>
    <div fxFlex></div>
    <div *ngIf="lastJob.status==='SUCCESS'">
      <i class="fa fa-times-circle color-error">{{' ' + task_counter.fail}}</i>
      <i class="fa fa-minus-circle color-ban">{{' ' + task_counter.skip}}</i>
      <i class="fa fa-check-circle color-health">
        {{' ' + (task_counter.success - task_counter.skip)}}
      </i>
    </div>
  </div>
  <div
    class="brief-status"
    *ngIf="lastJob.status==='INPROGRESS'"
  >
    <i class="fa fa-refresh color-version-change"></i>
    <span>
      {{'jenkins_template_is_syncing'|translate}}
    </span>
  </div>
  <div
    class="brief-status"
    *ngIf="lastJob.status==='FAIL'"
  >
    <i class="fa fa-exclamation-triangle color-error"></i>
    <div
      class="failed-error-message"
      title="{{lastJob.report?.errors[0]?.message}}"
    >
      {{lastJob.report?.errors[0]?.message}}
    </div>
  </div>
  <div *ngIf="lastJob.status==='SUCCESS'">
    <table>
      <thead class="title-lower">
        <tr>
          <td style="width: 115px;"></td>
          <td style="width: 220px;">{{'jenkins_template_name'|translate}}</td>
          <td style="width: 180px;">
            {{'jenkins_template_version_changes'|translate}}
          </td>
          <td style="width: 100px;">{{'jenkins_template_type'|translate}}</td>
          <td style="width: 150px;"></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of lastJob?.report?.items">
          <tr [ngClass]="{'error-logs-on': item.logs}">
            <td>
              <i
                *ngIf="item.status==='FAIL'"
                class="fa fa-times-circle color-error"
              >
                {{'pipeline_status_failed'|translate}}
              </i>
              <i
                *ngIf="item.action==='SKIP'"
                class="fa fa-minus-circle color-ban"
              >
                {{'jenkins_template_no_update'|translate}}
              </i>
              <i
                *ngIf="item.status==='SUCCESS'&& item.action!=='SKIP'"
                class="fa fa-check-circle color-health"
              >
                {{'success'|translate}}
              </i>
            </td>
            <td
              class="template-name"
              style="text-overflow: ellipsis;"
              rcTooltipMode="info"
              rcTooltipPosition="top"
              [rcTooltip]="foo"
              rcTooltipOn="hover"
              [rcTooltipContext]="item"
            >
              {{item.name}}
            </td>
            <td>
              <div *ngIf="item.action==='SKIP'">{{item.old_version}}</div>
              <div
                title="{{ item.old_version + '->' + item.new_version}}"
                *ngIf="item.action==='UPDATE'"
                class="color-version-change version-change"
              >
                {{item.old_version}} -> {{item.new_version}}
              </div>
              <div
                *ngIf="item.action==='DELETE'"
                class="color-error"
              >
                {{'deleted'|translate}}
              </div>
              <div
                *ngIf="item.action==='ADD'"
                class="color-health"
              >
                {{'add'|translate}}
              </div>
            </td>
            <td class="color-text">{{item.type}}</td>
            <td>
              <div
                class="errors-detail-action"
                *ngIf="item.status==='FAIL'"
              >
                <span
                  *ngIf="!item.logs; else hide"
                  (click)="item.logs=!item.logs"
                >
                  {{'jenkins_template_show_detail'|translate}}
                  <i class="fa fa-angle-down"></i>
                </span>
                <ng-template #hide>
                  <span (click)="item.logs=!item.logs">
                    {{'jenkins_template_hide_detail'|translate}}
                    <i class="fa fa-angle-up"></i>
                  </span>
                </ng-template>
              </div>
            </td>
          </tr>
          <tr
            class="error-logs"
            [ngClass]="{'show-logs': item.logs }"
          >
            <td colspan="6">
              <ng-container *ngFor="let err of item.errors">
                <div style="display: flex">
                  <span class="error-decorate"></span>
                  <span>{{err.message}}</span>
                </div>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<ng-template
  #foo
  let-data
>
  <div>{{data.name}}</div>
  <div>{{data.path}}</div>
</ng-template>
