<div class="header"
     *ngIf="title">
  <span [innerHTML]="title"></span>

  <div class="spacer"></div>

  <span class="modal-close"
        (click)="close.emit()"></span>
</div>

<div class="content">
  <ng-template cdkPortalOutlet></ng-template>
</div>
