$modal-header-color: #f1f1f1;
$modal-header-background-color: #24a7e3;
$modal-close-icon-color: #fff;
$modal-close-icon-hover-color: #f1f1f1;

:host {
  display: block;
  border-radius: 2px;
}

.header {
  font-size: 14px;
  font-weight: 400;
  color: $modal-header-color;
  background-color: $modal-header-background-color;
  border-bottom: none;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  padding: 1.25rem 1.5rem;

  .spacer {
    flex: 1;
  }

  .modal-close {
    width: 16px;
    height: 16px;
    background-color: $modal-close-icon-color;
    cursor: pointer;
    transition: background-color 0.3s;
    mask: url('/static/images/icon/close.svg') no-repeat center;

    &:hover {
      background-color: $modal-close-icon-hover-color;
    }
  }
}
