<div class="form-container">
  <div class="form-header">
    {{ this.headerInfo | translate }}
  </div>
  <form (ngSubmit)="login()">
    <div class="predefined-org-row" *ngIf="ENVIRONMENTS.predefined_login_organization">
      {{ 'predefined_org_hint' | translate : {orgName: ENVIRONMENTS.predefined_login_organization} }}
    </div>
    <rld-form-control-fragment *ngFor="let fragment of formControlFragments" [class.hidden]="fragment.hidden" [formControlFragment]="fragment">
      <div *ngIf="fragment.type === 'password' && loginMode === LoginMode.root">
        <a class="forget-password" routerLink="/forget-password">
          {{ 'forget_password' | translate }}?
        </a>
      </div>
    </rld-form-control-fragment>

    <button aui-button="primary" size="large" [loading]="submitting" [disabled]="loginDisabled">
      {{ 'login' | translate }}
    </button>
  </form>
  <div class="divide-line"></div>
  <div class="bottom-links">
    <a [routerLink]="loginSwitchLink" [queryParams]="{next: _next}" *ngIf="!ENVIRONMENTS.predefined_login_organization">
      {{ loginSwitchLinkText | translate }}
    </a>
    <div class="other-login-container" *ngIf="isCodeLoginPattern() && ENVIRONMENTS?.sso_configuration;">
      <div class="other-login-text">
        {{ 'other_login_methods' | translate}}
      </div>
      <a class="tp_login_link" *ngFor="let item of ENVIRONMENTS?.sso_configuration?.configs;" (click)="tpLogin(item)">
        {{ item['display_name'] | translate }}
      </a>
    </div>
  </div>
</div>
