:host {
  .form-header {
    margin: 0 0 36px 0;
    font-size: 18px;
    line-height: 24px;
    color: #666;
  }
}

.login-form {
  display: flex;
  flex-flow: column;
}

.login-tab-header {
  display: flex;

  .tab-label {
    flex: 1;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;

    &[active='true'] {
      border-bottom-color: transparent;
    }

    &[active='false'] {
      cursor: pointer;
      background: #fcfcfc;
      &:hover {
        background: #f8f8f8;
      }
    }

    &:first-child {
      border-right: 1px solid #eee;
    }
  }
}

.other-login-text {
  margin-top: 12px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
  width: 100%;
}
.other-login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__spec {
    margin: 12px 4px 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
.divide-line {
  flex: 1;
  height: 1px;
  background: #e6e6e6;
  margin: 31px 0 0 0;
}

.bottom-links {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    margin-top: 24px;
  }
  a {
    margin-top: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #4aaee7;
    &:hover {
      text-decoration: none;
      color: #428bca;
    }
  }
  .tp_login_link {
    margin-top: 12px;
  }
}

::ng-deep {
  .forget-password {
    position: absolute;
    transform: translateY(100%);
    bottom: -4px;
    right: 0;
    color: #999;
    font-size: 12px;
    &:hover {
      color: #666;
    }
  }
}
