<rc-region-badge-option [option]="regionBadgeOption"></rc-region-badge-option>

<div
  class="rc-cluster-header">
  <div
    class="rc-cluster-header__group rc-cluster-header__group--width-fit">
    <ng-container *ngIf="clusterDetail$ | async">
      <img
        class="rc-cluster-header__cloud-icon"
        [src]="'/static/images/cloud/'+(pluck(clusterDetail$, 'attr', 'cloud', 'name') | async).toLowerCase()+'.svg'">
      <div
        class="rc-cluster-header__cluster-name">
        {{ pluck(clusterDetail$, 'display_name') | async }}
      </div>
      <rc-status-badge
        mode="rect"
        [status]="clusterState$ | async">
      </rc-status-badge>
    </ng-container>
  </div>
  <div class="rc-cluster-header__group">
    <div
      *ngIf="(cloudDeploy$ | async) && (hasPermission('deploy') | async)"
      [rcTooltip]="!(enableDeploy$ | async) ? ('region_deploy_acmp_hint' | translate) : ''"
      rcTooltipPosition="left">
      <button
        [disabled]="!(enableDeploy$ | async)"
        rcButton="primary"
        [routerLink]="['/cluster/deploy',(clusterName$ | async)]">
        {{ 'region_deploy_acmp' | translate }}
      </button>
    </div>
    <button
      rcButton="primary"
      *ngIf="(hasCreateNodePermission$ | async) && !(createNodeDisabled$ | async)"
      (click)="addNode()">
      {{ 'add_node' | translate }}
    </button>
    <rc-button-menu
      [text]="'action' | translate">
      <button
        rcMenuButton
        *ngIf="(autoScalingEnabled$ | async) && (hasPermission('update') | async) && !(isOpenStackRegion$ | async)"
        (click)="autoScaling()">
        {{ 'auto_scaling' | translate }}
      </button>
      <button
        rcMenuButton
        *ngIf="(cloudUpdate$ | async) && (hasPermission('update') | async)"
        (click)="updateLogSource()">
        {{ 'region_log_source_update' | translate }}
      </button>
      <button
        rcMenuButton
        *ngIf="(cloudUpdate$ | async) && (hasPermission('clear') | async)"
        (click)="clearCluster()">
        {{ 'region_empty_region' | translate }}
      </button>
      <button
        rcMenuButton
        *ngIf="(cloudDelete$ | async) && (hasPermission('delete') | async)"
        (click)="deleteCluster()">
        {{ 'delete' | translate }}
      </button>
    </rc-button-menu>
  </div>
</div>

<rc-cluster-info [cluster]="clusterDetail$ | async"></rc-cluster-info>

<rc-tab-group
  style="margin: 32px 0 18px;">
  <div *rcTab="'node' | translate">
    <rc-node-list
      [cluster]="clusterDetail$ | async">
    </rc-node-list>
  </div>
  <ng-container
    *ngIf="(pluck(clusterDetail$, 'container_manager') | async) !== 'NONE'">
    <div
      *rcTab="'monitoring' | translate">
      <rc-cluster-monitor
        [clusterName]="clusterName$ | async">
      </rc-cluster-monitor>
    </div>
  </ng-container>
  <div *rcTab="'events' | translate">
    <rc-event-list
      type="region,node,feature"
      [primaryKey]="pluck(clusterDetail$, 'id') | async">
    </rc-event-list>
  </div>
  <div *rcTab="'log_source' | translate">
    <rc-log-source-table [clusterName]="clusterName$ | async"></rc-log-source-table>
  </div>
</rc-tab-group>
