@import '_colors.palette';

.rc-cluster-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__group {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;

    &--width-fit {
      max-width: 100%;
      flex-shrink: 1;
      padding-right: 24px;
    }

    [rcbutton] {
      margin-right: 8px;
    }
  }

  &__cloud-icon {
    width: 32px;
    flex-shrink: 0;
  }

  &__cluster-name {
    padding: 0 12px;
    font-size: 24px;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}
