@import '../rb-dropdown/rb-dropdown.scss';

rb-model-dropdown {
  @extend rb-dropdown;
}

.rb-form.ng-submitted rb-model-dropdown.ng-invalid,
rb-model-dropdown.ng-dirty.ng-invalid {
  .ui.dropdown {
    border-color: #e0b4b4;
    background-color: #fff6f6;
  }
}
