<form #configItemForm="ngForm" auiForm>
    <div class="config-wrapper">
        <div *ngIf="!value.length" class="no-config">{{ 'configmap_no_config' | translate }}</div>
        <ng-container *ngFor="let configItem of value; trackBy: trackByIndex;">
            <div *ngIf="i"
                class="dashed-line"></div>
            <div class="config-item">
                <aui-form-item>
                    <label auiFormItemLabel>{{'key' | translate}}</label>            
                    <input aui-input
                        auiFormItemControl
                        required
                        [name]="'key-' + configItem.indexId"
                        [(ngModel)]="configItem.key"
                        [pattern]="keyReg.pattern"
                        [rcErrorsTooltip]
                        [rcErrorsTooltipMapper]="{pattern: keyReg.tip | translate}">
                    <div auiFormItemAddon></div>
                </aui-form-item>
                <aui-form-item>
                    <label auiFormItemLabel>{{'value' | translate}}</label>
                    <textarea aui-input
                            auiFormItemControl
                            size="large"
                            required
                            [name]="'value-' + configItem.indexId"
                            [(ngModel)]="configItem.value"
                            [rcErrorsTooltip]></textarea>
                    <div class="config-action"
                        auiFormItemAddon
                        role="button"
                        (click)="removeRow(configItem.indexId)">
                        <aui-icon icon="basic:minus_circle_s" margin="right"></aui-icon>
                    </div>
                </aui-form-item>
            </div>
        </ng-container>
        <div class="add-container-button" (click)="addRow()"><i class="fa fa-plus-circle"></i>{{ 'add' | translate }}</div>
    </div>
</form>