@import '_colors.styles';

@mixin row-button-style {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  i {
    margin-right: 4px;
  }
}
:host {
  width: 100%;
  .add-container-button {
    @include row-button-style();
    margin-top: 10px;
    color: #009ce3;
    background-color: #fff;
    border: dashed 1px $button-default-border-color;
    &:hover {
      border-color: $button-default-hover-border-color;
      background-color: $button-default-hover-background-color;
    }
  }

  .config-wrapper {
    padding: 10px;
    background-color: #f1f1f1;
  }

  .no-config {
    border: 1px dashed #e8e8e8;
    height: 160px;
    color: #999;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .config-item {
    padding: 16px 0px 0px 10px;
    height: 100%;
    background-color: #fff;
    &:not(:first-child) {
      margin-top: 10px;
    }
    aui-form-item {
      textarea {
        resize: none;
      }
    }
  }

  .config-action {
    color: #009ce3;
  }
}
