<div class="rc-suggesstion-input"
     #wrapper>
  <input rcInput
         type="text"
         autocomplete="off"
         [required]="required"
         [disabled]="disabled"
         [ngClass]="{'has-suggestions': suggesstionItems.length > 0 && suggestionsVisible(), 'no-suggestions': !suggestionsVisible()}"
         [placeholder]="placeholder"
         [(ngModel)]="inputValue"
         (ngModelChange)="onInputChange()"
         (focus)="onInputFocus()"
         (blur)="onInputBlur()"
         (keydown)="onKeydown($event, inputEl)">
    <ul *ngIf="suggestionsVisible()"
        class="rc-suggestion-list">
      <li *ngFor="let item of suggesstionItems; let i = index;"
          (click)="confirm()"
          class="rc-suggestion-list-item"
          [ngClass]="{'active': i === suggestionList.selectedIndex}"
          (mouseenter)="suggestionList.select(i, false)"
          (mousedown)="$event.preventDefault()"
          >{{item}}</li>
    </ul>
</div>
