:host {
  display: block;
  .rc-suggesstion-input {
    position: relative;
    .has-suggestions {
      border-radius: 5px 5px 0 0;
      border-bottom: none;
    }
    .no-suggestions {
      border-radius: 5px;
    }
    .rc-suggestion-list {
      position: absolute;
      width: 100%;
      z-index: 999;
      font-size: 14px;
      cursor: text;
      list-style-type: none;
      margin: 0;
      max-height: 200px;
      overflow-y: auto;
      border: 1px solid #85b7d9;
      border-top: none;
      border-radius: 0 0 4px 4px;
      .rc-suggestion-list-item {
        color: rgba(0, 0, 0, 0.95);
        background-color: #fff;
        padding: 6px 8px;
        line-height: 20px;
        border-top: 1px solid #fafafa;
        cursor: default;
        &:hover,
        &.active {
          background: #f2f2f2;
          color: rgba(0, 0, 0, 0.95);
        }
      }
    }
  }
}
