@import '_colors.styles';

:host {
  display: block;
  padding: 50px 18px;

  .fields-wrapper {
    rc-form-field {
      rc-single-selection-dropdown {
        padding-right: 7px;
      }
    }
  }

  .type-lable {
    display: flex;
    justify-content: flex-end;
    label {
      padding-right: 16px;
      padding-top: 5px;
    }
  }

  .integration-type-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .integration-type-card {
    width: 175px;
    height: 113px;
    margin-bottom: 16px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: #f8f8f8;
    }

    img {
      display: block;
      margin: 12px auto 8px;
      width: 64px;
      height: 64px;
    }

    span {
      display: block;
      font-size: 14px;
      color: #464646;
      text-align: center;
      line-height: 1;
    }
  }
}
