<form>
  <div class="fields-wrapper">
    <!-- 场景 -->
    <rc-form-field label="{{'integration_family' | translate}}"
                   [shouldFlexRow]="true">
      <rc-single-selection-dropdown [options]="families"
                                    (change)="onFamilyChanged($event.name)"
                                    [(ngModel)]="selectedFamily"
                                    [ngModelOptions]="{standalone: true}"
                                    [allowFilter]="false"
                                    displayField="displayName"
                                    valueField="name"
                                    style="flex:1">
      </rc-single-selection-dropdown>
    </rc-form-field>
  </div>
</form>
<div rcRow [rcRowBase]="20">
  <div rcCol [rcColSpan]="5" class="type-lable">
    <label>{{ "type" | translate }}</label>
  </div>
  <div rcCol [rcColSpan]="13" class="integration-type-container">
    <div class="integration-type-card"
      *ngFor="let type of types"
      (click)="onSelected(type.name)">
      <img
        [src]="'/static/images/integration-logo/'+type.name+'.png'"
        [attr.data-standby]="type.logo"
        onerror="this.src=this.dataset.standby">
      <span>{{ type.name }}</span>
    </div>
  </div>
</div>
