<div class="rb-form-panel" rb-loading-mask="vm.submitting">
  <div class="rb-form-container">
    <form class="rb-form" name="vm.scalingForm" novalidate>
      <div class="rb-input-container">
        <!-- scaling mode -->
        <div class="rb-input-field-container">
          <label>{{'scaling_mode' | translate}}</label>
          <rb-radio-group options="vm.getScalingModeOptions()"
                          init="vm.scalingMode"
                          key="name"
                          value="value"
                          on-change="vm.onScalingModeChange(option)"></rb-radio-group>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <div ng-if="vm.scalingMode === 'MANUAL'">
        <div class="rb-input-container">
          <div class="rb-input-field-container">
            <label>{{'instance_num' | translate}}</label>
            <input class="rb-input"
                   type="number"
                   name="target_instance_number"
                   ng-model="vm.target_num_instances"
                   placeholder="1-200"
                   min="1"
                   max="200"
                   rb-errors-tooltip
                   rb-errors-tooltip-mapper="{
                    'pattern': (vm.targetNumInstancesRegExp.tip | translate)
                   }"
                   ng-pattern="vm.targetNumInstancesRegExp.pattern"
                   ng-disabled="vm.disableInstanceNumber"
                   ng-readonly="vm.disableInstanceNumber"
                   required>
            <div class="rb-input-field-addon"></div>
          </div>
          <div class="rb-input-hint-container"></div>
        </div>
      </div>

      <div ng-if="vm.scalingMode === 'AUTO'" class="rb-service-scaling-config">
        <div class="rb-horizontal-message">
          <span class="fa fa-exclamation-circle"></span>{{'service_auto_scaling_help' | translate}}
        </div>
        <div class="scaling-config-content">
          <!--缩容设置-->
          <div class="scaling-config-partial">
            <div class="partial-header">{{'scaling_in' | translate}}</div>
            <label>{{'min_num_instances' | translate}}</label>
            <div class="ui input mini fluid">
              <input name="minimum_num_instances"
                     type="number"
                     rb-errors-tooltip
                     ng-pattern="/^\d+$/"
                     placeholder="1-200"
                     max="200"
                     min="1"
                     ng-model="vm.autoscaling_config.minimum_num_instances"
                     required>
            </div>
            <label>{{'decrease_delta' | translate}}</label>
            <div class="ui input mini fluid">
              <input name="decrease_delta"
                     type="number"
                     rb-errors-tooltip
                     ng-pattern="/^\d+$/"
                     placeholder="1-200"
                     max="200"
                     min="1"
                     ng-model="vm.autoscaling_config.decrease_delta"
                     required>
            </div>
            <!--添加缩容告警-->
            <label>{{'service_add_alarm' | translate}}</label>
            <div class="scaling-alarm-partial">
              <rb-dropdown
                size="sm"
                options="vm.availableAlarms"
                on-change="vm.onScalingInAlarmChange(option)"
                is-disabled="!vm.availableAlarms.length"
                key="name"
                value="uuid"></rb-dropdown>
              <button type="button"
                      class="ui button rb-btn-default pull-right"
                      ng-disabled="!vm.availableAlarms.length || vm.scalingInAlarmsSubmitting || !vm.scalingInAlarm"
                      ng-click="vm.addScalingInAlarm()">
                {{'add' | translate}}
              </button>
            </div>
            <!--创建缩容告警-->
            <div class="scaling-alarm-partial" style="margin-top: 12px;">
              <label>{{'alarm' | translate}}</label>
              <button type="button"
                      class="ui button tiny rb-btn-default pull-right"
                      uib-tooltip="{{ 'service_autoscaling_save_and_create_alarm' | translate }}"
                      ng-click="vm.createAlarm('scaling_in')">
                {{'service_create_scalingin_alarm' | translate}}
              </button>
            </div>
            <div class="scaling-alarm-list">
              <div ng-if="!vm.scalingInAlarms.length" class="scaling-alarm-empty">
                {{'service_scalingin_alarms_empty' | translate}}
              </div>
              <div ng-repeat="alarm in vm.scalingInAlarms track by $index"
                   class="scaling-alarm-item">
                <span class="alarm-item-status {{vm.getAlarmItemStatusClass(alarm.status)}}">
                  <i class="fa fa-circle-o"></i>
                </span>
                <a href="javascript:void(0)" ng-click="vm.viewAlarmDetail(alarm)">{{alarm.name}}</a>
              </div>
            </div>
          </div>
          <!--扩容设置-->
          <div class="scaling-config-partial">
            <div class="partial-header">{{'scaling_out' | translate}}</div>
            <label>{{'max_num_instances' | translate}}</label>
            <div class="ui input mini fluid">
              <input name="maximum_num_instances"
                     type="number"
                     rb-errors-tooltip
                     ng-pattern="/^\d+$/"
                     placeholder="1-200"
                     max="200"
                     min="1"
                     ng-model="vm.autoscaling_config.maximum_num_instances"
                     required>
            </div>
            <label>{{'increase_delta' | translate}}</label>
            <div class="ui input mini fluid">
              <input name="increase_delta"
                     type="number"
                     rb-errors-tooltip
                     ng-pattern="/^\d+$/"
                     placeholder="1-200"
                     max="200"
                     min="1"
                     ng-model="vm.autoscaling_config.increase_delta"
                     required>
            </div>
            <!--添加扩容告警-->
            <label>{{'service_add_alarm' | translate}}</label>
            <div class="scaling-alarm-partial">
              <rb-dropdown
                size="sm"
                options="vm.availableAlarms"
                on-change="vm.onScalingOutAlarmChange(option)"
                key="name"
                is-disabled="!vm.availableAlarms.length"
                value="uuid"></rb-dropdown>
              <button type="button"
                      class="ui button rb-btn-default pull-right"
                      ng-disabled="!vm.availableAlarms.length || vm.scalingOutAlarmsSubmitting || !vm.scalingOutAlarm"
                      ng-click="vm.addScalingOutAlarm()">
                {{'add' | translate}}
              </button>
            </div>
            <!--创建扩容告警-->
            <div class="scaling-alarm-partial" style="margin-top: 12px;">
              <label>{{'alarm' | translate}}</label>
              <button type="button"
                      class="ui button tiny rb-btn-default pull-right"
                      uib-tooltip="{{ 'service_autoscaling_save_and_create_alarm' | translate }}"
                      ng-click="vm.createAlarm('scaling_out')">
                {{'service_create_scalingout_alarm' | translate}}
              </button>
            </div>
            <div class="scaling-alarm-list">
              <div ng-if="!vm.scalingOutAlarms.length" class="scaling-alarm-empty">
                {{'service_scalingout_alarms_empty' | translate}}
              </div>
              <div ng-repeat="alarm in vm.scalingOutAlarms track by $index"
                   class="scaling-alarm-item">
                <span class="alarm-item-status {{vm.getAlarmItemStatusClass(alarm.status)}}">
                  <i class="fa fa-circle-o"></i>
                </span>
                <a href="javascript:void(0)" ng-click="vm.viewAlarmDetail(alarm)">{{alarm.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.confirm()">{{'confirm' |
        translate}}
      </button>
    </div>
  </div>
</div>