<div class="rb-form-panel"
     rb-loading-mask="vm.submitting">
  <div class="rb-form-container">
    <form class="rb-form rb-exec-form"
          autocomplete="off"
          name="vm.execForm"
          method="post"
          action="{{vm.lycan_url}}"
          target="_blank">
      <input type="hidden"
             name="username"
             value="{{vm.username}}" />
      <input type="hidden"
             name="namespace"
             value="{{vm.namespace}}" />
      <input type="hidden"
             name="exec_endpoint"
             value="{{vm.serviceExecEndpoint}}" />
      <input type="hidden"
             name="application"
             value="{{vm.serviceData.application}}" />
      <input type="hidden"
             name="instance_name"
             value="{{vm.instanceName}}" />
      <input type="hidden"
             name="duplicated_names_enabled"
             value="true" />
      <input ng-if="vm.projectEnabled && vm.projectName"
             type="hidden"
             name="project_name"
             value="{{vm.projectName}}" />

      <!-- service instances -->
      <div class="rb-input-container"
           ng-if="vm.serviceData.uuid">
        <div class="rb-input-field-container">
          <label>{{'service_exec_instance' | translate}}</label>
          <rb-dropdown rb-loading-mask="!vm.serviceData.instances"
                       options="vm.serviceData.instances"
                       key="instance_name"
                       value="instance_name"
                       on-change="vm.onInstanceChange(option)"
                       style="width: auto; flex: 1;"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <div ng-if="!vm.serviceData.uuid">
        <div class="rb-input-container">
          <div class="rb-input-field-container">
            <label>{{'service_exec_group' | translate}}</label>
            <rb-dropdown rb-loading-mask="!vm.serviceInstances"
                         options="vm.serviceInstances"
                         key="name"
                         value="uuid"
                         on-change="vm.onInstanceGroupChange(option)"
                         style="width: auto; flex: 1;"></rb-dropdown>
            <div class="rb-input-field-addon"></div>
          </div>
          <div class="rb-input-hint-container"></div>
        </div>
        <div class="rb-input-container">
          <div class="rb-input-field-container">
            <label>{{'container' | translate}}</label>
            <rb-dropdown rb-loading-mask="!vm.serviceContainers"
                         options="vm.serviceContainers"
                         key="name"
                         value="name"
                         on-change="vm.onContainerChange(option)"
                         style="width: auto; flex: 1;"></rb-dropdown>
            <div class="rb-input-field-addon"></div>
          </div>
          <div class="rb-input-hint-container"></div>
        </div>
      </div>
      <!-- exec command -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'entrypoint' | translate}}</label>
          <input class="rb-input"
                 type="text"
                 name="command"
                 ng-model="vm.command"
                 rb-errors-tooltip
                 required>
          <div class="rb-input-field-addon">
            <span class="fa fa-question-circle"
                  uib-popover-html="'service_exec_entrypoint_placeholder' | translate"

                  popover-placement="left"
                  popover-trigger="'mouseenter'"
                  popover-append-to-body="true"></span>
          </div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>

      <!-- password -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'service_exec_password' | translate}}</label>
          <!--avoid browser autocomplete for input before password-->
          <input class="rb-input"
                 type="text"
                 name="fakecommand"
                 style="position: absolute;left: -9999px;">
          <input class="rb-input"
                 type="password"
                 name="password"
                 ng-model="vm.password"
                 rb-errors-tooltip
                 required>
          <div class="rb-input-field-addon">
            <span class="fa fa-question-circle"
                  uib-popover-html="'service_exec_password_placeholder' | translate"
                  popover-placement="left"
                  popover-trigger="'mouseenter'"
                  popover-append-to-body="true"></span>
          </div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>

      <!-- full command -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'exec_command' | translate}}</label>
          <div class="ui action input fluid rb-input">
            <input id="rb-service-exec-full"
                   type="text"
                   value="{{vm.execCommand}}"
                   readonly>
            <button type="button"
                    ng-click="vm.copyText();"
                    class="ui button small">
              <span ng-class="{'fa-files-o':!vm.copySuccess,'fa-check':vm.copySuccess }"
                    class="fa "></span>
            </button>
          </div>
          <div class="rb-input-field-addon">
            <span class="fa fa-question-circle"
                  uib-popover-html="'exec_command_placeholder' | translate"
                  popover-placement="left"
                  popover-trigger="'mouseenter'"
                  popover-append-to-body="true"></span>
          </div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button"
              class="ui button rb-btn-default"
              ng-click="vm.cancel()">{{'cancel' | translate}}
      </button>
      <button type="button"
              class="ui button rb-btn-primary"
              ng-click="vm.confirm()">{{'confirm' | translate}}
      </button>
    </div>
  </div>
</div>
