.layout-toolbar {
  display: flex;
  flex: 1;
  align-items: center;
  height: 48px;
}

.layout-page-header {
  display: flex;
  align-items: center;
  flex: 1;
}

.layout-page-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  ::ng-deep router-outlet + * {
    display: block;
    width: 100%;
  }
}
