<ng-container *ngIf="serviceCatalogCluster; else noSupportClusterBlock">
  <ng-container *ngIf="type === 'serviceBroker'">
    <div *rcPageHeaderContent>
      <rc-breadcrumb>
        <ng-container *rcBreadcrumbItem>
          {{ 'nav_service_catalog' | translate }}
        </ng-container>
        <ng-container *rcBreadcrumbItem>
          {{ 'nav_service_broker' | translate }}
        </ng-container>
      </rc-breadcrumb>
      <span class="fa fa-info-circle service-catalog-empty-notification"
            (click)="showNoti()">
      </span>
    </div>
    <rc-inline-notification *ngIf="showNotification"
                  (close)="notiClose()"
                  type="info"
                  closable='true'
                  content="{{'service_catalog_broker_empty_view_toast_message' | translate}}"></rc-inline-notification>
    <div class="empty-page-container">
      <img class="empty-view-image" src="/static/images/app-catalog/app-catalog-empty.png" alt="empty-icon">
      <div class="empty-view-title">{{ 'service_catalog_broker_empty_title' | translate }}</div>
      <div class="empty-view-description">
        <div>{{ 'service_catalog_broker_empty_view_description' | translate }}</div>
      </div>
      <button rcButton="primary" 
              *ngIf="permission.indexOf('clusterservicebroker:create') >= 0" 
              class="primary-btn" 
              (click)="refreshAction()">
        {{ 'service_catalog_create_service_broker' | translate }}
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="type === 'serviceClass'">
    <div class="empty-page-container">
      <img class="empty-view-image" src="/static/images/app-catalog/app-catalog-empty.png" alt="empty-icon">
      <div class="empty-view-title">{{ 'service_catalog_class_empty_title' | translate }}</div>
      <ng-container *ngIf="permission.indexOf('clusterservicebroker:create') >= 0; else elsePermissionBlock">
        <div class="empty-view-description">
          <div>{{ 'service_catalog_class_empty_view_description' | translate }}</div>
        </div>
        <button rcButton="primary" class="primary-btn" (click)="refreshAction()">
          {{ 'service_catalog_create_service_broker' | translate }}
        </button>
      </ng-container>
      <ng-template #elsePermissionBlock>
        <div class="empty-view-description">
          <div>{{ 'service_catalog_class_empty_view_description_no_permission' | translate }}</div>
        </div>
      </ng-template>
    </div>
  </ng-container>
</ng-container>
<ng-template #noSupportClusterBlock>
  <div class="empty-page-container">
    <img class="empty-view-image" src="/static/images/app-catalog/app-catalog-empty.png" alt="empty-icon">
    <div class="empty-view-title">{{ 'service_catalog_no_support_cluster' | translate }}</div>
  </div>
</ng-template>
