:host {
  .empty-view-image {
    width: 320px;
    margin-bottom: 20px;
  }

  .empty-view-title {
    font-size: 18px;
  }

  .primary-btn {
    font-size: 16px;
    padding: 7px 20px;
  }

  .empty-view-description {
    padding: 15px;
  }

  .empty-page-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    min-height: 550px;
    height: calc(100% - 100px);
  }

  ::ng-deep rc-inline-notification {
    .wrapper {
      max-width: none !important;
      padding: 12px 100px !important;
      .spec.middle {
        max-width: none !important;
      }
    }
  }
}
