.confirm-resource {
  display: flex;
  &__label {
    width: 80px;
  }
}
.confirm-content {
  margin-top: 20px;
}
.wapper {
  display: inline-flex;
  align-items: center;
}
.tags_wapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  //为了抵消aui-tag设置的margin bottom
  margin-bottom: -5px;
}
:host {
  aui-tag {
    margin-bottom: 5px;
  }
}
