:host {
  ::ng-deep {
    .aui-input-group__addon--before {
      padding: 0 4px 0 0;
      border: none;
      background-color: #fafafa;
    }
    .aui-input-group__addon--after {
      white-space: nowrap;
    }
    .aui-input-group.hasAddonAfter .aui-input-group__addon--before .aui-input {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    .aui-input-group.hasAddonBefore .aui-input {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    aui-input-group {
      width: 100%;
    }
  }
}

form {
  padding: 16px;
  background-color: #fafafa;
}

.chart {
  height: 188px;
  .no_data {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 80px;
  }
}
