<aui-dialog-header>
    {{ formTitle | translate  }}
</aui-dialog-header>
<aui-dialog-content>
    <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
    <div *ngIf="initialized">
        <div class="chart">
            <rc-charts-line-chart
                [results]="chartData"
                [xAxis]="true"
                [yAxis]="true"
                [autoScale]="true"
                [scheme]="chart.scheme"
                [roundDomains]="true"
                [xAxisTickFormatting]="chart.xAxisTickFormatting"
                [yAxisTickFormatting]="chart.yAxisTickFormatting"
                [xAxisTickWidth]="120"
                [yScaleMin]="chartScale.yScaleMin"
                [yScaleMax]="chartScale.yScaleMax"
                *ngIf="chartData.length;else empty_chart">
                <ng-template #tooltipTemplate let-model="model">
                  <div class="rc-chart-tooltip-item">{{model.name * 1000 | rcFormatUtcStr}}</div>
                  <div class="rc-chart-tooltip-item">{{'data' | translate}}: {{model.value}}</div>
                </ng-template>
                <ng-template #seriesTooltipTemplate let-model="model">
                  <div class="rc-chart-tooltip-item">{{model[0].name * 1000 | rcFormatUtcStr}}</div>
                    <div *ngFor="let tooltipItem of model" class="rc-chart-tooltip-item">
                      <span class="tooltip-item-color" [style.background-color]="tooltipItem.color"></span>
                      <span>{{ tooltipItem.series }}: {{ parseTooltip(tooltipItem.value) }}</span>
                  </div>
                </ng-template>
            </rc-charts-line-chart>
        </div>
        
        <form #form="ngForm" auiForm [auiFormLabelWidth]="'80px'" [auiFormLabelPosition]="'right'" [auiFormInline]="false"
            [auiFormEmptyAddon]="false">
            <aui-form-item>
                <label auiFormItemLabel>{{ 'alarm_name' | translate }}</label>
                <input auiFormItemControl
                    name="name"
                    #name="ngModel"
                    aui-input
                    required
                    [pattern]="resourceNameReg.pattern"
                    [placeholder]="resourceNameReg.tip | translate"
                    [(ngModel)]="viewModel.name"
                    [rcErrorsTooltip]
                    [rcErrorsTooltipMapper]="{pattern: resourceNameReg.tip | translate}"
                    *ngIf="!data;else alarm_name">
                    <span auiFormItemAddon></span>
            </aui-form-item>
            <aui-form-item>
                <label auiFormItemLabel>{{ 'monitor_metric' | translate }}</label>
                <aui-select auiFormItemControl
                    name="metric"
                    #metric="ngModel"
                    required 
                    [(ngModel)]="viewModel.metric"
                    (ngModelChange)="onMetricSelect($event)">
                    <aui-option *ngFor="let metric of metrics"
                        [value]="metric.key"
                        [label]="metric.name">{{ metric.name }}</aui-option>
                </aui-select>
                <span auiFormItemAddon></span>
            </aui-form-item>
            <aui-form-item>
                <label auiFormItemLabel>{{ 'alarm_time' | translate }}</label>
                <aui-select auiFormItemControl
                    name="timeStampOption"
                    #timeStampOption="ngModel"
                    required
                    [(ngModel)]="viewModel.timeStampOption"
                    (ngModelChange)="onTimeStampOptionSelect($event)">
                    <aui-option *ngFor="let timeStampOption of timeStampOptions"
                        [value]="timeStampOption.offset"
                        [label]="timeStampOption.name">{{ timeStampOption.name }}</aui-option>
                </aui-select>
                <span auiFormItemAddon>
                    <aui-icon [auiTooltip]="'alarm_time_tip' | translate"
                                icon="basic:question"
                                color="#999"></aui-icon>
                </span>
            </aui-form-item>
            <aui-form-item>
                <label auiFormItemLabel>{{ 'monitor_aggregator' | translate }}</label>
                <aui-select auiFormItemControl
                    name="aggregator"
                    #aggregator="ngModel"
                    required
                    [(ngModel)]="viewModel.aggregator"
                    (ngModelChange)="onAggregatorSelect($event)">
                    <aui-option *ngFor="let aggregator of aggregators"
                        [value]="aggregator.key"
                        [label]="aggregator.name | translate">{{ aggregator.name | translate }}</aui-option>
                </aui-select>
                <span auiFormItemAddon></span>
            </aui-form-item>
            <aui-form-item>
                <label auiFormItemLabel>{{ 'alarm_threshold' | translate }}</label>
                <aui-input-group auiFormItemControl required>
                    <aui-select auiInputAddonBefore
                        name="compareOption"
                        #compareOption="ngModel"
                        required
                        [(ngModel)]="viewModel.compare">
                        <aui-option *ngFor="let compareOption of compareOptions"
                            [value]="compareOption">{{ compareOption }}</aui-option>
                    </aui-select>
                    <span auiInputAddonAfter>{{ unitName }}</span>
                    <input
                        aui-input
                        name="threshold"
                        #threshold="ngModel"
                        required
                        [pattern]="thresholdRegex"
                        placeholder="{{ 'alarm_metric_field_error_pattern' | translate }}"
                        [(ngModel)]="viewModel.threshold"
                        [rcErrorsTooltip]
                        [rcErrorsTooltipMapper]="{pattern: 'alarm_metric_field_error_pattern' | translate}">
                </aui-input-group>
                <span auiFormItemAddon></span>
            </aui-form-item>
        </form>
    </div>
</aui-dialog-content>
<aui-dialog-footer>
    <div>
        <button aui-button="primary"
            [loading]="submitting"
            [disabled]="submitting"
            (click)="confirm()">
            {{ formSubmitText | translate  }}
        </button>
        <button aui-button
            (click)="cancel()">
            {{ 'cancel' | translate }}
        </button>
    </div>
</aui-dialog-footer>

<ng-template #empty_chart>
    <div class="no_data">
        {{ 'no_data' | translate }}
    </div>
</ng-template>

<ng-template #alarm_name>
    <span>
        {{ data.name }}
    </span>
</ng-template>
    