.rc-delete-description {
  margin: 30px 60px;

  p {
    font-size: 14px;
    color: #666666;
  }
}

.rc-delete-script {
  height: 32px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #dedede;
  overflow: hidden;
  font-size: 14px;
  color: #666666;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .text {
    padding-left: 10px;
    width: 100%;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .button {
    width: 31px;
    height: 30px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
