<section class="rc-delete-description">
  <p>
    1.{{ 'region_delete_hint_line_1' | translate }}
  </p>
  <div class="rc-delete-script" (click)="copyScript()" [rcLoadingMask]="!uninstallScript">
    <div class="text">{{ uninstallScript }}</div>
    <div class="button fa" [class.fa-files-o]="!scriptCopied" [class.fa-check]="scriptCopied"></div>
  </div>
  <p>
    2. {{ 'region_delete_hint_line_2' | translate }}
  </p>
  <p>
    3. {{ 'region_delete_hint_line_3' | translate }}
  </p>
</section>

<div class="rc-dialog-footer">
  <button
    rcButton="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="delete()">
    {{ 'confirm' | translate }}
  </button>
  <button
    rcButton
    [disabled]="submitting"
    (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
