<rc-loading-mask class="rc-form-loading-mask" [loading]="!initialized"></rc-loading-mask>
<div class="resource-form__wrapper" [hidden]="!initialized">
  <div class="resource-form__header">
      <span *ngIf="!data">{{'create_configmap' | translate}}</span>
      <span *ngIf="data">{{'update_configmap' | translate}}</span>
      <div style="flex: 1;"></div>
      <aui-radio-group
          name="formModel"
          [isPlain]="false"
          (ngModelChange)="formModelChange($event)"
          [(ngModel)]="formModel">
          <aui-radio-button value="UI">{{'form' | translate}}</aui-radio-button>
          <aui-radio-button value="YAML">YAML</aui-radio-button>
      </aui-radio-group>
  </div>
  <div class="resource-form__content" *ngIf="formModel=='UI'">
    <form #configmapForm="ngForm"
      auiForm
      auiFormLabelWidth="70px">
    <!-- 联邦集群 -->
      <aui-form-item *ngIf="mirrorClusters.length">
        <label auiFormItemLabel>{{'cluster' | translate}}</label>
        <aui-multi-select
          auiFormItemControl
          name="clusters"
          [(ngModel)]="clusters"
          required
          [placeholder]="placeholder"
          [filterable]="filterable"
          [rcErrorsTooltip]
        >
          <aui-option *ngFor="let cluster of mirrorClusters" [value]="cluster.name">{{cluster.display_name}}</aui-option>
        </aui-multi-select>
      </aui-form-item>
      <!-- 名称 -->
      <aui-form-item *ngIf="data">
          <label auiFormItemLabel>{{'name' | translate}}</label>
          <span>{{configMap.kubernetes.metadata.name}}</span>
      </aui-form-item>
      <aui-form-item *ngIf="!data">
        <label auiFormItemLabel>{{'name' | translate}}</label>
        <input aui-input
              auiFormItemControl
              required
              name="name"
              [(ngModel)]="configMap.kubernetes.metadata.name"
              maxlength="63"
              [pattern]="resourceNameReg.pattern"
              [placeholder]="resourceNameReg.tip | translate"
              [rcErrorsTooltip]
              [rcErrorsTooltipMapper]="{pattern: resourceNameReg.tip | translate}">
      </aui-form-item>
      <!-- 描述 -->
      <aui-form-item>
        <label auiFormItemLabel>{{'description' | translate}}</label>
        <input aui-input
              name="description"
              [(ngModel)]="configMap.kubernetes.metadata.annotations[descriptionKey]">
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{'configuration_items' | translate}}</label>
        <rc-config-items-fieldset #configItemsForm name="configItems" [(ngModel)]="configItems"></rc-config-items-fieldset>
      </aui-form-item>
    </form>
  </div>
  <div *ngIf="formModel=='YAML'">
      <form
        auiForm
        auiFormLabelWidth="140px"
        #configmapForm="ngForm">
        <aui-form-item *ngIf="mirrorClusters.length">
          <label auiFormItemLabel>{{'cluster' | translate}}</label>
          <aui-multi-select
            auiFormItemControl
            name="clusters"
            [(ngModel)]="clusters"
            required
            [placeholder]="placeholder"
            [filterable]="filterable"
            [rcErrorsTooltip]
          >
            <aui-option *ngFor="let cluster of mirrorClusters" [value]="cluster.name">{{cluster.display_name}}</aui-option>
          </aui-multi-select>
        </aui-form-item>
        <!-- YAML -->
        <aui-form-item>
          <label auiFormItemLabel>{{'yaml_file' | translate}}</label>
          <aui-code-editor
              auiFormItemControl
              name="yaml"
              style="width: 100%;"
              required
              [rcErrorsTooltip]
              [rcErrorsTooltipInline]="true"
              [originalValue]="configmapYamlOrigin"
              [(ngModel)]="configmapYaml"
              [actionsConfig]="editorActionsConfig"
              [options]="codeEditorOptions">
          </aui-code-editor>
        </aui-form-item>
    </form>
  </div>
</div>
<div class="resource-form__footer" [hidden]="!initialized">
    <div style="flex: 1;"></div>
    <button
        type="button"
        aui-button="primary"
        [loading]="submitting"
        [disabled]="submitting"
        (click)="confirm()">
        <span *ngIf="data">{{'update' | translate}}</span>
        <span *ngIf="!data">{{'create' | translate}}</span>
    </button>
    <button
        type="button"
        aui-button
        [disabled]="submitting"
        (click)="cancel()">{{'cancel' | translate}}</button>
</div>
