<div class="rb-event-list-container">
  <div class="rb-event-header">
    <div class="rb-legend-list"
      layout="row"
      layout-align="start center">
      <div class="rb-legend-item success">
        {{ 'message' | translate }}
      </div>
      <div class="rb-legend-item pending">
        {{ 'warning' | translate }}
      </div>
      <div class="rb-legend-item error">
        {{ 'error' | translate }}
      </div>
    </div>
    <form class="rb-form">
      <div class="margin-right-2">
        <i class="fa fa-question-circle rb-label-hint"
          style="cursor: pointer; line-height: 32px;"
          uib-popover="{{ 'event_auto_fresh_list' | translate }}"
          popover-placement="top"
          popover-append-to-body="true"
          popover-trigger="'mouseenter'">
      </i>
      </div>
      <div flex="50">
        <rb-search-input loading="vm.eventsLoading"
          on-search="vm.queryEvents(value)"></rb-search-input>
      </div>
    </form>
  </div>

  <div class="rb-event-content">
    <!--<rb-loading-mask-placeholder ng-if="vm.eventsLoading"></rb-loading-mask-placeholder>-->

    <ul ng-if="vm.events.length > 0"
      rb-loading-mask="vm.eventsLoading"
      class="rb-event-list">
      <li ng-class="{'rb-popover-success': event.log_level === 0, 'rb-popover-warnning': event.log_level === 1, 'rb-popover-error': event.log_level === 2}"
        ng-repeat="event in vm.events track by $index">
        <div ng-click="event.showDetail=!event.showDetail;">
          <span bind-html-compile="event.message"></span>
          <span class="item-detail-icon fa"
            ng-class="{'fa-caret-right':!event.showDetail, 'fa-caret-down':event.showDetail}"></span>
        </div>
        <div ng-show="event.showDetail">
          <pre>{{event.json}}</pre>
        </div>
      </li>
    </ul>
    <div ng-if="vm.events.length === 0 && vm.searchMode"
      rb-loading-mask="vm.eventsLoading"
      class="rb-event-not-found">
      <div>
        <h2>{{ 'event_not_found' | translate }}</h2>
        <hr>
        <ul translate="event_not_found_tips">
        </ul>
        <ul>
          <li>
            <p>{{ 'event_data_example' | translate }}</p>
            <pre>{
    "resource_name": "EHEtest",
    "resource_id": "ac16c87b-1e14-44a9-b489-5a5f1319bac4",
    "namespace": "claasv1",
    "detail": {
        "operator": "vipertest",
        "operation": "destroy"
    },
    "time": 1466241014.316031,
    "template_id": "generic",
    "resource_type": "service"
}</pre>
          </li>
        </ul>
      </div>
    </div>

    <rb-pagination ng-if="vm.pagination.total_items"
      total-items="vm.pagination.total_items"
      on-change="vm.loadEvents(page, size)"
      disabled="vm.eventsLoading">
    </rb-pagination>
  </div>
</div>
