.col {
  padding: 0 20px;
  line-height: 40px;
  display: flex;
  label {
    flex: 2;
    text-align: right;
    padding-right: 16px;
  }
  .right {
    flex: 8;
  }
  ::ng-deep {
    .datatable-body-cell-label {
      width: 100%;
      .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    rc-table {
      background-color: #eee;
      border: {
        right: 1px solid #eee;
        top: 1px solid #eee;
      }
    }
    .rc-primary-table
      > .ngx-datatable
      .datatable-header
      .datatable-header-cell {
      padding: 0.75rem 8px;
      background-color: #f9fafb;
      border-radius: 0;
      border: {
        left: 1px solid #eee;
        bottom: 1px solid #eee;
      }
    }
    .rc-primary-table
      > .ngx-datatable
      .datatable-body
      .datatable-row-wrapper
      .datatable-body-row
      .datatable-body-cell {
      padding: 0.9rem 8px;
      background-color: #f9fafb;
      border-radius: 0;
      border: {
        left: 1px solid #eee;
        bottom: 1px solid #eee;
      }
    }
    .datatable-body {
      background-color: #fff;
    }
    datatable-selection {
      height: 40px;
    }
  }
}

.modal-footer {
  margin-top: 20px;
}
