
<div class="col">
  <label>{{ 'role' | translate }}</label><span class="right">{{ role.name }}</span>
</div>
<div class="col" [rcLoadingMask]="!initialized">
  <label>{{ 'resource_type' | translate }}</label>
  <rc-table #roleTemplateList class="rc-primary-table right" [columnMode]="'force'" [headerHeight]="40" [rowHeight]="40" [rows]="role.permissions">
    <!-- 资源类型 -->
    <rc-table-col [width]="100" name="{{ 'resource_type' | translate }}" [resizeable]="false">
      <div *rcTableColCell="let rowData = row">
        <span>{{ rowData.resource_type }}</span>
      </div>
    </rc-table-col>
    <!-- 操作 -->
    <rc-table-col [width]="100" name="{{ 'action' | translate }}" [resizeable]="false">
      <div *rcTableColCell="let rowData = row">
        <div class="ellipsis" [title]="rowData.actions.join(', ')">{{ rowData.actions.join(', ') }}</div>
      </div>
    </rc-table-col>
    <!-- 约束条件 -->
    <rc-table-col [width]="100" name="{{ 'constraints' | translate }}" [resizeable]="false">
      <div *rcTableColCell="let rowData = row">
        <div *ngIf="rowData.constraints">
          <div class="ellipsis" *ngFor="let constraint of rowData.constraints">
            <div *ngFor="let key of keys(constraint)">
              {{ key.split(':')[1] + ': ' + constraint[key] }}
            </div>
            <span *ngIf="!keys(constraint).length">{{ 'rbac_not_set' | translate }}</span>
          </div>
        </div>
        <span *ngIf="!rowData.constraints || !rowData.constraints.length">{{ 'rbac_not_set' | translate }}</span>
      </div>
    </rc-table-col>
  </rc-table>
</div>

<div class="modal-footer"
     style="padding: 12px">
  <button rcButton="primary"
          (click)="cancel()"
          style="margin-right: 8px">{{ 'ok' | translate }}</button>
</div>
