<aui-dialog-header>
    {{'nav_select_image' | translate}}
</aui-dialog-header>
<aui-dialog-content>
    <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
    <div *ngIf="initialized">
        <aui-radio-group #radio name="mode" [(ngModel)]="mode">
            <aui-radio value="select">{{'select_image' | translate}}</aui-radio>
        </aui-radio-group>
        <div class="rc-registries-select">
            <aui-select
                [(ngModel)]="selectedRegistry"
                [disabled]="mode=='input'"
                [placeholder]="'repository_source' | translate"
                [filterable]="true"
                (ngModelChange)="registryChange($event)"
            >
                <aui-option *ngFor="let registry of registries" [label]="registry.display_name" [value]="registry">{{registry.display_name}}</aui-option>
                <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
            </aui-select>
            <span class="delimiter">/</span>
            <aui-select
                [(ngModel)]="selectedRepository"
                [disabled]="mode=='input' || !(selectedRegistry && selectedRegistry.repositories?.length)"
                [placeholder]="'repository' | translate"
                [filterable]="true"
                [loading]="loading && mode === 'select'"
                (ngModelChange)="repositorySelected($event)"
            >
                <aui-option *ngFor="let repository of selectedRegistry?.repositories" [label]="repository.name" [value]="repository">{{repository.name}}</aui-option>
                <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
            </aui-select>
            <span class="delimiter">:</span>
            <div [rcLoadingMask]="imageTagsLoading" class="rc-registries-select__tag">
                <aui-select
                    *ngIf="imageTagOptions.length"
                    [(ngModel)]="imageTag"
                    [disabled]="mode=='input' || !selectedRepository"
                    [placeholder]="'select_image_tag' | translate"
                    [filterable]="true"
                >
                    <aui-option *ngFor="let tag of imageTagOptions" [label]="tag" [value]="tag">{{tag}}</aui-option>
                    <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
                </aui-select>
                <input 
                    aui-input
                    [(ngModel)]="imageTag"
                    type="text"
                    [disabled]="!selectedRepository"
                    *ngIf="!imageTagOptions.length"
                    [placeholder]="'input_image_tag' | translate"
                >
            </div>
        </div>
        <aui-radio-group #radio name="mode" [(ngModel)]="mode">
            <aui-radio value="input">{{'image_address' | translate}}</aui-radio>
        </aui-radio-group>
        <div class="rc-input-row">
            <div class="row-content-wrap">
                <div class="row-content">
                    <input aui-input
                        [disabled]="mode=='select'"
                        type="text"
                        rcTrim
                        pattern=".+\/.+"
                        [placeholder]="'please_input_image_address_and_version' | translate"
                        [rcErrorsTooltip]
                        [(ngModel)]="imageAddressInput">
                </div>
                <div class="row-hint">
                    <div [hidden]="mode=='select'">
                        <span>{{'for_example' | translate}}: {{exampleRepositoryAddress}}</span>
                        <a href="javascript:void(0)"
                            (click)="applyExampleRepository()">
                            <aui-icon icon="basic:write_file"></aui-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aui-dialog-content>
<aui-dialog-footer>
    <div>
        <button aui-button
            (click)="cancel()">
            {{'cancel'|translate}}
        </button>
        <button aui-button="primary"
            [disabled]="shouldDisableConfirmButton()"
            (click)="confirm()">
            {{'confirm'|translate}}
        </button>
    </div>
</aui-dialog-footer>