@import 'colors.styles';

:host {
  display: block;
  ::ng-deep .rc-form-panel {
    padding-top: 0 !important;
  }
  rc-loading-mask {
    height: 182px;
  }
}

.rc-input-row {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 0;
  .row-label {
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 16px;
    width: 100px;
    padding: 8px 4px 8px 0;
  }
  .row-content-wrap {
    flex: 1;
    .row-hint {
      display: flex;
      align-items: center;
      padding-top: 10px;
      line-height: 20px;
      font-size: 14px;
      height: 30px;
      color: #999;
      a {
        margin-left: 4px;
        color: $button-primary-background-color;
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}

.rc-registries-select {
  display: flex;
  align-items: center;
  padding: 8px 0px 20px 0px;
  .delimiter {
    padding: 0px 5px;
  }
  aui-select {
    width: 33%;
  }
  &__tag {
    width: 33%;
  }
}
