<div fxLayout class="alarm-header">
    <button aui-button="primary"
        (click)="createAlarm()">
        {{ 'alarm_create' | translate }}
    </button>
    <div fxFlex></div>
    <aui-search [searchButton]="false"
        [debounce]="200"
        placeholder="{{'filter_by_name_placeholder' | translate}}"
        (keywordChange)="search$.next($event)">
    </aui-search>
</div>

<aui-table [dataSource]="filteredList$ | async"
    [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'alarm_name' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
            <div>{{ item.name }}</div>
        </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="metric">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'metric_name' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
            <div>{{ item.metric_name }}</div>
        </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'status' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
            <rc-status-badge [status]="item.state"></rc-status-badge>
        </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="threshold">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'alarm_threshold' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
            <div>{{ item.compare }} {{ getThreshold(item) }} {{ getUnit(item) }}</div>
        </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
            <div [auiDropdown]="menu"
                class="action-button">
                <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
            </div>
            <aui-menu #menu
                size="small">
                <aui-menu-item (click)="updateAlarm(item)">{{ 'update' | translate }}</aui-menu-item>
                <aui-menu-item (click)="deleteAlarm(item)">{{ 'delete' | translate }}</aui-menu-item>
            </aui-menu>
        </aui-table-cell>
    </ng-container>
    <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
</aui-table>

<rc-zero-state [zeroState]="showZeroState"
    [fetching]="!initialized && fetching"
    resourceName="alarm"></rc-zero-state>
