
<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'notification' | translate }}
  </div>
  <rb-dropdown
    rb-loading-mask="!vm.notifications"
    ng-click="vm.onNotificationListClicked()"
    on-change="vm.notificationChanged(option)"
    is-disabled="vm.workflow.readonly"
    options="vm.notifications"
    init="vm.item.model.data.notification_uuid"
    key="displayName"
    value="uuid">
  </rb-dropdown>
</div>
