<aui-card>
  <div fxLayout auiCardHeader>
    <button aui-button="primary"
            (click)="createService()"
            *ngIf="createEnabled">
      {{'create_route' | translate}}
    </button>
    <div fxFlex></div>
    <aui-search [searchButton]="true"
        [searching]="searching"
        [debounce]="200"
        [(keyword)]="keyword"
        placeholder="{{'search_by_name_placeholder' | translate}}"
        (search)="searchByName($event)">
    </aui-search>
  </div>
  <aui-table [dataSource]="list$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="route_name">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'route_name' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>{{ rowData.kubernetes.metadata.name }}</span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="domain">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'domain' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>{{ rowData.kubernetes.spec.host}}</span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="kube_service_name">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'kube_service' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span> 
          {{ rowData.kubernetes.spec.to.name}}
        </span>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="port">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'port' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>
          {{rowData.kubernetes.spec.port?.targetPort}}
        </span>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'action' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div [auiDropdown]="menu"
          [auiDropdownDisabled]="!menu.hasEnabledItem"
          class="action-button">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item
            *ngIf="canShowUpdate(rowData)"
            (click)="update(rowData)"
          >{{'update' | translate}}</aui-menu-item>
          <aui-menu-item
            *ngIf="canShowView(rowData)"
            (click)="viewYaml(rowData)"
          >{{'view_yaml' | translate}}</aui-menu-item>
          <aui-menu-item
            *ngIf="canShowDelete(rowData)"
            (click)="delete(rowData)"
          >{{'delete' | translate}}</aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
  </aui-table>
  <rc-zero-state [zeroState]="showZeroState" [fetching]="!initialized && fetching" resourceName="route"></rc-zero-state>
  <rc-pagination2 
      [count]="(listMeta$ | async)?.count"
      [page]="(pageParams$ | async)?.pageIndex"
      [pageSize]="(pageParams$ | async)?.pageSize"
      [disabled]="fetching"
      (pageChanged)="pageChanged($event)">
  </rc-pagination2>
</aui-card>
