<table class="table-condensed rb-fieldset-table">
  <thead>
  <tr>
    <td class="col-name" style="width: 240px;">{{'name'|translate}}</td>
    <td class="col-value">{{'value'|translate}}</td>
    <td class="col-delete-btn" style="width:70px;"></td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in vm.envVars track by $index">
    <td>
      <div class="ui input fluid">
        <input type="text"
               ng-disabled="vm.isDisabled"
               ng-model="item.name">
      </div>
    </td>
    <td>
      <div class="ui input fluid">
        <input type="text"
               ng-disabled="vm.isDisabled"
               ng-model="item.value">
      </div>
    </td>
    <td>
      <button ng-hide="vm.isDisabled"
              class="rb-fieldset-action-btn" ng-click="vm.deleteEnvVar($index)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <button ng-hide="vm.isDisabled"
              ng-click="vm.addEnvVar()"
              class="rb-fieldset-add-btn">
        <i class="fa fa-plus"></i>
      </button>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>

