<div class="rc-dialog-content">
  <rc-form-field
    [label]="'region_node_type' | translate">
    <rc-radio-group
      name="node_type"
      [(ngModel)]="nodeType"
      (change)="loadNodeScript()"
      [options]="nodeTypeOptions"
      displayField="name"
      valueField="value">
    </rc-radio-group>
  </rc-form-field>
  <rc-form-field
    [label]="'region_node_create_method' | translate">
    <rc-radio-group
      name="create_method"
      [(ngModel)]="createMethod"
      (change)="onCreateMethodChanged($event.value)"
      [options]="createMethodOptions"
      displayField="name"
      valueField="value">
    </rc-radio-group>
  </rc-form-field>
  <rc-form-field
    *ngIf="createMethod==='manual'"
    [label]="'script' | translate">
    <textarea
      style="height: 250px;resize: none;"
      rcInput
      disabled
      [value]="nodeScript">
    </textarea>
  </rc-form-field>
  <form
    #autoCreateForm="ngForm">
    <ng-container
      *ngIf="createMethod==='auto' && cluster.attr.cloud.name!=='VMWARE'">
      <rc-form-field
        [label]="'vm_size' | translate">
        <rc-single-selection-dropdown
          name="instance_type"
          [(ngModel)]="createModel.instance_type"
          [options]="instanceTypeOptions"
          displayField="name"
          valueField="value"
          required>
        </rc-single-selection-dropdown>
      </rc-form-field>
      <rc-form-field
        [label]="'vm_num' | translate">
        <input
          rcInput
          name="num"
          [(ngModel)]="createModel.num"
          type="number"
          required>
      </rc-form-field>
      <rc-form-field
        *ngIf="cluster.attr.cloud.name!=='KINGSOFT'"
        [label]="'vm_volume_size' | translate">
        <input
          rcInput
          name="volume_size"
          [(ngModel)]="createModel.volume_size"
          [min]="8"
          [max]="16384"
          placeholder="8~16384">
        <span rcFormSuffix>G</span>
      </rc-form-field>
      <rc-form-field
        label="SSH KEY">
        <rc-single-selection-dropdown
          name="ssh_key"
          [(ngModel)]="createModel.ssh_key_name"
          [options]="sshKeyPairOptions"
          displayField="name"
          valueField="value"
          required
          [allowFilter]="false">
        </rc-single-selection-dropdown>
      </rc-form-field>
    </ng-container>
    <ng-container
      *ngIf="createMethod==='auto' && cluster.attr.cloud.name==='VMWARE'">
      <rc-form-field
        [label]="'name_prefix' | translate">
        <input
          rcInput
          name="name_tag"
          [(ngModel)]="createModel.name_tag"
          [maxlength]="36">
      </rc-form-field>
      <rc-form-field
        label="CPU">
        <input
          rcInput
          name="cpu_num"
          [(ngModel)]="createModel.cpu_num"
          required
          [min]="1"
          type="number">
        <span rcFormSuffix>{{ 'unit_core' | translate }}</span>
      </rc-form-field>
      <rc-form-field
        [label]="'memory' | translate">
        <input
          rcInput
          name="mem_size"
          [(ngModel)]="createModel.mem_size"
          required
          [min]="4"
          type="number">
        <span rcFormSuffix>G</span>
      </rc-form-field>
    </ng-container>
  </form>
</div>

<div class="rc-dialog-footer">
  <button
    *ngIf="createMethod==='auto'"
    rcButton="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="createNode()">
    {{ 'confirm' | translate }}
  </button>
  <button
    *ngIf="createMethod==='manual'"
    rcButton="primary"
    (click)="copyScript()">
    {{ 'copy_script' | translate }}
  </button>
  <button
    rcButton
    [disabled]="submitting"
    (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
