<ul rb-loading-mask="vm.isLoading">
  <ul class="rb-form-panel">
    <ul class="rb-labels-container">
      <ng-form class="rb-form" name="vm.tag">
        <table class="table table-condensed">
          <thead>
          <tr>
            <td style="width:200px;">{{ 'key'|translate }}</td>
            <td>{{ 'value'|translate }}</td>
            <td style="width:50px;"></td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div rb-form-tooltip tooltip-show="vm.checkDuplicateKey()" class="ui search tag-key fluid">
                <div class="ui input">
                  <input class="prompt"
                         type="text"
                         ng-change="vm.checkDuplicateKey()"
                         ng-model="vm.tag.key"
                         ng-maxlength="60"
                         ng-minlength="2"
                         rb-errors-tooltip
                         ng-pattern="/^[a-zA-Z0-9][a-zA-Z0-9\-\.\_]*[a-zA-Z0-9]$/"
                         uib-popover="{{ 'labels_key_hint' | translate }}"
                         popover-placement="left"
                         popover-trigger="'focus'"
                         popover-append-to-body="true"
                         required>
                </div>
                <div class="results"></div>
              </div>
              <div class="ui popup rb-input-message" ng-show="vm.checkDuplicateKey()">
                {{ 'labels_key_unique' | translate }}
              </div>
            </td>
            <td>
              <div class="ui search tag-val fluid">
                <div class="ui input">
                  <input class="prompt"
                         type="text"
                         ng-model="vm.tag.value"
                         ng-pattern="/^[^:,]+$/"
                         ui-validate="{ overlength: 'vm.overLength($value)' }"
                         rb-errors-tooltip
                         rb-errors-tooltip-mapper="vm.errorMapper"
                         required>
                </div>
                <div class="results"></div>
              </div>
            </td>
            <td>
              <button type="button"
                      class="ui button tiny rb-btn-default"
                      ng-click="vm.addTag()">
                {{ 'add' | translate }}
              </button>
            </td>
          </tr>
          <tr ng-repeat="item in vm.labels track by $index">
            <td>
              <div title="{{ item.key }}" class="text-ellipsis">{{ item.key }}</div>
            </td>
            <td>
              <div title="{{ item.value }}" class="text-ellipsis text-value">{{ item.value }}</div>
            </td>
            <td>
              <a class="rb-fieldset-action-btn"
                 ng-if="item.editable"
                 ng-click="vm.deleteTagFromTags($index)">
                <i class="fa fa-remove"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-form>
    </ul>

    <div class="rb-form-footer">
      <div class="rb-form-footer-buttons">
        <button type="button"
                ng-disabled="vm.submitting"
                class="ui button rb-btn-default"
                ng-click="vm.cancel()">
          {{ 'cancel' | translate }}
        </button>
        <button type="button"
                class="ui button rb-btn-primary"
                ng-disabled="vm.submitting"
                ng-class="{ loading: vm.submitting }"
                ng-click="vm.confirm()">
          {{ 'confirm' | translate }}
        </button>
      </div>
    </div>
  </ul>
</ul>