@keyframes twinkle {
  50% {
    background-color: rgba(11, 173, 235, 0.08);
  }
  100% {
    background-color: rgba(11, 173, 235, 0);
  }
}
.latest-edit {
  animation-timing-function: linear;
  animation: twinkle 0.5s 5;
}

.rb-labels-container {
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
  padding: 4px;
  margin: 20px;
  table {
    border-collapse: separate;
    border-spacing: 0 4px;
    margin-bottom: 0;
    tbody {
      tr {
        &:first-child {
          background: #f9f9f9;
        }
        &:not(:first-child) {
          transition: background 0.2s;
          &:hover {
            background: #f9f9f9;
          }
          td {
            padding-left: 10px;
            &:first-child {
              border-radius: 4px 0 0 4px;
            }
            &:last-child {
              border-radius: 0 4px 4px 0;
            }
          }
        }
        td {
          border: none;
          vertical-align: middle;
          > .ui.search {
            > .ui.input {
              width: 100%;
              > .prompt {
                border-radius: 2px;
                padding: 0 8px;
              }
            }
            .result {
              padding-left: 8px;
              > .content > .title {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
  .text-ellipsis {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-value {
    width: 270px;
  }
}
