<!--Overview Monitor list-->
<div class="monitor-cards">
  <rb-mysql-monitor-overview-card
    ng-repeat="metric in vm.overviewMetrics track by $index"
    init-time-range="vm.initTimeRange"
    metric="metric"></rb-mysql-monitor-overview-card>
</div>

<!--Service instances and Time range-->
<div class="monitor-toolbar">
  <label for="">{{'app_catalog_instance' | translate}}</label>
  <rb-dropdown options="vm.serviceOptions"
               key="service_name"
               value="uuid"
               on-change="vm.onServiceChange(option)"
               size="xs"></rb-dropdown>
  <label for="">{{'monitor_period' | translate}}</label>
  <rb-dropdown options="vm.periodOptions"
               key="title"
               value="period"
               on-change="vm.onTimeRangeChange(option)"
               size="xs"></rb-dropdown>

  <div>
    <label>{{ "from" | translate }}</label>
    <div class="ui input">
      <input
        rb-date-time-picker
        ng-disabled="!vm.isCustomTimeRange()"
        timestamp="vm.timeRange.start"
        options="vm.dateTimeOptions" type="text">
    </div>
  </div>
  <div>
    <label>{{ "to" | translate }}</label>
    <div class="ui input">
      <input
        rb-date-time-picker
        ng-disabled="!vm.isCustomTimeRange()"
        timestamp="vm.timeRange.end"
        options="vm.dateTimeOptions" type="text">
    </div>
  </div>
  <button class="ui button rb-btn-primary"
          ng-disabled="!vm.isCustomTimeRange()"
          ng-click="vm.onCustomTimeRangeChange()">
    {{'confirm' | translate}}
  </button>
</div>
<!--Monitor list-->
<div class="monitor-cards">
  <rb-mysql-monitor-chart-card
    ng-repeat="metric in vm.chartMetrics track by $index"
    period="vm.currentPeriod"
    init-time-range="vm.initTimeRange"
    metric="metric"></rb-mysql-monitor-chart-card>
</div>