rb-mysql-app-dashboard {
  .monitor-cards {
    display: block;
    position: relative;
    margin-right: -16px;
    min-width: 900px;
    margin-bottom: 16px;
    &:after {
      clear: both;
      content: ' ';
      display: block;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    rb-mysql-monitor-overview-card {
      float: left;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
      margin: 0 16px 16px 0;
      transition: box-shadow 0.3s;
      margin-bottom: 8px;
      .rb-monitor-chart-card-toolbar {
        display: flex;
        align-items: center;
        height: 32px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.86);
        padding: 0 8px;
        color: rgba(255, 255, 255, 0.86);
        span[title] {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        > i {
          margin-left: 4px;
        }
        button {
          min-width: 22px;
          line-height: 24px;
          background-color: transparent;
          border: none;
          border-radius: 4px;
          color: rgba(255, 255, 255, 0.86);
          transition: background-color 0.3s, color 0.3s;
          border-right-width: 0;
          > i {
            cursor: pointer;
          }
          &:last-child {
            border-right-width: 1px;
          }
          &:hover {
            color: rgba(255, 255, 255, 0.86);
          }
        }
      }
      .rb-monitor-chart-card-content {
        height: 120px;
        color: #fff;
        .content-overview {
          height: 103px;
          line-height: 103px;
          text-align: center;
          span {
            display: inline-block;
          }
          .overview-data {
            font-size: 48px;
            &.data-size-32 {
              font-size: 32px;
            }
            &.data-size-16 {
              font-size: 16px;
            }
          }
          .overview-unit {
            font-size: 16px;
          }
        }
        .content-timestamp {
          height: 17px;
          line-height: 17px;
          text-align: center;
          color: #eaf6e2;
          font-size: 12px;
          span {
            display: block;
            transform: scale(0.9);
          }
        }
      }

      .rb-loading-mask-placeholder {
        height: 100%;
        font-size: 14px;
        color: #eaf6e2;
        img {
          transform: scale(1.5);
          margin-bottom: 16px;
        }
      }

      .chart-status-ok {
        background-color: #72c63d;
        .rb-monitor-chart-card-toolbar > button:hover {
          background-color: #64ae35;
        }
        .content-timestamp {
          background-color: #6dbd3a;
        }
      }
      .chart-status-warning {
        background-color: #ffbb00;
        .rb-monitor-chart-card-toolbar > button:hover {
          background-color: #e1a500;
        }
        .content-timestamp {
          background-color: #6dbd3a;
        }
      }
      .chart-status-alert {
        background-color: #fa5f6b;
        .rb-monitor-chart-card-toolbar > button:hover {
          background-color: #dc535e;
        }
        .content-timestamp {
          background-color: #f1535f;
        }
      }
    }
    rb-mysql-monitor-chart-card {
      .rb-metric-name-tooltip .tooltip-inner {
        word-break: break-all;
      }
    }
    &[min-width~='900px'] {
      rb-mysql-monitor-chart-card {
        width: calc(50% - 16px);
      }
      rb-mysql-monitor-overview-card {
        width: calc(25% - 16px);
      }
    }
    &[min-width~='1350px'] {
      rb-mysql-monitor-chart-card {
        width: calc(33.33% - 16px);
      }
      rb-mysql-monitor-overview-card {
        width: calc(25% - 16px);
      }
    }
  }

  .monitor-toolbar {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    > * {
      margin-right: 8px;
    }
    label {
      font-weight: 400;
    }
  }
}
