<div class="quota-space-usage-card-container" [attr.state]="cssState" [ngClass]="{active: active}">
  <div class="quota-space-usage-card-wrapper">
    <div class="quota-space-usage-card-header">
      <span>{{ titleLabel | translate }} ({{unit | translate}})</span>
    </div>
    <div class="quota-space-card-content" *ngIf="data">
      <div class="quota-space-card-count">
        <span>
          {{ percentage }} %
        </span>
      </div>
      <div class="quota-usage-card-gauge-wrapper">
        <ngx-charts-gauge
          *ngIf="data"
          [results]="data"
          [startAngle]="chartConfig.startAngle"
          [angleSpan]="chartConfig.angleSpan"
          [scheme]="chartConfig.scheme"
          [showAxis]="chartConfig.showAxis">
        </ngx-charts-gauge>
      </div>
      <div class="chart-desc">
        <div class="chart-desc-item">
          <div class="desc-content"
               [ngClass]="{'quota-usage-overflow': usage.used >= usage.hard }">
            {{ usage.used | number }}
          </div>
          <div class="desc-footer">
            {{ usedDescLabel | translate }}
          </div>
        </div>
        <div class="chart-desc-item">
          <div class="desc-content">
            {{ usage.hard | number }}
          </div>
          <div class="desc-footer">
            {{ 'quota_hard_limit' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
