@import '_colors.styles';

$status-color-map: (
  'success': $status-color-success,
  'error': $status-color-error,
);

@mixin rb-quota-space-quota-usage-card-decorator($state, $color) {
  &[state='#{$state}'] {
    &:hover {
      box-shadow: 0 0 6px $color;
    }

    &.active {
      box-shadow: 0 0 12px $color;
    }

    /* status border */
    &:before {
      content: '';
      justify-content: stretch;
      width: 5px;
      background: $color;
    }
  }
}

.quota-space-usage-card-container {
  flex: 1;
  align-items: stretch;
  display: flex;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
  transition: box-shadow 0.3s;
  border-radius: 4px;
  overflow: hidden;
  max-width: 460px;

  @each $state, $color in $status-color-map {
    @include rb-quota-space-quota-usage-card-decorator($state, $color);
  }
}

.quota-space-usage-card-wrapper {
  flex: 1;
  display: flex;
  flex-flow: column;
  padding: 0 15px;
}
.quota-space-usage-card-header {
  display: flex;
  align-items: center;
  height: 42px;
  color: #464646;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.quota-space-card-content {
  position: relative;
  color: #333;
  border-width: 0;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 16px 0;
}

.quota-space-card-count {
  position: absolute;
  top: 56px;
  left: 76px;
  transform: translateX(-50%);
  font-size: 20px;
  color: #9da4af;

  span {
    vertical-align: bottom;
    line-height: 1;
  }
}

.quota-usage-card-gauge-wrapper {
  width: 150px;
  height: 150px;
}

:host {
  ::ng-deep {
    text {
      display: none;
    }
  }
}

.chart-desc {
  flex: 3 0 100px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;

  .chart-desc-item {
    flex: 0 0 100px;
    margin: 0 10px;
  }

  .desc-content {
    margin-top: 4px;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    &.quota-usage-overflow {
      color: $status-color-error;
    }
  }

  .desc-footer {
    font-size: 12px;
    line-height: 16px;
    color: #c9c9c9;
    margin: 4px 0;
    text-align: center;
  }
}
