@import 'colors.styles';

:host {
  ::ng-deep {
    .serach-button {
      input {
        width: 354px;
        border-radius: 5px !important;
      }
    }
    .lb-detail-button {
      display: inline-block;
      .dropdown {
        border-radius: 5px !important;
        font-size: 14px;
        width: 63px;
      }
    }
  }
}

.rc-detail-container {
  .detail-wrapper {
    margin-left: 0;
  }
  .toggle-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $card-background-color;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 30%, 0);

    :first-child {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

.quota-space-quota-usage-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.rc-legend-list {
  display: flex;
  margin-bottom: 10px;
  .rc-legend-item {
    display: flex;
    align-items: center;
    margin-right: 16px;

    &:before {
      content: '';
      display: block;
      height: 8px;
      width: 8px;
      margin-right: 5px;
    }

    &.success:before {
      background-color: $status-color-success;
    }

    &.error:before {
      background-color: $status-color-error;
    }
  }
}
