
<div class="rc-detail-container">
  <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
  <ng-container *ngIf="space">
    <div class="detail-wrapper">
      <div class="detail-header">
        <h3>{{ space.name }}</h3>
        <div class="detail-buttons">
          <button rcButton="primary"
                  rcButtonSize="small" rcButtonMenuDefault
                  [disabled]="!buttonDisplayExpr('update')"
                  (click)="showUpdateDialog()">
            {{ 'update' | translate }}
          </button>
          <rc-button-menu class="lb-detail-button"
                          [text]="'action' | translate">
            <button rcMenuButton
                    (click)="deleteClicked()"
                    [disabled]="!buttonDisplayExpr('delete')">{{ 'delete' | translate }}</button>
          </rc-button-menu>
        </div>
      </div>
      <div class="detail-content"
           [ngClass]="{active: showMore}">
        <div class="detail-item">
          <label>{{ 'created_at' | translate }}</label>
          <div>{{ space.created_at | rcFormatUtcStr }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'updated_at' | translate }}</label>
          <div>{{ space.updated_at | rcFormatUtcStr }}</div>
        </div>
        <div class="detail-item">
          <label>{{'status' | translate}}</label>
          <rc-status-badge
            [status]="this.getCssStatus()">
          </rc-status-badge>
        </div>
        <div class="detail-item">
          <label>{{ 'created_by' | translate }}</label>
          <div>{{ space.created_by }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'description' | translate }}</label>
          <div>{{ space.description | rcFieldNotAvailable}}</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="rc-detail-tab">
  <rc-tab-group>
    <ng-container *rcTab="'quota_quotas_label'|translate">
      <div>
        <div *ngIf="empty && !loading"
             class="rb-loading-mask-placeholder">
          {{ "port_list_empty" | translate }}
        </div>
        <div *ngIf="empty && !loading"
             class="rb-loading-mask-placeholder">
          <div *ngIf="!loadError | async">
            {{ "have_no_data" | translate }}
          </div>
          <div *ngIf="loadError | async">
            {{ 'data_load_error' | translate }}
          </div>
          <button *ngIf="loadError | async"
                  rcButton="primary"
                  style="margin-top: 12px;"
                  (click)="refetch()">
            {{ 'refresh' | translate }}
          </button>
        </div>

        <div *ngIf="!empty">
          <div class="rc-legend-list" layout="row" layout-align="start center">
            <div class="rc-legend-item success">
              {{ 'quota_space_quota_normal' | translate }}
            </div>
            <div class="rc-legend-item error">
              {{ 'quota_space_quota_overflow' | translate }}
            </div>
          </div>
          <div *ngIf="!space.quotas || !space.quotas.length"
                class="rb-loading-mask-placeholder">
            {{ 'quota_no_spaces_quotas' | translate }}
          </div>
          <div class="quota-space-quota-usage-card-list" *ngIf="space.quotas">
            <div
              rcFlexList
              rcFlexCellWidth="auto">
              <div
                rcFlexCell
                *ngFor="let quota of space.quotas">
                <rc-quota-usage-card
                  [active]="activeQuotaCard === quota.name"
                  [usage]="quota"
                  (click)="onQuotaCardClicked(quota)">
                </rc-quota-usage-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *rcTab="'resource'|translate">
      <rc-quota-resource-list [name]="space.name"></rc-quota-resource-list>
    </ng-container>
  </rc-tab-group>
</div>

<ng-template #chargeTemplate>
  <rc-quota-charge-list
    [spaceName]="spaceName"
    [quotaName]="quotaName"
    [percent]="percent"
    (close)="sidePanel.close()"
  ></rc-quota-charge-list>
</ng-template>
