<div class="ui search selection dropdown" ng-class="{'multiple': vm.multiple}">
  <input type="hidden">
  <i class="dropdown icon"></i>
  <div class="default text">{{vm.placeholder}}</div>
  <div class="menu"></div>
</div>