@import 'mixins';
@import 'list.styles';

.table-container {
  min-height: 160px;
}

.text-truncate {
  &,
  & > div {
    @include singleline-ellipsis;
  }
}

.rc-list-pagination {
  margin-bottom: 20px;
}
