<rc-inline-notification type="info"
                        closable='true'
                        *ngIf="notificationVisible"
                        (close)="closeNotification()"
                        [content]="'pvc_tips' | translate">
</rc-inline-notification>

<div *rcPageHeaderContent class="storage-custom-header">
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_storage' | translate }}
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_pvc' | translate }}
    </ng-container>
  </rc-breadcrumb>
  <span role="button" class="fa fa-info-circle notification-switch" (click)="showNotification()"></span>
</div>

<div fxLayout="row" class="rc-list-header">
  <button *ngIf="hasCreatePvcPermission"
          rcButton="primary"
          (click)="createPvc()"
          [disabled]="loading">
    {{ "create_pvc" | translate }}
  </button>
  <span fxFlex></span>
  <rc-search-input [loading]="loading"
                   (onSearch)="filter($event)"
                   mode="filter">
  </rc-search-input>
  <button rcIconButton [disabled]="loading" (click)="load()">
    <i class="fa fa-refresh"></i>
  </button>
</div>

<div class="table-container" [rcLoadingMask]="loading">
  <rc-table class="rc-primary-table"
            *ngIf="initialized"
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowHeight]="88"
            [rows]="pvcs"
            emptyMessage="{{ emptyMessage | translate }}">
    <rc-table-col name="{{'pvc_name'|translate}}" [width]=260 cellClass="rc-col-cell-truncated">
      <div *rcTableColCell="let item = row">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/pvc.svg" alt="">
          <div class="rc-lines text-truncate">
            <div class="rc-line">
              <a [routerLink]="['/storage/pvc/detail', region.id, item.kubernetes.metadata.namespace, item.kubernetes.metadata.name]">{{item.kubernetes.metadata.name}}</a>
            </div>
            <div class="rc-line">
              {{'referenced_pv'|translate}}：
              <ng-container *ngIf="item.kubernetes.spec.volumeName;else noPv">
                {{item.kubernetes.spec.volumeName}}
              </ng-container>
              <ng-template #noPv>-</ng-template>
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col name="{{'status'|translate}}">
      <div *rcTableColCell="let item = row">
        <rc-status-badge [status]="statusMap[item.kubernetes.status.phase]"></rc-status-badge>
      </div>
    </rc-table-col>
    <rc-table-col name="{{'region_namespace'|translate}}" cellClass="rc-col-cell-truncated">
      <div *rcTableColCell="let item = row" [title]="item.kubernetes.metadata.namespace">{{item.kubernetes.metadata.namespace}}</div>
    </rc-table-col>
    <rc-table-col name="{{'size'|translate}}">
      <div *rcTableColCell="let item = row">{{item.kubernetes.spec.resources.requests.storage}}</div>
    </rc-table-col>
    <!-- <rc-table-col name="{{'referenced_services'|translate}}">
      <div *rcTableColCell="let item = row">
        <ng-container *ngIf="refService[item.kubernetes.metadata.uid];else noRefServices">
          <ng-container *ngIf="refService[item.kubernetes.metadata.uid].length===1">
            <a [routerLink]="['/k8s_service/detail', refService[item.kubernetes.metadata.uid][0].uuid]">{{refService[item.kubernetes.metadata.uid][0].name}}</a>
          </ng-container>
          <ng-container *ngIf="refService[item.kubernetes.metadata.uid].length>1">
            <a role="button"
               [rcTooltip]="serverLinkList"
               rcTooltipMode="info"
               rcTooltipOn="click"
               rcTooltipPosition="right center"
               (click)="serviceLinks = refService[item.kubernetes.metadata.uid]">
              {{refService[item.kubernetes.metadata.uid].length}}个
            </a>
          </ng-container>
        </ng-container>
        <ng-template #noRefServices>-</ng-template>
      </div>
    </rc-table-col> -->
    <rc-table-col name="{{'action'|translate}}">
      <div *rcTableColCell="let item = row">
        <rc-button-menu>
          <button rcButton
                  rcButtonSize="small" 
                  rcButtonMenuDefault
                  (click)="viewDetail(item)">{{'view'|translate}}</button>
          <!-- <button rcMenuButton *ngIf="item.canUpdate" [disabled]="item.resource.status!=='Available'" (click)="update(item)">{{'update'|translate}}</button> -->
          <button rcMenuButton 
                  *ngIf="hasPermission(item, 'delete')" 
                  (click)="delete(item)">
            {{'delete'|translate}}
          </button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>
</div>
<div class="rc-list-pagination" *ngIf="initialized&&pvcs.length">
  <aui-paginator [length]="pagination.count"
                 [pageSize]="pagination.size"
                 [pageIndex]="currentPageIndex"
                 (page)="pageChanged($event)"
                 [pageSizeOptions]="[10, 20, 50, 100]">
  </aui-paginator>
</div>

<!-- <ng-template #serverLinkList>
  <div *ngFor="let service of serviceLinks">
    <a [routerLink]="['/k8s_service/detail', service.uuid]">{{service.name}}</a>
  </div>
</ng-template> -->
