<ng-container *rcPageHeaderContent>
    <rc-breadcrumb>
        <a *rcBreadcrumbItem
            routerLink="/cluster/list">
            {{ 'nav_region' | translate }}
        </a>
        <ng-container *rcBreadcrumbItem>{{ 'node_detail' | translate }}</ng-container>
    </rc-breadcrumb>
</ng-container>

<rc-region-badge-option [option]="regionBadgeOption"></rc-region-badge-option>

<div class="rc-node-header">
    <div class="rc-node-header__group rc-node-header__group--width-fit">
        <ng-container *ngIf="nodeVm">
            <div class="rc-node-header__node-name">
                {{ nodeVm.name }}
            </div>
        </ng-container>
    </div>
</div>

<rc-loading-mask [loading]="!nodeVm"></rc-loading-mask>

<div *ngIf="nodeVm"
    class="node-info">
    <h4>{{ 'basic_info' | translate }}</h4>
    <div class="node-info__group">
        <div class="node-info__item">
            <label>{{ 'private_ip' | translate }}</label>
            {{ nodeVm.privateIp }}
        </div>
        <div class="node-info__item">
            <label>{{ 'node_tags' | translate }}</label>
            <a *ngIf="nodeVm.labels.length"
                [auiTooltip]="nodeLabels"
                [auiTooltipContext]="nodeVm"
                auiTooltipType="info"
                auiTooltipPosition="top start"
                auiTooltipTrigger="click">{{ nodeVm.labels.length }}{{ 'ge' | translate }}</a>
            <ng-container *ngIf="!nodeVm.labels.length">{{ null | rcFieldNotAvailable }}</ng-container>
        </div>
        <div class="node-info__item">
            <label>{{ 'status' | translate }}</label>
            <span [ngClass]="'state-' + nodeVm.status.state.toLowerCase()">{{ nodeVm.status.state }}</span>
            <span class="schedule-badge"
                    [class.schedulable]="nodeVm.status.schedulable">{{ nodeVm.status.schedulable ? 'Schedulable' : 'Unschedule' }}</span>
            <span *ngIf="nodeVm.status.taint">Taint</span>
        </div>
    </div>
    <div class="node-info__group">
        <div class="node-info__item">
            <label>{{ 'resource_cpu_count' | translate }}</label>
            {{ nodeVm.cpu | rcFieldNotAvailable }}
        </div>
        <div class="node-info__item">
            <label>{{ 'resource_mem_count' | translate }}</label>
            {{ nodeVm.memory }}G
        </div>
        <div class="node-info__item">
            <label>{{ 'region_node_type' | translate }}</label>
            {{ nodeVm.type }}
        </div>
    </div>
</div>

<rc-tab-group *ngIf="nodeVm && isCMB">
    <rc-cluster-monitor-v4 *rcTab="'monitoring' | translate"
                           [clusterName]="clusterName"
                           [privateIp]="nodeVm.privateIp"></rc-cluster-monitor-v4>
</rc-tab-group>

<ng-template #nodeLabels
            let-labels="labels">
    <div style="max-width: 300px;display: flex;flex-wrap: wrap;">
        <rc-tag *ngFor="let label of labels">{{ label.name }}:{{ label.value }}</rc-tag>
    </div>
</ng-template>
