@import '_colors.palette.scss';

.rc-view-pager {
  position: relative;

  &__content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
  }

  &__pointer-group {
    display: flex;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__pointer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    width: 20px;
    height: 12px;
    cursor: pointer;

    &-rect {
      width: 100%;
      height: 2px;
      background-color: $gray-6;
      opacity: 0.32;

      &--state-active {
        opacity: 1;
      }
    }
  }
}
