<div
  #wrapper
  class="rc-view-pager">
  <div
    class="rc-view-pager__content">
    <ng-content></ng-content>
  </div>
  <ul
    *ngIf="!autoHide || items.length > 1"
    class="rc-view-pager__pointer-group">
    <li
      *ngFor="let item of items;let index=index;"
      (click)="scrollItems(index);activeIndex=index;$event.preventDefault();$event.stopPropagation();"
      class="rc-view-pager__pointer">
      <div
        [style.background-color]="color"
        [class.rc-view-pager__pointer-rect--state-active]="activeIndex===index"
        class="rc-view-pager__pointer-rect">
      </div>
    </li>
  </ul>
</div>
