<div class="kube-container-log-file-list">
    <div class="service-detail-tab-content" *ngFor="let instance of containers">
      <div class="service-table-label">
        {{ instance.name }} - {{ 'log_file' | translate }}
      </div>
      <rc-table
        class="rc-secondary-table"
        [columnMode]="'flex'"
        [headerHeight]="40"
        [rowHeight]="'auto'"
        [rows]="[instance.logFileDetail.logFiles, instance.logFileDetail.excludeLogFiles]">
        <rc-table-col [flexGrow]="1" name="{{'type' | translate}}" [resizeable]="false">
          <div *rcTableColCell="let rowData = row; let index = rowIndex">
            {{ (index === 0 ? 'log_file' : 'exclude_log_file') | translate }}
          </div>
        </rc-table-col>
        <rc-table-col [flexGrow]="3" name="{{'path' | translate}}" [resizeable]="false" [cellClass]="'rc-col-cell-wrap'">
          <div *rcTableColCell="let rowData = row">
            <div class="table-cell-items-container">
              <ng-container *ngFor="let item of rowData">
                <div class="table-cell-item">
                  {{item}}
                </div>
              </ng-container>
            </div>
            <ng-container *ngIf="!rowData.length">
              -
            </ng-container>
          </div>
        </rc-table-col>
      </rc-table>
    </div>
  </div>