<div *ngIf="!containers.length" class="rb-loading-mask-placeholder">
  {{ "no_data" | translate }}
</div>
<div *ngFor="let item of containers">
  <ng-container *ngIf="item.healthCheck.liveness">
    <div class="healthcheck-table-header service-table-label">
      {{ item.name }} - {{ 'k8s_service_liveness_health_check' | translate }}
    </div>
    <div class="healthcheck-table-content">
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'protocol_type' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ item.healthCheck.liveness.protocol }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'launch_time' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ item.healthCheck.liveness.initialDelaySeconds }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'k8s_service_period_seconds' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ item.healthCheck.liveness.periodSeconds }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'k8s_service_timeout_seconds' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ item.healthCheck.liveness.timeoutSeconds }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'k8s_service_success_threshold' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ item.healthCheck.liveness.successThreshold }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label" [class.fix]="item.healthCheck.liveness.protocol === 'TCP'">
          {{ 'k8s_service_failure_threshold' | translate }}
        </div>
        <div class="healthcheck-table-cell-content" [class.fix]="item.healthCheck.liveness.protocol === 'TCP'">
          {{ item.healthCheck.liveness.failureThreshold }}
        </div>
      </div>
      <!-- mark off HTTP/TCP/EXEC -->
      <ng-container *ngIf="item.healthCheck.liveness.protocol === 'HTTP'">
        <!-- scheme -->
        <div class="healthcheck-table-cell">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_scheme' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            {{ item.healthCheck.liveness.scheme }}
          </div>
        </div>
        <!-- port -->
        <div class="healthcheck-table-cell">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_port' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            {{ item.healthCheck.liveness.port }}
          </div>
        </div>
        <!-- path -->
        <div class="healthcheck-table-cell fill">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_path' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            {{ item.healthCheck.liveness.path }}
          </div>
        </div>
        <!-- Header -->
        <div class="healthcheck-table-cell fill">
          <div class="healthcheck-table-cell-label">
            {{ 'healthcheck_request_headers' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            <div *ngFor="let header of item.healthCheck.liveness.headers">
              name:{{header.name}}; value: {{header.value}}
            </div>
            <ng-container *ngIf="!item.healthCheck.liveness.headers.length">
              {{ 'no_header' | translate }}
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="item.healthCheck.liveness.protocol === 'TCP'">
        <!-- port -->
        <div class="healthcheck-table-cell">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_port' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            {{ item.healthCheck.liveness.port }}
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="item.healthCheck.liveness.protocol === 'EXEC'">
        <!-- command -->
        <div class="healthcheck-table-cell fill">
          <div class="healthcheck-table-cell-label">
            {{ 'k8s_service_command' | translate }}
          </div>
          <div class="healthcheck-table-cell-content">
            <div *ngFor="let cmd of item.healthCheck.liveness.commands">
              {{ cmd.command }}
            </div>
            <ng-container *ngIf="!item.healthCheck.liveness.commands.length">
              {{ 'no_exec_cmd' | translate }}
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="item.healthCheck.readiness">
    <div class="healthcheck-table-header service-table-label">
      {{ item.name }} - {{ 'k8s_service_readiness_health_check' | translate }}
    </div>
    <div class="healthcheck-table-content">
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'protocol_type' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ item.healthCheck.readiness.protocol }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'launch_time' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ item.healthCheck.readiness.initialDelaySeconds }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'k8s_service_period_seconds' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ item.healthCheck.readiness.periodSeconds }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'k8s_service_timeout_seconds' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ item.healthCheck.readiness.timeoutSeconds }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label">
          {{ 'k8s_service_success_threshold' | translate }}
        </div>
        <div class="healthcheck-table-cell-content">
          {{ item.healthCheck.readiness.successThreshold }}
        </div>
      </div>
      <div class="healthcheck-table-cell">
        <div class="healthcheck-table-cell-label" [class.fix]="item.healthCheck.readiness.protocol === 'TCP'">
          {{ 'k8s_service_failure_threshold' | translate }}
        </div>
        <div class="healthcheck-table-cell-content" [class.fix]="item.healthCheck.readiness.protocol === 'TCP'">
          {{ item.healthCheck.readiness.failureThreshold }}
        </div>
      </div>
      <!-- mark off HTTP/TCP/EXEC -->
      <ng-container *ngIf="item.healthCheck.readiness.protocol === 'HTTP'">
          <!-- scheme -->
          <div class="healthcheck-table-cell">
            <div class="healthcheck-table-cell-label">
              {{ 'k8s_service_scheme' | translate }}
            </div>
            <div class="healthcheck-table-cell-content">
              {{ item.healthCheck.readiness.scheme }}
            </div>
          </div>
          <!-- port -->
          <div class="healthcheck-table-cell">
            <div class="healthcheck-table-cell-label">
              {{ 'k8s_service_port' | translate }}
            </div>
            <div class="healthcheck-table-cell-content">
              {{ item.healthCheck.readiness.port }}
            </div>
          </div>
          <!-- path -->
          <div class="healthcheck-table-cell fill">
            <div class="healthcheck-table-cell-label">
              {{ 'k8s_service_path' | translate }}
            </div>
            <div class="healthcheck-table-cell-content">
              {{ item.healthCheck.readiness.path }}
            </div>
          </div>
          <!-- Header -->
          <div class="healthcheck-table-cell fill">
            <div class="healthcheck-table-cell-label">
              {{ 'healthcheck_request_headers' | translate }}
            </div>
            <div class="healthcheck-table-cell-content">
              <div *ngFor="let header of item.healthCheck.readiness.headers">
                name:{{header.name}}; value: {{header.value}}
              </div>
              <ng-container *ngIf="!item.healthCheck.readiness.headers.length">
                {{ 'no_header' | translate }}
              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="item.healthCheck.readiness.protocol === 'TCP'">
          <!-- port -->
          <div class="healthcheck-table-cell">
            <div class="healthcheck-table-cell-label">
              {{ 'k8s_service_port' | translate }}
            </div>
            <div class="healthcheck-table-cell-content">
              {{ item.healthCheck.readiness.port }}
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="item.healthCheck.readiness.protocol === 'EXEC'">
          <!-- command -->
          <div class="healthcheck-table-cell fill">
            <div class="healthcheck-table-cell-label">
              {{ 'k8s_service_command' | translate }}
            </div>
            <div class="healthcheck-table-cell-content">
              <div *ngFor="let cmd of item.healthCheck.readiness.commands">
                {{ cmd.command }}
              </div>
              <ng-container *ngIf="!item.healthCheck.readiness.commands.length">
                {{ 'no_exec_cmd' | translate }}
              </ng-container>
            </div>
          </div>
        </ng-container>
    </div>
  </ng-container>
  <div class="cutting-line"></div>
</div>