<div class="kube-container-envvars-list">
  <div class="service-detail-tab-content" *ngFor="let instance of containers">
    <div class="service-table-label">
      {{ instance.name }} - {{ 'environment_variable' | translate }}
    </div>
    <rc-table
      class="rc-secondary-table"
      [columnMode]="'flex'"
      [headerHeight]="40"
      [rowHeight]="'auto'"
      [rows]="instance.envVars">
      <rc-table-col [flexGrow]="1" name="{{'key' | translate}}" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          {{ rowData.name | rcFieldNotAvailable }}
        </div>
      </rc-table-col>
      <rc-table-col [flexGrow]="3" name="{{'value' | translate}}" [resizeable]="false" [cellClass]="'rc-col-cell-wrap'">
        <div *rcTableColCell="let rowData = row">
            <ng-container *ngIf="!rowData.reference">
              {{rowData.value | rcFieldNotAvailable}}
            </ng-container>
            <ng-container *ngIf="rowData.reference">
              {{rowData.configmap | rcFieldNotAvailable}}: {{rowData.configmapKey | rcFieldNotAvailable}}
            </ng-container>
        </div>
      </rc-table-col>
    </rc-table>
  </div>
</div>