<div *ngIf="!containers.length" class="rb-loading-mask-placeholder">
  {{ "no_data" | translate }}
</div>
<div class="service-detail-tab-content" *ngFor="let instance of containers">
  <div class="service-table-label">
    {{ instance.name }} - {{ 'volume' | translate }}
  </div>
  <table class="rc-form-table">
    <thead>
      <td style="width: 20%;">
        {{'type' | translate}}
      </td>
      <td style="width: 40%;">
        {{'name' | translate}}/{{'path' | translate}}
      </td>
      <td style="width: 40%;">
        {{'volume_image_path' | translate}}
      </td>
      <td style="width: 70px;"></td>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of instance.volumes">
        <tr *ngIf="!(item.type === 'configmap' && item.configMapKeyRef) && !(item.type === 'pvc' && item.subPath)">
          <td>{{item.type | translate}}</td>
          <td>
            {{getItemNameOrPathDisplay(item)}}
          </td>
          <td>{{item.containerPath}}</td>
          <td></td>
        </tr>
        <ng-container *ngIf="item.type === 'pvc' && item.subPath">
          <tr>
            <td rowspan="2">{{item.type | translate}}</td>
            <td>{{item.pvcName}}</td>
            <td rowspan="2">{{item.containerPath}}</td>
            <td rowspan="2"></td>
          </tr>
          <tr>
            <td>{{'service_sub_path'|translate}}：{{item.subPath}}</td>
            <td [hidden]="true"></td>
          </tr>
        </ng-container>
        <ng-container *ngIf="item.type === 'configmap' && item.configMapKeyRef">
          <tr>
            <td rowspan="2">{{item.type | translate}}</td>
            <td>{{item.configMapName}}</td>
            <td>{{item.containerPath}}</td>
            <td rowspan="2"></td>            
          </tr>
          <tr>
            <td colspan="2">
              <div class="rc-pills">
                <div class="rc-pill" *ngFor="let keyMap of item.configMapKeyMap">
                  {{keyMap.key}}:{{keyMap.path}}
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>