<div class="service-detail-tab-list">
  <div class="service-detail-tab-list-label" (click)="setCurrentTab('volume')" [class.active]="currentTab === 'volume'">
    {{ 'volume' | translate }}
  </div>
  <div class="service-detail-tab-list-label" (click)="setCurrentTab('healthcheck')" [class.active]="currentTab === 'healthcheck'">
    {{ 'health_check' | translate }}
  </div>
  <div class="service-detail-tab-list-label" (click)="setCurrentTab('environment-variable')" [class.active]="currentTab === 'environment-variable'">
    {{ 'environment_variable' | translate }}
  </div>
  <div class="service-detail-tab-list-label" (click)="setCurrentTab('configmap')" [class.active]="currentTab === 'configmap'">
    {{ 'configmap' | translate }}
  </div>
  <div class="service-detail-tab-list-label" (click)="setCurrentTab('logfile')" [class.active]="currentTab === 'logfile'">
    {{ 'log_file' | translate }}
  </div>
</div>

<div [ngSwitch]="currentTab">
  <ng-container *ngSwitchCase="'volume'">
    <rc-service-container-config-volume [kubernetes]="kubernetes"></rc-service-container-config-volume>
  </ng-container>
  <ng-container *ngSwitchCase="'healthcheck'">
    <rc-container-config-healthcheck [kubernetes]="kubernetes"></rc-container-config-healthcheck>
  </ng-container>
  <ng-container *ngSwitchCase="'environment-variable'">
    <rc-service-container-envvars [kubernetes]="kubernetes"></rc-service-container-envvars>
  </ng-container>
  <ng-container *ngSwitchCase="'configmap'">
    <rc-container-config-configmap [kubernetes]="kubernetes"></rc-container-config-configmap>
  </ng-container>
  <ng-container *ngSwitchCase="'logfile'">
    <rc-service-container-log-file [kubernetes]="kubernetes"></rc-service-container-log-file>
  </ng-container>
  <ng-container *ngSwitchDefault>
    {{ 'no_data' | translate }}
  </ng-container>
</div>
