$borderColor: #e8e8e8;
:host {
  .healthcheck-table-content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-right: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    .healthcheck-table-cell {
      &.fill {
        width: 100%;
      }
      display: flex;
      width: 50%;
      min-height: 34px;
      .healthcheck-table-cell-label {
        border: 1px solid $borderColor;
        border-right: none;
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 184px;
        min-height: 32px;
        background-color: #f4f4f4;
        padding: 6px 7px;
        text-align: right;
        &.fix {
          border-bottom: 1px solid $borderColor;
        }
      }
      .healthcheck-table-cell-content {
        width: 100%;
        border-top: 1px solid $borderColor;
        padding: 7px 9px;
        line-height: 20px;
        &.fix {
          border-bottom: 1px solid $borderColor;
        }
      }
    }
  }
  .cutting-line {
    width: 100%;
    height: 3px;
    border-bottom: 1px dashed $borderColor;
  }
}
