<div *ngIf="!containers.length" class="rb-loading-mask-placeholder">
  {{ "no_data" | translate }}
</div>
<div class="kube-container-configmap-list">
  <div class="service-detail-tab-content" *ngFor="let instance of containers">
    <div class="service-table-label">
      {{ instance.name }} - {{ 'configmap' | translate }}
    </div>
    <rc-table
      class="rc-secondary-table"
      [columnMode]="'flex'"
      [headerHeight]="40"
      [rowHeight]="'auto'"
      [rows]="[instance]">
      <rc-table-col [flexGrow]="1" name="ConfigMap" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          <div class="table-cell-items-container">
            <ng-container *ngFor="let item of rowData.configMaps">
              <div class="table-cell-item">
                {{ item.name }}
              </div>
            </ng-container>
          </div>
        </div>
      </rc-table-col>
    </rc-table>
  </div>
</div>