<div rb-loading-mask="vm.loading">
  <div class="rb-form-panel">
    <ng-form class="rb-form" name="vm.strategyForm" style="padding: 20px">
      <div ng-if="!vm.onlySupportMaxUnavaible()">
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'service_max_surge' | translate }}
          </div>
          <div flex="60">
            <input name="max_surge"
                   type="text"
                   ng-pattern="/^[0-9]+[%]?$/"
                   placeholder="{{ 'update_strategy_placeholder'| translate }}"
                   ng-model="vm.update_strategy.max_surge"
                   ng-disabled="vm.update_strategy.max_surge_disabled"
                   rb-errors-tooltip
                   rb-errors-tooltip-mapper="{'duplicateZero': ('update_strategy_null_together_tips' | translate)}"
                   ui-validate="{duplicateZero: 'vm.validateUpdateStrategy($value, 0)'}"
                   required>
            <div class="rb-input-field-addon" style="width: 70px">
              <i class="fa fa-question-circle margin-left-1"
                 uib-popover-html="'service_max_surge_desc' | translate"
                 popover-placement="top"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"></i>
            </div>
          </div>

        </div>
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'service_max_unavailable' | translate }}
          </div>
          <div flex="60">
            <input name="max_unavailable"
                   type="text"
                   ng-pattern="/^[0-9]+[%]?$/"
                   ng-model="vm.update_strategy.max_unavailable"
                   ng-disabled="vm.update_strategy.max_unavailable_disabled"
                   rb-errors-tooltip
                   placeholder="{{ 'update_strategy_placeholder'| translate }}"
                   rb-errors-tooltip-mapper="{
                   'duplicateZero': ('update_strategy_null_together_tips' | translate),
                   'valueInvalid': ('update_strategy_max_unavailable_overflow' | translate)
                   }"
                   ui-validate="{duplicateZero: 'vm.validateUpdateStrategy($value, 1)', valueInvalid: 'vm.validateUnavailableValue($value)'}"
                   required>
            <div class="rb-input-field-addon" style="width: 70px">
              <i class="fa fa-question-circle margin-left-1"
                 uib-popover-html="'service_max_unavailable_desc' | translate"
                 popover-placement="top"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="rb-form-row input" ng-if="vm.onlySupportMaxUnavaible()">
        <div class="rb-label">
          {{ 'service_max_unavailable' | translate }}
        </div>
        <div flex="60">
          <input name="max_unavailable"
                 type="text"
                 ng-pattern="/^[0-9]+[%]?$/"
                 ng-model="vm.update_strategy.max_unavailable"
                 ng-disabled="vm.update_strategy.max_unavailable_disabled"
                 rb-errors-tooltip
                 placeholder="{{ 'update_strategy_placeholder'| translate }}"
                 rb-errors-tooltip-mapper="{
                   'valueInvalid': ('update_strategy_max_unavailable_overflow' | translate),
                   'zeroCheck': ('update_strategy_max_unavailable_zero_in_daemon' | translate)
                   }"
                 ui-validate="{
                 valueInvalid: 'vm.validateUnavailableValue($value)',
                 zeroCheck: 'vm.zeroCheckInDaemonSet($value)'
                 }"
                 required>
          <div class="rb-input-field-addon" style="width: 70px">
            <i class="fa fa-question-circle margin-left-1"
               uib-popover-html="'service_max_unavailable_desc' | translate"
               popover-placement="top"
               popover-trigger="'mouseenter'"
               popover-append-to-body="true"></i>
          </div>
        </div>
      </div>
    </ng-form>
    <div class="rb-form-footer">
      <div class="rb-form-footer-buttons">
        <button type="button" ng-disabled="vm.submitting" class="ui button rb-btn-default" ng-click="vm.cancel()">
          {{ 'cancel' | translate }}
        </button>
        <button type="button" class="ui button rb-btn-primary" ng-disabled="vm.submitting" ng-click="vm.save()">
          {{ 'confirm' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

