<h4 class="title">{{ 'project_create' | translate }}</h4>
<aui-card>
  <div auiCardHeader>
    <rc-steps-process [steps]="steps" [currStep]="curStep"></rc-steps-process>
  </div>
  <!-- step 1 -->
  <section class="basic-info" [hidden]="curStep !== stepsEnum['BASIC']">
    <form #basicForm="ngForm">
      <ng-container *ngIf="!isCMB">
        <!-- name -->
        <rc-form-field label="{{'name' | translate}}">
          <input rcInput type="text" [placeholder]="'project_name_placeholder' | translate" name="name" required [(ngModel)]="data.name" pattern="^[a-zA-Z][a-zA-Z0-9-_.]*$" maxlength="32">
        </rc-form-field>
        <!-- display name -->
        <rc-form-field label="{{'display_name' | translate}}">
          <input type="text" name="display_name" rcInput [(ngModel)]="data.display_name" maxlength="36">
        </rc-form-field>
      </ng-container>
      <!-- 招商定制： label为name，但实际填写的是display_name，约束和name一致但允许大写，发送请求前把display_name转成小写设置为name字段 -->
      <rc-form-field label="{{'name' | translate}}" *ngIf="isCMB">
        <input rcInput required type="text" name="display_name" [placeholder]="'cmb_project_display_name_placeholder' | translate" [(ngModel)]="data.display_name" pattern="^[a-zA-Z][a-zA-Z0-9-_.]*$" maxlength="32">
      </rc-form-field>
      <!-- description -->
      <rc-form-field label="{{'description' | translate}}">
        <textarea rcInput name="description" cols="30" rows="3" [(ngModel)]="data.description"></textarea>
      </rc-form-field>
      <!-- services -->
      <rc-form-field *ngIf="isCMB" label="{{'services' | translate}}">
        <rc-checkbox disabled name="kubernetes" [(ngModel)]="kubernetes">Kubernetes</rc-checkbox>
      </rc-form-field>
      <!-- clusters -->
      <rc-form-field label="{{'regions' | translate}}">
        <rc-multi-selection-dropdown name="regions"
                                     [(ngModel)]="selectedRegions"
                                     [options]="regions"
                                     displayField="display_name"
                                     valueField="id"
                                     (optionAdd)="regionAdd($event)"
                                     (optionRemove)="regionRemove($event)"
                                     required>
        </rc-multi-selection-dropdown>
      </rc-form-field>
    </form>
  </section>

  <!-- step 2 -->
  <form class="regions" #quotaForm="ngForm" novalidate [hidden]="curStep !== stepsEnum['QUOTA']">
    <div class="links">
      <span class="title">Kubernetes</span>
      <ul class="toc-links">
        <!-- mirrors -->
        <li *ngFor="let mirror of mirrorRegions">
          <a href="javascript:void(0)"
             [rcTocLink]="mirror.name"
             [for]="toc"
             [rcTooltip]="mirror.display_name ? mirror.display_name + ' (' + mirror.name + ')' : mirror.name"
             rcTooltipMode="info"
             rcTooltipPosition="top">
            <span class="link-label">{{ mirror.display_name || mirror.name }}</span>
          </a>
        </li>
        <!-- normal regions -->
        <li *ngFor="let region of normalRegions">
          <a href="javascript:void(0)"
             class="active"
             [rcTocLink]="region.name"
             [for]="toc"
             [rcTooltip]="region.display_name ? region.display_name + ' (' + region.name + ')' : region.name"
             rcTooltipMode="info"
             rcTooltipPosition="top">
            <span class="link-label">{{ region.display_name }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="toc-container" rcTocContentsContainer #toc=toc-contents-container>
      <span class="title">Kubernetes</span>
      <!-- mirrors content -->
      <ng-container *ngFor="let mirror of mirrorRegions; let i = index;">
        <div class="toc-form-group" [rcTocContent]="mirror.name">
          <div class="form-group-header mirror-header">
            <span [rcTooltip]="mirror.display_name ? mirror.display_name + ' (' + mirror.name + ')' : mirror.name"
                  rcTooltipMode="info"
                  rcTooltipPosition="top">{{ mirror.display_name || mirror.name }}</span>
          </div>
          <div class="set-same-quota">
            <aui-checkbox [(ngModel)]="setSameQuotaFlags[i]" [ngModelOptions]="{standalone: true}">{{ 'set_same_quota' | translate }}</aui-checkbox>
          </div>
          <div class="form-group-content" *ngFor="let region of mirror.regions; let j = index;" [hidden]="j > 0 && setSameQuotaFlags[i]">
            <div class="region-header" [hidden]="setSameQuotaFlags[i]" >
                <span [rcTooltip]="region.display_name ? region.display_name + ' (' + region.name + ')' : region.name" rcTooltipMode="info" rcTooltipPosition="top">{{ region.name }}</span>
                <i class="fa toggle" (click)="mirrorHiddenFlags[i] = !mirrorHiddenFlags[i]" [class.fa-angle-left]="mirrorHiddenFlags[i]" [class.fa-angle-down]="!mirrorHiddenFlags[i]"></i>
            </div>
            <div [hidden]="mirrorHiddenFlags[i]">
              <aui-form-item>
                <label auiFormItemLabel>{{'cpu' | translate}}</label>
                <aui-input-group auiFormItemControl>
                  <input aui-input
                        type="number"
                        [name]="'cpu' + 'm' + i + '-' + j"
                        [min]="minQuota"
                        required="true"
                        [(ngModel)]="region.quota.cpu">
                  <span auiInputAddonAfter>{{ 'unit_core' | translate }}</span>
                </aui-input-group>
                <div auiFormItemError *ngIf="isCMB && region.quota.cpu < 1">{{'at_least_one' | translate}}</div>
              </aui-form-item>
              <aui-form-item>
                <label auiFormItemLabel>{{'memory' | translate}}</label>
                <aui-input-group auiFormItemControl>
                  <input aui-input
                        type="number"
                        [name]="'memory' + 'm' + i + '-' + j"
                        [min]="minQuota"
                        required="true"
                        [(ngModel)]="region.quota.memory">
                  <span auiInputAddonAfter>{{ 'unit_gb' | translate }}</span>
                </aui-input-group>
                <div auiFormItemError *ngIf="isCMB && region.quota.memory < 1">{{'at_least_one' | translate}}</div>
              </aui-form-item>
              <aui-form-item>
                <label auiFormItemLabel>{{'pvc_num' | translate}}</label>
                <aui-input-group auiFormItemControl>
                  <input aui-input
                        type="number"
                        [name]="'pvc_num' + 'm' + i + '-' + j"
                        [(ngModel)]="region.quota.pvc_num">
                  <span auiInputAddonAfter>{{ 'ge' | translate }}</span>
                </aui-input-group>
              </aui-form-item>
              <aui-form-item>
                <label auiFormItemLabel>{{'pods' | translate}}</label>
                <aui-input-group auiFormItemControl>
                  <input aui-input
                        type="number"
                        [name]="'pods' + 'm' + i + '-' + j"
                        [min]="minQuota"
                        required="true"
                        [(ngModel)]="region.quota.pods">
                  <span auiInputAddonAfter>{{ 'ge' | translate }}</span>
                </aui-input-group>
                <div auiFormItemError *ngIf="isCMB && region.quota.pods < 1">{{'at_least_one' | translate}}</div>
              </aui-form-item>
              <aui-form-item>
                <label auiFormItemLabel>{{'storage' | translate}}</label>
                <aui-input-group auiFormItemControl>
                  <input aui-input
                        type="number"
                        [name]="'storage' +  + 'm' + i + '-' + j"
                        [(ngModel)]="region.quota.storage">
                  <span auiInputAddonAfter>{{ 'unit_gb' | translate }}</span>
                </aui-input-group>
              </aui-form-item>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- normal regions content -->
      <ng-container *ngFor="let region of normalRegions; let i = index;">
        <div class="toc-form-group" [rcTocContent]="region.name">
          <div class="form-group-header">
            <span [rcTooltip]="region.display_name ? region.display_name + '(' + region.name + ')' : region.name" rcTooltipMode="info" rcTooltipPosition="top">{{ region.display_name }}</span>
            <i class="fa toggle" (click)="normalHiddenFlags[i] = !normalHiddenFlags[i]" [class.fa-angle-right]="normalHiddenFlags[i]" [class.fa-angle-down]="!normalHiddenFlags[i]"></i>
          </div>
          <div class="form-group-content" [hidden]="normalHiddenFlags[i]">
            <aui-form-item>
              <label auiFormItemLabel>{{'cpu' | translate}}</label>
              <aui-input-group auiFormItemControl>
                <input aui-input
                       type="number"
                       [name]="'cpu' + 'n' + i"
                       [min]="minQuota"
                       required="true"
                       [(ngModel)]="region.quota.cpu">
                <span auiInputAddonAfter>{{ 'unit_core' | translate }}</span>
              </aui-input-group>
              <div auiFormItemError *ngIf="isCMB && region.quota.cpu < 1">{{'at_least_one' | translate}}</div>
            </aui-form-item>
            <aui-form-item>
              <label auiFormItemLabel>{{'memory' | translate}}</label>
              <aui-input-group auiFormItemControl>
                <input aui-input
                       type="number"
                       [name]="'memory' + 'n' + i"
                       [min]="minQuota"
                       required="true"
                       [(ngModel)]="region.quota.memory">
                <span auiInputAddonAfter>{{ 'unit_gb' | translate }}</span>
              </aui-input-group>
              <div auiFormItemError *ngIf="isCMB && region.quota.memory < 1">{{'at_least_one' | translate}}</div>
            </aui-form-item>
            <aui-form-item>
              <label auiFormItemLabel>{{'pvc_num' | translate}}</label>
              <aui-input-group auiFormItemControl>
                <input aui-input
                       type="number"
                       [name]="'pvc_num' + 'n' + i"
                       [(ngModel)]="region.quota.pvc_num">
                <span auiInputAddonAfter>{{ 'ge' | translate }}</span>
              </aui-input-group>
            </aui-form-item>
            <aui-form-item>
              <label auiFormItemLabel>{{'pods' | translate}}</label>
              <aui-input-group auiFormItemControl>
                <input aui-input
                       type="number"
                       [name]="'pods' + 'n' + i"
                       [min]="minQuota"
                       required="true"
                       [(ngModel)]="region.quota.pods">
                <span auiInputAddonAfter>{{ 'ge' | translate }}</span>
              </aui-input-group>
              <div auiFormItemError *ngIf="isCMB && region.quota.pods < 1">{{'at_least_one' | translate}}</div>
            </aui-form-item>
            <aui-form-item>
              <label auiFormItemLabel>{{'storage' | translate}}</label>
              <aui-input-group auiFormItemControl>
                <input aui-input
                       type="number"
                       [name]="'storage' + 'n' + i"
                       [(ngModel)]="region.quota.storage">
                <span auiInputAddonAfter>{{ 'unit_gb' | translate }}</span>
              </aui-input-group>
            </aui-form-item>
          </div>
        </div>
      </ng-container>
    </div>
  </form>

  <!-- step 3 -->
  <section class="members" *ngIf="curStep === stepsEnum['MEMBER']">
    <div class="success-banner">
      <aui-icon icon="check_circle_s"></aui-icon>
      {{ 'project_create_success_hint' | translate }}
    </div>
    <rc-accounts-list [projectName]="data.name" [isCreate]="true"></rc-accounts-list>
  </section>

  <div class="form-footer">
    <ng-container *ngIf="isCMB">
      <button aui-button
        *ngIf="curStep === stepsEnum['QUOTA']"
        (click)="curStep = stepsEnum['BASIC']">{{ 'prev_step' | translate }}</button>
      <button rcButton="primary"
              *ngIf="curStep === stepsEnum['BASIC']"
              (click)="stepQuota()">{{ 'next_step' | translate }}</button>
      <button aui-button="primary"
              *ngIf="curStep === stepsEnum['QUOTA']"
              [disabled]="submitting"
              [loading]="submitting"
              (click)="create()">{{ 'project_create' | translate }}</button>
      <button aui-button
              *ngIf="curStep === stepsEnum['BASIC'] || curStep === stepsEnum['QUOTA']" 
              (click)="cancel()">{{ 'cancel' | translate }}</button>
      <button aui-button="primary"
              *ngIf="curStep === stepsEnum['MEMBER']" 
              (click)="goToDetail()">{{ 'complete' | translate }}</button>
    </ng-container>

    <ng-container *ngIf="!isCMB">
      <button aui-button="primary"
        *ngIf="curStep === stepsEnum['BASIC']"
        [disabled]="submitting"
        [loading]="submitting"
        (click)="create()">{{ 'project_create' | translate }}</button>
      <button aui-button
        *ngIf="curStep === stepsEnum['BASIC']" 
        (click)="cancel()">{{ 'cancel' | translate }}</button>
      <button aui-button="primary"
        *ngIf="curStep === stepsEnum['MEMBER']" 
        (click)="goToDetail()">{{ 'complete' | translate }}</button>
    </ng-container>
  </div>

</aui-card>