<div *ngIf="!initialized"
     [rcLoadingMask]="true"
     style="height:80px"></div>
<div *ngIf="weblabs.TAG_MANAGE_ENABLED && !is_public && initialized"
     class="rc-repository-tag-manage-tips">
  <i class="fa fa-question-circle"></i>
  {{ 'image-repository-tag-manage-tips' | translate }}
</div>
<div *ngIf="initialized && !tags.length"
     class="rb-loading-mask-placeholder">{{ 'repo_tags_empty' | translate }}
</div>
<div *ngIf="initialized && tags.length"
     class="clearfix">
  <table class="table app-table">
    <thead>
      <tr>
        <td style="width: 15%;">{{ 'image_tag' | translate }}</td>
        <td style="width: 10%;">{{ 'artifacts' | translate }}</td>
        <td *ngIf="shouldShowScanResults()"
            style="width: 15%;">{{ 'image_tag_vulnerability' | translate }}</td>
        <td style="width: 12.5%;">{{ 'created_at' | translate }}</td>
        <td *ngIf="shouldShowScanResults()"
            style="width: 12.5%;">{{ 'image_tag_scanned_at' | translate }}</td>
        <td *ngIf="shouldShowScanResults()"
            style="width: 10%;">{{ 'image_tag_digest' | translate }}</td>
        <td *ngIf="shouldShowScanResults()"
            style="width: 10%;">{{ 'image_tag_security_level' | translate | rcCapitalizeAll }}</td>
        <td *ngIf="shouldShowAction()"
            style="width: 15%;">{{ 'action' | translate }}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tag of tags;trackBy $index">
        <td class="rc-detail-tag-name">
          <span [auiTooltipCopy]="tag.tag_name">{{ tag.tag_name }}</span>
          <img *ngIf="weblabs.TAG_MANAGE_ENABLED && tag.protected"
               src="/static/images/repo/protected.svg"
               [rcTooltip]="'image_repository_protect_enabled' | translate"
               rcTooltipClass="protected-tooltip"
               rcTooltipPosition="right center">
        </td>
        <td>
          <ng-container *ngIf="tag.artifacts_count">
            <a href="javascript:void(0)"
               (click)="viewImageTagArtifacts(tagArtifacts)">{{ tag.artifacts_count }}</a>
            <ng-template #tagArtifacts>
              <rc-image-repository-tag-artifacts [registryName]="repository.registry.name"
                                                 [repositoryName]="repository.name"
                                                 [projectName]="repository.project?.project_name"
                                                 [tagName]="tag.tag_name"></rc-image-repository-tag-artifacts>
            </ng-template>
          </ng-container>
          <span *ngIf="!tag.artifacts_count">0</span>
        </td>
        <td *ngIf="shouldShowScanResults()">
          <a class="rc-repository-tag-summary"
             [routerLink]="['/image/repository/vulnerability']"
             [queryParams]="{ registryName: repository.registry.name, repositoryName: repository.name, projectName: repository.project && repository.project.project_name, tagName: tag.tag_name }">
            <rc-image-repository-tag-level-label *ngFor="let item of tag.summaryList;trackBy $index"

                                                 [level]="item.level"
                                                 [count]="item.count"></rc-image-repository-tag-level-label>
          </a>
        </td>
        <td>{{ (tag.created_at || tag.created) | rcFormatUtcStr }}</td>
        <td *ngIf="shouldShowScanResults()">{{ tag.finished | rcFormatUtcStr }}</td>
        <td *ngIf="shouldShowScanResults()">{{ tag.digest }}</td>
        <td *ngIf="shouldShowScanResults()">
          <span class="label badge"
                [ngClass]="'rc-repository-scan-status-' + (tag.level || 'unscanned').toLowerCase()">
            <i *ngIf="tag.level === 'Analyzing'"
               class="fa fa-refresh fa-spin"></i>
            <span style="color:#fff;">
              {{ 'image_repository_scan_status_' + (tag.level || 'unscanned').toLowerCase() | translate
              }}
            </span>
          </span>
        </td>
        <td *ngIf="shouldShowAction()">
          <button *ngIf="shouldShowTriggerButton()"
                  class="btn btn-xs rb-btn-oper"
                  (click)="startImageTagScan(tag)"
                  [disabled]="shouldDisableTriggerButton(tag)"
                  [rcTooltip]="'image_start_analysis' | translate"
                  rcTooltipPosition="top">
            <i class="fa fa-play"></i>
          </button>
          <button *ngIf="weblabs.TAG_MANAGE_ENABLED && manageTags && tagMaxNumber"
                  class="btn btn-xs rb-btn-oper"
                  [ngClass]="{ disabled: !tag.protected && tagProtectedCount >= tagProtectedMaxNumber }"

                  [rcTooltip]="(tag.protected ? 'image_repository_unprotect_tips' : tagProtectedCount >= tagProtectedMaxNumber ? 'image_repository_protected_overflow_tips' : 'image_repository_protect_tips') | translate:{ maxNum: tagProtectedMaxNumber, protectedNum: tagProtectedCount }"

                  (click)="toggleTagProtection(tag)">
            <img [src]="'/static/images/repo/' + (tag.protected ? 'switch-off-protection' : protectedNum >= tagProtectedMaxNumber ? 'protection-disabled' :'switch-on-protection') + '.svg'">
          </button>
          <button *ngIf="deleteTagEnabled"
                  class="btn btn-xs rb-btn-oper"
                  [disabled]="tag.protected"
                  (click)="deleteTag(tag)"
                  [rcTooltip]="'delete' | translate"
                  rcTooltipPosition="top">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <rc-pagination *ngIf="initialized && tags.length"
                 [count]="count"
                 [pageSize]="pageSize"
                 (pageChanged)="page = $event;getTags()"
                 [disabled]="loading"></rc-pagination>
</div>
