<div [rcLoadingMask]="loading"
     style="min-height:80px;padding:20px 20px 0">
  <div style="margin-bottom: 12px;">{{ tagName }} {{ 'artifacts' | translate }}</div>
  <rc-artifacts-table *ngIf="!loading"
                      [artifacts]="artifacts"></rc-artifacts-table>
</div>
