rc-single-selection-dropdown {
  flex: 1;
}

.input-wrapper {
  display: flex;
  flex: 1;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button {
    width: 32px;
    height: 32px;
    border: 0;
    background-color: #d4d5d6;
    font-size: 12px;
  }
}
