<rc-form-container [rcLoadingMask]="loading">
    <form #form
        method="post"
        [action]="lycanUrl"
        target="_blank"
        autocomplete="off"
        (ngSubmit)="submit()">
        <input type="hidden"
            name="username"
            [value]="account.username" />
        <input type="hidden"
            name="namespace"
            [value]="account.namespace" />
        <input type="hidden"
            name="exec_endpoint"
            [value]="serviceExecEndpoint" />
        <input type="hidden"
            name="application"
            [value]="serviceApplication || ''" />
        <input type="hidden"
            name="instance_name"
            [value]="instanceName" />
        <input type="hidden"
            name="duplicated_names_enabled"
            value="true" />
        <input *ngIf="projectEnabled && projectName"
            type="hidden"
            name="project_name"
            [value]="projectName" />
        <rc-form-field [label]="'service_exec_group' | translate"
            [shouldFlexRow]="true">
            <rc-single-selection-dropdown [options]="serviceInstances"
                displayField="name"
                valueField="uuid"
                required
                [value]="serviceContainerGroupId"
                (change)="onInstanceGroupChange($event)">
            </rc-single-selection-dropdown>
        </rc-form-field>
        <rc-form-field [label]="'container' | translate"
            [shouldFlexRow]="true">
            <rc-single-selection-dropdown [options]="serviceContainers"
                displayField="name"
                valueField="name"
                required
                [value]="serviceContainerId"
                (change)="onContainerChange($event)"></rc-single-selection-dropdown>
        </rc-form-field>
        <rc-form-field [label]="'entrypoint' | translate">
            <input rcInput
                name="command"
                [(ngModel)]="command"
                required>
            <span class="fa fa-question-circle"
                rcFormAddon
                [rcTooltip]="'service_exec_entrypoint_placeholder' | translate"></span>
        </rc-form-field>
        <rc-form-field [label]="'service_exec_password' | translate">
            <input name="fakecommand"
                style="position: absolute;left: -9999px;">
            <input rcInput
                type="password"
                name="password"
                [(ngModel)]="password"
                required>
            <span class="fa fa-question-circle"
                rcFormAddon
                [rcTooltip]="'service_exec_password_placeholder' | translate">
            </span>
        </rc-form-field>
        <rc-form-field [label]="'exec_command' | translate">
            <div class="input-wrapper">
                <input rcInput
                    [value]="execCommand || ''"
                    readonly>
                <button type="button"
                    [auiTooltipCopy]="execCommand"
                    (click)="copySuccess = true"
                    rcFormAddon>
                <span [ngClass]="{ 'fa-files-o': !copySuccess, 'fa-check': copySuccess }"
                    class="fa"></span>
                </button>
            </div>
            <span class="fa fa-question-circle"
                rcFormAddon
                [rcTooltip]="'exec_command_placeholder' | translate"></span>
        </rc-form-field>
        <div class="modal-footer">
            <button rcButton
                    (click)="close.emit()">{{'cancel' | translate}}
            </button>
            <button rcButton="primary"
                    type="submit"
                    [disabled]="loading">{{'confirm' | translate}}
            </button>
        </div>
    </form>
</rc-form-container>
