<div class="rb-log-container">
  <ul class="rb-log-list"
      rb-loading-mask="vm.loading && !vm.logService.isPollStopped">
    <li class="rb-log-item"
        ng-if="vm.logService.isPollStopped && vm.logService.logs.length === 0">
      {{ "pipeline_no_logs" | translate }}
    </li>

    <li class="rb-log-item"
        ng-repeat="log in vm.logService.logs track by $index">
    <span ng-if="log.time"
          ng-bind="log.time * 1000 | formatUtcStr">
    </span>
      <span class="log-message"
            ng-class="(log.level==='ERROR') ? 'log-error': 'log-info'"
            ng-bind="log.message">
    </span>
    </li>
  </ul>
  <div
    ng-if="!vm.logService.isPollStopped"
    ng-click="vm.logService.clearLogs()"
    class="clear-button rb-icon-besom">
  </div>
</div>
