<section style="padding: 20px;">
  <rc-search-input (onSearch)="searched($event)" [loading]="loading"></rc-search-input>
</section>

<section style="padding: 0 20px 20px;" *ngIf="initialized">
  <rc-radio-group [options]="roles"
                  [(ngModel)]="uuid"
                  displayField="name"
                  valueField="uuid"
                  (change)="onParentChange($event)">
  </rc-radio-group>
</section>

<div class="modal-footer" style="padding: 12px">
  <button rcButton (click)="cancel()" style="margin-right: 8px">{{ 'cancel' | translate }}</button>
  <button rcButton="primary" [disabled]="loading || disabled" (click)="confirm()">{{ 'confirm' | translate }}</button>
</div>