<div class="rb-form-row input">
    <div class="rb-label" flex="25">
      {{vm.label | translate | rbTitleCase }}
      <span ng-if="vm.required" class="rb-required-mark">*</span>
    </div>
    <div class="rb-catalog-tags-input" flex="55">
        <rb-tags-input
        foldable="true"
        on-change="vm.onTagChange(tags)"
        add-on-space="false"
        validate-fn="vm.tagValidateFn"
        placeholder="vm.placeholder"
        suggestions="vm.options">
      </rb-tags-input>
    </div>
    <div ng-if="vm.description" class="rb-input-field-addon">
      <i class="fa fa-question-circle"
         style="cursor: pointer;"
         uib-popover-html="vm.description"
         popover-placement="top"
         popover-trigger="'mouseenter'"
         popover-append-to-body="true"></i>
    </div>
  </div>
  