:host {
  display: block;
  div {
    display: flex;
    align-items: center;
    color: white;
    font-weight: normal;
    .fa-refresh {
      margin-right: 4px;
    }
    .separator {
      background-color: #d8d8d8;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      margin: 0 4px;
    }
  }
}
