<aui-tag [type]="type"
  [size]="size"
  [solid]="solid"
  [closeable]="closeable"
  [round]="round">
  <div [attr.status]="statusAttr">
    <i *ngIf="statusAttr === 'IN_PROGRESS'" class="fa fa-refresh fa-spin"></i>
    <span>{{statusText}}</span>
    <span class="separator"></span>
    <span>{{currentInstances}}/{{desiredInstances}}</span>
  </div>
</aui-tag>
