<div
  class="{{ mode !=='rect' ? 'rc-status-badge' : 'rc-status-badge--rect' }}"
  [attr.status]="statusAttr">
  <span *ngIf="['default', 'indicator'].includes(mode)" class="rc-status-indicator"></span>
  <!--<span *ngIf="mode === 'icon'" class="rc-status-icon"></span>-->
  <span *ngIf="mode !== 'indicator'" class="rc-status-text">{{statusText}}</span>
</div>
