<rc-loading-mask [loading]="!initialized && loading"></rc-loading-mask>
<div *ngIf="(loadError | async) && !loading && !initialized" class="rb-loading-mask-placeholder">
  <div>
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError" rcButton="primary" style="margin-top: 12px;" (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>

<div *ngIf="!(loadError | async) && with_instance && initialized" fxLayout="row" class="rc-list-header">
  <button rcButton [disabled]="permission.indexOf('serviceinstance:update')===-1" (click)="bindInstance()">
    {{ "service_catalog_bind_service_instance" | translate }}
  </button>
  <span fxFlex></span>
  <rc-search-input [loading]="searching" (onSearch)="searchChanged($event)"></rc-search-input>
  <button rcIconButton [disabled]="loading" (click)="refetch()">
    <i class="fa fa-refresh"></i>
  </button>
</div>

<div *ngIf="initialized">
  <ng-container *ngIf="with_instance; else serviceBindingList">
    <aui-table #bindingList [dataSource]="bindingItems" [trackBy]="trackByFn">
      <!-- `instanceName` -->
      <ng-container auiTableColumnDef="instanceName">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'service_catalog_instance_name' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div class="rc-resource-name-cell row-image">
            <img src="/static/images/service-catalog/service-instance.svg">
            <div class="rc-line">
              <a href="javascript:void(0)" [routerLink]="['/service_catalog/service_instance/instance_detail',bindingServiceNamespace,item.serviceinstance.name]">
                {{ item.serviceinstance.name }}</a>
            </div>
          </div>
        </aui-table-cell>
      </ng-container>
      <!-- `plan` -->
      <ng-container auiTableColumnDef="plan">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'service_catalog_plan' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.serviceinstance.clusterserviceplan_name }}
        </aui-table-cell>
      </ng-container>
      <!-- `sericeClass` -->
      <ng-container auiTableColumnDef="sericeClass">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'nav_service_class' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.serviceinstance.clusterserviceclass_name }}
        </aui-table-cell>
      </ng-container>
      <!-- `bindingStatus` -->
      <ng-container auiTableColumnDef="bindingStatus">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'service_catalog_binding' | translate}}{{'status' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <rc-status-badge [status]="getBindingStatus(item)"></rc-status-badge>
        </aui-table-cell>
      </ng-container>
      <!-- `namespace` -->
      <ng-container auiTableColumnDef="namespace">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'namespace' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.kubernetes.metadata.namespace }}
        </aui-table-cell>
      </ng-container>
      <!-- `action` -->
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div [auiDropdown]="menu" class="action-button">
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </div>
          <aui-menu #menu size="small">
            <aui-menu-item (click)="viewCredentials(item)">
              {{ 'service_catalog_view_credentials' | translate }}
            </aui-menu-item>
            <aui-menu-item (click)="viewParams(item.kubernetes.spec.parameters)">
              {{ 'service_catalog_view_binding_params' | translate }}
            </aui-menu-item>
            <aui-menu-item (click)="unbind(item)">
              {{ 'service_catalog_unbind' | translate }}
            </aui-menu-item>
          </aui-menu>
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row *auiTableHeaderRowDef="['instanceName', 'plan', 'sericeClass', 'bindingStatus', 'namespace', 'action']">
      </aui-table-header-row>
      <aui-table-row *auiTableRowDef="let row; columns: ['instanceName', 'plan', 'sericeClass', 'bindingStatus', 'namespace', 'action'];">
      </aui-table-row>
    </aui-table>
  </ng-container>
  <ng-template #serviceBindingList>
    <aui-table #bindingList [dataSource]="bindingItems" [trackBy]="trackByFn">
      <!-- `application` -->
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'name' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div class="rc-resource-name-cell row-image">
            <span *ngIf="item.kubernetes.status.conditions.length === 0" class="fa fa-refresh service-catalog-sync-circle" [rcTooltip]="'status_creating' | translate"
              [rcTooltipInline]="false" rcTooltipMode="info" rcTooltipPosition="top"></span>
            <img src="/static/images/resource/service.svg" [ngClass]="{'service-catalog-error-image': item.kubernetes.status.conditions.length === 0}">
            <div class="rc-lines">
              <div class="rc-line">
                <a href="javascript:void(0)" [routerLink]="['/k8s_app/detail/component', item.service.uuid]">{{ item.service.name }}</a>
              </div>
            </div>
          </div>
        </aui-table-cell>
      </ng-container>
      <!-- `appStatus` -->
      <ng-container auiTableColumnDef="appStatus">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'application' | translate}}{{'status' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <rc-status-badge [status]="item.service.status"></rc-status-badge>
        </aui-table-cell>
      </ng-container>
      <!-- `namespace` -->
      <ng-container auiTableColumnDef="namespace">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'namespace' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.kubernetes.metadata.namespace }}
        </aui-table-cell>
      </ng-container>
      <!-- `bindingStatus` -->
      <ng-container auiTableColumnDef="bindingStatus">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'service_catalog_binding' | translate}}{{'status' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <rc-status-badge [status]="getBindingStatus(item)"></rc-status-badge>
        </aui-table-cell>
      </ng-container>
      <!-- `bindingTime` -->
      <ng-container auiTableColumnDef="bindingTime">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'service_catalog_binding_time' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.kubernetes.metadata.creationTimestamp | rcFormatUtcStr }}
        </aui-table-cell>
      </ng-container>
      <!-- `action` -->
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div [auiDropdown]="menu" class="action-button">
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </div>
          <aui-menu #menu size="small">
            <aui-menu-item (click)="viewCredentials(item)">
              {{ 'service_catalog_view_credentials' | translate }}
            </aui-menu-item>
            <aui-menu-item (click)="viewParams(item.kubernetes.spec.parameters)">
              {{ 'service_catalog_view_binding_params' | translate }}
            </aui-menu-item>
            <aui-menu-item (click)="unbind(item)">
              {{ 'service_catalog_unbind' | translate }}
            </aui-menu-item>
          </aui-menu>
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row *auiTableHeaderRowDef="['name', 'appStatus', 'namespace', 'bindingStatus', 'bindingTime', 'action']">
      </aui-table-header-row>
      <aui-table-row *auiTableRowDef="let row; columns: ['name', 'appStatus', 'namespace', 'bindingStatus', 'bindingTime', 'action'];">
      </aui-table-row>
    </aui-table>
  </ng-template>
</div>

<section class="rc-list-pagination" *ngIf="!empty">
  <rc-pagination [count]="count" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"></rc-pagination>
</section>
