@import 'colors.styles';
:host {
  ::ng-deep .datatable-header .datatable-header-inner .datatable-header-cell {
    background-color: $silver-6;
  }
  .rc-line {
    a {
      font-size: 18px;
    }
  }
  .rc-list-header {
    margin-bottom: 10px;
    rc-search-input {
      margin-right: 8px;
    }
  }
  .empty-message-container {
    min-height: 60px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .empty-message {
    color: $gray-7;
  }
  .row-image {
    position: relative;
    > span {
      position: absolute;
      top: 30px;
      left: 33px;
      z-index: 1;
    }
  }
}
