<div class="rb-form-row input"
     ng-if="vm.isNewK8sRegion">
  <div class="rb-label"
       flex="25">
    {{ 'namespace' | translate }}
    <span class="rb-required-mark"
          ng-if="vm.namespaces && vm.namespaces.length">*</span>
  </div>
  <rb-dropdown rb-loading-mask="!vm.namespaces"
               on-change="vm.namespaceChanged(option)"
               key="name"
               value="uuid"
               is-disabled="vm.workflow.readonly"
               init="vm.item.model.data.k8s_namespace_uuid"
               allow-empty-default="vm.workflow.readonly"
               options="vm.namespaces">
  </rb-dropdown>
</div>

<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'pipeline_config_registry_type' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <rb-radio-group on-change="vm.registryTypeChanged(option.type)"
                  key="displayName"
                  value="type"
                  readonly="vm.workflow.readonly"
                  init="vm.currentRegistryType()"
                  options="vm.registryTypes">
  </rb-radio-group>
</div>

<!-- Manual select repo -->
<rb-repository-dropdown-group ng-if="vm.useExistingRegistries()"
                              init="vm.repositoryInitObject"
                              readonly="vm.workflow.readonly"
                              allow-empty-default="vm.workflow.readonly"
                              on-repository-changed="vm.repositoryChanged(value)">
</rb-repository-dropdown-group>

<div class="rb-form-row input"
     ng-if="vm.item.model.data.registry_type === 'registry_type_custom'">
  <div class="rb-label">
    {{ 'pipeline_config_registry_custom_endpoint' | translate }}
    <span ng-if="vm.item.model.data.registry_type === 'registry_type_custom'"
          class="rb-required-mark">*</span>
  </div>
  <input type="text"
         name="registryIndex"
         rb-errors-tooltip
         ng-disabled="vm.workflow.readonly"
         ng-model="vm.item.model.data.registry_index"
         ng-required="vm.item.model.data.registry_type === 'registry_type_custom'"
         placeholder="e.g., index.docker.io">
</div>

<!-- Non-existing repository must have tag manually input -->
<div class="rb-form-row input"
     ng-if="!vm.useExistingRegistries()">
  <div class="rb-label">
    {{ 'image' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <input placeholder="e.g., library/mysql:latest"
         required
         name="dockerImageTag"
         ng-disabled="vm.workflow.readonly"
         ng-model="vm.item.model.data.docker_image_tag"
         ng-blur="vm.imageTagBlurred()"
         rb-errors-tooltip
         type="text">
</div>

<!-- Existing repository can have tags selected -->
<div class="rb-form-row input"
     ng-if="vm.useExistingRegistries()">
  <div class="rb-label">
    {{ 'image_tag' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <input ng-disabled="vm.workflow.readonly"
         ng-blur="vm.imageTagBlurred()"
         ng-if="(vm.repositoryTags$ | rbAsync:this).length === 0"
         ng-model="vm.item.model.data.image_tag"
         type="text">
  <rb-dropdown style="max-height: 32px;"
               ng-hide="(vm.repositoryTags$ | rbAsync:this).length === 0"
               is-disabled="vm.workflow.readonly"
               rb-loading-mask="!(vm.repositoryTags$ | rbAsync:this)"
               key="name"
               value="name"
               init="vm.item.model.data.image_tag"
               on-change="vm.onDropdownTagChanged(option)"
               options="vm.repositoryTags$ | rbAsync:this">
  </rb-dropdown>
</div>

<div ng-if="vm.isNewK8sRegion"
     class="rb-pipeline-config-form-container">
  <div class="rb-form-row input">
    <div class="rb-label">
      {{ 'environment_variable' | translate }}
    </div>
    <table class="env-table">
      <thead>
        <tr>
          <td>{{ 'key' | translate }}</td>
          <td>{{ 'value' | translate }}</td>
          <td>{{ 'reference' | translate }}</td>
        </tr>
      </thead>
      <tbody ng-if="vm.item.model.data.env">
        <tr ng-repeat="envItem in vm.item.model.data.env">
          <td>
            <input type="text"
                   ng-model="envItem.name"
                   ng-disabled="vm.workflow.readonly"
                   pattern="[A-Za-z_][A-Za-z0-9_]*"
                   required
                   rbInput>
          </td>
          <td>
            <div ng-if="envItem.valueFrom"
                 class="env-config-map">
              <rb-dropdown on-change="vm.configMapChange(option, envItem.valueFrom.configMapKeyRef, $index)"

                           key="name"
                           value="uuid"
                           is-disabled="vm.workflow.readonly"
                           ng-init="refUuid = envItem.valueFrom.configMapKeyRef.uuid"
                           init="refUuid"
                           placeholder="{{ 'pipeline_config_select_config_map' | translate }}"

                           allow-empty-default="vm.workflow.readonly"
                           options="vm.configMaps">
              </rb-dropdown>
              <rb-dropdown on-change="vm.configMapKeyChange(option.value, envItem.valueFrom.configMapKeyRef)"

                           is-disabled="vm.workflow.readonly"
                           ng-init="refKey = envItem.valueFrom.configMapKeyRef.key"
                           init="refKey"
                           placeholder="Key"
                           options="vm.configMapList[$index].keys">
              </rb-dropdown>
              <i class="fa fa-eye"
                 ng-disabled="!envItem.valueFrom.configMapKeyRef.key"
                 ng-click="vm.previewConfigMapValue($index, envItem.valueFrom.configMapKeyRef)"></i>
            </div>
            <input ng-if="!envItem.valueFrom"
                   type="text"
                   ng-model="envItem.value"
                   ng-disabled="vm.workflow.readonly"
                   required
                   rbInput>
          </td>
          <td>
            <div class="env-actions">
              <div class="ui toggle checkbox">
                <input ng-init="refEnabled = !!envItem.valueFrom"
                       ng-model="refEnabled"
                       ng-disabled="vm.workflow.readonly"
                       type="checkbox"
                       ng-change="vm.onRefChange(envItem, refEnabled)">
                <label></label>
              </div>
              <i class="fa fa-minus-circle"
                 ng-click="vm.removeEnv($index)"
                 ng-disabled="vm.workflow.readonly"></i>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <div class="add-env"
                 ng-click="vm.addEnv()"
                 ng-disabled="vm.workflow.readonly">
              <i class="fa fa-plus-circle"></i>
              {{ 'add' | translate }}
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="env-tips">
      <i class="fa fa-question-circle"
         uib-tooltip="{{ 'pipeline_config_env_variables_tip' | translate }}"></i>
    </div>
  </div>
  <div class="rb-form-row input">
    <div class="rb-label">ConfigMap</div>
    <rb-dropdown key="name"
                 value="uuid"
                 multiple="true"
                 is-disabled="vm.workflow.readonly"
                 init="vm.initConfigMaps"
                 options="vm.configMaps"
                 on-add="vm.configMapAdded(option)"
                 on-remove="vm.configMapRemoved(option)"></rb-dropdown>
    </rb-dropdown>
    <div class="env-tips">
      <i class="fa fa-question-circle"
         uib-tooltip="{{ 'pipeline_config_config_maps_tip' | translate }}"></i>
    </div>
  </div>
</div>
<div ng-if="!vm.isNewK8sRegion">
  <!-- Link to service -->
  <div class="rb-form-row input">
    <div class="rb-label">
      {{ 'pipeline_test_link_to_service' | translate }}
    </div>
    <div layout="column"
         style="margin-bottom: 10px;">
      <rb-radio-group style="margin: 5px 0; align-self: flex-start;"
                      on-change="vm.selectServiceTypeChanged(option.type)"
                      key="displayName"
                      value="type"
                      readonly="vm.workflow.readonly"
                      init="vm.getInitServiceType()"
                      options="vm.selectServiceTypes">
      </rb-radio-group>
      <rb-dropdown ng-if="vm.selectServiceType !== ''"
                   style="width: 100%; max-height: 32px;"
                   ng-click="vm.servicesDropdownClicked()"
                   rb-loading-mask="!(vm.availableServices$ | rbAsync:this)"
                   on-change="vm.linkServiceChanged(option.value)"
                   key="displayName"
                   value="uuid"
                   is-disabled="vm.workflow.readonly"
                   init="vm.item.model.data.link.uuid"
                   placeholder="{{ 'pipeline_config_task_select_service_hint' | translate }}"

                   options="vm.availableServices$ | rbAsync:this">
      </rb-dropdown>
    </div>
  </div>

  <!-- Env file -->
  <div class="rb-form-row input">
    <div class="rb-label">
      {{ 'envfile' | translate }}
    </div>
    <rb-dropdown rb-loading-mask="!(vm.envfiles$ | rbAsync:this)"
                 on-change="vm.envfileChanged(option)"
                 key="displayName"
                 value="uuid"
                 is-disabled="vm.workflow.readonly"
                 init="vm.item.model.data.env_file_uuid"
                 options="vm.envfiles$ | rbAsync:this">
    </rb-dropdown>
  </div>

  <!-- Env Variables -->
  <div class="rb-form-row input">
    <div class="rb-label">
      {{ 'environment_variable' | translate }}
    </div>
    <rb-service-fieldset-env-vars is-disabled="vm.workflow.readonly"
                                  env-vars="vm.item.model.data.env_vars">
    </rb-service-fieldset-env-vars>
  </div>
</div>

<!-- EXEC -->
<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'pipeline_config_task_command' | translate }}
  </div>
  <pre ng-show="vm.workflow.readonly">{{ vm.item.model.data.command }}</pre>
  <ui-codemirror style="width: 100%"
                 ng-show="!vm.workflow.readonly"
                 ui-codemirror-opts="vm.editorOptions"
                 ui-refresh='vm.item.selected + vm.workflow.readonly'
                 name="command"
                 rb-errors-tooltip
                 ng-model="vm.item.model.data.command">
  </ui-codemirror>
</div>
