<div class="rb-form-panel" rb-loading-mask="vm.submitting">
  <div class="rb-form-container">
    <ng-form name="vm.form" class="rb-form">
      <div class="rb-input-container-help" ng-bind-html="'automation_tip' | translate">
      </div>
      <!-- on/off -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'automation' | translate}}</label>
          <span class="ui toggle checkbox">
            <input ng-disabled="!vm.automation.is_activatable"
                   type="checkbox" name="automation_state"
                   ng-model="vm.is_active">
            <label></label>
          </span>
        </div>
      </div>
      <!-- desc -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label></label>
          <div class="rb-automation-note">
            {{'auto_deploy_note' | translate}}
          </div>
          <div class="rb-input-field-addon"></div>
        </div>
      </div>
    </ng-form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button ng-if="vm.automation.is_activatable"
              type="button"
              class="ui button rb-btn-primary"
              ng-click="vm.save()">{{'save' | translate}}
      </button>
    </div>
  </div>
</div>