<table class="rb-preview-child-table">
  <thead>
  <tr>
    <td>{{ 'port' | translate }}</td>
    <td>{{ 'service_address_type' | translate }}</td>
    <td>{{ 'ipaddress' | translate }}</td>
    <td>{{ 'service_port' |translate }}</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="port in vm.ports track by $index">
    <td>{{ port.containerPort }}</td>
    <td>{{ port.endpointType }}</td>
    <td>{{ port.ipaddress | translate }}</td>
    <td>{{ port.servicePort }}</td>
  </tr>
  </tbody>
</table>