:host {
  &.error-state {
    box-shadow: 2px 2px 5px 2px red;
  }
}

.service-container {
  display: flex;
  flex-direction: column;

  .dropdown {
    display: flex;
    height: 32px;
    flex-direction: row;
    margin: 6px 0;

    .filed-label {
      flex-shrink: 0;
      width: 180px;
      text-align: right;
      padding-right: 16px;
      line-height: 32px;

      &::after {
        content: '*';
        color: #fc5d68;
        margin-left: 8px;
      }
    }

    rc-single-selection-dropdown {
      flex: 1;
    }
  }
}
