<div class="service-container">
  <div class="dropdown">
    <div class="filed-label">{{ 'service_region_name' | translate }}</div>
    <rc-single-selection-dropdown
      [(ngModel)]="clusterName"
      [options]="clusterOptions"
      displayField="display_name"
      valueField="name"
      [allowFilter]="true"
      [rcLoadingMask]="clusterLoading"
      [placeholder]="(clusterOptions.length ? 
      'jenkins_template_service_container_select_cluster_tips' : 'jenkins_template_service_container_no_cluster') | translate"
      style="width:100%"
      [required]="true"
    ></rc-single-selection-dropdown>
  </div>
  <div class="dropdown">
    <div class="filed-label">{{ 'namespace' | translate }}</div>
    <rc-single-selection-dropdown
      [(ngModel)]="namespace"
      [options]="namespaceOptions"
      displayField="name"
      valueField="name"
      [allowFilter]="true"
      [rcLoadingMask]="namespaceLoading"
      [placeholder]="(namespaceOptions.length ? 
      'jenkins_template_service_container_select_namespace_tips' : 'jenkins_template_service_container_no_namespace') | translate"
      style="width:100%"
      [required]="true"
    ></rc-single-selection-dropdown>
  </div>
  <div class="dropdown">
    <div class="filed-label">{{ 'service_name' | translate }}</div>
    <rc-single-selection-dropdown
      [(ngModel)]="serviceName"
      [options]="serviceOptions"
      displayField="service_name"
      valueField="service_name"
      [allowFilter]="true"
      [rcLoadingMask]="serviceLoading"
      [placeholder]="(serviceOptions.length ? 
      'jenkins_template_service_container_select_service_tips' : 'jenkins_template_service_container_no_service') | translate"
      style="width:100%"
      [required]="true"
    ></rc-single-selection-dropdown>
  </div>
  <div class="dropdown">
    <div class="filed-label">{{ 'container_name' | translate }}</div>
    <rc-single-selection-dropdown
      [(ngModel)]="containerName"
      [options]="containerOptions"
      displayField="name"
      valueField="name"
      [allowFilter]="true"
      [rcLoadingMask]="containerLoading"
      [placeholder]="(containerOptions.length ? 
      'jenkins_template_service_container_select_container_tips' : 'jenkins_template_service_container_no_container') | translate"
      style="width:100%"
      [required]="true"
    ></rc-single-selection-dropdown>
  </div>
</div>
