<div class="rb-page-heading">
  <div class="rb-superbar-content">
    <div class="page-heading-toolbar">
      <label for="">{{'monitor_period' | translate}}</label>
      <rb-dropdown is-disabled="!vm.charts.length" options="vm.periodOptions"
                   key="title"
                   value="period"
                   filter-threshold="20"
                   on-change="vm.onPeriodChange(option)"
                   size="xs"></rb-dropdown>

      <div>
        <label>{{ "from" | translate }}</label>
        <div class="ui input">
          <input
            rb-date-time-picker
            ng-disabled="!vm.isCustomTimeRange() || !vm.charts.length"
            timestamp="vm.timeRange.start"
            options="vm.dateTimeOptions" type="text">
        </div>
      </div>
      <div>
        <label>{{ "to" | translate }}</label>
        <div class="ui input">
          <input
            rb-date-time-picker
            ng-disabled="!vm.isCustomTimeRange() || !vm.charts.length"
            timestamp="vm.timeRange.end"
            options="vm.dateTimeOptions" type="text">
        </div>
      </div>
      <button class="ui button rb-btn-primary"
              ng-disabled="!vm.isCustomTimeRange() || !vm.charts.length"
              ng-click="vm.confirmTimeRange()">
        {{'confirm' | translate}}
      </button>
    </div>
    <button class="ui button rb-btn-primary"
            ng-click="vm.addMonitorChart()"
            ng-if="vm.initialized && vm.chartCreateEnabled"
            ng-disabled="!vm.metricsReady">
      {{'monitor_add' | translate}}
    </button>
  </div>
</div>
<div class="rb-dashboard-charts">

  <rb-monitor-chart-card
    ng-repeat="chart in vm.charts track by chart.index"
    data-uuid="{{chart.uuid}}"
    period="vm.currentPeriod"
    init-time-range="vm.initTimeRange"
    chart="chart"
    dashboard-uuid="vm.dashboard.uuid"
    metrics="vm.metrics"></rb-monitor-chart-card>
</div>
<rb-loading-mask-placeholder ng-if="vm.loading"></rb-loading-mask-placeholder>
<div class="rb-loading-mask-placeholder" ng-if="!vm.loading && !vm.charts.length && !vm.loadError">
  {{'no_data' | translate}}
</div>
<div ng-if="vm.loadError" class="rb-loading-mask-placeholder">
  <div>
    {{ 'data_load_error' | translate }}
  </div>
  <button class="ui button rb-btn-primary margin-top-2"
          ng-class="{ loading: vm.loading }"
          ng-click="vm.getDashboardDetail()">
    {{ 'refresh' | translate }}
  </button>
</div>