rb-monitor-dashboard-detail {
  .rb-page-heading {
    height: 48px;
    &.rb-superbar {
      height: auto;
    }
    .page-heading-toolbar {
      > * {
        margin-right: 8px;
      }
      label {
        font-weight: 400;
      }
    }
    .ui.selection.dropdown > .menu {
      max-height: 32em;
    }
  }
  .rb-superbar-content {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    padding: 8px 16px;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
  }
  .rb-dashboard-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
  }
  .rb-dashboard-charts {
    display: block;
    position: relative;
    margin-right: -16px;
    min-width: 900px;
    &:after {
      clear: both;
      content: ' ';
      display: block;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    &[min-width~='900px'] {
      rb-monitor-chart-card {
        width: calc(50% - 16px);
      }
    }
    &[min-width~='1350px'] {
      rb-monitor-chart-card {
        width: calc(33.33% - 16px);
      }
    }
  }
}
