<div class="form-container">
  <button aui-button="primary" size="large" *ngFor="let item of ENVIRONMENTS?.sso_configuration?.configs;" (click)="tpLogin(item)" type="text">
    {{ item['display_name'] | translate }}
  </button>
  <div class="divide-line"></div>
  <a routerLink="/login/sub" [queryParams]="{next: _next}">
    Alauda {{ 'user_login' | translate}}
  </a>
</div>
