:host {
  flex: 1;
  .form-container {
    text-align: center;
    margin: 0 60px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    button {
      margin-bottom: 20px;
    }
    a {
      margin-top: 20px;
    }
  }
  .divide-line {
    flex: 1;
    height: 1px;
    background: #e6e6e6;
    margin: 10px 0 0 0;
  }

  ::ng-deep {
    .aui-button--large + .aui-button--large {
      margin-left: 0;
    }
  }
}
