@import '_colors.palette';
@import '_colors.styles';

.rc-search-bar {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 8px;
  margin-bottom: 20px;

  input {
    flex-grow: 0;
    width: 30%;
  }
}

.status-cell {
  display: flex;
  min-width: 200px;

  > span {
    display: inline-flex;
    align-items: center;
    font-size: 14px;

    &.state-ready {
      color: $status-color-success;
    }

    &.state-notready {
      color: $status-color-error;
    }

    &.state-warning {
      color: $status-color-warning;
    }

    + span:before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      margin: 0 4px;
      border-radius: 4px;
      background-color: #d8d8d8;
    }
  }
}

.schedule-badge {
  color: $status-color-error;

  &.schedulable {
    color: $status-color-success;
  }
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #999;
}

aui-paginator {
  display: block;
  margin-top: 20px;
}
