<div class="modal-body">
  <div class="content">
    <aui-icon size="22" icon="exclamation_triangle_s" color="#eb6262"></aui-icon>
    {{ 'project_delete_confirm' | translate : {name: displayName ? displayName + '(' + projectName + ')' : projectName} }}
  </div>
  <form #form="ngForm">
    <div>{{ projectName }}</div>
    <input #name="ngModel"
           auiFormItemControl
           name="inputName"
           [(ngModel)]="inputName"
           aui-input required>
  </form>
</div>

<div class="modal-footer">
  <button aui-button="error" [loading]="deleteLoading" [disabled]="!inputCorrect" (click)="delete()">
    {{ 'delete_project'|translate }}
  </button>
  <button aui-button (click)="cancel()" >
    {{ 'cancel' | translate }}
  </button>
</div>
