@import 'colors.styles';
:host {
  display: block;
}
.rc-pagination {
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  button {
    width: 38px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: none;
    background-color: $button-default-background-color;
    outline: none;
    &.prev {
      margin-right: 4px;
    }
    &.next {
      margin-left: 4px;
    }
    &:disabled {
      background-color: #f7f9fa;
      color: #cdd6dc;
    }
  }
  span {
    padding: 0 4px;
  }
  input {
    flex-grow: 0;
    width: 50px;
    height: 30px;
    text-align: center;
    &:disabled {
      background-color: #f7f9fa;
      color: #cdd6dc;
    }
  }
  div.current-page {
    color: #666;
    letter-spacing: 0.23;
  }
}
