<div class="rc-pagination">
  <button class="prev" [disabled]="prevDisabled" (click)="prev()">
    <i class="fa fa-angle-left"></i>
  </button>
  <input #inputElement rcInput type="number" [ngModel]="currentPage" (keydown)="keydown(inputElement, $event)" [disabled]="disabled">
  <span>/</span>
  <span>{{totalPage}}</span>
  <button class="next" [disabled]="nextDisabled" (click)="next()">
    <i class="fa fa-angle-right"></i>
  </button>
</div>