<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="!vm.initialized || vm.submitting">
    <ng-form class="rb-form" name="vm.form">

      <div class="rb-form-row input">
        <div class="rb-label" flex="20">
          {{'envfile_name' | translate}}
          <span class="rb-required-mark">*</span>
        </div>
        <div flex="65" class="ui fluid input icon">
          <input
            type="text"
            ng-model="vm.envfileName"
            ng-model-options="{ debounce: 500 }"
            name="name"
            minlength="1"
            maxlength="36"
            ng-pattern="/^[A-Za-z0-9-_.()]+$/"
            required
            rb-errors-tooltip
            rb-errors-tooltip-position="bottom right"
            rb-errors-tooltip-mapper="{
              'pattern': ('envfile_name_invalid_pattern' | translate)
            }"
            placeholder="{{ 'envfile_name' | translate }}">
        </div>
      </div>

      <!-- quota_space -->
      <div class="rb-form-row input" ng-if="vm.quotaEnabled">
        <div class="rb-label" flex="20">
          {{ "quota_space" | translate }}
        </div>
        <div flex="65">
          <div ng-if="!vm.spaces.length" class="rb-info-tip">
            {{'quota_space_required' | translate}}
          </div>
          <rb-dropdown ng-if="vm.spaces.length"
                       options="vm.spaces"
                       value="name"
                       key="name"
                       filter-threshold="5"
                       on-change="vm.onSpaceChanged(option)"></rb-dropdown>
        </div>
      </div>

      <div class="rb-form-row input">
        <div class="rb-label" flex="20">
          {{ "envfile_desc" | translate }}
        </div>
        <div flex="65" class="ui fluid input">
          <input
            type="text"
            ng-model="vm.envfileDesc"
            ng-model-options="{ debounce: 500 }"
            name="desc"
            minlength="1"
            maxlength="256"
            placeholder="{{ 'envfile_desc' | translate }}">
        </div>
      </div>

      <div class="rb-form-row input">
        <div class="rb-label" flex="20">
          {{ "env_file_content" | translate }}
          <span class="rb-required-mark">*</span>
        </div>
        <div flex="65">
          <div style="width: 100%;">
            <div ng-if="vm.fromScrath" class="ui checkbox">
              <input type="checkbox" ng-model="vm.selectEnabled">
              <label>{{'from_exist_envfile' | translate}}</label>
            </div>
            <rb-dropdown ng-if="vm.selectEnabled"
                         options="vm.envfileList"
                         key="name"
                         value="uuid"
                         on-change="vm.onEnvfileNameChange(option)"
                         style="margin-bottom: 8px;"></rb-dropdown>
            <div rb-loading-mask="vm.loading">
              <ui-codemirror ui-codemirror-opts="vm.editorOptions"
                             ng-model="vm.content"></ui-codemirror>
            </div>

          </div>
        </div>
      </div>
    </ng-form>
  </div>

  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons" flex-offset="20">
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.create()">{{'create' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
    </div>
  </div>
</div>
