@import 'colors.styles';
@import 'form.styles';

rc-form-container {
  height: 100%;
  ::ng-deep {
    .rc-form-panel.is-in-modal {
      display: flex;
      height: 100%;
      .rc-form-container {
        height: 100%;
        overflow-y: auto;
      }
      .rc-form-footer {
        flex: none !important;
        box-shadow: 0 0 8px 0 rgba(196, 201, 203, 0.65);
        background-color: #f1f4f6;
        padding: 12px;
        border-top: 1px solid #e5e5e5;
      }
    }
  }
}
.form-field-text {
  display: flex;
  line-height: $form-row-height;
  margin-bottom: 8px;
}
.form-field-label {
  width: 140px;
  text-align: right;
  padding-right: 16px;
  font-weight: normal;
  line-height: 32px;
}
.form-field-required {
  color: $form-text-error-color;
}
.loading-mask-overlay {
  min-height: 80px;
}

.form-subs {
  color: #888;
  flex: 1;
}
.form-sub-row {
  margin-bottom: 8px;
}
.form-sub-col {
  flex: 1;
  margin-right: 8px;
  &:first-child {
    min-width: 14em;
  }
}
.required-mark {
  color: $text-warnings-color;
}

.form-sub {
  border: 1px dashed #ccc;
  min-height: 130px;
  position: relative;
  margin-top: 32px;
  margin-right: 48px;
  &:first-child {
    margin-top: 16px;
  }
  display: flex;
  &-method {
    position: absolute;
    left: 140px;
    top: -16px;
  }
  &-placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-fields {
    padding: 32px 0 16px;
    flex: 1;
  }
  &-button {
    text-align: right;
    margin-top: 8px;
    padding-right: 48px;
  }
  &-remove {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 48px;
    right: -48px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: #24a7e3;
    }
  }
}
