<rc-form-container>
  <div [rcLoadingMask]="!initialized || submitting">
    <form [formGroup]="form" #formRef="ngForm" (ngSubmit)="submit()">
      <ng-container *ngIf="!updating && weblabs.QUOTA_ENABLED">
        <rc-form-field label="{{'quota_space'|translate}}" [shouldFlexRow]="true" *ngIf="spaces.length">
          <rc-single-selection-dropdown name="space"
                                        formControlName="space"
                                        [options]="spaces">
          </rc-single-selection-dropdown>
        </rc-form-field>
        <div class="form-field-text" *ngIf="!spaces.length">
          <label class="form-field-label">{{ 'quota_space' | translate }}</label>
          <div class="form-field-required">{{ 'quota_space_required' | translate }}</div>
        </div>
      </ng-container>
      <rc-form-field label="{{'name' | translate}}" 
                     [shouldFlexRow]="true"
                     [hideErrors]="true"
                     *ngIf="!updating">
        <input rcInput
               formControlName="name"
               maxlength="36"
               [pattern]="patternMap.name.reg"
               placeholder="{{patternMap.name.hint|translate}}"
               [rcErrorsTooltip]
               [rcErrorsTooltipMapper]="errorMappers.name"
               required>
      </rc-form-field>
      <div fxLayout="row">
        <label class="form-field-label">{{ 'notification_subscription_info' | translate }} <span class="required-mark">*</span></label>
        <div class="form-subs" formArrayName="subs">
          <div  class="form-sub"
                *ngFor="let sub of subFormArray.controls; let i = index"
                [formGroupName]="i">
            <div class="form-sub-method">
              <rc-single-selection-dropdown name="method"
                                            formControlName="method"
                                            [options]="subMethods"
                                            displayField="name"
                                            valueField="value"
                                            placeholder="{{'please_select_notification_method' | translate}}"
                                            (change)="onMethodChange($event, i)"
                                            [allowFilter]="false"
                                            #method>
              </rc-single-selection-dropdown>
            </div>
            <div class="form-sub-placeholder" *ngIf="!method.value.length">{{ 'notification_subscription_placeholder' | translate }}</div>
            <div class="form-sub-fields" *ngIf="method.value.length">
              <rc-form-field label="{{'notification_subscription_info' | translate}}" [shouldFlexRow]="true" [hideErrors]="true">
                <input  rcInput
                        formControlName="recipient"
                        [rcErrorsTooltip]
                        [rcErrorsTooltipMapper]="errorMappers[method.value]"
                        [placeholder]="errorMappers[method.value].pattern"
                        required>
              </rc-form-field>
              <rc-form-field label="{{'notification_webhook_secret' | translate}}" [shouldFlexRow]="true" *ngIf="method.value==='webhook'">
                <input rcInput
                        formControlName="secret"
                        [rcErrorsTooltip]>
              </rc-form-field>
              <rc-form-field label="{{'notification_subscription_remark' | translate}}" [shouldFlexRow]="true">
                <input  rcInput
                        formControlName="remark">
              </rc-form-field>
            </div>
            <span class="form-sub-remove" *ngIf="subFormArray.controls.length>1">
              <i class="fa fa-trash" role="button" (click)="removeSub(i)"></i>
            </span>
          </div>
          <div class="form-sub-button">
            <button rcButton rcButtonSize="small" (click)="addSub()">{{ 'add' | translate}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *rcFooterContent>
    <button rcButton
            (click)="cancel()">
      {{'cancel'|translate}}
    </button>
    <button rcButton="primary"
            (click)="formRef.onSubmit($event)"
            [class.loading]="submitting">
      <ng-container *ngIf="updating">{{'save'|translate}}</ng-container>
      <ng-container *ngIf="!updating">{{'create'|translate}}</ng-container>
    </button>
  </div>
</rc-form-container>