<div class="nav-list-wrapper">
  <ng-container *ngFor="let navCategory of nav?.children; let isLast = last; trackBy: trackByCategory">
    <rc-nav-list-category [navCategory]="navCategory">
    </rc-nav-list-category>
    <div class="nav-category-divider"
         *ngIf="!isLast"></div>
  </ng-container>
</div>
