@import '../layout.common';

/* A magic padding to hide scrollbar */
$scrollbar-padding: 100px;
$outer-padding: 8px;
$category-margin: 8px;

/* Some hack to make nav-list to hide scrollbar. Do styling with cautious */
:host {
  overflow: auto;
  display: block;
  width: $nav-list-width + $scrollbar-padding;
  background-color: $nav-background-color-main;
}

/* The scrollable content */
.nav-list-wrapper {
  display: block;
  position: relative;
  width: $nav-list-width;
  padding: $outer-padding;
  min-height: 100%;
}

.nav-category-divider {
  width: 100%;
  height: $category-margin;
}
