@import 'definitions/rubick.def';
@import 'partials/list.partial';

:host {
  .service-table-ports {
    display: inline-flex;
    align-items: center;
    &__name {
      margin-right: 8px;
    }
    &__more {
      font-size: 12px;
      color: #777;
    }
  }

  rc-pagination2 {
    margin-top: 8px;
  }
}

.storage-custom-header {
  flex: 1;
  display: flex;
  align-items: center;
}
.notification-switch {
  margin-left: auto;
  color: $gray-20;
  transition: color ease 0.3s;
  &:hover {
    color: $color-primary;
  }
}
