<aui-inline-alert [closable]="true" [content]="'kube_service_tips' | translate"></aui-inline-alert>
<div *rcPageHeaderContent class="storage-custom-header">
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'kube_service' | translate }}
    </ng-container>
  </rc-breadcrumb>
  <aui-icon icon="basic:info" class="notification-switch" (click)="showNotification()"></aui-icon>
</div>

<aui-card>
  <div fxLayout auiCardHeader>
    <button aui-button="primary"
            (click)="createService()"
            *ngIf="serviceCreateEnabled">
      {{'create_kube_service' | translate}}
    </button>
    <div fxFlex></div>
    <aui-search [searchButton]="true"
        [searching]="searching"
        [debounce]="200"
        [(keyword)]="keyword"
        placeholder="{{'search_by_name_placeholder' | translate}}"
        (search)="searchByName($event)">
    </aui-search>
  </div>
  <aui-table [dataSource]="list$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'kube_service_name' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>{{ rowData.kubernetes.metadata.name }}</span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'type' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>{{ K8sServiceSpecTypeMap[rowData.kubernetes.spec.type] || rowData.kubernetes.spec.type }}</span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="ip_address">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'ip_address' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>
          {{ rowData.kubernetes.spec.clusterIP}}
        </span>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="target_app">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'target_app' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>
          {{getTargetAppName(rowData) | rcFieldNotAvailable}}
        </span>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="port">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'port' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div class="service-table-ports">
          <div class="service-table-ports__name">
              {{(rowData.kubernetes.spec.ports[0].name || rowData.kubernetes.spec.ports[0].port) | rcFieldNotAvailable}}
          </div>
          <div class="service-table-ports__more" *ngIf="rowData.kubernetes.spec.ports.length > 1">
              <span>{{'service_total' | translate}}</span>
              <button
                  size="mini"
                  [auiDropdown]="portMenu"
                  aui-button="text"
                  class="action-button">
                  {{rowData.kubernetes.spec.ports.length}}
              </button>
              <span>{{'ge' | translate}}</span>
            </div>
        </div>
        <aui-menu #portMenu size="more_info">
          <aui-menu-item
            *ngFor="let port of rowData.kubernetes.spec.ports"
          >{{port.name}}</aui-menu-item>
        </aui-menu>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'action' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div [auiDropdown]="menu"
          [auiDropdownDisabled]="!menu.hasEnabledItem"
          class="action-button">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item
            *ngIf="canShowUpdate(rowData)"
            (click)="update(rowData)"
          >{{'update' | translate}}</aui-menu-item>
          <aui-menu-item
            *ngIf="canShowView(rowData)"
            (click)="viewYaml(rowData)"
          >{{'view_yaml' | translate}}</aui-menu-item>
          <aui-menu-item
            *ngIf="canShowDelete(rowData)"
            (click)="delete(rowData)"
          >{{'delete' | translate}}</aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
  </aui-table>
  <rc-zero-state [zeroState]="showZeroState" [fetching]="!initialized && fetching" resourceName="kube_service"></rc-zero-state>
  <rc-pagination2
      [count]="(listMeta$ | async)?.count"
      [page]="(pageParams$ | async)?.pageIndex"
      [pageSize]="(pageParams$ | async)?.pageSize"
      [disabled]="fetching"
      (pageChanged)="pageChanged($event)">
  </rc-pagination2>
</aui-card>
