<rc-region-badge-option onChangeState="overview"></rc-region-badge-option>

<div style="margin-top: -14px;">
  <rc-boards-line *ngFor="let line of defaultBoardsConfig"
                  [config]="line">
  </rc-boards-line>
</div>
<rc-cluster-list [clusters$]="regions$"></rc-cluster-list>
