<ngForm class="rb-form"
        (ngSubmit)="onNgSubmit()"
        [formGroup]="formGroup">
  <ng-container *ngFor="let entry of yamlEntries; trackBy: entryTrackBy">
    <pre *ngIf="showComment && (entry.preComment || entry.inlineComment)"
         class="pre-comment">{{entry.preComment}}<br *ngIf="entry.preComment"><strong>{{entry.inlineComment}}</strong></pre>
    <rc-form-field [label]="entry.path">
      <input *ngIf="!isEntryMultiline(entry)"
             rcInput
             type="text"
             [formControlName]="entry.path"
             [value]="entry.value">
      <textarea *ngIf="isEntryMultiline(entry)"
                rcInput
                rows="3"
                type="text"
                [formControlName]="entry.path"
                [value]="entry.value"></textarea>
    </rc-form-field>
    <pre *ngIf="showComment && entry.afterContent && entry.afterContent.includes('#')"
         class="pre-comment">{{entry.afterContent}}</pre>
  </ng-container>
</ngForm>
