$label-width: 250px;

:host ngform {
  .pre-comment {
    background: #eee;
    margin-left: $label-width;
    border-radius: 4px;
    padding: 4px 8px;
    overflow: auto;
  }

  ::ng-deep label.form-field-label {
    width: $label-width;
    word-wrap: break-word;
    word-break: break-word;
  }

  ::ng-deep .addon-container {
    display: none;
  }

  rc-form-field {
    margin-bottom: 4px;
  }
}
