<!-- Note: the (change) event will by default bubbles up by the embedded input.
We should put a barrier here.
-->
<div class="ui checkbox"  [class.toggle]="mode === 'toggle'" (change)="$event.stopPropagation();">
  <input type="checkbox"
         [name]="name"
         [checked]="checked"
         [disabled]="disabled"
         (blur)="onTouched()"
         (change)="onChange($event.target.checked)">
  <div class="box" [class.disabled]="disabled"></div>
</div>
<span class="checkbox-label">
  <ng-content></ng-content>
</span>
