@import 'colors.styles';

$checkbox-size: 20px;

:host {
  display: inline-flex;
  align-items: center;
}

.checkbox-label {
  margin-left: 4px;
  white-space: nowrap;
}

/* Following style starting with 'ui' is to override Semantic-UI styles. */
.ui.checkbox {
  height: $checkbox-size;
  width: $checkbox-size;
  min-height: $checkbox-size;
  line-height: $checkbox-size;
}

.ui.checkbox input[type='checkbox'] {
  height: $checkbox-size;
  width: $checkbox-size;
}

.ui.checkbox input[type='checkbox'][disabled] {
  cursor: default;
}

.ui.checkbox .box.disabled:before {
  background-color: $form-disabled-background-color;
}

.ui.checkbox .box:after,
.ui.checkbox .box:before {
  box-sizing: content-box;
}

.ui.checkbox.toggle,
.ui.toggle.checkbox input,
.ui.toggle.checkbox .box,
.ui.toggle.checkbox .box:before {
  width: 35px;
  height: 15px;
  min-height: 15px;
}

.ui.toggle.checkbox input:checked ~ .box:before {
  background-color: $button-primary-border-color !important;
}

.ui.toggle.checkbox .box:after {
  width: 15px;
  height: 15px;
  min-height: 15px;
}

.ui.toggle.checkbox input:checked ~ .box:after {
  left: 20px;
}
