<rb-loading-mask-placeholder ng-if="!vm.initialized"></rb-loading-mask-placeholder>

<table ng-if="vm.initialized" class="table-condensed rb-fieldset-table">
  <thead>
  <tr>
    <td>{{'name'|translate}}</td>
    <td style="width:70px;"></td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in vm.clonedParentRoles track by $index">
    <td>
      {{item.name}}
    </td>
    <td>
      <button type="button" class="rb-fieldset-action-btn" ng-click="vm.previewRole(item)">
        <i class="fa fa-eye"></i>
      </button>
      <button type="button" class="rb-fieldset-action-btn" ng-click="vm.deleteClonedRole($index, item)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>

  <tr ng-repeat="item in vm.addedParentRoles track by $index">
    <td>
      <rb-search-dropdown placeholder="'select_role' | translate"
                          backend-url="vm.roleBackendUrl"
                          object-option-enabled="true"
                          fields-setting="{name: 'name', value: 'name'}"
                          on-change="vm.onParentRoleSelect(option, item)">
      </rb-search-dropdown>
    </td>
    <td>
      <button type="button" class="rb-fieldset-action-btn" ng-click="vm.previewRole(item)">
        <i class="fa fa-eye"></i>
      </button>
      <button type="button" class="rb-fieldset-action-btn" ng-click="vm.deleteAddedRole($index, item)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>

  <tr>
    <td colspan="3">
      <button type="button" ng-click="vm.addRole()" class="rb-fieldset-add-btn">
        <i class="fa fa-plus"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

