@import 'colors.styles';

:host {
  form {
    ::ng-deep label.form-field-label {
      width: 180px;
      word-wrap: break-word;
      word-break: break-word;
    }

    ::ng-deep .addon-container {
      display: none;
    }

    rc-form-field {
      margin-bottom: 4px;
    }

    input:read-only {
      border: 0px;
    }
  }

  .caBundle {
    height: 85px;
    resize: none;
  }

  .rb-form {
    ::ng-deep rc-multi-selection-dropdown {
      flex: 1;
    }
  }

  ::ng-deep .rc-form-footer {
    justify-content: flex-end !important;
  }

  ::ng-deep .rc-form-panel {
    border: 0px !important;
    padding: 0px 16px !important;
  }

  ::ng-deep {
    .ui.loader:after {
      border-color: #767676 transparent transparent !important;
    }
    .ui.loader:before {
      border-color: rgba(0, 0, 0, 0.1) !important;
    }
  }

  .rb-form.broker-info-form {
    ::ng-deep .hint-label-wrapper {
      height: 5px;
    }
  }
}
