<rc-form-container [rcLoadingMask]="loading" class="catalog-create-app">
  <div>
    <form class="rb-form broker-info-form" *ngIf="updateBrokerPayload" #serviceBrokerUpdateForm="ngForm">
      <!-- broker名称 -->
      <rc-form-field label="{{'service_catalog_broker_name' | translate}}:" [shouldFlexRow]="true">
        <input rcInput
                name="name"
                [value]="updateBrokerPayload.kubernetes.metadata.name"
                readonly="readonly">
      </rc-form-field>
      <!-- 显示名称 -->
      <rc-form-field label="{{'display_name' | translate}}:" [shouldFlexRow]="true">
        <input rcInput
               name="display_name"
               [(ngModel)]="broker_display_name">
      </rc-form-field>
      <!-- Service Broker 链接 -->
      <rc-form-field label="{{'service_catalog_broker_link' | translate}}:" [shouldFlexRow]="true">
        <input rcInput
               name="service_broker_link"
               readonly="readonly"
               [value]="updateBrokerPayload.kubernetes.spec.url">
      </rc-form-field>
      <!-- caBundle 链接 -->
      <rc-form-field label="{{'service_catalog_broker_caBundle' | translate}}:" [shouldFlexRow]="true">
        <textarea rcInput
                  name="caBundle"
                  class="caBundle"
                  [(ngModel)]="updateBrokerPayload.kubernetes.spec.CABundle"></textarea>
      </rc-form-field>
      <!-- 用户名 -->
      <rc-form-field label="{{'username' | translate}}:" [shouldFlexRow]="true">
        <input rcInput
               name="basicAuthUsernameKey"
               maxlength="63"
               [(ngModel)]="updateBrokerPayload.kubernetes.spec.authInfo.basicAuthUsernameKey">
      </rc-form-field>
      <!-- 密码 -->
      <rc-form-field label="{{'password' | translate}}:" [shouldFlexRow]="true">
        <input rcInput
               type="password"
               name="basicAuthPasswordKey"
               maxlength="63"
               [(ngModel)]="updateBrokerPayload.kubernetes.spec.authInfo.basicAuthPasswordKey">
      </rc-form-field>
    </form>
  </div>

  <ng-container *rcFooterContent>
    <div *ngIf="updateBrokerPayload">
      <button fxFlexOffset="140px" rcButton (click)="cancelUpdateBroker()">{{'cancel' | translate}}</button>
      <button fxFlexOffset="12px" rcButton="primary"
              [loading]="submitting"
              (click)="updateBroker()">{{'update' | translate}}</button>
    </div>
  </ng-container>
</rc-form-container>