<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <a *rcBreadcrumbItem
       routerLink="/cluster/list">
      {{ 'nav_region'| translate }}
    </a>
    <ng-container *rcBreadcrumbItem>{{ 'region_features_management'| translate }}</ng-container>
  </rc-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!regionFeatures"></rc-loading-mask>

<ng-container *ngIf="regionFeatures">
  <ng-template #notification>
    {{ 'region_features_notification_1' | translate }}
    <a href="javascript:;"
       (click)="checkingForUpdates || checkForUpdates()">
      {{ 'check_for_updates' | translate }}</a>
    {{ 'region_features_notification_2' | translate }}
  </ng-template>

  <rc-inline-notification *ngIf="checkForUpdatesEnabled"
                          type="info"
                          [closable]='true'
                          [template]="notification">
  </rc-inline-notification>

  <aui-card>
    <button *ngIf="checkForUpdatesEnabled"
            aui-button="primary"
            (click)="checkingForUpdates || checkForUpdates()">
      {{ 'check_for_updates' | translate }}
      <aui-icon *ngIf="checkingForUpdates"
                icon="spinner"></aui-icon>
    </button>
    <div class="region-feature"
         [ngClass]="getRegionFeatureStatus(regionFeatures.log)">
      <h4>
        {{ 'region_logs' | translate }}
        <aui-icon [auiTooltip]="'region_feature_logs_tip' | translate"
                  icon="basic:question"
                  color="#999"></aui-icon>
      </h4>
      <ng-container *ngIf="regionFeatures.log?.config?.type">
        <div>
          {{ 'log_instance' | translate }}:
          <a [routerLink]="['/k8s_app/detail/', regionFeatures.log.application_info?.uuid || regionFeatures.log.integration_info?.uuid]">
            {{ regionFeatures.log.application_info?.name || regionFeatures.log.integration_info?.name
            }}
          </a>
        </div>
        <div>{{ 'status' | translate }}:
          <span class="status-badge"
                [ngClass]="getRegionFeatureStatus(regionFeatures.log)">{{ 'status_'
            + getRegionFeatureStatus(regionFeatures.log) | translate }}
          </span>
        </div>
      </ng-container>
      <div>
        <ng-container *ngIf="regionFeatures.log?.config?.type">
          <button *ngIf="installEnabled && regionFeatures.log.application_info?.status === 'Deploying'"

                  aui-button="primary"
                  [disabled]="checkingForUpdates">
            {{ 'install' | translate }}
            <aui-icon icon="spinner"></aui-icon>
          </button>
          <button *ngIf="regionFeatures.log.application_info?.status === 'Running' && regionFeatures.log.new_version_avaliable"
                  aui-button="primary"
                  [disabled]="checkingForUpdates"
                  (click)="editOfficialFeature('log')">
            {{ 'upgrade' | translate }}
          </button>
          <button aui-button
                  [disabled]="checkingForUpdates"
                  (click)="deleteFeature('log')">
            {{ (regionFeatures.log.application_info?.status === 'Deploying' ? 'cancel' : 'delete')
            | translate }}
          </button>
        </ng-container>
        <button *ngIf="!regionFeatures.log?.config?.type"
                aui-button="primary"
                [disabled]="checkingForUpdates"
                (click)="editOfficialFeature('log', true)">{{ 'install' | translate
          }}
        </button>
      </div>
    </div>
    <div class="region-feature"
         [ngClass]="getRegionFeatureStatus(regionFeatures.metric)">
      <h4>{{ 'region_metrics' | translate }}
        <aui-icon [auiTooltip]="'region_feature_metrics_tip' | translate"
                  icon="basic:question"
                  color="#999"></aui-icon>
      </h4>
      <ng-container *ngIf="regionFeatures.metric?.config?.type">
        <div>
          {{ 'integration_instance' | translate }}:
          <a [routerLink]="['/integration_center/detail', regionFeatures.metric.application_info?.uuid || regionFeatures.metric.integration_info?.uuid]">
            {{ regionFeatures.metric.application_info?.name || regionFeatures.metric.integration_info?.name
            }}
          </a>
        </div>
        <div>{{ 'status' | translate }}:
          <span class="status-badge"
                [ngClass]="getRegionFeatureStatus(regionFeatures.metric)">{{
            'status_' + getRegionFeatureStatus(regionFeatures.metric) | translate
            }}
          </span>
        </div>
      </ng-container>
      <div>
        <ng-container *ngIf="regionFeatures.metric?.config?.type">
          <button *ngIf="regionFeatures.metric.application_info?.status === 'Deploying'"
                  aui-button="primary"
                  [disabled]="checkingForUpdates">
            {{ 'install' | translate }}
            <aui-icon icon="spinner"></aui-icon>
          </button>
          <button *ngIf="regionFeatures.metric.application_info?.status === 'Running' && regionFeatures.metric.new_version_avaliable"
                  aui-button="primary"
                  [disabled]="checkingForUpdates"
                  (click)="editOfficialFeature('metric')">
            {{ 'upgrade' | translate }}
          </button>
          <button *ngIf="getRegionFeatureStatus(regionFeatures.metric) === 'docked'"
                  aui-button="primary"
                  [disabled]="checkingForUpdates"
                  (click)="dockThirdParty()">
            {{ 'change' | translate }}
          </button>
          <button aui-button
                  [disabled]="checkingForUpdates"
                  (click)="deleteFeature('metric')">
            {{ (regionFeatures.metric.application_info?.status === 'Deploying' ? 'cancel' : 'delete')
            | translate }}
          </button>
        </ng-container>
        <ng-container *ngIf="!regionFeatures.metric?.config?.type">
          <button *ngIf="installEnabled"
                  aui-button="primary"
                  [disabled]="checkingForUpdates"
                  (click)="editOfficialFeature('metric', true)">{{ 'install' |
            translate }}
          </button>
          <button aui-button="primary"
                  [disabled]="checkingForUpdates"
                  (click)="dockThirdParty(true)">{{ 'dock_third_party' | translate
            }}
          </button>
        </ng-container>
      </div>
    </div>
  </aui-card>
</ng-container>

<ng-template #dockThirdPartyTemp>
  <aui-dialog-header>
    {{ 'dock_third_party' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-form-field [label]="'metric_instance' | translate">
      <aui-select [(ngModel)]="integrationId"
                  [loading]="!integrations"
                  [disabled]="!integrations?.length"
                  [placeholder]="(integrations && !integrations.length ? 'no_instance' : 'please_select') | translate">
        <aui-option *ngFor="let integration of integrations"
                    [label]="integration.name"
                    [value]="integration.id">{{ integration.name }}</aui-option>
      </aui-select>
    </aui-form-field>
  </aui-dialog-content>
  <aui-dialog-footer>
    <div>
      <button aui-button="primary"
              (click)="editRegionFeature({featureName: 'metric', type: 'prometheus', isAddOrUpdate: isAddOrUpdate})">{{
        'confirm' | translate }}</button>
      <button aui-button
              [auiDialogClose]="true">{{ 'cancel' | translate }}</button>
    </div>
  </aui-dialog-footer>
</ng-template>
