<div
  class="template-help-container"
  [ngClass]="{'cascading-mode': modalData.type}"
>
  <div>
    <div class="tags-container">
      <span
        class="tags"
        *ngFor="let tag of tags"
      >
        <span>{{tag.key}} : {{tag.value}}</span>
      </span>
    </div>
    <div class="brief-description">
      <div>{{ 'description' | translate }}</div>
      <div>{{ description }}</div>
    </div>
    <div class="pipeline-diagram">
      <rc-jenkins-pipeline-history-diagram [stages]="template.stages"></rc-jenkins-pipeline-history-diagram>
    </div>
  </div>
  <div class="params-title">
    {{ 'jenkins_pipeline_params' | translate }}
  </div>
  <div
    class="params-container"
    *ngFor="let field of template.arguments"
  >
    <div class="detail-header">
      <span>{{ field.displayName.en }}</span>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <td style="width:25%;">{{ 'args' |translate }}</td>
            <td>{{ 'description' | translate }}</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let param of field.items; index as i">
            <td>
              {{ targetLanguageString(param.display.name) }}
            </td>
            <td>
              {{ targetLanguageString(param.display.description) | rcFieldNotAvailable }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
