@import '_colors.styles';
$table-border-color: #eee;
:host {
  ::ng-deep {
    rc-jenkins-pipeline-history-diagram {
      div.scrollable {
        overflow-x: auto !important;
        overflow-y: hidden !important;
      }
    }
  }
}

.template-help-container {
  color: #4d4d4d;
  &.cascading-mode {
    max-height: 450px;
    overflow: auto;
  }

  display: flex;
  flex-direction: column;
  padding: 20px;

  .brief-description {
    margin-top: 24px;
    div:first-child {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 16px;
    }
  }

  .params-container {
    margin-bottom: 25px;
    .param-filed-desc {
      width: 100%;
      height: 28px;
    }
  }

  .params-title {
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 600;
  }

  .detail-header {
    font-size: 14px;
    color: #666;
    margin: auto auto 13px auto;
  }
  .pipeline-diagram {
    margin-top: 16px;
  }
  .tags-container {
    width: 100%;
    & > span {
      height: 20px;
      border-radius: 2px;
      background-color: #f2fafe;
      border: solid 1px #e5f5fc;
      margin: 4px 2px;
      font-size: 12px;
      line-height: 20px;
      display: inline-block;
      text-align: left;
      padding: 0 4px;
      color: #666;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    thead {
      tr {
        height: 40px;
        background: #fafafa;
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
        & > td:first-child {
          width: 150px;
          padding-left: 8px;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid $table-border-color;
        height: 44px;
        & > td:first-child {
          padding-left: 8px;
        }
        td {
          white-space: pre-line;
          line-height: 1.5;
          padding: 10px 0;
        }
      }
    }
  }
}
