<div class="rb-configuration-list">
  <div class="rb-page-heading">
    <rb-search-input loading="vm.searching"
                     on-search="vm.onSearchChanged(value)"
                     placeholder="search_by_name_placeholder"
                     flex=30>
    </rb-search-input>
    <div flex></div>
    <a ng-if="vm.configFileCreateEnabled"
       class="ui button rb-btn-primary"
       ng-click="vm.configurationCreate()">
      {{'configuration_create' | translate}}
    </a>
  </div>
  <div class="rb-loading-mask-placeholder"
       ng-show="!vm.loadError && !vm.loading && !vm.configurationList.length">
    {{ 'no_data' | translate }}
  </div>
  <div class="rb-loading-mask-placeholder"
       ng-show="vm.loadError">
    {{ 'data_load_error' | translate }}
    <button ng-if="vm.loadError"
            class="ui button rb-btn-primary margin-top-2"
            ng-click="vm.getConfigurationList(1, true)">
      {{ 'refresh' | translate }}
    </button>
  </div>
  <rb-loading-mask-placeholder ng-if="!vm.initialized"></rb-loading-mask-placeholder>
  <table class="table app-table"
         ng-show="vm.configurationList.length"
         rb-loading-mask="vm.reloading">
    <thead>
      <tr>
        <td style="width:360px;">{{'name' | translate}}</td>
        <td ng-if="vm.quotaEnabled"
            style="width: 150px;">
          <span>{{ "quota_space" | translate }}</span>
        </td>
        <td>{{'created_by' | translate}}</td>
        <td style="width:180px;">{{'created_at' | translate}}</td>
        <td style="width:180px;">{{'updated_at' | translate}}</td>
        <td style="width:80px; text-align: center;">{{'action' | translate}}</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="configuration in vm.configurationList track by $index">
        <td>
          <a ui-sref="app_service.configuration.detail({name: vm.getConfigName(configuration)})">{{configuration.name}}</a>
        </td>
        <td class="rb-truncate-cell"
            ng-if="vm.quotaEnabled">
          <a ng-if="configuration.space_name"
             router-link="'/quota/detail/' + configuration.space_name"
             title="{{ configuration.space_name }}">{{configuration.space_name
            }}</a>
          <span ng-if="!configuration.space_name">N/A</span>
        </td>
        <td>{{configuration.created_by}}</td>
        <td>{{configuration.created_at | formatUtcStr}}</td>
        <td>{{configuration.updated_at | formatUtcStr}}</td>
        <td style="text-align: center">
          <a class="btn btn-xs rb-btn-oper"
             ng-if="vm.buttonDisplayExpr(configuration, 'delete')"
             ng-click="vm.configurationDelete($index, configuration)"
             ng-disabled="vm.deleting[$index]"
             tooltip-placement="top"
             uib-tooltip="{{'delete' | translate}}">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <rb-pagination ng-show="vm.pagination.count > vm.pagination.page_size"
                 size="vm.pagination.page_size"
                 total-items="vm.pagination.count"
                 on-change="vm.getConfigurationList(page)">
  </rb-pagination>
</div>
