@import '../definitions/rubick.def';

$space-map: (
  m: margin,
  mt: margin-top,
  mr: margin-right,
  mb: margin-bottom,
  ml: margin-left,
  p: padding,
  pt: padding-top,
  pr: padding-right,
  pb: padding-bottom,
  pl: padding-left,
);

.#{$prefix} {
  // text color
  &-text {
    &-primary {
      color: $color-text-primary !important;
    }
    &-success {
      color: $color-text-success !important;
    }
    &-warning {
      color: $color-text-warning !important;
    }
    &-error {
      color: $color-text-error !important;
    }
    &-hint {
      color: $color-text-help !important;
    }
  }

  // space
  @each $key, $value in $space-map {
    &-#{$key}-0 {
      #{$value}: 0 !important;
    }
    // min: 4px, max: 20px
    @for $i from 1 through 5 {
      &-#{$key}-#{$i} {
        #{$value}: space($i) !important;
      }
    }
  }

  // border
  @each $key,
    $value
      in (
        bd: border,
        bt: border-top,
        br: border-right,
        bb: border-bottom,
        bl: border-left
      )
  {
    &-#{$key}-0 {
      #{$value}: none !important;
    }
  }

  // alignment
  &-text {
    &-left {
      text-align: left !important;
    }
    &-center {
      text-align: center !important;
    }
    &-right {
      text-align: right !important;
    }
  }

  // display
  &-none {
    display: none !important;
  }
  &-hidden {
    visibility: hidden !important;
  }
  &-inline {
    display: inline !important;
  }
  &-inline-block {
    display: inline-block !important;
  }
  &-block {
    display: block;
  }
  &-inline-flex {
    display: inline-flex;
  }
  &-flex {
    display: flex;
  }

  &-truncate {
    @include truncate;
  }
}
