/*
 * Defines
 */
@import 'colors.styles';
@import 'material-theming';

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html.console {
  font-size: 10px;

  // 字体规范: http://confluence.alaudatech.com/pages/viewpage.action?pageId=23383113
  body {
    height: auto !important;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-family: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-2', 'Lucida Grande',
      'Helvetica Neue', 'Helvetica', 'Arial', 'PingFangSC', 'Hiragino Sans GB',
      'Hiragino Sans GB W3', 'Microsoft YaHei', sans-serif;
  }

  a {
    text-decoration: none;
  }

  .layout-row {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .flex {
    flex: 1;
  }

  .flex-20 {
    max-width: 20%;
  }

  .CodeMirror-lines {
    .CodeMirror-code {
      pre.CodeMirror-line {
        font-family: 'Monaco', 'DejaVu Sans Mono', 'Liberation Mono', monospace;
      }
    }
  }
}

// basic layout style
.margin-top-1 {
  margin-top: 4px !important;
}

.margin-top-2 {
  margin-top: 8px !important;
}

.margin-bottom-1 {
  margin-bottom: 4px !important;
}

.margin-bottom-2 {
  margin-bottom: 8px !important;
}

.margin-left-1 {
  margin-left: 4px !important;
}

.margin-left-2 {
  margin-left: 8px !important;
}

.margin-left-3 {
  margin-left: 12px !important;
}

.margin-right-1 {
  margin-right: 4px !important;
}

.margin-right-2 {
  margin-right: 8px !important;
}

.padding-top-1 {
  padding-top: 4px !important;
}

.padding-left-1 {
  padding-left: 4px !important;
}

.padding-left-3 {
  padding-left: 12px !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.margin-none {
  margin: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.CodeMirror {
  height: 350px;
}

.rb-console {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  max-height: 100%;
  height: 100%;

  *:focus {
    outline: 0;
  }

  a {
    color: #2a8baf;
    cursor: pointer;
  }

  a:hover {
    color: #0e303d;
    text-decoration: none;
  }

  // fix the angular-material dialog which affects the body height
  &.md-dialog-is-showing {
    max-height: none;
  }

  /* CodeMirror has some pre-defined styles. Need to exclude it */
  pre:not(.CodeMirror-line),
  code {
    border: 1px solid #eeeeee;
    background-color: #f8f8f8;
    color: #333;
  }

  /* Visual fixes for contradicted ng-show elements */
  .ng-animate.ng-hide-add,
  .ng-animate.ng-hide-add-active {
    display: none;
  }

  /* Some library adding a margin at the bottom. We don't want it. */
  label {
    margin-bottom: 0;
    font-weight: 400; // override bootstrap label styles `font-weight: 700`
  }

  // override bootstrap table head background
  .table.table-bordered thead tr {
    background-color: #f5f5f5;
  }

  md-content {
    background-color: inherit;

    /* Global legacy library fixes */
    .well,
    .well.well-light {
      border: none;
      box-shadow: none;
      padding: 0;
    }

    .panel {
      box-shadow: none;
    }

    .panel-footer {
      border-top: none;
    }
  }

  /* Font Awesome 扳手图标应向左倾斜 */
  .fa.fa-wrench {
    transform: scaleX(-1);
  }

  .nav-pills > li.active > a,
  .nav-pills > li.active > a:focus,
  .nav-pills > li.active > a:hover {
    background-color: #31a6db;
  }
}

/**
 * Mimic ng-hide in Angular.
 */
[hidden] {
  display: none !important;
}
