@font-face {
  font-family: 'icomoon';
  src: url('../../../fonts/icomoon.eot');
  src: url('../../../fonts/icomoon.eot') format('embedded-opentype'),
    url('../../../fonts/icomoon.ttf') format('truetype'),
    url('../../../fonts/icomoon.woff') format('woff'),
    url('../../../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='rb-icon-'],
[class*='rb-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: inherit;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rb-icon-arrow-right:before {
  content: '\e900';
}
.rb-icon-besom:before {
  content: '\e901';
}
.rb-icon-cpu:before {
  content: '\e902';
}
.rb-icon-dashboard:before {
  content: '\e903';
}
.rb-icon-integration:before {
  content: '\e904';
}
.rb-icon-mem:before {
  content: '\e905';
}
.rb-icon-oschina:before {
  content: '\e906';
}
.rb-icon-project:before {
  content: '\e907';
}
.rb-icon-sync-registry:before {
  content: '\e908';
}
