// Vendor custom style
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;

  .ui.button + .ui.button {
    margin-left: 8px;
  }
}
// overwrite aui dialog css
.aui-dialog__header-close {
  color: #f1f1f1 !important;
}
.aui-dialog__header {
  height: 46px;
  font-size: 14px !important;
  color: #f1f1f1 !important;
  background-color: #24a7e3;
  border-bottom: none;
}
.aui-dialog__content {
  padding-top: 20px !important;
  min-height: 100px !important;
}
.aui-dialog__footer {
  padding-top: 0px;
}
.aui-dialog--fullscreen {
  // for aui-code-editor fullscreen
  width: calc(100vw - 40px) !important;
  height: calc(100vh - 40px) !important;
}

// 设置aui-dropdown下的aui-menu拥有最大高度，支持滚动条
.aui-dropdown-scrollable {
  .aui-menu {
    max-height: 400px;
    overflow: auto;
  }
}

.rc-sample-code-editor-toolbar {
  margin-top: 8px;

  &__label,
  &__button {
    margin-right: 8px;
  }

  .aui-icon {
    font-size: 16px;
  }
}

.rc-sample-code-editor {
  .aui-code-editor {
    min-height: 400px !important;
  }
}

.rc-form-loading-mask {
  height: 240px !important;
  background: transparent !important;
}
// aui-form-item has rc-sample-code-editor-toolbar
.aui-form-item__code-editor-toobar {
  .aui-form-item__content {
    flex-wrap: wrap;
  }
}

// todo: rm. fix change model to aui dialog
.cdk-overlay-container {
  z-index: 1001 !important;
}
// aui-multi-select in aui-form-item__content
.aui-form-item__content,
.rc-form-field {
  aui-multi-select,
  aui-select {
    flex: 1;
  }
}

//mirror resource cluster
.tags-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  display: flex;
  align-items: center;
  margin-right: 4px;
  &__divider {
    margin: 0 4px;
  }
}
.tags-toggle {
  cursor: pointer;
  flex-shrink: 0;
  flex-basis: 20px;
  &__label {
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 12px;
    background: #fafafa;
    color: #666;
    display: inline-block;
    padding: 2px 4px;
  }
}
// for show more info in aui ment
.aui-menu--more_info {
  max-height: 160px;
  overflow: auto;
}

.aui-input.ng-invalid.ng-dirty {
  border-color: #eb6262;
}
