<rc-loading-mask [loading]="!initializedData && loading"></rc-loading-mask>
<div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
  <div *ngIf="!loadError">
    {{ "have_no_data" | translate }}
  </div>
  <div *ngIf="loadError">
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError"
          rcButton="primary"
          style="margin-top: 12px;"
          (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>

<ng-container *ngIf="brokerData && (!loading || initializedData)">
  <div class="rc-detail-container"
      style="margin-bottom: 0">
    <div>
      <div class="detail-icon">
        <ng-container *ngIf="!brokerStatus">
          <span *ngIf="brokerData.kubernetes.status.conditions.length === 0; else statusBlock"
                class="fa fa-refresh service-catalog-sync-circle"
                [rcTooltip]="'status_creating' | translate"
                [rcTooltipInline]="false"
                rcTooltipMode="info"
                rcTooltipPosition="top"
          ></span>
          <ng-template #statusBlock>
            <span class="fa fa-exclamation-circle service-catalog-warning-exclamation-circle"
                  [rcTooltip]="'service_catalog_broker_breakdown' | translate"
                  [rcTooltipInline]="false"
                  rcTooltipMode="warning"
                  rcTooltipPosition="top">
            </span>
          </ng-template>
        </ng-container>
        <img src="/static/images/service-catalog/service-broker.svg"
            [ngClass]="{'service-catalog-error-image':!brokerStatus}">
      </div>
      <div class="detail-wrapper">
        <div class="detail-header">
          <h3>{{ display_name }}</h3>
          <div class="detail-buttons">
              <rc-button-menu *ngIf="serviceCatalogUtilities.showBrokerUpdate(brokerData)">
                <button rcButton rcButtonSize="small" rcButtonMenuDefault (click)="updateBroker()">
                  {{ 'update' | translate}}
                </button>
                <button rcMenuButton
                        (click)="deleteBroker()"
                        *ngIf="serviceCatalogUtilities.showBrokerDelete(brokerData)" >
                        {{ 'delete' | translate}}
                </button>
              </rc-button-menu>
          </div>
        </div>
        <div class="detail-content">
          <!--名称-->
          <div class="detail-item">
            <label>{{ 'name' | translate }}</label>
            <div>{{ brokerData.kubernetes.metadata.name }}</div>
          </div>
          <!--创建时间-->
          <div class="detail-item">
            <label>{{ 'created_at' | translate }}</label>
            <div>{{ brokerData.kubernetes.metadata.creationTimestamp | rcFormatUtcStr}}</div>
          </div>
          <!--集群-->
          <div class="detail-item">
            <label>{{ 'region' | translate }}</label>
            <div>{{ this.cluster.name }}</div>
          </div>
          <!-- Service Broker 链接 -->
          <div class="detail-item long-item">
            <label>{{ 'service_catalog_broker_link' | translate }}</label>
            <div class="long-content"
                  [title]="brokerData.kubernetes.spec.url">
                  {{ brokerData.kubernetes.spec.url }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rc-detail-tab">
    <div class="service-class-header">
      <div class="service-class-header__title">Service Class ({{brokerClassList?.length || 0}}{{'service_catalog_measure_word' | translate}})</div>
    </div>

    <div class="class-card-list-container">
        <div *ngIf="brokerClassList?.length === 0;else elseLengthBlock"
            class="class-list-message">
              {{ 'service_catalog_broker_detail_class_empty_1' | translate }}<br>
              {{ 'service_catalog_broker_detail_class_empty_2' | translate }}
        </div>
        <ng-template #elseLengthBlock>
          <div *ngFor="let class of brokerClassList; index as i"
            class="class-card-container">
              <rc-service-catalog-class-card [class]="class"></rc-service-catalog-class-card>
          </div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
        </ng-template>
    </div>
  </div>
</ng-container>
