@import 'colors.styles';

$card-margin: 8px;

:host {
  .service-class-header {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $default-border-color;
    padding: 4px 0;
    margin-bottom: 20px;

    &__title {
      font-weight: 500;
      font-size: 18px;
    }
  }
  .rc-detail-tab {
    min-height: 100px;
    padding: 16px;
    margin-top: 30px;
  }

  .class-card-container {
    flex: 1 1 240px;
    padding: $card-margin;
  }

  .class-card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .detail-icon {
    span {
      position: absolute;
      top: 60px;
      left: 62px;
      font-size: 16px;
      z-index: 1;
    }
  }

  .class-list-message {
    width: 100%;
    text-align: center;
    color: $gray-7;
  }

  .detail-item.long-item {
    display: -webkit-box;
    height: auto !important;
    width: 100%;
    .long-content {
      white-space: normal;
      width: 90%;
    }
  }
}
