<!-- Explain why there is no data -->
<div *ngIf="empty && !loading && initialized" class="rb-loading-mask-placeholder">
    <div *ngIf="!(loadError | async)">
      {{ "have_no_app" | translate }}
    </div>
    <div *ngIf="loadError | async">
      {{ 'data_load_error' | translate }}
    </div>
    <button *ngIf="loadError | async"
            rcButton="primary"
            style="margin-top: 12px;"
            (click)="refetch()">
      {{ 'refresh' | translate }}
    </button>
</div>
  
<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
  
<!--App list-->
<div *ngIf="!empty" class="rc-list-container">
    <aui-table #appTable
        [dataSource]="appItems"
        [trackBy]="trackByFn">
        <!-- `name` -->
        <ng-container auiTableColumnDef="name">
            <aui-table-header-cell *auiTableHeaderCellDef>{{'name' | translate}}</aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                <div class="rc-resource-name-cell">
                <img src="/static/images/resource/app.svg">
                <div class="rc-lines">
                    <div class="rc-line display-name">
                    <a href="javascript:void(0)"
                        [routerLink]="['/k8s_app/detail', item.resource.uuid]"
                        [title]="'display_name' | translate">
                        {{item.resource.description ||  item.resource.name}}
                    </a>
                    </div>
                    <div class="rc-line app-name" *ngIf="item.resource.name">
                    <span [title]="'application_name' | translate">{{item.resource.name}}</span>
                    </div>
                </div>
                </div>
            </aui-table-cell>
        </ng-container>
        <!-- `status` -->
        <ng-container auiTableColumnDef="status">
            <aui-table-header-cell *auiTableHeaderCellDef>{{'status' | translate}}</aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                <rc-status-badge [status]="item.resource.status"></rc-status-badge>
            </aui-table-cell>
        </ng-container>
        <!-- `namespace` -->
        <ng-container auiTableColumnDef="namespace">
            <aui-table-header-cell *auiTableHeaderCellDef>{{'namespace' | translate}}</aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                {{item.namespace.name}}
            </aui-table-cell>
        </ng-container>
        <!-- `components` -->
        <ng-container auiTableColumnDef="components">
            <aui-table-header-cell *auiTableHeaderCellDef>{{'component_amount' | translate}}</aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                <span class="component-amounts"
                [auiTooltip]="components"
                auiTooltipType="primary"
                auiTooltipPosition="top"
                auiTooltipTrigger="hover">
                {{ item.services?.length }}
                </span>
                <ng-template #components>
                <div class="components-list-container">
                    <div *ngFor="let component of item.services">
                    <a 
                        href="javascript:void(0)"
                        class="component-name"
                        [routerLink]="['/k8s_app/detail/component', component.resource.uuid]">
                        {{component.resource.name}}
                    </a>
                    <rc-service-status-badge
                        [status]="component.resource.new_status || component.resource.status"
                        [desiredInstances]="component.resource.instances?.desired"
                        [currentInstances]="component.resource.instances?.current">
                    </rc-service-status-badge>
                    </div>
                </div>
                </ng-template>
            </aui-table-cell>
        </ng-container>
        <!-- `action` -->
        <ng-container auiTableColumnDef="action">
            <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                <div [auiDropdown]="menu"
                [auiDropdownDisabled]="!menu.menuItems || !menu.menuItems.length"
                class="action-button">
                <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
                </div>
                <aui-menu #menu
                size="small">
                <aui-menu-item
                    (click)="viewApp(item)">
                    {{ 'view' | translate }}
                </aui-menu-item>
                <aui-menu-item 
                    *ngIf="appUtilities.showStart(item)"
                    [disabled]="!appUtilities.canStart(item)"
                    (click)="startApp(item)">
                    {{ 'start' | translate }}
                </aui-menu-item>
                <aui-menu-item 
                    *ngIf="appUtilities.showStop(item)"
                    [disabled]="!appUtilities.canStop(item)"
                    (click)="stopApp(item)">
                    {{ 'stop' | translate }}
                </aui-menu-item>
                <aui-menu-item 
                    *ngIf="appUtilities.showUpdate(item)"
                    [disabled]="!appUtilities.canUpdate(item)"
                    (click)="updateApp(item)">
                    {{ 'update' | translate }}
                </aui-menu-item>
                <aui-menu-item 
                    *ngIf="appUtilities.showDelete(item)"
                    [disabled]="!appUtilities.canDelete(item)"
                    (click)="deleteApp(item)">
                    {{ 'delete' | translate }}
                </aui-menu-item>
                </aui-menu>
            </aui-table-cell>
        </ng-container>
        <aui-table-header-row
            *auiTableHeaderRowDef="['name', 'status', 'namespace', 'components', 'action']">
        </aui-table-header-row>
        <aui-table-row
            *auiTableRowDef="let row; columns: ['name', 'status', 'namespace', 'components', 'action'];">
        </aui-table-row>
    </aui-table>

<section class="rc-list-pagination">
    <rc-pagination
        [count]="count"
        [pageSize]="pageSize"
        [disabled]="loading"
        (pageChanged)="pageChanged($event)">
    </rc-pagination>
</section>
</div>
  
  