@import 'colors.styles';

rc-loading-mask {
  height: 120px;
  background: transparent;
}

.rc-list-container {
  margin-bottom: 16px;
}

.rc-list-pagination {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.action-button {
  cursor: pointer;
}

.component-amounts {
  cursor: pointer;
  color: #009ce3;
  &:hover {
    background-color: #e5f5fc;
  }
}

.components-list-container {
  max-height: 330px;
  overflow-y: auto;
  > div {
    margin: 18px 20px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #ededed;
    display: flex;
    justify-content: space-between;
  }
  a.component-name {
    color: #24a7e3;
    margin-right: 22px;
  }
  > aui-tag {
    > rc-service-status-badge {
      display: inline-block;
    }
  }
}
