@import 'colors.styles';

// use link as button
.rb-btn-link {
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

// .ui.button style overwrite
.ui.button {
  border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 6px 12px;
  line-height: 18px;
  &.floating {
    line-height: 14px;
  }
  &.small {
    padding: 4px 10px;
  }
  &.tiny {
    font-size: 12px;
    padding: 1px 5px;
  }
  &.loading {
    opacity: 1 !important;
  }
}

// don't move buttons when they are disabled
.btn[disabled='disabled'] {
  top: 0;
  left: 0;
}

// add tooltip css when button disabled
// http://stackoverflow.com/questions/40147535/how-to-enable-bootstrap-tooltip-on-disabled-button-using-angularjs
.rb-button-disabled-enable-tooltip {
  pointer-events: none;
}

// default button color
.ui.button.rb-btn-default,
.btn.rb-btn-default,
.rb-btn-default {
  border-radius: 0;
  border: 1px solid $button-default-border-color;
  background-color: $button-default-background-color;
  color: $button-default-text-color;
  &:hover,
  &:focus {
    border-color: $button-default-hover-border-color;
    background-color: $button-default-hover-background-color;
  }

  &:active {
    border-color: $button-default-active-border-color;
    background-color: $button-default-active-background-color;
  }

  transition: border-color 0.3s, background-color 0.3s;
}

// primary button color
.ui.button.rb-btn-primary,
.btn.rb-btn-primary,
.rb-btn-primary {
  border-radius: 0;
  border: 1px solid $button-primary-border-color;
  background-color: $button-primary-background-color;
  color: $button-primary-text-color;
  &:hover,
  &:focus {
    border-color: $button-primary-hover-border-color;
    background-color: $button-primary-hover-background-color;
  }

  &:active {
    border-color: $button-primary-active-border-color;
    background-color: $button-primary-active-background-color;
  }

  transition: border-color 0.3s, background-color 0.3s;
}

// For delete buttons, etc
.ui.button.rb-btn-secondary,
.btn.rb-btn-secondary,
.rb-btn-secondary {
  border-radius: 0;
  border: 1px solid $button-secondary-border-color;
  background-color: $button-secondary-background-color;
  color: $button-secondary-text-color;
  &:hover,
  &:focus {
    background-color: $button-secondary-hover-background-color;
    border-color: $button-secondary-hover-border-color;
  }

  &:active {
    border-color: $button-secondary-active-border-color;
    background-color: $button-secondary-active-background-color;
  }

  transition: border-color 0.3s, background-color 0.3s;
}

// operate btn in table
.btn.rb-btn-oper {
  background-color: #4cb7e8;
  color: #fff;
  border-radius: 0;
  &.btn-xs {
    width: 24px;
  }
}

.btn.rb-btn-oper:hover {
  background-color: #3da9db;
  color: #fff;
}

.btn.rb-btn-oper:active {
  background-color: #389bc9;
  color: #fff;
}

.btn.rb-btn-oper[disabled] {
  background-color: #cfcfcf;
  color: #858585;
}

.rb-fieldset-action-btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 5px 4px;
  .fa {
    color: #6d6d6d;
    transition: color 0.3s;
  }
  .fa-remove {
    color: #e2e2e2;
  }
  &:hover > .fa {
    color: #37acf0;
  }
  &[disabled] > .fa,
  &[disabled]:hover > .fa {
    color: #e2e2e2;
  }
}

.rb-fieldset-add-btn {
  padding: 0;
  border: none;
  width: 100%;
  display: block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #efefef;
  font-size: 12px;
  color: #b4b4b4;
  opacity: 0.8;
  &:not([disabled]):hover {
    color: #37acf0;
    opacity: 1;
  }
  transition: opacity 0.3s;
  &[disabled] {
    opacity: 0.6;
  }
}

[role='button'][disabled] {
  cursor: default;
}
