@import 'colors.styles';

/* Override default checkbox style for bootstrap */
.rb-console {
  .ui.checkbox:not(.radio) {
    margin: 0;
    input[type='checkbox'] {
      margin: 0;
      width: 100%;

      ~ label {
        font-size: 14px;
      }
    }
    &.toggle {
      input:checked {
        & ~ .box:before,
        & ~ label:before {
          background-color: $button-primary-background-color !important;
        }
      }
    }
  }
  .ui.toggle.checkbox .box:before,
  .ui.toggle.checkbox label:before {
    background: rgba(0, 0, 0, 0.15);
  }
}

.itype-list {
  list-style: none;
  overflow: hidden;
  margin: 0;
  > li {
    cursor: pointer;
    float: left;
    margin: 5px 10px 0 0;
    .panel {
      min-width: 90px;
      border: 1px solid #d0d0d0;
      border-radius: 0;
      color: #333;
      margin: 0;
      transition: border-color 0.1s;
      .panel-heading {
        height: auto;
        background-color: #ebebeb;
        padding: 5px 5px 5px 25px;
        color: #333;
        font-size: 12px;
        border: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        white-space: normal;
        i {
          font-size: 16px;
          color: #d9d7d7;
          padding-left: 6px;
        }
        transition: color 0.1s, background-color 0.1s;
      }
      .panel-body {
        font-size: 12px;
        padding: 8px 10px;
        line-height: 1.5;
      }
    }
  }
  > li:last-child {
    margin-right: 0;
  }
  > li.active {
    .panel {
      border-color: #3292e2;
      .panel-heading {
        background-color: #3b9ff3;
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
  }
  > li.rb-disabled {
    cursor: not-allowed;
    .panel {
      border: 1px solid #d0d0d0;
      color: #d0d0d0;
      .panel-heading {
        background-color: #f2f2f2;
        color: #d0d0d0;
      }
    }
  }
}

// checkbox without panel body
.itype-no-heading {
  > li {
    margin-top: 0;
    .panel {
      min-width: 80px;
      transition: border-color 0.3s;
      .panel-heading {
        line-height: 18px;
        padding: 1px 8px;
        border-color: $button-default-border-color;
        background-color: $button-default-background-color;
        color: $button-default-text-color;
        transition: color 0.3s, background-color 0.3s;
      }
      &:hover,
      &:focus {
        border-color: $button-default-hover-border-color;
        .panel-heading {
          background-color: $button-default-hover-background-color;
        }
      }
    }
    &.active {
      .panel {
        border-color: #3292e2;
        .panel-heading {
          background-color: #3b9ff3;
          color: #fff;
          i {
            color: #fff;
          }
        }
      }
    }
  }
}
