@import 'colors.styles';
/* Override md-dialog styles */
md-dialog {
  max-height: 90%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  &.rb-confirm-box,
  &.rb-dialog {
    md-toolbar {
      min-height: 48px;
      background-color: #f6f6f6;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      .md-toolbar-tools {
        font-size: 14px;
        height: 48px;
        color: #464646;

        button.md-button {
          color: #e0e0e0;
        }
        button.md-button:hover {
          color: #a7a7a7;
        }
      }
    }

    md-dialog-content {
      width: 580px;
      // word-break: break-all; // 会导致ff不能用hyphens
      word-wrap: break-word;
      hyphens: auto; // chrome对这个属性支持比较差，所以暂时用break-word而不是break-all
      min-height: 200px;
      max-height: 600px;
      display: flex;
      flex-flow: row;
      align-items: flex-start;
      justify-content: center;
      padding: 16px 24px;
      .rb-confirm-box-container {
        max-width: 100%;
        display: flex;
        align-items: center;
        align-self: stretch;

        .md-dialog-content {
          max-width: 100%;
        }
      }
      // warnning icon
      .rb-warnning-icon {
        color: $status-color-in-process;
        font-size: 28px;
      }
      .rb-label {
        min-width: 150px !important;
      }
    }

    md-dialog-actions {
      height: 48px;
      background: #f6f6f6;
      box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.12);
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      button.md-button {
        min-height: 32px;
        line-height: 32px;
        min-width: 50px;
        padding: 0 12px;
        font-size: 14px;
        border-radius: 0;
        background-color: $button-default-background-color;
        border: 1px solid $button-default-border-color;
        text-transform: none;
        color: $button-default-text-color;
        &.md-focused {
          background-color: $button-default-background-color;
          border-color: $button-default-border-color;
        }
        &:hover {
          border-color: $button-default-hover-border-color;
          background-color: $button-default-hover-background-color;
        }
        &.md-primary.md-raised:not([disabled]) {
          background-color: $button-primary-background-color;
          border: 1px solid $button-primary-border-color;
          color: $button-primary-text-color;
          &.md-focused {
            background-color: $button-primary-background-color;
            border-color: $button-primary-border-color;
          }
          &:hover {
            border-color: $button-primary-hover-border-color;
            background-color: $button-primary-hover-background-color;
          }
        }
      }
    }
  }

  // rb-form-dialog
  &.rb-dialog.rb-form-dialog {
    md-dialog-content {
      padding: 0;
    }
    .rb-form-panel {
      position: relative;
      box-shadow: none;
      padding-bottom: 55px;
      .rb-form-container {
        padding: 16px 0 0 0;
      }
      .rb-form-footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        .rb-form-footer-buttons {
          flex: 1;
          justify-content: flex-end;
          > button {
            margin: 0 0 0 4px;
          }
        }
      }
    }
  }
}
