/**
 * Basic form structure
 * Example 1:
 * <ngform class="rb-form">
 *    <div class="rb-input-container">
 *      <label class="ng-binding"></label>
 *      <input class="rb-input/">
 *      <div class="rb-input-field-addon"></div> <!-- to align form center in dialog require this empty tag-->
 *    </div>
 *    <div class="rb-input-hint-container"> <!--require this empty tag to add basic line spaces-->
 *    </div>
 * </ngform>
 *
 */
@import 'colors.styles';

$form-font-size: 14px;
$form-row-height: 32px;

.rb-input-addon-mixin {
  width: 48px;
  font-size: 18px;
  text-align: right;
  color: #e2e2e2;
  height: $form-row-height;
  line-height: $form-row-height;
  padding-right: 16px;
  flex-shrink: 0;
  .fa-question-circle {
    cursor: pointer;
  }
}

.rb-header-alt {
  display: flex;
  align-items: center;
  margin: 16px 0;
  font-size: 16px;
  &:before {
    width: 3px;
    height: 17px;
    background-color: #59889b;
    content: '';
    display: block;
    margin-right: 10px;
  }
}

.rb-form {
  flex-grow: 1;
  margin: 0;
  outline: 0;
  color: #333;
  position: relative;
  font-size: $form-font-size;
  display: flex;
  flex-flow: column;

  .rb-form-row {
    display: flex;
    flex: 1;
    align-items: flex-start;
    min-height: $form-row-height;
    margin-bottom: 8px;
    &.disabled,
    &[disabled] {
      opacity: 0.5;
    }
    .rb-input-field-addon {
      @extend .rb-input-addon-mixin;
    }
    .rb-info-tip {
      color: #fc5d68;
    }
    .rb-help-hint {
      color: #9c9c9c;
    }
    .form-row-buttons {
      width: 70px;
      text-align: right;
    }
  }

  // form label on the left of input
  .rb-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 32px;
    color: $form-text-label-color;
    font-weight: 400;
    line-height: 32px;
    position: relative;
    min-width: 200px;
    &.label-left {
      justify-content: flex-start;
    }
    + div:not(.ui),
    + span {
      line-height: $form-row-height;
      min-height: $form-row-height;
      display: flex;
      align-items: center;
    }
    .rb-label-hint {
      margin-left: 10px;
    }
    .fa-question-circle {
      margin-left: 4px;
    }
  }

  input[type='text'],
  input[type='number'],
  input[type='password'],
  .input > input {
    flex-grow: 1;
    border: 1px solid $form-input-border-color;
    transition: border-color 0.3s;
    height: $form-row-height;
    padding: 0 8px;
    &:focus {
      border-color: $form-input-focus-border-color;
    }
  }

  // disabled input
  input[disabled],
  input.disabled {
    background: $form-disabled-background-color;
    opacity: 0.45;
  }

  .radio-inline {
    line-height: 1.6;
  }

  .input-group label.input {
    width: 100%;
  }

  // invalid input when form is submitted or input is dirty
  &.ng-submitted input.ng-invalid,
  .ng-dirty.ng-invalid,
  .ui.input input.ng-dirty.ng-invalid {
    border-color: $form-input-invalid-border-color;
    background-color: $form-input-invalid-background-color;
  }

  // input with flex grow
  .rb-input {
    flex-grow: 1;
  }

  // input with right label as unit
  .rb-input-labeled-right {
    display: flex;
    flex-grow: 1;
    div:not(.rc-tooltip) {
      height: 32px;
      line-height: 32px;
      padding: 0 10px;
      border: 1px solid $form-input-border-color;
      border-left: none;
    }
  }

  // invalid input message
  .rb-input-message {
    line-height: 1.6;
    font-size: 12px;
    color: $form-text-error-color;

    // Make sure the message is a bit closer to the input
    &.rb-form-row {
      min-height: 18px;
      margin-top: -8px;
    }

    // input message to the right of input
    &.rb-input-message-horizontal {
      margin-left: 10px;
      line-height: $form-row-height;
      min-height: $form-row-height;
      display: flex;
      align-items: center;
    }
  }

  ///////////

  // dialog form input container
  .rb-input-container-help {
    padding-left: 150px;
    padding-right: 48px;
    color: #9c9c9c;
    margin-bottom: 8px;
    word-break: break-all;
  }
  .rb-input-container {
    font-size: 14px;
    margin-top: 4px;
    &:first-child {
      margin-top: 0;
    }
    .rb-input-field-container {
      display: flex;
      > label,
      > label .rb-label {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        width: 140px;
        font-weight: normal;
        margin-bottom: 0;
        padding-right: 16px;
        color: $form-text-label-color;
        overflow-wrap: break-word;
        height: 32px;

        &[disabled='disabled'] {
          opacity: 0.5;
        }
      }
      .rb-input-text {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: flex-start;
      }
      .rb-input-field-addon {
        @extend .rb-input-addon-mixin;
      }
      .rb-info-tip {
        display: flex;
        align-items: center;
        color: #fc5d68;
      }
    }
    .rb-input-hint-container {
      min-height: 16px;
      max-height: $form-row-height;
      line-height: 1.5;
      padding-left: 140px;
      padding-right: 48px;
      .rb-input-help {
        font-size: 12px;
        color: $form-text-help-color;
      }
    }
  }

  // horizontal form has different structure
  &.rb-form-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
    .rb-input-container {
      display: flex;
      flex-direction: row;
      margin-top: 0;
      padding-right: 8px;
      label {
        display: flex;
        font-weight: normal;
        height: $form-row-height;
        line-height: 1.2;
        padding-right: 16px;
        color: #464646;
        text-align: left;
        justify-content: flex-start;
        align-items: center;
      }
      section {
        display: flex;
        flex-direction: column;
        width: 300px;
        .rb-input-hint-container {
          padding: 0;
        }
        .rb-input-field-addon {
          width: 32px;
          padding-right: 8px;
        }
      }
    }
  }
}

// set ui input height 32px
.ui.input {
  > input {
    font-size: 14px; // input under .ui.buttons has font-size set to 0
    min-width: 8em;
    border-radius: 0;
    height: 32px;
    padding: 0.5em 8px;
  }
  &.fluid {
    flex: 1;
  }
  &.labeled {
    > .label {
      padding: 0 0.5em;
      line-height: 32px;
      border-radius: 0;
    }

    /* Input label with bordered/background */
    > .ui.label {
      background: transparent;
      border: 1px solid $form-input-border-color;
      box-sizing: border-box;
      line-height: 30px;
      padding-top: 0;
      padding-bottom: 0;
      &:last-child {
        border-left: none;
      }
    }
  }
  &.rb-filter-input > input {
    width: 240px;
  }
}

.rb-required-mark {
  color: $status-color-error;
  padding-left: 4px;
}

textarea {
  border-color: #bdbdbd;
}

// create page should use this structure

.rb-form-panel {
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  .rb-form-container {
    padding: 32px 16px 16px;
    min-height: 120px;
    //display: flex;
    //flex-direction: column;
    //align-items: flex-start;
    //justify-content: center;
    > .sub-form {
      flex: 1;
    }
    .rb-form-row {
      // wrap for input, leave 70px right padding, same width with table last column for operation buttons
      .rb-form-row-input-wrap {
        padding-right: 70px;
        :disabled {
          background-color: #f7f7f7;
        }
      }
    }
  }
  .rb-form-footer {
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.12);
    display: flex;
    background-color: #f8f8f8;
    padding: 11px 16px;
    .rb-form-footer-offset {
      width: 200px;
    }
    .rb-form-footer-buttons {
      display: flex;
      justify-content: flex-start;
      > button {
        margin: 0 4px 0 0;
      }
    }
  }
  .rb-form-fieldset-interval {
    border-top: 1px dashed #e1e1e1;
    height: 0;
    margin: 16px 0;
  }

  .rb-form-row {
    textarea {
      width: 100%;
      margin: 0;
      padding: 0.5em 8px;
      background: #fff;
      border: 1px solid rgba(34, 36, 38, 0.15);
      outline: 0;
      color: rgba(0, 0, 0, 0.87);
      box-shadow: 0 0 0 0 transparent inset;
      transition: color 0.1s ease, border-color 0.1s ease;
      font-size: 1em;
      line-height: 1.25;
      resize: vertical;
      border-radius: 0;

      &:focus {
        border-color: $form-input-focus-border-color;
      }
    }
  }
}
