/* Hide spinners for Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Hide spinners for Chrome */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-inline label {
  font-weight: normal;
}
.form-inline .form-group + .form-group {
  margin-left: 8px;
}
.input-group.date input.form-control {
  width: 145px;
}
.form-control {
  height: 32px;
}
