.rb-console {
  .rb-page-header-message {
    line-height: 1.5;
    border: 1px solid #f3f3f3;
    padding: 12px 14px;
    background-color: #fcfcfc;
    color: #666;
    .fa.fa-question-circle {
      font-size: 18px;
      margin-right: 8px;
      color: #666;
    }
  }

  .rb-horizontal-message {
    min-height: 40px;
    line-height: 24px;
    border: 1px solid #f3f3f3;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 16px;
    color: #666;
    .fa {
      font-size: 18px;
      margin-right: 12px;
    }
  }
  .rb-horizontal-message-center {
    margin: 0 auto 20px auto;
    width: 1000px;
    line-height: 2em;
    padding: 12px 14px;
  }
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // truncate string
  .truncate {
    display: inline-block;
    max-width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // font and paragraph
  .word-break {
    word-break: break-all;
  }

  .message.ui {
    background-color: #fcfcfc;
    box-shadow: 0 0 0 1px #f7f7f7 inset, 0 0 0 0 transparent;
    color: #464646;
  }
  // TODO: move to config management module
  .rb-modal {
    textarea + .CodeMirror-wrap {
      // bug of CodeMirror (textarea mode)
      // equal to the width of input in the rb-modal(input width equal 380px)
      max-width: 530px;
    }
  }
}
