@import 'colors.styles';

.rb-console {
  .fa-question-circle {
    color: #dedede;
  }
  div[uib-popover-template-popup] {
    padding: 0;
  }
  .popover {
    color: #464646;
    background-color: $popover-background-color;
    border-radius: 3px;
    border: 1px solid $popover-border-color;
    max-width: 75%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    .popover-content {
      padding: 8px;
      max-width: 300px;
      word-wrap: normal;
      hyphens: auto;
    }
    //  popover arrow
    &.right {
      > .arrow {
        border-width: 7px;
        border-right-color: $popover-border-color;
        left: -15px;
      }
    }
    &.left {
      > .arrow {
        border-left-color: $popover-border-color;
      }
      > .arrow:after {
        border-left-color: $popover-background-color;
      }
    }
    &.bottom {
      > .arrow {
        border-width: 7px;
        border-bottom-color: $popover-border-color;
        top: -15px;
      }
      > .arrow:after {
        border-bottom-color: $popover-background-color;
      }
    }
    &.top {
      margin-left: 4px;
      > .arrow {
        border-top-color: $popover-border-color;
        border-width: 7px;
        bottom: -15px !important;
      }
      > .arrow:after {
        border-top-color: $popover-background-color;
      }
    }
    &.top-left {
      > .arrow {
        border-top-color: $popover-border-color;
        left: 10px !important;
        margin-left: -7px;
      }
      > .arrow:after {
        border-top-color: $popover-background-color;
      }
    }
  }
  @mixin rb-popover-success-popover() {
    border-color: $popover-success-border-color;
    color: $popover-success-border-color;
    background-color: $popover-success-background-color;
    .arrow {
      border-top-color: $popover-success-border-color;
    }
    .arrow:after {
      border-top-color: $popover-success-background-color;
    }
    .popover-content {
      max-width: 600px;
    }
  }
  .rb-popover-success {
    .popover {
      @include rb-popover-success-popover();
    }
  }
  .rb-popover-success.popover {
    @include rb-popover-success-popover();
  }

  @mixin rb-popover-warnning-popover() {
    border-color: $popover-warning-border-color;
    color: $popover-warning-border-color;
    background-color: $popover-warning-background-color;
    .arrow {
      border-top-color: $popover-warning-border-color;
    }
    .arrow:after {
      border-top-color: $popover-warning-background-color;
    }
    .popover-content {
      max-width: 600px;
    }
  }
  .rb-popover-warnning {
    .popover {
      @include rb-popover-warnning-popover();
    }
  }
  .rb-popover-warnning.popover {
    @include rb-popover-warnning-popover();
  }

  @mixin rb-popover-error-popover() {
    border-color: $popover-error-border-color;
    color: $popover-error-border-color;
    background-color: $popover-error-background-color;
    .arrow {
      border-top-color: $popover-error-border-color;
    }
    .arrow:after {
      border-top-color: $popover-error-background-color;
    }
    .popover-content {
      max-width: 600px;
    }
  }
  .rb-popover-error {
    .popover {
      @include rb-popover-error-popover();
    }
  }
  .rb-popover-error.popover {
    @include rb-popover-error-popover();
  }

  .rb-labels-popover-container {
    .fa-group {
      color: #428bca;
    }
  }
  .rb-labels-popover-container .popover,
  .rb-labels-popover.popover {
    font-size: 12px;
    min-width: 60px;
    .popover-content {
      max-width: 600px;
      max-height: 250px;
      overflow-y: auto; //for firefox ui bug
      padding: 4px;
      .rb-popover-label-list-wrap {
        min-height: 24px;
        min-width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .rb-popover-label-list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .rb-popover-label-item {
          background: #e8e8e8;
          font-weight: 700;
          border-radius: 2px;
          padding: 4px 8px;
          margin: 2px;
          color: rgba(0, 0, 0, 0.6);
          transition: background 0.1s;
          &:hover {
            background-color: #e0e0e0;
            color: rgba(0, 0, 0, 0.8);
          }
          .rb-popover-close {
            color: rgba(0, 0, 0, 0.6);
            transition: opacity 0.1s;
            margin-left: 4px;
            font-size: 10px;
            opacity: 0.5;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    .rb-loading-mask {
      background: (0, 0, 0, 0);
    }
  }
}
