$rb-tab-header-height: 40px;

.rb-console {
  .rb-tabs-container {
    border-width: 0;
  }

  /* Overwrite angular material */
  md-tabs {
    transition: 0s !important;
    overflow: visible;
    md-prev-button,
    md-next-button {
      md-icon {
        color: #464646;
      }
    }
    md-tabs-canvas {
      height: $rb-tab-header-height;
      md-pagination-wrapper {
        height: $rb-tab-header-height;

        .md-tab {
          height: $rb-tab-header-height;
          line-height: 1.2;
          text-transform: none;
          text-shadow: 0 0 #aaa;
          font-weight: 500;

          &.md-active {
            color: #000;
            text-shadow: 0 0 #000;
          }
        }

        md-ink-bar {
          background-color: #59889b;
        }
      }
    }
    md-tabs-content-wrapper {
      overflow: visible;
    }
    md-tab-content {
      transition: opacity 0.2s;
      overflow: visible;
      transform: none !important;

      &.md-active {
        opacity: 1;
        visibility: visible;
        z-index: 2;
      }

      &:not(.md-active) {
        opacity: 0;
        visibility: hidden;
        z-index: 0;
      }

      &.md-active-remove {
        visibility: hidden;
      }

      &.md-left:not(.md-active),
      &.md-right:not(.md-active) {
        animation: none;
      }
    }
  }

  .tab-button-group {
    margin-bottom: 8px;
    min-height: 32px;
  }
}
