@mixin truncate-span {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rb-list-table-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  flex-flow: column;
}

// list main table
.app-table {
  table-layout: fixed;
  border-collapse: collapse;
  border: none !important;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 16px;
  td {
    border: none !important;
    &.rb-truncate-cell {
      > a,
      > span,
      > div {
        @include truncate-span;
      }
    }
  }
  thead tr {
    border-bottom: 1px solid #e0e0e0;
    td {
      background-image: none;
      background-color: #fff;
    }
  }

  > tbody {
    + tbody {
      border-top: none;
    }
    tr {
      td {
        color: #666;
        word-break: break-all;
        vertical-align: middle;
        &.left-blue-bar {
          box-shadow: 2px 0px 0px 0px #66ccff inset;
        }
        &.right-blue-bar {
          box-shadow: -2px 0px 0px 0px #66ccff inset;
        }
        .caret-right {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-left: 4px solid;
          border-right: 0;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
        }
      }
      &:hover {
        background-color: #d7eef9 !important;
      }
      &:nth-child(odd) {
        background-color: #f8f8f8;
      }
      &:nth-child(even) {
        background-color: #fff;
      }
      &.app-tr-item {
        td:first-child {
          > div {
            margin-left: 20px;
          }
        }
      }
    }
  }
}

// new table style for service detail
.rb-detail-table {
  flex: 1;
  width: 100%;
  color: #464646;
  border: 1px solid #eee;
  table-layout: fixed;
  thead {
    tr {
      background-color: #f9fafb;
      border-bottom: 1px solid #eee;
      th,
      td {
        vertical-align: top;
        font-weight: 400;
      }
    }
  }
  tbody {
    tr:nth-child(odd) {
      background-color: #f8f8f8;
    }
    tr:nth-child(even) {
      background-color: #fff;
    }
  }
  thead > tr > th,
  thead > tr > td,
  tbody > tr > td {
    padding: 8px 10px;
  }
  & + .rb-detail-table {
    margin-top: 16px;
  }
}
