<input 
  type="hidden" 
  name="assignedApprovers"
  ng-model="vm.item.model.data.approver"
  required>
<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'assign_approver' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <rb-dropdown
    rb-loading-mask="vm.approverLoading"
    on-add="vm.onApproverAdd(option)"
    on-remove="vm.onApproverRemove(option)"
    is-disabled="vm.workflow.readonly"
    options="vm.approverOptions"
    multiple="true"
    init="vm.initApprovers"
    rb-errors-tooltip="vm.form.assignedApprovers">
  </rb-dropdown>
</div>
<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'target_email' | translate }}
  </div>
  <rb-tags-input
    foldable="true"
    on-change="vm.onRecipientChange(tags)"
    validate-fn="vm.emailValidateFn"
    ng-model="vm.item.model.data.recipient"
    init-tags="vm.initRecipients"
    placeholder="'add_by_enter_or_space' | translate">
  </rb-tags-input>
</div>