<form #servicePortForm="ngForm">
    <table class="rc-form-table">
        <thead>
            <tr>
                <td>{{ "service_port" | translate }}</td>
                <td>{{ "target_port" | translate }}</td>
                <td>{{ "port_name" | translate }}</td>
                <td style="width: 30px;"></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of value ; trackBy: trackByIndex;"
                class="rc-form-input">
                <td>
                    <input aui-input
                        type="number"
                        required
                        min="1"
                        max="65535"
                        name="service-port-{{item.indexId}}"
                        [pattern]="numberReg.pattern"
                        [placeholder]="'service_port' | translate"
                        [rcErrorsTooltip]
                        [(ngModel)]="item.port">
                </td>
                <td>
                    <input aui-input
                        type="number"
                        required
                        min="1"
                        max="65535"
                        name="target-port-{{item.indexId}}"
                        [placeholder]="'target_port' | translate"
                        [pattern]="numberReg.pattern"
                        [rcErrorsTooltip]
                        [(ngModel)]="item.targetPort">
                </td>
                <td >
                    <span>{{getName(item)}}</span>
                </td>
                <td>
                    <button
                        aui-button="text"
                        (click)="removeRow(item.indexId)"
                        [disabled]="value.length === 1"
                    >
                        <aui-icon icon="basic:minus_circle_s" margin="right"></aui-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!value.length"
        class="rc-form-table-empty">
        {{'no_env_vars' | translate}}
    </div>
    <div class="add-container-button" (click)="addRow()"><i class="fa fa-plus-circle"></i>{{ 'add' | translate }}</div>
</form>