/* You can add global styles to this file, and also import other style files */

@import '../app2/core/styles/partials/table.partial';
@import '../app2/core/styles/partials/form-table.partial';
@import '../app2/core/styles/partials/form.partial';
@import '../app2/core/styles/partials/log.partial';
@import '../app2/core/styles/partials/tooltip.partial';
@import '../app2/core/styles/partials/detail.partial';
@import '../app2/core/styles/global/vendor.global';

@import 'styles/material.styles';
@import 'styles/table.styles';

$default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Helvetica Neue', Helvetica, 'Ubuntu', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

body,
button,
input,
select,
textarea,
p,
a {
  font-family: $default-font-family;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.lead {
  font-family: $default-font-family;
}

a {
  color: #009ce3;
  cursor: pointer;
  text-decoration: none;
}

a {
  &:hover {
    text-decoration: none;
  }
}

/**
 * Mimic ng-hide in Angular.
 */
[hidden] {
  display: none !important;
}

[role='button'] {
  cursor: pointer;
}

// FIXME: temporarily add this for compatibility
.rb-loading-mask-placeholder {
  min-height: 80px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #a1a1a1;
  flex-direction: column;
  .rb-loading-mask {
    background: transparent;
  }
}

/**
 * Override Material Styles
 */
.cdk-overlay-container {
  .mat-tab-group {
    margin-bottom: 16px;
  }

  .mat-tab-header {
    background: $color-white;
  }

  .mat-progress-bar {
    height: 4px;
  }

  .mat-tab-label {
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    min-width: 0;
    padding: 0 20px;

    &-active {
      opacity: 1;
    }
  }

  .mat-menu-content {
    padding: 8px;
  }

  .mat-menu-item {
    font-size: 14px;
    line-height: 1.42857143;
    padding: 4px 12px;
    margin-bottom: 4px;
    height: auto;
    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #f2f2f2;
    }
  }

  pre.monaco-editor {
    font-family: monospace;
  }

  /* Some temporary fixes for AUI */
  aui-card + aui-card > .aui-card {
    margin-top: 16px;
  }

  .aui-card {
    padding: 20px;
  }

  .aui-card__content {
    padding: 0;

    .mat-paginator {
      margin-bottom: -16px;
    }
  }

  .aui-card__header {
    font-size: 18px;
    color: #333;
    padding: 0;
    padding-bottom: 12px;
  }

  .aui-code-editor {
    min-height: 0;
  }

  .aui-dialog__header {
    font-size: 18px;
    padding-bottom: 20px;
  }

  .aui-monaco-editor-container {
    overflow: visible;
  }
}

// custom style

.aui-tooltip.rc-font-small {
  font-size: 12px;
}
