<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon"
        type="image/x-icon"
        href="<%-favicon_path%>" />
  <!-- Enable HTML5 mode -->
  <base href="/user/">
  <style>
    /* Following is loading spinner for index. */
    html {
      font-size: 10px;
      width: 100%;
      height: 100%;
    }

    * {
      margin: 0;
      padding: 0;
    }

    *,
    :after,
    :before {
      box-sizing: border-box;
    }

    body {
      background-color: #f1f1f1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      font-size: 14px;
      line-height: 1.42857143;
    }

    .alauda-settings {
      display: none;
    }

  </style>
  <style>
    .alk-index-loading-spinner.sk-folding-cube {
      position: fixed;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
    }

    .sk-folding-cube {
      width: 40px;
      height: 40px;
      position: relative;
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
    }

    .sk-folding-cube .sk-cube {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }

    .sk-folding-cube .sk-cube:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #32b6f3;
      -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }

    .sk-folding-cube .sk-cube2 {
      -webkit-transform: scale(1.1) rotateZ(90deg);
      transform: scale(1.1) rotateZ(90deg);
    }

    .sk-folding-cube .sk-cube3 {
      -webkit-transform: scale(1.1) rotateZ(180deg);
      transform: scale(1.1) rotateZ(180deg);
    }

    .sk-folding-cube .sk-cube4 {
      -webkit-transform: scale(1.1) rotateZ(270deg);
      transform: scale(1.1) rotateZ(270deg);
    }

    .sk-folding-cube .sk-cube2:before {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }

    .sk-folding-cube .sk-cube3:before {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }

    .sk-folding-cube .sk-cube4:before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
    }

    @-webkit-keyframes sk-foldCubeAngle {
      0%,
      10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
      }
      25%,
      75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
      }
      90%,
      100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
    }

    @keyframes sk-foldCubeAngle {
      0%,
      10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
      }
      25%,
      75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
      }
      90%,
      100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
    }

  </style>
</head>

<body>
  <!-- Main App Component root -->
  <rc-app-root>
    <!-- Switch to a nice looking one if needed -->
    <div class="sk-folding-cube alk-index-loading-spinner">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
    <!--
  <div style="font-size: 24px; text-align: center;" id="loading-wrapper">
    <script>
      const locale = localStorage['alauda_locale'] || navigator.language || 'en';
      let content;
      if (['zh_cn', 'zh-cn', 'zh'].includes(locale.toLowerCase())) {
        content = "载入中, 请稍候 ..."
      } else {
        content = "Loading ..."
      }
      document.getElementById('loading-wrapper').insertAdjacentHTML('afterbegin', content);
    </script>
  </div>
  -->

    <script>
      // tsf represent tencent sso
      const tpName = '<%-sso_source%>';
      const ssoConfigsString = '<%-sso_configs%>';

      //only for tencent sso reload
      if (tpName === 'tsf') {
        let ssoConfigs
        try {
          ssoConfigs = JSON.parse(HTMLDecode(ssoConfigsString))
        } catch (e) {
          ssoConfigs = [{}]
        }
        const tpSourceLgoutLoginUrl = ssoConfigs[0]['server_logout_url'] + '?service=' + encodeURIComponent(ssoConfigs[0]['server_login_url'] + '?service=' + ssoConfigs[0]['redirect_uri']);
        localStorage.setItem('sso_source', tpName);
        localStorage.setItem('sso_logout_url', tpSourceLgoutLoginUrl);
      }
      function HTMLDecode(text) {
        var temp = document.createElement("div");
        temp.innerHTML = text;
        var output = temp.innerText || temp.textContent;
        temp = null;
        return output;
      }
    </script>
  </rc-app-root>

  <div class="alauda-settings">
    <span id="console-username"><%-username%></span>
    <span id="cp-namespace"><%-namespace%></span>
    <span id="view-type"><%-view_type%></span>
  </div>
</body>

</html>
