<table class="rb-preview-child-table">
  <thead>
  <tr style="background-color: #fff">
    <td>{{ 'type' | translate }}</td>
    <td>{{ 'name' | translate }}</td>
    <td style="width: 112px">{{ 'container_port' | translate }}</td>
    <td>{{ 'kubernetes_service_host_port' | translate }}</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="service in vm.services track by $index" style="background-color: #fff">
    <td>{{ service.type }}</td>
    <td>{{ service.name }}</td>
    <td>{{ service.container_port }}</td>
    <td>{{ service.node_port }}</td>
  </tr>
  </tbody>
</table>
