<div class="rb-form-row input">
  <div class="rb-label" flex="25">
    {{vm.label | translate | rbTitleCase}}
  </div>
  <div flex="55">
    <span class="radio-inline" ng-repeat="option in vm.options track by $index">
      <input type="radio" name="option" ng-value="option" ng-model="vm.value" ng-click="vm.onSelect()"> {{ option | translate }}
    </span>
  </div>
  <div ng-if="vm.description" class="rb-input-field-addon">
    <i class="fa fa-question-circle"
       style="cursor: pointer;"
       uib-popover-html="vm.description"
       popover-placement="top"
       popover-trigger="'mouseenter'"
       popover-append-to-body="true"></i>
  </div>
</div>
