<div class="rb-popover-label-list-wrap" rb-loading-mask="vm.popoverConfig.loading">
  <div ng-if="!vm.popoverConfig.loading && !vm.popoverConfig.list.length">
    <span>{{vm.popoverConfig.noDataText}}</span>
  </div>
  <div ng-if="vm.popoverConfig.list.length > 0" class="rb-popover-label-list">
    <div class="rb-popover-label-item" ng-repeat="item in vm.popoverConfig.list">
      <span>{{item.user}}</span>
      <span ng-if="vm.buttonDisplayExpr(vm.popoverConfig.role, 'revoke')"
            class="rb-popover-close fa fa-close"
            ng-click="vm.deleteUserOfRole(item.user)"></span>
    </div>
  </div>
</div>