<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'image_registry' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <rb-dropdown rb-loading-mask="!(vm.registries$ | rbAsync:this)"
               ng-click="vm.registryDropdownClicked()"
               on-change="vm.registryChanged(option)"
               key="display_name"
               value="name"
               placeholder="{{'image_registry_select_placeholder' | translate}}"
               is-disabled="vm.readonly"
               init="vm.init.registry"
               options="vm.registries$ | rbAsync:this">
  </rb-dropdown>
</div>

<div class="rb-form-row input" ng-show="!vm.selectedRegistry.is_public">
  <div class="rb-label">
    {{ 'repository_project' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <rb-dropdown rb-loading-mask="!(vm.projects$ | rbAsync:this)"
               ng-click="vm.projectDropdownClicked()"
               on-change="vm.projectChanged(option)"
               key="display_name"
               value="project_name"
               placeholder="{{'image_project_select_placeholder' | translate}}"
               is-disabled="vm.readonly"
               ignore-last-selection="true"
               init="vm.init.project"
               options="vm.projects$ | rbAsync:this">
  </rb-dropdown>
</div>

<form name="vm.form" class="hidden">
  <input type="text" ng-model="vm.selectedRepository.name" name="selectedRepositoryName" required>
</form>

<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'repository' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <rb-dropdown rb-loading-mask="!(vm.repositories$ | rbAsync:this)"
               rb-errors-tooltip="vm.form.selectedRepositoryName"
               rb-errors-tooltip-mapper="{
                 required: ('no_available_repository' | translate)
               }"
               ng-click="vm.repositoryDropdownClicked()"
               on-change="vm.repositoryChanged(option)"
               placeholder="{{ 'image_repository_select_placeholder' | translate }}"
               key="name"
               value="name"
               is-disabled="vm.readonly"
               init="vm.init.repository"
               options="vm.repositories$ | rbAsync:this">
  </rb-dropdown>
</div>
