<div>
  <table class="table-condensed rb-fieldset-table">
    <thead>
    <tr>
      <td>{{ 'type' | translate }}</td>
      <td>{{ 'name' | translate }}</td>
      <td style="width: 112px">{{ 'container_port' | translate }}</td>
      <td>{{ 'kubernetes_service_host_port' | translate }}</td>
      <td style="width:40px;">{{ 'action'| translate }}</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="service in vm.services track by $index">
      <td>
        <input type="text"
               ng-if="service.type !=='NodePort' && vm.servcieChangedDisabled(service)"
               ng-disabled="true"
               style="width:100%"
               ng-model="service.type">
        <rb-dropdown init="service.type"
                     ng-if="service.type ==='NodePort' || !service.server_data"
                     is-disabled="!service.editable || vm.servcieChangedDisabled(service)"
                     on-change="vm.kubernentsServiceChange(service, option)"
                     options="vm.kubernetesServiceTypes"></rb-dropdown>
      </td>
      <td>
        <div class="ui fluid labeled input">
          <div class="ui label text-bold" style="max-width: 100px"
               ng-if="!vm.servcieChangedDisabled(service)"
               title="{{ vm.serviceName + '-' + (service.type==='Headless'?'hl':'np') + '-' }}">
            {{ vm.serviceName + '-' + (service.type==='Headless'?'hl':'np') + '-' }}
          </div>
          <span title="{{ service.suffixName }}" style="width: 100%">
          <input type="text"
                 style="text-overflow: ellipsis; width: 100%"
                 ng-disabled="!service.editable || vm.servcieChangedDisabled(service)"
                 ng-model="service.suffixName"
                 rb-errors-tooltip
                 rb-errors-tooltip-mapper="{
                   'avaibleName': ('kube_service_name_unavailable' | translate)
                   }"
                 ui-validate="{avaibleName: 'vm.validateKubeServiceName($value, service)'}"
                 ng-change="vm.nameChange(service)"
                 required>
            </span>
        </div>
      </td>
      <td>
        <rb-dropdown size="xxs" is-disabled="true" ng-if="service.type !== 'NodePort'"></rb-dropdown>
        <div ng-if="service.type === 'NodePort'">
          <rb-dropdown size="xxs"
                       init="service.container_port"
                       is-disabled="vm.servcieChangedDisabled(service)"
                       on-change="vm.containerPortChange(service, option)"
                       options="vm.ports"></rb-dropdown>
        </div>
      </td>
      <td>
        <input ng-disabled="true" ng-if="service.type !== 'NodePort'" type="number" style="width: 100%;">
        <input type="number"
               rb-loading-mask="!vm.hostPortLimits"
               ng-if="service.type === 'NodePort'"
               style="width:100%;min-width: 100px;"
               ng-disabled="!service.editable || service.type === 'Headless' || vm.servcieChangedDisabled(service)"
               ng-model="service.node_port"
               rb-errors-tooltip
               placeholder="{{ vm.hostPortLimits[0] }}-{{ vm.hostPortLimits[1] }}"
               ng-min="{{ vm.hostPortLimits[0] }}"
               ng-max="{{ vm.hostPortLimits[1] }}"
               maxlength="63">
      </td>
      <td>
        <button ng-if="service.editable" class="rb-fieldset-action-btn"
                style="float: left;"
                ng-click="vm.deleteKubernetesService($index)">
          <i class="fa fa-remove"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <button ng-click="vm.addKubernetesService()" class="rb-fieldset-add-btn">
          <i class="fa fa-plus"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
