<div class="rb-project-container" rb-loading-mask="!vm.initialized">
  <div ng-if="!vm.registry.is_public" class="rb-project-nav">
    <div ng-repeat="item in vm.projects"
         class="rb-project-nav-item"
         ng-class="{'active': vm.currentProject.project_name === item.project_name}"
         ng-click="vm.selectProject(item)">
      <span>{{ item.project_name }}</span>
    </div>
  </div>
  <div class="rb-image-list-wrap"
       rb-loading-mask="vm.loading">
    <div ng-show="!vm.repositories.length && !vm.loading && vm.initialized" class="rb-image-empty">
      {{ 'service_create_image_select_empty' | translate }}
    </div>
    <div class="rb-image-list">
      <div ng-show="vm.repositories.length > 0" class="rb-image-select-project-header">
        <div class="ui input mini">
          <input type="text"
                 ng-model="vm.repositoriesFilter.name"
                 placeholder="{{ 'search_by_name_placeholder' | translate }}">
        </div>
      </div>
      <rb-image-select-card
        ng-repeat="repo in vm.repositories | filter: vm.repositoriesFilter"
        repo="repo"
        ng-click="vm.selectImage(repo)">
      </rb-image-select-card>
      <div class="rb-image-card-placeholder"></div>
      <div class="rb-image-card-placeholder"></div>
      <div class="rb-image-card-placeholder"></div>
      <div class="rb-image-card-placeholder"></div>
    </div>
  </div>
</div>