<rc-form-field [label]="'image_registry' | translate"
               [shouldFlexRow]="true">
  <rc-single-selection-dropdown [rcLoadingMask]="!registries || projectLoading || repositoryLoading"
                                [options]="registries"
                                displayField="display_name"
                                valueField="name"
                                name="registry"
                                [(ngModel)]="registryName"
                                (change)="registryChange($event)"
                                required
                                [disabled]="disabled"
                                style="flex:1">
  </rc-single-selection-dropdown>
</rc-form-field>

<rc-form-field *ngIf="!registry?.is_public"
               [label]="'repository_project' | translate"
               [shouldFlexRow]="true">
  <rc-single-selection-dropdown [rcLoadingMask]="!projects || projectLoading"
                                [options]="projects"
                                displayField="display_name"
                                valueField="project_name"
                                name="project"
                                [(ngModel)]="projectName"
                                (change)="projectChange($event)"
                                required
                                [disabled]="disabled"
                                style="flex:1">
  </rc-single-selection-dropdown>
</rc-form-field>

<rc-form-field [label]="'repository' | translate"
               [shouldFlexRow]="true">
  <rc-single-selection-dropdown [rcLoadingMask]="!repositories || repositoryLoading"
                                [options]="repositories"
                                displayField="name"
                                valueField="name"
                                name="repository"
                                [(ngModel)]="repositoryName"
                                (change)="emitChange()"
                                required
                                [disabled]="disabled"
                                style="flex:1">
  </rc-single-selection-dropdown>
</rc-form-field>
