@import 'colors.styles';

:host {
  width: 100%;
  ::ng-deep {
    .rc-tooltip__content {
      padding: 8px;
    }
    aui-checkbox {
      display: flex;
      .aui-checkbox {
        display: flex;
        margin-right: 0;
      }
    }
  }
}

.basic-info {
  ::ng-deep {
    .rc-form-container {
      width: 80%;
      align-self: center;
      rc-form-field {
        display: flex;
        label {
          flex: 2;
        }
        .form-main-container {
          flex: 7;
        }
        &.rc-form-field-type-rc-multi-dropdown {
          .form-main-container {
            .form-input-row {
              width: 100%;
              rc-multi-selection-dropdown {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .rc-form-panel {
      border: none;
      border-radius: 8px 8px 0 0;
      box-shadow: $rb-gray-light-shadow;
    }
  }
}

.bottom {
  margin: 16px 0 120px 0;
  display: flex;
  justify-content: flex-end;
  .ui.button {
    margin-right: 5px;
  }
}

.fa-question-circle {
  color: $blue-6;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.content {
  border-radius: 0 0 8px 8px;
  box-shadow: $rb-gray-light-shadow;
  background-color: $card-background-color;
  padding: 20px 40px;
  .header-alt {
    display: flex;
    align-items: center;
    margin: 16px 0;
    font-size: 16px;
    &:before {
      width: 3px;
      height: 17px;
      background-color: #59889b;
      content: '';
      display: block;
      margin-right: 10px;
    }
    .fa-question-circle {
      margin-left: 8px;
      color: $blue-6;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
  }
  .rc-primary-table {
    border: 2px solid $table-border-color;
    border-bottom: none;
  }
  ::ng-deep {
    .datatable-header,
    .datatable-body-row,
    .rc-row-wrapper-expanded {
      border-bottom: 2px solid $table-border-color;
      margin-bottom: 0;
    }
    .datatable-row-detail {
      background-color: $table-second-background-color;
      margin: 0 !important;
    }
    .secondary-table {
      width: 100%;
      > tbody {
        > tr {
          border-bottom: 2px solid $table-border-color;
          display: flex;
          > td {
            padding: 0.9rem 1.2rem;
            box-sizing: border-box;
            flex: 1;
            display: flex;
            align-items: center;
            text-indent: 3rem;
            overflow: hidden;
          }
          .third-table {
            position: relative;
            display: flex;
            flex: 4;
            .actions-edit {
              word-break: keep-all;
              white-space: normal;
            }
            > tbody {
              width: 100%;
              > tr {
                display: flex;
                > td {
                  display: flex;
                  flex: 1;
                  flex-wrap: wrap;
                  padding: 0.9rem 1.2rem;
                  box-sizing: border-box;
                  overflow: hidden;
                  align-self: center;
                  &.editable {
                    transition: background-color 0.3s;
                    color: $blue-6;
                    cursor: pointer;
                    &:hover {
                      background-color: $table-rows-hover-color;
                    }
                  }
                  .constraint {
                    width: 100%;
                  }
                  .wrapper {
                    width: 100%;
                    height: 100%;
                  }
                  hr {
                    margin: 10px 0;
                  }
                }
              }
              > tr:not(:last-child) {
                border-bottom: 2px solid $table-border-color;
              }
            }
          }
        }
      }
    }
    .rc-primary-table {
      > .ngx-datatable {
        .datatable-body {
          .datatable-row-wrapper:hover,
          .datatable-row-wrapper.rc-row-wrapper-expanded {
            background-color: $card-background-color;
          }
          .datatable-row-wrapper {
            margin-bottom: 0;
            > .datatable-body-row {
              .datatable-body-cell {
                overflow: visible;
              }
            }
          }
        }
      }
    }
  }
}
