<!-- 暂时跳转到旧org页面 -->
<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a [routerLink]="['/rbac']">{{ 'rbac' | translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      <a [routerLink]="['/role-template']">{{ 'nav_rbac_role-template' | translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'create' | translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<!-- 模板基本信息 -->
<section class="basic-info">
  <rc-form-container>
    <form class="rb-form" #form="ngForm">
      <rc-form-field label="{{ 'rbac_role-template_name' | translate }}">
        <input rcInput
               type="text"
               name="name"
               [placeholder]="'rbac_role_name_hint' | translate"
               [(ngModel)]="data.name"
               pattern="^[A-Za-z0-9-_.]+$"
               required>
      </rc-form-field>
      <rc-form-field label="{{ 'rbac_role-template_display_name' | translate }}">
        <input rcInput
               type="text"
               name="displayName"
               [(ngModel)]="data.display_name">
      </rc-form-field>
      <rc-form-field label="{{ 'description' | translate }}">
        <input rcInput
               type="text"
               name="description"
               [(ngModel)]="data.description">
      </rc-form-field>
      <rc-form-field label="{{ 'rbac_constraints_multiply' | translate }}">
        <rc-multi-selection-dropdown [options]="multiplyOptions"
                                     [(ngModel)]="defaultVal"
                                     [ngModelOptions]="{ standalone: true }"
                                     displayField="name"
                                     valueField="value"
                                     (valueChange)="onScopesChange($event)"></rc-multi-selection-dropdown>
        <span rcFormAddon><i class="fa fa-question-circle"
                             [rcTooltip]="'rbac_template_constraints_hint' | translate"
                             [rcTooltipInline]="false"
                             rcTooltipMode="info"></i></span>
      </rc-form-field>
    </form>
  </rc-form-container>
</section>

<!-- 权限内容 -->
<section class="content">
  <div class="header-alt">
    {{ 'rbac_content' | translate }}
    <i class="fa fa-question-circle"
       [rcTooltip]="contentTip[lang]"
       [rcTooltipInline]="false"
       rcTooltipMode="info"
       ></i>
  </div>
  <!-- table -->
  <rc-table *ngIf="data" #permissionsTable class="rc-primary-table" [columnMode]="'force'" [headerHeight]="40" [rowHeight]="40"
    [rows]="permissionsCatalog">

    <rc-table-col [width]="30" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
      <ng-template rcTableColCell let-row="row" let-rindex="rowIndex" let-expanded="expanded">
        <a class="rc-table-row-expand" href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
          (click)="toggleExpandRow(row, rindex)">
          <i class="fa fa-angle-right"></i>
        </a>
      </ng-template>
    </rc-table-col>
    <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'type' | translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines">
            {{ rowData.type | translate }} {{ translateTypes(rowData.type) }}
          </div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'resource_type' | translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines"></div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'action' | translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines"></div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'constraints' | translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines"></div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'resource_name' | translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines"></div>
        </div>
      </div>
    </rc-table-col>

    <rc-table-row-detail [rowHeight]="'auto'">
      <ng-template rcTableRowDetailTemplate let-row="row">
        <table class="secondary-table">
          <tbody>
            <tr *ngFor="let key of keys(permissionsCatalogMap[row.type])">
              <td>
                {{ key | translate }}
              </td>
              <table class="third-table">
                <tr *ngFor="let type of permissionsCatalogMap[row.type][key]">
                  <td>
                    <aui-checkbox [(ngModel)]="checkedMap[type]"
                                  (ngModelChange)="onCheck($event, type)"></aui-checkbox>
                    {{ type | translate }}
                  </td>
                  <td [ngClass]="{ editable: checkedMap[type] }"
                      class="actions-edit"
                      [rcTooltip]="actionsEdit"
                      [rcTooltipOn]="checkedMap[type] ? 'click' : 'manual'"
                      [rcTooltipInline]="false"
                      rcTooltipPosition="right"
                      rcTooltipMode="info">
                  <span *ngIf="permissionsMap[type]">
                    {{ permissionsMap[type].actions | rcActionsToTranslateKeys: actionsMap[type] }}
                  </span>
                </td>
                <ng-template #actionsEdit>
                  <aui-multi-select
                      (valueChange)="onActionsChange($event, type)">
                      <aui-option *ngFor="let action of actionsMap[type]" [value]="action" [label]="action.name">{{ action.name }}</aui-option>
                      <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
                  </aui-multi-select>
                </ng-template>
                <!-- <td [ngClass]="{ editable: checkedMap[type] }"
                    [rcTooltip]="constraintsEdit"
                    [rcTooltipOn]="checkedMap[type] ? 'click' : 'manual'"
                    [rcTooltipInline]="false"
                    rcTooltipPosition="left"
                    rcTooltipMode="info">
                    <div *ngFor="let constraint of (permissionsMap[type] ? permissionsMap[type].constraints : []); let i = index;"
                         class="constraint">
                      <div *ngFor="let key of keys(constraint)">
                        {{ (key.split(':')[1] | translate) + ': ' + (constraint[key] || '-') }}
                      </div>
                      <hr *ngIf="permissionsMap[type].constraints.length - 1 !== i">
                    </div>
                    <span *ngIf="permissionsMap[type] && !permissionsMap[type].constraints.length">{{ 'rbac_not_set' | translate }}</span>
                  </td>
                  <ng-template #constraintsEdit>
                    <rc-constraint-editor [type]="type"
                                          [constraints]="permissionsMap[type].constraints"
                                          [options]="keys(schemaMap[type])"
                                          (onChange)="constraintChange($event, type)"></rc-constraint-editor>
                  </ng-template> -->
                  <td>
                    <div *ngFor="let constraint of (permissionsMap[type] ? permissionsMap[type].constraints : []); let i = index;"
                         class="constraint">
                      <div *ngFor="let key of keys(constraint)">
                        {{ (key.split(':')[1] | translate) + ': ' + (constraint[key] || '-') }}
                      </div>
                      <hr *ngIf="permissionsMap[type].constraints.length - 1 !== i">
                    </div>
                    <span *ngIf="permissionsMap[type] && !permissionsMap[type].constraints.length">{{ 'rbac_not_set' | translate }}</span>
                  </td>
                  <td [ngClass]="{ editable: checkedMap[type] }"
                      [rcTooltip]="resourceEdit"
                      [rcTooltipOn]="checkedMap[type] ? 'click' : 'manual'"
                      [rcTooltipInline]="false"
                      rcTooltipPosition="bottom"
                      rcTooltipMode="info">
                    <span *ngIf="permissionsMap[type]" style="white-space: normal; word-break: keep-all;">
                      {{ (permissionsMap[type].resource.includes('*') || !permissionsMap[type].resource.length) ? ('rbac_any' | translate) : permissionsMap[type].resource.join(',
                      ') }}
                    </span>
                  </td>
                  <ng-template #resourceEdit>
                    <rc-tags-input [(ngModel)]="this.permissionsMap[type].resource" (onTagsChange)="onResourceChange($event, type)"></rc-tags-input>
                  </ng-template>
                </tr>
              </table>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </rc-table-row-detail>
  </rc-table>
</section>

<section class="bottom">
  <button rcButton (click)="cancel()">{{ 'cancel' | translate }}</button>
  <button rcButton="primary" (click)="submit()">{{ 'submit' | translate }}</button>
</section>
