<rb-region-badge-option
  on-change-state="'app_service.service.list'"
  on-change-confirm="true">
</rb-region-badge-option>

<div rb-loading-mask="!vm.initialized || vm.submitting" class="rb-form-panel">
  <div class="rb-form-container">
    <ng-form name="vm.form" class="rb-form">

      <!-- service_name -->
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ "service_name" | translate }}
        </div>
        <div flex="60">
          {{ vm.serviceData.service_name }}
        </div>
      </div>

      <!-- image_name -->
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ "image_repo" | translate }}
        </div>
        <div flex="60">
          {{ vm.serviceData.image_name }}
        </div>
      </div>

      <!-- image_tag -->
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ "image_tag" | translate }}
        </div>

        <div flex="60" class="rb-form-row-input-wrap">
          <rb-dropdown ng-if="vm.imageTags.length && !vm.imageTagsLoading"
                       options="vm.imageTags"
                       filter-threshold="5"
                       init="vm.serviceData.image_tag"
                       on-change="vm.onImageTagChange(option)"></rb-dropdown>
          <div class="ui mini fluid input"
               ng-if="!vm.imageTags.length"
               rb-loading-mask="vm.imageTagsLoading">
            <input
              type="text"
              ng-model="vm.serviceData.image_tag"
              ng-model-options="{ debounce: 500 }"
              name="image_tag"
              rb-errors-tooltip
              ng-pattern="/^[A-Za-z0-9-_.]+$/"
              required
              placeholder="{{ 'tag_name_placeholder' | translate }}">
          </div>
        </div>
      </div>

      <!-- instance_size -->
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ "instance_size" | translate }}
        </div>
        <div flex="60" class="rb-form-row-input-wrap">
          <rb-service-fieldset-instance-size-new init-instance-size="vm.defaultInstanceSize"
                                             init-custom-instance-size="vm.init_custom_instance_size"
                                             region="vm.region"
                                             on-change="vm.onInstanceSizeChange(instance_size, config)"></rb-service-fieldset-instance-size-new>
        </div>
      </div>
      <!-- service_labels -->
      <div class="rb-form-row input" ng-if="vm.affinityEnabled()">
        <div class="rb-label">
          {{ "service_labels" | translate }}
        </div>
        <div flex="60" style="padding-right: 70px">
          <rb-service-labels-control
            ng-model="vm.serviceData.labels"
            keys="vm.labelKeys"
            values="vm.labelValues"
            propagate-only="vm.propagateOnly"
          ></rb-service-labels-control>
        </div>
      </div>
      <!-- service update strategy -->
      <div ng-if="vm.updateStrategyEnabled()">
        <div class="rb-form-fieldset-interval"></div>
        <div class="rb-form-row input" ng-if="vm.pod_controller === 'Deployment'">
          <div class="rb-label">
            {{ 'service_max_surge' | translate }}
          </div>
          <div flex="60">
            <input type="text"
                   ng-pattern="/^[0-9]+[%]?$/"
                   placeholder="{{ 'update_strategy_placeholder'| translate }}"
                   ng-model="vm.update_strategy.max_surge"
                   name="max_surge"
                   ng-disabled="vm.update_strategy.max_surge_disabled"
                   rb-errors-tooltip
                   rb-errors-tooltip-mapper="{'duplicateZero': ('update_strategy_null_together_tips' | translate)}"
                   ui-validate="{duplicateZero: 'vm.validateUpdateStrategy($value, 0)'}"
                   required>
            <div class="rb-input-field-addon" style="width: 70px">
              <i class="fa fa-question-circle margin-left-1"
                 uib-popover-html="'service_max_surge_desc' | translate"
                 popover-placement="top"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"></i>
            </div>
          </div>

        </div>
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'service_max_unavailable' | translate }}
          </div>
          <div flex="60">
            <input type="text"
                   ng-pattern="/^[0-9]+[%]?$/"
                   placeholder="{{ 'update_strategy_placeholder'| translate }}"
                   rb-errors-tooltip
                   rb-errors-tooltip-mapper="{
                   'duplicateZero': ('update_strategy_null_together_tips' | translate),
                   'valueInvalid': ('update_strategy_max_unavailable_overflow' | translate),
                   'zeroCheck': ('update_strategy_max_unavailable_zero_in_daemon' | translate),
                   }"
                   ui-validate="{
                   duplicateZero: 'vm.validateUpdateStrategy($value, 1)',
                   valueInvalid: 'vm.validateUnavailableValue($value)',
                   zeroCheck: 'vm.zeroCheckInDaemonSet($value)'
                   }"
                   ng-model="vm.update_strategy.max_unavailable"
                   ng-disabled="vm.update_strategy.max_unavailable_disabled"
                   name="max_unavailable"
                   required>
            <div class="rb-input-field-addon" style="width: 70px">
              <i class="fa fa-question-circle margin-left-1"
                 uib-popover-html="'service_max_unavailable_desc' | translate"
                 popover-placement="top"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"></i>
            </div>
          </div>
        </div>
      </div>
      <!--- is k8s region, support labels -->
      <div ng-if="vm.isK8sUpdateNodeTagsEnabled">
        <div class="rb-form-fieldset-interval"></div>
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'node_tag' | translate }}
          </div>
          <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" class="rb-form-row-input-wrap long-tags"
               style="padding-right: 0">
            <rb-dropdown multiple="true"
                         init="vm.init_node_selector"
                         on-add="vm.addNodeLabels(option)"
                         on-remove="vm.removeNodeLabels(option)"
                         options="vm.availableNodeLables"
                         key="display"
                         value="display">
            </rb-dropdown>
            <button ng-disabled="!vm.node_selector.length" class="ui button rb-btn-oper" style="line-height: 20px;"
                    ng-click="vm.checkAvailableNodes()">
              {{ "service_create_node_check" | translate }}
            </button>
            <div class="rb-input-field-addon" style="width: 70px">
              <i class="fa fa-question-circle margin-left-1"
                 uib-popover-html="'node_labels_desc' | translate"
                 popover-placement="top"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"></i>
            </div>
          </div>
        </div>
        <div class="rb-form-row" ng-if="vm.availableNodesChecked">
          <div class="rb-label">
          </div>
          <div flex="70" ng-style="{'color': vm.availableNodes?'':'red'}">
            {{ vm.availableNodes }} {{ 'nodes_meet_filter'| translate }}
          </div>
        </div>
      </div>
      <!-- service_affinity -->
      <div class="rb-form-fieldset-interval" ng-if="vm.affinityEnabled()"></div>
      <div class="rb-form-row input" ng-if="vm.affinityEnabled()">
        <div class="rb-label">
          {{ "service_affinity" | translate }}
        </div>
        <div flex="60" style="padding-right: 70px">
          <rb-service-affinity-control
            ng-model="vm.kubeAffinity"
            self="vm.serviceData"
            services="vm.services"
            service-labels="vm.serviceLabels"
            node-labels="vm.nodeLabels"
          ></rb-service-affinity-control>
        </div>
      </div>
      <!-- run_command & entrypoint -->
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ "cmd_and_entrypoint" | translate }}
        </div>
        <div flex="60">
          <rb-radio-group options="vm.runCommandTypes"
                          key="name"
                          value="value"
                          init="vm.useDefaultCmdType"
                          on-change="vm.onRunCommandTypeChange(option)"></rb-radio-group>
          <i class="fa fa-question-circle margin-left-1"
             uib-popover-html="'custom_entrypoint_desc' | translate"
             popover-placement="top"
             popover-trigger="'mouseenter'"
             popover-append-to-body="true"></i>
        </div>
      </div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'entrypoint' | translate }}
        </div>
        <div flex="60" class="rb-form-row-input-wrap">
          <div class="ui mini fluid input"
               rb-loading-mask="vm.imageTagDetailLoading">
            <input type="text"
                   ng-model="vm.entrypoint"
                   rb-errors-tooltip
                   name="entrypoint"
                   ng-maxlength="1024"
                   ng-disabled="vm.useDefaultCmdType === vm.SERVICE_RUNCOMMAND_TYPE.DEFAULT || vm.region.container_manager === 'SWARM'">
          </div>
        </div>
      </div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'cmd' | translate }}
        </div>
        <div flex="60" class="rb-form-row-input-wrap">
          <div class="ui mini fluid input"
               rb-loading-mask="vm.imageTagDetailLoading">
            <input type="text"
                   ng-model="vm.run_command"
                   name="run_command"
                   rb-errors-tooltip
                   ng-maxlength="1024"
                   ng-disabled="vm.useDefaultCmdType === vm.SERVICE_RUNCOMMAND_TYPE.DEFAULT">
          </div>
        </div>
      </div>

      <!-- link services -->
      <div ng-if="vm.linkServices && vm.serviceList.length">
        <div class="rb-form-fieldset-interval"></div>
        <div class="rb-form-row input">
          <div class="rb-label">{{ 'link_app' | translate }}</div>
          <rb-service-fieldset-link-services flex="60"
                                             service-list="vm.serviceList"
                                             link-service-list="vm.linkServices"></rb-service-fieldset-link-services>
        </div>
      </div>

      <!-- custom domains -->
      <div ng-if="vm.allowCustomDomain">
        <div class="rb-form-fieldset-interval"></div>
        <div class="rb-form-row input">
          <div class="rb-label">{{ 'custom_domain' | translate }}</div>
          <rb-service-fieldset-custom-domains flex="60"
                                              custom-domains="vm.customDomains"></rb-service-fieldset-custom-domains>
        </div>
      </div>

      <!-- file log -->
      <div ng-if="vm.logFileFieldsEnabled()">
        <div class="rb-form-fieldset-interval"></div>
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'log_file' | translate }}
          </div>
          <rb-service-fieldset-log-files flex="60"
                                         files="vm.includeLogFiles"></rb-service-fieldset-log-files>
        </div>
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'exclude_log_file' | translate }}
          </div>
          <rb-service-fieldset-log-files flex="60"
                                         files="vm.excludeLogFiles"></rb-service-fieldset-log-files>
        </div>
      </div>

      <!-- env vars -->
      <div ng-if="vm.envVars">
        <div class="rb-form-fieldset-interval"></div>
        <div class="rb-form-row input">
          <div class="rb-label">{{ 'environment_variable' | translate }}</div>
          <rb-service-fieldset-env-vars flex="60"
                                        env-vars="vm.envVars"></rb-service-fieldset-env-vars>
        </div>
      </div>

      <!-- env files -->
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">{{ 'env_file' | translate }}</div>
        <rb-service-fieldset-env-files flex="60"
                                       update="true"
                                       env-files="vm.envFiles"></rb-service-fieldset-env-files>
      </div>

      <!-- blue green -->
      <div ng-if="vm.regionBlueGreenEnabled && vm.serviceData.current_status === 'Running'">
        <div class="rb-form-fieldset-interval"></div>
        <div class="rb-form-row input">
          <div class="rb-label"></div>
          <div flex="60">
            <rb-radio-group options="vm.blueGreenTypes"
                            key="name"
                            value="value"
                            on-change="vm.onBlueGreenTypeChange(option)"></rb-radio-group>
          </div>
        </div>
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'blue_green_count' | translate }}
          </div>
          <div flex="60" class="rb-form-row-input-wrap">
            <input type="number"
                   ng-model="vm.blueGreenCount"
                   name="blue_green_count"
                   min="0"
                   max="{{ vm.serviceData.target_num_instances }}"
                   ng-disabled="!vm.blueGreenType">
          </div>
        </div>
      </div>

      <!-- health checks -->
      <div ng-if="vm.isServiceHealthcheckEnabled(vm.serviceData, vm.regionFeatures)">
        <div class="rb-form-fieldset-interval"></div>
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'health_check' | translate }}
          </div>
          <rb-service-fieldset-healthcheck flex="80"
                                           health-checks="vm.serviceData.health_checks"></rb-service-fieldset-healthcheck>
        </div>
      </div>

      <div ng-if="vm.regionConfigManageEnabled">
        <div class="rb-form-fieldset-interval"></div>
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'config_files' | translate }}
          </div>
          <rb-service-fieldset-config-files flex="60"
                                            config-files="vm.serviceData.configFiles"></rb-service-fieldset-config-files>
        </div>
      </div>
    </ng-form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-offset"></div>
    <div class="rb-form-footer-buttons" flex="50">
      <button type="button"
              ng-click="vm.save()"
              class="ui button rb-btn-primary"
              ng-class="{loading: vm.submitting}"
              ng-disabled="!vm.initialized || vm.submitting">{{ 'save' | translate }}
      </button>
      <button type="button" class="ui button rb-btn-default"
              ng-click="vm.cancel()">{{ 'cancel' | translate }}
      </button>
    </div>
  </div>
</div>
