<table class="table-condensed rb-fieldset-table">
  <thead>
  <tr>
    <td>{{ 'port' | translate }}</td>
    <td style="width:70px;"></td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="port in vm.ports track by $index">
    <td>
      <div class="ui mini fluid input">
        <input type="number" ng-model="vm.ports[$index]">
      </div>
    </td>
    <td>
      <button class="rb-fieldset-action-btn" ng-click="vm.deletePort($index)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <button ng-click="vm.addPort()" class="rb-fieldset-add-btn">
        <i class="fa fa-plus"></i>
      </button>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>