<div ng-if="!vm.albList.length" class="rb-loading-mask-placeholder" style="min-height: 80px;">
  {{'lb_list_empty' | translate}}
</div>
<div ng-if="vm.albList.length">
  <div ng-repeat="item in vm.loadBalancers track by item.uniqueId">
    <table class="rb-fieldset-table" style="margin-bottom: 0; table-layout: fixed;">
      <thead>
      <tr>
        <td>
          {{'load_balancer' | translate}}
        </td>
        <td style="width: 25px;"></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <rb-dropdown options="vm.albList"
                       key="display_name"
                       value="load_balancer_id"
                       init="item.load_balancer_id"
                       on-change="vm.onLoadbalancerChange(item, option)"></rb-dropdown>
        </td>
        <td>
          <button class="rb-fieldset-action-btn"
                  ng-click="vm.deleteLoadbalancer($index)">
            <i class="fa fa-remove"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <rb-protocol-form protocols="vm.loadBalancerProtocols"
                      listeners="item.listeners"
                      load-balancer-detail="vm.loadBalancerDetails[item.uniqueId]"
                      container-ports="vm.containerPorts"></rb-protocol-form>
  </div>
  <div style="text-align:right;">
    <button type="button"
            class="ui button tiny rb-btn-default"
            ng-click="vm.addLoadbalancer()">{{'add' | translate}}
    </button>
  </div>
</div>
