.ui.dimmer {
  background: rgba(1, 1, 1, 0.2);

  .blocking-mask {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, 0.2);
  }
}

.ui.modal.rc-modal {
  // overwrite bootstrap .modal styles
  font-size: 14px;
  bottom: auto;
  right: auto;
  border-radius: 0;
  min-width: 560px; // default width is 900, 560 is enough
  // max-width: 900px;
  overflow: visible;
  > .content {
    padding: 0; // Reduce modal content padding padding to 0
    font-size: 14px; // Default is 1em which is 10px defined by bootstrap in HTML tag

    .rb-label {
      min-width: 150px !important;
    }
  }

  > ng-component {
    position: relative;
    z-index: 0;
  }

  &.rc-modal--right {
    position: absolute !important;
    top: 0;
    bottom: auto;
    height: 100%;
    margin: 0 0 auto 0 !important;
    right: 0;
    left: auto;
    min-height: 450px;
    & > ng-component {
      height: 100%;

      & > .content {
        height: calc(100% - 46px);
        overflow-y: auto;
      }
    }
  }
}

.ui.modals.dimmer .ui.scrolling.modal.rc-modal {
  &:not(.rc-modal--right) {
    position: relative !important;
    left: auto;
  }
  &.rc-modal--right {
    position: absolute !important;
    margin: 0 0 auto 0 !important;
  }
}
