<div class="page-heading" flex layout="row">
  <rc-search-input [loading]="searching" [searchOnChange]="true" (onSearch)="onSearchChanged($event)" flex=30>
  </rc-search-input>
  <div flex></div>
  <div class="control-buttons">
    <button rcIconButton="primary" *ngIf="createAccountEnabled" (click)="createAccounts()">{{'create_account' | translate}}
    </button>
    <ng-container *ngIf="ldapSyncEnabled && ldapConfigTrue">
      <button rcIconButton="primary" *ngIf="isSubAccount" (click)="triggerLdapSync()" [disabled]="triggerLdapSyncIng">
        {{'org_ldap_sync' | translate}}
      </button>
      <div *ngIf="!isSubAccount" class="ldap-btn-menus" tabindex="1">
        <div class="btn-wrapper">
          <button class="ldap-sync_btn" (click)="triggerLdapSync()" [disabled]="triggerLdapSyncIng">{{'org_ldap_sync' | translate}}</button>
          <button (click)="showCleanBtn = !showCleanBtn" (blur)="showCleanBtn = false">
            <i class="dropdown icon"></i>
          </button>
        </div>
        <button *ngIf="showCleanBtn" class="btn-clean" [ngClass]="{ disabled: !invalid_accounts }" (mousedown)="!(showCleanBtn = false) && invalid_accounts && deleteInvalidAccounts()"
          [rcTooltip]="(!invalid_accounts ?'no_invalid_ldap_user':'') | translate" rcTooltipMode="info" rcTooltipPosition="left">
          {{'clean_invalid_ldap_users' | translate }}</button>
      </div>
    </ng-container>
  </div>
</div>
<rc-loading-mask [loading]="!initialized" *ngIf="!initialized"></rc-loading-mask>
<div class="loading-mask-placeholder" *ngIf="initialized && !accounts.length">
  {{'no_data' | translate}}
</div>

<aui-table *ngIf="accounts.length" [dataSource]="accounts">
  <ng-container auiTableColumnDef="username">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'username' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <a (click)="gotoUserDetail(item.username)">{{item.username}}</a>
      <span #tooltip="tooltip" [rcTooltip]="popoverTemplate" rcTooltipPosition="top left" rcTooltipMode="info" rcTooltipOn="click"
        class="fa fa-group" (click)="fetchAccountRoles(item.username,tooltip)"></span>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="user_type">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'user_type' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ (item.type === 'organizations.LDAPAccount' ? 'synced_by_ldap' : (item.type === 'organizations.TPAccount' ? 'create_by_thrid_party'
      : 'created_on_platform')) | translate }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="user_source">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'user_source' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.sub_type }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="status">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'status' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <span class="validation-status" [ngClass]="{ invalid: isInvalidAccount(item) }"
        [rcTooltip]="(isInvalidAccount(item)?'invalid_ldap_user_tip' : '') | translate" rcTooltipPosition="top">
        {{ (isInvalidAccount(item)?'invalid':'valid') | translate }}
      </span>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="created_at">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'created_at' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{item.created_at | rcFormatUtcStr}}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="action">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'action' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <button type="button" rcIconButton="primary" rcButtonSize="tiny" *ngIf="shouldShowPwdUpBtn(item)" (click)="updatePassword(item)"
        [rcTooltip]="'update_password' | translate" rcTooltipPosition="top">
        <i class="fa fa-key"></i></button>
      <button type="button" rcIconButton="primary" rcButtonSize="tiny" *ngIf="shouldShowPwdResetBtn(item)" (click)="ResetPassword(item)"
        [rcTooltip]="'reset_password' | translate" rcTooltipPosition="top">
        <i class="fa fa-refresh"></i></button>
      <button type="button" rcIconButton="primary" rcButtonSize="tiny" *ngIf="roleAssignEnabled && (item.type !== 'organizations.LDAPAccount' || item.is_valid)"
        (click)="addRole(item)" [rcTooltip]="'add_role' | translate" rcTooltipPosition="top">
        <i class="fa fa-plus"></i></button>
      <button type="button" rcIconButton="primary" rcButtonSize="tiny" *ngIf="shouldShowDelBtn(item)" (click)="deleteAccount(item)"
        [rcTooltip]="'delete' | translate" rcTooltipPosition="top">
        <i class="fa fa-trash-o"></i></button>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="['username', 'user_type', 'user_source','status','created_at','action']"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: ['username', 'user_type', 'user_source','status','created_at','action'];"></aui-table-row>
</aui-table>

<rc-pagination2 *ngIf="pagination?.count > pagination?.page_size" [page]="pagination.page" [count]="pagination?.count" [pageSize]="pagination?.page_size"
  (pageChanged)="pageNoChange($event)"></rc-pagination2>

<ng-template #popoverTemplate>
  <div class="rb-popover-label-list-wrap" [rcLoadingMask]="popoverConfig.loading">
    <div *ngIf="!popoverConfig.loading && !popoverConfig.list.length">
      <span>{{popoverConfig.noDataText}}</span>
    </div>
    <div *ngIf="popoverConfig.list.length > 0" class="rb-popover-label-list">
      <div class="rb-popover-label-item" *ngFor="let item of popoverConfig.list;">
        <a *ngIf="shouldShowRoleLink(item)" href="#" (click)="viewAccountRoleDetail(item, $event)">{{getAccountRoleNameDisplay(item)}}</a>
        <span *ngIf="!shouldShowRoleLink(item)">{{getAccountRoleNameDisplay(item)}}</span>
        <span *ngIf="checkRoleResourceAction(item, 'revoke')" class="rb-popover-close fa fa-close" (click)="revokeRole(item.role_name)"></span>
      </div>
    </div>
  </div>
</ng-template>
