@import 'colors.styles';

:host {
  .page-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    min-height: 32px;
    rc-search-input {
      flex: 1;
      max-width: 30%;
      max-height: 100%;
    }
  }

  rc-pagination2 {
    margin-top: 16px;
  }

  .fa-group {
    color: #428bca;
    &:hover {
      cursor: pointer;
    }
  }
  .ldap-btn-menus {
    display: inline-block;
    position: relative;
    margin-left: 5px;

    .btn-wrapper {
      display: flex;

      button {
        border: 1px solid $button-default-border-color;
        background-color: transparent;
        outline: 0;

        &:hover {
          color: $button-primary-border-color;
          border-color: $button-primary-hover-border-color;
        }

        &:first-child {
          padding: 5px 15px;
          border-right: 0;
          border-radius: 4px 0 0 4px;

          &:hover + button {
            border-left-color: $button-primary-hover-border-color;
          }
        }

        &:last-child {
          padding: 5px 10px;
          border-radius: 0 4px 4px 0;

          .icon {
            margin-right: 0;
            width: auto;
            font-size: 12px;
          }
        }
      }
    }

    .btn-clean {
      position: absolute;
      right: 0;
      z-index: 1;
      border: 1px solid $button-default-border-color;
      background-color: #fff;
      border-radius: 4px;
      padding: 5px 15px;
      min-width: 100%;
      margin-top: 5px;
      white-space: nowrap;

      &.disabled {
        color: #d1d1d1;
        cursor: default;
      }

      &:not(.disabled):hover {
        background-color: #d6eef8;
        color: #53bce5;
      }
    }
  }
  .operating-buttons {
    button {
      margin-right: 4px;
    }
  }

  .fa-group {
    color: #428bca;
  }
  button.tiny {
    margin-right: 8px;
  }

  .validation-status {
    &:before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 2px;
      margin-bottom: 1px;
    }

    &:not(.invalid) {
      color: #5bbae4;

      &:before {
        background-color: #5bbae4;
        box-shadow: 0 0 0 3px rgba(91, 186, 228, 0.2);
      }
    }

    &.invalid {
      color: #cbd3d8;

      &:before {
        background-color: #cbd3d8;
        box-shadow: 0 0 0 3px rgba(203, 211, 216, 0.2);
      }
    }
  }
  ::ng-deep {
    .aui-table__column {
      &-action {
        min-width: 20%;
      }
    }
    .rb-popover-label-list-wrap {
      max-width: 600px;
      max-height: 250px;
      overflow-y: auto; //for firefox ui bug
      min-height: 24px;
      min-width: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      rc-loading-mask {
        overflow: hidden;
      }
    }
    .rb-popover-label-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      .rb-popover-label-item {
        background: #e8e8e8;
        font-weight: 700;
        border-radius: 2px;
        padding: 2px 8px;
        margin: 2px;
        color: rgba(0, 0, 0, 0.6);
        transition: background 0.1s;
        &:hover {
          background-color: #e0e0e0;
          color: rgba(0, 0, 0, 0.8);
        }
        .rb-popover-close {
          color: rgba(0, 0, 0, 0.6);
          transition: opacity 0.1s;
          margin-left: 4px;
          font-size: 10px;
          opacity: 0.5;
          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }
  .control-buttons {
    button {
      margin-right: 8px;
      &.ldap-sync_btn {
        margin-right: 0;
      }
    }
  }
}
