@import 'colors.styles';

rb-pipeline-config-create {
  flex: 1;
  .pipeline-create-title {
    font-size: 20px;
  }

  header {
    margin-bottom: 6px;
  }

  .basic-info .rb-form-row {
    .rb-label {
      flex-shrink: 0;
      white-space: nowrap;

      &:first-child {
        justify-content: flex-start;
      }
    }

    &.checkbox-group > div.checkbox {
      align-self: center;
    }

    rb-dropdown {
      flex: unset;
    }
  }

  &:first-child {
    input {
      text-overflow: ellipsis;
    }
  }

  .checkbox-group .toggle.checkbox input {
    height: 100%;
  }

  .pipeline-panels-container {
    display: flex;
    align-items: flex-start;

    .pipeline-config-forms-container {
      flex: 1;
      overflow: auto;
      margin-left: 20px;
    }
  }

  rb-pipeline-config-workflow {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .rb-form-row.checkbox-group.row-in-column {
    flex-direction: column;

    > div {
      display: flex;
      width: 100%;
      align-items: center;

      .rb-label {
        line-height: 28px;
      }
    }
  }

  .rb-form-panel {
    .rb-form-container {
      padding-top: 16px;
      display: flex;
      flex-flow: column;
      height: 100%;
      align-items: stretch;
      justify-content: flex-start;

      header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
      }

      .basic-info {
        flex-grow: 0;
        flex-shrink: 0;
      }

      .divider {
        align-self: stretch;
        border-top: 1px solid $default-border-color;
        margin: 10px 0;
      }
    }
  }
}
