<div class="rb-form-panel"
     rb-loading-mask="vm.submitting">
  <div class="rb-form-container">
    <header>
      <div class="pipeline-create-title">{{ 'pipeline_create_config' | translate }}</div>
      <div flex
           class="placeholder"></div>
      <div>
        <div class="control-buttons">
          <button class="ui button rb-btn-default"
                  ng-click="vm.goBack()">
            {{'cancel' | translate}}
          </button>
          <button class="ui button rb-btn-primary"
                  ng-disabled="!vm.isConfigValid()"
                  ng-click="vm.createClicked($event)">
            {{'create' | translate}}
          </button>
        </div>
      </div>
    </header>

    <ng-form name="vm.basicForm"
             class="basic-info rb-form">
      <div layout="row">
        <div flex="40"
             style="margin-right: 50px;">
          <div class="rb-form-row">
            <div flex="25"
                 style="min-width: 120px;"
                 class="rb-label">
              {{ 'pipeline_config_name' | translate }}
              <span class="rb-required-mark">*</span>
            </div>
            <input flex
                   type="text"
                   ng-model="vm.config.name"
                   rb-errors-tooltip
                   rb-errors-tooltip-mapper="vm.errorMapper"
                   name="name"
                   ng-maxlength="36"
                   ng-pattern="/^[a-z][a-z0-9\-\_]*$/"
                   required
                   placeholder="{{ 'pipeline_name_placeholder' | translate }}">
          </div>
        </div>

        <!-- quota_space -->
        <div class="rb-form-row"
             ng-if="vm.quotaEnabled && vm.spaces"
             flex>
          <div class="rb-label"
               flex="20"
               ng-style="{minWidth: vm.locale === 'en' ? null : 0}">
            {{'quota_space' | translate}}
            <span class="rb-required-mark">*</span>
          </div>
          <div ng-if="!vm.spaces.length"
               class="rb-info-tip">
            {{'quota_space_required' | translate}}
          </div>
          <rb-dropdown ng-if="vm.spaces.length"
                       options="vm.spaces"
                       value="name"
                       key="name"
                       filter-threshold="5"
                       on-change="vm.onSpaceChanged(option)"></rb-dropdown>
        </div>
      </div>

      <!-- description -->
      <div layout="row">
        <div class="rb-form-row"
             flex="40"
             style="margin-right: 50px;">
          <div class="rb-label"
               flex="25"
               style="min-width: 120px;">{{ 'description' | translate }}</div>
          <textarea ng-model="vm.config.description"
                    style="resize: none; height: 56px;" />
        </div>

        <div class="rb-form-row checkbox-group row-in-column"
             flex>
          <!-- Enable Artifact -->
          <div>
            <div class="rb-label"
                 flex="20"
                 ng-style="{minWidth: vm.locale === 'en' ? null : 0}">
              {{'pipeline_enable_artifact_upload' | translate}}
            </div>
            <div class="ui toggle checkbox">
              <input ng-model="vm.config.artifact_enabled"
                     type="checkbox"
                     ng-change="vm.onArtifactEnabledChange()">
              <label></label>
            </div>
            <i class="fa fa-question-circle"
               style="font-size: 16px"
               tooltip-placement="right"
               uib-tooltip="{{ 'pipeline_articfact_upload_tips' | translate }}"></i>
          </div>

          <!-- Enable Temporary Directory -->
          <div>
            <div class="rb-label"
                 flex="20"
                 ng-style="{minWidth: vm.locale === 'en' ? null : 0}">
              {{'pipeline_enable_temporary_directory' | translate}}
            </div>
            <div class="ui toggle checkbox">
              <input ng-model="vm.config.shared_dir_enabled"
                     type="checkbox">
              <label></label>
            </div>
            <i class="fa fa-question-circle"
               style="font-size: 16px"
               tooltip-placement="right"
               uib-tooltip="{{ 'pipeline_temporary_directory_tips' | translate }}"></i>
          </div>
        </div>
      </div>
    </ng-form>

    <div class="divider"></div>

    <rb-pipeline-config-workflow ng-if="vm.config"
                                 config="vm.config"
                                 mode="vm.configCopy ? 'copyCreate' : 'create'">
    </rb-pipeline-config-workflow>
  </div>
</div>
