<div
  ng-class="{'chart-status-ok': vm.chartStatus==='ok', 'chart-status-warning': vm.chartStatus==='warning', 'chart-status-alert': vm.chartStatus==='alert'}">
  <div class="rb-monitor-chart-card-toolbar">
    <span title="{{vm.metric.metric}}">{{vm.metric.metric}}</span>
    <i class="fa fa-exclamation-circle" uib-tooltip="{{ vm.getTooltipText() }}" tooltip-placement="top"></i>
    <div flex style="min-width: 16px;"></div>
    <button ng-click="vm.actionChartRefresh()"
            uib-tooltip="{{'refresh' | translate}}">
      <i class="fa fa-refresh"></i>
    </button>
    <button ng-click="vm.actionAlarmCreate()"
            uib-tooltip="{{'alarm_create' | translate}}">
      <i class="fa fa-bell"></i>
    </button>
  </div>
  <div class="rb-monitor-chart-card-content" rb-loading-mask="vm.refreshing">
    <div ng-if="!vm.hasData" class="rb-loading-mask-placeholder">
      <img src="/static/images/blank/chart_nodata_normal.svg">
      <span ng-show="vm.loading">{{'data_loading' | translate}}</span>
      <span ng-show="!vm.loading">{{'no_data' | translate}}</span>
    </div>
    <div ng-if="vm.hasData" class="content-overview">
      <span class="overview-data"
            ng-class="{'data-size-32': vm.dataDisplay.length > 4 && vm.dataDisplay.length <= 6, 'data-size-16': vm.dataDisplay.length > 6}">
        {{vm.dataDisplay}}
      </span>
      <span ng-show="vm.unitDisplay" class="overview-unit">
        {{vm.unitDisplay}}
      </span>
    </div>
    <div ng-show="vm.hasData" class="content-timestamp">
      <span>{{vm.timeDisplay}}</span>
    </div>

  </div>
</div>
