@import '../../../core/styles/_colors.scss';

h3 {
  font-weight: 400;
  font-size: 18px;
  color: #333;
}
.namespace-create {
  color: #333;
  margin-top: 12px;
  padding: 20px;
  border-radius: 2px;
  background-color: #fff;
  ::ng-deep {
    .aui-form-item__error-wrapper,
    .aui-form-item__hint {
      margin-top: 4px;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    margin: 16px 0;
    background-color: #ededed;
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__basic {
    &-prefix {
      white-space: nowrap;
    }
    ::ng-deep {
      aui-select {
        width: 100%;
      }
      aui-input-group {
        width: 100%;
      }
      .aui-select {
        width: 100% !important;
      }

      aui-form-field {
        display: block;
        margin-bottom: 16px;
        &:first-child {
          margin-top: 16px;
        }
        .aui-form-field__wrapper {
          justify-content: center;
          align-items: center;
        }
      }

      .aui-form-item__label-wrapper {
        width: 15% !important;
      }
      .aui-form-item__container {
        width: 70%;
      }
    }
  }
  &--ing {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
    &__loading {
      margin-right: 16px;
    }
    div {
      text-align: center;
      margin-top: 24px;
    }
  }
  &--wrong {
    text-align: center;
    margin-bottom: 24px;
    &__header {
      display: flex;
      justify-content: center;
      text-align: center;
    }
    &__loading {
      margin-right: 16px;
      ::ng-deep {
        .ui.loader:after {
          animation: none;
        }
      }
    }
    div {
      text-align: center;
      margin-top: 24px;
    }
    button {
      margin-top: 24px;
    }
  }
}
