<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a [routerLink]="['/project', {project: project?.name}]">{{'project_overview' | translate}}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{'create_namespace' | translate}}
    </ng-container>
  </rc-breadcrumb>
</ng-container>
<h3>{{'create_namespace' | translate}}</h3>
<div class="namespace-create">
  <div class="namespace-create__header">
    <rc-steps-process [steps]="steps" [currStep]="currStep"></rc-steps-process>
  </div>
  <div class="namespace-create__divider"></div>
  <ng-container *ngIf="currStep === 1">
    <ng-container *ngIf="!createStatus">
      <div class="namespace-create__content">
        <form #form="ngForm" auiForm>
          <div class="namespace-create__basic">
            <aui-form-item>
              <label auiFormItemLabel>{{'name'|translate}}</label>
              <aui-input-group>
                <span class="namespace-create__basic-prefix" auiInputAddonBefore>{{ namePrefix }}</span>
                <input #name="ngModel" auiFormItemControl name="name" [maxlength]="63 - namePrefix?.length" pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?$" [(ngModel)]="setting.name"
                  aui-input required>
              </aui-input-group>
              <div auiFormItemError *ngIf="name.errors?.required">{{'field_required' | translate}}</div>
              <div auiFormItemError *ngIf="name.errors?.pattern || name.errors?.maxlength">{{'namespace_name_pattern_error'
                | translate}}</div>
            </aui-form-item>
            <aui-form-item>
              <label auiFormItemLabel>{{'cluster'|translate}}</label>
              <aui-select auiFormItemControl (ngModelChange)="selectChange($event)" [(ngModel)]="setting.cluster" name="cluster" #cluster="ngModel"
                [loading]="loading" required>
                <aui-option *ngFor="let cluster of clusters" [label]="cluster.display_name" [value]="cluster">{{cluster.display_name}}</aui-option>
              </aui-select>
              <div auiFormItemHint *ngIf="setting.cluster?.regions">{{'create_namespace_tip1'|translate}}</div>
              <div auiFormItemError *ngIf="cluster.errors?.required">{{'field_required' | translate}}</div>
            </aui-form-item>
          </div>
          <ng-container *ngIf="setting.cluster">
            <rc-loading-mask [loading]="quotaLoading"></rc-loading-mask>
            <rc-multiple-quota-settings [clustersQuota]="clustersQuota" name="quotas" #quotas="ngModel" [(ngModel)]="setting.quotas"></rc-multiple-quota-settings>
          </ng-container>
        </form>
      </div>
      <div class="namespace-create__divider"></div>
      <div class="namespace-create__footer">
        <button aui-button="primary" (click)="create()">{{'create_namespace'|translate}}</button>
        <button aui-button [routerLink]="['/project', {project: project?.name}]">{{'cancel'|translate}}</button>
      </div>
    </ng-container>
    <div class="namespace-create--ing" *ngIf="createStatus === 'ing'">
      <div class="namespace-create--ing__loading">
        <rc-loading-mask [loading]="true"></rc-loading-mask>
      </div>
      <div class="namespace-create--ing__text">{{'namespace_creating'|translate}}</div>
    </div>
    <div class="namespace-create--wrong" *ngIf="createStatus === 'wrong'">
      <div class="namespace-create--wrong__header">
        <div class="namespace-create--wrong__text">{{'namespace_create_failed'|translate}}</div>
      </div>
      <button aui-button [loading]="deleteLoading" [disabled]="deleteLoading" (click)="delete()">{{'delete_namespace'|translate}}</button>
    </div>
  </ng-container>
  <ng-container *ngIf="currStep === 2">
    <rc-inline-notification type="success" [content]="'create_namespace_tip2' | translate" [closable]="false">
    </rc-inline-notification>
    <rc-accounts-list [projectName]="project.name" [k8sNamespaceName]="setting.name" [clusterNames]="selectClusterNames.join(',')"
      [isCreate]="true" [k8sNamespaceUuid]="namespaceUuid"></rc-accounts-list>
    <div class="namespace-create__divider"></div>
    <div class="namespace-create__footer">
      <button aui-button="primary" (click)="complete()">{{'complete'|translate}}</button>
    </div>
  </ng-container>
</div>
