.service-detail-tab-list {
  display: flex;
}
.service-detail-tab-list-label {
  height: 28px;
  padding: 4px 12px;
  margin-right: 8px;
  border-radius: 2px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  cursor: pointer;
  &.active {
    background-color: #e6f2f8;
    color: #24a7e3;
    border-color: #24a7e3;
  }
}
.service-table-label {
  margin: 20px 0 8px;
  font-size: 16px;
}
.x-affinity-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
  .x-affinity-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    border-radius: 2px;
    border: solid 1px #eee;
    background-color: #fafafa;
    margin-right: 9px;
    padding: 4px 12px;
    color: #666;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
.table-cell-items-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
  .table-cell-item {
    height: 28px;
    border-radius: 2px;
    border: solid 1px #eee;
    background-color: #fafafa;
    margin-right: 9px;
    padding: 4px 12px;
    color: #666;
    align-items: center;
    line-height: 18px;
    margin-bottom: 10px;
  }
}
