<rc-form-container [rcLoadingMask]="loading">
  <div>
    <form class="rb-form" *ngIf="instanceDetailData && instanceUpdateParameters.length !== 0" #instanceUpdateParamsForm="ngForm">
      <!-- 参数 -->
      <rc-form-field *ngFor="let param of instanceUpdateParameters" [label]="param[0]" [shouldFlexRow]="true" class="binding-app">
          <input rcInput
                 [name]="param[0]"
                 [type]="handleType(param[1].type)"
                 [value]="param[1].value || ''"
                 [(ngModel)]="updateParamsPayload.spec.parameters[param[0]]"
                 (ngModelChange)="handleType(param[1].type) === 'number' &&
                                  updateParamsPayload.spec.parameters[param[0]]=parseInt($event);">
          <span class="fa fa-question-circle description-question-circle"
                *ngIf="param[1].description"
                rcFormAddon
                [rcTooltip]="param[1].description"
                [rcTooltipInline]="false"
                rcTooltipMode="info"
                rcTooltipPosition="top center">
          </span>
      </rc-form-field>
    </form>
  </div>
  <div *ngIf="instanceUpdateParameters.length === 0 && !loading" class="empty-message">{{ 'no_data' | translate }}</div>

  <ng-container *rcFooterContent>
    <div *ngIf="instanceDetailData">
      <button fxFlexOffset="200px" rcButton (click)="cancel()">{{'cancel' | translate}}</button>
      <button fxFlexOffset="12px" rcButton="primary"
              [loading]="submitting"
              [disabled]="instanceUpdateParameters.length === 0 && !loading"
              (click)="confirm()">{{'update' | translate}}</button>
    </div>
  </ng-container>
</rc-form-container>