@import 'colors.styles';
:host {
  ::ng-deep {
    .ui.loader:after {
      border-color: #767676 transparent transparent !important;
    }
    .ui.loader:before {
      border-color: rgba(0, 0, 0, 0.1) !important;
    }
  }
  ::ng-deep .rc-form-panel {
    border: 0px !important;
    padding: 0px 16px !important;
  }
  .empty-message {
    width: 100%;
    text-align: center;
    color: $gray-7;
    margin-top: 50px;
  }
}
