<div class="log-sources-toolbar">
    <aui-form-field label="{{ 'monitor_aggregator' | translate }}">
        <aui-select [(ngModel)]="selectedAggregator"
            (ngModelChange)="onLoadCharts($event)">
            <aui-option *ngFor="let aggregator of aggregators"
                [value]="aggregator.key"
                [label]="aggregator.name | translate">{{ aggregator.name | translate }}</aui-option>
        </aui-select>
    </aui-form-field>
    <aui-form-field label="{{ 'monitor_period' | translate }}">
        <aui-select [(ngModel)]="selectedTimeStampOption"
            (ngModelChange)="onTimeStampOptionSelect($event)">
            <aui-option *ngFor="let timeStampOption of timeStampOptions"
                [value]="timeStampOption.type"
                [label]="timeStampOption.name | translate">{{ timeStampOption.name | translate }}</aui-option>
        </aui-select>
    </aui-form-field>
    <div *ngIf="selectedTimeStampOption === 'custom_time_range'">
        <div style="display: inline-block;">
            <label>{{ 'from' | translate }}：</label>
            <div class="input-wrapper" style="display: inline-block;" (valueChange)="onStartTimeSelect($event)" [rcCalendar]="dateTimeOptions" [(value)]="queryDatesShown.start_time">
                <input rcInput class="input" [value]="queryDatesShown.start_time" />
            </div>
        </div>
        <div style="display: inline-block;">
            <label>&nbsp;&nbsp;{{ 'to' | translate }}：</label>
            <div class="input-wrapper" style="display: inline-block;" (valueChange)="onEndTimeSelect($event)" [rcCalendar]="dateTimeOptions" [(value)]="queryDatesShown.end_time">
                <input rcInput class="input" [value]="queryDatesShown.end_time" />
            </div>
        </div>
        <button aui-button="primary"
            (click)="onLoadCharts()"
            class="searchBtn">
            {{ 'confirm' | translate }}
        </button>
    </div>
</div>

<div class="chart-container">
    <div class="chart-title">{{ 'cpu_utilization' | translate }}</div>
    <div class="chart" [rcLoadingMask]="chartLoading">
        <rc-charts-line-chart
          [results]="cpuData"
          [xAxis]="true"
          [yAxis]="true"
          [autoScale]="true"
          [scheme]="chart.scheme"
          [roundDomains]="true"
          [showGridLines]="chart.showGridLines"
          [gradient]="chart.gradient"
          [xAxisTickFormatting]="chart.xAxisTickFormatting"
          [yAxisTickFormatting]="chart.yAxisTickFormattingPercent"
          [xAxisTickWidth]="120"
          [yScaleMin]="cpuChartScale.yScaleMin"
          [yScaleMax]="cpuChartScale.yScaleMax"
          *ngIf="cpuData.length && !chartLoading">
          <ng-template #tooltipTemplate let-model="model">
            <div class="rc-chart-tooltip-item">{{model.name * 1000 | rcFormatUtcStr}}</div>
            <div class="rc-chart-tooltip-item">{{'data' | translate}}: {{model.value}}</div>
          </ng-template>
          <ng-template #seriesTooltipTemplate let-model="model">
            <div class="rc-chart-tooltip-item">{{model[0].name * 1000 | rcFormatUtcStr}}</div>
              <div *ngFor="let tooltipItem of model" class="rc-chart-tooltip-item">
                <span class="tooltip-item-color" [style.background-color]="tooltipItem.color"></span>
                <span>{{ tooltipItem.series }}: {{ (tooltipItem.value*100).toFixed(4) }}%</span>
            </div>
          </ng-template>
        </rc-charts-line-chart>
        <div class="no_data"
            *ngIf="cpuData.length === 0 && !chartLoading">
            {{ 'no_data' | translate }}
        </div>
    </div>
</div>

<div class="chart-container">
    <div class="chart-title">{{ 'memory_utilization' | translate }}</div>
    <div class="chart" [rcLoadingMask]="chartLoading">
        <rc-charts-line-chart
          [results]="memData"
          [xAxis]="true"
          [yAxis]="true"
          [autoScale]="true"
          [scheme]="chart.scheme"
          [roundDomains]="true"
          [showGridLines]="chart.showGridLines"
          [gradient]="chart.gradient"
          [xAxisTickFormatting]="chart.xAxisTickFormatting"
          [yAxisTickFormatting]="chart.yAxisTickFormattingPercent"
          [xAxisTickWidth]="120"
          [yScaleMin]="memChartScale.yScaleMin"
          [yScaleMax]="memChartScale.yScaleMax"
          *ngIf="memData.length && !chartLoading">
          <ng-template #tooltipTemplate let-model="model">
            <div class="rc-chart-tooltip-item">{{model.name * 1000 | rcFormatUtcStr}}</div>
            <div class="rc-chart-tooltip-item">{{'data' | translate}}: {{model.value}}</div>
          </ng-template>
          <ng-template #seriesTooltipTemplate let-model="model">
            <div class="rc-chart-tooltip-item">{{model[0].name * 1000 | rcFormatUtcStr}}</div>
              <div *ngFor="let tooltipItem of model" class="rc-chart-tooltip-item">
                <span class="tooltip-item-color" [style.background-color]="tooltipItem.color"></span>
                <span>{{ tooltipItem.series }}: {{ (tooltipItem.value*100).toFixed(4) }}%</span>
            </div>
          </ng-template>
        </rc-charts-line-chart>
        <div class="no_data"
            *ngIf="memData.length === 0 && !chartLoading">
            {{ 'no_data' | translate }}
        </div>
    </div>
</div>
