:host {
  display: block;
  ::ng-deep {
    .aui-form-field__label {
      width: auto;
    }
    .aui-form-field__control {
      width: auto;
    }
    .aui-form-field__hint {
      display: none;
    }
    .aui-paginator-range-label {
      display: none;
    }
  }
}

.log-sources-toolbar {
  display: flex;
  flex-wrap: wrap;
  aui-form-field {
    margin-bottom: 12px;
    margin-right: 24px;
  }
  aui-select {
    width: 200px;
  }
  .searchBtn {
    margin-left: 8px;
    vertical-align: bottom;
  }
}

.chart-container {
  height: 240px;
  padding: 16px 0;
  background-color: #fff;
  .chart-title {
    padding: 10px 8px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    background: #fafafa;
  }
  .chart {
    height: 188px;
    .no_data {
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 100px;
    }
  }
}
