@import 'colors.styles';

$bg-color: #fafafa;
$border-color: #ccc;

.server-container {
  display: flex;
}

.modal-footer {
  padding: 0;
  margin-top: 20px;
  border-top: 0;
}

.placehodler {
  flex-basis: 20px;
}

.config-container {
  position: relative;
  flex: 1;
  background-color: $bg-color;
  padding: 30px 0 20px 16px;
  min-height: 400px;
}

.config-type {
  position: absolute;
  top: -10px;
  left: 16px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px #e8e8e8;
  padding: 6px 20px;
  font-weight: 500;

  + .fa {
    position: absolute;
    right: 16px;
    top: 0;
    font-size: 16px;
  }
}

.unset-wrapper {
  padding-right: 16px;
}

.config-unset {
  height: 320px;
  border: 1px dashed $border-color;
  color: $border-color;
  display: flex;
  align-items: center;
  justify-content: center;

  + ::ng-deep {
    button {
      display: block;
      margin: 20px auto;
      padding: 6px 12px;
      border-radius: 3px;
      color: $button-primary-border-color;
      border-color: $button-primary-border-color;
      background-color: $button-default-background-color;
    }
  }
}

.config-row {
  display: flex;

  > * {
    flex: 1;
  }

  rc-form-field ::ng-deep .addon-container {
    padding-left: 4px;
    min-width: 36px;
  }
}

.rc-form-field-type-rc-radio-group ::ng-deep .addon-container {
  display: none;
}

.form-field {
  color: #333;

  label {
    margin-bottom: 5px;

    .required-mark {
      color: $text-warnings-color;
    }
  }

  .field-container {
    margin-right: 36px;
  }
}

.rc-form-table ::ng-deep .hint-label-wrapper {
  display: none;
}
