<form #form="ngForm"
      (ngSubmit)="close.emit('confirm')">
  <div class="server-container">
    <ng-container *ngFor="let configType of configTypes; index as configItemIndex">
      <div *ngIf="configItemIndex"
           class="placehodler"></div>
      <div class="config-container">
        <div class="config-type">{{ 'k8s_service_' + configType | translate }}</div>
        <div *ngIf="!healthCheckConfig[configType]"
             class="unset-wrapper">
          <div class="config-unset">{{ 'k8s_service_no_' + configType + '_health_check' | translate }}</div>
          <button (click)="addConfigItem(configType)">
            {{ 'k8s_service_add_' + configType + '_health_check_items' | translate }}
          </button>
        </div>
        <ng-container *ngIf="healthCheckConfig[configType]">
          <i class="fa fa-trash-o"
             role="button"
             (click)="removeConfigItem(configType)"></i>
          <div class="config-row">
            <rc-form-field-column [label]="'k8s_service_protocol' | translate"
                                  [shouldFlexRow]="true">
              <rc-radio-group [name]="configType + '.protocol'"
                              #protocolType
                              [options]="protocolOptions"
                              [(ngModel)]="healthCheckConfig[configType].protocol"
                              required>
              </rc-radio-group>
            </rc-form-field-column>
            <rc-form-field-column [label]="'k8s_service_initial_delay_seconds' | translate"
                                  [shouldFlexRow]="true">
              <input rcInput
                     type="number"
                     [name]="configType + '.initialDelaySeconds'"
                     [(ngModel)]="healthCheckConfig[configType].initialDelaySeconds"
                     required>
              <span rcFormSuffix>s</span>
              <i class="fa fa-question-circle"
                 rcFormAddon></i>
            </rc-form-field-column>
          </div>
          <div class="config-row">
            <rc-form-field-column [label]="'k8s_service_period_seconds' | translate"
                                  [shouldFlexRow]="true">
              <input rcInput
                     type="number"
                     [name]="configType + '.periodSeconds'"
                     [(ngModel)]="healthCheckConfig[configType].periodSeconds"
                     required>
              <span rcFormSuffix>s</span>
              <i class="fa fa-question-circle"
                 rcFormAddon></i>
            </rc-form-field-column>
            <rc-form-field-column [label]="'k8s_service_timeout_seconds' | translate"
                                  [shouldFlexRow]="true">
              <input rcInput
                     type="number"
                     [name]="configType + '.timeoutSeconds'"
                     [(ngModel)]="healthCheckConfig[configType].timeoutSeconds"
                     required>
              <span rcFormSuffix>s</span>
              <i class="fa fa-question-circle"
                 rcFormAddon></i>
            </rc-form-field-column>
          </div>
          <div class="config-row">
            <rc-form-field-column [label]="'k8s_service_success_threshold' | translate"
                                  [shouldFlexRow]="true">
              <input rcInput
                     type="number"
                     [name]="configType + '.successThreshold'"
                     [(ngModel)]="healthCheckConfig[configType].successThreshold"
                     required>
              <span rcFormSuffix>{{ "times" | translate }}</span>
              <i class="fa fa-question-circle"
                 rcFormAddon></i>
            </rc-form-field-column>
            <rc-form-field-column [label]="'k8s_service_failure_threshold' | translate"
                                  [shouldFlexRow]="true">
              <input rcInput
                     type="number"
                     [name]="configType + '.failureThreshold'"
                     [(ngModel)]="healthCheckConfig[configType].failureThreshold"
                     required>
              <span rcFormSuffix>{{ "times" | translate }}</span>
              <i class="fa fa-question-circle"
                 rcFormAddon></i>
            </rc-form-field-column>
          </div>
          <div class="config-row">
            <rc-form-field-column *ngIf="healthCheckConfig[configType].protocol === 'HTTP'"
                                  [label]="'k8s_service_scheme' | translate"
                                  [shouldFlexRow]="true">
              <rc-radio-group required
                              [name]="configType + '.kind'"
                              [(ngModel)]="healthCheckConfig[configType].scheme"
                              [options]="schemeOptions">
              </rc-radio-group>
              <i class="fa fa-question-circle"
                 rcFormAddon></i>
            </rc-form-field-column>
            <rc-form-field-column *ngIf="healthCheckConfig[configType].protocol === 'HTTP' || healthCheckConfig[configType].protocol ==='TCP'"

                                  [label]="'k8s_service_port' | translate"
                                  [shouldFlexRow]="true">
              <input rcInput
                     type="number"
                     [name]="configType + '.port'"
                     [(ngModel)]="healthCheckConfig[configType].port"
                     required>
              <i class="fa fa-question-circle"
                 rcFormAddon></i>
            </rc-form-field-column>
            <div *ngIf="healthCheckConfig[configType].protocol ==='TCP'"></div>
          </div>
          <div class="config-row">
            <rc-form-field-column *ngIf="healthCheckConfig[configType].protocol === 'HTTP'"
                                  [label]="'k8s_service_path' | translate"
                                  [shouldFlexRow]="true">
              <input rcInput
                     type="text"
                     [name]="configType + '.path'"
                     [(ngModel)]="healthCheckConfig[configType].path"
                     required>
            </rc-form-field-column>
          </div>

          <div *ngIf="healthCheckConfig[configType].protocol === 'HTTP'"
               class="form-field">
            <label>{{ 'healthcheck_request_headers' | translate }}</label>
            <div class="field-container">
              <table class="rc-form-table">
                <thead>
                  <tr>
                    <td>name</td>
                    <td>value</td>
                    <td style="width: 40px;"></td>
                  </tr>
                </thead>
                <tbody *ngIf="healthCheckConfig[configType].headers?.length">
                  <tr class="rc-form-input"
                      *ngFor=" let item of healthCheckConfig[configType].headers; let i = index; trackBy: trackByIndex">
                    <td>
                      <input [name]="configType + '.name-' + i"
                             rcInput
                             type="text"
                             [(ngModel)]="item.name">
                    </td>
                    <td>
                      <input [name]="configType + '.value-' + i"
                             rcInput
                             type="text"
                             [(ngModel)]="item.value">
                    </td>
                    <td>
                      <a class="form-action-button"
                         href="javascript:void(0)"
                         (click)="removeHeader(configType, i)">
                        <i class="fa fa-minus-circle"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="!healthCheckConfig[configType].headers?.length"
                   class="rc-form-table-empty">
                {{'no_header' | translate}}
              </div>
              <div class="rc-form-table-add-row"
                   (click)="addHeader(configType)">
                <i class="fa fa-plus-circle"></i>
                {{ 'add' | translate }}
              </div>
            </div>
          </div>

          <div *ngIf="healthCheckConfig[configType].protocol === 'EXEC'"
               class="form-field exec-commands-container">
            <label>{{ 'k8s_service_command' | translate }}</label>
            <table *ngIf="healthCheckConfig[configType].commands"
                   class="rc-form-table">
              <tbody>
                <tr *ngFor="let item of healthCheckConfig[configType].commands; let i = index; trackBy: trackByIndex">
                  <td>
                    <rc-form-field-column [shouldFlexRow]="true">
                      <input [name]="configType + '.command-' + i"
                             rcInput
                             [placeholder]="'please_input_command' | translate"
                             type="text"
                             [(ngModel)]="item.command"
                             required>
                      <a class="form-action-button"
                         href="javascript:void(0)"
                         rcFormAddon
                         (click)="removeCommand(configType, i)">
                        <i class="fa fa-minus-circle"></i>
                      </a>
                    </rc-form-field-column>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="rc-form-table-add-row"
                 (click)="addCommand(configType)">
              <i class="fa fa-plus-circle"></i>
              {{ 'add' | translate }}
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="modal-footer">
    <button rcButton
            (click)="close.emit('cancel')">{{ 'cancel' | translate }}</button>
    <button *ngIf="prevStep"
            rcButton
            (click)="close.emit('prevSetp')">{{ 'prev_step' | translate }}</button>
    <button rcButton="primary"
            type="submit">{{ 'save' | translate }}</button>
  </div>
</form>
