<div *ngIf="!serviceVm"
     style="height:400px"
     [rcLoadingMask]="true"></div>
<ng-container *ngIf="serviceVm">
  <h5 class="container-header">
    {{ 'container_name' | translate }}
    {{ 'colon_mark' | translate }}
    <small>{{ serviceVm.containers[activeIndex].config.name }}</small>
  </h5>
  <rc-k8s-service-health-check-config [prevStep]="serviceVm.containers.length > 1"

                                      [healthCheckConfig]="serviceVm.containers[activeIndex].config.healthCheck"
                                      (formChanged)="form= $event"
                                      (close)="closeModal($event)"></rc-k8s-service-health-check-config>
</ng-container>
