<!-- Service Selection type-->
<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'pipeline_task_select_service' | translate }}
  </div>
  <div layout="column">
    <rb-radio-group style="margin: 5px 0; align-self: flex-start;"
                    on-change="vm.selectServiceTypeChanged(option.type)"
                    key="displayName"
                    value="type"
                    readonly="vm.workflow.readonly"
                    init="vm.selectServiceType"
                    options="vm.selectServiceTypes">
    </rb-radio-group>
  </div>
</div>

<!-- Region -->
<div class="rb-form-row input">
  <div class="rb-label"
       flex="25">
    {{ 'region' | translate }}
  </div>

  <!-- Selection mode -->
  <rb-dropdown ng-if="!vm.showRegionAsLabel()"
               rb-loading-mask="!(vm.regions$ | rbAsync:this)"
               on-change="vm.regionChanged(option)"
               key="display_name"
               value="id"
               is-disabled="vm.workflow.readonly"
               init="vm.item.model.region_uuid"
               options="vm.regions$ | rbAsync:this">
  </rb-dropdown>

  <!-- Label mode -->
  <span ng-if="vm.showRegionAsLabel()">
    {{ (vm.item.region$ | rbAsync:this).display_name | rbFieldNotAvailable }}
  </span>
</div>

<!-- Select Service -->
<!-- Hidden field to make sure the form is in invalid state if service is null -->
<input type="text"
       class="hidden"
       name="link_service_name"
       ng-model="vm.item.model.data.link.name"
       required>
<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'service' | translate }}
  </div>
  <rb-dropdown rb-errors-tooltip="vm.form['link_service_name']"
               rb-errors-tooltip-mapper="{ required: ('pipeline_config_task_select_service_hint' | translate) }"

               rb-loading-mask="!(vm.availableServices$ | rbAsync:this)"
               on-change="vm.linkServiceChanged(option.value)"
               key="displayName"
               value="uuid"
               is-disabled="vm.workflow.readonly"
               init="vm.item.model.data.link.uuid"
               placeholder="{{ 'pipeline_config_task_select_service_hint' | translate }}"
               options="vm.availableServices$ | rbAsync:this">
  </rb-dropdown>
</div>

<!-- Instance type-->
<div class="rb-form-row input"
     ng-hide="vm.showRegionAsLabel()">
  <div class="rb-label">
    {{ 'pipeline_instance_selection' | translate }}
  </div>
  <div layout="column">
    <rb-radio-group style="margin: 5px 0; align-self: flex-start;"
                    on-change="vm.instanceSelectionChanged(option.type)"
                    key="displayName"
                    value="type"
                    readonly="vm.workflow.readonly"
                    init="vm.instanceSelection"
                    options="vm.instanceSelections">
    </rb-radio-group>
  </div>
</div>

<div ng-if="vm.isNewK8sRegion && vm.showInstanceDropdown()">
  <div class="rb-form-row input">
    <div class="rb-label">
      {{ 'service_exec_group' | translate }}
    </div>
    <rb-dropdown rb-loading-mask="!vm.serviceInstances"
                 key="name"
                 value="uuid"
                 on-change="vm.onInstanceGroupChange(option)"
                 is-disabled="vm.workflow.readonly"
                 init="vm.item.model.data.link.uuid"
                 placeholder="{{ 'pipeline_instance_selection' | translate }}"
                 options="vm.serviceInstances">
    </rb-dropdown>
  </div>

  <div class="rb-form-row input">
    <div class="rb-label">
      {{ 'container' | translate }}
    </div>
    <rb-dropdown rb-loading-mask="!vm.serviceContainers"
                 key="name"
                 value="name"
                 on-add="vm.onContainerAdded(option)"
                 multiple="true"
                 is-disabled="vm.workflow.readonly"
                 init="vm.initContainers"
                 placeholder="{{ 'pipeline_instance_selection' | translate }}"
                 options="vm.serviceContainers">
    </rb-dropdown>
  </div>
</div>
<!-- Instance -->
<div ng-if="!vm.isNewK8sRegion && vm.showInstanceDropdown()"
     class="rb-form-row input">
  <div class="rb-label">
    {{ 'instance' | translate }}
  </div>
  <rb-dropdown rb-loading-mask="!vm.instances"
               on-change="vm.instanceChanged(option)"
               key="instance_name"
               value="instance_name"
               is-disabled="vm.workflow.readonly"
               init="vm.item.model.data.instance"
               placeholder="{{ 'pipeline_instance_selection' | translate }}"
               options="vm.instances">
  </rb-dropdown>
</div>

<!-- Entrypoint -->
<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'entrypoint' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <input type="text"
         name="entrypoint"
         ng-model="vm.item.model.data.entrypoint"
         ng-disabled="vm.workflow.readonly"
         required
         placeholder="e.g., /bin/sh"
         rb-errors-tooltip>
</div>

<div class="rb-form-row input">
  <div class="rb-label multi-line">
    <div class="rb-label">
      <div>{{ 'command' | translate }}</div>
      <span class="rb-required-mark">*</span>
    </div>
    <div class="rb-label">
      <a href="#"
         class="rb-btn-link"
         ng-click="vm.commandHelpLinkClicked()">
        {{ 'common_commands' | translate }}
      </a>
    </div>
  </div>
  <div>
    <pre ng-show="vm.workflow.readonly">{{ vm.commands }}</pre>
    <ui-codemirror style="width: 100%"
                   ng-show="!vm.workflow.readonly"
                   ui-codemirror-opts="vm.editorOptions"
                   ui-refresh='vm.item.selected + vm.workflow.readonly'
                   name="command"
                   required
                   rb-errors-tooltip
                   ng-change="vm.commandChanged()"
                   ng-model="vm.commands">
    </ui-codemirror>
  </div>
</div>
