@import '../_colors.scss';

.rc-region-stats {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__detail {
    font-size: 14px;
    color: #9da4af;

    span + span {
      margin-left: 8px;
    }
  }

  &__content {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
  }

  &__label {
    width: 96px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
    font-size: 14px;
    color: #9da4af;
  }

  &__icon {
    margin-right: 4px;
    color: #4e5f6f;
  }

  &__progress-bar {
    width: 100%;
    height: 8px;
    background-image: linear-gradient(
      90deg,
      $color-ok 0%,
      $color-warning 75%,
      $color-error 100%
    );
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }

  &__progress-empty {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #dde8ed;
    transition: width 0.5s;
  }
}
