<rc-card
  [fitParent]="true">
  <rc-chart-container>
    <div
      class="rc-region-stats">
      <div class="rc-region-stats__group">
        <div class="rc-region-stats__detail">
          <span *ngIf="data">{{ data?.cpus_allocated.toFixed(2) }}/{{ data?.cpus_total }}</span>
          <span>{{ (data?.cpus_utilization*100).toFixed(1)+ '%' }}</span>
        </div>
        <div class="rc-region-stats__content">
          <div class="rc-region-stats__label">
            <i class="rb-icon-cpu rc-region-stats__icon"></i><span>CPU({{ 'unit_cpu' | translate }})</span>
          </div>
          <div class="rc-region-stats__progress-bar">
            <div class="rc-region-stats__progress-empty" [style.width]="(1-data?.cpus_utilization)*100+'%'"></div>
          </div>
        </div>
      </div>

      <div class="rc-region-stats__group">
        <div class="rc-region-stats__detail">
          <span *ngIf="data">{{ data?.mem_allocated }}/{{ data?.mem_total }}</span> <span>{{ (data?.mem_utilization*100).toFixed(1)+ '%' }}</span>
        </div>
        <div class="rc-region-stats__content">
          <div class="rc-region-stats__label">
            <i class="rb-icon-mem rc-region-stats__icon"></i><span>{{ 'chart_memory' | translate }}(MB)</span>
          </div>
          <div class="rc-region-stats__progress-bar">
            <div class="rc-region-stats__progress-empty" [style.width]="(1-data?.mem_utilization)*100+'%'"></div>
          </div>
        </div>
      </div>
    </div>
  </rc-chart-container>
</rc-card>
