<section class="accounts-list">
  <rc-loading-mask [loading]="loading && !loadingError"></rc-loading-mask>
  <div class="topbar" style="display: flex; justify-content: space-between; padding-bottom: 12px;">
    <div class="user-add" *ngIf="rolesAssignPermission">
        <input class="user-input" type="text" aui-input [(ngModel)]="selectedUser" [placeholder]="'username' | translate">
        <aui-select [(ngModel)]="selectedRole"
                    filterable
                    [disabled]="!accountTypes.length">
            <aui-option *ngFor="let item of accountTypes"
                        [value]="item"
                        [label]="item.template_display_name">{{ item.template_display_name }}</aui-option>
            <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
        </aui-select>
        <button aui-button="primary" [loading]="roleAdding" [disabled]="loading || loadingError || !selectedUser || !selectedRole" (click)="addAccount()" >{{ 'add_member' | translate }}</button>
    </div>
    <rc-search-input [loading]="loading && !loadingError"
                     (onSearch)="onSearch($event)">
    </rc-search-input>
  </div>
  <aui-table [dataSource]="users" style="margin-bottom: 20px;" *ngIf="!loadingError && !loading">
    <ng-container *ngFor="let column of columnDefs">
      <ng-container [auiTableColumnDef]="column.name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ column.label | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <ng-container [ngSwitch]="column.name">
            <ng-container *ngSwitchCase="'roles'">
              <ng-container *ngIf="item.roles && item.roles.length">
                <ng-container *ngIf="isCMB">
                  {{ item.roles[0].template_display_name || item.roles[0].role_name }}
                </ng-container>
                <ng-container *ngIf="!isCMB">
                  <a *ngIf="rolesViewPermission" class="tag" href="javascript:;" (click)="showRoleDetail(item.roles[0].role_name)">{{ item.roles[0].template_display_name ? (item.roles[0].role_name + '(' + item.roles[0].template_display_name + ')') : item.roles[0].role_name }}</a>
                  <span *ngIf="!rolesViewPermission" class="tag invalid">{{ item.roles[0].template_display_name ? (item.roles[0].role_name + '(' + item.roles[0].template_display_name + ')') : item.roles[0].role_name }}</span>
                  <aui-icon icon="basic:ellipsis_h_s"
                            class="icon"
                            [auiTooltip]="rolesTemplate"
                            auiTooltipType="plain"
                            auiTooltipTrigger="click"
                            *ngIf="item.roles.length > 1">
                  </aui-icon>
                  <ng-template #rolesTemplate>
                    <aui-card>
                      <div style="display: inline-block;" *ngFor="let role of item.roles" class="tag" [ngClass]="{invalid: !rolesViewPermission}">
                        <a *ngIf="rolesViewPermission"
                           href="javascript:;"
                           (click)="showRoleDetail(role.role_name)" >{{ role.template_display_name ? (role.role_name + '(' + role.template_display_name + ')') : role.role_name }}</a>
                        <span *ngIf="!rolesViewPermission">{{ role.template_display_name ? (role.role_name + '(' + role.template_display_name + ')') : role.role_name}}</span>
                        <aui-icon class="close_icon" icon="close_8" (click)="removeRole(item, role.role_name)"></aui-icon>
                      </div>
                    </aui-card>
                  </ng-template>
                </ng-container>
              </ng-container>
              <span *ngIf="!item.roles || !item.roles.length">-</span>
            </ng-container>
            <ng-container *ngSwitchCase="'type'">
              {{ (item.type === 'organizations.LDAPAccount' ? 'synced_by_ldap' : (item.type === 'organizations.TPAccount' ? 'create_by_thrid_party' : 'created_on_platform')) | translate }}
            </ng-container>
            <ng-container *ngSwitchCase="'is_valid'">
              <span class="validation-status"
                    [ngClass]="{ invalid: isInvalidAccount(item) }"
                    [rcTooltip]="(isInvalidAccount(item)?'invalid_ldap_user_tip' : '') | translate"
                    rcTooltipPosition="top">
                    {{ (isInvalidAccount(item)?'invalid':'valid') |  translate }}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'assigned_at'">
              {{ item.roles[0].assigned_at | rcFormatUtcStr }}
            </ng-container>
            <ng-container *ngSwitchCase="'action'">
              <div style="display: flex; justify-content: center;" class="button-group">
                <aui-icon *ngIf="rolesRevokePermission" icon="basic:minus_circle" class="icon" (click)="removeUser(item)"></aui-icon>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ item[column.name] }}
            </ng-container>
          </ng-container>
        </aui-table-cell>
      </ng-container>
    </ng-container>
    <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
  </aui-table>
  <div class="zero-state" *ngIf="zeroState" >{{ 'no_data' | translate }}</div>
  <rc-pagination2 [page]="currentUserPage" [count]="userCount" [pageSize]="20" (pageChanged)="pageChanged($event)"></rc-pagination2>
  <div *ngIf="loadingError" class="rb-loading-mask-placeholder">
    <span>{{ 'data_load_error' | translate }}</span>
    <button aui-button="primary" (click)="refetch()">
      {{ 'refresh' | translate }}
    </button>
  </div>
</section>
