:host {
  .user-add {
    display: flex;
    align-items: center;
    .user-input {
      margin-right: 8px;
    }
    .aui-button {
      white-space: nowrap;
    }
    aui-select {
      margin-right: 8px;
      min-width: 260px;
    }
  }

  .accounts-list {
    position: relative;
    rc-loading-mask {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  ::ng-deep .rc-pagination {
    margin: 20px 0;
  }

  .validation-status {
    padding-left: 4px;
    &:before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 2px;
      margin-bottom: 1px;
    }

    &:not(.invalid) {
      color: #5bbae4;

      &:before {
        background-color: #5bbae4;
        box-shadow: 0 0 0 3px rgba(91, 186, 228, 0.2);
      }
    }

    &.invalid {
      color: #cbd3d8;

      &:before {
        background-color: #cbd3d8;
        box-shadow: 0 0 0 3px rgba(203, 211, 216, 0.2);
      }
    }
  }

  .zero-state {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 42px;
    color: #ccc;
  }

  ::ng-deep .aui-card__header {
    > div {
      width: 100%;
      display: flex;
    }
  }

  .icon {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    transition: 0.3s;
    color: #999;
    &:hover {
      color: #009ce3;
    }
  }
}

::ng-deep {
  .mat-menu-panel .mat-menu-content {
    padding: 0;
    .mat-menu-item {
      line-height: 32px;
      height: 32px;
      padding: 0 8px;
      font-size: 14px;
    }
  }

  .tag {
    display: inline-block;
    background: #f2fafe;
    line-height: 28px;
    font-size: 14px;
    border-radius: 14px;
    padding: 0 8px;
    border: solid 1px #e5f5fc;
    max-width: 90%;
    &.invalid {
      background-color: #f2f2f2;
      border: solid 1px transparent;
      .close_icon {
        cursor: pointer;
        color: #999 !important;
        &:hover {
          color: #333 !important;
        }
      }
    }
  }

  .aui-tooltip {
    .aui-card {
      max-width: 600px !important;
      .tag {
        margin: 2px 4px;
        .close_icon {
          cursor: pointer;
          color: #2a8baf;
          &:hover {
            color: #0e303d;
          }
        }
      }
    }
  }
}
