<rc-form-container>
  <div [rcLoadingMask]="!initialized || submitting">
    <ng-container>
      <div class="rc-form-field">
        <label class="form-field-label">{{'storage_volume_name'|translate}}</label>
        <div class="form-field-value">{{volume.name}}</div>
      </div>
      <form #snapshotForm="ngForm">
        <rc-form-field label="{{'storage_snapshot_name' | translate}}"
                       [shouldFlexRow]="true"
                       [hideErrors]="true">
          <input  rcInput
                  name="snapshotName"
                  [rcErrorsTooltip]
                  [rcErrorsTooltipMapper]="errorMapper"
                  [(ngModel)]="data.name"
                  pattern="^[a-z][a-z0-9\-\_]*$"
                  required>
        </rc-form-field>
      </form>
      <ng-container *rcFooterContent>
        <button rcButton
                (click)="cancel()"
                [disabled]="submitting">
          {{'cancel'|translate}}
        </button>
        <button rcButton="primary"
                (click)="submit()"
                [disabled]="submitting"
                [class.loading] = "submitting">
          {{'create'|translate}}
        </button>
      </ng-container>
    </ng-container>
  </div>
</rc-form-container>
