@import 'form.styles';

.rc-form-field {
  display: flex;
  line-height: $form-row-height;
  margin-bottom: 8px;
}
.form-field-label {
  width: 140px;
  text-align: right;
  padding-right: 16px;
  font-weight: normal;
}
