<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_catalog' | translate }}
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_catalog_repo_manager' | translate }}
    </ng-container>
  </rc-breadcrumb>
  <span class="fa fa-info-circle repo-notification"
        (click)="showNoti()">
  </span>
</div>
<rc-inline-notification *ngIf="showNotification"
                        (close)="closeNoti()"
                        type="info"
                        closable='true'
                        content="{{'app_catalog_repo_list_toast_message' | translate}}">
</rc-inline-notification>

<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<ng-container *ngIf="initialized">
  <rc-app-catalog-template-empty-view *ngIf="empty && !queryString; else repoList" [permission]="permission"></rc-app-catalog-template-empty-view>

  <ng-template #repoList>
    <aui-card>
      <div fxLayout="row" class="rc-list-header">
        <button *ngIf="permission" rcButton="primary" (click)="createRepo()">
          {{ "app_catalog_add_repository" | translate }}
        </button>
        <span fxFlex></span>
        <rc-search-input (onSearch)="searchChanged($event)" [placeholder]="'search_by_name_placeholder' | translate"></rc-search-input>
      </div>

      <aui-table #catalogRepository [dataSource]="templateRepositoryItems || []" [trackBy]="trackByFn">
        <!-- 仓库名称 -->
        <ng-container auiTableColumnDef="repositoryName">
          <aui-table-header-cell *auiTableHeaderCellDef>{{'app_catalog_template_repository_name' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <div class="rc-resource-name-cell row-image">
              <span *ngIf="item.status === 'IN_PROGRESS'" class="fa fa-refresh app-catalog-sync-circle" [rcTooltip]="'app_catalog_repository_sync' | translate"
                [rcTooltipInline]="false" rcTooltipMode="info" rcTooltipPosition="top"></span>
              <span *ngIf="item.status === 'FAIL'" class="fa fa-times-circle app-catalog-fail-circle" [rcTooltip]="'app_catalog_repository_fail' | translate"
                [rcTooltipInline]="false" rcTooltipMode="error" rcTooltipPosition="top"></span>
              <img src="/static/images/app-catalog/template_repo.svg" [ngClass]="{'app-catalog-error-image':item.status !== 'SUCCESS'}">
              <div class="rc-lines">
                <div class="rc-line">
                  <a href="javascript:void(0)" (click)="viewRepo(item.uuid)">
                    {{ item.display_name === '' ? item.name : item.display_name }}
                  </a>
                </div>
                <div class="rc-line">
                  <span>{{ 'name' | translate }}:</span>{{ item.name }}</div>
              </div>
            </div>
          </aui-table-cell>
        </ng-container>
        <!-- 模版数 -->
        <ng-container auiTableColumnDef="templateNum">
          <aui-table-header-cell *auiTableHeaderCellDef>{{'app_catalog_template_num' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.template_num }}{{'service_catalog_measure_word' | translate}}
          </aui-table-cell>
        </ng-container>
        <!-- 仓库类型 -->
        <ng-container auiTableColumnDef="repoType">
          <aui-table-header-cell *auiTableHeaderCellDef>{{'build_code_repo_client' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.type }}
          </aui-table-cell>
        </ng-container>
        <!-- 仓库链接 -->
        <ng-container auiTableColumnDef="repoUrl">
          <aui-table-header-cell *auiTableHeaderCellDef>{{'app_catalog_repository_url' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <a [href]="item.url" target="_blank">{{ item.url }}</a>
          </aui-table-cell>
        </ng-container>
        <!-- `action` -->
        <ng-container auiTableColumnDef="action">
          <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <div [auiDropdown]="menu" class="action-button">
              <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
            </div>
            <aui-menu #menu size="small">
              <aui-menu-item *ngIf="permission && item.status === 'SUCCESS'" (click)="syncTemplate(item)">
                {{ 'sync' | translate }}
              </aui-menu-item>
              <aui-menu-item (click)="viewRepo(item.uuid)">
                {{ 'view' | translate }}
              </aui-menu-item>
              <aui-menu-item *ngIf="permission && (item.status === 'FAIL' || item.status === 'SUCCESS')" (click)="updateRepo(item)">
                {{ 'update' | translate }}
              </aui-menu-item>
              <aui-menu-item *ngIf="permission && (item.status === 'FAIL' || item.status === 'SUCCESS')" (click)="deleteRepo(item)">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </aui-menu>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row *auiTableHeaderRowDef="['repositoryName', 'templateNum', 'repoType', 'repoUrl', 'action']">
        </aui-table-header-row>
        <aui-table-row *auiTableRowDef="let row; columns: ['repositoryName', 'templateNum', 'repoType', 'repoUrl', 'action'];">
        </aui-table-row>
      </aui-table>

      <section class="rc-list-pagination">
        <rc-pagination [count]="count" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"></rc-pagination>
      </section>
    </aui-card>
  </ng-template>
</ng-container>

<ng-template #dialogTemplate let-message="message">
  <div>
    {{ message }},{{ 'app_catalog_please_update' | translate }}
    <a (click)="updateRepo(syncRepository)">{{ 'app_catalog_template_repository_config' | translate }}</a>
  </div>
</ng-template>

<ng-template #retryTemplate let-message="message">
  <div>
    {{ message }},{{ 'app_catalog_please' | translate }}
    <a (click)="syncTemplate(syncRepository)">{{ 'app_catalog_retry' | translate }}</a>
  </div>
</ng-template>
