@import 'colors.styles';
@import 'list.styles';

.repo-notification {
  float: right;
  font-size: 16px;
  margin-top: 8px;
  cursor: pointer;
  color: #2fa7df;
}

:host {
  ::ng-deep rc-inline-notification {
    .wrapper {
      max-width: none !important;
      padding: 12px 100px !important;
      .spec.middle {
        max-width: none !important;
      }
    }
  }

  .rc-list-pagination {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }

  .row-image {
    position: relative;
    > span {
      position: absolute;
      top: 30px;
      left: 33px;
      z-index: 1;
    }
  }

  .app-catalog-sync-circle {
    padding: 2px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    background-color: $blue-6;
    margin-right: 5px;
  }

  .app-catalog-fail-circle {
    font-size: 16px;
    color: red;
  }

  .app-catalog-error-image {
    opacity: 0.3;
  }
}
