<table class="table-condensed rb-fieldset-table">
  <thead>
  <tr>
    <td style="width:180px;">{{'ports'|translate}}</td>
    <td style="width:200px;">{{'service_address_type'|translate}}</td>
    <td style="width:200px;">IP&nbsp;{{'address'|translate}}</td>
    <td>{{'service_port'|translate}}</td>
    <td style="width:70px;"></td>
  </tr>
  </thead>
  <tbody>

  <tr ng-repeat="item in vm.instancePorts track by $index">
    <td>
      <rb-dropdown ng-if="vm.isHostNetwork()"
                   options="vm.clonedContainerPorts"
                   init="item.container_port"
                   on-change="vm.onContainerPortChange(option, item)"></rb-dropdown>
      <div ng-if="!vm.isHostNetwork()" class="ui buttons fluid">
        <div class="ui input fluid">
          <input type="number"
                 ng-model="item.container_port"
                 placeholder="{{'ports_placeholder'|translate}}"
                 max="65535"
                 min="1"
                 style="width:120px;">
        </div>
        <rb-dropdown
          ng-if="vm.imagePorts.length"
          options="vm.imagePorts"
          floating="true"
          on-change="vm.onContainerPortChange(option, item)"></rb-dropdown>
      </div>
    </td>

    <td>
      <rb-dropdown
        options="vm.endpointTypes"
        key="name"
        value="value"
        init="item.endpoint_type"
        on-change="vm.onEndpointTypeChange(option, item)"></rb-dropdown>
    </td>

    <td>
      <span ng-if="vm.internalIpList.length === 0 && item.endpoint_type==='internal-endpoint' || vm.externalIpList.length === 0 && item.endpoint_type!=='internal-endpoint'">{{ item.ipaddress | translate }}</span>
      <rb-dropdown ng-if="vm.internalIpList.length > 0 && item.endpoint_type==='internal-endpoint'"
                   options="vm.internalIpList"
                   init="item.ipaddress"
                   on-change="vm.onIpAddressChange(option, item)"></rb-dropdown>
      <rb-dropdown ng-if="vm.externalIpList.length > 0 && item.endpoint_type!=='internal-endpoint'"
                   options="vm.externalIpList"
                   init="item.ipaddress"
                   on-change="vm.onIpAddressChange(option, item)"></rb-dropdown>
    </td>

    <td>
      <span ng-if="['http-endpoint', 'internal-http-endpoint'].includes(item.endpoint_type)">{{ item.service_port }}</span>
      <div ng-if="!['http-endpoint', 'internal-http-endpoint'].includes(item.endpoint_type)" class="ui mini fluid input">
        <input type="number"
               ng-model="item.service_port"
               placeholder="{{'ports_random_placeholder'|translate}}"
               max="65535"
               min="1">
      </div>
    </td>

    <td>
      <button class="rb-fieldset-action-btn" ng-click="vm.deleteItem($index)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <button ng-click="vm.addItem()" class="rb-fieldset-add-btn">
        <i class="fa fa-plus"></i>
      </button>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>
