<div class="page-heading" flex layout="row">
  <rc-search-input [loading]="searching" [searchOnChange]="true" (onSearch)="onSearchChanged($event)">
  </rc-search-input>
  <div class="placeholder-space"></div>
  <button rcButton="primary" *ngIf="createRoleEnabled" style="margin-right: 10px;" (click)="createRole()">{{'create_role'
    | translate}}
  </button>
  <button rcButton *ngIf="hasTemplatePermission" (click)="roleTemplateList()">{{'manage_role_template' | translate}}
  </button>
</div>
<rc-loading-mask [loading]="!initialized" *ngIf="!initialized"></rc-loading-mask>
<div class="rb-loading-mask-placeholder" *ngIf="initialized && !roles.length">
  {{'no_data' | translate}}
</div>
<aui-table *ngIf="roles.length" [dataSource]="roles">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>{{'name'|translate}}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <span *ngIf="!buttonDisplayExpr(item, 'view')">{{item.name}}</span>
      <a *ngIf="buttonDisplayExpr(item, 'view')" (click)="showRoleDetail(item)">{{item.name}}</a>
      <span *ngIf="buttonDisplayExpr(item, 'view')" [rcTooltip]="popoverTemplate" #tooltip="tooltip" rcTooltipPosition="top left"
        rcTooltipMode="info" rcTooltipOn="click" class="fa fa-group" (click)="fetchRoleUsers(item,tooltip)"></span>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="project">
    <aui-table-header-cell *auiTableHeaderCellDef>{{'project' | translate}}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{item.project_name || '-'}}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="created_at">
    <aui-table-header-cell *auiTableHeaderCellDef>{{'created_at' | translate}}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{item.created_at | rcFormatUtcStr}}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="action">
    <aui-table-header-cell *auiTableHeaderCellDef>{{'action' | translate}}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <button type="button" rcIconButton="primary" rcButtonSize="tiny" (click)="deleteRole(item, $index)" *ngIf="buttonDisplayExpr(item, 'delete')"
        [rcTooltip]="'delete' | translate" rcTooltipPosition="top">
        <i class="fa fa-trash-o"></i>
      </button>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="['name', 'project', 'created_at','action']"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: ['name', 'project', 'created_at','action'];"></aui-table-row>
</aui-table>

<rc-pagination2 [page]="pagination.page" [count]="pagination.count" [pageSize]="pagination.page_size"
  (pageChanged)="pageNoChange($event)"></rc-pagination2>

<ng-template #popoverTemplate>
  <div class="rb-popover-label-list-wrap" [rcLoadingMask]="popoverConfig.loading">
    <div *ngIf="!popoverConfig.loading && !popoverConfig.list.length">
      <span>{{popoverConfig.noDataText}}</span>
    </div>
    <div *ngIf="popoverConfig.list.length > 0" class="rb-popover-label-list">
      <div class="rb-popover-label-item" *ngFor="let item of popoverConfig.list">
        <span>{{item.user}}</span>
        <span *ngIf="buttonDisplayExpr(popoverConfig.role, 'revoke')" class="rb-popover-close fa fa-close" (click)="deleteUserOfRole(item.user)"></span>
      </div>
    </div>
  </div>
</ng-template>
