:host {
  .page-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    min-height: 32px;
    rc-search-input {
      flex: 1;
      max-width: 30%;
      max-height: 100%;
    }
  }

  .placeholder-space {
    flex: 1;
  }

  .fa-group {
    color: #428bca;
    &:hover {
      cursor: pointer;
    }
  }

  rc-pagination2 {
    margin-top: 16px;
  }

  ::ng-deep {
    .rb-popover-label-list-wrap {
      max-width: 600px;
      max-height: 250px;
      overflow-y: auto; //for firefox ui bug
      min-height: 24px;
      min-width: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      rc-loading-mask {
        overflow: hidden;
      }
    }
    .rb-popover-label-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      .rb-popover-label-item {
        background: #e8e8e8;
        font-weight: 700;
        border-radius: 2px;
        padding: 2px 8px;
        margin: 2px;
        color: rgba(0, 0, 0, 0.6);
        transition: background 0.1s;
        &:hover {
          background-color: #e0e0e0;
          color: rgba(0, 0, 0, 0.8);
        }
        .rb-popover-close {
          color: rgba(0, 0, 0, 0.6);
          transition: opacity 0.1s;
          margin-left: 4px;
          font-size: 10px;
          opacity: 0.5;
          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }
}
