@import 'colors.styles';

.card {
  width: 90%;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin: 0 auto 5px auto;
  padding: 20px;
}

.resource {
  margin-top: 20px;
  > span {
    padding-right: 16px;
  }
}

.rb-form {
  margin-bottom: 20px;
  .card {
    position: relative;
    .fa-trash {
      position: absolute;
      right: 16px;
      top: 10px;
      font-size: 16px;
      color: $blue-6;
      opacity: 0.6;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.constraints {
  display: flex;
  > span {
    line-height: 32px;
    padding-right: 16px;
  }
}

.actions {
  > span {
    float: left;
    padding-right: 16px;
    line-height: 32px;
  }
  ::ng-deep {
    rc-multi-selection-dropdown {
      margin-left: 21px;
      .ui.multiple.selection.dropdown {
        width: 370px;
      }
    }
  }
}

.resource-name {
  display: flex;
  margin-top: 10px;
  > span {
    padding-right: 16px;
    align-self: center;
  }
  ::ng-deep {
    rc-tags-input {
      width: 370px;
    }
  }
}

.modal-footer {
  .add-permission {
    float: left;
    line-height: 32px;
  }
}
