<div class="resource card">
  <span>{{ 'resource_type' | translate }}</span>
  <rc-single-selection-dropdown [options]="resource"
                                [placeholder]="'rbac_select_resource' | translate"
                                [(ngModel)]="modalData.type"
                                [ngModelOptions]="{standalone: true}"
                                [disabled]="!modalData.resourceChangeEnabled"
                                displayField="name"
                                valueField="key"
                                (change)="resourceChange($event)"></rc-single-selection-dropdown>
</div>

<form class="rb-form" #form="ngForm">
  <div *ngFor="let permission of newMap[modalData.type]; index as i" class="card">
    <i class="fa fa-trash" *ngIf="i > 0" (click)="deletePermission(i)"></i>
    <div class="actions" *ngIf="action[permission.resource_type]">
      <span>{{ 'action' | translate }}<font color="red">*</font></span>
      <rc-form-field>
        <rc-multi-selection-dropdown #actions
                                     [name]="permission.resource_type + i"
                                     [options]="modalData.actionsMap[modalData.type]"
                                     [(ngModel)]="action[permission.resource_type][i]"
                                     displayField="name"
                                     valueField="value"
                                     rcDropdownMinLength="1"
                                     (valueChange)="actionsChange($event, permission)"></rc-multi-selection-dropdown>
      </rc-form-field>
    </div>
    <div class="constraints" *ngIf="keys(modalData.schemaMap[modalData.type]).length">
      <span>{{ 'rbac_constraints' | translate }}</span>
      <rc-constraint-editor [type]="modalData.type"
                            [constraints]="permission.constraints"
                            [options]="keys(modalData.schemaMap[modalData.type])"
                            (onChange)="constraintChange($event, permission)"></rc-constraint-editor>
    </div>

    <div class="resource-name">
      <span>{{ 'resource_name' | translate }}</span>
      <rc-tags-input [(ngModel)]="permission.resource"
                     [name]="'resource' + i"
                     [addOnSpace]="true"></rc-tags-input>
    </div>
  </div>
</form>

<div class="modal-footer"
     style="padding: 12px">
  <a href="javascript:;" class="add-permission" (click)="addPermission()" *ngIf="modalData.type"><i class="fa fa-plus-circle"></i> {{ 'rbac_add_group_of_permission' | translate }}</a>
  <button rcButton
          (click)="cancel()"
          style="margin-right: 8px">{{ 'cancel' | translate }}</button>
  <button rcButton="primary" (click)="save()" [disabled]="!form.dirty">{{ 'save' | translate }}</button>
</div>