<table class="table-condensed rb-fieldset-table">
  <thead>
  <tr>
    <td class="col-name">{{'email_address'|translate}}</td>
    <td class="col-delete-btn" style="width:36px;">{{'action'|translate}}</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in vm.emails track by $index">
    <td>
      <div class="ui input fluid">
        <input type="text"
               ng-disabled="vm.isDisabled"
               ng-model="item.email">
      </div>
    </td>
    <td style="text-align: center;">
      <button ng-hide="vm.isDisabled"
              class="rb-fieldset-action-btn" ng-click="vm.deleteEmail($index)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <button ng-hide="vm.isDisabled"
              ng-click="vm.addEmail()"
              class="rb-fieldset-add-btn">
        <i class="fa fa-plus"></i>
      </button>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>

