<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <a *rcBreadcrumbItem
       routerLink="/cluster/list">
      {{ 'nav_region'| translate }}
    </a>
    <ng-container *rcBreadcrumbItem>{{ 'detail'| translate }}</ng-container>
  </rc-breadcrumb>
</ng-container>

<div class="rc-cluster-header">
  <div class="rc-cluster-header__group rc-cluster-header__group--width-fit">
    <ng-container *ngIf="cluster">
      <img class="rc-cluster-header__cloud-icon"
           [src]="'/static/images/cloud/'+ cluster.attr.cloud.name.toLowerCase() + '.svg'">
      <div class="rc-cluster-header__cluster-name">
        {{ cluster.display_name }}
      </div>
      <rc-status-badge mode="rect"
                       [status]="cluster.state">
      </rc-status-badge>
    </ng-container>
  </div>
  <div class="rc-cluster-header__group">
    <button rcButton="primary"
            [disabled]="loading"
            hidden>{{ 'region_update_config' | translate }}</button>
    <rc-button-menu [text]="'action' | translate">
      <button *ngIf="cluster"
              rcMenuButton
              [routerLink]="['/cluster', clusterName, 'features']">
        {{ 'region_features_management' | translate }}
      </button>
      <button rcMenuButton
              *ngIf="cloudUpdate && shouldDisplay('delete')"
              (click)="deleteCluster()">
        {{ 'delete' | translate }}
      </button>
    </rc-button-menu>
  </div>
</div>

<rc-loading-mask [loading]="!cluster"></rc-loading-mask>

<div *ngIf="cluster"
     class="cluster-info">
  <div class="cluster-info__card">
    <h5>{{ 'basic_info' | translate }}</h5>
    <div class="cluster-info__item">
      <label>{{ 'name' | translate }}</label>
      {{ cluster.name }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_cloud_provider' | translate }}</label>
      {{ cluster.attr.cloud.name.toLowerCase() }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_platform_version' | translate }}</label>
      {{ cluster.platform_version.toUpperCase() }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_docker_version' | translate }}</label>
      {{ cluster.attr.docker.version }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_docker_path' | translate }}</label>
      {{ cluster.attr.docker.path }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'created_at' | translate }}</label>
      {{ cluster.created_at | rcFormatUtcStr }}
    </div>
  </div>
  <div class="cluster-info__card">
    <h5>{{ 'region_region_info' | translate }}</h5>
    <div class="cluster-info__item">
      <label>Kubernetes</label>
      {{ cluster.attr.kubernetes.version }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_region_endpoint' | translate }}</label>
      <div [auiTooltipCopy]="cluster.attr.kubernetes.endpoint">
        {{ cluster.attr.kubernetes.endpoint }}
      </div>
    </div>
    <div class="cluster-info__item">
      <label>{{ 'network_mode' | translate }}</label>
      {{ cluster.attr.kubernetes.cni.type.toUpperCase() }}
    </div>
    <div class="cluster-info__item">
      <label>CIDR</label>
      {{ cluster.attr.kubernetes.cni.cidr | rcFieldNotAvailable }}
    </div>
    <div class="cluster-info__item">
      <label>{{ 'network_policy' | translate }}</label>
      {{ cluster.attr.kubernetes.cni.network_policy | rcFieldNotAvailable }}
    </div>
    <div *ngIf="cluster.mirror?.name"
         class="cluster-info__item">
      <label>{{ 'region_mirror_cluster' | translate }}</label>
      <div [title]="cluster.mirror.display_name">{{ cluster.mirror.display_name }}</div>
    </div>
  </div>
  <div class="cluster-info__card cluster-info__card--feature">
    <h5>{{ 'region_features' | translate }}</h5>
    <div class="cluster-info__item">
      <label>{{ 'region_logs' | translate }}</label>
      <span class="status-badge"
            [ngClass]="getRegionFeatureStatus(regionFeatures.log)">
        {{ 'status_' + getRegionFeatureStatus(regionFeatures.log) | translate }}</span>
    </div>
    <div class="cluster-info__item">
      <label>{{ 'region_metrics' | translate }}</label>
      <span class="status-badge"
            [ngClass]="getRegionFeatureStatus(regionFeatures.metric)">
        {{ 'status_' + getRegionFeatureStatus(regionFeatures.metric) | translate }}</span>
    </div>
  </div>
</div>

<rc-tab-group>
  <rc-cluster-nodes *rcTab="'node' | translate"
                    [clusterName]="clusterName"></rc-cluster-nodes>
  <ng-container *ngIf="cluster?.mirror?.name">
    <aui-table *rcTab="'region_mirror_cluster' | translate"
               [dataSource]="cluster.mirror.regions"
               [trackBy]="trackByFn">
      <ng-container auiTableColumnDef="member">
        <aui-table-header-cell *auiTableHeaderCellDef>{{ 'region_member' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <a [routerLink]="['/cluster/detail-v4', item.name]">
            {{ item.display_name }}
          </a>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="create_time">
        <aui-table-header-cell *auiTableHeaderCellDef>{{ 'created_at' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">{{ item.created_at | rcFormatUtcStr
          }}
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
      <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
    </aui-table>
  </ng-container>
  <ng-container *ngIf="isCMB">
  <rc-cluster-monitor-v4 *rcTab="'monitoring' | translate"
                         [clusterName]="clusterName"></rc-cluster-monitor-v4>
  </ng-container>
</rc-tab-group>
