<form class="rb-from subnet-create"
      #createForm="ngForm"
      (ngSubmit)="submit()">
  <rc-form-field label="{{ 'subnet_name'| translate }}">
    <input rcInput
           name="subnet_name"
           [(ngModel)]="model.subnet_name"
           required>
  </rc-form-field>
  <rc-form-field label="{{ 'space'| translate }}" [shouldFlexRow]="true" *ngIf="!newSubnetApiEnabled">
    <rc-single-selection-dropdown name="space"
                                  [options]="spaces"
                                  displayField="name"
                                  valueField="name"
                                  [(ngModel)]="model.space_name"
                                  required
    >
    </rc-single-selection-dropdown>
  </rc-form-field>
  <rc-form-field label="{{ 'subnet_segment'| translate }}">
    <input rcInput
           name="cidr_block"
           [(ngModel)]="model.cidr_block"
           required>
  </rc-form-field>
  <rc-form-field label="{{ 'gateway'| translate }}">
    <input rcInput
           name="gateway"
           [(ngModel)]="model.gateway"
           required>
  </rc-form-field>
</form>
<div class="modal-footer">
  <button rcButton
          (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
  <button rcButton="primary"
          [class.loading]="submitting"
          [disabled]="!form.valid || this.submitting"
          (click)="form.onSubmit()">
    {{ 'confirm' | translate }}
  </button>
</div>
