<div class="subnet-container">
  <div class="subnet-name">
    <div class="subnet-name-label">{{'subnet_name'| translate}}</div>
    <div name="subnet_anme">{{subnet_name}}</div>
  </div>
  <form class="rb-from subnet-ip-import"
        #importForm="ngForm"
        (ngSubmit)="submit()">
    <rc-form-field label="{{ 'subnet_segment'| translate }}">
      <rc-radio-group name="platform_version"
                      [(ngModel)]="importMethod"
                      [options]="importMethodOptions"
                      displayField="name"
                      valueField="value">
      </rc-radio-group>
    </rc-form-field>
    <div *ngIf="importMethod === 'range'">
      <rc-form-field label="{{ 'start_ip'| translate }}">
        <input rcInput
               name="gateway"
               [(ngModel)]="range.address_start"
               required>
      </rc-form-field>
      <rc-form-field label="{{ 'end_ip'| translate }}">
        <input rcInput
               [(ngModel)]="range.address_end"
               name="gateway"
               required>
      </rc-form-field>
    </div>
    <div *ngIf="importMethod === 'list'">
      <rc-form-field label="{{ 'IP' }}"
                     [shouldFlexRow]="true">
        <rc-tags-input placeholder="{{ 'add_by_enter_or_space' | translate }}"
                       [(ngModel)]="ipList"
                       name="ipList"
                       [addOnSpace]="true"
                       required>
        </rc-tags-input>
      </rc-form-field>
    </div>
  </form>
  <div class="modal-footer">
    <button rcButton
            (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button rcButton="primary"
            [class.loading]="submitting"
            [disabled]="!form.valid || this.submitting"
            (click)="form.onSubmit()">
      {{ 'confirm' | translate }}
    </button>
  </div>
</div>
