.subnet-container {
  margin: 20px 0 0 0;
  .subnet-name {
    display: flex;
    height: 32px;
    .subnet-name-label {
      width: 140px;
      text-align: right;
      padding-right: 20px;
    }
  }

  rc-tags-input {
    width: 100%;
  }
}
