<rc-region-badge-option onChangeState="subnet"></rc-region-badge-option>

<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a href="javascript:void(0)"
         [routerLink]="['/subnet']">{{ 'subnet'| translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'subnet'| translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<div fxLayout="row"
     class="rc-list-header">
  <div>
    <button rcButton="primary"
            *ngIf="subnetCanCreate"
            [disabled]="!regionSubnetEnabled"
            (click)="create$.next()">
      {{ "create" | translate }}
    </button>
  </div>
  <span fxFlex></span>
  <div class="search">
    <i class="icon search"></i>
    <input class="filter-input"
           (change)="filterKey$.next($event.target.value)"
           placeholder="{{ 'filter_by_name_placeholder' | translate }}">
  </div>
</div>

<rc-loading-mask [loading]="loading"></rc-loading-mask>

<div class="rc-list-container"
     [hidden]="loading">
  <rc-table class="rc-primary-table"
            [columnMode]="'force'"
            *ngIf="!newSubnetApiEnabled && initialized"
            [headerHeight]="40"
            [rowHeight]="82"
            [rows]="subnets">
    <rc-table-col name="{{ 'subnet_name'| translate }}"
                  [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/subnet.svg">
          <div class="rc-lines">
            <div class="rc-line">
              <a href="javascript:void(0)"
                 rcTooltipPosition="top left"
                 [rcTooltip]="rowData.subnet_name"
                 [routerLink]="['/subnet/detail', rowData.subnet_name]">{{rowData.subnet_name}}</a>
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>
    <!-- lb type-->
    <rc-table-col name="{{ 'space'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <a [routerLink]="['/quota/detail', rowData.space_name]">{{rowData.space_name}}</a>
        </div>
      </div>
    </rc-table-col>
    <!-- lb address-->
    <rc-table-col name="{{ 'subnet_segment'| translate }}"
                  [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let rowData = row"
           rcTooltipPosition="top left"
           [rcTooltip]="rowData.address">
        {{rowData.cidr_block}}
      </div>
    </rc-table-col>
    <!-- lb address type-->
    <rc-table-col name="{{ 'gateway'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          {{rowData.gateway}}
        </div>
      </div>
    </rc-table-col>
    <!-- action -->
    <rc-table-col [width]="150"
                  name="{{ 'action'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <rc-button-menu>
          <button rcButton
                  (click)="view(rowData)"
                  rcButtonSize="small" rcButtonMenuDefault>
            {{ 'view' | translate }}
          </button>
          <button rcMenuButton
                  *ngIf="buttonDisplay(rowData, 'update')"
                  (click)="update$.next(rowData)">{{ 'update' | translate }}
          </button>
          <button rcMenuButton
                  *ngIf="buttonDisplay(rowData, 'delete')"
                  (click)="delete$.next(rowData)">{{ 'delete' | translate }}
          </button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>

  <!-- new api -->
  <rc-table class="rc-primary-table"
            *ngIf="newSubnetApiEnabled && initialized"
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowHeight]="82"
            [rows]="subnets">
    <rc-table-col name="{{ 'subnet_name'| translate }}"
                  [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/subnet.svg">
          <div class="rc-lines">
            <div class="rc-line">
              <a href="javascript:void(0)"
                 rcTooltipPosition="top left"
                 [rcTooltip]="rowData.kubernetes.metadata.name"
                 [routerLink]="['/subnet/detail', rowData.kubernetes.metadata.name]">{{rowData.kubernetes.metadata.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>
    <!-- lb type-->
    <rc-table-col name="{{ 'space'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <a [routerLink]="['/quota/detail', rowData.kubernetes.metadata.namespace]"
             *ngIf="rowData.kubernetes.metadata.namespace; else noNamespace">
            {{rowData.kubernetes.metadata.namespace}}
          </a>
          <ng-template #noNamespace>-</ng-template>
        </div>
      </div>
    </rc-table-col>
    <!-- lb address-->
    <rc-table-col name="{{ 'subnet_segment'| translate }}"
                  [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let rowData = row"
           rcTooltipPosition="top left"
           [rcTooltip]="rowData.kubernetes.spec.cidr_block">
        {{rowData.kubernetes.spec.cidr_block}}
      </div>
    </rc-table-col>
    <!-- lb address type-->
    <rc-table-col name="{{ 'gateway'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          {{rowData.kubernetes.spec.gateway}}
        </div>
      </div>
    </rc-table-col>
    <!-- action -->
    <rc-table-col [width]="150"
                  name="{{ 'action'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <rc-button-menu>
          <button rcButton
                  (click)="viewK8sSubnet(rowData)"
                  rcButtonSize="small" rcButtonMenuDefault>
            {{ 'view' | translate }}
          </button>
          <button rcMenuButton
                  *ngIf="buttonDisplay(rowData, 'update')"
                  (click)="update$.next(rowData)">{{ 'update' | translate }}
          </button>
          <button rcMenuButton
                  *ngIf="buttonDisplay(rowData, 'delete')"
                  (click)="delete$.next(rowData)">{{ 'delete' | translate }}
          </button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>
</div>
