<rc-region-badge-option onChangeState="subnet"></rc-region-badge-option>
<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a href="javascript:void(0)"
         [routerLink]="['/subnet']">{{ 'subnet'| translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'detail'| translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<rc-collapse-pane initHeight="106"
                  [liner]="true">
  <rc-loading-mask [loading]="false"></rc-loading-mask>
  <div class="rc-detail-container"
       style="margin-bottom: 0">
    <div>
      <div class="detail-icon">
        <img src="/static/images/resource/subnet.svg"
             alt="">
      </div>
      <div class="detail-wrapper" *ngIf="!newSubnetApiEnabled">
        <div class="detail-header">
          <h3>{{ (detail$|async)?.subnet_name }}</h3>
          <div class="detail-buttons"
               style="height: 32px">
            <button rcButton="primary"
                    [disabled]="loading"
                    *ngIf="buttonDisplay(detail$|async, 'update')"
                    (click)="import$.next()"
                    style="margin: 0 10px">
              {{'import' | translate}} IP
            </button>
            <button rcButton
                    *ngIf="buttonDisplay(detail$|async, 'update')"
                    (click)="update$.next()">
              {{ 'update' | translate }}
            </button>
            <button rcButton
                    style="margin-left: 8px;"
                    *ngIf="buttonDisplay(detail$|async, 'delete')"
                    (click)="deleteSubnet()">
              {{ 'delete' | translate }}
            </button>
          </div>
        </div>
        <div class="detail-content">
          <div class="detail-item">
            <label>{{ 'created_by' | translate }}</label>
            <div>{{ (detail$|async)?.created_by }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'region' | translate }}</label>
            <div>{{ (detail$|async)?.region_name }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'created_at' | translate }}</label>
            <div>
              {{ (detail$|async)?.created_at | rcFormatUtcStr }}
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'updated_at' | translate }}</label>
            <div>{{ (detail$|async)?.updated_at | rcFormatUtcStr }}</div>
          </div>
          <!--创建时间-->
          <div class="detail-item">
            <label>{{ 'subnet_segment' | translate }}</label>
            <div>{{ (detail$|async)?.cidr_block }}</div>
          </div>
          <!--更新时间-->
          <div class="detail-item">
            <label>{{ 'gateway' | translate }}</label>
            <div>{{ (detail$|async)?.gateway }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'available_ip' | translate }}</label>
            <div>{{ (detail$|async)?.ip_unused.length }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'sum_ip' | translate }}</label>
            <div>{{ (detail$|async)?.ips.length }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'quota_space' | translate }}</label>
            <div>
              <a *ngIf="(detail$|async)?.space_name" [routerLink]="['/quota/detail', (detail$|async)?.space_name]">{{ (detail$|async)?.space_name }}</a>
            </div>
          </div>
        </div>
      </div>
      <!-- new api -->
      <div class="detail-wrapper" *ngIf="newSubnetApiEnabled">
        <div class="detail-header">
          <h3>{{ (detail$|async)?.kubernetes.metadata.name }}</h3>
          <div class="detail-buttons"
                style="height: 32px">
            <button rcButton="primary"
                    [disabled]="loading"
                    *ngIf="buttonDisplay(detail$|async, 'update')"
                    (click)="import$.next()"
                    style="margin: 0 10px">
              {{'import' | translate}} IP
            </button>
            <button rcButton
                    *ngIf="buttonDisplay(detail$|async, 'update')"
                    (click)="update$.next()">
              {{ 'update' | translate }}
            </button>
            <button rcButton
                    style="margin-left: 8px;"
                    *ngIf="buttonDisplay(detail$|async, 'delete')"
                    (click)="deleteSubnet()">
              {{ 'delete' | translate }}
            </button>
          </div>
        </div>
        <div class="detail-content">
          <div class="detail-item">
            <label>{{ 'created_by' | translate }}</label>
            <div>{{ (detail$|async)?.kubernetes.spec.created_by }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'region' | translate }}</label>
            <div>{{ (detail$|async)?.kubernetes.metadata.clusterName||'-' }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'created_at' | translate }}</label>
            <div>
              {{ (detail$|async)?.kubernetes.spec.created_at | rcFormatUtcStr }}
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'updated_at' | translate }}</label>
            <div>{{ (detail$|async)?.kubernetes.spec.updated_at | rcFormatUtcStr }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'subnet_segment' | translate }}</label>
            <div>{{ (detail$|async)?.kubernetes.spec.cidr_block }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'gateway' | translate }}</label>
            <div>{{ (detail$|async)?.kubernetes.spec.gateway }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'available_ip' | translate }}</label>
            <div>{{ ips_unused && ips_unused.length }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'sum_ip' | translate }}</label>
            <div>{{ ips && ips.length }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'quota_space' | translate }}</label>
            <div>
              <a *ngIf="(detail$|async)?.kubernetes.spec.namespace" 
                 [routerLink]="['/quota/detail', (detail$|async)?.kubernetes.spec.namespace]">
                {{ (detail$|async)?.kubernetes.spec.namespace }}
              </a>
              <ng-template #noSpace>-</ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</rc-collapse-pane>

<div class="rc-detail-tab">
  <rc-tab-group>
    <ng-container *rcTab="'IP'|translate">
      <div fxLayout="row"
           class="rc-list-header load-balancer-detail-header">
        <span fxFlex></span>
      </div>
      <rc-loading-mask [loading]="loading"></rc-loading-mask>
      <div *ngIf="!loading">
        <rc-table #lbPortTable
                  class="rc-secondary-table"
                  [columnMode]="'force'"
                  [headerHeight]="40"
                  [rowHeight]="60"
                  *ngIf="!newSubnetApiEnabled"
                  [rows]="(detail$|async)?.ips">
          <rc-table-col [width]="250"
                        name="{{ 'address'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-lines">
                <div class="rc-line">
                  {{rowData.address}}
                </div>
              </div>
            </div>
          </rc-table-col>
          <rc-table-col [width]="250"
                        name="{{ 'status'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                <rc-status-badge [status]="rowData.used ? 'used': 'free'"></rc-status-badge>
              </div>
            </div>
          </rc-table-col>
          <rc-table-col [width]="250"
                        name="{{ 'service'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                {{rowData.service_id}}
              </div>
            </div>
          </rc-table-col>
          <rc-table-col [width]="250"
                        name="{{ 'action'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                <button rcButton
                        rcButtonSize="small" rcButtonMenuDefault
                        *ngIf="buttonDisplay(detail$|async, 'update') && !rowData.used"
                        (click)="deleteIp$.next(rowData.address)">
                  {{ 'delete' | translate }}
                </button>
              </div>
            </div>
          </rc-table-col>
        </rc-table>

        <!-- new api -->
        <rc-table #lbPortTable
                  class="rc-secondary-table"
                  [columnMode]="'force'"
                  [headerHeight]="40"
                  [rowHeight]="60"
                  *ngIf="ips && newSubnetApiEnabled"
                  [rows]="ips">
          <rc-table-col [width]="250"
                        name="{{ 'address'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-lines">
                <div class="rc-line">
                  {{rowData.kubernetes.metadata.name}}
                </div>
              </div>
            </div>
          </rc-table-col>
          <rc-table-col [width]="250"
                        name="{{ 'status'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                <rc-status-badge [status]="rowData.kubernetes.spec.used ? 'used': 'free'"></rc-status-badge>
              </div>
            </div>
          </rc-table-col>
          <rc-table-col [width]="250"
                        name="{{ 'service'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                {{rowData.kubernetes.spec.service_name || '-'}}
              </div>
            </div>
          </rc-table-col>
          <rc-table-col [width]="250"
                        name="{{ 'action'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                <button rcButton
                        rcButtonSize="small" rcButtonMenuDefault
                        *ngIf="buttonDisplay(detail$|async, 'update') && !rowData.kubernetes.spec.used"
                        (click)="deleteIp$.next(rowData.kubernetes.metadata.name)">
                  {{ 'delete' | translate }}
                </button>
              </div>
            </div>
          </rc-table-col>
        </rc-table>
      </div>
    </ng-container>
  </rc-tab-group>
</div>
