<div class="subnet-container">
  <div class="subnet-name">
    <div class="subnet-name-label">{{'subnet_name'| translate}}</div>
    <div name="subnet_anme" *ngIf="!newSubnetApiEnabled">{{subnet.subnet_name}}</div>
    <div name="subnet_anme" *ngIf="newSubnetApiEnabled">{{subnet.kubernetes.metadata.name}}</div>
  </div>
  <form class="rb-from"
        #updateForm="ngForm"
        (ngSubmit)="submit()">
    <rc-form-field label="{{ 'subnet_segment'| translate }}">
      <input rcInput
             name="cidr_block"
             [(ngModel)]="model.cidr_block"
             required>
    </rc-form-field>
    <rc-form-field label="{{ 'gateway'| translate }}">
      <input rcInput
             name="gateway"
             [(ngModel)]="model.gateway"
             required>
    </rc-form-field>
  </form>
  <div class="modal-footer">
    <button rcButton
            (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button rcButton="primary"
            [class.loading]="submitting"
            [disabled]="!form.valid || this.submitting"
            (click)="form.onSubmit()">
      {{ 'confirm' | translate }}
    </button>
  </div>
</div>
