<div class="rb-form-panel">
  <div class="rb-form-container"
    rb-loading-mask="vm.submitting"
    style="padding-top: 16px;">
    <form class="rb-form"
      name="vm.updateCompanyForm">
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'former_company_name' | translate}}</label>
          <label class="rb-input-text">{{vm.formerCompanyName}}</label>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'company_name' | translate}} <span class="rb-required-mark">*</span></label>
          <input class="rb-input"
            type="text"
            name="companyName"
            ng-model="vm.companyName"
            rb-errors-tooltip
            rb-errors-tooltip-mapper="vm.errorMapper"
            ng-minlength="2"
            ng-maxlength="64"
            ng-pattern="/^[a-z0-9\u4e00-\u9fa5_\s]*$/"
            required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
    </form>
  </div>

  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button"
        class="ui button rb-btn-default"
        ng-click="vm.cancel()"
        ng-disabled="vm.submitting">
        {{'cancel' | translate}}
      </button>
      <button type="button"
        class="ui button rb-btn-primary"
        ng-click="vm.confirm()"
        ng-disabled="vm.submitting">
        {{'confirm' | translate}}
      </button>
    </div>
  </div>
</div>
