<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="vm.submitting">
    <form class="rb-form" name="vm.form">
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'oschina_user_name' | translate}} <span class="rb-required-mark">*</span></label>
          <input class="rb-input"
                 type="text"
                 name="infoName"
                 ng-model="vm.info.infoName"
                 placeholder="{{'oschina_user_name' | translate}}"
                 required>
        </div>
      </div>
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'oschina_password' | translate}} <span class="rb-required-mark">*</span></label>
          <input class="rb-input"
                 type="password"
                 autocomplete="new-password"
                 name="infoPass"
                 ng-model="vm.info.infoPass"
                 placeholder=""
                 required>
        </div>
      </div>
    </form>
  </div>

  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()" ng-disabled="vm.submitting">{{'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.confirm()" ng-disabled="vm.submitting">{{'submit' |
        translate}}
      </button>
    </div>
  </div>
</div>