<div class="rb-form-panel" rb-loading-mask="vm.submitting">
  <div class="rb-form-container">
    <ng-form name="vm.form" class="rb-form">
      <!-- email -->
      <div ng-if="vm.field === 'email'" class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'email' | translate}}<span class="rb-required-mark">*</span></label>
          <input class="rb-input"
                 type="text"
                 name="email"
                 ng-model="vm.model.email"
                 ng-pattern="/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/"
                 rb-errors-tooltip
                 placeholder="{{'email' | translate}}"
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
      <!-- mobile -->
      <div ng-if="vm.field === 'mobile'" class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'mobile_phone' | translate}}<span class="rb-required-mark">*</span></label>
          <input class="rb-input"
                 type="text"
                 name="mobile"
                 ng-model="vm.model.mobile"
                 ng-pattern="/^\+{0,1}[0-9]{0,15}$/"
                 minlength="7"
                 maxlength="15"
                 placeholder="{{'mobile' | translate}}"
                 rb-errors-tooltip
                 rb-errors-tooltip-mapper="{
                  'pattern': ('pattern_error_message' | translate)
                }"
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
      </div>
    </ng-form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.save()">{{'save' |
        translate}}
      </button>
    </div>
  </div>
</div>