<form class="rb-from load-balancer-update-domain-suffix" #domainSuffixForm="ngForm" (ngSubmit)="submit()">
  <rc-form-field label="{{ 'default_domain'| translate }}">
    <rc-checkbox mode="toggle"
                 [(ngModel)]="model.defaultDomainsEnabled"
                 name="defaultDomainsEnabled"></rc-checkbox>
  </rc-form-field>
  <rc-form-field label="{{ 'custom_domain_suffix'| translate }}" [shouldFlexRow]="true">
    <rc-tags-input placeholder="{{ 'add_by_enter_or_space' | translate }}"
                   [(ngModel)]="model.domains"
                   name="domain"
                   [addOnSpace]="true">
    </rc-tags-input>
  </rc-form-field>
</form>
<div class="modal-footer">
    <button rcButton (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button rcButton="primary" [class.loading]="submitting" [disabled]="!domainSuffixForm.valid || this.submitting"
            (click)="form.onSubmit()">
      {{ 'confirm' | translate }}
    </button>
  </div>

