@import 'colors.styles';

.detail-item {
  & > label {
    color: #a1a1a1;
    font-weight: normal;
  }
}

.load-balancer-detail-header {
  margin: 20px 0;
}

.rc-list-pagination {
  display: flex;
  justify-content: flex-end;
}

.domain-line-warp {
  white-space: normal;
  word-break: break-all;
}
