<rc-region-badge-option onChangeState="load_balancer"></rc-region-badge-option>
<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a href="javascript:void(0)"
         [routerLink]="['/load_balancer']">{{ 'nav_network'| translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'load_balancer'| translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<rc-collapse-pane initHeight="106"
                  [liner]="true">
  <rc-loading-mask [loading]="basicLoading"></rc-loading-mask>
  <div class="rc-detail-container"
       style="margin-bottom: 0">
    <div *ngIf="loadBalancerDetail">
      <div class="detail-icon">
        <img src="/static/images/resource/lb-detail.svg"
             alt="">
      </div>
      <div class="detail-wrapper">
        <div class="detail-header">
          <h3>{{ loadBalancerDetail.name }}</h3>
          <div class="detail-buttons"
               style="display: flex">
            <button rcButton="primary"
                    rcButtonSize="small" rcButtonMenuDefault
                    *ngIf="buttonDisplay()"
                    (click)="addPort()">
              {{ 'load_balancer_add_ports' | translate }}
            </button>
            <rc-button-menu class="lb-detail-button"
                            [text]="'action' | translate">
              <button rcMenuButton
                      *ngIf="buttonDisplay('set_domain_suffix')"
                      (click)="updateDomainSuffix()">{{ 'custom_domain_suffix' | translate }}</button>
              <button rcMenuButton
                      *ngIf="buttonDisplay('delete')"
                      (click)="deleteLB()">{{ 'load_balancer_delete' | translate }}</button>
            </rc-button-menu>
          </div>
        </div>
        <div class="detail-content">
          <div class="detail-item">
            <label>{{ 'region_belonged' | translate }}</label>
            <a href="javascript:void(0)"
               [routerLink]="['/cluster/detail', loadBalancerDetail.region_name]">{{ loadBalancerDetail.region_name }}</a>
          </div>
          <div class="detail-item">
            <label>{{ 'address' | translate }}</label>
            <div title="{{ loadBalancerDetail?.address }}">{{ loadBalancerDetail?.address }}</div>
          </div>
          <div class="detail-item">
            <label>{{ 'type' | translate }}</label>
            <div>{{ ('load_balancer_' + loadBalancerDetail.type) | translate }} v{{ loadBalancerDetail?.version
              }}
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'lb_address_type' | translate }}</label>
            <div>{{ 'lb_address_' + loadBalancerDetail.address_type | translate }}</div>
          </div>
          <!--创建时间-->
          <div class="detail-item">
            <label>{{ 'created_at' | translate }}</label>
            <div>{{ loadBalancerDetail.created_at | rcFormatUtcStr }}</div>
          </div>
          <!--更新时间-->
          <div class="detail-item">
            <label>{{ 'updated_at' | translate }}</label>
            <div>{{ loadBalancerDetail.updated_at | rcFormatUtcStr }}</div>
          </div>
          <div class="detail-item"
               style="width: 100%">
            <label>{{ 'default_domain_suffix' | translate }}</label>
            <div class="domain-line-warp">{{ defaultDomainSuffix }}</div>
          </div>
          <div class="detail-item"
               style="width: 100%">
            <label>{{ 'custom_domain_suffix' | translate }}</label>
            <div class="domain-line-warp">{{ customDomainsSuffix.join(',') }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</rc-collapse-pane>

<div class="rc-detail-tab"
     style="margin: 40px 0 32px 0;">
  <rc-tab-group>
    <ng-container *rcTab="'lb_listeners'|translate">
      <div fxLayout="row"
           class="rc-list-header load-balancer-detail-header">
        <span fxFlex></span>
        <rc-search-input [placeholder]="'load_balancer_search_port_placeholder' | translate"

                         class="serach-button"
                         [loading]="searching"
                         (onSearch)="searchChanged($event)"></rc-search-input>
        <button rcIconButton
                [disabled]="loading"
                (click)="refetchFrontends()"
                style="margin: 0 10px">
          <i class="fa fa-refresh"
             (click)="refetchFrontends()"></i>
        </button>
      </div>
      <div>
        <rc-table #lbPortTable
                  class="rc-secondary-table"
                  [columnMode]="'force'"
                  [headerHeight]="40"
                  [rowHeight]="60"
                  [rows]="frontends">
          <rc-table-col [width]="250"
                        name="{{ 'port'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-lines">
                <div class="rc-line">
                  <a href="javascript:void(0)"
                     [routerLink]="['/load_balancer/detail', loadBalancerDetail.name,'port', rowData.port]">
                    {{ rowData.port }}
                  </a>
                </div>
              </div>
            </div>
          </rc-table-col>
          <!-- protocol -->
          <rc-table-col [width]="250"
                        name="{{ 'protocol'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                {{ rowData.protocol }}
              </div>
            </div>
          </rc-table-col>
          <!-- rules -->
          <rc-table-col [width]="250"
                        name="{{ 'rule'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                <a href="javascript:void(0)"
                   [routerLink]="['/load_balancer/detail',loadBalancerDetail.name, 'port', rowData.port]">
                  {{ rowData.rules.length }}
                </a>
              </div>
            </div>
          </rc-table-col>
          <!-- service -->
          <rc-table-col [width]="250"
                        name="{{ 'services'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <div class="rc-resource-name-cell">
                <a href="javascript:void(0)"
                   [routerLink]="['/load_balancer/detail', loadBalancerDetail.name, 'port', rowData.port]">
                  {{ rowData.service_count || 0 }}
                </a>
              </div>
            </div>
          </rc-table-col>
          <!-- action -->
          <rc-table-col [width]="250"
                        name="{{ 'action'| translate }}">
            <div *rcTableColCell="let rowData = row">
              <rc-button-menu>
                <button rcButton
                        rcButtonSize="small" rcButtonMenuDefault
                        (click)="viewFrontend(rowData)">
                  {{ 'view' | translate }}
                </button>
                <button rcMenuButton
                        *ngIf="buttonDisplay()"
                        [disabled]="loadBalancerDetail.type === 'elb' || rowData.protocol === 'tcp'"
                        (click)="addService(rowData)">
                  {{ 'add_service' | translate }}
                </button>
                <button rcMenuButton
                        *ngIf="buttonDisplay()"
                        [disabled]="rowData.service_count > 1"
                        (click)="deleteFrontend(rowData)">
                  {{ 'delete' | translate }}
                </button>
              </rc-button-menu>
            </div>
          </rc-table-col>
        </rc-table>
        <div *ngIf="empty && !loading"
             class="rb-loading-mask-placeholder">
          <div *ngIf="loadError | async">
            {{ 'data_load_error' | translate }}
          </div>
          <button *ngIf="loadError | async"
                  rcButton="primary"
                  style="margin-top: 12px;"
                  (click)="refetch()">
            {{ 'refresh' | translate }}
          </button>
        </div>
        <section class="rc-list-pagination">
          <rc-pagination [count]="count"
                         [pageSize]="pageSize"
                         [disabled]="loading"
                         (pageChanged)="pageChanged($event)"></rc-pagination>
        </section>
      </div>
    </ng-container>
  </rc-tab-group>
</div>
