<ng-container *ngIf="!RSRCService.isUserView()">
  <ng-container *rcPageHeaderContent>
    <rc-breadcrumb>
      <ng-container *rcBreadcrumbItem>
        {{ 'container' | translate }}
      </ng-container>
      <a *rcBreadcrumbItem
          routerLink="../list">
        {{ 'resource_management' | translate }}
      </a>
      <ng-container *rcBreadcrumbItem>{{ (update ? 'update' : 'create') | translate }}</ng-container>
    </rc-breadcrumb>
  </ng-container>
</ng-container>

<ng-container *ngIf="RSRCService.isUserView()">
  <ng-container *rcPageHeaderContent>
    <rc-breadcrumb>
      <a *rcBreadcrumbItem
          routerLink="../list">
        {{ 'resource_management' | translate }}
      </a>
      <ng-container *rcBreadcrumbItem>{{ (update ? 'update' : 'create') | translate }}</ng-container>
    </rc-breadcrumb>
  </ng-container>
</ng-container>

<div class="rm-create">
  <div class="rm-create__code-editor">
    <form #form="ngForm">
      <div class="rc-form-field">
        <div class="rc-form-field-container" style="margin-right: 0;">
          <aui-code-editor name="yaml"
                           required
                           [rcErrorsTooltip]
                           [rcErrorsTooltipInline]="true"
                           [originalValue]="originalYaml"
                           [actionsConfig]="edtiorActions"
                           [options]="editorOptions"
                           [(ngModel)]="yamlInputValue">
          </aui-code-editor>
        </div>
      </div>

    </form>
  </div>
  
  <div class="rm-create__footer">
    <div fxFlex></div>
    <button aui-button="primary" (click)="confirm()">{{(update? 'update' : 'create') | translate}}</button>
    <button aui-button="default" (click)="cancel()">{{'cancel' | translate}}</button>
  </div>
</div>
