<ng-container *ngIf="!RSRCService.isUserView()">
  <ng-container *rcPageHeaderContent>
    <rc-breadcrumb>
      <ng-container *rcBreadcrumbItem>
        {{ 'container' | translate }}
      </ng-container>
      <a *rcBreadcrumbItem
          routerLink=".">
        {{ 'resource_management' | translate }}
      </a>
    </rc-breadcrumb>
  </ng-container>
</ng-container>

<div class="rm-content">
  <section class="rm-content__nav">
    <div class="rm-content__nav_scroll-fix">
    </div>
    <aui-card>
      <div auiCardHeader fxLayout="column">
        <div class="rm-content__nav__title">
          {{'resource_category' | translate}}
        </div>
        <!-- <aui-search [searchButton]="true"
                    [searching]="searching"
                    [debounce]="200"
                    [(keyword)]="keyword"
                    placeholder="{{'search_by_name_placeholder' | translate}}"
                    (search)="searchByName($event)">
        </aui-search> -->
      </div>

      <rc-zero-state [zeroState]="navZeroState"
                     [fetching]="navLoading"
                     resourceName="resource_category">
      </rc-zero-state>

      <ng-container *ngIf="userView && !navLoading">
        <aui-nav class="aui-nav--user-view">
          <aui-nav-item *ngFor="let item of category.namespaced"
                        [active]="currentResourceType.kind === item.kind"
                        (click)="onKindsClick(item, false)">
            {{item.kind}}
          </aui-nav-item>
        </aui-nav>
      </ng-container>

      <ng-container *ngIf="!userView && !navLoading">
        <aui-nav>
          <aui-nav-item [expanded]="expandedMap['namespaced']"
                        [active]="isPathActive('namespaced')"
                        (click)="handleClick('namespaced')">
              {{'namespace_correlated' | translate}}[{{category.namespaced?.length}}]
            <ng-container *auiNavItemExt>
              <aui-nav-item *ngFor="let item of category.namespaced"
                            [active]="currentResourceType.kind === item.kind"
                            (click)="onKindsClick(item, false)">
                {{item.kind}}
              </aui-nav-item>
            </ng-container>
          </aui-nav-item>
          <aui-nav-item [expanded]="expandedMap['region']"
                        [active]="isPathActive('region')"
                        (click)="handleClick('region')">
            {{'region_correlated' | translate}}[{{category.region?.length}}]
            <ng-container *auiNavItemExt>
              <aui-nav-item *ngFor="let item of category.region"
                            [active]="currentResourceType.kind === item.kind"
                            (click)="onKindsClick(item, true)">
                {{item.kind}}
              </aui-nav-item>
            </ng-container>
          </aui-nav-item>
        </aui-nav>
      </ng-container>
    </aui-card>
  </section>
  <section class="rm-content__list">
    <aui-card>
      <div auiCardHeader fxLayout>
        {{ currentResourceType.kind }}
        <div fxFlex></div>
        <button *ngIf="true"
                aui-button="primary"
                [routerLink]="['../create', {}]">
          {{ "create" | translate }}{{ "resource" | translate }}
        </button>
        <aui-search [searchButton]="true"
                    [searching]="searching"
                    [debounce]="200"
                    [(keyword)]="keyword"
                    placeholder="{{'search_by_name_placeholder' | translate}}"
                    (search)="searchByName($event)">
        </aui-search>
      </div>

      <aui-table auiSort
                 [trackBy]="trackByFn"
                 [dataSource]="initialized ? list$ : []">
        <ng-container *ngFor="let column of columnDefs">
          <ng-container [auiTableColumnDef]="column.name">
            <ng-container *ngIf="column.sortable">
              <aui-table-header-cell *auiTableHeaderCellDef
                                     aui-sort-header
                                     [start]="column.sortStart">
                {{ column.label | translate }}
              </aui-table-header-cell>
            </ng-container>

            <ng-container *ngIf="!column.sortable">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ column.label | translate }}
              </aui-table-header-cell>
            </ng-container>
            <aui-table-cell *auiTableCellDef="let item">
              <ng-container [ngSwitch]="column.name">
                <div *ngSwitchCase="'name'">
                  <a href="javascript:void(0)"
                     (click)="viewResource(item, yamlViewDialog)"
                     [auiTooltip]="item.kubernetes.metadata.name"
                     [auiTooltipPosition]="'top start'">
                    {{item.kubernetes.metadata.name}}
                  </a>
                </div>

                <div *ngSwitchCase="'label'">
                  <div class="table-cell__label-container"
                       *ngIf="getLabelValue(item)">
                    <rc-tags-label [tags]="getLabelValue(item)"></rc-tags-label>
                  </div>
                </div>

                <div *ngSwitchCase="'creationTimestamp'">
                  {{item.kubernetes.metadata.creationTimestamp | rcFormatUtcStr}}
                </div>
                
                <div *ngSwitchCase="'namespace'">
                  {{item.kubernetes.metadata.namespace}}
                </div>
    
                <div *ngSwitchCase="'action'"
                     [auiDropdown]="menu"
                     auiDropdownActive="action-button__active"
                     class="action-button">
                  <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
                </div>
                <aui-menu #menu size="small">
                  <aui-menu-item (click)="updateAction(item)"
                                 [disabled]="!RSRCService.hasPermission(item.resource_actions, 'update')">
                    {{ 'update' | translate }}
                  </aui-menu-item>
                  <aui-menu-item (click)="updateLabelAction(item)"
                                 [disabled]="!RSRCService.hasPermission(item.resource_actions, 'update')">
                    {{ 'labels_update' | translate }}
                  </aui-menu-item>
                  <aui-menu-item (click)="deleteAction(item)"
                                 [disabled]="!RSRCService.hasPermission(item.resource_actions, 'delete')">
                    {{ 'delete' | translate }}
                  </aui-menu-item>
                </aui-menu>
              </ng-container>
            </aui-table-cell>
          </ng-container>
        </ng-container>
        <aui-table-header-row *auiTableHeaderRowDef="columns$ | async"></aui-table-header-row>
        <aui-table-row *auiTableRowDef="let row; columns: columns$ | async;"></aui-table-row>
      </aui-table>

      <rc-zero-state [zeroState]="showZeroState"
                     [fetching]="!initialized && fetching"
                     resourceName="resource">
      </rc-zero-state>
      
      <aui-paginator *ngIf="(listMeta$ | async)?.count > 10"
                      [length]="(listMeta$ | async)?.count"
                      [pageSize]="(pageParams$ | async)?.pageSize"
                      [pageIndex]="(pageParams$ | async)?.pageIndex-1"
                      (page)="pageChanged($event)"
                      [pageSizeOptions]="[10, 20, 50, 100]">
      </aui-paginator>

    </aui-card>
  </section>
</div>

<ng-template #yamlViewDialog let-data>
  <aui-dialog-header>
    {{data?.name}}{{ 'detail' | translate }}
  </aui-dialog-header>

  <aui-dialog-content>
    <aui-code-editor class="rc-sample-code-editor"
                      [actionsConfig]="edtiorActions"
                      [options]="editorOptions"
                      [(ngModel)]="yamlInputValue">
    </aui-code-editor>
  </aui-dialog-content>
</ng-template>
