@import '../../core/styles/common/table-common.scss';

:host {
  .rm-content {
    display: flex;
    &__nav {
      position: absolute;
      top: 0;
      height: 100%;
      overflow: hidden;
      width: 260px;
      &__title {
        font-size: 18px;
        height: 24px;
        line-height: 24px;
        margin-bottom: 12px;
      }
      .rm-content__nav_scroll-fix {
        height: 20px;
      }
      ::ng-deep aui-card {
        > .aui-card {
          height: 100%;
          padding-bottom: 20px;
          .aui-card__content {
            height: 90%;
            overflow-y: scroll;
          }
        }
      }
      ::ng-deep aui-nav {
        > .aui-nav {
          background-color: #fff;
          .aui-nav-item--is-root {
            &:before {
              background: #fff;
            }
            .aui-nav-item__label {
              padding-left: 0;
              color: #333;
            }
          }
          .aui-nav-item__ext-toggle {
            color: #999;
          }
          .aui-nav-item__ext {
            background-color: #fff;
            .aui-nav-item.aui-nav-item--nested {
              padding-left: 8px;
              margin-bottom: 2px;
              &:hover {
                background: #e5f5fc;
                .aui-nav-item__label {
                  color: #4bb0e9;
                }
              }
              &.aui-nav-item--active {
                background: #e5f5fc;
                .aui-nav-item__label {
                  color: #4bb0e9;
                }
              }
            }
          }
        }
      }
      ::ng-deep aui-nav.aui-nav--user-view {
        .aui-nav-item {
          padding-left: 8px;
          margin-bottom: 2px;
          &:hover {
            background: #e5f5fc;
            .aui-nav-item__label {
              color: #4bb0e9;
            }
          }
          &.aui-nav-item--active {
            background: #e5f5fc;
            .aui-nav-item__label {
              color: #4bb0e9;
            }
          }
        }
      }
    }
    &__list {
      flex: 1;
      margin-left: 276px;
      aui-card {
        .aui-card__header {
          align-items: center;
          border-bottom: none;
          > button {
            margin-right: 8px;
          }
        }
        ::ng-deep .aui-paginator {
          margin-top: 12px;
        }
      }
    }
  }
}
