<aui-inline-alert [closable]="true" [content]="'pvc_tips' | translate"></aui-inline-alert>
<div *rcPageHeaderContent class="storage-custom-header">
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_storage' | translate }}
    </ng-container>
  </rc-breadcrumb>
  <aui-icon icon="basic:info" class="notification-switch" (click)="showNotification()"></aui-icon>
</div>

<aui-card>
  <div fxLayout
       auiCardHeader>
    <button aui-button="primary" 
            (click)="createPvc()"
            *ngIf="hasCreatePvcPermission">
      {{'storage_create_volume' | translate}}
    </button>
    <div fxFlex></div>
    <aui-search [searchButton]="true"
        [searching]="searching"
        [debounce]="200"
        [(keyword)]="keyword"
        placeholder="{{'search_by_name_placeholder' | translate}}"
        (search)="searchByName($event)">
    </aui-search>
  </div>

  <aui-table [dataSource]="list$ | async"  [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{'storage_volume_name' | translate}}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/pvc.svg" alt="">
          <div class="rc-lines text-truncate">
            <div class="rc-line">
              {{item.kubernetes.metadata.name}}
            </div>
            <!-- <div class="rc-line">
              {{'referenced_pv'|translate}}：
              <ng-container *ngIf="item.persistentvolume">
                <a [routerLink]="['/storage/pv/detail', item.persistentvolume.uuid]"
                   title="{{item.persistentvolume.name}}">{{item.persistentvolume.name}}</a>
              </ng-container>
              <ng-container *ngIf="!item.persistentvolume">-</ng-container>
            </div> -->
          </div>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'status' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-status-badge [status]="statusMap[item.kubernetes.status.phase]"></rc-status-badge>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="namespace">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'region_namespace' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{item.kubernetes.metadata.namespace}}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="size">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'size' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{item.kubernetes.spec.resources.requests.storage}}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'action' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div [matMenuTriggerFor]="menu"
             class="action-button">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <mat-menu #menu="matMenu">
          <button 
            mat-menu-item 
            (click)="deletePvc(item)" 
            *ngIf="hasPermission(item, 'delete')">
            {{ 'delete' | translate }}
          </button>
        </mat-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
  </aui-table>
  <rc-zero-state [zeroState]="showZeroState" [fetching]="!initialized && fetching" resourceName="volume"></rc-zero-state>
</aui-card>
<rc-pagination2 [count]="(listMeta$ | async)?.count"
                [page]="(pageParams$ | async)?.pageIndex"
                [pageSize]="(pageParams$ | async)?.pageSize"
                [disabled]="fetching"
                (pageChanged)="pageChanged($event)">
</rc-pagination2>
