@import 'definitions/rubick.def';
@import 'partials/list.partial';

.storage-custom-header {
  flex: 1;
  display: flex;
  align-items: center;
}
.notification-switch {
  margin-left: auto;
  color: $gray-20;
  transition: color ease 0.3s;
  &:hover {
    color: $color-primary;
  }
}
