@import 'static/app/components/common/style/mixins';

rb-app-detail {
  .rb-app-detail-service-cell {
    > div {
      display: flex;
      align-items: center;
      line-height: 20px;
      &:not(:first-child) {
        margin-top: 4px;
      }
      > label {
        font-weight: 400;
        width: 130px;
        text-align: left;
        color: #a1a1a1;
        padding-right: 16px;
      }
      > span {
        color: #666;
        flex: 1;
        word-break: break-all;
      }
    }
  }
}

rb-app-config-update {
  .CodeMirror {
    height: auto;
  }
  .CodeMirror-scroll {
    min-height: 300px;
  }
  .rb-form-row {
    padding-right: 24px;
  }
}

rb-app-detail-service-list {
  .app-table {
    table-layout: fixed;
    .rb-truncate-cell {
      a,
      span {
        @include truncate-span;
      }
    }
    rb-copy-span {
      display: block;
      width: 100%;
      span {
        @include truncate-span;
        cursor: pointer;
      }
    }
    .rb-copy-span-tooltip {
      word-break: break-all;
      .tooltip-inner {
        max-width: 400px;
      }
    }
  }
  .service-status > .badge {
    font-weight: 600;
    width: 80px;
    text-align: center;
    padding: 0;
  }
  .service-type {
    transform: scale(0.9);
    font-family: HelveticaNeue-Bold;
    font-size: 9px;
    color: #fd7c23;
    letter-spacing: 0;
    background: #fff6ec;
    border-radius: 12px;
    padding: 0 5px;
  }
  .ui.input {
    margin-bottom: 8px;
    input {
      width: 240px;
    }
  }
}
