<rb-region-badge-option
  on-change-state="'app_service.app.list'">
</rb-region-badge-option>

<div ng-if="vm.initialized" class="rb-page-heading">
  <h1>
    <i class="fa fa-fw fa-cubes"></i>
    <span title="{{vm.app.app_name}}">{{vm.app.app_name}}</span>
    <span rubick-status-icon status="vm.app.current_status" mode="detail"></span>
  </h1>
  <div flex></div>
  <div ng-if="vm.initialized" class="rb-heading-button-group">
    <button class="ui button rb-btn-primary"
            ng-if="vm.appUtilities.startButton(vm.app.current_status) && vm.buttonDisplayExpr('start')"
            ng-click="vm.actionStart()" ng-disabled="vm.appActionLoading">
      {{ 'start' | translate }}
    </button>
    <div ng-if="vm.buttonDisplayExpr('update') && vm.shouldShowAppUpdateBtn()"
         tooltip-enable="!vm.appUtilities.updateButton(vm.app.current_status)"
         tooltip-placement="bottom"
         uib-tooltip="{{ vm.updateButtonToolTip() }}">
      <button class="ui button rb-btn-default"
              ng-disabled="!vm.appUtilities.updateButton(vm.app.current_status) || vm.appActionLoading"
              ng-click="vm.actionUpdate()">
        {{ 'update' | translate }}
      </button>
    </div>

    <button class="ui button rb-btn-default"
            ng-if="vm.buttonDisplayExpr('update') && vm.shouldShowConfigUpdateBtn()"
            ng-click="vm.actionUpdateConfig()">
      {{ 'app_update_config' | translate }}
    </button>

    <button class="ui button rb-btn-secondary"
            ng-if="vm.appUtilities.stopButton(vm.app.current_status) && vm.buttonDisplayExpr('stop')"
            ng-click="vm.actionStop()" ng-disabled="vm.appActionLoading">
      {{ 'stop' | translate }}
    </button>
    <rb-dropdown-menu rb-title="{{'action' | translate}}" rb-loading-mask="vm.appActionLoading">
      <rb-dropdown-menu-item
        ng-if="vm.appTemplateCreateEnabled"
        ng-click="vm.exportTemplate()">
        {{ "export_template" | translate }}
      </rb-dropdown-menu-item>
      <rb-dropdown-menu-item
        ng-if="vm.buttonDisplayExpr('update')"
        ng-click="vm.showLabelsDialog(vm.app.namespace, 'app', (vm.app.uuid || vm.app.app_name))">
        {{ "labels_update" | translate }}
      </rb-dropdown-menu-item>
      <rb-dropdown-menu-item
        ng-if="vm.appUtilities.retryButton(vm.app.current_status) && vm.buttonDisplayExpr('update')"
        ng-click="vm.actionRetry()">
        {{ "retry" | translate }}
      </rb-dropdown-menu-item>
      <rb-dropdown-menu-item
        ng-if="vm.appUtilities.deleteButton(vm.app.current_status) && vm.buttonDisplayExpr('delete')"
        ng-click="vm.actionDelete()">
        {{ "delete" | translate }}
      </rb-dropdown-menu-item>
    </rb-dropdown-menu>
  </div>

</div>

<rb-basic-info-panel fields="vm.basicInfoFields"
                     icon-url="vm.basicInfoIconUrl"
                     three-column="true"
                     initialized="vm.initialized"></rb-basic-info-panel>

<div ng-if="vm.initialized" class="rb-detail-container">
  <md-tabs class="rb-tabs"
           md-no-select-click="true"
           md-border-bottom="true"
           md-dynamic-height="true">
    <!--Spring Application Dashboard-->
    <md-tab ng-if="vm.shouldShowSpringDashboard()"
            md-on-select="vm.onTabSelected('dashboard')"
            label="Dashboard">
      <div class="rb-detail-tab-container">
        <rb-app-spring-dashboard app="vm.app"></rb-app-spring-dashboard>
      </div>
    </md-tab>
    <!--Redis Dashboard-->
    <md-tab ng-if="vm.shouldShowRedisDashboard()"
            md-on-select="vm.onTabSelected('dashboard')"
            label="Dashboard">
      <div class="rb-detail-tab-container">
        <rb-redis-app-dashboard app="vm.app"></rb-redis-app-dashboard>
      </div>
    </md-tab>
    <!--MySQL Dashboard-->
    <md-tab ng-if="vm.shouldShowMysqlDashboard()"
            md-on-select="vm.onTabSelected('dashboard')"
            label="Dashboard">
      <div class="rb-detail-tab-container">
        <rb-mysql-app-dashboard app="vm.app"></rb-mysql-app-dashboard>
      </div>
    </md-tab>
    <md-tab ng-if="vm.shouldShowMongodbDashboard()"
            md-on-select="vm.onTabSelected('dashboard')"
            label="Dashboard">
      <div class="rb-detail-tab-container">
        <rb-mongodb-app-dashboard app="vm.app"></rb-mongodb-app-dashboard>
      </div>
    </md-tab>
    <!--服务-->
    <md-tab md-on-select="vm.onTabSelected('services')"
            label="{{ 'services' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-app-detail-service-list app="vm.app"></rb-app-detail-service-list>
      </div>
    </md-tab>
    <!--服务拓扑-->
    <md-tab label="{{ 'app_topology' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-service-links-graph
          services="vm.app.services"
          app-name="vm.appName"></rb-service-links-graph>
      </div>
    </md-tab>
    <!--Catalog Application Config-->
    <md-tab ng-if="vm.shouldShowAppCatalogConfig()"
            md-on-select="vm.onTabSelected('catalog_config')"
            label="{{'app_catalog_config' | translate}}">
      <rb-app-catalog-config display-info="vm.app.catalog_info.display_info"></rb-app-catalog-config>
    </md-tab>
    <!--事件-->
    <md-tab md-on-select="vm.onTabSelected('events')"
            label="{{ 'events' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-event-list ng-if="vm.selectedTab === 'events'" type="'application'"
                       primary-key="vm.app.uuid">
        </rb-event-list>
      </div>
    </md-tab>
    <!--Alauda YML-->
    <md-tab md-on-select="vm.onTabSelected('yaml')"
            label="{{ 'yml_config' | translate }}">
      <div class="rb-detail-tab-container" rb-loading-mask="vm.yamlLoading">
        <ui-codemirror ui-codemirror-opts="vm.editorOptions"
                       ng-model="vm.yaml"></ui-codemirror>
      </div>
    </md-tab>
    <!--Docker Compose YML-->
    <md-tab md-on-select="vm.onTabSelected('compose-yaml')"
            label="{{ 'compose_yml_config' | translate }}">
      <div class="rb-detail-tab-container" rb-loading-mask="vm.composeLoading">
        <ui-codemirror ui-codemirror-opts="vm.editorOptions"
                       ng-model="vm.composeYaml"></ui-codemirror>
      </div>
    </md-tab>
    <!--MySQL 实例管理-->
    <md-tab ng-if="vm.app.type==='mysql'"
            md-on-select="vm.onTabSelected('management')"
            label="{{ 'app_catalog_instance_management' | translate }}">
      <div class="rb-detail-tab-container" rb-loading-mask="vm.composeLoading">
        <div class="instance-management">
          <div>
            <span>{{'app_catalog_click_link_to_manage_mysql' | translate }}</span>
            <a ng-href="{{vm.admin_url}}" target="_blank">{{vm.admin_url}}</a>
          </div>
        </div>
      </div>
    </md-tab>
  </md-tabs>
</div>
