rb-envfile-detail,
rb-envfile-create,
rb-envfile-update {
  .CodeMirror {
    height: auto;
  }
  .CodeMirror-scroll {
    min-height: 300px;
  }
  .rb-form-panel {
    .ui.fluid.input {
      line-height: 32px;
    }
  }
}
