<aui-card>
  <rc-inline-notification type="warning" [content]="'quota_update_hint' | translate" [closable]="false">
  </rc-inline-notification>
  <aui-form-item>
    <label auiFormItemLabel>{{'region' | translate}}</label>
    <rc-single-selection-dropdown [options]="clustersDisplayField"
                                  auiFormItemControl
                                  name="region"
                                  displayField="display_name"
                                  valueField="uuid"
                                  (change)="clusterSelect($event)"
                                  [(ngModel)]="curCluster">
    </rc-single-selection-dropdown>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{'cpu' | translate}}</label>
    <aui-input-group auiFormItemControl>
      <input aui-input
          type="number"
          name="cpu"
          [(ngModel)]="data.clusters[0].quota.cpu">
      <span auiInputAddonAfter>{{ 'unit_core' | translate }}</span>
    </aui-input-group>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{'memory' | translate}}</label>
    <aui-input-group auiFormItemControl>
      <input aui-input
          type="number"
          name="memory"
          [(ngModel)]="data.clusters[0].quota.memory">
      <span auiInputAddonAfter>{{ 'unit_gb' | translate }}</span>
    </aui-input-group>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{'pvc_num' | translate}}</label>
    <aui-input-group auiFormItemControl>
      <input aui-input
          type="number"
          name="pvc_num"
          [(ngModel)]="data.clusters[0].quota.pvc_num">
      <span auiInputAddonAfter>{{ 'ge' | translate }}</span>
    </aui-input-group>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{'pods' | translate}}</label>
    <aui-input-group auiFormItemControl>
      <input aui-input
          type="number"
          name="pods"
          [(ngModel)]="data.clusters[0].quota.pods">
      <span auiInputAddonAfter>{{ 'ge' | translate }}</span>
    </aui-input-group>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{'storage' | translate}}</label>
    <aui-input-group auiFormItemControl>
      <input aui-input
          type="number"
          name="storage"
          [(ngModel)]="data.clusters[0].quota.storage">
      <span auiInputAddonAfter>{{ 'unit_gb' | translate }}</span>
    </aui-input-group>
  </aui-form-item>
  <div class="form-footer">
    <button aui-button="primary" (click)="submit()">{{ 'update' | translate }}</button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-card>