@import 'colors.styles';

:host {
  .form-footer {
    border-top: 1px solid #eee;
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
  }
  ::ng-deep {
    rc-single-selection-dropdown {
      width: 100%;
    }
    aui-form-item {
      .aui-form-item__label-wrapper {
        flex: 2;
      }
      .aui-form-item__container {
        flex: 12;
        padding-right: 5%;
        .aui-form-item__control {
          width: 100%;
        }
      }
    }
  }
}
