<div class="pipeline-panels-container">

  <rb-pipeline-workflow workflow="vm.workflow">
  </rb-pipeline-workflow>

  <div class="pipeline-config-forms-container">
    <rb-pipeline-config-form
      ng-repeat="item in vm.workflow.allItems track by item.id"
      ng-disabled="item.disabled"
      item="item"
      mode="vm.mode"
      form="vm.forms[item.id]"
      workflow="vm.workflow"
      ng-show="vm.selectedItem.id === item.id">
    </rb-pipeline-config-form>
  </div>
</div>
