@import 'colors.styles';

rb-pipeline-config-workflow {
  .basic-info .rb-form-row {
    justify-content: space-between;

    .rb-label {
      flex-shrink: 0;
    }
  }

  .pipeline-panels-container {
    flex: 1;
    display: flex;
    align-items: stretch;
    max-width: 100%;

    rb-pipeline-workflow {
      overflow: auto;
      padding: 0 30px 50px 20px;
      width: 250px;
      margin-left: -20px;
      flex-shrink: 0;
      flex-basis: auto;
    }
  }
}
