@import '../../_status.colors.scss';

:host {
  display: flex;
  width: 164px;
  ul {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        justify-content: center;
        &::before {
          display: flex;
          border-radius: 50%;
          background-color: #a8a8a8;
          content: '';
          width: 8px;
          height: 8px;
          box-shadow: 0px 0px 0px 3px #f2f2f2;
          margin-right: 8px;
        }
      }

      @each $status, $color in $status-color-map {
        &.#{$status} > a::before {
          background-color: $color;
          box-shadow: 0px 0px 0px 3px rgba($color, 0.25);
        }
      }
    }
  }
}
