<ul>
  <li
    *ngFor="let item of histories"
    [class]="historyStatus(item).class"
  >
    <a [routerLink]="['/jenkins/histories', item.pipeline_uuid, item.history_id]">
      {{item.start_time_millis | rcFormatMs }}
    </a>
  </li>
</ul>