<form class="rb-from load-balancer-create" #createForm="ngForm" (ngSubmit)="submit()">
  <rc-form-field label="{{ 'name'| translate }}">
    <input rcInput name="name" [(ngModel)]="model.name" required>
  </rc-form-field>
  <rc-form-field label="{{ 'type'| translate }}" [shouldFlexRow]="true">
    <rc-single-selection-dropdown #singleDropdown
                                  name="type"
                                  [options]="lbTypeOptions"
                                  displayField="name"
                                  valueField="value"
                                  [(ngModel)]="model.type"
                                  required
    >
    </rc-single-selection-dropdown>
  </rc-form-field>
  <rc-form-field label="{{ 'lb_address_type'| translate }}" [shouldFlexRow]="true">
    <rc-single-selection-dropdown #singleDropdown name="address_type"
                                  [options]="addressTypeOptions"
                                  displayField="name"
                                  valueField="value"
                                  [(ngModel)]="model.address_type"
                                  required
    >
    </rc-single-selection-dropdown>
  </rc-form-field>
</form>
<div class="modal-footer">
  <button rcButton (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
  <button rcButton="primary" [class.loading]="submitting"
          [disabled]="!form.valid || this.submitting"
          (click)="form.onSubmit()">
    {{ 'confirm' | translate }}
  </button>
</div>
