@import 'colors.styles';

.load-balancer-create {
  margin: 20px;
  rc-single-selection-dropdown {
    flex: 1;
  }
}

.load-balancer-name-tips {
  margin: -10px 0 10px 150px;
  width: 380px;
}
.modal-footer {
  margin-top: 20px;
  background: $silver-6;
}
