<div class="rb-popover-label-list-wrap">
  <div class="rb-popover-label-list">
    <div title="{{ item.key + ': ' + item.value }}" ng-if="service" class="rb-popover-label-item" ng-repeat="item in service.labels track by $index">
      {{ item.key + ': ' + item.value }}
    </div>
    <div title="{{ item.key + ': ' + item.value }}" ng-if="app" class="rb-popover-label-item" ng-repeat="item in app.labels track by $index">
      {{ item.key + ': ' + item.value }}
    </div>
  </div>
</div>
