<div class="main-container">
  <div class="fa fa-exclamation-circle alert-box-info-icon">
  </div>
  <div class="content-container">
    <div *ngIf="title" class="alert-title"
         [innerHTML]="title">
    </div>
    <div class="alert-content"
         [innerHTML]="content">
    </div>
  </div>
</div>

<div class="alert-box-footer">
  <button rcButton="primary"
          (click)="confirm()">
    {{ confirmText | translate }}
  </button>
</div>
