<aui-dialog-header>
    {{mirrorResourceMeta.confirmTitle}}
</aui-dialog-header>
<aui-dialog-content>
    <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
    <div *ngIf="initialized">
        <div class="confirm-resource" *ngIf="mirrorResourceMeta.mirrorResource.length > 1">
            <span class="confirm-resource__label">{{mirrorResourceMeta.confirmLabel}}:</span>
            <aui-checkbox-group [(ngModel)]="resourceSelected">
                <aui-checkbox 
                    *ngFor="let resource of mirrorResourceMeta.mirrorResource"
                    [label]="resource"
                    [disabled]="isDisabled(resource)"
                >
                    {{resource[mirrorResourceMeta.displayName]}}
                </aui-checkbox>
            </aui-checkbox-group>
        </div>
        <div class="confirm-content">{{mirrorResourceMeta.confirmContent}}</div>
    </div>
</aui-dialog-content>
<aui-dialog-footer>
    <div>
        <button aui-button
            (click)="cancel()">
            {{'cancel'|translate}}
        </button>
        <button aui-button="primary"
            (click)="confirm()">
            {{'confirm'|translate}}
        </button>
    </div>
</aui-dialog-footer>