<rc-loading-mask [loading]="!initialized && loading && !(loadError | async)"></rc-loading-mask>
<div *ngIf="!(loadError | async) && (!loading || initialized)" class="broker-list-container">
  <rc-service-catalog-empty-page *ngIf="empty && queryString === ''; else elseBlock" (createBroker)="createBroker()" [type]="'serviceBroker'"
    [cluster]="cluster"></rc-service-catalog-empty-page>
  <ng-template #elseBlock>
    <aui-card>
      <div fxLayout="row" class="rc-list-header">
        <button rcButton="primary" (click)="createBroker()" *ngIf="permission.indexOf('clusterservicebroker:create') !== -1">
          {{ "service_catalog_create_service_broker" | translate }}
        </button>
        <span fxFlex></span>
        <rc-search-input [loading]="searching" (onSearch)="searchChanged($event)"></rc-search-input>
        <button rcIconButton [disabled]="loading" (click)="refetch()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
      <aui-table #serviceBroker [dataSource]="brokerItems" [trackBy]="trackByFn">
        <!-- `name` -->
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell *auiTableHeaderCellDef>{{'service_catalog_broker_name' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <div class="rc-resource-name-cell row-image">
              <span *ngIf="getBrokerStatus(item) === 'BrokerCreating'" class="fa fa-refresh service-catalog-sync-circle" [rcTooltip]="'status_creating' | translate"
                [rcTooltipInline]="false" rcTooltipMode="info" rcTooltipPosition="top"></span>
              <span *ngIf="getBrokerStatus(item) === 'BrokerInvalid'" class="fa fa-exclamation-circle service-catalog-warning-exclamation-circle"
                [rcTooltip]="'service_catalog_broker_breakdown' | translate" [rcTooltipInline]="false" rcTooltipMode="warning"
                rcTooltipPosition="top"></span>
              <img src="/static/images/service-catalog/service-broker.svg" [ngClass]="{'service-catalog-error-image':getBrokerStatus(item) !== 'BrokerNormal'}">
              <div class="rc-lines">
                <div class="rc-line">
                  <a href="javascript:void(0)" (click)="viewBroker(item.kubernetes.metadata.name)">
                    {{ item.display_name || item.kubernetes.metadata.name }}
                  </a>
                </div>
              </div>
            </div>
          </aui-table-cell>
        </ng-container>
        <!-- `classNum` -->
        <ng-container auiTableColumnDef="classNum">
          <aui-table-header-cell *auiTableHeaderCellDef>{{'service_catalog_class_number' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.classes_num }}{{'service_catalog_measure_word' | translate}}
          </aui-table-cell>
        </ng-container>
        <!-- `region` -->
        <ng-container auiTableColumnDef="region">
          <aui-table-header-cell *auiTableHeaderCellDef>{{'region' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ cluster.name }}
          </aui-table-cell>
        </ng-container>
        <!-- `action` -->
        <ng-container auiTableColumnDef="action">
          <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <div [auiDropdown]="menu" class="action-button">
              <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
            </div>
            <aui-menu #menu size="small">
              <aui-menu-item (click)="viewBroker(item.kubernetes.metadata.name)">
                {{ 'view' | translate }}
              </aui-menu-item>
              <aui-menu-item *ngIf="serviceCatalogUtilities.showBrokerUpdate(item)" (click)="updateBroker(item.kubernetes.metadata.name)">
                {{ 'update' | translate }}
              </aui-menu-item>
              <aui-menu-item *ngIf="serviceCatalogUtilities.showBrokerDelete(item)" (click)="deleteBroker(item)">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </aui-menu>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row *auiTableHeaderRowDef="['name', 'classNum', 'region', 'action']">
        </aui-table-header-row>
        <aui-table-row *auiTableRowDef="let row; columns: ['name', 'classNum', 'region', 'action'];">
        </aui-table-row>
      </aui-table>
      <section class="rc-list-pagination">
        <rc-pagination [count]="count" [pageSize]="pageSize" [disabled]="loading" (pageChanged)="pageChanged($event)"></rc-pagination>
      </section>
    </aui-card>
  </ng-template>
</div>

<rc-loading-error-page *ngIf="(loadError | async) && !initialized" (refresh)="refetch()"></rc-loading-error-page>
