<div class="header-row" fxLayout="row" fxLayoutAlign="space-between center">
  <button
    *ngIf="couldCreate"
    rcButton="primary"
    (click)="addIntegration()">
    {{ 'integration_add_integration' | translate }}
  </button>
  <span fxFlex></span>
  <div class="ui input">
    <rc-search-input (onSearch)="searchChanged($event)"></rc-search-input>
  </div>
</div>

<div class="integration-center-list-cards-container">
  <a
    class="integration-center-list-card"
    *ngFor="let integration of showIntegrations"
    (click)="getDetailHref(integration.id)"
    [attr.status]=" integration.enabled ? 'on' : 'off' "
  >
    <div class="card-content">
      <div
        class="card-title"
        title="{{ integration.name }}">
        {{ integration.name }}
      </div>
      <div class="card-icon-container">
        <img
          [src]="getImg(integration.type)"
          [attr.data-standby]="integration.logo"
          onerror="this.src=this.dataset.standby">
      </div>
      <div class="card-field-container">
        <div class="field-row">
          <div class="field-label">{{ 'type' | translate }}</div>
          <div class="field-value">{{ integration.typeDisplayText || integration.type }}</div>
        </div>
        <div class="field-row">
          <div class="field-label">{{ 'creator' | translate }}</div>
          <div class="field-value">{{ integration.created_by }}</div>
        </div>
        <div class="field-row">
          <div class="field-label">{{ 'status' | translate }}</div>
          <div class="field-value">{{ (integration.enabled ? 'switch_on' : 'switch_off') | translate }}</div>
        </div>
        <div class="field-row" title="{{ integration.description }}">
          <div class="field-label">{{ 'description' | translate }}</div>
          <div class="field-value">{{ integration.description }}</div>
        </div>
      </div>
    </div>
  </a>

  <div class="integration-center-list-card-placeholder"></div>
  <div class="integration-center-list-card-placeholder"></div>
  <div class="integration-center-list-card-placeholder"></div>
  <div class="integration-center-list-card-placeholder"></div>
  <div class="integration-center-list-card-placeholder"></div>
</div>