@import '_colors.styles';

:host {
  display: block;

  .header-row {
    margin-bottom: 10px;
  }

  .integration-center-list-cards-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
  }

  .integration-center-list-card-placeholder {
    flex-grow: 1;
    flex-basis: 320px;
    margin: 0 8px 16px;
  }

  .integration-center-list-card {
    flex-grow: 1;
    flex-basis: 320px;
    margin: 0 8px 16px;
    display: flex;
    width: 100%;
    height: 180px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    text-decoration: none;

    &::before {
      content: '';
      width: 6px;
      flex-shrink: 0;
      height: 100%;
      background-color: $status-color-stopped;
    }

    &[status='on']::before {
      background-color: $status-color-success;
    }

    &:hover {
      box-shadow: 0 0 6px $status-color-stopped;
    }

    &[status='on']:hover {
      box-shadow: 0 0 6px $status-color-success;
    }

    .card-content {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      width: 100%;
      padding: 0 20px;
    }

    .card-title {
      flex: 1 1 100%;
      font-size: 16px;
      line-height: 42px;
      color: #464646;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      border-bottom: 1px solid $default-border-color;
    }

    .card-icon-container {
      width: 20%;
      padding-top: 20px;
      img {
        display: block;
        width: 100%;
        border: 1px solid $default-border-color;
        border-radius: 4px;
        box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.14);
      }
    }

    .card-field-container {
      flex-grow: 1;
      width: 80%;
      padding: 16px 0 0 20px;
      .field-row {
        display: flex;
        margin-bottom: 8px;
        font-size: 14px;
      }
      .field-label {
        flex-shrink: 0;
        width: 80px;
        color: #888888;
      }
      .field-value {
        flex-grow: 1;
        color: #666666;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
