<aui-card>
  <div auiCardHeader>
    <span class="title">{{ data.display_name || data.name }}</span>
    <rc-button-menu *ngIf="!isUserView">
      <button [disabled]="!updatePermission" rcButton rcButtonMenuDefault (click)="showUpdateBasicInfoDialog()">{{ 'update_basic_info' | translate }}</button>
      <button *ngIf="deletePermission" rcMenuButton (click)="showDeleteDialog()"><span style="color: red;">{{ 'delete' | translate }}</span></button>
    </rc-button-menu>
  </div>
  <section class="basic-info">
    <div class="rc-detail-container">
      <div class="detail-wrapper" style="margin-left: 0">
        <div class="detail-content">
          <div class="detail-item" *ngIf="!isCMB">
            <label>{{ "name" | translate }}</label>
            <div>{{ data.name }}</div>
          </div>
          <div class="detail-item">
            <label>{{ "created_by" | translate }}</label>
            <div>{{ data.created_by }}</div>
          </div>
          <div class="detail-item">
            <label>{{ "created_at" | translate }}</label>
            <div>{{ data.created_at | rcFormatUtcStr }}</div>
          </div>
          <div class="detail-item">
            <label>{{ "updated_at" | translate }}</label>
            <div>{{ data.updated_at | rcFormatUtcStr }}</div>
          </div>
          <div class="detail-item">
            <label>{{ "services" | translate }}</label>
            <div>{{ data.service_type }}</div>
            <span *ngIf="data.service_type && !data.service_type.length">-</span>
          </div>
          <div class="detail-item">
            <label style="align-self: flex-start;">{{ "regions" | translate }}</label>
            <span class="ellipsis" [title]="clustersTitle">
              <span *ngFor="let region of data.clusters; let i = index;">{{ region.display_name || region.name }}<span *ngIf="i < data.clusters.length - 1">, </span></span>
              <span *ngIf="data.clusters && !data.clusters.length">-</span>
            </span>
          </div>
          <div class="detail-item">
            <label style="align-self: flex-start;">{{ "admin" | translate }}</label>
            <span class="ellipsis" [title]="data.admin_list?.join(',')">{{ (data.admin_list && data.admin_list.length) ? data.admin_list : '-' }}</span>
          </div>
          <div class="detail-item">
            <label style="align-self: flex-start;">{{ "description" | translate }}</label>
            <span class="ellipsis" [title]="data.description">{{ data.description || '-' }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</aui-card>

<rc-tab-group #tabGroup>
  <!-- 配额 -->
  <div *ngIf="data.clusters?.length && isCMB">
    <ng-container *rcTab="'quota_quota_value' | translate" class="custom-tab">
      <div style="float: right;" *ngIf="!isUserView">
        <button rcButton [disabled]="regionLoading || !updatePermission" (click)="showUpdateQuotaDialog()">{{ 'update_quota' | translate }}</button>
      </div>
      <div class="radios-group">
        <aui-radio-group #services [(ngModel)]="serviceType" [ngModelOptions]="{standalone: true}">
          <aui-radio-button value="Kubernetes">Kubernetes</aui-radio-button>
          <!-- <aui-radio-button value="PCF" disabled="true">PCF</aui-radio-button> -->
        </aui-radio-group>
        <aui-radio-group #clusters [(ngModel)]="curCluster" [ngModelOptions]="{standalone: true}" (ngModelChange)="regionChange($event)">
          <ng-container *ngFor="let item of clustersMap.kubernetes">
            <aui-radio-button [value]="item">{{ item.display_name || item.name }}</aui-radio-button>
          </ng-container>
        </aui-radio-group>
      </div>
      <div class="quota-content" [rcLoadingMask]="regionLoading">
        <ng-container *ngFor="let item of quotaSortQuery">
          <rc-project-pie-chart *ngIf="!!curPieData[item]" [data]="curPieData[item]"
                                [title]="item"
                                [unit]="unitMap[item]">
          </rc-project-pie-chart>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <!-- 成员 -->
  <ng-container *rcTab="'members' | translate" class="custom-tab">
     <rc-accounts-list [projectName]="data.name"></rc-accounts-list>
  </ng-container>

  <!-- 角色 -->
  <ng-container *ngIf="!isCMB">
    <ng-container *rcTab="'roles' | translate" class="custom-tab">
      <rc-project-role-list [projectName]="data.name"></rc-project-role-list>
    </ng-container>
  </ng-container>

</rc-tab-group>
