.rc-detail-container {
  padding: 0;
  margin: 0;
}

.title {
  font-size: 18px;
  line-height: 32px;
}

:host ::ng-deep {
  .aui-card {
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    .aui-card__header {
      padding-left: 0;
      display: flex;
      justify-content: space-between;
    }
    .aui-card__content {
      padding: 12px 0 0 0;
    }
  }
  .quota-content {
    display: flex;
  }

  .rc-tab-container {
    padding-top: 16px;
  }

  .radios-group {
    margin-bottom: 20px;
    .aui-radio-group {
      display: block;
      line-height: 32px;
      .aui-radio-button {
        border-radius: 16px;
        margin-right: 8px;
        margin-bottom: 8px;
        border: 0;
        &.isChecked {
          background-color: #009ce3;
          color: #fff;
        }
        &:hover:not(.isChecked) {
          color: #009ce3;
        }
        .aui-radio-button__pointer {
          display: none;
        }
        .aui-radio-button__label {
          height: auto;
          white-space: nowrap;
        }
      }
    }
  }
}
