<rc-form-container [rcLoadingMask]="!initialized">
  <form #form="ngForm">
    <rc-form-field [hideErrors]="true" [shouldFlexRow]="true">
      <rc-container-fields-resource-size
        #resourceSize
        name="resources"
        [rcErrorsTooltip]
        [rcErrorsTooltipMapper]="errorMapper"
        [(ngModel)]="containerResources">
      </rc-container-fields-resource-size>
    </rc-form-field>
  </form>
  <ng-container *rcFooterContent>
    <button rcButton
            (click)="cancel()">
      {{'cancel'|translate}}
    </button>
    <button
      *ngIf="shouldShowPrevStep()"
      rcButton
      (click)="prevStep()">
      {{'prev_step'|translate}}
    </button>
    <button rcButton="primary"
            [loading]="submitting"
            [disabled]="submitting"
            (click)="confirm()">
      {{'confirm'|translate}}
    </button>
  </ng-container>
</rc-form-container>
