<div *ngFor="let templateRef of itemTemplateRefs" class="breadcrumb-item">
  <ng-container *ngTemplateOutlet="templateRef"></ng-container>
  <rc-breadcrumb-separator></rc-breadcrumb-separator>
</div>
