:host {
  display: inline-flex;
  align-items: center;
  padding: 4px 0;
  font-size: 14px;
  border-radius: 3px;

  .breadcrumb-item {
    display: flex;
    align-items: center;
    &:last-child {
      > rc-breadcrumb-separator {
        display: none;
      }
    }
  }
}
