<rc-breadcrumb>
  <ng-container *ngFor="let partial of partials$ | async; last as isLast">
    <ng-container *rcBreadcrumbItem>
      <a *ngIf="partial.routerLink && !(contentItemTemplates?.length === 0 && isLast); else notHrefItem"
         [routerLink]="partial.routerLink">
        {{ partial.label }}
      </a>
      <ng-template #notHrefItem>
        <span>{{ partial.label }}</span>
      </ng-template>
    </ng-container>
  </ng-container>
  <!-- We want to project only the breaditem contents here -->
  <ng-container *ngFor="let templateRef of contentItemTemplates">
    <!-- Note: we need rcBreadcrumbItem here since ContentChild
         queries are only meaningful in the current template. -->
    <ng-container *rcBreadcrumbItem>
      <ng-container *ngTemplateOutlet="templateRef"></ng-container>
    </ng-container>
  </ng-container>
</rc-breadcrumb>
