<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>{{ 'image'| translate }}</ng-container>
    <ng-container *rcBreadcrumbItem>
      <a [routerLink]="['/image/repository']">{{ 'image_repository'| translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>{{ 'detail'| translate }}</ng-container>
  </rc-breadcrumb>
</ng-container>

<div class="rb-page-heading">
  <h1>
    <i class="fa fa-fw fa-building"></i>
    <span [hidden]="projectName"
          class="truncate"
          title="{{ repositoryName }}">{{ repositoryName }}</span>
    <span [hidden]="!projectName"
          class="truncate"
          title="{{ projectName }}/{{ repositoryName }}">{{ projectName }}/{{ repositoryName
      }}
    </span>
    <span class="fa"
          [ngClass]="{'fa-lock': !repository.is_public, 'fa-unlock': repository.is_public}"></span>
    <label *ngIf="repository.is_automated"
           class="label badge detail-status status-running">
      {{ 'auto_build' | translate }}
    </label>
  </h1>
  <div flex></div>
  <div *ngIf="initialized"
       class="rb-heading-button-group">
    <button rcButton="primary"
            [auiTooltipCopy]="'docker pull ' + imageAddress"
            [auiTooltipCopyTip]="dockerPullTip"
            auiTooltipCopyPosition="bottom end">{{ 'pull_repo' | translate }}</button>
    <rc-button-menu [text]="'action' | translate">
      <button rcMenuButton
              [routerLink]="['/image/repository/help']"
              [queryParams]="{ registryName: registryName, repositoryName: repositoryName, projectName: projectName }">Pull/Push
        {{ 'help' | translate }}</button>
      <button rcMenuButton
              *ngIf="buttonDisplayExpr('update')"
              [routerLink]="['/image/repository/edit']"
              [queryParams]="{ registryName: registryName, repositoryName: repositoryName, projectName: projectName }">{{
        'update' | translate }}</button>
      <button rcMenuButton
              *ngIf="buttonDisplayExpr('delete')"
              (click)="deleteRepository()"
              [disabled]="deleting">{{ 'delete' | translate }}</button>
    </rc-button-menu>
  </div>
</div>

<div class="rc-detail-container"
     [rcLoadingMask]="!initialized">
  <div *ngIf="weblabs.TAG_MANAGE_ENABLED"
       class="detail-icon">
    <img *ngIf="repository.icon"
         [src]="repository.icon"
         [alt]="'icon' | translate">
    <img *ngIf="!repository.icon"
         src="/static/images/repo/icon.png"
         srcset="/static/images/repo/icon@2x.png 2x"
         [alt]="'icon' | translate">
  </div>

  <div class="detail-wrapper">
    <div class="detail-content">
      <div class="detail-item">
        <label>{{ 'access_attribute' | translate }}</label>
        <div>
          <span>{{ repository.is_public ? 'public' : 'private' | translate }}</span>
        </div>
      </div>
      <div class="detail-item">
        <label>{{ 'repository_source' | translate }}</label>
        <div>
          <span>{{ registryName || 'Alauda' }}</span>
        </div>
      </div>
      <div class="detail-item">
        <label>{{ 'created_by' | translate }}</label>
        <div>
          <span>{{ repository.created_by }}</span>
        </div>
      </div>
      <div class="detail-item">
        <label>{{ 'created_time' | translate }}</label>
        <div>{{ repository.created_at | rcFormatUtcStr }}</div>
      </div>
      <div class="detail-item">
        <label>{{ 'updated_time' | translate }}</label>
        <div>{{ repository.updated_at | rcFormatUtcStr }}</div>
      </div>
      <div class="detail-item">
        <label>{{ 'short_description' | translate }}</label>
        <div>{{ repository.description || '-' }}</div>
      </div>
      <ng-container *ngIf="!isBasicInfoCollapse">
        <div class="detail-item">
          <label>{{ 'image_repository_address' | translate }}</label>
          <div *ngIf="imageAddress">
            <span [auiTooltipCopy]="imageAddress"
                  [auiTooltipCopyTip]="imageAddressTip">{{ imageAddress }}</span>
          </div>
        </div>
        <div class="detail-item">
          <label>{{ 'download_count' | translate }}</label>
          <div>{{ repository.download }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'upload_count' | translate }}</label>
          <div>{{ repository.upload }}</div>
        </div>
        <ng-container *ngIf="weblabs.TAG_MANAGE_ENABLED && repository.registry && repository.registry.tag_max_number">
          <div class="detail-item">
            <label>
              {{ 'image_repository_unprotected_count' | translate }}/{{ 'image_repository_limit_count'
              | translate }}</label>
            <div>
              {{ tagsCount && tagsCount - tagProtectedCount }}/{{ tagMaxNumber }}</div>
          </div>
          <div class="detail-item">
            <label>
              {{ 'image_repository_protected_count' | translate }}/{{ 'image_repository_max_protect_count'
              | translate }}</label>
            <div>
              {{ tagProtectedCount }}/{{ tagProtectedMaxNumber }}
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <span class="detail-collapse-switch"
        role="button"
        (click)="isBasicInfoCollapse = !isBasicInfoCollapse">
    <i class="icon fa-angle-double-down"
       *ngIf="isBasicInfoCollapse"></i>
    <i class="icon fa-angle-double-up"
       *ngIf="!isBasicInfoCollapse"></i>
  </span>
</div>

<rc-tab-group *ngIf="initialized"
              class="rc-detail-tab">
  <ng-container *rcTab="'information' | translate">
    <div *ngIf="repository.full_description"
         class="margin-top-2 word-break markdown-body"
         [innerHTML]="repository.full_description | rcMarked | rcTrustHtml"></div>
    <div *ngIf="!repository.full_description"
         class="rb-loading-mask-placeholder">{{ 'no_content' | translate }}
    </div>
  </ng-container>
  <rc-image-repository-tags *rcTab="'image_tag' | translate"
                            [repository]="repository"></rc-image-repository-tags>
  <ng-container *ngIf="weblabs.LEGACY_ANGULAR_JS_ENABLED">
    <rc-build-history *rcTab="'build_config_nav_build_history' | translate"
                      [registryName]="registryName"
                      [repositoryName]="repositoryName"
                      [projectName]="projectName"></rc-build-history>
  </ng-container>
  <rc-image-sync-history *rcTab="'image_sync_history' | translate"
                         [registryName]="registryName"
                         [repositoryName]="repositoryName"
                         [projectName]="projectName"></rc-image-sync-history>
</rc-tab-group>
