@import 'colors.styles';

@keyframes rb-flash-animation {
  from {
    background-color: #e1eef8;
  }

  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

rb-pipeline-history-detail {
  .rb-panel {
    display: flex;
    flex-flow: column;
    height: 100%;

    .rb-page-heading {
      flex-shrink: 0;
    }

    .pipeline-panels-container {
      flex: 1;
    }

    .pipeline-history-detail-load-error {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;

      .load-error-message {
        display: flex;
        height: 80px;
        color: #a1a1a1;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .pipeline-panels-container {
    display: flex;
    align-items: stretch;
    overflow: hidden;

    // Workflow height is the height of info panels, and min height is 600px
    .workflow-outer {
      overflow: auto;
      position: relative;
      width: 220px;
      padding: 20px 20px 20px 0;
    }

    .accordions-outer {
      padding: 20px 10px 20px 20px;
      overflow: auto;
      position: relative;
      width: 100%;
      flex: 1;
    }

    .pipeline-history-accordions.ui.accordion {
      width: 100%;

      .title {
        display: flex;
        align-items: center;

        .started-at,
        .time-cost {
          font-weight: normal;
        }
        .time-cost {
          margin-left: 36px;
        }

        .order-num {
          border-radius: 50%;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          font-size: 12px;
          font-weight: 600;
          margin-right: 6px;
          background-color: #888;
          color: #fff;
        }
      }
    }

    .title.focused,
    .content.focused {
      animation: 3s cubic-bezier(0.4, 0, 0.2, 1) rb-flash-animation;
    }
  }

  .manual-control-container {
    padding: 0 12px;

    .manual-control-card-container {
      display: flex;
      margin-bottom: 8px;
      align-items: center;

      .manual-control-card {
        border: 1px solid #ddd;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px 8px;
        margin-right: 8px;
        width: 100px;
        cursor: pointer;

        &.exec {
          width: 68px;
        }

        &[disabled] {
          cursor: not-allowed;
          opacity: 0.45;
        }

        &:hover:not([disabled]) {
          background-color: #f8f8f8;
        }

        &.active {
          &.proceed {
            border-color: $status-color-success;
            background-color: $status-color-success;
            color: #fff;
          }

          &.decline {
            border-color: $status-color-error;
            background-color: $status-color-error;
            color: #fff;
          }
        }
      }
    }

    .manual-control-label {
      font-size: 14px;
      color: #9c9c9c;
      margin: 12px 0;
    }

    .feedback-message {
      margin-bottom: 8px;
      padding: 8px;
      white-space: pre;
      min-height: 60px;
    }
  }
}
