<div rb-loading-mask="!vm.loadError && (!vm.workflow || vm.deleting)">
  <div class="rb-page-heading">
    <h1>
      <i class="fa fa-wrench"></i>
      <a title="{{ ::vm.history.name }}"
         ui-sref="pipeline.config.detail({name: vm.pipelineName})">{{ ::vm.history.name }}</a>
      <span>/</span>
      <span class="visible"
            title="{{ ::vm.historyId }}">{{ ::(vm.historyId | limitTo:8) }}</span>
      <span rubick-status-icon
            status="vm.history.status"
            status-text="{{ ('pipeline_status_' + vm.history.status) | translate }}"
            mode="detail">
      </span>
    </h1>
    <div flex></div>
    <div ng-if="vm.workflow">
      <button ng-show="!vm.isPipelineFinished()"
              ng-if="vm.buttonDisplayExpr('stop')"
              ng-disabled="vm.stopping"
              ng-click="vm.stopHistory()"
              class="ui button rb-btn-secondary">
        {{ "stop" | translate }}
      </button>
      <button ng-show="vm.isPipelineFinished()"
              ng-if="vm.buttonDisplayExpr('delete')"
              ng-click="vm.deleteHistory()"
              class="ui button rb-btn-secondary">
        {{ "delete" | translate }}
      </button>
    </div>
  </div>

  <div class="pipeline-panels-container"
       ng-if="vm.workflow">
    <div class="workflow-outer">
      <rb-pipeline-workflow ng-if="vm.workflow"
                            workflow="vm.workflow">
      </rb-pipeline-workflow>
    </div>

    <div class="accordions-outer">
      <div class="pipeline-history-accordions ui styled accordion">
        <!-- Trigger -->
        <div class="title"
             ng-click="vm.workflow.triggers.selected = !vm.workflow.triggers.selected"

             card-id="{{ vm.workflow.triggers.id }}"
             ng-class="{ active: vm.workflow.triggers.selected }">
          <i class="dropdown icon"></i>
          {{ 'basic_info' | translate }}

          <div flex></div>
          <div class="started-at"
               ng-if="vm.history.started_at">
            <span class="fa fa-clock-o"></span>
            {{ "started_at" | translate }} {{ vm.history.started_at | formatDate }}
          </div>
          <div class="time-cost"
               ng-if="vm.history.duration > 0">
            <span class="fa fa-history"></span>
            {{ "time_cost" | translate }} {{ vm.history.duration | rbDuration }}
          </div>
        </div>
        <div class="content"
             ng-class="{ active: vm.workflow.triggers.selected }">
          <div class="rb-detail-container">
            <div class="rb-detail-content">
              <div class="rb-detail-row">
                <div>{{ "creator" | translate }}</div>
                <div>{{ vm.getCreatorName(vm.history) }}</div>

                <div>{{ "started_at" | translate }}</div>
                <div>{{ vm.history.started_at | formatDate }}</div>
              </div>

              <div ng-if="vm.history.ended_at"
                   class="rb-detail-row">
                <div>{{ "image_registry_name" | translate }}</div>
                <div>{{ vm.getRegistryDisplayName$() | rbAsync:this | rbFieldNotAvailable
                  }}</div>

                <div>{{ "ended" | translate }}</div>
                <div>{{ vm.history.ended_at | formatDate }}</div>
              </div>

              <div class="rb-detail-row">
                <div>{{ "image_repository_name" | translate }}</div>
                <div>
                  <a router-link="'/image/repository/detail'"
                     query-params="{ registryName: vm.history.data.registry, repositoryName: vm.history.data.repository }">
                    {{ vm.history.data.repository }}
                  </a>
                </div>

                <div>{{ "time_cost" | translate }}</div>
                <div>{{ vm.history.duration | rbDuration }}</div>
              </div>

              <div class="rb-detail-row">
                <div>{{ "image_tag" | translate }}</div>
                <div>
                  <rb-copy-span bind-text="vm.history.data.image_tag"></rb-copy-span>
                </div>
              </div>

              <div class="rb-detail-row">
                <div>{{ 'schedule_rule' | translate }}</div>
                <div>
                  <div ng-if="vm.history.data.schedule_rule">{{ vm.history.data.schedule_rule }} ({{ 'build_config_next_trigger_time'
                    | translate }}：{{ vm.history.data.schedule_rule | rbCrontabNext
                    }}）
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="rb-tabs-container rb-detail-container">
            <md-tabs class="rb-tabs"
                     md-dynamic-height="true">
              <!-- Pipeline overview logs -->
              <md-tab class="rb-tab"
                      label="{{ 'logs' | translate }}">
                <rb-pipeline-history-log ng-if="vm.pipelineLogParams && vm.history.status !== 'pending'"

                                         params="vm.pipelineLogParams"
                                         flag-function="vm.pipelineLogFlagFunction()"
                                         type="pipeline">
                </rb-pipeline-history-log>
              </md-tab>

              <!-- Pipeline artifacts -->
              <md-tab class="rb-tab"
                      ng-if="vm.artifactPrefices"
                      label="{{ 'artifacts' | translate }}">
                <rb-artifacts-table prefix="vm.artifactPrefices"></rb-artifacts-table>
              </md-tab>
            </md-tabs>
          </div>
        </div>

        <!-- Tasks -->
        <div class="title"
             ng-if="!item.disabled"
             ng-repeat-start="item in vm.workflow.allTasks track by $index"
             card-id="{{ item.id }}"
             ng-click="item.selected = !item.selected"
             ng-class="{ active: item.selected }">
          <i class="dropdown icon"></i>
          <div ng-if="item.isTask()"
               class="order-num">
            {{ item.order }}
          </div>
          {{ item.title }}
          <div flex></div>
          <div class="started-at"
               ng-if="item.model.started_at">
            <span class="fa fa-clock-o"></span>
            {{ "started_at" | translate }} {{ item.model.started_at | formatDate }}
          </div>
          <div class="time-cost"
               ng-if="item.duration > 0">
            <span class="fa fa-history"></span>
            {{ "time_cost" | translate }} {{ item.duration | rbDuration }}
          </div>
        </div>

        <!-- Content for Tasks -->
        <div class="content"
             ng-repeat-end
             ng-if="!item.disabled"
             ng-class="{ active: item.selected }">

          <!-- Log tabs for deploy app tasks -->
          <div ng-if="item.model.type === 'deploy-application' && item.model.services"
               class="rb-tabs-container">
            <md-tabs class="rb-tabs"
                     md-dynamic-height="true">
              <md-tab class="rb-tab"
                      ng-repeat="service in item.model.services track by $index"
                      label="{{ service.service_name }}">
                <rb-pipeline-history-log ng-if="service.logParams"
                                         params="service.logParams"
                                         flag-function="service.logFlagFunction()"
                                         type="task">
                </rb-pipeline-history-log>
              </md-tab>
            </md-tabs>
          </div>

          <!-- Simple logs for tasks -->
          <rb-pipeline-history-log ng-if="!['deploy-application', 'notification', 'build', 'sync-registry'].includes(item.model.type) && item.logParams"

                                   params="item.logParams"
                                   flag-function="item.logFlagFunction()"
                                   type="task">
          </rb-pipeline-history-log>

          <!-- Build tabs -->
          <div ng-if="item.model.type === 'build'">
            <div class="rb-loading-mask-placeholder"
                 ng-if="!item.buildDetail">
              {{ 'pipeline_loading_build_detail' | translate }}
            </div>
            <rb-build-detail-tabs ng-if="item.buildDetail"
                                  build-detail="item.buildDetail">
            </rb-build-detail-tabs>
          </div>

          <!-- Sync Registry Tabs -->
          <div ng-if="item.model.type === 'sync-registry'">
            <md-tabs class="rb-tabs"
                     md-dynamic-height="true">
              <md-tab class="rb-tab"
                      ng-repeat="syncDetail in item.syncDetails track by $index"
                      label="{{ syncDetail.history_id | limitTo:8 }} {{ syncDetail.dest_endpoint }}">
                <rb-image-sync-history-log ng-if="syncDetail && syncDetail.created_at"
                                           history="syncDetail">
                </rb-image-sync-history-log>
              </md-tab>
            </md-tabs>
          </div>

          <!-- Manual Control -->
          <div ng-if="item.model.type === 'manual-control'"
               class="rb-form manual-control-container">
            <div ng-if="vm.history.artifact_enabled">
              <div class="rb-header-alt">
                {{ 'pipeline_history_manual_control_file_upload' | translate }}
              </div>
              <rb-artifacts-upload ng-if="item.model.status === 'ongoing' && !item.submitting"

                                   prefix="item.artifactPrefix"
                                   state-changed="item.uploadStateChanged(state)">
              </rb-artifacts-upload>
              <rb-artifacts-table ng-if="item.model.status !== 'ongoing' || item.submitting"
                                  prefix="item.artifactPrefix">
              </rb-artifacts-table>
            </div>

            <div class="rb-header-alt">
              {{ 'pipeline_entry_container' | translate }}
            </div>
            <div class="manual-control-card-container">
              <button ng-click="item.onExecClicked()"
                      ng-show="item.proceeded || item.model.status === 'ongoing'"
                      ng-disabled="item.model.data && item.model.data.exec_enabled
                                   && item.manualControlDisabled() || item.manualControlExecDisabled()"

                      class="manual-control-card exec">
                {{ 'pipeline_manual_control_exec' | translate }}
              </button>
            </div>

            <div class="rb-header-alt">
              {{ 'pipeline_history_manual_control_title' | translate }}
            </div>
            <div class="manual-control-card-container">
              <button ng-click="item.onProceedClicked()"
                      ng-show="item.proceeded || item.model.status === 'ongoing'"
                      ng-disabled="item.manualControlDisabled()"
                      class="manual-control-card proceed"
                      ng-class="{active: item.proceeded}">
                <i class="fa fa-check"></i>
                {{ 'pipeline_manual_control_proceed' | translate }}
              </button>
              <button ng-click="item.onDeclineClicked()"
                      ng-show="item.declined || item.model.status === 'ongoing'"
                      ng-disabled="item.manualControlDisabled()"
                      class="manual-control-card decline"
                      ng-class="{active: item.declined}">
                <i class="fa fa-ban"></i>
                {{ 'pipeline_manual_control_decline' | translate }}
              </button>
              <div ng-if="item.model.data.username">
                <span style="font-weight: 600;">{{ item.model.data.username }}</span> on {{ item.model.ended_at |
                formatDate }}
              </div>
            </div>
            <div class="rb-header-alt">
              {{ 'pipeline_history_manual_control_reason' | translate }}
            </div>
            <pre class="feedback-message"
                 ng-bind="item.feedbackMessage | rbFieldNotAvailable"
                 ng-if="item.model.status !== 'ongoing' || item.submitting">
            </pre>
            <textarea class="feedback-message"
                      ng-if="item.model.status === 'ongoing'"
                      ng-hide="item.submitting"
                      cols="30"
                      rows="6"
                      ng-model="item.feedbackMessage">
            </textarea>
            <div class="rb-form-row"
                 ng-if="item.model.status === 'ongoing'">
              <button ng-disabled="!item.manualControlTouched || item.submitting || !vm.taskControlButtonDisplayExpr(item.model)"

                      ng-class="{loading: item.submitting}"
                      ng-click="item.submit($event)"
                      class="ui button rb-btn-primary">
                {{ 'submit' | translate }}
              </button>
            </div>
          </div>

          <!-- Notification -->
          <rb-notification-detail ng-if="item.model.type === 'notification'"
                                  readonly="true"
                                  notification-name="item.model.data.notification">
          </rb-notification-detail>

          <!-- CI report -->
          <!-- <div ng-if="item.model.type === 'ci-report'">
            <div ng-repeat="item in item.model.data.emails track by $index">
              <div>{{ item.email }}</div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div ng-if="vm.loadError"
       class="pipeline-history-detail-load-error">
    <div class="load-error-message">
      <div>{{ 'pipeline_history_detail_load_error' | translate }}</div>
    </div>
  </div>

</div>
