<div>
  <table class="table-condensed rb-fieldset-table">
    <thead>
    <tr>
      <td>{{ 'listening_port' | translate }}</td>
      <td style="width:112px;">{{ 'container_port' | translate }}</td>
      <td style="width:112px;">{{ 'protocol' | translate }}</td>
      <td>{{ 'address' | translate }}</td>
      <td>{{ 'certificate' | translate }}</td>
      <td style="width:25px;"></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="vm.initialized" ng-repeat="listener in vm.listeners track by $index">
      <td>
        <div>
          <input type="number"
                 style="width: 100%;min-width: 80px;padding-left: 8px;"
                 ng-model="listener.listener_port"
                 max="65535"
                 min="1"
                 placeholder="1~65535">
        </div>
      </td>
      <td>
        <rb-dropdown size="xxs"
                     init="listener.container_port"
                     is-disabled="vm.loading || !vm.containerPorts.length"
                     on-change="vm.containerPortChange(listener, option)"
                     options="vm.containerPorts"></rb-dropdown>
      </td>
      <td>
        <rb-dropdown size="xxs"
                     init="listener.protocol"
                     options="vm.protocols"
                     value="value"
                     on-change="vm.protocolChanged(listener, option)"
                     key="name"></rb-dropdown>
      </td>
      <td style="width: 360px">
        <div rb-form-tooltip tooltip-show="vm.httpsVaild(listener)"
             style="max-width: 356px;">
          <rb-tags-input validate-fn="vm.domainValidateFn"
                         init-tags="listener.domains"
                         placeholder="'ports_tags_placeholder' | translate"
                         on-change="vm.onDomainsChange(listener,tags)"
                         is-disabled="!vm.isHttp(listener)"></rb-tags-input>
        </div>
        <div class="ui popup rb-input-message"
             ng-class="{'ui-popup-visible': vm.httpsVaild(listener),'ui-popup-hidden': !vm.httpsVaild(listener)}"
             ng-show="vm.httpsVaild(listener)">
          {{ 'domain_required_https'| translate }}
        </div>
      </td>
      <td style="width: 150px">
        <rb-dropdown ng-if="listener.protocol=='https'"
                     init="listener.certificate_name"
                     key="name"
                     value="value"
                     on-change="vm.certChange(listener, option)"
                     options="vm.certList"></rb-dropdown>
        <rb-dropdown ng-if="listener.protocol!='https'"
                     is-disabled="true"></rb-dropdown>
      </td>
      <td>
        <button class="rb-fieldset-action-btn"
                ng-click="vm.deleteListener($index)">
          <i class="fa fa-remove"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <button ng-click="vm.addListener()" class="rb-fieldset-add-btn">
          <i class="fa fa-plus"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
