@import 'form.styles';

:host {
  display: block;
  ::ng-deep rc-single-selection-dropdown,
  rc-code-editor {
    flex: 1;
  }
  .rb-form {
    width: 75%;
    .form-field-text {
      display: flex;
      line-height: $form-row-height;
      margin-bottom: 8px;
    }
    .form-field-label {
      width: 140px;
      text-align: right;
      padding-right: 16px;
      font-weight: normal;
      span {
        color: #fc5d68;
      }
    }
    .form-field-value {
      color: #fc5d68;
    }
  }
}
