<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'network'| translate }}
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      <a href="javascript:void(0)"
         [routerLink]="['/network_policy']">{{ 'network_policy'| translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'create'| translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<rc-inline-notification type="info"
                        closable='true'
                        content="{{ 'network_policy_create_tips' | translate }}">
</rc-inline-notification>

<rc-form-container>
  <form class="rb-form"
        #createForm="ngForm"
        (ngSubmit)="submit()">
    <rc-form-field label="{{ 'region_namespace' | translate }}"
                   *ngIf="namespaceOptions.length > 0"
                   [shouldFlexRow]="true">
      <rc-single-selection-dropdown
        #singleDropdown
        required
        name="namespace"
        [options]="namespaceOptions"
        [(ngModel)]="model.namespace"
        displayField="name"
        valueField="name">
      </rc-single-selection-dropdown>
    </rc-form-field>
    <div *ngIf="namespaceOptions.length === 0"
         class="form-field-text">
      <label class="form-field-label">{{ 'region_namespace' | translate }} <span>*</span></label>
      <div class="form-field-value">
        {{ 'network_policy_namespace_empty' | translate }}
      </div>
    </div>

    <rc-form-field label="{{ 'name'| translate }}" [shouldFlexRow]="true">
      <input rcInput
             name="name"
             [(ngModel)]="model.name"
             placeholder="{{'network_policy_name_hint' | translate}}"
             pattern="^[a-z]([0-9a-z-]{0,61}[0-9a-z])?$"
             required>
    </rc-form-field>

    <rc-form-field label="{{'yaml_compose_file' | translate}}" [shouldFlexRow]="true">
      <rc-code-editor [(ngModel)]="model.networkPolicyYaml" mode="yaml" name="yaml" required></rc-code-editor>
    </rc-form-field>
  </form>

  <ng-container *rcFooterContent>
    <button fxFlexOffset="140px"
            rcButton="primary"
            [loading]="submitting"
            [disabled]="!(form.valid && model.namespace) || submitting"
            (click)="confirm()">{{'confirm' | translate}}</button>
    <button fxFlexOffset="12px"
            rcButton
            [disabled]="submitting"
            (click)="cancel()">{{'cancel' | translate}}</button>
  </ng-container>
</rc-form-container>
