@import 'colors.styles';

:host {
  .preview-container {
    padding: 20px;
    color: #4d4d4d;
  }
  .top-row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

    .confirm-box-close-icon {
      font-size: 16px;
      color: $gray-8;
      cursor: pointer;
    }
  }

  .comfirm-box-title {
    flex: 1;
    flex-shrink: 0;
    display: flex;
  }

  .confirm-box-info-icon {
    display: flex;
    width: 24px;
    height: 24px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: $blue-6;
  }

  .content-container {
    flex: 1;
    width: 500px;
    line-height: 24px;

    .confirm-title {
      font-size: 18px;
      line-height: 24px;
      text-align: left;
      word-wrap: break-word;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .confirm-content {
      font-size: 14px;
    }
  }
  .detail-content {
    display: flex;
    min-height: 40px;
    border: 1px solid #ccc;
    margin: 10px 0;
    word-break: break-all;
    > div {
      display: flex;
      align-items: stretch;
      span {
        display: flex;
        align-items: center;
        flex: 1;
      }
    }
    > div:nth-of-type(odd) {
      flex: 0 0 100px;
      background-color: #fafafa;
      text-align: center;
      line-height: 40px;
      span {
        justify-content: center;
      }
    }
    > div:nth-of-type(even) {
      border-left: 1px solid #ccc;
      flex: 1;
      text-align: left;
      padding: 12px 5px;
    }
    > div:not(:first-of-type) {
      border-left: 1px solid #ccc;
    }
  }

  .confirm-box-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }
  }
}
