<div class="preview-container">
  <!--提示-->
  <div class="comfirm-box-title">
    <div class="fa fa-question-circle confirm-box-info-icon">
    </div>
    <div class="content-container">
      {{ 'network_policy_create_confirm' | translate }}
    </div>
  </div>

  <!--命名空间 名称-->
  <div class="detail-content">
      <div><span>{{ 'namespace' | translate }}</span></div>
      <div><span>{{ model.namespace }}</span></div>
      <div><span>{{ 'name' | translate }}</span></div>
      <div><span>{{ model.name }}</span></div>
  </div>
  <!--yaml预览-->
  <form class="rb-from"
        #form="ngForm"
        (ngSubmit)="onSubmit()">
    <rc-code-editor [(ngModel)]="model.networkPolicyYaml"
                    name="yaml"
                    mode="yaml"
                    [readOnly]="readOnly"
                    [allowMaximize]="false"
                    [rcLoadingMask]="loadingYaml"
                    required
                    style="flex: 1;"></rc-code-editor>
  </form>

  <!--footer-->
  <div class="confirm-box-footer">
    <button rcButton
            (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button rcButton="primary"
            [disabled]="form.invalid || submitting"
            [loading]="submitting"
            (click)="confirm()">
      {{ (isUpdate ? 'network_policy_update' : 'confirm') | translate }}
    </button>
  </div>
</div>

