<div class="volume-list-container">
  <div layout="row" class="tab-button-group">
    <div flex="20" class="ui input">
      <input type="text"
             ng-model="vm.filterKey"
             placeholder="{{ 'filter_by_name_placeholder' | translate}}">
    </div>
    <div flex></div>
  </div>
  <table ng-if="!vm.loadError && vm.volumes.length"
         style="table-layout: fixed;"
         class="table app-table table-bordered table-hover">
    <thead>
    <tr>
      <td>{{ "storage_volume_name" | translate }}</td>
      <td style="width: 100px;">{{ "storage_snapshot_id" | translate }}</td>
      <td style="width: 80px;">{{ "storage_volume_size" | translate }}</td>
      <td style="width: 100px;">{{ "storage_volume_driver_type" | translate }}</td>
      <td style="width: 100px;">{{ "storage_volume_type" | translate }}</td>
      <td style="width: 80px;">{{ "status" | translate }}</td>
      <td style="width: 200px;">{{ "storage_volume_linked_service_path" | translate }}</td>
      <td style="width: 170px;">{{ "created_at" | translate }}</td>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="volume in vm.volumes | filter : {name: vm.filterKey} track by $index">
      <td>
        <a ng-if="volume.driver_name !== 'hostPath'"
           href="{{'/console/storage/volume/detail/'+volume.id}}">
          {{ volume.name }}
        </a>
        <div ng-if="volume.driver_name === 'hostPath'">
          {{ volume.name }}
        </div>
      </td>
      <td>
        {{ volume.snapshot_id | limitTo:8 }}
      </td>
      <td>
        {{ volume.size ? volume.size : '' }}
      </td>
      <td>
        {{ ('storage_volume_driver_type_' + volume.driver_name) | translate }}
      </td>
      <td>
        {{ volume.volume_type }}
      </td>
      <td>
        <span rubick-status-icon
              ng-if="vm.volumeStateMap[volume.state]"
              status="vm.volumeStateMap[volume.state]" mode="list">
        </span>
      </td>
      <td>
        <div ng-repeat="stat in volume.stats track by $index">
          <a ng-if="stat.name"
             href="javascript:void(0)"
             ng-click="vm.viewServiceDetail(stat)">
            {{ stat.name }}:
          </a>
          <span>{{ stat.app_volume_dir }}</span>
        </div>
      </td>
      <td>
        {{ volume.created_at | formatDate }}
      </td>
    </tr>
    </tbody>
  </table>
  <rb-loading-mask-placeholder ng-if="vm.loading && (!vm.volumes || !vm.volumes.length)"></rb-loading-mask-placeholder>
  <!-- Explains why there is no data -->
  <div class="rb-list-table-info-container"
       ng-show="!vm.loading && (!vm.volumes || !vm.volumes.length)">
    <div ng-if="!vm.loadError && !vm.volumes.length">
      {{ 'storage_volume_none' | translate }}
    </div>
    <div ng-if="vm.loadError">
      {{ 'storage_data_load_error' | translate }}
    </div>
    <button ng-if="vm.loadError"
            class="ui button rb-btn-primary margin-top-2"
            ng-click="vm.pageNoChange()">
      {{ 'refresh' | translate }}
    </button>
  </div>
</div>

<rb-pagination
  class="pull-right"
  ng-show="vm.pagination.totalItems > vm.pagination.pageSize"
  total-items="vm.pagination.totalItems"
  on-change="vm.pageNoChange(page, size)">
</rb-pagination>
