.rb-dashboard-list {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-right: -16px;
  .rb-dashboard-card-placeholder {
    min-width: 320px;
    flex: 1 0 320px; // make flex-basis equal min-width
    margin: 0 16px 16px 0;
    height: 0;
  }
  .rb-dashboard-card {
    background-color: #fff;
    min-width: 320px;
    margin: 0 16px 16px 0;
    flex: 1 0 320px; // make flex-basis equal min-width
    border: 1px solid #f0f0f0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 0 10px 0 #c4c4c4;
    }

    .dashboard-card-header {
      display: flex;
      align-items: center;
      height: 48px;
      font-size: 16px;
      justify-content: space-between;
      border-bottom: 1px solid #ebe9e9;
      .card-title {
        width: 210px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .card-button {
        font-size: 14px;
        line-height: 24px;
        background-color: #fff;
        border: none;
        border-radius: 4px;
        display: block;
        float: left;
        transition: background-color 0.3s, color 0.3s;
        border-right-width: 0;
        color: #e2e2e2;
        padding: 0 6px;
        &:hover:not(.cursor-not-allowed) {
          background-color: #f5f5f5;
          color: #0badeb;
        }
      }
    }
    .dashboard-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 120px;
      .card-row {
        height: 28px;
        display: flex;
        align-items: center;
        font-size: 14px;
        .card-label {
          width: 120px;
          color: #888;
          text-align: left;
        }
        .card-item {
          flex: 1;
          color: #666;
        }
      }
    }
  }
}
