<rb-loading-mask-placeholder ng-if="!vm.initialized"></rb-loading-mask-placeholder>
<div ng-if="vm.initialized">
  <div class="rb-page-heading">
    <div flex layout="row">
      <div flex="20" class="ui input">
        <input type="text"
               ng-model="vm.filterKey"
               placeholder="{{ 'filter_by_name_placeholder' | translate}}"
        >
      </div>
    </div>
    <a ng-if="vm.createEnabled"
       class="ui button rb-btn-primary"
       ng-click="vm.createDashbaord()">
      {{'monitor_dashboard_create' | translate}}
    </a>
  </div>
  <div ng-if="vm.initialized && !vm.dashboardList.length" class="rb-loading-mask-placeholder">
    {{'dashboard_empty_note' | translate}}
  </div>
  <div ng-if="vm.dashboardList.length" class="rb-dashboard-list">
    <div ng-repeat="dashboard in vm.dashboardList | filter: {display_name: vm.filterKey} track by $index"
         ng-click="vm.showDashboardDetail(dashboard)" class="rb-dashboard-card" rb-loading-mask="dashboard.deleting">
      <div class="dashboard-card-header">
        <div class="card-title" title="{{dashboard.display_name}}">
          {{dashboard.display_name}}
        </div>
        <div class="card-buttons">
          <button class="card-button"
                  ng-if="vm.buttonDisplayExpr(dashboard, 'update')"
                  ng-click="$event.stopPropagation();vm.updateDashboard(dashboard)"
                  uib-tooltip="{{'update' | translate}}">
            <span><i class="fa fa-edit"></i></span>
          </button>
          <button class="card-button"
                  ng-if="vm.buttonDisplayExpr(dashboard, 'delete')"
                  ng-click="$event.stopPropagation();vm.deleteDashboard(dashboard)"
                  uib-tooltip="{{'delete' | translate}}">
            <span><i class="fa fa-trash-o"></i></span>
          </button>
        </div>
      </div>
      <div class="dashboard-card-content">
        <div class="card-row">
          <div class="card-label">{{'created_by' | translate}}</div>
          <div class="card-item">{{dashboard.created_by}}</div>
        </div>
        <div class="card-row">
          <div class="card-label">{{'created_at' | translate}}</div>
          <div class="card-item">{{dashboard.created_at | formatDate}}</div>
        </div>
        <div class="card-row">
          <div class="card-label">{{'monitor_chart' | translate}}</div>
          <div class="card-item">{{dashboard.chart_count}}</div>
        </div>
      </div>
    </div>
    <div class="rb-dashboard-card-placeholder"></div>
    <div class="rb-dashboard-card-placeholder"></div>
    <div class="rb-dashboard-card-placeholder"></div>
    <div class="rb-dashboard-card-placeholder"></div>
  </div>

</div>
