.create-mode-container {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  .mode-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 20px 0;
    position: relative;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    transition: all 0.3s ease;
    .img {
      border-radius: 3px;
      text-align: center;
      flex-shrink: 0;
      width: 90px;
      height: 90px;
      margin: 40px auto;
      transition: all 0.3s ease;
      background-repeat: no-repeat;
      background-position: center;
    }
    .img.template {
      background-image: url('/static/images/pipeline/create-mode/template.svg');
    }
    .img.jenkinsfile {
      background-image: url('/static/images/pipeline/create-mode/jenkinsfile.svg');
    }
    &:hover {
      cursor: pointer;
      border: 1px solid #24a7e3;
      box-shadow: 0 0 0 1px #24a7e3;
      .img.template {
        background-image: url('/static/images/pipeline/create-mode/template_h.svg');
      }
      .img.jenkinsfile {
        background-image: url('/static/images/pipeline/create-mode/jenkinsfile_h.svg');
      }
      &:after {
        content: '';
        background-image: url('/static/images/icon/check.svg');
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      h3 {
        color: #24a7e3;
      }
    }
  }

  h3 {
    transition: all 0.3s ease;
    color: #4d4d4d;
    font-size: 18px;
    margin: 0;
  }
  p {
    color: #999;
    font-size: 12px;
  }
}
