<div class="rb-instance-size-list">
  <div ng-repeat="item in vm.instanceSizes track by $index"
       ng-click="vm.onSelect(item)"
       class="rb-instance-size-item"
       ng-class="{ 'active': vm.selected === item }">
    <h3><span>{{ item.key | uppercase }}</span><i class="fa fa-check"></i></h3>
    <section>
      <p>{{ item.cpu }} {{ 'unit_cpu' | translate }}</p>
      <p>{{ item.mem | rbBytesFormatter : 0 : 1024 * 1024 }}</p>
    </section>
  </div>
  <div ng-if="!vm.disableCustomize"
       ng-click="vm.onSelect()"
       class="rb-instance-size-item"
       ng-class="{ 'active': !vm.selected }">
    <h3><span>{{'customized' | translate}}</span><i class="fa fa-check"></i></h3>
    <section>
      <p>{{ vm.customSize.cpu }} {{ 'unit_cpu' | translate }}</p>
      <p>{{ vm.customSize.mem | rbBytesFormatter : 0 : 1024 * 1024 : false }}</p>
    </section>
  </div>
</div>
<div
  class="custom-instance-size-inputs"
  ng-if="!vm.selected"
>
    <label>CPU</label>
    <div class="ui fluid input labeled">
      <input
        type="number"
        min="{{vm.min.cpu}}"
        name="custom_instance_size_cpu"
        ng-model="vm.customSize.cpu"
        rb-errors-tooltip
        required
        ng-change="vm.onCustomSizeChange()"
      />
      <div class="ui label text-bold">{{ 'unit_cpu' | translate }}</div>
  </div>
    <label>{{ 'memory' | translate }}</label>
    <div class="ui fluid input labeled">
      <input
        type="number"
        min="{{vm.min.mem}}"
        name="custom_instance_size_memory"
        ng-model="vm.memDisplay"
        rb-errors-tooltip
        rb-errors-tooltip-mapper="{
            'pattern': (vm.resourceNameInt.tip | translate)
          }"
        ng-pattern="vm.resourceNameInt.pattern"
        required
        ng-change="vm.onCustomSizeChange()"
      />
      <rb-dropdown
        size="xxxxs"
        options="vm.unitsOptions"
        key="key" value="value"
        init="vm.baseUnit"
        on-change="vm.onBaseUnitChange(option)"></rb-dropdown>
    </div>
</div>
