<div class="rb-instance-size-list">
  <div ng-repeat="item in vm.instanceSizeList track by $index"
       ng-click="vm.selectInstanceSize(item)"
       class="rb-instance-size-item"
       ng-class="{'active': vm.instance_size === item}">
    <h3><span>{{item | uppercase}}</span><i class="fa fa-check"></i></h3>
    <section>
      <p>{{vm.instanceSizeInfo[item]['cpu']}}</p>
      <p>{{vm.instanceSizeInfo[item]['mem']}}</p>
    </section>
  </div>
  <div ng-if="!vm.disableCustomize"
       ng-click="vm.selectInstanceSize('CUSTOMIZED')"
       class="rb-instance-size-item"
       ng-class="{'active': vm.instance_size === 'CUSTOMIZED'}">
    <h3><span>{{'customized' | translate}}</span><i class="fa fa-check"></i></h3>
    <section>
      <p>{{ vm.customizedCpu }}</p>
      <p>{{ vm.customizedMem }}</p>
    </section>
  </div>
</div>

<div class="instance-slider"
     ng-if="vm.instance_size==='CUSTOMIZED' && vm.instance_slider_config">
  <div class="slider-title">
    <span>CPU</span>
    <strong>{{vm.customizedCpu}}</strong>
  </div>
  <div class="slider-content">
    <rzslider
      rz-slider-model="vm.custom_instance_size.cpu"
      rz-slider-options="vm.instance_slider_config.cpu"></rzslider>
  </div>
  <div class="slider-title">
    <span>{{ 'memory' | translate }}</span>
    <strong>{{vm.customizedMem}}</strong>
  </div>
  <div class="slider-content">
    <rzslider
      rz-slider-model="vm.custom_instance_size.mem"
      rz-slider-options="vm.instance_slider_config.mem"></rzslider>
  </div>
  <div class="slider-comments">
    {{ 'custom_instance_description' | translate }}
  </div>
</div>