$instance-slider-color: #37acf0;

rb-service-fieldset-instance-size-new {
  flex: 1;
  .rb-instance-size-list {
    display: flex;
    flex-wrap: wrap;
    .rb-instance-size-item {
      width: 120px;
      margin: 0 8px 8px 0;
      border: 1px solid #ddd;
      font-size: 12px;
      color: #333;
      h3 {
        position: relative;
        margin: 0;
        font-size: 12px;
        height: 22px;
        line-height: 22px;
        border-bottom: 1px solid #eee;
        text-align: center;
        i {
          position: absolute;
          top: 5px;
          right: 12px;
          display: none;
        }
      }
      section {
        height: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          text-align: center;
          margin: 0;
          line-height: 1.5;
        }
      }
      &.active {
        h3 {
          background-color: #ebebeb;
          i {
            display: inline-block;
            color: #5d5d5d;
          }
        }
      }
    }
  }
  .custom-instance-size-inputs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    label {
      font-weight: normal;
    }
  }
}

.instance-slider {
  margin-top: 10px;
  .slider-title {
    height: 32px;
    line-height: 32px;
    .label {
      font-size: 18px;
      margin-right: 8px;
    }
    .bind-input {
      width: 100px;
      border: none;
      padding: 0 10px;
      font-weight: 600;
    }
  }
  .slider-content {
    margin: 0;
  }
  .slider-footer {
    margin-bottom: 10px;
    position: relative;
    top: -10px;
    font-size: 12px;
    padding: 0 4px 4px;
  }
  .slider-comments {
    margin-top: 10px;
    font-size: 12px;
  }

  .rzslider {
    margin: 15px 0;
  }
  .rzslider .rz-bar.rz-selection {
    background: $instance-slider-color;
  }
  .rzslider .rz-bar {
    background: #f2f2f2;
  }
  .rzslider .rz-pointer {
    top: -6px;
    width: 16px;
    height: 16px;
    background: $instance-slider-color;
    &:after {
      top: 4px;
      left: 4px;
      background: $instance-slider-color;
    }

    &.rz-active {
      &:after {
        background: $instance-slider-color;
      }
      background: $instance-slider-color;
    }
  }
  .rzslider .rz-bubble {
    &.rz-limit {
      top: 7px;
      color: #333;
      font-size: 12px;
    }
  }
}
