@import 'colors.styles';

//1px边框
@mixin r1b($color: #ccc) {
  border: 1px solid $color;
}
//1px右边框
@mixin r1bl($color: #ccc) {
  border-left: 1px solid $color;
}
//1px右边框
@mixin r1br($color: #ccc) {
  border-right: 1px solid $color;
}
//1px上边框
@mixin r1bt($color: #ccc) {
  border-top: 1px solid $color;
}
//1px下边框
@mixin r1bb($color: #ccc) {
  border-bottom: 1px solid $color;
}
