@import './_colors.palette';

// TO DO: 把这里面所有颜色替换为colors.palette中的变量
// 以后颜色也会从palette里取，而不是直接写死
// palette中存储基础颜色, 这里用基础色映射业务中需要的颜色

$default-border-color: #eee;

$even-background-color: #f8f8f8;
$row-hover-background-color: $blue-1;

// status-color
$status-color-success: $green-7;
$status-color-error: $red-7;
$status-color-pending: $orange-6;
$status-color-info: $blue-6;
$status-color-explanation: $gray-7;
$status-color-warning: $yellow-9;
$status-color-in-process: $blue-5;
$status-color-stopped: $silver-7;

///basic-blue-light1
$rb-blue-l1: #0badeb;

///basic-blue-text
$rb-blue: #428bca;

// form input
$form-input-border-color: #ccc;
$form-input-focus-border-color: #24a7e3;
$form-input-invalid-color: #b04141;
$form-input-invalid-border-color: #e0b4b4;
$form-input-invalid-background-color: #fff6f6;
$form-disabled-background-color: #f0f0f0;
$form-placeholder-color: #ccc;

// card
$card-background-color: #fff;
$card-label-color: $gray-8;
$card-text-color: $black-5;

// form label and text
$form-text-label-color: #333;
$form-text-help-color: #9c9c9c;
$form-text-error-color: #c46a69;

// button
$button-default-text-color: #4d4d4d;
$button-default-border-color: #ccc;
$button-default-background-color: #fff;

$button-default-hover-border-color: #24a7e3;
$button-default-hover-background-color: #fff;

$button-default-active-border-color: #b9b9b9;
$button-default-active-background-color: #cecece;

$button-primary-text-color: #fff;
$button-primary-border-color: #24a7e3;
$button-primary-background-color: #24a7e3;

$button-primary-active-border-color: #1583b4;
$button-primary-active-background-color: #1583b4;

$button-primary-hover-border-color: #1892c9;
$button-primary-hover-background-color: #1892c9;

$button-primary-lite-text-color: #24a7e3;
$button-primary-lite-border-color: #24a7e3;
$button-primary-lite-background-color: #fff;

$button-primary-lite-active-border-color: #1583b4;
$button-primary-lite-active-background-color: #fff;

$button-primary-lite-hover-border-color: #1892c9;
$button-primary-lite-hover-background-color: #fff;

$button-secondary-text-color: #fff;
$button-secondary-border-color: #a0aaae;
$button-secondary-background-color: #a0aaae;

$button-secondary-hover-border-color: #6e7f85;
$button-secondary-hover-background-color: #6e7f85;

$button-secondary-active-border-color: #5d6c71;
$button-secondary-active-background-color: #5d6c71;

// popover
$popover-border-color: #60d3ff;
$popover-background-color: #f6fdff;

$popover-success-border-color: #72c63d;
$popover-success-background-color: #f7fff3;

$popover-warning-border-color: #ffbb00;
$popover-warning-background-color: #fffbf1;

$popover-error-border-color: #fc5d68;
$popover-error-background-color: #fff6f6;

///basic-blue-shadow
$rb-blue-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14);
$rb-gray-bold-shadow: 0px 0px 10px 0px #c4c4c4;
$rb-gray-light-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.14);

// repository tag level color
$repository-tag-level-high-color: $red-6;
$repository-tag-level-medium-color: $orange-7;
$repository-tag-level-low-color: $orange-6;
$repository-tag-level-negligible-color: $silver-7;
$repository-tag-level-unknown-color: $silver-7;
$repository-tag-level-security-color: $green-6;

// text
$text-desc-color: #a1a1a1;
$text-warnings-color: #fc5d68;

// table
$table-border-color: #f0f0f0;
$table-second-background-color: #fafafa;
$table-rows-hover-color: $blue-2;
