.rc-list-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  .search-input {
    margin-right: 8px;
    input {
      border-radius: 5px 0 0 5px;
      min-width: 24rem;
    }
    button {
      border-radius: 0 5px 5px 0;
      margin-left: -1px;
    }
  }
  rc-search-input + button {
    margin-left: 8px;
  }
}

.rc-list-pagination {
  margin-top: 7px;
  display: flex;
  justify-content: flex-end;
}
