@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$rc-material-app-primary: mat-palette($mat-blue);
$rc-material-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rc-material-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$rc-material-app-theme: mat-light-theme(
  $rc-material-app-primary,
  $rc-material-app-accent,
  $rc-material-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rc-material-app-theme);
