$legacy-support-for-ie: true !default;

// inline block
$inline-block-alignment: middle !default;
@mixin inline-block($alignment: $inline-block-alignment) {
  display: inline-block;
  @if $alignment and $alignment != none {
    vertical-align: $alignment;
  }
  @if $legacy-support-for-ie {
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }
}
%inline-block {
  @include inline-block;
}

// clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
    overflow: hidden;
  }
  @if $legacy-support-for-ie {
    *zoom: 1;
  }
}
%clearfix {
  @include clearfix;
}

// ellipsis
@mixin singleline-ellipsis($substract: 0) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100% - $substract;
}
@mixin multiline-ellipsis($line-count) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
}
%singleline-ellipsis {
  @include singleline-ellipsis;
}

// flex and align center
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
