<span ng-class="{'rb-popover-error': message_error===true}">
  <span class="label badge"
        ng-class="{'detail-status': mode === 'detail','status-deploying': statusArray.deploying===true,'status-running': statusArray.running===true,'status-stopped':  statusArray.stopped===true, 'status-waiting':  statusArray.waiting===true}"
        ng-if="status && statusArray.deploying===false">
    <span ng-bind="(status_text | translate)" style="color:#fff;"></span>
  </span>
  <span class="label badge"
        ng-class="{'detail-status': mode === 'detail','status-deploying': statusArray.deploying===true,'status-running': statusArray.running===true,'status-stopped':  statusArray.stopped===true, 'status-waiting':  statusArray.waiting===true}"
        ng-if="status && statusArray.deploying===true">
    <i ng-hide="statusArray.deploying_not_flag" class="fa fa-refresh fa-spin"></i>
    <span ng-bind="(status_text | translate)" style="color:#fff;"></span>
  </span>
</span>
