<rc-card
  [fitParent]="true">
  <a rcCardHeader rcRouterStateLink="pipeline.history.list">{{ 'chart_title_pipeline' | translate }}</a>
  <rc-chart-container
    [loading]="!initialized"
    [noData]="initialized && !data"
    [legends]="legends">
    <ngx-charts-area-chart-stacked
      [results]="data||fakeData"
      [yScaleMax]="data ? null : 1500"
      [scheme]="chartConfig.scheme"
      [xAxis]="chartConfig.xAxis"
      [yAxis]="chartConfig.yAxis"
      [showGridLines]="chartConfig.showGridLines"
      [gradient]="chartConfig.gradient"
      [xAxisTickFormatting]="chartConfig.xAxisTickFormatting"
      [yAxisTickFormatting]="chartConfig.yAxisTickFormatting">
      <ng-template #seriesTooltipTemplate let-model="model">
        <div class="rc-chart-tooltip-item">{{ model[0].name }}</div>
          <div *ngFor="let tooltipItem of model" class="rc-chart-tooltip-item">
            <span class="tooltip-item-color" [style.background-color]="tooltipItem.color"></span>
            <span>{{ tooltipItem.series }}: {{ tooltipItem.value }}</span>
        </div>
      </ng-template>
    </ngx-charts-area-chart-stacked>
  </rc-chart-container>
</rc-card>
