.customized-input {
  display: flex;
  .cpu,
  .mem {
    display: flex;
    flex: 1;
    .input-wrapper {
      flex: 8;
      input {
        text-align: center;
      }
    }
    span {
      flex: 1;
      line-height: 32px;
      margin: 0 8px;
      text-align: center;
    }
    .drop-down-wrapper {
      margin: 0 8px;
      ::ng-deep .ui.selection.dropdown {
        min-width: 4em;
      }
    }
  }
}
