<div class="customized-input">
  <div class="cpu">
    <div class="input-wrapper">
      <input rcInput
             type="number"
             pattern="^\d+(\.\d+)?$"
             required="true"
             [placeholder]="config && config.placeholder || ''"
             [(ngModel)]="cpu">
    </div>
    <span>{{ 'unit_cpu' | translate }}</span>
  </div>

  <div class="mem">
    <div class="input-wrapper">
      <input rcInput
      type="number"
      pattern="^\d+$"
      required="true"
      [placeholder]="config && config.placeholder || ''"
      [(ngModel)]="memDisplay">
    </div>
    <div class="drop-down-wrapper">
      <rc-single-selection-dropdown
        [(ngModel)]="baseUnit"
        (change)="onUnitChange($event)"
        [options]="unitOptions"
        displayField="name"
        valueField="value"
        [allowFilter]="false"
        ></rc-single-selection-dropdown>
    </div>
  </div>
</div>
