<rc-card
  [title]="'chart_title_volume_size' | translate"
  [fitParent]="true"
  [footnote]="time | rcFormatUtcStr">
  <rc-chart-container
    [loading]="!initialized"
    [noData]="initialized && !data"
    [noRegion]="!(regionService.region$ | async)">
    <div class="rc-region-info-chart rc-region-info-chart--color-ok">
      <div class="rc-region-info-chart__container">
        <div class="rc-region-info-chart__value">{{ data?.value }}</div>
        <div class="rc-region-info-chart__unit">{{ data?.unit }}</div>
      </div>
    </div>
  </rc-chart-container>
</rc-card>
