@import '_colors.palette.scss';
@import '../../_status.colors.scss';

::ng-deep {
  .template-card-container {
    width: 380px;
  }
}

.rc-list-header {
  margin: 8px 0 12px;
}

.template-type {
  word-break: break-all;
  white-space: normal;
  margin-left: 2px;
  max-height: 70px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rc-list-container {
  margin-bottom: 12px;
  a {
    color: #24a7e3;
  }
  i.fa {
    min-width: 16px;
  }
  .rc-lines {
    overflow: hidden;
    .rc-line {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .history-column {
    display: flex;
    margin-left: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    .last-history {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      &::before {
        display: flex;
        border-radius: 50%;
        background-color: #a8a8a8;
        content: '';
        width: 8px;
        height: 8px;
        box-shadow: 0px 0px 0px 3px #f2f2f2;
        margin-right: 8px;
      }

      @each $status, $color in $status-color-map {
        &.#{$status}::before {
          background-color: $color;
          box-shadow: 0px 0px 0px 3px rgba($color, 0.25);
        }
      }
    }
    .toggle-histories {
      display: flex;
      border-radius: 3px;
      background-color: #aabfcc;
      color: #fff;
      margin-left: 8px;
      align-items: center;
      justify-content: center;
      padding: 2px 4px;
      height: 16px;
      &:hover {
        background-color: #4bb0e9;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.list-status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 48px;
  span {
    margin-right: 8px;
  }
}

.skeleton {
  span,
  i,
  a:link,
  a:hover,
  a:visited,
  a:focus {
    color: #ccc;
    background-color: #ccc;
  }
}

ul {
  list-style: none;
}

.images-tooltip {
  display: flex;
  span {
    display: inline-block;
    background: #e8e8e8;
    font-weight: 700;
    border-radius: 2px;
    padding: 2px 8px;
    margin: 2px;
    color: rgba(0, 0, 0, 0.6);
  }
}
