<div class="rb-form-row input">
  <div class="rb-label" flex="25">
    {{vm.label | translate | rbTitleCase}}
  </div>
  <div>
    <rb-radio-group options="vm.options"
                    on-change="vm.onChangeRadio(option)"></rb-radio-group>
  </div>
  <div ng-if="vm.description" class="rb-input-field-addon">
    <i class="fa fa-question-circle"
       style="cursor: pointer;"
       uib-popover-html="vm.description"
       popover-placement="top"
       popover-trigger="'mouseenter'"
       popover-append-to-body="true"></i>
  </div>
</div>
