<aui-layout [showDrawer]="false">
  <div *auiToolbarContent class="layout-toolbar">
    <div class="layout-toolbar__logo">
      <img [src]="uiState.logoMainSrc">
    </div>
    <rc-project-badge [projects]="projects$ | async" [currentProject]="currentProject$ | async"></rc-project-badge>
    <div fxFlex></div>
    <rc-account-menu></rc-account-menu>
  </div>
  <div *auiPageHeader class="layout-page-header">
    <ng-container *cdkPortalOutlet="pageHeaderContentTemplate$ | async"></ng-container>
    <rc-default-breadcrumb *ngIf="!(pageHeaderContentTemplate$ | async)"></rc-default-breadcrumb>
  </div>
  <div *auiPageContent class="layout-page-content">
    <router-outlet></router-outlet>
  </div>
</aui-layout>
