<div class="rb-service-crumbs">
  <div ng-class="{active: vm.configStep === 1}">
    <span class="rb-service-crumbs-icon">1</span>
    <span>{{ "nav_select_image" | translate }}</span>
  </div>
  <div ng-class="{active: vm.configStep === 2}">
    <span class="rb-service-crumbs-icon">2</span>
    <span>{{ "nav_basic_config" | translate }}</span>
  </div>
  <div ng-class="{active: vm.configStep === 3}">
    <span class="rb-service-crumbs-icon">3</span>
    <span>{{ "nav_advanced_config" | translate }}</span>
  </div>
</div>

<!-- Image selection: -->
<rb-image-select
  ng-show="vm.configStep === 1"
  on-image-selected="vm.onImageSelected({
    registry_index,
    image_name,
    registry_name,
    project_name
  })">
</rb-image-select>

<div class="rb-form-panel"
     ng-if="vm.imageInfo"
     ng-show="vm.configStep > 1">
  <div class="rb-form-container">
    <rb-job-config-form-basic
      ng-show="vm.configStep === 2"
      image-info="vm.imageInfo">
    </rb-job-config-form-basic>
    <rb-job-config-form-advanced
      ng-show="vm.configStep === 3"
      model="vm.advancedModel">
    </rb-job-config-form-advanced>
  </div>

  <div class="rb-form-footer">
    <div flex="25"></div>
    <div class="rb-form-footer-buttons">
      <button class="ui button rb-btn-default"
              ui-sref="job.config.list">
        {{ "cancel" | translate }}
      </button>
      <button type="button" class="ui button rb-btn-default"
              ng-click="vm.reselectImage()">
        {{'re_select' | translate}}
      </button>
      <button class="ui button rb-btn-primary"
              ng-show="vm.configStep > 2"
              ng-disabled="!vm.canChangeStep()"
              ng-click="vm.prevStep()">
        {{ "prev_step" | translate }}
      </button>
      <button class="ui button rb-btn-primary"
              ng-show="vm.configStep < vm.maxStep"
              ng-disabled="!vm.canChangeStep()"
              ng-click="vm.nextStep()">
        {{ "next_step" | translate }}
      </button>
      <button class="ui button rb-btn-primary"
              ng-class="{loading: vm.submitting}"
              ng-disabled="vm.submitting || !vm.canChangeStep()"
              ng-click="vm.create()">
        {{ "create" | translate }}
      </button>
    </div>
  </div>
</div>