<div class="rc-list-container">
  <aui-table [dataSource]="rows">
    <!-- `history_id` -->
    <ng-container auiTableColumnDef="history_id">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'jenkins_history_id' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ul>
          <li>
            <a
              [routerLink]="['/jenkins/histories', item.data.pipeline_uuid, item.data.history_id]"
            >
              #{{ item.data.history_id }}
            </a>
          </li>
          <li>
            <div class="tags-container">
              <div style="max-width: 245px; white-space: nowrap; height:20px;">
              <span class="tags" *ngFor="let badge of item.data?.actions?.badges">
                <a [href]="badge.url"
                   target="_blank"
                   auiTooltipPosition="top start"
                   [auiTooltip]="badgeHint(badge)">{{ badge.text }}</a>
              </span>
              </div>
              <div fxFlex></div>
              <div
                *ngIf="item.data?.actions?.badges?.length > 1"
                class="tags-popover"
                style="cursor: pointer;"
                auiTooltipType="info"
                auiTooltipPosition="top start"
                auiTooltipTrigger="click"
                [auiTooltip]="popoverTemplate"
              >
                ···
              </div>
            </div>
            <ng-template #popoverTemplate>
              <div class="label-popover">
              <span *ngFor="let badge of item.data.actions.badges">
                <a [href]="badge.url"
                   target="_blank"
                   auiTooltipPosition="top start"
                   [auiTooltip]="badgeHint(badge)">{{ badge.text }}</a>
              </span>
              </div>
            </ng-template>
          </li>
        </ul>
      </aui-table-cell>
    </ng-container>
    <!-- `status` -->
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'jenkins_history_status' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div [ngClass]="['status', item.status.class]">
          <i class="fa"></i>
          <span>{{ item.status.text | translate }}</span>
        </div>
      </aui-table-cell>
    </ng-container>

    <!-- `content`-->
    <ng-container auiTableColumnDef="content">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'jenkins_pipeline_name' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ul>
          <li *ngIf="!hidePipeline">
            <a [routerLink]="['/jenkins/pipelines', item.data.pipeline_uuid]">
              <i
                class="fa fa-user"
                [auiTooltip]="'creator' | translate"
              ></i>
              {{ item.data.pipeline_display_name || item.data.pipeline_name }}
            </a>
          </li>
        </ul>
      </aui-table-cell>
    </ng-container>

    <!-- `time`-->
    <ng-container auiTableColumnDef="time">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'jenkins_history_time' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ul>
          <li>
            <i
              class="fa fa-clock-o"
              [auiTooltip]="'created_date' | translate"
            ></i>
            {{ item.data.end_time_millis | rcFormatMs }}</li>
          <li>
            <i
              class="fa fa-history"
              [auiTooltip]="'build_time_cost' | translate"
            ></i>
            {{ 'jenkins_history_consumed' | translate}}{{ item.data.duration_millis | rcDurationToConsumed }}
          </li>
        </ul>
      </aui-table-cell>
    </ng-container>

    <!-- `trigger info`-->
    <ng-container auiTableColumnDef="trigger_info">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'jenkins_history_create_info' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ul>
          <li>
            <ng-container [ngSwitch]="triggerName(item.data)">
              <ng-container *ngSwitchCase="'timer_trigger_cause'">
                <i
                  class="fa fa-clock-o"
                  [auiTooltip]="'jenkins_trigger_type' | translate"
                ></i>
                <span>
                {{ 'jenkins_trigger_cron' | translate }}
              </span>
              </ng-container>
              <ng-container *ngSwitchCase="'user_id_cause'">
                <i
                  class="fa fa-user"
                  [auiTooltip]="'jenkins_trigger_type' | translate"
                ></i>
                <span>
                {{ 'jenkins_trigger_user' | translate }}
              </span>
              </ng-container>
              <ng-container *ngSwitchCase="'scm_trigger_cause'">
                <i
                  class="fa fa-code-fork"
                  [auiTooltip]="'jenkins_trigger_type' | translate"
                ></i>
                <span>
                {{ 'jenkins_trigger_code_change_hook' | translate }}
              </span>
              </ng-container>
              <ng-container *ngSwitchCase="'docker_image_trigger_cause'">
                <i
                  class="fa fa-cubes"
                  [auiTooltip]="'jenkins_trigger_type' | translate"
                ></i>
                <span>
                {{ 'jenkins_trigger_image_change' | translate }}
              </span>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <i
                  class="fa fa-question-circle"
                  [auiTooltip]="'jenkins_trigger_type' | translate"
                ></i>
                <span>
                {{ 'jenkins_trigger_unknown' | translate }}
              </span>
              </ng-container>
            </ng-container>
          </li>
          <li>
            <i
              class="fa fa-clock-o"
              [auiTooltip]="'created_date' | translate"
            ></i>
            {{item.data.start_time_millis | rcFormatMs }}
          </li>
        </ul>
      </aui-table-cell>
    </ng-container>

    <!-- `action` -->
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div [auiDropdown]="menu"
             [auiDropdownDisabled]="!menu || menu.disabled"
             class="action-button">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu
                  size="small">
            <aui-menu-item *ngFor="let menu of item.actions; trackBy $index"
                      (click)="menu.action(item.data)">
              {{ menu.text | translate }}
            </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="['history_id', 'status', 'content', 'time', 'trigger_info', 'action']">
    </aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="let row; columns: ['history_id', 'status', 'content', 'time', 'trigger_info', 'action'];">
    </aui-table-row>
  </aui-table>
</div>
<div class="list-status">
  <rc-pagination2
    [count]="total"
    [pageSize]="pageSize"
    [page]="page"
    (pageChanged)="pageChange.next($event)"
    [disabled]="loading"
  ></rc-pagination2>
</div>
