.select-mode-card-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  .select-mode-card {
    flex: 0 0 234px;
    position: relative;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      border: 1px solid #24a7e3;
      box-shadow: 0 0 0 1px #24a7e3;
      &:after {
        content: '';
        background-image: url('/static/images/icon/check.svg');
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .logo.logo-repo {
        background-image: url('/static/images/app/create_from_repo_h.svg');
      }
      .logo.logo-yaml {
        background-image: url('/static/images/app/create_from_yaml_h.svg');
      }
      h3 {
        color: #24a7e3;
      }
    }

    .logo {
      width: 90px;
      height: 90px;
      margin: 40px auto;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.3s ease;
      &.logo-repo {
        background-image: url('/static/images/app/create_from_repo.svg');
      }
      &.logo-yaml {
        background-image: url('/static/images/app/create_from_yaml.svg');
      }
    }

    h3 {
      transition: all 0.3s ease;
      color: #4d4d4d;
      font-size: 18px;
      margin-top: 0;
      font-weight: 500;
    }
    p {
      color: #999;
      font-size: 12px;
      margin: 0 0 10px;
    }
  }
}
