<div>
  <aui-dialog-header>
    {{'please_select_create_mode' | translate}}
  </aui-dialog-header>
  <div class="select-mode-card-container">
    <div class="select-mode-card" (click)="createByRepo()">
      <div class="logo logo-repo"></div>
      <p>{{ keyByRepo }}</p>
      <h3>{{ 'repository' | translate }}</h3>
    </div>
    <div class="select-mode-card" (click)="createByYaml()">
      <div class="logo logo-yaml"></div>
      <p>{{ keyByYaml }}</p>
      <h3>{{ 'compose_file' | translate }}</h3>
    </div>
  </div>
</div>
