<table class="table-condensed">
  <thead>
    <tr>
      <td style="width: 20em;">{{ 'address' | translate }}</td>
      <td style="width: 15em;">{{ 'username' | translate }}</td>
      <td style="width: 15em;">{{ 'password' | translate }}</td>
      <td style="width: 10em;">
        {{ 'image_sync_destination_address_mode' | translate }}
      </td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of registries; index as i">
      <td>
        <input rcInput
               required
               [name]="'endpoint_' + i"
               [(ngModel)]="row.endpoint"
               rcErrorsTooltip>
      </td>
      <td>
        <input rcInput
               required
               [name]="'username_' + i"
               [(ngModel)]="row.username"
               rcErrorsTooltip>
      </td>
      <td>
        <input rcInput
               type="password"
               required
               [name]="'password_' + i"
               [(ngModel)]="row.password"
               rcErrorsTooltip>
      </td>
      <td>
        <rc-single-selection-dropdown [options]="addressModes"
                                      displayField="display"
                                      valueField="value"
                                      [name]="'is_http_' + i"
                                      [(ngModel)]="row._type"
                                      (ngModelChange)="row.is_http = $event === 'HTTP'">
        </rc-single-selection-dropdown>
      </td>
      <td>
        <button class="rb-fieldset-action-btn"
                (click)="deleteRow(i)">
          <i class="fa fa-remove"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <button type="button"
                (click)="addRow()"
                class="rb-fieldset-add-btn">
          <i class="fa fa-plus"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
