@import 'colors.styles';

@mixin color-decorator($main, $border-color, $background) {
  border-color: $border-color;
  background-color: $background;
  color: $main;

  &::before {
    background-color: $background;
    box-shadow: 1px 1px 0 0 $border-color;
  }

  &.bottom.left::before,
  &.bottom.right::before,
  &.bottom.center::before {
    box-shadow: -1px -1px 0 0 $border-color;
  }

  &.center.right::before {
    box-shadow: -1px 1px 0 0 $border-color;
  }

  &.center.left::before {
    box-shadow: 1px -1px 0 0 $border-color;
  }
}

.rc-tooltip-target {
  position: relative;
  cursor: pointer;
}

.rc-tooltip.ui.popup {
  padding: 4px 8px;
  line-height: 1.6;
  font-size: 12px;
  word-break: normal;
  z-index: 900;
  .content {
    position: relative;
    /* Arrow is z-index: 2 */
    z-index: 3;
  }

  &.no-arrow::before {
    content: none;
  }

  &.error {
    @include color-decorator(
      $status-color-error,
      $popover-error-border-color,
      $popover-error-background-color
    );
  }

  &.info {
    @include color-decorator(
      $status-color-in-process,
      $popover-border-color,
      $popover-background-color
    );
  }

  &.success {
    @include color-decorator(
      $status-color-success,
      $popover-success-border-color,
      $popover-success-background-color
    );
  }

  &.warning {
    @include color-decorator(
      $status-color-pending,
      $popover-warning-border-color,
      $popover-warning-background-color
    );
  }

  /* Fix popup position after second show. */
  &.hidden.transition {
    visibility: hidden;
    display: block !important;
  }

  &.rc-copy-tooltip {
    max-width: 360px;
    word-break: break-all;
    text-align: center;
    white-space: initial;
  }
}
