<ng-form class="rb-form" name="form">

  <!-- Name. Note, this field will be at the first line only when updating. -->
  <div class="rb-form-row input" ng-if="vm.isUpdate">
    <div class="rb-label" flex="25">
      {{ "job_config_name" | translate }}
    </div>
    <div flex="50">
      {{ vm.model.config_name }}
    </div>
  </div>

  <!-- region_name -->
  <div class="rb-form-row input">
    <div class="rb-label" flex="25">
      {{ "region_name" | translate }}
    </div>
    <div flex="50">
      <rb-dropdown options="vm.regions$ | rbAsync:this"
                   rb-loading-mask="!(vm.regions$ | rbAsync:this)"
                   key="display_name"
                   value="name"
                   init="vm.model.region_name"
                   ng-if="vm.initialized"
                   on-change="vm.onRegionChange(option)"></rb-dropdown>
    </div>
  </div>

  <!-- quota_space. Will be hidden when updating. -->
  <div class="rb-form-row input" ng-if="vm.quotaEnabled && !vm.isUpdate">
    <div class="rb-label" flex="25">
      {{ "quota_space" | translate }}
    </div>
    <div flex="50">
      <div ng-if="!vm.spaces.length" style="color: #fc5d68">
        {{'quota_space_required' | translate}}
      </div>
      <rb-dropdown ng-if="vm.spaces.length"
                   rb-loading-mask="vm.loadingSpaces"
                   options="vm.spaces"
                   value="name"
                   key="name"
                   filter-threshold="5"
                   on-change="vm.onSpaceChanged(option)"></rb-dropdown>
    </div>
  </div>

  <!-- image_name -->
  <div class="rb-form-row input">
    <div class="rb-label" flex="25">
      {{ "image_repo" | translate }}
    </div>
    <div flex="50">
      {{ vm.fullImageName }}
    </div>
  </div>

  <!-- image_tag -->
  <div class="rb-form-row input">
    <div class="rb-label" flex="25">
      {{ "image_tag" | translate }}
      <span class="rb-required-mark">*</span>
    </div>
    <div flex="50">
      <rb-dropdown
        rb-loading-mask="vm.imageTagsLoading"
        ng-if="vm.imageTags.length && !vm.imageTagsLoading"
        options="vm.imageTags"
        filter-threshold="5"
        init="vm.model.image_tag"
        on-change="vm.onImageTagChange(option)"></rb-dropdown>
      <div class="ui mini fluid input" ng-if="!vm.imageTags.length">
        <input
          type="text"
          ng-model="vm.model.image_tag"
          name="image_tag"
          ng-pattern="/^[A-Za-z0-9-_.]+$/"
          rb-errors-tooltip
          required
          placeholder="{{ 'tag_name_placeholder' | translate }}">
      </div>
    </div>
  </div>

  <!-- config_name. Will be visible when creating -->
  <div class="rb-form-row input" ng-if="!vm.isUpdate">
    <div class="rb-label" flex="25">
      {{ "job_config_name" | translate }}
      <span class="rb-required-mark">*</span>
    </div>
    <div flex="50" class="ui mini fluid input icon">
      <input
        type="text"
        ng-model="vm.model.config_name"
        rb-errors-tooltip
        name="service_name"
        ng-pattern="/^[A-Za-z][A-Za-z0-9\-]+$/"
        ng-minlength="4"
        ng-maxlength="36"
        required
        placeholder="{{ 'job_config_name' | translate }}">
    </div>
  </div>

  <!-- instance_size -->
  <div class="rb-form-row input">
    <div class="rb-label" flex="25">
      {{ "instance_size" | translate }}
    </div>
    <div flex="50">
      <rb-custom-instance-size-fieldset
        ng-if="vm.initialized"
        init="{ cpu: vm.model.cpu, memory: vm.model.memory }"
        on-change="vm.onInstanceSizeChange({ cpu, memory })">
      </rb-custom-instance-size-fieldset>
    </div>
  </div>

  <!-- Form break ... -->
  <div class="rb-form-fieldset-interval"></div>
  <div class="rb-form-row input">
    <div class="rb-label" flex="25">
      {{ 'cmd' | translate }}
    </div>
    <div flex="60">
      <rb-radio-group options="vm.runCommandTypes"
                      ng-if="vm.initialized"
                      init="vm.model.command_type"
                      key="name" value="value"
                      on-change="vm.onRunCommandTypeChange(option)">
      </rb-radio-group>
    </div>
  </div>

  <!-- Custom CMD -->
  <div class="rb-form-row input" ng-if="vm.isCustomTypeSelected()">
    <div class="rb-label" flex="25">
      {{ "use_custom" | translate }}
      <span class="rb-required-mark">*</span>
    </div>
    <div flex="50" class="ui mini fluid input icon">
      <input
        type="text"
        ng-model="vm.model.command"
        name="run_command"
        required
        rb-errors-tooltip
        placeholder="{{ 'cmd' | translate }}">
    </div>
  </div>
</ng-form>
