<form class="rb-from load-balancer-create"
      #importForm="ngForm"
      (ngSubmit)="submit()">
  <rc-form-field label="{{ 'name'| translate }}"
                 *ngIf="fieldRequired()">
    <input rcInput
           name="name"
           [(ngModel)]="model.name"
           required>
  </rc-form-field>
  <div *ngIf="fieldRequired()"
       class="load-balancer-name-tips">{{ model.name + "-" + namespace + '.myalauda.cn' }}
    <a ng-if="!vm.privateDeploy"
       target="_blank"
       href="http://developer.alauda.cn/usermanual/features/networkloadbalance.html">{{ 'custom_domain_suffix' | translate }}</a>
  </div>
  <rc-form-field label="{{ 'type'| translate }}"
                 [shouldFlexRow]="true">
    <rc-single-selection-dropdown #singleDropdown
                                  name="type"
                                  [(ngModel)]="model.type"
                                  [options]="lbTypeOptions"
                                  displayField="name"
                                  valueField="value"
                                  required>
    </rc-single-selection-dropdown>
  </rc-form-field>
  <rc-form-field *ngIf="fieldRequired()"
                 label="{{ 'lb_address_type'| translate }}"
                 [shouldFlexRow]="true">
    <rc-single-selection-dropdown #singleDropdown
                                  name="lb_address_type"
                                  [(ngModel)]="model.address_type"
                                  [options]="addressTypeOptions"
                                  displayField="name"
                                  valueField="value"
                                  required>
    </rc-single-selection-dropdown>
  </rc-form-field>
  <rc-form-field *ngIf="fieldRequired()"
                 label="{{ 'address'| translate }}">
    <input rcInput
           name="address"
           [(ngModel)]="model.address"
           required>
  </rc-form-field>
  <rc-form-field *ngIf="!fieldRequired()"
                 label="{{ 'ID'| translate }}">
    <input rcInput
           name="iaas_id"
           [(ngModel)]="model.iaas_id"
           required>
  </rc-form-field>
</form>
<div class="modal-footer">
  <button rcButton
          (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
  <button rcButton="primary"
          [class.loading]="submitting"
          [disabled]="!form.valid || this.submitting"
          (click)="form.onSubmit()">
    {{ 'confirm' | translate }}
  </button>
</div>
