<form
  class="form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="form-content">
    <div class="tip-container">
      <rc-inline-notification
        (close)="notiClose()"
        type="info"
        closable="true"
        [content]="'jenkins_pipeline_create_tips' | translate"
      >
      </rc-inline-notification>
    </div>
    <div class="form-group">
      <div class="form-group-header">
        {{ 'jenkins_pipeline_basic_info' | translate }}
      </div>
      <div class="form-group-content">
        <rc-form-field label="{{'jenkins_pipeline_display_name' | translate}}">
          <input
            formControlName="display_name"
            rcInput
            rcTrim
            type="text"
            maxLength="100"
          >
        </rc-form-field>
        <rc-form-field label="{{'description' | translate}}">
          <textarea
            formControlName="description"
            rcInput
            type="text"
            style="min-height: 80px"
            maxlength="512"
          ></textarea>
        </rc-form-field>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-header">
        {{ 'jenkins_pipeline_select_code_repo' | translate }}
      </div>
      <div class="form-group-content">
        <rc-form-field label="{{'jenkins_code_repository' | translate}}">
          <rc-radio-group
            formControlName="source"
            displayField="displayName"
            valueField="name"
            [options]="codeClients"
            [rcLoadingMask]="!codeClients"
            (ngModelChange)="onCodeClientChange$.next($event)"
            [readOnly]="!initialized"
          >
          </rc-radio-group>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkins_code_account' | translate}}"
          [hidden]="['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
        >
          <rc-radio-group
            formControlName="code_org"
            displayField="name"
            valueField="name"
            [options]="codeOrgs"
            [rcLoadingMask]="!codeOrgs"
            (ngModelChange)="onCodeOrgChange$.next($event)"
            [hidden]="isSelectedCodeClientNotBind"
          >
          </rc-radio-group>
          <rc-repo-not-bind-hint *ngIf="isSelectedCodeClientNotBind"></rc-repo-not-bind-hint>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkins_code_repository_address' | translate}}"
          [hidden]="['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
          [hideErrors]="true"
        >
          <rc-code-repository-select
            formControlName="code_repo"
            [codeClient]="form.value.source"
            [codeOrg]="form.value.code_org"
            [required]="!['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
            rcErrorsTooltip
            [rcErrorsTooltipInline]="true"
          ></rc-code-repository-select>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkins_code_repository_address' | translate}}"
          [shouldFlexRow]="true"
          [hidden]="!['GIT', 'SVN'].includes(form.value.source)"
        >
          <input
            formControlName="repository_path"
            rcInput
            rcTrim
            type="text"
            placeholder="{{(['GIT'].includes(form.value.source)? 'jenkins_git_repo_address_example':'jenkins_svn_repo_address_example') | translate}}"
            [required]="['GIT', 'SVN'].includes(form.value.source)"
            pattern="^(http(s?):\/\/.+)|(git@.+:.+)|(ssh:\/\/.+@.+)|(git:\/\/.+)"
            maxLength="512"
          >
        </rc-form-field>
        <rc-form-field
          label="{{'code_branch' | translate}}"
          [shouldFlexRow]="true"
          [hidden]="['NOT_USE', 'SVN'].includes(form.value.source)"
        >
          <input
            formControlName="branch"
            rcInput
            rcTrim
            type="text"
            [required]="!['NOT_USE', 'SVN'].includes(form.value.source)"
            maxLength="512"
            [placeholder]="'jenkins_code_repo_branch_tip' | translate"
          >
          <span class="fa fa-question-circle description-question-circle"
                rcFormAddon
                [rcTooltip]="'jenkins_pipeline_code_branch_hint' | translate"
                [rcTooltipInline]="false"
                rcTooltipMode="info"
                rcTooltipPosition="top center">
          </span>
        </rc-form-field>
        <div class="credential-field">
          <!-- TODO: rc-form-field ignore tag classes -->
          <rc-form-field
            label="{{'jenkins_code_credential' | translate}}"
            [shouldFlexRow]="true"
            [hidden]="!['GIT', 'SVN'].includes(form.value.source)"
            [hideErrors]="true"
          >
            <rc-single-selection-dropdown
              formControlName="credential_name"
              displayField="display_name"
              valueField="name"
              [options]="credentials"
              [placeholder]="'jenkins_code_credential' | translate"
              [allowFilter]="true"
              [rcLoadingMask]="!credentials"
              style="width:100%"
            ></rc-single-selection-dropdown>
            <a
              href="javascript:void(0)"
              (click)="addCredential()"
              class="add-credential"
              *ngIf="createCredentialEnabled"
            >
              {{ 'jenkins_create_credential' | translate }}
            </a>
          </rc-form-field>
        </div>
        <rc-form-field label="{{'jenkins_pipeline_script_type' | translate}}">
          <rc-radio-group
            formControlName="type"
            displayField="name"
            valueField="type"
            [options]="scriptTypes"
            [readOnly]="form.value.source === 'NOT_USE'"
          >
          </rc-radio-group>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkin_script_content' | translate}}"
          [shouldFlexRow]="true"
          [hidden]="form.value.type !== 'INLINE'"
        >
          <rc-code-editor
            formControlName="script"
            mode="groovy"
            [required]="form.value.type === 'INLINE'"
            [allowMaximize]="false"
          ></rc-code-editor>
        </rc-form-field>
        <div
          class="jenkinsfile_content_example"
          [hidden]="form.value.type !== 'INLINE'"
        >
          <a (click)="jenkinsfileExample()">
            {{'jenkinsfile_content_example'|translate}}
          </a>
        </div>
        <rc-form-field
          label="{{'jenkins_script_path' | translate}}"
          [shouldFlexRow]="true"
          [hidden]="form.value.type !== 'FROM_SCM'"
        >
          <input
            formControlName="script_path"
            rcInput
            rcTrim
            type="text"
            [required]="form.value.type === 'FROM_SCM'"
          >
        </rc-form-field>
      </div>
    </div>
    <div
      class="form-group"
      formArrayName="triggers"
    >
      <div class="form-group-header">
        {{ 'jenkins_pipeline_trigger' | translate }}
      </div>
      <div class="form-group-content">
        <div *ngFor="let trigger of form.get('triggers').controls; trackBy:triggerIdentify">
          <rc-pipeline-form-trigger
            [form]="trigger"
            [codeRepoSource]="form.value.source"
            (remove)="removeTrigger(trigger)"
            #triggerComponent
          ></rc-pipeline-form-trigger>
        </div>
        <div class="trigger-rows">
          <div class="fields-name">
            {{ 'jenkins_pipeline_triggers' | translate }}
          </div>
          <button
            rcIconButton="default"
            rcButtonSize="tiny"
            [rcTooltip]="triggerTypeTemplate"
            [rcTooltipNoArrow]="true"
            [rcTooltipEmpty]="true"
            rcTooltipPosition="bottom left"
            [rcTooltipInline]="false"
            rcTooltipOn="click"
            #triggerSelect="tooltip"
          >
            <i class="fa fa-plus-circle"></i>
            {{ 'jenkins_add_trigger' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-footer">
    <button
      rcButton="default"
      (click)="close.emit()"
      [disabled]="saving"
    >
      {{ 'cancel' | translate }}
    </button>
    <button
      rcButton="primary"
      type="submit"
      [disabled]="saving || !initialized"
      [loading]="saving"
    >
      {{ 'save' | translate }}
    </button>
  </div>
</form>

<ng-template #triggerTypeTemplate>
  <div class="trigger-select">
    <div class="trigger-select-title">
      {{ 'jenkins_select_trigger_type' | translate }}
    </div>
    <div class="trigger-select-body">
      <a
        href="javascript:void(0)"
        (click)="addTrigger('cron')"
        [class.disabled]="cronTriggerDisabled()"
      >
        <i class="fa fa-clock-o"></i>
        <span>
          {{ 'jenkins_trigger_cron' | translate }}
        </span>
      </a>
      <a
        href="javascript:void(0)"
        (click)="addTrigger('image_change')"
      >
        <i class="fa fa-building"></i>
        <span>
          {{ 'jenkins_trigger_image_change' | translate }}
        </span>
      </a>
      <a
        href="javascript:void(0)"
        (click)="addTrigger('code_change_hook')"
        [class.disabled]="codeChangeHookTriggerDisabled()"
      >
        <i class="fa fa-code-fork"></i>
        <span>
          {{ 'jenkins_trigger_code_change_hook' | translate }}
        </span>
      </a>
    </div>
  </div>
</ng-template>
