@import '_colors.palette.scss';
@import '_colors.styles';
@import '../../_common.fix.scss';

:host {
  display: flex;
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;
}

.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  .form-content {
    flex-grow: 1;
    padding-top: 16px;
    overflow: auto;
    .tip-container {
      padding: 0 16px;
    }
    .form-group {
      margin-bottom: 16px;
      .form-group-header {
        padding: 16px 16px;
        border-bottom: solid 1px $black-2;

        &.no-border {
          border: none;
          color: #666;
          padding-top: 24px;
          padding-bottom: 12px;
          padding-left: 20px;
        }
      }
      .form-group-content {
        padding: 16px 16px;
        rc-code-editor {
          width: 100%;
        }
        .repo-not-bind-hint {
          color: $gray-8;
        }
        .jenkinsfile_content_example {
          margin-left: 140px;
        }
        ::ng-deep textarea.rc-input-element {
          padding: 8px;
        }
        .credential-field {
          ::ng-deep .form-main-container.should-flex-row {
            flex: unset;
            flex-grow: 1;
            min-width: 0;
            .form-input-row {
              flex-direction: row;
              rc-single-selection-dropdown {
                flex-grow: 1;
                min-width: 0;
              }
              .add-credential {
                flex-shrink: 0;
                margin-left: 8px;
                white-space: nowrap;
              }
            }
          }
        }
      }
      .add-trigger > i {
        margin-right: 8px;
      }
    }
  }
  .form-footer {
    flex-shrink: 0;
    padding: 12px 26px;
    border-top: solid 1px $black-2;
    box-shadow: 0 0 8px 0 $gray-7;
    background-color: #f1f4f6;
    display: flex;
    justify-content: flex-end;
    > button {
      margin: 0 8px 0 0;
    }
  }
}

.trigger-rows {
  display: flex;
  line-height: 32px;

  .fields-name {
    width: 120px;
    text-align: right;
    margin-right: 20px;
    line-height: 32px;
  }
}

.trigger-select {
  width: 320px;
  height: 164px;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px $gray-7;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  .trigger-select-title {
    font-size: 16px;
    padding: 16px;
  }
  .trigger-select-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    padding: 0px 16px 16px 16px;
    > a {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      margin-right: 8px;
      border-radius: 3px;
      border: solid 1px $gray-7;
      color: $black-6;
      &.disabled {
        color: $gray-7;
      }
      &:last-child {
        margin-right: 0px;
      }
      &:hover:not(.disabled) {
        border: solid 1px $blue-6;
        text-decoration: none;
        > * {
          color: $blue-6;
        }
      }
      &:focus {
        text-decoration: none;
      }
      > i {
        font-size: 24px;
        padding-bottom: 16px;
      }
    }
  }
}
