@import 'colors.styles';

:host {
  header {
    width: 100%;
    margin-bottom: 20px;
  }
  .container {
    padding: 20px 24px;
    width: 100%;
    height: 840px;
    border-radius: 3px;
    background-color: $card-background-color;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.03);
    .header {
      font-size: 18px;
      line-height: 24px;
      color: $black-6;
      padding-bottom: 16px;
      border-bottom: 1px solid $gray-4;
    }
    .license-info-list {
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      .l-spec {
        display: flex;
        flex: 1;
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 10px;
        label {
          flex: 1;
          text-align: right;
          font-size: 14px;
          font-weight: 500;
          color: $black-6;
        }
        .l-spec-r {
          flex: 2;
        }
      }
    }
    .lc-area {
      display: flex;
      flex-direction: column;
      .lc {
        width: 540px;
        height: 90px;
        resize: none;
        padding: 6px 8px;
        &.invalid {
          pointer-events: none;
          background: $gray-3;
        }
      }
      .lc_btns {
        margin-top: 10px;
        width: 540px;
        display: flex;
        justify-content: flex-end;
        button {
          margin-left: 8px;
        }
      }
    }
    .expired-day {
      .error {
        color: $status-color-error;
      }
      .warning {
        color: $status-color-warning;
      }
    }
    .email-loading-wrap {
      /deep/ rc-loading-mask {
        min-height: 70px;
      }
    }
    .lc-emails {
      max-width: 350px;
      width: 350px;
    }
    .rb-fieldset-add-btn {
      width: 260px;
      height: 24px;
      background: #ecf6fb;
      font-size: 16px;
      color: #24a7e3;
    }
  }
}
