<rc-loading-mask [loading]="loading"></rc-loading-mask>
<ng-container *ngIf="!loading">
  <header *ngIf="tipShow">
    <rc-inline-notification type="success" [title]="'license_has_activated' | translate" [content]="('license_info_5'|translate) + profile.email" [closable]="true">
    </rc-inline-notification>
  </header>
  <div class="container">
    <div class="header">{{'license_manage'|translate}}</div>
    <div class="license-info-list">
      <div class="l-spec">
        <label>{{'product_name'|translate}}：</label>
        <div class="l-spec-r">{{licenseInfo?.product_name}}</div>
      </div>
      <div class="l-spec">
        <label>{{'customer_name'|translate}}：</label>
        <div class="l-spec-r">{{licenseInfo?.enterprise_name}}</div>
      </div>
      <div class="l-spec">
          <label>{{'platform'|translate}} ID：</label>
          <div class="l-spec-r">{{registerInfo?.registry_code}}</div>
        </div>
      <div class="l-spec">
          <label>{{'license_type'|translate}}：</label>
          <div class="l-spec-r">{{( licenseInfo?.kind + '_version') | translate}}</div>
        </div>
      <div class="l-spec">
        <label>{{'license_code'|translate}}：</label>
        <div class="l-spec-r lc-area">
          <form #ngForm="ngForm">
            <textarea #textarea rcInput class="lc"
              spellcheck="false"
              required name="licenseCode"
              [class.invalid]="licenseEditState === 'done'"
              [class.ng-invalid]="textareaWarning"
              [(ngModel)]="licenseCode"
              (click)="textareaWarning = false"></textarea>
            <div class='lc_btns'>
              <button rcButton *ngIf="licenseEditState === 'edit'" (click)="cancleEditLiceseCode()">{{'cancel'|translate}}</button>
              <button rcButton="primary" [class.loading]="submitting" (click)="updateLicenseCode(textarea)">{{(licenseEditState === 'edit' ? 'activate_license' : 'update_license')|translate}}</button>
            </div>
          </form>
        </div>
      </div>
      <div class="l-spec">
        <label>{{'license_outdata'|translate}}：</label>
        <div class="l-spec-r expired-day">{{formatExpireAt}} （<span [ngClass]="expiredDayClass">{{'surplus'|translate}} {{licenseInfo?.days_until_expiration}} {{'day'|translate}}</span>）</div>
      </div>
      <div class="l-spec">
        <label>{{'license_outdata_email'|translate}}：</label>
        <div class="l-spec-r email-loading-wrap" [rcLoadingMask]="emailLoading">
          <div *ngFor="let email of licenseInfo?.emails; index as i;">
            <rc-license-email-input (delete)="deleteEmail($event)" [index]="i" (confirm)="confirmEmail($event)" [email]="email"></rc-license-email-input>
          </div>
          <button *ngIf="licenseInfo?.emails.length < 10" (click)="addEmail()" class="rb-fieldset-add-btn">
            <i class="fa fa-plus-circle"></i>
          </button>
        </div>
      </div>
      <div class="l-spec">
        <label>{{'license_outdata_user' | translate}}：</label>
        <div class="l-spec-r">
          <rc-radio-group displayField="name" valueField="type" (ngModelChange)="changeRemindType($event)" [(ngModel)]="remindType" [options]="remindTypeOptions"></rc-radio-group>
        </div>
      </div>
    </div>
  </div>
</ng-container>
