<!--Explain why there is no data-->
<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
  <div *ngIf="!loadError">
    {{ "have_no_app" | translate }}
  </div>
  <div *ngIf="loadError">
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError"
          rcButton="primary"
          style="margin-top: 12px;"
          (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>
<!-- App Basic Info -->
<div *ngIf="appData" class="rc-detail-container">
  <div class="detail-icon">
    <img src="/static/images/resource/app.svg" alt="">
  </div>
  <div class="detail-wrapper">
      <div class="detail-header">
        <h3 [attr.title]="appData.resource.name">{{appData.resource.name}}</h3>
        <div class="detail-buttons">
          <button aui-button="primary"
            *ngIf="actionControl.show"
            [disabled]="actionControl.disabled"
            (click)="actionControl.action()">
            <ng-container *ngIf="actionControl.actionName === 'start'">
              <i class="fa fa-play"></i>
            </ng-container>
            <ng-container *ngIf="actionControl.actionName === 'stop'">
              <i class="fa fa-stop"></i>
            </ng-container>
            {{actionControl.actionName | translate}}
          </button>
          <button
            aui-button="default"
            [plain]="true"
            [auiDropdown]="menu">
            {{ 'action' | translate }}
            <aui-icon icon="angle_down" margin="left"></aui-icon>
          </button>
          <aui-menu #menu size="small">
            <aui-menu-item
              [disabled]="!(appUtilities.showUpdate(appData) &&
                appUtilities.canUpdate(appData))"
              (click)="updateApp()">
              {{'update' | translate}}
            </aui-menu-item>
            <aui-menu-item
              [disabled]="!(appUtilities.showDelete(appData) &&
                appUtilities.canDelete(appData))"
              (click)="deleteApp()">
              {{'delete' | translate}}
            </aui-menu-item>            
          </aui-menu>
        </div>
      </div>
      <div class="detail-content">
        <!--创建时间-->
        <div class="detail-item">
          <label>{{'created_at' | translate}}</label>
          <div>{{appData.resource.created_at | rcFormatUtcStr}}</div>
        </div>
        <!--更新时间-->
        <div class="detail-item">
          <label>{{'updated_at' | translate}}</label>
          <div>{{appData.resource.updated_at | rcFormatUtcStr}}</div>
        </div>
        <!--状态-->
        <div class="detail-item">
          <label>{{'status' | translate}}</label>
          <rc-status-badge [status]="appData.resource.status"></rc-status-badge>
        </div>
        <!--命名空间-->
        <div class="detail-item">
          <label>{{'region_namespace' | translate}}</label>
          <div>{{appData.namespace.name}}</div>
        </div>
        <!--描述-->
        <div class="detail-item">
          <label>{{'display_name' | translate}}</label>
          <div>{{appData.resource.description | rcFieldNotAvailable}}</div>
        </div>
      </div>
    </div>
</div>

<rc-tab-group *ngIf="appData">
  <!--服务列表-->
  <div *rcTab="'component' | translate">
    <rc-application-service-list *ngIf="uuid" #serviceList [appUuid]="uuid"></rc-application-service-list>
  </div>
  <!--事件-->
  <div *rcTab="'events' | translate">
    <rc-event-list *ngIf="uuid" type="application" [primaryKey]="uuid"></rc-event-list>
  </div>
  <!--监控-->
  <ng-container *rcTab="'monitoring' | translate">
    <rc-application-metrics [uuid]="uuid"></rc-application-metrics>
  </ng-container>
  <!--Yaml-->
  <div *rcTab="'yaml_compose_file' | translate">
    <aui-code-editor
      [options]="{ language: 'yaml', readOnly: true }"
      [actionsConfig]="actionsConfigView"
      [ngModel]="appYaml">
    </aui-code-editor>
  </div>
  <!-- Topology Graph -->
  <ng-container *ngIf="appTopologySupport">
    <div *rcTab="'app_topology' | translate">
      <rc-application-topology-graph [app]="appData"></rc-application-topology-graph>
    </div>
  </ng-container>
  <!-- catalog-info -->
  <div *ngIf="appData.catalog_info">
    <div *rcTab="'app_catalog_info' | translate">
      <span class="catalog-code-editor-header">Text  ({{'code_editor_readonly' | translate}})</span>
      <rc-code-editor 
        mode="text" 
        [theme]="'default'" 
        [header]="false" 
        [ngModel]="appData.catalog_info.notes_txt_content" 
        [readOnly]="true">
      </rc-code-editor>
    </div>
  </div>
</rc-tab-group>
