@import 'colors.styles';

:host {
  display: block;
  rc-tab-group {
    margin-bottom: 20px;
  }
  .service-logs-toolbar {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    label {
      font-weight: 400;
      text-align: left;
      margin-right: 8px;
    }
  }
  .detail-image-display {
    width: 100%;
  }
}
