<!--Explain why there is no data-->
<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<div *ngIf="empty && !loading"
     class="rb-loading-mask-placeholder">
  <div *ngIf="!loadError">
    {{ "no_data" | translate }}
  </div>
  <div *ngIf="loadError">
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError"
          rcButton="primary"
          style="margin-top: 12px;"
          (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>
<!-- Service Basic Info -->
<div *ngIf="serviceData"
     class="rc-detail-container">
  <div class="detail-icon">
    <img src="/static/images/resource/service.svg"
         alt="">
  </div>
  <div class="detail-wrapper">
    <div class="detail-header">
      <h3 [attr.title]="serviceData.resource.name">{{serviceData.resource.name}}</h3>
      <div class="detail-buttons">
        <button aui-button="default"
                *ngIf="serviceUtilities.showStart(serviceData)"
                [disabled]="!serviceUtilities.canStart(serviceData)"
                (click)="startService()">{{'start' | translate}}
        </button>
        <button aui-button="default"
                *ngIf="serviceUtilities.showStop(serviceData)"
                [disabled]="!serviceUtilities.canStop(serviceData)"
                (click)="stopService()">{{'stop' | translate}}
        </button>
        
        <!-- action -->
        <button
          aui-button="default"
          [plain]="true"
          [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>

        <aui-menu #menu size="small">
          <aui-menu-item
            *ngIf="serviceUtilities.showUpdate(serviceData)"
            [disabled]="!serviceUtilities.canUpdate(serviceData)"
            (click)="updateService()">{{'update' | translate}}
          </aui-menu-item>
          <aui-submenu>
            {{'scaling' | translate}}
            <aui-menu-item
              *ngIf="serviceUtilities.showUpdate(serviceData)"
              [disabled]="!serviceUtilities.canUpdate(serviceData)"
              (click)="updateReplicas()">{{'scaling' | translate}}
            </aui-menu-item>
            <aui-menu-item
              *ngIf="serviceData.resource.kind !== 'DaemonSet' && serviceUtilities.showUpdate(serviceData)"
              [disabled]="!serviceUtilities.canUpdate(serviceData)"
              (click)="updateScalingConfig()">{{'auto_scaling' | translate}}
            </aui-menu-item>
          </aui-submenu>
          <aui-submenu>
            {{'app_update_config' | translate}}
            <aui-menu-item
              *ngIf="serviceUtilities.showUpdate(serviceData)"
              [disabled]="!serviceUtilities.canUpdate(serviceData)"
              (click)="updateImageTag()">{{'update_image_tag' | translate}}
            </aui-menu-item>
            <aui-menu-item
              *ngIf="serviceUtilities.showUpdate(serviceData)"
              [disabled]="!serviceUtilities.canUpdate(serviceData)"
              (click)="updateEndpoints()">{{'update_default_domain' | translate}}
            </aui-menu-item>
            <aui-menu-item
              *ngIf="serviceUtilities.showUpdate(serviceData)"
              [disabled]="!serviceUtilities.canUpdate(serviceData)"
              (click)="updateHealthCheck()">{{'k8s_service_update_health_check' | translate}}
            </aui-menu-item>
            <aui-menu-item
              *ngIf="serviceUtilities.showUpdate(serviceData)"
              [disabled]="!serviceUtilities.canUpdate(serviceData)"
              (click)="updateResourceSize()">{{'k8s_service_update_resource_size' | translate}}
            </aui-menu-item>
            <aui-menu-item
              *ngIf="serviceUtilities.showUpdate(serviceData)"
              [disabled]="!serviceUtilities.canUpdate(serviceData)"
              (click)="updateConfigmap()">{{'k8s_service_update_configmap' | translate}}
            </aui-menu-item>
            <aui-menu-item
              *ngIf="serviceUtilities.showUpdate(serviceData)"
              [disabled]="!serviceUtilities.canUpdate(serviceData)"
              (click)="updateEnvvars()">{{'k8s_service_update_envvars' | translate}}
            </aui-menu-item>
          </aui-submenu>
          <aui-submenu>
            {{'Others'|translate}}{{'action'|translate}}
            <aui-menu-item
              *ngIf="serviceUtilities.showUpdate(serviceData)"
              [disabled]="!serviceUtilities.canUpdate(serviceData)"
              (click)="serviceExec()">EXEC
            </aui-menu-item>
            <aui-menu-item
              *ngIf="serviceUtilities.showUpdate(serviceData)"
              [disabled]="!serviceUtilities.canRollback(serviceData)"
              (click)="rollbackService()">{{'rollback' | translate}}
            </aui-menu-item>
            <aui-menu-item
              *ngIf="serviceUtilities.showRevision(serviceData)"
              [disabled]="!serviceUtilities.canUpdate(serviceData)"
              (click)="revisionService()">{{'service_revision' | translate}}
            </aui-menu-item>
          </aui-submenu>
          <aui-menu-item
            *ngIf="serviceUtilities.showRetry(serviceData)"
            [disabled]="!serviceUtilities.canRetry(serviceData)"
            (click)="retryUpdateService()">{{'retry' | translate}}
          </aui-menu-item>
          <aui-menu-item
            *ngIf="serviceUtilities.showDelete(serviceData)"
            [disabled]="!serviceUtilities.canDelete(serviceData)"
            (click)="deleteService()">{{'delete' | translate}}
          </aui-menu-item>
        </aui-menu>
      </div>
    </div>
    <div class="detail-content">
      <!--创建时间-->
      <div class="detail-item">
        <label>{{'created_at' | translate}}</label>
        <div>{{serviceData.resource.created_at | rcFormatUtcStr}}</div>
      </div>
      <!--更新时间-->
      <div class="detail-item">
        <label>{{'updated_at' | translate}}</label>
        <div>{{serviceData.resource.updated_at | rcFormatUtcStr}}</div>
      </div>
      <!--状态+健康实例数/目标实例数-->
      <div class="detail-item">
        <label>{{'status' | translate}}</label>
        <rc-service-status-badge [status]="serviceData.resource.new_status || serviceData.resource.status"
                                 [desiredInstances]="serviceData.resource.instances?.desired"
                                 [currentInstances]="serviceData.resource.instances?.current"></rc-service-status-badge>
      </div>
      <!--命名空间-->
      <div class="detail-item">
        <label>{{'region_namespace' | translate}}</label>
        <div>{{serviceData.namespace.name}}</div>
      </div>
      <!--镜像-->
      <div class="detail-item">
        <label>{{'image' | translate}}</label>
        <div class="detail-image-display">
          <rc-service-image-display [imageDisplayParams]="imageDisplayParams"></rc-service-image-display>
        </div>
      </div>
      <!--部署模式-->
      <div class="detail-item">
        <label>{{'service_create_deploy_model' | translate}}</label>
        <div>{{serviceData.resource.kind | rcFieldNotAvailable}}</div>
      </div>
      <!--更新策略-->
      <div class="detail-item">
        <label>{{'update_strategy' | translate}}</label>
        <div>
          <span *ngIf="!serviceData.strategy.data">{{serviceData.strategy.type | rcFieldNotAvailable}}</span>
          <a *ngIf="serviceData.strategy.data"
             href="javascript:void(0)"
             [rcTooltip]="getServiceStrategyDataDisplay(serviceData.strategy.data)"

             rcTooltipMode="info"
             rcTooltipOn="hover">{{serviceData.strategy.type | rcFieldNotAvailable}}</a>
        </div>
      </div>
      <!--所属应用-->
      <div *ngIf="serviceData.parent.name && serviceData.parent.uuid"
           class="detail-item">
        <label>{{'belonging_app' | translate}}</label>
        <div>
          <a href="javascript:void(0)"
             [routerLink]="['/k8s_app/detail', serviceData.parent.uuid]">{{ serviceData.parent.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<rc-tab-group *ngIf="serviceData"
              (selectedIndexChange)="tabSelected($event)">
  <!--实例列表-->
  <ng-container *rcTab="'instances' | translate">
    <rc-service-instances #instances
                          [canUpdate]="serviceUtilities.showUpdate(serviceData)"
                          [clusterId]="serviceData.cluster.uuid"
                          [serviceId]="uuid"
                          (shouldRefresh)="refetch()"></rc-service-instances>
  </ng-container>
  <!--服务地址-->
  <ng-container *rcTab="'endpoint' | translate">
    <rc-service-endpoints [uuid]="uuid"></rc-service-endpoints>
  </ng-container>

  <ng-container *ngIf="!(isK8sV4$ | async)">
    <!--事件-->
    <ng-container *rcTab="'events' | translate">
      <rc-event-list *ngIf="uuid"
                     type="service"
                     [primaryKey]="uuid"></rc-event-list>
    </ng-container>
    <!--监控-->
    <ng-container *rcTab="'monitoring' | translate">
      <rc-service-metrics [uuid]="serviceData.resource.uuid"></rc-service-metrics>
    </ng-container>
    <!--日志-->
    <ng-container *rcTab="'logs' | translate">
      <div class="service-logs-toolbar">
        <div>
          <label>{{'log_source' | translate}}</label>
          <rc-single-selection-dropdown [options]="logSourceOptions"
                                        displayField="name"
                                        valueField="value"
                                        [allowFilter]="false"
                                        [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="logSource">

          </rc-single-selection-dropdown>
        </div>
        <rc-radio-group [options]="logDisplayOptions"
                        displayField="key"
                        valueField="value"
                        [(ngModel)]="logDisplayType"
                        [ngModelOptions]="{'standalone': true}">
        </rc-radio-group>
      </div>
      <rc-service-logs-polling *ngIf="logDisplayType === 'polling'"
                               [uuid]="serviceData.resource.uuid"
                               [path]="logSource"
                               [logSourceId]="logSourceId$ | async"></rc-service-logs-polling>
      <rc-service-logs-search *ngIf="logDisplayType === 'search'"
                              [uuid]="serviceData.resource.uuid"
                              [path]="logSource"
                              [logSourceId]="logSourceId$ | async"></rc-service-logs-search>
    </ng-container>
  </ng-container>

  <!--Yaml-->
  <ng-container *rcTab="'yaml_compose_file' | translate">
    <aui-code-editor
      [options]="{ language: 'yaml', readOnly: true }"
      [actionsConfig]="actionsConfigView"
      [ngModel]="serviceYaml">
    </aui-code-editor>
  </ng-container>
  <!-- Service Config -->
  <ng-container *rcTab="'component_config' | translate">
    <rc-service-detail-config [kubernetes]="serviceData.kubernetes"></rc-service-detail-config>
  </ng-container>
  <!-- Container Config -->
  <ng-container *rcTab="'container_config' | translate">
    <rc-service-container-config [kubernetes]="serviceData.kubernetes"></rc-service-container-config>
  </ng-container>
  <!-- Service Binding -->
  <ng-container *ngIf="weblabs.SERVICE_CATALOG_ENABLED && !(isK8sV4$ | async)">
    <ng-container *rcTab="'service_catalog_service_binding' | translate">
      <rc-service-catalog-binding-app-list [serviceId]="serviceData.resource.uuid"
                                           [serviceNamespace]="serviceData.namespace"></rc-service-catalog-binding-app-list>
    </ng-container>
  </ng-container>
</rc-tab-group>
