<rc-loading-mask class="rc-form-loading-mask" [loading]="!initialized"></rc-loading-mask>
<div class="form-content" [hidden]="!initialized">
    <div class="toc-container">
        <div class="form-group">
            <div class="form-group__header">
                <span *ngIf="!data">{{'create_kube_service' | translate}}</span>
                <span *ngIf="data">{{'update_kube_service' | translate}}</span>
                <div style="flex: 1;"></div>
                <aui-radio-group
                    [isPlain]="false"
                    (ngModelChange)="formModelChange($event)"
                    [(ngModel)]="formModel">
                    <aui-radio-button value="UI">{{'form' | translate}}</aui-radio-button>
                    <aui-radio-button value="YAML">YAML</aui-radio-button>
                </aui-radio-group>
            </div>
            <div class="form-group__content" *ngIf="formModel=='UI'">
                <form
                    auiForm
                    class="service-form"
                    auiFormLabelWidth="160px"
                    #serviceForm="ngForm"
                    >
                  <aui-form-item>
                      <label auiFormItemLabel>{{'type' | translate}}</label>
                      <aui-select
                        name="type"
                        [(ngModel)]="k8sService.spec.type"
                        [disabled]="data"
                      >
                        <aui-option
                          *ngFor="let type of typeList"
                          [label]="type.key"
                          [value]="type.value">{{type.key}}</aui-option>
                        <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
                      </aui-select>
                    </aui-form-item>
                    <aui-form-item *ngIf="k8sService.spec.type != 'NodePort' && !data">
                      <label auiFormItemLabel>{{'name' | translate}}</label>
                      <input aui-input
                            auiFormItemControl
                            required
                            name="name"
                            maxlength="63"
                            [(ngModel)]="k8sService.metadata.name"
                            [pattern]="resourceNameReg.pattern"
                            [placeholder]="resourceNameReg.tip | translate"
                            [rcErrorsTooltipMapper]="{pattern: resourceNameReg.tip | translate}"
                            [rcErrorsTooltip]>
                    </aui-form-item>
                    <aui-form-item *ngIf="k8sService.spec.type != 'NodePort' && data">
                        <label auiFormItemLabel>{{'name' | translate}}</label>
                        <span>{{k8sService.metadata.name}}</span>
                    </aui-form-item>
                    <aui-form-item>
                      <label auiFormItemLabel>{{'target_app' | translate}}</label>
                      <aui-select
                        name="targetApp"
                        [(ngModel)]="appSelector"
                        [clearable]="true"
                        [filterable]="appList.length"
                        [placeholder]="'please_select_app' | translate">
                        <aui-option
                          *ngFor="let app of appList"
                          [label]="app.name"
                          [value]="app">{{app.name}}</aui-option>
                        <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
                      </aui-select>
                    </aui-form-item>
                    <aui-form-item>
                      <label auiFormItemLabel>{{'port' | translate}}</label>
                      <rc-service-ports-fieldset #servicePorts name="port" [(ngModel)]="k8sService.spec.ports"></rc-service-ports-fieldset>
                    </aui-form-item>
                </form>
            </div>
            <div class="form-group__content" *ngIf="formModel=='YAML'">
                <form
                    auiForm
                    #serviceForm="ngForm"
                >
                    <!-- YAML -->
                    <aui-code-editor
                        name="yaml"
                        style="width: 100%;"
                        required
                        [rcErrorsTooltip]
                        [rcErrorsTooltipInline]="true"
                        [(ngModel)]="serviceYaml"
                        [options]="codeEditorOptions">
                    </aui-code-editor>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="form-footer" [hidden]="!initialized">
    <div style="flex: 1;"></div>
    <button
        type="button"
        aui-button="primary"
        [loading]="submitting"
        [disabled]="submitting"
        (click)="confirm()">
        <span *ngIf="data">{{'update' | translate}}</span>
        <span *ngIf="!data">{{'confirm' | translate}}</span>
    </button>
    <button
        type="button"
        aui-button
        [disabled]="submitting"
        (click)="cancel()">{{'cancel' | translate}}</button>
</div>