@import '_colors.styles';

:host {
  display: block;
  flex: 1;
  .toc-container {
    position: absolute;
    padding-right: 20px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 16px;
  }
  .form-content {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
    .form-group {
      position: relative;
      background-color: #fff;
      padding: 0 20px 20px;
      &__header {
        display: flex;
        height: 48px;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
      }
      &__content {
        padding-top: 16px;
      }
    }
  }
  .form-footer {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 30px 8px 30px;
    border-top: solid 1px $black-2;
    box-shadow: 0 0 8px 0 $gray-7;
    background-color: $silver-6;
    display: flex;
    justify-content: space-between;
    button:not(:last-of-type) {
      margin: 0 16px 0 0;
    }
  }
  .service-form {
    width: 80%;
  }
}
