<rc-form-container>
  <div [rcLoadingMask]="loading||submitting">
    <form [formGroup]="form" #f="ngForm" (ngSubmit)="submit()">
      <!-- 触发类型 -->
      <rc-form-field label="{{'trigger_type'|translate}}" [shouldFlexRow]="true">
        <rc-single-selection-dropdown formControlName="triggerType"
                                      [options]="triggerTypes"
                                      displayField="name"
                                      valueField="value">
        </rc-single-selection-dropdown>
      </rc-form-field>
      <!-- 操作类型 -->
      <rc-form-field label="{{'action_type'|translate}}" [shouldFlexRow]="true">
        <rc-single-selection-dropdown formControlName="actionType"
                                      [options]="actionTypes"
                                      displayField="name"
                                      valueField="value"
                                      (change)="onActionTypeChange($event)">
        </rc-single-selection-dropdown>
      </rc-form-field>
      <!-- 通知选择 -->
      <rc-form-field label="{{'select_notification'|translate}}" *ngIf="selectedActionType==='notification'" [shouldFlexRow]="true">
        <rc-multi-selection-dropdown formControlName="notifications"
                                     [options]="notifications"
                                     displayField="display_name"
                                     valueField="name"
                                     (valueChange)="onNotificationChange($event)"
                                     (optionAdd)="onNotificationAdd($event)"
                                     (optionRemove)="onNotificationRemove($event)">
        </rc-multi-selection-dropdown>
      </rc-form-field>
      <!-- 集群选择 -->
      <rc-form-field label="{{'cluster'|translate}}" *ngIf="selectedActionType==='cluster'" [shouldFlexRow]="true">
        <rc-single-selection-dropdown formControlName="cluster"
                                      [options]="clusters"
                                      displayField="display_name"
                                      valueField="id">
        </rc-single-selection-dropdown>
      </rc-form-field>
      <!-- 服务选择 -->
      <rc-form-field label="{{'services'|translate}}" *ngIf="selectedActionType==='cluster'" [shouldFlexRow]="true">
        <rc-multi-selection-dropdown formControlName="services"
                                     [options]="services"
                                     displayField="display_name"
                                     valueField="uuid"
                                     (valueChange)="onServiceChange($event)"
                                     (optionAdd)="onServiceAdd($event)"
                                     (optionRemove)="onServiceRemove($event)">
        </rc-multi-selection-dropdown>
      </rc-form-field>
    </form>
    <div *rcFooterContent>
      <button rcButton
              (click)="cancel()">
        {{'cancel'|translate}}
      </button>
      <button rcButton="primary"
              (click)="f.onSubmit($event)"
              [disabled]="submitDisabled"
              [class.loading]="submitting">
        {{'create'|translate}}
      </button>
    </div>
  </div>
</rc-form-container>