<div class="header-row"
     fxLayout="row"
     fxLayoutAlign="space-between center">
</div>
<div class="icon-row">
  <img [src]="template?.icon || ''"
       alt="app-icon"
       onerror="javascript:this.src='/static/images/app-catalog/template.svg';">
  <div class="template-display-name"
       [title]="template?.display_name">
       {{ template?.display_name }}
  </div>
  <div *ngIf="showRepoName" class="template-repo-display-name"
    [title]="template.repo_display_name ? template.repo_display_name : template.repo_name">
    {{ template.repo_display_name ? template.repo_display_name : template.repo_name }}
  </div>
</div>

<div class="lower-half">
  <hr>
  <div class="template-summary-area"
       [title]="template?.description">
    <p>{{ template?.description }}</p>
  </div>

  <button rcButton="primary"
          [title]="warm_tips"
          [ngClass]="{'template-button-opacity': template.resource_actions.indexOf('helm_template:use') < 0 || !applicationPermission}"
          class="template-create-app-button"
          (click)="createAppClicked($event)">
    {{ 'create_app' | translate }}
  </button>
</div>
