<rc-loading-mask [loading]="!initialized"
                 style="min-height: 120px; background-color: transparent;"></rc-loading-mask>
<div *ngIf="initialized && !endpoints.length"
     class="rb-loading-mask-placeholder">
  {{ "no_data" | translate }}
</div>
<rc-table *ngIf="endpoints.length"
          class="rc-secondary-table"
          [columnMode]="'force'"
          [headerHeight]="40"
          [rowHeight]="50"
          [rows]="endpoints">
  <rc-table-col [width]="40"
                name="{{'container_port' | translate}}"
                [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      {{rowData.container_port | rcFieldNotAvailable}}
    </div>
  </rc-table-col>

  <rc-table-col [width]="320"
                [cellClass]="'rc-col-cell-truncated'"
                name="{{'endpoint' | translate}}"
                [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      <ng-container *ngIf="rowData.endpoint_address">
        <span *ngIf="rowData.protocol === 'tcp'"
              [auiTooltipCopy]="rowData.endpoint_address">{{rowData.endpoint_address}}</span>
        <a *ngIf="rowData.protocol !== 'tcp'"
           [attr.title]="rowData.endpoint_address"
           [attr.href]="rowData.endpoint_address"
           target="_blank">{{rowData.endpoint_address}}</a>
      </ng-container>
      <span *ngIf="!rowData.endpoint_address">{{rowData.endpoint_address | rcFieldNotAvailable}}</span>
    </div>
  </rc-table-col>

  <rc-table-col [width]="160"
                [cellClass]="'rc-col-cell-truncated'"
                name="{{'load_balancer' | translate}}"
                [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      <a [routerLink]="['/load_balancer/detail', rowData.load_balancer_name]"
         [attr.title]="rowData.load_balancer_name">{{rowData.load_balancer_name}}</a>
    </div>
  </rc-table-col>

  <rc-table-col [width]="40"
                name="{{'listening_port' | translate}}"
                [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      {{rowData.port}}
    </div>
  </rc-table-col>

  <rc-table-col [width]="40"
                name="{{'rule' | translate}}"
                [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      <div class="rc-rule-indicators"
           *ngIf="rowData.rule_indicators"
           [rcTooltip]="dslDetail"
           [rcTooltipContext]="{rule_indicators: rowData.rule_indicators}"
           [rcTooltipInline]="false"
           rcTooltipPosition="left center"
           rcTooltipMode="info">
        <i class="fa fa-eye"></i>
      </div>
      <div *ngIf="!rowData.rule_indicators">{{rowData.rule_indicators | rcFieldNotAvailable}}</div>
    </div>
  </rc-table-col>
</rc-table>

<ng-template #dslDetail
             let-data>
  <div class="indicator-item"
       *ngFor="let indicator of data.rule_indicators">
    <div>{{ 'rule_' + indicator.type | lowercase | translate}}:</div>
    <div>
      <div *ngFor="let value of indicator.values">&nbsp;&nbsp;{{ indicator.key &&
        (indicator.key + ':') }}{{ value.slice(1).join('-')}}</div>
    </div>
  </div>
</ng-template>
