@import 'colors.styles';
:host {
  .rc-rule-indicators {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $rb-blue;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
      background-color: #e6f2f8;
    }
  }
}
