.rb-org-ldap {
  .rb-horizontal-message {
    border: 0;
    margin-bottom: 0;
    box-shadow: 0 0 0 0;
    background-color: #fff;
    color: #9c9c9c;
    .inline-help-text {
      position: relative;
      width: calc(100% - 100px);
      height: 40px;
      line-height: 40px;
      p {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 0;
      }
    }
    .rb-btn-link {
      margin-left: 0.5em;
      font-size: 12px;
    }
  }
}
