<div class="rb-org-ldap"
     rb-loading-mask="vm.ldapConfigLoading">

  <div class="ldap-type-select-card" ng-show="vm.ldapMode===vm.orgLdapPageMap.CREATE">
    <div class="item" ng-class="{'selected': vm.ldapConfig.type === 'OpenLDAP'}"
         ng-click="vm.selectLdapType('OpenLDAP');">
      <div class="link-status-ribbon">
        <i class="fa fa-check"></i>
      </div>
      <div class="item-logo"><img ng-src="/static/images/ldap/OpenLDAP.svg"></div>
      <div class="item-name">OpenLDAP</div>
    </div>
    <div class="item" ng-class="{'selected': vm.ldapConfig.type === 'ActiveDirectory'}"
         ng-click="vm.selectLdapType('ActiveDirectory');">
      <div class="link-status-ribbon">
        <i class="fa fa-check"></i>
      </div>
      <div><img class="item-logo" ng-src="/static/images/ldap/ActiveDirectory.svg"></div>
      <div class="item-name">Active Directory</div>
    </div>
    <div class="item" ng-class="{'selected': vm.ldapConfig.type === 'AzureAD'}"
         ng-click="vm.selectLdapType('AzureAD');">
      <div class="link-status-ribbon">
        <i class="fa fa-check"></i>
      </div>
      <div><img class="item-logo" ng-src="/static/images/ldap/AzureAD.svg"></div>
      <div class="item-name">Azure AD</div>
    </div>
  </div>
  <div class="ldap-desc-card" ng-show="vm.ldapMode">
    <div class="title">{{ vm.ldapConfig.type }}&nbsp;{{ vm.ldapMode===vm.orgLdapPageMap.CREATE ?
      'org_ldap_config_off' : 'org_ldap_config_on' | translate }}
    </div>
    <div class="desc">{{ vm.ldapMode===vm.orgLdapPageMap.CREATE ? 'org_ldap_config_desc_off' :
      'org_ldap_config_desc_on' | translate:{ldapType:vm.ldapConfig.type} }}
    </div>
    <div class="button-area" style="margin: 10px;" ng-show="vm.ldapMode===vm.orgLdapPageMap.DISPLAY">
      <a href="javascript:;"
         ng-click="vm.editLdapConfig()"><i class="fa fa-edit"></i>{{ 'update' | translate }}</a>
    </div>
  </div>

  <div ng-if="vm.ldapMode === vm.orgLdapPageMap.DISPLAY">
    <div class="detail-basic-info rb-detail-container">
      <div class="rb-detail-content-wrap">
        <div class="rb-detail-content" ng-if="vm.ldapConfig.type !== 'AzureAD'">
          <div class="rb-detail-row">
            <div>{{ "org_ldap_host_or_ip" | translate }}</div>
            <div>{{ vm.ldapConfig.config.host }}</div>

            <div>{{ "port" | translate }}</div>
            <div>{{ vm.ldapConfig.config.port }}</div>
          </div>

          <div class="rb-detail-row">
            <div>{{ "TLS" | translate }}</div>
            <div>{{ vm.ldapConfig.config.tls | translate }}</div>

            <div>{{ "org_ldap_service_account" | translate }}</div>
            <div>{{ vm.ldapConfig.config.service_account }}</div>
          </div>

          <div class="rb-detail-row">
            <div>{{ "org_ldap_service_account_password" | translate }}</div>
            <div>******</div>

            <div>{{ "org_ldap_search_base" | translate }}</div>
            <div>{{ vm.ldapConfig.config.search_base }}</div>
          </div>

          <div class="rb-detail-row">
            <div>{{ "org_ldap_class_type" | translate }}</div>
            <div>{{ vm.ldapConfig.schema.users.class_type }}</div>

            <div>{{ "org_ldap_login_field" | translate }}</div>
            <div>{{ vm.ldapConfig.schema.users.login_field }}</div>
          </div>

          <div class="rb-detail-row">
            <div>{{ "org_ldap_filter_condition" | translate }}</div>
            <div>{{ vm.ldapConfig.schema.users.search }}</div>
          </div>
        </div>
        <div class="rb-detail-content" ng-if="vm.ldapConfig.type === 'AzureAD'">
          <div class="rb-detail-row">
            <div>{{ "org_ldap_azuread_area" | translate }}</div>
            <div>{{ vm.ldapConfig.config.country === 'CN' ? "org_ldap_account_country_cn" :
              "org_ldap_account_country_us" | translate }}
            </div>
          </div>

          <div class="rb-detail-row">
            <div>{{ "org_ldap_tenant_id" | translate }}</div>
            <div>{{ vm.ldapConfig.config.tenant_id }}</div>

            <div>{{ "org_ldap_basic_domain" | translate }}</div>
            <div>{{ vm.ldapConfig.config.domain }}</div>
          </div>

          <div class="rb-detail-row">
            <div>{{ "username" | translate }}</div>
            <div>{{ vm.ldapConfig.config.service_account }}</div>

            <div>{{ "password" | translate }}</div>
            <div>******</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="[vm.orgLdapPageMap.CREATE, vm.orgLdapPageMap.UPDATE].includes(vm.ldapMode)">
    <div class="rb-form-panel" style="position: relative;">
      <div class="rb-form-container">
        <ng-form name="vm.ldapConfigForm" class="basic-info rb-form">
          <div ng-if="vm.ldapConfig.type !== 'AzureAD'">
            <div class="rb-header-alt ">{{ 'org_ldap_config_basic' | translate }}</div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "org_ldap_host_or_ip" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="text"
                     ng-model="vm.ldapConfig.config.host"
                     name="host"
                     required>
            </div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "port" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="text"
                     ng-model="vm.ldapConfig.config.port"
                     name="port"
                     required>
            </div>
            <div class="rb-form-row">
              <div class="rb-label" flex="20">
                TLS
              </div>
              <div class="checkbox-group">
                <div class="ui toggle checkbox">
                  <input type="checkbox"
                         ng-model="vm.ldapConfig.config.tls">
                  <label></label>
                </div>
              </div>
            </div>
            <div class="rb-form-row input" ng-show="vm.ldapConfig.config.tls && vm.ldapConfig.type === 'OpenLDAP'">
              <div class="rb-label" flex="20">
                {{ "org_ldap_tls_server_cert" | translate }}
              </div>
              <textarea flex="60"
                        class="form-control"
                        name="server_cert"
                        ng-model="vm.ldapConfig.config.server_cert"
                        rows="3"></textarea>
            </div>
            <div class="rb-form-row input" ng-show="vm.ldapConfig.config.tls && vm.ldapConfig.type === 'OpenLDAP'">
              <div class="rb-label" flex="20">
                {{ "org_ldap_tls_client_key" | translate }}
              </div>
              <textarea flex="60"
                        class="form-control"
                        name="client_key"
                        ng-model="vm.ldapConfig.config.client_key"
                        rows="3"></textarea>
            </div>

            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "org_ldap_service_account" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="text"
                     ng-model="vm.ldapConfig.config.service_account"
                     name="service_account"
                     required>
            </div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "org_ldap_service_account_password" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="text"
                     autocomplete="off"
                     ng-model="vm.ldapConfig.config.service_password"
                     name="service_password"
                     required>
            </div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "org_ldap_search_base" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="text"
                     ng-model="vm.ldapConfig.config.search_base"
                     name="search_base"
                     required>
            </div>
            <div class="rb-form-fieldset-interval"></div>

            <div class="rb-header-alt ">{{ 'org_ldap_config_custom' | translate }}</div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "org_ldap_class_type" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="text"
                     ng-model="vm.ldapConfig.schema.users.class_type"
                     name="class_type"
                     required>
            </div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "org_ldap_login_field" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="text"
                     ng-model="vm.ldapConfig.schema.users.login_field"
                     name="login_field"
                     required>
            </div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "org_ldap_filter_condition" | translate }}
              </div>
              <input flex="60"
                     type="text"
                     ng-model="vm.ldapConfig.schema.users.search"
                     name="search">
            </div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
              </div>
              <div flex="60" class="rb-horizontal-message">
                <div class="inline-help-text" bind-html-compile="vm.getTaskHelpTextPreview() | markdown2html">
                </div>
                <a href="#" class="rb-btn-link" ng-click="vm.helpLinkClicked()">
                  {{ 'see_more' | translate }}
                  <i class="fa fa-angle-double-right"></i>
                </a>
              </div>
            </div>
            <div class="rb-form-fieldset-interval"></div>

            <div class="rb-header-alt ">{{ 'org_ldap_config_test' | translate }}</div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "username" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="text"
                     ng-model="vm.ldapConfig.test.username"
                     name="test_name"
                     required>
            </div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "password" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="password"
                     autocomplete="off"
                     ng-model="vm.ldapConfig.test.password"
                     name="test_password"
                     required>
            </div>
          </div>
          <div ng-if="vm.ldapConfig.type === 'AzureAD'">
            <div class="rb-header-alt ">{{ 'org_ldap_azuread_account' | translate }}</div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "org_ldap_azuread_area_choose" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <rb-radio-group options="vm.AzureCountrys" key="name" value="value" init="vm.ldapConfig.config.country"
                              on-change="vm.selectLdapAzureCountry(option)"></rb-radio-group>
            </div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "org_ldap_tenant_id" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="text"
                     ng-model="vm.ldapConfig.config.tenant_id"
                     name="tenant_id"
                     required>
            </div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "org_ldap_basic_domain" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="text"
                     ng-model="vm.ldapConfig.config.domain"
                     name="domain"
                     required>
            </div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "org_ldap_administrators_username" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="text"
                     ng-model="vm.ldapConfig.config.service_account"
                     name="service_account"
                     required>
            </div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "org_ldap_administrators_password" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="password"
                     autocomplete="off"
                     ng-model="vm.ldapConfig.config.service_password"
                     name="service_password"
                     required>
            </div>
            <div class="rb-form-fieldset-interval"></div>

            <div class="rb-header-alt ">{{ 'org_ldap_config_test' | translate }}</div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "username" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="text"
                     ng-model="vm.ldapConfig.test.username"
                     name="test_name"
                     required>
            </div>
            <div class="rb-form-row input">
              <div class="rb-label" flex="20">
                {{ "password" | translate }}
                <span class="rb-required-mark">*</span>
              </div>
              <input flex="60"
                     type="password"
                     ng-model="vm.ldapConfig.test.password"
                     name="test_password"
                     required>
            </div>
          </div>
        </ng-form>
      </div>
      <div class="rb-form-footer">
        <div flex="20"></div>
        <div class="rb-form-footer-buttons" flex="60">
          <button type="button" class="ui button rb-btn-primary"
                  ng-disabled="vm.submitting"
                  rb-loading-mask="vm.submitting"
                  ng-click="vm.save()">{{ 'save' | translate }}
          </button>
          <button type="button" style="margin-left: 8px" ng-click="vm.cancel()"
                  ng-if="vm.ldapMode === vm.orgLdapPageMap.UPDATE"
                  class="ui button rb-btn-default">
            {{ 'cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>