:host {
  .form-container {
    padding: 16px;
  }
  ::ng-deep {
    .aui-form-item__container {
      margin-right: 48px;
    }
    .rc-account-password-field {
      position: relative;
      flex: 1;
      input {
        padding-right: 48px !important;
      }
      .rc-account-password-strength {
        position: absolute;
        top: 7px;
        right: 8px;
      }
    }
  }
  .form-footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 48px;
  }
}
