<div class="form-container" [rcLoadingMask]="submitting" style="padding-top: 16px;">
  <form auiForm #updatePasswordForm="ngForm" auiFormLabelWidth="155px">
    <aui-form-item *ngIf="!showOldPasswordField()">
      <label auiFormItemLabel>{{'username' | translate}}</label>
      <label>{{username}}</label>
    </aui-form-item>
    <aui-form-item *ngIf="showOldPasswordField()">
      <label auiFormItemLabel>{{'old_password' | translate}}</label>
      <input rcInput type="password" name="old_password" [(ngModel)]="old_password" rcErrorsTooltip [rcErrorsTooltipMapper]="changePasswordErrorMapper"
        required>
      <div auiFormItemAddon>
        <aui-icon icon="info_circle_s"></aui-icon>
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{'new_password' | translate}}</label>

      <div class="rc-account-password-field">
        <input rcInput type="password" name="new_password" [(ngModel)]="new_password" [ngModelOptions]="{allowInvalid:true}" [minlength]="passwordPatternObj.min"
          [maxlength]="passwordPatternObj.max" [pattern]="passwordPatternObj.pattern" rcErrorsTooltip [rcErrorsTooltipMapper]="changePasswordErrorMapper"
          required>
        <div *ngIf="new_password && passwordPatternObj.strength" class="rc-account-password-strength">
          <rc-app-password-strength [password]="new_password">
          </rc-app-password-strength>
        </div>
      </div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{'confirm_new_password' | translate}}</label>
      <input rcInput type="password" name="confirm_new_password" [(ngModel)]="confirm_new_password" [ngModelOptions]="{allowInvalid:true}"
        rcErrorsTooltip [rcErrorsTooltipMapper]="{'pattern':'password_not_same' | translate}" [pattern]="cPwdPattern" required>
    </aui-form-item>
    <div class="form-footer">
      <button aui-button (click)="cancel()" [disabled]="submitting">{{'cancel' | translate}}</button>
      <button aui-button="primary" (click)="confirm()" [disabled]="submitting">{{'save' | translate}}</button>
    </div>
  </form>
</div>
