.rb-table-input {
  .rb-form.ng-dirty.ng-invalid {
    background-color: #fff;
  }

  table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 4px;
    margin-bottom: 0;
    tbody {
      tr {
        &:first-child {
          background: #f9f9f9;
        }
        &:not(:first-child) {
          transition: background 0.2s;
          &:hover {
            background: #f9f9f9;
          }
          td {
            padding-left: 10px;
            &:first-child {
              border-radius: 4px 0 0 4px;
            }
            &:last-child {
              border-radius: 0 4px 4px 0;
            }
          }
        }
        td {
          border: none;
          vertical-align: middle;
          > .ui.search {
            > .ui.input {
              width: 100%;
              > .prompt {
                border-radius: 2px;
                padding: 0 8px;
              }
            }
            .result {
              padding-left: 8px;
              > .content > .title {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
}
