<div class="rb-form-row rb-table-input">
  <div class="rb-label" flex="25">
    {{vm.label | translate | rbTitleCase }}
    <span ng-if="vm.required" class="rb-required-mark">*</span>
  </div>
  <div flex="55">
    <ng-form class="rb-form" name="vm.tableForm">
      <table class="table table-condensed">
        <thead>
          <tr>
            <td ng-repeat="key in vm.columns" style="width:200px;">{{ key |translate }}</td>
            <td style="width:50px;"></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td ng-repeat="key in vm.columns">
              <div ng-if="key === 'key'" rb-form-tooltip tooltip-show="vm.checkDuplicateKey()" class="ui search tag-key fluid">
                <div class="ui input">
                  <input class="prompt" type="text" ng-change="vm.checkDuplicateKey()" ng-model="vm.curRow[key]" ng-maxlength="60" ng-minlength="2"
                    rb-errors-tooltip ng-pattern="/^[a-zA-Z0-9][a-zA-Z0-9\-\.\_]*[a-zA-Z0-9]$/" uib-popover="{{ 'labels_key_hint' | translate }}"
                    popover-placement="left" popover-trigger="'focus'" popover-append-to-body="true">
                </div>
                <div class="results"></div>
              </div>
              <div class="ui popup rb-input-message" ng-show="vm.checkDuplicateKey()">
                {{ 'labels_key_unique' | translate }}
              </div>
              <div ng-if="key !== 'key'" class="ui search fluid" ng-class="'tag-'+ key">
                <div class="ui input">
                  <input class="prompt" type="text" ng-model="vm.curRow[key]" ui-validate="{ overlength: 'vm.overLength($value)' }" rb-errors-tooltip
                    rb-errors-tooltip-mapper="vm.errorMapper">
                </div>
                <div class="results"></div>
              </div>
            </td>
            <td>
              <button type="button" class="ui button tiny rb-btn-default" ng-click="vm.addTag()">
              {{ 'add' | translate }}
               </button>
            </td>
          </tr>
          <tr ng-repeat="item in vm.rows track by $index">
            <td  ng-repeat="key in vm.columns" title="{{ item[key] }}" class="ellipsis">{{ item[key] }}</td>
            <td>
              <a class="rb-fieldset-action-btn" ng-if="item.editable" ng-click="vm.deleteTagFromTags($index)">
              <i class="fa fa-remove"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-form>
  </div>
</div>