@import 'mixins';
@import 'colors.styles';
@import 'list.styles';
@import 'definitions/rubick.def';
.table-no-data {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

:host ::ng-deep {
  .datatable-body-cell-label {
    width: 100%;
    white-space: normal;
    .rc-lines {
      flex: 1;
    }
  }
}
.text-truncate {
  @include singleline-ellipsis;
}

.text-nowrap {
  white-space: nowrap;
}

.text-break {
  word-break: break-all;
}

.rc-resource-name-cell {
  .rc-lines {
    overflow: hidden;
  }
  .rc-line:nth-child(2) {
    font-size: 12px;
  }
}

.tip-no-space {
  color: $text-warnings-color;
}

.label-system {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 1;
}

.storage-custom-header {
  display: flex;
  align-items: center;
}
.notification-switch {
  margin-left: auto;
  color: $gray-20;
  transition: color ease 0.3s;
  &:hover {
    color: $color-primary;
  }
}
