@import 'colors.styles';
:host {
  form {
    input:read-only {
      border: 0px;
    }
    ::ng-deep .hint-label-wrapper {
      height: auto;
    }
  }
  ::ng-deep .rc-form-panel.is-in-modal {
    padding-top: 0;
  }
  .empty-message {
    width: 100%;
    text-align: center;
    color: $gray-7;
    margin-top: 50px;
  }
}
