<rc-form-container class="catalog-create-app">
  <form class="rb-form">
    <rc-form-field *ngFor="let info of instanceInfo"
                    [label]="info[0] + ':'" 
                    [shouldFlexRow]="true">
      <input rcInput
              name="name"
              [value]="info[1]"
              readonly="readonly">
    </rc-form-field>
  </form>
  <div *ngIf="instanceInfo.length === 0" class="empty-message">{{ 'no_data' | translate }}</div>
</rc-form-container>