<rc-card
  [fitParent]="true">
  <a rcCardHeader [routerLink]="['/alarm']" [queryParams]="{ type: 'log' }">{{ 'chart_title_log_alarm' | translate }}</a>
  <rc-chart-container
    [loading]="!initialized"
    [noData]="initialized && !data"
    [legends]="legends">
    <ngx-charts-bar-vertical
      [results]="data||fakeData"
      [yScaleMax]="data ? null : 30"
      [scheme]="chartConfig.scheme"
      [xAxis]="chartConfig.xAxis"
      [yAxis]="chartConfig.yAxis"
      [showGridLines]="chartConfig.showGridLines"
      [roundDomains]="chartConfig.roundDomains"
      [roundEdges]="chartConfig.roundEdges"
      [barPadding]="chartConfig.barPadding"
      [yAxisTickFormatting]="chartConfig.yAxisTickFormatting">
    </ngx-charts-bar-vertical>
  </rc-chart-container>
</rc-card>
