rb-accounts-create-dialog {
  .rb-form .rb-form-row {
    &.random-password {
      margin-bottom: 0;
    }

    &.password-remark {
      margin-bottom: 20px;

      > div:last-child {
        line-height: normal;
        color: #dedede;
      }
    }

    &.show-more-info {
      > div:last-child {
        position: relative;
      }

      hr {
        width: 100%;
      }

      .more-info {
        position: absolute;
        padding: 0 10px;
        color: #24a7e3;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        cursor: pointer;
      }
    }
  }

  .rb-account-password-field {
    position: relative;
    input {
      padding-right: 48px !important;
    }
    .rb-account-password-strength {
      position: absolute;
      top: 7px;
      right: 8px;
    }
  }
}
