<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="!vm.initialized || vm.submitting">
    <form ng-if="!vm.createSuccess" class="rb-form" name="vm.form">
      <div ng-if="!vm.privateDeploy" class="rb-input-container-help">
        {{ vm.helpText }}
      </div>

      <div class="rb-form-row input">
        <div class="rb-label" flex="25">
          {{ 'username' | translate }}<span class="rb-required-mark">*</span>
        </div>
        <rb-tags-input flex="60"
                       on-change="vm.onAccountNamesChange(tags)"
                       validate-fn="vm.accountNameValidateFn"></rb-tags-input>
        <div class="rb-input-field-addon">
          <i class="fa fa-question-circle"
             uib-popover-html="'accounts_name_placeholder' | translate"
             popover-placement="right"
             popover-trigger="'mouseenter'"
             popover-append-to-body="true"></i>
        </div>
      </div>

      <div class="rb-form-row checkbox random-password">
        <div class="rb-label" flex="25"></div>
        <div flex="60" class="ui checkbox">
          <input type="checkbox" ng-model="vm.randomPassword">
          <label>
            {{ 'create_random_password' | translate }}
          </label>
        </div>
      </div>

      <div class="rb-form-row input">
        <div class="rb-label" flex="25">
          {{ 'password' | translate }}
          <span ng-if="!vm.randomPassword" class="rb-required-mark">*</span>
        </div>
        <div flex="60" class="ui input fluid rb-account-password-field">
          <input type="password"
                 name="password"
                 ng-required="!vm.randomPassword"
                 ng-disabled="vm.randomPassword"
                 ng-model="vm.password"
                 ng-minlength="!vm.randomPassword && vm.passwordPatternObj.min"
                 ng-maxlength="!vm.randomPassword && vm.passwordPatternObj.max"
                 rb-errors-tooltip
                 rb-errors-tooltip-mapper="vm.rbChangePasswordErrorMapper">
          <div ng-if="!vm.randomPassword" class="rb-account-password-strength">
            <rb-password-strength-label password="vm.password">
            </rb-password-strength-label>
          </div>
        </div>
        <div class="rb-input-field-addon">
          <i class="fa fa-question-circle"
             uib-popover-html="'create_user_password_help' | translate"
             popover-placement="right"
             popover-trigger="'mouseenter'"
             popover-append-to-body="true"></i>
        </div>
      </div>

      <div class="rb-form-row password-remark">
        <div class="rb-label" flex="25"></div>
        <div flex="60" ng-bind-html="'create_user_password_help' | translate"></div>
      </div>

      <div class="rb-form-row input">
        <div class="rb-label" flex="25">
          {{ 'role' | translate }}
        </div>
        <rb-search-dropdown
          flex="60"
          multiple="true"
          placeholder="'user_add_role_placeholder' | translate"
          backend-url="vm.roleBackendUrl"
          object-option-enabled="true"
          fields-setting="{name: 'name', value: 'name'}"
          response-item-filter="vm.responseItemFilter"
          on-add="vm.onRoleAdd(option)"
          on-remove="vm.onRoleRemove(option)">
        </rb-search-dropdown>
        <div class="rb-input-field-addon">
          <i class="fa fa-question-circle"
             uib-popover-html="'create_user_role_help' | translate"
             popover-placement="right"
             popover-trigger="'mouseenter'"
             popover-append-to-body="true"></i>
        </div>
      </div>

      <div ng-if="!vm.showMoreInfo" class="rb-form-row show-more-info">
        <div class="rb-label" flex="25"></div>
        <div flex="60">
          <hr>
          <span class="more-info" ng-click="vm.showMoreInfo = true">
            {{ 'more_info' | translate }}
            <i class="fa fa-angle-double-down"></i>
          </span>
        </div>
      </div>

      <div ng-if="vm.showMoreInfo">
        <div class="rb-form-row input">
          <div class="rb-label" flex="25">
            {{ 'department' | translate }}
          </div>
          <div flex="60" class="ui input fluid">
            <input name="department" ng-model="vm.department">
          </div>
        </div>

        <div class="rb-form-row input">
          <div class="rb-label" flex="25">
            {{ 'position' | translate }}
          </div>
          <div flex="60" class="ui input fluid">
            <input name="position" ng-model="vm.position">
          </div>
        </div>

        <div class="rb-form-row input">
          <div class="rb-label" flex="25">
            {{ 'office_address' | translate }}
          </div>
          <div flex="60" class="ui input fluid">
            <input name="office_address" ng-model="vm.office_address">
          </div>
        </div>
      </div>

      <div class="rb-form-row input">
        <div class="rb-label" flex="25"></div>
        <div flex="60" class="ui checkbox">
          <input type="checkbox" ng-model="vm.passwordView">
          <label>{{ 'view_user_password' | translate }}</label>
        </div>
      </div>

    </form>
    <div ng-if="vm.createSuccess">
      <div style="color: #9c9c9c;">
        {{ 'created_subaccounts' | translate }}
      </div>
      <table class="table table-bordered table-condensed app-table margin-top-2">
        <thead>
        <tr>
          <td style="width:200px;">{{ 'username' | translate }}</td>
          <td>{{ 'password' | translate }}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in vm.users">
          <td>{{ user.username }}</td>
          <td>{{ user.password }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="rb-form-footer">
    <div ng-if="!vm.createSuccess" class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">
        {{ 'cancel' | translate }}
      </button>
      <button type="button" class="ui button rb-btn-primary"
              ng-disabled="vm.confirmButtonDisabled()"
              ng-click="vm.confirm()">
        {{ 'create' | translate }}
      </button>
    </div>
    <div ng-if="vm.createSuccess" class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.ok()">
        {{ 'ok' | translate }}
      </button>
    </div>
  </div>
</div>
