:host {
  display: block;
  min-height: 100px;
  ::ng-deep rc-loading-mask {
    background-color: transparent;
  }
  .action-button {
    cursor: pointer;
  }

  .aui-table {
    .aui-table__column-image {
      padding-right: 20px;
    }
  }
}
