<div style="min-height: 100px;" [rcLoadingMask]="empty && loading">
    <!--Explain why there is no data-->
    <div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
      {{ "service_list_empty" | translate }}
    </div>
    <aui-table
        *ngIf="!empty"
        [dataSource]="serviceItems"
        [trackBy]="trackByFn">
        <!-- name -->
        <ng-container auiTableColumnDef="name">
            <aui-table-header-cell *auiTableHeaderCellDef>
                {{'component_name' | translate}}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                <a href="javascript:void(0)"
                    [routerLink]="['/k8s_app/detail/component', item.resource.uuid]">
                    {{ item.resource.name }}
                </a>
            </aui-table-cell>
        </ng-container>
        <!-- status -->
        <ng-container auiTableColumnDef="status">
            <aui-table-header-cell *auiTableHeaderCellDef>
                {{'status' | translate}}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                <rc-service-status-badge [status]="item.resource.new_status || item.resource.status"
                    [desiredInstances]="item.resource.instances?.desired"
                    [currentInstances]="item.resource.instances?.current">
                </rc-service-status-badge>
            </aui-table-cell>
        </ng-container>
        <!-- image -->
        <ng-container auiTableColumnDef="image">
            <aui-table-header-cell *auiTableHeaderCellDef>{{'image' | translate}}</aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                <rc-service-image-display
                    [imageDisplayParams]="imageDisplayParamsMap[item.resource.uuid]">
                </rc-service-image-display>
            </aui-table-cell>
        </ng-container>
        <!-- action -->
        <ng-container auiTableColumnDef="action">
            <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                <div [auiDropdown]="menu"
                    [auiDropdownDisabled]="!menu.menuItems || !menu.menuItems.length"
                    class="action-button">
                    <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
                </div>
                <aui-menu #menu size="small">
                <aui-menu-item (click)="viewService(item)">
                    {{'view' | translate}}
                </aui-menu-item>
                <aui-menu-item rcMenuButton *ngIf="serviceUtilities.showStart(item)"
                    [disabled]="!serviceUtilities.canStart(item)"
                    (click)="startService(item)">
                    {{'start' | translate}}
                </aui-menu-item>
                <aui-menu-item
                    *ngIf="serviceUtilities.showStop(item)"
                    [disabled]="!serviceUtilities.canStop(item)"
                    (click)="stopService(item)">
                    {{'stop' | translate}}
                </aui-menu-item>
                <aui-menu-item
                    *ngIf="serviceUtilities.showDelete(item)"
                    [disabled]="!serviceUtilities.canDelete(item)"
                    (click)="deleteService(item)">
                    {{'delete' | translate}}
                </aui-menu-item>
                </aui-menu>
            </aui-table-cell>
        </ng-container>
        <aui-table-header-row
            *auiTableHeaderRowDef="['name', 'status', 'image', 'action']">
        </aui-table-header-row>
        <aui-table-row
            *auiTableRowDef="let row; columns: ['name', 'status', 'image', 'action'];">
        </aui-table-row>
    </aui-table>
  </div>
  