@import 'colors.styles';
@import 'form.styles';

.rc-input-element {
  &::-moz-placeholder,
  ::-webkit-input-placeholder {
    color: $form-placeholder-color;
  }
  &::-webkit-input-placeholder {
    color: $form-placeholder-color;
  }
  &:-ms-input-placeholder {
    color: $form-placeholder-color;
  }
  color: #4d4d4d;
  width: 100%;
  flex-grow: 1;
  font-size: $form-font-size;
  border: 1px solid $form-input-border-color;
  border-radius: 3px;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  padding: 0 8px;

  &:not(textarea) {
    height: 32px;
    &.small {
      height: 28px;
    }
  }

  &:focus {
    border-color: $form-input-focus-border-color;
    outline: 0;
  }

  &[disabled] {
    border-color: #f2f2f2;
    background: $form-disabled-background-color;
  }

  // remove number input's spin box
  &[type='number']::-webkit-outer-spin-button,
  &[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

/* Decorate error states */
.ng-submitted .rc-input-element.ng-invalid:not([disabled]),
.rc-input-element.ng-dirty.ng-invalid:not([disabled]) {
  color: $form-input-invalid-color;
  border-color: $form-input-invalid-border-color;
  background-color: $form-input-invalid-background-color;
  caret-color: $form-input-invalid-color;
}

textarea.rc-input-element {
  padding: 5px 8px;
}
