<rb-loading-mask-placeholder ng-if="!vm.initialized">
</rb-loading-mask-placeholder>

<div ng-if="vm.initialized" ng-repeat="type in vm.resourceTypes track by $index" class="rb-detail-container">
  <div class="rb-detail-table-caption">
    <span>{{ type | lowercase | translate | rbTitleCase}}</span>
    <div flex></div>
    <div class="ui input">
      <input type="text" ng-model="vm.filters[type]" placeholder="{{ 'search_by_name_placeholder' | translate }}">
    </div>
  </div>
  <div class="rb-detail-table-wrap">
    <table class="rb-detail-table">
      <thead>
      <tr>
        <th style="width: 320px;">{{ "name" | translate }}</th>
        <th>{{ "status" | translate }}</th>
        <th style="width: 240px;">{{ "created_at" | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in vm.resources[type] | filter : {name: vm.filters[type]} track by $index">
        <td ng-bind="item.name"></td>
        <td><span rubick-status-icon
                  status="(item.status || 'success')"
                  mode="list"></span></td>
        <td ng-bind="item.created_at | formatUtcStr"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>