<rc-loading-mask class="rc-form-loading-mask" [loading]="!initialized"></rc-loading-mask>
<div class="form-content" [hidden]="!initialized">
    <div class="toc-container">
        <div class="form-group">
            <div class="form-group__header">
                <span *ngIf="data">{{'update_route' | translate}}</span>
                <span *ngIf="!data">{{'create_route' | translate}}</span>
                <div style="flex: 1;"></div>
                <aui-radio-group
                    [isPlain]="false"
                    (ngModelChange)="formModelChange($event)"
                    [(ngModel)]="formModel">
                    <aui-radio-button value="UI">{{'form' | translate}}</aui-radio-button>
                    <aui-radio-button value="YAML">YAML</aui-radio-button>
                </aui-radio-group>
            </div>
            <div class="form-group__content" *ngIf="formModel=='UI'">
                <form
                    auiForm
                    class="service-form"
                    auiFormLabelWidth="160px"
                    #routeForm="ngForm"
                    >
                    <aui-form-item *ngIf="!data">
                      <label auiFormItemLabel>{{'name' | translate}}</label>
                      <input aui-input
                            auiFormItemControl
                            name="name"
                            [(ngModel)]="route.metadata.name"
                            maxlength="63"
                            [pattern]="resourceNameReg.pattern"
                            [placeholder]="resourceNameReg.tip | translate"
                            [rcErrorsTooltipMapper]="{pattern: resourceNameReg.tip | translate}"
                            required
                            [rcErrorsTooltip]>
                    </aui-form-item>
                    <aui-form-item *ngIf="data">
                        <label auiFormItemLabel>{{'name' | translate}}</label>
                        <span>{{route.metadata.name}}</span>
                    </aui-form-item>
                    <aui-form-item>
                        <label auiFormItemLabel>{{'type' | translate}}</label>
                        <aui-radio-group
                            auiFormItemControl
                            required
                            name="domainType"
                            (ngModelChange)="domainTypeChange($event)"
                            [(ngModel)]="domainType">
                            <aui-radio-button value="domain">{{'domain' | translate}}</aui-radio-button>
                            <aui-radio-button value="extensive_domain">{{'extensive_domain' | translate}}</aui-radio-button>
                        </aui-radio-group>
                    </aui-form-item>
                    <aui-form-item *ngIf="domainType =='domain'">
                        <label auiFormItemLabel>{{'domain' | translate}}</label>
                        <div class="route-form-domain">
                            <aui-select
                                auiFormItemControl
                                required
                                name="host"
                                [(ngModel)]="routeMeta.host"
                                filterable
                                [rcErrorsTooltip]>
                                <aui-option
                                    *ngFor="let host of domainList"
                                    [value]="host">{{host}}</aui-option>
                                <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
                            </aui-select>
                            <span>/</span>
                            <input aui-input
                                auiFormItemControl
                                name="path"
                                [(ngModel)]="routeMeta.path"
                                [placeholder]="'path' | translate">
                        </div>
                    </aui-form-item>
                    <aui-form-item *ngIf="domainType =='extensive_domain'">
                        <label auiFormItemLabel>{{'domain' | translate}}</label>
                        <div class="route-form-domain">
                            <input aui-input
                                auiFormItemControl
                                name="domain"
                                [pattern]="baseRSReg.pattern"
                                [placeholder]="baseRSReg.tip | translate"
                                [rcErrorsTooltipMapper]="{pattern: baseRSReg.tip | translate}"
                                [(ngModel)]="routeMeta.domain"
                                required
                                [rcErrorsTooltip]>
                            <span>.</span>
                            <aui-select
                                required
                                name="host"
                                [(ngModel)]="routeMeta.host"
                                filterable
                                [rcErrorsTooltip]>
                                <aui-option
                                    *ngFor="let host of extensiveDomainList"
                                    [value]="host">{{host}}</aui-option>
                                <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
                            </aui-select>
                            <span>/</span>
                            <input aui-input
                                auiFormItemControl
                                name="path"
                                [(ngModel)]="routeMeta.path"
                                [placeholder]="'path' | translate">
                        </div>
                    </aui-form-item>
                    <aui-form-item>
                        <label auiFormItemLabel>{{'kube_service' | translate}}</label>
                        <aui-select
                            auiFormItemControl
                            required
                            name="kube_service"
                            [(ngModel)]="route.spec.to.name"
                            (valueChange)="setPort($event)"
                            filterable
                            [rcErrorsTooltip]>
                            <aui-option
                                *ngFor="let service of kubeServiceList"
                                [value]="service">{{service}}</aui-option>
                            <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
                        </aui-select>
                    </aui-form-item>
                    <aui-form-item>
                        <label auiFormItemLabel>{{'port' | translate}}</label>
                        <aui-select
                            auiFormItemControl
                            required
                            name="port"
                            [(ngModel)]="route.spec.port.targetPort"
                            filterable
                            [rcErrorsTooltip]>
                            <aui-option
                                *ngFor="let port of portMap[route.spec.to.name]"
                                [value]="port">{{port}}</aui-option>
                            <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
                        </aui-select>
                    </aui-form-item>
                </form>
            </div>
            <div class="form-group__content" *ngIf="formModel=='YAML'">
                <form
                    auiForm
                    #routeForm="ngForm">
                    <!-- YAML -->
                    <aui-code-editor 
                        name="yaml"
                        style="width: 100%;"
                        required
                        [rcErrorsTooltip]
                        [rcErrorsTooltipInline]="true"
                        [(ngModel)]="routeYaml"
                        [options]="codeEditorOptions">
                    </aui-code-editor>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="form-footer" [hidden]="!initialized">
    <div style="flex: 1;"></div>
    <button
        type="button"
        aui-button="primary"
        [loading]="submitting"
        [disabled]="submitting"
        (click)="confirm()">
        <span *ngIf="data">{{'update' | translate}}</span>
        <span *ngIf="!data">{{'confirm' | translate}}</span>
    </button>
    <button
        type="button"
        aui-button
        [disabled]="submitting"
        (click)="cancel()">{{'cancel' | translate}}</button>
</div>