<ng-container *rcPageHeaderContent>
    <rc-breadcrumb>
        <a *rcBreadcrumbItem
            href="javascript:void(0)"
            (click)="back()">
        {{ 'nav_configmap' | translate }}
      </a>
        <ng-container *rcBreadcrumbItem>
            {{ name }}
        </ng-container>
    </rc-breadcrumb>
</ng-container>
<!--Explain why there is no data-->
<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<div *ngIf="empty && !loading"
    class="rb-loading-mask-placeholder">
    <div *ngIf="!loadError">
        {{ "have_no_configmap" | translate }}
    </div>
    <div *ngIf="loadError">
        {{ 'data_load_configmap' | translate }}
    </div>
    <button *ngIf="loadError"
        aui-button="primary"
        style="margin-top: 12px;"
        (click)="refetch()">
        {{ 'refresh' | translate }}
    </button>
</div>

<div *ngIf="configmapData"
    class="rc-detail-container">
    <div class="detail-icon">
        <img src="/static/images/resource/configmap.svg"
            alt="">
    </div>
    <div class="detail-wrapper">
        <div class="detail-header">
            <h3>{{configmapData.kubernetes.metadata.name}}</h3>
            <div class="detail-buttons">
                <button aui-button
                    *ngIf="configmapUtilities.showUpdate(configmapData)"
                    (click)="showYamlDialog('add_configuration_item',true)">{{'add_configuration_item' | translate}}
                </button>
                <button aui-button
                    *ngIf="configmapUtilities.showUpdate(configmapData)"
                    (click)="updateConfigmap()">{{'update_configmap' | translate}}</button>
                <button aui-button
                    *ngIf="configmapUtilities.showDelete(configmapData)"
                    (click)="deleteConfigmap()">{{'delete_configmap' | translate}}</button>
            </div>
        </div>
        <div class="detail-content">
            <!-- 集群 -->
            <div class="detail-item">
                <label>{{'cluster' | translate}}</label>
                <div>
                    <div class="tags-container">
                        <span class="tags-container__item">{{clusterDisplayName}}</span>
                        <ng-container *ngFor="let item of mirrorConfigmaps">
                            <span class="tags-container__divider">;</span>
                            <a class="tags-container__item"
                                (click)="redirectToMirrorConfigmap(item)"
                                href="javascript:void(0)">{{item.cluster_display_name}}</a>
                        </ng-container>
                    </div>
                    <div class="tags-toggle"
                        *ngIf="mirrorConfigmaps && mirrorConfigmaps.length > 1"
                        [auiDropdown]="clustersMenu">
                        <div class="tags-toggle__label">...</div>
                    </div>
                    <aui-menu #clustersMenu
                        size="small">
                        <aui-menu-item *ngFor="let item of mirrorConfigmaps"
                            (click)="redirectToMirrorConfigmap(item)">{{item.cluster_display_name}}</aui-menu-item>
                    </aui-menu>
                </div>
            </div>
            <!--创建时间-->
            <div class="detail-item">
                <label>{{'created_at' | translate}}</label>
                <div>{{ configmapData.kubernetes.metadata.creationTimestamp | rcFormatUtcStr}}</div>
            </div>
            <div class="detail-item">
                <label>{{'description' | translate}}</label>
                <div *ngIf="configmapData.kubernetes.metadata.annotations"
                     [title]="description">
                    {{ description }}
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="configmapData"
    class="rc-detail-tab">
    <rc-tab-group>
        <div *rcTab="'configuration_items' | translate">
            <div class="rc-list-container">
                <rc-k8s-config-items
                    [_configmapData]="configmapData"
                    [clusterId]="clusterName"
                    (actionComplete)="doRefetch()">
                </rc-k8s-config-items>
            </div>
        </div>
    </rc-tab-group>
</div>