rc-loading-mask {
  height: 240px;
  background: transparent;
}

.rc-primary-table.configuration_items {
  padding: 20px;
}

.rc-list-pagination {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.referenced-resources-tooltips-container {
  min-width: 300px;
  max-height: 200px;
  overflow-y: auto;
}

.pointer {
  cursor: pointer;
}

.rc-list-header.configuration_header {
  padding: 10px 20px;
}

.tooltipTable {
  padding: 5px 10px;
  font-size: 14px;
  color: #666666;
  font-family: PingFangSC;
  th {
    width: 150px;
    height: 34px;
    padding-left: 15px;
    background-color: #eff7fb;
  }
  td {
    padding-left: 15px;
    line-height: 35px;
    border-bottom: solid 1px #e8e8e8;
    a {
      cursor: pointer;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
