<table class="table-condensed rb-fieldset-table">
  <thead>
    <tr>
      <td style="width: 20em;">{{ 'address' | translate }}</td>
      <td style="width: 15em;">{{ 'username' | translate }}</td>
      <td style="width: 15em;">{{ 'password' | translate }}</td>
      <td style="width: 10em;">
        {{ 'image_sync_destination_address_mode' | translate }}
      </td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in vm.model track by row._id">
      <td>
        <div class="ui fluid input">
          <input type="text"
                 required
                 ng-model="row.endpoint"
                 rb-errors-tooltip>
        </div>
      </td>
      <td>
        <div class="ui fluid input">
          <input type="text"
                 required
                 ng-model="row.username"
                 rb-errors-tooltip>
        </div>
      </td>
      <td>
        <div class="ui fluid input">
          <input type="password"
                 required
                 ng-model="row.password"
                 rb-errors-tooltip>
        </div>
      </td>
      <td>
        <rb-dropdown options="vm.addressModes"
                     init="row.is_http ? 'http' : 'https'"
                     on-change="row.is_http = option.value === 'http'">
        </rb-dropdown>
      </td>
      <td>
        <button class="rb-fieldset-action-btn"
                ng-click="vm.deleteRow($index)">
          <i class="fa fa-remove"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <button ng-click="vm.addRow()"
                class="rb-fieldset-add-btn">
          <i class="fa fa-plus"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
