rb-custom-instance-size-fieldset {
  flex: 1;
  .custom-instance-size-inputs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    label {
      font-weight: normal;
      line-height: 32px;
    }
  }
}
