<div class="custom-instance-size-inputs">
  <label>CPU</label>
  <div class="ui fluid input labeled">
    <input
      type="number"
      min="{{vm.min.cpu}}"
      name="custom_instance_size_cpu"
      ng-model="vm.customSize.cpu"
      rb-errors-tooltip
      required
      ng-change="vm.onCustomSizeChange()"
    />
    <div class="ui label text-bold">{{ 'unit_cpu' | translate }}</div>
  </div>
  <label>{{ 'memory' | translate }}</label>
  <div class="ui fluid input labeled">
    <input
      type="number"
      min="{{vm.min.memory}}"
      name="custom_instance_size_memory"
      ng-model="vm.memDisplay"
      rb-errors-tooltip
      rb-errors-tooltip-mapper="{
            'required': ('name_required' | translate),
            'pattern': (vm.resourceNameInt.tip | translate)
          }"
      ng-pattern="vm.resourceNameInt.pattern"
      required
      ng-change="vm.onCustomSizeChange()"
    />
    <rb-dropdown
      size="xxxxs"
      options="vm.unitsOptions"
      key="key" value="value"
      init="vm.baseUnit"
      on-change="vm.onFilterByChange(option)"></rb-dropdown>
  </div>
</div>
