@import 'colors.styles';

:host {
  .detail-card-hyperlink {
    padding-left: 15px;
    line-height: 32px;
  }

  .service-class-header {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $default-border-color;
    padding-bottom: 10px;
    margin-bottom: 20px;

    &__title {
      font-weight: 500;
      font-size: 18px;
    }
  }

  .rc-detail-tab {
    min-height: 100px;
    overflow: visible;
    padding: 16px;
    margin-top: 30px;
  }

  .detail-left-panel {
    .service-plan-card {
      position: relative;
      margin: 5px;
      border: solid 1px $gray-7;
      width: 95%;
      border-radius: 3px;
      cursor: pointer;
    }
    .service-plan-card:hover {
      color: $blue-5;
      border: solid 1px $blue-5;
    }
    .plan-name {
      padding: 5px 20px;
      font-size: 18px;
    }
    .plan-cost {
      padding: 0 20px 7px;
    }

    .service-plan-card-selected {
      position: relative;
      margin: 5px;
      width: 95%;
      border-radius: 3px;
      cursor: pointer;
      color: $blue-5;
      border: solid 1px $blue-5;
    }
  }

  .detail-right-panel {
    border-left: 1px solid $default-border-color;
  }

  .service-plan-detail {
    padding-left: 20px;
  }

  ::ng-deep .rc-form-panel {
    border: none !important;
    padding: 0 !important;
  }

  ::ng-deep .rc-form-footer {
    padding-top: 0px !important;
  }

  ::ng-deep label.form-field-label {
    min-width: 200px !important;
    word-wrap: break-word;
    word-break: break-word;
  }

  .detail-item.long-item {
    display: -webkit-box;
    height: auto !important;
    width: 100%;
    .long-content {
      white-space: normal;
      width: 90%;
    }
  }

  .tag-span {
    border-radius: 3px;
    background-color: $blue-2;
    padding: 0px 6px 1px;
    margin-right: 5px;
    font-size: 12px;
  }

  .rb-form {
    ::ng-deep rc-single-selection-dropdown {
      flex: 1;
    }
    ::ng-deep > *:last-child {
      .form-main-container.should-flex-row {
        .hint-label-wrapper {
          border-bottom: 1px solid $default-border-color;
        }
      }
    }
  }

  .official-container {
    position: absolute;
    right: 25px;
    bottom: 25px;
    .official {
      display: block;
      position: absolute;
      border-style: solid;
      border-width: 25px 25px 0 0;
      border-color: transparent $button-primary-border-color transparent
        transparent;
    }
    span {
      user-select: none;
      white-space: nowrap;
      color: $button-primary-text-color;
      line-height: 28px;
      text-indent: 4px;
      font-size: 12px;
      position: absolute;
      top: 5px;
      left: 3px;
    }
  }

  .detail-icon {
    width: 92px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 92px;
      height: auto;
      border-radius: 0px;
    }
  }

  .doc-and-technical-support {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
  }

  .detail-icon {
    span {
      position: absolute;
      top: 57px;
      left: 65px;
      font-size: 20px;
      z-index: 1;
    }
  }
}
