<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
  <div *ngIf="!loadError">
    {{ "have_no_data" | translate }}
  </div>
  <div *ngIf="loadError">
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError"
          rcButton="primary"
          style="margin-top: 12px;"
          (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>

<div class="rc-detail-container" *ngIf="classData"
      style="margin-bottom: 0">
  <div>
    <div class="detail-icon">
      <span *ngIf="!brokerStatus"
            class="fa fa-exclamation-circle service-catalog-warning-exclamation-circle"
            [rcTooltip]="'service_catalog_broker_breakdown' | translate"
            [rcTooltipInline]="false"
            rcTooltipMode="warning"
            rcTooltipPosition="top">
      </span>
      <img [src]="classData.kubernetes.spec.externalMetadata?.imageUrl"
            [ngClass]="{'service-catalog-error-image':!brokerStatus}"
            onerror="javascript:this.src='/static/images/service-catalog/service-class.svg';">
    </div>
    <div class="detail-wrapper">
      <div class="detail-header">
        <h3>{{ classData?.kubernetes.spec.externalName }}</h3>
        <div class="doc-and-technical-support">
          <a *ngIf="classData.kubernetes.spec.externalMetadata &&
                    classData.kubernetes.spec.externalMetadata.documentationUrl;
                    else elseDocumentationUrl"
              class="detail-card-hyperlink"
              [href]="classData.kubernetes.spec.externalMetadata.documentationUrl"
              target="_blank">
              {{ 'docs' | translate}}
          </a>
          <ng-template #elseDocumentationUrl>
            <a class="detail-card-hyperlink">{{ 'docs' | translate}}</a>
          </ng-template>
          <a *ngIf="classData.kubernetes.spec.externalMetadata &&
                    classData.kubernetes.spec.externalMetadata.supportUrl;
                    else elseSupportUrl"
              class="detail-card-hyperlink"
              [href]="classData.kubernetes.spec.externalMetadata?.supportUrl"
              target="_blank">
              {{ 'technical_support' | translate}}
          </a>
          <ng-template #elseSupportUrl>
            <a class="detail-card-hyperlink">{{ 'technical_support' | translate}}</a>
          </ng-template>
        </div>
      </div>
      <div class="detail-content">
        <!--Broker-->
        <div class="detail-item">
          <label>Broker</label>
          <div>{{ classData?.kubernetes.spec.clusterServiceBrokerName }}</div>
        </div>
        <!--创建时间-->
        <div class="detail-item">
          <label>{{ 'created_at' | translate }}</label>
          <div>{{ classData?.kubernetes.metadata.creationTimestamp | rcFormatUtcStr}}</div>
        </div>
        <!--服务标签-->
        <div class="detail-item long-item">
          <label>{{ 'service_catalog_service_tags' | translate }}</label>
          <div class="long-content">
            <span *ngFor="let tag of classData?.kubernetes.spec.tags" class="tag-span">{{tag}}</span>
          </div>
        </div>
        <!-- 描述 -->
        <div class="detail-item  long-item">
          <label>{{ 'description' | translate }}</label>
          <div class="long-content">{{ classData?.kubernetes.spec.description }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isCreateInstance && selectedPlan" class="rc-detail-tab">
  <div class="service-class-header">
    <div class="service-class-header__title">Service Plan</div>
  </div>
  <div rcRow [rcRowGutter]="24" class="service-plan-container">
    <div rcCol [rcColSpan]="6" class="detail-left-panel">
      <div>
        <div *ngFor="let plan of classData.clusterserviceplans;index as i"
             (click)="selectPlan(i)"
             [ngClass]="{'service-plan-card-selected':plan.spec.externalID===selectedPlan.spec.externalID,
                         'service-plan-card':plan.spec.externalID!==selectedPlan.spec.externalID}">
          <div *ngIf="plan.spec.externalID===selectedPlan.spec.externalID" class="official-container" >
            <i class="official"></i>
            <span><i class="fa fa-check"></i></span>
          </div>
          <div class="plan-name">
            {{plan.spec.externalName}}
          </div>
          <div *ngIf="plan.spec.free;else elseFreeBlock" class="plan-cost">
            {{ 'service_catalog_free' | translate }}
          </div>
          <ng-template #elseFreeBlock>
            <div class="plan-cost">
              {{ 'service_catalog_rechargeable' | translate }}
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div rcCol [rcColSpan]="18" class="detail-right-panel">
      <div>
        <h4>{{ selectedPlan?.spec.externalName }}</h4>
        <ul class="service-plan-detail">
          <li *ngFor="let plan of selectedPlan?.spec.externalMetadata?.bullets">
            {{plan}}
          </li>
        </ul>
        <button rcButton="primary"
                (click)="confirmServicePlan()"
                [disabled]="permission.indexOf('serviceinstance:create')===-1">
          {{ "service_catalog_select_currently_service_plan" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isCreateInstance && selectedPlan" class="rc-detail-tab">
  <div class="service-class-header">
    <div class="service-class-header__title">{{ selectedPlan?.spec.externalName }}</div>
  </div>
  <div rcRow [rcRowGutter]="24" class="service-plan-container">
    <div rcCol [rcColSpan]="6" class="detail-left-panel">
      <h4>{{ 'detail' | translate }}</h4>
      <ul class="service-plan-detail">
        <li *ngFor="let plan of selectedPlan?.spec.externalMetadata?.bullets">
          {{plan}}
        </li>
      </ul>
    </div>
    <div rcCol [rcColSpan]="18" class="detail-right-panel">
      <h4>{{ 'service_catalog_create_service_instance' | translate }}</h4>
      <rc-form-container [rcLoadingMask]="showLoadingMask$ | async">
        <div>
          <form class="rb-form" #serviceInstanceForm="ngForm">
            <!-- 命名空间 -->
            <rc-form-field label="{{'region_namespace' | translate}}" [shouldFlexRow]="true">
              <rc-single-selection-dropdown
                #singleDropdown
                required
                name="namespace"
                [options]="namespaceOptions"
                (change)="onNamespaceOptionChange($event)"
                [(ngModel)]="serviceInstancePayload.metadata.namespace.name"
                displayField="name"
                valueField="name">
              </rc-single-selection-dropdown>
            </rc-form-field>
            <!-- instance名称 -->
            <rc-form-field label="{{'service_catalog_instance_name' | translate}}" [shouldFlexRow]="true">
              <input rcInput
                      name="instance_name"
                      maxlength="63"
                      pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
                      [(ngModel)]="serviceInstancePayload.metadata.name"
                      required>
            </rc-form-field>
            <!-- instance 参数 -->
            <rc-form-field *ngFor="let param of instanceCreateParameters" [label]="param[0]" [shouldFlexRow]="true" class="binding-app">
              <input rcInput
                [name]="param[0]"
                [type]="handleType(param[1].type)"
                [required]="instanceParamRequired(param[0])"
                [(ngModel)]="serviceInstancePayload.spec.parameters[param[0]]"
                (ngModelChange)="handleType(param[1].type) === 'number' &&
                                 serviceInstancePayload.spec.parameters[param[0]]=parseInt($event);"
              >
              <span class="fa fa-question-circle description-question-circle"
                *ngIf="param[1].description"
                rcFormAddon
                [rcTooltip]="param[1].description"
                [rcTooltipInline]="false"
                rcTooltipMode="info"
                rcTooltipPosition="top center">
              </span>
            </rc-form-field>
            <!-- 绑定应用程序 -->
            <rc-form-field label="{{'service_catalog_binding_application' | translate}}" [shouldFlexRow]="true" class="binding-app">
                <rc-single-selection-dropdown
                  #singleDropdown
                  [rcLoadingMask]="bingdingAppLoading"
                  name="bingdingApp"
                  [options]="bingdingAppOptions"
                  [placeholder]="'service_catalog_not_bind_app' | translate"
                  (change)="onBindingAppOptionChange($event)"
                  displayField="name"
                  valueField="uuid">
                </rc-single-selection-dropdown>
            </rc-form-field>
            <!-- bind参数 -->
            <ng-container *ngIf="binding_app_uuid!==''">
              <rc-form-field *ngFor="let param of instanceBindingParameters" [label]="param[0]" [shouldFlexRow]="true" class="binding-app">
                  <input rcInput
                    [name]="param[0]"
                    [type]="handleType(param[1].type)"
                    [required]="bindingParamRequired(param[0])"
                    [(ngModel)]="bindingPayload.spec.parameters[param[0]]"
                    (ngModelChange)="handleType(param[1].type) === 'number' &&
                                     bindingPayload.spec.parameters[param[0]]=parseInt($event);"
                  >
                  <span class="fa fa-question-circle description-question-circle"
                    *ngIf="param[1].description"
                    rcFormAddon
                    [rcTooltip]="param[1].description"
                    [rcTooltipInline]="false"
                    rcTooltipMode="info"
                    rcTooltipPosition="top center">
                  </span>
              </rc-form-field>
            </ng-container>
          </form>
        </div>

        <ng-container *rcFooterContent>
          <div *ngIf="!(showLoadingMask$ | async)">
            <button fxFlexOffset="200px"
                    rcButton="primary"
                    (click)="createInstance()"
                    [loading]="submitting">
                    {{'service_catalog_create_service_instance' | translate}}
            </button>
            <button fxFlexOffset="12px" rcButton (click)="cancelCreateInstance()">{{'cancel' | translate}}</button>
          </div>
        </ng-container>
      </rc-form-container>
    </div>
  </div>
</div>

