<div class="create-node-wrapper"
     [rcLoadingMask]="loading">
  <!-- Mode selection -->
  <ng-container *ngIf="step === 0">
    <form #form="ngForm">
      <rc-form-field *ngIf="cluster.container_manager !== 'LEGACY'"
                     [label]="'region_node_type' | translate">
        <rc-radio-group [options]="nodeTypeOptions"
                        name="node_type"
                        [(ngModel)]="nodeType"
                        (ngModelChange)="onNodeTypeChanged($event)"
                        displayField="displayName"
                        valueField="type"></rc-radio-group>
      </rc-form-field>

      <rc-form-field *ngIf="canAddTag()"
                     [label]="'region_node_add_attribute' | translate">
        <rc-checkbox mode="toggle"
                     name="add_node_attribute"
                     [disabled]="nodeType !== 'slave'"
                     [(ngModel)]="addNodeAttribute">
        </rc-checkbox>
      </rc-form-field>

      <rc-form-field [label]="'region_node_create_method' | translate">
        <rc-radio-group [options]="createMethodOptions"
                        name="create_method"
                        [(ngModel)]="createMethod"
                        displayField="displayName"
                        valueField="type"></rc-radio-group>
      </rc-form-field>
    </form>
  </ng-container>

  <!-- Node create forms -->
  <ng-container *ngIf="step === 1">
    <div class="rb-loading-mask-placeholder"
         *ngIf="createOptionsLoadError">
      {{ 'region_create_options_load_error' | translate }}
    </div>
    <!-- Manual -->
    <div *ngIf="createMethod === 'manual' && nodeInstallScripts">
      <div>
        {{ 'manual_create_host_desc' | translate }}
      </div>
      <div class="block-script">{{ nodeInstallScripts }}</div>
    </div>
    <!-- Auto -->
    <div *ngIf="createMethod === 'auto' && autoCreateOptionsReady">
      <form name="nodeCreateForm">
        <rc-form-field *ngIf="instanceTypes.length > 0"
                       [label]="'vm_size' | translate"
                       [shouldFlexRow]="true">
          <rc-single-selection-dropdown [options]="instanceTypes"
                                        name="instance_type"
                                        [(ngModel)]="instanceType"
                                        displayField="key"
                                        valueField="value">
          </rc-single-selection-dropdown>
        </rc-form-field>

        <rc-form-field [label]="'vm_num' | translate">
          <input rcInput
                 rcErrorsTooltip
                 required
                 type="number"
                 name="count"
                 [(ngModel)]="count"
                 min="1"
                 max="10000">
        </rc-form-field>

        <rc-form-field *ngIf="sshKeyPairs.length > 0"
                       label="SSH KEY"
                       [shouldFlexRow]="true">
          <rc-single-selection-dropdown [options]="sshKeyPairs"
                                        name="ssh_key_name"
                                        [(ngModel)]="sshKeyName">
          </rc-single-selection-dropdown>
        </rc-form-field>
      </form>
    </div>
  </ng-container>
</div>

<div class="modal-footer">
  <button rcButton
          (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
  <button *ngIf="step === 1 && !onlyStep1"
          rcButton
          (click)="step = 0">
    {{ 'prev_step' | translate }}
  </button>
  <button *ngIf="step === 0"
          rcButton="primary"
          (click)="toNextStep()">
    {{ 'next_step' | translate }}
  </button>
  <button *ngIf="step === 1 && createMethod ==='manual'"
          [disabled]="createOptionsLoadError || loading"
          rcButton="primary"
          class="copy-script-button"
          [auiTooltipCopy]="nodeInstallScripts"
          (click)="cancel()">
    {{ 'copy' | translate }}
  </button>
  <button *ngIf="step === 1 && createMethod ==='auto'"
          [disabled]="createOptionsLoadError || loading"
          rcButton="primary"
          (click)="create()">
    {{ 'create' | translate }}
  </button>
</div>
