.create-node-wrapper {
  padding: 15px;
  min-height: 80px;
}

.fa-question-circle {
  margin-left: 10px;
  cursor: pointer;
}

.block-script {
  background-color: #f8f8f8;
  border: 1px solid #f1f1f1;
  margin-top: 10px;
  line-height: 2;
  word-break: break-all;
  white-space: normal;
  padding: 5px;
  border-radius: 3px;
}
