<rc-form-container>
  <form #queryUpdateForm="ngForm" (ngSubmit)="submit()">
    <!--资源空间-->
    <div class="rc-form-field">
      <label class="rc-form-field-label">
        {{'quota_space' | translate}}
        <span *ngIf="isItemInactive" class="rc-required-mark">*</span>
      </label>
      <div class="rc-form-field-container">
        <div *ngIf="!isItemInactive">{{activeItem.space_name}}</div>
        <div *ngIf="isItemInactive && spaces && !spaces.length" style="color: #fc5d68;">
          {{'quota_space_required' | translate}}
        </div>
        <rc-single-selection-dropdown
          [hidden]="!isItemInactive"
          [rcLoadingMask]="submitting || loading"
          displayField="name"
          valueField="name"
          [options]="spaces"
          (change)="onSpaceChanged($event)"
          required>
        </rc-single-selection-dropdown>
      </div>
    </div>
    <!--名称-->
    <div class="rc-form-field">
      <label class="rc-form-field-label">
        {{'name' | translate}}
        <span *ngIf="isItemInactive" class="rc-required-mark">*</span>
      </label>
      <div class="rc-form-field-container">
        <div *ngIf="!isItemInactive">{{activeItem.name}}</div>
        <div *ngIf="isItemInactive">
          <input rcInput
            [hidden]="!isItemInactive"
            type="text"
            name="name"
            [rcErrorsTooltip]
            [rcErrorsTooltipMapper]="{
              'required': ('name_required' | translate),
              'pattern': (resourceNameBaseRegExp.tip | translate),
              'nameError': (serviceNameErrorCode | translate)
            }"
            [(ngModel)]="model.name"
            pattern="^[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?$"
            minlength="4"
            maxlength="32"
            style="flex: 1 1 100%;"
            required>
        </div>
      </div>
    </div>
    <!--显示名称-->
    <rc-form-field label="{{'display_name' | translate}}"
      [shouldFlexRow]="true"
      [hideErrors]="true">
      <input rcInput
        type="text"
        name="display_name"
        [(ngModel)]="model.display_name"
        rcErrorsTooltip
        maxlength="64">
    </rc-form-field>
    <!--同时创建告警-->
    <div class="rc-form-field">
      <label class="rc-form-field-label">
        <div [ngStyle]="{'opacity': disableAlarmCreate ? 0.5 : 1 }">
          {{'create_log_alarm_immediately' | translate}}
        </div>
      </label>
      <div class="rc-form-field-container">
        <div class="ui toggle checkbox" style="vertical-align: middle;">
          <input
            [disabled]="disableAlarmCreate"
            type="checkbox"
            name="create_alarm"
            [(ngModel)]="create_alarm">
          <label></label>
        </div>
      </div>
    </div>
  </form>

  <ng-container *rcFooterContent>
      <button
        rcButton="default"
        type="button"
        (click)="cancel()"
      >
        {{ 'cancel' | translate }}
      </button>
      <button
        rcButton="primary"
        type="submit"
        [class.loading]="submitting"
        [disabled]="!queryUpdateForm.valid || submitting"
        (click)="queryUpdateForm.onSubmit()"
      >
        {{ 'confirm' | translate }}
      </button>
    </ng-container>
</rc-form-container>
