<div class="plain-container">
  <ng-container *ngTemplateOutlet="labels"></ng-container>
</div>
<div class="spacer"></div>
<div *ngIf="tagList?.length >= showAllCap"
     class="full-content-toggle"
     [auiTooltip]="labels"
     auiTooltipType="info">
  <div class="full-content-toggle__label">...</div>
</div>

<ng-template #labels>
  <div class="plain-container-tooltip">
    <div class="plain-container__label"
         *ngFor="let tag of tagList"
         [attr.title]="renderTag(tag)">
      {{ renderTag(tag) }}
    </div>
  </div>
</ng-template>
