$border: 1px solid #eee;
$border-radius: 10px;
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin labelContainer {
  border: $border;
  border-radius: $border-radius;
  font-size: 12px;
  background: #f2f2f2;
  color: #666666;
  display: inline-block;
  padding: 2px 8px;
}

:host {
  display: inline-flex;
}

.plain-container {
  @include text-overflow();
  display: inline-block;
  border-radius: $border-radius;
  margin-right: 4px;

  &__label {
    @include labelContainer();
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.plain-container-tooltip {
  margin-bottom: -4px;

  .plain-container__label {
    margin-bottom: 4px;
  }
}

.full-content-toggle {
  cursor: pointer;
  flex-shrink: 0;
  flex-basis: 20px;
  &__label {
    @include labelContainer();

    &:hover {
      color: #009ce3;
      background: #e5f5fc;
      border-color: #009ce3;
    }
  }
}
