<div class="rb-popover-label-list-wrap" rb-loading-mask="vm.popoverConfig.loading">
  <div ng-if="!vm.popoverConfig.loading && !vm.popoverConfig.list.length">
    <span>{{vm.popoverConfig.noDataText}}</span>
  </div>
  <div ng-if="vm.popoverConfig.list.length > 0" class="rb-popover-label-list">
    <div class="rb-popover-label-item" ng-repeat="item in vm.popoverConfig.list">
      <a ng-if="vm.shouldShowRoleLink(item)" href="#" ng-click="vm.viewAccountRoleDetail(item, $event)">{{vm.getAccountRoleNameDisplay(item)}}</a>
      <span ng-if="!vm.shouldShowRoleLink(item)">{{vm.getAccountRoleNameDisplay(item)}}</span>
      <span ng-if="vm.checkRoleResourceAction(item, 'revoke')"
            class="rb-popover-close fa fa-close"
            ng-click="vm.revokeRole(item.role_name)"></span>
    </div>
  </div>
</div>