<div class="rb-form-row input">
  <div class="rb-label" flex="25">
    {{vm.label | translate | rbTitleCase}}
  </div>
  <div flex="65" class="rb-form-row-input-wrap">
    <rb-service-fieldset-config-files 
    on-change="vm.onChange(config)"
    config-files="vm.mount_points"
    disable-raw="true"></rb-service-fieldset-config-files>
  </div>
</div>