@import 'colors.styles';
rb-pagination {
  margin: 16px 0;
  display: flex;
  justify-content: flex-end;
  .pagination {
    margin: 0;
    > li > a,
    > li > span {
      box-shadow: none;
      transition: background-color 0.3s;
    }
    > .active > a,
    > .active > a:hover {
      background-color: $button-primary-border-color;
      border-color: #149edd;
    }
    > li:last-child > a,
    > li:first-child > a {
      border-radius: 0;
    }
  }
  .pagination-input {
    margin-left: 8px;
    .ui.input {
      input {
        width: 5em;
        min-width: 5em;
        height: 30px;
      }
    }
  }
}
