<ul uib-pagination
    ng-model="vm.currentPage"
    total-items="vm.totalItems"
    items-per-page="vm._size"
    class="pagination-sm"
    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
    boundary-links="true"
    max-size="5"
    ng-disabled="vm.disabled"
    ng-change="vm.onPageChange()"></ul>

<div class="pagination-input">
  <span>{{'jump_to' | translate}}</span>
  <div class="ui input">
    <input type="number" min="1" max="{{vm.maxPage}}" ng-model="vm.pageInput" placeholder="{{vm.pagePlaceholder}}">
  </div>
  <span>{{'page' | translate}}</span>
</div>