<div *ngFor="let testResult of testResults; trackBy: $index; ">
  <div class="stage" *ngIf="testResult.results?.length">
    <div class="stage-header">
      {{ getDisplayStatusName(testResult.status) }} - {{testResult.results?.length}}
    </div>
    <div
      class="step"
      *ngFor="let result of testResult.results; trackBy: $index"
      [class.paused]="['SKIPPED'].includes(result.status)"
      [class.success]="['FIXED','PASSED'].includes(result.status)"
      [class.failure]="['FAILED','REGRESSION'].includes(result.status)"
      [class.active]="result.active"
    >
      <div class="step-content">
        <div class="step-header" (click)="onSelectedTestResultChange(result)">
          <span>
            <i
              class="fa"
              [class.fa-angle-right]="!result.active"
              [class.fa-angle-down]="result.active"
            ></i>{{ result.name }}
          </span>
          <span>{{(result.duration * 1000) | rcDurationToConsumed}}</span>
        </div>
        <div class="step-logs" [@slide]="result.active ? 'active' : ''">
          <ul>
            <li class="step-logs-title"
                *ngIf="result.errorDetails">{{ result.errorDetails }}</li>
            <ng-container *ngIf="result.errorStackTrace">
              <li *ngFor="let line of (result.errorStackTrace || '').split('\n'); trackBy: $index">
                <span>{{ line }}</span>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!testResults?.length"
     class="zero-state">{{ 'no_data' | translate}}</div>
