<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<ng-container *ngIf="initialized">
  <aui-tab-group [selectedIndex]="tabIndex$ | async"
                (selectedIndexChange)="handleFamilySelected($event)">
    <aui-tab *ngFor="let family of families"
            label="{{ ('integration_family_name_'+family) | translate }}"></aui-tab>
  </aui-tab-group>
  <rc-integration-center-list-cards [integrations]="selectedFamily.integrations"
                                    [familyName]="selectedFamily.name"
                                    [couldCreate]="createPermission"
                                    [catalog]="catalog">
  </rc-integration-center-list-cards>
</ng-container>
