@import '../../layout.common';

$title-opacity: 0.5;
$title-font-size: 10px;
$title-margin: 4px 0;

:host {
  display: block;
  width: 100%;
}

.nav-category-title {
  opacity: $title-opacity;
  color: $nav-title-color;
  font-size: $title-font-size;
  margin: $title-margin;

  &.no-name::after {
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background: $nav-list-divider-color;
  }
}

rc-nav-list-item {
  margin: $title-margin;
}
