<div class="nav-category-title" [class.no-name]="!navCategory.displayName">
  {{ navCategory.displayName | translate }}
</div>

<ng-container *ngFor="let navItem of navCategory.children; trackBy: trackByIndex">
  <rc-nav-list-item
    [navItem]="navItem"
    (hide)="onItemHide($event, navItem)">
  </rc-nav-list-item>
</ng-container>
