<rc-card
  [fitParent]="true"
  [footnote]="time | rcFormatUtcStr">
  <a rcCardHeader [routerLink]="['/cluster/detail', regionName]">{{ 'chart_title_node_count' | translate }}</a>
  <rc-chart-container
    [loading]="!initialized"
    [noData]="initialized && !data"
    [noRegion]="!(regionService.region$ | async)">
    <div
      *ngIf="data"
      class="rc-region-info-chart"
      [class.rc-region-info-chart--color-ok]="data?.okCount===data?.totalCount"
      [class.rc-region-info-chart--color-error]="data?.okCount<data?.totalCount">
      <div class="rc-region-info-chart__container">
        <div class="rc-region-info-chart__value">{{ data?.okCount }}/{{ data?.totalCount }}</div>
      </div>
    </div>
  </rc-chart-container>
</rc-card>
