<div class="rb-form-panel">
  <div class="rb-form-container">
    <ng-form name="vm.form" class="rb-form">
      <!-- dashboard name -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_dashboard_name' | translate}}<span ng-show="!vm.item"
                                                               class="rb-required-mark">*</span></label>
          <input ng-if="!vm.item" class="rb-input"
                 type="text"
                 name="name"
                 ng-model="vm.model.name"
                 minlength="4"
                 maxlength="64"
                 ng-pattern='/^[A-Za-z0-9-_]*$/'
                 rb-errors-tooltip
                 placeholder="{{'monitor_dashboard_name_placeholder' | translate}}"
                 required>
          <label class="rb-input-text" ng-if="vm.item">{{vm.item.dashboard_name}}</label>
          <div class="rb-input-field-addon"></div>
        </div>
        <div ng-if="!vm.item" class="rb-input-hint-container">
        </div>
      </div>
      <!-- quota_space -->
      <div class="rb-input-container" ng-if="!vm.item && vm.quotaEnabled">
        <div class="rb-input-field-container">
          <label>{{'quota_space' | translate}}</label>
          <div ng-if="!vm.spaces.length" class="rb-info-tip">
            {{'quota_space_required' | translate}}
          </div>
          <rb-dropdown ng-if="vm.spaces.length"
                       options="vm.spaces"
                       value="name"
                       key="name"
                       filter-threshold="5"
                       on-change="vm.onSpaceChanged(option)"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- display name -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'display_name' | translate}}<span class="rb-required-mark">*</span></label>
          <input class="rb-input"
                 type="text"
                 name="display_name"
                 ng-model="vm.model.display_name"
                 rb-errors-tooltip
                 minlength="4"
                 maxlength="64"
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
    </ng-form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button"
              class="ui button rb-btn-default"
              ng-disabled="vm.submitting"
              ng-click="vm.cancel()">{{'cancel' | translate}}
      </button>
      <button type="button"
              class="ui button rb-btn-primary"
              ng-disabled="vm.submitting"
              ng-class="{ loading: vm.submitting }"
              ng-click="vm.confirm()">{{vm.item ? 'save' : 'create' | translate}}
      </button>
    </div>
  </div>
</div>







