@import 'colors.styles';

.rc-cert-create-container {
  .form-panel {
    background-color: #fff;
    margin: 10px 0;
    padding: 20px 40px;

    rc-single-selection-dropdown,
    rc-code-editor {
      width: 100%;
    }
  }

  .opt-buttons {
    padding-left: 140px;
    margin-bottom: 20px;

    button:last-child {
      margin-left: 8px;
    }
  }
}
