@import 'colors.styles';

.rc-list-container {
  margin-bottom: 35px;
}

.rc-list-header {
  margin: 0 0 12px;
}

.rc-list-pagination {
  display: flex;
  margin-top: 12px;
  justify-content: flex-end;
}

.serach-button {
  margin-right: 8px;
}
