<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a href="javascript:void(0)"
         [routerLink]="['/certificate']">{{ 'nav_certificate'| translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'network_certificate_create'| translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<rc-inline-notification type="info"
                        closable='true'
                        content="{{ 'certificate_create_tips' | translate }}">
</rc-inline-notification>

<div class="rc-cert-create-container">
  <div class="form-panel">
    <form class="rb-from load-balancer-create"
          #createForm="ngForm"
          (ngSubmit)="submit()">
      <rc-form-field label="{{ 'network_certificate_name'| translate }}">
        <input rcInput
               name="name"
               [(ngModel)]="model.name"
               placeholder="{{'certificate_name_hint' | translate}}"
               required>
      </rc-form-field>
      <rc-form-field label="{{ 'space'| translate }}"
                     [shouldFlexRow]="true">
        <rc-single-selection-dropdown name="space"
                                      [options]="spaces"
                                      displayField="name"
                                      valueField="name"
                                      [(ngModel)]="model.space_name"
                                      required>
        </rc-single-selection-dropdown>
      </rc-form-field>
      <rc-form-field label="{{ 'network_certificate_desc' | translate }}">
        <input rcInput
               name="description"
               [(ngModel)]="model.description"
               [maxLength]="128"
               placeholder="{{ 'certificate_max_des_num' | translate}}"
               required>
      </rc-form-field>
      <rc-form-field label="{{ 'network_certificate_private' | translate }}"
                     [shouldFlexRow]="true">
        <textarea rcInput
                  name="private_key"
                  style="min-height: 300px;"
                  [(ngModel)]="model.private_key"
                  required>
        </textarea>
        <span class="fa fa-question-circle description-question-circle"
              rcFormAddon
              [rcTooltip]="'certificate_create_private_key_tips' | translate"
              [rcTooltipInline]="false"
              rcTooltipMode="info">
        </span>
      </rc-form-field>
      <rc-form-field label="{{ 'network_certificate_public' | translate }}"
                     [shouldFlexRow]="true">
        <textarea rcInput
                  style="min-height: 300px;"
                  name="public_cert"
                  [(ngModel)]="model.public_cert"
                  required>
        </textarea>
        <span class="fa fa-question-circle description-question-circle"
              rcFormAddon
              [rcTooltip]="'certificate_create_private_key_tips' | translate"
              [rcTooltipInline]="false"
              rcTooltipMode="info">
        </span>
      </rc-form-field>
    </form>
    <div class="opt-buttons">
      <button rcButton="primary"
              [class.loading]="submitting"
              [disabled]="!form.valid || this.submitting"
              (click)="form.onSubmit()">
        {{ 'create' | translate }}
      </button>
      <button rcButton
              (click)="back()">
        {{ 'cancel' | translate }}
      </button>
    </div>
  </div>
</div>
