<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a href="javascript:void(0)"
         [routerLink]="['/certificate']">{{ 'nav_certificate'| translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'certificate'| translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<rc-inline-notification type="info"
                        closable='true'
                        content="{{ 'certificate_list_tips' | translate }}">
</rc-inline-notification>

<div fxLayout="row"
     class="rc-list-header">
  <div>
    <button rcButton="primary"
            routerLink="/certificate/create">
      {{ "network_certificate_create" | translate }}
    </button>
  </div>
  <span fxFlex></span>
  <rc-search-input [placeholder]="'search_by_name_placeholder' | translate"
                   class="serach-button"
                   [loading]="loading"
                   (onSearch)="paginationWapper.setParams({search: $event})">
  </rc-search-input>
  <button rcIconButton
          [disabled]="loading"
          (click)="paginationWapper.refetch()">
    <i class="fa fa-refresh"
       (click)="paginationWapper.refetch()"></i>
  </button>
</div>

<div class="rc-list-container">
  <rc-table class="rc-primary-table"
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowHeight]="82"
            [rows]="(result$|async)?.results">
    <rc-table-col [width]="150"
                  name="{{ 'name'| translate }}"
                  [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/certificate.svg">
          <div class="rc-lines">
            <div class="rc-line">
              {{ rowData.name }}
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col [width]="150" name="{{ 'quota_space'| translate }}"
                  [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <a [routerLink]="['/quota/detail', rowData.space_name]">{{rowData.space_name}}</a>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col [width]="150" name="{{ 'status'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <rc-status-badge [status]="rowData.is_used ? 'used': 'free'"></rc-status-badge>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col [width]="150" name="{{ 'created_by'| translate }}"
                  [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let rowData = row"
           rcTooltipPosition="top left">
        {{ rowData.created_by }}
      </div>
    </rc-table-col>
    <rc-table-col [width]="150" name="{{ 'created_at'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          {{ rowData.created_at | rcFormatUtcStr }}
        </div>
      </div>
    </rc-table-col>
    <rc-table-col [width]="150" name="{{ 'description'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          {{ rowData.description }}
        </div>
      </div>
    </rc-table-col>
    <!-- action -->
    <rc-table-col [width]="100"
                  name="{{ 'action'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <button rcButton
                (click)="delete(rowData)">
          {{ 'delete' | translate }}
        </button>
      </div>
    </rc-table-col>
  </rc-table>

  <section class="rc-list-pagination">
    <rc-pagination2 [count]="(result$|async)?.count"
                    [pageSize]="(result$|async)?.pageSize"
                    [page]="paginationWapper.pageNo"
                    [disabled]="loading"
                    (pageChanged)="paginationWapper.setPageNo($event)">
    </rc-pagination2>
  </section>
</div>
