<div class="rb-page-heading">
  <h1>
    <i class="fa fa-columns"></i>
    <span title="{{vm.envfileName}}">{{vm.envfileDisplayName}}</span>
  </h1>
  <div flex></div>
  <div ng-if="vm.initialized"
       class="rb-heading-button-group">
    <button class="ui button rb-btn-default"
            ng-if="vm.buttonDisplayExpr('update')"
            ng-click="vm.envfileUpdate()">{{"update" | translate}}
    </button>
    <rb-dropdown-menu rb-title="{{'action' | translate}}">
      <rb-dropdown-menu-item ng-if="vm.envFileCreateEnabled"
                             ng-click="vm.saveAs()">
        {{'copy_as' | translate}}
      </rb-dropdown-menu-item>

      <rb-dropdown-menu-item ng-if="vm.buttonDisplayExpr('delete')"
                             ng-click="vm.envfileDelete()">
        {{'delete' | translate}}
      </rb-dropdown-menu-item>
    </rb-dropdown-menu>
  </div>
</div>

<div class="rb-detail-container"
     rb-loading-mask="!vm.initialized || vm.submitting"
     ng-class="{'rb-collapse': vm.isBasicInfoCollapse}">
  <div class="rb-detail-content-header"
       ng-click="vm.basicInfoCollapse()">
    <span>{{'basic_info' | translate}}</span>
    <span class="fa fa-caret-down"
          ng-class="{'rb-collapse': vm.isBasicInfoCollapse}"></span>
  </div>

  <div class="rb-detail-content-wrap">
    <div class="rb-detail-content">
      <div class="rb-detail-row">
        <div>{{ "created_at" | translate }}</div>
        <div>{{vm.envfile.created_at | formatUtcStr}}</div>
        <div>{{ "updated_at" | translate }}</div>
        <div>{{vm.envfile.updated_at | formatUtcStr}}</div>
      </div>
      <div class="rb-detail-row">
        <div>{{ "envfile_desc" | translate }}</div>
        <div>{{vm.envfile.description}}</div>
        <div>{{ "quota_space" | translate }}</div>
        <div>
          <a ng-if="vm.envfile.space_name"
             router-link="'/quota/detail/' + vm.envfile.space_name"
             title="{{ vm.envfile.space_name }}">
            {{vm.envfile.space_name}}
          </a>
          <span ng-if="!vm.envfile.space_name">N/A</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="vm.initialized"
     class="rb-detail-container">
  <div class="rb-detail-content-header">
    <span>{{'env_file_content' | translate}}</span>
  </div>
  <div class="rb-detail-content-wrap">
    <div class="rb-detail-content"
         style="padding: 16px;">
      <ui-codemirror ui-codemirror-opts="vm.editorOptions"
                     ng-model="vm.envfile.content"></ui-codemirror>
    </div>
  </div>
</div>
