.rb-console rb-pipeline-config-form {
  display: block;
  background-color: #f8f8f8;
  padding: 1px 20px 40px 20px;
  position: relative;
  overflow: visible;
  min-width: 680px;

  &[disabled] {
    opacity: 0.5;
  }

  &[disabled]:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .rb-btn-link {
    margin-left: 0.5em;
    font-size: 12px;
  }

  .rb-horizontal-message {
    padding: 0 12px;
    .inline-help-text {
      position: relative;
      width: calc(100% - 100px);
      height: 40px;
      p {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        line-height: 40px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 0;
      }
    }
    .rb-btn-link {
      white-space: nowrap;
    }
  }

  .form-template-anchor > * {
    display: flex;
    flex-flow: column;
  }

  rb-pipeline-config-form-task-type-selection {
    flex: 1;
    align-items: center;
  }

  rb-repository-dropdown-group {
    flex: 1;
  }

  .rb-form {
    .rb-label {
      flex: 1 0 100%;
      max-width: 25%;
      white-space: nowrap;
    }
    .rb-label + * {
      flex: 1 0 100%;
      max-width: 70%;
    }

    .rb-label.multi-line {
      flex-flow: column;
      align-items: flex-end;
      > .rb-label {
        padding-right: 0;
      }
    }

    .rb-input-message {
      margin-left: 25%;
    }

    .rb-form-row-right-align-input {
      display: flex;
      justify-content: flex-end;
    }

    .rb-input-field-addon {
      i {
        color: #6d6d6d;
      }
      i:hover {
        color: #000;
      }
    }
  }

  rb-service-fieldset-env-vars {
    .col-delete-btn {
      width: 10px !important;
    }
  }
}
