.rb-pipeline-config-form-container {
  .env-table {
    width: 100%;

    td {
      padding: 5px;

      > input {
        max-width: 0;
        min-width: 100%;
      }

      &:first-child {
        width: 30%;
      }

      &:nth-child(2) {
        width: 50%;
      }

      &:last-child {
        width: 20%;
      }
    }

    > thead {
      background-color: rgba(0, 0, 0, 0.15);
    }

    > tbody {
      background-color: #f8f8f8;
    }
  }

  .env-config-map {
    display: flex;
    align-items: center;
    max-width: 0;
    min-width: 100%;

    > :last-child {
      margin-left: 5px;
    }

    rb-dropdown {
      flex-basis: 70px;
      min-width: 70px;

      .text {
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .ui.selection.dropdown .menu > .item {
        white-space: nowrap;
      }

      + rb-dropdown {
        margin-left: 5px;
      }
    }
  }

  .env-actions {
    display: flex;
    align-items: center;
  }

  .add-env {
    margin: -5px;
    padding: 5px;
    border-radius: 3px;
    background-color: #ecf6fb;
    color: #24a7e3;
    text-align: center;
    cursor: pointer;
  }

  .config-maps {
    background-color: #f8f8f8;

    > li {
      padding: 5px;
      display: flex;
      align-items: center;

      > :last-child {
        padding: 5px;
      }

      &:last-child {
        border-radius: 3px;
        background-color: #ecf6fb;
        color: #24a7e3;
        justify-content: center;
        cursor: pointer;
      }
    }
  }

  .env-tips {
    line-height: 30px;
    padding: 0 10px;
  }
}
