<div class="rb-header-alt">
  {{ vm.getTitle() }}
</div>

<div class="rb-horizontal-message">
  <span class="fa fa-question-circle"></span>
  <div class="inline-help-text"
       bind-html-compile="vm.getTaskHelpTextPreview() | markdown2html">
  </div>
  <a href="#"
     class="rb-btn-link"
     ng-click="vm.helpLinkClicked()">
    {{ 'see_more' | translate }}
    <i class="fa fa-angle-double-right"></i>
  </a>
</div>

<ng-form name="form"
         class="rb-form">
  <div class="rb-form-row input"
       ng-if="!vm.isTaskSelectionType() && vm.item.isTask()">
    <div class="rb-label">
      {{ 'pipeline_config_task_name' | translate }}
      <span class="rb-required-mark">*</span>
    </div>
    <input type="text"
           ng-model="vm.item.model.name"
           name="name"
           ng-pattern="/^[a-z][a-z0-9\-\_]*$/"
           required
           ng-disabled="vm.workflow.readonly"
           rb-errors-tooltip
           placeholder="{{ 'pipeline_name_hint' | translate }}">
  </div>

  <!-- Some tasks has a special region field -->
  <div class="rb-form-row input"
       ng-if="vm.showRegionSelection()">
    <div class="rb-label"
         flex="25">
      {{ 'region' | translate }}
      <span class="rb-required-mark">*</span>
    </div>
    <rb-dropdown rb-loading-mask="!(vm.regions$ | rbAsync:this)"
                 on-change="vm.regionChanged(option)"
                 key="display_name"
                 value="id"
                 is-disabled="vm.workflow.readonly"
                 init="vm.item.model.region_uuid"
                 options="vm.regions$ | rbAsync:this">
    </rb-dropdown>
    <div class="rb-input-field-addon"
         ng-if="vm.newK8sNotSupported()">
      <span class="fa fa-question-circle"
            uib-tooltip="{{ 'new_k8s_not_supported_deploy_application' | translate }}"></span>
    </div>
  </div>

  <!-- Task specific fields -->
  <div bind-html-compile="vm.template"
       class="form-template-anchor"></div>

  <div class="rb-form-row input"
       ng-if="vm.item.model.type !== 'trigger-pipeline' && !vm.isTaskSelectionType() && vm.item.isTask()">
    <div class="rb-label">
      {{ 'pipeline_config_timeout' | translate }}
    </div>
    <input type="number"
           ng-disabled="vm.workflow.readonly"
           min="0"
           max="{{ vm.taskTimeoutLimit }}"
           placeholder="0 - {{ vm.taskTimeoutLimit }}"
           ng-model="vm.item.model.timeout"
           ng-pattern="/^\d+$/"
           rb-errors-tooltip
           name="timeout">
  </div>
</ng-form>
