.rb-console {
  [container-name='pipeline.config.create'],
  [container-name='pipeline.history.detail'] {
    .rb-page-component {
      max-height: 100%;
      height: 100%;

      .rb-form-panel {
        height: 100%;
      }

      rb-pipeline-config-create,
      rb-pipeline-history-detail {
        height: 100%;
      }
    }
  }

  [container-name='pipeline.history.detail'] .rb-page-component {
    padding-bottom: 0;
  }
}
