<div [rcLoadingMask]="loading" class="data-container">
  <div *ngIf="!empty" class="rc-list-container">
    <!--legacy services-->
    <rc-table #serviceTable
              *ngIf="apiVersion === 'v1'"
              class="rc-secondary-table"
              [columnMode]="'flex'"
              [headerHeight]="40"
              [rowHeight]="auto"
              [rows]="serviceItems">
      <!--服务名称-->
      <rc-table-col name="{{'service_name' | translate}}" [flexGrow]="3">
        <div *rcTableColCell="let rowData = row">
          <a [routerLink]="['/app_service/service/service_detail', rowData.uuid]">{{rowData.service_name }}</a>
        </div>
      </rc-table-col>
      <!--状态-->
      <rc-table-col name="{{'status' | translate}}" [flexGrow]="1">
        <div *rcTableColCell="let rowData = row">
          <rc-service-status-badge [status]="rowData.current_status"
                                   [desiredInstances]="rowData.target_num_instances"
                                   [currentInstances]="rowData.healthy_num_instances"></rc-service-status-badge>
        </div>
      </rc-table-col>
      <!--镜像-->
      <rc-table-col name="{{'image' | translate}}" cellClass="rc-col-cell-truncated" [flexGrow]="4">
        <div *rcTableColCell="let rowData = row" [attr.title]="rowData.image_name + ':' + rowData.image_tag">{{rowData.image_name}}:{{rowData.image_tag}}</div>
      </rc-table-col>
    </rc-table>
    <!--k8s services-->
    <rc-table #serviceTable
              *ngIf="apiVersion !== 'v1'"
              class="rc-secondary-table"
              [columnMode]="'flex'"
              [headerHeight]="40"
              [rowHeight]="auto"
              [rows]="serviceItems">
      <!--组件名称-->
      <rc-table-col name="{{'component_name' | translate}}" [flexGrow]="3">
        <div *rcTableColCell="let rowData = row">
          <a [routerLink]="['/k8s_app/detail/component', rowData.resource.uuid]">{{rowData.resource.name }}</a>
        </div>
      </rc-table-col>
      <!--状态-->
      <rc-table-col name="{{'status' | translate}}" [flexGrow]="1">
        <div *rcTableColCell="let rowData = row">
          <rc-service-status-badge [status]="rowData.resource.status"
                                   [desiredInstances]="rowData.resource.instances.desired"
                                   [currentInstances]="rowData.resource.instances.current"></rc-service-status-badge>
        </div>
      </rc-table-col>
      <!--镜像-->
      <rc-table-col name="{{'image' | translate}}" cellClass="rc-col-cell-truncated" [flexGrow]="4">
        <div *rcTableColCell="let rowData = row">
          <rc-service-image-display [imageDisplayParams]="rowData.imageDisplayParams"></rc-service-image-display>
        </div>
      </rc-table-col>
    </rc-table>
  </div>
  <div *ngIf="empty && !loading" class="table-empty">
    <div *ngIf="!loadError">
      {{ "no_data" | translate }}
    </div>
    <div *ngIf="loadError">
      {{ 'data_load_error' | translate }}
    </div>
    <button *ngIf="loadError"
            rcButton="primary"
            style="margin-top: 12px;"
            (click)="refetch()">
      {{ 'refresh' | translate }}
    </button>
  </div>
</div>
