@import 'mixins';
:host {
  ::ng-deep .rc-primary-table {
    & > .ngx-datatable {
      .datatable-header,
      .datatable-row-wrapper {
        margin-bottom: 0;
        border-bottom: 2px solid #e6e6e6;
        border-radius: 0;
      }
      .datatable-row-wrapper {
        border-bottom-width: 1px;
      }
    }
  }
}
.data-container {
  min-height: 80px;
}
.table-empty {
  @extend %flex-center;
  text-align: center;
  min-height: 80px;
  flex-direction: column;
}
