<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a [routerLink]="['/']">{{'project_overview' | translate}}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{namespaceName}}
    </ng-container>
  </rc-breadcrumb>
</ng-container>
<rc-loading-mask [loading]="loading"></rc-loading-mask>
<ng-container *ngIf="!loading">
  <div class="namespace-basic-info">
    <div class="namespace-basic-info__header">
      <h3>{{namespaceName}}</h3>
      <button aui-button *ngIf="namespaceUpdatePremission" (click)="updateQuota()">{{'update_quota'|translate}}</button>
      <button aui-button *ngIf="namespaceDeletePremission" (click)="deleteNamespace()">{{'delete_namespace'|translate}}</button>
    </div>
    <div class="namespace-basic-info__divider"></div>
    <div class="namespace-basic-info__content">
      <div>{{'name'|translate}}：{{namespace?.kubernetes.metadata.name}}</div>
      <div>{{'create_time'|translate}}：{{namespace?.kubernetes.metadata.creationTimestamp | rcFormatUtcStr}}</div>
      <div>{{'service'|translate}}：{{namespace?.kubernetes.spec.finalizers}}</div>
      <div>{{'master'|translate}}：{{adminRoles.join(', ')}}</div>
      <div>{{'owen_cluster'|translate}}：{{cluster?.display_name}}</div>
    </div>
  </div>
  <div class="namespace-details">
    <rc-tab-group>
      <ng-container *rcTab="'quota' | translate">
        <div class="namespace-details__quota">
          <ng-container *ngFor="let item of keys(quotaItem)">
            <rc-project-pie-chart [data]="quotaItem[item]" [title]="item" [unit]="unitMap[item]">
            </rc-project-pie-chart>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *rcTab="'member' | translate">
        <rc-accounts-list
          [projectName]="projectName"
          [k8sNamespaceName]="namespace?.kubernetes.metadata.name"
          [clusterNames]="accountListClusterNames"
          [isCreate]="true"
          [k8sNamespaceUuid]="namespace?.kubernetes.metadata.uid"></rc-accounts-list>
      </ng-container>
    </rc-tab-group>
  </div>
</ng-container>
