.namespace-basic-info,
.namespace-details {
  margin-top: 16px;
  border-radius: 2px;
  background-color: #fff;
  &__header {
    height: 30px;
    display: flex;
    align-items: center;
    h3 {
      font-weight: 400;
      font-size: 18px;
      color: #333;
    }
  }
  &__tab {
    width: 72px;
  }
  &__divider {
    width: 100%;
    height: 1px;
    margin: 16px 0;
    background-color: #ededed;
  }
}

rc-loading-mask {
  height: 120px;
}

.namespace-basic-info {
  padding: 20px;
  margin-top: 0;
  &__header {
    h3 {
      flex: 1;
    }
  }
  &__divider {
    margin: 16px 0 0 0;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    div {
      flex: 1 0 50%;
      line-height: 20px;
      color: #333333;
      text-align: left;
      font-size: 14px;
      margin-top: 12px;
    }
  }
}
.namespace-details {
  &__quota {
    display: flex;
  }
}
