<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="!vm.initialized">
    <form class="rb-form" name="vm.form">

      <div class="rb-form-row">
        <div class="rb-label" flex="10">
          {{ 'role' | translate }}
        </div>
        <div flex="80">
          {{vm.roleName}}
        </div>
      </div>

      <div class="rb-form-row">
        <div class="rb-label" flex="10">
          {{ 'permissions' | translate }}
        </div>
        <rb-role-permissions-fieldset flex="80" preview="true" permissions="vm.permissions"></rb-role-permissions-fieldset>
      </div>
    </form>
  </div>

  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.cancel()">{{'ok' |
        translate}}
      </button>
    </div>
  </div>
</div>