<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="vm.submitting">
    <form class="rb-form" name="vm.form">

      <div class="rb-form-row">
        <div class="rb-label" flex="20">
          {{'project_name' | translate}}
          <span class="rb-required-mark">*</span>
        </div>
        <input flex="50"
               type="text"
               name="project_name"
               ng-model="vm.projectData.name"
               ng-pattern="vm.resourceNameBaseRegExp.pattern"
               minlength="1"
               maxlength="36"
               placeholder="{{'project_name_placeholder' | translate}}"
               rb-errors-tooltip
               required>
      </div>

      <div class="rb-form-fieldset-interval"></div>

      <!--project template-->
      <div class="rb-form-row">
        <div class="rb-label" flex="20">
          {{ 'project_template' | translate }}
        </div>
        <div flex="50">
          <rb-dropdown options="vm.templates$ | rbAsync:this"
                       key="name"
                       value="name"
                       on-change="vm.onTemplateSelected(option)"></rb-dropdown>
        </div>
      </div>

      <div ng-if="vm.roles.length" class="rb-form-row">
        <div class="rb-label" flex="20">
          {{ 'role' | translate }}
        </div>
        <div flex="50">
          <table class="table table-bordered app-table table-condensed">
            <thead>
            <tr>
              <td style="width: 60px;">{{'create' | translate}}</td>
              <td>{{'name'|translate}}</td>
              <td style="width: 60px;"></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="role in vm.roles track by $index">
              <td>
                <div class="ui checkbox" style="vertical-align: middle;">
                  <input type="checkbox"
                         ng-disabled="role.required"
                         ng-model="role.checked">
                  <label></label>
                </div>
              </td>
              <td>
                {{vm.getResourceNameDisplay(role.name)}}
              </td>
              <td>
                <button type="button" class="rb-fieldset-action-btn" ng-click="vm.previewRole(role)">
                  <i class="fa fa-eye"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div ng-if="vm.resources.length" class="rb-form-row">
        <div class="rb-label" flex="20">
          {{ 'resource' | translate }}
        </div>
        <div flex="50">
          <table class="table table-bordered app-table">
            <thead>
            <tr>
              <td style="width: 60px;">{{'create' | translate}}</td>
              <td>{{'name' | translate}}</td>
              <td style="width: 120px;">{{'resource_type'|translate}}</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="resource in vm.resources track by $index">
              <td>
                <div class="ui checkbox" style="vertical-align: middle;">
                  <input type="checkbox"
                         ng-disabled="resource.required"
                         ng-model="resource.checked">
                  <label></label>
                </div>
              </td>
              <td>
                {{vm.getResourceNameDisplay(resource.name)}}
              </td>
              <td>
                {{resource.type | lowercase | translate | rbTitleCase}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>


    </form>
  </div>

  <div class="rb-form-footer">
    <div flex="20"></div>
    <div class="rb-form-footer-buttons" flex="50">
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.create()">{{'create' | translate}}
      </button>
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' | translate}}
      </button>
    </div>
  </div>
</div>