.rb-service-metrics-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > div {
    display: flex;
    align-items: center;
  }
  label {
    font-weight: 400;
  }
  .service-metrics-toolbar-row {
    height: 48px;
    > label {
      text-align: left;
    }
    > * {
      margin-right: 8px;
    }
    .ui.input {
      width: 12em;
    }
  }
  .ui.selection.dropdown > .menu {
    max-height: 32em;
  }
}

.rb-service-detail-metrics-content {
  h3 {
    margin: 16px 0;
    font-size: 18px;
    text-align: center;
  }
  rb-metrics-chart {
    height: 240px;
  }
  .rb-service-metrics-container {
    height: 280px;
  }
}
