<div class="rb-service-metrics-toolbar">
  <div class="service-metrics-toolbar-row">
    <label>{{'service_metrics_type' | translate}}</label>
    <rb-dropdown size="xxs"
                 options="vm.metricTypes"
                 key="name" value="value" filter-threshold="10"
                 on-change="vm.selectMetricType(option)"
                 is-disabled="vm.loading"></rb-dropdown>
    <label>{{'monitor_period' | translate}}</label>
    <rb-dropdown size="xxs" options="vm.periodOptions"
                 init="vm.period"
                 is-disabled="vm.loading"
                 key="title" value="period" filter-threshold="10"
                 on-change="vm.selectTimeRange(option)"></rb-dropdown>
    <div>
      <label>{{ "from" | translate }}</label>
      <div class="ui input">
        <input
          rb-date-time-picker
          ng-disabled="vm.loading || !vm.isCustomTimeRange()"
          timestamp="vm.timeRange.start"
          options="vm.dateTimeOptions" type="text">
      </div>
    </div>
    <div>
      <label>{{ "to" | translate }}</label>
      <div class="ui input">
        <input
          rb-date-time-picker
          ng-disabled="vm.loading || !vm.isCustomTimeRange()"
          timestamp="vm.timeRange.end"
          options="vm.dateTimeOptions" type="text">
      </div>
    </div>
    <button class="ui button rb-btn-primary"
            ng-disabled="vm.loading || !vm.isCustomTimeRange()"
            ng-click="vm.loadMetrics()">
      {{'confirm' | translate}}
    </button>
    <div flex></div>
    <button
      type="button"
      class="ui button rb-btn-default"
      ng-class="{ loading: vm.loading }"
      ng-click="vm.loadMetrics()"
      ng-disabled="vm.loading">
      {{ "refresh" | translate }}
    </button>
  </div>
</div>
<div class="rb-service-detail-metrics-content">
  <div ng-repeat="type in vm.queryTypes track by $index">
    <h3>{{type.name}}</h3>
    <div class="rb-service-metrics-container" rb-loading-mask="vm.loading">
      <div class="rb-loading-mask-placeholder" ng-if="!vm.loading && (type.loadError || !type.series)">
        {{'no_data' | translate}}
      </div>
      <rb-line-chart ng-if="!type.loadError && type.series"
                     series="type.series"
                     highcharts-options="vm.highChartsOptions"
                     axis-options="type.axisOptions"
                     point-tooltip-fn="vm.pointTooltipFn"></rb-line-chart>
    </div>
  </div>
</div>
