<div class="rb-form-panel">
  <div class="rb-form-container"
       rb-loading-mask="!vm.initialized || vm.submitting">
    <form class="rb-form"
          name="vm.form">

      <div class="rb-input-container"
           ng-if="!vm.roleName">
        <div class="rb-input-field-container">
          <label>{{'role_name' | translate}}</label>
          <rb-search-dropdown placeholder="'select_role' | translate"
                              backend-url="vm.roleBackendUrl"
                              fields-setting="{name: 'name', value: 'name'}"
                              on-change="vm.onRoleChanged(value)">
          </rb-search-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>

      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'username' | translate}}</label>
          <rb-search-dropdown multiple="true"
                              placeholder="'role_add_user_placeholder' | translate"
                              backend-url="vm.backendUrl"
                              fields-setting="{name: 'username', value: 'username'}"
                              response-item-filter="vm.responseItemFilter"
                              on-add="vm.onUserAdd(value)"
                              on-remove="vm.onUserRemove(value)">
          </rb-search-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>

    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button"
              class="ui button rb-btn-default"
              ng-click="vm.cancel()">{{'cancel' | translate}}
      </button>
      <button type="button"
              class="ui button rb-btn-primary"
              ng-disabled="!vm.initialized"
              ng-click="vm.confirm()">{{'confirm' | translate}}
      </button>
    </div>
  </div>
</div>
