@import 'colors.styles';

:host {
  width: 100%;
  .le-input {
    display: flex;
    justify-content: column;
    margin-bottom: 10px;
  }
  input {
    width: 260px;
    max-width: 260px;
    height: 32px;
    margin-right: 6px;
    border-radius: 3px;
    background-color: $gray-3;
    border: solid 1px $gray-7;
    &.invalid {
      pointer-events: none;
    }
  }
  .icon-wrap {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin-left: 2px;
    cursor: pointer;
    &.check-icon {
      border-radius: 3px;
      color: #fff;
      background-color: #24a7e3;
    }
    &.fa-pencil,
    &.fa-minus-circle {
      color: #666;
    }
    &.invalid {
      opacity: 0.3;
    }
  }
}
