<div class="le-input">
  <div class="ui search input">
    <input #input
          rcInput
          name="email"
          type="text"
          pattern="^.+@.+\..+$"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]="errorsMap.email"
          required
          [class.invalid]="inputState === 'done'"
          [(ngModel)]="emailDisplay">
  </div>
  <div *ngIf="inputState === 'edit' "
    class="icon-wrap check-icon"
    [class.invalid]="inputIsInvalidState"
    (click)="complete()">
    <i class="fa fa-check" aria-hidden="true"></i>
  </div>
  <div *ngIf="inputState === 'done'" class="icon-wrap" (click)="edit(input)">
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </div>
  <div *ngIf="inputState === 'done'" class="icon-wrap" (click)="deleteEmail()">
    <i class="fa fa-minus-circle" aria-hidden="true"></i>
  </div>
  <div *ngIf="inputState === 'edit'" class="icon-wrap" (click)="close()">
    <i class="fa fa-remove" aria-hidden="true"></i>
  </div>
</div>
