@import 'colors.styles';
:host {
  position: relative;
  display: block;
  height: 100%;
  .rc-modal-container {
    height: calc(100% - 64px);
    overflow: auto;
    padding: 16px;
    .rc-modal-header {
      margin: 12px 0;
      padding: 12px 36px 12px 40px;
      border: solid 1px #24a7e3;
      border-radius: 3px;
      line-height: 18px;
      position: relative;
      .rc-header-icon {
      }
    }
  }
  .form-footer {
    text-align: right;
    padding: 16px;
    background: $silver-6;
  }
}
