<div [rcLoadingMask]="!initialized || submitting" class="rc-modal-container">
  <!--TODO-->
  <!--
  <div class="rc-modal-header">
    版本回滚提示
  </div>
  -->
  <rc-table class="rc-secondary-table"
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowHeight]="50"
            [rows]="versions">
    <rc-table-col [width]="240" name="{{'service_version' | translate}}">
      <div *rcTableColCell="let item = row">
        V{{item.revision}}
      </div>
    </rc-table-col>
    <rc-table-col [width]="120" name="{{'created_at' | translate}}">
      <div *rcTableColCell="let item = row">
        {{item.creationTimestamp | rcFormatUtcStr}}
      </div>
    </rc-table-col>
    <rc-table-col [width]="60" name="{{'action' | translate}}" cellClass="rc-col-cell-right">
      <div *rcTableColCell="let item = row">
        <button rcButton rcButtonSize="small" (click)="selectVersion(item.revision)">{{'rollback' | translate}}</button>
      </div>
    </rc-table-col>
  </rc-table>
</div>
<div class="form-footer">
  <button rcButton="default"
          [disabled]="submitting"
          (click)="cancel()">{{ 'cancel' | translate }}</button>
</div>
