:host {
  flex: 1;

  ::ng-deep {
    .rc-input-element {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      + .ui.button.rc-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

rc-single-selection-dropdown {
  flex: none !important;

  ::ng-deep .ui.selection.dropdown {
    min-width: unset;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
