<rc-form-field-column label="CPU"
                      [shouldFlexRow]="true">
  <input rcInput
         type="number"
         [min]="min.cpu"
         name="custom_instance_size_cpu"
         [(ngModel)]="instanceSize.cpu"
         required
         (change)="onCustomSizeChange()">
  <button rcButton>{{ 'unit_cpu' | translate }}</button>
</rc-form-field-column>

<rc-form-field-column [label]="'memory' | translate"
                      [errorsMapper]="{ required: ('name_required' | translate), pattern: (resourceNameInt.tip | translate) }">
  <input rcInput
         type="number"
         [min]="min.memory"
         name="custom_instance_size_memory"
         [(ngModel)]="memDisplay"
         [pattern]="resourceNameInt.pattern"
         required
         (change)="onCustomSizeChange()" />

  <rc-single-selection-dropdown rcFormField
                                [allowFilter]="false"
                                [options]="unitsOptions"
                                displayField="display"
                                valueField="value"
                                [(ngModel)]="baseUnit"
                                (change)="onFilterByChange()"></rc-single-selection-dropdown>
</rc-form-field-column>
