<rb-loading-mask-placeholder ng-if="!vm.initialized"></rb-loading-mask-placeholder>
<div ng-if="vm.initialized">
  <div class="rb-page-heading">
    <div flex
         layout="row">
      <div flex="20"
           class="ui input">
        <input type="text"
               ng-model="vm.filterKey"
               placeholder="{{ 'filter_by_name_placeholder' | translate}}">
      </div>
    </div>
    <a ng-if="vm.envFileCreateEnabled"
       class="ui button rb-btn-primary"
       router-link="'/app_service/envfile/create'">
      {{'envfile_create' | translate}}
    </a>
  </div>
  <table class="table app-table"
         rb-loading-mask="vm.tableLoading">
    <thead>
      <tr>
        <td style="width:240px;">{{'envfile_name' | translate}}</td>
        <td ng-if="vm.quotaEnabled"
            style="width: 150px;">
          <span>{{ "quota_space" | translate }}</span>
        </td>
        <td>{{'envfile_desc' | translate}}</td>
        <td style="width:180px;">{{'created_at' | translate}}</td>
        <td style="width:180px;">{{'updated_at' | translate}}</td>
        <td style="width:80px;">{{'action' | translate}}</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="envfile in vm.envfileList | orderBy: '-created_at' | filter : {name: vm.filterKey} track by $index">
        <td>
          <a href="app_service/envfile/detail/{{envfile.uuid}}">{{envfile.name}}</a>
        </td>
        <td class="rb-truncate-cell"
            ng-if="vm.quotaEnabled">
          <a ng-if="envfile.space_name"
             router-link="'/quota/detail/' + envfile.space_name"
             title="{{ envfile.space_name }}">{{envfile.space_name }}</a>
          <span ng-if="!envfile.space_name">N/A</span>
        </td>
        <td>{{envfile.description}}</td>
        <td>{{envfile.created_at | formatUtcStr}}</td>
        <td>{{envfile.updated_at | formatUtcStr}}</td>
        <td>
          <a class="btn btn-xs rb-btn-oper"
             ng-if="vm.buttonDisplayExpr(envfile, 'update')"
             router-link="'/app_service/envfile/update/' + envfile.uuid"
             tooltip-placement="top"
             uib-tooltip="{{'update' | translate}}">
            <i class="fa fa-pencil"></i>
          </a>
          <a class="btn btn-xs rb-btn-oper"
             ng-if="vm.buttonDisplayExpr(envfile, 'delete')"
             ng-disabled="vm.deletingMap[envfile.name]"
             ng-click="vm.envfileDelete(envfile)"
             tooltip-placement="top"
             uib-tooltip="{{'delete' | translate}}">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
