<div class="rb-form-row input">
  <div class="rb-label" flex="25">
    {{vm.label | translate | rbTitleCase}}
  </div>
  <div class="ui toggle checkbox">
    <input type="checkbox"
           name="{{vm.name}}"
           ng-change="vm.handleInputChange()"
           ng-model="vm.value">
    <label></label>
  </div>
  <div ng-if="vm.description" class="rb-input-field-addon">
    <i class="fa fa-question-circle"
       style="cursor: pointer;"
       uib-popover-html="vm.description"
       popover-placement="top"
       popover-trigger="'mouseenter'"
       popover-append-to-body="true"></i>
  </div>
</div>
