<div>
  <div class="rb-monitor-chart-card-toolbar">
    <div class="chart-card-title" style="cursor: default;">
      <span title="{{vm.metric.metric}}">{{vm.metric.metric}}</span>
      <span uib-tooltip="{{ vm.getTooltipText() }}"
            tooltip-class="rb-metric-name-tooltip"
            tooltip-placement="top">
        <i class="fa fa-exclamation-circle"></i>
      </span>
    </div>

    <div class="chart-card-buttons">
      <button ng-click="vm.actionChartRefresh()"
              uib-tooltip="{{'refresh' | translate}}">
        <i class="fa fa-refresh"></i>
      </button>
      <button ng-click="vm.actionAlarmCreate()"
              uib-tooltip="{{'alarm_create' | translate}}">
        <i class="fa fa-bell"></i>
      </button>
      <button ng-click="vm.actionChartDetail()"
              uib-tooltip="{{'detail' | translate}}">
        <i class="fa fa-arrows-alt"></i>
      </button>
    </div>
  </div>
  <div class="rb-monitor-chart-card-content" rb-loading-mask="vm.refreshing">
    <div class="rb-loading-mask-placeholder" ng-if="!vm.series && vm.loading">
      {{'data_loading' | translate}}
    </div>
    <div class="rb-loading-mask-placeholder" ng-if="!vm.series && !vm.loading">
      {{'no_data' | translate}}
    </div>
    <rb-line-chart ng-if="vm.series"
                   series="vm.series"
                   highcharts-options="vm.highChartsOptions"
                   axis-options="vm.axisOptions"
                   point-tooltip-fn="vm.pointTooltipFn"
                   hide-legend="true"></rb-line-chart>
  </div>
</div>
