:host {
  ::ng-deep {
    .aui-dialog__footer {
      flex-direction: row;
      justify-content: flex-end;
    }
    .aui-form-item__error-wrapper {
      margin-top: 4px;
    }
    .cmb-account-create__tip {
      color: #999;
    }
  }
}
