<div class="cmb-account-create">
  <aui-dialog-header>
    {{ 'create_account' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <form #form="ngForm" auiForm auiFormLabelPosition="top">
      <ng-container *ngFor="let dic of patternDictionary">
        <aui-form-item *ngIf="dic.name !== 'confirmPassword'">
          <label auiFormItemLabel>{{dic.displayName}}</label>
          <input [name]="dic.name" #field="ngModel" [type]="dic.type" auiFormItemControl [(ngModel)]="user[dic.name]" [minlength]="dic?.minLength"
            [maxlength]="dic.maxLength" [pattern]="dic?.pattern" aui-input required>
          <div auiFormItemError *ngIf="field.errors?.required">{{'field_required' | translate}}</div>
          <div auiFormItemError *ngIf="field.errors?.pattern">{{ (dic.errorPattern || 'invalid_pattern') | translate }}</div>
          <div auiFormItemError *ngIf="field.errors?.maxlength">{{'warning_max_length' | translate : {length : dic.maxLength} }}</div>
          <div auiFormItemError *ngIf="field.errors?.minlength ">{{'warning_min_length' | translate : {length : dic.minLength} }}</div>
        </aui-form-item>
        <aui-form-item *ngIf="dic.name === 'confirmPassword'">
          <label auiFormItemLabel>{{dic.displayName}}</label>
          <input [name]="dic.name" #field="ngModel" [type]="dic.type" auiFormItemControl [(ngModel)]="user[dic.name]" [minlength]="dic?.minLength"
            [maxlength]="dic.maxLength" [pattern]="user?.password" aui-input required>
          <div auiFormItemError *ngIf="field.errors?.required">{{'field_required' | translate}}</div>
          <div auiFormItemError *ngIf="field.errors?.pattern">{{ ('password_not_same' | translate)}}</div>
          <div auiFormItemError *ngIf="field.errors?.maxlength">{{'warning_max_length' | translate : {length : dic.maxLength} }}</div>
          <div auiFormItemError *ngIf="field.errors?.minlength ">{{'warning_min_length' | translate : {length : dic.minLength} }}</div>
        </aui-form-item>
      </ng-container>
    </form>
    <div class="cmb-account-create__tip">
      {{'create_uaa_account_tip'|translate}}
    </div>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button aui-button [auiDialogClose]="true">
      {{ 'cancel' | translate}}
    </button>
    <button aui-button="primary" [loading]="loading" [disabled]="form.invalid" (click)="submit()">
      {{ 'confirm' | translate}}
    </button>
  </aui-dialog-footer>
</div>
