rb-monitor-chart-detail {
  .rb-monitor-chart-detail-header {
    height: 48px;
    font-size: 22px;
    line-height: 48px;
    padding: 0 16px;
    border-bottom: 1px solid #ccc;

    .chart-close {
      float: right;
      height: 48px;
      color: #a7a7a7;
      &:hover {
        color: #0badeb;
      }
    }
  }
  .rb-monitor-chart-detail {
    padding: 16px 8px;
    .chart-detail-toolbar {
      background-color: #f9f9f9;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 24px;
      > div {
        display: flex;
        align-items: center;
      }
      label {
        font-weight: 400;
      }
      .chart-detail-toolbar-row {
        height: 48px;
        > label {
          width: 100px;
        }
        > * {
          margin-right: 8px;
        }
      }
      .ui.selection.dropdown > .menu {
        max-height: 32em;
      }
    }
    .chart-detail-content {
      min-height: 480px;
      .rb-loading-mask-placeholder {
        height: 100%;
      }
    }
  }
}
