<div class="rb-monitor-chart-detail-header">
  <span>{{vm.chart.display_name}}</span>
  <span class="chart-close" ng-click="vm.cancel()"><i class="fa fa-remove"></i></span>
</div>
<div class="rb-monitor-chart-detail">
  <div class="chart-detail-toolbar" rb-loading-mask="vm.loading">
    <div class="chart-detail-toolbar-row">
      <label>{{'monitor_period' | translate}}</label>
      <rb-dropdown size="xs" options="vm.periodOptions"
                   init="vm.initPeriod"
                   key="title" value="period" filter-threshold="10"
                   on-change="vm.onPeriodChange(option)"></rb-dropdown>
      <div>
        <label>{{ "from" | translate }}</label>
        <div class="ui input">
          <input
            ng-disabled="!vm.initialized || !vm.isCustomTimeRange()"
            rb-date-time-picker
            timestamp="vm.timeRange.start"
            options="vm.dateTimeOptions" type="text">
        </div>
      </div>
      <div>
        <label>{{ "to" | translate }}</label>
        <div class="ui input">
          <input
            ng-disabled="!vm.initialized || !vm.isCustomTimeRange()"
            rb-date-time-picker
            timestamp="vm.timeRange.end"
            options="vm.dateTimeOptions" type="text">
        </div>
      </div>
      <button class="ui button rb-btn-primary"
              ng-disabled="!vm.initialized || !vm.isCustomTimeRange()"
              ng-click="vm.confirmTimeRange()">
        {{'confirm' | translate}}
      </button>
    </div>
    <div class="chart-detail-toolbar-row">
      <label>{{'monitor_aggregator' | translate}}</label>
      <rb-dropdown size="xs"
                   options="vm.metricAggregatorOptions"
                   key="name" value="value" filter-threshold="10"
                   init="vm.aggregator"
                   on-change="vm.onMetricAggregatorSelected(option)"></rb-dropdown>
    </div>
  </div>
  <div class="chart-detail-content">
    <rb-line-chart ng-if="vm.series"
                   series="vm.series"
                   highcharts-options="vm.highchartsOptions"
                   axis-options="vm.axisOptions"
                   point-tooltip-fn="vm.pointTooltipFn"
                   hide-legend="false"></rb-line-chart>
    <div class="rb-loading-mask-placeholder" ng-if="!vm.series && vm.loading">
      {{'data_loading' | translate}}
    </div>
    <div class="rb-loading-mask-placeholder" ng-if="!vm.series && !vm.loading">
      {{'no_data' | translate}}
    </div>
  </div>
</div>
