:host {
  display: block;
  .container {
    width: 100%;
    display: flex;
    padding: 20px 12px 12px;
    .group {
      margin: 8px;
      background-color: #fafafa;
      width: 476px;
      position: relative;
      padding: 30px 12px;
      &__title {
        position: absolute;
        left: 16px;
        top: -14px;
        height: 28px;
        padding: 0 12px;
        line-height: 28px;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #e8e8e8;
        //color: #4d4d4d;
      }
      &__row {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        height: 32px;
        label {
          font-weight: normal;
          margin-right: 8px;
        }
        .rc-input-element {
          width: 100px;
          flex-grow: 0;
        }
        &__btn {
          width: 16px;
          height: 16px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          margin-left: 8px;
          text-decoration: none;
          &:hover {
            color: #009ce3;
          }
          &:last-of-type {
            margin-left: 4px;
          }
        }
      }
    }
    .rc-form-input-row {
      display: flex;
      justify-content: space-between;
    }
    .status-badge-container {
      rc-status-badge {
        margin: 6px 0;
      }
    }
  }
}
