<div class="container" [rcLoadingMask]="submitting || !initialized">
  <!--scale out-->
  <div class="group">
    <div class="group__title">
      {{'scaling_out' | translate}}
    </div>
    <div class="group__row">
      <label>{{'maximum' | translate}}</label>
      <ng-container *ngIf="!maxReplicasEditing">
        <label>{{maxReplicas | rcFieldNotAvailable}}</label>
        <a class="group__row__btn" (click)="maxReplicasEditing=true"><i class="fa fa-pencil"></i></a>
      </ng-container>
      <ng-container *ngIf="maxReplicasEditing">
        <input rcInput required
               #maxReplicasInput="ngModel"
               [(ngModel)]="maxReplicas"
               [ngModelOptions]="{standalone: true}"
               [pattern]="numberReg.pattern"
               min="1"
               [rcErrorsTooltip]
               [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
               [attr.disabled]="maxReplicasSubmitting">
        <a *ngIf="!maxReplicasSubmitting" class="group__row__btn" (click)="saveMaxReplicas()"><i class="fa fa-check"></i></a>
        <a *ngIf="!maxReplicasSubmitting" class="group__row__btn" (click)="maxReplicasEditing=false"><i class="fa fa-times"></i></a>
        <div *ngIf="maxReplicasSubmitting" class="ui loader active small" style="marign-left: 8px;"></div>
      </ng-container>
    </div>
    <table class="rc-form-table">
      <thead>
      <tr>
        <td style="width: 120px;">{{'type' | translate}}</td>
        <td style="width: 60px;">{{'status' | translate}}</td>
        <td>{{'name' | translate}}</td>
        <td style="width: 40px;"></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor=" let item of scaleOutAlarms; let i = index; trackBy: trackByIndex">
        <td>
          {{item.alarm_type | translate}}
        </td>
        <td>
          <div class="status-badge-container">
            <rc-status-badge [status]="item.status"
                             mode="indicator"
                             rcTooltipPosition="top"
                             [rcTooltipInline]="false"
                             rcTooltip="{{ ('status_' + item.status.toLowerCase()) | translate }}"></rc-status-badge>
          </div>
        </td>
        <td>
          <a *ngIf="item.alarm_type === 'log_alarm'" [routerLink]="['/alarm/log_alarm_detail', item.uuid]" (click)="closeModal()">{{item.name}}</a>
          <a *ngIf="item.alarm_type === 'metric_alarm'" [routerLink]="['/alarm/alarm_detail', item.uuid]" (click)="closeModal()">{{item.name}}</a>
        </td>
        <td>
          <a class="form-action-button"
             href="javascript:void(0)"
             (click)="removeAlarm(item, 'scaling_out')">
            <i class="fa fa-minus-circle"></i>
          </a>
        </td>
      </tr>
      <tr *ngIf="!scaleOutAlarms.length">
        <td colspan="4">
          <div class="rc-form-table-empty">
            {{'service_scaling_alarms_empty' | translate}}
          </div>
        </td>
      </tr>
      <tr class="rc-form-input">
        <td>
          <rc-single-selection-dropdown
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="scaleOutAlarmType"
            (ngModelChange)="onScaleOutAlarmTypeChange()"
            [allowFilter]="false"
            [options]="scaleOutAlarmTypeOptions"
            displayField="name"
            valueField="value"
            style="width:100%;"></rc-single-selection-dropdown>
        </td>
        <td colspan="3">
          <div class="rc-form-input-row">
            <rc-single-selection-dropdown
              #scaleOutAlarmSelect="ngModel"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="scaleOutAlarmId"
              [options]="scaleOutAlarmOptions"
              [rcErrorsTooltip]
              displayField="name"
              valueField="uuid"
              (change)="onScaleOutAlarmSelected($event)"
              style="width:220px;"></rc-single-selection-dropdown>
            <button rcButton="primary" (click)="addScaleOutAlarm()" [disabled]="!scaleOutAlarmId">{{'add' | translate}}</button>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <a href="javascript:void(0)" (click)="createAlarm('scaling_out', scaleOutAlarmType)">{{'create' | translate}}{{scaleOutAlarmType | translate}}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--scale in-->
  <div class="group">
    <div class="group__title">
      {{'scaling_in' | translate}}
    </div>
    <div class="group__row">
      <label>{{'minimum' | translate}}</label>
      <ng-container *ngIf="!minReplicasEditing">
        <label>{{minReplicas | rcFieldNotAvailable}}</label>
        <a class="group__row__btn" (click)="minReplicasEditing=true"><i class="fa fa-pencil"></i></a>
      </ng-container>
      <ng-container *ngIf="minReplicasEditing">
        <input rcInput required
               #minReplicasInput="ngModel"
               [(ngModel)]="minReplicas"
               [ngModelOptions]="{standalone: true}"
               [pattern]="numberReg.pattern"
               [rcErrorsTooltip]
               [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
               [attr.disabled]="minReplicasSubmitting">
        <a *ngIf="!minReplicasSubmitting" class="group__row__btn" (click)="saveMinReplicas()"><i class="fa fa-check"></i></a>
        <a *ngIf="!minReplicasSubmitting" class="group__row__btn" (click)="minReplicasEditing=false"><i class="fa fa-times"></i></a>
        <div *ngIf="minReplicasSubmitting" class="ui loader active small" style="marign-left: 8px;"></div>
      </ng-container>
    </div>
    <table class="rc-form-table">
      <thead>
      <tr>
        <td style="width: 120px;">{{'type' | translate}}</td>
        <td style="width: 60px;">{{'status' | translate}}</td>
        <td>{{'name' | translate}}</td>
        <td style="width: 40px;"></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor=" let item of scaleInAlarms; let i = index; trackBy: trackByIndex">
        <td>{{item.alarm_type | translate}}</td>
        <td>
          <div class="status-badge-container">
            <rc-status-badge [status]="item.status"
                             mode="indicator"
                             rcTooltipPosition="top"
                             [rcTooltipInline]="false"
                             rcTooltip="{{ ('status_' + item.status.toLowerCase()) | translate }}"></rc-status-badge>
          </div>
        </td>
        <td>
          <a *ngIf="item.alarm_type === 'log_alarm'" [routerLink]="['/alarm/log_alarm_detail', item.uuid]" (click)="closeModal()">{{item.name}}</a>
          <a *ngIf="item.alarm_type === 'metric_alarm'" [routerLink]="['/alarm/alarm_detail', item.uuid]" (click)="closeModal()">{{item.name}}</a>
        </td>
        <td>
          <a class="form-action-button"
             href="javascript:void(0)"
             (click)="removeAlarm(item, 'scaling_in')">
            <i class="fa fa-minus-circle"></i>
          </a>
        </td>
      </tr>
      <tr *ngIf="!scaleInAlarms.length">
        <td colspan="4">
          <div class="rc-form-table-empty">
            {{'service_scaling_alarms_empty' | translate}}
          </div>
        </td>
      </tr>
      <tr class="rc-form-input">
        <td>
          <rc-single-selection-dropdown
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="scaleInAlarmType"
            (ngModelChange)="onScaleInAlarmTypeChange()"
            [allowFilter]="false"
            [options]="scaleInAlarmTypeOptions"
            displayField="name"
            valueField="value"
            style="width:100%;"></rc-single-selection-dropdown>
        </td>
        <td colspan="3">
          <div class="rc-form-input-row">
            <rc-single-selection-dropdown
              #scaleInAlarmSelect="ngModel"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="scaleInAlarmId"
              [options]="scaleInAlarmOptions"
              displayField="name"
              valueField="uuid"
              (change)="onScaleInAlarmSelected($event)"
              style="width:220px;"></rc-single-selection-dropdown>
            <button rcButton="primary" (click)="addScaleInAlarm()" [disabled]="!scaleInAlarmId">{{'add' | translate}}</button>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <a href="javascript:void(0)" (click)="createAlarm('scaling_in', scaleInAlarmType)">{{'create' | translate}}{{scaleOutAlarmType | translate}}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
