<div class="rb-form-row input">
  <div class="rb-label" flex="25">
    {{vm.label | translate | rbTitleCase }}
    <span ng-if="vm.required" class="rb-required-mark">*</span>
  </div>
  <div flex="55" >
    <div style="width: 100%;">
      <ui-codemirror
        ui-codemirror-opts="vm.editorOptions"
        ng-model="vm.code">
      </ui-codemirror>
    </div>
  </div>
  <div ng-if="vm.description" class="rb-input-field-addon">
    <i class="fa fa-question-circle"
       style="cursor: pointer;"
       uib-popover-html="vm.description"
       popover-placement="top"
       popover-trigger="'mouseenter'"
       popover-append-to-body="true"></i>
  </div>
</div>
