@import 'colors.styles';
$task-type-select-item-padding: 6px;
rb-pipeline-config-form-task-type-selection {
  .task-type-select-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
    align-self: center;
    img {
      height: 32px;
      margin-bottom: 12px;
    }
    .task-type-select-item-container {
      padding: $task-type-select-item-padding;
      flex: 0 0 200px;
      .task-type-select-item {
        position: relative;
        height: 100px;
        border: solid 1px $default-border-color;
        cursor: pointer;
        background-color: #fff;
        &[disabled] {
          cursor: not-allowed;
          opacity: 0.4;
        }
        &:hover:not([disabled]) {
          border-color: $button-default-hover-border-color;
          .logo-side {
            opacity: 0.05;
          }
          .short-help-text {
            opacity: 1;
          }
        }
        .logo-side,
        .short-help-text {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          transition: opacity 0.5s;
        }
        .logo-side {
          opacity: 1;
          z-index: 0;
        }
        .short-help-text {
          opacity: 0;
          z-index: 1;
          padding: 0 12px;
          text-align: center;
          font-size: 12px;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
