<div class="task-type-select-container">
  <div ng-repeat="taskType in vm.taskTypes track by $index" class="task-type-select-item-container">
    <div class="task-type-select-item"
         ng-disabled="taskType.disabled"
         ng-click="vm.taskTypeSelected(taskType)"
         tooltip-placement="top"
         uib-tooltip="{{ taskType.disabled | translate }}">
      <div class="logo-side">
        <img ng-src="/static/images/pipeline/task-type/{{taskType.name}}.svg" alt="">
        {{ 'pipeline_task_type_' + taskType.name | translate }}
      </div>
      <div class="short-help-text" ng-bind-html=":: (vm.getShortTaskHelpText(taskType) | markdown2html )"></div>
    </div>
  </div>

  <div class="task-type-select-item-container"></div>
  <div class="task-type-select-item-container"></div>
  <div class="task-type-select-item-container"></div>
  <div class="task-type-select-item-container"></div>
  <div class="task-type-select-item-container"></div>
</div>
