<div class="ui input">
  <input type="text"
         ng-model="vm.filterKey"
         ng-change="vm.onFilterChanged()"
         placeholder="{{ 'filter_by_name_placeholder' | translate }}"
  >
</div>
<div ng-show="!(vm.services$ | rbAsync:this).length"
     class="rb-loading-mask-placeholder">{{'app_services_empty' | translate }}
</div>
<div style="min-height: 240px;">
  <table ng-show="(vm.services$ | rbAsync:this).length" class="table app-table table-bordered table-hover" style="table-layout: fixed;">
    <thead>
    <tr>
      <td style="width: 20%;">
        <span>{{ "name" | translate }}</span>
      </td>
      <td style="width:150px;">
        {{ "status" | translate }}
      </td>
      <td style="width:20%;">
        {{ "image" | translate }}
      </td>
      <td style="width:150px;">
        {{ "size" | translate }}
      </td>
      <td style="width: 20%;">{{ "linked_to" | translate }}</td>
      <td style="width: 90px;">{{ "action" | translate }}</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="service in (vm.pagedServices$ | rbAsync:this) track by $index">
      <td class="rb-truncate-cell">
        <span ng-if="service.current_status === 'UnCreated'">{{service.service_name}}</span>
        <a ng-if="service.current_status !== 'UnCreated'"
           href="javascript:void(0)"
           title="{{service.service_name}}"
           ng-href="{{vm.getServiceUrl(service)}}">
          {{service.service_name}}
        </a>
        <span ng-if="service.service_type === 'master'"
              class="service-type">master</span>
      </td>
      <td>
        <span rubick-status-icon status="service.current_status" mode="list" class="service-status"></span>
        <span rubick-status-icon
              class="healthy-status"
              status="(service.healthy_num_instances == service.target_num_instances)?'healthy':'unhealthy'"
              status-text="{{service.healthy_num_instances ? service.healthy_num_instances : 0}}/{{service.target_num_instances}}"
              mode="list">
          </span>
      </td>
      <td>
        <rb-copy-span bind-text="vm.getServiceImageFullName(service)" tooltip="vm.getServiceImageTooltip(service)"></rb-copy-span>
      </td>
      <td>
      <span ng-if="service.custom_instance_size !== undefined">
        {{ service.custom_instance_size.cpu }}{{ "unit_cpu" | translate }}&nbsp;{{ service.custom_instance_size.mem }}{{ "unit_mem" | translate }}
      </span>
        <span ng-if="service.custom_instance_size === undefined">
        {{ service.instance_size | translate }}
      </span>
      </td>
      <td class="rb-truncate-cell" title="{{vm.getServiceLinkDisplay(service)}}">
        <span>{{vm.getServiceLinkDisplay(service) | rbFieldNotAvailable}}</span>
      </td>
      <td>
        <rb-dropdown-menu class="list" rb-title="{{'action' | translate}}">
          <rb-dropdown-menu-item
            ng-click="vm.startService(service);"
            ng-show="vm.buttonIfExpr(service, 'start')"
            rb-disabled="vm.buttonDisabledExpr(service, 'start')">
            <i class="fa fa-play"></i>
            {{ "start" | translate }}
          </rb-dropdown-menu-item>
          <rb-dropdown-menu-item
            ng-click="vm.stopService(service);"
            ng-show="vm.buttonIfExpr(service, 'stop')"
            rb-disabled="vm.buttonDisabledExpr(service, 'stop')">
            <i class="fa fa-stop"></i>
            {{ "stop" | translate }}
          </rb-dropdown-menu-item>
          <rb-dropdown-menu-item
            ng-click="vm.updateService(service)"
            ng-if="vm.buttonIfExpr(service, 'update')"
            rb-disabled="vm.buttonDisabledExpr(service, 'update')">
            <i class="fa fa-pencil"></i>
            {{ "update" | translate }}
          </rb-dropdown-menu-item>
          <rb-dropdown-menu-item
            ng-click="vm.promoteService(service);"
            ng-if="vm.app.type === 'mysql' && service.service_type === 'slave'">
            <i class="fa fa-level-up"></i>
            {{ "app_catalog_promote_to_master" | translate }}
          </rb-dropdown-menu-item>
          <rb-dropdown-menu-item
            ng-click="vm.deleteService(service);"
            ng-if="vm.buttonIfExpr(service, 'delete')"
            rb-disabled="vm.buttonDisabledExpr(service, 'delete')">
            <i class="fa fa-trash-o"></i>
            {{ "delete" | translate }}
          </rb-dropdown-menu-item>
        </rb-dropdown-menu>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Pagination -->
<rb-pagination
  ng-show="vm.pagination.count > vm.pagination.pageSize"
  class="pull-right"
  size="vm.pagination.pageSize"
  total-items="vm.pagination.count"
  on-change="vm.onPageChanged(page)">
</rb-pagination>