<rc-region-badge-option onChangeState="storage.volume"></rc-region-badge-option>
<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{'nav_storage'|translate}}
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_storage_volume'| translate }}
    </ng-container>
  </rc-breadcrumb>
</div>
<div fxLayout="row" class="rc-list-header">
  <button *ngIf="hasVolumeCreatePermission"
          rcButton="primary"
          [disabled]="loading"
          (click)="createVolume()">
    {{'storage_create_volume' | translate}}
  </button>
  <span fxFlex></span>
  <rc-search-input  (onSearch)="search($event)"
                    [loading]="loading"
                    mode="filter"></rc-search-input>
</div>
<div class="table-container" [rcLoadingMask]="loading">
  <rc-table class="rc-primary-table"
            *ngIf="initialized && !loadError"
            [rows]="volumeList"
            [headerHeight]="40"
            [rowHeight]="88"
            emptyMessage="{{emptyMessage | translate}}">
    <rc-table-col name='{{"storage_volume_name"|translate}}' [width]="260">
      <div *rcTableColCell="let volume = row" class="text-truncate">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/volume.svg" alt="">
          <div class="rc-lines">
            <div class="rc-line">
              <ng-container *ngIf="volume.driver_name !== 'hostPath'">
                <a [routerLink]="['/storage/volume/detail', volume.id]" [title]="volume.name">{{volume.name}}</a>
              </ng-container>
              <ng-container *ngIf="volume.driver_name === 'hostPath'">{{volume.name}}</ng-container>
            </div>
            <div class="rc-line" *ngIf="isNewK8s">
              {{'referenced_pv'|translate}}:
              <ng-container *ngIf="volume.pv_uuid">
                <a [routerLink]="['/storage/pv/detail', volume.pv_name]">{{volume.pv_name}}</a>
              </ng-container>
              <ng-container *ngIf="!volume.pv_uuid">-</ng-container>
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col name='{{"status"|translate}}' [width]="140">
      <div *rcTableColCell="let volume = row"><rc-status-badge [status]="volumeStateMap[volume.state]"></rc-status-badge></div>
    </rc-table-col>
    <rc-table-col name='{{"storage_volume_driver_type"|translate}}' [width]=140>
      <div *rcTableColCell="let volume = row">{{ ('storage_volume_driver_type_' + volume.driver_name) | translate }}</div>
    </rc-table-col>
    <rc-table-col name='{{"storage_volume_size"|translate}}' [width]=130>
      <div *rcTableColCell="let volume = row">{{volume.size}}</div>
    </rc-table-col>
    <!-- <rc-table-col name='{{"storage_snapshot"|translate}}'>
      <div *rcTableColCell="let volume = row"
           class="text-truncate"
           [title]="volume.snapshot_id">
        {{volume.snapshot_id}}
      </div>
    </rc-table-col> -->
    <rc-table-col name='{{"service"|translate}}' [width]=200>
      <ng-container *rcTableColCell="let volume = row">
        <div *ngIf="volume.stats.length===1"
             class="text-truncate"
             title="{{volume.stats[0].name}}">
          <a *ngIf="volume.stats[0].name" [href]="volume.stats[0].href">
            {{ volume.stats[0].name }}
          </a>
        </div>
        <div *ngIf="volume.stats.length>1">
          {{volume.stats.length}}
        </div>
      </ng-container>
    </rc-table-col>
    <rc-table-col name='{{"action"|translate}}' [width]=200>
      <div *rcTableColCell="let volume = row" class="text-nowrap">
        <rc-button-menu>
          <button rcButton
                  rcButtonSize="small" 
                  rcButtonMenuDefault
                  *ngIf="volume.canAddSnapshot"
                  [disabled]="volume.isDeleting"
                  (click)="createSnapshot(volume)">
            {{'storage_create_snapshot'|translate}}
          </button>
          <button rcButton
                  rcButtonSize="small" 
                  rcButtonMenuDefault
                  *ngIf="!volume.canAddSnapshot"
                  (click)="viewDetail(volume)"
                  [disabled]="volume.isDeleting">
            {{'view'|translate}}
          </button>
          <button rcMenuButton
                  *ngIf="volume.canAddSnapshot"
                  (click)="viewDetail(volume)"
                  [disabled]="volume.isDeleting">
            {{'view'|translate}}
          </button>
          <button rcMenuButton
                  [disabled]="volume.isDeleting"
                  *ngIf="volume.canDelete"
                  (click)="deleteVolume(volume)">
            {{'delete'|translate}}
          </button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>
  <div class="table-no-data"
        *ngIf="initialized && loadError">
    <div>
      {{ 'storage_data_load_error' | translate }}
    </div>
    <div>
      <button rcButton="primary"
              (click)="loadVolumes()">
        {{ 'refresh' | translate }}
      </button>
    </div>
  </div>
</div>
<div class="rc-list-pagination" *ngIf="initialized&&volumeList.length&&!serviceDetail">
  <rc-pagination [count]="pagination.count"
                 [pageSize]="pagination.pageSize"
                 (pageChanged)="pageChanged($event)"
                 [disabled]="loading">
  </rc-pagination>
</div>
