<!-- 暂时跳转到旧org页面 -->
<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a [routerLink]="['/rbac']">{{ 'rbac' | translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      <a [routerLink]="['/role-template']">{{ 'nav_rbac_role-template' | translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'detail' | translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<ng-container *ngIf="data">

  <!-- basic-info -->
  <section class="basic-info">
    <!-- if official -->
    <div class="official-container" *ngIf="data.official" >
      <img [src]="'/static/images/rbac/sys_' + lang + '.svg'" alt="sys">
      <!-- <i class="official"></i> -->
      <!-- <span>{{ 'rbac_official' | translate }}</span> -->
    </div>

    <h2 class="title">{{ data.official && this.lang.match('en') ? data.display_name_en : data.display_name }}</h2>

    <ul class="fileds">
      <div class="column">
        <li class="creator">
          <span class="fileds-label">{{ 'created_by' | translate }}:</span>
          {{ data.official ? ('rbac_preset' | translate) : data.created_by }}
        </li>
        <li class="created-at">
          <span class="fileds-label">{{ 'created_at' | translate }}:</span>
          {{ data.created_at | rcFormatUtcStr }}
        </li>
      </div>
      <div class="column">
        <li class="updated-at">
          <span class="fileds-label">{{ 'updated_at' | translate }}:</span>
          {{ data.updated_at | rcFormatUtcStr }}
        </li>
        <li class="description">
          <span class="fileds-label">{{ 'description' | translate }}:</span>
          {{ data.description }}
        </li>
      </div>
    </ul>

    <!-- 操作 -->
    <div class="buttons">
      <button [disabled]="!updateEnabled" rcButton="primary" (click)="update(data.uuid)">{{ 'update' | translate }}</button>
      <rc-button-menu>
        <button [disabled]="!createRoleEnabled" rcButton rcButtonMenuDefault (click)="createRole(data.uuid)">{{ 'rbac_create_role_use_temp' | translate }}</button>
        <button [disabled]="!createEnabled" rcMenuButton (click)="duplicate(data.uuid)">{{ 'duplicate' | translate }}</button>
        <button [disabled]="!deleteEnabled" rcMenuButton (click)="delete(data.uuid, ((data.official && this.lang.match('en')) ? data.display_name_en : data.display_name))" >{{ 'delete' | translate }}</button>
      </rc-button-menu>
    </div>
  </section>

  <!-- 批量设置的约束条件 -->
  <section class="constraints">
    <div class="placeholder"></div>
    <rc-form-field label="{{'rbac_template_scope' | translate}}">
      <input rcInput type="text" [ngModel]="scope" [disabled]="true">
      <span rcFormAddon><i class="fa fa-question-circle"
                           [rcTooltip]="'rbac_template_constraints_hint' | translate"
                           [rcTooltipInline]="false"
                           rcTooltipPosition="top"
                           rcTooltipMode="info"></i></span>
    </rc-form-field>
    <div class="placeholder"></div>
  </section>

  <!-- 权限内容 -->
  <section class="content">
    <div class="rb-header-alt">
      {{ 'rbac_content' | translate }}
      <i class="fa fa-question-circle"
         [rcTooltip]="contentTip[lang]"
         [rcTooltipInline]="false"
         rcTooltipMode="info"></i>
    </div>
    <!-- table -->
    <rc-table *ngIf="data"
              #permissionsTable class="rc-primary-table"
              [columnMode]="'force'"
              [headerHeight]="40"
              [rowHeight]="40"
              [rows]="permissionsCatalog">

      <rc-table-col [width]="30"
                    [resizeable]="false"
                    [sortable]="false"
                    [draggable]="false"
                    [canAutoResize]="false">
        <ng-template rcTableColCell let-row="row" let-rindex="rowIndex" let-expanded="expanded">
          <a
            class="rc-table-row-expand"
            href="javascript:void(0)"
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            (click)="toggleExpandRow(row, rindex)">
            <i class="fa fa-angle-right"></i>
          </a>
        </ng-template>
      </rc-table-col>
      <rc-table-col [resizeable]="false"
                    [sortable]="false"
                    name="{{ 'type' | translate }}">
        <div *rcTableColCell="let rowData = row">
          <div class="rc-resource-name-cell">
            <div class="rc-lines">
              {{ rowData.type | translate }} {{ translateTypes(rowData.type) }}
            </div>
          </div>
        </div>
      </rc-table-col>
      <rc-table-col [resizeable]="false"
                    [sortable]="false"
                    name="{{ 'resource_type' | translate }}">
        <div *rcTableColCell="let rowData = row">
          <div class="rc-resource-name-cell">
            <div class="rc-lines"></div>
          </div>
        </div>
      </rc-table-col>
      <rc-table-col [resizeable]="false"
                    [sortable]="false"
                    name="{{ 'action' | translate }}">
        <div *rcTableColCell="let rowData = row">
          <div class="rc-resource-name-cell">
            <div class="rc-lines"></div>
          </div>
        </div>
      </rc-table-col>
      <rc-table-col [resizeable]="false"
                    [sortable]="false"
                    name="{{ 'constraints' | translate }}">
        <div *rcTableColCell="let rowData = row">
          <div class="rc-resource-name-cell">
            <div class="rc-lines"></div>
          </div>
        </div>
      </rc-table-col>
      <rc-table-col [resizeable]="false"
                    [sortable]="false"
                    name="{{ 'resource_name' | translate }}">
        <div *rcTableColCell="let rowData = row">
          <div class="rc-resource-name-cell">
            <div class="rc-lines"></div>
          </div>
        </div>
      </rc-table-col>

      <rc-table-row-detail [rowHeight]="'auto'">
        <ng-template rcTableRowDetailTemplate let-row="row">
          <!-- 子列表 -->
          <table class="secondary-table">
            <tbody>
              <tr *ngFor="let key of keys(permissionsCatalogMap[row.type])"
                  [hidden]="!_.intersection(keys(permissionsMap), permissionsCatalogMap[row.type][key]).length">
                <td>{{ key | translate }}</td>
                <table class="third-table">
                  <tr *ngFor="let type of permissionsCatalogMap[row.type][key]"
                      [hidden]="!permissionsMap[type]">
                    <td>{{ type | translate }}</td>
                    <td>{{ (permissionsMap[type] ? permissionsMap[type].actions : []) | rcActionsToTranslateKeys: actionsMap[type] }}</td>
                    <td>
                      <div *ngFor="let constraint of (permissionsMap[type] ? permissionsMap[type].constraints : []); let i = index;"
                           class="constraint">
                        <div *ngFor="let key of keys(constraint)">
                          {{ (key.split(':')[1] | translate) + ': ' + (constraint[key] || '-') }}
                        </div>
                        <hr *ngIf="permissionsMap[type].constraints.length - 1 !== i">
                      </div>
                      <span *ngIf="permissionsMap[type] && !permissionsMap[type].constraints.length">{{ 'rbac_not_set' | translate }}</span>
                    </td>
                    <td>
                      <ng-container *ngIf="permissionsMap[type]">
                        <ng-container *ngIf="permissionsMap[type].resource.includes('*') || !permissionsMap[type].resource.length">
                          {{ 'rbac_any' | translate }}
                        </ng-container>
                        <ng-container *ngIf="!permissionsMap[type].resource.includes('*') && permissionsMap[type].resource.length">
                          <div class="resource" *ngFor="let resourceName of permissionsMap[type].resource" [title]="resourceName">
                            {{ resourceName }}
                          </div>
                        </ng-container>
                      </ng-container>
                    </td>
                  </tr>
                </table>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </rc-table-row-detail>
    </rc-table>
  </section>

</ng-container>
