@import 'colors.styles';
@import 'mixins';

:host {
  width: 100%;
}

.basic-info {
  position: relative;
  overflow: hidden;
  padding: 20px 30px;
  background-color: $card-background-color;
  border-radius: 5px;
  box-shadow: $rb-gray-light-shadow;
  margin-bottom: 20px;
  > .official-container {
    position: absolute;
    left: 0;
    top: 0;
    .official {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 35px 50px 0 0;
      border-color: $button-primary-border-color transparent transparent
        transparent;
    }
    span {
      user-select: none;
      white-space: nowrap;
      transform: rotateZ(-35deg);
      color: $button-primary-text-color;
      line-height: 28px;
      text-indent: 4px;
      font-size: 12px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .fileds {
    .column {
      @extend %clearfix;
      li {
        float: left;
        list-style: none;
        color: $card-text-color;
        margin-bottom: 8px;
        .fileds-label {
          color: $card-label-color;
          margin-right: 3px;
        }
        &:first-child {
          width: 40%;
        }
      }
    }
  }
  .buttons {
    display: flex;
    position: absolute;
    right: 30px;
    top: 20px;
    > ::ng-deep button {
      margin-right: 8px;
    }
  }
  ::ng-deep {
    .rc-form-panel {
      border: none;
      border-radius: 8px 8px 0 0;
      box-shadow: $rb-gray-light-shadow;
    }
  }
}

.constraints {
  padding: 50px 8px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  background-color: $card-background-color;
  box-shadow: $rb-gray-light-shadow;
  .placeholder {
    flex: 20;
  }
  rc-form-field {
    flex: 30;
    ::ng-deep label {
      width: auto;
    }
  }
}

.fa-question-circle {
  color: $blue-6;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.content {
  border-radius: 0 0 8px 8px;
  box-shadow: $rb-gray-light-shadow;
  background-color: $card-background-color;
  padding: 20px 40px;
  .rb-header-alt {
    margin: 0;
    padding-bottom: 20px;
    .fa-question-circle {
      margin-left: 8px;
    }
  }
  .rc-primary-table {
    border: 2px solid $table-border-color;
    border-bottom: none;
  }
  ::ng-deep {
    .datatable-header,
    .datatable-body-row,
    .rc-row-wrapper-expanded {
      border-bottom: 2px solid $table-border-color;
      margin-bottom: 0;
    }
    .datatable-row-detail {
      background-color: $table-second-background-color;
      margin: 0 !important;
    }
    .secondary-table {
      width: 100%;
      > tbody {
        > tr {
          border-bottom: 2px solid $table-border-color;
          display: flex;
          > td {
            padding: 0.9rem 1.2rem;
            box-sizing: border-box;
            flex: 1;
            display: flex;
            align-items: center;
            text-indent: 3rem;
            overflow: hidden;
          }
          .third-table {
            position: relative;
            display: flex;
            flex: 4;
            > tbody {
              width: 100%;
              > tr {
                display: flex;
                > td {
                  max-width: 400px;
                  text-overflow: ellipsis;
                  flex: 1;
                  padding: 0.9rem 1.2rem;
                  box-sizing: border-box;
                  overflow: hidden;
                  align-self: center;
                  .constraint {
                    width: 100%;
                  }
                  .resource {
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  hr {
                    margin: 10px 0;
                  }
                }
              }
              > tr:not(:last-child) {
                border-bottom: 2px solid $table-border-color;
              }
            }
          }
        }
      }
    }
    .rc-primary-table {
      > .ngx-datatable {
        .datatable-body {
          .datatable-row-wrapper:hover,
          .datatable-row-wrapper.rc-row-wrapper-expanded {
            background-color: $card-background-color;
          }
          .datatable-row-wrapper {
            margin-bottom: 0;
            > .datatable-body-row {
              .datatable-body-cell {
                overflow: visible;
              }
            }
          }
        }
      }
    }
  }
}
