// Global variables

$root-font-size: 10px !default;
$unit-space: 4px !default;

// Named colors
$blue: #009ce3 !default;
$green: #1bb393 !default;
$orange: #f8ac58 !default;
$red: #eb6262 !default;
$black: #000 !default;
$white: #fff !default;
$neutral: #1b1e24 !default;

// Grays
$gray-10: darken($white, 10); // #e6e6e6
$gray-20: darken($white, 20); // #cccccc
$gray-30: darken($white, 30); // #b3b3b3
$gray-40: darken($white, 40); // #999999
$gray-50: darken($white, 50); // #808080
$gray-60: darken($white, 60); // #666666
$gray-70: darken($white, 70); // #4d4d4d
$gray-80: darken($white, 80); // #333333
$gray-90: darken($white, 90); // #1a1a1a

// Theme colors
$color-primary: $blue !default;
$color-success: $green !default;
$color-warning: $orange !default;
$color-error: $red !default;
$color-info: $gray-20 !default;
$color-explanation: #c1c4c6 !default;
$color-white: $white !default;
$color-black: $black !default;

$color-interval: 10% !default;
// Mixed colors
$color-primary-light: cmix($color-primary, -6);
$color-success-light: cmix($color-success, -6);
$color-warning-light: cmix($color-warning, -6);
$color-error-light: cmix($color-error, -6);
$color-info-light: cmix($color-info, -6);

$color-primary-lighter: cmix($color-primary, -7);
$color-success-lighter: cmix($color-success, -7);
$color-warning-lighter: cmix($color-warning, -7);
$color-error-lighter: cmix($color-error, -7);
$color-info-lighter: cmix($color-info, -7);

$color-primary-extra-light: cmix($color-primary, -9);
$color-success-extra-light: cmix($color-success, -9);
$color-warning-extra-light: cmix($color-warning, -9);
$color-error-extra-light: cmix($color-error, -9);
$color-info-extra-light: cmix($color-info, -9);

$color-primary-dark: cmix($color-primary, 1);
$color-success-dark: cmix($color-success, 1);
$color-warning-dark: cmix($color-warning, 1);
$color-error-dark: cmix($color-error, 1);
$color-info-dark: cmix($color-info, 1);

$color-primary-darker: cmix($color-primary, 2);
$color-success-darker: cmix($color-success, 2);
$color-warning-darker: cmix($color-warning, 2);
$color-error-darker: cmix($color-error, 2);
$color-info-darker: cmix($color-info, 2);

// Text
$color-text-primary: $color-primary;
$color-text-success: $color-success;
$color-text-warning: $color-warning;
$color-text-error: $color-error;
$color-text-main: $gray-80;
$color-text-secondary: $gray-60;
$color-text-help: $gray-40;
$color-text-placeholder: $gray-20;
$color-disabled-bg: darken($color-white, 95%);
$color-text-link: $color-primary;

// Font
$font-size-extra-large: 20px;
$font-size-larger: 18px;
$font-size-large: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;

$font-weight-bold: 500;
$font-weight-normal: 400;

$line-height-extra-large: 28px;
$line-height-larger: 24px;
$line-height-large: 22px;
$line-height-regular: 20px;
$line-height-small: 16px;

// Height
$height-large: 40px;
$height-medium: 32px;
$height-small: 28px;
$height-mini: 24px;

// Border
$border-radius: 2px;
$border-width: 1px;
$border-style: solid;

// Outline
$outline-width: 3px;
$outline-color-primary: $color-primary-light;
$outline-color-success: $color-success-light;
$outline-color-warning: $color-warning-light;
$outline-color-error: $color-error-light;
$outline-color-info: $color-info-light;

// Layout
$layout-background-main: #f4f4f4;
$layout-header-height: 48px;
$layout-page-header-height: 44px;
$layout-nav-drawer-header-background: #0389c7;
$layout-nav-drawer-width: 200px;
$layout-nav-toolbar-background-color: #009ce3;
$layout-container-padding: 20px;

// Button
$button-border-style: $border-style;
$button-border-radius: $border-radius;
$button-border-width: $border-width;

$button-large-height: $height-large;
$button-large-font-size: $font-size-large;
$button-large-padding-hoz: 20px;

$button-medium-height: $height-medium;
$button-medium-font-size: $font-size-regular;
$button-medium-padding-hoz: 16px;

$button-small-height: $height-small;
$button-small-font-size: $font-size-regular;
$button-small-padding-hoz: 12px;

$button-mini-height: $height-mini;
$button-mini-font-size: $font-size-small;
$button-mini-padding-hoz: 8px;

$button-default-content: $color-text-main;
$button-default-content-hover: $color-primary;
$button-default-content-active: $color-primary;
$button-default-content-focus: $color-text-main;
$button-default-content-disabled: $color-info;
$button-default-bg: $color-white;
$button-default-bg-hover: $color-primary-extra-light;
$button-default-bg-active: $color-primary-extra-light;
$button-default-bg-focus: $color-white;
$button-default-bg-disabled: $color-disabled-bg;
$button-default-border: $color-info;
$button-default-border-hover: $color-primary;
$button-default-border-active: $color-primary;
$button-default-border-focus: $color-primary;
$button-default-border-disabled: $color-info;

$button-primary-content: $color-white;
$button-primary-content-hover: $color-white;
$button-primary-content-active: $color-white;
$button-primary-content-focus: $color-white;
$button-primary-content-disabled: $color-white;
$button-primary-bg: $color-primary;
$button-primary-bg-hover: $color-primary-dark;
$button-primary-bg-active: $color-primary-darker;
$button-primary-bg-focus: $color-primary;
$button-primary-bg-disabled: $color-primary-lighter;
$button-primary-border: $color-primary;
$button-primary-border-hover: $color-primary-dark;
$button-primary-border-active: $color-primary-darker;
$button-primary-border-focus: $color-primary;
$button-primary-border-disabled: $color-primary-lighter;

$button-success-content: $color-white;
$button-success-content-hover: $color-white;
$button-success-content-active: $color-white;
$button-success-content-focus: $color-white;
$button-success-content-disabled: $color-white;
$button-success-bg: $color-success;
$button-success-bg-hover: $color-success-dark;
$button-success-bg-active: $color-success-darker;
$button-success-bg-focus: $color-success;
$button-success-bg-disabled: $color-success-lighter;
$button-success-border: $color-success;
$button-success-border-hover: $color-success-dark;
$button-success-border-active: $color-success-darker;
$button-success-border-focus: $color-success;
$button-success-border-disabled: $color-success-lighter;

$button-warning-content: $color-white;
$button-warning-content-hover: $color-white;
$button-warning-content-active: $color-white;
$button-warning-content-focus: $color-white;
$button-warning-content-disabled: $color-white;
$button-warning-bg: $color-warning;
$button-warning-bg-hover: $color-warning-dark;
$button-warning-bg-active: $color-warning-darker;
$button-warning-bg-focus: $color-warning;
$button-warning-bg-disabled: $color-warning-lighter;
$button-warning-border: $color-warning;
$button-warning-border-hover: $color-warning-dark;
$button-warning-border-active: $color-warning-darker;
$button-warning-border-focus: $color-warning;
$button-warning-border-disabled: $color-warning-lighter;

$button-error-content: $color-white;
$button-error-content-hover: $color-white;
$button-error-content-active: $color-white;
$button-error-content-focus: $color-white;
$button-error-content-disabled: $color-white;
$button-error-bg: $color-error;
$button-error-bg-hover: $color-error-dark;
$button-error-bg-active: $color-error-darker;
$button-error-bg-focus: $color-error;
$button-error-bg-disabled: $color-error-lighter;
$button-error-border: $color-error;
$button-error-border-hover: $color-error-dark;
$button-error-border-active: $color-error-darker;
$button-error-border-focus: $color-error;
$button-error-border-disabled: $color-error-lighter;

$button-info-content: $color-white;
$button-info-content-hover: $color-white;
$button-info-content-active: $color-white;
$button-info-content-focus: $color-white;
$button-info-content-disabled: $color-white;
$button-info-bg: $color-info;
$button-info-bg-hover: $color-info-dark;
$button-info-bg-active: $color-info-darker;
$button-info-bg-focus: $color-info;
$button-info-bg-disabled: $color-info-lighter;
$button-info-border: $color-info;
$button-info-border-hover: $color-info-dark;
$button-info-border-active: $color-info-darker;
$button-info-border-focus: $color-info;
$button-info-border-disabled: $color-info-lighter;

$text-button-padding-hoz: 4px;
$text-button-large-height: 24px;
$text-button-large-font-size: 18px;
$text-button-medium-height: 22px;
$text-button-medium-font-size: 16px;
$text-button-small-height: 20px;
$text-button-small-font-size: 14px;
$text-button-mini-height: 16px;
$text-button-mini-font-size: 12px;

// Table
$table-border-width: 1px;
$table-header-row-height: 42px;
$table-row-horizontal-padding: 8px;
$table-row-vertical-padding: 12px;

$table-header-row-bg: #fafafa;
$table-header-row-border-color: #eee;
$table-header-row-color: #333;
$table-row-border-color: #eee;
$table-row-bg: #fff;
$table-row-color: #333;
$table-font-size-base: 14px;

// Sort
$sort-indicator-color: #ccc;
$sort-indicator-color-active: #2c2f36;
$sort-indicator-size: 4px;
$sort-indicator-margin: 4px;

// Nav
$nav-background-color-main: #1b1e24;
$nav-background-color-secondary: #2c2f36;
$nav-text-color: $color-white;
$nav-text-height: 14px;
$nav-text-line-height: 20px;
$nav-text-inactive-opacity: 0.6;
$nav-item-label-padding: 10px 14px;
$nav-item-label-nested-padding: 6px 14px;
$nav-item-ext-padding: 4px 0;
$nav-item-ext-toggle-icon-size: 16px;

// 导航高亮指示标记
$nav-active-indicator-color: #009ce3;
$nav-active-indicator-width: 4px;
$button-info-border-light: $color-info;
$button-info-border-dark: $color-info;

// Code editor
$code-editor-min-height: 400px;
$code-editor-border: $border-width $border-style #dddddd;
$code-editor-toolbar-padding: 0 20px;
$code-editor-toolbar-height: 40px;
$code-editor-toolbar-icon-size: 16px;
$code-editor-toolbar-font-size: 14px;
$code-editor-toolbar-control-margin: 4px;
$code-editor-toolbar-background: #f7f7f7;
$code-editor-toolbar-background-dark: #333333;
$code-editor-toolbar-color-dark: #fff;
$code-editor-toolbar-inactive-opacity: 0.6;

// Tooltip
$tooltip-border-width: $border-width;
$tooltip-border-radius: $border-radius;
$tooltip-font-size: $font-size-regular;
$tooltip-padding-hoz: 8px;
$tooltip-padding-ver: 2px;
$tooltip-offset: 6px;

$tooltip-default-border: $color-black;
$tooltip-default-bg: $color-black;
$tooltip-default-text: $color-white;

$tooltip-primary-border: $color-primary;
$tooltip-primary-bg: $color-white;
$tooltip-primary-text: $color-primary;

$tooltip-success-border: $color-success;
$tooltip-success-bg: $color-white;
$tooltip-success-text: $color-success;

$tooltip-warning-border: $color-warning;
$tooltip-warning-bg: $color-white;
$tooltip-warning-text: $color-warning;

$tooltip-error-border: $color-error;
$tooltip-error-bg: $color-white;
$tooltip-error-text: $color-error;

// Dialog
$dialog-backdrop-color: rgba(0, 0, 0, 0.3);
$dialog-bg-color: $color-white;
$dialog-border-radius: $border-radius;

$dialog-small-width: 420px;
$dialog-medium-width: 600px;
$dialog-big-width: 800px;
$dialog-large-width: 960px;
$dialog-fullscreen-width: 90vw;
$dialog-fullscreen-height: 90vh;

$dialog-header-font-size: $font-size-extra-large;
$dialog-header-line-height: $line-height-extra-large;
$dialog-header-color: $color-text-main;

$dialog-content-min-height: 286px;

$dialog-header-padding: 24px;
$dialog-content-padding: 24px;
$dialog-footer-padding: 24px;
$dialog-bottom-margin: 50px;

// Radio
$radio-duration: 0.3s;
$default-size: 14px;
$default-line-height: 20px;

$default-color: #ccc;
$checked-color: $color-primary;
$radio-content-color: #333;

//switch
$switch-duration: 0.3s;
$switch-background-color: #ccc;
$switch-border-color: #ccc;
$switch-checked-color: #009ce3;
$switch-box-shadow-color: rgba(0, 0, 0, 0.4);
$switch-disabled-bg-color: #f2f2f2;
$switch-checked-disabled-bg-color: #b3e1f6;
$switch-bar-width: 30px;
$switch-bar-height: 16px;
$switch-bar-focus-shadow: #b3d4ff;

$default-border-color: #ccc;
$disabled-border-color: #ccc;
$hover-border-color: $color-primary;
$focus-border-color: #b3d4ff;

$checked-bg-color: $color-primary;
$disabled-bg-color: #f2f2f2;
$checked-inner-bg-color: #fff;

$radio-medium-label-padding: 6px 16px;
$radio-small-label-padding: 4px 12px;

// Checkbox
$checkbox-label-margin-right: 8px;
$checkbox-margin-right: 20px;

// Toast
$toast-z-index: 1001;
$toast-close-color: #e2e2e2;
$alerts-wrapper-top: 20px;
$alerts-wrapper-right: 0;

$messages-wrapper-left: 50%;
$messages-wrapper-top: 36px;

// Input
$input-padding-hoz: 8px;
$input-border-radius: $border-radius;
$input-border-width: $border-width;
$input-border-style: $border-style;
$input-border-color: $color-info;
$input-border-color-primary: $color-primary;
$input-border-color-error: $color-error;
$input-color: $color-text-main;
$input-placeholder-color: $color-text-placeholder;
$input-bg-color: $color-white;
$input-bg-color-disabled: $color-disabled-bg;

$input-large-height: $height-large;
$input-large-font-size: $font-size-large;
$input-medium-height: $height-medium;
$input-medium-font-size: $font-size-regular;
$input-small-height: $height-small;
$input-small-font-size: $font-size-regular;
$input-mini-height: $height-mini;
$input-mini-font-size: $font-size-small;

// Select
$select-width: 260px;
$select-options-padding: $input-padding-hoz;
$select-options-max-height: 300px;

// Tag
$tag-border-width: $border-width;
$tag-border-radius: $border-radius;
$tag-border-style: $border-style;
$tag-padding-hoz: 8px;
$tag-max-width: 300px;

$tag-primary-color: $color-primary;
$tag-primary-bg-color: $color-primary-extra-light;
$tag-success-color: $color-success;
$tag-success-bg-color: $color-success-extra-light;
$tag-warning-color: $color-warning;
$tag-warning-bg-color: $color-warning-extra-light;
$tag-error-color: $color-error;
$tag-error-bg-color: $color-error-extra-light;
$tag-info-color: $color-info;
$tag-info-bg-color: $color-info-extra-light;

$tag-large-height: $height-medium;
$tag-large-font-size: $font-size-regular;
$tag-medium-height: $height-small;
$tag-medium-font-size: $font-size-regular;
$tag-small-height: $height-mini;
$tag-small-font-size: $font-size-small;
$tag-mini-height: 20px;
$tag-mini-font-size: $font-size-small;
