@import '_colors.palette.scss';
@import '_colors.styles';

@mixin toc-link-separator {
  display: block;
  content: '';
  background-color: #999;
  width: 2px;
  height: 20px;
  transform: translateX(-50%);
}

@mixin toc-link {
  color: #777;
  display: flex;
  align-items: center;
  word-break: break-all;
  &:focus {
    text-decoration: none;
  }
  &.active {
    font-weight: 600;
    color: #4d4d4d;
    &::before {
      background-color: #4d4d4d;
    }
  }
  .link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
  }
}

:host {
  display: block;
  height: 100%;
  .service-form-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  ul {
    list-style: none;
    margin: 0;
  }
  ul.toc-links {
    width: 175px;
    height: calc(100% - 61px);
    position: absolute;
    top: 0;
    left: 30px;
    padding: 30px 16px 16px;
    overflow: auto;
    > li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      > a {
        @include toc-link;
        font-size: 14px;
        width: 100%;
        display: flex;
        align-items: center;
        .link-label {
          margin-left: -4px;
        }
        .link-remove {
          display: none;
          margin-left: 4px;
          width: 16px;
          height: 16px;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease;
          color: #ccc;
          font-size: 14px;
          &:focus {
            text-decoration: none;
          }
          &:hover {
            color: $button-default-hover-border-color;
          }
        }
        &:hover {
          .link-remove {
            display: flex;
          }
        }
        .link-icon {
          flex-shrink: 0;
          transform: translateX(-50%);
          transition: all 0.2s ease-in;
        }
        .icon-service {
          color: $blue-6;
          border-color: $blue-6;
          border-radius: 50%;
          background-color: #fff;
        }
        .icon-container {
          color: $green-6;
        }
        .icon-add {
          border-style: dashed;
          border-color: #999;
        }
      }
      > a.active {
        .icon-service {
          color: #fff;
          background-color: $blue-6;
        }
        .icon-container {
          color: #fff;
          background-color: $green-6;
        }
        .icon-preview {
          color: #fff;
          background-color: $blue-6;
        }
      }
      > .link-separator {
        @include toc-link-separator;
      }
    }
    .secondary-links {
      li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a {
          @include toc-link;
          font-size: 12px;
          &::before {
            display: block;
            content: '';
            background-color: #999;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            transform: translateX(-50%);
            margin-right: 12px;
            transition: all 0.2s ease-in;
          }
        }
        &::after {
          @include toc-link-separator;
        }
      }
    }

    > li:not(.disabled) {
      a:hover {
        color: $blue-6;
      }
    }

    > li.disabled {
      opacity: 0.3;
      a {
        cursor: default;
      }
    }
  }
  // ::ng-deep .rc-service-pod-wrap:last-child {
  //   height: calc(100% - 16px);
  //   rc-service-container-fields {
  //     height: calc(100% - 16px);
  //     .toc-form-group:last-child {
  //       min-height: calc(100% - 16px);
  //     }
  //   }
  // }
}
