<div>
  <div rb-loading-mask="vm.submitting">
    <img class="org-user-logo"
         ng-src="{{vm.filePath}}"
         alt=""
         style="margin-bottom:5px;">
  </div>
  <input type="file"
         name="logo_file"
         class="ui button rb-btn-default hidden org-logo-choose-file">
  <div ng-if="vm.canEdit && !vm.preview"
       class="text-center">
    <a class="org-edit-logo"
       href="javascript:void(0);"
       style="font-size:12px;">{{ "update_user_logo" | translate }}</a>
  </div>
  <div ng-if="vm.preview"
       class="text-center">
    <button class="ui button tiny rb-btn-default"
            ng-click="vm.cancelUpdate();"
            ng-disabled="vm.submitting">{{ 'cancel' | translate }}
    </button>
    <button class="ui button tiny rb-btn-primary"
            ng-click="vm.update()"
            ng-disabled="vm.submitting">{{ 'save' | translate }}
    </button>
  </div>
</div>