<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_storage' | translate }}
    </ng-container>
    <a *rcBreadcrumbItem
       routerLink="/storage/storageclass">
      {{ 'nav_storageclass' | translate }}
    </a>
    <ng-container *rcBreadcrumbItem>
      {{ name }}
    </ng-container>
  </rc-breadcrumb>
</div>
<div class="content" [rcLoadingMask]="loading">
  <div class="rc-detail-container" *ngIf="initialized && !loadError">
    <img src="/static/images/icon/system_cn.svg" class="label-system" *ngIf="isSystem&&lang==='zh_cn'">
    <img src="/static/images/icon/system_en.svg" class="label-system" *ngIf="isSystem&&lang==='en'">
    <div class="detail-icon">
      <img src="/static/images/resource/pvc.svg" alt="">
    </div>
    <div class="detail-wrapper">
      <div class="detail-header">
        <h3>{{storageClass.kubernetes.metadata.name}}</h3>
        <div class="detail-buttons" fxLayout>
          <button rcButton="primary" 
                  rcButtonSize="small" 
                  (click)="setDefault()" 
                  *ngIf="canUpdate"
                  [disabled]="inAction">{{(isDefault?'cancel_default_storageclass':'set_default_storageclass')|translate}}</button>
          <button rcButton 
                  rcButtonSize="small" 
                  *ngIf="canDelete  && !isSystem"
                  (click)="delete()" 
                  [disabled]="inAction">{{"delete" | translate}}</button>
        </div>
      </div>
      <div class="detail-content">
        <div class="detail-item">
          <label>{{'storageclass_type' | translate}}</label>
          <div>{{storageClassType}}</div>
        </div>
        <div class="detail-item">
          <label>{{'created_at' | translate}}</label>
          <div>{{storageClass.kubernetes.metadata.creationTimestamp | rcFormatUtcStr}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rc-detail-tab">
  <rc-tab-group *ngIf="initialized && !loadError">
    <ng-container *rcTab="'yaml_file' | translate">
      <rc-code-editor 
        mode="yaml"
        [ngModel]="storageClassYaml"
        [readOnly]="true">
      </rc-code-editor>
    </ng-container>
    <!--事件-->
    <ng-container *rcTab="'events' | translate">
      <rc-event-list type="k8s_storageclasses" [primaryKey]="storageClass.kubernetes.metadata.uid"></rc-event-list>
    </ng-container>
  </rc-tab-group>
</div>