<div class="modal-wrapper">
  <div class="main-container">
    <div class="field-row">
      <label>{{ 'cluster' | translate }}</label>
      <div>{{ clusterName$ | async }}</div>
    </div>
    <div class="field-row">
      <label>{{ 'namespace' | translate }}</label>
      <div>{{ clusterNamespace.kubernetes.metadata.name }}</div>
    </div>
    <div class="field-row">
      <label>{{ 'name' | translate }}</label>
      <div>{{ resourceQuota.kubernetes.metadata.name }}</div>
    </div>
    <div class="field-row">
      <label>{{ 'compose_file' | translate }}</label>
      <div class="code-editor">
        <rc-code-editor mode="yaml"
                        [readOnly]="true"
                        [value]="quotaInfo"></rc-code-editor>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button rcButton
            (click)="closeModal()">{{ 'close' | translate }}</button>
  </div>
</div>
