<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_cluster' | translate }}
    </ng-container>
    <a *rcBreadcrumbItem
       routerLink="/cluster/namespace">
      {{ 'nav_namespace' | translate }}
    </a>
    <ng-container *rcBreadcrumbItem>
      {{ (quotaName ? 'update_quota' : 'create_quota') | translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<rc-inline-notification type="info"
                        closable='true'
                        [content]="'cluster_namespace_quota_tips' | translate">
</rc-inline-notification>

<form #form="ngForm">
  <rc-loading-mask [loading]="loading"></rc-loading-mask>
  <div *ngIf="!loading"
       class="fields-wrapper">
    <div class="fields-header clearfix">
      {{ (quotaName ? 'update_quota' : 'create_quota') | translate }}
      <a *ngIf="uiMode && !quotaName"
         class="pull-right"
         [routerLink]="['/cluster/namespace/create-quota', clusterId, namespace]"
         [replaceUrl]="true">{{ 'enter_custom_creation_mode' | translate }}</a>
    </div>
    <div class="fields">
      <ng-container *ngIf="uiMode">
        <rc-form-field [label]="'resource_quota_cpu' | translate">
          <input rcInput
                 name="cpu"
                 type="number"
                 [(ngModel)]="resourceQuota.spec.hard['requests.cpu']">
          <span rcFormSuffix>{{ 'unit_cpu' | translate }}</span>
        </rc-form-field>
        <rc-form-field [label]="'resource_quota_memory' | translate">
          <input rcInput
                 name="memory"
                 type="number"
                 [(ngModel)]="resourceQuota.spec.hard['requests.memory']">
          <span rcFormSuffix>G</span>
        </rc-form-field>
        <rc-form-field [label]="'resource_quota_storage' | translate">
          <input rcInput
                 name="storage"
                 type="number"
                 [(ngModel)]="resourceQuota.spec.hard['requests.storage']">
          <span rcFormSuffix>G</span>
        </rc-form-field>
        <rc-form-field [label]="'pods_num' | translate">
          <input rcInput
                 name="pods"
                 type="number"
                 [(ngModel)]="resourceQuota.spec.hard.pods">
          <span rcFormSuffix>{{ 'ge' | translate }}</span>
        </rc-form-field>
        <rc-form-field [label]="'pvc_num' | translate">
          <input rcInput
                 name="persistentvolumeclaims"
                 type="number"
                 [(ngModel)]="resourceQuota.spec.hard.persistentvolumeclaims">
          <span *ngIf="'ge' | translate"
                rcFormSuffix>{{ 'ge' | translate }}</span>
        </rc-form-field>
      </ng-container>
      <ng-container *ngIf="!uiMode">
        <rc-form-field [label]="'cluster' | translate">
          <input rcInput
                 type="hidden"> {{ clusterName$ | async }}
        </rc-form-field>
        <rc-form-field [label]="'namespace' | translate">
          <input rcInput
                 type="hidden"> {{ namespace }}
        </rc-form-field>
        <rc-form-field [label]="'compose_file' | translate"
                       [shouldFlexRow]="true">
          <rc-code-editor mode="yaml"
                          [value]="yaml"
                          (change)="yamlChanged($event)"
                          required> </rc-code-editor>
        </rc-form-field>
      </ng-container>
    </div>
  </div>
  <div class="form-footer">
    <button rcButton="primary"
            [disabled]="loading || submitting"
            (click)="confirm()">{{ ( quotaName ? 'update' : 'create' ) | translate }}</button>
    <button rcButton
            [disabled]="loading || submitting"
            (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</form>
