.modal-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-container {
  flex: 1;
  padding-top: 12px;
  overflow-y: auto;
}

.field-row {
  display: flex;
  padding: 8px 20px;

  > label {
    flex-basis: 80px;
    padding-right: 20px;
    text-align: right;
  }

  > :last-child {
    flex: 1;
  }

  .code-editor {
    min-height: 500px;
  }

  rc-code-editor {
    height: 100%;
  }
}
