.fields-wrapper {
  margin-bottom: 80px;
  padding: 0 20px;
  border-radius: 3px;
  background-color: #fff;
}

.fields-header {
  padding: 12px 0;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
  font-size: 18px;

  > a {
    font-size: 14px;
    line-height: 25px;
  }
}

.fields {
  padding: 0 80px;

  ::ng-deep .form-input-suffix {
    background-color: #f0f0f0;
  }

  rc-code-editor {
    flex: 1;
  }
}

.form-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.9;

  button + button {
    margin-right: 8px;
  }
}
