<div class="rb-form-panel">
  <div class="rb-form-container">

    <rb-job-config-form-basic
      image-info="vm.imageInfo"
      init="vm.basicModelInit"
      mode="'UPDATE'">
    </rb-job-config-form-basic>

    <div class="rb-form-fieldset-interval"></div>

    <rb-job-config-form-advanced
      init="vm.advancedModelInit"
      mode="'UPDATE'">
    </rb-job-config-form-advanced>
  </div>

  <!-- Bottom Buttons -->
  <div class="rb-form-footer">
    <div flex="25"></div>
    <button class="ui button rb-btn-primary"
            ng-class="{ loading: vm.updating }"
            ng-disabled="vm.shouldDisableSubmit()"
            ng-click="vm.update()">
      {{ "save" | translate }}
    </button>

    <button class="ui button rb-btn-default"
            style="margin-left: 10px;"
            ng-click="vm.cancel()">
      {{ "cancel" | translate }}
    </button>
  </div>
</div>
