<div class="rb-form-panel" rb-loading-mask="vm.loading">
  <div class="rb-form-container">
      <rb-service-labels-control
        ng-model="vm.model.labels"
        keys="vm.labelKeys"
        values="vm.labelValues"
      ></rb-service-labels-control>
  </div>
  <div class="rb-form-footer">
    <span ng-if="vm.propagateChanged()" style="color: #c46a69;">{{ 'service_affinity_need_restart' | translate }}</span>
    <div class="rb-form-footer-buttons">
      <button
        type="button"
        class="ui button rb-btn-default"
        ng-click="vm.cancel()"
      >
        {{'cancel' | translate}}
      </button>
      <button
        type="submit"
        class="ui button rb-btn-primary"
        ng-click="vm.submit()"
        ng-disabled="vm.form.$invalid || vm.submiting"
      >
        {{ 'update' | translate }}
      </button>
    </div>
  </div>
</div>