<div class="rb-form-panel" rb-loading-mask="vm.submitting">
  <div class="rb-form-container">
    <form class="rb-form" name="vm.form">

      <div class="rb-form-row" ng-repeat="field in vm.editableInfo track by $index">
        <div class="rb-label">
          {{vm.getFieldLabel(field)}}
        </div>
        <div flex rb-errors-tooltip="vm.form['{{field.attribute_name}}']">
          <ui-codemirror
            flex
            name="{{field.attribute_name}}"
            required
            ui-codemirror-opts="vm.editorOptions"
            ui-refresh='vm.editorInitialized'
            ng-model="field.value"></ui-codemirror>
        </div>
      </div>

    </form>
  </div>

  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.submit()">{{'save'
        | translate}}
      </button>
    </div>
  </div>
</div>
