<rc-loading-mask [loading]="loading"></rc-loading-mask>

<div *rcPageHeaderContent>
  <rc-default-breadcrumb>
    <ng-container *ngIf="originalData.plugin_type">
      : {{ originalData.plugin_type }}
    </ng-container>
  </rc-default-breadcrumb>
</div>

<div class="rb-loading-mask-placeholder" *ngIf="loadingErr" flex="column" layout="center" layout-align="center center">
  <p class="text-center">{{"data_load_error" | translate}}</p>
  <button rcButton="primary" (click)="refetch();">{{ 'refresh' | translate }}</button>
</div>

<section class="plugin-detail" layout="column" *ngIf="!loading && !loadingErr && initialized">

  <!-- basic info -->
  <div class="basic-info" [ngClass]="{'fold': basicInfoCollapse}">
    <!-- basicInfo-header -->
    <div class="basic-content-header" (click)="basicInfoCollapse = !basicInfoCollapse">
      <span>{{'basic_info' | translate}}</span>
      <span class="fa fa-caret-down"
            [ngClass]="{'fold': basicInfoCollapse}"></span>
    </div>
    <!-- basicInfo-content -->
    <div class="basic-content" layout="row" [ngClass]="{'hidden': basicInfoCollapse}">
      <div class="wrap-image" layout="row" layout-align="center start">
        <img class="center-block" width="160" [src]="originalData.avatar" alt="plugin-logo">
      </div>
      <section class="desc">
        <div class="info">
          <h3 class="title">{{'catalog_info' | translate}}</h3>
          <p>{{ originalData.info[lang] }}</p>
        </div>
        <div class="instruction">
          <h3 class="title">{{'catalog_instruction' | translate}}</h3>
          <div class="instruction-content">{{ originalData.instruction[lang] }}</div>
        </div>
      </section>
    </div>
  </div>

  <!-- dynamic form -->
  <rc-form-container>

    <!-- basic settings -->
    <div class="basic-settings">
      <div class="rb-header-alt">
        {{ 'plugin_center_basic_settings' | translate }}
      </div>
      <rc-dynamic-form
        #dynForm
        [fieldModels]="defaultSettings"
        (valueChanges)="defaultSettingsChange(dynForm, $event)">
      </rc-dynamic-form>
      <rc-dynamic-form
        [fieldModels]="basicSettings"
        (valueChanges)="settingsChange($event, 'basic')">
      </rc-dynamic-form>
    </div>
    <hr>

    <!-- advanced settings -->
    <div class="advanced-settings">
      <div class="rb-header-alt">
        {{ 'plugin_center_advanced_settings' | translate }}
      </div>
      <div class="url api-url" *ngIf="originalData.region_lb_name">
        <label>{{ 'plugin_center_api_url' | translate }}</label>
        <span>{{ apiUrls.api }}</span>
      </div>
      <div class="url db-url" *ngIf="originalData.region_lb_name">
        <label>{{ 'plugin_center_db_url' | translate }}</label>
        <span>{{ apiUrls.db }}</span>
      </div>
      <rc-dynamic-form
        [fieldModels]="advancedSettings"
        (valueChanges)="settingsChange($event, 'advance')">
      </rc-dynamic-form>
    </div>
    <hr>

    <!-- integration settings -->
    <div class="integration-settings">
      <div class="rb-header-alt">
        {{ 'plugin_center_integration_settings' | translate }}
      </div>
      <rc-dynamic-form
        [fieldModels]="integrationSettings"
        (valueChanges)="settingsChange($event, 'integration')">
      </rc-dynamic-form>
    </div>

    <ng-container *rcFooterContent>
      <div class="blank"></div>
      <div class="button-group">
        <button rcButton="primary"
                [disabled]="submitting"
                [loading]="submitting"
                (click)="submit()">
          {{ 'install' | translate }}
        </button>
        <button style="margin-left: 10px;"
                rcButton
                [disabled]="submitting"
                (click)="cancel()">
          {{ 'cancel' | translate }}
        </button>
      </div>
      <div class="blank-end"></div>
    </ng-container>

  </rc-form-container>

</section>