@import '_colors.styles';

// basic-info
.basic-info {
  background-color: $card-background-color;
  box-shadow: $rb-blue-shadow;
  margin-bottom: 16px;
  > .basic-content-header {
    line-height: 40px;
    padding: 0 16px;
    border-bottom: 2px solid $default-border-color;
    cursor: pointer;
    > .fa-caret-down {
      float: right;
      margin-top: 13px;
      transition: 0.5s;
      &:hover {
        color: $status-color-in-process;
      }
      &.fold {
        transform: rotateZ(90deg);
      }
    }
  }
  > .basic-content {
    background-color: $card-background-color;
    padding: 25px 16px;
    display: flex;
    > .wrap-image {
      flex: 25;
      > img {
        position: relative;
        margin-top: -80px;
        top: 50%;
      }
    }
    > .desc {
      flex: 75;
      > .info {
        > .title {
          margin-top: 0;
        }
      }
    }
  }
}

// dynamic-form
:host ::ng-deep rc-form-container {
  rc-dynamic-form-field {
    > rc-form-field {
      display: flex;
      > .form-field-label {
        flex: 25 !important;
      }
      > .form-main-container {
        flex: 55 !important;
        > input {
          flex: 55;
        }
        > .form-input-row {
          width: 100%;
          > rc-single-selection-dropdown {
            width: 100%;
            > .dropdown {
              width: 100%;
            }
          }
        }
      }
      > .addon-container {
        flex: 20;
      }
    }
  }
  .rc-form-footer {
    .blank {
      flex: 25;
    }
    .button-group {
      padding-left: 16px;
      flex: 55;
    }
    .blank-end {
      flex: 20;
      padding-left: 12px;
    }
  }
  .advanced-settings {
    > .url {
      display: flex;
      line-height: 32px;
      > label {
        flex: 25;
        padding-right: 16px;
        text-align: right;
      }
      > span {
        flex: 75;
      }
      &.db-url {
        margin-bottom: 10px;
      }
    }
  }
}

// intergration name prefix
.integration-settings ::ng-deep {
  rc-dynamic-form-field:first-child {
    .form-input-row {
      input {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}
