<div class="left-pane nav-list-container"
     [class.nav-collapsed]="layoutState.navCollapseState">
  <header class="nav-logo-container">
    <a href="/">
      <img class="logo" [src]="layoutState.logoMainSrc">
    </a>
  </header>
  <rc-nav-list></rc-nav-list>
  <div class="nav-collapse-handle-bar" (click)="layoutState.toggleNavCollapse()">
    <i class="fa fa-caret-right" *ngIf="layoutState.navCollapseState; else rightTriangle"></i>
    <ng-template #rightTriangle>
      <i class="fa fa-caret-left"></i>
    </ng-template>
  </div>
</div>

<div class="nav-expand-handle-bar"
     (click)="layoutState.setToggleNavCollapse(false)">
  <i class="fa fa-caret-right"></i>
</div>

<div class="right-pane" [class.nav-collapsed]="layoutState.navCollapseState">
  <rc-header-toolbar></rc-header-toolbar>
  <rc-page-container [attr.container-name]="routerStateName | async"></rc-page-container>
</div>
