:host {
  padding: 16px 20px;
  color: #333;
  min-height: 400px;

  ::ng-deep {
    .forget-password__content-next-btn {
      margin-left: 110px;
      width: 340px;
    }
    .aui-form-item__label {
      color: #333;
      font-weight: normal;
      line-height: 40px;
      margin: 0;
    }
    .aui-form-item__label-wrapper--required::before {
      display: none;
    }
    .aui-form-item__hint,
    .aui-form-item__error {
      margin-top: 4px;
    }
    .forget-password__content {
      &-step1-next {
        width: 340px;
        margin-left: 110px;
      }
      &-code__input {
        width: 230px;
      }
      &-code__btn {
        width: 100px;
        margin-left: 10px;
        font-size: 14px;
        padding: 0;
        .aui-button__wrapper {
          padding: 0;
        }
      }
    }
  }

  .forget-password {
    width: 560px;
    &__header {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 1.5;
    }
    &__content {
      width: 450px;
      font-size: 14px;
      line-height: 1.5;
      padding-top: 40px;
    }
    &__code--error {
      margin: -12px 0 12px 0;
      padding-left: 110px;
      font-size: 12px;
      color: #999;
      line-height: 1.5;
    }
    &-step3 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 360px;
      &__header {
        line-height: 25px;
        font-size: 18px;
      }
      &__body {
        margin: 17px 0;
        font-size: 12px;
        color: #999;
      }
    }
  }

  .divide-line {
    flex: 1;
    height: 1px;
    background: #e6e6e6;
  }

  .form-container {
    margin: 0 60px 24px;
    display: flex;
    flex-direction: column;
  }
}
