<div class="forget-password">
  <ng-container *ngIf="step === 1">
    <div class="forget-password__header">
      {{ 'retrieve_password' | translate }}
    </div>
    <div class="divide-line"></div>
    <div class="forget-password__content forget-password__content-step1">
      <form #step1="ngForm" (submit)="next()" auiFormLabelWidth='110px' auiForm>
        <aui-form-item>
          <label auiFormItemLabel>{{'account'|translate}}</label>
          <input auiFormItemControl aui-input size="large" name="username" #username="ngModel" [pattern]="validatorPattern" [(ngModel)]="formModel.username"
            (focus)="resetPattern()" [placeholder]="'enter_account'|translate" required>
          <div auiFormItemError *ngIf="username.errors?.pattern">{{ 'user_not_exist' |translate}}</div>
        </aui-form-item>
        <button aui-button="primary" type="submit" class="forget-password__content-next-btn" size="large"  [loading]="loading"
          [disabled]="step1.invalid">{{ 'next_step'|translate}}</button>
      </form>
    </div>
  </ng-container>
  <ng-container *ngIf="step === 2">
    <div class="forget-password__header">
      {{ 'retrieve_password' | translate }}
    </div>
    <div class="divide-line"></div>
    <div class="forget-password__content forget-password__content-step2">
      <form #step2="ngForm" auiFormLabelWidth='110px' auiForm>
        <aui-form-item>
          <label auiFormItemLabel>{{'captcha'|translate}}</label>
          <input class="forget-password__content-code__input" auiFormItemControl aui-input size="large" name="input_code" [placeholder]="'enter_verification_code'|translate"
            [pattern]="validatorPattern" #inputCode="ngModel" (focus)="resetPattern()" [(ngModel)]="formModel.input_code" required>
          <button *ngIf="!codeInWaiting" aui-button class="forget-password__content-code__btn" (click)="sendCode($event)" [loading]="codeLoading"
            size="large">{{ 'send_verification_code1' | translate}}</button>
          <button *ngIf="codeInWaiting" aui-button="default" class="forget-password__content-code__btn" [disabled]="true" size="large">{{'waiting_send_verification_code1'|translate}}({{remains}})</button>
          <div auiFormItemError *ngIf="inputCode.errors?.required">{{ 'captcha_can_not_be_none' |translate}}</div>
          <div auiFormItemError *ngIf="inputCode.errors?.pattern">{{ 'invalid_captcha' |translate}}</div>
        </aui-form-item>
        <div class="forget-password__code--error" *ngIf="codeInWaiting && transferEmail">{{ 'captcha_has_send_to' | translate : {email:transferEmail} }}</div>
        <aui-form-item>
          <label auiFormItemLabel>{{'new_password'|translate}}</label>
          <input auiFormItemControl type="password" aui-input size="large" name="password" [pattern]="pwdPattern" #password="ngModel"
            [placeholder]="'password_pattern_full_tip'|translate" minlength="8" maxlength="64" [(ngModel)]="formModel.password"
            required>
          <div auiFormItemError *ngIf="password.errors?.required">{{'please_enter_new_password'|translate}}</div>
          <div auiFormItemError *ngIf="password.errors?.pattern">{{'passowrd_pattern_type_a_error'|translate}}</div>
          <div auiFormItemError *ngIf="password.errors?.maxlength">{{'warning_max_length' | translate : {length : 64} }}</div>
          <div auiFormItemError *ngIf="password.errors?.minlength ">{{'warning_min_length' | translate : {length : 8} }}</div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{'new_password_confirm'|translate}}</label>
          <input auiFormItemControl type="password" aui-input size="large" name="confirm_password" [pattern]="cPwdPattern" #confirmPassword="ngModel"
            [placeholder]="'please_confirm_password'|translate" [(ngModel)]="formModel.confirmPassword" required>
          <div auiFormItemError *ngIf="confirmPassword.errors?.required">{{'please_confirm_password'|translate}}</div>
          <div auiFormItemError *ngIf="confirmPassword.errors?.pattern">{{'password_not_same' | translate}}</div>
        </aui-form-item>
        <button aui-button="primary" type="submit" size="large" class="forget-password__content-next-btn" (click)="confrim()" [disabled]="step2.invalid"
          [loading]="loading">
          {{ 'confirm' | translate }}
        </button>
      </form>
    </div>
  </ng-container>
  <ng-container *ngIf="step === 3">
    <div class="forget-password-step3">
      <div class="forget-password-step3__header">
        <aui-icon icon="check_circle_s" size="25px" color="#1bb393"></aui-icon>
        {{'reset_password_success'|translate}}
      </div>
      <div class="forget-password-step3__body">
        {{'login_pass_platform'|translate}}
      </div>
      <button routerLink="" aui-button="primary" size="large">
        {{ 'to_login' | translate }}
      </button>
    </div>
  </ng-container>
</div>
