<rc-loading-mask [loading]="loading"></rc-loading-mask>
<div *ngIf="loadError" class="rb-loading-mask-placeholder">
  <div>
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError" rcButton="primary" style="margin-top: 12px;" (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>

<!-- 暂时跳转到旧org页面 -->
<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a [routerLink]="['/rbac']">{{ 'rbac' | translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_rbac_role-template' | translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<section class="header" *ngIf="!loadError && !loading">
  <button rcButton="primary" [disabled]="!createEnabled"  (click)="create()">{{ 'rbac_create_template' | translate }}</button>
</section>

<!--role-template list-->
<rc-table *ngIf="!loadError && !loading"  #roleTemplateList class="rc-primary-table" [columnMode]="'force'" [headerHeight]="40" [rowHeight]="80" [rows]="list">
  <!-- 角色模板名称 -->
  <rc-table-col [width]="100" name="{{ 'rbac_role-template_name' | translate }}" [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      <div class="rc-resource-name-cell">
        <div class="official-container" *ngIf="rowData.official">
          <img [src]="'/static/images/rbac/sys_' + lang + '.svg'" alt="sys">
          <!-- <i class="official"></i> -->
          <!-- <span>{{ 'rbac_official' | translate }}</span> -->
        </div>
        <div class="rc-lines">
          <div class="rc-line">
            <a href="javascript:;"
               (click)="showDetail(rowData.uuid)" >{{ rowData.official && this.lang.match('en') ? rowData.display_name_en : rowData.display_name }}</a>
          </div>
        </div>
      </div>
    </div>
  </rc-table-col>
  <!-- 描述 -->
  <rc-table-col [width]="200" name="{{ 'rbac_role-template_description' | translate }}" [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      <div class="rc-resource-name-cell description">
        <div class="rc-lines">
          <div class="rc-line" [title]="rowData.description">{{ rowData.description || '-' }}</div>
        </div>
      </div>
    </div>
  </rc-table-col>
  <!-- 创建者 -->
  <rc-table-col [width]="50" name="{{ 'rbac_role-template_creator' | translate }}" [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      <div class="rc-resource-name-cell">
        <div class="rc-lines">
          <div class="rc-line">{{ rowData.official ? ('rbac_preset' | translate) : rowData.created_by }}</div>
        </div>
      </div>
    </div>
  </rc-table-col>
  <!-- 创建时间 -->
  <rc-table-col [width]="150" name="{{'rbac_role-template_created_at' | translate }}" [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      <div class="rc-resource-name-cell">
        <div class="rc-lines">
          <div class="rc-line">{{ rowData.created_at | rcFormatUtcStr }}</div>
        </div>
      </div>
    </div>
  </rc-table-col>
  <rc-table-col [width]="30" name="{{ 'action' | translate }}" [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      <rc-button-menu>
        <button rcButton rcButtonSize="small" rcButtonMenuDefault (click)="showDetail(rowData.uuid)">{{ 'view' | translate }}</button>
        <button rcMenuButton [hidden]="!createEnabled" (click)="duplicate(rowData.uuid)" >{{ 'duplicate' | translate }}</button>
        <button rcMenuButton [hidden]="!createRoleEnabled" (click)="createRole(rowData.uuid)" >{{ 'rbac_create_role_use_temp' | translate }}</button>
        <button rcMenuButton [hidden]="!updateEnabled" [disabled]="rowData.official" (click)="update(rowData.uuid)" >{{ 'update' | translate }}</button>
        <button rcMenuButton [hidden]="!deleteEnabled" [disabled]="rowData.official" (click)="delete(rowData.uuid, ((rowData.official && this.lang.match('en')) ? rowData.display_name_en : rowData.display_name))" >{{ 'delete' | translate }}</button>
      </rc-button-menu>
    </div>
  </rc-table-col>
</rc-table>

