@import 'colors.styles';
@import '_mixins';

:host {
  width: 100%;
  ::ng-deep {
    .datatable-body-cell-label {
      width: 100%;
      .rc-resource-name-cell.description {
        .rc-lines {
          width: 100%;
          .rc-line {
            padding-right: 8px;
            white-space: normal;
            @include multiline-ellipsis(2);
          }
        }
      }
    }
  }
}

.official-container {
  position: absolute;
  left: 0;
  top: 0;
  > img {
    margin-top: -3px;
  }
  .official {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 50px 0 0;
    border-color: $button-primary-border-color transparent transparent
      transparent;
  }
  span {
    user-select: none;
    white-space: nowrap;
    transform: rotateZ(-35deg);
    color: $button-primary-text-color;
    line-height: 28px;
    text-indent: 4px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header {
  margin-bottom: 14px;
}
