<div style="display: inline-block;"
     tooltip-placement="top"
     uib-tooltip="{{ vm.tooltip }}"
>
  <button class="btn btn-xs rb-btn-oper"
          ng-click="vm.onClick()"
          ng-disabled="vm.disabled"
          ng-class="{'rb-button-disabled-enable-tooltip': vm.disabled}"
  >
    <i class="{{ vm.statusControl(vm.status) }}"></i>
  </button>
</div>