<div ng-if="vm.endpointsEmpty"
     class="rb-loading-mask-placeholder">{{ 'service_detail_endpoints_empty' | translate }}
</div>
<div ng-if="!vm.albEnabled">
  <!--Raw Container-->
  <table ng-if="vm.service.raw_container_ports.length"
         class="rb-detail-table">
    <thead>
    <tr>
      <th style="width:200px;">{{ "instance" | translate }}</th>
      <th style="width:120px;">{{ "port" | translate }}</th>
      <th>{{ "endpoint" | translate }}</th>
    </tr>
    </thead>
    <tbody ng-repeat="instanceItem in vm.service.instances track by $index">
    <tr ng-repeat="rawPort in instanceItem.instance_ports track by $index">
      <td ng-if="$index===0" rowspan="{{ instanceItem.instance_ports.length }}">
        {{ instanceItem.instance_name }}
      </td>
      <td>
        <span ng-bind="rawPort.container_port"></span>/<span ng-bind="rawPort.protocol"></span>
      </td>
      <td>
        {{ rawPort.protocol }}://{{ instanceItem.host_ip }}:{{ rawPort.host_port }}
      </td>
    </tr>
    </tbody>
  </table>

  <!--HAProxy-->
  <table ng-if="vm.service.instance_ports.length" class="rb-detail-table">
    <thead>
    <tr>
      <th style="width:80px;">{{ "port" | translate }}</th>
      <th style="width:120px;">{{ "endpoint_type" | translate }}</th>
      <th style="width:160px;">{{ "ipaddress" | translate }}</th>
      <th style="width:120px;">{{ "service_port" | translate }}</th>
      <th>{{ "endpoint" | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in vm.service.instance_ports">
      <td>{{ item.container_port }}</td>
      <td>{{ item.endpoint_type }}</td>
      <td>{{ item.ipaddress }}</td>
      <td>{{ item.service_port }}</td>
      <td>
        <!--default_domain-->
        <div class="rb-service-domain-list">
          <div ng-show="item.default_domain && item.service_port === 80"
               class="rb-service-domain-item">
            <a href="http://{{ item.default_domain }}"
               target="_blank">http://{{ item.default_domain }}</a>
          </div>
          <div ng-show="item.default_domain && item.service_port !== 80"
               class="rb-service-domain-item">
            {{ item.protocol }}://{{ item.default_domain }}:{{ item.service_port }}
          </div>
          <div ng-show="item.default_domain2 && item.service_port === 80"
               class="rb-service-domain-item">
            <a href="http://{{ item.default_domain }}"
               target="_blank">http://{{ item.default_domain2 }}</a>
          </div>
          <div ng-show="item.default_domain2 && item.service_port !== 80"
               class="rb-service-domain-item">
            {{ item.protocol }}://{{ item.default_domain2 }}:{{ item.service_port }}
          </div>
        </div>

        <!--customer_domain-->
        <div ng-if="item.customer_domain && item.endpoint_type === 'http-endpoint'"
             ng-repeat="domain in item.customer_domain.split(';')"
             class="rb-service-domain-list">
          <div ng-show="item.service_port === 80"
               class="rb-service-domain-item">
            <a href="http://{{ domain }}" target="_blank">http://{{ domain }}</a>
          </div>
          <div ng-show="item.service_port !== 80"
               class="rb-service-domain-item">
            {{ item.protocol }}://{{ domain }}:{{ item.service_port }}
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <!--ELB-->
  <table ng-if="vm.service.load_balancers.length" class="rb-detail-table">
    <thead>
    <tr>
      <th style="width: 300px;">{{ 'load_balancer' | translate }}</th>
      <th style="width: 120px;">{{ 'container_port'|translate }}</th>
      <th>{{ 'service_address'|translate }}</th>
      <th style="width: 120px;">{{ 'health_state'|translate }}</th>
    </tr>
    </thead>
    <tbody ng-repeat="lb in vm.service.load_balancers track by $index">
    <tr ng-repeat="listener in lb.listeners track by $index">
      <td ng-if="$index === 0" rowspan="{{ lb.listeners.length }}">
        {{ lb.lb_id }} ({{ lb.is_internal?'network_internal':'network_external' | translate}})
      </td>
      <td>
        {{ listener.container_port }}
      </td>
      <td>
        {{ listener.protocol | lowercase }}://{{ lb.address }}:{{ listener.lb_port }}
      </td>
      <td>
        <div ng-if="vm.healthcheckStates[lb.lb_id][listener.lb_port]">
        <span ng-show="vm.healthcheckStates[lb.lb_id][listener.lb_port]['health_status']"
              rubick-status-icon
              status="'OK'"
              status-text="{{ vm.healthcheckStates[lb.lb_id][listener.lb_port]['text']}}"
              mode="list"></span>
          <span ng-show="!vm.healthcheckStates[lb.lb_id][listener.lb_port]['health_status']"
                rubick-status-icon
                status="'ERROR'"
                status-text="{{ vm.healthcheckStates[lb.lb_id][listener.lb_port]['text']}}"
                mode="list"></span>
        </div>
        <div ng-if="!vm.healthcheckStates[lb.lb_id][listener.lb_port]">
          -
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div ng-if="vm.albEnabled">
  <!-- alauda loadbalancer -->
  <table ng-if="vm.loadbalancers.length" class="table rb-grouped-table">
    <thead>
    <tr>
      <th style="width: 300px;">{{ 'load_balancer' | translate }}</th>
      <th style="width: 120px;">{{ 'container_port'|translate }}</th>
      <th>{{ 'service_address'|translate }}</th>
      <th style="width: 120px;">{{ 'certificate'|translate }}</th>
      <th style="width: 120px;">{{ 'health_state'|translate }}</th>
    </tr>
    </thead>
    <tbody ng-repeat="lb in vm.loadbalancers track by $index">
    <tr ng-repeat="listener in lb.listeners track by $index">
      <td ng-if="$index === 0" rowspan="{{ lb.listeners.length }}">
        <a ng-href="{{ vm.getLoadbalancerHref(lb) }}">
          {{ lb.name }}
          ({{ lb.type }}/{{ lb.address_type==='internal'?'network_internal':'network_external' |
          translate}})
        </a>
      </td>
      <td>
        {{ listener.container_port }}
      </td>
      <td>
        <!-- lb listener has rule field-->
        <div ng-if="listener.rules.length">
          <div ng-repeat="rule in listener.rules track by $index">
            <a ng-if="rule.url && rule.domain"
               ng-href="{{ listener.protocol +'://'+rule.domain + ':' + listener.listener_port+ rule.url }}"
          
               target="_blank">
              {{ vm.getEndpointDisplay(listener, rule) }}
            </a>
            <a ng-if="!rule.url && rule.domain"
               ng-href="{{ listener.protocol +'://'+rule.domain }}:{{ listener.listener_port }}"
          
               target="_blank">
              {{ vm.getEndpointDisplay(listener, rule) }}
            </a>
            <a ng-if="rule.url && !rule.domain && !rule.url.includes('^')"
               ng-href="{{ listener.protocol +'://'+lb.address + ':'+listener.listener_port }}{{ rule.url }}"
          
               target="_blank">
              {{ vm.getEndpointDisplay(listener, rule, lb) }}
            </a>
            <span ng-if="rule.url && !rule.domain && rule.url.includes('^')">
              {{ vm.getEndpointDisplay(listener, rule, lb) }}
            </span>
          </div>
        </div>
        <div ng-if="!listener.rules.length">
          <!--lb listener has domains field-->
          <div ng-if="listener.domains"
               ng-repeat="domain in listener.domains track by $index">
            <a ng-show="(listener.protocol === 'http' && listener.listener_port === 80)||
            (listener.protocol === 'https' && listener.listener_port === 443)"
               ng-href="{{ listener.protocol | lowercase }}://{{ domain }}"
               target="_blank">
              {{ listener.protocol | lowercase }}://{{ domain }}
            </a>
            <a ng-show="(listener.protocol === 'http' && listener.listener_port !== 80)||
            (listener.protocol === 'https' && listener.listener_port !== 443)"
               ng-href="{{ listener.protocol | lowercase }}://{{ domain }}:{{ listener.listener_port }}"
               target="_blank">
              {{ listener.protocol | lowercase }}://{{ domain }}:{{ listener.listener_port }}
            </a>
            <span ng-show="!listener.protocol.includes('http')">
              {{ listener.protocol | lowercase }}://{{ domain }}:{{ listener.listener_port }}
            </span>
          </div>
          <!--lb listener has no domains field-->
          <div ng-if="!listener.domains">
            <a ng-show="(listener.protocol === 'http' && listener.listener_port === 80)||
            (listener.protocol === 'https' && listener.listener_port === 443)"
               ng-href="{{ listener.protocol | lowercase }}://{{ lb.address }}"
               target="_blank">
              {{ listener.protocol | lowercase }}://{{ lb.address }}
            </a>
            <a ng-show="(listener.protocol === 'http' && listener.listener_port !== 80)||
            (listener.protocol === 'https' && listener.listener_port !== 443)"
               ng-href="{{ listener.protocol | lowercase }}://{{ lb.address }}:{{ listener.listener_port }}"
          
               target="_blank">
              {{ listener.protocol | lowercase }}://{{ lb.address }}:{{ listener.listener_port
              }}
            </a>
            <span ng-show="!listener.protocol.includes('http')">
              {{ listener.protocol | lowercase }}://{{ lb.address }}:{{ listener.listener_port
              }}
            </span>
          </div>
        </div>
      </td>
      <td>{{ listener.certificate_name | rbFieldNotAvailable }}</td>
      <td>
        <div ng-if="!['haproxy', 'nginx'].includes(lb.type)">
          <span ng-show="listener.healthy"
                rubick-status-icon
                status="'OK'"
                status-text="{{ listener.count_normal }}/{{ listener.count_total }}"
                mode="list"></span>
          <span ng-show="!listener.healthy"
                rubick-status-icon
                status="'ERROR'"
                status-text="{{ listener.count_normal }}/{{ listener.count_total }}"
                mode="list"></span>
        </div>
        <div ng-if="['haproxy', 'nginx'].includes(lb.type)">
          -
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Raw container -->
  <table ng-if="vm.service.ports.length" class="rb-detail-table">
    <thead>
    <tr>
      <th style="width:200px;">{{ "instance" | translate }}</th>
      <th style="width:120px;">{{ "port" | translate }}</th>
      <th>{{ "endpoint" | translate }}</th>
    </tr>
    </thead>
    <tbody ng-repeat="instanceItem in vm.service.instances track by $index">
    <tr ng-repeat="rawPort in instanceItem.instance_ports track by $index">
      <td ng-if="$index===0" rowspan="{{ instanceItem.instance_ports.length }}">
        {{ instanceItem.instance_name }}
      </td>
      <td>
        <span ng-bind="rawPort.container_port"></span>/<span ng-bind="rawPort.protocol"></span>
      </td>
      <td>
        {{ rawPort.protocol }}://{{ instanceItem.host_ip }}:{{ rawPort.host_port }}
      </td>
    </tr>
    </tbody>
  </table>
</div>



