<div class="rb-page-heading" flex layout="row">
  <rb-search-input
    loading="vm.searching"
    search-on-change="true"
    on-search="vm.onSearchChanged(value)"
    flex=30>
  </rb-search-input>
  <div flex></div>
  <button class="ui button rb-btn-primary"
          ng-if="vm.createRoleEnabled"
          style="margin-right: 10px;"
          ng-click="vm.createRole()">{{'create_role' | translate}}
  </button>
  <button class="ui button rb-btn-default"
          ng-if="vm.roleTemplateEnabled && vm.hasTemplatePermission"
          router-link="'/role-template'">{{'manage_role_template' | translate}}
  </button>
</div>
<rb-loading-mask-placeholder ng-if="!vm.initialized"></rb-loading-mask-placeholder>
<div class="rb-loading-mask-placeholder" ng-if="vm.initialized && !vm.roles.length">
  {{'no_data' | translate}}
</div>
<table ng-show="vm.roles.length" class="table app-table rb-labels-popover-container" rb-loading-mask="vm.rolesLoading">
  <thead>
  <tr>
    <td>{{'name'|translate}}</td>
    <td style="width:240px;">{{'project' | translate}}</td>
    <td style="width:180px;">{{'created_at'|translate}}</td>
    <td style="width:80px;">{{'action' | translate}}</td>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="item in vm.roles track by $index">
    <td>
      <span ng-if="!vm.buttonDisplayExpr(item, 'view')">{{item.name}}</span>
      <a ng-if="vm.buttonDisplayExpr(item, 'view')" href=""
         ng-click="vm.showRoleDetail(item)">{{item.name}}</a>
      <span ng-if="vm.buttonDisplayExpr(item, 'view')"
            uib-popover-template="vm.popoverConfig.template"
            popover-placement="top-left"
            popover-trigger="'outsideClick'"
            class="fa fa-group"
            ng-click="vm.fetchRoleUsers(item)"></span>
    </td>
    <td>{{item.project_name || '-'}}</td>
    <td>
      {{item.created_at | formatUtcStr}}
    </td>
    <td>
      <button type="button" class="btn btn-xs rb-btn-oper"
              ng-click="vm.deleteRole(item, $index)"
              tooltip-placement="top"
              ng-if="vm.buttonDisplayExpr(item, 'delete')"
              uib-tooltip="{{ 'delete' | translate }}">
        <i class="fa fa-trash-o"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<rb-pagination
  ng-show="vm.pagination.count > vm.pagination.page_size"
  class="pull-right"
  total-items="vm.pagination.count"
  size="vm.pagination.page_size"
  on-change="vm.pageNoChange(page)">
</rb-pagination>