<div class="rb-form-panel">
  <div class="rb-form-container"
       rb-loading-mask="vm.triggering">
    <ng-form name="form"
             class="rb-form">
      <div class="rb-form-row input">
        <div class="rb-label"
             flex="25">
          {{ "pipeline_config_name" | translate }}
        </div>
        <div flex="60"
             ng-if="vm.hasPipeline">
          {{ vm.pipeline.name }}
          <span ng-if="vm.pipeline.space_name">({{vm.pipeline.space_name}})</span>
        </div>
        <rb-search-dropdown flex="60"
                            ng-if="!vm.hasPipeline"
                            placeholder="'select_pipeline_placehodler' | translate"
                            on-change="vm.onPipelineChanged(option)"
                            backend-url="vm.backendUrl"
                            response-item-filter="vm.responseItemFilter"
                            object-option-enabled="true"
                            fields-setting="{ name: 'display_name', value: 'name' }">
        </rb-search-dropdown>
      </div>

      <div ng-if="vm.activeTrigger.type === 'build'">
        <div class="rb-form-row input">
          <div class="rb-label"
               flex="25">
            {{ "build_config" | translate }}
          </div>
          <div flex="60">
            {{ vm.activeTrigger.build_config_name }}
          </div>
        </div>

        <div class="rb-form-row input">
          <div class="rb-label"
               flex="25">
            {{ "manual_code_commit" | translate }}
          </div>
          <input flex="60"
                 type="text"
                 ng-model="vm.head_commit_id"
                 placeholder="{{ 'build_trigger_build_hint' | translate }}">
        </div>
      </div>

      <!-- For repository: -->
      <div ng-if="vm.activeTrigger.type === 'repository'">
        <div class="rb-form-row input">
          <div class="rb-label"
               flex="25">
            {{ "image_registry_name" | translate }}
          </div>
          <div flex="60">
            {{ vm.pipeline.triggers.repository.registry }}
          </div>
        </div>

        <div class="rb-form-row input">
          <div class="rb-label"
               flex="25">
            {{ "image_repository_name" | translate }}
          </div>
          <div flex="60">
            {{ vm.pipeline.triggers.repository.repository }}
          </div>
        </div>

        <div class="rb-form-row input">
          <div class="rb-label"
               flex="25">
            {{ "image_tag" | translate }}
          </div>
          <rb-dropdown ng-hide="(vm.imageTags$ | rbAsync:this).length === 0"
                       rb-loading-mask="!(vm.imageTags$ | rbAsync:this)"
                       flex="60"
                       on-change="vm.imageTag = option.name"
                       key="name"
                       value="name"
                       filter-threshold="1"
                       options="vm.imageTags$ | rbAsync:this">
          </rb-dropdown>
          <input flex="60"
                 type="text"
                 ng-show="(vm.imageTags$ | rbAsync:this).length === 0"
                 ng-model="vm.imageTag"
                 placeholder="Image Tag">
        </div>
      </div>

    </ng-form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button class="ui button rb-btn-default margin-right-1"
              ng-click="vm.cancel()">
        {{ 'cancel' | translate }}
      </button>
      <button class="ui button rb-btn-primary"
              ng-disabled="vm.triggering"
              ng-click="vm.triggerPipeline()">
        {{ 'confirm' | translate }}
      </button>
    </div>
  </div>
</div>
