<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<section class="basic-info" *ngIf="initialized">
  <div class="rc-detail-container">
    <div class="detail-wrapper" style="margin-left: 0">
      <div class="detail-header">
        <h3>{{ data.name }}</h3>
      </div>
      <div class="detail-content">
        <div class="detail-item">
          <label>{{ "created_by" | translate }}</label>
          <div>{{ basicInfo.created_by }}</div>
        </div>
        <div class="detail-item">
          <label>{{ "created_at" | translate }}</label>
          <div>{{ basicInfo.created_at | rcFormatUtcStr }}</div>
        </div>
        <div class="detail-item">
          <label>{{ "updated_at" | translate }}</label>
          <div>{{ basicInfo.updated_at | rcFormatUtcStr }}</div>
        </div>
      </div>
    </div>
  </div>
</section>

<rc-tab-group *ngIf="initialized">
  <!-- 权限内容 -->
  <ng-container *rcTab="'permission' | translate" class="custom-tab">
    <div class="content">
      <button rcButton class="add-permission" (click)="addPermission()" *ngIf="roleUpdatePermission" [disabled]="!initialized" style="margin-bottom: 16px;">
        <i class="fa fa-plus-circle"></i> {{ 'add_permission' | translate }}</button>
      <!-- table -->
      <rc-table #permissionsTable
                class="rc-primary-table"
                [columnMode]="'force'"
                [headerHeight]="40"
                [rowHeight]="40"
                [rows]="permissionsCatalog">
  
        <rc-table-col [width]="30" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
          <ng-template rcTableColCell let-row="row" let-rindex="rowIndex" let-expanded="expanded">
            <a class="rc-table-row-expand" href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
              (click)="toggleExpandRow(row, rindex)">
              <i class="fa fa-angle-right"></i>
            </a>
          </ng-template>
        </rc-table-col>
        <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'type' | translate }}">
          <div *rcTableColCell="let rowData = row">
            <div class="rc-resource-name-cell">
              <div class="rc-lines">
                {{ rowData.type | translate }} {{ translateTypes(rowData.type) }}
              </div>
            </div>
          </div>
        </rc-table-col>
        <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'resource_type' | translate }}">
          <div *rcTableColCell="let rowData = row">
            <div class="rc-resource-name-cell">
              <div class="rc-lines"></div>
            </div>
          </div>
        </rc-table-col>
        <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'action' | translate }}">
          <div *rcTableColCell="let rowData = row">
            <div class="rc-resource-name-cell">
              <div class="rc-lines"></div>
            </div>
          </div>
        </rc-table-col>
        <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'constraints' | translate }}">
          <div *rcTableColCell="let rowData = row">
            <div class="rc-resource-name-cell">
              <div class="rc-lines"></div>
            </div>
          </div>
        </rc-table-col>
        <rc-table-col [resizeable]="false" [sortable]="false" name="{{ 'resource_name' | translate }}">
          <div *rcTableColCell="let rowData = row">
            <div class="rc-resource-name-cell">
              <div class="rc-lines"></div>
            </div>
          </div>
        </rc-table-col>
  
        <rc-table-row-detail [rowHeight]="'auto'">
          <ng-template rcTableRowDetailTemplate let-row="row">
            <table class="secondary-table">
              <tbody>
                <tr *ngFor="let key of keys(permissionsCatalogMap[row.type])">
                  <td>
                    {{ key | translate }}
                  </td>
                  <table class="third-table">
                    <tr *ngFor="let type of permissionsCatalogMap[row.type][key]">
                      <td>
                        <div class="check-group">
                          <ng-container [ngSwitch]="type">
                            <span style="align-self: center;" *ngSwitchCase="'*'">{{ type }}</span>
                            <span style="align-self: center;" *ngIf="!roleUpdatePermission && type !== '*'">{{ type | translate }}</span>
                            <a [hidden]="!roleUpdatePermission" *ngSwitchDefault (click)="addPermission(type)">{{ type | translate }}</a>
                          </ng-container>
                        </div>
                        <div class="permissions-group">
                          <table class="forth-table" *ngFor="let permission of (permissionsMap[type] || []); index as i">
                            <td>
                              <span *ngIf="permission">
                                {{ permission.actions | rcActionsToTranslateKeys: actionsMap[type] }}
                              </span>
                            </td>
                            <td>
                              <div *ngFor="let constraint of (permission ? permission.constraints : []); let i = index;" class="constraint">
                                <div *ngFor="let key of keys(constraint)">
                                  {{ (key.split(':')[1] | translate) + ': ' + (constraint[key] || '-') }}
                                </div>
                                <hr *ngIf="permission.constraints.length - 1 !== i">
                              </div>
                              <span *ngIf="permission && (!permission.constraints || !permission.constraints.length)">{{ 'rbac_not_set' | translate }}</span>
                            </td>
                            <td *ngIf="permission">
                              <span class="resource-name">
                                {{ (permission.resource.includes('*') || !permission.resource.length) ? ('rbac_any' | translate) : permission.resource.join(',
                                ') }}
                              </span>
                              <i *ngIf="roleUpdatePermission" class="fa fa-trash" (click)="removePermission(type, i)"></i>
                            </td>
                            <hr *ngIf="permissionsMap[type].length - 1 !== i">
                          </table>
                        </div>
                      </td>
                    </tr>
                  </table>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </rc-table-row-detail>
      </rc-table>
    </div>
  </ng-container>

  <!-- 父角色 -->
  <div *rcTab="'rbac_parent_roles' | translate" class="custom-tab">
    <div class="topbar" style="padding-bottom: 20px;"> 
      <button *ngIf="roleUpdatePermission" rcButton="primary" (click)="addParent()" >{{ 'rbac_add_parent_role' | translate }}</button>
    </div>
    <rc-table class="rc-secondary-table"
              [headerHeight]="40"
              [rowHeight]="40"
              [rows]="data.parents">
      <!-- name -->
      <rc-table-col [width]="100" name="{{ 'name' | translate }}" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          <div class="rc-resource-name-cell">
            <div class="rc-lines">
              <div class="rc-line">
                <a (click)="showDetail(rowData.name)">{{ rowData.name }}</a>
              </div>
            </div>
          </div>
        </div>
      </rc-table-col>

      <!-- time -->
      <rc-table-col [width]="50" name="{{ 'assigned_at' | translate }}" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          <div class="rc-resource-name-cell">
            <div class="rc-lines">
              <div class="rc-line">{{ rowData.assigned_at | rcFormatUtcStr }}</div>
            </div>
          </div>
        </div>
      </rc-table-col>

      <!-- act -->
      <rc-table-col [width]="20" name="{{ 'action' | translate }}" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          <div class="rc-resource-name-cell">
            <div class="rc-lines inline">
              <i class="fa fa-eye" (click)="showParent(rowData.name)"></i>
              <i *ngIf="roleUpdatePermission" class="fa fa-trash" (click)="removeParent(rowData.name, rowData.uuid)"></i>
            </div>
          </div>
        </div>
      </rc-table-col>
    </rc-table>
  </div>

  <!-- 成员 -->
  <ng-container *rcTab="'members' | translate" class="custom-tab">
    <div class="topbar" style="display: flex; justify-content: space-between; padding-bottom: 20px;"> 
      <button *ngIf="roleAssignPermission" rcButton="primary" (click)="addUsers()" >{{ 'add_user' | translate }}</button>
      <rc-search-input (onSearch)="search($event)"
                       [loading]="loading"></rc-search-input>
    </div>
    <rc-table class="rc-secondary-table"
              [headerHeight]="40"
              [rowHeight]="40"
              [rows]="users">
      <!-- name -->
      <rc-table-col [width]="100" name="{{ 'name' | translate }}" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          <div class="rc-resource-name-cell">
            <div class="rc-lines">
              <div class="rc-line">
                {{ rowData.user }}
              </div>
            </div>
          </div>
        </div>
      </rc-table-col>

      <!-- time -->
      <rc-table-col [width]="30" name="{{ 'assigned_at' | translate }}" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          <div class="rc-resource-name-cell">
            <div class="rc-lines">
              <div class="rc-line">{{ rowData.assigned_at | rcFormatUtcStr }}</div>
            </div>
          </div>
        </div>
      </rc-table-col>

      <!-- act -->
      <rc-table-col [width]="10" name="{{ 'action' | translate }}" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          <div class="rc-resource-name-cell">
            <div class="rc-lines inline">
              <i class="fa fa-trash" (click)="removeUser(rowData.user)"></i>
            </div>
          </div>
        </div>
      </rc-table-col>
    </rc-table>
    <rc-pagination2
      [page]="currentUserPage"
      [count]="userCount"
      [pageSize]="20"
      (pageChanged)="pageChanged($event)"></rc-pagination2>
  </ng-container>

</rc-tab-group>