@import 'colors.styles';

.content {
  background-color: $card-background-color;
  .add-permission {
    align-self: right;
    color: $blue-6 !important;
  }
  .rc-primary-table {
    border: 2px solid $table-border-color;
    border-bottom: none;
  }
  ::ng-deep {
    .datatable-header,
    .datatable-body-row,
    .rc-row-wrapper-expanded {
      border-bottom: 2px solid $table-border-color;
      margin-bottom: 0;
    }
    .datatable-row-detail {
      background-color: $table-second-background-color;
      margin: 0 !important;
    }
    .secondary-table {
      width: 100%;
      > tbody {
        > tr {
          border-bottom: 2px solid $table-border-color;
          display: flex;
          > td {
            padding: 0.9rem 1.2rem;
            box-sizing: border-box;
            flex: 1;
            display: flex;
            align-items: center;
            text-indent: 3rem;
            overflow: hidden;
          }
          .third-table {
            position: relative;
            display: flex;
            flex: 4;
            > tbody {
              width: 100%;
              > tr {
                display: flex;
                > td {
                  display: flex;
                  flex: 1;
                  flex-wrap: wrap;
                  padding: 0.9rem 1.2rem;
                  box-sizing: border-box;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  align-self: center;
                  .check-group {
                    display: flex;
                    flex: 1;
                    a {
                      align-self: center;
                    }
                  }
                  .permissions-group {
                    flex: 3;
                    position: relative;
                    .forth-table {
                      display: flex;
                      position: relative;
                      width: 100%;
                      padding: 2px 0;
                      .actions-edit {
                        word-break: keep-all;
                        white-space: normal;
                      }
                      .editable {
                        transition: background-color 0.3s;
                        color: $blue-6;
                        cursor: pointer;
                        &:hover {
                          background-color: $table-rows-hover-color;
                        }
                      }
                      .resource-name {
                        width: 80%;
                        white-space: normal;
                        word-break: break-all;
                        text-indent: 0;
                        padding-left: 1.2rem;
                        margin-right: 8px;
                        i.fa {
                          width: 20%;
                        }
                      }
                      > td {
                        display: flex;
                        flex: 1;
                        flex-wrap: wrap;
                        padding: 0 0 0 1.2rem;
                        line-height: 40px;
                        box-sizing: border-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        align-self: center;
                        div {
                          text-overflow: ellipsis;
                          align-self: center;
                        }
                        .constraint {
                          width: 100%;
                        }
                        .wrapper {
                          width: 100%;
                          height: 100%;
                        }
                        hr {
                          margin: 10px 0;
                        }
                        i.fa-trash {
                          cursor: pointer;
                          color: $blue-6;
                          display: block;
                          opacity: 0.6;
                          align-self: center;
                          align-items: right;
                          font-size: 16px;
                          &:hover {
                            opacity: 1;
                          }
                        }
                      }
                      > hr {
                        width: 100%;
                        margin: 0;
                        position: absolute;
                        bottom: 0;
                      }
                    }
                  }
                }
              }
              > tr:not(:last-child) {
                border-bottom: 2px solid $table-border-color;
              }
            }
          }
        }
      }
    }
    .rc-primary-table {
      > .ngx-datatable {
        .datatable-body {
          .datatable-row-wrapper:hover,
          .datatable-row-wrapper.rc-row-wrapper-expanded {
            background-color: $card-background-color;
          }
          .datatable-row-wrapper {
            margin-bottom: 0;
            > .datatable-body-row {
              .datatable-body-cell {
                overflow: visible;
              }
            }
          }
        }
      }
    }
  }
}

.rc-resource-name-cell {
  .rc-lines.inline {
    flex-direction: initial;
    .fa-eye,
    .fa-trash {
      padding-right: 16px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        color: $blue-6;
      }
    }
  }
}
