<!-- prevent whitespace -->
{{ 'jenkins_is_code_client_not_bind_prefix' | translate }}<a routerLink="/user/detail" *ngIf="isRootUser">{{ 'user_center' | translate }}</a><span *ngIf="!isRootUser">{{ 'user_center' | translate }}</span>{{ 'jenkins_is_code_client_not_bind_suffix' | translate }}
