.rb-blank-flex {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
rb-blank-page-container,
[rb-blank-page-container],
.rb-blank-page-content {
  @extend .rb-blank-flex;
}
.rb-blank-page-content {
  h1 {
    margin: 30px 0 0 0;
    font-size: 18px;
    color: #8d8d8d;
  }
  h2 {
    margin: 17px 0 0 0;
    color: #369fe1;
  }
  img {
    width: 420px;
  }
}
