@import './_rb-pipeline-workflow-common';

rb-pipeline-workflow {
  display: flex;
  flex-flow: column;

  .pipeline-step-container {
    display: flex;
    flex-flow: column;
    align-items: center;

    rb-pipeline-workflow-item {
      align-self: stretch;
    }
  }

  rb-pipeline-workflow-arrow.arrow-indicator {
    margin: 12px 0 8px;
    .arrow-svg {
      transform: scale(0.8);
    }
    &.disabled {
      opacity: 0.5;
    }
  }
}
