<div class="pipeline-workflow-container">
  <!-- Triggers -->
  <div ng-if="vm.workflow.triggers"
       class="pipeline-step-container">
    <rb-pipeline-workflow-item
      workflow="vm.workflow"
      item="vm.workflow.triggers">
    </rb-pipeline-workflow-item>
    <rb-pipeline-workflow-arrow
      class="arrow-indicator"
      ng-click="vm.workflow.triggers.onArrowClick()"
      ng-class="{ disabled: vm.workflow.triggers.disabled }"
      type="vm.workflow.triggers.arrowType()"
      state="vm.workflow.triggers.state">
    </rb-pipeline-workflow-arrow>
  </div>

  <!-- Tasks -->
  <div class="pipeline-step-container"
       ng-repeat="taskItem in vm.workflow.tasks track by taskItem.id">
    <rb-pipeline-workflow-item
      item="taskItem"
      workflow="vm.workflow">
    </rb-pipeline-workflow-item>
    <rb-pipeline-workflow-arrow
      ng-hide="$last && !vm.workflow.onEnd"
      class="arrow-indicator"
      type="taskItem.arrowType()"
      ng-click="taskItem.onArrowClick()"
      state="taskItem.state">
    </rb-pipeline-workflow-arrow>
  </div>

  <!-- On end task -->
  <div ng-if="vm.workflow.onEnd"
       class="pipeline-step-container">
    <rb-pipeline-workflow-item
      item="vm.workflow.onEnd"
      workflow="vm.workflow">
    </rb-pipeline-workflow-item>
  </div>
</div>
