<rc-card
  [fitParent]="true"
  [footnote]="time | rcFormatUtcStr">
  <a rcCardHeader [routerLink]="getContainerRouterLink()">{{ 'chart_title_container_count' | translate }}</a>
  <rc-chart-container
    [loading]="!initialized"
    [noData]="initialized && !data"
    [noRegion]="!(regionService.region$ | async)">
    <div
      *ngIf="data"
      class="rc-region-info-chart rc-region-info-chart--color-ok">
      <div class="rc-region-info-chart__container">
        <div class="rc-region-info-chart__value">{{ data?.containers_count }}</div>
      </div>
    </div>
  </rc-chart-container>
</rc-card>
