:host {
  .owner-info {
    display: inline-flex;
    &__item {
      padding-right: 16px;
      max-width: 180px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      span {
        max-width: 160px;
      }
    }
  }
}
