<div class="owner-info" *ngIf="owner">
    <span class="owner-info__item">
        <aui-icon icon="basic:user_s"></aui-icon>
        <span
            class="owner-info__item__name"
            [auiTooltip]="owner.name"
            [auiTooltipDisabled]="!owner.name">
            {{owner.name | rcFieldNotAvailable}}
        </span>
    </span>
    <span class="owner-info__item">
        <aui-icon icon="basic:phone_s"></aui-icon>
        <span
            class="owner-info__item__phone"
            [auiTooltip]="owner.phone"
            [auiTooltipDisabled]="!owner.phone">
            {{owner.phone | rcFieldNotAvailable}}
        </span>
    </span>
</div>