.referenced-resources-tooltips-container {
  overflow: hidden;
  max-width: 500px;
  .referenced-resources-tooltips {
    font-size: 14px;
    margin: 2px;
    float: left;
    border-style: none;
    background-color: #e8e8e8;
    display: block;
    padding: 1px 6px 1px 6px;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  a.referenced-resources-tooltips {
    cursor: pointer;
  }
  a.referenced-resources-tooltips:hover {
    text-decoration: underline;
  }
}

.pointer {
  cursor: pointer;
}

.rc-list-header {
  margin-bottom: 8px;
  justify-content: flex-end;
  input {
    flex: 0 0 16em;
  }
}

.tooltipTable {
  padding: 5px 10px;
  font-size: 14px;
  color: #666666;
  font-family: PingFangSC;
  th {
    width: 150px;
    height: 34px;
    padding-left: 15px;
    background-color: #eff7fb;
  }
  td {
    padding-left: 15px;
    line-height: 35px;
    border-bottom: solid 1px #e8e8e8;
    a {
      cursor: pointer;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.show_more {
  text-align: center;
  background-color: #ecf6fd;
  line-height: 30px;
  font-size: 12px;
  > a {
    cursor: pointer;
  }
  > a:hover {
    text-decoration: underline !important;
  }
}
