<rc-loading-mask [loading]="loading"></rc-loading-mask>
<div *ngIf="!params" fxLayout="row" class="rc-list-header">
  <input rcInput (keyup)="onKeywordChange($event)" [placeholder]="'keyword' | translate">
</div>
<rc-table *ngIf="!loading"
          class="rc-secondary-table"
          [columnMode]="'force'"
          [headerHeight]="40"
          [rowHeight]="60"
          [rows]="keyValueList_show">
  <rc-table-col [width]="150" name="{{'key' | translate}}" [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      <a href="javascript:void(0)" (click)="showUpdateKeyYamlDialog(rowData, true)">{{ rowData[0] }}</a>
    </div>
  </rc-table-col>
  <rc-table-col [width]="400" name="{{'value' | translate}}" [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      {{ rowData[1] }}
    </div>
  </rc-table-col>
  <rc-table-col [width]="150" name="{{'configuration_referenced_resource' | translate}}" [resizeable]="false" *ngIf="!appUserConfigmap">
    <div *rcTableColCell="let rowData = row">
      <a *ngIf="iskeyReferencedByResource(rowData)"
         [rcTooltip]="tooltipTemplate"
         [rcTooltipContext]="{referenced_list: configmapData.key_referenced_by[rowData[0]]}"
         [rcTooltipInline]="false"
         rcTooltipMode="info"
         rcTooltipOn="click"
         class="referenced_resources_button pointer"
         (click)="showReferencedList(configmapData.key_referenced_by[rowData[0]])">
        {{ (configmapData.key_referenced_by[rowData[0]] || []).length }}
      </a>
      <a *ngIf="!iskeyReferencedByResource(rowData)">
        0
      </a>
    </div>
  </rc-table-col>
  <rc-table-col [width]="150" name="{{ 'action' | translate }}" [resizeable]="false">
    <div *rcTableColCell="let rowData = row">
      <rc-button-menu>
        <button rcButton rcButtonSize="small" rcButtonMenuDefault (click)="showUpdateKeyYamlDialog(rowData, true)">
          {{ "view" | translate }}</button>
        <button rcMenuButton *ngIf="configmapUtilities.showUpdate(configmapData)" (click)="showUpdateKeyYamlDialog(rowData)">{{ "update" | translate }}</button>
        <button rcMenuButton *ngIf="configmapUtilities.showUpdate(configmapData)" (click)="deleteConfigmapKey(rowData)">
          {{ "delete" | translate }}</button>
      </rc-button-menu>
    </div>
  </rc-table-col>
</rc-table>
<div *ngIf="keyValueList_show.length !== keyValueList.length && params" class="show_more">
  <a (click)="keyValueList_show = keyValueList">{{ "more_info" | translate }}</a>
</div>

<!-- <ng-template #tooltipForList>
  <div class="referenced-resources-tooltips-container" >
    <a *ngFor="let item of referenced_list"
      class="referenced-resources-tooltips"
      (click)="redirctReferencedResource(item)">{{item.name}}</a>
  </div>
</ng-template>

<ng-template #tooltipForDetail>
  <div class="referenced-resources-tooltips-container" >
    <table class="tooltipTable">
      <tr>
        <th>{{'name' | translate}}</th>
        <th>{{'resource_location' | translate}}</th>
      </tr>
      <tr *ngFor="let item of referenced_list">
        <td><a class="pointer" (click)="redirctReferencedResource(item)">{{ item.name }}</a></td>
        <td>{{ item.detail.location }}</td>
      </tr>
    </table>
  </div>
</ng-template> -->
