<div class="rb-form-panel">
  <div class="rb-form-container">
    <ng-form name="form" class="rb-form">
      <div class="rb-form-row input">
        <div class="rb-label" flex="25">
          {{ "volume_image_path" | translate }}
          <span class="rb-required-mark">*</span>
        </div>
        <div
          flex="60"
          ng-if="vm.init.isPreset">
          {{ vm.model.app_volume_dir }}
        </div>
        <input
          flex="60"
          ng-if="!vm.init.isPreset"
          required
          rb-errors-tooltip
          rb-errors-tooltip-mapper="{'repetition': ('create_app_volume_dir_repeat' | translate)}"
          ui-validate="{repetition:'!vm.dirs.includes($value)'}"
          ng-model="vm.model.app_volume_dir">
      </div>
      <div class="rb-form-row">
        <div class="rb-label" flex="25">
          {{ "volume" | translate }}
          <span class="rb-required-mark">*</span>
        </div>
        <rb-dropdown
          flex="60"
          options="vm.volumes"
          init="vm.init.volume_id"
          value="id"
          key="display_text"
          ilter-threshold="5"
          on-change="vm.handleVolumeChange(option)">
        </rb-dropdown>
      </div>
      <span
        ng-if="vm.model.driver_name === 'ebs'"
        class="limit-hint">
        {{ "app_service_create_ebs_instance_num_limit_hint" | translate }}
      </span>
      <div
        ng-if="vm.model.volume_id==='host_path'"
        class="rb-form-row input">
        <div class="rb-label" flex="25">
          {{ "storage_volume_brick_path" | translate }}
          <span class="rb-required-mark">*</span>
        </div>
        <input
          flex="60"
          required
          rb-errors-tooltip
          ng-model="vm.model.volume_name">
      </div>
    </ng-form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button
        type="button"
        class="ui button rb-btn-default"
        ng-click="vm.cancel()">
        {{'cancel' | translate}}
      </button>
      <button
        type="button"
        class="ui button rb-btn-primary"
        ng-disabled="form.$invalid"
        ng-click="vm.confirm()">
        {{'confirm' | translate}}
      </button>
    </div>
  </div>
</div>
