rb-service-labels-control {
  width: 100%;
  .rb-service-labels-container {
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
    padding: 8px 4px;
    table.table {
      width: 100%;
      table-layout: fixed;
      border: none;
      margin-bottom: 0;
      thead {
        tr {
          th {
            border: none;
            color: #666;
            padding-left: 8px;
            padding-right: 0px;
            font-weight: normal;
            &:last-child {
              padding-right: 8px;
            }
          }
        }
      }
      tbody {
        .rb-inner-form {
          input {
            height: 32px;
            &.ng-invalid {
              background-color: #fff;
              border-color: rgba(34, 36, 38, 0.15);
              &.ng-dirty {
                border-color: #e0b4b4;
                background-color: #fff6f6;
              }
            }
          }
          &.ng-submitted {
            input.ng-invalid {
              border-color: #e0b4b4;
              background-color: #fff6f6;
            }
          }
        }
        tr {
          td {
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 8px;
            padding-right: 0px;
            border: none;
            vertical-align: middle;
            &:last-child {
              padding-right: 8px;
            }
            button {
              white-space: nowrap;
            }
            .propagate-enabled {
              padding-left: 1.85714em;
              position: relative;
              i {
                color: #75c447;
                font-size: 16px;
                position: absolute;
                top: 2px;
                left: 2px;
              }
            }
            .propagate-disabled {
              font-size: 14px;
              font-family: STHeitiSC-Light;
              color: #666;
            }
            &.remove-label-cell {
              text-align: center;
              a {
                color: #e2e2e2;
                font-size: 16px;
                &:hover {
                  color: #3faded;
                }
              }
            }
          }
          &:first-child {
            background: #f9f9f9;
          }
          &:not(:first-child) {
            white-space: nowrap;
            &:hover {
              background: #f9f9f9;
            }
          }
        }
      }
    }
    rb-autocomplete {
      display: inline-block;
      padding-left: 0;
      width: 100%;

      .ui.search {
        .prompt {
          padding: 0 8px;
        }
      }
    }
  }
}
