<div class="rb-service-labels-container">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{{ 'key' | translate }}</th>
        <th>{{ 'value' | translate }}</th>
        <th style="width: 100px">Kubernetes</th>
        <th style="width: 66px">{{ 'affinity_label_operate' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="rb-inner-form" ng-form="vm.addLabelForm" rb-isolate-form>
        <td>
          <rb-autocomplete 
            content="vm.keys"
            name="'key'"
            value="vm.newLabel.key"
            pattern="vm.keyPattern"
            required="true"
            on-update="vm.updateNewLabelKey(value)"
            rb-errors-tooltip="vm.addLabelForm.key"
            rb-errors-tooltip-mapper="{
              'pattern': (vm.keyError | translate)
            }"
          ></rb-autocomplete>
        </td>
        <td>
          <rb-autocomplete 
            content="vm.values"
            name="'value'"
            value="vm.newLabel.value"
            pattern="vm.valuePattern"
            required="true"
            on-update="vm.updateNewLabelValue(value)"
            rb-errors-tooltip="vm.addLabelForm.value"
            rb-errors-tooltip-mapper="{
              'pattern': (vm.valueError | translate)
            }"
          ></rb-autocomplete>
        </td>
        <td>
          <div class="ui checkbox" title="{{ 'affinity_labels_value_hint' | translate }}">
            <input 
              type="checkbox" 
              ng-model="vm.newLabel.propagate"
              ng-disabled="vm.propagateOnly || !vm.newLabelPropagatable"
            >
            <label>{{ 'affinity_label_propagate' | translate }}</label>
          </div>
        </td>
        <td>
          <button 
            type="button"
            class="ui button small rb-btn-primary"
            ng-disabled="!vm.addLabelForm.$valid"
            ng-click="vm.addLabel()"
          >
            {{ 'add' | translate }}
          </button>
        </td>
      </tr>
      <tr ng-repeat="item in vm.labels track by $index">
        <td title="{{ item.key }}">{{ item.key }}</td>
        <td title="{{ item.value }}">{{ item.value }}</td>
        <td>
          <span ng-if="item.propagate" class="propagate-enabled"><i class="fa fa-check-circle"></i>{{ 'affinity_label_propagate' | translate }}</span>
          <span ng-if="!item.propagate" class="propagate-disabled">－</span>
        </td>
        <td class="remove-label-cell">
          <a
            ng-if="item.editable"
            ng-click="vm.removeLabel($index)"
          >
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>