<div ng-if="!vm.preview" class="rb-horizontal-message">
  <span class="fa fa-exclamation-circle"></span>
  <div>
    {{'role_create_permission_help_message' | translate}}
  </div>
</div>
<table class="rb-detail-table">
  <thead>
  <tr>
    <td style="min-width: 200px;"> {{'resource'|translate}}</td>
    <td style="min-width: 200px;">{{'action'|translate}}</td>
    <td>{{'constraints'|translate}}</td>
    <td ng-if="!vm.preview" style="width:80px;"></td>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="item in vm.permissions track by $index">
    <td>
      <div ng-bind-html="vm.getPermissionResourceDisplay(item.resource)"></div>
    </td>
    <td>
      <div ng-bind-html="vm.getPermissionActionsDisplay(item.actions)"></div>
    </td>
    <td>
      <div ng-bind-html="vm.getPermissionConstraintsDisplay(item.constraints)"></div>
    </td>
    <td ng-if="!vm.preview">
      <button type="button" ng-click="vm.updatePermission($index, item)" class="rb-fieldset-action-btn">
        <i class="fa fa-edit"></i>
      </button>
      <button type="button" ng-click="vm.deletePermission($index)" class="rb-fieldset-action-btn">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div ng-if="!vm.preview" class="text-right margin-top-2">
  <button type="button"
          class="ui button tiny rb-btn-default pull-right"
          ng-click="vm.addPermission()">
    {{'add' | translate}}
  </button>
</div>
