<div class="instance-slider">
  <div class="slider-title">
    <span>CPU</span>
    <strong>
      {{ vm.model.cpu }} {{ 'unit_cpu' | translate }}
    </strong>
  </div>
  <div class="slider-content">
    <rzslider rz-slider-model="vm.model.cpu" rz-slider-options="vm.cpuOptions"></rzslider>
  </div>
  <div class="slider-title">
    <span>{{ 'memory' | translate }}</span>
    <strong>{{ vm.model.memory }} MB</strong>
  </div>
  <div class="slider-content">
    <rzslider
      rz-slider-model="vm.model.memory"
      rz-slider-options="vm.memoryOptions"></rzslider>
  </div>
</div>
