<ng-container *rcPageHeaderContent>
    <rc-breadcrumb>
        <ng-container *rcBreadcrumbItem>
            <a href="javascript:void(0)" (click)="back()">{{'application' | translate}}</a>
        </ng-container>
        <ng-container *rcBreadcrumbItem>
            {{data?.resource.name}}
        </ng-container>
    </rc-breadcrumb>
</ng-container>
<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<ng-container *ngIf="initialized">
    <rc-application-form *ngIf="type==='UI'"
    [projectName]="projectName"
    [namespaceName]="namespaceName" [clusterName]="clusterName"
        [data]="data"></rc-application-form>
    <rc-application-yaml-form *ngIf="type==='YAML'"
    [projectName]="projectName"
    [namespaceName]="namespaceName" [clusterName]="clusterName"
        [data]="data"></rc-application-yaml-form>
</ng-container>