@import '../../_variables.scss';

rc-collapse-pane {
  margin-bottom: $content-margin;
  display: block;
  .basic-info {
    padding: $content-margin;
    background-color: #fff;
    position: relative;
    img.icon {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 86px;
      height: 92px;
    }

    .basic-info-panel {
      margin-left: 110px;

      .basic-info-header {
        display: flex;
        flex-direction: row;
        .title {
          font-size: 24px;
          flex-grow: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .actions {
          display: flex;
          flex-shrink: 0;
          flex-wrap: nowrap;
          flex-direction: row;
          > button {
            margin-right: $text-margin;
          }
          > rc-button-menu {
            ::ng-deep .ui.buttons .ui.dropdown.button {
              height: 34px;
              font-size: 14px;
            }
          }
        }
      }
      .basic-info-fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        .field {
          display: flex;
          width: 50%;
          flex-grow: 0;
          label {
            color: #a1a1a1;
            font-weight: normal;
            padding: $text-margin $text-margin $text-margin 0px;
            white-space: nowrap;
          }
          span {
            color: #666666;
            padding: $text-margin;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          a {
            padding: $text-margin;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          &.description {
            width: 100%;
            span {
              white-space: normal;
              overflow: auto;
              word-break: break-all;
            }
          }
        }
      }
    }
  }
}

.details {
  background-color: #fff;
  padding: $content-margin;
  .tab-panel {
    padding: 8px;
    dl {
      dt {
        border-left: solid 4px #4bb0e9;
        margin: $content-margin 0px;
        padding: 0px $text-margin;
        color: #666666;
        font-weight: normal;
      }
      dd {
        border-radius: 12px;
        background-color: #f1f5f7;
        padding: 36px;
        margin-bottom: $content-margin;

        .field {
          padding: $text-margin 0px;
          display: flex;
          flex-direction: row;
          label {
            width: 160px;
            padding-right: $content-margin;
            font-weight: normal;
            color: #a1a1a1;
            text-align: right;
            flex-shrink: 0;
          }
          span {
            flex-grow: 1;
            color: #666666;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          span.webhook_address {
            white-space: normal;
          }
          rc-code-editor {
            flex-grow: 1;
          }
        }
      }
    }
  }
}
