<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a
        href="javascript:void(0)"
        [routerLink]="['/jenkins']"
      >
        {{ 'nav_jenkins'| translate }}
      </a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      <a
        href="javascript:void(0)"
        [routerLink]="['/jenkins/pipelines']"
      >
        {{ 'nav_jenkins_pipelines' | translate }}
      </a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>{{ (data$ | async)?.name }}</ng-container>
  </rc-breadcrumb>
</div>
<div>
  <ng-container *ngFor="let data of [data$ | async]">
    <rc-collapse-pane
      initHeight="128"
      [liner]="true"
    >
      <div class="basic-info">
        <img
          class="icon"
          src="/static/images/resource/jenkins-list-icon.svg"
        >
        <div class="basic-info-panel">
          <div class="basic-info-header">
            <div class="title">{{ data?.display_name || data?.name }}</div>
            <div class="actions">
              <button
                rcButton="primary"
                *ngIf="canStart(data)"
                [disabled]="mutating$ | async"
                [loading]="(mutating$ | async) === 'starting'"
                (click)="start(data)"
              >
                {{ 'jenkins_pipeline_start' | translate }}
              </button>
              <rc-button-menu [text]="'action' | translate">
                <button
                  rcMenuButton
                  *ngIf="creatable"
                  (click)="clone(data)"
                >
                  {{ 'jenkins_pipeline_clone' | translate }}
                </button>
                <button
                  rcMenuButton
                  *ngIf="canUpdate(data)"
                  [disabled]="mutating$ | async"
                  (click)="edit(data)"
                >
                  {{ 'update' | translate }}
                </button>
                <button
                  rcMenuButton
                  *ngIf="canUpdate(data) && data?.template?.upgrade"
                  [disabled]="mutating$ | async"
                  (click)="edit(data, true)"
                >
                  {{ 'jenkins_pipeline_upgrade' | translate }}
                </button>
                <button
                  rcMenuButton
                  *ngIf="canDelete(data)"
                  [disabled]="mutating$ | async"
                  (click)="delete(data)"
                >
                  {{ 'delete' | translate }}
                </button>
              </rc-button-menu>
            </div>
          </div>
          <div class="basic-info-fields">
            <div class="field">
              <label>{{ 'name' | translate }}:</label>
              <span>{{ data?.name }}</span>
            </div>
            <div class="field">
              <label>{{ 'created_by' | translate }}:</label>
              <span>{{ data?.created_by }}</span>
            </div>
            <div class="field">
              <label>{{ 'space' | translate }}:</label>
              <a
                *ngIf="data"
                [routerLink]="['/quota/detail', data?.space_name]"
              >
                {{ data?.space_name }}
              </a>
            </div>
            <div class="field">
              <label>
                {{ 'jenkins_integration' | translate }}:
              </label>
              <a
                *ngIf="data"
                [routerLink]="['/integration_center/detail', data?.jenkins_integration_id]"
              >
                {{ data?.jenkins_integration_name }}
              </a>
            </div>
            <div class="field">
              <label>{{ 'created_at' | translate }}:</label>
              <span>{{ data?.created_at | rcFormatUtcStr }}</span>
            </div>
            <div class="field">
              <label>{{ 'updated_at' | translate }}:</label>
              <span>{{ data?.updated_at | rcFormatUtcStr }}</span>
            </div>
            <div class="field">
              <label>{{ 'jenkins_template' | translate }}:</label>
              <span>
                {{ getTemplateName(data?.template?.template?.display_name) }}
              </span>
            </div>
            <div class="field description">
              <label>{{ 'description' | translate }}:</label>
              <span>{{ data?.description }}</span>
            </div>
          </div>
        </div>
      </div>
    </rc-collapse-pane>
    <div class="details">
      <rc-tab-group>
        <div *rcTab="'jenkins_histories' | translate">
          <div class="tab-panel">
            <rc-jenkins-pipeline-history-table
              [items]="histories$ | async"
              [page]="historiesPage$ | async"
              [pageSize]="pageSize"
              [total]="historiesTotal$ | async"
              [loading]="historiesLoading$ | async"
              [hidePipeline]="true"
              [mutatingItems]="mutatingHistories$ | async"
              (pageChange)="onPageChange($event)"
              (startHistory)="startHistory($event)"
              (cancelHistory)="cancelHistory($event)"
              (deleteHistory)="deleteHistory($event)"
            ></rc-jenkins-pipeline-history-table>
          </div>
        </div>
        <div *rcTab="'detail' | translate">
          <div class="tab-panel">
            <dl>
              <dt>
                {{ 'jenkins_pipeline_script' | translate }}
              </dt>
              <dd>
                <div
                  class="field"
                  *ngIf="!data?.pipeline_scm"
                >
                  <label>
                    {{ 'jenkins_code_repository' | translate }}
                  </label>
                  <span>
                    {{ 'jenkins_client_not_use' | translate }}
                  </span>
                </div>
                <div
                  class="field"
                  *ngIf="data?.pipeline_scm"
                >
                  <label>
                    {{ 'jenkins_code_repository' | translate }}
                  </label>
                  <span>{{ data?.pipeline_scm?.source }}</span>
                </div>
                <div
                  class="field"
                  *ngIf="data?.pipeline_scm"
                >
                  <label>
                    {{ 'jenkins_code_repository_address' | translate }}
                  </label>
                  <span>
                    {{ data?.pipeline_scm?.repository_path }}
                  </span>
                </div>
                <div
                  class="field"
                  *ngIf="data?.pipeline_scm"
                >
                  <label>{{ 'code_branch' | translate }}</label>
                  <span>{{ data?.pipeline_scm?.branch }}</span>
                </div>
                <div
                  class="field"
                  *ngIf="data.pipeline_scm && ['GIT', 'SVN'].includes(data.pipeline_scm.source)"
                >
                  <label>
                    {{ 'jenkins_code_credential' | translate }}
                  </label>
                  <span>
                    {{ data?.pipeline_scm?.credential_name }}
                  </span>
                </div>
                <div
                  class="field"
                  *ngIf="data?.type === 'FROM_SCM'"
                >
                  <label>{{ 'jenkins_script_path' | translate }}</label>
                  <span>{{ data?.script_path }}</span>
                </div>
                <div
                  class="field"
                  *ngIf="data?.type === 'INLINE'"
                >
                  <label>
                    {{ 'jenkins_pipeline_script' | translate }}
                  </label>
                  <rc-code-editor
                    [readOnly]="true"
                    [ngModel]="data?.script"
                    mode="groovy"
                  >
                  </rc-code-editor>
                </div>
              </dd>
            </dl>
            <dl *ngIf="data?.triggers?.length">
              <dt>
                {{ 'jenkins_pipeline_triggers' | translate }}
              </dt>
              <ng-container
                *ngFor="let trigger of data?.triggers"
                [ngSwitch]="trigger.type"
              >
                <dd *ngSwitchCase="'cron'">
                  <div class="field">
                    <label>
                      {{ 'jenkins_pipeline_trigger' | translate }}
                    </label>
                    <span>
                      {{ 'jenkins_trigger_cron' | translate }}
                    </span>
                  </div>
                  <div class="field">
                    <label>
                      {{ 'jenkins_trigger_time_rule' | translate }}
                    </label>
                    <span>{{ trigger.meta.cron }}</span>
                  </div>
                </dd>
                <dd *ngSwitchCase="'code_change_hook'">
                  <div class="field">
                    <label>
                      {{ 'jenkins_pipeline_trigger' | translate }}
                    </label>
                    <span>
                      {{ 'jenkins_trigger_code_change_hook' | translate }}
                    </span>
                  </div>
                  <div
                    class="field"
                    *ngIf="data?.pipeline_scm && !['GIT', 'SVN'].includes(data?.pipeline_scm.source)"
                  >
                    <label>{{ 'Webhook' }}</label>
                    <span
                      class="webhook_address"
                      [auiTooltipCopy]="trigger.meta.webhook_url"
                    >
                      {{ trigger.meta.webhook_url }}
                    </span>
                  </div>
                </dd>
                <dd *ngSwitchCase="'image_change'">
                  <div class="field">
                    <label>
                      {{ 'jenkins_pipeline_trigger' | translate }}
                    </label>
                    <span>
                      {{ 'jenkins_trigger_image_change' | translate }}
                    </span>
                  </div>
                  <div class="field">
                    <label>{{ 'image_registry_name' | translate }}</label>
                    <span>
                      {{ trigger.meta.registry_display_name }}
                    </span>
                  </div>
                  <div class="field">
                    <label>{{ 'image_repository' | translate }}</label>
                    <span>
                      <a
                        [routerLink]="['/image/repository/detail']"
                        [queryParams]="{repositoryName: trigger.meta.repository, registryName: trigger.meta.registry}"
                      >
                        {{ trigger.meta.repository }}
                      </a>
                    </span>
                  </div>
                </dd>
              </ng-container>
            </dl>
            <dl *ngIf="fieldModels?.length">
              <dt>
                {{ 'jenkins_pipeline_params' | translate }}
              </dt>
              <ng-container>
                <dd>
                  <div *ngFor="let param of fieldModels">
                    <div
                      *ngIf="param.label"
                      class="field"
                    >
                      <label style="width: 200px">{{ param.label }}</label>
                      <span>
                        <span *ngIf="!(param.value?.type)">{{ param.value | rcFieldNotAvailable }}</span>
                        <span *ngIf="param.value?.type">
                          <span *ngIf="!param.value?.res?.length; else table">-</span>
                          <ng-template #table>
                            <table style="width: 100%;">
                              <thead>
                                <tr>
                                  <td style="width:250px;">{{ 'key' | translate }}</td>
                                  <td>{{ 'value' | translate }}</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let r of param.value.res">
                                  <td>{{r.Name}}</td>
                                  <td>{{r.Value | rcFieldNotAvailable }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </ng-template>
                        </span>
                      </span>
                    </div>
                  </div>
                </dd>
              </ng-container>
            </dl>
          </div>
        </div>
      </rc-tab-group>
    </div>
  </ng-container>
</div>
