<div class="rb-form-row" ng-if="vm.showCurField">
  <div class="rb-label" flex="25">
    {{vm.label | translate | rbTitleCase}}
    <span ng-if="vm.required" class="rb-required-mark">*</span>
  </div>
  <div flex="55" rb-loading-mask="vm.isOptionsLoading" rb-errors-tooltip="vm.form[vm.name]">
    <rb-model-dropdown name="{{vm.name}}"
                       required="vm.required"
                       maxlength="{{vm._maxlength}}"
                       minlength="{{vm._minlength}}"
                       ng-model="vm.model"
                       options="vm.options"
                       multiple="{{vm.multiple}}"
                       key="{{vm.key}}"
                       value="{{vm.value}}"
                       on-change="vm.onRealChange(option)"
                       on-add="vm.onRealAdd(option)"
                       on-remove="vm.onRealRemove(option)"
                       init="vm.init"
                       placeholder="{{ vm.options.length ? (vm.multiple ? (vm._selectPlaceholder || 'please_select') : '') : vm.nullPlaceholder | translate}}"
    >
    </rb-model-dropdown>
  </div>
  <div ng-if="vm.description" class="rb-input-field-addon">
    <i class="fa fa-question-circle"
       style="cursor: pointer;"
       uib-popover-html="vm.description"
       popover-placement="top"
       popover-trigger="'mouseenter'"
       popover-append-to-body="true"></i>
  </div>
</div>