@import '_mixins';
:host {
  display: block;
  flex: 1;
}
.rc-container-fields-healthcheck {
  .healthcheck-section {
    position: relative;
    @include clearfix;
    width: 100%;
    background-color: #fafafa;
    padding: 8px;
    font-size: 14px;
    &:first-of-type {
      border-bottom: 1px dashed #e8e8e8;
    }
    > button {
      width: 230px;
      text-align: center;
    }

    .detail-container {
      position: relative;
      display: flex;
      @include clearfix;
      .detail-title {
        font-weight: bold;
        flex: 0 0 78px;
        white-space: nowrap;
      }
      .detail-content {
        flex-grow: 1;
        margin: 0 8px 0 0;
        color: #4d4d4d;
        min-height: 100px;
        border-top: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        &.detail-content-right {
          margin-left: 160px;
        }
        &:after {
          content: '';
          display: block;
          clear: both;
        }
        .content-section {
          float: left;
          display: flex;
          width: 50%;
          border-bottom: 1px solid #e8e8e8;
          > div {
            padding: 6px;
          }
          > div:nth-child(odd) {
            text-align: right;
            background-color: #f4f4f4;
            flex: 0 0 160px;
          }
          > div:nth-child(even) {
            padding-left: 8px;
            background-color: #fff;
            word-break: break-all;
            width: 100%;
            border-right: 1px solid #e8e8e8;
          }
          &.section-3-1 {
            width: 33%;
            > div:nth-child(odd) {
              flex: 0 0 100px;
            }
          }
          &.section-row {
            width: 100%;
          }
          .command-container {
            .command-item {
              padding: 8px;
              border-top: 1px dashed #e8e8e8;
              &:first-of-type {
                border-top: none;
              }
              & > div {
                max-height: 62px;
                overflow-y: auto;
              }
            }
          }
        }
      }
      .detail-operation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 30px;
        text-align: center;
        a {
          font-size: 16px;
          width: 18px;
          height: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #999;
          &:not(:last-child) {
            margin-bottom: 8px;
          }
          &:hover {
            color: #24a7e3;
          }
          &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }
}
