@import 'form.styles';
:host {
  display: block;
  .rc-form-field {
    display: flex;
    .form-field-content {
      flex: 1;
      padding-right: 48px;
      line-height: $form-row-height;
      margin-bottom: 8px;
    }
  }
  .form-field {
    display: flex;
    color: #333;
    label {
      flex: 0 0 140px;
      font-weight: normal;
      text-align: right;
      padding-right: 25px;
    }
    .field-container {
      margin-right: 48px;
    }
  }

  ::ng-deep label.form-field-label {
    //width: 100px;
    font-weight: normal;
    text-align: right;
    padding-right: 16px;
    font-weight: normal;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
