<table class="rc-form-table">
  <thead>
    <tr>
      <td style="width: 90px;">
        {{ 'type' | translate }}
      </td>
      <td style="width: 40%;">
        {{ 'name' | translate }} / {{ 'path' | translate }}
      </td>
      <td>
        {{ 'service_container_path' | translate }}
      </td>
      <td style="width: 70px;"></td>
    </tr>
  </thead>
  <tbody>

    <ng-container *ngFor="let item of volumeList; trackBy: trackByIndex">
      <tr *ngIf="!(item.type === 'configmap' && item.configMapKeyRef) && !(item.type === 'pvc' && item.subPath)">
        <td>{{item.type | translate}}</td>
        <td>
          {{getItemNameOrPathDisplay(item)}}
        </td>
        <td>{{item.containerPath}}</td>
        <td>
          <a class="form-action-button" href="javascript:void(0)" (click)="updateItem(item)">
            <i class="fa fa-edit"></i>
          </a>
          <a class="form-action-button" href="javascript:void(0)" (click)="removeItem(item.index)">
            <i class="fa fa-minus-circle"></i>
          </a>
        </td>
      </tr>
      <!-- pvc with subname -->
      <ng-container *ngIf="item.type === 'pvc' && item.subPath">
        <tr>
          <td rowspan="2">{{item.type | translate}}</td>
          <td>{{item.pvcName}}</td>
          <td rowspan="2">{{item.containerPath}}</td>
          <td rowspan="2">
            <a class="form-action-button" href="javascript:void(0)" (click)="updateItem(item)">
              <i class="fa fa-edit"></i>
            </a>
            <a class="form-action-button" href="javascript:void(0)" (click)="removeItem(item.index)">
              <i class="fa fa-minus-circle"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td>{{'service_sub_path'|translate}}：{{item.subPath}}</td>
          <td [hidden]="true"></td>
        </tr>
      </ng-container>
      <!-- configmap with configmapkeyref -->
      <ng-container *ngIf="item.type === 'configmap' && item.configMapKeyRef">
        <tr>
          <td rowspan="2">{{item.type | translate}}</td>
          <td>{{item.configMapName}}</td>
          <td>{{item.containerPath}}</td>
          <td rowspan="2">
            <a class="form-action-button" href="javascript:void(0)" (click)="updateItem(item)">
              <i class="fa fa-edit"></i>
            </a>
            <a class="form-action-button" href="javascript:void(0)" (click)="removeItem(item.index)">
              <i class="fa fa-minus-circle"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="rc-pills">
              <div class="rc-pill" *ngFor="let keyMap of item.configMapKeyMap">
                {{keyMap.key}}:{{keyMap.path}}
              </div>
            </div>
          </td>
        </tr>
      </ng-container>

    </ng-container>

  </tbody>
</table>
<div *ngIf="!volumeList.length" class="rc-form-table-empty">
  {{ 'service_volume_empty' | translate }}
</div>
<div class="rc-row-buttons">
  <button rcButton="primary-lite" rcButtonSize="small" (click)="addItem()">{{'service_add_volume' | translate}}</button>
</div>
