<rc-form-container>
    <div [rcLoadingMask]="submitting"
        class="rc-container-fields-healthcheck-edit">
        <form #form="ngForm"
            (ngSubmit)="onSubmit()">
            <rc-form-field label="{{ 'k8s_service_protocol' | translate }}">
                <rc-radio-group name="protocol"
                    #protocolType
                    [options]="protocolOptions"
                    [(ngModel)]="model.protocol"
                    required>
                </rc-radio-group>
            </rc-form-field>
            <rc-form-field label="{{ 'k8s_service_initial_delay_seconds' | translate }}">
                <input rcInput
                    type="number"
                    name="initialDelaySeconds"
                    [(ngModel)]="model.initialDelaySeconds"
                    required>
                <span rcFormSuffix>s</span>
            </rc-form-field>
            <rc-form-field label="{{ 'k8s_service_period_seconds' | translate }}">
                <input rcInput
                    type="number"
                    name="periodSeconds"
                    [(ngModel)]="model.periodSeconds"
                    required>
                <span rcFormSuffix>s</span>
            </rc-form-field>
            <rc-form-field label="{{ 'k8s_service_timeout_seconds' | translate }}">
                <input rcInput
                    type="number"
                    name="timeoutSeconds"
                    [(ngModel)]="model.timeoutSeconds"
                    required>
                <span rcFormSuffix>s</span>
            </rc-form-field>
            <rc-form-field label="{{ 'k8s_service_success_threshold' | translate }}">
                <input rcInput
                    type="number"
                    name="successThreshold"
                    [(ngModel)]="model.successThreshold"
                    required>
                <span rcFormSuffix>{{ "times" | translate }}</span>
            </rc-form-field>
            <rc-form-field label="{{ 'k8s_service_failure_threshold' | translate }}">
                <input rcInput
                    type="number"
                    name="failureThreshold"
                    [(ngModel)]="model.failureThreshold"
                    required>
                <span rcFormSuffix>{{ "times" | translate }}</span>
            </rc-form-field>

            <rc-form-field *ngIf="model.protocol === 'HTTP'"
                label="{{ 'k8s_service_scheme' | translate }}">
                <rc-radio-group required
                    name='kind'
                    [(ngModel)]="model.scheme"
                    [options]="schemeOptions">
                </rc-radio-group>
            </rc-form-field>
            <rc-form-field *ngIf="model.protocol === 'HTTP' || model.protocol ==='TCP'"
                label="{{ 'k8s_service_port' | translate }}">
                <input rcInput
                    type="number"
                    name="port"
                    [(ngModel)]="model.port"
                    required>
            </rc-form-field>
            <rc-form-field *ngIf="model.protocol === 'HTTP'"
                label="{{ 'k8s_service_path' | translate }}">
                <input rcInput
                    type="text"
                    name="path"
                    [(ngModel)]="model.path"
                    required>
            </rc-form-field>
            <div *ngIf="model.protocol === 'HTTP'"
                 class="form-field">
                <label>{{ 'healthcheck_request_headers' | translate }}</label>
                <div class="field-container">
                    <table class="rc-form-table">
                        <thead>
                            <tr>
                                <td>name</td>
                                <td>value</td>
                                <td style="width: 40px;"></td>
                            </tr>
                        </thead>
                        <tbody *ngIf="model.headers.length">
                            <tr class="rc-form-input"
                                *ngFor=" let item of model.headers; let i = index; trackBy: trackByIndex">
                                <td>
                                    <input name="name-{{i}}"
                                        rcInput
                                        type="text"
                                        [(ngModel)]="item.name"
                                        >
                                </td>
                                <td>
                                    <input name="value-{{i}}"
                                        rcInput
                                        type="text"
                                        [(ngModel)]="item.value"
                                        >
                                </td>
                                <td>
                                    <a class="form-action-button"
                                        href="javascript:void(0)"
                                        (click)="removeHeader(i)">
                                        <i class="fa fa-minus-circle"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!model.headers.length"
                         class="rc-form-table-empty">
                      {{'no_header' | translate}}
                    </div>
                    <div class="rc-form-table-add-row"
                        (click)="addHeader()">
                        {{ 'add' | translate }}
                    </div>
                </div>
            </div>
            <rc-form-field *ngIf="model.protocol === 'EXEC'"
                label="{{ 'k8s_service_command' | translate }}">
                <div class="exec-commands-container">
                    <table class="rc-form-table">
                        <tbody>
                            <tr *ngFor="let item of model.commands; let i = index; trackBy: trackByIndex">
                                <td class="healthcheck-edit-input-container">
                                    <input name="command-{{i}}"
                                        rcInput
                                        placeholder="{{ 'please_input_command' | translate }}"
                                        type="text"
                                        [(ngModel)]="item.command"
                                        required>
                                </td>
                                <td style="width: 40px;">
                                    <a class="form-action-button"
                                        href="javascript:void(0)"
                                        (click)="removeCommand(i)">
                                        <i class="fa fa-minus-circle"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="rc-form-table-add-row"
                        (click)="addCommand()">
                        {{ 'add' | translate }}
                    </div>
                </div>
            </rc-form-field>
            <ng-container *rcFooterContent>
                <button rcButton
                    (click)="cancel()">{{ 'cancel' | translate }}</button>
                <button rcButton="primary"
                    type="submit"
                    (click)="confirm()">{{ (isUpdate ? 'save' : 'confirm') | translate }}</button>
            </ng-container>
        </form>
    </div>
</rc-form-container>
