<rc-form-container>
  <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
  <form #form="ngForm" *ngIf="initialized">
    <rc-form-field label="{{'type' | translate}}"
                   [shouldFlexRow]="true">
      <rc-radio-group name="type"
                      [options]="typeOptions"
                      displayField="name"
                      valueField="value"
                      (ngModelChange)="typeChange()"
                      [(ngModel)]="viewModel.type">
      </rc-radio-group>
    </rc-form-field>
    <!-- host path -->
    <rc-form-field label="{{'host-path' | translate}}"
                   *ngIf="viewModel.type === 'host-path'"
                   [shouldFlexRow]="true">
      <input rcInput required name="hostPath" [(ngModel)]="viewModel.hostPath">
    </rc-form-field>

    <!-- pvc -->
    <ng-container *ngIf="viewModel.type === 'pvc'">
      <rc-form-field label="{{'PVC' | translate}}" [shouldFlexRow]="true">
        <rc-single-selection-dropdown required
                                      name="pvcName"
                                      [options]="pvcOptions"
                                      displayField="name"
                                      valueField="name"
                                      [(ngModel)]="viewModel.pvcName">
        </rc-single-selection-dropdown>
      </rc-form-field>
      <rc-form-field label="{{'service_sub_path' | translate}}" [shouldFlexRow]="true">
        <input rcInput name="subPath" [(ngModel)]="viewModel.subPath">
      </rc-form-field>

    </ng-container>
    <!-- volume -->
    <ng-container *ngIf="viewModel.type === 'volume'">
      <rc-form-field label="{{'volumes' | translate}}"
                     [shouldFlexRow]="true">
        <rc-single-selection-dropdown required
                                      name="volumeName"
                                      [options]="volumeOptions"
                                      displayField="name"
                                      valueField="name"
                                      [(ngModel)]="viewModel.volumeName"
                                      (change)="volumeOptionChange($event)">
        </rc-single-selection-dropdown>
      </rc-form-field>
    </ng-container>
    <!-- configmap -->
    <ng-container *ngIf="viewModel.type === 'configmap'">
      <rc-form-field label="ConfigMap"
                     [shouldFlexRow]="true">
        <rc-single-selection-dropdown required
                                      name="configmapName"
                                      [options]="configMapOptions"
                                      displayField="name"
                                      valueField="name"
                                      (change)="configMapChange($event)"
                                      [(ngModel)]="viewModel.configMapName">
        </rc-single-selection-dropdown>
      </rc-form-field>
      <rc-form-field label="{{'service_configmap_ref_key' | translate}}">
        <rc-checkbox mode="toggle"
                     name="configMapKeyRef"
                     [disabled]="!viewModel.configMapName || !configMapOptions?.length"
                     [(ngModel)]="viewModel.configMapKeyRef"></rc-checkbox>
      </rc-form-field>
      <div class="rc-form-field" *ngIf="viewModel.configMapKeyRef">
        <div class="rc-form-field-label"></div>
        <div class="rc-form-field-container">
          <table class="rc-form-table">
            <thead>
              <tr>
                <td style="width: 180px">{{'key' | translate}}</td>
                <td>{{'file_path' | translate}}</td>
                <td style="width: 40px;"></td>
              </tr>
            </thead>
            <tbody>
              <tr class="rc-form-input" *ngFor="let key of viewModel.configMapKeyMap; trackBy: trackByKeyIndex">
                <td>
                  <rc-single-selection-dropdown name="key-name-{{key.index}}"
                                                required
                                                [rcErrorsTooltip]
                                                [options]="configMapKeyOptions"
                                                [(ngModel)]="key.key"
                                                style="width:100%;"></rc-single-selection-dropdown>
                </td>
                <td>
                  <input required rcInput [rcErrorsTooltip] [(ngModel)]="key.path" name="key-path-{{key.index}}">
                </td>
                <td>
                  <a class="form-action-button"
                     href="javascript:void(0)"
                     (click)="removeKey(key.index)">
                    <i class="fa fa-minus-circle"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="rc-form-table-add-row"
               (click)="addKey()">
            {{ "add" | translate }}
          </div>
        </div>
      </div>

    </ng-container>
    <!-- common -->
    <ng-container *ngIf="!viewModel.configMapKeyRef">
        <rc-form-field label="{{'service_container_path' | translate}}"
            [shouldFlexRow]="true">
            <input rcInput
                required
                name="containerPath"
                [(ngModel)]="viewModel.containerPath">
        </rc-form-field>
    </ng-container>

  </form>
  <ng-container *rcFooterContent>
    <button rcButton
            (click)="cancel()">
      {{'cancel'|translate}}
    </button>
    <button rcButton="primary"
            (click)="confirm()">
      {{'save'|translate}}
    </button>
  </ng-container>

</rc-form-container>
