<div class="rc-container-fields-healthcheck">
  <div class="healthcheck-section">
    <button
      rcButton="primary-lite"
      rcButtonSize="small"
      [disabled]="disabled"
      *ngIf="!healthcheckValue.liveness"
      (click)="openTemplateModal('liveness')">
      {{ 'k8s_service_add_liveness_health_check' | translate }}
    </button>
    <div *ngIf="healthcheckValue.liveness" class="detail-container">
      <div class="detail-title">{{ 'k8s_service_liveness' | translate }}</div>
      <!--liveness content start-->
      <div class="detail-content">
        <div class="content-section">
          <div>{{ 'k8s_service_protocol' | translate }}</div>
          <div>{{healthcheckValue.liveness.protocol}}</div>
        </div>
        <div class="content-section">
          <div>{{ 'k8s_service_initial_delay_seconds' | translate }}</div>
          <div>{{healthcheckValue.liveness.initialDelaySeconds}}</div>
        </div>

        <div class="content-section">
          <div>{{ 'k8s_service_period_seconds' | translate }}</div>
          <div>{{healthcheckValue.liveness.periodSeconds}}</div>
        </div>
        <div class="content-section">
          <div>{{ 'k8s_service_timeout_seconds' | translate }}</div>
          <div>{{healthcheckValue.liveness.timeoutSeconds}}</div>
        </div>

        <div class="content-section">
          <div>{{ 'k8s_service_success_threshold' | translate }}</div>
          <div>{{healthcheckValue.liveness.successThreshold}}</div>
        </div>
        <div class="content-section">
          <div>{{ 'k8s_service_failure_threshold' | translate }}</div>
          <div>{{healthcheckValue.liveness.failureThreshold}}</div>
        </div>

        <!--HTTP有scheme 端口 路径 请求标题-->
        <ng-container *ngIf="healthcheckValue.liveness.protocol === 'HTTP'">
          <div class="content-section">
            <div>{{ 'k8s_service_scheme' | translate }}</div>
            <div>{{healthcheckValue.liveness.scheme}}</div>
          </div>
          <div class="content-section">
            <div>{{ 'k8s_service_port' | translate }}</div>
            <div>{{healthcheckValue.liveness.port}}</div>
          </div>

          <div class="content-section section-row">
            <div>{{ 'k8s_service_path' | translate }}</div>
            <div>{{healthcheckValue.liveness.path}}</div>
          </div>

          <div class="content-section section-row">
            <div>{{ 'healthcheck_request_headers' | translate }}</div>
            <div class="headers-container">
              <div *ngFor="let item of healthcheckValue.liveness.headers; let i = index; trackBy trackByIndex" class="headers-item">
                <div>name: {{ item.name }}; value: {{ item.value }}</div>
              </div>
              <div *ngIf="!healthcheckValue.liveness.headers.length">{{'no_header' | translate}}</div>
            </div>
          </div>
        </ng-container>
        <!--TCP有端口-->
        <ng-container *ngIf="healthcheckValue.liveness.protocol === 'TCP'">
          <div class="content-section section-row">
            <div>{{ 'k8s_service_port' | translate }}</div>
            <div>{{healthcheckValue.liveness.port}}</div>
          </div>
        </ng-container>
        <!--EXEC有执行命令-->
        <ng-container *ngIf="healthcheckValue.liveness.protocol === 'EXEC'">
          <div class="content-section section-row">
            <div>{{ 'k8s_service_command' | translate }}</div>
            <div class="command-container">
              <div *ngFor="let item of healthcheckValue.liveness.commands; let i = index; trackBy trackByIndex" class="command-item">
                <div>
                  {{ item.command }}
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <!--liveness content end-->
      <div class="detail-operation">
          <a href="javascript:void(0)">
              <i class="fa fa-edit" (click)="openTemplateModal('liveness', true, healthcheckValue.liveness)"></i>
          </a>
          <a href="javascript:void(0)">
              <i class="fa fa-trash-o" (click)="deleteHealthcheck('liveness')"></i>
          </a>
      </div>
    </div>
  </div>
  <div class="healthcheck-section">
    <button
      rcButton="primary-lite"
      rcButtonSize="small"
      [disabled]="disabled"
      *ngIf="!healthcheckValue.readiness"
      (click)="openTemplateModal('readiness')">
      {{ 'k8s_service_add_readiness_health_check' | translate }}
    </button>
    <div *ngIf="healthcheckValue.readiness" class="detail-container">
      <div class="detail-title">{{ 'k8s_service_readiness' | translate }}</div>
      <!--readiness content start-->
      <div class="detail-content">
        <div class="content-section">
          <div>{{ 'k8s_service_protocol' | translate }}</div>
          <div>{{healthcheckValue.readiness.protocol}}</div>
        </div>
        <div class="content-section">
          <div>{{ 'k8s_service_initial_delay_seconds' | translate }}</div>
          <div>{{healthcheckValue.readiness.initialDelaySeconds}}</div>
        </div>

        <div class="content-section">
          <div>{{ 'k8s_service_period_seconds' | translate }}</div>
          <div>{{healthcheckValue.readiness.periodSeconds}}</div>
        </div>
        <div class="content-section">
          <div>{{ 'k8s_service_timeout_seconds' | translate }}</div>
          <div>{{healthcheckValue.readiness.timeoutSeconds}}</div>
        </div>

        <div class="content-section">
          <div>{{ 'k8s_service_success_threshold' | translate }}</div>
          <div>{{healthcheckValue.readiness.successThreshold}}</div>
        </div>
        <div class="content-section">
          <div>{{ 'k8s_service_failure_threshold' | translate }}</div>
          <div>{{healthcheckValue.readiness.failureThreshold}}</div>
        </div>

        <!--HTTP有scheme 端口 路径 请求标题-->
        <ng-container *ngIf="healthcheckValue.readiness.protocol === 'HTTP'">
          <div class="content-section">
            <div>{{ 'k8s_service_scheme' | translate }}</div>
            <div>{{healthcheckValue.readiness.scheme}}</div>
          </div>
          <div class="content-section">
            <div>{{ 'k8s_service_port' | translate }}</div>
            <div>{{healthcheckValue.readiness.port}}</div>
          </div>

          <div class="content-section section-row">
            <div>{{ 'k8s_service_path' | translate }}</div>
            <div>{{healthcheckValue.readiness.path}}</div>
          </div>

          <div class="content-section section-row">
            <div>{{ 'healthcheck_request_headers' | translate }}</div>
            <div class="headers-container">
              <div *ngFor="let item of healthcheckValue.readiness.headers; let i = index; trackBy trackByIndex" class="headers-item">
                <div>name: {{ item.name }}; value: {{ item.value }}</div>
              </div>
              <div *ngIf="!healthcheckValue.readiness.headers.length">{{'no_header' | translate}}</div>
            </div>
          </div>
        </ng-container>
        <!--TCP有端口-->
        <ng-container *ngIf="healthcheckValue.readiness.protocol === 'TCP'">
          <div class="content-section section-row">
            <div>{{ 'k8s_service_port' | translate }}</div>
            <div>{{healthcheckValue.readiness.port}}</div>
          </div>
        </ng-container>
        <!--EXEC有执行命令-->
        <ng-container *ngIf="healthcheckValue.readiness.protocol === 'EXEC'">
          <div class="content-section section-row">
            <div>{{ 'k8s_service_command' | translate }}</div>
            <div class="command-container">
              <div *ngFor="let item of healthcheckValue.readiness.commands; let i = index; trackBy trackByIndex" class="command-item">
                <div>{{ item.command }}</div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <!--readiness content end-->
      <div class="detail-operation">
          <a href="javascript:void(0)">
              <i class="fa fa-edit" (click)="openTemplateModal('readiness', true, healthcheckValue.readiness)"></i>
          </a>
          <a href="javascript:void(0)">
              <i class="fa fa-trash-o" (click)="deleteHealthcheck('readiness')"></i>
          </a>
      </div>
    </div>
  </div>
</div>
