.rc-group {
  width: 100%;
  display: flex;
  rc-single-selection-dropdown {
    flex: 1;
    &:first-child {
      margin-right: 4px;
    }
  }
}

.button-group {
  display: flex;
  .rc-form-action-button {
    flex: 1;
    margin-right: 1px;
  }
  .rc-form-table-add-row {
    flex: 1;
  }
}
