:host {
  width: 100%;
  .section-container {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding: 8px;
    &:first-of-type {
      border-bottom: 1px dashed #e8e8e8;
    }
    .section-title {
      font-weight: bold;
      flex: 0 0 60px;
      text-align: center;
    }
    .input-wrapper {
      display: flex;
      flex-grow: 1;
      margin: 0 8px;
      label {
        display: flex;
        align-items: center;
        border: 1px solid #e8e8e8;
        border-right: none;
        border-radius: 4px 0 0 4px;
        padding: 0 8px;
        background-color: #f0f0f0;
        font-weight: normal;
        white-space: nowrap;
      }
      input {
        position: relative;
        flex-grow: 1;
        border-radius: 0;
        margin-right: -1px;
        &:focus {
          z-index: 1;
        }
      }
      ::ng-deep .ui.selection.dropdown {
        border-radius: 0;
      }
    }
    .comparison-operator {
      color: #ccc;
      white-space: nowrap;
    }
    ::ng-deep .ui.selection.dropdown {
      min-width: 6em;
    }
  }
}
