<div class="container-resource-size">
  <form #form="ngForm">
    <div class="section-container">
      <div class="section-title">{{ 'memory' | translate }}</div>
      <div class="input-wrapper">
        <label>{{ 'reference_value' | translate }}</label>
        <input rcInput
               type="text"
               required
               [pattern]="numberReg.pattern"
               [rcErrorsTooltip]
               [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
               name="requestsMemValue"
               [(ngModel)]="resourceSize.requests.memory.value">

        <rc-single-selection-dropdown
          [options]="memUnits"
          [allowFilter]="false"
          name="requestsMemUnit"
          [(ngModel)]="resourceSize.requests.memory.unit">
        </rc-single-selection-dropdown>
      </div>
      <div class="comparison-operator">
        ＜＝
      </div>
      <div class="input-wrapper">
        <label>{{ 'Maximum' | translate }}</label>
        <input rcInput
               type="text"
               [pattern]="numberReg.pattern"
               [rcErrorsTooltip]
               [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
               [(ngModel)]="resourceSize.limits.memory.value"
               name="limitsMemValue">
        <rc-single-selection-dropdown
          [options]="memUnits"
          [allowFilter]="false"
          name="limitsMemUnit"
          [(ngModel)]="resourceSize.limits.memory.unit">
        </rc-single-selection-dropdown>
      </div>
    </div>

    <div class="section-container">
      <div class="section-title">CPU</div>
      <div class="input-wrapper">
        <label>{{ 'reference_value' | translate }}</label>
        <input rcInput
               type="text"
               required
               [pattern]="numberReg.pattern"
               [rcErrorsTooltip]
               [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
               [(ngModel)]="resourceSize.requests.cpu.value"
               name="requestsCpuValue">
        <rc-single-selection-dropdown
          [options]="cpuUnits"
          [allowFilter]="false"
          name="requestsCpuUnit"
          [(ngModel)]="resourceSize.requests.cpu.unit">
        </rc-single-selection-dropdown>
      </div>
      <div class="comparison-operator">
        ＜＝
      </div>
      <div class="input-wrapper">
        <label>{{ 'Maximum' | translate }}</label>
        <input rcInput
               type="text"
               [pattern]="numberReg.pattern"
               [rcErrorsTooltip]
               [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
               [(ngModel)]="resourceSize.limits.cpu.value"
               name="limitsCpuValue">
        <rc-single-selection-dropdown
          [options]="cpuUnits"
          [allowFilter]="false"
          name="limitsCpuUnit"
          [(ngModel)]="resourceSize.limits.cpu.unit">
        </rc-single-selection-dropdown>
      </div>
    </div>
  </form>
</div>
