@import 'form.styles';
:host {
  display: block;
  .rc-row-buttons {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
  }

  ::ng-deep {
    .ui.loader:after {
      border-color: #767676 transparent transparent !important;
    }
    .ui.loader:before {
      border-color: rgba(0, 0, 0, 0.1) !important;
    }
  }
}
