@import '_colors.styles';
:host {
  display: block;
  width: 100%;
  .rc-kube-service-display {
    width: 100%;
    display: flex;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    .rc-content {
      flex: 1;
      border: 1px solid #e8e8e8;
    }
    .rc-row {
      display: flex;
      label {
        font-weight: normal;
        width: 60px;
        min-height: 32px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #4d4d4d;
        padding: 0 8px;
        background-color: #f4f4f4;
      }
      .rc-row-content {
        flex: 1;
        line-height: 24px;
        padding: 4px 8px;
        .rc-form-table {
          width: 100%;
        }
      }
      &:not(:last-child) {
        border-bottom: solid 1px #e8e8e8;
      }
    }
    .rc-actions {
      width: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > a {
        font-size: 16px;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #999;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
        &:hover {
          color: #24a7e3;
        }
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  .rc-row-buttons {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
  }
}
