<rc-form-container>

    <form #form="ngForm">

        <rc-form-field label="{{'name' | translate}}"
            [shouldFlexRow]="true">
            <input rcInput
                name="name"
                [(ngModel)]="data.name"
                maxlength="32"
                [placeholder]="resourceNameReg.tip | translate"
                [pattern]="resourceNameReg.pattern"
                required>
        </rc-form-field>

        <rc-form-field label="{{'type' | translate}}"
            [shouldFlexRow]="true">
            <rc-single-selection-dropdown required
                name="type"
                [options]="types"
                (change)="typeChange($event)"
                [(ngModel)]="data.type">
            </rc-single-selection-dropdown>
        </rc-form-field>

        <div class="rc-form-field">
            <label class="rc-form-field-label">
                {{'port_config' | translate}}
            </label>
            <div class="form-field-container">
                <table class="rc-form-table">
                    <thead>
                        <tr>
                            <td style="width: 100px;">{{'container_port' | translate}}</td>
                            <td style="width: 100px;">{{'kubernetes_service_host_port' | translate}}</td>
                            <td>{{ 'lb' | translate }}</td>
                            <td style="width: 100px;">{{'listening_port' | translate}}</td>
                            <td style="width: 120px;">{{'protocol' | translate}}</td>
                            <td style="width: 40px;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rc-form-input"
                            *ngFor="let item of data.ports; let i = index; trackBy: trackByIndex;">
                            <td>
                                <input rcInput
                                    name="{{'containerPort' + i}}"
                                    required
                                    [pattern]="portNumberReg.pattern"
                                    min="1"
                                    max="65535"
                                    [(ngModel)]="item.containerPort"
                                    rcErrorsTooltip
                                    type="text">

                                <!-- <rc-single-selection-dropdown *ngIf="containerPortsOptions.length"
                                    required
                                    [(ngModel)]="item.containerPort"
                                    [allowFilter]="false"
                                    name="{{'containerPort' + i}}"
                                    [options]="containerPortsOptions"
                                    [placeholder]=""></rc-single-selection-dropdown> -->
                            </td>
                            <td>
                                <input rcInput
                                    name="{{'nodePort' + i}}"
                                    [disabled]="data.type !== 'NodePort'"
                                    [(ngModel)]="item.nodePort"
                                    [pattern]="portNumberReg.pattern"
                                    min="1"
                                    max="65535"
                                    rcErrorsTooltip
                                    type="text">
                            </td>
                            <td>
                                <rc-single-selection-dropdown
                                    [(ngModel)]="item.loadBalancerName"
                                    name="{{'loadBalancerName' + i}}"
                                    [options]="loadBalancerOptions"
                                    displayField="name"
                                    valueField="value"
                                    [placeholder]=""></rc-single-selection-dropdown>
                            </td>
                            <td>
                                <input rcInput
                                    [disabled]="item.loadBalancerName === '$$none'"
                                    name="{{'listenerPort' + i}}"
                                    [pattern]="portNumberReg.pattern"
                                    [required]="!!item.loadBalancerName"
                                    min="1"
                                    max="65535"
                                    [(ngModel)]="item.listenerPort"
                                    rcErrorsTooltip
                                    type="text">
                            </td>
                            <td>
                                <rc-single-selection-dropdown required
                                    [disabled]="item.loadBalancerName === '$$none'"
                                    [(ngModel)]="item.protocol"
                                    name="{{'protocol' + i}}"
                                    [allowFilter]="false"
                                    [options]="protocols"
                                    [placeholder]=""></rc-single-selection-dropdown>
                            </td>
                            <td>
                                <a class="form-action-button"
                                    href="javascript:void(0)"
                                    (click)="removePort(i)">
                                    <i class="fa fa-minus-circle"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="!data.ports.length" class="rc-form-table-empty">
                    {{'none' | translate}}{{'port_config' | translate}}
                </div>
                <div class="rc-form-table-add-row hovered"
                    (click)="addPort()">
                    <i class="fa fa-plus-circle"></i> {{ "add" | translate }}
                </div>
            </div>
        </div>
    </form>
    <ng-container *rcFooterContent>
        <button rcButton
            (click)="cancel()">
            {{'cancel'|translate}}
        </button>
        <button rcButton="primary"
            (click)="confirm()">
            {{'save'|translate}}
        </button>
    </ng-container>

</rc-form-container>
