<div class="rc-kube-service-display"
    *ngFor="let item of kubeServices; let i = index;">
    <div class="rc-content">
        <div class="rc-row">
            <label>{{'name' | translate}}</label>
            <div class="rc-row-content">
                {{item.name}}
            </div>
        </div>
        <div class="rc-row">
            <label>{{'type' | translate}}</label>
            <div class="rc-row-content">
                {{item.type}}
            </div>
        </div>
        <div class="rc-row">
            <label>{{ 'port' | translate }}</label>
            <div class="rc-row-content">
                <table class="rc-form-table">
                    <thead>
                        <tr>
                            <td style="width: 75px;">{{ 'container_port' | translate }}</td>
                            <td style="width: 90px;">{{ 'kubernetes_service_host_port' | translate }}</td>
                            <td style="width: 200px;">{{ 'load_balancer' | translate }}</td>
                            <td style="width: 75px;">{{ 'listening_port' | translate }}</td>
                            <td style="width: 75px;">{{ 'protocol' | translate }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let port of item.ports; let i=index;">
                            <td>{{port.containerPort}}</td>
                            <td>{{port.nodePort | rcFieldNotAvailable}}</td>
                            <td>{{port.loadBalancerName | rcFieldNotAvailable}}</td>
                            <td>{{port.listenerPort | rcFieldNotAvailable}}</td>
                            <td>{{port.protocol | rcFieldNotAvailable}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="rc-actions">
        <a href="javascript:void(0)">
            <i class="fa fa-edit"
                (click)="updateKubeService(i, item)"></i>
        </a>
        <a href="javascript:void(0)">
            <i class="fa fa-remove"
                (click)="removeKubeService(i)"></i>
        </a>
    </div>

</div>

<div *ngIf="!kubeServices.length"
    class="rc-form-table-empty">
    {{ 'no_kube_service' | translate }}
</div>
<div class="rc-row-buttons">
    <button rcButton="primary-lite"
            rcButtonSize="small"
        (click)="addKubeService()">{{'add' | translate}} Service</button>
</div>
