<div class="rc-row">
    <aui-multi-select
        [(ngModel)]="value"
        [loading]="loading"
        [disabled]="!nodeAffinityOption.length"
        (ngModelChange)="onNodeAffinitySelect($event)"
    >
        <aui-option *ngFor="let nodeAffinity of nodeAffinityOption"
            [value]="nodeAffinity.affinity">{{ nodeAffinity.display }}</aui-option>
    </aui-multi-select>
    <button aui-button
        [disabled]="checkNodeAffinitysDisabled()"
        (click)="checkNodeAffinitys()">{{'service_create_node_check' | translate}}</button>
</div>
<div *ngIf="nodeAffinitysCheckPass"
    class="rc-row-hint">
    {{validNodeAffinitysLength}}{{'nodes_meet_filter' | translate}}
</div>
<div *ngIf="nodeAffinitysCheckError"
    class="rc-row-hint rc-error">
    {{'servcie_node_tags_check_failed' | translate}}
</div>
