@import './_colors.styles';
:host {
  width: 100%;
  display: block;
  .rc-row {
    display: flex;
    justify-content: space-between;
    rc-multi-selection-dropdown {
      flex: 1;
      margin-right: 8px;
    }
  }
  .rc-row-hint {
    font-size: 12px;
    margin-top: 8px;
    line-height: 18px;
    &.rc-error {
      color: $form-text-error-color;
    }
  }
}
