:host {
  display: block;
  margin-top: 16px;
  form {
    height: 100%;
    .rc-form-field {
      .rc-form-field-container {
        .rc-args-container {
          display: flex;
          align-items: center;
          margin-bottom: 6px;
          span {
            margin-left: 10px;
            color: #999;
            cursor: pointer;
            &:hover {
              color: #009ce3;
            }
          }
        }
      }
    }
  }
  .rc-row {
    width: 100%;
    display: flex;
    button {
      white-space: nowrap;
      margin-left: 8px;
      i {
        margin-left: 4px;
      }
    }
  }
}
