<form #form="ngForm">
    <table class="rc-form-table">
        <thead>
            <tr>
                <td>{{'key'| translate}}</td>
                <td>{{'value'| translate}}</td>
                <td style="width: 60px;"></td>
            </tr>
        </thead>
        <tbody>
            <tr class="rc-form-input">
                <td><input rcInput
                        rcInputSize="small"
                        name="name"
                        [(ngModel)]="label.name"
                        rcErrorsTooltip
                        type="text"></td>
                <td><input rcInput
                        rcInputSize="small"
                        name="value"
                        [(ngModel)]="label.value"
                        rcErrorsTooltip
                        type="text"></td>
                <td>
                    <button rcButton="primary-lite"
                        rcButtonSize="small"
                        (click)="addLabel()">{{'add' | translate}}</button>
                </td>
            </tr>
            <tr *ngFor="let label of labels">
                <td>{{label.name}}</td>
                <td>{{label.value}}</td>
                <td>
                    <a class="form-action-button"
                        href="javascript:void(0)"
                        (click)="removeLabel($index)">
                        <i class="fa fa-minus-circle"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!labels.length"
        class="rc-form-table-empty">
        {{'no_service_label'| translate}}
    </div>
</form>