<div class="container-network-mode">
    <form #form="ngForm">
        <!-- host mode -->
        <ng-container *ngIf="!showMacvlanOptions">
            <rc-form-field label="{{'host_mode' | translate}}">
                <rc-checkbox name="hostNetwork"
                    mode="toggle" 
                    [(ngModel)]="networkMode.hostNetwork">
                </rc-checkbox>
            </rc-form-field>
        </ng-container>
        <!-- macvlan -->
        <ng-container *ngIf="showMacvlanOptions">
            <!-- network mode -->
            <rc-form-field label="{{'network_mode' | translate}}">
                <rc-radio-group required name='networkMode'
                    (change)="onNetworkModeChange($event)"
                    [(ngModel)]="currentNetworkMode"
                    [options]="networkModeOptions">
                </rc-radio-group>
            </rc-form-field>
            <!-- assigned ip -->
            <ng-container *ngIf="currentNetworkMode === 'MacVlan'">
                <rc-form-field label="{{'assigned_ip' | translate}}">
                    <rc-checkbox name="ipAssigned"
                        mode="toggle"
                        [(ngModel)]="ipAssigned">
                    </rc-checkbox>
                    <div></div>
                </rc-form-field>
            </ng-container>
            <ng-container *ngIf="ipAssigned">
                <rc-form-field label="{{'subnet' | translate}}" [shouldFlexRow]="true">
                    <rc-single-selection-dropdown required
                        [(ngModel)]="networkMode.subnet.name"
                        name="subnet"
                        displayField="subnet_name"
                        valueField="subnet_name"
                        [options]="subnetOptions"
                        (change)="onSubnetOptionChange($event)"
                        [placeholder]="">
                    </rc-single-selection-dropdown>
                </rc-form-field>
                <rc-form-field label="{{'subnet_ip_list' | translate}}" [shouldFlexRow]="true">
                    <rc-multi-selection-dropdown #subnetIpSelect
                        [rcLoadingMask]="subnetIpIsLoading"
                        [(ngModel)]="networkMode.subnet.ipAddress"
                        name="subnetIps" [options]="subnetIpOptions"
                        displayField="address" valueField="address">
                    </rc-multi-selection-dropdown>
                </rc-form-field>
            </ng-container>
        </ng-container>
    </form>
</div>