<form #containerForm="ngForm">

    <section class="toc-form-group"
        rcTocContent="{{'toc_content_container_basic' + containerIndex}}">
        <div class="form-group-header">{{'instance' | translate}}-{{'basic'| translate}}
            <span [hidden]="!container.name">{{'colon_mark' | translate}}{{container.name}}</span>
        </div>
        <div class="form-group-content">
            <rc-form-field label="{{'container_name' | translate}}">
                <input rcInput
                    required
                    [(ngModel)]='container.name'
                    (ngModelChange)="containerNameChange($event)"
                    maxlength="32"
                    [placeholder]="resourceNameReg.tip | translate"
                    [pattern]="resourceNameReg.pattern"
                    name="name"
                    type="text" />
            </rc-form-field>

            <rc-form-field label="{{'image_repository_address' | translate}}"
                [hideErrors]="true"
                [shouldFlexRow]="true">
                <div style="flex: 1;">
                    <div class="rc-row">
                        <input rcInput
                            style="background: #f0f0f0;"
                            required
                            readonly
                            name="image"
                            [(ngModel)]="container.image"
                            [rcErrorsTooltip]>
                        <button rcButton="{{showImageNameSelect ? 'default':'primary-lite'}}"
                            (click)="openImageSelectDialog()">{{'nav_select_image' | translate}}
                        </button>
                    </div>
                </div>
            </rc-form-field>

            <rc-form-field label="{{'image_tag' | translate}}"
                [hideErrors]="true"
                [shouldFlexRow]="true">
                <div style="width: 100%;"
                    [rcLoadingMask]="imageTagsLoading">
                    <input rcInput
                        *ngIf="!imageTags.length"
                        required
                        [rcErrorsTooltip]
                        [(ngModel)]='container.imageTag'
                        name="imageTag"
                        placeholder="{{'please_input_image_tag' | translate}}"
                        type="text" />
                    <rc-single-selection-dropdown [options]="imageTags"
                        style="width:100%;"
                        required
                        [rcErrorsTooltip]
                        *ngIf="imageTags.length"
                        displayField="tag_display"
                        valueField="tag_name"
                        [(ngModel)]='container.imageTag'
                        name="imageTag"
                        placeholder="{{'please_select_image_tag'| translate}}"
                        (ngModelChange)="imageTagChange($event)">
                    </rc-single-selection-dropdown>
                </div>
            </rc-form-field>

            <rc-form-field label="{{'resource_size' | translate}}"
                [hideErrors]="true"
                [shouldFlexRow]="true">
                <rc-container-fields-resource-size name="resources"
                    #resourceSize
                    required
                    [rcErrorsTooltip]
                    [rcErrorsTooltipMapper]="errorMapper"
                    [(ngModel)]="container.resources"></rc-container-fields-resource-size>
            </rc-form-field>

            <!-- <div>
                <div>Form value: {{ container | json }}</div>
                <div>Form pristine: {{ containerForm.pristine }}</div>
                <div>Form touched: {{ containerForm.touched }}</div>
                <div>Form dirty: {{ containerForm.dirty }}</div>
                <div>Form valid: {{ containerForm.valid }}</div>
                <div>Resourcese field: {{containerForm.controls?.resources?.errors}}</div>
                <br>
            </div> -->
        </div>
    </section>

    <section class="toc-form-group"
        [hidden]="!showAdvanceOptions"
        rcTocContent="{{'toc_content_container_advance' + containerIndex}}">
        <div class="form-group-header">{{'instance' | translate}}-{{'advanced'| translate}}
            <span [hidden]="!container.name">{{'colon_mark' | translate}}{{container.name}}</span>
        </div>
        <div class="form-group-content">
            <rc-form-field label="{{'volumes' | translate}}"
                [shouldFlexRow]="true">
                <rc-container-fields-volume name="volumes"
                    [(ngModel)]="container.volumes"
                    [serviceUuid]="serviceUuid"
                    [namespaceName]="namespace">
                </rc-container-fields-volume>
            </rc-form-field>

            <rc-form-field label="{{'health_check' | translate}}"
                [shouldFlexRow]="true">
                <rc-container-fields-healthcheck name="healthcheck"
                    [(ngModel)]="container.healthCheck"></rc-container-fields-healthcheck>
            </rc-form-field>
            <rc-form-field label="{{'cmd' | translate}}">
                <input rcInput
                    [(ngModel)]='container.entrypoint'
                    name="entrypoint"
                    type="text" />
            </rc-form-field>

            <div class="rc-form-field">
              <div class="rc-form-field-label">{{'args' | translate}}</div>
              <div class="rc-form-field-container 
                          rc-form-field-container--blocked">
                <div class="rc-form-zero-state" *ngIf="!container.cmd.length">
                  {{'none' | translate}}{{'args' | translate}}
                </div>
                <div *ngFor="let item of container.cmd; index as i; trackBy: trackByFn"
                  class="rc-args-container">
                  <input rcInput
                      [(ngModel)]='container.cmd[i]'
                      name="cmd-{{i}}"
                      type="text" />
                  <span (click)="container.cmd.splice(i, 1)">
                    <i class="fa fa-minus-circle"></i>
                  </span>
                </div>
                <div class="rc-form-action-button"
                     (click)="container.cmd.push('')">
                  <aui-icon icon="basic:add_circle"></aui-icon> {{ "add" | translate }}
                </div>  
              </div>
            </div>

            <rc-form-field label="{{'environment_variable' | translate}}"
                [shouldFlexRow]="true">
                <rc-container-fields-envvars [(ngModel)]='container.envvars'
                    name="envvars"
                    [namespace]="namespace"></rc-container-fields-envvars>
            </rc-form-field>

            <rc-form-field label="ConfigMap"
                [shouldFlexRow]="true">
                <rc-container-fields-configmap name="configmaps"
                    [(ngModel)]="container.configmaps"
                    [namespace]="namespace"></rc-container-fields-configmap>
            </rc-form-field>

            <div class="rc-form-field">
                <div class="rc-form-field-label">
                    {{'log_file' | translate}}
                </div>
                <div class="rc-form-field-container">
                    <rc-container-fields-log-file
                        name="logFile"
                        [(ngModel)]="container.logFiles">
                    </rc-container-fields-log-file>
                </div>
            </div>

            <div class="rc-form-field">
                <div class="rc-form-field-label">
                    {{'exclude_log_file' | translate}}
                </div>
                <div class="rc-form-field-container">
                    <rc-container-fields-log-file
                        name="excludeLogFile"
                        [(ngModel)]="container.excludeLogFiles">
                    </rc-container-fields-log-file>
                </div>
            </div>

        </div>
    </section>
    <div class="toc-form-group-toggle"
        (click)="showAdvanceOptions = !showAdvanceOptions;">
        <span *ngIf="!showAdvanceOptions">
            <i class="fa fa-angle-double-down"></i>{{'display'|translate }}{{'container'|translate }} - {{'advanced' | translate}}</span>
        <span *ngIf="showAdvanceOptions">
            <i class="fa fa-angle-double-up"></i>{{'hide'| translate }}{{'container'|translate }} - {{ 'advanced' | translate}}</span>
    </div>
</form>
