<div class="rc-row">
    <rc-multi-selection-dropdown #tagsSelect [options]="nodeTagOptions"
        [displayField]="'display'"
        [valueField]="'tag'"
        (optionAdd)="addNodeTag($event)"
        (optionRemove)="removeNodeTag($event)">
    </rc-multi-selection-dropdown>
    <button rcButton
        [disabled]="checkNodeTagsDisabled()"
        [loading]="nodeTagsCheckLoading"
        (click)="checkNodeTags()">{{'service_create_node_check' | translate}}</button>
</div>
<div *ngIf="nodeTagsCheckPass"
    class="rc-row-hint">
    {{validNodeTagsLength}}{{'nodes_meet_filter' | translate}}
</div>
<div *ngIf="nodeTagsCheckError"
    class="rc-row-hint rc-error">
    {{'servcie_node_tags_check_failed' | translate}}
</div>
