@import 'colors.styles';

rb-account-list {
  .ldap-btn-menus {
    display: inline-block;
    position: relative;
    margin-left: 5px;

    .btn-wrapper {
      display: flex;

      button {
        border: 1px solid $button-default-border-color;
        background-color: transparent;
        outline: 0;

        &:hover {
          color: $button-primary-border-color;
          border-color: $button-primary-hover-border-color;
        }

        &:first-child {
          padding: 5px 15px;
          border-right: 0;
          border-radius: 4px 0 0 4px;

          &:hover + button {
            border-left-color: $button-primary-hover-border-color;
          }
        }

        &:last-child {
          padding: 5px 10px;
          border-radius: 0 4px 4px 0;

          .icon {
            margin-right: 0;
            width: auto;
            font-size: 12px;
          }
        }
      }
    }

    .btn-clean {
      position: absolute;
      right: 0;
      z-index: 1;
      border: 1px solid $button-default-border-color;
      background-color: #fff;
      border-radius: 4px;
      padding: 5px 15px;
      min-width: 100%;
      margin-top: 5px;
      white-space: nowrap;

      &.disabled {
        color: #d1d1d1;
        cursor: default;
      }

      &:not(.disabled):hover {
        background-color: #d6eef8;
        color: #53bce5;
      }
    }
  }

  > table {
    .fa-group {
      color: #428bca;
    }
  }

  .validation-status {
    &:before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 2px;
      margin-bottom: 1px;
    }

    &:not(.invalid) {
      color: #5bbae4;

      &:before {
        background-color: #5bbae4;
        box-shadow: 0 0 0 3px rgba(91, 186, 228, 0.2);
      }
    }

    &.invalid {
      color: #cbd3d8;

      &:before {
        background-color: #cbd3d8;
        box-shadow: 0 0 0 3px rgba(203, 211, 216, 0.2);
      }
    }
  }
}
