<div class="rb-page-heading"
     flex
     layout="row">
  <rb-search-input loading="vm.searching"
                   search-on-change="true"
                   on-search="vm.onSearchChanged(value)"
                   flex=30>
  </rb-search-input>
  <div flex></div>
  <div class="control-buttons">
    <button class="ui button rb-btn-primary"
            ng-if="vm.createAccountEnabled"
            ng-click="vm.createAccounts()">{{'create_account' | translate}}
    </button>
    <button class="ui button rb-btn-primary"
            ng-if="vm.addUserEnabled"
            ng-click="vm.addUsers()">{{'add_user' | translate}}
    </button>
    <ng-container ng-if="vm.ldapSyncEnabled && vm.ldapConfigTrue">
      <button class="ui button rb-btn-primary"
              ng-if="vm.isSubAccount"
              ng-click="vm.triggerLdapSync()"
              ng-disabled="vm.triggerLdapSyncIng">{{'org_ldap_sync' | translate}}
      </button>
      <div ng-if="!vm.isSubAccount"
           class="ldap-btn-menus"
           tabindex="1">
        <div class="btn-wrapper">
          <button ng-click="vm.triggerLdapSync()"
                  ng-disabled="vm.triggerLdapSyncIng">{{'org_ldap_sync' | translate}}
          </button>
          <button ng-click="vm.showCleanBtn = !vm.showCleanBtn"
                  ng-blur="vm.showCleanBtn = false">
            <i class="dropdown icon"></i>
          </button>
        </div>
        <button ng-if="vm.showCleanBtn"
                class="btn-clean"
                ng-class="{ disabled: !vm.invalid_accounts }"
                ng-mousedown="!(vm.showCleanBtn = false) && vm.invalid_accounts && vm.deleteInvalidAccounts()"
                uib-tooltip="{{ 'no_invalid_ldap_user' | translate }}"
                tooltip-placement="left"
                tooltip-enable="!vm.invalid_accounts">{{ 'clean_invalid_ldap_users' | translate }}</button>
      </div>
    </ng-container>
  </div>
</div>
<rb-loading-mask-placeholder ng-if="!vm.initialized"></rb-loading-mask-placeholder>
<div class="rb-loading-mask-placeholder"
     ng-if="vm.initialized && !vm.accounts.length">
  {{'no_data' | translate}}
</div>
<table ng-show="vm.accounts.length"
       class="table app-table rb-labels-popover-container"
       rb-loading-mask="vm.accountsLoading">
  <thead>
    <tr>
      <td class="width:20%">{{ 'username' | translate }}</td>
      <td class="width:20%">{{ 'user_type' | translate }}</td>
      <td class="width:20%">{{ 'status' | translate }}</td>
      <td style="width:25%">{{ 'created_at' | translate }}</td>
      <td style="width:15%">{{ 'action' | translate }}</td>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in vm.accounts track by $index">
      <td>
        <a ng-click="vm.gotoUserDetail(item.username)">{{item.username}}</a>
        <span uib-popover-template="vm.popoverConfig.template"
              popover-placement="top-left"
              popover-trigger="'outsideClick'"
              class="fa fa-group"
              ng-click="vm.fetchAccountRoles(item.username)"></span>
      </td>
      <td>{{ item.type === 'organizations.LDAPAccount' ? 'synced_by_ldap' : item.type === 'organizations.TPAccount' ? 'create_by_thrid_party' : 'created_on_platform'
        | translate }}</td>
      <td>
        <span class="validation-status"
              ng-class="{ invalid: vm.isInvalidAccount(item) }"
              uib-tooltip="{{ 'invalid_ldap_user_tip' | translate }}"
              tooltip-placement="top"
              tooltip-enable="vm.isInvalidAccount(item)">
          {{ vm.isInvalidAccount(item) ? 'invalid' : 'valid' | translate }}
        </span>
      </td>
      <td>{{item.created_at | formatUtcStr}}</td>
      <td>
        <button type="button"
                class="btn btn-xs rb-btn-oper"
                ng-if="vm.buttonDisplayExpr(item, 'update_password') && !vm.inProject && item.type !== 'organizations.TPAccount'"
                ng-click="vm.updatePassword(item, $index)"
                tooltip-placement="top"
                uib-tooltip="{{ 'update_password' | translate }}">
          <i class="fa fa-key"></i>
        </button>
        <button type="button"
                class="btn btn-xs rb-btn-oper"
                ng-if="vm.roleAssignEnabled && (item.type !== 'organizations.LDAPAccount' || item.is_valid)"

                ng-click="vm.addRole(item, $index)"
                tooltip-placement="top"
                uib-tooltip="{{ 'add_role' | translate }}">
          <i class="fa fa-plus"></i>
        </button>
        <button type="button"
                class="btn btn-xs rb-btn-oper"
                ng-if="vm.buttonDisplayExpr(item, 'delete') && !vm.inProject && item.type !== 'organizations.TPAccount'"
                ng-click="vm.deleteAccount(item, $index)"
                tooltip-placement="top"
                uib-tooltip="{{ 'delete' | translate }}">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<rb-pagination ng-show="vm.pagination.count > vm.pagination.page_size"
               class="pull-right"
               total-items="vm.pagination.count"
               size="vm.pagination.page_size"
               on-change="vm.pageNoChange(page)">
</rb-pagination>
