.rb-console {
  .rb-page-component > rb-configuration-detail {
    //overflow: visible;
    .rb-detail-content-wrap.config-detail-list {
      //overflow: visible;
      max-height: none;
    }
  }
  .rb-striped-list {
    .tooltip-inner {
      // the bootstrap setting of the max-width : 200px default can't satisfy the needs of config-key
      max-width: none;
    }
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.18);
    list-style: none;
    .title,
    .content {
      display: flex;
      > div {
        padding-left: 16px;
      }
    }
    .title {
      line-height: 36px;
      border-bottom: #ebebeb 1px solid;
    }
    .config-detail-line {
      height: 39px;
    }
    li.content:hover {
      background: #eff5f8;
    }
    li .action {
      text-align: center;
      min-width: 100px;
    }
    li:nth-child(even) {
      background: #f8f8f8;
    }
    .code-wrap {
      padding: 16px;
    }
    li {
      .value-preview {
        max-width: 800px;
      }
      .config-detail-line {
        flex-wrap: nowrap;
      }
      .fa-caret-down {
        transition: transform 0.3s, color 0.3s;
        &.rb-collapse {
          transform: rotate(-90deg);
        }
        &:hover {
          color: #37acf0;
        }
      }
    }
  }
}
