<div class="rb-page-heading">
  <h1>
    <i class="fa fa-gears"></i>
    <span title="{{vm.name}}">{{vm.configDisplayName}}</span>
  </h1>
  <div flex></div>
  <div ng-if="vm.initialized"
       class="rb-heading-button-group">
    <rb-dropdown-menu ng-if="vm.buttonDisplayExpr('delete')"
                      rb-title="{{'action' | translate}}">
      <rb-dropdown-menu-item ng-click="vm.configDelete()">
        {{'delete' | translate}}
      </rb-dropdown-menu-item>
    </rb-dropdown-menu>
  </div>
</div>

<div class="rb-detail-container"
     rb-loading-mask="!vm.initialized || vm.submitting"
     ng-class="{'rb-collapse': vm.isBasicInfoCollapse}">
  <div class="rb-detail-content-header"
       ng-click="vm.isBasicInfoCollapse = !vm.isBasicInfoCollapse">
    <span>{{'basic_info' | translate}}</span>
    <span class="fa fa-caret-down"
          ng-class="{'rb-collapse': vm.isBasicInfoCollapse}"></span>
  </div>

  <div class="rb-detail-content-wrap">
    <div class="rb-detail-content">
      <div class="rb-detail-row"
           ng-if="!vm.isNew">
        <div>{{ "created_by" | translate }}</div>
        <div>{{vm.configuration.created_by}}</div>
        <div>{{ "created_at" | translate }}</div>
        <div>{{vm.configuration.created_at | formatUtcStr}}</div>

      </div>
      <div class="rb-detail-row">
        <div>{{ "updated_at" | translate }}</div>
        <div>{{vm.configuration.updated_at | formatUtcStr}}</div>
        <div>{{ "description" | translate }}</div>
        <div>
          {{vm.configuration.description}}
          <a ng-if="vm.buttonDisplayExpr('update')"
             ng-click="vm.updateDescription()"><i class="fa fa-edit"></i></a>
        </div>
      </div>
      <div class="rb-detail-row">
        <div>{{ "quota_space" | translate }}</div>
        <div>
          <a ng-if="vm.configuration.space_name"
             router-link="'/quota/detail/' + vm.configuration.space_name"
             title="{{ vm.configuration.space_name }}">
            {{vm.configuration.space_name}}
          </a>
          <span ng-if="!vm.configuration.space_name">N/A</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="vm.initialized"
     class="rb-detail-container">
  <div class="rb-detail-content-header">
    <span>{{'configuration_items' | translate}} ( {{vm.configuration.content.length}}
      )</span>
  </div>

  <div class="rb-detail-content-wrap config-detail-list">
    <div class="rb-detail-content"
         style="padding: 16px;">
      <div class="rb-page-heading">
        <div flex></div>
        <div ng-if="vm.initialized"
             class="rb-heading-button-group">
          <button class="ui button rb-btn-primary"
                  ng-if="vm.buttonDisplayExpr('update')"
                  ng-click="vm.itemEdit()">{{"add_configuration_item" | translate}}
          </button>
        </div>
      </div>
      <ul class="rb-striped-list">
        <li class="title"
            flex="100">
          <div flex="20">{{'key '| translate}}</div>
          <div flex="70">{{'value '| translate}}</div>
          <div flex="10"
               class="action">{{'action '| translate}}</div>
        </li>
        <li class="content cursor-pointer"
            layout="column"
            ng-repeat="item in vm.configuration.content track by $index"
            ng-click="vm.toggleItemValue($index)">
          <div flex="100"
               class="config-detail-line"
               layout="row">
            <div flex="20"
                 layout="row">
              <div flex="5">
                <span class="fa fa-caret-down"
                      ng-class="{'rb-collapse': !vm.toggleItem[$index]}"></span>
              </div>
              <div flex="95"
                   class="ellipsis"
                   tooltip-placement="top-left"
                   uib-tooltip="{{item.key}}">
                {{item.key}}
              </div>
            </div>
            <div flex="70">
              <div class="ellipsis value-preview">
                {{item.value}}
              </div>
            </div>
            <div class="action"
                 flex="10">
              <a ng-if="vm.buttonDisplayExpr('update')"
                 class="btn btn-xs rb-btn-oper"
                 ng-click="vm.itemEdit($event, $index)"
                 tooltip-placement="top"
                 uib-tooltip="{{'update' | translate}}">
                <i class="fa fa-pencil"></i>
              </a>
              <a ng-if="vm.buttonDisplayExpr('update')"
                 class="btn btn-xs rb-btn-oper"
                 ng-click="vm.itemDelete($event, $index)"
                 tooltip-placement="top"
                 uib-tooltip="{{'delete' | translate}}">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
          <div flex="100"
               ng-if="vm.toggleItem[$index]"
               class="code-wrap"
               ng-click="$event.stopPropagation()">
            <ui-codemirror ui-codemirror-opts="vm.editorOptions"
                           ng-model="item.value"></ui-codemirror>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
