<div class="pie-chart">
  <div class="pie-chart-header">
    {{ title | translate }}
  </div>
  <div class="pie-chart-content">
    {{ getPercent() }}
  </div>
  <ngx-charts-pie-chart [results]="data"
                        [view]="[150, 150]"
                        [doughnut]="true"
                        [tooltipDisabled]="true"
                        [arcWidth]="0.1"
                        [scheme]="chartConfig.scheme">
  </ngx-charts-pie-chart>
  <div class="pie-chart-footer">
    <span style="color: #36b37e;">{{ data[0].value }}</span>/<span>{{ data[0].value + data[1].value }}</span><span>&nbsp;{{ unit }}</span>
  </div>
</div>