:host {
  display: block;
  width: 150px;
  .pie-chart {
    position: relative;
    overflow: hidden;
    text-align: center;
    .pie-chart-header {
      font-size: 16px;
    }
  }

  .pie-chart-content {
    position: absolute;
    color: #36b37e;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
