<form [rcLoadingMask]="!initialized || submitting"
      #form="ngForm"
      style="padding:16px 16px 0">
  <!-- Config Name -->
  <rc-form-field [label]="'name' | translate"
                 [errorsMapper]="{ pattern: ('image_sync_center_name_placeholder' | translate) }">
    <input rcInput
           [disabled]="isUpdate"
           [(ngModel)]="config.config_name"
           name="name"
           minlength="1"
           pattern="^[a-z][a-z0-9\-\_]*$"
           maxlength="36"
           required
           [placeholder]="'image_sync_center_name_placeholder' | translate">
  </rc-form-field>

  <!-- quota_space -->
  <rc-form-field *ngIf="quotaEnabled && spaces"
                 [label]="'quota_space' | translate"
                 [shouldFlexRow]="true">
    <ng-container *ngIf="!spaces.length">
      <input rcInput
             type="hidden"
             required
             value="required">
      <div class="rb-info-tip">
        {{'quota_space_required' | translate}}
      </div>
    </ng-container>
    <rc-single-selection-dropdown *ngIf="spaces.length"
                                  [disabled]="isUpdate"
                                  [options]="spaces"
                                  displayField="name"
                                  valueField="name"
                                  name="space_name"
                                  [(ngModel)]="config.space_name"
                                  required
                                  style="flex:1">
    </rc-single-selection-dropdown>
  </rc-form-field>

  <!-- Source Repository -->
  <rc-repository-dropdown-group [repositoryInfo]="repositoryInfo"
                                (repositoryInfoChange)="onRepositoryInfoChange($event)"
                                [disabled]="disableRepoSelection"></rc-repository-dropdown-group>

  <!-- Destination Repositories -->
  <rc-form-field [label]="'image_sync_destination_image' | translate"
                 [shouldFlexRow]="true">
    <rc-multi-selection-dropdown [rcLoadingMask]="!registriesLoaded"
                                 name="initInternalRegistries"
                                 [(ngModel)]="initInternalRegistries"
                                 displayField="display_name"
                                 valueField="internal_id"
                                 (optionAdd)="onInternalRegistryAdd($event)"
                                 (optionRemove)="onInternalRegistryRemove($event)"
                                 [options]="ownRegistries"
                                 [required]="!externalRegistries.length"
                                 style="flex:1">
    </rc-multi-selection-dropdown>
  </rc-form-field>
  <rc-form-field *ngIf="!externalRegistries.length"
                 label=" ">
    <input rcInput
           type="hidden">
    <button rcButton
            (click)="showExternalRegistry()">
      {{ 'image_add_third_party_registry' | translate }}
    </button>
  </rc-form-field>

  <rc-form-field *ngIf="externalRegistries.length"
                 [label]="'image_third_party_registry' | translate">
    <input rcInput
           type="hidden">
    <rc-third-party-registries [registries]="externalRegistries"
                               (registriesChange)="onExternalRegistriesChange($event)"></rc-third-party-registries>
  </rc-form-field>

  <rc-form-field label=" ">
    <label style="line-height:20px"
           role="button">
      <rc-checkbox class="pull-left"
                   name="containerSizeCustomized"
                   [(ngModel)]="containerSizeCustomized"></rc-checkbox>
      {{ 'build_config_custom_container_size' | translate }}
    </label>
  </rc-form-field>

  <rc-form-field *ngIf="containerSizeCustomized"
                 label=" ">
    <input rcInput
           type="hidden">
    <rc-custom-instance-size [instanceSize]="instanceSize"></rc-custom-instance-size>
  </rc-form-field>
</form>

<div class="modal-footer">
  <button type="button"
          rcButton
          [disabled]="submitting"
          (click)="close.emit()">
    {{ 'cancel' | translate }}
  </button>
  <button rcButton="primary"
          [disabled]="submitting"
          (click)="confirm()">
    {{ 'confirm' | translate }}
  </button>
</div>
