<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>{{ 'nav_image'| translate }}</ng-container>
    <ng-container *rcBreadcrumbItem>{{ 'nav_image_sync_center'| translate }}</ng-container>
  </rc-breadcrumb>
</ng-container>

<div fxLayout="row"
     class="rc-list-header">
  <div fxLayout="row">
    <input rcInput
           [placeholder]="'filter_by_name_placeholder' | translate"
           (ngModelChange)="searchString$.next($event);pageIndex$.next(0)"
           [(ngModel)]="searchString">
  </div>
  <span fxFlex></span>
  <button *ngIf="syncConfigCreateEnabled"
          (click)="editConfig()"
          rcButton="primary">
    {{'image_sync_center_create' | translate}}
  </button>
</div>

<div class="rc-list-container"
     [rcLoadingMask]="loading">
  <rc-table class="rc-primary-table"
            columnMode="force"
            headerHeight="40"
            [rowHeight]="40"
            [rows]="filertedAndPagedConfigs$ | async"
            [emptyMessage]="(loadError ? 'data_load_error' : 'image_sync_no_config_hint') | translate">
    <rc-table-col [name]="'name' | translate">
      <ng-container *rcTableColCell="let config = row">
        <a [routerLink]="['detail', getConfigName(config)]">{{ config.config_name
          }}</a>
      </ng-container>
    </rc-table-col>
    <rc-table-col [name]="'image_registry' | translate">
      <ng-container *rcTableColCell="let config = row">
        {{ config.source.info.registry_name }}
      </ng-container>
    </rc-table-col>
    <rc-table-col [name]="'image_sync_source_image' | translate">
      <ng-container *rcTableColCell="let config = row">
        <span *ngIf="config.source.info.project_name">{{ config.source.info.project_name
          }} /</span>
        <a *ngIf="config.source.info.repository_name"
           [routerLink]="['/image/repository/detail']"
           [queryParams]="{ repositoryName: config.source.info.repository_name, registryName: config.source.info.registry_name, projectName: config.source.info.project_name }">
          {{ config.source.info.repository_name }}
        </a>
      </ng-container>
    </rc-table-col>
    <rc-table-col [name]="'image_sync_destination_image' | translate">
      <ng-container *rcTableColCell="let config = row">
        <a *ngIf="config.dest.length"
           [rcTooltip]="popoverTemplate"
           [rcTooltipInline]="false"
           rcTooltipMode="info"
           rcTooltipOn="click"
           rcTooltipPosition="bottom">
          {{ config.dest.length }} {{ 'ge' | translate }}
        </a>
        <ng-template #popoverTemplate>
          <div *ngFor="let item of config.dest"
               class="dest-popover"
               [auiTooltipCopy]="item.endpoint">
            {{ item.endpoint + (item.is_http ? ' (http)' : ' (https)') }}
          </div>
        </ng-template>
        <span *ngIf="!config.dest.length">-</span>
      </ng-container>
    </rc-table-col>
    <rc-table-col [name]="'quota_space' | translate">
      <a *rcTableColCell="let config = row"
         [routerLink]="['/quota/detail', config.space_name]"
         [title]="config.space_name">
        {{ config.space_name }}
      </a>
    </rc-table-col>
    <rc-table-col [name]="'created_at' | translate">
      <ng-container *rcTableColCell="let config = row">
        {{ config.created_at | rcFormatUtcStr }}
      </ng-container>
    </rc-table-col>
    <rc-table-col [name]="'action' | translate">
      <ng-container *rcTableColCell="let config = row">
        <button *ngIf="buttonDisplayExpr(config, 'trigger')"
                rcIconButton
                rcButtonSize="tiny"
                rcTooltip="{{ 'image_sync_start' | translate }}"
                rcTooltipPosition="top"
                [disabled]="config._deleting"
                (click)="startConfig(config)">
          <i class="fa fa fa-refresh"></i>
        </button>
        <button *ngIf="buttonDisplayExpr(config, 'update')"
                rcIconButton
                rcButtonSize="tiny"
                [disabled]="config._deleting"
                (click)="editConfig(config)"
                rcTooltip="{{ 'update' | translate }}"
                rcTooltipPosition="top">
          <i class="fa fa-pencil"></i>
        </button>
        <button *ngIf="buttonDisplayExpr(config, 'delete')"
                rcIconButton
                rcButtonSize="tiny"
                [disabled]="config._deleting"
                (click)="deleteConfig(config)"
                rcTooltip="{{ 'delete' | translate }}"
                rcTooltipPosition="top">
          <i class="fa fa-trash-o"></i>
        </button>
      </ng-container>
    </rc-table-col>
  </rc-table>
   <!-- Pagination -->
    <aui-paginator *ngIf="(filteredConfigs$ | async)?.length > pageSize"
      [pageIndex]="pageIndex$ | async"
      [pageSize]="pageSize"
      [length]="(filteredConfigs$ | async)?.length"
      (page)="pageIndex$.next($event.pageIndex)"></aui-paginator>
    
  <div class="text-center"
       *ngIf="loadError">
    <button rcButton="primary"
            (click)="loadData()">
      {{ 'refresh' | translate }}
    </button>
  </div>
</div>
