<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>{{ 'nav_image'| translate }}</ng-container>
    <ng-container *rcBreadcrumbItem>
      <a [routerLink]="['/image/sync-center']">{{ 'nav_image_sync_center'| translate
        }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>{{ 'detail'| translate }}</ng-container>
  </rc-breadcrumb>
</ng-container>

<div class="rb-page-heading">
  <h1>
    <i class="rb-icon-sync-registry"></i>
    <span title="{{ config.config_name }}">{{ config.config_name }}</span>
  </h1>
  <div class="flex"></div>

  <div *ngIf="config.config_id"
       class="rb-heading-button-group">
    <button rcButton="primary"
            *ngIf="buttonDisplayExpr('trigger')"
            (click)="startConfig()">
      {{"image_sync_start" | translate}}
    </button>
    <button rcButton
            *ngIf="buttonDisplayExpr('update')"
            (click)="editConfig()">
      {{"update" | translate}}
    </button>

    <rc-button-menu [text]="'action' | translate">
      <button rcButton
              rcMenuButton
              (click)="deleteConfig()">{{ 'delete' | translate }}</button>
    </rc-button-menu>
  </div>
</div>

<!-- Basic info -->
<div [rcLoadingMask]="!initialized"
     class="rc-detail-container">
  <div class="detail-wrapper">
    <div class="detail-content">
      <div class="detail-item">
        <label>{{ "created_by" | translate }}</label>
        <div>{{ config.created_by }}</div>
      </div>

      <div class="detail-item">
        <label>{{ "created_at" | translate }}</label>
        <div>{{ config.created_at | rcFormatUtcStr }}</div>
      </div>

      <div class="detail-item">
        <label>{{ "image_registry" | translate }}</label>
        <div>{{ config.source.info.registry_name }}</div>
      </div>

      <div class="detail-item">
        <label>{{ "updated_at" | translate }}</label>
        <div>{{ config.updated_at | rcFormatUtcStr }}</div>
      </div>

      <div class="detail-item">
        <label>{{ "image_sync_source_image" | translate }}</label>
        <div>
          <span *ngIf="config.source.info.project_name">
            {{ config.source.info.project_name }} /
          </span>
          <a [routerLink]="['/image/repository/detail']"
             [queryParams]="{repositoryName: config.source.info.repository_name, registryName: config.source.info.registry_name, projectName: config.source.info.project_name}">
            {{ config.source.info.repository_name }}
          </a>
        </div>
      </div>
      <div class="detail-item">
        <label>{{ "image_sync_destination_image" | translate }}</label>
        <div>
          <span *ngFor="let dest of config.dest; index as i">
            <span class="label-item"
                  [auiTooltipCopy]="dest.endpoint">{{ dest.endpoint + (dest.is_http?'
              (http)':' (https)') }}</span>
            <span *ngIf="config.dest[i + 1]">, </span>
          </span>
        </div>
      </div>

      <div class="detail-item">
        <label>{{ 'build_config_container_size' | translate }}</label>
        <div>
          {{ config.cpu }}{{ 'build_config_cores' | translate }} / {{ config.memory }}MB
        </div>
      </div>
      <div class="detail-item">
        <label>{{ 'quota_space' | translate }}</label>
        <div>
          <a [routerLink]="['/resource/quota_space/detail', config.space_name]"
             title="{{ config.space_name }}">
            {{ config.space_name }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<rc-tab-group class="rc-detail-tab">
  <div *rcTab="'image_sync_history' | translate">
    <rc-image-sync-history *ngIf="config.config_id"
                           [configName]="getConfigName()">
    </rc-image-sync-history>
  </div>
</rc-tab-group>
