.rc-list-header {
  margin-bottom: 10px;
}

.dest-popover {
  background-color: #e8e8e8;
  font-weight: 700;
  max-width: 1200px;
  border-radius: 2px;
  padding: 4px 8px;
  margin: 2px;
  color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.1s;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.button + .ui.button {
  margin-left: 4px;
}
