<form [rcLoadingMask]="!initialized || submitting"
      #form="ngForm"
      (ngSubmit)="confirm()">
  <div class="form-content">
    <div *ngIf="configs && !configs.length"
         class="no-configs">
      {{ 'image_sync_no_config_hint' | translate }}
    </div>
    <ng-container *ngIf="!configs || configs.length">
      <rc-form-field [label]="'name' | translate"
                     [shouldFlexRow]="true">
        <rc-single-selection-dropdown *ngIf="allowConfigSelection"
                                      (change)="onConfigChanged($event)"
                                      displayField="display_name"
                                      valueField="config_name"
                                      name="configName"
                                      [(ngModel)]="configName"
                                      required
                                      [options]="configs">
        </rc-single-selection-dropdown>
        <ng-container *ngIf="!allowConfigSelection">
          <input rcInput
                 type="hidden"> {{ config?.config_name }}({{ config?.space_name }})
        </ng-container>
      </rc-form-field>

      <rc-form-field [label]="'image_sync_source_image_tag' | translate"
                     [shouldFlexRow]="true">
        <rc-single-selection-dropdown *ngIf="!imageTags || imageTags.length"
                                      [rcLoadingMask]="!imageTags"
                                      name="imageTag"
                                      [(ngModel)]="imageTag"
                                      required
                                      [options]="imageTags">
        </rc-single-selection-dropdown>
        <input *ngIf="imageTags && !imageTags.length"
               rcInput
               name="imageTag"
               [(ngModel)]="imageTag"
               required>
      </rc-form-field>

      <rc-form-field [label]="'image_sync_destination_image' | translate"
                     [shouldFlexRow]="true">
        <rc-multi-selection-dropdown displayField="endpoint"
                                     valueField="dest_id"
                                     name="destIds"
                                     [(ngModel)]="destIds"
                                     [placeholder]="'address' | translate"
                                     [options]="config?.dest">
        </rc-multi-selection-dropdown>
      </rc-form-field>
    </ng-container>
  </div>

  <div class="modal-footer">
    <button rcButton
            (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button rcButton="primary"
            [disabled]="!imageTag || submitting"
            type="submit">
      {{ 'confirm' | translate }}
    </button>
  </div>
</form>
