<div style="min-height: 100px;" [rcLoadingMask]="empty && loading">
  <!--Explain why there is no data-->
  <div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
    {{ "service_list_empty" | translate }}
  </div>
  <rc-table class="rc-secondary-table"
            *ngIf="!empty"
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowHeight]="50"
            [trackByProp]="'app_uuid'"
            [rows]="serviceItems">
    <rc-table-col [width]="250" name="{{'service_name' | translate}}">
      <div *rcTableColCell="let rowData = row">
        <a href="javascript:void(0)" [routerLink]="['/k8s_service/detail', rowData.resource.uuid]">{{ rowData.resource.name }}</a>
      </div>
    </rc-table-col>
    <rc-table-col [width]="150" name="{{'status' | translate}}">
      <div *rcTableColCell="let rowData = row">
        <rc-service-status-badge [status]="rowData.resource.status"
                                 [desiredInstances]="rowData.resource.instances?.desired"
                                 [currentInstances]="rowData.resource.instances?.current"></rc-service-status-badge>
      </div>
    </rc-table-col>
    <rc-table-col [width]="200" [cellClass]="'rc-col-cell-truncated'" name="{{'image' | translate}}">
      <div *rcTableColCell="let rowData = row">
        <rc-service-image-display
          [imageDisplayParams]="imageDisplayParamsMap[rowData.resource.uuid]"
        ></rc-service-image-display>
      </div>
    </rc-table-col>
    <rc-table-col [width]="150" name="{{'action' | translate}}"
                  cellClass="rc-col-cell-right"
                  headerClass="rc-header-cell-right">
      <div *rcTableColCell="let rowData = row">
        <rc-button-menu>
          <button rcButton rcButtonSize="small" rcButtonMenuDefault (click)="viewService(rowData)">
            {{'view' | translate}}
          </button>
          <button rcMenuButton *ngIf="serviceUtilities.showStart(rowData)"
               [disabled]="!serviceUtilities.canStart(rowData)" (click)="startService(rowData)">{{'start' | translate}}</button>
          <button rcMenuButton *ngIf="serviceUtilities.showStop(rowData)"
               [disabled]="!serviceUtilities.canStop(rowData)" (click)="stopService(rowData)">{{'stop' | translate}}</button>
          <button rcMenuButton *ngIf="serviceUtilities.showDelete(rowData)"
               [disabled]="!serviceUtilities.canDelete(rowData)" (click)="deleteService(rowData)">{{'delete' | translate}}</button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>
</div>
