<!-- Header -->
<div class="rb-page-heading">
  <rb-search-input loading="vm.searching"
                   on-search="vm.onSearchChanged(value)"
                   placeholder="{{ 'search_by_name_placeholder' | translate}}"
                   flex=20>
  </rb-search-input>
  <div flex></div>
  <button ng-if="vm.pipelineConfigCreateEnabled"
          ui-sref="pipeline.config.create"
          class="ui button rb-btn-primary">
    {{'pipeline_create_config' | translate}}
  </button>
</div>

<!-- Table -->
<table rb-loading-mask="vm.loading && vm.list"
       class="app-table table table-bordered table-hover no-margin-bottom">
  <thead>
    <tr>
      <td style="width: 150px;">
        {{ "pipeline_config_name" | translate }}
      </td>
      <td style="width: 150px;">
        {{ "pipeline_item_title_triggers" | translate }}
      </td>
      <td style="width: 20%;">
        {{ "description" | translate }}
      </td>
      <td style="width: 150px;">
        {{ "quota_space" | translate }}
      </td>
      <td ng-if="vm.listCtrl.permission !== 'none'"
          style="min-width:80px;width: 120px;">
        {{ "action" | translate }}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="config in vm.list | orderBy: '-created_at' track by config.uuid">
      <td>
        <a router-link="'/pipeline/config/detail'"
           query-params="{ name: vm.getConfigName(config) }">
          {{ config.name }}
        </a>
      </td>

      <td>
        <i class="{{ vm.getTriggerTypeIcon(config) }}"
           tooltip-placement="top"
           uib-tooltip='{{ ("pipeline_trigger_type_" + vm.getTriggerType(config)) | translate }}'></i>
        <span ng-if="vm.getTriggerType(config) === 'repository'">
          {{ vm.getRegistryDisplayName$(config.triggers.repository.registry) | rbAsync:this
          }}
          <a router-link="'/image/repository/detail'"
             query-params="{ registryName: config.triggers.repository.registry, repositoryName: config.triggers.repository.repository }">
            {{ config.triggers.repository.repository }}
          </a>
        </span>

        <span ng-if="vm.getTriggerType(config) === 'build'">
          {{ 'build' | translate }}
          <a ui-sref="build.config.detail({ name: config.triggers.build.build_config_uuid })">
            {{ config.triggers.build.build_config_name }}
          </a>
        </span>
      </td>

      <td>
        <div>
          {{ config.description }}
        </div>
      </td>
      <td>
        <a ng-if="config.space_name"
           router-link="'/quota/detail/' + config.space_name">{{ config.space_name
          }}
        </a>
        <span ng-if="!config.space_name">N/A</span>
      </td>

      <td class="build-config-controls control-buttons">
        <button class="btn btn-xs rb-btn-oper"
                ng-if="vm.buttonDisplayExpr(config, 'trigger')"
                tooltip-placement="top"
                ng-disabled="config._deleting"
                ng-click="vm.showStartPipelineDialog($event, config)"
                uib-tooltip="{{ 'pipeline_start' | translate }}">
          <i class="fa fa-play"></i>
        </button>
        <button class="btn btn-xs rb-btn-oper"
                ng-if="vm.buttonDisplayExpr(config, 'delete')"
                ng-disabled="config._deleting"
                ng-click="vm.deleteClicked({ config: config, $event })"
                tooltip-placement="top"
                uib-tooltip="{{ 'delete' | translate }}">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Explains why there is no data -->
<rb-loading-mask-placeholder ng-if="!vm.list"></rb-loading-mask-placeholder>
<div class="rb-list-table-info-container"
     ng-show="vm.list && vm.list.length === 0">
  <div ng-if="!vm.loadError && vm.list.length === 0">
    {{ 'pipeline_no_config_hint' | translate }}
  </div>
  <div ng-if="vm.loadError">
    {{ 'data_load_error' | translate }}
  </div>
  <button ng-if="vm.loadError"
          class="ui button rb-btn-primary margin-top-2"
          ng-click="vm.pageNoChange()">
    {{ 'refresh' | translate }}
  </button>
</div>

<!-- Pagination -->
<rb-pagination ng-show="vm.pagination.totalItems > vm.pagination.pageSize"
               class="pull-right"
               total-items="vm.pagination.totalItems"
               on-change="vm.pageNoChange(page, size)">
</rb-pagination>
