@import '_colors.styles';

.template-steps-container {
  position: absolute;
  left: 32px;
  list-style: none;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > li {
    width: 150px;

    .order-base {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      margin-right: 10px;
      transition: all 0.3s ease;
    }

    div {
      display: inline-block;
    }

    &.active {
      color: #24a7e3;

      .order {
        @extend .order-base;
        color: #fff;
        background: #24a7e3;
      }
    }

    &.inactive {
      color: #ccc;

      .order {
        @extend .order-base;
        color: #ccc;
        border: 1px solid #ccc;
      }
    }
  }

  .step-two {
    &::before {
      height: 90px;
      width: 2px;
      background-color: #ccc;
      content: '';
      margin: 5px 0 5px 9px;
      display: block;
      transition: all 0.3s ease;
    }
    &.active::before {
      background-color: #24a7e3;
    }
  }

  .step-one {
    color: #24a7e3;
    .unfocus {
      color: #4d4d4d;
    }
  }
}
