<!--Explain why there is no data-->
<div *ngIf="empty && !loading"
     class="rb-loading-mask-placeholder">
  <div *ngIf="!(loadError | async)">
    {{ "have_no_service" | translate }}
  </div>
  <div *ngIf="loadError | async">
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError | async"
          rcButton="primary"
          style="margin-top: 12px;"
          (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>

<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>

<!--Service list-->
<div *ngIf="!empty"
     class="rc-list-container">
  <rc-table #serviceTable
            class="rc-primary-table"
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowHeight]="82"
            [rows]="serviceItems">
    <!--服务名称-->
    <rc-table-col [width]="250"
                  name="{{'service_name' | translate}}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/service.svg">
          <div class="rc-lines">
            <div class="rc-line">
              <a href="javascript:void(0)"
                 [routerLink]="['/k8s_service/detail', rowData.resource.uuid]">{{rowData.resource.name }}</a>
            </div>
            <div class="rc-line"
                 *ngIf="rowData.parent.uuid">
              <span>{{'belonging_app' | translate}}：</span>
              <a href="javascript:void(0)"
                 [routerLink]="['/k8s_app/detail', rowData.parent.uuid]">{{ rowData.parent.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>
    <!--状态-->
    <rc-table-col [width]="120"
                  name="{{'status' | translate}}">
      <div *rcTableColCell="let rowData = row">
        <rc-service-status-badge [status]="rowData.resource.status"
                                 [desiredInstances]="rowData.resource.instances.desired"
                                 [currentInstances]="rowData.resource.instances.current"></rc-service-status-badge>
      </div>
    </rc-table-col>
    <!--命名空间-->
    <rc-table-col [width]="150"
                  name="{{'region_namespace' | translate}}">
      <div *rcTableColCell="let rowData = row">
        {{ rowData.namespace.name }}
      </div>
    </rc-table-col>
    <!-- 镜像 -->
    <rc-table-col [width]="200" name="{{'image' | translate}}" [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let rowData = row">
        <rc-service-image-display
          [imageDisplayParams]="imageDisplayParamsMap[rowData.resource.uuid]"
        ></rc-service-image-display>
      </div>
    </rc-table-col>
    <!--操作-->
    <rc-table-col [width]="150"
                  cellClass="rc-col-cell-right"
                  headerClass="rc-header-cell-right"
                  name="{{'action' | translate}}">
      <div *rcTableColCell="let rowData = row">
        <rc-button-menu>
          <button rcButton
                  rcButtonSize="small" rcButtonMenuDefault
                  (click)="viewService(rowData)">
            {{'view' | translate}}
          </button>
          <button rcMenuButton
                  *ngIf="serviceUtilities.showStart(rowData)"
                  [disabled]="!serviceUtilities.canStart(rowData)"
                  (click)="startService(rowData)">{{'start' | translate}}
          </button>
          <button rcMenuButton
                  *ngIf="serviceUtilities.showUpdate(rowData)"
                  [disabled]="!serviceUtilities.canUpdate(rowData)"
                  (click)="updateService(rowData)">{{'update' | translate}}
          </button>
          <button rcMenuButton
                  *ngIf="serviceUtilities.showStop(rowData)"
                  [disabled]="!serviceUtilities.canStop(rowData)"
                  (click)="stopService(rowData)">{{'stop' | translate}}
          </button>
          <button rcMenuButton
                  *ngIf="serviceUtilities.showUpdate(rowData)"
                  [disabled]="!serviceUtilities.canUpdate(rowData)"
                  (click)="updateReplicas(rowData)">{{'scaling' | translate}}
          </button>
          <button rcMenuButton
                  *ngIf="serviceUtilities.showUpdate(rowData)"
                  [disabled]="!serviceUtilities.canUpdate(rowData)"
                  (click)="updateImageTag(rowData.resource)">{{'update_image_tag' | translate}}
          </button>
          <button rcMenuButton
                  *ngIf="serviceUtilities.showUpdate(rowData)"
                  [disabled]="!serviceUtilities.canUpdate(rowData)"
                  (click)="updateEndpoints(rowData.resource.uuid)">{{'update_default_domain' | translate}}
          </button>
          <button rcMenuButton
                  *ngIf="serviceUtilities.showUpdate(rowData)"
                  [disabled]="!serviceUtilities.canUpdate(rowData)"
                  (click)="serviceUtilities.updateHealthCheck(rowData.resource)">{{'k8s_service_update_health_check' | translate}}
          </button>
          <button rcMenuButton
                  *ngIf="serviceUtilities.showUpdate(rowData)"
                  [disabled]="!serviceUtilities.canUpdate(rowData)"
                  (click)="serviceExec(rowData)">EXEC
          </button>
          <button rcMenuButton
                  *ngIf="serviceUtilities.showDelete(rowData)"
                  [disabled]="!serviceUtilities.canDelete(rowData)"
                  (click)="deleteService(rowData)">{{'delete' | translate}}
          </button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>

  <section class="rc-list-pagination">
    <rc-pagination [count]="count"
                   [pageSize]="pageSize"
                   [currentPage]="currentPage"
                   [disabled]="loading"
                   (pageChanged)="pageChanged($event)"></rc-pagination>
  </section>
</div>
