<rc-form-container>
  <div>
    <form class="rb-form" #serviceCreateBindingForm="ngForm">
      <!-- service Instance -->
      <rc-form-field label="{{'nav_service_instance' | translate}}" [shouldFlexRow]="true" class="binding-app">
          <rc-single-selection-dropdown
            #singleDropdown
            required
            [rcLoadingMask]="bingdingInstanceLoading"
            name="instance"
            [options]="bingdingInstanceOptions"
            (change)="onInstanceOptionChange($event)"
            [placeholder]="bindingPlaceholder"
            displayField="name"
            valueField="name"
            required>
          </rc-single-selection-dropdown>
      </rc-form-field>
      <!-- 参数 -->
      <rc-form-field *ngFor="let param of bindingCreateParameters" [label]="param[0]" [shouldFlexRow]="true" class="binding-app">
          <input rcInput
            [name]="param[0]"
            [type]="handleType(param[1].type) || 'string'"
            [(ngModel)]="bindingPayload.kubernetes.spec.parameters[param[0]]"
            (ngModelChange)="handleType(param[1].type) === 'number' &&
                             bindingPayload.kubernetes.spec.parameters[param[0]]=parseInt($event);">
          >
          <span class="fa fa-question-circle description-question-circle"
            *ngIf="param[1].description"
            rcFormAddon
            [rcTooltip]="param[1].description"
            [rcTooltipInline]="false"
            rcTooltipMode="info"
            rcTooltipPosition="top center">
          </span>
      </rc-form-field>
    </form>
  </div>

  <ng-container *rcFooterContent>
    <div *ngIf="!(showLoadingMask$ | async)">
      <button fxFlexOffset="200px" rcButton (click)="cancel()">{{'cancel' | translate}}</button>
      <button fxFlexOffset="12px" rcButton="primary"
              [loading]="submitting"
              (click)="confirm()">{{'bind' | translate}}</button>
    </div>
  </ng-container>
</rc-form-container>