:host {
  flex: 1;

  .form-container {
    margin: 0 60px 24px;
    display: flex;
    flex-direction: column;
    button {
      margin-top: 20px;
    }
    a {
      margin-top: 20px;
    }
    .pure-password-login__button {
      margin-bottom: 20px;
    }
    ::ng-deep {
      button {
        width: 100%;
      }
      .aui-form-item__content {
        position: relative;
      }
      .aui-form-item__label-wrapper {
        line-height: 16px;
        height: 16px;
        margin-bottom: 4px;
        font-size: 12px;
        color: #666;
        &::before {
          content: ' ';
        }
        &::after {
          content: ' ';
        }
      }
      .aui-form-item__error-wrapper {
        margin-top: 4px;
      }
      .forget-password {
        position: absolute;
        transform: translateY(100%);
        bottom: -4px;
        right: 0;
        color: #999;
        font-size: 12px;
        &:hover {
          color: #666;
        }
      }
    }
  }
}

.pure-password-login-dialog {
  ::ng-deep {
    .aui-dialog__footer {
      padding: 20px 0;
    }
    .aui-form-item__label {
      font-weight: normal;
    }
    .aui-form-item__error-wrapper {
      margin-top: 4px;
    }
    .pure-password-login-dialog__alert {
      padding: 0 20px;
    }
  }
}
