<div class="form-container">
  <form #form="ngForm" auiForm auiFormLabelPosition="top">
    <aui-form-item>
      <label auiFormItemLabel>{{'account'|translate}}</label>
      <input auiFormItemControl aui-input size="large" name="account" #account="ngModel" [(ngModel)]="formModel.account" [placeholder]="'account'|translate" required>
      <div auiFormItemError *ngIf="account.errors?.required">{{'required'|translate}}</div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{'password'|translate}}</label>
      <input auiFormItemControl type="password" aui-input size="large" name="password" #password="ngModel" [(ngModel)]="formModel.password" [placeholder]="'password'|translate" required>
      <a class="forget-password" routerLink="forget-password">
        {{ 'forget_password' | translate }}?
      </a>
      <div auiFormItemError *ngIf="password.errors?.required">{{'required'|translate}}</div>
      <div auiFormItemError *ngIf="password.errors?.customError">{{ errorMsg |translate}}</div>
    </aui-form-item>
    <button class="pure-password-login__button" size="large" aui-button="primary" [loading]="loading" [disabled]="loading" (click)="login()">{{ 'login'|translate }}</button>
  </form>
</div>

<ng-template #template>
  <div class="pure-password-login-dialog">
      <aui-dialog-header [closeable]="false">{{ 'first_login_modify_password' | translate }}</aui-dialog-header>
      <div class="pure-password-login-dialog__alert">
          <aui-inline-alert [content]="'password_login_reset_password_tip'|translate" type="warning"></aui-inline-alert>
      </div>
      <aui-dialog-content>
        <form #pwdform="ngForm" (ngSubmit)="saveNewPassword(formModel.oldPassword,formModel.password)" auiFormLabelPosition="top" auiForm>
          <aui-form-item>
            <label auiFormItemLabel>{{'old_password'|translate}}</label>
            <input auiFormItemControl type="password" aui-input size="large" name="old_password" #oldPassword="ngModel" [(ngModel)]="formModel.oldPassword"  required>
            <div auiFormItemError *ngIf="oldPassword.errors?.required">{{'required'|translate}}</div>
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{'new_password'|translate}}</label>
            <input auiFormItemControl type="password" aui-input size="large" name="password" [pattern]="pwdPattern" #password="ngModel" minlength="8" maxlength="64" [(ngModel)]="formModel.password"  required>
            <div auiFormItemError *ngIf="password.errors?.required">{{'required'|translate}}</div>
            <div auiFormItemError *ngIf="password.errors?.pattern">{{'passowrd_pattern_type_a_error'|translate}}</div>
            <div auiFormItemError *ngIf="password.errors?.maxlength">{{'warning_max_length' | translate : {length : 64} }}</div>
            <div auiFormItemError *ngIf="password.errors?.minlength ">{{'warning_min_length' | translate : {length : 8} }}</div>
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{'new_password_confirm'|translate}}</label>
            <input auiFormItemControl type="password" aui-input size="large" name="confirm_password" [pattern]="cPwdPattern" #confirmPassword="ngModel" [(ngModel)]="formModel.confirmPassword" required>
            <div auiFormItemError *ngIf="confirmPassword.errors?.required">{{'required'|translate}}</div>
            <div auiFormItemError *ngIf="confirmPassword.errors?.pattern">{{'password_not_same' | translate}}</div>
          </aui-form-item>
          <aui-dialog-footer>
              <div>
                <button
                  aui-button="primary"
                  [disabled]="pwdform.invalid"
                  [loading]="pwdLoading">
                      {{ 'save' | translate }}
                  </button>
                <button
                  aui-button
                  [auiDialogClose]="true">
                      {{ 'logout' | translate }}
                  </button>
              </div>
            </aui-dialog-footer>
          </form>
      </aui-dialog-content>
  </div>
</ng-template>
