@import './../style/mixins.scss';

rb-tags-input {
  width: 100%;
  display: block;

  &[size='xs'] {
    flex: 0 0 12em;
    max-width: 12em;
  }
  &[size='sm'] {
    flex: 0 0 16em;
    max-width: 16em;
  }
  &[size='md'] {
    flex: 0 0 24em;
    max-width: 24em;
  }
  &[size='lg'] {
    flex: 0 0 28em;
    max-width: 28em;
  }

  tags-input {
    width: 100%;
    display: block;

    &.ng-invalid {
      border-color: #e0b4b4;
    }

    *,
    *:before,
    *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .host {
      position: relative;
      height: 100%;
    }

    .host:active {
      outline: none;
    }

    .tags {
      overflow-y: auto;
      word-wrap: break-word;
      cursor: text;
      border: 1px solid rgba(34, 36, 38, 0.15);
      padding: 0 8px 0 0;
      height: 100%;

      > input.input {
        width: 180px;
      }

      &.focused {
        outline: none;
        border-color: #85b7d9 !important;
        position: relative;
        z-index: 9999;
      }

      .tag-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      .tag-item {
        float: left;
        height: 26px;
        margin: 2px 0 2px 8px;
        border: none;
        background: #e8e8e8;
        font-weight: 700;
        font-size: 14px;
        border-radius: 2px;
        line-height: 24px;
        padding: 0 24px 0 6px;
        color: rgba(0, 0, 0, 0.6);
        transition: background 0.1s;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100% - 4px);

        &:hover {
          background-color: #e0e0e0;
          border-color: #e0e0e0;
          color: rgba(0, 0, 0, 0.8);
          .remove-button {
            color: #868686;
          }
        }

        span.ng-binding {
          float: left;
          padding-top: 1px;
        }

        &.selected {
          color: rgba(0, 0, 0, 0.8);
        }

        .remove-button {
          padding: 0;
          border: none;
          background: none;
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
          color: #a2a2a2;
          position: absolute;
          right: 8px;
        }

        .remove-button:hover {
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .input {
        border: none !important;
        outline: none;
        line-height: 30px;
        padding: 0 0 0 8px;
        float: left;
        height: 30px;
        font-size: 14px;
        background: none;
        font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        &::placeholder {
          color: rgba(191, 191, 191, 0.87);
        }
        &:focus::placeholder {
          color: rgba(115, 115, 115, 0.87);
        }
      }

      .input.invalid-tag {
        color: #c46a69;
      }

      .input::-ms-clear {
        display: none;
      }
    }

    &.ng-dirty.ng-invalid .tags {
      border-color: #e0b4b4;
      background-color: #fff6f6;
    }

    &[disabled] {
      .host:focus {
        outline: none;
      }

      .tags {
        background-color: #f0f0f0;
        cursor: default;

        .tags .tag-item {
          opacity: 0.75;
          cursor: default;
          background: #e8e8e8;

          .remove-button {
            cursor: default;
          }

          .remove-button:active {
            color: rgba(0, 0, 0, 0.6);
          }
        }

        .tags .input {
          cursor: default;
        }
      }
    }

    .autocomplete {
      margin-top: -1px;
      position: absolute;
      z-index: 999;
      width: 100%;
      background-color: #fff;
      border: 1px solid #85b7d9;
      border-top: none;

      .suggestion-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        max-height: 280px;
        overflow-y: auto;
        position: relative;
      }

      .suggestion-item {
        padding: 10px 14px;
        line-height: 14px;
        border-top: 1px solid rgb(250, 250, 250);
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
        background-color: #fff;

        &.selected {
          color: rgba(0, 0, 0, 0.95);
          background-color: rgba(0, 0, 0, 0.05);
        }

        &.selected em {
          color: rgba(0, 0, 0, 0.95);
          background-color: rgba(0, 0, 0, 0.05);
        }

        em {
          font-size: 14px;
          background-color: #fff;
        }
      }
    }
  }
}

rb-tags-input[foldable='true'] {
  height: 32px;

  tags-input {
    height: 32px;

    auto-complete {
      @extend %clearfix;
      display: block;
      position: relative;
      z-index: 9999;
      .autocomplete {
        li {
          padding-left: 8px;
        }
      }
    }

    .fold-count {
      position: absolute;
      z-index: 9999;
      right: 7px;
      top: 0;
      height: 32px;
      line-height: 32px;
      font-size: 12px;
      color: #2a8baf;
      letter-spacing: 0px;
    }

    .tags {
      overflow: hidden;
      background-color: #fff;
      max-height: none !important;
      @extend %clearfix;

      > .input {
        height: 30px !important;
        line-height: 30px !important;
      }

      > .tag-list {
        > .tag-item {
          margin-top: 4px;
          margin-bottom: 4px;
          height: 22px;
          line-height: 21px;
          max-width: 90%;
          > ti-tag-item {
            span {
              max-width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .remove-button {
              line-height: 20px;
              &:hover {
                color: #000;
              }
            }
          }
        }
      }

      &:not(.focused) {
        overflow: hidden;
        width: 100%;
        height: 32px !important;
      }
      &.focused {
        width: 100%;
        height: auto !important;
        overflow: visible !important;
      }
    }
  }
}

.rb-console .rb-form.ng-submitted tags-input.ng-invalid .tags {
  border-color: #e0b4b4;
  background-color: #fff6f6;
}
