<tags-input
  ng-model="vm.tags"
  use-strings="false"
  min-length="0"
  text="vm.text"
  replace-spaces-with-dashes="false"
  placeholder="{{ vm.placeholder }}"
  add-on-space="{{ vm.addOnSpace }}"
  on-tag-adding="vm.validateFn(vm.useObj ? $tag : $tag.text)"
  on-tag-added="vm.onAddedOrRemoved(vm.tags,'add',$tag)"
  on-tag-removed="vm.onAddedOrRemoved(vm.tags,'remove')"
  tag-class="vm.tagClass(vm.useObj ? $tag : $tag.text,$index,$selected)"
  ng-click="vm.show($event)"
  ng-keydown="vm.keydown($event)"
  ng-keypress="vm.keypress($event)"
  ng-keyup="vm.keyup()"
  ng-disabled="vm.isDisabled"
  ng-required="vm.isRequired">
  <div ng-show="vm.foldable && vm.foldCount > 0" class="fold-count">({{ vm.foldCount > 9 ? '9+' : vm.foldCount }})</div>
  <auto-complete
    ng-if="vm.suggestions"
    ng-click="vm.clickItem($event)"
    ng-mouseover="vm.setTitle($event)"
    source="vm.getSource($query)"
    min-length="1"
    load-on-empty="true"
    select-first-match="false"
    load-on-focus="true"
    max-results-to-show="999"
    highlight-matched-text="false">
  </auto-complete>
</tags-input>
