<table class="table-condensed rb-fieldset-table">
  <tbody>
  <tr ng-repeat="item in vm.items track by $index">
    <td width="100%">
      <rb-dropdown
        rb-loading-mask="!vm.options"
        on-change="vm.items[$index] = option.value"
        is-disabled="vm.isDisabled"
        init="vm.items[$index]"
        key="displayName"
        value="name"
        options="vm.options">
      </rb-dropdown>
    </td>
    <td>
      <button ng-hide="vm.isDisabled"
              class="rb-fieldset-action-btn" ng-click="vm.deleteItem($index)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <button ng-hide="vm.isDisabled"
              ng-click="vm.addItem()"
              class="rb-fieldset-add-btn">
        <i class="fa fa-plus"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
