@import 'colors.styles';

rb-artifacts-upload {
  #artifact_upload_input {
    display: none;
  }

  .file-list-container-header {
    display: flex;
    align-items: center;
    color: #464646;
    padding: 8px 12px;
  }

  .file-list-container {
    border: 1px solid $default-border-color;
    background: #fff;
    margin-bottom: 12px;
  }

  .file-list-content {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    border-top: 1px solid $default-border-color;
  }

  .artifact-upload-row {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    color: #666666;
  }

  .artifact-upload-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #eff5f8;
    opacity: 1;
    transition: width 0.5s, opacity 3s;
  }

  .finished .artifact-upload-progress-bar {
    opacity: 0;
  }

  .artifact-upload-button {
    position: relative;
    transition: transform 0.5s;
    &:hover {
      color: #000;
      transform: scale(1.2);
    }
  }

  .artifact-upload-filename {
    position: relative;
    max-width: calc(100% - 200px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .artifact-size {
    position: relative;
    margin-right: 10px;
    width: 100px;
    text-align: right;
  }

  .progress-number {
    position: relative;
    margin-right: 10px;
  }

  .finished .progress-number {
    display: none;
  }

  .upload-icon {
    position: relative;
    opacity: 0;
    transition: opacity 1s;
    font-size: 18px;
    margin-right: 10px;
  }

  .upload-finished-icon {
    color: $status-color-success;
  }
  .upload-error-icon {
    color: $status-color-error;
  }

  .finished .upload-finished-icon {
    opacity: 1;
  }

  .upload-error .upload-error-icon {
    opacity: 1;
  }
}
