<rb-loading-mask-placeholder ng-if="!vm.initialized"></rb-loading-mask-placeholder>

<div class="file-list-container" ng-show="vm.fileContainers.length">
  <div class="file-list-container-header">
    {{ 'artifacts_upload_progress' | translate }}
  </div>
  <div class="file-list-content">
    <div class="artifact-upload-row"
         ng-repeat="fileContainer in vm.fileContainers track by fileContainer.name"
         title="{{ fileContainer.name }}"
         ng-class="{finished: fileContainer.finished,
                    deleting: fileContainer.deleting,
                    'upload-error': !!fileContainer.uploadError }">
      <div class="artifact-upload-progress-bar"
           style="width: {{ fileContainer.progress$ | rbAsync:this }}%;"></div>
      <span class="artifact-upload-filename">{{ fileContainer.name }}</span>

      <!-- Button / Icons should align to the right -->
      <div flex></div>
      <span class="artifact-size">{{ fileContainer.file.size | rbBytesFormatter }}</span>
      <span class="fa upload-icon"
            ng-class="{ 'upload-error-icon fa-times-circle': fileContainer.uploadError,
                        'upload-finished-icon fa-check-circle': fileContainer.finished && !fileContainer.uploadError  }">
      </span>
      <span class="artifact-upload-button fa fa-times" ng-click="vm.removeFile(fileContainer.name)">
    </span>
    </div>
  </div>
</div>

<!-- We only use the input for file selection. It does not necessarily to be multiple. -->
<input type="file"
       id="artifact_upload_input"/>
<label for="artifact_upload_input" ng-hide="!vm.initialized">
    <span class="ui button rb-btn-default fileinput-button">
      <i class="glyphicon glyphicon-plus"></i>
      <span>{{'add_file' | translate}}</span>
    </span>
</label>
