<rc-form-container>
  <form class="rb-form" #serviceUpdateForm="ngForm">
    <!--服务所在集群-->
    <div class="form-field-text">
      <label class="form-field-label">{{ 'service_area' | translate }}</label>
      <div class="form-field-value">{{serviceData?.cluster?.name}}</div>
    </div>
    <!-- 命名空间 -->
    <div class="form-field-text">
      <label class="form-field-label">{{ 'region_namespace' | translate }}</label>
      <div class="form-field-value">{{serviceData?.namespace?.name}}</div>
    </div>
    <!-- 名称 -->
    <div class="form-field-text">
      <label class="form-field-label">{{ 'service_name' | translate }}</label>
      <div class="form-field-value">{{serviceData?.resource.name}}</div>
    </div>
     <!--YAML -->
    <rc-form-field label="{{'yaml_file' | translate}}" [shouldFlexRow]="true">
      <rc-code-editor [(ngModel)]="serviceYaml" mode="yaml" name="yaml" required [rcLoadingMask]="loadingYaml"></rc-code-editor>
    </rc-form-field>
  </form>

  <ng-container *rcFooterContent>
    <button fxFlexOffset="140px" rcButton="primary" [loading]="submitting" [disabled]="submitting" (click)="confirm()">{{'confirm' | translate}}</button>
    <button fxFlexOffset="12px" rcButton [disabled]="submitting" (click)="cancel()">{{'cancel' | translate}}</button>
  </ng-container>
</rc-form-container>
