$fontSizeS: 24px;
$fontSizeM: 32px;
$fontSizeL: 64px;
$fontSizeXL: 72px;

.rc-service-chart {
  width: 100%;
  height: 100%;

  &__count {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: $fontSizeXL;
    color: #9da4af;

    span {
      vertical-align: bottom;
      line-height: 1;
    }
  }

  @media (max-width: 2560px) {
    &__count {
      font-size: $fontSizeL;
    }
  }

  @media (max-width: 1920px) {
    &__count {
      font-size: $fontSizeM;
    }
  }

  @media (max-width: 1440px) {
    &__count {
      font-size: $fontSizeS;
    }
  }

  &__gauge-wrapper {
    height: 200%;
    width: 100%;

    text {
      display: none;
    }
  }
}
