<rc-card
  [fitParent]="true">
  <a rcCardHeader [rcRouterStateLink]="getResourceState()">{{ title | translate }}</a>
  <rc-chart-container
    [loading]="!initialized"
    [noData]="initialized && !data"
    [noRegion]="!(regionService.region$ | async)"
    [legends]="legends">
    <div class="rc-service-chart">
      <div class="rc-service-chart__count">
        <span *ngIf="data">
          {{ max | rcThousandUnit:1 }}
        </span>
      </div>
      <div class="rc-service-chart__gauge-wrapper">
        <ngx-charts-gauge
          *ngIf="data"
          [results]="data"
          [max]="max"
          [startAngle]="chartConfig.startAngle"
          [angleSpan]="chartConfig.angleSpan"
          [scheme]="chartConfig.scheme"
          [showAxis]="chartConfig.showAxis">
        </ngx-charts-gauge>
      </div>
    </div>
  </rc-chart-container>
</rc-card>
