@import 'colors.styles';

rb-service-preview-dialog {
  .rb-service-preview-warning {
    display: flex;
    align-items: center;

    .rb-warnning-icon {
      margin-right: 8px;
      color: $status-color-in-process;
      font-size: 28px;
    }
  }

  .rb-preview-table {
    margin-bottom: 0;
    > thead,
    > tbody {
      > tr > td {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

  .rb-preview-child-table {
    tr {
      border: none;
      background-color: transparent !important;
    }
    td {
      padding: 8px 16px 8px 0;
      background: none !important;
    }
    .divide-row {
      border-top: 1px solid #ececec;
    }
  }
}
