<div class="rb-form-panel">
  <div class="rb-form-container">
    <div class="rb-service-preview-warning">
      <div class="fa fa-question-circle rb-warnning-icon"></div>
      <div>
        {{ 'service_create_confirm' | translate }}
      </div>
    </div>

    <div
      class="rb-detail-container"
      ng-class=" {'rb-collapse': vm.isBasicConfigCollapse} ">
      <div
        class="rb-detail-content-header"
        ng-click="vm.isBasicConfigCollapse = !vm.isBasicConfigCollapse">
        <span>{{ 'basic_config' | translate }}</span>
        <span
          class="fa fa-caret-down"
          ng-class="{'rb-collapse': vm.isBasicConfigCollapse}"></span>
      </div>
      <div class="rb-detail-content-wrap">
        <table class="table app-table rb-preview-table">
          <thead>
          <tr>
            <td style="width:25%;">{{ 'configuration_items' |translate }}</td>
            <td>{{ 'value' | translate }}</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ 'service_name' | translate }}</td>
            <td>{{ vm.serviceSettings.service_name }}</td>
          </tr>
          <tr>
            <td>{{ 'cluster' | translate }}</td>
            <td>{{ vm.regionDisplayName }}</td>
          </tr>
          <tr ng-if="vm.serviceSettings.space_nam">
            <td>{{ 'quota_space' | translate }}</td>
            <td>{{ vm.serviceSettings.space_name }}</td>
          </tr>
          <tr>
            <td>{{ 'image_repository' | translate }}</td>
            <td>{{ vm.serviceSettings.image_name }}</td>
          </tr>
          <tr>
            <td>{{ 'image_tag' | translate }}</td>
            <td>{{ vm.serviceSettings.image_tag }}</td>
          </tr>
          <tr ng-if="vm.regionManager === 'KUBERNETES'">
            <td>{{ 'service_create_deploy_model' | translate }}</td>
            <td>{{ vm.serviceSettings.pod_controller }}</td>
          </tr>
          <tr>
            <td>{{ 'service_create_auto_run' | translate }}</td>
            <td>
              <span ng-if="!vm.autoStart" class="label badge">{{ 'false' | translate }}</span>
              <span ng-if="vm.autoStart"
                    class="label badge status-deploying">{{ 'true' | translate }}</span>
            </td>
          </tr>
          <tr>
            <td>{{ 'instance_size' | translate }}</td>
            <td>{{ vm.instanceSize }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      class="rb-detail-container"
      ng-class=" {'rb-collapse': vm.isNetworkConfigCollapse} ">
      <div
        class="rb-detail-content-header"
        ng-click="vm.isNetworkConfigCollapse = !vm.isNetworkConfigCollapse">
        <span>{{ 'network_config' | translate }}</span>
        <span
          class="fa fa-caret-down"
          ng-class="{'rb-collapse': vm.isNetworkConfigCollapse}"></span>
      </div>
      <div class="rb-detail-content-wrap">
        <table class="table app-table rb-preview-table">
          <thead>
          <tr>
            <td style="width:25%;">{{ 'configuration_items' |translate }}</td>
            <td>{{ 'value' | translate }}</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ 'network_mode' | translate }}</td>
            <td>{{ vm.serviceSettings.network_mode }}</td>
          </tr>
          <tr ng-if="vm.mipnOptionsEnabled">
            <td>{{ 'mipn' | translate }}</td>
            <td>{{ (vm.serviceSettings.mipn_enabled ? 'on': 'off') | translate }}</td>
          </tr>
          <tr ng-if="vm.lbType">
            <td>{{ 'load_balancer' | translate }}</td>
            <td>{{ vm.lbType }}</td>
          </tr>
          <tr ng-if="vm.exposedPorts">
            <td>{{ 'container_exposed_ports' | translate }}</td>
            <td>
              <span ng-repeat="port in vm.exposedPorts track by $index"><i ng-if="$index!==0">,</i>{{ port }}</span>
            </td>
          </tr>
          <tr ng-if="vm.serviceSettings.load_balancers || vm.serviceSettings.instance_ports">
            <td>{{ vm.portMapMode || vm.lbType ? 'port_mapping' : 'load_balancer' | translate }}</td>
            <td>
              <rb-instance-port-table
                ng-if="vm.serviceSettings.instance_ports&&vm.serviceSettings.instance_ports.length>0"
                instance-ports="vm.serviceSettings.instance_ports"></rb-instance-port-table>
              <rb-load-balancers-table
                ng-if="vm.serviceSettings.load_balancers&&vm.serviceSettings.load_balancers.length>0"
                load-balancers="vm.serviceSettings.load_balancers"></rb-load-balancers-table>
            </td>
          </tr>
          <tr ng-if="vm.regionManager === 'KUBERNETES'">
            <td>{{ 'Kubernetes Service' }}</td>
            <td>
              <rb-kubernetes-services-table
                services="vm.serviceSettings.kube_config.services"></rb-kubernetes-services-table>
            </td>
          </tr>
          <tr ng-if="vm.serviceSettings.health_checks">
            <td>{{ 'health_check' | translate }}</td>
            <td>
              <table class="rb-preview-child-table" ng-if="vm.serviceSettings.health_checks.length>0">
                <thead>
                <tr>
                  <td>{{ 'protocol' | translate }}</td>
                  <td>{{ 'check_cmd' | translate }}</td>
                  <td>{{ 'port' | translate }}</td>
                  <td>{{ 'path' |translate }}</td>
                  <td>{{ 'grace_period_seconds' | translate }}</td>
                  <td>{{ 'interval_seconds' | translate }}</td>
                  <td>{{ 'max_consecutive_failures' | translate }}</td>
                  <td>{{ 'ignore_http1xx' | translate }}</td>
                  <td>{{ 'timeout_seconds' | translate }}</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="check in vm.serviceSettings.health_checks track by $index">
                  <td>{{ check.protocol }}</td>
                  <td>{{ check.command }}</td>
                  <td>{{ check.port }}</td>
                  <td>{{ check.path }}</td>
                  <td>{{ check.grace_period_seconds }}s</td>
                  <td>{{ check.interval_seconds }}s</td>
                  <td>{{ check.max_consecutive_failures }}</td>
                  <td>{{ check.ignore_http1xx }}</td>
                  <td>{{ check.timeout_seconds }}s</td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      class="rb-detail-container"
      ng-class=" {'rb-collapse': vm.isAdvancedConfigCollapse} ">
      <div
        class="rb-detail-content-header"
        ng-click="vm.isAdvancedConfigCollapse = !vm.isAdvancedConfigCollapse">
        <span>{{ 'advanced_config' | translate }}</span>
        <span
          class="fa fa-caret-down"
          ng-class="{'rb-collapse': vm.isAdvancedConfigCollapse}"></span>
      </div>
      <div class="rb-detail-content-wrap">
        <table class="table app-table rb-preview-table">
          <thead>
          <tr>
            <td style="width:25%;">{{ 'configuration_items' |translate }}</td>
            <td>{{ 'value' | translate }}</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ 'application_type' | translate }}</td>
            <td>{{ vm.serviceType }}</td>
          </tr>
          <tr ng-if="vm.volumes">
            <td>{{ 'volume' | translate }}</td>
            <td>
              <table class="rb-preview-child-table">
                <thead>
                <tr>
                  <td>{{ 'volume_image_path' | translate }}</td>
                  <td>{{ 'volume' | translate }}</td>
                  <td>{{ 'volume_mount_host_path' | translate }}</td>
                </thead>
                <tbody>
                <tr ng-repeat="volume in vm.volumes track by $index">
                  <td>{{ volume.imagePath }}</td>
                  <td>{{ volume.volume }}</td>
                  <td>{{ volume.hostPath }}</td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>{{ 'scaling_mode' | translate }}</td>
            <td>
              <div>{{ vm.scalingMode }}</div>
              <div ng-if="vm.serviceSettings.scaling_mode!=='AUTO'">{{ 'instance_num' | translate }}: {{
                vm.serviceSettings.target_num_instances }}
              </div>
              <table class="rb-preview-child-table" ng-if="vm.serviceSettings.scaling_mode==='AUTO'">
                <thead>
                <tr>
                  <td>{{ 'min_num_instances' | translate }}</td>
                  <td>{{ 'max_num_instances' | translate }}</td>
                  <td>{{ 'decrease_delta' | translate }}</td>
                  <td>{{ 'increase_delta' | translate }}</td>
                </thead>
                <tbody>
                <tr>
                  <td>{{ vm.autoScalingConfig.minimum_num_instances }}</td>
                  <td>{{ vm.autoScalingConfig.maximum_num_instances }}</td>
                  <td>{{ vm.autoScalingConfig.decrease_delta }}</td>
                  <td>{{ vm.autoScalingConfig.increase_delta }}</td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr ng-if="vm.regionManager === 'KUBERNETES'">
            <td>{{ 'update_strategy' | translate }}</td>
            <td>
              <div>{{ 'service_max_surge'| translate }}: {{ vm.serviceSettings.update_strategy.max_surge }}</div>
              <div>{{ 'service_max_unavailable'| translate }}: {{ vm.serviceSettings.update_strategy.max_unavailable }}</div>
            </td>
          </tr>
          <tr>
            <td>{{ 'node_tag' | translate }}</td>
            <td ng-if="vm.serviceSettings.node_tag">{{ vm.serviceSettings.node_tag }}</td>
            <td ng-if="vm.serviceSettings.node_selector">
              {{ vm.serviceSettings.node_selector_string }}
              <span ng-if="!vm.isNoneTargetWithNodeSelector"
                    style="color:red">({{ 'node_tag_none_target_tips' | translate }})</span>
            </td>
            <td ng-if="!vm.serviceSettings.node_tag && !vm.serviceSettings.node_selector">
              {{ 'node_tag_none' | translate }}
            </td>
          </tr>
          <tr ng-if="!vm.serviceSettings.run_command && !vm.serviceSettings.entrypoint">
            <td>{{ 'cmd_and_entrypoint' | translate }}</td>
            <td>{{ 'image_default' | translate }}</td>
          </tr>
          <tr ng-if="vm.serviceSettings.run_command">
            <td>{{ 'cmd' | translate }}</td>
            <td>{{ vm.serviceSettings.run_command }}</td>
          </tr>
          <tr ng-if="vm.serviceSettings.entrypoint">
            <td>{{ 'entrypoint' | translate }}</td>
            <td>{{ vm.serviceSettings.entrypoint }}</td>
          </tr>
          <tr ng-if="vm.includeLogFiles && vm.includeLogFiles.length>0">
            <td>{{ 'log_file' | translate }}</td>
            <td>
              <div ng-repeat="logFile in vm.includeLogFiles track by $index">{{ logFile }}</div>
            </td>
          </tr>
          <tr ng-if="vm.excludeLogFiles && vm.excludeLogFiles.length>0">
            <td>{{ 'exclude_log_file' | translate }}</td>
            <td>
              <div ng-repeat="logFile in vm.excludeLogFiles track by $index">{{ logFile }}</div>
            </td>
          </tr>
          <tr ng-if="vm.linkServiceList && vm.linkServiceList.length>0">
            <td>{{ 'linked_sevice' | translate }}</td>
            <td>
              <table class="rb-preview-child-table">
                <thead>
                <tr>
                  <td>{{ 'service' | translate }}</td>
                  <td>{{ 'alias' | translate }}</td>
                </thead>
                <tbody>
                <tr ng-repeat="linkService in vm.linkServiceList track by $index">
                  <td>{{ linkService.display_name }}</td>
                  <td>{{ linkService.alias }}</td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr ng-if="vm.serviceSettings.envfiles && vm.serviceSettings.envfiles.length>0">
            <td>{{ 'env_file' | translate }}</td>
            <td><span ng-repeat="file in vm.serviceSettings.envfiles track by $index"><i
              ng-if="$index!==0">,</i>{{ file.name }}</span></td>
          </tr>
          <tr ng-if="vm.showEnvVars">
            <td>{{ 'environment_variable' | translate }}</td>
            <td>
              <table class="rb-preview-child-table">
                <thead>
                <tr>
                  <td>{{ 'name' | translate }}</td>
                  <td>{{ 'value' | translate }}</td>
                </thead>
                <tbody>
                <tr ng-repeat="(key,value) in vm.envVars track by $index">
                  <td>{{ key }}</td>
                  <td>{{ value }}</td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr ng-if="vm.serviceSettings.mount_points && vm.serviceSettings.mount_points.length>0">
            <td>{{ 'config_files' | translate }}</td>
            <td>
              <table class="rb-preview-child-table">
                <thead>
                <tr>
                  <td>{{ 'file_path' | translate }}</td>
                  <td>{{ 'configuration_items' | translate }}</td>
                </thead>
                <tbody>
                <tr ng-repeat="config in vm.serviceSettings.mount_points track by $index">
                  <td>{{ config.path }}</td>
                  <td>{{ config.type==='raw' ? config.value : (config.value.name+' / '+config.value.key) }}
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{ 'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.confirm()">{{ 'confirm' |
        translate}}
      </button>
    </div>
  </div>
</div>
