<rc-loading-mask [loading]="loading"></rc-loading-mask>
<aui-card *ngIf="!loading">
  <div class="header">
    <button [disabled]="!createPermission" aui-button="primary" routerLink="/projects/create">{{ 'project_create' | translate }}</button>
    <input type="text" rcInput placeholder="{{ 'keyword' | translate }}" [(ngModel)]="filterString" (ngModelChange)="filterString$.next(filterString.trim())" style="width: auto; flex: .3;">
  </div>
  <aui-table [dataSource]="list$" *ngIf="viewPermission">

      <ng-container auiTableColumnDef="name">
          <aui-table-header-cell *auiTableHeaderCellDef>{{'name' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <a [routerLink]="['/projects/detail/' + item.name, { uuid: item.uuid }]">{{ item.display_name || item.name }}</a>
            <div class="tabel-cell__label-container" *ngIf="!isCMB" >
              {{ ('name' | translate) + ': ' + item.name }}
            </div>
          </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="clusters">
          <aui-table-header-cell *auiTableHeaderCellDef>{{'cluster' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ getClusters(item)  }}
          </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="service_type">
          <aui-table-header-cell *auiTableHeaderCellDef>{{'services' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ getServiceType(item)  }}
          </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="admin_list">
          <aui-table-header-cell *auiTableHeaderCellDef>{{'admin' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ getAdminList(item) }}
          </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="created_at">
          <aui-table-header-cell *auiTableHeaderCellDef>{{'created_at' | translate}}</aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.created_at | rcFormatUtcStr }}
          </aui-table-cell>
      </ng-container>
    <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
  </aui-table>
  <div class="zero-state" *ngIf="!(list$ | async)?.length">{{ 'no_data' | translate }}</div>
</aui-card>