:host ::ng-deep {
  .aui-card__header {
    [auiCardHeader] {
      display: flex;
      justify-content: space-between;
    }
  }
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.zero-state {
  line-height: 40px;
  text-align: center;
  color: #ccc;
}
