<!DOCTYPE html>
<html class="console"
      lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon"
        type="image/x-icon"
        href="<%-favicon_path%>" />
  <!-- Enable HTML5 mode -->
  <base href="/console/">
  <style>
    /* Following is inlined since we don't want to let the user see layout reflow issues */

    html {
      font-size: 14px;
      height: 100%;
    }

    body.rb-console {
      box-sizing: border-box;
      background-color: #f1f1f1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column;
      flex-flow: column;
      min-height: 100%;
      justify-content: center;
      margin: 0;
      color: #494949;
      font-weight: 400;
    }

    .alauda-settings {
      display: none;
    }

    @keyframes loading-rotate {
      to {
        transform: rotate(1turn);
      }
    }

    .loader {
      width: 45px;
      height: 45px;
      position: relative;
      margin: 0 auto 40px;
    }

    .loader:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 37px;
      height: 37px;
      border-radius: 100%;
      border: 4px solid rgba(0, 0, 0, .1);
    }

    .loader:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 37px;
      height: 37px;
      -webkit-animation: loading-rotate .6s linear;
      animation: loading-rotate .6s linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      border-radius: 100%;
      border-color: #767676 transparent transparent;
      border-style: solid;
      border-width: 4px;
      box-shadow: 0 0 0 1px transparent;
    }

  </style>
</head>

<body class="rb-console">
  <!-- Main App Component root -->
  <rc-layout>
    <!-- Switch to a nice looking one if needed -->
    <div style="font-size: 24px; text-align: center;"
         id="loading-wrapper">
      <script>
        // tsf represent tencent sso
        const tpName = '<%-sso_source%>';
        const ssoConfigsString = '<%-sso_configs%>';
        const locale = localStorage['alauda_locale'] || navigator.language || 'en';
        let content;
        if (['zh_cn', 'zh-cn', 'zh'].includes(locale.toLowerCase())) {
          content = !!tpName ? "<div class='loader'></div><div>登录中, 请稍候</div>" : "载入中, 请稍候 ..."
        } else {
          content = !!tpName ? "<div class='loader'></div><div>Loading ...</div>" : "Loading ..."
        }
        document.getElementById('loading-wrapper').insertAdjacentHTML('afterbegin', content);
        //only for tencent sso reload
        if (tpName === 'tsf') {
          let ssoConfigs
          try {
            ssoConfigs = JSON.parse(ssoConfigsString.replace(/\&quot\;/ig, '"'))
          } catch (e) {
            ssoConfigs = [{}]
          }
          const tpSourceLgoutLoginUrl = ssoConfigs[0]['server_logout_url'] + '?service=' + encodeURIComponent(ssoConfigs[0]['server_login_url'] + '?service=' + ssoConfigs[0]['redirect_uri'])
          localStorage.setItem('sso_source', tpName);
          localStorage.setItem('sso_logout_url', tpSourceLgoutLoginUrl);
        }
      </script>
    </div>
  </rc-layout>

  <div class="alauda-settings">
    <span id="console-username">
      <%-username%>
    </span>
    <span id="cp-namespace">
      <%-namespace%>
    </span>
    <span id="view-type">
      <%-view_type%>
    </span>
  </div>
</body>

</html>
