<rb-loading-mask-placeholder ng-if="!vm.initialized"></rb-loading-mask-placeholder>
<div ng-if="vm.initialized">
  <div class="rb-page-heading">
    <div flex
         layout="row">
      <div flex="20"
           class="ui input">
        <input type="text"
               ng-model="vm.filterKey"
               placeholder="{{ 'filter_by_name_placeholder' | translate}}">
      </div>
    </div>
    <a ng-if="vm.appTemplateCreateEnabled"
       class="ui button rb-btn-primary"
       router-link="'/app_service/template/create'">
      {{'template_create' | translate}}
    </a>
  </div>
  <table class="table app-table">
    <thead>
      <tr>
        <td style="width:240px;">{{'template_name' | translate}}</td>
        <td ng-if="vm.quotaEnabled"
            ng-click="vm.sort('space_name')"
            style="width: 150px;">
          <span>{{ "quota_space" | translate }}</span>
        </td>
        <td>{{'template_desc' | translate}}</td>
        <td style="width:200px;">{{'created_at' | translate}}</td>
        <td style="width:200px;">{{'updated_at' | translate}}</td>
        <td style="width:80px;">{{'action' | translate}}</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tpl in vm.templateList | filter: {name: vm.filterKey} track by $index">
        <td>
          <a href="app_service/template/detail/{{tpl.uuid}}">{{tpl.name}}</a>
        </td>
        <td class="rb-truncate-cell"
            ng-if="vm.quotaEnabled">
          <a ng-if="tpl.space_name"
             router-link="'/quota/detail/' + tpl.space_name"
             title="{{ tpl.space_name }}">{{tpl.space_name }}</a>
          <span ng-if="!tpl.space_name">N/A</span>
        </td>
        <td>{{tpl.description}}</td>
        <td>{{tpl.created_at | formatUtcStr}}</td>
        <td>{{tpl.updated_at | formatUtcStr}}</td>
        <td>
          <button ng-if="vm.buttonDisplayExpr(tpl, 'update')"
                  class="btn btn-xs rb-btn-oper"
                  router-link="'/app_service/template/update/' + tpl.uuid"
                  ng-disabled="vm.deletingMap[tpl.uuid]"
                  tooltip-placement="top"
                  uib-tooltip="{{'update' | translate}}">
            <i class="fa fa-pencil"></i>
          </button>
          <button ng-if="vm.buttonDisplayExpr(tpl, 'delete')"
                  class="btn btn-xs rb-btn-oper"
                  ng-click="vm.templateDelete(tpl)"
                  ng-disabled="vm.deletingMap[tpl.uuid]"
                  tooltip-placement="top"
                  uib-tooltip="{{'delete' | translate}}">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
