<div class="empty-page-container">
  <img class="empty-view-image" src="/static/images/app-catalog/app-catalog-empty.png" alt="empty-icon">
  <div class="empty-view-title">{{ empty_view_title }}</div>

  <div class="catalog-description">
    <div>{{ empty_view_desc }}</div>
  </div>
</div>
