:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.empty-view-image {
  width: 320px;
  margin-bottom: 20px;
}

.empty-view-title {
  font-size: 18px;
  font-weight: bold;
}

.import-btn {
  font-size: 16px;
}

.catalog-description {
  padding: 15px;
}

.empty-page-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}
