<div class="rb-space-card" [rcLoadingMask]="deleting">
  <div class="quota-space-list-card-container"
       [attr.state]="getStatusCss(space.status)"
       (click)="gotoDetail()">
    <div class="quota-space-list-card-wrapper">
      <div class="quota-space-list-card-header">
        <span>{{ space.name }}</span>
        <div class="flex" flex></div>
        <div class="quota-space-list-header-buttons">
          <div class="quota-space-list-header-button"
                  *ngIf="buttonDisplayExpr('update')"
                  (click)="$event.stopPropagation(); editClicked()">
            <i class="fa fa-edit"></i>
          </div>
          <div class="quota-space-list-header-button"
                  *ngIf="buttonDisplayExpr('delete')"
                  (click)="$event.stopPropagation(); deleteClicked()">
            <i class="fa fa-trash-o"></i>
          </div>
        </div>
      </div>
      <div class="quota-space-card-content">
        <div class="quota-space-card-content-row">
          <div class="card-content-label">
            {{ 'creator' | translate }}
          </div>
          <div>
            {{ space.created_by }}
          </div>
        </div>
        <div class="quota-space-card-content-row">
          <div class="card-content-label">
            {{ 'status' | translate }}
          </div>
          <div class="quota-space-status-label-text">
            {{ getStatusText() | translate }}
          </div>
        </div>
        <div class="quota-space-card-content-row">
          <div class="card-content-label">
            {{ 'created_at' | translate }}
          </div>
          <div>
            {{ space.created_at | rcFormatUtcStr }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
