@import '_colors.styles';

$status-color-map: (
  'success': $status-color-success,
  'in-progress': $status-color-in-process,
  'error': $status-color-error,
);

@mixin quota-list-card-status-decorator($state, $color) {
  .quota-space-list-card-container[state='#{$state}'] {
    &:hover {
      box-shadow: 0 0 6px $color;
    }
    /* status border */
    &:before {
      content: '';
      justify-content: stretch;
      width: 5px;
      background: $color;
    }
  }
}

@each $state, $color in $status-color-map {
  @include quota-list-card-status-decorator($state, $color);
}

.quota-space-list-card-container {
  flex: 1;
  align-items: stretch;
  display: flex;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.14);
  transition: box-shadow 0.3s;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;

  .quota-space-list-card-wrapper {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding: 0 15px;
  }

  .quota-space-list-card-header {
    span {
      width: 210px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    display: flex;
    align-items: center;
    height: 42px;
    color: #464646;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 0;
    min-width: 100%;

    .quota-space-list-header-buttons {
      display: flex;
      overflow: hidden;

      .quota-space-list-header-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 24px;
        border-radius: 4px;
        font-size: 14px;
        box-sizing: content-box;
        cursor: pointer;
        color: #e2e2e2;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #f5f5f5;
          color: #0badeb;
        }

        &[disabled] {
          cursor: default;
          background-color: #eee;
        }
      }
    }
  }

  .quota-space-card-content {
    display: flex;
    flex-flow: column;
    padding: 12px 0;

    .quota-space-card-content-row {
      display: flex;
      font-size: 14px;
      &:not(:first-child) {
        margin-top: 8px;
      }
      .card-content-label {
        color: #888888;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px;
      }

      .card-content-label + div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
        display: flex;
        align-items: center;
      }
    }
  }
}

.rb-space-card {
  display: flex;
  flex: 1;
}
