<div class="namespace-label"
    #namespaceTooltip
    [ngClass]="{'namespace-label--active': active, 'namespace-label--loading': !!(namespacesLength$ | async)}"
    [auiTooltip]="namespaceListTemplate"
    auiTooltipType="plain"
    auiTooltipPosition="bottom start"
    auiTooltipTrigger="click"
    (auiTooltipShow)="active=true"
    (auiTooltipHide)="active=false">
    <div class="namespace-label__text">
        <div [auiTooltip]="('namespace' | translate) + ': ' + selectedNamespace?.name"
            auiTooltipClass="rc-font-small">{{selectedNamespace?.name}}</div>
    </div>
    <aui-icon icon="angle_down"
        class="namespace-label__icon"></aui-icon>
</div>
<div class="namespace-separator"></div>

<ng-template #namespaceListTemplate>
    <div class="namespace-list">
        <div class="namespace-list__header">{{'region_badge_current_region' | translate}}: {{selectedNamespace?.cluster_display_name}}</div>
        <div class="namespace-list__filter">
            <aui-search [searchButton]="false"
                [debounce]="200"
                placeholder="{{'namespace' | translate}}/{{'cluster' | translate}}"
                (keywordChange)="search$.next($event)">
            </aui-search>
        </div>
        <div class="namespace-list__content">
            <div *ngIf="!(namespaces$ | async)?.length" class="namespace-list__content__empty">{{'no_data' | translate}}</div>
            <div *ngFor="let group of (namespaces$ | async); trackBy: trackByIndex"
                class="namespace-list__group">
                <h5>{{group.cluster_display_name}}</h5>
                <ul>
                    <li *ngFor="let namespace of group.namespaces; trackBy: trackByIndex"
                        class="namespace-list__item"
                        (click)="onNamespaceSelected(namespace)"
                        [class.active]="namespace.uuid === selectedNamespace?.uuid">
                        <span class="namespace-list__item__text"
                            [title]="namespace.name"
                            style="flex:3">{{ namespace.name }}</span>
                        <span class="namespace-list__item__icon">
                            <aui-icon [auiTooltip]="'namespace_detail' | translate"
                                auiTooltipClass="rc-font-small"
                                icon="basic:info"
                                (click)="showNamespaceDetail(namespace, $event)"></aui-icon>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="namespace-list__footer">
            <a [routerLink]="['/project', {project: currentProject?.name}]">
                <i class="fa fa-arrow-left"></i>{{'project_overview'| translate}}</a>
        </div>
    </div>
</ng-template>