@import 'colors.styles';
:host {
  display: block;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
  margin: 4px;
}

.namespace-label {
  padding: 4px 8px 4px 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  &:hover,
  &--active {
    background-color: #333;
  }
  &__text {
    flex: 1;
    min-width: 0;
    div {
      height: 32px;
      line-height: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__icon {
    margin-left: 4px;
  }
}

.namespace-separator {
  height: 1px;
  background-color: #fff;
  opacity: 0.07;
}

.namespace-list {
  margin-top: -4px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  width: 280px;
  color: #333;
  &__header {
    height: 32px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    margin-bottom: 8px;
    font-size: 12px;
  }
  &__filter {
    padding: 0 8px;
    input {
      flex: 1;
    }
  }
  &__content {
    padding: 0 8px;
    max-height: 360px;
    overflow-y: auto;
    &__empty {
      color: #999;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__footer {
    border-top: 1px solid #eee;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa {
      margin-right: 4px;
    }
  }
  &__group {
    padding: 8px 0;
    h5 {
      height: 24px;
      line-height: 24px;
      color: #999;
      font-size: 12px;
      font-weight: 600;
    }
    ul {
      list-style: none;
    }
  }

  &__item {
    white-space: nowrap;
    display: flex;
    position: relative;
    &.active {
      .namespace-list__item__icon {
        visibility: visible;
      }
      .namespace-list__item__text {
        background-color: #e5f5fc;
        color: #079fe3;
      }
    }
    &:hover:not(.active) {
      .namespace-list__item__text {
        background-color: #f2fafe;
      }
      .namespace-list__item__icon {
        visibility: visible;
      }
    }
    &__text {
      cursor: pointer;
      min-width: 0;
      height: 28px;
      line-height: 28px;
      padding: 0 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      :first-of-type {
        margin-right: 4px;
      }
    }
    &__icon {
      visibility: hidden;
      margin-left: 4px;
      height: 28px;
      width: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #999;
      font-size: 16px;
      &:hover {
        color: #079fe3;
      }
    }
  }
}
