<div fxLayout="row"
     class="rc-list-header">
  <div fxFlex>
    <ul class="resource-types">
      <li *ngFor="let resourceType of resourceTypes"
          [ngClass]="{ active: resourceType === activeResourceType }"
          (click)="changeActiveResourceType(resourceType)"
          role="button">
        {{ 'namespace_resource_type_' + resourceType | translate }} {{ resources && resources[resourceType]?.length
        }}
      </li>
    </ul>
  </div>
  <div>
    <rc-search-input mode="filter"
                     [delay]="200"
                     [searchOnChange]="true"
                     (onSearch)="filterText = $event">
    </rc-search-input>
  </div>
</div>

<rc-table [rcLoadingMask]="!resources"
          [rows]="activeResources"
          [headerHeight]="40"
          [rowHeight]="50"
          class="rc-secondary-table">
  <rc-table-col>
    <ng-template rcTableColHeader>
      {{ (activeResourceType ? ('namespace_resource_type_' + activeResourceType | translate)
      : '') + ('word_delimiter' | translate) + ('name' | translate) }}
    </ng-template>
    <ng-container *rcTableColCell="let data=row">
      <a [routerLink]="getResourceLink(data)">{{ data.name }}</a>
    </ng-container>
  </rc-table-col>
  <rc-table-col [name]="'created_at' | translate">
    <ng-container *rcTableColCell="let data=row">
      {{ data.created_at | rcFormatUtcStr }}
    </ng-container>
  </rc-table-col>
</rc-table>
