.namespace-card {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

.dashed-line {
  margin: 20px 0;
  border-top: 1px dashed #e8e8e8;
}

.basic-info {
  display: flex;
}

.basic-info-left {
  margin-right: 20px;

  img {
    width: 80px;
    height: 80px;
  }
}

.basic-info-right {
  flex: 1;
}

.info-header {
  display: flex;
  align-items: center;

  > h4 {
    flex: 1;
  }

  .rc-button:not(:last-child) {
    margin-right: 6px;
  }
}

.info-list {
  display: flex;
  color: #4d4d4d;
}

.info-item {
  flex: 1;

  + .info-item {
    flex: 2;
  }
}

.quota-info {
  display: flex;

  > div {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
}

.quota-info-left {
  flex-direction: column;
  justify-content: space-around;
}

.quota-info-right {
  position: relative;
  margin-left: 20px;
  height: 152px;
  background-color: #fafafa;
  border: 1px solid #eee;

  &:before {
    content: '';
    position: absolute;
    border: 1px dashed #e8e8e8;
    top: 20px;
    bottom: 20px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }

  .pie-chart-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    overflow: hidden;
    padding-bottom: 10px;
  }

  .pie-chart {
    position: relative;
    overflow: hidden;
  }

  .pie-chart-content {
    position: absolute;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.quota-item {
  height: 40px;
  display: flex;

  > div {
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;

    small {
      font-size: 12px;
    }
  }

  .item-name,
  .item-usage {
    align-items: center;
  }

  .item-name {
    margin-right: 5px;
    width: 85px;
  }

  .item-scale {
    flex: 1;
    padding: 8px;
    justify-content: left;
  }

  .item-usage {
    margin-left: 5px;
    width: 98px;
  }

  .item-scale-arrow {
    display: flex;
    flex: 1;
    margin-right: -10px;

    &:before {
      flex: 1;
      content: '';
      margin: 6px 0;
      background-image: linear-gradient(to right, transparent, #fff);
    }

    &:after {
      content: '';
      border: 12px solid transparent;
      border-left-color: #fff;
    }
  }

  &:first-child {
    > div {
      background-color: #7c70e2;
    }
  }

  &:nth-child(2) {
    > div {
      background-color: #24a7e3;
    }
  }

  &:last-child {
    > div {
      background-color: #1fbcd2;
    }
  }
}

.rc-quota-table .fa {
  color: #24a7e3;
}

.status {
  &:before {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &.running:before {
    background-color: #63d283;
    box-shadow: 0 0 5px 0 rgba(#63d283, 0.7);
  }

  &.deleting:before {
    background-color: #fc5d68;
    box-shadow: 0 0 5px 0 rgba(#fc5d68, 0.7);
  }
}
