<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_cluster' | translate }}
    </ng-container>
    <a *rcBreadcrumbItem
       routerLink="/cluster/namespace">
      {{ 'nav_namespace' | translate }}
    </a>
    <ng-container *rcBreadcrumbItem>
      {{ namespace }}
    </ng-container>
  </rc-breadcrumb>
</div>

<rc-loading-mask [loading]="!clusterNamespace"></rc-loading-mask>

<ng-container *ngIf="clusterNamespace">
  <div class="namespace-card">
    <div class="basic-info">
      <div class="basic-info-left">
        <img src="/static/images/resource/lb-list.svg"
             alt="namespace icon">
      </div>
      <div class="basic-info-right">
        <div class="info-header">
          <h4>{{ namespace }}</h4>
          <button rcButton="primary"
                  rcButtonSize="small"
                  *ngIf="hasQuotaPermission('update') && defaultResourceQuota"
                  [disabled]="deleting"
                  [routerLink]="['/cluster/namespace/update-quota', clusterId, namespace, 'default']">{{ 'update_quota' | translate }}</button>
          <button rcButton="primary"
                  rcButtonSize="small"
                  *ngIf="hasQuotaPermission('create') && !defaultResourceQuota"
                  [disabled]="deleting"
                  [routerLink]="['/cluster/namespace/create-quota', clusterId, namespace]"

                  [queryParams]="{ mode: containsSystemQuota ? null : 'UI' }">{{ 'create_quota' | translate }}</button>
          <button rcButton
                  rcButtonSize="small"
                  *ngIf="hasQuotaPermission('delete') && !defaultResourceQuota"
                  [disabled]="deleting"
                  (click)="deleteNamespace()">{{ 'delete' | translate }}</button>
          <rc-button-menu *ngIf="defaultResourceQuota"
                          [text]="'action' | translate"
                          textSize="small">
            <button rcButtonSize="small"
                    rcMenuButton
                    *ngIf="hasQuotaPermission('create')"
                    [disabled]="deleting"
                    [routerLink]="['/cluster/namespace/create-quota', clusterId, namespace]">{{ 'create_quota' | translate }}</button>
            <button rcButtonSize="small"
                    rcMenuButton
                    *ngIf="hasQuotaPermission('delete')"
                    [disabled]="deleting || defaultResourceQuota._deleting"
                    (click)="deleteResourceQuota(defaultResourceQuota)">{{ 'delete_quota' | translate }}</button>
            <button rcButtonSize="small"
                    rcMenuButton
                    *ngIf="hasNamespacePermission('delete')"
                    [disabled]="deleting"
                    (click)="deleteNamespace()">{{ 'delete' | translate }}</button>
          </rc-button-menu>
        </div>
        <div class="info-list">
          <div class="info-item">
            {{ 'status' | translate }}:
            <span class="status"
                  [ngClass]="getStatus()">{{ getStatus() | translate }}</span>
          </div>
          <div class="info-item">
            {{ 'created_at' | translate }}: {{ clusterNamespace.kubernetes.metadata.creationTimestamp
            | rcFormatUtcStr}}
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="defaultResourceQuota">
      <div class="dashed-line"></div>
      <h4>{{ 'quota' | translate }}</h4>
      <div class="quota-info">
        <div class="quota-info-left">
          <div class="quota-item">
            <div class="item-name">CPU({{ 'unit_core' | translate }})</div>
            <div class="item-scale">
              <div class="item-scale-arrow"
                   [ngStyle]="getCalcText('requests.cpu')"></div>
              {{ getScaleText('requests.cpu') }}%
            </div>
            <div class="item-usage">
              {{ formatNum(defaultResourceQuota.kubernetes.status.used['requests.cpu']) || 0 }}/
              <small>
                {{ formatNum(defaultResourceQuota.kubernetes.status.hard['requests.cpu']) || 0 }}
              </small>
            </div>
          </div>
          <div class="quota-item">
            <div class="item-name">{{ 'memory' | translate }}(G)</div>
            <div class="item-scale">
              <div class="item-scale-arrow"
                   [ngStyle]="getCalcText('requests.memory')"></div>
              {{ getScaleText('requests.memory') }}%
            </div>
            <div class="item-usage">
              {{ formatValue(defaultResourceQuota.kubernetes.status.used['requests.memory'], true)
              }}/
              <small>
                {{ formatValue(defaultResourceQuota.kubernetes.status.hard['requests.memory'], true)
                }}
              </small>
            </div>
          </div>
          <div class="quota-item">
            <div class="item-name">{{ 'storage' | translate }}(G)</div>
            <div class="item-scale">
              <div class="item-scale-arrow"
                   [ngStyle]="getCalcText('requests.storage')"></div>
              {{ getScaleText('requests.storage') }}%
            </div>
            <div class="item-usage">
              {{ formatValue(defaultResourceQuota.kubernetes.status.used['requests.storage'], true)
              }}/
              <small>
                {{ formatValue(defaultResourceQuota.kubernetes.status.hard['requests.storage'], true)
                }}
              </small>
            </div>
          </div>
        </div>
        <div class="quota-info-right">
          <div class="pie-chart-item">
            <div class="pie-chart">
              <ngx-charts-pie-chart [results]="chartResults.pods"
                                    [doughnut]="true"
                                    [scheme]="podColorScheme">
              </ngx-charts-pie-chart>
              <div class="pie-chart-content"
                   [ngStyle]="{color: POD_USED_COLOR}"> {{ chartPercents.pods }}%</div>
            </div>
            POD
          </div>
          <div class="pie-chart-item">
            <div class="pie-chart">
              <ngx-charts-pie-chart [results]="chartResults.persistentvolumeclaims"
                                    [doughnut]="true"
                                    [scheme]="pvcColorScheme">
              </ngx-charts-pie-chart>
              <div class="pie-chart-content"
                   [ngStyle]="{color: PVC_USED_COLOR}">{{ chartPercents.persistentvolumeclaims }}%</div>
            </div>
            PVC
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <rc-tab-group>
    <ng-container *rcTab="'resource' | translate">
      <rc-cluster-namespace-resources [clusterId]="clusterId"
                                      [clusterNamespace]="clusterNamespace"></rc-cluster-namespace-resources>
    </ng-container>
    <ng-container *ngIf="!defaultResourceQuota && resourceQuotas?.length">
      <ng-container *rcTab="'namespace_quota' | translate">
        <rc-table [rows]="resourceQuotas"
                  [headerHeight]="40"
                  [rowHeight]="50"
                  class="rc-quota-table rc-secondary-table">
          <rc-table-col [name]="'quota_name' | translate">
            <ng-container *rcTableColCell="let quota = row">
              <a href="javascript:;"
                 (click)="viewResourceQuota(quota)">
                {{ quota.kubernetes.metadata.name }}
              </a>
              <i *ngIf="quota.kubernetes.metadata.name === 'default'"
                 [rcTooltip]="'quota_created_by_ui' | translate"
                 class="fa fa-list-alt"></i>
            </ng-container>
          </rc-table-col>
          <rc-table-col [name]="'created_at' | translate">
            <ng-container *rcTableColCell="let quota = row">
              {{ quota.kubernetes.metadata.creationTimestamp | rcFormatUtcStr }}
            </ng-container>
          </rc-table-col>
          <rc-table-col [name]="'action' | translate">
            <ng-container *rcTableColCell="let quota = row">
              <rc-button-menu>
                <button rcButtonMenuDefault
                        rcButton
                        rcButtonSize="small"
                        *ngIf="hasQuotaPermission('view')"
                        [disabled]="quota._deleting"
                        (click)="viewResourceQuota(quota)">{{ 'view' | translate }}</button>
                <button rcButtonSize="small"
                        rcMenuButton
                        *ngIf="hasQuotaPermission('update')"
                        [disabled]="quota._deleting"
                        [routerLink]="['/cluster/namespace/update-quota', clusterId, namespace, quota.kubernetes.metadata.name]">{{ 'update_quota' | translate }}</button>
                <button rcButtonSize="small"
                        rcMenuButton
                        *ngIf="hasQuotaPermission('delete')"
                        [disabled]="quota._deleting"
                        (click)="deleteResourceQuota(quota)">{{ 'delete' | translate }}</button>
              </rc-button-menu>
            </ng-container>
          </rc-table-col>
        </rc-table>
      </ng-container>
    </ng-container>
    <ng-container *rcTab="'event' | translate">
      <rc-event-list type="namespace"
                     [primaryKey]="clusterNamespace.kubernetes.metadata.uid"></rc-event-list>
    </ng-container>
  </rc-tab-group>
</ng-container>
