.rc-list-header {
  margin-bottom: 12px;
}

.resource-types {
  list-style: none;

  > li {
    display: inline-block;
    border-radius: 2px;
    background-color: #f2f2f2;
    border: solid 1px #ccc;
    padding: 3px 12px;

    + li {
      margin-left: 10px;
    }

    &.active {
      color: #24a7e3;
      background-color: #eaf7fd;
      border-color: #24a7e3;
    }
  }
}
