<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_storage' | translate }}
    </ng-container>
    <a *rcBreadcrumbItem
        routerLink="/storage/pv">
      {{ 'nav_pv' | translate }}
    </a>
    <ng-container *rcBreadcrumbItem>
      {{ name }}
    </ng-container>
  </rc-breadcrumb>
</div>
<div class="content" [rcLoadingMask]="loading">
  <div class="rc-detail-container" *ngIf="pv&&!loadError">
    <div class="detail-icon">
      <img src="/static/images/resource/pv.svg" alt="">
    </div>
    <div class="detail-wrapper">
      <!-- header -->
      <div class="detail-header">
        <h3>{{pv.kubernetes.metadata.name}}</h3>
        <div class="detail-buttons" fxLayout>
          <!-- <button rcButton="primary">{{'labels_update'|translate}}</button> -->
          <rc-button-menu style="margin-left: 8px;" text="{{'action'|translate}}">
            <button rcMenuButton [disabled]="status!=='Available'&&status!=='Bound' || !snapshotVolume" *ngIf="canUpdate" (click)="update()">{{'update'|translate}}</button>
            <button rcMenuButton (click)="createSnapshot()" *ngIf="hasCreateSnapshotPermission" [disabled]="!snapshotVolume">{{'storage_create_snapshot'|translate}}</button>
            <button rcMenuButton [disabled]="status==='Bound'" (click)="delete()" *ngIf="canDelete">{{'delete'|translate}}</button>
          </rc-button-menu>
        </div>
      </div>
      <!-- content -->
      <div class="detail-content">
        <!-- status -->
        <div class="detail-item">
          <label>{{'status'|translate}}</label>
          <div>
              <rc-status-badge [status]="statusMap[status]"></rc-status-badge>
          </div>
        </div>
        <!-- size -->
        <div class="detail-item">
          <label>{{'size'|translate}}</label>
          <div>{{pv.kubernetes.spec.capacity.storage}}</div>
        </div>
        <!-- referenced volume -->
        <div class="detail-item">
          <label>{{'referenced_volume'|translate}}</label>
          <div>
            <a [routerLink]="['/storage/volume/detail', pv.kubernetes.metadata.annotations[uuidKey]]"
               *ngIf="snapshotVolume; else noVolume">
              {{pv.kubernetes.metadata.annotations[nameKey]}}
            </a>
            <ng-template #noVolume>-</ng-template>
          </div>
        </div>
        <!-- referenced pvc -->
        <div class="detail-item">
          <label>{{'referenced_pvc'|translate}}</label>
          <div *ngIf="pv.kubernetes.spec.claimRef;else noPvc">
            <a [routerLink]="['/storage/pvc/detail', region.id, pv.kubernetes.spec.claimRef.namespace, pv.kubernetes.spec.claimRef.name]">{{pv.kubernetes.spec.claimRef.name}}</a>
          </div>
          <ng-template #noPvc>-</ng-template>
        </div>

        <!-- default hidden fields -->
        <ng-container *ngIf="!collapsed">
          <!-- access mode -->
          <div class="detail-item">
            <label>{{'access_mode'|translate}}</label>
            <div>{{accessModes[pv.kubernetes.spec.accessModes[0]]|translate}}</div>
          </div>
          <!-- access mode -->
          <div class="detail-item">
            <label>{{'recycle_strategy'|translate}}</label>
            <div>{{recycleStrategies[pv.kubernetes.spec.persistentVolumeReclaimPolicy]|translate}}</div>
          </div>
          <!-- created time -->
          <div class="detail-item">
            <label>{{'created_at'|translate}}</label>
            <div>{{pv.kubernetes.metadata.creationTimestamp|rcFormatUtcStr}}</div>
          </div>
        </ng-container>
      </div>
    </div>
    <span class="detail-collapse-switch" role="button" (click)="collapse()">
      <i class="icon fa-angle-double-down" *ngIf="collapsed"></i>
      <i class="icon fa-angle-double-up" *ngIf="!collapsed"></i>
    </span>
  </div>
</div>
<div class="rc-detail-tab">
  <rc-tab-group *ngIf="!loading && !loadError && pv">
    <!--事件-->
    <ng-container *rcTab="'events' | translate">
      <rc-event-list type="persistentvolume" [primaryKey]="pv.kubernetes.metadata.uid"></rc-event-list>
    </ng-container>
  </rc-tab-group>
</div>
