<div class="rb-form-panel">
  <div class="rb-form-container"
       rb-loading-mask="vm.submitting"
       style="padding-top: 16px;">
    <form class="rb-form"
          name="vm.updatePasswordForm">
      <div ng-if="!vm.showOldPasswordField()"
           class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'username' | translate}}</label>
          <label class="rb-input-text">{{vm.username}}</label>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>

      <div ng-if="vm.showOldPasswordField()"
           class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'old_password' | translate}} <span class="rb-required-mark">*</span></label>
          <input class="rb-input"
                 type="password"
                 name="old_password"
                 ng-model="vm.old_password"
                 rb-errors-tooltip
                 rb-errors-tooltip-mapper="vm.rbChangePasswordErrorMapper"
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>

      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'new_password' | translate}} <span class="rb-required-mark">*</span></label>
          <input class="rb-input"
                 type="password"
                 name="new_password"
                 ng-model="vm.new_password"
                 ng-model-options="{allowInvalid:true}"
                 ng-minlength="vm.passwordPatternObj.min"
                 ng-maxlength="vm.passwordPatternObj.max"
                 ng-pattern="vm.passwordPatternObj.pattern"
                 ng-change="vm.validateSamePassword()"
                 rb-errors-tooltip
                 rb-errors-tooltip-mapper="vm.rbChangePasswordErrorMapper"
                 ui-validate="{strength: 'vm.checkPasswordStrength($value)'}"
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
          <div ng-if="vm.new_password && vm.passwordPatternObj.strength">
            <rb-password-strength password="vm.new_password">
            </rb-password-strength>
          </div>
        </div>
      </div>

      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'confirm_new_password' | translate}} <span class="rb-required-mark">*</span></label>
          <input class="rb-input"
                 type="password"
                 name="confirm_new_password"
                 ng-model="vm.confirm_new_password"
                 ng-model-options="{allowInvalid:true}"
                 rb-errors-tooltip
                 rb-errors-tooltip-mapper="vm.rbChangePasswordErrorMapper"
                 ng-change="vm.validateSamePassword()"
                 ui-validate="{ same_password: '!vm.passwordNotSame' }"
                 ui-validate-watch="'vm.new_password'"
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
    </form>
  </div>

  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button"
              class="ui button rb-btn-default"
              ng-click="vm.cancel()"
              ng-disabled="vm.submitting">
        {{'cancel' | translate}}
      </button>
      <button type="button"
              class="ui button rb-btn-primary"
              ng-click="vm.confirm()"
              ng-disabled="vm.submitting">
        {{'save' | translate}}
      </button>
    </div>
  </div>
</div>