<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_storage' | translate }}
    </ng-container>
    <a *rcBreadcrumbItem
        routerLink="/storage/pvc">
      {{ 'nav_pvc' | translate }}
    </a>
    <ng-container *rcBreadcrumbItem>
      {{ name }}
    </ng-container>
  </rc-breadcrumb>
</div>
<div class="content" [rcLoadingMask]="loading">
  <div class="rc-detail-container" *ngIf="pvc&&!loadError">
    <div class="detail-icon">
        <img src="/static/images/resource/pvc.svg" alt="">
    </div>
    <div class="detail-wrapper">
      <!-- header -->
      <div class="detail-header">
        <h3>{{pvc.kubernetes.metadata.name}}</h3>
        <div class="detail-buttons" fxLayout>
          <!-- <button rcButton="primary" [disabled]="status!=='Available'" *ngIf="canUpdate" (click)="update()">{{'update'|translate}}</button> -->
          <rc-button-menu style="margin-left: 8px" text="{{'action'|translate}}">
            <!-- <button rcButton rcButtonSize="small" rcButtonMenuDefault>{{'action'|translate}}</button> -->
            <button rcMenuButton (click)="delete()" *ngIf="canDelete">{{'delete'|translate}}</button>
          </rc-button-menu>
        </div>
      </div>
      <!-- content -->
      <div class="detail-content">
        <!-- status -->
        <div class="detail-item">
          <label>{{'status'|translate}}</label>
          <div>
              <rc-status-badge [status]="statusMap[status]"></rc-status-badge>
          </div>
        </div>
        <!-- namespace -->
        <div class="detail-item">
          <label>{{'namespace'|translate}}</label>
          <div>{{pvc.kubernetes.metadata.namespace}}</div>
        </div>
        <!-- related pv -->
        <div class="detail-item">
          <label>{{'referenced_pv'|translate}}</label>
          <div>
            <ng-container *ngIf="pvc.kubernetes.spec.volumeName">
              {{pvc.kubernetes.spec.volumeName}}
            </ng-container>
            <ng-container *ngIf="!pvc.kubernetes.spec.volumeName">-</ng-container>
          </div>
        </div>
        <!-- size -->
        <div class="detail-item">
          <label>{{'size'|translate}}</label>
          <div>{{pvc.kubernetes.spec.resources.requests.storage}}</div>
        </div>

        <!-- default hidden fields -->
        <ng-container *ngIf="!collapsed">
          <!-- access mode -->
          <div class="detail-item">
            <label>{{'access_mode'|translate}}</label>
            <div>{{accessModes[pvc.kubernetes.spec.accessModes[0]] | translate}}</div>
          </div>
          <!-- related services -->
          <!-- <div class="detail-item">
            <label>{{'referenced_services'|translate}}</label>
            <div>
              <ng-container *ngIf="refServices.length;else noService">
                <ng-container *ngIf="refServices.length===1">
                  <a [routerLink]="['/k8s_service/detail', refServices[0].uuid]">{{refServices[0].name}}</a>
                </ng-container>
                <ng-container *ngIf="refServices.length>1">
                  <a role="button"
                     [rcTooltip]="serverLinkList"
                     rcTooltipMode="info"
                     rcTooltipOn="click"
                     rcTooltipPosition="right center">
                    {{refServices.length}}个
                  </a>
                </ng-container>
              </ng-container>
              <ng-template #noService>-</ng-template>
            </div>
          </div> -->
          <!-- created time -->
          <div class="detail-item">
            <label>{{'created_at'|translate}}</label>
            <div>{{pvc.kubernetes.metadata.creationTimestamp | rcFormatUtcStr}}</div>
          </div>
        </ng-container>
      </div>
    </div>
    <span class="detail-collapse-switch" role="button" (click)="collapse()">
      <i class="icon fa-angle-double-down" *ngIf="collapsed"></i>
      <i class="icon fa-angle-double-up" *ngIf="!collapsed"></i>
    </span>
  </div>
</div>

<div class="rc-detail-tab">
  <rc-tab-group *ngIf="!loading&&!loadError">
    <!--事件-->
    <ng-container *rcTab="'events' | translate">
      <rc-event-list type="persistentvolumeclaim" [primaryKey]="pvc.kubernetes.metadata.uid"></rc-event-list>
    </ng-container>
    <!--关联服务-->
    <!-- <ng-container *rcTab="'referenced_services' | translate">
      <rc-referenced-service-list [params]="{pvc: pvc.kubernetes.metadata.name}"></rc-referenced-service-list>
    </ng-container> -->
  </rc-tab-group>
</div>

<!-- <ng-template #serverLinkList>
  <div *ngFor="let service of refServices">
    <a [routerLink]="['/k8s_service/detail', service.uuid]">{{service.name}}</a>
  </div>
</ng-template> -->
