<div class="ui search">
  <input class="prompt"
         type="text"
         placeholder=""
         name="{{vm.name}}"
         ng-model="vm.value"
         ng-pattern="vm.pattern"
         ng-change="vm.handleKeywordChange()"
         ng-required="vm.required"
  >
  <div class="results"></div>
</div>