<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'image_sync_config' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <div>
    <input
      type="hidden"
      name="sync_config_name"
      ng-model="vm.item.model.data.config_name"
      required
    />
    <rb-dropdown
      rb-loading-mask="!(vm.configs$ | rbAsync:this)"
      rb-errors-tooltip="vm.form['sync_config_name']"
      on-change="vm.configChanged(option)"
      key="display_name"
      value="config_id"
      is-disabled="vm.workflow.readonly"
      init="vm.item.model.data.config_uuid"
      options="vm.configs$ | rbAsync:this">
    </rb-dropdown>
  </div>
  <div class="rb-input-field-addon"
       ng-hide="vm.loading || vm.workflow.readonly || !vm.buttonDisplayExpr('update')">
    <i class="fa fa-edit" ng-click="vm.editConfig()"></i>
  </div>
</div>
<div class="rb-form-row input"
     ng-hide="vm.workflow.readonly || !(vm.canCreate$ | rbAsync:this)">
  <div class="rb-label">
  </div>
  <div>
    <button
      ng-click="vm.createConfig()"
      class="ui button tiny rb-btn-default">
      {{ 'image_sync_center_create' | translate }}
    </button>
  </div>
</div>
<div class="rb-form-row input" >
  <div class="rb-label">
  </div>
  <div class="checkbox-group">
    <div class="ui checkbox">
      <input type="checkbox"
             ng-disabled="vm.workflow.readonly || !(vm.workflow.artifactEnabled$ | rbAsync:this)"
             ng-model="vm.uploadArtifactsEnabled"
             ng-change="vm.uploadArtifactsChanged(vm.uploadArtifactsEnabled)">
      <label>
        {{ 'build_step_upload_artifacts' | translate }}
      </label>
    </div>
  </div>
</div>
<div
  class="rb-form-row input"
  ng-if="vm.uploadArtifactsEnabled && (vm.workflow.artifactEnabled$ | rbAsync:this)">
  <div class="rb-label">
    {{ 'pipeline_artifact_upload_path' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <input
    ng-disabled="vm.workflow.readonly"
    required
    rb-errors-tooltip
    ng-model="vm.uploadPath"
    ng-change="vm.uploadPathChanged(vm.uploadPath)">
  </input>
</div>
