<div ng-if="!vm.fileLoading && !vm.fileList.length" class="rb-loading-mask-placeholder" style="min-height: 80px;">
  {{'envfile_list_empty' | translate}}
</div>
<table ng-if="vm.fileLoading || vm.fileList.length" class="table-condensed rb-fieldset-table">
  <thead>
  <tr>
    <td ng-if="vm.update" style="width:40px;">{{'update' | translate}}</td>
    <td>{{'name'|translate}}</td>
    <td style="width:70px;"></td>
  </tr>
  </thead>
  <tbody ng-show="vm.fileList.length">
  <tr ng-repeat="item in vm.envFiles track by $index">
    <td ng-if="vm.update">
      <div ng-show="item.content" class="ui checkbox" style="vertical-align: middle;">
        <input type="checkbox" ng-model="item.update">
        <label class="fa"></label>
      </div>
    </td>
    <td>
      <rb-dropdown options="vm.fileList"
                   filter-threshold="1"
                   key="display_name"
                   value="uuid"
                   init="item.uuid"
                   on-change="vm.onFileChange(option, item)"></rb-dropdown>
    </td>
    <td>
      <button class="rb-fieldset-action-btn" ng-click="vm.viewFile(item)">
        <i class="fa fa-eye"></i>
      </button>
      <button class="rb-fieldset-action-btn" ng-click="vm.deleteFile($index)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>

  <tr>
    <td colspan="{{vm.getColspan()}}">
      <button ng-click="vm.addFile()" class="rb-fieldset-add-btn">
        <i class="fa fa-plus"></i>
      </button>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>

