@import 'colors.styles';
:host {
  display: block;
  ::ng-deep rc-loading-mask {
    min-height: 120px;
    background-color: transparent;
  }
  .rc-instance {
    display: flex;
    &__name {
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 4px;
      white-space: nowrap;
    }
    &__version {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      white-space: nowrap;
      border-radius: 8px;
      padding: 0 6px;
      margin-right: 8px;
      &.current {
        background-color: $status-color-success;
      }
      &.previous {
        background-color: $status-color-in-process;
      }
    }
  }
}
