<!--Explain why there is no data-->
<rc-loading-mask [loading]="loading && empty"></rc-loading-mask>
<div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
  {{ "pod_list_empty" | translate }}
</div>
<ng-container *ngIf="!empty">
  <aui-table [dataSource]="instanceItems">
    <ng-container auiTableColumnDef="pod_instance_name">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'pod_instance_name' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="rc-instance">
          <div class="rc-instance__name" [attr.title]="item.metadata.name">{{item.metadata.name}}</div>
          <div class="rc-instance__version" [ngClass]="getInstanceVersion(item)">
            {{getInstanceVersionText(item)}}
          </div>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'status' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-status-badge [status]="item.status.phase"
          [showPrimitiveStatus]="true">
        </rc-status-badge>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="started_at">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'started_at' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{item.status.startTime | rcFormatUtcStr}}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="pod_host_ip">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'pod_host_ip' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{item.status.hostIP}}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="pod_ip">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'pod_ip' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span [rcTooltip]="item.status.podIP" rcTooltipPosition="top">
            {{item.status.podIP}}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div [auiDropdown]="menu"
          class="action-button"
          [auiDropdownDisabled]="!menu.menuItems || !menu.menuItems.length">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu
          size="small">
          <aui-menu-item
            *ngIf="canUpdate"
            (click)="deleteInstance(item)">
            {{ 'service_instance_restart' | translate }}
          </aui-menu-item>
          <aui-submenu>
            EXEC
            <aui-menu-item *ngFor="let container of item.spec.containers"
              (click)="onContainerSelect(item, container)"
              [disabled]="!canEXEC(container.name, item)">
              {{ container.name }}
            </aui-menu-item>
          </aui-submenu>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="['pod_instance_name', 'status', 'started_at', 'pod_host_ip', 'pod_ip', 'action']">
    </aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="let row; columns: ['pod_instance_name', 'status', 'started_at', 'pod_host_ip', 'pod_ip', 'action'];">
    </aui-table-row>
  </aui-table>
</ng-container>
