<div class="rc-search-bar">
  <input
    rcInput
    [placeholder]="'filter_by_ip_placeholder' | translate"
    (input)="filter$.next($event.target.value)">
</div>

<rc-table
  [rcLoadingMask]="!(nodes$ | async) && (nodesLoadingState$ | async)==='loading'"
  [rows]="nodes$ | async"
  [headerHeight]="40"
  [rowHeight]="60"
  class="rc-secondary-table">
  <rc-table-col
    [name]="'private_ip' | translate">
    <div *rcTableColCell="let rowData = row">
      <a
        (click)="goToNode(rowData)">
        {{ rowData.private_ip }}
      </a>
    </div>
  </rc-table-col>
  <rc-table-col
    [name]="'node_tags' | translate">
    <div *rcTableColCell="let rowData=row">
      <a
        *ngIf="isK8sContainer() && rowData.type !== 'SYS' && rowData.labels"
        [auiTooltip]="nodeLabels"
        [auiTooltipDisabled]="!rowData.labels.length"
        [auiTooltipContext]="rowData"
        auiTooltipType="info"
        auiTooltipPosition="top start"
        auiTooltipTrigger="click">
        {{ rowData.labels.length }} {{ 'ge' | translate }}
      </a>
      <span
        *ngIf="!isK8sContainer() && rowData.type === 'SYS'">
        {{ rowData.node_tag }}
      </span>
      <span *ngIf="isEmptyCluster()">-</span>
    </div>
  </rc-table-col>
  <rc-table-col
    [name]="'status' | translate">
    <div *rcTableColCell="let rowData=row">
      <div class="rc-node-list__status-wrapper">
        <rc-status-badge [status]="rowData.state" mode="text"></rc-status-badge>
        <div
          *ngIf="isK8sContainer() && rowData.type !== 'SYS' && rowData.attr.schedulable !== undefined"
          class="rc-node-list__schedule-badge rc-node-list__schedule-badge--{{ rowData.attr.schedulable ? 'schedulable' : 'unschedulable' }}">
          {{ (rowData.attr.schedulable ? 'region_node_schedule_schedule' : 'region_node_schedule_unschedule') |
          translate }}
        </div>
      </div>
    </div>
  </rc-table-col>
  <rc-table-col
    [name]="'create_node_type' | translate">
    <div *rcTableColCell="let rowData=row">
      {{ (rowData.attr?.source === 'api-create' ? 'auto_type' : (rowData.attr.source ==='scale-up' ? 'scaling_type' :
      'manual_type')) | translate }}
    </div>
  </rc-table-col>
  <rc-table-col
    [name]="'region_node_pod_number' | translate">
    <div *rcTableColCell="let rowData=row">
      {{ getPodsCount(rowData) }}
    </div>
  </rc-table-col>
  <rc-table-col
    [name]="'resource_cpu_count' | translate">
    <div *rcTableColCell="let rowData=row">
      {{ rowData.resources?.total_cpus===undefined ? '-' : rowData.resources?.total_cpus }}
    </div>
  </rc-table-col>
  <rc-table-col
    [name]="'resource_mem_count' | translate">
    <div *rcTableColCell="let rowData=row">
      {{ rowData.resources?.total_mem===undefined ? '-' : rowData.resources?.total_mem }}
    </div>
  </rc-table-col>
  <rc-table-col
    [name]="'region_node_type' | translate">
    <div *rcTableColCell="let rowData=row">
      {{ ('region_node_type_'+rowData.type) | translate }}
    </div>
  </rc-table-col>
  <rc-table-col
    [name]="'action' | translate">
    <div *rcTableColCell="let rowData=row">
      <rc-button-menu>
        <button
          rcButton
          rcButtonSize="small" rcButtonMenuDefault
          (click)="goToNode(rowData)">
          {{ 'view' | translate }}
        </button>
        <button
          rcMenuButton
          *ngIf="couldAction(rowData,'tag')"
          (click)="updateNodeTag(rowData)">
          {{ 'update_node_tags' | translate }}
        </button>
        <button
          rcMenuButton
          *ngIf="couldAction(rowData,'delete')"
          (click)="deleteNode(rowData)">
          {{ 'delete' | translate }}
        </button>
        <button
          rcMenuButton
          *ngIf="couldAction(rowData,'clear') && cluster.container_manager !== 'NONE'"
          (click)="clearNode(rowData)">
          {{ 'region_empty_node' | translate }}
        </button>
        <button
          rcMenuButton
          *ngIf="couldAction(rowData,'start') && isAutoCreateNode(rowData)"
          (click)="startNode(rowData)">
          {{ 'start' | translate }}
        </button>
        <button
          rcMenuButton
          *ngIf="couldAction(rowData,'stop') && isAutoCreateNode(rowData)"
          (click)="stopNode(rowData)">
          {{ 'stop' | translate }}
        </button>
        <button
          rcMenuButton
          *ngIf="couldAction(rowData,'deploy') && cluster.container_manager !== 'NONE'"
          (click)="deployNode(rowData)">
          {{ 'region_node_make_compute' | translate }}
        </button>
        <button
          rcMenuButton
          *ngIf="couldAction(rowData,'drain')"
          [disabled]="rowData.state==='DRAINING'"
          (click)="doAction(rowData,'drain')">
          {{ 'region_node_drain' | translate }}
        </button>
        <button
          rcMenuButton
          *ngIf="couldAction(rowData,'uncordon')"
          [disabled]="rowData.state==='DRAINING'"
          (click)="doAction(rowData,'uncordon')">
          {{ 'region_node_uncordon' | translate }}
        </button>
        <button
          rcMenuButton
          *ngIf="couldAction(rowData,'cordon')"
          [disabled]="rowData.state==='DRAINING'"
          (click)="doAction(rowData,'cordon')">
          {{ 'region_node_cordon' | translate }}
        </button>
      </rc-button-menu>
    </div>
  </rc-table-col>
</rc-table>

<ng-template
  #nodeLabels
  let-labels="labels">
  <div style="max-width: 300px;display: flex;flex-wrap: wrap;">
    <rc-tag *ngFor="let label of labels">{{ label.key }}:{{ label.value }}</rc-tag>
  </div>
</ng-template>
