@import '_colors.palette';
@import '_colors.styles';

.rc-node-list {
  &__status-wrapper {
    display: flex;
  }

  &__schedule-badge {
    display: flex;
    align-items: center;
    font-size: 14px;

    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      margin: 0 4px;
      border-radius: 4px;
      background-color: #d8d8d8;
    }

    &--schedulable {
      color: $status-color-success;
    }

    &--unschedulable {
      color: $status-color-error;
    }
  }
}

.rc-search-bar {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 8px;
  margin-bottom: 20px;

  input {
    flex-grow: 0;
    width: 30%;
  }
}
