<ng-container *rcPageHeaderContent>
    <div class="project-page__header">
        <span>{{'project_overview' | translate}}</span>
        <span fxFlex></span>
        <a *ngIf="(projectsLength$ | async)"
            [routerLink]="['/project', {project: currentProject?.name}, 'detail']">{{'project_detail' | translate}}</a>
    </div>
</ng-container>
<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<ng-container *ngIf="initialized">
    <ng-container *ngIf="!(projectsLength$ | async)">
        <div class="overview-empty">
            {{'projects_empty_hint' | translate}}
        </div>
    </ng-container>

    <ng-container *ngIf="(projectsLength$ | async)">
        <div class="overview-header">
            <h3>{{'nav_namespace' | translate}}</h3>
            <div fxFlex></div>
            <button aui-button="default"
                *ngIf="createNamespaceEnabled"
                [size]="medium"
                [routerLink]="['/project', {project: currentProject?.name} ,'create_namespace']">{{'create_namespace' | translate}}</button>
            <aui-search 
                [searchButton]="false"
                [debounce]="200"
                style="width: 16em; margin-left: 8px;"
                placeholder="{{'filter_by_name_placeholder' | translate}}"
                (keywordChange)="search$.next($event)">
            </aui-search>
        </div>

        <ng-container *ngIf="(clustersLength$ | async)">
            <div class="cluster-list">
                <div class="cluster-list__item"
                    [ngClass]="{'active': !currentCluster}"
                    (click)="clusterSelected()">
                    {{'all' | translate}}
                </div>
                <div *ngFor="let cluster of (clusters$ | async) trackBy: trackByClusterName"
                    class="cluster-list__item"
                    [ngClass]="{'active': currentCluster?.name === cluster.name}"
                    (click)="clusterSelected(cluster)">
                    {{cluster.name}}
                </div>
            </div>

            <ng-container *ngIf="(namespacesLength$ | async)">
                <div class="namespace-list">
                    <div *ngFor="let namespace of (filteredNamespaces$ | async) trackBy: trackByNamespaceIndex"
                        (click)="enterNamespace(namespace)"
                        class="namespace-item">
                        <div class="namespace-item__header">
                            <a href="javascript:void(0)"
                                (click)="namespaceDetail(namespace, $event)">{{namespace.name}}</a>
                        </div>
                        <div class="namespace-item__desc">{{namespace.cluster_display_name}}</div>
                        <div class="namespace-item__quota">
                            <div class="namespace-item__quota__item">
                                <div class="namespace-item__quota__item__header">
                                    CPU{{'quota' | translate}} ({{'unit_cpu' | translate}})
                                </div>
                                <div class="namespace-item__quota__item__content">
                                    {{namespace.quota?.cpu | rcFieldNotAvailable}}
                                </div>
                            </div>
                            <div class="namespace-item__quota__item">
                                <div class="namespace-item__quota__item__header">
                                    {{'memory' | translate}}{{'quota' | translate}} (GB)
                                </div>
                                <div class="namespace-item__quota__item__content">
                                    {{namespace.quota?.memory | rcFieldNotAvailable}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!(namespacesLength$ | async)">
                <div *ngIf="!namespaceLoading"
                    class="overview-empty">
                    {{'no_namespace' | translate}}
                </div>
                <rc-loading-mask [loading]="namespaceLoading"></rc-loading-mask>
            </ng-container>
        </ng-container>

        <div *ngIf="!(clustersLength$ | async)"
            class="overview-empty">
            {{'project_has_no_cluster' | translate}}
        </div>

    </ng-container>
</ng-container>