:host {
  padding: 20px;
  border-radius: 2px;
  background-color: #fff;
  rc-loading-mask {
    height: 120px;
  }
  .overview-empty {
    height: 120px;
    display: flex;
    color: #ccc;
    justify-content: center;
    align-items: center;
  }
  .overview-header {
    padding: 4px 0 12px 0;
    display: flex;
    align-items: center;
    h3 {
      font-weight: 400;
      font-size: 18px;
      color: #333;
    }
    border-bottom: 1px solid #ededed;
  }
  .cluster-list {
    display: flex;
    margin-bottom: 8px;
    &__item {
      margin: 12px 8px 0 0;
      height: 28px;
      padding: 0 12px;
      line-height: 28px;
      border-radius: 16px;
      color: #333;
      cursor: pointer;
      transition: color 0.2s ease, background-color 0.2s ease;
      &.active {
        background-color: #24a7e3;
        color: #fff;
      }
    }
  }
  .namespace-list {
    display: flex;
    flex-wrap: wrap;
    .namespace-item {
      width: calc((100% - 48px) / 4);
      margin: 8px 12px 0 0;
      color: #333;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
      border-radius: 2px;
      cursor: pointer;
      border: 1px solid #ededed;
      &:hover {
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
        border: 1px solid #009ce3;
      }
      &:nth-child(4n + 4) {
        margin-right: 0;
      }
      &__header {
        height: 56px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        margin-bottom: 12px;
        background: #f2fafe;
        border-bottom: 1px solid #ededed;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        a {
          font-size: 24px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #24a7e3;
          text-decoration: none;
          &:focus,
          &:visited {
            text-decoration: none;
          }
        }
        a:hover {
          text-decoration: underline;
        }
      }
      &__body {
        height: 108px;
      }
      &__desc {
        display: flex;
        height: 20px;
        justify-content: flex-start;
        align-items: center;
        font-size: 12px;
        padding: 0 16px;
        color: #666;
      }
      &__quota {
        padding: 12px 16px;
        display: flex;
        justify-content: center;
        &__item {
          height: 64px;
          width: 50%;
          padding: 8px 6px 0 6px;
          background: #fafafa;
          color: #666;
          &:not(:first-child) {
            margin-left: 8px;
          }
          &__header {
            font-size: 12px;
            display: flex;
            justify-content: center;
          }
          &__content {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
          }
        }
      }
    }
  }
}
.project-page__header {
  flex: 1;
  display: flex;
  justify-content: center;
}
rc-loading-mask {
  background: transparent;
}
