$fontSizeS: 24px;
$fontSizeM: 32px;
$fontSizeL: 64px;
$fontSizeXL: 72px;

.rc-alarm-chart {
  &__count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $fontSizeXL;
    color: #9da4af;
  }

  @media (max-width: 2560px) {
    &__count {
      font-size: $fontSizeL;
    }
  }

  @media (max-width: 1920px) {
    &__count {
      font-size: $fontSizeM;
    }
  }

  @media (max-width: 1440px) {
    &__count {
      font-size: $fontSizeS;
    }
  }
}
