<rc-card
  [fitParent]="true">
  <a rcCardHeader [routerLink]="['/alarm']" [queryParams]="{ type: 'metric' }">{{ 'chart_title_alarm' | translate }}</a>
  <rc-chart-container
    [loading]="!initialized"
    [noData]="initialized && !data"
    [legends]="legends">
    <div class="rc-alarm-chart__count">
      {{ totalCount | rcThousandUnit:1 }}
    </div>
    <ngx-charts-pie-chart
      [results]="data||fakeData"
      [scheme]="chartConfig.scheme"
      [doughnut]="chartConfig.doughnut">
    </ngx-charts-pie-chart>
  </rc-chart-container>
</rc-card>
