<div class="rc-list-header">
  <button *ngIf="hasCreateAlarmPermission"
          rcButton="primary"
          (click)="createAlarm()"
          [disabled]="loading">
    {{ "alarm_create" | translate }}
  </button>
  <span fxFlex></span>
  <rc-search-input [loading]="searching" mode="filter" (onSearch)="searchChanged($event)"></rc-search-input>
  <button rcIconButton [disabled]="loading" (click)="load()">
    <i class="fa fa-refresh"></i>
  </button>
</div>

<div class="table-container" [rcLoadingMask]="loading">
  <table *ngIf="initialized" class="rc-native-table rc-native-table-secondary">
    <thead>
      <tr>
        <td style="width: 16px"></td>
        <td style="min-width:120px">{{ 'name' | translate }}</td>
        <td style="width:120px;">{{ 'quota_space' | translate }}</td>
        <td style="width:160px;">{{ 'status'|translate }}</td>
        <td style="width:160px;">{{ 'metric_name' | translate }}</td>
        <td style="width:160px;">{{ 'alarm_threshold' | translate }}</td>
        <td style="width:100px;">{{ 'alarm_action' | translate }}</td>
        <td style="width:140px;">{{ 'action' | translate }}</td>
      </tr>
    </thead>
    <tbody *ngFor="let alarm of alarms;trackBy: trackByIndex">
      <tr [ngClass]="{'active': expandedAlarms[alarm.uuid]}">
        <td class="col-expand-icon" (click)="clickRow(alarm)" role="button" >
            <i class="fa" [ngClass]="{'fa-caret-right': !expandedAlarms[alarm.uuid], 'fa-caret-down': expandedAlarms[alarm.uuid]}"></i>
        </td>
        <td class="rc-col-break col-alarm-name">
          <a [routerLink]="['/alarm/alarm_detail', alarm.uuid]">{{alarm.name}}</a>
          <i class="fa fa-bell" *ngIf="shouldShowAlarmIcon(alarm)"></i>
        </td>
        <td>
          <a *ngIf="alarm.space_name;else noSpace"
             [routerLink]="['/quota/detail', alarm.space_name]">{{alarm.space_name}}</a>
          <ng-template #noSpace>-</ng-template>
        </td>
        <td class="rc-col-nowrap">
          <rc-alarm-status [alarm]="alarm"></rc-alarm-status>
        </td>
        <td class="rc-col-break">{{alarm.metric_name}}</td>
        <td>{{getThresholdDisplay(alarm)}}</td>
        <td>
          <div [innerHTML]="alarm.actions_display"></div>
        </td>
        <td>
          <rc-button-menu>
            <button rcButton
                    rcButtonSize="small" rcButtonMenuDefault
                    (click)="viewDetail(alarm.uuid)">{{'view'|translate}}</button>
            <button rcMenuButton
                    [disabled]="alarm.inAction"
                    (click)="update(alarm)"
                    *ngIf="alarm.canUpdate">{{'update'|translate}}</button>
            <button rcMenuButton
                    [disabled]="alarm.ackDisabled"
                    (click)="ack(alarm)"
                    *ngIf="alarm.canAck">{{(alarm.ackDisabled?'alarm_ack_sent':'alarm_ack')|translate}}</button>
            <button rcMenuButton
                    [disabled]="alarm.inAction"
                    (click)="delete(alarm)"
                    *ngIf="alarm.canDelete">{{'delete'|translate}}</button>
          </rc-button-menu>
        </td>
      </tr>
      <ng-container *ngIf="alarm.children && expandedAlarms[alarm.uuid]">
        <tr *ngFor="let child of alarm.children;trackBy: trackByIndex">
          <td></td>
          <td class="rc-col-truncate" title="{{child.display_name}}">
            {{child.display_name}}
          </td>
          <td></td>
          <td>
            <rc-status-badge [status]="statusMap[child.status]"></rc-status-badge>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <rc-button-menu>
              <button rcButton
                      rcButtonSize="small" rcButtonMenuDefault
                      [disabled]="child.ackDisabled"
                      (click)="ackChild(child)"
                      *ngIf="child.canAck">{{(child.ackDisabled?'alarm_ack_sent':'alarm_ack')|translate}}</button>
              <button rcButton
                      rcButtonSize="small" rcButtonMenuDefault
                      [disabled]="child.inAction"
                      (click)="deleteChild(child)"
                      *ngIf="!child.canAck&&child.canDelete">{{'delete'|translate}}</button>
              <button rcMenuButton
                      [disabled]="child.inAction"
                      (click)="deleteChild(child)"
                      *ngIf="child.canAck&&child.canDelete">{{'delete'|translate}}</button>
            </rc-button-menu>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tbody *ngIf="!alarms.length">
      <tr class="rc-row-empty">
        <td colspan="8">
            {{(keyword.length?'no_results':'no_data') | translate}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
