@import 'colors.styles';
@import 'list.styles';
@import 'mixins';

:host ::ng-deep .alarm-table {
  .datatable-body {
    .datatable-row-wrapper {
      &:hover {
        background-color: $blue-2 !important;
      }
      .datatable-row-detail {
        .datatable-row-wrapper {
          &:hover {
            background-color: #fff !important;
          }
        }
      }
    }
  }
  .toggle-cell {
    .datatable-body-cell-label,
    a {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  .rb-query-condition-line {
    @include singleline-ellipsis;
  }
}

.col-alarm-name {
  .fa-bell {
    color: $text-warnings-color;
  }
}

// native table
.rc-native-table {
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
  tr {
    margin-bottom: 2px;
  }
  td {
    font-size: 14px;
    padding: 0.75rem 1.2rem;
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  thead {
    background-color: #fff;
    td {
      height: 40px;
      color: $gray-10;
      vertical-align: middle;
      font-weight: 500;
      white-space: nowrap;
    }
  }
  tbody {
    tr:not(.rc-row-empty) {
      transition: background-color 0.3s ease;
      &:hover,
      &.active {
        background-color: $blue-2;
      }
    }
    td {
      height: 80px;
    }
    .rc-row-empty {
      td {
        height: 48px;
        color: #999;
        text-align: center;
      }
    }
  }
  .rc-col-nowrap {
    white-space: nowrap;
  }
  .rc-col-break {
    word-break: break-all;
  }
  .rc-col-truncate {
    @include singleline-ellipsis;
    max-width: 100px;
    width: auto;
  }
}
.rc-native-table-secondary {
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    background-color: $silver-6;
  }
  td {
    border-bottom: 1px solid $gray-6;
    &:first-child {
      border-radius: 0;
    }
    &:last-child {
      border-radius: 0;
    }
  }
  tbody {
    td {
      height: 60px;
    }
  }
}
.rc-text-truncate {
  @include singleline-ellipsis;
}
.col-expand-icon {
  .fa {
    width: 14px;
  }
}
