<table class="table-condensed rb-fieldset-table">
  <thead>
  <tr>
    <td>
      <span>{{'user_domain' | translate}}</span>
      <i class="fa fa-question-circle"
         uib-popover-html="'custom_domain_desc' | translate"
         popover-placement="top"
         popover-trigger="'mouseenter'"
         popover-append-to-body="true"></i>
    </td>
    <td style="width:70px;"></td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in vm.customDomains track by $index">
    <td>
      <div class="ui mini fluid input">
        <input type="text" ng-model="vm.customDomains[$index]" placeholder="{{'user_domain' | translate}}" ng-pattern="/^[a-za-z0-9-_.]+$/">
      </div>
    </td>
    <td>
      <button class="rb-fieldset-action-btn" ng-click="vm.deleteDomain($index)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <button ng-click="vm.addDomain()" class="rb-fieldset-add-btn">
        <i class="fa fa-plus"></i>
      </button>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>