@import 'colors.styles';

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.5);
  .ui.modal.scrolling {
    margin: 6.5rem auto !important;
  }
}

.ui.modal.rb-modal {
  .rb-modal-loading {
    display: block;
    visibility: hidden;
  }
  // overwrite bootstrap .modal styles
  font-size: 14px;
  bottom: auto;
  right: auto;
  border-radius: 0;
  min-width: 600px; // default width is 900, 600 is enough
  max-width: 900px;
  overflow: visible;
  > .header {
    font-size: 14px;
    font-weight: 400;
    color: #464646;
    background-color: #f6f6f6;
    border-bottom: none;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
    .fa-remove {
      font-size: 16px;
      float: right;
      color: #b4b4b4;
      cursor: pointer;
      transition: color 0.3s;
      &:hover {
        color: #37acf0;
      }
    }
  }
  > .content {
    padding: 0; //reduce modal content padding padding to 0
    font-size: 14px; // Default is 1em which is 10px defined by bootstrap in HTML tag

    .rb-label {
      min-width: 150px;
    }
  }

  .rb-form-footer {
    .rb-form-footer-buttons {
      flex: 1;
      justify-content: flex-end;
      > button {
        margin: 0 0 0 4px;
      }
    }
  }
  .ui.loader {
    color: #333;
    // reset border color overwrite by .ui.dimmer > .ui.loader
    &:before {
      border-color: rgba(0, 0, 0, 0.1);
    }
    &:after {
      border-color: #767676 transparent transparent;
    }
  }
}

.ui.modal.rb-modal {
  .rb-form-panel {
    .rb-form-container {
      padding-top: 16px;
    }
  }
}
