@import 'colors.styles';

.service-catalog-warning-exclamation-circle {
  font-size: 16px;
  color: $orange-7;
  margin-right: 5px;
}

.service-catalog-empty-notification {
  float: right;
  font-size: 16px;
  margin-top: 8px;
  cursor: pointer;
  color: #2fa7df;
}

.service-catalog-error-image {
  opacity: 0.3;
}

.rc-list-pagination {
  margin: 16px 0px;
  display: flex;
  justify-content: flex-end;
}

.description-question-circle:hover {
  color: $blue-5;
}

.service-catalog-sync-circle {
  padding: 2px;
  font-size: 12px;
  border-radius: 10px;
  color: white;
  background-color: $blue-6;
  margin-right: 5px;
}
