$verticalMargin: 16px;
$baseHeightS: 260px;
$baseHeightM: 330px;
$baseHeightL: 460px;
$baseHeightXL: 630px;

.rc-boards-line {
  margin-bottom: $verticalMargin;

  &__title {
    margin-bottom: 12px;
    margin-top: 24px;
    padding-left: 4px;
    border-left: solid #8da3b2 3px;
    font-size: 14px;
    color: #8da3b2;
    line-height: 1;
  }

  &--height-1 {
    height: ($baseHeightXL - $verticalMargin)/2;
  }

  &--height-2 {
    height: $baseHeightXL;
  }

  @media (max-width: 2560px) {
    &--height-1 {
      height: ($baseHeightL - $verticalMargin)/2;
    }

    &--height-2 {
      height: $baseHeightL;
    }
  }

  @media (max-width: 1920px) {
    &--height-1 {
      height: ($baseHeightM - $verticalMargin)/2;
    }

    &--height-2 {
      height: $baseHeightM;
    }
  }

  @media (max-width: 1440px) {
    &--height-1 {
      height: ($baseHeightS - $verticalMargin)/2;
    }

    &--height-2 {
      height: $baseHeightS;
    }
  }
}

.rc-board {
  height: 100%;
}
