<div
  class="rc-boards-line">
  <div
    *ngIf="config.title"
    class="rc-boards-line__title">
    {{ config.title | translate }}
  </div>
  <div
    rcRow
    [rcRowBase]="config.base || 20"
    [rcRowGutter]="20"
    [class.rc-boards-line--height-1]="config.vSpan===1"
    [class.rc-boards-line--height-2]="config.vSpan===2">
    <div
      *ngFor="let board of config.boards"
      rcCol
      [rcColSpan]="board.hSpan"
      class="rc-board">
      <ng-container
        *ngIf="board.type==='lines'">
        <rc-boards-line
          *ngFor="let line of board.lines"
          [config]="line">
        </rc-boards-line>
      </ng-container>

      <rc-card
        *ngIf="board.type==='card'"
        [title]="board.type"
        [fitParent]="true">
      </rc-card>

      <rc-board
        *ngIf="board.type!=='lines' && board.type!=='card'"
        [chartConfig]="board">
      </rc-board>
    </div>
  </div>
</div>
