<div class="rb-form-panel">
  <div class="rb-form-container"
    [rcLoadingMask]="submitting"
    style="padding-top: 16px;">
    <form class="rb-form"
      name="updateCompanyForm" #updateCompanyForm="ngForm">
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'former_company_name' | translate}}</label>
          <label class="rb-input-text">{{formerCompanyName}}</label>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'company_name' | translate}} <span class="rb-required-mark">*</span></label>
          <input rcInput
            type="text"
            name="companyName"
            [(ngModel)]="companyName"
            rcErrorsTooltip
            [rcErrorsTooltipMapper]="errorMapper"
            pattern="^[a-z0-9\u4e00-\u9fa5_\s]*$"
            minlength="2"
            maxlength="64"
            required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
    </form>
  </div>

  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button rcButton
        (click)="cancel()"
        [disabled]="submitting">
        {{'cancel' | translate}}
      </button>
      <button rcButton="primary"
        (click)="confirm()"
        [disabled]="submitting">
        {{'confirm' | translate}}
      </button>
    </div>
  </div>
</div>
