:host {
  ::ng-deep {
    .rb-form-panel .rb-form-footer .rb-form-footer-buttons {
      flex: 1;
      justify-content: flex-end;
    }
    rc-multi-selection-dropdown,
    rc-single-selection-dropdown {
      width: 380px;
    }
  }
}
