<div class="rb-form-panel">
  <div class="rb-form-container" [rcLoadingMask]="!initialized || submitting">
    <form class="rb-form" #UserAddForm="ngForm" [name]="form">
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'role_name' | translate}}</label>
          <rc-single-selection-dropdown
            name="selectedRoleName"
            [options]="filterRoles"
            [displayField]="'name'"
            [valueField]="'name'"
            [placeholder]="'select_role' | translate"
            [(ngModel)]="selectedRoleName"
           >
          </rc-single-selection-dropdown>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>

      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'username' | translate}}</label>
          <rc-multi-selection-dropdown
            name="selectUsers"
            [options]="filterUsers"
            [displayField]="'username'"
            [valueField]="'username'"
            [placeholder]="'role_add_user_placeholder' | translate"
            [(ngModel)]="users">
          </rc-multi-selection-dropdown>

          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>

    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button rcButton (click)="cancel()">{{'cancel' | translate}}
      </button>
      <button rcButton="primary" ng-disabled="!initialized || !selectedRoles.length" (click)="confirm()">{{'confirm' |
        translate}}
      </button>
    </div>
  </div>
</div>
