<rc-form-field [label]="config.label | rcTitleCase">
  <ng-container [ngSwitch]="config.controlType">

    <!-- Input -->
    <input rcInput
           *ngSwitchCase="'rc-input'"
           [formControl]="control"
           [type]="config.type || 'text'"
           [required]="config.required !== false"
           [placeholder]="config.placeholder || ''"
           [min]="config.min"
           [max]="config.max"
           [minlength]="config.minlength || 0"
           [maxlength]="config.maxlength || 64"
           [pattern]="config.pattern"
           [readOnly]="config.readOnly || false"
           [autocomplete]="config.type === 'password' ? 'new-password' : ''">

    <!-- Customize instance size -->
    <rc-customize-size *ngSwitchCase="'rc-customize-size'"
                       [formControl]="control"
                       [config]="config"></rc-customize-size>

    <!-- Checkbox -->
    <rc-checkbox *ngSwitchCase="'rc-checkbox'"
                 [name]="config.name"
                 [mode]="config.type"
                 [formControl]="control"
                 [required]="config.required !== false">
    </rc-checkbox>

    <!-- Dropdown  -->
    <rc-single-selection-dropdown *ngSwitchCase="'rc-single-selection-dropdown'"
                                  [formControl]="control"
                                  [required]="config.required !== false"
                                  [options]="config.options"
                                  [displayField]="config.displayField"
                                  [valueField]="config.valueField"
                                  [rcLoadingMask]="config.loading"
                                  [placeholder]="(config.options && config.options.length ? config.placeholder : 'currently_no_options')|translate">
    </rc-single-selection-dropdown>

    <!-- Radio Group  -->
    <rc-radio-group *ngSwitchCase="'rc-radio-group'"
                    [formControl]="control"
                    [required]="config.required !== false"
                    [options]="config.options">
    </rc-radio-group>

    <!-- pipeline template conatinermix -->
    <rc-pipeline-template-service-container *ngSwitchCase="'rc-pipeline-template-service-container'"
                                            [required]="config.required !== false"
                                            [formControl]="control">
    </rc-pipeline-template-service-container>
    
    <!-- pipeline template credential -->
    <rc-pipeline-dyform-credential *ngSwitchCase="'rc-pipeline-dyform-credential'"
                                   [required]="config.required !== false"
                                   [formControl]="control">
    </rc-pipeline-dyform-credential>
    
    <!-- code edit-->
    <rc-code-editor *ngSwitchCase="'rc-code-edit'"
                    [required]="config.required !== false"
                    [formControl]="control">
    </rc-code-editor>
    
    <!-- env config-->
    <rc-pipeline-dyform-env *ngSwitchCase="'rc-pipeline-dyform-env'"
                            [namespace]="config.namespace"
                            [clusterName]="config.clusterName"
                            [required]="config.required !== false"
                            [formControl]="control">
    </rc-pipeline-dyform-env>

    <!-- configMap-->
    <rc-pipeline-dyform-configmap *ngSwitchCase="'rc-pipeline-dyform-configmap'"
                                  [options]="config.options"
                                  [required]="config.required !== false"
                                  [formControl]="control">
    </rc-pipeline-dyform-configmap>
    <!-- -->
    <rc-pipeline-dyform-repository *ngSwitchCase="'rc-pipeline-dyform-repository'"
                                   [required]="config.required !== false"
                                   [formControl]="control">
    </rc-pipeline-dyform-repository>
  </ng-container>

  <span class="fa fa-question-circle description-question-circle"
        *ngIf="config.description"
        rcFormAddon
        [rcTooltip]="config.description"
        [rcTooltipInline]="false"
        rcTooltipMode="info"
        rcTooltipPosition="top center">
  </span>
  <span rcFormPrefix *ngIf="config.prefix">{{ config.prefix }}</span>
  <span rcFormSuffix *ngIf="config.suffix">{{config.suffix}}</span>
</rc-form-field>
