<aui-dialog-header>
    {{'bind_project' | translate}}
</aui-dialog-header>
<aui-dialog-content class="bind-project">
    <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
    <form auiForm #Form="ngForm" *ngIf="initialized">
        <aui-radio-group
            name="projectType"
            [(ngModel)]="projectType">
            <aui-radio value="all_project">{{'all_project' | translate}}</aui-radio>
            <aui-radio value="no_project">{{'no_project' | translate}}</aui-radio>
            <div class="bind-project__custom">
                <aui-radio value="custom_project">{{'custom_project' | translate}}:</aui-radio>
                <aui-multi-select
                    name="projects"
                    required
                    [rcErrorsTooltip]
                    [disabled]="projectType!='custom_project'"
                    [(ngModel)]="projects"
                    filterable
                    [placeholder]="'select_project_placeholder' | translate">
                    <aui-option
                        *ngFor="let project of projectList"
                        [label]="project.name"
                        [value]="project.uuid">{{project.name}}</aui-option>
                    <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
                </aui-multi-select>
            </div>
        </aui-radio-group>
    </form>
</aui-dialog-content>
<aui-dialog-footer>
    <div>
        <button aui-button
            (click)="cancel()">
            {{'cancel'|translate}}
        </button>
        <button aui-button="primary"
            (click)="confirm()">
            {{'confirm'|translate}}
        </button>
    </div>
</aui-dialog-footer>