<rc-loading-mask [loading]="loading"></rc-loading-mask>
<div *ngIf="integrationData"
     class="rc-detail-container">
  <div class="detail-icon">
    <img [src]="getImg(integrationData.type)"
         [attr.data-standby]="integrationData.logo"
         onerror="this.src=this.dataset.standby">
  </div>
  <div class="detail-wrapper">
    <div class="detail-header">
      <h3 [attr.title]="integrationData.name">{{integrationData.name}}</h3>
      <div class="detail-buttons">
        <ng-container *ngIf="integrationUtilities.showIntegrationUpdate(integrationData)">
          <button rcButton="primary"
                  *ngIf="!integrationData.enabled"
                  (click)="switchStatus()">
                  {{'status_switch_on' | translate}}
          </button>
          <button rcButton="secondary"
                  *ngIf="integrationData.enabled"
                  (click)="switchStatus()">
                  {{'status_switch_off' | translate}}
          </button>
        </ng-container>
        <rc-button-menu [text]="'action' | translate">
          <button rcMenuButton
                  *ngIf="integrationUtilities.showIntegrationUpdate(integrationData)"
                  (click)="updateIntegration()">{{'update' | translate}}
          </button>
          <button rcMenuButton
                  *ngIf="integrationUtilities.showIntegrationDelete(integrationData)"
                  (click)="deleteIntegration()">{{'delete' | translate}}
          </button>
        </rc-button-menu>
      </div>
    </div>

    <div class="detail-content">
      <!--场景-->
      <div class="detail-item">
        <label>{{'integration_family' | translate}}</label>
        <div>{{ integrationData.integration_family }}</div>
      </div>
      <!-- 类型 -->
      <div class="detail-item">
        <label>{{'type' | translate}}</label>
        <div>{{ typeConfig.display_text || integrationData.type }}</div>
      </div>
      <!--状态-->
      <div class="detail-item">
        <label>{{'status' | translate}}</label>
        <rc-status-badge [status]="integrationData.enabled ? 'switch_on' : 'switch_off'"></rc-status-badge>
      </div>
      <!-- 资源空间 -->
      <div class="detail-item">
        <label>{{'quota_space' | translate}}</label>
        <div>
          <a href="javascript:void(0)"
             [routerLink]="['/quota/detail', integrationData.space_name]">{{ integrationData.space_name }}</a></div>
      </div>
      <!-- 创建时间 -->
      <div class="detail-item">
        <label>{{'created_at' | translate}}</label>
        <div>{{ integrationData.created_at | rcFormatUtcStr }}</div>
      </div>
      <!-- 更新时间 -->
      <div class="detail-item">
        <label>{{'updated_at' | translate}}</label>
        <div>{{ integrationData.updated_at | rcFormatUtcStr }}</div>
      </div>
      <!-- 创建者 -->
      <div class="detail-item">
        <label>{{'created_by' | translate}}</label>
        <div>{{ integrationData.created_by }}</div>
      </div>
      <!-- 描述 -->
      <div class="detail-item">
        <label>{{'description' | translate}}</label>
        <div>{{ integrationData.description || '-' }}</div>
      </div>
    </div>
  </div>
</div>

<rc-tab-group *ngIf="integrationData">
  <div *rcTab="'event' | translate">
    <rc-event-list type="integration" [primaryKey]="uuid"></rc-event-list>
  </div>
  <div *rcTab="'integration_info' | translate">
    <div class="rb-form">
      <div *ngFor="let field of configFields" class="rb-form-row">
        <div class="rb-label display-label">
          {{ field.display_text }}
        </div>
        <div
          flex="50"
          title="{{ field.value }}">
          <a *ngIf="isLink(field.value)"
              target="_blank"
              href="{{ field.value }}">
            {{field.value}}
          </a>
          <span *ngIf="!isLink(field.value)">
            {{ field.value }}
          </span>
        </div>
      </div>
    </div>
  </div>
</rc-tab-group>