$interval: 20px;
$remark-color: #a1a1a1;
$highlight-color: #24a7e3;

.token-helper {
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);

  p {
    margin-bottom: 10px;
  }

  .input {
    display: flex;
  }

  input {
    flex: 1;
    border: 1px solid rgba(34, 36, 38, 0.15);
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    padding: 7px 8px;
  }

  button {
    border: 0;
    padding: 0 10px;
    background: #e0e1e2 none;
  }
}

.user-info-summary {
  display: flex;
  background-color: #fff;
  padding: 15px 25px;
  margin-top: $interval;

  .link-text,
  .rb-btn-link {
    color: $highlight-color;
    cursor: pointer;
  }

  .user-avatar {
    margin-right: $interval;

    img {
      width: 85px;
      height: 80px;
      border-radius: 10px;
    }

    button {
      font-size: 12px;
      padding: 1px 5px;
      border-radius: 0;
    }

    .img-operation {
      margin-top: 5px;

      &.link-text {
        line-height: 22px;
      }
    }

    .link-text {
      text-align: center;
      font-size: 12px;
    }
  }

  .user-info {
    padding: 5px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .account-name {
      margin-top: 0;

      + span {
        color: $remark-color;
      }
    }

    .company-name {
      color: $remark-color;
    }
  }
}
