<div class="user-info-summary">
  <div class="user-avatar">
    <div [rcLoadingMask]="avatarSubmitting">
      <img [src]="(avatarPath | rcUrlProxy) | async"
           alt="User Avatar">
    </div>
    <input type="file"
           hidden
           #avatarFile
           (change)="previewAvatar(avatarFile)">
    <div *ngIf="!account.username && !avatarPreviewing"
         class="link-text img-operation"
         (click)="avatarFile.click()">
      {{ 'update_user_logo' | translate }}
    </div>
    <div *ngIf="avatarPreviewing"
         class="img-operation">
      <button rcButton
              [disabled]="avatarSubmitting"
              (click)="cancelPreview(avatarFile)">{{ 'cancel' | translate }}</button>
      <button rcButton="primary"
              [disabled]="avatarSubmitting"
              (click)="updateAvatar(avatarFile)">{{ 'save' | translate }}</button>
    </div>
  </div>
  <div class="user-info">
    <div class="clearfix">
      <h3 class="account-name pull-left">
        {{ accountName }}</h3>
      <span *ngIf="user"
            class="pull-right">
        {{ 'created_at' | translate }} {{ user.created_at | rcFormatUtcStr }}
      </span>
    </div>
    <div class="clearfix">
      <div class="company-name pull-left">
        {{ org ? org.company : profile && profile.company }}
        <i *ngIf="!account.username"
           class="link-text fa fa-edit"
           (click)="changeAccountName()"></i>
      </div>
      <div *ngIf="token && username && username === account.username"
           class="pull-right">
        <a class="rb-btn-link"
           [auiTooltip]="tokenHelper"
           auiTooltipType="info"
           auiTooltipPosition="bottom end"
           (auiTooltipHide)="tokenCopied = false">
          {{ 'see_token' | translate }}
          <i class="fa fa-angle-double-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #tokenHelper>
  <div class="token-helper">
    <p>
      {{ 'token_help_text1' | translate }}
    </p>
    <p>
      {{ 'token_help_text2' | translate }}
      <strong>
        <i>Authorization:Token &lt;your-token&gt;</i>
      </strong>
    </p>
    <div class="input">
      <input #input
             [value]="token || ''"
             readonly>
      <button (click)="copyText(input)">
        <span class="fa"
              [ngClass]="{'fa-files-o': !tokenCopied,'fa-check': tokenCopied }"></span>
      </button>
    </div>
  </div>
</ng-template>
