:host {
  overflow: visible !important;

  .history-info-abstract-row {
    cursor: pointer;
    position: relative;
    z-index: 0;

    .flex {
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      i.fa {
        width: 1em;
        text-align: center;
      }
    }
  }

  rc-pagination {
    margin: 16px 0;
    float: right;
  }
}

.ui.button + .ui.button {
  margin-left: 4px;
}
