<ng-container *ngIf="!configName && !registryName && !repositoryName && !projectName">
  <ng-container *rcPageHeaderContent>
    <rc-breadcrumb>
      <ng-container *rcBreadcrumbItem>{{ 'nav_image'| translate }}</ng-container>
      <ng-container *rcBreadcrumbItem>{{ 'nav_image_sync_history'| translate }}</ng-container>
    </rc-breadcrumb>
  </ng-container>
</ng-container>

<div class="rb-page-heading"
     *ngIf="!configName && (triggerEnabled || (createEnabled && !repositoryName))">
  <div class="flex"></div>
  <div class="control-buttons">
    <button *ngIf="triggerEnabled"
            rcButton
            (click)="startSync()">
      {{'image_sync_start' | translate}}
    </button>
    <button *ngIf="createEnabled && !repositoryName"
            rcButton="primary"
            (click)="showCreateDialog()">
      {{'image_sync_center_create' | translate}}
    </button>
  </div>
</div>
<div class="clearfix"
     *ngIf="histories">
  <div *ngIf="histories.length"
       [rcLoadingMask]="loading"
       class="flex rb-status-list">
    <div *ngFor="let history of histories"
         class="rb-status-list-item"
         [ngClass]="getSyncHistoryIconStatus(history)">
      <div class="layout-column flex"
           [routerLink]="['/image/sync-history/detail', history.history_id]"
           [queryParams]="{ configName: history.config_name }">

        <!-- First row -->
        <div class="history-info-abstract-row layout-align-start-center layout-row flex">

          <!-- Creator -->
          <div class="flex flex-20">
            <i class="fa fa-user"
               rcTooltipPosition="top"
               rcTooltip='{{ "creator" | translate }}'></i>
            <span>{{ history.created_by }}</span>
          </div>

          <!-- Sync config name -->
          <div class="flex flex-20">
            <i rcTooltipPosition="top"
               rcTooltip='{{ "image_sync_center_name" | translate }}'
               class="rb-icon-sync-registry">
            </i>
            <a [routerLink]="['/image/sync-center/detail', getConfigName(history)]"
               (click)="$event.stopPropagation()">
              <!-- Prevent state routing  -->
              {{ history.config_name }}
            </a>
          </div>

          <!-- Dest image endpoint -->
          <div class="flex flex-20">
            <i class="fa fa-building"
               rcTooltipPosition="top"
               rcTooltip='{{ "image_sync_destination_image" | translate }}'></i>
            <span *ngIf="history.dest_endpoint"
                  (click)="$event.stopPropagation()"
                  [auiTooltipCopy]="history.dest_endpoint">
              {{ history.dest_endpoint }}
            </span>
            <span *ngIf="!history.dest_endpoint">N/A</span>
          </div>

          <!-- Created at -->
          <div class="flex flex-20">
            <i class="fa fa-clock-o"
               rcTooltipPosition="top"
               rcTooltip='{{ "created_date" | translate }}'></i>
            {{ history.created_at | rcFormatUtcStr }}
          </div>

          <!--status icon-->
          <div class="flex flex-20">
            <span class="label badge"
                  [ngClass]="'status-' + getSyncHistoryIconStatus(history)">
              <span style="color:#fff">{{ ('image_sync_status_' + getSyncHistoryIconStatus(history))
                | translate }}
              </span>
            </span>
          </div>
        </div>

        <!-- Second row -->
        <div class="history-info-abstract-row layout-align-start-center layout-row flex">
          <!-- Source Registry -->
          <div class="flex flex-20">
            <i class="fa fa-bank"
               rcTooltipPosition="top"
               rcTooltip='{{ "image_registry" | translate }}'></i>
            {{ history.source_registry_name }}
          </div>

          <!-- Source Image -->
          <div class="flex flex-20">
            <i class="fa fa-building-o"
               rcTooltipPosition="top"
               rcTooltip='{{ "image_sync_source_image" | translate }}'></i>

            <span *ngIf="history.source_project_name">
              {{ history.source_project_name }} /
            </span>
            <a (click)="$event.stopPropagation()"
               [routerLink]="['/image/repository/detail']"
               [queryParams]="{ repositoryName: history.source_repo_name, registryName: history.source_registry_name, projectName: history.source_project_name }">
              {{ history.source_repo_name }}
            </a>
          </div>

          <!-- Source Image Tag -->
          <div class="flex flex-20">
            <i class="fa fa-tags"
               rcTooltipPosition="top"
               rcTooltip='{{ "image_tag" | translate }}'></i>
            <span>{{ history.tag }}</span>
          </div>

          <div *ngIf="history.duration > 0"
               class="flex flex-20">
            <i class="fa fa-history"
               rcTooltipPosition="top"
               rcTooltip='{{ "time_cost" | translate }}'></i>
            <span>
              {{ "time_cost" | translate }} {{ history.duration | rcDurationToConsumed }}
            </span>
          </div>

          <div class="flex flex-20"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!histories.length"
       style="padding: 50px; text-align: center;">
    {{ 'image_sync_no_history_hint' | translate }}
  </div>
  <!-- Pagination -->
  <rc-pagination *ngIf="histories.length"
                 [count]="pageCount * pageSize"
                 [pageSize]="pageSize"
                 (pageChanged)="loadData($event)"
                 [disabled]="loading"></rc-pagination>
</div>
<div *ngIf="!histories"
     style="height:100px"
     [rcLoadingMask]="true"></div>
