<div class="rb-log-container">
  <ul class="rb-log-list" #logList>
    <li class="rb-log-item"
        *ngIf="!lastLogTime && loading">
      <span class="log-message">{{ 'logs_poll_waiting' | translate }}</span>
    </li>
    <li class="rb-log-item"
        *ngIf="!lastLogTime && !loading && !waiting">
      <span class="log-message">{{ 'logs_none' | translate }}</span>
    </li>
    <li class="rb-log-item"
        *ngIf="waiting">
      <span class="log-message">{{ 'logs_server_busy' | translate }}</span>
    </li>
    <li *ngFor="let log of logs">
      <span>{{ log.time * 1000 | rcFormatMs }}</span>
      <span>{{ log.message }}</span>
    </li>
  </ul>
  <div *ngIf="history.status === 'I'"
       (click)="clearLogs()"
       class="clear-button rb-icon-besom"></div>
</div>
