<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>{{ 'nav_image'| translate }}</ng-container>
    <ng-container *rcBreadcrumbItem>
      <a [routerLink]="['/image/sync-history']">{{ 'nav_image_sync_history'| translate
        }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>{{ 'detail'| translate }}</ng-container>
  </rc-breadcrumb>
</ng-container>

<div class="rb-page-heading">
  <h1>
    <i class="rb-icon-sync-registry"></i>
    <a [routerLink]="['/image/sync-center/detail', history.config_id]"
       title="{{history.config_id}}">
      {{ history.config_name }}
    </a>
    <span>/</span>
    <span title="{{ historyId }}"
          class="visible">{{ historyId | rcLimitTo:8 }}</span>
    <span *ngIf="history.config_id"
          class="label badge detail-status"
          [ngClass]="'status-' + getSyncHistoryIconStatus()">
      <span style="color:#fff">{{ ('image_sync_status_' + getSyncHistoryIconStatus())
        | translate }}
      </span>
    </span>
  </h1>
  <div class="flex"></div>

  <div *ngIf="history.config_id"
       class="rb-heading-button-group">
    <button rcButton
            *ngIf="restartTriggerEnabled"
            (click)="restartClicked()">
      {{"image_sync_restart" | translate}}
    </button>
    <button rcButton="secondary"
            [disabled]="!history.can_removed"
            *ngIf="buttonDisplayExpr('delete')"
            (click)="deleteClicked()">
      {{"delete" | translate}}
    </button>
  </div>
</div>

<!-- Basic info -->
<div [rcLoadingMask]="!history.config_id"
     class="rc-detail-container">
  <div class="detail-wrapper">
    <div class="detail-content">
      <div class="detail-item">
        <label>{{ "created_by" | translate }}</label>
        <div>{{ history.created_by }}</div>
      </div>

      <div class="detail-item">
        <label>{{ "created_at" | translate }}</label>
        <div>{{ history.created_at | rcFormatUtcStr }}</div>
      </div>

      <div class="detail-item">
        <label>{{ "image_registry" | translate }}</label>
        <div>{{ history.source_registry_name }}</div>
      </div>

      <div class="detail-item">
        <label>{{ "ended_time" | translate }}</label>
        <div>{{ history.finished_at | rcFormatUtcStr }}</div>
      </div>

      <div class="detail-item">
        <label>{{ "image_sync_source_image" | translate }}</label>
        <div>
          <span *ngIf="history.source_project_name">
            {{ history.source_project_name }} /
          </span>
          <a [routerLink]="['/image/repository/detail']"
             [queryParams]="{repositoryName: history.source_repo_name, registryName: history.source_registry_name, projectName: history.source_project_name}">
            {{ history.source_repo_name }}
          </a>
        </div>
      </div>

      <div class="detail-item">
        <label>{{ "time_cost" | translate }}</label>
        <div>{{ history.duration | rcDurationToConsumed }}</div>
      </div>

      <div class="detail-item">
        <label>{{ "image_tag" | translate }}</label>
        <div>{{ history.tag }}</div>
      </div>

      <div class="detail-item">
        <label>{{ "image_sync_destination_image" | translate }}</label>
        <div>
          <span [auiTooltipCopy]="history.dest_endpoint">{{ history.dest_endpoint }}</span>
        </div>
      </div>

      <div class="detail-item">
        <label>{{ 'build_config_container_size' | translate }}</label>
        <div>
          {{ history.cpu }}{{ 'build_config_cores' | translate }} / {{ history.memory }}MB
        </div>
      </div>
    </div>
  </div>
</div>

<rc-tab-group class="rc-detail-tab">
  <div *rcTab="'logs' | translate">
    <rc-image-sync-history-log *ngIf="history.config_id"
                               [history]="history">
    </rc-image-sync-history-log>
  </div>
</rc-tab-group>
