@import 'colors.styles';

@mixin button-color-decorator(
  $main,
  $border-color,
  $hover-border-color,
  $active-border-color,
  $default-background,
  $hover-background,
  $active-background
) {
  color: $main;
  border: 1px solid $border-color;
  background-color: $default-background;

  &:hover,
  &:focus {
    border-color: $hover-border-color;
    background-color: $hover-background;
  }

  &:active {
    border-color: $active-border-color;
    background-color: $active-background;
  }
}

@mixin rc-button-common {
  display: inline-block;
  border-radius: 3px;
  font-weight: 400;
  transition: border-color 0.3s, background-color 0.3s, opacity 0.3s;
  font-family: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-2', 'Lucida Grande',
    'Helvetica Neue', 'Helvetica', 'Arial', 'PingFangSC', 'Hiragino Sans GB',
    'Hiragino Sans GB W3', 'Microsoft YaHei', sans-serif;
  &[color='default'] {
    @include button-color-decorator(
      $button-default-text-color,
      $button-default-border-color,
      $button-default-hover-border-color,
      $button-default-active-border-color,
      $button-default-background-color,
      $button-default-hover-background-color,
      $button-default-active-background-color
    );
  }

  &[color='primary'] {
    @include button-color-decorator(
      $button-primary-text-color,
      $button-primary-background-color,
      $button-primary-hover-border-color,
      $button-primary-active-border-color,
      $button-primary-background-color,
      $button-primary-hover-background-color,
      $button-primary-active-background-color
    );
  }

  &[color='primary-lite'] {
    @include button-color-decorator(
      $button-primary-lite-text-color,
      $button-primary-lite-border-color,
      $button-primary-lite-hover-border-color,
      $button-primary-lite-active-border-color,
      $button-primary-lite-background-color,
      $button-primary-lite-hover-background-color,
      $button-primary-lite-active-background-color
    );
  }

  &[color='secondary'] {
    @include button-color-decorator(
      $button-secondary-text-color,
      $button-secondary-background-color,
      $button-secondary-hover-border-color,
      $button-secondary-active-border-color,
      $button-secondary-background-color,
      $button-secondary-hover-background-color,
      $button-secondary-active-background-color
    );
  }
}

/* Normal Buttons */
.rb-console.rc-button.ui.button,
.rc-button.ui.button,
.rb-console.rc-icon-button.ui.button,
.rc-icon-button.ui.button {
  @include rc-button-common();
  font-size: 14px;
  padding: 6px 16px;
  line-height: 18px; /* TODO: previous button without size class not match UX standard.*/
  &.tiny {
    font-size: 12px;
    padding: 3px 8px;
    line-height: 18px;
  }
  &.small {
    font-size: 14px;
    padding: 4px 12px;
  }
  &.medium {
    line-height: 20px; /* TODO: medium is default, need be empty. */
  }
  &.large {
    font-size: 16px;
    padding: 7px 20px;
    line-height: 22px;
  }
}

/* Icon Buttons */
.rb-console.rc-icon-button.ui.button,
.rc-icon-button.ui.button {
  @include rc-button-common();

  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
