.validation-status {
  &:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 2px;
    margin-bottom: 1px;
  }

  &:not(.invalid) {
    color: #5bbae4;

    &:before {
      background-color: #5bbae4;
      box-shadow: 0 0 0 3px rgba(91, 186, 228, 0.2);
    }
  }

  &.invalid {
    color: #cbd3d8;

    &:before {
      background-color: #cbd3d8;
      box-shadow: 0 0 0 3px rgba(203, 211, 216, 0.2);
    }
  }
}
