<section style="padding: 20px;">
  <rc-search-input (onSearch)="searched($event)" [loading]="loading"></rc-search-input>
</section>

<section style="padding: 0 20px 20px;" *ngIf="initialized" >
  <rc-table class="rc-secondary-table"
            [headerHeight]="40"
            [rowHeight]="40"
            [rows]="users">
    <!-- name -->
    <rc-table-col [width]="100" name="{{ 'name' | translate }}" [resizeable]="false">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines">
            <div class="rc-line">
              {{ rowData.username }}
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>

    <!-- type -->
    <rc-table-col [width]="100" name="{{ 'user_type' | translate }}" [resizeable]="false">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines">
            <div class="rc-line">
              {{ (rowData.type === 'organizations.LDAPAccount' ? 'synced_by_ldap' : (rowData.type === 'organizations.TPAccount' ? 'create_by_thrid_party' : 'created_on_platform')) | translate }}
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>

    <!-- status -->
    <rc-table-col [width]="100" name="{{ 'status' | translate }}" [resizeable]="false">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines">
            <div class="rc-line">
              <span class="validation-status"
                    [ngClass]="{ invalid: isInvalidAccount(rowData) }"
                    [rcTooltip]="(isInvalidAccount(rowData)?'invalid_ldap_user_tip' : '') | translate"
                    rcTooltipPosition="top">
                    {{ (isInvalidAccount(rowData)?'invalid':'valid') |  translate }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>
  
    <!-- act -->
    <rc-table-col [width]="20" name="{{ 'action' | translate }}" [resizeable]="false">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <div class="rc-lines inline">
            <rc-checkbox (change)="onCheck($event, rowData.username)"></rc-checkbox>
          </div>
        </div>
      </div>
    </rc-table-col>
  </rc-table>
</section>

<div class="modal-footer"
     style="padding: 12px">
  <button rcButton
          (click)="cancel()"
          style="margin-right: 8px">{{ 'cancel' | translate }}</button>
  <button rcButton="primary" [disabled]="loading" (click)="confirm()">{{ 'confirm' | translate }}</button>
</div>