<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_user' | translate }}
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'detail' | translate }}: {{ username ? username + '@' : '' }}{{ account.namespace
      }}
    </ng-container>
  </rc-breadcrumb>
</div>
<rc-user-summary [username]="username"
                 [user]="user"
                 [profile]="profile"
                 [token]="token"></rc-user-summary>
<div class="user-info-detail">
  <rc-tab-group *ngIf="!loading">
    <ng-container *ngIf="username">
      <div *rcTab="'user_info' | translate">
        <rc-user-info [username]="username"
                      [user]="user"
                      (update)="user = $event"></rc-user-info>
      </div>
    </ng-container>
    <div *rcTab="'account_info' | translate">
      <rc-account-info [profile]="profile"
                       [token]="token"></rc-account-info>
    </div>
  </rc-tab-group>
</div>
