$interval: 20px;
$remark-color: #a1a1a1;
$highlight-color: #24a7e3;

.user-info-detail {
  margin-top: $interval;
  ::ng-deep {
    .static-field {
      display: flex;
      padding-bottom: 18px;

      .link-text,
      .rb-btn-link {
        color: $highlight-color;
        cursor: pointer;
      }

      > label,
      > div {
        line-height: 32px;
        display: flex;
        align-items: center;
      }

      > label {
        font-weight: normal;
        flex-basis: 180px;
        justify-content: flex-end;
        align-items: flex-start;
        padding-right: 16px;
        color: #a1a1a1;
      }

      > div {
        flex: 1;

        > span {
          word-break: break-all;
        }

        button + button {
          margin-left: 20px;
        }
      }
    }

    .form-field-label {
      width: 180px;
      color: $remark-color;
    }

    input.rc-input-element {
      &,
      + .errors-anchor {
        max-width: 350px;
      }
    }

    textarea.rc-input-element {
      resize: none;
      height: auto;

      &,
      + .errors-anchor {
        max-width: 400px;
      }
    }
  }
}
