<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_storage' | translate }}
    </ng-container>
    <a *rcBreadcrumbItem
        routerLink="/storage/volume">
      {{ 'nav_storage_volume' | translate }}
    </a>
    <ng-container *rcBreadcrumbItem>
      <ng-container *ngIf="volume">
        {{ volume.name }}
      </ng-container>
    </ng-container>
  </rc-breadcrumb>
</div>
<div class="content" [rcLoadingMask]="loading">
  <div class="rc-detail-container" *ngIf="!loading&&volume">
    <div class="detail-icon">
        <img src="/static/images/resource/volume.svg" alt="">
    </div>
    <div class="detail-wrapper">
      <!-- header -->
      <div class="detail-header">
        <h3>{{volume.name}}</h3>
        <div class="detail-buttons" fxLayout>
          <button rcButton="primary"
                  [disabled]="!region||isDeleting"
                  *ngIf="isSnapshotSupported"
                  (click)="createSnapshot()">
            {{'storage_create_snapshot' | translate}}
          </button>
          <rc-button-menu *ngIf="hasDeletePermission" text="{{'action'|translate}}">
            <button rcMenuButton [disabled]="isDeleting||volume.state === 'in-use'" (click)="deleteVolume()">{{'delete'|translate}}</button>
          </rc-button-menu>
        </div>
      </div>
      <!-- content -->
      <div class="detail-content">
        <!-- pv -->
        <div class="detail-item" *ngIf="isNewK8s">
          <label>{{'referenced_pv'|translate}}</label>
          <div *ngIf="volume.pv_uuid"><a [routerLink]="['/storage/pv/detail', volume.pv_name]">{{volume.pv_name}}</a></div>
          <div *ngIf="!volume.pv_uuid">-</div>
        </div>
        <!-- status -->
        <div class="detail-item">
          <label>{{'status'|translate}}</label>
          <div>
            <rc-status-badge [status]="volumeStateMap[volume.state]"></rc-status-badge>
          </div>
        </div>
        <!-- snapshot id -->
        <!-- <div class="detail-item">
          <label>{{'storage_snapshot_id'|translate}}</label>
          <div>{{ volume.snapshot_id||'-' }}</div>
        </div> -->
        <!-- size -->
        <div class="detail-item">
          <label>{{ "storage_volume_size" | translate }}</label>
          <div>{{ volume.size }}</div>
        </div>
        <div class="detail-item" *ngIf="!isNewK8s || !collapsed">
          <label>{{ "region" | translate }}</label>
          <div>{{ region ? region.display_name : '-' }}</div>
        </div>
        <div class="detail-item">
          <label>{{ "created_at" | translate }}</label>
          <div>{{ volume.created_at|rcFormatUtcStr }}</div>
        </div>
        <ng-container *ngIf="!collapsed">
          <div class="detail-item">
            <label>{{ "storage_volume_driver_type" | translate }}</label>
            <div>{{ volume.driver_name||'-' }}</div>
          </div>
          <div class="detail-item">
            <label>{{ "storage_volume_type" | translate }}</label>
            <div>{{ volume.volume_type||'-' }}</div>
          </div>
          <div class="detail-item">
            <label>IOPS</label>
            <div>{{ volume.iops }}</div>
          </div>
          <div class="detail-item">
            <label>{{ "storage_volume_linked_service_path" | translate }}</label>
            <div>
              <div *ngIf="volume.stats">
                <div *ngFor="let stat of volume.stats">
                  <a [href]="stat.href">{{ stat.name }}</a>:<span>{{ stat.app_volume_dir }}</span>
                </div>
              </div>
              <div *ngIf="!volume.stats.length">-</div>
            </div>
          </div>
          <div class="detail-item">
            <label>{{ "storage_volume_bricks" | translate }}</label>
            <div>
              <div *ngFor="let brick of volume.bricks.split(',')">
                {{ brick }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <span class="detail-collapse-switch" role="button" (click)="collapse()">
      <i class="icon fa-angle-double-down" *ngIf="collapsed"></i>
      <i class="icon fa-angle-double-up" *ngIf="!collapsed"></i>
    </span>
  </div>
</div>

<div class="rc-detail-tab">
  <rc-tab-group>
    <!--事件-->
    <ng-container *rcTab="'events' | translate">
      <rc-event-list *ngIf="uuid" type="volume" [primaryKey]="uuid"></rc-event-list>
    </ng-container>
  </rc-tab-group>
</div>
