<div class="chart-preview" [class.scrolling] = "scrolling">
  <div class="chart-container" [ngStyle]="{'padding-right.px': scrollBarWidth + 52}">
    <div class="chart-outer">
      <div class="chart-title" *ngIf="initialized && !chartLoading &&logQueryConditionList.length">{{getChartTitle()}}</div>
      <div class="chart" [rcLoadingMask]="chartLoading">
        <rc-charts-bar-vertical
          [results]="chart.data"
          [yScaleMax]="chart.data.length ? null : 1500"
          [scheme]="chart.scheme"
          [animations]="true"
          [xAxis]="chart.xAxis"
          [yAxis]="chart.yAxis"
          [roundDomains]="chart.roundDomains"
          [roundEdges]="chart.roundEdges"
          [xAxisTickFormatting]="chart.xAxisTickFormatting"
          [xAxisTickWidth]="120"
          *ngIf="chart.data.length">
          <ng-template #tooltipTemplate let-model="model">
            <div class="rc-chart-tooltip-item">{{ getChartTooltipDisplay(model.name) }}</div>
            <div class="rc-chart-tooltip-item" style="justify-content: center;">{{ model.value }}</div>
          </ng-template>
        </rc-charts-bar-vertical>
        <div class="chart-empty" *ngIf="!chart.data.length && !chartLoading">
          {{ 'monitor_chart_preview' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>

<rc-form-container>
  <div [rcLoadingMask]="loading || submitting">
    <form [formGroup]="form" #alarmForm="ngForm" *ngIf="initialized">
      <div class="rc-form-group">
        <div class="rc-form-group-header">{{ 'alarm_log_statistic' | translate }}</div>
        <div class="rc-form-group-content">
          <!--查询条件-->
          <div class="rb-form-row">
            <rc-form-field label="{{ 'logs_query_condition' | translate }}" [shouldFlexRow]="true" *ngIf="logQueryConditionList.length">
              <rc-single-selection-dropdown formControlName="logQueryCondition"
                                            [options]="logQueryConditionList"
                                            displayField="display_name"
                                            valueField="uuid"
                                            (change)="onLogQueryConditionChange($event)"
                                            required>
              </rc-single-selection-dropdown>
            </rc-form-field>
            <div class="rb-form-row" *ngIf="!logQueryConditionList.length">
              <div class="rc-form-field">
                <label class="rc-form-field-label">{{'logs_query_condition'|translate}} <span class="rc-required-mark">*</span></label>
                <div class="rc-form-field-none">{{'log_query_condition_required' | translate}}</div>
              </div>
            </div>
          </div>
          <!-- 查询内容 -->
          <div class="rb-form-row">
            <div class="rc-form-field">
              <label class="rc-form-field-label">{{'logs_query_condition_content'|translate}} <span class="rc-required-mark">*</span></label>
              <div class="rc-form-field-container">
                <div [innerHTML]="logQueryConditionContent"></div>
              </div>
            </div>
          </div>
          <!-- 时间范围 -->
          <div class="rb-form-row">
            <div class="rc-form-field">
              <label class="rc-form-field-label">{{'log_time_range'|translate}} <span class="rc-required-mark">*</span></label>
              <div class="rc-form-field-container">{{logQueryConditionTimeRange}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="rc-form-group">
        <div class="rc-form-group-header">{{ 'basic_info' | translate }}</div>
        <div class="rc-form-group-content">
          <!-- 资源空间 -->
          <ng-container *ngIf="quotaEnabled">
            <rc-form-field label="{{ 'quota_space' | translate }}" [shouldFlexRow]="true" *ngIf="spaces.length && !updating">
              <rc-single-selection-dropdown formControlName="quotaSpace"
                                            [options]="spaces"
                                            required>
              </rc-single-selection-dropdown>
            </rc-form-field>
            <div class="rc-form-field" *ngIf="!spaces.length || updating">
              <label class="rc-form-field-label">{{'quota_space'|translate}} <span class="rc-required-mark">*</span></label>
              <div class="rc-form-field-container">
                <div class="rc-form-field-none" *ngIf="!updating">{{'quota_space_required' | translate}}</div>
                <div *ngIf="updating">{{originAlarm.space_name}}</div>
              </div>
            </div>
          </ng-container>

          <!-- 告警名称 -->
          <ng-container>
            <rc-form-field label="{{'alarm_name' | translate}}" [shouldFlexRow]="true" [hideErrors]="true" *ngIf="!updating">
              <input  rcInput
                      formControlName="alarmName"
                      maxlength="36"
                      [pattern]="baseNamePattern"
                      placeholder="{{'alarm_name' | translate}}"
                      [rcErrorsTooltip]
                      [rcErrorsTooltipMapper]="errorsMapper.name"
                      required>
            </rc-form-field>
            <div class="rc-form-field" *ngIf="updating">
              <label class="rc-form-field-label">{{'alarm_name'|translate}} <span class="rc-required-mark">*</span></label>
              <div class="rc-form-field-container">
                <div>{{originAlarm.name}}</div>
              </div>
            </div>
          </ng-container>

          <!-- 描述 -->
          <rc-form-field label="{{'description' | translate}}" [shouldFlexRow]="true" [hideErrors]="true">
            <input  rcInput
                    formControlName="description"
                    maxlength="1024"
                    placeholder="{{'description' | translate}}">
          </rc-form-field>

          <!-- 告警阀值 -->
          <div class="rc-form-field">
            <label class="rc-form-field-label">{{ 'alarm_threshold' | translate }} <span class="rc-required-mark">*</span></label>
            <div class="rc-form-field-container">
              <div class="rc-form-field-row">
                <div class="alarm-threshold">
                  <rc-single-selection-dropdown formControlName="thresholdType"
                                                [options]="thresholdTypeOptions"
                                                displayField="name"
                                                valueField="value"
                                                [allowFilter]="false">
                  </rc-single-selection-dropdown>
                  <rc-single-selection-dropdown formControlName="thresholdOperator"
                                                [options]="thresholdOperatorOptions"
                                                [allowFilter]="false">
                  </rc-single-selection-dropdown>
                  <input  rcInput
                          formControlName="threshold"
                          type="number"
                          pattern="^(?:[1-9]\d*|0)(?:\.\d+)?$"
                          rcErrorsTooltip
                          [rcErrorsTooltipMapper]="errorsMapper.number"
                          required>
                </div>
                <div class="rc-form-addon">{{'alarm_log_count_unit'|translate}}</div>
              </div>
            </div>
          </div>

          <!-- 轮询方式 -->
          <rc-form-field label="{{'alarm_polling_type' | translate}}" [shouldFlexRow]="true">
            <rc-radio-group [options]="pollingTypeOptions"
                            displayField="name"
                            valueField="value"
                            formControlName="pollingType"
                            (change)="onPollingTypeChange($event)">
            </rc-radio-group>
          </rc-form-field>

          <!--定时规则-->
          <ng-container>
            <rc-form-field label="{{ 'schedule_rule' | translate }}" [shouldFlexRow]="true" *ngIf="selectedPollingType==='interval'">
              <rc-single-selection-dropdown formControlName="pollingInterval"
                                            [options]="pollingIntervalOptions"
                                            displayField="name"
                                            valueField="value"
                                            required>
              </rc-single-selection-dropdown>
            </rc-form-field>
            <rc-form-field label="{{'schedule_rule' | translate}}"
                           [shouldFlexRow]="true"
                           *ngIf="selectedPollingType==='crontab'"
                           [hideErrors]="true"
                           [hintLabel]="parseCrontabText()">
              <input  rcInput
                      formControlName="pollingRuleCustom"
                      maxlength="36"
                      placeholder="{{'alarm_name' | translate}}"
                      [rcErrorsTooltip]
                      [rcCron]="{minInterval: 60}"
                      [(ngModel)]="crontabStr"
                      [rcErrorsTooltipMapper]="errorsMapper.crontab"
                      required>
              <span rcFormAddon>
                <i class="fa fa-question-circle"
                   [rcTooltip]="'build_schedule_rule_hint' | translate"
                   rcTooltipMode="info"
                   rcTooltipPosition="top right"></i>
              </span>
            </rc-form-field>
          </ng-container>
        </div>
      </div>
      <div class="rc-form-group">
        <div class="rc-form-group-header">{{ 'alarm_action' | translate }}</div>
        <div class="rc-form-group-content">
          <div class="rc-form-field">
            <label class="rc-form-field-label">{{'alarm_action' | translate}}</label>
            <div class="rc-form-field-container">
              <div class="rc-form-field-row">
                <rc-alarm-action (alarmActionAdd)="onAlarmActionAdd($event)" [actions]="actions"></rc-alarm-action>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <ng-container *rcFooterContent>
      <button rcButton="primary"
              (click)="submit($event)"
              [class.loading]="submitting"
              [disabled]="loading">{{(updating?'save':'create') | translate}}</button>
      <button rcButton (click)="cancel()">{{'cancel' | translate}}</button>
    </ng-container>
  </div>
</rc-form-container>
