<rb-region-badge-option on-change-state="'app_service.service.list'">
</rb-region-badge-option>

<div>
  <div class="rb-page-heading"
       flex>

    <rb-app-service-labels-search flex="75"
                                  search-subject="vm.paramsSubject$"
                                  filter-fn-subject="vm.labelsFilterFnSubject$"
                                  resources="vm.resources$ | rbAsync:this"></rb-app-service-labels-search>

    <div flex></div>
    <div>
      <button class="ui button rb-btn-primary"
              ng-if="vm.serviceCreateEnabled"
              ui-sref="app_service.service.image_select({region_name: vm.currentRegion.name})">
        {{ "create_service" | translate }}
      </button>
    </div>
  </div>

  <!-- Explains why there is no data -->
  <div ng-show="(vm.initialized$ | rbAsync:this) && (vm.empty$ | rbAsync:this) && !(vm.loading$ | rbAsync:this)"

       class="rb-loading-mask-placeholder">

    <div ng-show="!(vm.error$ | rbAsync:this)">
      {{ "have_no_service" | translate }}
    </div>

    <div ng-show="(vm.error$ | rbAsync:this)">
      {{ 'data_load_error' | translate }}
    </div>

    <button ng-show="(vm.error$ | rbAsync:this)"
            class="ui button rb-btn-primary margin-top-2"
            ng-click="vm.refresh()">
      {{ 'refresh' | translate }}
    </button>
  </div>

  <!-- <div>initialized: {{vm.initialized$ | rbAsync:this}}</div>
  <div>empty: {{vm.empty$ | rbAsync:this}}</div>
  <div>loading: {{vm.loading$ | rbAsync:this}}</div>
  <div>error: {{vm.error$ | rbAsync:this}}</div> -->

  <!-- Loading indicator -->
  <rb-loading-mask-placeholder ng-if="!(vm.initialized$ | rbAsync:this) || (vm.empty$ | rbAsync:this) && (vm.loading$ | rbAsync:this)"></rb-loading-mask-placeholder>

  <!-- Service list table -->
  <table ng-show="(vm.initialized$ | rbAsync:this) && !(vm.empty$ | rbAsync:this)"

         class="table app-table table-bordered table-hover"
         rb-loading-mask="(vm.loading$ | rbAsync:this)">
    <thead>
      <tr>
        <td style="width: 15%;">
          <span>{{ "name" | translate }}</span>
        </td>

        <td style="width:155px;">
          {{ "status" | translate }}
        </td>
        <td style="width:25%;">
          {{ "image" | translate }}
        </td>
        <td style="width:75px;">
          <span>{{ "labels" | translate }}</span>
        </td>
        <td ng-if="vm.quotaEnabled"
            ng-click="vm.sort('space_name')"
            style="width: 15%;">
          <span>{{ "quota_space" | translate }}</span>
        </td>
        <td style="width:150px;">
          {{ "size" | translate }}
        </td>
        <td style="width:90px;">{{ "action" | translate }}</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="service in (vm.resources$ | rbAsync:this) track by service.uuid">
        <!--name-->
        <td class="rb-truncate-cell">
          <a href="javascript:void(0)"
             ng-href="{{vm.getServiceUrl(service)}}"
             title="{{service.service_name}}">
            {{service.service_name}}
          </a>
        </td>
        <!--status-->
        <td>
          <span rubick-status-icon
                status="service.current_status"
                mode="list"
                class="service-status"></span>
          <span rubick-status-icon
                class="healthy-status"
                status="(service.healthy_num_instances == service.target_num_instances)?'healthy':'unhealthy'"

                status-text="{{service.healthy_num_instances ? service.healthy_num_instances : 0}}/{{service.target_num_instances}}"

                mode="list">
          </span>
        </td>
        <!--image-->
        <td>
          <rb-copy-span bind-text="vm.getServiceImageFullName(service)"
                        tooltip="vm.getServiceImageTooltip(service)"></rb-copy-span>
        </td>
        <!--resource labels-->
        <td>
          <div class="rb-labels-popover-container">
            <a ng-if="service.labels.length"
               href="javascript:void(0)"
               uib-popover-template="vm.resourceLabelsPopoverTemplate"
               popover-class="rb-labels-popover"
               popover-append-to-body="true"
               popover-trigger="'outsideClick'">{{ service.labels.length
              }}{{ 'ge' | translate }}</a>
            <span ng-if="!service.labels.length">N/A</span>
          </div>
        </td>
        <!--quota space-->
        <td class="rb-truncate-cell"
            ng-if="vm.quotaEnabled">
          <a ng-if="service.space_name"
             router-link="'/quota/detail/' + service.space_name"
             title="{{service.space_name}}">{{ service.space_name }}</a>
          <span ng-if="!service.space_name">N/A</span>
        </td>
        <!--Instance size-->
        <td>
          <span ng-if="service.custom_instance_size !== undefined">
            {{ service.custom_instance_size.cpu }}{{ "unit_cpu" | translate }}&nbsp; {{ service.custom_instance_size.mem
            | rbBytesFormatter : 0 : 1024 * 1024 : false}}
          </span>
          <span ng-if="service.custom_instance_size === undefined">
            {{ service.instance_size | translate }}
          </span>
        </td>
        <!--actions-->
        <td>
          <rb-dropdown-menu class="list"
                            rb-title="{{'action' | translate}}">
            <rb-dropdown-menu-item ng-click="vm.startService(service);"
                                   ng-show="vm.buttonIfExpr(service, 'start')"
                                   rb-disabled="vm.buttonDisabledExpr(service, 'start')">
              <i class="fa fa-play"></i>
              {{ "start" | translate }}
            </rb-dropdown-menu-item>
            <rb-dropdown-menu-item ng-click="vm.stopService(service);"
                                   ng-show="vm.buttonIfExpr(service, 'stop')"
                                   rb-disabled="vm.buttonDisabledExpr(service, 'stop')">
              <i class="fa fa-stop"></i>
              {{ "stop" | translate }}
            </rb-dropdown-menu-item>
            <rb-dropdown-menu-item ng-if="vm.buttonIfExpr(service, 'update')"
                                   rb-disabled="vm.buttonDisabledExpr(service, 'updatelabel')"
                                   ng-click="vm.updateServiceLabels(service);">
              <i class="fa fa-tags"></i>
              {{ "labels_update" | translate }}
            </rb-dropdown-menu-item>
            <rb-dropdown-menu-item ng-click="vm.updateService(service)"
                                   ng-if="vm.buttonIfExpr(service, 'update')"
                                   rb-disabled="vm.buttonDisabledExpr(service, 'update')">
              <i class="fa fa-pencil"></i>
              {{ "update" | translate }}
            </rb-dropdown-menu-item>
            <rb-dropdown-menu-item ng-click="vm.deleteService(service);"
                                   ng-if="vm.buttonIfExpr(service, 'delete')"
                                   rb-disabled="vm.buttonDisabledExpr(service, 'delete')">
              <i class="fa fa-trash-o"></i>
              {{ "delete" | translate }}
            </rb-dropdown-menu-item>

          </rb-dropdown-menu>
          <!--
        <div class="buttons-group">
          <button class="btn btn-xs rb-btn-oper"
                  ng-click="vm.startService(service);"
                  ng-show="vm.buttonIfExpr(service, 'start')"
                  rb-disabled="vm.buttonDisabledExpr(service, 'start')"
                  tooltip-placement="top"
                  uib-tooltip="{{ 'start' | translate }}">
            <i class=" fa fa-play"></i>
          </button>

          <button class="btn btn-xs rb-btn-oper"
                  ng-click="vm.stopService(service);"
                  ng-show="vm.buttonIfExpr(service, 'stop')"
                  rb-disabled="vm.buttonDisabledExpr(service, 'stop')"
                  tooltip-placement="top"
                  uib-tooltip="{{ 'stop' | translate }}">
            <i class="fa fa-stop"></i>
          </button>

          <button class="btn btn-xs rb-btn-oper btn-tags"
                  ng-if="vm.resourceLabelsEnabled && vm.buttonIfExpr(service, 'update')"
                  rb-disabled="vm.buttonDisabledExpr(service, 'updatelabel')"
                  tooltip-placement="top"
                  uib-tooltip="{{ 'labels_update' | translate }}"
                  ng-click="vm.showLabelsDialog(service);">
            <i class="fa fa-tags"></i>
          </button>

          <button class="btn btn-xs rb-btn-oper"
                  ng-click="vm.updateService(service)"
                  ng-if="vm.buttonIfExpr(service, 'update')"
                  rb-disabled="vm.buttonDisabledExpr(service, 'update')"
                  tooltip-placement="top"
                  uib-tooltip="{{ 'update' | translate }}">
            <i class="fa fa-pencil"></i>
          </button>

          <button class="btn btn-xs rb-btn-oper"
                  ng-click="vm.deleteService(service);"
                  ng-if="vm.buttonIfExpr(service, 'delete')"
                  rb-disabled="vm.buttonDisabledExpr(service, 'delete')"
                  tooltip-placement="top"
                  uib-tooltip="{{ 'delete' | translate }}">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
        -->
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <rb-pagination ng-show="(vm.initialized$ | rbAsync:this) && vm.pagination.count > vm.pagination.pageSize"

                 class="pull-right"
                 size="vm.pagination.pageSize"
                 total-items="vm.pagination.count"
                 on-change="vm.onPageChanged(page)">
  </rb-pagination>

</div>
