@import 'static/app/components/common/style/mixins';

rb-service-list {
  .app-table {
    rb-copy-span {
      display: block;
      width: 100%;
      span {
        @include truncate-span;
        cursor: pointer;
      }
    }
    a:focus {
      text-decoration: none;
    }
    .service-status > .badge {
      font-weight: 600;
      width: 80px;
      text-align: center;
    }
    .rb-copy-span-tooltip {
      word-break: break-all;
      .tooltip-inner {
        max-width: 400px;
      }
    }
  }
}
