.container-size {
  height: 20px;
  line-height: 12px;
  border-radius: 10px;
  color: #777;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  font-size: 12px;
  padding: 3px 8px;
  margin-left: 4px;
}
