<ul class="complete-list-container">
  <li
    *ngFor="let item of list"
  >
    <div
      class="container-item"
      [title]="'click_to_copy' | translate"
      (click)="copyToClipboard(item)"
      (mouseleave)="resetStatus(item)"
    > 
      <i class="fa fa-files-o" *ngIf="!item.copyStatus"></i>
      <i class="fa fa-check-circle" *ngIf="item.copyStatus" [style.color]="'#37b37e'"></i>
      <span class="container-image">{{item.image}}</span>
      <span class="container-size">{{item.size}}</span>
    </div>
  </li>
</ul>