<div
  class="container-first"
  *ngIf="list.length">
  <div
    class="container-image"
    [auiTooltipCopy]="list[0].image"
    [auiTooltipCopyTip]="firstCopyTip"
    [auiTooltipCopySuccessTip]="firstCopySuccessTip"
    [auiTooltipCopyFailTip]="firstCopyFailTip"
    [auiTooltipPosition]="'top'">
    {{ list[0].image }}
  </div>
  <div class="container-size">
    {{ list[0].size }}
  </div>
</div>
<div
  class="container-second"
  *ngIf="list.length === 2">
  <div
    class="container-image"
    [auiTooltipCopy]="list[1].image"
    [auiTooltipCopyTip]="secondCopyTip"
    [auiTooltipCopySuccessTip]="secondCopySuccessTip"
    [auiTooltipCopyFailTip]="secondCopyFailTip"
    [auiTooltipPosition]="'top'">
    {{ list[1].image }}
  </div>
  <div class="container-size">
    {{ list[1].size }}
  </div>
</div>
<div class="container-complete" *ngIf="list.length > 2">
  <div
    class="button-complete"
    [auiTooltip]="complete"
    auiTooltipType="primary"
    auiTooltipPosition="bottom start"
    auiTooltipTrigger="click"
    [title]="'click_to_show_all_images' | translate"
  >
    {{'service_total' | translate}}<span class="image-amounts">{{list.length}}</span>{{'service_item' | translate}}
  </div>
  <ng-template #complete>
    <rc-service-image-list
      [imageDisplayParams]="imageDisplayParams"
    >
    </rc-service-image-list>
  </ng-template>
</div>