:host {
  display: flex;
  ul {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 10px 16px;
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #4d4d4d;
      div.container-item {
        max-width: 360px;
        word-break: break-all;
        line-height: 1.43;
        margin: 8px 0;
        span.container-image {
          margin-left: 8px;
        }
        &:hover {
          cursor: pointer;
          span.container-image {
            color: #000;
            background-color: #f2f2f2;
            &:active,
            &:focus {
              background-color: #e5e5e5;
            }
          }
          i.fa {
            color: #24a7e3;
          }
        }
      }
    }
  }
}
