:host {
  width: 100%;
  .container-first,
  .container-second {
    display: flex;
    width: 100%;
    align-items: center;
    .container-image {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .container-size {
      white-space: nowrap;
    }
  }

  .container-complete {
    div.button-complete {
      display: inline-block;
      font-size: 12px;
      background-color: #fff;
      color: #777;
      margin: 2px 0 0 0;
      height: 16px;
      line-height: 16px;
      .image-amounts {
        display: inline-block;
        min-width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        cursor: pointer;
        color: #009ce3;
        &:hover {
          background-color: #e5f5fc;
        }
      }
    }
  }
}
