<div ng-if="vm.loading || vm.list && vm.list.length">
  <table rb-loading-mask="vm.loading && vm.list"
         class="app-table table table-bordered table-hover no-margin-bottom">
    <thead>
      <tr>
        <td>{{ 'pipeline_name' | translate }}</td>
        <td>{{ 'pipeline_id' | translate }}</td>
        <td>{{ 'date' | translate }}</td>
        <td>{{ 'status' | translate }}</td>
        <td ng-if="vm.type === 'approver'">{{ 'action' | translate }}</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.list">
        <td>
          <a ui-sref="pipeline.config.detail({ name: vm.getConfigName(item) })">
            {{ item.pipeline_name }}
          </a>
        </td>
        <td>{{item.pipeline_uuid}}</td>
        <td>{{item.started_at | formatUtcStr}}</td>
        <td>
          <span rubick-status-icon 
                status="item.status === 'ongoing'?'waiting':item.status" 
                mode="list"
                status-text="{{'pipeline_approve_' + item.status}}">
          </span>
        </td>
        <td ng-if="vm.type === 'approver'">
          <rb-dropdown-menu class="list" rb-title="{{'action' | translate}}">
            <rb-dropdown-menu-item
              ng-click="vm.approve('proceed', item);"
              rb-disabled="item.status === 'completed'">
              {{ 'pipeline_approval_agree' | translate }}
            </rb-dropdown-menu-item>
            <rb-dropdown-menu-item
              ng-click="vm.approve('decline', item);"
              rb-disabled="item.status === 'completed'">
              {{ 'pipeline_approval_refuse' | translate }}
            </rb-dropdown-menu-item>
          </rb-dropdown-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Pagination -->
<rb-pagination
  ng-show="vm.pagination.totalItems > vm.pagination.pageSize"
  class="pull-right"
  total-items="vm.pagination.totalItems"
  on-change="vm.fetchData(page, size)">
</rb-pagination>

<!-- Explains why there is no data -->
<div ng-if="!vm.loading && (!vm.list || !vm.list.length)"
     style="padding: 50px; text-align: center;">
  <div ng-if="!vm.list.length && !vm.loadError">
    {{ 'pipeline_no_application' | translate }}
  </div>

  <div ng-if="vm.loadError">
    {{ 'data_load_error' | translate }}
  </div>

  <button ng-if="vm.loadError"
          class="ui button rb-btn-primary margin-top-2"
          ng-click="vm.fetchData()">
    {{ 'refresh' | translate }}
  </button>
</div>