<rb-region-badge-option
  on-change-state="'app_service.service.list'"
  on-change-confirm="true">
</rb-region-badge-option>

<div class="rb-service-crumbs">
  <div>
    <span class="rb-service-crumbs-icon">1</span>
    <span>{{ "nav_select_image" | translate }}</span>
  </div>
  <div ng-class="{active:vm.configStep === 0}">
    <span class="rb-service-crumbs-icon">2</span>
    <span>{{ "nav_basic_config" | translate }}</span>
  </div>
  <div ng-class="{active:vm.configStep === 1}">
    <span class="rb-service-crumbs-icon">3</span>
    <span>{{ "network_config" | translate }}</span>
  </div>
  <div ng-class="{active:vm.configStep === 2}">
    <span class="rb-service-crumbs-icon">4</span>
    <span>{{ "nav_advanced_config" | translate }}</span>
  </div>
</div>

<!-- forms -->
<rb-loading-mask-placeholder ng-if="!vm.initialized"></rb-loading-mask-placeholder>
<div ng-if="vm.initialized" rb-loading-mask="vm.submitting" class="rb-form-panel">
  <rb-service-create-basic-info
    class="sub-form"
    ng-show="vm.configStep === 0"
    region="vm.region"
    region-features="vm.regionFeatures"
    registry-name="vm.registryName"
    image-name="vm.imageName"
    form="vm.forms['basicInfo']"
    model="vm.serviceData">
  </rb-service-create-basic-info>

  <rb-service-create-network-setting
    class="sub-form"
    ng-show="vm.configStep === 1"
    image-data="vm.imageData"
    region="vm.region"
    region-features="vm.regionFeatures"
    form="vm.forms['networkSetting']"
    model="vm.serviceData">
  </rb-service-create-network-setting>

  <rb-service-create-advance-setting
    class="sub-form"
    ng-show="vm.configStep === 2"
    image-data="vm.imageData"
    region="vm.region"
    region-features="vm.regionFeatures"
    form="vm.forms['advanceSetting']"
    model="vm.serviceData">
  </rb-service-create-advance-setting>

  <div class="rb-form-footer">
    <div class="rb-form-footer-offset"></div>
    <div class="rb-form-footer-buttons" flex="50">
      <button type="button" class="ui button rb-btn-default"
              ng-click="vm.cancelCreate()">{{'cancel' | translate}}
      </button>
      <button type="button" class="ui button rb-btn-default"
              ng-click="vm.cancel()">{{'re_select' | translate}}
      </button>
      <button ng-if="vm.configStep > 0"
              type="button"
              ng-click="vm.prevStep()"
              class="ui button rb-btn-default">{{'prev_step' | translate}}
      </button>
      <button type="button"
              ng-if="vm.configStep < 2"
              ng-click="vm.nextStep()"
              class="ui button rb-btn-primary">{{'next_step' | translate}}
      </button>
      <button type="button"
              ng-click="vm.create()"
              class="ui button rb-btn-primary">{{'create' | translate}}
      </button>
    </div>
  </div>
</div>
