<md-dialog class="rb-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ 'create_service' | translate }}</h2>
      <span flex></span>
      <md-button class="nav-toggle-button md-icon-button"
                 md-no-ink
                 ng-click="vm.cancel()"
                 aria-label="cancel">
        <i class="fa fa-times"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>

    <div class="rb-service-create-confirm-template">
      <section>
        <div class="fa fa-question-circle rb-warnning-icon"></div>
        <div>
          {{'service_create_confirm' | translate}}
        </div>
      </section>

      <section>
        <span class="ui toggle checkbox">
          <input type="checkbox" name="service_create_auto_run"
                 ng-model="vm.autoStart">
          <label>{{'service_create_auto_run' | translate}}</label>
        </span>
      </section>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="vm.cancel()">
      {{ 'cancel' | translate }}
    </md-button>
    <md-button class="md-raised md-primary" ng-click="vm.confirm()">
      {{ 'create' | translate }}
    </md-button>
  </md-dialog-actions>
</md-dialog>