rb-service-create {
  .rb-fieldset-action-btn {
    float: left;
  }
  .fa-question-circle {
    line-height: 32px;
    float: left;
    margin-left: 3px;
  }
}

.rb-service-crumbs {
  display: flex;
  background: transparent;
  margin-bottom: 16px;
  > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    height: 40px;
    flex: 1;
    border-bottom: 1px solid #dfdfdf;
    span {
      opacity: 0.6;
    }
    .rb-service-crumbs-icon {
      display: flex;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background-color: #333;
      color: #fff;
      font-size: 12px;
      margin-right: 4px;
      justify-content: center;
      align-items: center;
    }
    &.active {
      span {
        opacity: 1;
      }
      border-bottom: 2px solid #59889b;
      :after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 50%;
        border-top: 4px solid #59889b;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }
    }
  }
}
