<div class="license-normal-modal-box" id="license-expired-modal-mask">
  <div class="main-container">
      <div class="fa fa-exclamation-triangle confirm-box-info-icon">
      </div>
      <div class="content-container">
        <div class="confirm-title">
          {{'license_is_outdata'|translate}}
        </div>
        <div class="confirm-content">
          {{productName}}{{'license_info_7_2' | translate}}
        </div>
      </div>
    </div>
    <div class="confirm-box-footer">
      <button rcButton="primary" (click)="normalConfirm()">
        {{ 'logout' | translate }}
      </button>
    </div>
</div>
