@import 'colors.styles';

:host {
  .license-normal-modal-box {
    padding: 40px;
    .main-container {
      flex: 1;
      flex-shrink: 0;
      display: flex;
      margin-bottom: 20px;
      .confirm-box-info-icon {
        display: flex;
        width: 24px;
        height: 24px;
        font-size: 24px;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        color: $yellow-8;
      }
      .fa-exclamation-triangle {
        color: $status-color-error;
      }

      .content-container {
        flex: 1;
        .confirm-title {
          font-size: 20px;
          line-height: 24px;
          text-align: left;
          word-wrap: break-word;
          font-weight: 500;
          margin-bottom: 10px;
        }

        .confirm-content {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    .confirm-box-footer {
      margin-top: 57px;
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 10px;
      }
    }
  }
}
