<ng-container *ngIf="isAdmin">
  <div flex="" class="forgr-header ng-scope flex">
    {{'license_is_outdata' | translate}}
    <i (click)="lgOut()" class="fa fa-remove" role="button" tabindex="0"></i>
  </div>
  <div class='license-modal-box-modal'>
    <div class="fa fa-exclamation-circle confirm-box-info-icon"></div>
    <div class="license-modal-box-modal__content">
      <div class='content'>
        {{productName}}{{'license_info_7_2'|translate}}
      </div>
      <div class='footer'>
        <div>
          {{'license_info_1_1'|translate}}{{productName}}{{'license_info_1_2'|translate}}
        </div>
        <div>{{'email'|translate}}：
          <a href='mailto:marketing@alauda.io' style='color:#494949;'>marketing@alauda.io</a>
        </div>
        <div>{{'call'|translate}}：4006-252-832</div>
      </div>
    </div>

    <div class="license-modal-box-modal__footer">
      <button class="ui button rb-btn-default" (click)="lgOut()">
        {{ 'logout' | translate }}
      </button>
      <button style="margin-left:8px;" class="ui button rb-btn-primary" (click)="upLicense()">
        {{ 'to_update_license' | translate }}
      </button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!isAdmin">
  <div class="license-normal-box-modal">
    <div class="main-container">
      <div class="fa fa-exclamation-triangle confirm-box-info-icon">
      </div>
      <div class="content-container">
        <div class="confirm-title">
          {{'license_is_outdata'|translate}}
        </div>
        <div class="confirm-content">
          {{productName}}{{'license_info_7_2' | translate}}
        </div>
      </div>
    </div>
    <div class="confirm-box__footer">
      <button class="ui button rb-btn-primary" (click)="lgOut()">
        {{ 'logout' | translate }}
      </button>
    </div>
  </div>
</ng-container>
