<div class="license-tip-container"
    [ngClass]="tipClass"
    *ngIf="!!tipClass && ((licenseState$ | async)?.notify_target === 1 || accountType === 'superUser')">
    <div *ngIf="(licenseState$ | async)?.kind === 'beta'">{{'beta_day_expire' | translate}} {{(licenseState$ | async)?.days_until_expiration}}{{'day'|translate}}</div>
    <div *ngIf="(licenseState$ | async)?.kind === 'release'">{{'license_expire' | translate}} {{(licenseState$ | async)?.days_until_expiration}}{{'day'|translate}}</div>
  </div>
