@import 'colors.styles';
@import '../../layout.common';

:host {
  position: relative;
  display: inline-flex;
  align-items: center;
  .license-tip-container {
    display: inline-flex;
    background-color: #fff;
    border-radius: $badge-border-radius;
    overflow: hidden;
    align-items: stretch;
    min-width: 120px;
    height: $badge-height;
    margin-left: 16px;
    color: $badge-color;

    &.error {
      color: $status-color-error;
    }
    &.warning {
      color: $status-color-warning;
    }

    > div {
      display: inline-flex;
      align-items: center;
      padding: 4px 24px;
      cursor: default;
      transition: background-color 0.3s, color 0.3s;
    }
  }
}

::ng-deep .license-modal-box-header {
  font-size: 18px;
  line-height: 24px;
}

::ng-deep .license-modal-box {
  .footer {
    padding: 60px 0 0;
    .mail-link {
      color: #494949;
    }
    div {
      font-size: 12px;
      line-height: 1.5;

      &:nth-child(2) {
        margin-top: 4px;
      }
      &:nth-child(3) {
        margin-top: 4px;
      }
    }
  }
}
