<div [formGroup]="formControlFragment.control.parent"
     [attr.addon]="formControlFragment.addon"
     [class.has-addon]="formControlFragment.addon"
     [class.error]="formControlFragment.error"
     [class.input]="isInput"
     [class.focused]="focused"
     [class.loading]="formControlFragment.verifying"
     class="ui large form-fragment-container icon">

  <!-- input -->
  <input *ngIf="formControlFragment.type !== 'dropdown'"
         spellcheck="false"
         (focus)="onFocus()"
         (blur)="onBlur($event)"
         [autocomplete]="formControlFragment.name"
         [name]="formControlFragment.name"
         [formControlName]="formControlFragment.name"
         [type]="formControlFragment.type">
  <i *ngIf="shouldShowInputIcon"
     class="icon"
     [class.checkmark]="formControlFragment.verified"></i>

  <!-- Dropdown -->
  <div *ngIf="formControlFragment.type === 'dropdown'"
       class="ui selection dropdown"
       [class.multiple]="formControlFragment.multiple">
    <input type="hidden" [formControlName]="formControlFragment.name">
    <i class="dropdown icon"></i>
    <div class="default text"></div>
    <div class="menu">
      <div class="item"
           *ngFor="let option of formControlFragment.options"
           [attr.data-value]="option">
        {{ option | translate }}
      </div>
    </div>
  </div>

  <ng-content></ng-content>

  <div [class.floating]="floatingPlaceholder"
       (click)="onPlaceholderClicked()"
       class="placeholder-text">
    {{ formControlFragment.placeholder | translate }}
  </div>

  <!-- Addons -->
  <div class="inline-elements-container">
    <div class="error-message">
      {{ formControlFragment.error }}
    </div>
    <rld-captcha-img
      *ngIf="formControlFragment.addon === 'captcha'">
    </rld-captcha-img>
    <rld-verification-code-button
      *ngIf="formControlFragment.addon === 'verification-code'">
    </rld-verification-code-button>
  </div>

</div>
<rld-password-strength
  [class.focused]="focused"
  [class.hidden]="!formControlFragment.control.value"
  [password]="formControlFragment.control.value"
  *ngIf="formControlFragment.addon === 'password-strength'">
</rld-password-strength>
<div style="margin-top: 4px;" [innerHTML]="formControlFragment.afterContent">
</div>
