@import 'colors.styles';

:host {
  margin-bottom: 36px;
  position: relative;
}

.form-fragment-container {
  display: flex;
  position: relative;
  align-items: center;

  .error-message {
    color: $status-color-error;
    opacity: 0;
    transition: opacity 0.5s;
    white-space: nowrap;
    margin-right: 4px;
  }

  input,
  .ui.dropdown {
    position: relative;
  }

  &.focused {
    .placeholder-text {
      z-index: 20;
      color: #85b7d9;
    }

    &.error .placeholder-text {
      color: $status-color-error;
    }

    &.error .error-message {
      opacity: 0.8;
    }
  }

  &.error:not(.focused) {
    .error-message {
      opacity: 1;
    }

    .placeholder-text {
      color: $status-color-error;
    }
  }

  .inline-elements-container {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 4px;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
  }

  rld-captcha-img {
    height: 38px;
  }

  .placeholder-text {
    position: absolute;
    color: #888;
    left: 16px;
    top: 10px;
    transition: transform 0.5s, color 0.5s, background 0.5s, font-size 0.2s;
    background: rgba(255, 255, 255, 0);
    padding: 0 2px;
    transform-origin: left top;

    &.floating {
      transform: translateY(-20px) scale(0.8);
      background: rgba(255, 255, 255, 1);
    }
  }
}

rld-password-strength {
  position: absolute;
  top: 44px;
  left: 4px;
  font-size: 12px;
  display: block;
  opacity: 0;
  &.focused {
    opacity: 1;
  }
}
