.bind-project {
  aui-radio-group {
    width: 100%;
  }
  ::ng-deep {
    .aui-radio-group {
      width: 100%;
    }
    .aui-multi-select {
      display: flex;
      flex-wrap: wrap;
    }
  }
  aui-radio {
    display: block;
    &:not(:first-child) {
      margin-top: 10px;
    }
    &:first-child {
      margin-top: 5px;
    }
  }
  &__custom {
    display: flex;
    align-items: center;
    margin-top: 5px;
    aui-multi-select {
      flex: 1;
    }
  }
}
:host {
  rc-loading-mask {
    height: 200px;
  }
}
