<aui-dialog-header>
    {{'create_domain' | translate}}
</aui-dialog-header>
<aui-dialog-content>
    <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
    <form *ngIf="initialized" auiForm auiFormLabelWidth="100px" #Form="ngForm">
        <aui-form-item>
            <label auiFormItemLabel>{{'type' | translate}}</label>
            <aui-radio-group
                name="type"
                [(ngModel)]="type">
                <aui-radio-button value="domain">{{'domain' | translate}}</aui-radio-button>
                <aui-radio-button value="extensive_domain">{{'extensive_domain' | translate}}</aui-radio-button>
            </aui-radio-group>
        </aui-form-item>
        <aui-form-item *ngIf="type == 'domain'">
          <label auiFormItemLabel>{{'domain' | translate}}</label>
          <input aui-input
                auiFormItemControl
                required
                name="domain"
                maxlength="253"
                [(ngModel)]="domain"
                [rcErrorsTooltip]
                [pattern]="domainRegex.pattern"
                [placeholder]="domainRegex.tip | translate"
                [rcErrorsTooltipMapper]="{pattern: domainRegex.tip | translate}"
            >
        </aui-form-item>
        <aui-form-item *ngIf="type == 'extensive_domain'">
            <label auiFormItemLabel>{{'domain' | translate}}</label>
            <aui-input-group style="flex: 1">
                <span auiInputAddonBefore>*.</span>
                <input aui-input
                    auiFormItemControl
                    required
                    name="domain"
                    maxlength="253"
                    [(ngModel)]="domain"
                    [rcErrorsTooltip]
                    [pattern]="domainRegex.pattern"
                    [placeholder]="domainRegex.tip | translate"
                    [rcErrorsTooltipMapper]="{pattern: domainRegex.tip | translate}">
            </aui-input-group>
        </aui-form-item>
        <aui-form-item class="bind-project">
            <label auiFormItemLabel>{{'project_bind' | translate}}</label>
            <aui-radio-group
                name="projectType"
                [(ngModel)]="projectType">
                <aui-radio value="all_project">{{'all_project' | translate}}</aui-radio>
                <aui-radio value="no_project">{{'no_project' | translate}}</aui-radio>
                <div class="bind-project__custom">
                    <aui-radio value="custom_project">{{'custom_project' | translate}}:</aui-radio>
                    <aui-multi-select
                        name="projects"
                        required
                        [disabled]="projectType!='custom_project'"
                        [(ngModel)]="projects"
                        [rcErrorsTooltip]
                        filterable
                        [placeholder]="'select_project_placeholder' | translate">
                        <aui-option
                            *ngFor="let project of projectList"
                            [label]="project.name"
                            [value]="project.uuid">{{project.name}}</aui-option>
                        <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
                    </aui-multi-select>
                </div>
            </aui-radio-group>
        </aui-form-item>
    </form>
</aui-dialog-content>
<aui-dialog-footer>
    <div>
        <button aui-button
            (click)="cancel()">
            {{'cancel'|translate}}
        </button>
        <button aui-button="primary"
            (click)="confirm()">
            {{'create'|translate}}
        </button>
    </div>
</aui-dialog-footer>