rb-app-catalog-config {
  > div {
    position: relative;
    .rb-detail-content {
      display: flex;
      flex-direction: column;
      min-height: 120px;
      .rb-detail-code-field {
        padding-top: 8px;
      }
    }
  }
}
