<div>
  <div class="rb-detail-content">
    <div ng-show="!vm.displayInfo.basic_info.length && !vm.displayInfo.editable_info.length" class="rb-loading-mask-placeholder">
      {{'app_config_info_empty' | translate}}
    </div>

    <div ng-show="vm.displayInfo.basic_info.length" flex="70" class="rb-detail-row" ng-repeat="field in vm.displayInfo.basic_info track by $index">
      <div>{{vm.getFieldLabel(field)}}</div>
      <div>{{field.value}}</div>
    </div>

    <div ng-show="vm.displayInfo.editable_info.length" flex="70" class="rb-detail-row" ng-repeat="field in vm.displayInfo.editable_info track by $index">
      <div>{{vm.getFieldLabel(field)}}</div>
      <div ng-if="field.type === 'text'">
        {{field.value}}
      </div>
      <div ng-if="field.type === 'code'" class="rb-detail-code-field">
        <ui-codemirror ui-codemirror-opts="vm.editorOptions"
                       ng-model="field.value"></ui-codemirror>
      </div>
    </div>
  </div>
</div>