<div class="zero-state-hint"
    *ngIf="zeroState && !fetching"
    [translate]="'zero_state_hint'"
    [translateParams]="{ resourceName: (resourceName | translate) }">
</div>

<rc-loading-mask [loading]="fetching"></rc-loading-mask>