.zero-state-hint {
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fff;
  color: #999;
}
rc-loading-mask {
  height: 60px;
}
