@import 'colors.styles';
:host {
  display: block;
  border: blue;
  ::ng-deep .ngx-datatable {
    .empty-row {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #999;
    }
  }
}
