<div rcFlexList
     rcFlexCellWidth="320px">
  <div rcFlexCell
       *ngFor="let cluster of orderedClusters$ | async; trackBy: trackById">
    <rc-cluster-card [cluster]="cluster"></rc-cluster-card>
  </div>
</div>
