:host {
  display: block;
  .rb-form {
    width: 75%;
    ::ng-deep rc-single-selection-dropdown,
    rc-code-editor {
      flex: 1;
    }
    .yaml-template {
      margin-left: 140px;
    }
  }
}
