<div class="rb-page-heading">
  <h1>
    <i class="fa fa-fw fa-group"></i>
    <span class="truncate" title="{{::vm.roleName}}">{{::vm.roleName}}</span>
  </h1>
  <div flex></div>
  <button ng-if="vm.createRoleEnabled"
          ng-click="vm.copyRole()"
          class="ui button rb-btn-primary">
    {{'copy_role' | translate}}
  </button>
</div>

<div class="rb-detail-container"
     rb-loading-mask="!vm.initialized"
     ng-class="{'rb-collapse': vm.isBasicInfoCollapse}">
  <div class="rb-detail-content-header" ng-click="vm.isBasicInfoCollapse = !vm.isBasicInfoCollapse">
    <span>{{'basic_info' | translate}}</span>
    <span class="fa fa-caret-down"
          ng-class="{'rb-collapse': vm.isBasicInfoCollapse}"></span>
  </div>
  <div class="rb-detail-content-wrap">
    <div class="rb-detail-content">
      <div class="rb-detail-row">
        <div>{{ "created_by" | translate }}</div>
        <div>{{ vm.role.created_by }}</div>
      </div>
      <div class="rb-detail-row">
        <div>{{ "created_time" | translate }}</div>
        <div>{{vm.role.created_at | formatUtcStr}}</div>
        <div>{{ "updated_time" | translate }}</div>
        <div>{{vm.role.updated_at | formatUtcStr}}</div>
      </div>
    </div>
  </div>
</div>

<div ng-if="vm.initialized" class="rb-detail-container">
  <md-tabs class="rb-tabs"
           md-border-bottom="true"
           md-dynamic-height="true">
    <md-tab class="rb-tab"
            label="{{ 'permissions' | translate }}">
      <div class="rb-detail-tab-container">
        <div class="clearfix margin-bottom-2">
          <button class="ui button rb-btn-primary pull-right"
                  ng-if="vm.buttonDisplayExpr('update')"
                  ng-click="vm.addPermission()">{{'add_permission' | translate}}
          </button>
        </div>

        <table class="table app-table">
          <thead>
          <tr>
            <td style="width:240px;">{{'resource'|translate}}</td>
            <td style="width:240px;">{{'action'|translate}}</td>
            <td>{{'constraints'|translate}}</td>
            <td style="width:80px;">{{'action' | translate}}</td>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="item in vm.role.permissions track by $index">
            <td>
              <div ng-bind-html="vm.getPermissionResourceDisplay(item.resource)"></div>
            </td>
            <td>
              <div ng-bind-html="vm.getPermissionActionsDisplay(item.actions)"></div>
            </td>
            <td>
              <div ng-bind-html="vm.getPermissionConstraintsDisplay(item.constraints)"></div>
            </td>
            <td>
              <button type="button" class="btn btn-xs rb-btn-oper"
                      ng-if="vm.buttonDisplayExpr('update')"
                      ng-click="vm.updatePermission(item, $index)"
                      tooltip-placement="top"
                      uib-tooltip="{{ 'update' | translate }}">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-xs rb-btn-oper"
                      ng-if="vm.buttonDisplayExpr('update')"
                      ng-click="vm.deletePermission(item, $index)"
                      tooltip-placement="top"
                      uib-tooltip="{{ 'delete' | translate }}">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </md-tab>
    <md-tab class="rb-tab"
            label="{{ 'parent_role' | translate }}">
      <div class="rb-detail-tab-container">
        <div class="clearfix margin-bottom-2">
          <div class="ui input rb-filter-input pull-left">
            <input type="text"
                   ng-model="vm.parentsFilterKey"
                   placeholder="{{ 'search_by_name_placeholder' | translate}}"
            >
          </div>
          <button class="ui button rb-btn-primary pull-right"
                  ng-if="vm.buttonDisplayExpr('update')"
                  ng-click="vm.addParent()">{{'add_parent_role' | translate}}
          </button>
        </div>

        <table class="table app-table">
          <thead>
          <tr>
            <td>{{'name'|translate}}</td>
            <td style="width:180px;">{{'assigned_at'|translate}}</td>
            <td style="width:80px;">{{'action' | translate}}</td>
          </tr>
          </thead>

          <tbody>
          <tr
            ng-repeat="item in vm.role.parents | filter : {name: vm.parentsFilterKey} track by $index">
            <td>
              <a ui-sref="org.role_detail({roleName: item.name})">{{item.name}}</a>
            </td>
            <td>
              {{item.assigned_at | formatUtcStr}}
            </td>
            <td>
              <button typ="button" class="btn btn-xs rb-btn-oper"
                      ng-click="vm.previewParent(item)"
                      ng-if="vm.parentRoleButtonDisplayExpr(item, 'view')"
                      tooltip-placement="top"
                      uib-tooltip="{{ 'preview' | translate }}">
                <i class="fa fa-eye"></i>
              </button>
              <button type="button" class="btn btn-xs rb-btn-oper"
                      ng-if="vm.buttonDisplayExpr('update')"
                      ng-click="vm.deleteParent(item, $index)"
                      tooltip-placement="top"
                      uib-tooltip="{{ 'delete' | translate }}">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </md-tab>
    <md-tab class="rb-tab"
            label="{{ 'members' | translate }}">
      <rb-role-detail-users ng-if="vm.initialized" role="vm.role"></rb-role-detail-users>
    </md-tab>
  </md-tabs>
</div>
