rc-single-selection-dropdown {
  ::ng-deep .ui.dropdown {
    display: flex;
    flex-direction: row;
    > .text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 1;
    }
    > .dropdown.icon {
      flex-shrink: 0;
    }
  }
}
