@import 'colors.styles';
@import '_mixins';

rc-loading-mask {
  height: 120px;
  background: transparent;
}

.rc-list-header {
  margin: 8px 0 16px;
  .search-input {
    margin-right: 8px;
    input {
      border-radius: 5px 0 0 5px;
      min-width: 24rem;
    }
    button {
      border-radius: 0 5px 5px 0;
      margin-left: -1px;
    }
  }
  rc-search-input {
    margin-right: 8px;
  }
}

.rc-list-pagination {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.referenced_resources {
  cursor: pointer;
}

.referenced-resources-tooltips-container {
  @include clearfix;
  max-width: 500px;
  .referenced-resources-tooltips {
    font-size: 14px;
    margin: 2px;
    float: left;
    border-style: none;
    background-color: #e8e8e8;
    display: block;
    padding: 1px 6px 1px 6px;
    max-width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  a.referenced-resources-tooltips {
    cursor: pointer;
  }
  a.referenced-resources-tooltips:hover {
    text-decoration: underline;
  }
}

.pointer {
  cursor: pointer;
}

.show_more {
  text-align: center;
  background-color: #ecf6fd;
  line-height: 30px;
  font-size: 12px;
  > a {
    cursor: pointer;
  }
  > a:hover {
    text-decoration: underline !important;
  }
}
