<aui-card>
  <div auiCardHeader
       fxLayout>
    <button *ngIf="configmapCreateEnabled"
            aui-button="primary"
            (click)="createConfigmap()">
      {{ "create_config" | translate }}
    </button>
    <div fxFlex></div>
    <aui-search [searchButton]="true"
                [searching]="searching"
                [debounce]="200"
                [(keyword)]="keyword"
                placeholder="{{'search_by_name_placeholder' | translate}}"
                (search)="searchChanged($event)">
  </aui-search>
  </div>

  <!--Explain why there is no data-->
  <div *ngIf="empty && !loading"
       class="rb-loading-mask-placeholder">
    <div *ngIf="!(loadError | async)">
      {{ "have_no_configmap" | translate }}
    </div>
    <div *ngIf="loadError | async">
      {{ 'data_load_error' | translate }}
    </div>
    <button *ngIf="loadError | async"
            rcButton="primary"
            style="margin-top: 12px;"
            (click)="refetch()">
      {{ 'refresh' | translate }}
    </button>
  </div>

  <rc-loading-mask [loading]="empty && loading"></rc-loading-mask>

  <div *ngIf="!empty"
       class="rc-list-container">
    <rc-table #configmapTable
              class="rc-secondary-table"
              [columnMode]="'force'"
              [headerHeight]="40"
              [rowHeight]="82"
              [rows]="configItems">

      <rc-table-row-detail [rowHeight]="'auto'"
                          #myDetailRow
                          (toggle)="onDetailToggle($event)">
        <ng-template rcTableRowDetailTemplate
                    let-row="row"
                    let-expanded="expanded">
          <rc-k8s-configmap-key-value-list [tooltipTemplate]="tooltipKeyReferenced"
                                          [params]="{clusterId: clusterId, namespace: row.kubernetes.metadata.namespace, name: row.kubernetes.metadata.name}"
                                          (actionComplete)="refetch()">
          </rc-k8s-configmap-key-value-list>
        </ng-template>
      </rc-table-row-detail>

      <rc-table-col [width]="30"
                    [resizeable]="false"
                    [sortable]="false"
                    [draggable]="false"
                    [canAutoResize]="false"
                    [resizeable]="false">
        <ng-template rcTableColCell
                    let-row="row"
                    let-rindex="rowIndex"
                    let-expanded="expanded">
          <a class="rc-table-row-expand"
            href="javascript:void(0)"
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            (click)="toggleExpandRow(row, rindex)">
            <i class="fa fa-angle-right"></i>
          </a>
        </ng-template>
      </rc-table-col>
      <rc-table-col [width]="150"
                    name="{{'name' | translate}}"
                    [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          <div class="rc-resource-name-cell">
            <img src="/static/images/resource/configmap.svg"
                style="width:48px">
            <div class="rc-lines">
              <div class="rc-line">
                <a [routerLink]="['/k8s_configmap/detail', clusterId, rowData.kubernetes.metadata.namespace, rowData.kubernetes.metadata.name]">{{ rowData.kubernetes.metadata.name }}</a>
              </div>
            </div>
          </div>
        </div>
      </rc-table-col>
      <rc-table-col [width]="150"
                    name="{{'region_namespace' | translate}}"
                    [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          <div>{{ rowData.kubernetes.metadata.namespace }}</div>
        </div>
      </rc-table-col>
      <rc-table-col [width]="150"
                    name="{{'referenced_resources' | translate}}"
                    [resizeable]="false">
        <div *rcTableColCell="let rowData = row"
            class="referenced_resources">
          <a *ngIf=rowData.referenced_by
            [rcTooltip]="tooltipKeyReferenced"
            [rcTooltipContext]="{referenced_list: rowData.referenced_by}"
            [rcTooltipInline]="false"
            rcTooltipMode="info"
            rcTooltipOn="click"
            class="referenced_resources_button"
            (click)="showReferencedList(rowData.referenced_by)">
            {{ (rowData.referenced_by || []).length }}
          </a>
          <a *ngIf=!rowData.referenced_by>
            {{ (rowData.referenced_by || []).length }}
          </a>
        </div>
      </rc-table-col>
      <rc-table-col [width]="150"
                    name="{{'description' | translate}}"
                    [resizeable]="false">
        <ng-container *rcTableColCell="let rowData = row">
          <div *ngIf="rowData.kubernetes.metadata.annotations"
              [title]="rowData.kubernetes.metadata.annotations[descriptionKey]">
            {{ rowData.kubernetes.metadata.annotations[descriptionKey] }}
          </div>
        </ng-container>
      </rc-table-col>
      <rc-table-col [width]="150"
                    name="{{'action' | translate}}"
                    [resizeable]="false"
                    cellClass="rc-col-cell-right"
                    headerClass="rc-header-cell-right">
        <div *rcTableColCell="let rowData = row">
          <rc-button-menu>
            <button rcButton
                    rcButtonSize="small"
                    rcButtonMenuDefault
                    [routerLink]="['/k8s_configmap/detail', clusterId, rowData.kubernetes.metadata.namespace, rowData.kubernetes.metadata.name]">
              {{ "view" | translate }}
            </button>
            <button rcMenuButton
                    *ngIf="configmapUtilities.showUpdate(rowData)"
                    (click)="showYamlDialog('update_configuration_item', rowData)">{{ "update" | translate }}</button>
            <button rcMenuButton
                    *ngIf="configmapUtilities.showDelete(rowData)"
                    (click)="deleteConfigmap(rowData)">{{ "delete" | translate }}</button>
          </rc-button-menu>
        </div>
      </rc-table-col>
    </rc-table>
  </div>

  <ng-template #tooltipKeyReferenced
             let-data>
    <div class="referenced-resources-tooltips-container">
      <a *ngFor="let item of data.referenced_list"
         class="referenced-resources-tooltips"
         (click)="redirctReferencedResource(item)">
        {{item.name}}
      </a>
    </div>
  </ng-template>

  <section class="rc-list-pagination" *ngIf="configItems?.length">
    <aui-paginator [length]="count"
                   [pageSize]="currentPageSize"
                   [pageIndex]="currentPage"
                   (page)="pageChanged($event)"
                   [pageSizeOptions]="[10, 20, 50, 100]">
    </aui-paginator>
  </section>
</aui-card>
