<div layout="row">
  <div class="ui input service-tags-input" flex="50">
    <rb-tags-input
      foldable="true"
      on-change="vm.onTagChange(tags)"
      add-on-space="false"
      validate-fn="vm.tagValidateFn"
      placeholder="'search_by_name_or_label' | translate"
      suggestions="vm.suggestions"
      before-item-add="vm.beforeTagItemAdd"
      keyup-callback="vm.enterToSearch"
      tag-class="vm.tagClass">
    </rb-tags-input>
  </div>
  <i class="icon search-btn cursor-pointer"
     ng-class="{'search': !vm.loading}"
     rb-loading-mask="vm.loading"
     ng-click="vm.search()"></i>
  <rb-dropdown
    size="xxs"
    options="vm.filterByOptions"
    key="name" value="value"
    on-change="vm.onFilterByChange(option)"></rb-dropdown>
  <rb-dropdown
    placeholder="{{ 'choose_tags' | translate }}"
    multiple="true"
    flex="25"
    options="vm.filterItems"
    key="label" value="label"
    on-add="vm.onfiltersAdd(option)"
    on-remove="vm.onfiltersRemove(option)"></rb-dropdown>
</div>