rb-app-service-labels-search {
  > div {
    align-items: center;
    .search-btn.icon {
      margin: 0 4px 0 0;
      line-height: 30px;
      height: 32px;
      width: 32px;
      background-color: #fff;
      transition: color 0.3s ease;
      border: 1px solid rgba(34, 36, 38, 0.15);
      border-left: none;
      color: #909090;
    }
    rb-dropdown {
      margin-right: 4px;
      .ui.dropdown .ui.label {
        float: left;
        max-width: 95%;
      }
    }
  }
}
