.rc-error-state {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

rc-loading-mask {
  height: 240px;
  background: transparent;
}

.tags-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  display: flex;
  align-items: center;
  margin-right: 4px;
  &__divider {
    margin: 0 4px;
  }
}
.tags-toggle {
  cursor: pointer;
  flex-shrink: 0;
  flex-basis: 20px;
  &__label {
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 12px;
    background: #fafafa;
    color: #666;
    display: inline-block;
    padding: 2px 4px;
  }
}
::ng-deep .owner-menu_item {
  padding: 5px;
  list-style: none;
  cursor: default;
  .owner-info__item {
    max-width: 120px !important;
    &__name {
      max-width: 54px !important;
    }
  }
}
