<ng-container *rcPageHeaderContent>
    <rc-breadcrumb>
        <ng-container *rcBreadcrumbItem>
            <a href="javascript: void(0)" (click)="back()">{{'application' | translate}}</a>
        </ng-container>
        <ng-container *rcBreadcrumbItem>
            {{appData?.resource.name}}
        </ng-container>
    </rc-breadcrumb>
</ng-container>
<!--Explain why there is no data-->
<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<ng-container *ngIf="initialized">
    <div *ngIf="!appData && !loading"
        class="rc-error-state">
        <div *ngIf="!loadError">
            {{ "have_no_app" | translate }}
        </div>
        <ng-container *ngIf="loadError">
            <div>
                {{ 'data_load_error' | translate }}
            </div>
            <button rcButton="primary"
                style="margin-top: 12px;"
                (click)="refetch()">
                {{ 'refresh' | translate }}
            </button>
        </ng-container>
    </div>
    <!-- App Basic Info -->
    <div *ngIf="appData"
        class="rc-detail-container">
        <div class="detail-icon">
            <img src="/static/images/resource/app.svg">
        </div>
        <div class="detail-wrapper">
            <div class="detail-header">
                <h3 [attr.title]="appData.resource.name">{{appData.resource.name}}</h3>
                <div class="detail-buttons">
                    <button aui-button
                        *ngIf="appUtilities.showStart(appData)"
                        [disabled]="!appUtilities.canStart(appData)"
                        (click)="startApp()">{{'start' | translate}}
                    </button>
                    <button aui-button
                        *ngIf="appUtilities.showStop(appData)"
                        [disabled]="!appUtilities.canStop(appData)"
                        (click)="stopApp()">{{'stop' | translate}}
                    </button>

                    <button aui-button
                        [auiDropdown]="menu"
                        [hidden]="!menu.hasEnabledItem">
                        {{'action' | translate}}
                        <aui-icon icon="angle_down"
                            margin="left"></aui-icon>
                    </button>
                    <aui-menu #menu
                        size="small">
                        <aui-menu-item *ngIf="appUtilities.showUpdate(appData)"
                            [disabled]="!appUtilities.canUpdate(appData)"
                            (click)="updateApp()">{{ 'update' | translate }}</aui-menu-item>
                        <aui-menu-item *ngIf="appUtilities.showDelete(appData)"
                            [disabled]="!appUtilities.canDelete(appData)"
                            (click)="deleteApp()">{{ 'delete' | translate }}</aui-menu-item>
                    </aui-menu>

                </div>
            </div>
            <div class="detail-content">
                <!--状态-->
                <div class="detail-item">
                    <label>{{'status' | translate}}</label>
                    <rc-service-status-badge [status]="appData.services[0]?.resource.new_status || appData.services[0]?.resource.status"
                                 [desiredInstances]="appData.services[0]?.resource.instances?.desired"
                                 [currentInstances]="appData.services[0]?.resource.instances?.current"></rc-service-status-badge>
                </div>
                <!-- 集群 -->
                <div class="detail-item">
                    <label>{{'cluster' | translate}}</label>
                    <div>
                        <div class="tags-container">
                            <span class="tags-container__item">{{clusterDisplayName}}</span>
                            <ng-container *ngFor="let item of mirrorApps">
                                <span class="tags-container__divider">;</span>
                                <a class="tags-container__item"
                                    (click)="redirectToMirrorApp(item)"
                                    href="javascript:void(0)">{{item.cluster_display_name}}</a>
                            </ng-container>
                        </div>
                        <div class="tags-toggle"
                            *ngIf="mirrorApps && mirrorApps.length"
                            [auiDropdown]="clustersMenu">
                            <div class="tags-toggle__label">...</div>
                        </div>
                        <aui-menu #clustersMenu
                            size="small">
                            <aui-menu-item *ngFor="let item of mirrorApps"
                                (click)="redirectToMirrorApp(item)">{{item.cluster_display_name}}</aui-menu-item>
                        </aui-menu>
                    </div>
                </div>
                <!--负责人-->
                <div class="detail-item">
                    <label>{{'app_owner' | translate}}</label>
                    <div class="tags-container">
                        <rc-owner-display [owner]="appOwners[0]"></rc-owner-display>
                    </div>
                    <div class="tags-toggle"
                        *ngIf="appOwners && appOwners.length > 1"
                        [auiDropdown]="appOwnerMenu">
                        <div class="tags-toggle__label">...</div>
                    </div>
                    <aui-menu #appOwnerMenu
                        size="more_info">
                        <li class="owner-menu_item" *ngFor="let owner of appOwners">
                            <rc-owner-display [owner]="owner"></rc-owner-display>
                        </li>
                    </aui-menu>
                </div>
                <!--创建时间-->
                <div class="detail-item">
                    <label>{{'created_at' | translate}}</label>
                    <div>{{appData.resource.created_at | rcFormatUtcStr}}</div>
                </div>
                <!--镜像-->
                <div class="detail-item">
                    <label>{{'image' | translate}}</label>
                    <div>
                        <rc-service-image-display [imageDisplayParams]="imageDisplayParams"></rc-service-image-display>
                    </div>
                </div>
                <!-- 访问地址 -->
                <div class="detail-item"
                    [hidden]="!appAddresses.length">
                    <label>{{'app_address' | translate}}</label>
                    <rc-endpoints-display [urlList]="appAddresses"></rc-endpoints-display>
                </div>
                <!-- 内部路由访问地址 -->
                <div class="detail-item"
                    [hidden]="!serviceAddress.length">
                    <label>{{'kube_service' | translate}}</label>
                    <rc-endpoints-display [urlList]="serviceAddress"></rc-endpoints-display>
                </div>
            </div>
        </div>
    </div>

    <rc-tab-group *ngIf="appData">
        <!--实例列表-->
        <div *rcTab="'instances' | translate">
            <rc-service-instances #instances
                [canUpdate]="appUtilities.showUpdate(appData)"
                [clusterId]="appData.cluster.uuid"
                [serviceId]="serviceUuid"
                (shouldRefresh)="refetch()"></rc-service-instances>
        </div>
        <!-- k8s event -->
        <div *rcTab="'event' | translate">
            <rc-k8s-event-list kind="Deployment,Application,Pod,EndPoint,Service,HorizontalPodAutoscaler,ReplicaSet"
                [name]="appData.resource.name"
                [cluster]="appData.cluster.name"
                [embedded]="true"
                [namespace]="appData.namespace.name"></rc-k8s-event-list>
        </div>
        <!-- 日志 -->
        <div *rcTab="'logs' | translate">
            <rc-component-log [uuid]="serviceUuid"
                [clusterUuid]="appData.cluster.uuid"
                [namespaceName]="appData.namespace.name"></rc-component-log>
        </div>
        <!-- 监控 -->
        <div *rcTab="'monitoring' | translate">
            <rc-component-monitor [uuid]="serviceUuid"
                [clusterName]="appData.cluster.name"
                [namespaceName]="appData.namespace.name"
                [componentName]="appData.services[0].resource.name"
                [componentType]="appData.services[0].resource.kind"></rc-component-monitor>
        </div>
        <!-- 告警 -->
        <div *rcTab="'alarm' | translate">
            <rc-component-alarm [uuid]="serviceUuid"
                [clusterName]="appData.cluster.name"
                [namespaceName]="appData.namespace.name"
                [componentName]="appData.services[0].resource.name"
                [componentType]="appData.services[0].resource.kind"></rc-component-alarm>
        </div>
        <!-- 应用配置 -->
        <div *rcTab="'app_config' | translate">
            <rc-service-detail-config [kubernetes]="appData.kubernetes"></rc-service-detail-config>
        </div>
        <!-- 容器配置 -->
        <div *rcTab="'container_config' | translate">
            <rc-service-container-config [kubernetes]="appData.kubernetes"></rc-service-container-config>
        </div>
        <!--Yaml-->
        <div *rcTab="'yaml_compose_file' | translate">
            <aui-code-editor name="yaml"
                required
                [(ngModel)]="appYaml"
                [options]="codeEditorOptions"></aui-code-editor>
        </div>
    </rc-tab-group>
</ng-container>