<rc-loading-mask [loading]="!initialized && loading"></rc-loading-mask>
<aui-card *ngIf="!(loadError | async)">
  <div fxLayout="row" class="rc-list-header">
    <span fxFlex></span>
    <rc-search-input [loading]="searching" (onSearch)="searchChanged($event)"></rc-search-input>
    <button rcIconButton [disabled]="loading" (click)="refetch()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
  <div *ngIf="initialized" class="rc-list-container">
    <aui-table #serviceInstance [dataSource]="instanceItems" [trackBy]="trackByFn">
      <!-- `name` -->
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'service_catalog_instance_name' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div class="rc-resource-name-cell row-image">
            <span *ngIf="status(item) === 'brokerBreakdown'" class="fa fa-exclamation-circle service-catalog-warning-exclamation-circle"
              [rcTooltip]="'service_catalog_broker_instance_breakdown' | translate" [rcTooltipInline]="false" rcTooltipMode="warning"
              rcTooltipPosition="top"></span>
            <span *ngIf="status(item) === 'instanceCreating'" class="fa fa-refresh service-catalog-sync-circle" [rcTooltip]="'status_creating' | translate"
              [rcTooltipInline]="false" rcTooltipMode="info" rcTooltipPosition="top"></span>
            <span *ngIf="status(item) === 'instanceBreakdown'" class="fa fa-exclamation-circle service-catalog-warning-exclamation-circle"
              [rcTooltip]="'service_catalog_instance_breakdown' | translate" [rcTooltipInline]="false" rcTooltipMode="warning"
              rcTooltipPosition="top"></span>
            <img src="/static/images/service-catalog/service-instance.svg" [ngClass]="{'service-catalog-error-image':status(item) !== 'running'}">
            <div class="rc-lines">
              <div class="rc-line display-name">
                <a href="javascript:void(0)" (click)="viewInstance(item)" [title]="item.kubernetes.metadata.name">{{ item.kubernetes.metadata.name }}</a>
              </div>
              <div class="rc-line">
                <span>Service Class:&nbsp;</span>{{ item.kubernetes.spec.clusterServiceClassExternalName }}
              </div>
            </div>
          </div>
        </aui-table-cell>
      </ng-container>
      <!-- `servicePlan` -->
      <ng-container auiTableColumnDef="servicePlan">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'service_catalog_service_plan' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.kubernetes.spec.clusterServicePlanExternalName }}
        </aui-table-cell>
      </ng-container>
      <!-- `binding app num` -->
      <ng-container auiTableColumnDef="bindingAppNum">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'binding_app_num' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ getAppNum(item) }}{{'service_catalog_measure_word' | translate}}
        </aui-table-cell>
      </ng-container>
      <!-- `namespace` -->
      <ng-container auiTableColumnDef="namespace">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'namespace' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.kubernetes.metadata.namespace }}
        </aui-table-cell>
      </ng-container>
      <!-- `action` -->
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div [auiDropdown]="menu" class="action-button">
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </div>
          <aui-menu #menu size="small">
            <aui-menu-item (click)="viewInstance(item)">
              {{ 'view' | translate }}
            </aui-menu-item>
            <aui-menu-item *ngIf="serviceCatalogUtilities.showInstanceUpdate(item)" (click)="bindApp(item)">
              {{ 'service_catalog_binding_application' | translate }}
            </aui-menu-item>
            <aui-menu-item *ngIf="serviceCatalogUtilities.showInstanceUpdate(item)"
                           [disabled]="status(item) === 'brokerBreakdown' || !updateEnable(item)"
                           (click)="updateParams(item)">
              {{ 'service_catalog_update_params' | translate }}
            </aui-menu-item>
            <aui-menu-item *ngIf="serviceCatalogUtilities.showInstanceDelete(item)" (click)="deleteInstance(item)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </aui-menu>
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row *auiTableHeaderRowDef="['name', 'servicePlan', 'bindingAppNum', 'namespace', 'action']">
      </aui-table-header-row>
      <aui-table-row *auiTableRowDef="let row; columns: ['name', 'servicePlan', 'bindingAppNum', 'namespace', 'action'];">
      </aui-table-row>
    </aui-table>
    <section class="rc-list-pagination" *ngIf="!((loadError | async) ||  empty)">
      <rc-pagination [count]="count" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"></rc-pagination>
    </section>
  </div>
</aui-card>

<rc-loading-error-page *ngIf="(loadError | async) && !initialized" (refresh)="refetch()"></rc-loading-error-page>
