.rc-list-header {
  margin: 8px 0 16px;
  .search-input {
    margin-right: 8px;
    input {
      border-radius: 5px 0 0 5px;
      min-width: 24rem;
    }
    button {
      border-radius: 0 5px 5px 0;
      margin-left: -1px;
    }
  }
  rc-search-input {
    margin-right: 8px;
  }
}

.row-image {
  position: relative;
  > span {
    position: absolute;
    top: 31px;
    left: 33px;
    z-index: 1;
  }
}
