.rb-console {
  .rb-form {
    .command-container {
      pre {
        white-space: normal;
        background-color: black;
        color: white;
      }
    }

    .rb-form-row.command-example {
      margin-bottom: 0;
      .command-description {
        padding-top: 10px;
      }
    }

    .rb-form-row.command-placeholder {
      .fa.fa-question-circle {
        font-size: 18px;
        padding-left: 5px;
      }
    }
  }
}
