<div class="rb-form-panel">
  <div class="rb-form-container">
    <ng-form name="form" class="rb-form">
      <div ng-repeat="example in vm.HELP_TEXTS.EXEC_EXAMPLES track by $index">
        <div class="rb-form-row command-example">
          <div class="command-description">
            {{ example.description }}
          </div>
        </div>
        <div class="rb-form-row command-placeholder">
          <div class="command-container">
            <pre>
              <rb-copy-span bind-text="example.command"></rb-copy-span>
            </pre>
          </div>
          <div>
            <span class="fa fa-question-circle"
                  uib-popover-html="'pipeline_common_command_placeholder' | translate"
                  popover-placement="left"
                  popover-trigger="'mouseenter'"
                  popover-append-to-body="true"></span>
          </div>
        </div>
      </div>
    </ng-form>
  </div>

  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button class="ui button rb-btn-primary"
              ng-click="vm.cancel()">
        {{ 'confirm' | translate }}
      </button>
    </div>
  </div>
</div>
  