<div class="rb-form-container">
  <ng-form class="rb-form" name="vm.advancedForm">
    <!-- service_type (STATEFUL, STATELESS) -->
    <div class="rb-form-row input">
      <div class="rb-label">{{ 'application_type' | translate }}</div>
      <div flex="70" flex-md="80" flex-sm="80" flex-xs="80">
        <rb-radio-group options="vm.serviceTypes"
                        key="name"
                        value="value"
                        on-change="vm.onServiceTypeChange(option)"></rb-radio-group>
      </div>
    </div>
    <!-- volumes -->
    <div ng-if="vm.isStatefulService()" class="rb-form-row input">
      <div class="rb-label">
        {{ 'volume' | translate }}
      </div>
      <rb-service-fieldset-volumes flex="70" flex-md="80" flex-sm="80" flex-xs="80"
                                   service-volumes="vm.model.volumes"
                                   volume-changed="vm.checkUpdateStrategy(volumes)"
                                   available-volumes="vm.availableVolumes">
      </rb-service-fieldset-volumes>
    </div>
    <!-- scaling_mode -->
    <div ng-if="vm.isScalingModeEnabled()">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">{{ 'scaling_mode' | translate }}</div>
        <div flex="70" flex-md="80" flex-sm="80" flex-xs="80">
          <rb-radio-group options="vm.getScalingModeOptions()"
                          key="name"
                          value="value"
                          on-change="vm.onScalingModeChange(option)"></rb-radio-group>
        </div>
      </div>
      <!-- target_num_instances -->
      <div ng-if="vm.model.scaling_mode === 'MANUAL'" class="rb-form-row input">
        <div class="rb-label">
          {{ 'instance_num' | translate }}
        </div>
        <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" class="rb-form-row-input-wrap">
          <input type="number"
                 ng-model="vm.model.target_num_instances"
                 max="200"
                 min="1"
                 rb-errors-tooltip
                 rb-errors-tooltip-mapper="{
                   'pattern': (vm.targetNumInstancesRegExp.tip | translate)
                 }"
                 ng-pattern="vm.targetNumInstancesRegExp.pattern"
                 ng-disabled="vm.disableInstanceNumber"
                 ng-readonly="vm.disableInstanceNumber"
                 required>
        </div>
      </div>
      <!-- autoscaling_config -->
      <div ng-if="vm.model.scaling_mode === 'AUTO' && vm.model.pod_controller !== 'StatefulSet'">
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'min_num_instances' | translate }}
          </div>
          <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" class="rb-form-row-input-wrap">
            <input name="minimum_num_instances"
                   type="number"
                   ng-pattern="/^\d+$/"
                   placeholder="1-200"
                   max="200"
                   min="1"
                   ng-model="vm.model.autoscaling_config.minimum_num_instances"
                   required>
          </div>
        </div>
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'max_num_instances' | translate }}
          </div>
          <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" class="rb-form-row-input-wrap">
            <input name="maximum_num_instances"
                   type="number"
                   ng-pattern="/^\d+$/"
                   placeholder="1-200"
                   max="200"
                   min="1"
                   ng-model="vm.model.autoscaling_config.maximum_num_instances"
                   required>
          </div>
        </div>
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'decrease_delta' | translate }}
          </div>
          <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" class="rb-form-row-input-wrap">
            <input name="decrease_delta"
                   type="number"
                   ng-pattern="/^\d+$/"
                   placeholder="1-200"
                   max="200"
                   min="1"
                   ng-model="vm.model.autoscaling_config.decrease_delta"
                   required>
          </div>
        </div>
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'increase_delta' | translate }}
          </div>
          <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" class="rb-form-row-input-wrap">
            <input name="increase_delta"
                   type="number"
                   ng-pattern="/^\d+$/"
                   placeholder="1-200"
                   max="200"
                   min="1"
                   ng-model="vm.model.autoscaling_config.increase_delta"
                   required>
          </div>
        </div>
      </div>
    </div>

    <!-- service update strategy -->
    <div ng-if="vm.updateStrategyEnabled()">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input" ng-if="vm.model.pod_controller === 'Deployment'">
        <div class="rb-label">
          {{ 'service_max_surge' | translate }}
        </div>
        <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" class="rb-form-row-input-wrap" style="padding-right: 0">
          <input name="max_surge"
                 type="text"
                 ng-pattern="/^[0-9]+[%]?$/"
                 placeholder="{{ 'update_strategy_placeholder'| translate }}"
                 ng-disabled="vm.model.update_strategy.max_surge_disabled"
                 rb-errors-tooltip
                 rb-errors-tooltip-mapper="{'duplicateZero': ('update_strategy_null_together_tips' | translate)}"
                 ui-validate="{duplicateZero: 'vm.validateUpdateStrategy($value, 0)'}"
                 ng-model="vm.model.update_strategy.max_surge"
                 required>
          <div class="rb-input-field-addon" style="width: 70px">
            <i class="fa fa-question-circle margin-left-1"
               uib-popover-html="'service_max_surge_desc' | translate"
               popover-placement="top"
               popover-trigger="'mouseenter'"
               popover-append-to-body="true"></i>
          </div>
        </div>
      </div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'service_max_unavailable' | translate }}
        </div>
        <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" class="rb-form-row-input-wrap" style="padding-right: 0">
          <input name="max_unavailable"
                 type="text"
                 ng-pattern="/^[0-9]+[%]?$/"
                 rb-errors-tooltip
                 placeholder="{{ 'update_strategy_placeholder'| translate }}"
                 rb-errors-tooltip-mapper="{
                   'duplicateZero': ('update_strategy_null_together_tips' | translate),
                   'valueInvalid': ('update_strategy_max_unavailable_overflow' | translate),
                   'zeroCheck': ('update_strategy_max_unavailable_zero_in_daemon' | translate),
                   }"
                 ui-validate="{
                   duplicateZero: 'vm.validateUpdateStrategy($value, 1)',
                   valueInvalid: 'vm.validateUnavailableValue($value)',
                   zeroCheck: 'vm.zeroCheckInDaemonSet($value)'
                   }"
                 ng-disabled="vm.model.update_strategy.max_unavailable_disabled"
                 ng-model="vm.model.update_strategy.max_unavailable"
                 required>
          <div class="rb-input-field-addon" style="width: 70px">
            <i class="fa fa-question-circle margin-left-1"
               uib-popover-html="'service_max_unavailable_desc' | translate"
               popover-placement="top"
               popover-trigger="'mouseenter'"
               popover-append-to-body="true"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- node_tag -->
    <!--- is not k8s region, only tags -->
    <div ng-if="vm.region.container_manager !== 'KUBERNETES'">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'node_tag' | translate }}
        </div>
        <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" class="rb-form-row-input-wrap">
          <rb-dropdown flex
                       on-change="vm.selectNodeTag(option)"
                       options="vm.availableNodeTags"
                       key="node_tag_key"
                       value="node_tag">
          </rb-dropdown>
        </div>
      </div>
    </div>

    <!--- is k8s region, support labels -->
    <div ng-if="vm.isK8sUpdateNodeTagsEnabled">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'node_tag' | translate }}
        </div>
        <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" class="rb-form-row-input-wrap long-tags"
             style="padding-right: 0">
          <rb-dropdown multiple="true"
                       on-add="vm.addNodeLabels(option)"
                       on-remove="vm.removeNodeLabels(option)"
                       options="vm.availableNodeLables"
                       key="display"
                       filter-threshold='20'
                       value="display">
          </rb-dropdown>
          <button ng-disabled="!vm.model.node_selector.length" class="ui button rb-btn-oper" style="line-height: 20px;"
                  ng-click="vm.checkAvailableNodes()">
            {{ "service_create_node_check" | translate }}
          </button>
          <div class="rb-input-field-addon" style="width: 70px">
            <i class="fa fa-question-circle margin-left-1"
               uib-popover-html="'node_labels_desc' | translate"
               popover-placement="top"
               popover-trigger="'mouseenter'"
               popover-append-to-body="true"></i>
          </div>
        </div>
      </div>
      <div class="rb-form-row" ng-if="vm.availableNodesChecked">
        <div class="rb-label">
        </div>
        <div flex="70" ng-style="{'color': vm.availableNodes?'':'red'}">
          {{ vm.availableNodes }} {{ 'nodes_meet_filter'| translate }}
        </div>
      </div>
    </div>
    <!-- service_affinity -->
    <div class="rb-form-fieldset-interval" ng-if="vm.affinityEnabled()"></div>
    <div class="rb-form-row input" ng-if="vm.affinityEnabled()">
      <div class="rb-label">
        {{ "service_affinity" | translate }}
      </div>
      <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" style="padding-right: 70px">
        <rb-service-affinity-control
          ng-model="vm.model.kube_affinity"
          self="vm.model"
          services="vm.services"
          service-labels="vm.serviceLabels"
          node-labels="vm.nodeLabels"
        ></rb-service-affinity-control>
      </div>
    </div>
    <!-- run_command & entrypoint -->
    <div class="rb-form-fieldset-interval"></div>
    <div class="rb-form-row input">
      <div class="rb-label">
        {{ 'image_use_cmd_type' | translate }}
      </div>
      <div flex="70" flex-md="80" flex-sm="80" flex-xs="80">
        <rb-radio-group options="vm.runCommandTypes" key="name" value="value"
                        on-change="vm.onRunCommandTypeChange(option)"></rb-radio-group>
        <i class="fa fa-question-circle margin-left-1"
           uib-popover-html="'custom_entrypoint_desc' | translate"
           popover-placement="top"
           popover-trigger="'mouseenter'"
           popover-append-to-body="true"></i>
      </div>
    </div>
    <div class="rb-form-row input">
      <div class="rb-label">
        {{ 'entrypoint' | translate }}
      </div>
      <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" class="rb-form-row-input-wrap">
        <input type="text"
               ng-model="vm.model.entrypoint"
               rb-errors-tooltip
               name="entrypoint"
               ng-maxlength="1024"
               ng-disabled="vm.model.useDefaultCmd || vm.region.container_manager === 'SWARM'">
      </div>
    </div>
    <div class="rb-form-row input">
      <div class="rb-label">
        {{ 'cmd' | translate }}
      </div>
      <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" class="rb-form-row-input-wrap">
        <input type="text"
               ng-model="vm.model.run_command"
               name="run_command"
               rb-errors-tooltip
               ng-maxlength="1024"
               ng-disabled="vm.model.useDefaultCmd">
      </div>
    </div>

    <!-- file log -->
    <div ng-if="vm.logFileFieldsEnabled()">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'log_file' | translate }}
        </div>
        <rb-service-fieldset-log-files flex="70" flex-md="80" flex-sm="80" flex-xs="80"
                                       files="vm.model.includeLogFiles"></rb-service-fieldset-log-files>
      </div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'exclude_log_file' | translate }}
        </div>
        <rb-service-fieldset-log-files flex="70" flex-md="80" flex-sm="80" flex-xs="80"
                                       files="vm.model.excludeLogFiles"></rb-service-fieldset-log-files>
      </div>
    </div>
    <!-- link services -->
    <div ng-if="vm.serviceList.length > 0">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">{{ 'link_app' | translate }}</div>
        <rb-service-fieldset-link-services flex="70" flex-md="80" flex-sm="80" flex-xs="80"
                                           service-list="vm.serviceList"
                                           link-service-list="vm.model.linkServiceList"></rb-service-fieldset-link-services>
      </div>
    </div>

    <!-- env files -->
    <div>
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">{{ 'env_file' | translate }}</div>
        <rb-service-fieldset-env-files flex="70" flex-md="80" flex-sm="80" flex-xs="80"
                                       env-files="vm.model.envFiles"></rb-service-fieldset-env-files>
      </div>
    </div>

    <!-- env vars -->
    <div class="rb-form-fieldset-interval"></div>
    <div class="rb-form-row input">
      <div class="rb-label">{{ 'environment_variable' | translate }}</div>
      <rb-service-fieldset-env-vars flex="70" flex-md="80" flex-sm="80" flex-xs="80"
                                    env-vars="vm.model.envVars"></rb-service-fieldset-env-vars>
    </div>
    <!-- config files -->
    <div ng-if="vm.configManageEnabled()">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'config_files' | translate }}
        </div>
        <rb-service-fieldset-config-files flex="70" flex-md="80" flex-sm="80" flex-xs="80"
                                          config-files="vm.model.configFiles"></rb-service-fieldset-config-files>
      </div>
    </div>
  </ng-form>
</div>
