.rb-form-row-input-wrap.long-tags {
  a.ui.label.transition.visible {
    span {
      word-break: break-all;
    }
  }
}
rb-service-create-advance-setting {
  rb-service-fieldset-config-files {
    padding-right: 70px;
  }
}
rb-service-add-volume-dialog {
  .limit-hint {
    text-align: left;
    color: #888;
    margin-left: 154px;
    max-width: 360px;
  }
}
