<table *ngIf="artifactList && artifactList.length > 0"
       class="app-table table table-bordered table-hover"
       style="table-layout: fixed;">
  <thead>
    <tr>
      <td style="min-width: 150px;">
        {{ "name" | translate }}
      </td>
      <td style="width: 100px">
        {{ "size" | translate }}
      </td>
      <td style="width: 100px;">
        {{ "action" | translate }}
      </td>
    </tr>
  </thead>
  <tbody>

    <!-- TODO: make this structural -->
    <tr *ngFor="let artifact of artifactList">
      <td>
        <a [href]="artifact.downloadUrl"
           target="_blank">{{ artifact.key }}</a>
      </td>
      <td>
        {{ artifact.size | rcBytesFormatter }}
      </td>
      <td class="control-buttons">
        <a class="btn btn-xs rb-btn-oper"
           download
           [href]="artifact.downloadUrl"
           [rcTooltip]="'download' | translate"
           rcTooltipPosition="top center">
          <i class=" fa fa-download"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="loading && !artifactList"
     style="height:80px"
     [rcLoadingMask]="true"></div>
<div class="rb-loading-mask-placeholder"
     *ngIf="!loading && (!artifactList || !artifactList.length)">
  {{ 'build_artifactList_not_available' | translate }}
</div>
