@import '_colors.palette';

.rc-table-divide {
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-size: 16px;
  color: #61666b;

  &::before {
    content: '';
    display: block;
    width: 3px;
    height: 14px;
    margin: 0 5px;
    border-radius: 3px;
    background-color: $blue-6;
  }
}
