<div [rcLoadingMask]="!(logSource$ | async)">
  <div class="rc-table-divide">{{ 'region_log_source_query' | translate }}</div>

  <rc-table
    [rows]="pluck(logSource$, 'read_log_source') | async"
    columnMode="force"
    [headerHeight]="34"
    [rowHeight]="34"
    class="rc-secondary-table">
    <rc-table-col
      [width]="200"
      [name]="'name' | translate">
      <div *rcTableColCell="let rowData=row">
        <a
          *ngIf="rowData.id !== 'default'"
          [routerLink]="['/integration_center/detail', rowData.id]">
          {{ rowData.name }}
        </a>
        <span *ngIf="rowData.id === 'default'">{{ rowData.name }}</span>
      </div>
    </rc-table-col>
    <rc-table-col
      [width]="200"
      [name]="'type' | translate">
      <div *rcTableColCell="let rowData=row">
        {{ rowData.type }}
      </div>
    </rc-table-col>
    <rc-table-col
      [width]="500"
      [name]="'Kibana' + ('address' | translate)" [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let rowData=row">
        <a *ngIf="rowData.kibana_address"
           target="_blank"
           [href]="rowData.kibana_address"
           [attr.title]="rowData.kibana_address">{{ rowData.kibana_address }}</a>
        <span *ngIf="!rowData.kibana_address">-</span>
      </div>
    </rc-table-col>
  </rc-table>

  <div class="rc-table-divide">{{ 'region_log_source_output' | translate }}</div>

  <rc-table
    columnMode="force"
    [rows]="pluck(logSource$, 'write_log_source') | async"
    [headerHeight]="34"
    [rowHeight]="34"
    class="rc-secondary-table">
    <rc-table-col
      [width]="200"
      [name]="'name' | translate">
      <div *rcTableColCell="let rowData=row">
        <a
          *ngIf="rowData.id !== 'default'"
          [routerLink]="['/integration_center/detail', rowData.id]">
          {{ rowData.name }}
        </a>
        <span *ngIf="rowData.id === 'default'">{{ rowData.name }}</span>
      </div>
    </rc-table-col>
    <rc-table-col
      [width]="200"
      [name]="'type' | translate">
      <div *rcTableColCell="let rowData=row">
        {{ rowData.type }}
      </div>
    </rc-table-col>
    <rc-table-col
      [width]="500"
      name="">
      <!--empty placeholder-->
    </rc-table-col>
  </rc-table>
</div>
