<rc-form-container class="catalog-create-app">

  <div class="form-section-header">
    <div class="form-section-header__title">{{ 'service_catalog_create_service_broker' | translate }}</div>
  </div>
  <div class="register-broker-form-container">
    <form class="rb-form" #serviceBrokerForm="ngForm">
      <!-- broker名称 -->
      <rc-form-field label="{{'service_catalog_broker_name' | translate}}" [shouldFlexRow]="true">
        <input rcInput
                name="name"
                maxlength="63"
                [placeholder]="'service_catalog_create_broker_name_placeholder' | translate"
                [pattern]="resourceNameReg.pattern"
                [(ngModel)]="serviceBrokerPayload.metadata.name"
                required>
      </rc-form-field>
      <!-- 显示名称 -->
      <rc-form-field label="{{'display_name' | translate}}" [shouldFlexRow]="true">
        <input rcInput
                name="display_name"
                [(ngModel)]="broker_display_name">
      </rc-form-field>
      <!-- Service Broker 链接 -->
      <rc-form-field label="{{'service_catalog_broker_link' | translate}}" [shouldFlexRow]="true">
        <input rcInput
                name="url"
                pattern="(https?)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]"
                [(ngModel)]="serviceBrokerPayload.spec.url"
                [placeholder]="'service_catalog_create_broker_url_placeholder' | translate"
                required>
      </rc-form-field>
      <!-- caBundle -->
      <rc-form-field label="{{'service_catalog_broker_caBundle' | translate}}" [shouldFlexRow]="true">
        <textarea rcInput 
                  name="caBundle" 
                  class="caBundle"
                  [(ngModel)]="serviceBrokerPayload.spec.CABundle"
                  [placeholder]="'service_catalog_create_broker_caBundle_placeholder' | translate">
        </textarea>
      </rc-form-field>
      <!-- 用户名 -->
      <rc-form-field label="{{'username' | translate}}" [shouldFlexRow]="true">
        <input rcInput
               name="basicAuthUsernameKey"
               maxlength="63"
               [(ngModel)]="serviceBrokerPayload.spec.authInfo.basicAuthUsernameKey"
               [placeholder]="'service_catalog_create_broker_username_placeholder' | translate">
      </rc-form-field>
      <!-- 密码 -->
      <rc-form-field label="{{'password' | translate}}" [shouldFlexRow]="true">
        <input rcInput
               type="password"
               name="basicAuthPasswordKey"
               maxlength="63"
               [(ngModel)]="serviceBrokerPayload.spec.authInfo.basicAuthPasswordKey"
               [placeholder]="'service_catalog_create_broker_password_placeholder' | translate">
      </rc-form-field>
    </form>
  </div>

  <ng-container *rcFooterContent>
    <div>
      <button fxFlexOffset="140px" rcButton="primary"
              [loading]="submitting"
              (click)="createBroker()">
              {{'service_catalog_create_service_broker' | translate}}
      </button>
      <button fxFlexOffset="12px" rcButton (click)="cancelCreateBroker()">{{'cancel' | translate}}</button>
    </div>
  </ng-container>
</rc-form-container>