@import 'colors.styles';

$form-margin-right: 120px;

.form-section-header {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid $default-border-color;
  padding: 4px 0;
  margin-bottom: 20px;

  &__title {
    font-weight: 500;
    font-size: 18px;
  }

  > *:last-child {
    margin-right: $form-margin-right;
  }
}

.button-link {
  cursor: pointer;
  color: $rb-blue;
  margin-left: 20px;
}

.rc-detail-container.catalogBasicInfo {
  border-radius: 8px;
}

:host {
  form {
    ::ng-deep label.form-field-label {
      width: 250px;
      word-wrap: break-word;
      word-break: break-word;
    }

    ::ng-deep .addon-container {
      display: none;
    }

    rc-form-field {
      margin-bottom: 4px;
    }
  }

  .caBundle {
    height: 85px;
    resize: none;
  }

  .register-broker-form-container {
    border-bottom: 1px solid $default-border-color;
  }

  .rb-form {
    margin-right: 120px;
    ::ng-deep rc-multi-selection-dropdown {
      flex: 1;
    }
  }

  ::ng-deep .rc-form-container {
    padding-bottom: 0px !important;
  }

  ::ng-deep .rc-form-footer {
    padding-left: 125px !important;
    padding-top: 20px !important;
  }

  ::ng-deep .rc-form-panel {
    border: 0px !important;
    padding: 0px 16px !important;
  }
}
