<form class="rc-dialog-content" #form="ngForm">
  <rc-form-field
  [label]="'name' | translate">
    <input
    rcInput
    name="name"
    [(ngModel)]="name"
    [minlength]="4"
    [maxlength]="62"
    pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
    required
    [placeholder]="'regexp_tip_k8s_resource_name_base' | translate">
  </rc-form-field>
</form>

<div class="rc-dialog-footer">
  <button
    rcButton="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="create()">
    {{ 'create' | translate }}
  </button>
  <button
    rcButton
    [disabled]="submitting"
    (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
