<div rb-loading-mask="!vm.initialized">
  <div class="rb-page-heading" flex layout="row">
    <rb-search-input
      loading="vm.searching"
      search-on-change="true"
      on-search="vm.onSearchChanged(value)"
      flex=30>
    </rb-search-input>
    <div flex></div>
    <button class="ui button rb-btn-primary"
            ng-if="vm.buttonDisplayExpr('assign')"
            ng-click="vm.addUser()">{{'add_user' | translate}}
    </button>
  </div>

  <table class="table app-table" rb-loading-mask="vm.loading">
    <thead>
    <tr>
      <td>{{'username'|translate}}</td>
      <td style="width:180px;">{{'assigned_at'|translate}}</td>
      <td style="width:80px;">{{'action' | translate}}</td>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in vm.users | filter : {user: vm.userNameFilterKey} track by $index">
      <td>
        {{item.user}}
      </td>
      <td>
        {{item.assigned_at | formatUtcStr}}
      </td>
      <td>
        <button type="button" class="btn btn-xs rb-btn-oper"
                ng-if="vm.buttonDisplayExpr('revoke')"
                ng-click="vm.deleteUser(item, $index)"
                tooltip-placement="top"
                uib-tooltip="{{ 'delete' | translate }}">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <rb-pagination
    ng-show="vm.pagination.count > vm.pagination.page_size"
    class="pull-right"
    total-items="vm.pagination.count"
    size="vm.pagination.page_size"
    on-change="vm.pageNoChange(page)">
  </rb-pagination>
</div>