<ul class="rb-striped-list">
  <li class="title">
    <div flex="30">{{'file_path '| translate}}</div>
    <div flex="70">{{'value '| translate}}</div>
  </li>
  <li class="content cursor-pointer" layout="column" ng-click="vm.toggleItemValue($index)" ng-repeat="item in vm.configFiles track by $index">
    <div flex="100" class="config-detail-line" layout="row">
        <div flex="30" layout="row">
          <div flex="5">
            <span class="fa fa-caret-down" ng-class="{'rb-collapse': !vm.toggleItem[$index]}"></span>
          </div>
          <div style="overflow: hidden; text-overflow: ellipsis; margin-right: 2rem;">
            <rb-copy-span flex="70" class="ellipsis"
                          bind-text="item.path" tooltip="vm.getConfigFileTooltip(item)"></rb-copy-span>
          </div>
        </div>
        <div flex="70">
          <div ng-if="item.type === 'raw'" class="ellipsis value-preview">
                {{item.value}}
          </div>
          <div ng-if="item.type !== 'raw'" class="ellipsis value-preview">
            <a href="app_service/configuration/detail?name={{item.value.uuid}}">{{item.value.name}}</a> / {{item.value.key}}
          </div>
        </span>
        </div>
      </div>
      <div flex="100" ng-if="vm.toggleItem[$index]" class="code-wrap"
           rb-loading-mask="item.type !== 'raw' && !vm.initialized[$index]">
        <ui-codemirror ng-if="item.type === 'raw'" ui-codemirror-opts="vm.editorOptions"
                       ng-model="item.value"></ui-codemirror>
        <ui-codemirror ng-if="item.type !== 'raw'" ui-codemirror-opts="vm.editorOptions"
                       ng-model="vm.cacheContents[item.value.name + '/' + item.value.key]"></ui-codemirror>
      </div>
  </li>
</ul>
