@import 'colors.styles';

.rb-console {
  rb-radio-group {
    display: flex;
    flex-shrink: 0;
  }
  rb-radio-group > .rb-radio-group {
    display: flex;
    align-self: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);

    &.readonly {
      opacity: 0.66;
      .rb-radio-btn {
        cursor: default;
      }
    }

    .rb-radio-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 8px;
      font-size: 14px;
      border: 1px solid #ddd;
      color: #5d5d5d;
      line-height: 14px;
      background-color: #fff;
      transition: background-color 0.3s;
      &.rb-radio-disabled {
        color: rgba(135, 135, 135, 0.87);
        cursor: default;
        &:hover {
          background-color: #fff;
        }
      }
      > i {
        margin-right: 4px;
        display: none;
      }
      &.rb-radio-active,
      &.rb-radio-active:hover {
        background-color: #ebebeb;
        > i {
          display: block;
        }
      }
    }

    button:active {
      top: 0;
      left: 0;
    }
  }
}
