<div class="rb-radio-group" ng-class="{readonly: vm.readonly}">
  <div ng-repeat="item in vm._options track by $index"
       class="rb-radio-btn"
       type="button"
       ng-class="{'rb-radio-active':vm.selectedOption[vm.value]===item[vm.value], 'rb-radio-disabled':vm.disabledValues && vm.disabledValues.includes(item[vm.value])}"
       ng-click="!vm.readonly && vm.select(item)">
    <i class="fa fa-check"></i>
    <span ng-show="!vm.htmlKey">{{item[vm.key]}}</span>

    <span class="rb-radio-html" ng-show="vm.htmlKey" ng-bind-html="item[vm.htmlKey]"></span>
  </div>
</div>