:host {
  display: block;
  padding: 16px 18px;
  rc-form-field {
    padding: 0 10%;
  }
  rc-code-editor {
    flex: 1;
  }
  .toc-form-group:first-child {
    margin-bottom: 16px;
  }
  .app-form-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    form {
      height: calc(100% - 61px);
      overflow: auto;
      padding: 24px;
    }
    ::ng-deep {
      rc-table {
        margin-bottom: 24px;
        ngx-datatable {
          border-bottom: 1px solid #e0e2e3;
        }
      }
    }
  }
}
