<form #serviceForm="ngForm"
    [hidden]="yamlPreview"
    novalidate>
    <!-- basic -->
    <section class="toc-form-group">
        <div class="form-group-header">
            {{'service_config' | translate}}-{{'basic' | translate}}
        </div>
        <div class="form-group-content">

            <rc-form-field label="{{'service_name' | translate}}"
                           [errorsMapper]="{service_name_existed: ('service_name_existed' | translate)}">
                <input
                    rcInput
                    required
                    name="name"
                    maxlength="32"
                    rcServiceNameValidator
                    [rcNamespaceUuid]="namespace_uuid"
                    [placeholder]="numberReg.tip | translate"
                    [pattern]="numberReg.pattern"
                    [(ngModel)]='service.name'
                    type="text" />
            </rc-form-field>

            <rc-form-field label="{{'service_create_deploy_model' | translate}}">
                <rc-radio-group required
                    name='kind'
                    [(ngModel)]="service.kind"
                    [options]="serviceKindOptions">
                </rc-radio-group>
            </rc-form-field>

            <rc-form-field [hidden]="!shouldShowReplicas()"
                label="{{'instance_num' | translate}}">
                <input rcInput
                    [pattern]="intReg.pattern"
                    placeholder="{{'service_replicas_placeholder' | translate}}"
                    name='replicas'
                    [(ngModel)]="service.replicas" />
            </rc-form-field>

        </div>
        <!-- <div>
                    <div>Form value: {{ service | json }}</div>
                    <br>
                    <div>Form status: {{ serviceForm.status | json }}</div>
                </div> -->
    </section>

    <!-- advance -->
    <section class="toc-form-group"
        [hidden]="!showAdvanceOptions">
        <div class="form-group-header"
            [hidden]="!showAdvanceOptions">{{'service_config' | translate}}-{{'advanced'| translate}}</div>
        <div class="form-group-content"
            [hidden]="!showAdvanceOptions">

            <rc-form-field label="{{'service_labels' | translate}}"
                [shouldFlexRow]="true">
                <rc-service-fields-labels name='labels'
                    [(ngModel)]="service.labels"></rc-service-fields-labels>
            </rc-form-field>

            <div class="form-field"
                *ngIf="shouldShowReplicas()">
                <label>{{'service_scaling_config' | translate}}</label>
                <div class="field-container">
                    <div class="field-content-row">
                        <div class="content-row-cell">
                            <div class="rc-input-prefix">{{'min_num_instances'| translate}}</div>
                            <input rcInput
                                required
                                name="minReplicas"
                                min="1"
                                [pattern]="numberReg.pattern"
                                [(ngModel)]="service.minReplicas"
                                [rcErrorsTooltip]
                                type="text" />
                            <div class="rc-input-suffix">{{'ge'| translate}}</div>
                        </div>
                        <div class="content-row-cell">
                            <div class="rc-input-prefix">{{'max_num_instances'| translate}}</div>
                            <input rcInput
                                required
                                name="maxReplicas"
                                min="1"
                                [pattern]="numberReg.pattern"
                                [(ngModel)]="service.maxReplicas"
                                [rcErrorsTooltip]
                                type="text" />
                            <div class="rc-input-suffix">{{'ge'| translate}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <rc-form-field label="{{'node_tag' | translate}}"
                [shouldFlexRow]="true">
                <rc-service-fields-node-tags name="nodeTags"
                    [(ngModel)]='service.nodeTags'></rc-service-fields-node-tags>
            </rc-form-field>

            <rc-form-field label="{{'service_affinity' | translate}}"
                *ngIf="shouldShowAffinity()"
                [shouldFlexRow]="true">
                <rc-service-fields-affinity name="affinity"
                    [(ngModel)]="service.affinity"></rc-service-fields-affinity>
            </rc-form-field>

            <div class="form-field"
                *ngIf="shouldShowMaxSurge() || shouldShowMaxUnavliable()">
                <label>{{'service_update_strategy' | translate}}</label>
                <div class="field-container">
                    <div class="field-content-row">
                        <div class="content-row-cell"
                            *ngIf="shouldShowMaxSurge()">
                            <div class="rc-input-prefix">{{'service_max_surge' | translate}}</div>
                            <input rcInput
                                type="text"
                                name="maxSurge"
                                pattern="^[0-9]+[%]?$"
                                [rcErrorsTooltip]
                                placeholder="{{'percentage_or_number' | translate}}"
                                [(ngModel)]="service.maxSurge">
                        </div>
                        <div class="content-row-cell"
                            *ngIf="shouldShowMaxUnavliable()">
                            <div class="rc-input-prefix">{{'service_max_unavailable' | translate}}</div>
                            <input rcInput
                                type="text"
                                name="maxUnavailable"
                                pattern="^[0-9]+[%]?$"
                                [rcErrorsTooltip]
                                placeholder="{{'percentage_or_number' | translate}}"
                                [(ngModel)]="service.maxUnavailable">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- network -->
    <section class="toc-form-group"
        [hidden]="!showAdvanceOptions">
        <div class="form-group-header">{{'service_config' | translate}}-{{'network' | translate}}</div>
        <div class="form-group-content">
            <!-- network mode -->
            <rc-service-fields-network-mode name="networkMode" [(ngModel)]="service.networkMode"></rc-service-fields-network-mode>

            <rc-form-field label="Kubernetes Service"
                [shouldFlexRow]="true">
                <rc-service-fields-kube-service name="kubeServices"
                    [serviceName]="service.name"
                    [(ngModel)]="service.kubeServices"
                    [containerPortsOptions]="containerPortsOptions"></rc-service-fields-kube-service>
            </rc-form-field>
        </div>
    </section>
    <div class="toc-form-group-toggle"
        (click)="showAdvanceOptions = !showAdvanceOptions;">
        <span *ngIf="!showAdvanceOptions">
            <i class="fa fa-angle-double-down"></i>{{'display_service_config_advanced_and_network' | translate}}</span>
        <span *ngIf="showAdvanceOptions">
            <i class="fa fa-angle-double-up"></i>{{'hide_service_config_advanced_and_network' |translate}}</span>
    </div>
    <!-- containers -->
    <div class="rc-service-container-wrap"
        *ngFor="let container of service.containers; let i = index; trackBy: trackByContainerIndex;">
        <a class="form-group-remove"
            href="javascript:void(0)"
            (click)="removeContainer(container.index)"
            [hidden]="service.containers.length === 1">
            <i class="fa fa-trash"></i>
        </a>
        <rc-service-container-fields name="container{{container.index}}"
            [(ngModel)]="container.config"
            [namespace]="namespace"
            [containerIndex]="container.index"
            (nameChange)="containerNameChange($event, container.index)"
            (portsChange)="containerPortsChange($event, container.index)"></rc-service-container-fields>
    </div>
    <div class="rc-add-container-row">
        <button rcButton
            (click)="addContainer()">{{'add_container'| translate}}</button>
    </div>
</form>

<div class="form-footer">
    <button rcButton="default"
        [disabled]="submitting"
        (click)="cancel()">{{ 'cancel' | translate }}</button>
    <button rcButton="primary"
        [loading]="submitting"
        [disabled]="submitting"
        (click)="save()">{{ 'save' | translate }}</button>
</div>
