<div class="app-form-container">
    <form #appForm="ngForm">
        <section class="toc-form-group">
            <div class="form-group-header">
                {{'basic_info' | translate}}
            </div>
            <div class="form-group-content">
                <!-- 命名空间 -->
                <rc-form-field label="{{'region_namespace' | translate}}"
                    [shouldFlexRow]="true">
                    <rc-single-selection-dropdown #singleDropdown
                        required
                        name="namespace"
                        [options]="namespaceOptions"
                        [(ngModel)]="appPayload.namespace.name"
                        (change)="onNamespaceOptionChange($event)"
                        displayField="name"
                        valueField="name">
                    </rc-single-selection-dropdown>
                </rc-form-field>
                <!-- 名称 -->
                <rc-form-field label="{{'app_name' | translate}}"
                    [shouldFlexRow]="true">
                    <input rcInput
                        name="name"
                        [(ngModel)]="appPayload.resource.name"
                        maxlength="32"
                        [placeholder]="resourceNameReg.tip | translate"
                        [pattern]="resourceNameReg.pattern"
                        required>
                </rc-form-field>
                <!-- 描述 -->
                <rc-form-field label="{{'app_description' | translate}}">
                    <input rcInput
                        name="description"
                        [(ngModel)]="appPayload.resource.description">
                </rc-form-field>

            </div>
        </section>

        <section class="toc-form-group">
            <div class="form-group-header">
                <span>{{'app_config' | translate}}</span>
                <span style="flex: 1;"></span>
                <button rcButton
                    [hidden]="!yamlReadonly"
                    (click)="toggleAddService()">{{'add_service' | translate}}</button>
            </div>
            <div class="form-group-content">
                <!-- 服务列表 -->
                <rc-table #serviceTable
                    class="rc-secondary-table"
                    emptyMessage="{{'service_list_empty' | translate}}"
                    [columnMode]="'force'"
                    [headerHeight]="40"
                    [rowHeight]="auto"
                    [rows]="serviceList">
                    <!--服务名称-->
                    <rc-table-col name="{{'service_name' | translate}}"
                        [width]=250>
                        <div *rcTableColCell="let service = row">
                            {{service.data.name }}
                        </div>
                    </rc-table-col>
                    <!--容器数-->
                    <rc-table-col [width]="150"
                        name="{{'container_count' | translate}}">
                        <div *rcTableColCell="let service = row">
                            {{service.data.containers.length}}
                        </div>
                    </rc-table-col>
                    <!--镜像-->
                    <rc-table-col name="{{'image' | translate}}"
                        [width]=300
                        cellClass="rc-col-cell-truncated">
                          <ng-template rcTableColCell let-service="row">
                            <rc-service-image-display
                                [imageDisplayParams]="service.imageDisplayParams"
                            ></rc-service-image-display>
                          </ng-template>
                    </rc-table-col>
                    <!--操作-->
                    <rc-table-col [width]="150"
                        name="{{'action' | translate}}" cellClass="rc-col-cell-right" headerClass="rc-header-cell-right">
                        <div *rcTableColCell="let service = row; let index = rowIndex;">
                            <rc-button-menu [hidden]="!yamlReadonly">
                                <button rcButton
                                    rcButtonSize="small" rcButtonMenuDefault
                                    (click)="toggleUpdateService(service)">
                                    {{'update' | translate}}
                                </button>
                                <button rcMenuButton
                                    *ngIf="serviceList.length > 1"
                                    (click)="removeService(index)">{{'delete' | translate}}</button>
                            </rc-button-menu>
                        </div>
                    </rc-table-col>
                </rc-table>

                <!-- YAML -->
                <rc-form-field label="{{'yaml_preview' | translate}}"
                    [shouldFlexRow]="true">
                    <rc-code-editor [(ngModel)]="appYaml"
                        [readOnly]="yamlReadonly"
                        mode="yaml"
                        name="yaml"></rc-code-editor>
                </rc-form-field>
                <div class="rc-yaml-readonly-toggle"
                    style="padding: 0 calc(10% + 48px) 0 10%;">
                    <a href="javascript:void(0);"
                        *ngIf="yamlReadonly"
                        (click)="toggleYamlReadonly()">{{'enter_yaml_edit_mode' | translate}}</a>
                </div>
            </div>
        </section>
    </form>
    <div class="toc-footer">
        <div style="flex: 1;"></div>
        <button rcButton="default"
            [disabled]="submitting"
            (click)="cancel()">{{ 'cancel' | translate }}</button>
        <button rcButton="primary"
            [loading]="submitting"
            [disabled]="!serviceList.length || submitting"
            (click)="confirm()">{{ 'create' | translate }}</button>
    </div>
</div>
