@import 'colors.styles';
:host {
  position: relative;
  display: block;
  height: 100%;
  form {
    height: calc(100% - 64px);
    overflow: auto;
    padding: 16px 0;
    .rc-add-container-row {
      padding: 16px;
      text-align: right;
    }
  }
  .form-footer {
    text-align: right;
    padding: 16px;
    background: $silver-6;
  }
}
