<aui-card>
  <form #form="ngForm">
    <rc-form-field label="{{'name' | translate}}">
      <input rcInput type="text" name="name" [(ngModel)]="name" [disabled]="true">
    </rc-form-field>
    <rc-form-field label="{{'display_name' | translate}}" *ngIf="!isCMB">
      <input rcInput type="text" name="display_name" [(ngModel)]="data.display_name" maxlength="36">
    </rc-form-field>
    <rc-form-field label="{{'description' | translate}}">
      <textarea rows="3" rcInput type="text" name="description" [(ngModel)]="data.description"></textarea>
    </rc-form-field>
  </form>
  <div class="form-footer">
    <button aui-button="primary" (click)="submit()">{{ 'update' | translate }}</button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</aui-card>