<div class="rb-page-heading">
  <h1>
    <span class="rb-icon-project"></span>
    <span title="{{ vm.projectName }}">{{vm.projectName}}</span>
  </h1>
  <div flex></div>
  <div ng-if="vm.initialized" class="rb-heading-button-group">
    <button type="button"
            class="ui button rb-btn-default"
            ui-sref="project_detail.resource_list({project_name: vm.projectName})">
      {{ 'project_view_resource' | translate }}
    </button>
    <button type="button"
            class="ui button rb-btn-secondary"
            ng-disabled="vm.submitting"
            ng-if="vm.buttonDisplayExpr('delete')"
            ng-click="vm.deleteProject()">
      {{ 'delete' | translate }}
    </button>
  </div>
</div>

<rb-loading-mask-placeholder ng-if="!vm.initialized"></rb-loading-mask-placeholder>

<div ng-if="vm.initialized">
  <div class="rb-detail-container">
    <div class="rb-detail-content-header">
      <span>{{ "basic_info" | translate }}</span>
    </div>
    <div class="rb-detail-content">
      <div class="rb-detail-row">
        <div>{{ "creator" | translate }}</div>
        <div>{{vm.project.created_by}}</div>
      </div>
      <div class="rb-detail-row">
        <div>{{ "created_at" | translate }}</div>
        <div>{{vm.project.created_at | formatUtcStr}}</div>
        <div>{{ "updated_at" | translate }}</div>
        <div>{{vm.project.created_at | formatUtcStr}}</div>
      </div>
    </div>
  </div>

  <div class="rb-tabs-container rb-detail-container">
    <md-tabs class="rb-tabs"
             md-border-bottom="true"
             md-dynamic-height="true">

      <md-tab class="rb-tab"
              md-on-select="vm.currentTab=''"
              label="{{'role' | translate}}">
        <div class="rb-detail-tab-container">
          <rb-role-list></rb-role-list>
        </div>
      </md-tab>

      <md-tab class="rb-tab"
              md-on-select="vm.currentTab=''"
              label="{{'members' | translate}}">
        <div class="rb-detail-tab-container">
          <rb-account-list></rb-account-list>
        </div>
      </md-tab>

      <md-tab class="rb-tab"
              md-on-select="vm.currentTab='events'"
              label="{{'events' | translate}}">
        <div class="rb-detail-tab-container">
          <rb-event-list ng-if="vm.currentTab==='events'"
                         type="'organization'"></rb-event-list>
        </div>
      </md-tab>
    </md-tabs>
  </div>
</div>
