<div class="rb-form-panel">
  <div class="rb-form-container">
    <form class="rb-form" name="vm.healthcheckForm">

      <div class="rb-input-container">
        <!-- protocol type -->
        <div class="rb-input-field-container">
          <label>{{'protocol_type' | translate}}</label>
          <rb-radio-group options="vm.healthCheckTypes"
                          init="vm.healthcheck.protocol"
                          on-change="vm.selectHealthcheckType(option)"></rb-radio-group>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- port -->
      <div ng-if="['HTTP', 'TCP'].includes(vm.healthcheck.protocol)" class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'ports' | translate}}</label>
          <input class="rb-input"
                 type="number"
                 name="port"
                 ng-model="vm.healthcheck.port"
                 min="1"
                 max="65535"
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
          <div ng-show="vm.healthcheckPortInvalid" class="rb-input-message">
            <div>{{'healthcheck_port_duplicate' | translate}}</div>
          </div>
        </div>
      </div>
      <!-- path -->
      <div ng-if="vm.healthcheck.protocol==='HTTP'" class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'path' | translate}}</label>
          <input class="rb-input"
                 type="text"
                 name="path"
                 ng-model="vm.healthcheck.path"
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- command -->
      <div ng-if="vm.healthcheck.protocol==='COMMAND'" class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'command' | translate}}</label>
          <input class="rb-input"
                 type="text"
                 name="command"
                 ng-model="vm.healthcheck.command"
                 required>
          <div class="rb-input-field-addon">
            <div class="rb-input-field-addon">
              <i class="fa fa-question-circle"
                 uib-popover-html="vm.hint.command"
                 popover-placement="right"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"></i>
            </div>
          </div>
        </div>
        <div class="rb-input-hint-container">
          <div ng-show="vm.healthcheckCommandInvalid" class="rb-input-message">
            <div>{{'healthcheck_command_duplicate' | translate}}</div>
          </div>
        </div>
      </div>
      <!-- grace_period_seconds -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'grace_period_seconds' | translate}}</label>
          <div class="rb-input-labeled-right">
            <input type="number"
                   min="0"
                   name="grace_period_seconds"
                   ng-model="vm.healthcheck.grace_period_seconds"
                   required>
            <div>
              {{'second' | translate}}
            </div>
          </div>
          <div class="rb-input-field-addon">
            <div class="rb-input-field-addon">
              <i class="fa fa-question-circle"
                 uib-popover-html="vm.hint.grace_period_seconds"
                 popover-placement="right"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"></i>
            </div>
          </div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- interval_seconds -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'interval_seconds' | translate}}</label>
          <div class="rb-input-labeled-right">
            <input type="number"
                   min="0"
                   name="interval_seconds"
                   ng-model="vm.healthcheck.interval_seconds"
                   required>
            <div>
              {{'second' | translate}}
            </div>
          </div>
          <div class="rb-input-field-addon">
            <div class="rb-input-field-addon">
              <i class="fa fa-question-circle"
                 uib-popover-html="vm.hint.interval_seconds"
                 popover-placement="right"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"></i>
            </div>
          </div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- max_consecutive_failures -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'max_consecutive_failures' | translate}}</label>
          <div class="rb-input-labeled-right">
            <input type="number"
                   min="0"
                   name="max_consecutive_failures"
                   ng-model="vm.healthcheck.max_consecutive_failures"
                   required>
            <div>
              {{'times' | translate}}
            </div>
          </div>
          <div class="rb-input-field-addon">
            <div class="rb-input-field-addon">
              <i class="fa fa-question-circle"
                 uib-popover-html="vm.hint.max_consecutive_failures"
                 popover-placement="right"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"></i>
            </div>
          </div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- timeout_seconds -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'timeout_seconds' | translate}}</label>
          <div class="rb-input-labeled-right">
            <input type="number"
                   min="0"
                   name="timeout_seconds"
                   ng-model="vm.healthcheck.timeout_seconds"
                   required>
            <div>
              {{'second' | translate}}
            </div>
          </div>
          <div class="rb-input-field-addon">
            <div class="rb-input-field-addon">
              <i class="fa fa-question-circle"
                 uib-popover-html="vm.hint.timeout_seconds"
                 popover-placement="right"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"></i>
            </div>
          </div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- ignore_http1xx -->
      <div ng-if="vm.healthcheck.protocol==='HTTP'" class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'ignore_http1xx' | translate}}</label>
          <div style="flex:1; display:flex; align-items: center;">
            <span class="radio-inline">
              <input type="radio" name="ignore_http" ng-value="true" ng-model="vm.healthcheck.ignore_http1xx"> {{ "yes" | translate }}
            </span>
            <span class="radio-inline">
              <input type="radio" name="ignore_http" ng-value="false" ng-model="vm.healthcheck.ignore_http1xx"> {{ "no" | translate }}
            </span>
          </div>
          <div class="rb-input-field-addon">
            <div class="rb-input-field-addon">
              <i class="fa fa-question-circle"
                 uib-popover-html="vm.hint.ignore_http1xx"
                 popover-placement="right"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"></i>
            </div>
          </div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.confirm()">{{'confirm' |
        translate}}
      </button>
    </div>
  </div>
</div>