<div>
  <table class="rb-detail-table" style="table-layout: unset;">
    <thead>
    <tr>
      <td style="width:80px;">{{'protocol'|translate}}</td>
      <td style="width:120px;">{{'check_cmd'|translate}}</td>
      <td style="width:80px;">{{'ports'|translate}}</td>
      <td style="width:120px;">{{'path'|translate}}</td>
      <td style="width:120px;">{{'grace_period_seconds'|translate}}</td>
      <td style="width:80px;">{{'interval_seconds'|translate}}</td>
      <td style="width:120px;">{{'max_consecutive_failures'|translate}}</td>
      <td style="width:120px;">{{'ignore_http1xx'|translate}}</td>
      <td style="width:80px;">{{'timeout_seconds'|translate}}</td>
      <td ng-if="!vm.detail" style="width:80px;">{{'action' | translate}}</td>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in vm.healthChecks track by $index">
      <td>{{item.protocol}}</td>
      <td style="word-break: break-all;">{{item.command}}</td>
      <td>{{item.port}}</td>
      <td>{{item.path}}</td>
      <td>{{item.grace_period_seconds}}s</td>
      <td>{{item.interval_seconds}}s</td>
      <td>{{item.max_consecutive_failures}}</td>
      <td>{{item.ignore_http1xx}}</td>
      <td>{{item.timeout_seconds}}s</td>
      <td ng-if="!vm.detail">
        <button ng-click="vm.editHealthcheckItem($index, item)" class="rb-fieldset-action-btn">
          <i class="fa fa-edit"></i>
        </button>
        <button ng-click="vm.deleteHealthcheckItem($index)" class="rb-fieldset-action-btn">
          <i class="fa fa-remove"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div ng-if="!vm.detail" class="text-right margin-top-2">
    <button type="button"
            class="ui button tiny rb-btn-default pull-right"
            ng-click="vm.addHealthcheckItem()">
      {{'add_healthcheck_item' | translate}}
    </button>
  </div>
</div>