@import 'colors.styles';

$card-margin: 8px;

.rc-list-header {
  margin: 8px 0 16px;
  .search-input {
    margin-right: 8px;
    input {
      border-radius: 5px 0 0 5px;
      min-width: 24rem;
    }
    button {
      border-radius: 0 5px 5px 0;
      margin-left: -1px;
    }
  }
  rc-search-input {
    margin-right: 8px;
  }
}

.class-list-container {
  height: calc(100% - 50px);
}

.class-card-container {
  flex: 1 1 240px;
  padding: $card-margin;
}

.class-card-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tab-group-container {
  background-color: white;
  min-height: calc(100% - 20px);
  padding: 0px 15px;
}

.empty-message {
  width: 100%;
  text-align: center;
  color: $gray-7;
  padding: 30px;
}

.tab-broker-item {
  display: inline;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
