<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<rc-service-catalog-empty-page *ngIf="empty && !(loadError | async) && !loading"
                               (createBroker)="createBroker()"
                               [type]="'serviceClass'"
                               [cluster]="cluster"></rc-service-catalog-empty-page>
<div *ngIf="!(loadError | async) && !loading && !empty" class="class-list-container">
  <div fxLayout="row" class="rc-list-header">
    <span fxFlex></span>
    <rc-search-input [loading]="searching" (onSearch)="searchChanged($event)"></rc-search-input>
    <button rcIconButton [disabled]="loading" (click)="refetch()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>

  <div class="tab-group-container">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          {{ "all" | translate }}
        </ng-template>
        <div class="class-card-list-container" *ngIf="classItems.length !== 0">
          <div *ngFor="let class of display_classItems; index as i"
            class="class-card-container">
              <rc-service-catalog-class-card [class]="class"></rc-service-catalog-class-card>
          </div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
        </div>
        <div *ngIf="classItems.length === 0" class="empty-message">{{ 'no_data' | translate }}</div>
      </mat-tab>
      <mat-tab *ngFor="let broker of brokerList">
        <ng-template mat-tab-label>
          <span *ngIf="broker.status !== 'True'"
                class="fa fa-exclamation-circle service-catalog-warning-exclamation-circle"
                [rcTooltip]="'service_catalog_broker_breakdown' | translate"
                [rcTooltipInline]="false"
                rcTooltipMode="warning"
                rcTooltipPosition="top">
          </span>
          <div class="tab-broker-item" [title]="broker.display_name === '' ? broker.name : broker.display_name">
            {{ broker.display_name === '' ? broker.name : broker.display_name }}
          </div>
        </ng-template>
        <div class="class-card-list-container">
          <ng-container *ngFor="let class of display_classItems; index as i">
            <div *ngIf="broker.name === class.kubernetes.spec.clusterServiceBrokerName"
              class="class-card-container">
              <rc-service-catalog-class-card [class]="class"></rc-service-catalog-class-card>
            </div>
          </ng-container>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
          <div class="class-card-container"></div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<rc-loading-error-page *ngIf="loadError | async" (refresh)="refetch()"></rc-loading-error-page>
