@import 'colors.styles';

:host {
  display: block;
  min-width: 16rem;
  &.error-state .rc-tags-input-container .rc-tags-input-wrapper {
    border-color: $form-input-invalid-border-color;
  }
}
.rc-tags-input-container {
  position: relative;
  .rc-tags-input-wrapper {
    background: #ffffff;
    border: 1px solid $form-input-border-color;
    border-radius: 3px;
    transition: border-color 0.3s;
    > ul {
      font-size: 14px;
      cursor: text;
      list-style-type: none;
      margin: 0;
      padding: 2px 8px;
      .rc-tag-item {
        position: relative;
        display: inline-block;
        font-weight: 700;
        vertical-align: middle;
        line-height: 18px;
        overflow: hidden;
        white-space: nowrap;
        cursor: default;
        border-radius: 4px;
        padding: 2px 24px 2px 8px;
        margin: 2px 4px 2px 0;
        background-color: #e8e8e8;
        color: rgba(0, 0, 0, 0.6);
        transition: background 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: #e0e0e0;
          color: rgba(0, 0, 0, 0.8);
        }

        .rc-tag-item-icon {
          margin-top: -0.5em;
          position: absolute;
          right: 0.2em;
          top: 50%;
          cursor: pointer;
          opacity: 0.5;
          transition: opacity 0.3s ease;
          &:hover {
            opacity: 1;
          }
        }
        .rc-tag-item-label {
          display: block;
        }
      }
      .rc-tag-input-item {
        display: inline-block;
        vertical-align: middle;
        list-style-type: none;
        // margin: 2px 0;
        padding: 2px 4px 2px 0;
        input {
          font-size: 14px;
          line-height: 18px;
          border: 0 none;
          width: 7em;
          outline: medium none;
          background-color: transparent;
          margin: 0;
          padding: 0;
          box-shadow: none;
          border-radius: 0;

          &::placeholder {
            color: rgba(191, 191, 191, 0.87);
          }
        }
      }
    }
    &:hover,
    &.rc-state-focus {
      border-color: $form-input-focus-border-color;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
    }
    &.rc-state-focus {
      border-radius: 5px 5px 0 0;
    }
    &.rc-state-disabled {
      border: 1px solid rgba(34, 36, 38, 0.15) !important;
      ul {
        cursor: default;
        .rc-tag-item {
          padding-right: 8px;
        }
      }
    }
  }

  &.rc-style-foldable {
    min-height: 32px;
    .rc-tags-input-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 32px;
      min-height: 32px;
      padding-right: 24px;
      overflow: hidden;
      .rc-tags-count {
        position: absolute;
        right: 4px;
        top: 8px;
        color: #16b;
      }
      &.rc-state-focus {
        z-index: 1000;
        overflow: visible;
      }
    }
  }
  &.rc-style-suggestions.rc-style-foldable .rc-suggestion-list {
    margin-right: -24px;
  }
  &.rc-style-suggestions:not(.rc-style-foldable) > .rc-tags-input-wrapper {
    .rc-suggestion-list {
      position: absolute;
      z-index: 999;
      //border: 1px solid $form-input-border-color;
      border: none;
      background: #fff;
      margin-left: -1px;
      width: 100%;
    }
    &:hover,
    &.rc-state-focus {
      .rc-suggestion-list {
        //border-radius: 0 0 5px 5px;
      }
    }
    &.rc-state-focus {
      .rc-suggestion-list {
        border: 1px solid $form-input-focus-border-color;
        border-top: none;
      }
    }
  }

  .rc-suggestion-list {
    ul {
      font-size: 14px;
      cursor: text;
      list-style-type: none;
      margin: 0;
      max-height: 200px;
      overflow-y: auto;
      .rc-suggesstion-item {
        color: rgba(0, 0, 0, 0.95);
        padding: 6px 8px;
        line-height: 20px;
        border-top: 1px solid #fafafa;
        cursor: default;
        &:hover,
        &.active {
          background: rgba(0, 0, 0, 0.05);
          color: rgba(0, 0, 0, 0.95);
        }
      }
    }
  }
}
