<div class="rc-tags-input-container" [ngClass]="{'rc-style-foldable': foldable, 'rc-style-suggestions': !!suggestionList}">
  <div #wrapper class="rc-tags-input-wrapper" [ngClass]="{'rc-state-focus': focus, 'rc-state-disabled': disabled}"
       (click)="inputElement.select()">
    <div *ngIf="showHiddenCount" class="rc-tags-count">(+{{hiddenCount}})</div>
    <ul (mousedown)="$event.preventDefault()">
      <li *ngFor="let item of tags; let i = index;" [@scaleIn]="'in'" class="rc-tag-item" [ngClass]="tagClassFn && tagClassFn(item)">
        <span *ngIf="!disabled" class="rc-tag-item-icon fa fa-fw fa-close" (click)="removeTag(i)"></span>
        <span *ngIf="!templateRef" class="rc-tag-item-label">{{item}}</span>
        <ng-container *ngTemplateOutlet="templateRef; context: {$implicit: item, index: i}"></ng-container>
      </li>
      <li class="rc-tag-input-item">
        <input #inputElement
               type="text"
               [attr.placeholder]="placeholder"
               [disabled]="maxOut || disabled"
               [(ngModel)]="inputValue"
               (ngModelChange)="onInputChange()"
               (focus)="onInputFocus()"
               (blur)="onInputBlur()"
               (keydown)="onKeydown($event, inputElement)">
      </li>
    </ul>
    <div class="rc-suggestion-list">
      <ul *ngIf="suggestionsVisible()">
        <li *ngFor="let item of suggesstionItems; let i = index;"
            class="rc-suggesstion-item"
            [ngClass]="{'active': i === suggestionList.selectedIndex}"
            (mouseenter)="suggestionList.select(i, false)"
            (mouseleave)="suggestionList.clear()"
            (mousedown)="$event.preventDefault()"
            (click)="suggestionList.selectAndConfirm($event, i)">
          <span>{{item}}</span>
        </li>
      </ul>
    </div>

  </div>
</div>
