<div class="rb-form-row input">
  <div class="rb-label" flex="25">
    {{vm.label | translate | rbTitleCase }}
    <span ng-if="vm.required" class="rb-required-mark">*</span>
  </div>
  <div class="rb-input-labeled-right" flex="55"
  rb-errors-tooltip="vm.form[vm.name]"
  rb-errors-tooltip-mapper="vm.errorMapper">
    <input type="{{vm.ngType}}"
           name="{{vm.name}}"
           ng-model="vm._model"
           ng-required="vm.required"
           max="{{vm._max}}"
           min="{{vm._min}}"
           ng-maxlength="{{vm.maxlength}}"
           ng-minlength="{{vm.minlength}}"
           ng-pattern="vm.validationPipe"
           ng-change="vm.handleInputChange()"
    >
    <div ng-if="vm.unit">{{vm.unit | translate}}</div>
  </div>
  <div ng-if="vm.description" class="rb-input-field-addon">
    <i class="fa fa-question-circle"
       style="cursor: pointer;"
       uib-popover-html="vm.description"
       popover-placement="top"
       popover-trigger="'mouseenter'"
       popover-append-to-body="true"></i>
  </div>
</div>
