<table class="table-condensed rb-fieldset-table">
  <thead>
  <tr>
    <td>
      <span>{{'file_path' | translate}}</span>
    </td>
    <td style="width:70px;"></td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="file in vm.files track by $index">
    <td>
      <div class="ui mini fluid input">
        <input type="text" 
               ng-model="vm.files[$index]"
               ng-pattern="vm.logFilePattern"
               rb-errors-tooltip
               rb-errors-tooltip-mapper="{
                 'pattern': ('log_file_invalid' | translate)
               }"
               placeholder="{{'file_path_placeholder' | translate}}">
      </div>
    </td>
    <td>
      <button class="rb-fieldset-action-btn" ng-click="vm.deleteFile($index)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <button ng-click="vm.addFile()" class="rb-fieldset-add-btn">
        <i class="fa fa-plus"></i>
      </button>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>