:host {
  display: block;
  height: 100%;
  width: 100%;
  ::ng-deep.aui-layout__page {
    .layout-page-content {
      min-width: 960px;
    }
  }
}

.nav-header {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  img {
    height: 32px;
    max-width: 100%;
  }
}

aui-nav-item:focus {
  outline: none;
}

.nav-item-content {
  display: flex;
  align-items: center;
  &__icon {
    display: flex;
    align-items: center;
    width: 26px;
    font-size: 16px;
  }
  &__link {
    color: #fff;
  }
}
