<aui-layout>
    <div class="nav-header"
        *auiNavDrawerHeader>
        <img [src]="uiState.logoMainSrc">
    </div>
    <ng-container *auiNavDrawerContent>
        <rc-namespace-badge [currentProject]="currentProjectDetail$ | async"
            [clusterName]="baseParamsSnapshot['cluster']"
            [namespaceName]="baseParamsSnapshot['namespace']"></rc-namespace-badge>
        <aui-nav>
            <ng-container *ngFor="let item of navConfig$ | async;">
                <aui-nav-item *ngIf="item.path"
                    rcNavItemHelper
                    routerLinkActive
                    #rla="routerLinkActive"
                    [label]="item.label | translate"
                    [active]="rla.isActive"
                    [routerLink]="getNavItemRouterLink(item.path)"
                    [expanded]="isPathExpanded(item.path, rla.isActive)"
                    (click)="onPrimaryNavItemClick(item.path)">

                    <div class="nav-item-content">
                        <div class="nav-item-content__icon">
                            <aui-icon [icon]="item.icon"></aui-icon>
                        </div>
                        <div class="nav-item-content__label">
                            {{ item.label | translate }}
                        </div>
                    </div>

                    <ng-container *ngIf="item.items && item.items.length">
                        <ng-container *auiNavItemExt>
                            <ng-container *ngFor="let subItem of item.items">
                                <aui-nav-item rcNavItemHelper
                                    routerLinkActive
                                    #subRla="routerLinkActive"
                                    [label]="subItem.label | translate"
                                    [routerLink]="subItem.routerLink"
                                    [active]="subRla.isActive"
                                    (click)="onSubNavItemClick(item.paths)">
                                    <div class="nav-item-content">
                                        <div class="nav-item-content__icon">
                                        </div>
                                        <div class="nav-item-content__label">
                                            {{ subItem.label | translate }}
                                        </div>
                                    </div>
                                </aui-nav-item>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                </aui-nav-item>
                <aui-nav-item *ngIf="getNavItemHref(item)">
                    <div class="nav-item-content">
                        <div class="nav-item-content__icon">
                            <aui-icon [icon]="item.icon"></aui-icon>
                        </div>
                        <div class="nav-item-content__label">
                            <a class="nav-item-content__link"
                                [href]="getNavItemHref(item)"
                                target="_black">{{ item.label | translate }}</a>
                        </div>
                    </div>
                </aui-nav-item>
            </ng-container>
        </aui-nav>
    </ng-container>

    <div *auiToolbarContent
        class="layout-toolbar">
        <rc-project-badge [projects]="projects$ | async"
            [currentProject]="currentProject$ | async"></rc-project-badge>
        <div fxFlex></div>
        <rc-account-menu></rc-account-menu>
    </div>
    <div *auiPageHeader
        class="layout-page-header">
        <ng-container *cdkPortalOutlet="pageHeaderContentTemplate$ | async"></ng-container>
        <rc-default-breadcrumb *ngIf="!(pageHeaderContentTemplate$ | async)"></rc-default-breadcrumb>
    </div>
    <div *auiPageContent
        class="layout-page-content">
        <router-outlet *ngIf="initialized"></router-outlet>
    </div>
</aui-layout>