<ng-form class="rb-form" name="form">

  <!-- Schedule rule -->
  <div class="rb-form-row input">
    <div class="rb-label" flex="25">
    </div>
    <div flex="60" flex-md="80" flex-sm="80" flex-xs="80">
      <div class="ui checkbox">
        <input type="checkbox"
               ng-model="vm.scheduleRuleEnabled">
        <label>
          {{ 'job_config_enable_schedule_rule' | translate }}
        </label>
      </div>
    </div>
  </div>
  <div class="rb-form-row" ng-if="vm.scheduleRuleEnabled">
    <div class="rb-label placeholder" flex="25">
      {{ "schedule_rule" | translate }}
    </div>
    <input flex="50"
           name="scheduleRule"
           type="text"
           ng-model="vm.model.schedule_rule"
           rb-errors-tooltip
           rb-cron-validator
           required>
    <div class="rb-input-field-addon">
      <i class="fa fa-question-circle"
         uib-popover-html="'build_schedule_rule_hint' | translate | trustAsHtml"
         popover-placement="top"
         popover-trigger="'mouseenter'"
         popover-append-to-body="true"></i>
    </div>
  </div>

  <div class="rb-form-row" ng-if="vm.scheduleRuleEnabled">
    <div class="rb-label placeholder" flex="25">
    </div>

    <div class="rb-help-hint">
      {{ 'build_config_next_trigger_time' | translate }}
      {{ vm.model.schedule_rule | rbCrontabNext }}
    </div>
  </div>

  <div class="rb-form-fieldset-interval"></div>

  <!-- Timeout -->
  <div class="rb-form-row">
    <div class="rb-label placeholder" flex="25">
      {{ "job_config_timeout" | translate }}
    </div>
    <div class="ui fluid labeled input" flex="50">
      <input type="number"
             min="0"
             max="1440"
             placeholder="0 - 1440"
             ng-model="vm.model.timeout"
             rb-errors-tooltip
             rb-errors-tooltip-mapper="{
               'pattern': ('integer_pattern' | translate)
              }"
             ng-pattern="/^\d+$/"
             name="timeout">
      <div class="ui label text-bold">
        {{ 'minutes' | translate }}
      </div>
    </div>
  </div>

  <div class="rb-form-fieldset-interval"></div>

  <!-- Env Files -->
  <div class="rb-form-row input">
    <div class="rb-label" flex="25">
      {{ 'envfile' | translate }}
    </div>
    <rb-dropdown
      flex="50"
      rb-loading-mask="!(vm.envfiles$ | rbAsync:this)"
      on-add="vm.envfileAdded(option)"
      on-remove="vm.envfileRemoved(option)"
      ng-if="vm.initialized"
      init="vm.initEnvfiles"
      key="display_name"
      value="name"
      multiple="true"
      options="vm.envfiles$ | rbAsync:this">
    </rb-dropdown>
  </div>

  <!-- Env Vars -->
  <div class="rb-form-row input">
    <div flex="25"
         class="rb-label">
      {{ 'environment_variable' | translate }}
    </div>
    <rb-service-fieldset-env-vars
      flex="50"
      env-vars="vm.model.envvars">
    </rb-service-fieldset-env-vars>
  </div>
</ng-form>
