<div class="static-field">
  <label>{{ 'username' | translate }}</label>
  <div>
    <span>{{ username }}</span>
  </div>
</div>
<div *ngIf="showPassword" class="static-field">
  <label>{{ 'password' | translate }}</label>
  <div>
    <span *ngIf="!isLDAPAccount" class="link-text" (click)="changePassword()">
      {{ 'change_password' | translate }}
    </span>
  </div>
</div>

<div *ngIf="editing">
  <form class="rb-form" #form="ngForm" (ngSubmit)="updateUser(form)">
    <rc-form-field [label]="'realname' | translate">
      <input rcInput name="realname" [(ngModel)]="userModel.realname">
    </rc-form-field>
    <rc-form-field [label]="'department' | translate">
      <input rcInput name="department" [(ngModel)]="userModel.department">
    </rc-form-field>
    <rc-form-field [label]="'position' | translate">
      <input rcInput name="position" [(ngModel)]="userModel.position">
    </rc-form-field>
    <rc-form-field [label]="'mobile' | translate">
      <input rcInput
             name="mobile"
             [(ngModel)]="userModel.mobile"
             [pattern]="patterns.mobile">
    </rc-form-field>
    <rc-form-field [label]="'email' | translate">
      <input rcInput
             type="email"
             name="email"
             [(ngModel)]="userModel.email"
             [pattern]="patterns.email">
    </rc-form-field>
    <rc-form-field [label]="'landline_phone' | translate">
      <input rcInput name="landline_phone" [(ngModel)]="userModel.landline_phone">
    </rc-form-field>
    <rc-form-field [label]="'office_address' | translate">
      <textarea rcInput name="office_address" rows="5" [(ngModel)]="userModel.office_address" maxlength="128"></textarea>
    </rc-form-field>
    <rc-form-field [label]="'extra_info' | translate">
      <textarea rcInput name="extra_info" rows="5" [(ngModel)]="userModel.extra_info"></textarea>
    </rc-form-field>
    <div class="static-field">
      <label></label>
      <div>
        <button rcButton="primary" [disabled]="submitting" [rcLoadingMask]="submitting" type="submit">{{ 'save' | translate }}</button>
        <button rcButton (click)="cancelUpdate()">{{ 'cancel' | translate }}</button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="!editing">
  <div *ngFor="let field of fields" class="static-field">
    <label>{{ field | translate }}</label>
    <div>
      <span>{{ user[field] }}</span>
    </div>
  </div>
  <div *ngIf="hasPermission('update') && !isTPAUser" class="static-field">
    <label></label>
    <div>
      <button rcButton="primary" (click)="editing = true">{{ 'update' | translate }}</button>
    </div>
  </div>
</div>
