ul {
  padding: 20px 24px;
  list-style: none;
  margin-bottom: 0;
  min-height: 160px;

  li {
    display: inline-block;
    margin-right: 8px;
  }

  button {
    padding: 6px 16px;
    border-radius: 3px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    color: #4d4d4d;
    transition: all 0.3s;

    &:hover,
    &.active {
      background-color: #e6f2f8;
      border-color: #24a7e3;
    }

    &.active {
      color: #24a7e3;
    }
  }
}

.modal-footer {
  padding: 24px;
  border: 0;

  ::ng-deep .button + .button {
    margin-left: 10px;
  }
}
