<div *ngIf="!containers"
     style="height:240px"
     [rcLoadingMask]="true"></div>
<ng-container *ngIf="containers">
  <ul>
    <li *ngFor="let container of containers; index as i">
      <button [ngClass]="{ active: i === activeIndex }"
              (click)="activeIndex = i">{{ container.config.name }}</button>
    </li>
  </ul>
  <div class="modal-footer">
    <button rcButton
            (click)="close.emit()">{{ 'cancel' | translate }}</button>
    <button rcButton="primary"
            [disabled]="activeIndex == null"
            (click)="nextStep()">{{ 'next_step' | translate }}</button>
  </div>
</ng-container>
