.right-pane {
  #rb-superbar {
    position: fixed;
    left: 160px;
    top: 50px;
    margin: 0;
    padding: 14px 18px 8px 18px;
    background: rgba(0, 0, 0, 0.34);
    z-index: 1901; // dropdown menu z-index is 11, rb-error-message tooltip z-index is 1900
  }
  &.nav-collapsed #rb-superbar {
    left: 0;
  }
}
