<table ng-if="vm.artifactList && vm.artifactList.length > 0"
       class="app-table table table-bordered table-hover" style="table-layout: fixed;">
  <thead>
  <tr>
    <td style="min-width: 150px;">
      {{ "name" | translate }}
    </td>
    <td style="width: 100px">
      {{ "size" | translate }}
    </td>
    <td style="width: 100px;">
      {{ "action" | translate }}
    </td>
  </tr>
  </thead>
  <tbody>

  <!-- TODO: make this structural -->
  <tr ng-repeat="artifact in vm.artifactList track by $index">
    <td>
      <a ng-href="{{ artifact.downloadUrl }}" target="_blank">{{ artifact.key }}</a>
    </td>
    <td>
      {{ artifact.size | rbBytesFormatter }}
    </td>
    <td class="control-buttons">
      <a class="btn btn-xs rb-btn-oper"
         download
         ng-disabled="!artifact.downloadUrl"
         ng-href="{{ artifact.downloadUrl }}"
         tooltip-placement="top"
         uib-tooltip="{{ 'download' | translate }}">
        <i class=" fa fa-download"></i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<rb-loading-mask-placeholder ng-if="vm.loading && !vm.artifactList">
</rb-loading-mask-placeholder>
<div class="rb-loading-mask-placeholder"
     ng-if="!vm.loading && (!vm.artifactList || vm.artifactList.length === 0)">
  {{ 'build_artifacts_not_available' | translate }}
</div>
