@import 'colors.styles';

$input-width: 150px;

:host ::ng-deep {
  .group {
    .add {
      display: flex;
      .ui.selection.dropdown {
        min-width: $input-width;
        margin-right: 5px;
      }
      input.rc-input-element {
        color: rgba(0, 0, 0, 0.87);
        width: 120px;
        margin-right: 5px;
      }
    }
  }
  .view {
    li {
      margin-top: 4px;
      padding-left: 8px;
      line-height: 20px;
      list-style: none;
      span {
        font-size: 14px;
        float: left;
        color: $card-text-color;
        width: $input-width;
        margin-right: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .fa {
        line-height: 20px;
        cursor: pointer;
        font-size: 16px;
        margin-left: -8px;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  hr {
    margin: 8px 0;
  }
}

.add-group {
  display: block;
}
