<section *ngFor="let constraint of constraints; let i = index;" class="group">
  <div class="add">
    <rc-single-selection-dropdown [options]="newOptions"
                                  (change)="key[i] = $event.value"
                                  displayField="name"
                                  valueField="value"></rc-single-selection-dropdown>
    <input rcInput type="text" [(ngModel)]="val[i]" [required]="!!key[i]" [rcErrorsTooltip]>
    <button rcButton (click)="add(key[i], val[i], i)">{{ 'rbac_add_constraint' | translate }}</button>
  </div>
  <ul class="view">
    <li *ngFor="let key of keys(constraint)">
      <span [title]="key">{{ key }}</span><span [title]="constraint[key] || '-'">{{ constraint[key] || '-' }}</span><i class="fa fa-minus-circle" aria-hidden="true" (click)="deleteItem(key, i)"></i>
    </li>
  </ul>
  <hr *ngIf="i < constraints.length - 1">
</section>
<a class="add-group" href="javascript:;" (click)="addGroup()"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'rbac_add_group_of_constraints' | translate }}</a>