@import './../style/mixins';
// styles for rb-basic-info-panel component
rb-basic-info-panel {
  .rb-detail-container {
    .rb-detail-content-wrap {
      position: relative;
      .rb-detail-icon {
        position: absolute;
        left: 32px;
        top: 20px;
        max-height: 100px;
      }
    }
    .rb-detail-content {
      min-height: 160px;
      &.detail-content-right {
        margin-left: 160px;
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .content-section {
        float: left;
        display: flex;
        width: 50%;
        line-height: 36px;
        > div:nth-child(odd) {
          text-align: right;
          color: #a1a1a1;
          flex: 0 0 160px;
        }
        > div:nth-child(even) {
          padding-left: 8px;
          color: #666;
          word-break: break-all;
        }
        &.section-3-1 {
          width: 33%;
          > div:nth-child(odd) {
            flex: 0 0 100px;
          }
        }
        &.section-row {
          width: 100%;
        }
      }
    }
  }
  .labels-item {
    @extend %inline-block;
    margin-right: 4px;
    background: #d5edfa;
    border-radius: 2px;
    height: 22px;
    line-height: 22px;
    padding: 0 8px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    &.propagate {
      background: #e2f1cc;
    }
  }
}
