<div class="rb-detail-container"
     rb-loading-mask="!vm.initialized"
     ng-class="{'rb-collapse': vm.isBasicInfoCollapse}">
  <div class="rb-detail-content-header"
       ng-click="vm.isBasicInfoCollapse = !vm.isBasicInfoCollapse">
    <span>{{ 'basic_info' | translate}}</span>
    <span class="fa fa-caret-down"
          ng-class="{'rb-collapse': vm.isBasicInfoCollapse}"></span>
  </div>

  <div class="rb-detail-content-wrap">
    <img ng-if="vm.iconUrl" class="rb-detail-icon" ng-src="{{vm.iconUrl}}">
    <div class="rb-detail-content" ng-class="{'detail-content-right': !!vm.iconUrl}">
      <div class="content-section"
           ng-repeat="field in vm.fields track by $index"
           ng-class="{'section-row': field.row, 'section-3-1': vm.threeColumn}"
           ng-hide="field.disabled">
        <div>{{ field.name | translate | rbTitleCase }}</div>
        <div ng-if="!field.state">
          <span ng-show="!field.html">{{ field.value | rbFieldNotAvailable}}</span>
          <span ng-show="field.html" ng-bind-html="field.html"></span>
        </div>
        <div ng-if="field.state">
          <a ng-click="vm.routeToUrl(field)">{{ field.value }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
