rb-pipeline-config-form .rb-form {
  .rb-input-field-with-two-addon {
    .rb-label {
      flex: 1 0 0;
    }

    .rb-label + * {
      flex: 1 0 0;
    }

    .rb-input-field-addon {
      width: 36px;
      flex-shrink: 0;
      padding-right: 0;
      i:hover {
        color: #3faded;
      }
    }
  }

  .disabled-message {
    opacity: 0.5;
  }

  .rb-timing-trigger {
    .ui.checkbox {
      margin-right: 8px;
    }

    .disabled-tip {
      i {
        cursor: pointer;

        &:first-of-type {
          margin-right: 8px;
        }
      }
    }
  }
}
