<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'pipeline_trigger_type' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <rb-radio-group
    on-change="vm.triggerTypeChanged(option.type)"
    key="displayName"
    value="type"
    readonly="vm.workflow.readonly"
    init="vm.getTriggerType()"
    options="vm.triggerTypes">
  </rb-radio-group>
</div>

<!-- build -->
<div class="rb-form-row input rb-input-field-with-two-addon" ng-if="vm.isBuildTrigger()">
  <div class="rb-label">
    {{ 'build_config' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <rb-dropdown
    rb-loading-mask="!(vm.buildConfigs$ | rbAsync:this)"
    on-change="vm.buildChanged(option)"
    key="display_name"
    value="name"
    is-disabled="vm.workflow.readonly"
    init="vm.getBuildTrigger().build_config_name"
    options="vm.buildConfigs$ | rbAsync:this">
  </rb-dropdown>
  <div class="rb-input-field-addon"
       ng-hide="vm.loading ||
         vm.workflow.readonly ||
         !vm.buildConfigButtonDisplayExpr('update')">
    <i class="fa fa-edit"
       tooltip-placement="top"
       uib-tooltip="{{ 'pipeline-config-triggers-update-build-project' | translate }}"
       ng-click="vm.editBuildConfig()"></i>
  </div>
  <div class="rb-input-field-addon"
    ng-hide="vm.workflow.readonly || !(vm.canCreateBuild$ | rbAsync:this)"
    ng-if="vm.isBuildTrigger()">
    <i class="fa fa-plus"
       tooltip-placement="top"
       tooltip-append-to-body="true"
       uib-tooltip="{{ 'pipeline-config-triggers-create-build-project' | translate }}"
       ng-click="vm.createBuildConfig()"></i>
  </div>
</div>
<div class="rb-form-row input" ng-if="vm.isBuildImageDisabled()">
  <div class="rb-label">
  </div>
  <div class="disabled-message">
    {{ 'pipeline-config-triggers-message-disabled-because-no-image' | translate }}
  </div>
</div>

<!-- repository -->
<rb-repository-dropdown-group
  ng-if="vm.isRepositoryTrigger()"
  init="vm.repositoryInitObject"
  readonly="vm.workflow.readonly"
  on-loading-changed="vm.loading = loading"
  on-registry-changed="vm.registryChanged(value)"
  on-project-changed="vm.projectChanged(value)"
  on-repository-changed="vm.repositoryChanged(value)">
</rb-repository-dropdown-group>

<!-- timing trigger -->
<div class="rb-form-row rb-timing-trigger">
  <div class="rb-label placeholder" flex="25">
  </div>
  <div flex="50" class="checkbox-group">
    <div class="ui checkbox">
      <input type="checkbox"
             ng-disabled="vm.workflow.readonly || vm.isAutoTriggerDisabled()"
             ng-model="vm.autoTriggerEnabled"
             ng-change="vm.autoTriggerChanged(vm.autoTriggerEnabled)">
      <label>
        {{ 'auto_trigger' | translate }}
      </label>
    </div>
    <div class="disabled-tip">
      <i
        ng-if="vm.isAutoTriggerDisabled()"
        class="fa fa-question-circle rb-label-hint"
        uib-popover="{{ 'build_auto_build_desc' | translate }}"
        popover-placement="right"
        popover-append-to-body="true"
        popover-trigger="'mouseover'">
      </i>
    </div>
    <div class="ui checkbox">
      <input type="checkbox"
             ng-disabled="vm.workflow.readonly || vm.isTimingTriggerDisabled()"
             ng-model="vm.timingTriggerEnabled"
             ng-change="vm.timingSwitchChanged(vm.timingTriggerEnabled)">
      <label>
        {{ 'pipeline_trigger_timing' | translate }}
      </label>
    </div>
    <div class="disabled-tip">
      <i
        ng-if="vm.isTimingTriggerDisabled()"
        class="fa fa-question-circle rb-label-hint"
        uib-popover="{{ 'build_timing_build_desc' | translate }}"
        popover-placement="right"
        popover-append-to-body="true"
        popover-trigger="'mouseenter'">
      </i>
    </div>
  </div>
</div>

<div class="rb-form-row input"
     ng-if="vm.timingTriggerEnabled">
  <div class="rb-label">
    {{ "schedule_rule" | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <input name="timingRule"
         type="text"
         ng-disabled="vm.workflow.readonly"
         ng-model="vm.timingRule"
         ng-change="vm.timingRuleChanged(vm.timingRule)"
         rb-cron-validator
         rb-errors-tooltip
         required>
  <div class="rb-input-field-addon">
    <i class="fa fa-question-circle"
       style="color: #DEDEDE;"
       uib-popover-html="'build_schedule_rule_hint' | translate | trustAsHtml"
       popover-placement="top-right"
       popover-trigger="'mouseenter'"
       popover-append-to-body="true"></i>
  </div>
</div>

<div class="rb-form-row"
     ng-if="vm.timingTriggerEnabled">
  <div class="rb-label">
  </div>
  <div class="rb-help-hint">{{ 'build_config_next_trigger_time' | translate }}：{{ vm.timingRule | rbCrontabNext }}
  </div>
</div>

<div class="rb-form-row input"
     ng-if="vm.timingTriggerEnabled && vm.isRepositoryTrigger()">
  <div class="rb-label">
    {{ 'image_tag' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <input ng-disabled="vm.workflow.readonly"
         ng-if="(vm.repositoryTags$ | rbAsync:this).length === 0"
         ng-model="vm.imageTag"
         ng-change="vm.imageTagChanged(vm.imageTag)"
         type="text"
         rb-errors-tooltip
         required>
  <rb-dropdown
    style="max-height: 32px;"
    ng-hide="(vm.repositoryTags$ | rbAsync:this).length === 0"
    is-disabled="vm.workflow.readonly"
    rb-loading-mask="!(vm.repositoryTags$ | rbAsync:this)"
    key="name"
    value="name"
    init="vm.imageTag"
    on-change="vm.imageTagChanged(option.name)"
    options="vm.repositoryTags$ | rbAsync:this">
  </rb-dropdown>
</div>
