<div class="template-dyform-credential">
  <rc-single-selection-dropdown
    [(ngModel)]="credentialName"
    displayField="display_name"
    valueField="name"
    [options]="credentials"
    [placeholder]="'jenkins_code_credential' | translate"
    [allowFilter]="true"
    [rcLoadingMask]="!credentials"
    style="width:100%"
  ></rc-single-selection-dropdown>
  <a
    href="javascript:void(0)"
    (click)="addCredential()"
    class="add-credential"
  >
    {{ 'jenkins_create_credential' | translate }}
  </a>
</div>
