@import 'colors.styles';

rb-image-select {
  > div.rb-service-image-select {
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
    min-height: 300px;
  }

  // project container
  .rb-project-container {
    display: flex;
    align-items: stretch;
    .rb-project-nav {
      min-height: 360px;
      display: flex;
      border-right: 1px solid #eee;
      width: 200px;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 0 16px 24px;
      .rb-project-nav-item {
        cursor: pointer;
        width: 140px;
        font-size: 14px;
        color: #333;
        font-weight: 600;
        padding: 8px;
        margin: 4px 0;
        border-radius: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        transition: background-color 0.3s;
        &:hover {
          background-color: #eee;
        }
        &.active {
          background-color: #31a6db;
          color: #fff;
        }
      }
    }
    .rb-image-list-wrap {
      .rb-image-select-project-header {
        width: 100%;
        margin: 12px 0 0 12px;
      }
    }
  }
  .rb-image-list-wrap {
    display: flex;
    flex: 1;
    align-self: stretch;
    flex-direction: column;
    min-height: 300px;
    .rb-image-empty {
      display: flex;
      flex: 1;
      justify-content: center;
      color: #a1a1a1;
      align-items: center;
    }
    .rb-image-list {
      display: flex;
      flex-wrap: wrap;
      padding: 0 8px 8px 0;
      // used as placeholder for rb-image-card
      .rb-image-card-placeholder {
        margin: 12px 0 0 12px;
        padding: 0 8px 0 20px;
        min-width: 300px;
        height: 1px;
        flex: 1 0 300px;
      }
      rb-image-select-card,
      .rb-image-card {
        position: relative;
        cursor: pointer;
        display: flex;
        margin: 12px 0 0 12px;
        padding: 0 8px 0 20px;
        min-width: 300px;
        height: 98px;
        flex: 1 0 300px;
        border: 1px solid #f0f0f0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
        border-radius: 4px;
        align-items: center;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: #f8f8f8;
        }
        &:focus {
          background-color: #f8f8f8;
        }
        .rb-repo-logo {
          width: 44px;
          height: 44px;
          img {
            width: 44px;
            height: 44px;
            border-radius: 50%;
          }
        }
        .rb-repo-title {
          width: 80%;
        }
        div {
          margin-left: 8px;
          h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            line-height: 1.2;
            color: #666666;
            margin: 0 0 8px 0;
          }
          p {
            font-size: 12px;
            color: #a1a1a1;
            line-height: 1.25em;
            margin: 0;
            overflow: hidden;
            word-wrap: break-word;
            max-height: 5em;
          }
        }
      }
    }
    .rb-image-select-header {
      display: flex;
      align-items: center;
      margin: 16px 0 8px;
      padding: 0 8px;
      .ui.input {
        width: 24em;
        margin-right: 16px;
      }
    }
  }

  // custom image form
  .rb-image-select-custom-image {
    form {
      display: flex;
      padding: 32px 0;
      margin: 0 16px;
      label {
        text-align: right;
        color: #a1a1a1;
        padding-right: 16px;
        height: 32px;
        line-height: 32px;
        font-weight: 400;
      }
      button {
        margin-left: 8px;
        padding: 6px 10px;
      }
      &:first-child {
        border-bottom: 1px dashed #e1e1e1;
      }
      // invalid input when submit form
      &.ng-submitted input.ng-invalid,
      .ng-dirty.ng-invalid {
        border-color: $form-input-invalid-border-color;
        background-color: $form-input-invalid-background-color;
      }
      .rb-image-select-message {
        min-height: 20px;
        line-height: 1.6;
        font-size: 12px;
        color: $form-text-error-color;
      }
    }
  }
}
