<div rb-loading-mask="!vm.initialized" class="rb-service-image-select">

  <md-tabs class="rb-tabs"
           ng-if="vm.initialized"
           md-no-select-click="true"
           md-border-bottom="true"
           md-dynamic-height="true">
    <!-- private registry repo -->
    <md-tab ng-repeat="registry in vm.privateRegistryList"
            class="rb-tab"
            md-on-select="vm.selectPrivateRegistry(registry)">
      <md-tab-label>
        <span ng-show="!registry.is_public"
              class="fa fa-lock"
              style="margin-right:4px;"></span>
        <span>{{ registry.display_name }}</span>
      </md-tab-label>

      <md-tab-body>
        <rb-image-select-project-list
          ng-if="vm.currentRegistryName === registry.name" registry="registry">
        </rb-image-select-project-list>
      </md-tab-body>
    </md-tab>

    <!-- jumpstart repo -->
    <md-tab class="rb-tab"
            ng-if="!vm.removeDefaultImageRegistry"
            md-on-select="vm.selectJumpStartRepo()"
            label="{{ 'gallery' | translate }}">
      <div class="rb-project-container">
        <div class="rb-project-nav">
          <div ng-repeat="item in vm.jumpstartRepoTypes"
               class="rb-project-nav-item"
               ng-class="{'active': vm.jumpstartRepoType === item}"
               ng-click="vm.getJumpstartRepoList(item)">
            <span>{{ item | translate }}</span>
          </div>
        </div>
        <div class="rb-image-list-wrap"
             rb-loading-mask="vm.jumpstartLoading && vm.initialized">
          <div ng-show="vm.jumpstartRepos[vm.jumpstartRepoType].length > 0" class="rb-image-select-project-header">
            <div class="ui input mini">
              <input type="text"
                     ng-model="vm.jumpstartRepoFilter.name"
                     placeholder="{{ 'search_by_name_placeholder' | translate }}">
            </div>
          </div>
          <div class="rb-image-list">
            <rb-image-select-card
              ng-repeat="item in vm.jumpstartRepos[vm.jumpstartRepoType] | filter:vm.jumpstartRepoFilter"
              repo="item"
              ng-click="vm.selectImage(item)">
            </rb-image-select-card>
            <div class="rb-image-card-placeholder"></div>
            <div class="rb-image-card-placeholder"></div>
            <div class="rb-image-card-placeholder"></div>
            <div class="rb-image-card-placeholder"></div>
          </div>
        </div>
      </div>
    </md-tab>

    <!-- docker repo using alauda index -->
    <md-tab class="rb-tab"
            ng-if="!vm.removeDefaultImageRegistry"
            md-on-select="vm.getAlaudaLibraryRepoList()"
            label="{{ 'library' | translate }}">
      <div class="rb-image-list-wrap" rb-loading-mask="vm.libraryRepoLoading">
        <div ng-show="vm.libraryRepoList.length === 0 && !vm.libraryRepoLoading"
             class="rb-image-empty">
          {{ 'service_create_image_select_empty' | translate }}
        </div>
        <div ng-show="vm.libraryRepoList.length > 0" class="rb-image-select-header">
          <div class="ui input mini">
            <input type="text"
                   ng-model="vm.libraryRepoFilter.repo_path"
                   placeholder="{{ 'search_by_name_placeholder' | translate }}">
          </div>
          <span>{{ 'service_create_image_sync_from' | translate }}
            <a href="https://hub.docker.com/explore/"
               target="_blank">
              {{ 'docker_company' | translate }}</a>
          </span>
        </div>
        <div ng-show="vm.libraryRepoList.length > 0" class="rb-image-list">
          <rb-image-select-card
            ng-repeat="item in vm.libraryRepoList | filter:vm.libraryRepoFilter"
            repo="item"
            ng-click="vm.selectImage(item)">
          </rb-image-select-card>
          <div class="rb-image-card-placeholder"></div>
          <div class="rb-image-card-placeholder"></div>
          <div class="rb-image-card-placeholder"></div>
          <div class="rb-image-card-placeholder"></div>
        </div>
      </div>
    </md-tab>

    <!-- docker/custom repo -->
    <md-tab class="rb-tab"
            ng-if="!vm.removeDefaultImageRegistry"
            label="{{ 'custom' | translate }}">
      <div class="rb-image-select-custom-image">
        <!-- docker image form -->
        <form name="vm.dockerImageForm">
          <label flex="20">
            {{ "official_repository" | translate }}
          </label>
          <div flex="50">
            <div class="ui mini fluid input icon"
                 ng-class="{'loading': vm.dockerImageForm['docker_image_name']['$pending']}">
              <input
                type="text"
                ng-model="vm.dockerImageName"
                ng-model-options="{ debounce: 500 }"
                name="docker_image_name"
                ng-pattern="/^[A-Za-z0-9-_.\/]+$/"
                ui-validate-async="{exist: 'vm.validateRepositoryExist($value)'}"
                rb-errors-tooltip
                rb-errors-tooltip-mapper="vm.errorMapper"
                placeholder="{{ 'repository_name_placeholder' | translate }}">
              <i class="icon" ng-class="{'checkmark': vm.dockerImageName}"></i>
            </div>
            <div class="rb-image-select-message">
              <div ng-show="vm.dockerImageForm['docker_image_name']['$pending']"
                   style="color:#a1a1a1">{{ 'image_validating_exist' | translate }}...
              </div>
            </div>
          </div>
          <div flex="20">
            <button type="button" class="ui button rb-btn-primary"
                    ng-click="vm.confirmDockerImage()"
                    ng-disabled="vm.dockerImageForm['docker_image_name']['$pending']">
              {{ 'confirm' | translate }}
            </button>
          </div>
        </form>
        <!-- custom image form -->
        <form name="vm.customImageForm">
          <label flex="20">
            {{ "third_party" | translate }}
          </label>
          <div flex="50">
            <div class="ui fluid labeled input">
              <input
                type="text"
                ng-model="vm.customImageIndex"
                rb-autofill-helper
                ng-model-options="{ debounce: 200 }"
                rb-errors-tooltip
                name="custom_image_index"
                ng-pattern="/^[A-Za-z0-9-_.]+(:\d+)?$/"
                placeholder="{{ 'registry_name_placeholder' | translate }}">
              <div class="ui label">
                /
              </div>
              <input
                type="text"
                ng-model="vm.customImageName"
                ng-model-options="{ debounce: 200 }"
                rb-errors-tooltip
                rb-autofill-helper
                name="custom_image_name"
                ng-pattern="/^[A-Za-z0-9-_.\/]+$/"
                required
                placeholder="{{ 'third_repository_name_placeholder' | translate }}">
            </div>
          </div>
          <div flex="20">
            <button type="button"
                    class="ui button rb-btn-primary"
                    ng-click="vm.confirmCustomImage()">
              {{ 'confirm' | translate }}
            </button>
          </div>
        </form>
      </div>
    </md-tab>
  </md-tabs>
</div>
