<rc-form-container>
  <div [rcLoadingMask]="loading||submitting">
    <form [formGroup]="form" #pvForm="ngForm" (ngSubmit)="submit()">
      <div class="form-field-text">
        <label class="form-field-label">{{'region'|translate}}</label>
        <div class="form-field-value">{{region.name}}</div>
      </div>
      <rc-form-field label="{{'pv_name' | translate}}" 
                     [shouldFlexRow]="true"
                     [hideErrors]="true">
        <input rcInput
               formControlName="name"
               maxlength="36"
               placeholder="{{'pv_name_placeholder'|translate}}"
               [rcErrorsTooltip]
               [rcErrorsTooltipMapper]="errorMappers.pvName"
               pattern="[a-z][a-z0-9\-\_]*"
               required>
      </rc-form-field>
      <rc-form-field label="{{'volume'|translate}}">
        <rc-single-selection-dropdown formControlName="volume"
                                      [options]="volumeOptions"
                                      displayField="name"
                                      valueField="uuid"
                                      (change)="volumeChanged($event)"
                                      required>
        </rc-single-selection-dropdown>
      </rc-form-field>
      <rc-form-field label="{{'access_mode'|translate}}">
        <rc-radio-group [options]="accessModeOptions"
                        displayField="name"
                        valueField="value"
                        formControlName="accessMode">
        </rc-radio-group>
      </rc-form-field>
      <rc-form-field label="{{'recycle_strategy'|translate}}">
        <rc-radio-group [options]="recycleStrategyOptions"
                        displayField="name"
                        valueField="value"
                        formControlName="recycleStrategy">
        </rc-radio-group>
      </rc-form-field>
    </form>
    <div *rcFooterContent>
      <button rcButton
              (click)="cancel()">
        {{'cancel'|translate}}
      </button>
      <button rcButton="primary"
              (click)="pvForm.onSubmit($event)"
              [disabled]="!volumeOptions.length"
              [class.loading]="submitting">
        <ng-container *ngIf="updating">{{'save'|translate}}</ng-container>
        <ng-container *ngIf="!updating">{{'create'|translate}}</ng-container>
      </button>
    </div>
  </div>
</rc-form-container>