<md-tabs md-border-bottom="true"
         md-dynamic-height="true"
         ng-if="vm.initialized"
         md-no-select-click="true">
  <md-tab label="{{ 'pipeline_approve_my_approve' | translate }}"
          md-on-select="vm.onTabSelected('approver')">
    <div class="tab-content">
      <rb-pipeline-approve-table ng-if="vm.type === 'approver'" type="vm.type"></rb-pipeline-approve-table>
    </div>
  </md-tab>
  <md-tab label="{{ 'pipeline_approve_my_apply' | translate }}"
           md-on-select="vm.onTabSelected('proposer')">
    <div class="tab-content">
      <rb-pipeline-approve-table ng-if="vm.type === 'proposer'" type="vm.type"></rb-pipeline-approve-table>
    </div>
  </md-tab>
</md-tabs>