<div *ngIf="!params" fxLayout="row" class="rc-list-header">
  <input aui-input (keyup)="onKeywordChange($event)" [placeholder]="'keyword' | translate">
</div>
<aui-table [dataSource]="keyValueList" [trackBy]="trackByFn">
  <ng-container auiTableColumnDef="key">
    <aui-table-header-cell *auiTableHeaderCellDef>{{'key' | translate}}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      <div>{{ rowData.key }}</div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="value">
    <aui-table-header-cell *auiTableHeaderCellDef>{{'value' | translate}}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      <div>{{ rowData.value }}</div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="action">
    <aui-table-header-cell *auiTableHeaderCellDef>{{'action' | translate}}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      <div [auiDropdown]="menu"
        [auiDropdownDisabled]="!menu.hasEnabledItem"
        class="action-button">
        <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
      </div>
      <aui-menu #menu size="small">
        <aui-menu-item
          *ngIf="configmapUtilities.showUpdate(configmapData)"
          (click)="showUpdateKeyYamlDialog(rowData)"
        >{{'update' | translate}}</aui-menu-item>
        <aui-menu-item
          *ngIf="configmapUtilities.showUpdate(configmapData)"
          (click)="deleteConfigmapKey(rowData)"
        >{{'delete' | translate}}</aui-menu-item>
      </aui-menu>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
</aui-table>
<rc-zero-state [zeroState]="keyValueList.length == 0" [fetching]="loading" resourceName="configuration_items"></rc-zero-state>