<div class="rc-service-metrics-toolbar">
    <div class="service-metrics-toolbar-row">
      <label>{{'monitor_period' | translate}}</label>
      <rc-single-selection-dropdown [options]="periodOptions"
                                    [allowFilter]="false"
                                    displayField="title"
                                    valueField="period"
                                    [(ngModel)]="selectedPeriod"
                                    [ngModelOptions]="{standalone: true}"
                                    (change)="periodChanged($event)">
      </rc-single-selection-dropdown>
      <div>
        <label>{{ "from" | translate }}</label>
        <input
          rcInput
          [rcCalendar]="{enableTime: true, enableSeconds: false}"
          (onChange)="onStartTimeChange($event)"
          [(value)]="timeRangeDisplay.start_time"
          [disabled]="!isCustomTimeRange()">
      </div>
      <div>
        <label>{{ "to" | translate }}</label>
        <input
          rcInput
          [rcCalendar]="{enableTime: true, enableSeconds: false}"
          (onChange)="onEndTimeChange($event)"
          [(value)]="timeRangeDisplay.end_time"
          [disabled]="!isCustomTimeRange()">
      </div>
      <button rcButton="primary"
              [disabled]="!isCustomTimeRange()"
              (click)="refetch()">
        {{'confirm' | translate}}
      </button>
    </div>
  </div>
  <div class="rc-service-metrics-content">
    <rc-service-metric-chart *ngFor="let item of metrics"
                             [metricQuery]="item.metricQuery"
                             [metricDisplayName]="item.metricDisplayName"
                             [groupNameFormatting]="groupNameFormatting"></rc-service-metric-chart>
  </div>
  