.fields-wrapper {
  margin-bottom: 80px;
  padding: 0 20px;
  border-radius: 3px;
  background-color: #fff;
}

.fields-header {
  padding: 12px 0;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
  font-size: 18px;

  > span {
    display: inline-flex;
    color: #999;

    &.active {
      color: #24a7e3;

      &:before {
        border-color: #24a7e3;
      }
    }

    &:before {
      display: inline-flex;
      width: 24px;
      height: 24px;
      border: 1px solid #999;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      font-size: 14px;
    }

    &:nth-child(1):before {
      content: '1';
    }

    &:nth-child(2):before {
      content: '2';
    }

    &:not(:last-child) {
      margin-right: 4px;

      &:after {
        content: '>';
        margin-left: 8px;
      }
    }
  }
}

.fields {
  padding: 0 80px;
}

.form-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.9;

  button + button {
    margin-right: 8px;
  }
}
