<rc-region-badge-option [option]="{hidden: true}"></rc-region-badge-option>

<form #form="ngForm"
      (ngSubmit)="confirm()">
  <div class="fields-wrapper">
    <div class="fields-header">
      <span [ngClass]="{ active: !isNextStep }">{{ 'region_access_cluster' | translate }}</span>
      <span [ngClass]="{ active: isNextStep }">{{ 'region_region_info' | translate }}</span>
    </div>
    <div class="fields">
      <ng-container *ngIf="isNextStep">
        <rc-form-field [label]="'region_region_name' | translate">
          <input rcInput
                 name="name"
                 [(ngModel)]="name"
                 pattern="^[a-z][a-z0-9_]*$"
                 maxlength="36"
                 required>
        </rc-form-field>
        <rc-form-field [label]="'display_name' | translate">
          <input rcInput
                 name="display_name"
                 [(ngModel)]="displayName"
                 maxlength="36"
                 required>
        </rc-form-field>
        <rc-form-field [label]="'region_type' | translate"
                       [shouldFlexRow]="true">
          <rc-single-selection-dropdown [allowFilter]="false"
                                        name="cluster_type"
                                        [options]="CLUSTER_TYPES"
                                        displayField="display"
                                        valueField="value"
                                        [(ngModel)]="clusterType"
                                        required></rc-single-selection-dropdown>
        </rc-form-field>
        <rc-form-field [label]="'region_cloud_host_type' | translate"
                       [shouldFlexRow]="true">
          <rc-single-selection-dropdown [allowFilter]="false"
                                        name="cloud_host_type"
                                        [options]="CLOUD_HOST_TYPES"
                                        displayField="display"
                                        valueField="value"
                                        [(ngModel)]="cloudHostType"
                                        required></rc-single-selection-dropdown>
        </rc-form-field>
        <rc-form-field [label]="'region_docker_version' | translate"
                       [shouldFlexRow]="true">
          <rc-single-selection-dropdown [allowFilter]="false"
                                        name="docker_version"
                                        [options]="DOCKER_VERSIONS"
                                        [(ngModel)]="dockerVersion"
                                        required></rc-single-selection-dropdown>
        </rc-form-field>
        <rc-form-field [label]="'region_docker_path' | translate">
          <input rcInput
                 name="docker_path"
                 [(ngModel)]="dockerPath"
                 required>
        </rc-form-field>
        <rc-form-field [label]="'network_mode' | translate"
                       [shouldFlexRow]="true">
          <rc-single-selection-dropdown [allowFilter]="false"
                                        name="network_mode"
                                        [options]="NETWORK_MODES"
                                        [(ngModel)]="networkMode"
                                        required></rc-single-selection-dropdown>
        </rc-form-field>
        <rc-form-field [label]="'region_nic_name' | translate">
          <input rcInput
                 name="nic_name"
                 [(ngModel)]="nicName"
                 required>
        </rc-form-field>
      </ng-container>
      <ng-container *ngIf="!isNextStep">
        <rc-form-field [label]="'region_region_endpoint' | translate">
          <input rcInput
                 name="endpoint"
                 [(ngModel)]="endpoint"
                 pattern="https?:\/\/.+"
                 required>
        </rc-form-field>
        <rc-form-field label="token">
          <textarea rcInput
                    rows="10"
                    name="token"
                    [(ngModel)]="token"
                    required
                    maxlength="65535"></textarea>
        </rc-form-field>
      </ng-container>
    </div>
  </div>

  <div class="form-footer">
    <button *ngIf="isNextStep"
            rcButton
            [disabled]="loading"
            (click)="isNextStep = false">{{ 'prev_step' | translate }}</button>
    <button *ngIf="!isNextStep"
            rcButton
            [disabled]="loading"
            (click)="cancel()">{{ 'cancel' | translate }}</button>
    <button rcButton="primary"
            [disabled]="loading"
            [loading]="loading"
            type="submit">{{ (isNextStep ? 'confirm' : 'next_step') | translate }}</button>
  </div>
</form>
