<rc-form-container [rcLoadingMask]="!initialized">
  <form #form="ngForm">
    <div class="rc-form-field">
      <div class="rc-form-field-label">{{'container_name' | translate}}</div>
      <div class="rc-form-field-container">{{containerName}}</div>
    </div>

    <div class="rc-form-field">
      <div class="rc-form-field-label">{{'image_repository_address' | translate}}</div>
      <div class="rc-form-field-container">{{containerImage}}</div>
    </div>

    <rc-form-field
      [shouldFlexRow]="true"
      [label]="'image_tag' | translate">
      <input
        *ngIf="!imageTagOptions.length"
        rcInput
        name="imageTag"
        [(ngModel)]="containerImageTag"
        required>
      <rc-single-selection-dropdown *ngIf="imageTagOptions.length"
                                    required
                                    [options]="imageTagOptions"
                                    displayField="tag_display"
                                    valueField="tag_name"
                                    [(ngModel)]="containerImageTag"
                                    [ngModelOptions]="{standalone: true}"
                                    placeholder="{{'please_select_image_tag'| translate}}"
                                    style="flex:1">
      </rc-single-selection-dropdown>
    </rc-form-field>

  </form>
  <ng-container *rcFooterContent>
    <button rcButton
            (click)="cancel()">
      {{'cancel'|translate}}
    </button>
    <button
      *ngIf="shouldShowPrevStep()"
      rcButton
      (click)="prevStep()">
      {{'prev_step'|translate}}
    </button>
    <button rcButton="primary"
            [loading]="submitting"
            [disabled]="submitting"
            (click)="confirm()">
      {{'confirm'|translate}}
    </button>
  </ng-container>
</rc-form-container>
