<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'path' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <input type="text"
         ng-model="vm.item.model.data.share_path"
         rb-errors-tooltip
         name="share_path"
         required
         ng-disabled="vm.workflow.readonly">
</div>
