@import 'list.styles';
@import 'colors.styles';
:host {
  .tab-group-container {
    padding: 15px 0px;
  }

  .template-card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .template-card-container {
    flex: 1 1 240px;
    padding: 8px;
  }

  .template-list-empty-message {
    width: 100%;
    text-align: center;
    color: $gray-7;
  }
}
