<rc-loading-mask [loading]="repo_loading"></rc-loading-mask>
<rc-app-catalog-template-empty-view *ngIf="!repo_loading && empty" [permission]="permission"></rc-app-catalog-template-empty-view>
<ng-container *ngIf="!repo_loading && !empty">
  <div fxLayout="row" class="rc-list-header">
    <span fxFlex></span>
    <rc-search-input mode="filter" (onSearch)="searchChanged($event)" [placeholder]="'filter_by_name_placeholder' | translate"></rc-search-input>
    <button rcIconButton [disabled]="loading" (click)="refetch()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>

  <div class="tab-group-container">
    <rc-tab-group (selectedIndexChange)="tabSelected($event)">
      <ng-container *rcTab="('all' | translate) + '  (' + totalTemplate + ')'">
        <rc-loading-mask [loading]="template_loading"></rc-loading-mask>
        <div *ngIf="!template_loading" class="template-card-list-container">
          <div *ngFor="let template of display_templates ; trackBy: trackByFn; index as i"
              class="template-card-container">
            <rc-app-catalog-template-card [showRepoName]="true"
                                          [template]="template"
                                          [applicationPermission]="applicationPermission"
                                          (createAppClick)="createAppClicked(template)">
            </rc-app-catalog-template-card>
          </div>
          <div class="template-card-container"></div>
          <div class="template-card-container"></div>
          <div class="template-card-container"></div>
          <div class="template-card-container"></div>
          <div class="template-card-container"></div>
          <div class="template-card-container"></div>
        </div>
        <ng-container *ngIf="display_empty && !template_loading">
          <div *ngIf="!keyWord" class="template-list-empty-message">
            {{ 'app_catalog_empty_template_view_title' | translate }}<br>
          </div>
          <div *ngIf="keyWord" class="template-list-empty-message">
            {{ 'app_catalog_template_serach_empty' | translate }}
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngFor="let item of repositoryItems">
        <ng-container *rcTab="(item.display_name === '' ? item.name : item.display_name) + '  (' + item.template_num + ')'">
          <rc-loading-mask [loading]="template_loading"></rc-loading-mask>
          <div *ngIf="!template_loading" class="template-card-list-container">
            <div *ngFor="let template of display_templates ; trackBy: trackByFn; index as i"
                class="template-card-container">
              <rc-app-catalog-template-card [template]="template"
                                            [applicationPermission]="applicationPermission"
                                            (createAppClick)="createAppClicked(template)">
              </rc-app-catalog-template-card>
            </div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
            <div class="template-card-container"></div>
          </div>
          <ng-container *ngIf="display_empty && !template_loading">
            <div *ngIf="!keyWord && permission" class="template-list-empty-message">
              {{ 'app_catalog_empty_template_view_title' | translate }}<br>
              {{ 'app_catalog_you_can' | translate }} 
              <a (click)="importDialogOpen(item)">{{ 'app_catalog_update_template_repo' | translate }}</a>,
              {{ 'app_catalog_get_enterprise_template' | translate }}
            </div>
            <div *ngIf="!keyWord && !permission" class="template-list-empty-message">
              {{ 'app_catalog_empty_template_view_title' | translate }}<br>
              {{ 'app_catalog_apply_permissions' | translate }} 
            </div>
            <div *ngIf="keyWord" class="template-list-empty-message">
              {{ 'app_catalog_template_serach_empty' | translate }}
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </rc-tab-group>
  </div>
</ng-container>