:host {
  .domain_projects {
    display: inline-flex;
    align-items: center;
    &__name {
      margin-right: 8px;
    }
    &__more {
      font-size: 12px;
      color: #777;
    }
  }

  rc-pagination2 {
    margin-top: 8px;
  }
}
