<aui-card>
  <div fxLayout auiCardHeader>
    <button aui-button="primary"
            (click)="createDomain()"
            *ngIf="createEnabled">
      {{'create_domain' | translate}}
    </button>
    <div fxFlex></div>
    <aui-search [searchButton]="true"
        [searching]="searching"
        [debounce]="200"
        [(keyword)]="keyword"
        placeholder="{{'search_by_name_placeholder' | translate}}"
        (search)="searchByName($event)">
    </aui-search>
  </div>
  <aui-table [dataSource]="list$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="domain">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'domain' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>{{ rowData.domain }}</span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'type' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>{{getDomainType(rowData) | translate}}</span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="project">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'project' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div class="domain_projects">
          <div class="domain_projects__name">
              {{ getDomainProjectName(rowData)}}
          </div>
          <div class="domain_projects__more" *ngIf="rowData.projects?.length > 1">
              <span>{{'service_total' | translate}}</span>
              <button
                  size="mini"
                  [auiDropdown]="menu"
                  aui-button="text"
                  class="action-button">
                  {{rowData.projects.length}}
              </button>
              <span>{{'ge' | translate}}</span>
            </div>
        </div>
        <aui-menu #menu size="more_info">
          <aui-menu-item
            *ngFor="let project of rowData.projects"
          >{{projectMap[project] || project}}</aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'action' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <!-- 下面这行auiDropdownDisabled导致 ts 中需要加 changeDetection: ChangeDetectionStrategy.OnPush -->
        <div [auiDropdown]="menu"
          [auiDropdownDisabled]="!menu.hasEnabledItem"
          class="action-button">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item
            *ngIf="canShowUpdate(rowData)"
            (click)="bindProject(rowData)"
          >{{'bind_project' | translate}}</aui-menu-item>
          <aui-menu-item
            *ngIf="canShowDelete(rowData)"
            (click)="delete(rowData)"
          >{{'delete' | translate}}</aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
  </aui-table>
  <rc-zero-state [zeroState]="showZeroState" [fetching]="!initialized && fetching" resourceName="domain"></rc-zero-state>
  <rc-pagination2 
      [count]="(listMeta$ | async)?.count"
      [page]="(pageParams$ | async)?.pageIndex"
      [pageSize]="(pageParams$ | async)?.pageSize"
      [disabled]="fetching"
      (pageChanged)="pageChanged($event)">
  </rc-pagination2>
</aui-card>
  