rb-password-strength-label {
  div {
    .level {
      background-color: #e8e8e8;
      width: 12px;
      height: 5px;
      &.active {
        background-color: #e8cb00;
      }
      &:nth-child(2) {
        margin: 2px 0;
      }
      transition: background-color 0.2s;
    }
  }
}
