<!-- Header -->
<div class="rb-page-heading">
  <rb-search-input loading="vm.searching"
                   on-search="vm.onSearchChanged(value)"
                   placeholder="search_by_name_placeholder"
                   flex=30>
  </rb-search-input>
  <div flex></div>
  <button ng-if="vm.jobConfigCreateEnabled"
          ui-sref="job.config.create"
          class="ui button rb-btn-primary">
    {{'job_create_config' | translate}}
  </button>
</div>

<!-- Table -->
<div class="rb-page-header-message">
  <span class="fa fa-question-circle"></span>
  {{ 'job_config_page_header_info' | translate }}
</div>
<table class="app-table table table-bordered table-hover no-margin-bottom">
  <thead>
    <tr>
      <td style="width: 150px;">
        {{ "name" | translate }}
      </td>
      <td ng-if="vm.quotaEnabled"
          style="width: 160px;">
        <span>{{ "quota_space" | translate }}</span>
      </td>
      <td style="width: 20%;">
        {{ "image" | translate }}
      </td>
      <td style="width: 150px;">
        {{ "schedule_rule" | translate }}
      </td>
      <td style="width: 100px;">
        {{ "creator" | translate }}
      </td>
      <td style="width: 150px;">
        {{ "last_run_date" | translate }}
      </td>
      <td style="width: 150px;">
        {{ "action" | translate }}
      </td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="config in vm.list | orderBy: '-created_at' track by $index">
      <!-- Name -->
      <td>
        <a ui-sref="job.config.detail({ name: config.config_uuid })">
          {{ config.config_name }}
        </a>
      </td>

      <!--Quota space-->
      <td ng-if="vm.quotaEnabled">
        <a ng-if="config.space_name"
           router-link="'/quota/detail/' + config.space_name">{{ config.space_name
          }}</a>
        <span ng-if="!config.space_name">N/A</span>
      </td>

      <!-- Image Address -->
      <td>
        <rb-copy-span bind-text="vm.getImageAddress(config)"></rb-copy-span>
      </td>

      <!-- Schedule Rule -->
      <td>
        {{ config.schedule_rule | rbFieldNotAvailable }}
      </td>

      <!-- Creator -->
      <td>
        {{ config.created_by }}
      </td>

      <!-- Last Run -->
      <td>
        <a ng-if="config.last_job.job_uuid"
           ui-sref="job.history.detail({ uuid: config.last_job.job_uuid })">
          <div tooltip-placement="top"
               uib-tooltip="{{ 'job_status_' + config.last_job.status | translate }}"

               class="job-status-indicator"
               status="{{ config.last_job.status }}">
          </div>
          {{ config.last_job.started_at | rbRelativeDate }}
        </a>
      </td>

      <!-- Action -->
      <td class="control-buttons">
        <button class="btn btn-xs rb-btn-oper"
                ng-if="vm.buttonDisplayExpr(config, 'trigger')"
                tooltip-placement="top"
                ng-disabled="vm.deletingMap[config.config_uuid] || vm.startingMap[config.config_uuid]"

                ng-click="vm.startClicked(config)"
                uib-tooltip="{{ 'start' | translate }}">
          <i class="fa fa-play"></i>
        </button>
        <button class="btn btn-xs rb-btn-oper"
                ng-if="vm.buttonDisplayExpr(config, 'update')"
                ng-disabled="vm.deletingMap[config.config_uuid]"
                ui-sref="job.config.update({ name: config.config_uuid })"
                tooltip-placement="top"
                uib-tooltip="{{ 'update' | translate }}">
          <i class=" fa fa-pencil"></i>
        </button>
        <button class="btn btn-xs rb-btn-oper"
                ng-if="vm.buttonDisplayExpr(config, 'delete')"
                ng-disabled="vm.deletingMap[config.config_uuid]"
                ng-click="vm.deleteClicked(config)"
                tooltip-placement="top"
                uib-tooltip="{{ 'delete' | translate }}">
          <i class="fa fa-trash-o"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Explains why there is no data -->
<rb-loading-mask-placeholder ng-if="!vm.list"></rb-loading-mask-placeholder>
<div class="rb-list-table-info-container"
     ng-show="vm.list && vm.list.length === 0">
  <div ng-if="!vm.loadError && vm.list.length === 0">
    {{ 'job_no_config_hint' | translate }}
  </div>
  <div ng-if="vm.loadError">
    {{ 'data_load_error' | translate }}
  </div>
  <button ng-if="vm.loadError"
          class="ui button rb-btn-primary margin-top-2"
          ng-click="vm.pageNoChange()">
    {{ 'refresh' | translate }}
  </button>
</div>

<!-- Pagination -->
<rb-pagination ng-show="vm.pagination.totalItems > vm.pagination.pageSize"
               class="pull-right"
               size="vm.pagination.pageSize"
               total-items="vm.pagination.totalItems"
               on-change="vm.pageNoChange(page, size)">
</rb-pagination>
