@import '_colors.styles';

$status-color-map: (
  'SUCCEEDED': $status-color-success,
  'RUNNING': $status-color-in-process,
  'BLOCKED': $status-color-pending,
  'WAITING': $status-color-pending,
  'FAILED': $status-color-error,
  'STOPPED': $default-border-color,
);

@mixin job-status-indicator($status, $color) {
  .job-status-indicator[status='#{$status}'] {
    border: 2px solid $color;
    background-color: $color;
    box-shadow: 0 0 10px $color;
  }
}

rb-job-config-list {
  .job-status-indicator {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 4px;
  }

  @each $status, $color in $status-color-map {
    @include job-status-indicator($status, $color);
  }
}
