<rb-loading-mask-placeholder ng-if="!vm.initialized"></rb-loading-mask-placeholder>
<div ng-if="vm.initialized" class="rb-page-app-catalog-list">
  <div class="rb-loading-mask-placeholder" ng-show="vm.initialized && !vm.listLoadingError && !vm.appList.length">
    {{ 'no_data' | translate }}
  </div>
  <div class="rb-loading-mask-placeholder" ng-if="vm.listLoadingError && !vm.appList.length" style="margin-top: 20px;" flex="column" layout="center" layout-align="center center">
    <p>{{"data_load_error" | translate}}</p>
    <button class="ui button rb-btn-primary" ng-click="vm.loadList()">{{ 'refresh' | translate }}</button>
  </div>
  <ul class="card-list">
    <li class="flipper_card_container" ng-repeat="item in vm.appList track by $index" ng-class="{'flip_over': item.showServiceStatus}">
      <div class="flipper_card">
        <div class="card_front" ng-class="{'cursor-not-allowed': item.disabled}">
          <div class="app_info">
            <span class="service_num" ng-click="vm.showStatus($index)"><i class="fa fa-cubes"></i>{{item.app_num}}</span>
            <img class="avatar" ng-src="{{item.avatar}}" alt="app_avatar">
            <h3>{{item.display_name}}</h3>
            <hr>
            <div class="lower_half">
              <p>{{item.display_info}}</p>
              <button class="ui button rb-btn-primary" ng-disabled="item.disabled || !vm.applicationCreateEnabled" ng-click="vm.createApp(item.app_name)">
              {{ item.disabled ? 'coming_soon' : 'create_app' | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="card_back" layout="column" flex="grow">
          <div class="service_status" layout="column" flex="grow">
            <h4>
              <div>
                <span class="turn_back fa fa-long-arrow-left" ng-click="vm.showAppInfo($index)"></span>
                {{ 'application' | translate }}
              </div>
              <button ng-if="item.scalable && item.statusList && item.statusList.length"
                ng-disabled="!vm.applicationCreateEnabled"
                class="ui button tiny rb-btn-default pull-right"
                ng-click="vm.scaleUpDown(item, $index)"
              >
                {{ 'catalog_elastic' | translate }}
              </button>
            </h4>
            <div class="apps"  rb-loading-mask="vm.loadingStatus[$index]" layout="column" flex="grow">
              <div class="ui styled accordion">
                <div class="item" ng-repeat="regionData in item.statusList">
                  <div class="title"  ng-class="{ active: regionData.selected }" ng-click="regionData.selected = !regionData.selected">
                    <i class="dropdown icon"></i>{{regionData.region}}
                  </div>
                  <ul class="content" ng-class="{ active: regionData.selected }">
                    <li ng-repeat="app in regionData.apps">
                      <i class="status-list-bullet fa fa-circle-o" ng-class="vm.statusMap[app.status]"></i>
                      <a ui-sref="app_service.app.app_detail({app_name: app.uuid})">{{app.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="rb-loading-mask-placeholder" ng-if="item.statusList && !item.statusList.length" layout="column" flex="grow"  layout-align="center center">
                <p>{{ 'no_info' | translate}}</p>
              </div>
              <div class="rb-loading-mask-placeholder" ng-if="vm.loadingFail[$index]"  flex="column" layout="center" layout-align="center center">
                <p>{{"data_load_error" | translate}}</p>
                <button class="ui button rb-btn-primary" ng-click="vm.showStatus($index)">{{ 'refresh' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
    </li>
    <li class="app-catalog-card-placeholder"></li>
    <li class="app-catalog-card-placeholder"></li>
    <li class="app-catalog-card-placeholder"></li>
    <li class="app-catalog-card-placeholder"></li>
    <li class="app-catalog-card-placeholder"></li>
    <li class="app-catalog-card-placeholder"></li>
  </ul>
</div>
