@import 'colors.styles';

.flipper_card_container {
  perspective: 1000px;
  &.flip_over .flipper_card {
    transform: rotateY(180deg);
  }
  .flipper_card {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  .card_front,
  .card_back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .card_front {
    z-index: 2;
  }
  .card_back {
    transform: rotateY(180deg);
  }
}

@-moz-document url-prefix() {
  .flipper_card_container .card_front {
    z-index: 0;
  }
}

rb-page-app-catalog-list {
  overflow: visible !important;
}

.rb-page-app-catalog-list {
  .card-list {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-self: flex-start;
  }
  .flipper_card_container,
  .app-catalog-card-placeholder {
    padding-bottom: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    min-width: 240px;
    height: 296px;
    flex: 1 0 240px;
    list-style: none;
  }
  .app-catalog-card-placeholder {
    height: 0;
  }
  .card_back,
  .card_front {
    height: 280px;
    width: 100%;
  }
  .card_back,
  .card_front {
    background: #ffffff;
    box-shadow: $rb-gray-light-shadow;
    padding: 8px 14px 20px 14px;
    &:hover {
      box-shadow: $rb-gray-bold-shadow;
    }
  }

  .flipper_card {
    display: flex;
    flex-direction: row;
  }
  .app_info,
  .service_status {
    position: relative;
  }
  .card_front {
    .app_info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      .service_num {
        &:hover {
          color: $button-primary-hover-background-color;
        }
        font-size: 12px;
        color: $rb-blue;
        .fa {
          padding-right: 5px;
        }
      }
      h3 {
        margin: 0;
        margin-bottom: 12px;
        font-size: 19px;
      }
      hr {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
      }
      .lower_half {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      p {
        margin: 10px 0;
        font-size: 14px;
        text-align: center;
        color: $form-text-help-color;
      }
      button {
        align-self: center;
      }
    }
    img.avatar {
      height: 79px;
      margin: 10px 0 25px 0;
    }
    .service_num {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .turn_back {
    color: $rb-blue;
    margin-right: 10px;
  }

  .card_back {
    h4 {
      height: 32px;
      line-height: 32px;
      font-size: 14px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .apps {
      overflow-y: auto;
    }
    .styled.ui.accordion {
      box-shadow: none;
      border: 1px solid #efeeee;
      border-top: none;
      width: 100%;
      div.title {
        display: flex;
        align-items: center;
        padding: 5px;
        border-top: 1px solid #efeeee;
        font-weight: 400;
      }
    }
    ul {
      padding: 0.5em 1em 1em;
    }
    li {
      line-height: 18px;
      font-size: 12px;
      display: flex;
      align-items: center;
      padding-left: 8px;
      flex-direction: row;
      i {
        align-self: flex-start;
        &:before {
          line-height: 18px;
        }
      }
      a {
        word-break: break-word;
      }
    }
  }
}
