<div rb-loading-mask="vm.loading">
  <div class="rb-page-heading">
    <h1>
      <i class="fa fa-wrench"></i>
      <span title="{{ ::vm.piplineDisplayName }}">{{ ::vm.piplineDisplayName }}</span>
    </h1>
    <div flex></div>
    <div class="control-buttons">
      <button ng-if="vm.mode === 'view' && vm.buttonDisplayExpr('trigger')"
              ng-click="vm.showStartPipelineDialog()"
              class="ui button rb-btn-primary">
        {{'pipeline_start' | translate}}
      </button>
      <button ng-if="vm.mode === 'view' && vm.buttonDisplayExpr('update')"
              ng-click="vm.updateClicked($event)"
              class="ui button rb-btn-primary">
        {{'update' | translate}}
      </button>
      <button ng-if="vm.mode === 'update'"
              ng-click="vm.cancelClicked($event)"
              class="ui button rb-btn-default">
        {{'cancel' | translate}}
      </button>
      <button ng-if="vm.mode === 'update'"
              ng-click="vm.saveClicked($event)"
              ng-disabled="!vm.config.isValid || !vm.config.isValid()"
              class="ui button rb-btn-primary">
        {{'save' | translate}}
      </button>
      <rb-dropdown-menu ng-if="vm.mode === 'view'"
                        rb-title="{{'action' | translate}}"
                        class="pull-right">
        <rb-dropdown-menu-item ng-if="vm.pipelineConfigCreateEnabled"
                               ng-click="vm.cloneClicked()">
          {{'pipeline_config_clone' | translate}}
        </rb-dropdown-menu-item>
        <rb-dropdown-menu-item ng-click="vm.deleteClicked($event)"
                               ng-if="vm.buttonDisplayExpr('delete')">
          {{'delete' | translate}}
        </rb-dropdown-menu-item>
      </rb-dropdown-menu>
    </div>
  </div>

  <div ng-class="{'rb-collapse': vm.isBasicInfoCollapse}"
       class="detail-basic-info rb-detail-container build-config-basic-info">
    <!-- Basic info -->
    <div class="rb-detail-content-header"
         ng-click="vm.isBasicInfoCollapse = !vm.isBasicInfoCollapse">
      <span>{{'basic_info' | translate}}</span>
      <span class="fa fa-caret-down"
            ng-class="{'rb-collapse': vm.isBasicInfoCollapse}"></span>
    </div>

    <div class="rb-detail-content-wrap">
      <div class="rb-detail-content">
        <div class="rb-detail-row">
          <div>{{ "creator" | translate }}</div>
          <div>{{ vm.config.created_by }}</div>

          <div>{{ "created_at" | translate }}</div>
          <div>{{ vm.config.created_at | formatDate }}</div>
        </div>

        <div class="rb-detail-row">
          <div>{{ "pipeline_enable_artifact_upload" | translate }}</div>
          <div style="display:flex;align-items:center">
            <span rubick-status-icon
                  status="vm.config.artifact_enabled ? 'OK' : 'OFF'"
                  status-text="{{ (vm.config.artifact_enabled ? 'on' : 'off') | translate }}"

                  mode="list"
                  ng-if="vm.mode !== 'update'"
                  style="margin-right:12px">
            </span>

            <div class="ui toggle checkbox"
                 ng-if="vm.mode === 'update'">
              <input ng-model="vm.config.artifact_enabled"
                     type="checkbox"
                     ng-change="vm.onArtifactEnabledChange()">
              <label></label>
            </div>

            <i class="fa fa-question-circle"
               style="font-size: 16px"
               tooltip-placement="right"
               uib-tooltip="{{ 'pipeline_articfact_upload_tips' | translate }}"></i>
          </div>

          <div>{{ "updated_at" | translate }}</div>
          <div>{{ vm.config.updated_at | formatUtcStr}}</div>
        </div>

        <div class="rb-detail-row">
          <div>{{ "pipeline_enable_temporary_directory" | translate }}</div>
          <div style="display:flex;align-items:center">
            <span rubick-status-icon
                  status="vm.config.shared_dir_enabled ? 'OK' : 'OFF'"
                  status-text="{{ (vm.config.shared_dir_enabled ? 'on' : 'off') | translate }}"

                  mode="list"
                  ng-if="vm.mode !== 'update'"
                  style="margin-right:12px">
            </span>

            <div class="ui toggle checkbox"
                 ng-if="vm.mode === 'update'">
              <input ng-model="vm.config.shared_dir_enabled"
                     type="checkbox">
              <label></label>
            </div>

            <i class="fa fa-question-circle"
               style="font-size:16px"
               tooltip-placement="right"
               uib-tooltip="{{ 'pipeline_temporary_directory_tips' | translate }}"></i>
          </div>
        </div>
        <div class="rb-detail-row">
          <div>{{ "quota_space" | translate }}</div>
          <div>
            <a ng-if="vm.config.space_name"
               router-link="'/quota/detail/' + vm.config.space_name">{{
              vm.config.space_name }}</a>
            <span ng-if="!vm.config.space_name">N/A</span>
          </div>
        </div>

        <div class="rb-detail-row">
          <div>{{ "description" | translate }}</div>
          <div>
            <div ng-if="vm.mode !== 'update'">
              {{ vm.config.description }}
            </div>
            <ng-form class="rb-form"
                     ng-if="vm.mode === 'update'">
              <textarea flex
                        ng-model="vm.config.description"
                        name="name"
                        style="padding:5px;resize:none;line-height:24px"></textarea>
            </ng-form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rb-tabs-container rb-detail-container">
    <md-tabs class="rb-tabs"
             md-border-bottom="true"
             md-dynamic-height="true">
      <md-tab class="rb-tab"
              label="{{ 'pipeline_history' | translate }}">
        <rb-pipeline-history-list pipeline-config-name="vm.name">
        </rb-pipeline-history-list>
      </md-tab>

      <md-tab class="rb-tab"
              label="{{ 'pipeline_workflow' | translate }}">
        <rb-pipeline-config-workflow ng-if="vm.config"
                                     config="vm.config"
                                     mode="vm.mode">
        </rb-pipeline-config-workflow>
      </md-tab>
    </md-tabs>
  </div>
</div>
