.rb-console rb-pipeline-config-detail {
  .control-buttons {
    button.button {
      margin-right: 4px;
    }
  }

  rb-pipeline-history-list {
    margin: 0 20px 20px 20px;
  }

  rb-pipeline-config-workflow {
    display: flex;
    margin: 20px;

    rb-pipeline-workflow {
      max-height: 600px;
      margin-bottom: 20px;
    }
  }

  .detail-basic-info {
    flex-shrink: 0;
  }

  .rb-tabs-container {
    margin-bottom: 20px;
    flex-shrink: 0;
  }

  div[md-tabs-template] {
    // fix tab component element margin collapse issue
    padding-bottom: 1px;
  }

  .pipeline-config-forms-container {
    flex: 1;
    overflow: auto;
  }
}
