@import 'colors.styles';
$interval: 20px;

:host {
  .org-detail-header {
    padding: 16px;
    min-height: 80px;
    background-color: #fff;
    margin: 16px 0;
    .link-text {
      cursor: pointer;
    }

    .org-detail-header-right {
      font-size: 16px;
      color: #777;
      div {
        margin: 8px 0;
        text-align: right;
        p {
          text-align: left;
          margin: 0;
          color: #777;
        }
        a {
          font-size: 14px;
          cursor: pointer;
        }
      }
    }

    .user-avatar {
      margin-right: $interval;

      img {
        width: 85px;
        height: 80px;
        border-radius: 10px;
      }

      button {
        font-size: 12px;
        padding: 1px 5px;
        border-radius: 0;
      }

      .img-operation {
        margin-top: 5px;
        color: #2a8baf;
        cursor: pointer;

        &.link-text {
          line-height: 22px;
        }
      }

      .link-text {
        text-align: center;
        font-size: 12px;
      }
    }
  }
  rc-tab-group {
    margin-bottom: 20px;
  }
  ::ng-deep {
    .fa-group {
      margin-left: 4px;
    }
  }
}

profile-update {
  flex: 1;
}
