<div *ngIf="initialized" class="detail-container clearfix org-detail-header">
  <div class="pull-left">
    <div class="pull-left" style="margin-right:10px;">
      <div class="user-avatar">
        <div [rcLoadingMask]="avatarSubmitting">
          <img [src]="(avatarPath | rcUrlProxy ) | async" alt="User Avatar">
        </div>
        <input type="file" hidden #avatarFile (change)="previewAvatar(avatarFile)">
        <div *ngIf="!account.username && !avatarPreviewing"
             class="link-text img-operation"
             (click)="avatarFile.click()">
          {{ 'update_user_logo' | translate }}
        </div>
        <div *ngIf="avatarPreviewing" class="img-operation">
          <button rcButton
                  [disabled]="avatarSubmitting"
                  (click)="cancelPreview(avatarFile)">{{ 'cancel' | translate }}</button>
          <button rcButton="primary"
                  [disabled]="avatarSubmitting"
                  (click)="updateAvatar(avatarFile)">{{ 'save' | translate }}</button>
        </div>
      </div>
    </div>
    <div *ngIf="org" class="pull-left">
      <h3 class="link-text" (click)="gotoUserDetail($event)" style="margin:5px 0;">{{accountInfo}}</h3>
      <p *ngIf="!editingOrgCompany" style="font-size:12px;">
        <span style="color:#777;">{{org.company}}</span>
        <a *ngIf="!isSubAccount" href="javascript:void(0)" (click)="updateCompany()">
          <i class="fa fa-edit"></i>
        </a>
      </p>
    </div>
  </div>
  <div class="pull-right org-detail-header-right">
    <div>
      {{ 'created_at' | translate }}
      <span>{{org?.created_at | rcFormatUtcStr}}</span>
    </div>
  </div>
</div>

<div class="tabs-container detail-container">
  <rc-tab-group class="tabs">
    <div *rcTab="'roles' | translate" class="custom-tab">
      <div class="detail-tab-container clearfix">
        <rc-role-list></rc-role-list>
      </div>
    </div>
    <div *rcTab="'user' | translate" class="custom-tab">
      <div class="detail-tab-container clearfix">
        <rc-app-account-list></rc-app-account-list>
      </div>
    </div>
    <ng-container *ngIf="!isSubAccount">
      <div *rcTab="'LDAP'" class="custom-tab" >
        <div class="detail-tab-container clearfix">
          <rc-app-org-ldap [orgName]="orgName"></rc-app-org-ldap>
        </div>
      </div>
    </ng-container>
    <div *rcTab="'events' | translate" class="custom-tab">
      <div class="detail-tab-container clearfix">
        <rc-event-list type="'organization,ldap_sync,ldap_config,project,project_template,role,permission'"></rc-event-list>
      </div>
    </div>
  </rc-tab-group>
</div>
