<rc-region-badge-option onChangeState="storage.snapshot"></rc-region-badge-option>
<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{'nav_storage'|translate}}
    </ng-container>
    <ng-container *rcBreadcrumbItem>
        <a [routerLink]="['/storage/snapshot']">{{ 'nav_storage_snapshot'| translate }}</a>
    </ng-container>
  </rc-breadcrumb>
</div>
<div fxLayout="row" class="rc-list-header">
  <span fxFlex></span>
  <rc-search-input  (onSearch)="search($event)"
                    [searchOnChange]="true"
                    [loading]="loading"
                    mode="filter">
  </rc-search-input>
</div>
<div class="table-container" [rcLoadingMask]="loading">
  <rc-table class="rc-primary-table"
              *ngIf="initialized && !loadError"
              [rows]="snapshotList"
              [headerHeight]="40"
              [rowHeight]="auto"
              [emptyMessage]="emptyMessage">
    <rc-table-col name='{{"storage_snapshot_name"|translate}}' [width]=260>
      <div *rcTableColCell="let snapshot = row">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/snapshot.svg" alt="">
          <div class="rc-lines">
            <div class="rc-line text-truncate">{{snapshot.name}}</div>
            <div class="rc-line text-truncate" [title]="snapshot.volume_name">
              {{'referenced_volume'|translate}}:
              <a [routerLink]="['/storage/volume/detail', snapshot.volume_id]">{{snapshot.volume_name}}</a>
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col name='{{"status"|translate}}' [width]="140">
      <div *rcTableColCell="let snapshot = row">
        <rc-status-badge [status]="snapshotStateMap[snapshot.state]"></rc-status-badge>
      </div>
    </rc-table-col>
    <rc-table-col name='{{"storage_snapshot_id"|translate}}'>
      <div *rcTableColCell="let snapshot = row"
           class="text-truncate"
           [title]="snapshot.id">{{snapshot.id}}</div>
    </rc-table-col>
    <rc-table-col name='{{"storage_volume_size"|translate}}'>
      <div *rcTableColCell="let snapshot = row">{{snapshot.size}}</div>
    </rc-table-col>
    <rc-table-col name='{{"created_at"|translate}}' [width]=220>
      <div *rcTableColCell="let snapshot = row">
        {{snapshot.created_at|date:'yyyy-MM-dd hh:mm:ss'}}
      </div>
    </rc-table-col>
    <rc-table-col name='{{"action"|translate}}' [width]="150">
      <div *rcTableColCell="let snapshot = row" class="text-nowrap">
        <rc-button-menu *ngIf="hasVolumeCreatePermission||snapshot.canDelete">
          <button rcButton
                  rcButtonSize="small" rcButtonMenuDefault
                  *ngIf="hasVolumeCreatePermission"
                  [disabled]="snapshot.isDeleting || snapshot.state!=='completed'"
                  (click)="createVolume(snapshot)">
            {{'storage_create_volume'|translate}}
          </button>
          <button rcButton
                  rcButtonSize="small" rcButtonMenuDefault
                  *ngIf="!hasVolumeCreatePermission&&snapshot.canDelete"
                  (click)="deleteSnapshot(snapshot)"
                  [disabled]="snapshot.isDeleting">
            {{'delete'|translate}}
          </button>
          <button rcMenuButton
                  [disabled]="snapshot.isDeleting"
                  *ngIf="hasVolumeCreatePermission&&snapshot.canDelete"
                  (click)="deleteSnapshot(snapshot)">
            {{'delete'|translate}}
          </button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>
  <div class="table-no-data"
       *ngIf="initialized && loadError">
    <div>
      {{ 'storage_data_load_error' | translate }}
    </div>
    <button rcButton="primary"
            (click)="loadSnapshots()">
      {{ 'refresh' | translate }}
    </button>
  </div>
</div>
<div class="rc-list-pagination" *ngIf="initialized&&snapshotList.length">
  <rc-pagination [count]="pagination.count"
                 [pageSize]="pagination.pageSize"
                 (pageChanged)="pageChanged($event)"
                 [disabled]="loading"></rc-pagination>
</div>
