@import 'colors.styles';
@import 'list.styles';

$card-margin: 8px;

:host {
  .service-class-header {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $default-border-color;
    padding: 4px 0;
    margin-bottom: 20px;

    &__title {
      font-weight: 500;
      font-size: 18px;
    }
  }

  .rc-detail-tab {
    min-height: 100px;
    padding: 16px;
    margin-top: 30px;
  }

  .detail-item.long-item {
    display: -webkit-box;
    height: auto !important;
    width: 100%;
    .long-content {
      white-space: normal;
      width: 90%;
    }
  }

  .template-card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .template-card-list-container.apps-list-container {
    display: inherit;
    position: absolute;
    height: calc(100% - 20px);
    overflow-y: scroll;
    padding-right: 5px;

    &[mode='APPS'] {
      width: 230px;
    }
  }

  .template-card-container {
    flex: 1 1 240px;
    padding: $card-margin;
  }

  .templates-num {
    text-align: center;
    font-size: 12px;
    color: $black-4;
  }

  .all-templates-apps-link {
    width: 180px;
    color: $rb-blue-l1;
    padding: 8px;
    cursor: pointer;
  }

  .rc-list-header {
    width: 100%;
  }

  .template-name {
    font-size: 18px;
    font-weight: 500;
    max-width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .app-list-close-button {
    margin-left: 20px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    color: $blue-6;
  }

  .opacity-template-card {
    opacity: 0.3;
  }

  .selected-template-card {
    box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.7);
  }

  rc-k8s-app-list {
    margin-bottom: 8px;
  }

  .app-list-container {
    padding: 0px 20px;
  }

  .template-list-empty-message {
    width: 100%;
    text-align: center;
    color: $gray-7;
  }
}
