.landing-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-sizing: border-box;
  min-width: 460px;
  max-width: 100vw;
  margin-bottom: 16px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);

  ::ng-deep > ng-component {
    width: 100%;
  }
}

header,
.landing-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-footer a {
  color: #999;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 20px;

  &:hover {
    color: #666;
  }
}

header {
  min-height: 75px;
  margin: 40px 60px 35px;

  img {
    height: 60px;
  }
}

rld-language-picker {
  position: absolute;
  right: 50px;
  top: 50px;
}

::ng-deep {
  a {
    color: #4aaee7;
  }
  a:hover {
    text-decoration: none;
    color: #428bca;
  }
}
