<div class="landing-container">
  <header class="dis-in-license" *ngIf="!headerInvisible">
    <a  *ngIf="shouldShowLogo" href="/">
      <img [src]="logoSrc" alt="logo">
    </a>
  </header>
  <router-outlet></router-outlet>
</div>
<rld-language-picker class="dis-in-license">
</rld-language-picker>
<div *ngIf="!bottomLinkInvisible" class="landing-footer dis-in-license">
  <a *ngIf="footerRouterLink" [routerLink]="footerRouterLink">
    {{ footerLinkText | translate }}
  </a>
  <span *ngIf="!footerRouterLink">
    {{ footerLinkText | translate }}
  </span>
</div>
