@import 'cursor.styles';

rb-file-upload {
  flex: 1;
}

.rb-file-upload {
  flex: 1;
  display: flex;
  .rb-file-upload-button-container {
    flex: 1 1 30%;
  }
  .rb-file-ul,
  .rb-input-message {
    flex: 1 1 70%;
  }
  .cursor-not-allowed {
    > input {
      @extend .cursor-not-allowed;
    }
  }
  .rb-file-ul {
    margin: 0;
    flex-direction: column;
  }
}
