<div class="rb-file-upload">
  <div class="rb-file-upload-button-container">
    <span class="ui button rb-btn-default fileinput-button" ng-class="{'cursor-not-allowed': vm.disabled}">
      <i class="glyphicon glyphicon-plus"></i>
      <span>{{'add_file' | translate}}</span>
      <input type="text"
             name="fileName"
             ng-model="vm.fileName"
             ng-style="{'display':'none'}"
             ng-required="vm.required"
             ng-pattern="vm.acceptFileTypes"
             rb-errors-tooltip
             rb-errors-tooltip-mapper="{
              'duplicate': (vm.error | translate)
            }"
      >
    </span>
  </div>
  <ul ng-if="!vm.error && vm.fileList.length" class="rb-file-ul">
    <li flex="100" layout="row" ng-repeat="file in vm.files track by $index" ng-if="file">
      <div flex="100" id="files" class="files rb-label" ng-style="{'padding-right': 0}">
        <span class="ellipsis" flex="90" ng-style="{'padding-left': 8}">{{file.name}}</span>
        <div flex="10" ng-if="file" flex="10" id="files" class="delete" ng-click="vm.deleteFile(file, $index)">
          <i class="glyphicon glyphicon-trash"></i>
        </div>
      </div>
    </li>
  </ul>
</div>
