<div class="app-catalog-app-detail" layout="column">
  <div class="dropdown-wrap">
    <rb-dropdown size="sm"
                 options="vm.appNames"
                 key="value" value="key"
                 init="vm.appName"
                 on-change="vm.onAppChange(option)"
    ></rb-dropdown>
  </div>
  <div>
    <!-- Basic info -->
    <div ng-class="{'rb-collapse': vm.isBasicInfoCollapse}" ng-hide="vm.loadingError" rb-loading-mask="vm.loading"
         class="detail-basic-info rb-detail-container">
      <div class="rb-detail-content-header" ng-click="vm.isBasicInfoCollapse = !vm.isBasicInfoCollapse">
        <span>{{'basic_info' | translate}}</span>
        <span class="fa fa-caret-down"
              ng-class="{'rb-collapse': vm.isBasicInfoCollapse}"></span>
      </div>
      <div class="rb-detail-content-wrap">
        <div class="rb-detail-content" layout="row" ng-if="vm.initialized">
          <div class="wrap-image" flex="25" layout="row" layout-align="center start">
            <img width="160" ng-src="{{vm.appDetail.avatar || vm.defaultImg()}}" rb-on-error="vm.onImageError()" alt="app-logo">
          </div>
          <section class="desc" flex="75">
            <h3 class="info">{{'catalog_info' | translate}}</h3>
            <p>{{vm.appDetail.info}}</p>
            <h3 class="instruction">{{'catalog_instruction' | translate}}</h3>
            <div class="markdown-body" ng-if="vm.appDetail.instruction" ng-bind-html="vm.appDetail.instruction | markdown2html"></div>
          </section>
        </div>
      </div>
    </div>
    <div class="rb-loading-mask-placeholder" ng-if="vm.loadingError" style="margin-top: 20px;" flex="column" layout="center" layout-align="center center">
      <p>{{"data_load_error" | translate}}</p>
      <button class="ui button rb-btn-primary" ng-click="vm.getDetail()">{{ 'refresh' | translate }}</button>
    </div>
    <!-- Advance info -->

    <div class="rb-form-panel" ng-if="vm.initialized" rb-loading-mask="vm.creating">
      <div class="rb-form-container">
        <ng-form name="vm.configForm" class="basic-info rb-form">
          <rb-form-control
                  prefix="catalog"
                  config="vm.formConfig"
                  form="vm.configForm"
                  config-map="vm.configMap"
          >
          </rb-form-control>
        </ng-form>
      </div>
      <div class="rb-form-footer">
        <div flex="25"></div>
        <div class="rb-form-footer-buttons flex-50" flex="50">
          <button type="button" class="ui button rb-btn-primary" ng-click="vm.launch()">{{'create'| translate}}
          </button>
          <button type="button" style="margin-left: 8px;" ng-click="vm.cancel()" class="ui button rb-btn-default">
            {{'cancel' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>