@import 'colors.styles';
rb-page-app-catalog-detail {
  overflow: visible !important;
}
.app-catalog-app-detail {
  .dropdown-wrap {
    align-self: flex-end;
  }
  .desc {
    .markdown-body {
      font-size: 14px; // other font size will relative to this value
    }
    :not(.markdown-body) {
      p {
        font-size: 12px;
        color: #464646;
      }
      h3 {
        font-size: 16px;
        color: #464646;
        font-weight: 700;
        margin: 8px 0;
        .instruction {
          margin-top: 16px;
        }
      }
    }
  }
  p.disc-style {
    display: flex;
    align-items: center;
    &:before {
      content: '\f111';
      padding: 0 8px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 6px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .is-blur {
    opacity: 0;
  }
  .ng-submitted {
    .is-blur {
      opacity: 1;
    }
  }
  .error-msg {
    color: $form-text-error-color;
    padding-left: 32px;
  }
}
