<rc-form-container [rcLoadingMask]="!initialized || unbindSubmitting">
  <form #form="ngForm">
    <table class="rc-form-table">
      <thead>
      <tr>
        <td style="width: 100px;">{{ "container_port" | translate }}</td>
        <td>{{ "load_balancer" | translate }}</td>
        <td style="width: 100px;">{{ "listening_port" | translate }}</td>
        <td style="width: 100px;">{{'protocol' | translate}}</td>
        <td style="width: 80px;">{{'action' | translate}}</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of listeners">
        <td>{{item.container_port}}</td>
        <td>{{item.loadbalancer_name}}</td>
        <td>{{item.listener_port}}</td>
        <td>{{item.protocol}}</td>
        <td><a class="form-action-button"
               href="javascript:void(0)"
               (click)="unbind(item)">
          <i class="fa fa-minus-circle"></i>
        </a></td>
      </tr>
      <tr *ngIf="!listeners.length">
        <td colspan="5">
          <div class="rc-form-table-empty">
            {{'service_default_domain_empty' | translate}}
          </div>
        </td>
      </tr>
      <tr class="rc-form-input">
        <td>
          <input name="containerPort"
                 rcInput
                 required
                 [pattern]="portNumberReg.pattern"
                 min="1"
                 max="65535"
                 [(ngModel)]="newListener.container_port"
                 rcErrorsTooltip>
        </td>
        <td>
          <rc-single-selection-dropdown required
                                        name="loadbalancer"
                                        [(ngModel)]="newListener.loadbalancer_id"
                                        [allowFilter]="false"
                                        [options]="loadbalancerOptions"
                                        displayField="name"
                                        valueField="uuid"
                                        (change)="onLoadbalancerSelect($event)"
                                        rcErrorsTooltip
                                        style="width:100%;"></rc-single-selection-dropdown>
        </td>
        <td>
          <input name="listenerPort"
                 rcInput
                 required
                 [pattern]="portNumberReg.pattern"
                 min="1"
                 max="65535"
                 [(ngModel)]="newListener.listener_port"
                 rcErrorsTooltip>
        </td>
        <td>
          <rc-single-selection-dropdown required
                                        name="protocol"
                                        rcErrorsTooltip
                                        [(ngModel)]="newListener.protocol"
                                        [allowFilter]="false"
                                        [options]="protocolOptions"
                                        displayField="name"
                                        valueField="value"></rc-single-selection-dropdown>
        </td>
        <td>
          <button rcButton="primary"
                  [disabled]="submitting"
                  [loading]="submitting"
                  (click)="bind()">{{'add' | translate}}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</rc-form-container>
