<div class="content" [rcLoadingMask]="loading">
  <div class="rc-detail-container">
    <div class="detail-wrapper" style="margin-left: 0" *ngIf="initialized&&!loadError">
      <div class="detail-header">
        <h3>{{alarm.name}}</h3>
        <div class="detail-buttons">
          <button rcButton="primary"
                  (click)="updateAlarm()"
                  *ngIf="alarm.canUpdate"
                  [disabled]="inAction">{{'update' | translate}}</button>
          <button rcButton
                  (click)="deleteAlarm()"
                  *ngIf="alarm.canDelete"
                  [disabled]="inAction">{{"delete" | translate}}</button>
        </div>
      </div>
      <div class="detail-content">
        <div class="detail-item">
          <label>{{'created_at' | translate}}</label>
          <div>{{alarm.created_at | rcFormatUtcStr}}</div>
        </div>
        <div class="detail-item">
          <label>{{'created_by' | translate}}</label>
          <div>{{alarm.created_by}}</div>
        </div>
        <div class="detail-item">
          <label>{{'status' | translate}}</label>
          <div><rc-alarm-status [alarm]="alarm"></rc-alarm-status></div>
        </div>
        <div class="detail-item">
          <label>{{ "space" | translate }}</label>
          <div>
            <a *ngIf="alarm.space_name"
                [routerLink]="['/quota/detail', alarm.space_name]"
                title="{{ alarm.space_name }}">{{ alarm.space_name }}</a>
            <span *ngIf="!alarm.space_name">-</span>
          </div>
        </div>
        <div class="detail-item">
          <label>{{'alarm_period' | translate}}</label>
          <div>{{alarmDisplay.period}}</div>
        </div>
        <div class="detail-item">
          <label>{{'alarm_interval' | translate}}</label>
          <div>{{alarmDisplay.notify_interval}}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'description' | translate }}</label>
          <div *ngIf="alarm.description">{{alarm.description}}</div>
          <div *ngIf="!alarm.description">-</div>
        </div>
      </div>
    </div>
  </div>
  <div class="rc-detail-tab">
    <rc-tab-group *ngIf="initialized&&!loadError">
      <ng-container *rcTab="'alarm_children_alarms' | translate">
        <div class="table-container">
          <rc-table class="rc-secondary-table alarm-table"
                    [rows]="alarm.children"
                    [headerHeight]="40"
                    [rowHeight]="auto"
                    [columnMode]="'force'"
                    emptyMessage="{{ emptyMessage | translate }}">
            <rc-table-col name="{{'name'|translate}}">
              <div *rcTableColCell="let child = row">{{child.display_name}}</div>
            </rc-table-col>
            <rc-table-col name="{{'status'|translate}}">
              <div *rcTableColCell="let child = row" [title]="alarm.metric_name">
                <rc-status-badge [status]="statusMap[child.status]"></rc-status-badge>
              </div>
            </rc-table-col>
            <rc-table-col name="{{'started_time'|translate}}" [cellClass]="'rc-col-truncate-text'">
              <div *rcTableColCell="let child = row" [title]="alarm.metric_name">
                {{child.start | rcFormatUtcStr}}
              </div>
            </rc-table-col>
            <rc-table-col name="{{'action'|translate}}">
              <div *rcTableColCell="let child = row">
                <rc-button-menu>
                  <button rcButton
                          rcButtonSize="small" rcButtonMenuDefault
                          (click)="ackChild(child)"
                          [disabled]="child.inAction || child.ackDisabled"
                          *ngIf="child.canAck">{{(child.ackDisabled?'alarm_ack_sent':'alarm_ack')|translate}}</button>
                  <button rcButton
                          rcButtonSize="small" rcButtonMenuDefault
                          [disabled]="child.inAction"
                          (click)="deleteChild(child)"
                          *ngIf="alarm.canDelete&&!child.canAck">{{'delete'|translate}}</button>
                  <button rcMenuButton
                          [disabled]="child.inAction"
                          (click)="deleteChild(child)"
                          *ngIf="alarm.canDelete&&child.canAck">{{'delete'|translate}}</button>
                </rc-button-menu>
              </div>
            </rc-table-col>
          </rc-table>
        </div>
      </ng-container>
      <ng-container *rcTab="'monitor_metric' | translate">
        <div class="rc-detail-container" style="padding: 0;">
          <div class="detail-wrapper" style="margin-left: 0;">
            <div class="detail-content">
              <div class="detail-item">
                <label>{{ "monitor_metric" | translate }}</label>
                <div>{{alarm.metric_name}}</div>
              </div>
              <div class="detail-item">
                <label>{{ "monitor_aggregator" | translate }}</label>
                <div>{{('aggregator_' + alarm.statistic) | translate}}</div>
              </div>
              <div class="detail-item">
                <label>{{ "monitor_filter_criteria" | translate }}</label>
                <div [innerHTML]="alarmDisplay.tags"></div>
              </div>
              <div class="detail-item">
                <label>{{ "monitor_exclude_criteria" | translate }}</label>
                <div [innerHTML]="alarmDisplay.exclude_tags"></div>
              </div>
              <div class="detail-item">
                <label>{{ 'monitor_group' | translate }}</label>
                <div *ngIf="alarmDisplay.group_by">{{alarmDisplay.group_by}}</div>
                <div *ngIf="!alarmDisplay.group_by">-</div>
              </div>
              <div class="detail-item">
                <label>{{'alarm_threshold' | translate}}</label>
                <div>{{getThresholdDisplay()}}</div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *rcTab="'alarm_action' | translate">
        <div *ngIf="!alarmActions.length" class="rb-loading-mask-placeholder">
          {{'alarm_no_actions' | translate}}
        </div>
        <table *ngIf="alarmActions.length" class="rb-detail-table">
          <thead>
          <tr>
            <th style="width:120px;">{{'action_type' | translate}}</th>
            <th style="width:120px;">{{'trigger_type' | translate}}</th>
            <th>{{'resource' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of alarmActions">
            <td>{{item.action_type | translate}}</td>
            <td>{{item.trigger_option | translate}}</td>
            <td>
              <a *ngIf="item.url" [href]="item.url">{{item.display_name}}</a>
              <span *ngIf="!item.url">{{item.display_name}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
    </rc-tab-group>
  </div>
</div>
