<div class="rc-detail-container" [rcLoadingMask]="loading">
  <div class="detail-wrapper" style="margin-left: 0" *ngIf="initialized&&!loadError">
    <div class="detail-header">
      <h3>{{alarm.name}}</h3>
      <div class="detail-buttons">
        <button rcButton="primary"
                (click)="updateAlarm()"
                *ngIf="alarm.canUpdate"
                [disabled]="inAction">{{'update' | translate}}</button>
        <button rcButton
                (click)="deleteAlarm()"
                *ngIf="alarm.canDelete"
                [disabled]="inAction">{{"delete" | translate}}</button>
      </div>
    </div>
    <div class="detail-content">
      <div class="detail-item">
        <label>{{ "created_at" | translate }}</label>
        <div>{{alarm.created_at | rcFormatUtcStr}}</div>
      </div>
      <div class="detail-item">
        <label>{{ "created_by" | translate }}</label>
        <div>{{alarm.created_by}}</div>
      </div>
      <div class="detail-item">
        <label>{{'status' | translate}}</label>
        <div><rc-status-badge [status]="statusMap[alarm.status]"></rc-status-badge></div>
      </div>
      <div class="detail-item">
        <label>{{'alarm_threshold' | translate}}</label>
        <div>{{alarmDisplay.threshold}}</div>
      </div>
      <div class="detail-item">
        <label>{{'schedule_rule' | translate}}</label>
        <div>{{alarmDisplay.schedule_rule}}</div>
      </div>
      <div class="detail-item">
        <label>{{'quota_space' | translate}}</label>
        <div>
          <a *ngIf="alarm.space_name"
             [routerLink]="['/quota/detail', alarm.space_name]">{{ alarm.space_name }}</a>
          <span *ngIf="!alarm.space_name">-</span>
        </div>
      </div>
      <div class="detail-item">
        <label>{{'description' | translate}}</label>
        <div>{{alarm.description}}</div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="rc-detail-tab">
    <rc-tab-group *ngIf="initialized&&!loadError">
      <ng-container *rcTab="'log_alarm_query_history' | translate">
        <div [rcLoadingMask]="loading || chartLoading">
          <div class="chart" *ngIf="!loading && !chartLoading">
            <rc-charts-line-chart
              [results]="chart.data"
              [xAxis]="true"
              [yAxis]="true"
              [autoScale]="true"
              [scheme]="chart.scheme"
              [roundDomains]="true"
              [xAxisTickFormatting]="chart.xAxisTickFormatting"
              [yAxisTickFormatting]="chart.yAxisTickFormatting"
              [xAxisTickWidth]="120"
              *ngIf="chart.data.length">
              <ng-template #tooltipTemplate let-model="model">
                <div class="rc-chart-tooltip-item">{{model.name | rcFormatUtcStr}}</div>
                <div class="rc-chart-tooltip-item">{{'data' | translate}}: {{model.value}}</div>
                <div class="rc-chart-tooltip-item">{{'unit' | translate}}：{{alarm.statistic}}</div>
                <div class="rc-chart-tooltip-item">{{model.series}}</div>
              </ng-template>
            </rc-charts-line-chart>
            <div *ngIf="!chart.data.length" class="chart-empty">{{'no_data' | translate}}</div>
          </div>
        </div>
      </ng-container>
      <ng-container *rcTab="'logs_query_condition' | translate">
        <div class="rc-detail-container" style="padding: 0">
          <div class="detail-wrapper" style="margin-left: 0">
            <div class="detail-content">
              <div class="detail-item">
                <label>{{ "logs_query_condition" | translate }}</label>
                <div *ngIf="alarm.saved_search_detail">{{alarm.saved_search_detail.display_name}}</div>
                <div *ngIf="!alarm.saved_search_detail">-</div>
              </div>
              <div class="detail-item">
                <label>{{ "logs_query_condition_content" | translate }}</label>
                <div>{{alarmDisplay.queryCondition}}</div>
              </div>
              <div class="detail-item">
                <label>{{ 'log_time_range' | translate }}</label>
                <div>{{alarmDisplay.queryConditionTimeRange}}</div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *rcTab="'alarm_action' | translate">
        <div *ngIf="!alarmActions.length" class="rb-loading-mask-placeholder">
          {{'alarm_no_actions' | translate}}
        </div>
        <table *ngIf="alarmActions.length" class="rb-detail-table">
          <thead>
          <tr>
            <th style="width:120px;">{{'action_type' | translate}}</th>
            <th style="width:120px;">{{'trigger_type' | translate}}</th>
            <th>{{'resource' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of alarmActions">
            <td>{{item.action_type | translate}}</td>
            <td>{{item.trigger_option | translate}}</td>
            <td>
              <a *ngIf="item.url" [href]="item.url">{{item.display_name}}</a>
              <span *ngIf="!item.url">{{item.display_name}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
    </rc-tab-group>
  </div>
</div>
