<!-- Primary Item -->
<a class="nav-item primary-nav-item"
   [attr.href]="navItem.href | rcTrustUrl"
   [attr.target]="getLinkElementTarget(navItem)"
   [attr.name]="navItem.name"
   [class.disabled]="navItem.disabled"
   [class.active]="navItem.active"
   [class.expandable]="expandable"
   [rcTooltip]="navItem.tooltip | translate"
   [rcTooltipInline]="false"
   [rcTooltipModifiers]="{preventOverflow: {boundariesElement: 'viewport'}}"
   (click)="primaryClicked($event)">
  <i class="nav-item-icon" [ngClass]="navItem.iconClass"></i>
  <span class="nav-item-title">{{ navItem.displayName | translate }}</span>
  <div fxFlex></div>
  <span class="nav-item-expand-indicator"
        [class.expanded]="expanded"
        [ngClass]="expandIcon"
        *ngIf="this.expandable">
  </span>
</a>

<!-- Secondary Item List -->
<div *ngIf="children && !navItem.disabled"
     class="sub-item-container"
     [attr.num-of-children]="children.length"
     [class.expanded]="expanded">
  <a *ngFor="let subItem of children; trackBy: trackByItem"
     class="sub-nav-item nav-item"
     (click)="subClicked($event, subItem)"
     [attr.href]="subItem.href | rcTrustUrl"
     [attr.target]="getLinkElementTarget(subItem)"
     [attr.name]="subItem.name"
     [class.disabled]="subItem.disabled"
     [class.active]="subItem.active"
     [title]="subItem.displayName">
    <i class="nav-item-icon" [ngClass]="subItem.iconClass"></i>
    <span class="nav-item-title">{{ subItem.displayName | translate }}</span>
  </a>
</div>
