@import '../../layout.common';

$item-expanded-background: #3c4b55;
$item-active-background: #24a7e3;
$item-height: 32px;
$title-normal-opacity: 0.7;
$title-active-opacity: 1;
$title-disabled-opacity: 0.3;
$title-sub-normal-opacity: 0.5;
$title-font-size: 14px;
$title-font-size-sub: 14px;
$icon-width: 32px;
$icon-font-size: 12px;
$highlight-border-width: 2px;

:host {
  display: block;
  width: 100%;
  position: relative;

  &.expanded,
  &.active,
  &:hover {
    background-color: $item-expanded-background;
  }
  transition: background-color $nav-animation-duration;
}

:host.expandable::before,
:host.expanded::before {
  height: 100%;
  width: $highlight-border-width;
  background-color: $item-active-background;
  content: '';
  position: absolute;
  top: 0;
  left: -$highlight-border-width;
  transform: scale(0);
  transition: transform $nav-animation-duration;
}

:host.expanded > .primary-nav-item.active {
  background: transparent;
}

:host.active::before {
  transform: scale(1);
}

.nav-item {
  display: flex;
  height: $item-height;
  align-items: center;
  transition: background-color $nav-animation-duration;

  &.active:not(.expandable) {
    background-color: $item-active-background;
  }
}

.sub-item-container {
  height: 0;
  overflow: hidden;
  transition: height $nav-animation-duration;
}

/*
 * Expanded sub item list should have full height
 */
.sub-item-container.expanded {
  @for $i from 1 through 10 {
    &[num-of-children='#{$i}'] {
      height: $i * $item-height;
    }
  }
}

.nav-item-title,
.nav-item-icon,
.nav-item-expand-indicator {
  color: $nav-title-color;
  font-size: $title-font-size;
  opacity: $title-normal-opacity;
}

.sub-nav-item > .nav-item-title {
  font-size: $title-font-size-sub;
  opacity: $title-sub-normal-opacity;
  transition: opacity $nav-animation-duration-faster;
}

.sub-nav-item:hover > .nav-item-title {
  opacity: $title-normal-opacity;
}

.nav-item.active .nav-item-title,
.sub-nav-item.active > .nav-item-title {
  opacity: $title-active-opacity;
}

a,
a:focus {
  text-decoration: none !important;
}

a.disabled {
  opacity: $title-disabled-opacity;
  cursor: not-allowed;
}

a.nav-item {
  cursor: pointer;
}

.expandable {
  cursor: pointer;
}

.nav-item-icon,
.nav-item-expand-indicator {
  width: $icon-width;
  text-align: center;
  flex-shrink: 0;
}

.nav-item-icon {
  font-size: $icon-font-size;
}

/* Expand icon styles */
.nav-item-expand-indicator {
  font-size: 8px;
}

.nav-item-expand-indicator {
  position: relative;
  transition: transform $nav-animation-duration
      cubic-bezier(0.05, 0.71, 0.88, 1.94),
    opacity $nav-animation-duration-faster;
  transform: scale(0.6);
  opacity: 0;
}

.primary-nav-item.active .nav-item-expand-indicator {
  transform: scale(1);
  opacity: 1;
}

.primary-nav-item:hover .nav-item-expand-indicator {
  transform: scale(1.2);
  opacity: 1;
}

/* Special rules for beta icon */
.rc-beta-icon {
  background: url('/static/images/icon/beta.svg') no-repeat center;
  background-size: 26px;
  height: 20px;
  width: $icon-width;
  opacity: 1;
}
