<div class="header-row" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex></div>
</div>
<span *ngIf="class?.kubernetes.status.removedFromBrokerCatalog; else brokerStatusBlock"
      class="fa fa-exclamation-circle service-catalog-warning-exclamation-circle" 
      [rcTooltip]="'service_catalog_class_breakdown' | translate"
      [rcTooltipInline]="false"
      rcTooltipMode="warning"
      rcTooltipPosition="top">
</span>
<ng-template #brokerStatusBlock>
  <span *ngIf="class?.status !== 'True'"
        class="fa fa-exclamation-circle service-catalog-warning-exclamation-circle" 
        [rcTooltip]="'service_catalog_broker_breakdown' | translate"
        [rcTooltipInline]="false"
        rcTooltipMode="warning"
        rcTooltipPosition="top">
  </span>
</ng-template>
<div class="icon-row">
  <img [src]="class.kubernetes.spec.externalMetadata && class.kubernetes.spec.externalMetadata.imageUrl || ''"
        alt="class-icon"
        onerror="javascript:this.src='/static/images/service-catalog/service-class.svg';">
  <div class="template-display-name" [title]="class?.kubernetes.spec.externalName">
    {{ class?.kubernetes.spec.externalName }}
  </div>
</div>

<div class="lower-half">
  <hr>
  <div class="template-summary-area" [title]="class?.kubernetes.spec.description">
    <p>{{ class?.kubernetes.spec.description }}</p>
  </div>

  <button rcButton="primary"
          [title]="warm_tips"
          class="template-create-app-button"
          (click)="seeMore()"
          [disabled]="class?.kubernetes.status.removedFromBrokerCatalog">
    {{ 'service_catalog_see_more' | translate }}
  </button>
</div>
