@import 'colors.styles';

:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
  padding: 8px 14px 20px 14px;
  position: relative;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 3px 0 rgba(102, 102, 102, 0.3);

  &:hover {
    box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.7);
  }
}

.lower-half {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
}

.header-row {
  align-self: stretch;
  flex-shrink: 0;

  .app-num-with-icon {
    color: $rb-blue;
    cursor: pointer;
  }
}

.icon-row {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;

  img {
    height: 60px;
    max-width: 160px;
    margin-bottom: 12px;
  }

  .template-display-name {
    font-size: 18px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 170px;
  }
}

hr {
  width: 100%;
}

.template-summary-area {
  margin: 10px 0;
  height: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  width: 200px;

  p {
    color: $black-4;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
  }
}

.service-catalog-warning-exclamation-circle {
  position: absolute;
  right: 5px;
}
