@import 'colors.styles';
.collapse-plane {
  position: relative;

  .collapse-content {
    overflow: hidden;
  }

  .collapse-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $card-background-color;
    position: absolute;
    cursor: pointer;
    left: 50%;
    bottom: -10px;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
    color: #999;

    & > i {
      margin: 10px;
      font-size: 16px;
    }

    &:hover {
      color: #24a7e3;
    }
  }
}
