<div class="collapse-plane">
  <div class="collapse-content"
       [@activeState]="{value: _state, params: {initHeight: initHeight}}">
    <ng-content></ng-content>
  </div>
  <div *ngIf="liner" [@linerState]="{value: _state}" style="background: #fff"></div>
  <div [hidden]="hidden || disabled" class="collapse-icon" (click)="toggleState()">
    <i class="fa fa-angle-double-{{_state === 'active'? 'up':'down'}}"></i>
  </div>
</div>
