<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="!vm.initialized || vm.submitting">
    <form class="rb-form" name="vm.form">
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'username' | translate}}</label>
          <label class="rb-input-text">{{vm.userName}}</label>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>

      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'role' | translate}}</label>
          <rb-search-dropdown multiple="true"
                              placeholder="'user_add_role_placeholder' | translate"
                              backend-url="vm.roleBackendUrl"
                              response-item-filter="vm.rolesFilter"
                              fields-setting="{name: 'name', value: 'name'}"
                              on-add="vm.onRoleAdd(value)"
                              on-remove="vm.onRoleRemove(value)">
          </rb-search-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>

    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-disabled="!vm.initialized || !vm.selectedRoles.length" ng-click="vm.confirm()">{{'confirm' |
        translate}}
      </button>
    </div>
  </div>
</div>