<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
      <ng-container *rcBreadcrumbItem>
        <a [routerLink]="['/project', {project: (currentProject$ | async)?.name}]">{{'project_overview' | translate}}</a>
      </ng-container>
      <ng-container *rcBreadcrumbItem>
        {{'project_detail' | translate}}
      </ng-container>
  </rc-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!(currentProject$ | async)"></rc-loading-mask>
<ng-container *ngIf="(currentProject$ | async)">
  <rc-project-detail [project]="currentProject$ | async"></rc-project-detail>
</ng-container>