@import 'colors.styles';

.license-container {
  width: 560px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 5px 1px $gray-5;

  header {
    padding: 12px 32px;
    border-bottom: 1px solid $gray-5;
    font-size: 18px;
    line-height: 31px;
    color: $black-6;
    display: flex;
    justify-content: space-between;
  }
  form {
    display: flex;
    flex-direction: column;
  }

  rc-inline-notification {
    margin-top: 16px;
  }
  .license-body {
    padding: 0 32px 64px;
    display: flex;
    flex-direction: column;
    .license-title {
      margin: 8px 0;
      font-size: 14px;
      line-height: 20px;
    }
    .platform-id {
      margin-top: 16px;
      font-size: 14px;
      line-height: 20px;
    }
    textarea {
      flex: 1;
      resize: none;
      height: 112px;
      word-break: break-all;
      border-radius: 3px;
      border: 1px solid $gray-7;
      &.ng-invalid.ng-touched {
        border: 1px solid $status-color-error;
      }
    }
    button {
      margin-top: 8px;
      height: 36px;
      &.primary {
        background-color: $button-primary-border-color;
      }
    }
  }

  footer {
    margin: 0 32px;
    padding: 16px 0;
    border-top: 1px solid $gray-5;
    div {
      font-size: 12px;
      line-height: 1.5;

      &:nth-child(2) {
        margin-top: 6px;
      }
      &:nth-child(3) {
        margin-top: 2px;
      }
    }
  }
}
