<rc-loading-mask [loading]="loading"
                 *ngIf="loading"></rc-loading-mask>
<ng-container *ngIf="!loading">
  <div class="license-container">
    <header>
      <div>{{platformInfo?.product_name}} {{ ((isFirstActivate && !isAdmin)? 'license_not_activated':'license_activate')
        | translate}}</div>
      <button *ngIf="isAdmin"
              class="ui grey basic button"
              (click)="logout()">{{'logout'|translate}}</button>
    </header>
    <div class="license-body">
      <ng-container *ngIf="isAdmin">
        <rc-inline-notification *ngIf="!isFirstActivate"
                                type="error"
                                [content]="'license_info_4' | translate">
        </rc-inline-notification>
        <div class="platform-id">{{'platform'|translate}} ID：{{platformInfo?.registry_code}}</div>
        <div class="license-title">{{'license_info_2_1'|translate}} {{platformInfo?.product_name
          | translate}} {{'license_info_2_2'|translate}}</div>
        <form #ngForm="ngForm">
          <textarea rcInput
                    name="licenseCode"
                    spellcheck="false"
                    required
                    class="license-area"
                    [(ngModel)]="licenseCode"></textarea>
          <button class="button primary large ui"
                  (click)="licenseValidate()"
                  [class.loading]="isSubmitting"
                  [disabled]="btnDisabled">
            {{ 'activate_license' | translate }}
          </button>
        </form>
      </ng-container>
      <ng-container *ngIf="!isAdmin">
        <div class="license-title"
             *ngIf="isFirstActivate">{{'license_contact1' | translate}}。</div>
        <div class="license-title"
             *ngIf="!isFirstActivate">
          <rc-inline-notification type="error"
                                  [title]="'license_is_outdata' | translate"
                                  [content]="'license_contact' | translate">
          </rc-inline-notification>
        </div>
        <button (click)="logout()"
                class="button primary large ui">
          {{ 'logout' | translate }}
        </button>
      </ng-container>
    </div>
    <footer>
      <div>
        {{'license_info_1_1' | translate}} {{platformInfo?.product_name}} {{'license_info_1_2'|translate}}
      </div>
      <div>{{'email'|translate}}：<a href='mailto:marketing@alauda.io'
           style='color:#494949'>marketing@alauda.io</a></div>
      <div>{{'call'|translate}}：4006-252-832</div>
    </footer>
  </div>
</ng-container>
