:host {
  rc-form-container {
    ::ng-deep .rc-form-panel {
      border: none;

      .form-field-label {
        width: 160px;
      }
    }
  }
  ::ng-deep .addon-container.ng-star-inserted {
    span:hover {
      color: #24a7e3;
    }
  }
}
