<rc-form-container>
  <rc-dynamic-form #dynForm
                   [fieldModels]="fieldModels"
                   (submit)="submit($event)"
                   (statusChanges)="onStatusChanges()">
  </rc-dynamic-form>
  <ng-container *rcFooterContent>
    <button rcButton
            [disabled]="submitting"
            (click)="cancel()">
      {{'cancel' | translate}}
    </button>
    <button rcButton="primary"
            [loading]="submitting"
            [disabled]="submitting || errorState"
            (click)="dynForm.onSubmit()">
      {{ (defaultValue.uuid ? 'update' : 'add') | translate}}
    </button>
  </ng-container>
</rc-form-container>
