<div
  class="container-first"
  *ngIf="urlList.length">
  <a 
    [attr.href]="urlList[0]"
    target="_blank">{{urlList[0]}}</a>
</div>
<div
  class="container-second"
  *ngIf="urlList.length === 2">
  <a 
    [attr.href]="urlList[1]"
    target="_blank">{{urlList[1]}}</a>
</div>
<div class="container-complete" *ngIf="urlList.length > 2">
  <div
    class="button-complete"
    [auiTooltip]="complete"
    auiTooltipType="primary"
    auiTooltipPosition="bottom start"
    auiTooltipTrigger="click"
    [title]="'click_to_show_all_urls' | translate"
  >
    {{'service_total' | translate}}<span class="image-amounts">{{urlList.length}}</span>{{'service_item' | translate}}
  </div>
  <ng-template #complete>
      <div class="container-tooltip">
          <a *ngFor="let url of urlList"
          [attr.href]="url"
          target="_blank">{{url}}</a>
      </div>
  </ng-template>
</div>