<div ng-show="vm.initialized"
     class="rb-detail-container clearfix rb-org-detail-header">
  <div class="pull-left">
    <div class="pull-left"
         style="margin-right:10px;">
      <rb-org-logo ng-if="vm.org" can-edit="!vm.isSubAccount" org="vm.org"></rb-org-logo>
    </div>
    <div ng-if="vm.org"
         class="pull-left">
      <h3 ng-bind="vm.accountInfo"
          class="link-text"
          ng-click="vm.gotoUserDetail()"
          style="margin:5px 0;"></h3>
      <p ng-hide="vm.editingOrgCompany"
         style="font-size:12px;">
        <span ng-bind="vm.org.company"
              style="color:#777;"></span>
        <a ng-if="!vm.isSubAccount"
           href="javascript:void(0)"
           ng-click="vm.updateCompany()"><i class="fa fa-edit"></i></a>
      </p>
    </div>
  </div>
  <div class="pull-right rb-org-detail-header-right">
    <div>
      {{ 'created_at' | translate }} <span ng-bind="vm.org.created_at | formatDate"></span>
    </div>
  </div>
</div>

<div class="rb-tabs-container rb-detail-container">
  <md-tabs class="rb-tabs"
           md-border-bottom="true"
           md-dynamic-height="true">


    <md-tab class="rb-tab"
            md-on-select="vm.currentTab=''"
            label="{{ 'roles' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-role-list></rb-role-list>
      </div>
    </md-tab>


    <md-tab class="rb-tab"
            md-on-select="vm.currentTab=''"
            label="{{ 'members' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-account-list></rb-account-list>
      </div>
    </md-tab>

    <md-tab class="rb-tab"
            ng-if="!vm.isSubAccount"
            md-on-select="vm.currentTab='ldap'"
            label="LDAP">
      <rb-org-ldap ng-if="vm.currentTab==='ldap'" org-name="vm.orgName"></rb-org-ldap>
    </md-tab>

    <md-tab class="rb-tab"
            md-on-select="vm.currentTab='events'"
            label="{{ 'events' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-event-list ng-if="vm.currentTab==='events'"
                       type="'organization,ldap_sync,ldap_config,project,project_template,role,permission'"></rb-event-list>
      </div>
    </md-tab>
  </md-tabs>
</div>