@import 'colors.styles';

.rb-console {
  .org-user-logo {
    height: 80px;
    width: 80px;
  }
  // org information
  .org-info-container {
    color: #464646;
    padding: 16px 8px;
    .org-info-row {
      padding: 8px 0;
      font-size: 14px;
      div:first-child {
        padding-right: 16px;
        width: 120px;
        text-align: right;
        color: $form-text-label-color;
      }
      a {
        cursor: pointer;
      }
    }
  }

  .rb-org-detail-header {
    padding: 16px;
    min-height: 80px;
    .rb-org-detail-header-right {
      font-size: 16px;
      color: #777;
      div {
        margin: 8px 0;
        text-align: right;
        p {
          text-align: left;
          margin: 0;
          color: #777;
        }
        a {
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }
  rb-org-ldap,
  .rb-org-ldap {
    min-height: 200px;
    .rb-form-panel {
      box-shadow: none !important;
    }
    .rb-form-container {
      padding-top: 10px !important;
    }
    .rb-detail-container {
      box-shadow: none !important;
    }
    .ldap-type-select-card {
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      .item {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        margin: 0 10px;
        width: 220px;
        height: 136px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        &:hover {
          background-color: #f8f8f8;
        }
        &.selected {
          background-color: #f8f8f8;
          .link-status-ribbon {
            visibility: visible;
            i.fa.fa-check {
              color: #42d32b;
            }
          }
        }
        .item-logo {
          width: 64px;
        }
        .item-name {
          font-size: 16px;
          line-height: 20px;
          color: #333;
          margin-top: 10px;
        }
        .link-status-ribbon {
          visibility: hidden;
          position: absolute;
          top: -25px;
          right: -25px;
          width: 50px;
          height: 50px;
          transform: rotate(45deg);
          background-color: #eee;
          &.disabled {
            background-color: transparent;
            transform: none;
            top: 5px;
            right: 5px;
            width: 200px;
            color: #999;
            text-align: right;
          }
          i.fa {
            position: absolute;
            bottom: 3px;
            left: 20px;
            transform: rotate(-45deg);
            &.fa-check {
              color: #666;
            }
          }
        }
      }
    }
    .ldap-desc-card {
      background: #fcfcfc;
      border: 1px solid #f3f3f3;
      border-radius: 4px;
      padding: 10px;
      margin: 20px 28px 0;
      .title {
        font-size: 16px;
        line-height: 26px;
        color: #333;
      }
      .desc {
        font-size: 14px;
        line-height: 20px;
        color: #666;
      }
      .button-area {
        position: absolute;
        top: 28px;
        right: 28px;
      }
    }
  }
}

rb-profile-update {
  flex: 1;
}
