<div class="rc-row">
    <div class="row-label">
        {{'affinity' | translate}}{{'colon_mark' | translate}}
    </div>
    <div class="row-content-wrap">
        <div class="row-content">
            <rc-multi-selection-dropdown #affinitySelect
                [options]="affinityServiceOptions"
                [displayField]="'name'"
                [valueField]="'name'"
                (optionAdd)="addAffinityService($event)"
                (optionRemove)="removeAffinityService($event)">
            </rc-multi-selection-dropdown>
        </div>
        <div class="row-hint">
            {{'app_affinity_hint' | translate}}
        </div>
    </div>
</div>

<div class="rc-row">
    <div class="row-label">
        {{'antiaffinity' | translate}}{{'colon_mark' | translate}}
    </div>
    <div class="row-content-wrap">
        <div class="row-content">
            <rc-multi-selection-dropdown #antiAffinitySelect
                [options]="antiAffinityServiceOptions"
                [displayField]="'name'"
                [valueField]="'name'"
                (optionAdd)="addAntiAffinityService($event)"
                (optionRemove)="removeAntiAffinityService($event)">
            </rc-multi-selection-dropdown>
        </div>
        <div class="row-hint">
            {{'app_antiaffinity_hint' | translate}}
        </div>
    </div>
</div>