:host {
  width: 100%;
  padding: 0 8px;
  background-color: #fafafa;
  .rc-row {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0 8px 0;
    &:first-child {
      border-bottom: 1px dashed #e8e8e8;
    }
    .row-label {
      align-self: flex-start;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      text-align: center;
      line-height: 16px;
      width: 65px;
      padding: 8px 4px;
    }
    .row-content-wrap {
      flex: 1;
      .row-content {
        rc-multi-selection-dropdown {
          display: block;
          ::ng-deep {
            .ui.dropdown {
              display: block;
            }
          }
        }
      }
      .row-hint {
        padding-top: 4px;
        font-size: 12px;
        color: #999;
      }
    }
  }
}
