<form #ownerForm="ngForm">
    <table class="rc-form-table">
        <thead>
            <tr>
                <td>{{ "realname" | translate }}</td>
                <td>{{ "call" | translate }}</td>
                <td style="width: 30px;"></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of value ; trackBy: trackByIndex;"
                class="rc-form-input">
                <td>
                    <input aui-input
                        type="text"
                        required
                        maxlength="32"
                        [placeholder]="'realname' | translate"
                        name="name-{{item.indexId}}"
                        [rcErrorsTooltip]
                        [(ngModel)]="item.name">
                </td>
                <td>
                    <input aui-input
                        type="text"
                        required
                        minlength="7"
                        maxlength="15"
                        [placeholder]="'phone_format_limit' | translate"
                        name="call-{{item.indexId}}"
                        [pattern]="numberReg.pattern"
                        [rcErrorsTooltip]
                        [(ngModel)]="item.phone">
                </td>
                <td>
                    <button
                        aui-button="text"
                        (click)="removeRow(item.indexId)"
                        [disabled]="value.length === 1"
                    >
                        <aui-icon icon="basic:minus_circle_s" margin="right"></aui-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- 添加 -->
    <div class="add-container-button" (click)="addRow()"><i class="fa fa-plus-circle"></i>{{ 'add' | translate }}</div>
</form>