<table class="rc-form-table">
    <thead>
        <tr>
            <td style="width: 30%;">
                {{ 'storage_name' | translate }}
            </td>
            <td style="width: 30%;">
                {{ 'sub_path' | translate }}
            </td>
            <td>
                {{ 'service_container_path' | translate }}
            </td>
            <td style="width: 50px;"></td>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of storageList; let i = index;">
            <tr>
                <td>{{item.pvcName}}</td>
                <td>{{item.subPath}}</td>
                <td>{{item.containerPath}}</td>
                <td>
                    <a class="form-action-button"
                        href="javascript:void(0)"
                        (click)="updateItem(i, item)">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="form-action-button"
                        href="javascript:void(0)"
                        (click)="removeItem(i)">
                        <i class="fa fa-minus-circle"></i>
                    </a>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<div *ngIf="!storageList.length"
    class="rc-form-table-empty">
    {{ 'service_volume_empty' | translate }}
</div>
<div style="margin-top: 8px; text-align: right;">
    <button rcButton="primary-lite"
        rcButtonSize="small"
        (click)="addItem()">{{'service_add_volume' | translate}}</button>
</div>