<form #form="ngForm">
    <table class="rc-form-table">
        <thead>
            <tr>
                <td>{{ "key" | translate }}</td>
                <td style="width: 70%;">{{ "value" | translate }}</td>
                <td style="width: 30px;"></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of envs ; trackBy: trackByIndex;"
                class="rc-form-input">
                <td>
                    <input rcInput
                        type="text"
                        name="name-{{item.index}}"
                        [pattern]="envNamePattern.pattern"
                        [rcErrorsTooltip]
                        [rcErrorsTooltipMapper]="{pattern: envNamePattern.tip}"
                        [(ngModel)]="item.name">
                </td>
                <td *ngIf="!item.reference">
                    <input rcInput
                        type="text"
                        name="value-{{item.index}}"
                        [(ngModel)]="item.value">
                </td>
                <td *ngIf="item.reference">
                    <div class="select-group">
                        <rc-single-selection-dropdown name="configmap-option-{{item.index}}"
                            [(ngModel)]="item.configMap"
                            displayField="name"
                            valueField="name"
                            [placeholder]="(configMapOptions.length ? 'k8s_service_select_configmap' : 'currently_no_options')|translate"
                            [options]="configMapOptions"
                            (change)="onConfigMapSelect($event, item)"></rc-single-selection-dropdown>
                        <rc-single-selection-dropdown name="configmap-option-key-{{item.index}}"
                            [(ngModel)]="item.configMapKey"
                            [placeholder]="(configMapKeyOptions.length ? 'k8s_service_select_configmap_key' : 'currently_no_options')|translate"
                            [options]="configMapKeyOptions"></rc-single-selection-dropdown>
                    </div>
                </td>
                <td>
                    <a class="form-action-button"
                        href="javascript:void(0)"
                        (click)="deleteEnvVar(item.index)">
                        <i class="fa fa-minus-circle"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!envs.length"
        class="rc-form-table-empty">
        {{'no_env_vars' | translate}}
    </div>
    <div class="button-group">
        <div class="rc-form-table-add-row"
            (click)="addEnvVar()">
            <i class="fa fa-plus-circle"></i>
            <span>{{'key' | translate}}/{{'value' | translate}}</span>
        </div>
        <div class="rc-form-table-add-row"
            (click)="addEnvVar(true)">
            <i class="fa fa-plus-circle"></i>
            <span>{{'reference' | translate}}Configmap</span>
        </div>
    </div>
</form>