@import '_colors.styles';
:host {
  display: block;
  flex: 1;
  form {
    display: flex;
    .rc-field-cell {
      flex: 1;
      display: flex;
      .rc-input-prefix,
      .rc-input-suffix {
        height: 32px;
        border: 1px solid $form-input-border-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 8px;
      }
      .rc-input-prefix {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-right: none;
        background-color: #f2f2f2;
      }
      .rc-input-suffix {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left: none;
      }
      input {
        flex: 1;
        border-radius: 0;
        margin-right: -1px;
        &:focus {
          z-index: 1;
        }
      }
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
    ::ng-deep .ui.selection.dropdown {
      border-radius: 0px 3px 3px 0px;
      min-width: 4em;
    }
  }
}
