.select-group {
  display: flex;
  rc-single-selection-dropdown {
    flex: 1;
    &:first-child {
      margin-right: 2px;
    }
  }
}
.button-group {
  display: flex;
  .rc-form-table-add-row {
    flex: 1;
    &:first-child {
      margin-right: 1px;
    }
  }
}
