<form #containerForm="ngForm">
    <section class="toc-form-group"
        rcTocContent="{{'toc_content_container_basic' + containerIndex}}">
        <div class="form-group-header">
            <div class="form-group-bar group-container"></div>
            {{'container' | translate}}-{{'basic'| translate}}
        </div>
        <div class="form-group-content">
            <!-- 名称 -->
            <rc-form-field label="{{'container_name' | translate}}">
                <input rcInput
                    required
                    [(ngModel)]='viewModel.name'
                    maxlength="32"
                    [placeholder]="resourceNameReg.tip | translate"
                    [pattern]="resourceNameReg.pattern"
                    name="name"
                    type="text" />
            </rc-form-field>
            <!-- 镜像地址 -->
            <div class="rc-form-field">
                <div class="rc-form-field-label">{{'image' | translate}}</div>
                <div class="rc-form-field-container">
                    <div class="container-image">
                        <label>{{viewModel.image}}:{{viewModel.imageTag}}</label>
                        <button rcButton="primary-lite"
                            rcButtonSize="small"
                            (click)="openImageSelectDialog()">{{'nav_select_image' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <!-- 大小 -->
            <div class="rc-form-field">
                <div class="rc-form-field-label">
                    {{'resource_size' | translate}}
                </div>
                <div class="rc-form-field-container">
                    <rc-container-resources-fieldset #containerResources [(ngModel)]="viewModel.resources"
                        name="resource"></rc-container-resources-fieldset>
                </div>
            </div>
        </div>
    </section>

    <section class="toc-form-group"
        [hidden]="!showAdvanceOptions"
        rcTocContent="{{'toc_content_container_advance' + containerIndex}}">
        <div class="form-group-header">
            <div class="form-group-bar group-container"></div>
            {{'container' | translate}}-{{'advanced'| translate}}
        </div>
        <div class="form-group-content">
            <!-- 存储 -->
            <div class="rc-form-field">
                <div class="rc-form-field-label">{{'storage' | translate}}</div>
                <div class="rc-form-field-container">
                    <rc-container-storage-fieldset [serviceUuid]="serviceUuid"
                        [namespaceName]="namespaceName" [clusterName]="clusterName"
                        name="storage"
                        [(ngModel)]=viewModel.volumes></rc-container-storage-fieldset>
                </div>
            </div>
            <!-- 健康检查 -->
            <rc-form-field label="{{'health_check' | translate}}"
                [shouldFlexRow]="true">
                <rc-container-fields-healthcheck name="healthcheck"
                    [(ngModel)]="viewModel.healthCheck"></rc-container-fields-healthcheck>
            </rc-form-field>
            <!-- 执行命令 -->
            <rc-form-field label="{{'cmd' | translate}}">
                <input rcInput
                    [(ngModel)]='viewModel.entrypoint'
                    name="entrypoint"
                    type="text" />
            </rc-form-field>
            <!-- 参数 -->
            <div class="rc-form-field">
              <div class="rc-form-field-label">{{'args' | translate}}</div>
              <div class="rc-form-field-container
                          rc-form-field-container--blocked">
                <div class="rc-form-zero-state" *ngIf="!viewModel.cmd.length">
                  {{'none' | translate}}{{'args' | translate}}
                </div>
                <div *ngFor="let item of viewModel.cmd; index as i; trackBy: trackByFn"
                  class="rc-args-container">
                  <input rcInput
                      [(ngModel)]='viewModel.cmd[i]'
                      name="cmd-{{i}}"
                      type="text" />
                  <span (click)="viewModel.cmd.splice(i, 1)">
                    <i class="fa fa-minus-circle"></i>
                  </span>
                </div>
                <div class="rc-form-action-button"
                  (click)="viewModel.cmd.push('')">
                  <i class="fa fa-plus-circle"></i> {{ "add" | translate }}
                </div>  
              </div>
            </div>
            <!-- 环境变量 -->
            <div class="rc-form-field">
                <div class="rc-form-field-label">
                    {{'environment_variable' | translate}}
                </div>
                <div class="rc-form-field-container">
                    <rc-container-env-fieldset [configMapOptions]="configmapOptions"
                        name="envs"
                        [(ngModel)]='viewModel.envvars'></rc-container-env-fieldset>
                </div>
            </div>
            <!-- Configmap -->
            <rc-form-field label="ConfigMap"
                [shouldFlexRow]="true">
                <rc-multi-selection-dropdown [options]="configmapOptions"
                    name="configmap"
                    [displayField]="'name'"
                    [valueField]="'name'"
                    [placeholder]="(configmapOptions.length ? 'k8s_service_select_configmap' : 'currently_no_options')|translate"
                    [(ngModel)]="viewModel.configmaps">
                </rc-multi-selection-dropdown>
            </rc-form-field>

        </div>
    </section>
    <div class="toc-footer">
        <div class="toc-form-group-toggle"
            (click)="showAdvanceOptions = !showAdvanceOptions;">
            <span><i class="fa" 
                [ngClass]="{'fa-angle-double-down': !showAdvanceOptions, 'fa-angle-double-up': showAdvanceOptions}"></i>{{'display_container_advanced' | translate}}</span>
        </div>
    </div>
</form>