<!-- <div class="container-resource-size">
    <form #form="ngForm">
        <div class="section-container">
            <div class="section-title">{{ 'memory' | translate }}</div>
            <div class="input-wrapper">
                <label>{{ 'reference_value' | translate }}</label>
                <input rcInput
                    type="text"
                    [pattern]="numberReg.pattern"
                    [rcErrorsTooltip]
                    [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
                    name="requestsMemValue"
                    [(ngModel)]="resource.requests.memory.value">

                <rc-single-selection-dropdown [options]="memUnits"
                    [allowFilter]="false"
                    name="requestsMemUnit"
                    [(ngModel)]="resource.requests.memory.unit">
                </rc-single-selection-dropdown>
            </div>
        </div>

        <div class="section-container">
            <div class="section-title">CPU</div>
            <div class="input-wrapper">
                <label>{{ 'reference_value' | translate }}</label>
                <input rcInput
                    type="text"
                    [pattern]="numberReg.pattern"
                    [rcErrorsTooltip]
                    [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
                    [(ngModel)]="resource.requests.cpu.value"
                    name="requestsCpuValue">
                <rc-single-selection-dropdown [options]="cpuUnits"
                    [allowFilter]="false"
                    name="requestsCpuUnit"
                    [(ngModel)]="resource.requests.cpu.unit">
                </rc-single-selection-dropdown>
            </div>

        </div>
    </form>
</div> -->
<form #form="ngForm">
    <div class="rc-field-cell">
        <div class="rc-input-prefix">{{'memory'| translate}}</div>
        <input rcInput
            type="text"
            [pattern]="numberReg.pattern"
            [rcErrorsTooltip]
            [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
            name="requestsMemValue"
            [(ngModel)]="resource.requests.memory.value">
        <rc-single-selection-dropdown [options]="memUnits"
            [allowFilter]="false"
            name="requestsMemUnit"
            [(ngModel)]="resource.requests.memory.unit">
        </rc-single-selection-dropdown>
    </div>
    <div class="rc-field-cell">
        <div class="rc-input-prefix">CPU</div>
        <input rcInput
            type="text"
            [pattern]="numberReg.pattern"
            [rcErrorsTooltip]
            [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
            [(ngModel)]="resource.requests.cpu.value"
            name="requestsCpuValue">
        <rc-single-selection-dropdown [options]="cpuUnits"
            [allowFilter]="false"
            name="requestsCpuUnit"
            [(ngModel)]="resource.requests.cpu.unit">
        </rc-single-selection-dropdown>
    </div>
</form>