<rc-form-container>
    <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
    <form #form="ngForm"
        *ngIf="initialized">
        <!-- pvc -->
        <div class="rc-form-field" *ngIf="viewModel.type === 'pvc'">
            <div class="rc-form-field-label">
                {{'storage_name' | translate}}
                <span class="rc-required-mark">*</span>
            </div>
            <aui-select
                required
                [rcErrorsTooltip]
                name="pvcName"
                [(ngModel)]="viewModel.pvcName"
                [placeholder]="(pvcOptions.length ? 'select_storage' : 'currently_no_options')|translate"
                filterable
            >
                <aui-option *ngFor="let pvcOpt of pvcOptions" [value]="pvcOpt.name">{{pvcOpt.name}}</aui-option>
                <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
            </aui-select>
        </div>
        <!-- pvc subPath -->
        <div class="rc-form-field" *ngIf="viewModel.type === 'pvc'">
            <div class="rc-form-field-label">
                {{'sub_path' | translate}}
            </div>
            <input aui-input
                name="subPath"
                [pattern]="subPathRegex.pattern"
                [placeholder]="subPathRegex.tip | translate"
                [rcErrorsTooltip]
                [rcErrorsTooltipMapper]="{pattern: subPathRegex.tip | translate}"
                [(ngModel)]="viewModel.subPath">
        </div>
        <!-- common -->
        <div class="rc-form-field" *ngIf="viewModel.type === 'pvc'">
            <div class="rc-form-field-label">
                {{'service_container_path' | translate}}
                <span class="rc-required-mark">*</span>
            </div>
            <input aui-input
                required
                [rcErrorsTooltip]
                name="subPcontainerPathath"
                [(ngModel)]="viewModel.containerPath">
        </div>
    </form>
    <ng-container *rcFooterContent>
        <button aui-button
            (click)="cancel()">
            {{'cancel'|translate}}
        </button>
        <button aui-button="primary"
            (click)="confirm()">
            {{'save'|translate}}
        </button>
    </ng-container>
</rc-form-container>