<table class="rc-form-table">
    <thead>
        <tr>
            <td>{{ 'name' | translate }}</td>
            <td style="width: 100px;">{{ 'type' | translate }}</td>
            <td style="width: 60px;">{{ 'port' | translate }}</td>
            <td style="width: 50px;"></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let service of services ; let i = index;">
            <td>{{service.name}}</td>
            <td>{{service.type}}</td>
            <td>{{getServicePort(service)}}</td>
            <td>
                <a class="form-action-button"
                    href="javascript:void(0)"
                    (click)="updateService(i, service)">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="form-action-button"
                    href="javascript:void(0)"
                    (click)="removeService(i)">
                    <i class="fa fa-minus-circle"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!services.length"
    class="rc-form-table-empty">
    {{ 'no_route' | translate }}
</div>
<div style="margin-top: 8px; text-align: right;">
    <button rcButton="primary-lite"
            rcButtonSize="small"
        (click)="addService()">{{'add' | translate}}{{'service_route' | translate}}</button>
</div>