<rc-form-container>
    <form #form="ngForm">
        <div class="rc-form-field">
            <div class="rc-form-field-label">
                {{'name' | translate}}
                <span class="rc-required-mark">*</span>
            </div>
            <input aui-input
                name="name"
                rcResourceNameBlackListValidator
                [rcResourceNameBlackList]="serviceNameBlackList"
                [(ngModel)]="data.name"
                [placeholder]="resourceNameReg.tip | translate"
                [pattern]="resourceNameReg.pattern"
                [rcErrorsTooltip]
                [rcErrorsTooltipMapper]="{resource_name_existed: ('name_existed' | translate), pattern: (resourceNameReg.tip | translate)}"
                maxlength="32"
                required>
        </div>
        <div class="rc-form-field">
            <div class="rc-form-field-label">
                {{'port' | translate}}
                <span class="rc-required-mark">*</span>
            </div>
            <input aui-input
                name="port"
                [(ngModel)]="port"
                [pattern]="portNumberReg.pattern"
                min="1"
                max="65535"
                type="text"
                required>
        </div>
    </form>
    <ng-container *rcFooterContent>
        <button aui-button
            (click)="cancel()">
            {{'cancel'|translate}}
        </button>
        <button aui-button="primary"
            (click)="confirm()">
            {{'save'|translate}}
        </button>
    </ng-container>
</rc-form-container>