@import 'colors.styles';

:host {
  display: flex;
  flex-flow: column;
  padding: 32px;
  max-height: 420px;
  min-height: 212px;
}

.top-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;

  .confirm-box-close-icon {
    font-size: 16px;
    color: $gray-8;
    cursor: pointer;
  }
}

.main-container {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  margin-bottom: 20px;
}

.confirm-box-info-icon {
  display: flex;
  width: 24px;
  height: 24px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: $yellow-8;
}

.content-container {
  flex: 1;
  width: 500px;

  .confirm-title {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .confirm-content {
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
    word-break: break-word;
  }
}

.confirm-box-footer {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 4px;
  }
}
