<div class="main-container">
  <div class="fa fa-exclamation-circle confirm-box-info-icon">
  </div>
  <div class="content-container">
    <div *ngIf="title" class="confirm-title"
         [innerHTML]="title">
    </div>
    <div class="confirm-content"
         [innerHTML]="content">
    </div>
  </div>
</div>

<div class="confirm-box-footer">
  <button rcButton
          (click)="confirm(false)">
    {{ cancelText | translate }}
  </button>
  <button rcButton="primary"
          (click)="confirm(true)">
    {{ confirmText | translate }}
  </button>
</div>
