.rb-console {
  .rb-fieldset-table {
    width: 100%;
    flex: 1;
    margin-bottom: 16px;
    thead {
      tr {
        background-color: transparent;
        td:first-child {
          padding: 4px 0 !important;
        }
        td {
          vertical-align: middle;
          color: #888;
          font-size: 14px;
        }
        td:not(:first-child) {
          padding: 4px 0 4px 4px !important;
        }
      }
    }
    tbody {
      tr {
        td {
          vertical-align: middle;

          border: none;
          word-break: break-all;
        }
        td:first-child {
          padding: 4px 0 !important;
        }
        td:not(first-child) {
          padding: 4px 0 4px 4px !important;
        }
        td:last-child {
          text-align: right;
        }
      }
    }
  }
}
