<rc-region-badge-option [option]="{hidden: true}"></rc-region-badge-option>

<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>{{ 'nav_region'| translate }}</ng-container>
  </rc-breadcrumb>
</ng-container>

<div class="rc-list-header">
  <div class="rc-list-header__group rc-list-header__group--position-left">
    <button *ngIf="hasCreatePermission && !createClusterDisabled"
            rcButton="primary"
            routerLink="/cluster/create">
      {{ 'region_create_region' | translate }}
    </button>
    <button *ngIf="showMirrorCluster"
            rcButton="primary"
            routerLink="/cluster/mirror">
      {{ 'region_mirror_cluster' | translate }}
    </button>
    <button *ngIf="hasCreatePermission && weblabs.ACCESS_CLUSTER_ENABLED"
            rcButton="primary"
            routerLink="/cluster/access">
      {{ 'region_access_cluster' | translate }}
    </button>
  </div>
  <div class="rc-list-header__group rc-list-header__group--position-right">
    <input rcInput
           [(ngModel)]="_filter"
           (ngModelChange)="filter$.next($event)"
           [placeholder]="'filter_by_name_placeholder' | translate"
           class="rc-list-header__filter-input">
    <button rcIconButton
            (click)="refreshRegions()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>

<rc-cluster-list [clusters$]="clusters$"></rc-cluster-list>
