<div class="rb-service-crumbs">
  <div class="active">
    <span class="rb-service-crumbs-icon">1</span>
    <span>{{ "nav_select_image" | translate }}</span>
  </div>
  <div>
    <span class="rb-service-crumbs-icon">2</span>
    <span>{{ "nav_basic_config" | translate }}</span>
  </div>
  <div>
    <span class="rb-service-crumbs-icon">3</span>
    <span>{{ "network_config" | translate }}</span>
  </div>
  <div>
    <span class="rb-service-crumbs-icon">4</span>
    <span>{{ "nav_advanced_config" | translate }}</span>
  </div>
</div>

<rb-image-select
  on-image-selected="vm.onImageSelected({ full_image_name, registry_name, is_public_registry })">
</rb-image-select>
