<!--Explain why there is no data-->
<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<div *ngIf="empty && !loading"
     class="rb-loading-mask-placeholder">
  <div *ngIf="!loadError">
    {{ "have_no_configmap" | translate }}
  </div>
  <div *ngIf="loadError">
    {{ 'data_load_configmap' | translate }}
  </div>
  <button *ngIf="loadError"
          rcButton="primary"
          style="margin-top: 12px;"
          (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>

<div *ngIf="configmapData"
     class="rc-detail-container">
  <div class="detail-icon">
    <img src="/static/images/resource/configmap.svg"
         alt="">
  </div>
  <div class="detail-wrapper">
    <div class="detail-header">
      <h3>{{configmapData.kubernetes.metadata.name}}</h3>
      <div class="detail-buttons">
        <button rcButton
                *ngIf="configmapUtilities.showUpdate(configmapData)"
                (click)="showYamlDialog('add_configuration_item',true)">{{'add_configuration_item' | translate}}
        </button>
        <button rcButton
                *ngIf="configmapUtilities.showUpdate(configmapData)"
                (click)="showYamlDialog('update_configuration_item')">{{'update_configmap' | translate}}</button>
        <button rcButton
                *ngIf="configmapUtilities.showDelete(configmapData)"
                (click)="deleteConfigmap()">{{'delete_configmap' | translate}}</button>
      </div>
    </div>
    <div class="detail-content">
      <div class="detail-item">
        <label>{{'namespace' | translate}}</label>
        <div>{{ configmapData.kubernetes.metadata.namespace }}</div>
      </div>
      <!--创建时间-->
      <div class="detail-item">
        <label>{{'created_at' | translate}}</label>
        <div>{{ configmapData.kubernetes.metadata.creationTimestamp | rcFormatUtcStr}}</div>
      </div>
      <!--关联资源-->
      <div class="detail-item">
        <label>{{'referenced_resources' | translate}}</label>
        <a *ngIf=configmapData.referenced_by
           [rcTooltip]="tooltipKeyReferenced"
           [rcTooltipContext]="{referenced_list: configmapData.referenced_by}"
           rcTooltipMode="info"
           rcTooltipOn="click"
           class="referenced_resources_button pointer"
           (click)="showKeyReferenced(configmapData.referenced_by)">
          {{ (configmapData.referenced_by || []).length }}
        </a>
        <a *ngIf=!configmapData.referenced_by>
          0
        </a>
      </div>
      <div class="detail-item">
        <label>{{'description' | translate}}</label>
        <div *ngIf="configmapData.kubernetes.metadata.annotations"
             [title]="configmapData.kubernetes.metadata.annotations[descriptionKey]">
          {{ configmapData.kubernetes.metadata.annotations[descriptionKey]
          }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rc-detail-tab">
  <rc-tab-group>
    <div *rcTab="'configuration_items' | translate">
      <!--Explain why there is no data-->
      <div *ngIf="empty && !loading"
           class="rb-loading-mask-placeholder">
        <div *ngIf="!(loadError | async)">
          {{ "have_no_configmap" | translate }}
        </div>
        <div *ngIf="loadError | async">
          {{ 'data_load_error' | translate }}
        </div>
        <button *ngIf="loadError | async"
                rcButton="primary"
                style="margin-top: 12px;"
                (click)="refetch()">
          {{ 'refresh' | translate }}
        </button>
      </div>

      <rc-loading-mask [loading]="empty && loading"></rc-loading-mask>

      <div *ngIf="configmapData"
           class="rc-list-container">
        <rc-k8s-configmap-key-value-list [tooltipTemplate]="tooltipKeyReferenced"
                                         [_configmapData]="configmapData"
                                         [clusterId]="clusterId"
                                         [tooltipType]="'detail'"
                                         (actionComplete)="doRefetch()">
        </rc-k8s-configmap-key-value-list>
      </div>
    </div>
  </rc-tab-group>
</div>

<ng-template #tooltipKeyReferenced
             let-data>
  <div class="referenced-resources-tooltips-container">
    <table class="tooltipTable">
      <tr>
        <th>{{'name' | translate}}</th>
        <th>{{'resource_location' | translate}}</th>
      </tr>
      <tr *ngFor="let item of data.referenced_list">
        <td>
          <a class="pointer"
             (click)="redirctReferencedResource(item)">{{ item.name }}</a>
        </td>
        <td>{{ item.detail.location }}</td>
      </tr>
    </table>
  </div>
</ng-template>
