.rc-chart-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__legend-list {
    margin: 0 auto 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    width: 80%;
  }

  &__legend {
    width: 80px;
    padding: 4px 0 4px 20px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;
  }

  &__legend-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    flex-shrink: 0;

    &--shape {
      &-rect {
        border-radius: 2px;
      }
      &-circle {
        border-radius: 100%;
      }
    }
  }

  &__chart-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__chart-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__hint {
    font-size: 14px;
    color: #9da4af;
  }
}
