<div
  class="rc-chart-container">
  <ul
    *ngIf="legends"
    class="rc-chart-container__legend-list">
    <li
      *ngFor="let legend of legends"
      class="rc-chart-container__legend">
      <i
        class="rc-chart-container__legend-icon"
        [style.background-color]="legend.color"
        [class.rc-chart-container__legend-icon--shape-rect]="legend.shape==='rect'"
        [class.rc-chart-container__legend-icon--shape-circle]="legend.shape==='circle'">
      </i>
      <span>{{ legend.label | translate }}</span>
    </li>
  </ul>
  <div
    class="rc-chart-container__chart-wrapper">
    <ng-content></ng-content>
    <div
      *ngIf="loading || noData || noRegion"
      class="rc-chart-container__chart-cover">
      <div
        *ngIf="loading && !noRegion"
        class="rc-chart-container__hint">
        {{ 'data_loading' | translate }}
      </div>
      <div
        *ngIf="noData && !noRegion"
        class="rc-chart-container__hint">
        {{ 'no_data' | translate }}
      </div>
      <div
      *ngIf="noRegion"
      class="rc-chart-container__hint">
        {{ 'region_none' | translate }}
      </div>
    </div>
  </div>
</div>
