<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="!vm.initialized || vm.unbindSubmitting">
    <ng-form name="vm.form" class="rb-form">
      <table class="rc-form-table">
        <thead>
        <tr>
          <td style="width: 120px;">{{ "container_port" | translate }}</td>
          <td>{{ "load_balancer" | translate }}</td>
          <td style="width: 120px;">{{ "listening_port" | translate }}</td>
          <td style="width: 120px;">{{'protocol' | translate}}</td>
          <td style="width: 80px;">{{'action' | translate}}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.listeners track by $index">
          <td>{{item.container_port}}</td>
          <td>{{item.loadbalancer_name}}</td>
          <td>{{item.listener_port}}</td>
          <td>{{item.protocol}}</td>
          <td>
            <a class="form-action-button"
                 href="javascript:void(0)"
                 ng-click="vm.unbind(item)"><i class="fa fa-minus-circle"></i></a>
          </td>
        </tr>

        <tr ng-if="!vm.listeners.length">
          <td colspan="5">
            <div class="rc-form-table-empty">
              {{'service_default_domain_empty' | translate}}
            </div>
          </td>
        </tr>

        <tr class="rc-form-input">
          <td>
            <div class="ui fluid input">
              <input name="containerPort"
                     type="number"
                     ng-model="vm.newListener.container_port"
                     ng-pattern="vm.portNumberReg.pattern"
                     required
                     min="1"
                     max="65535"
                     rb-errors-tooltip>
            </div>
          </td>
          <td>
            <rb-dropdown key="name"
                         value="uuid"
                         on-change="vm.onLoadbalancerSelect(option)"
                         options="vm.loadbalancerOptions"></rb-dropdown>
          </td>
          <td>
           <div class="ui fluid input">
             <input name="listenerPort"
                    type="number"
                    required
                    ng-pattern="vm.portNumberReg.pattern"
                    min="1"
                    max="65535"
                    ng-model="vm.newListener.listener_port"
                    rb-errors-tooltip>
           </div>
          </td>
          <td>
            <rb-dropdown size="xxs"
                         key="name"
                         value="value"
                         on-change="vm.onProtocolChange(option)"
                         options="vm.protocolOptions"></rb-dropdown>
          </td>
          <td>
            <button class="ui button rb-btn-primary"
                    type="button"
                    ng-disabled="submitting"
                    ng-class="{loading: vm.submitting}"
                    ng-click="vm.bind()">{{'add' | translate}}
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-form>
  </div>
</div>
