.rc-page-header {
  margin-bottom: 8px;
}
.quota-space-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.no-data {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
