<div fxLayout="row" class="rc-page-header">
  <div *ngIf="initialized" flex="20">
    <input rcInput
           type="text"
           [(ngModel)]="filterKey"
           placeholder="{{ 'filter_by_name_placeholder' | translate}}"
    >
  </div>
  <span fxFlex></span>
  <button
    *ngIf="createEnabled"
    rcButton="primary"
    (click)="showCreateDialog()">
    {{ "quota_space_create" | translate }}
  </button>
</div>
<div class="no-data" *ngIf="initialized && !loading && !list.length === 0">
  <div *ngIf="list.length === 0">
    {{ 'quota_no_spaces_hint' | translate }}
  </div>
  <div *ngIf="loadError">
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError"
          rcButton="primary"
          (click)="loadQuotaSpaces()">
    {{ 'refresh' | translate }}
  </button>
</div>
<div class="quota-space-list-container" [rcLoadingMask]="loading">
  <div
    rcFlexList
    rcFlexCellWidth="350px">
    <div
      rcFlexCell
      *ngFor="let space of list"
      [hidden]="shouldHideSpace(space)">
      <rc-quota-list-card
        [space]="space"
        class="rc-region-card-container">
      </rc-quota-list-card>
    </div>
  </div>
</div>
