@import '_colors.palette.scss';
@import '_colors.styles';
:host {
  display: flex;
}
.rc-pagination {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  button {
    display: flex;
    height: 29px;
    min-width: 29px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    color: $blue-7;
    outline: none;
    border-color: $black-2;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    font-weight: 200;

    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-width: 1px 1px 1px 1px;
    }

    &[disabled] {
      background-color: $gray-2;
      &.current {
        background-color: $blue-7;
      }

      &:hover {
        background-color: $gray-2;
      }
    }
    &:hover {
      background-color: $gray-2;
    }

    &.current {
      background-color: $blue-7;
      color: white;
      border-top-color: $blue-7;
      border-bottom-color: $blue-7;
      &:hover {
        background-color: $blue-7;
      }
    }
  }

  input {
    flex-grow: 0;
    font-size: 12px;
    width: 72px;
    height: 30px;
  }

  span {
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
    &:last-child {
      padding-right: 0px;
    }
  }
}
