<div
  *ngIf="(state$ | async)?.show"
  class="rc-pagination"
>
  <button
    class="first"
    (click)="first$.next()"
    [disabled]="!(state$ | async)?.backwardEnabled || disabled"
  >
    <i class="fa fa-angle-double-left"></i>
  </button>
  <button
    class="prev"
    (click)="prev$.next()"
    [disabled]="!(state$ | async)?.backwardEnabled || disabled"
  >
    <i class="fa fa-angle-left"></i>
  </button>
  <button
    *ngFor="let page of (state$ | async)?.pages"
    class="page"
    [class.current]="(state$ | async)?.currentPage === page"
    [disabled]="(state$ | async)?.currentPage === page || disabled"
    (click)="pageChanged.next(page)"
  >
    {{ page }}
  </button>
  <button
    class="next"
    [class.disabled]
    (click)="next$.next()"
    [disabled]="!(state$ | async)?.forwardEnabled || disabled"
  >
    <i class="fa fa-angle-right"></i>
  </button>
  <button
    class="last"
    (click)="last$.next()"
    [disabled]="!(state$ | async)?.forwardEnabled || disabled"
  >
    <i class="fa fa-angle-double-right"></i>
  </button>
  <span>{{ 'pagination_goto' | translate }}</span>
  <input
    type="number"
    rcInput
    [placeholder]="'1~' + (state$ | async).totalPage"
    [ngModel]="inputValue$ | async"
    (ngModelChange)="inputChange$.next($event)"
    [disabled]="disabled"
  />
  <span>{{ 'pagination_page' | translate }}</span>
</div>