<aui-dialog-header>{{ title }}</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm">
    <rc-resource-label-form name="resourceLabel"
                            [(ngModel)]="kubernetes.metadata.labels">
    </rc-resource-label-form>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button aui-button="primary" 
            (click)="confirm()"
            [loading]="loading">
      {{ 'update' | translate }}
    </button>
    <button aui-button [auiDialogClose]="false">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-dialog-footer>

