@import 'colors.styles';

@mixin status-legend-icon($color) {
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  background-color: $color;
  margin-right: 5px;
}

/* Simple animation for running state */
@keyframes pipeline-list-item-manual-control-animation {
  from {
    background-color: rgba(11, 173, 235, 0.08);
  }
  to {
    background-color: rgba(11, 173, 235, 0);
  }
}

rb-pipeline-history-list {
  margin-bottom: 20px;
  // Specify flex attr explict for the page component because it's reused by other page list
  display: flex;
  flex: 1;
  flex-direction: column;

  .heading {
    height: 45px;
  }

  .manual-pending.rb-status-list-item {
    animation: 0.5s infinite linear alternate
      pipeline-list-item-manual-control-animation;
  }
}

.pipeline-history-legends {
  .pipeline-history-legend {
    display: flex;
    align-items: center;
    margin-right: 16px;

    &.success:before {
      @include status-legend-icon($status-color-success);
    }

    &.error:before {
      @include status-legend-icon($status-color-error);
    }

    &.pending:before {
      @include status-legend-icon($status-color-pending);
    }

    &.in-progress:before {
      @include status-legend-icon($status-color-in-process);
    }
  }
}
