<div class="rb-page-heading"
     layout="row">
  <rb-search-input loading="vm.searching"
                   ng-if="!vm.pipelineConfigName"
                   on-search="vm.onSearchChanged(value)"
                   placeholder="{{ 'filter_by_name_placeholder' | translate}}"
                   flex=20>
  </rb-search-input>

  <div flex></div>

  <div class="control-buttons"
       ng-if="!vm.pipelineConfigName">
    <button class="ui button rb-btn-default"
            ng-click="vm.showStartPipelineDialog($event)">
      {{'pipeline_start' | translate}}
    </button>
    <button ng-if="vm.pipelineCreateEnabled"
            ui-sref="pipeline.config.create"
            class="ui button rb-btn-primary">
      {{'pipeline_create_config' | translate}}
    </button>
  </div>
</div>

<rb-loading-mask-placeholder ng-if="!vm.pipelineConfigName && !vm.list && !vm.loadError"></rb-loading-mask-placeholder>

<!-- Explains why there is no data -->
<div ng-if="!vm.list || vm.list.length === 0"
     style="padding: 50px; text-align: center;">
  <div ng-if="vm.list.length === 0">
    {{ 'pipeline_no_history_hint' | translate }}
  </div>

  <div ng-if="vm.loadError">
    {{ 'data_load_error' | translate }}
  </div>

  <button ng-if="vm.loadError"
          class="ui button rb-btn-primary margin-top-2"
          ng-click="vm.pageNoChange()">
    {{ 'refresh' | translate }}
  </button>
</div>

<div ng-if="vm.list && vm.list.length > 0"
     rb-loading-mask="vm.loading && vm.pageNoChanged"
     class="rb-status-list"
     flex>
  <div layout="column"
       flex
       ng-repeat="item in vm.list track by item.uuid"
       ng-class="{'manual-pending': item.manual_pending }"
       class="rb-status-list-item {{ vm.statusCssMap[item.status] }}"
       ui-sref="pipeline.history.detail({pipelineName: vm.getPipelineConfigName(item), historyId: item.uuid})">
    <!-- Row one -->
    <div class="status-info-abstract-row"
         layout-align="start center"
         flex
         layout="row">
      <!-- Creator -->
      <div flex="25">
        <i class="fa fa-user"
           tooltip-placement="top"
           uib-tooltip='{{ "creator" | translate }}'></i>
        {{ vm.getCreatorName(item) | rbFieldNotAvailable }}
      </div>

      <!-- Pipeline Name -->
      <div flex="25"
           ng-if="!vm.pipelineConfigName">
        <i class="fa fa-wrench"
           tooltip-placement="top"
           uib-tooltip='{{ "pipeline_config_name" | translate }}'></i>
        <a ui-sref="pipeline.config.detail({name: vm.getPipelineConfigName(item)})"
           ng-click="$event.stopPropagation()">
          <!-- Prevent state routing  -->
          {{ item.name }}
        </a>
      </div>

      <!-- Registry Name / Build Config Name -->
      <div flex="25"
           ng-if="item.trigger === 'repository'">
        <i class="fa fa fa-building-o"
           tooltip-placement="top"
           uib-tooltip='{{ "image_registry_name" | translate }}'></i>
        {{ :: vm.getRegistryDisplayName$(item.data.registry) | rbAsync:this }}
      </div>
      <div flex="25"
           ng-if="item.trigger === 'build'">
        <i class="fa fa fa-gavel"
           tooltip-placement="top"
           uib-tooltip='{{ "build" | translate }}'></i>
        <a ng-click="$event.stopPropagation()"
           ui-sref="build.config.detail({ name: item.data.build_config_uuid })">
          {{ item.data.build_config_name }}
        </a>
      </div>

      <!-- Repo name -->
      <div flex="25">
        <i class="fa fa-building"
           tooltip-placement="top"
           uib-tooltip='{{ "image_repository_name" | translate }}'></i>
        <span ng-if="item.trigger === 'build'">
          {{ :: vm.getRegistryDisplayName$(item.data.registry) | rbAsync:this }}
        </span>
        <a ng-click="$event.stopPropagation()"
           router-link="'/image/repository/detail'"
           query-params="{ registryName: item.data.registry, repositoryName: item.data.repository }">
          {{ item.data.repository }}
        </a>
      </div>
    </div>

    <!-- Row Two -->
    <div class="status-info-abstract-row"
         layout-align="start center"
         flex
         layout="row">
      <div flex="25">
        <i class="fa fa-tags"
           tooltip-placement="top"
           uib-tooltip='{{ "image_tag" | translate }}'></i>
        <rb-copy-span bind-text="item.data.image_tag"></rb-copy-span>
        <span ng-if="!item.data.image_tag">N/A</span>
      </div>
      <div flex="25">
        <i class="fa fa-code"
           tooltip-placement="top"
           uib-tooltip='ID'></i>
        <rb-copy-span bind-text="item.uuid"></rb-copy-span>
      </div>
      <div flex="25">
        <i class="fa fa-clock-o"
           tooltip-placement="top"
           uib-tooltip='{{ "created_date" | translate }}'></i>
        {{ item.created_at | formatUtcStr }}
        <span ng-if="item.duration > 0">
          <i class="fa fa-history"
             tooltip-placement="top"
             uib-tooltip='{{ "time_cost" | translate }}'></i>
          <span>
            {{ item.duration | rbDuration }}
          </span>
        </span>
      </div>
      <div flex="25">
        <span rubick-status-icon
              status="vm.statusIconMap[item.status]"
              status-text="{{ ('pipeline_status_' + item.status) | translate }}"
              mode="list">
        </span>
        <span ng-if="['ongoing', 'failed'].includes(item.status)">
          <span rubick-status-icon
                tooltip-fn="vm.historyStatusTooltipFunction(item)"
                status="item.status"
                status-text="{{ item.tasks_completed }} / {{ item.tasks_count }}"
                mode="list">
          </span>
        </span>
        <span ng-if="item.manual_pending">
          <span rubick-status-icon
                status="'pending'"
                status-text="{{ 'pipeline_history_manual_control_required' | translate }}"

                mode="list">
          </span>
        </span>
      </div>
    </div>
  </div>
</div>

<rb-pagination ng-show="vm.pagination.totalItems > vm.pagination.pageSize"
               class="pull-right"
               total-items="vm.pagination.totalItems"
               on-change="vm.pageNoChange(page, size)">
</rb-pagination>
