@import '_colors.palette.scss';
@import '_colors.styles';
@import '../../_common.fix.scss';

.form {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  .scroll-spy {
    position: absolute;
    top: 116px;
    left: 32px;
    list-style: none;
    > li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:not(:last-of-type)::after {
        height: 90px;
        width: 2px;
        background-color: $gray-8;
        content: '';
        transform: translateX(-50%);
      }
      a {
        display: flex;
        align-items: center;
        color: $gray-8;
        transition: color 0.2s ease-in;
        font-size: 16px;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
        &::before {
          background-color: $gray-8;
          transition: all 0.2s ease-in;
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 4px;
          transform: translateX(-50%);
          margin-right: 16px;
        }
      }

      a.active {
        color: $blue-6;
        &::before {
          background-color: $blue-6;
          box-shadow: 0px 0px 0px 4px $blue-2;
        }
      }
    }
  }
  .form-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 61px;
    overflow: auto;
    padding: 0px 18px;
    .tips {
      margin: 18px;
    }
    .form-group {
      margin-left: 200px;
      margin-bottom: 16px;
      border-radius: 8px;
      background-color: #fff;
      transition: all ease-in 0.5s;
      border: solid 1px $black-2;
      &.triggers {
        min-height: 287px;
      }
      &.active {
        border: solid 1px $blue-6;
        box-shadow: 0px 0px 0px 2px $blue-2;
      }
      .form-group-header {
        padding: 16px 24px;
        border-bottom: solid 1px $black-2;

        &.no-border {
          border: none;
          color: #666;
          padding-top: 24px;
          padding-bottom: 12px;
          padding-left: 20px;
        }
      }
      .form-group-content {
        padding: 16px 24px;
        rc-code-editor {
          width: 100%;
        }
        .jenkinsfile_content_example {
          margin-left: 140px;
        }
        ::ng-deep textarea.rc-input-element {
          padding: 8px;
        }
        .credential-field {
          ::ng-deep .form-main-container.should-flex-row {
            flex: unset;
            flex-grow: 1;
            min-width: 0;
            .form-input-row {
              flex-direction: row;
              rc-single-selection-dropdown {
                flex-grow: 1;
                min-width: 0;
              }
              .add-credential {
                flex-shrink: 0;
                margin-left: 8px;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
  .form-footer {
    position: absolute;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    padding: 14px 26px;
    border-top: solid 1px $black-2;
    box-shadow: 0 0 8px 0 $gray-7;
    background-color: $silver-6;
    display: flex;
    justify-content: flex-end;
    > button {
      margin: 0 16px 0 0;
    }
  }
}

.trigger-rows {
  display: flex;
  line-height: 32px;

  .fields-name {
    width: 120px;
    text-align: right;
    margin-right: 20px;
    line-height: 32px;
  }
}

.trigger-select {
  width: 320px;
  height: 164px;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px $gray-7;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  .trigger-select-title {
    font-size: 16px;
    padding: 16px;
  }
  .trigger-select-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    padding: 0px 16px 16px 16px;
    > a {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      margin-right: 8px;
      border-radius: 3px;
      border: solid 1px $gray-7;
      color: $black-6;
      &.disabled {
        color: $gray-7;
      }
      &:last-child {
        margin-right: 0px;
      }
      &:hover:not(.disabled) {
        border: solid 1px $blue-6;
        text-decoration: none;
        > * {
          color: $blue-6;
        }
      }
      &:focus {
        text-decoration: none;
      }
      > i {
        font-size: 24px;
        padding-bottom: 16px;
      }
    }
  }
}

.rc-icon-button {
  .fa {
    margin-right: 8px;
  }
}
