<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a
        href="javascript:void(0)"
        rcRouterStateLink="jenkins"
      >
        {{ 'nav_jenkins'| translate }}
      </a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      <a
        href="javascript:void(0)"
        rcRouterStateLink="jenkins.pipelines"
      >
        {{ 'nav_jenkins_pipelines' | translate }}
      </a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'jenkins_pipeline_create' | translate }}
    </ng-container>
  </rc-breadcrumb>
</div>
<form
  class="form"
  novalidate
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  [rcLoadingMask]="!initialValue"
>
  <div
    class="form-content"
    rcTocContentsContainer
    #toc="toc-contents-container"
  >
    <div
      class="tips"
      #tips
    >
      <rc-inline-notification
        *ngIf="!spaces || !integrations || (spaces && spaces.length && integrations && integrations.length); else no_resource"
        type="info"
        closable="true"
        [content]="'jenkins_pipeline_create_tips' | translate"
      >
      </rc-inline-notification>
      <ng-template #no_resource>
        <rc-inline-notification
          type="error"
          closable="true"
          [content]="'jenkins_no_resource_waring' | translate"
        >
        </rc-inline-notification>
      </ng-template>
    </div>
    <div
      class="form-group"
      rcTocContent="basic"
    >
      <div class="form-group-header">
        {{ 'jenkins_pipeline_basic_info' | translate }}
      </div>
      <div class="form-group-content">
        <rc-form-field label="{{'name' | translate}}">
          <input
            formControlName="name"
            rcInput
            rcTrim
            type="text"
            [required]="true"
            pattern="[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?"
            maxLength="36"
          >
        </rc-form-field>
        <rc-form-field label="{{'jenkins_pipeline_display_name' | translate}}">
          <input
            formControlName="display_name"
            rcInput
            rcTrim
            type="text"
            maxLength="100"
          >
        </rc-form-field>
        <rc-form-field
          label="{{'space' | translate}}"
          [shouldFlexRow]="true"
          [hideErrors]="true"
        >
          <rc-single-selection-dropdown
            formControlName="space_name"
            displayField="name"
            valueField="name"
            [options]="spaces"
            [placeholder]="'space' | translate"
            [allowFilter]="true"
            [rcLoadingMask]="!spaces"
            [required]="true"
            style="width:100%"
          ></rc-single-selection-dropdown>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkins_integration' | translate}}"
          [shouldFlexRow]="true"
          [hideErrors]="true"
        >
          <rc-single-selection-dropdown
            formControlName="jenkins_integration_id"
            displayField="name"
            valueField="id"
            [options]="integrations"
            [placeholder]="'jenkins_integration' | translate"
            [allowFilter]="true"
            [rcLoadingMask]="!integrations"
            [required]="true"
            (ngModelChange)="onIntegrationChange$.next($event)"
            style="width:100%"
          ></rc-single-selection-dropdown>
        </rc-form-field>
        <rc-form-field label="{{'description' | translate}}">
          <textarea
            formControlName="description"
            rcInput
            type="text"
            style="min-height: 80px"
            maxlength="512"
          ></textarea>
        </rc-form-field>
      </div>
    </div>
    <div
      class="form-group"
      rcTocContent="code_repo"
    >
      <div class="form-group-header">
        {{ 'jenkins_pipeline_select_code_repo' | translate }}
      </div>
      <div class="form-group-content">
        <rc-form-field label="{{'jenkins_code_repository' | translate}}">
          <rc-radio-group
            formControlName="source"
            displayField="displayName"
            valueField="name"
            [options]="codeClients"
            [rcLoadingMask]="!codeClients"
            (ngModelChange)="onCodeClientChange$.next($event)"
            [readOnly]="!initialized"
          >
          </rc-radio-group>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkins_code_account' | translate}}"
          [hidden]="['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
        >
          <rc-radio-group
            formControlName="code_org"
            displayField="name"
            valueField="name"
            [options]="codeOrgs"
            [rcLoadingMask]="!codeOrgs"
            (ngModelChange)="onCodeOrgChange$.next($event)"
            [hidden]="isSelectedCodeClientNotBind"
          >
          </rc-radio-group>
          <rc-repo-not-bind-hint *ngIf="isSelectedCodeClientNotBind"></rc-repo-not-bind-hint>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkins_code_repository_address' | translate}}"
          [hidden]="['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
          [hideErrors]="true"
        >
          <rc-code-repository-select
            formControlName="code_repo"
            [codeClient]="form.value.source"
            [codeOrg]="form.value.code_org"
            [required]="!['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
            rcErrorsTooltip
            [rcErrorsTooltipInline]="true"
          ></rc-code-repository-select>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkins_code_repository_address' | translate}}"
          [shouldFlexRow]="true"
          [hidden]="!['GIT', 'SVN'].includes(form.value.source)"
        >
          <input
            formControlName="repository_path"
            rcInput
            rcTrim
            type="text"
            placeholder="{{(['GIT'].includes(form.value.source)? 'jenkins_git_repo_address_example':'jenkins_svn_repo_address_example') | translate}}"
            [required]="['GIT', 'SVN'].includes(form.value.source)"
            pattern="^(http(s?):\/\/.+)|(git@.+:.+)|(ssh:\/\/.+@.+)|(git:\/\/.+)"
            maxLength="512"
          >
        </rc-form-field>
        <rc-form-field
          label="{{'code_branch' | translate}}"
          [shouldFlexRow]="true"
          [hidden]="['NOT_USE', 'SVN'].includes(form.value.source)"
        >
          <input
            formControlName="branch"
            rcInput
            rcTrim
            type="text"
            [required]="!['NOT_USE', 'SVN'].includes(form.value.source)"
            maxLength="512"
            [placeholder]="'jenkins_code_repo_branch_tip' | translate"
          >
          <span class="fa fa-question-circle description-question-circle"
                rcFormAddon
                [rcTooltip]="'jenkins_pipeline_code_branch_hint' | translate"
                [rcTooltipInline]="false"
                rcTooltipMode="info"
                rcTooltipPosition="top center">
          </span>
        </rc-form-field>
        <div class="credential-field">
          <!-- TODO: rc-form-field ignore tag classes -->
          <rc-form-field
            label="{{'jenkins_code_credential' | translate}}"
            [shouldFlexRow]="true"
            [hidden]="!['GIT', 'SVN'].includes(form.value.source)"
            [hideErrors]="true"
          >
            <rc-single-selection-dropdown
              formControlName="credential_name"
              displayField="display_name"
              valueField="name"
              [options]="credentials"
              [placeholder]="'jenkins_code_credential' | translate"
              [allowFilter]="true"
              [rcLoadingMask]="!credentials"
            ></rc-single-selection-dropdown>
            <a
              href="javascript:void(0)"
              (click)="addCredential()"
              class="add-credential"
              *ngIf="createCredentialEnabled"
            >
              {{ 'jenkins_create_credential' | translate }}
            </a>
          </rc-form-field>
        </div>
        <rc-form-field label="{{'jenkins_pipeline_script_type' | translate}}">
          <rc-radio-group
            formControlName="type"
            displayField="name"
            valueField="type"
            [options]="scriptTypes"
            [readOnly]="form.value.source === 'NOT_USE'"
          >
          </rc-radio-group>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkin_script_content' | translate}}"
          [shouldFlexRow]="true"
          [hidden]="form.value.type !== 'INLINE'"
        >
          <rc-code-editor
            formControlName="script"
            mode="groovy"
            [required]="form.value.type === 'INLINE'"
          ></rc-code-editor>
        </rc-form-field>
        <div
          class="jenkinsfile_content_example"
          [hidden]="form.value.type !== 'INLINE'"
        >
          <a (click)="jenkinsfileExample()">
            {{'jenkinsfile_content_example'|translate}}
          </a>
        </div>
        <rc-form-field
          label="{{'jenkins_script_path' | translate}}"
          [shouldFlexRow]="true"
          [hidden]="form.value.type !== 'FROM_SCM'"
        >
          <input
            formControlName="script_path"
            rcInput
            rcTrim
            type="text"
            [required]="form.value.type === 'FROM_SCM'"
            maxLength="512"
          >
        </rc-form-field>
      </div>
    </div>
    <div
      class="form-group triggers"
      rcTocContent="triggers"
    >
      <div class="form-group-header">
        {{ 'jenkins_pipeline_triggers' | translate }}
      </div>
      <div
        class="form-group-content"
        formArrayName="triggers"
      >
        <div *ngFor="let trigger of form.get('triggers').controls; trackBy:triggerIdentify">
          <rc-pipeline-form-trigger
            [form]="trigger"
            [codeRepoSource]="form.value.source"
            (remove)="removeTrigger(trigger)"
            #triggerComponent
          ></rc-pipeline-form-trigger>
        </div>
        <div class="trigger-rows">
          <div class="fields-name">
            {{ 'jenkins_pipeline_triggers' | translate }}
          </div>
          <div>
            <button
              rcIconButton="default"
              rcButtonSize="tiny"
              [rcTooltip]="triggerTypeTemplate"
              [rcTooltipNoArrow]="true"
              [rcTooltipEmpty]="true"
              rcTooltipPosition="bottom left"
              [rcTooltipInline]="false"
              rcTooltipOn="click"
              #triggerSelect="tooltip"
            >
              <i class="fa fa-plus-circle"></i>
              {{ 'jenkins_add_trigger' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul
    class="scroll-spy"
    [style.top]="getMenuTop(toc.scrollTop)"
  >
    <li>
      <a
        href="javascript:void(0)"
        rcTocLink="basic"
        [for]="toc"
      >
        {{ 'jenkins_pipeline_basic_info' | translate }}
      </a>
    </li>
    <li>
      <a
        href="javascript:void(0)"
        rcTocLink="code_repo"
        [for]="toc"
      >
        {{ 'jenkins_pipeline_select_code_repo' | translate }}
      </a>
    </li>
    <li>
      <a
        href="javascript:void(0)"
        rcTocLink="triggers"
        [for]="toc"
      >
        {{ 'jenkins_pipeline_triggers' | translate }}
      </a>
    </li>
  </ul>
  <div class="form-footer">
    <button
      rcButton="default"
      routerLink="/jenkins/pipelines"
      [disabled]="saving"
    >
      {{ 'cancel' | translate }}
    </button>
    <button
      rcButton="primary"
      type="submit"
      [disabled]="saving || !initialized || !spaces.length || !integrations.length"
      [loading]="saving"
    >
      {{ 'save' | translate }}
    </button>
  </div>
</form>

<ng-template #triggerTypeTemplate>
  <div class="trigger-select">
    <div class="trigger-select-title">
      {{ 'jenkins_select_trigger_type' | translate }}
    </div>
    <div class="trigger-select-body">
      <a
        href="javascript:void(0)"
        (click)="addTrigger('cron')"
        [class.disabled]="cronTriggerDisabled()"
      >
        <i class="fa fa-clock-o"></i>
        <span>
          {{ 'jenkins_trigger_cron' | translate }}
        </span>
      </a>
      <a
        href="javascript:void(0)"
        (click)="addTrigger('image_change')"
      >
        <i class="fa fa-building"></i>
        <span>
          {{ 'jenkins_trigger_image_change' | translate }}
        </span>
      </a>
      <a
        href="javascript:void(0)"
        (click)="addTrigger('code_change_hook')"
        [class.disabled]="codeChangeHookTriggerDisabled()"
      >
        <i class="fa fa-code-fork"></i>
        <span>
          {{ 'jenkins_trigger_code_change_hook' | translate }}
        </span>
      </a>
    </div>
  </div>
</ng-template>
