<form #form="ngForm">
  <table class="rc-form-table">
    <thead>
      <tr>
        <td style="display: flex;">{{ "key" | translate }}</td>
        <td style="width: 65%;">{{ "value" | translate }}</td>
        <td style="width: 40px;"></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of labelsMap; index as i; trackBy: trackByFn"
          class="rc-form-input">
        <td>
          <input rcInput
              type="text"
              name="key-{{i}}"
              required
              maxlength="317"
              rcResourceLabelValid
              [keyDuplicated]="keyDuplicated"
              [rcErrorsTooltip]
              [rcErrorsTooltipMapper]="errorMappers.key"
              [(ngModel)]="item.key"
              (ngModelChange)="onKeyChange($event)">
        </td>
        <td>
          <input rcInput
                 type="text"
                 name="value-{{i}}"
                 maxlength="64"
                 [pattern]="valueReg.pattern"
                 [rcErrorsTooltip]
                 [rcErrorsTooltipMapper]="errorMappers.value"
                 [(ngModel)]="item.value">
        </td>
        <td>
          <a class="form-action-button"
             href="javascript:void(0)"
             (click)="labelsMap.splice(i, 1)">
            <i class="fa fa-minus-circle"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!labelsMap?.length"
      class="rc-form-table-empty">
      {{'none' | translate}}{{'label' | translate}}
  </div>
  
  <div class="rc-form-action-button"
        (click)="labelsMap.push({key: '', value:''})">
    <aui-icon icon="basic:add_circle"></aui-icon>
    {{ "add" | translate }}
  </div> 
</form>
