<div class="project-badge"
    #tooltipAnchor
    [class.no-projects]="(projectsLength$ | async) === 0">
    <div class="left-badge"
        [auiTooltip]="'project_badge_current_project' | translate"
        auiTooltipPosition="bottom center"
        auiTooltipClass="rc-font-small"
        (click)="projectDetail()">
        <i class="rb-icon-project"></i>
    </div>

    <div class="right-badge"
        *ngIf="(projectsLength$ | async) > 0"
        #projectListTooltipEl
        [auiTooltip]="projectListTemplate"
        [auiTooltipType]="'plain'"
        [auiTooltipTrigger]="'click'"
        [auiTooltipPosition]="'bottom end'">
        <div class="display-name">
            <span [title]="selectedProject.display_name || selectedProject.name">
                {{ selectedProject.display_name || selectedProject.name }}
            </span>
        </div>

        <div class="fa expand-icon fa-angle-down"
            [class.active]="active">
        </div>
    </div>

    <div *ngIf="(projectsLength$ | async) === 0"
        class="right-badge">
        {{ 'no_project' | translate }}
    </div>
</div>

<ng-template #projectListTemplate>

    <div class="project-list">
        <div class="project-list__header">
            <input aui-input
                name="filter_name"
                [(ngModel)]="filterName"
                (ngModelChange)="filterName$.next($event);"
                [placeholder]="'filter_by_name_placeholder' | translate">
        </div>
        <div class="project-list__items">
            <div *ngFor="let project of filteredProjects$ | async; trackBy: trackByProjectId"
                class="project-list__item"
                (click)="selectProject(project)"
                [title]="project.display_name || project.name"
                [class.active-project]="project.name === selectedProject?.name">
                {{ project.display_name || project.name }}
            </div>
            <div class="project-list__empty"
                *ngIf="(filteredProjects$ | async)?.length === 0">
                {{ 'no_data' | translate }}
            </div>
        </div>
    </div>
</ng-template>