<div class="ui buttons">
  <ng-content select="[rcButtonMenuDefault]"></ng-content>
  <div class="ui floating dropdown icon button {{ textSize || '' }}"
       [ngClass]="{ disabled: tooltipDisabled, text: text }"
       #dropdownAnchorEl
       #popup="tooltip"
       [rcTooltip]="tooltipTemplate"
       [rcTooltipEmpty]="true"
       [rcTooltipInline]="false"
       [rcTooltipModifiers]="{preventOverflow: {boundariesElement: 'viewport'}}"
       rcTooltipPosition="bottom right"
       rcTooltipOffset="0,3"
       [rcTooltipNoArrow]="true"
       rcTooltipOn="click">
    <span *ngIf="text"
          class="text">{{ text }}</span>
    <ng-content select="[rcIconTemplate]"></ng-content>
    <i class="dropdown icon"></i>
  </div>
</div>

<ng-template #tooltipTemplate>
  <div
    (click)="popup.hideTooltip()"
    class="rc-button-menu-popup">
      <ng-content></ng-content>
  </div>
</ng-template>
