@import 'colors.styles';

:host::ng-deep {
  display: block;
  font-size: 14px;

  .ui.buttons {
    position: relative;

    .text {
      margin-right: 5px;
    }

    .ui.button.rc-button {
      margin-right: -1px;
      position: relative;
      border-radius: 3px 0 0 3px;
      border: 1px solid $button-default-border-color;
      color: #464646 !important;
      line-height: 18px;
      z-index: 0;
      transition: color 0.3s, border-color 0.3s;
      &:hover,
      &:focus {
        border-color: $button-default-hover-border-color;
        color: $button-default-hover-border-color !important;
        z-index: 1;
      }
    }
    .ui.dropdown.button {
      position: relative;
      display: flex;
      font-size: 14px;
      align-items: center;
      border-radius: 0 3px 3px 0;
      border: 1px solid $button-default-border-color;
      color: #333;
      background-color: #fff;
      padding: 6px 9px;
      line-height: 18px;
      z-index: 0;
      transition: color 0.3s, border-color 0.3s;
      &:hover,
      &:focus {
        border-color: $button-default-hover-border-color;
        color: $button-default-hover-border-color;
        z-index: 1;
      }
      &.text {
        margin-right: 0;
        border-radius: 4px;

        &.tiny {
          font-size: 12px;
          padding: 3px 8px;
          line-height: 18px;
        }
        &.small {
          font-size: 14px;
          padding: 4px 12px;
        }
        &.medium {
          line-height: 20px; /* TODO: medium is default, need be empty. */
        }
        &.large {
          font-size: 16px;
          padding: 7px 20px;
          line-height: 22px;
        }
      }
    }
  }
}

.rc-button-menu-popup {
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid $button-default-border-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  color: $button-default-text-color;
}

::ng-deep {
  /* menu buttons */
  .rc-menu-button {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 0;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    font-size: 14px;
    white-space: nowrap;
    vertical-align: middle;
    background: #fff;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #ecf6fb;
      color: #53bce5;
    }
    &[disabled] {
      cursor: default;
      color: #d1d1d1;
      background-color: #fff;
    }
  }
}
