<rc-inline-notification type="info"
                        closable='true'
                        *ngIf="notificationVisible"
                        (close)="closeNotification()"
                        [content]="'pv_tips' | translate">
</rc-inline-notification>

<div *rcPageHeaderContent class="storage-custom-header">
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_storage' | translate }}
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_pv' | translate }}
    </ng-container>
  </rc-breadcrumb>
  <span role="button" class="fa fa-info-circle notification-switch" (click)="showNotification()"></span>
</div>

<div fxLayout="row" class="rc-list-header">
  <button *ngIf="hasCreatePvPermission"
          rcButton="primary"
          (click)="createPv()"
          [disabled]="loading">
    {{ "create_pv" | translate }}
  </button>
  <span fxFlex></span>
  <rc-search-input [loading]="searching" (onSearch)="filter($event)" mode="filter"></rc-search-input>
  <button rcIconButton [disabled]="loading" (click)="load()">
    <i class="fa fa-refresh"></i>
  </button>
</div>

<div class="table-container" [rcLoadingMask]="loading">
  <rc-table class="rc-primary-table"
            *ngIf="initialized"
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowHeight]="88"
            [rows]="pvs"
            emptyMessage="{{ emptyMessage | translate }}">
    <rc-table-col name="{{'pv_name'|translate}}" [width]=260>
      <div *rcTableColCell="let item = row">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/pv.svg" alt="">
          <div class="rc-lines">
            <div class="rc-line">
              <a [routerLink]="['/storage/pv/detail', item.kubernetes.metadata.name]">{{item.kubernetes.metadata.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>
    <rc-table-col name="{{'status'|translate}}">
      <div *rcTableColCell="let item = row">
        <rc-status-badge [status]="statusMap[item.kubernetes.status.phase]"></rc-status-badge>
      </div>
    </rc-table-col>
    <rc-table-col name="{{'referenced_volume'|translate}}" cellClass="rc-col-cell-truncated">
      <div *rcTableColCell="let item = row">
        <a [routerLink]="['/storage/volume/detail', item.kubernetes.metadata.annotations[uuidKey]]"
           *ngIf="item.kubernetes.metadata.annotations[nameKey];else noVolume">
          {{item.kubernetes.metadata.annotations[nameKey]}}
        </a>
        <ng-template #noVolume>-</ng-template>
      </div>
    </rc-table-col>
    <rc-table-col name="{{'referenced_pvc'|translate}}" cellClass="rc-col-cell-truncated">
      <div *rcTableColCell="let item = row">
        <ng-container *ngIf="item.kubernetes.spec.claimRef">
          <a [routerLink]="['/storage/pvc/detail', region.id, item.kubernetes.spec.claimRef.namespace, item.kubernetes.spec.claimRef.name]">
            {{item.kubernetes.spec.claimRef.name}}
          </a>
        </ng-container>
        <ng-container *ngIf="!item.kubernetes.spec.claimRef">-</ng-container>
      </div>
    </rc-table-col>
    <rc-table-col name="{{'size'|translate}}" [width]="100">
      <div *rcTableColCell="let item = row">{{item.kubernetes.spec.capacity.storage}}</div>
    </rc-table-col>
    <rc-table-col name="{{'action'|translate}}" [width]=150>
      <div *rcTableColCell="let item = row">
        <rc-button-menu>
          <button rcButton
                  rcButtonSize="small" rcButtonMenuDefault
                  rcButtonSize="small"
                  (click)="viewDetail(item.kubernetes.metadata.name)">{{'view'|translate}}</button>
          <button rcMenuButton
                  [disabled]="!['Bound', 'Available'].includes(item.kubernetes.status.phase)"
                  (click)="update(item)"
                  *ngIf="item.canUpdate">{{'update'|translate}}</button>
          <button rcMenuButton
                  [disabled]="item.kubernetes.status.phase==='Bound'"
                  (click)="delete(item)"
                  *ngIf="item.canDelete">{{'delete'|translate}}</button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>
</div>
<div class="rc-list-pagination" *ngIf="initialized&&pvs.length">
  <aui-paginator [length]="pagination.count"
                 [pageSize]="pagination.size"
                 [pageIndex]="currentPageIndex"
                 (page)="pageChanged($event)"
                 [pageSizeOptions]="[10, 20, 50, 100]">
  </aui-paginator>
</div>
