<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="!vm.initialized || vm.submitting">
    <form class="rb-form" name="vm.form">

      <div class="rb-form-row">
        <div class="rb-label">
          {{ 'role_name' | translate }}
          <span class="rb-required-mark">*</span>
        </div>
        <div flex=75 class="ui input">
          <input type="text"
                 name="name"
                 ng-model="vm.role.name"
                 ng-pattern='/^[A-Za-z0-9-_]*$/'
                 minlength="4"
                 maxlength="64"
                 rb-errors-tooltip
                 placeholder="{{'pattern_role_name' | translate}}"
                 required>
        </div>
      </div>

      <div class="rb-form-fieldset-interval"></div>

      <div class="rb-form-row">
        <div class="rb-label">
          {{'parent_role' | translate}}
        </div>
        <rb-parent-roles-fieldset ng-if="vm.initialized" flex="75" parent-roles="vm.role.parents"></rb-parent-roles-fieldset>
      </div>

      <div class="rb-form-fieldset-interval"></div>

      <div class="rb-form-row">
        <div class="rb-label">
          {{'permissions' | translate}}
        </div>
        <rb-role-permissions-fieldset flex="75" preview="false" permissions="vm.role.permissions"></rb-role-permissions-fieldset>
      </div>

    </form>
  </div>

  <div class="rb-form-footer">
    <div class="rb-form-footer-offset"></div>
    <div class="rb-form-footer-buttons" flex="75">
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.create()">{{'create' | translate}}
      </button>
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' | translate}}
      </button>
    </div>
  </div>