<div class="rb-form-container">
  <ng-form class="rb-form" name="vm.networkForm">
    <!-- network_mode -->
    <div class="rb-form-row input">
      <div class="rb-label">
        {{ 'network_mode' | translate }}
      </div>
      <div flex="70" flex-md="80" flex-sm="80" flex-xs="80">
        <rb-radio-group options="vm.networkModes" key="name" value="value"
                        on-change="vm.onNetworkModeChange(option)"></rb-radio-group>
      </div>
    </div>

    <!-- subnet -->
    <div ng-if="vm.subnetOptionEnabled()" class="rb-form-row input">
      <div style="width: 100%">
        <div class="rb-form-row">
          <div class="rb-label">
            {{ 'subnet' | translate }}
          </div>
          <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" rb-loading-mask="vm.loadingSubnets">
            <rb-dropdown ng-if="vm.model.subnets.length > 0"
                         options="vm.model.subnets"
                         key="subnet_name"
                         value="subnet_name"
                         on-change="vm.subnetChange(option)"></rb-dropdown>
            <div class="rb-loading-mask-placeholder" style="min-height: 80px;"
                 ng-if="!vm.model.subnets || vm.model.subnets.length === 0">
              {{ 'missing_subnet' | translate }}
            </div>
          </div>
        </div>
        <div class="rb-form-row" ng-if="!vm.loadingSubnets && vm.model.subnets.length > 0">
          <div class="rb-label">
            {{ 'assigned_ip' | translate }}
          </div>
          <div flex="70" flex-md="80" flex-sm="80" flex-xs="80">
            <rb-radio-group options="vm.subnetOptions" key="name" value="value"
                            on-change="vm.subnetOptionsChange(option)"></rb-radio-group>
          </div>
        </div>
        <div class="rb-form-row" ng-if="vm.ifSubnetOptionTrue()">
          <div class="rb-label">
            {{ 'subnet_ip_list' | translate }}
          </div>
          <div flex="70" flex-md="80" flex-sm="80" flex-xs="80" rb-loading-mask="vm.loadingSubnetIps">
            <rb-model-dropdown
              ng-if="vm.model.subnetIps.length"
              ng-model="vm._subnetIpList"
              required="true"
              rb-errors-tooltip
              options="vm.model.subnetIps"
              multiple="true"
              key="address"
              value="address"
              placeholder="{{ 'select_ip' | translate }}"
              on-add="vm.subnetIpAdd(option)"
              on-remove="vm.subnetIpRemove(option)"></rb-model-dropdown>
            <div class="rb-loading-mask-placeholder" style="min-height: 80px;"
                 ng-if="vm.ifSubnetIpsNotEmpty()">
              {{ 'missing_subnet_ip' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--mipn options, alb enabled only-->
    <div ng-if="vm.mipnOptionsEnabled()">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ "mipn" | translate }}
          <i class="fa fa-question-circle"
             uib-popover-html="'network_mipn_loadbalancer_desc' | translate"
             popover-placement="top"
             popover-trigger="'mouseenter'"
             popover-append-to-body="true"></i>
        </div>
        <div flex="70" flex-md="80" flex-sm="80" flex-xs="80">
          <rb-radio-group options="vm.mipnOptions" disabled-values="vm.disabledMipnValues" key="name" value="value"
                          on-change="vm.onMipnOptionsChange(option)"></rb-radio-group>
        </div>
      </div>
    </div>

    <!-- load_balancer -->
    <div ng-if="vm.iaasLoadBalancersOptionsEnabled()">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'load_balancer' | translate }}
        </div>
        <div flex="70" flex-md="80" flex-sm="80" flex-xs="80">
          <rb-radio-group options="vm.loadBalancerTypes"
                          on-change="vm.onLoadBalancerTypeChange(option)"></rb-radio-group>
        </div>
      </div>
    </div>

    <!-- required_ports HOST模式下必选， raw_container_ports Raw Container模式必选，ports: alb -->
    <div ng-if="vm.containerRequiredPortsEnabled() && vm.model.networkMode === 'HOST'">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input" style="margin-bottom: 0">
        <div class="rb-label">
          {{ 'container_exposed_ports' | translate }}
        </div>
        <div flex="70" flex-md="80" flex-sm="80" flex-xs="80">
          <rb-tags-input style="flex: 1;"
                         init-tags="vm.model.container_ports"
                         validate-fn="vm.requiredPortValidateFn"
                         on-change="vm.onRequiredPortsChange(tags)"
                         placeholder="'ports_tags_placeholder' | translate"></rb-tags-input>
          <div style="width:25px;">
            <i class="fa fa-question-circle rb-fieldset-action-btn"
               uib-popover-html="'container_exposed_ports_host_desc' | translate"
               popover-placement="left"
               popover-trigger="'mouseenter'"
               popover-append-to-body="true"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- instance_ports -->
    <div ng-if="vm.instancePortsEnabled()">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'port_mapping' | translate }}
        </div>
        <rb-service-fieldset-instance-ports flex="70" flex-md="80" flex-sm="80" flex-xs="80"
                                            instance-ports="vm.model.instance_ports"
                                            image-ports="vm.imageData.portList"
                                            ip-list="vm.ipList"
                                            internal-endpoint-enabled="vm.internalEndpointEnabled"
                                            network-mode="vm.model.networkMode"
                                            container-ports="vm.model.container_ports"></rb-service-fieldset-instance-ports>
      </div>
    </div>


    <!-- load_balancers fields -->
    <div ng-if="vm.iaasLoadBalancersFieldsEnabled()">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'port_mapping' | translate }}
        </div>
        <rb-service-fieldset-load-balancers flex="70" flex-md="80" flex-sm="80" flex-xs="80"
                                            network-mode="vm.model.networkMode"
                                            load-balancer-type="vm.model.loadBalancerType"
                                            load-balancers="vm.model.load_balancers"
                                            container-ports="vm.model.container_ports"></rb-service-fieldset-load-balancers>
      </div>
    </div>

    <!-- alb fields -->
    <div ng-if="vm.albEnabled">
      <div ng-if="vm.containerRequiredPortsEnabled() && vm.model.networkMode !== 'HOST'">
        <div class="rb-form-fieldset-interval"></div>
        <div class="rb-form-row input" style="margin-bottom: 0">
          <div class="rb-label">
            {{ 'container_exposed_ports' | translate }}
          </div>
          <div flex="70" flex-md="80" flex-sm="80" flex-xs="80">
            <rb-tags-input style="flex: 1;"
                           init-tags="vm.model.container_ports"
                           validate-fn="vm.requiredPortValidateFn"
                           on-change="vm.onRequiredPortsChange(tags)"
                           placeholder="'ports_tags_placeholder' | translate"></rb-tags-input>
            <div style="width:25px;">
              <i class="fa fa-question-circle rb-fieldset-action-btn"
                 uib-popover-html="vm.isDaemonsetOrStatefulset()?'container_exposed_ports_host_desc':'container_exposed_ports_alb_desc' | translate"
                 popover-placement="top"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!vm.isDaemonsetOrStatefulset()">
        <div class="rb-form-fieldset-interval"></div>
        <div class="rb-form-row input">
          <div class="rb-label">
            {{ 'load_balancer' | translate }}
          </div>
          <rb-service-fieldset-alb flex="70" flex-md="80" flex-sm="80" flex-xs="80"
                                   alb-list="vm.albList"
                                   load-balancers="vm.model.load_balancers"
                                   container-ports="vm.model.container_ports"></rb-service-fieldset-alb>
        </div>
      </div>
    </div>

    <!--- is k8s service -->
    <div ng-if="vm.isSupportKubernetesService()">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'Kubernetes Service' }}
        </div>
        <div flex="70" flex-md="80" flex-sm="80" flex-xs="80">
          <rb-service-create-kubernetes-service-table services="vm.model.kubernetes_services"
                                                      service-name="vm.model.service_name",
                                                      ports="vm.model.container_ports"
                                                      mode="create"
                                                      style="width: 100%;">
          </rb-service-create-kubernetes-service-table>
        </div>
      </div>
    </div>

    <!-- health_checks -->
    <div ng-if="vm.isServiceHealthcheckEnabled(vm.model, vm.regionFeatures)">
      <div class="rb-form-fieldset-interval"></div>
      <div class="rb-form-row input">
        <div class="rb-label">
          {{ 'health_check' | translate }}
        </div>
        <rb-service-fieldset-healthcheck flex="70" flex-md="80" flex-sm="80" flex-xs="80"
                                         health-checks="vm.model.health_checks"></rb-service-fieldset-healthcheck>
      </div>
    </div>

  </ng-form>
</div>