@import '~@angular/material/theming';

$md-color-primary: (
  50: #e0f3fc,
  100: #b3e1f7,
  200: #80cef1,
  300: #4dbaeb,
  400: #26abe7,
  500: #009ce3,
  600: #0094e0,
  700: #008adc,
  800: #0080d8,
  900: #006ed0,
  A100: #f8fbff,
  A200: #c5e0ff,
  A400: #92c5ff,
  A700: #79b8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-color-warning: (
  50: #fef5eb,
  100: #fde6cd,
  200: #fcd6ac,
  300: #fac58a,
  400: #f9b871,
  500: #f8ac58,
  600: #f7a550,
  700: #f69b47,
  800: #f5923d,
  900: #f3822d,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe1cd,
  A700: #ffd2b3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-color-error: (
  50: #fdecec,
  100: #f9d0d0,
  200: #f5b1b1,
  300: #f19191,
  400: #ee7a7a,
  500: #eb6262,
  600: #e95a5a,
  700: #e55050,
  800: #e24646,
  900: #dd3434,
  A100: #ffffff,
  A200: #fff1f1,
  A400: #ffbebe,
  A700: #ffa4a4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$app-primary: mat-palette($md-color-primary);
$app-accent: mat-palette($md-color-warning, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($md-color-error);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
