@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

$table-flex-large: 4 0 100px;
$table-flex-medium: 1 0 100px;
$table-flex-small: 0 0 100px;

.aui-table {
  .aui-table__column-action {
    flex: 0 0 44px;
    display: flex;
    justify-content: center;
    .action-button {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #333;

      &:hover {
        background-color: #e5f5fc;
        color: #009ce3;
      }

      aui-icon {
        font-size: 12px;
      }
    }
  }
}

// 应用/容器组名称加图标
.rc-resource-name-cell {
  display: flex;
  align-items: center;
  img {
    margin-right: 8px;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    flex-shrink: 0;
  }
  .rc-lines {
    display: flex;
    flex-direction: column;
    min-width: 120px;
    .rc-line {
      line-height: 24px;
      a {
        display: block;
        @include text-overflow;
      }
    }
  }
}
