@import '_colors.styles';

@mixin row-button-style {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  i {
    margin-right: 4px;
  }
}
:host {
  width: 100%;
  background-color: #fafafa;
  .add-container-button {
    @include row-button-style();
    margin: 8px;
    color: #009ce3;
    background-color: #fff;
    border: dashed 1px $button-default-border-color;
    &:hover {
      border-color: $button-default-hover-border-color;
      background-color: $button-default-hover-background-color;
    }
  }
  .rc-form-table {
    tr {
      border: none;
    }
  }
}
