<div *ngIf="linking"
     class="loading"
     [rcLoadingMask]="linking"></div>
<div *ngIf="!account.username"
     class="static-field">
  <label>{{ 'password' | translate }}</label>
  <div>
    <span class="link-text"
          (click)="updateRootPassword()">
      <span>{{ 'change_password' | translate }}</span>
    </span>
  </div>
</div>

<div class="static-field">
  <label>{{ 'email' | translate }}</label>
  <div>
    <span>{{ profile.email }}</span>
    <a *ngIf="!account.username"
       style="margin-left: 5px"
       (click)="updateProfile('email')">
      <i class="fa fa-edit"></i>
    </a>
  </div>
</div>

<div *ngIf="profile.mobile"
     class="static-field">
  <label>{{ 'mobile_phone' | translate }}</label>
  <div>
    <span>{{ profile.mobile }}</span>
    <a *ngIf="!account.username"
       style="margin-left: 5px"
       (click)="updateProfile('mobile')">
      <i class="fa fa-edit"></i>
    </a>
  </div>
</div>

<div *ngIf="!account.username"
     class="static-field">
  <label>Token</label>
  <div>
    <span>{{ token }}</span>
  </div>
</div>

<div *ngIf="!account.username && codeClients">
  <div *ngFor="let codeClient of codeClients"
       class="static-field">
    <label>{{ 'build_code_repo_client_' + codeClient.name | translate }}</label>
    <div *ngIf="codeClient.is_authed">
      <span *ngIf="codeClient.is_authed === 'unlinking'">
        {{ 'unlinking_oauth_code_client' | translate }}
      </span>
      <span *ngIf="codeClient.is_authed === 'linking'">
        {{ 'linking_oauth_code_client' | translate }}
      </span>
      <a class="rb-btn-link"
         *ngIf="codeClient.is_authed === true"
         (click)="unlinkClient(codeClient)">
        <i class="fa fa-unlink"></i> {{ 'unlink_oauth_code_client' | translate }}
      </a>
    </div>
    <div *ngIf="!codeClient.is_authed">
      <a class="rb-btn-link"
         (click)="linkClient(codeClient)">
        <i class="fa fa-link"></i> {{ 'link_oauth_code_client' | translate }}
      </a>
    </div>
  </div>
</div>
