<form [rcLoadingMask]="submitting"
      #form="ngForm"
      style="padding:30px 40px">
  <!-- email -->
  <rc-form-field *ngIf="field === 'email'"
                 [label]="'email' | translate">
    <input rcInput
           name="email"
           [(ngModel)]="email"
           pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
           [placeholder]="'email' | translate"
           required>
  </rc-form-field>
  <!-- mobile -->
  <rc-form-field *ngIf="field === 'mobile'"
                 [label]="'mobile_phone' | translate">
    <input rcInput
           name="mobile"
           [(ngModel)]="mobile"
           pattern="^\+{0,1}[0-9]{0,15}$"
           minlength="7"
           maxlength="15"
           [placeholder]="'mobile' | translate"
           required>
  </rc-form-field>
</form>
<div class="modal-footer">
  <button type="button"
          rcButton
          (click)="close.emit()">{{'cancel' | translate}}
  </button>
  <button rcButton="primary"
          [ngClass]="{ loading: submitting }"
          [disabled]="submitting"
          (click)="confirm()">{{'save' | translate}}
  </button>
</div>
