<form [rcLoadingMask]="submitting"
      #form="ngForm"
      style="padding:30px 40px;">
  <rc-form-field [label]="'oschina_user_name' | translate">
    <input rcInput
           name="infoName"
           [(ngModel)]="infoName"
           [placeholder]="'oschina_user_name' | translate"
           required>
  </rc-form-field>
  <rc-form-field [label]="'oschina_password' | translate">
    <input rcInput
           type="password"
           autocomplete="new-password"
           name="infoPass"
           [(ngModel)]="infoPass"
           required>
  </rc-form-field>
</form>
<div class="modal-footer">
  <button type="button"
          rcButton
          (click)="close.emit()">{{'cancel' | translate}}
  </button>
  <button rcButton="primary"
          [ngClass]="{ loading: submitting }"
          (click)="confirm()"
          [disabled]="submitting">{{'submit' | translate}}
  </button>
</div>
