<div class="rc-form-group-wrap" [rcLoadingMask]="loading">
  <div class="rc-form-group" *ngIf="initialized">
    <div class="rc-form-group-header">
      {{'compose_file' | translate}}
    </div>
    <div class="rc-form-group-content">
      <form #form="ngForm">
        <!-- cluster -->
        <div class="rc-form-field">
          <label class="rc-form-field-label">{{'cluster' | translate}}</label>
          <div class="rc-form-field-container">{{ region.name }}</div>
        </div>
        <!-- name -->
        <!-- <rc-form-field label="{{'name' | translate}}">
          <input  rcInput
                  name="name"
                  [rcErrorsTooltip]
                  [rcErrorsTooltipMapper]="errorsMapper.name"
                  pattern="^[a-z0-9\-\_]*$"
                  placeholder="{{'storage_volume_name'|translate}}"
                  [(ngModel)]="name"
                  required>
        </rc-form-field> -->
        <!-- default -->
        <!-- <rc-form-field label="{{'set_default_storageclass' | translate}}">
          <rc-checkbox type="toggle"
                       name="setDefault"
                       [(ngModel)]="isDefault">
          </rc-checkbox>
        </rc-form-field> -->
        <!-- yaml -->
        <rc-form-field label="{{'compose_file' | translate}}" [shouldFlexRow]="true">
          <rc-code-editor name="yaml"
                          [rcErrorsTooltip]
                          [rcErrorsTooltipInline]="true"
                          [(ngModel)]="yamlContent"
                          mode="yaml"
                          required>
          </rc-code-editor>
        </rc-form-field>
      </form>
    </div>
  </div>
  <div class="rc-form-group-footer">
    <button rcButton (click)="cancel()">{{'cancel' | translate}}</button>
    <button rcButton="primary" 
            (click)="submit($event)" 
            [class.loading]="submitting" 
            [disabled]="loading">{{(updating?'save':'create') | translate}}</button>
  </div>
</div>