<aui-card>
    <div auiCardHeader
        fxLayout>
        <button aui-button="primary"
            *ngIf="createEnabled"
            (click)="createApp()">
            {{ 'create_app' | translate }}
        </button>
        <div fxFlex></div>
        <aui-search [searchButton]="true"
            [searching]="searching"
            [debounce]="200"
            [(keyword)]="keyword"
            placeholder="{{'search_by_name_placeholder' | translate}}"
            (search)="searchByName($event)">
        </aui-search>
    </div>

    <aui-table [dataSource]="list$ | async"
        [trackBy]="trackByFn">
        <ng-container auiTableColumnDef="name">
            <aui-table-header-cell *auiTableHeaderCellDef>{{'name' | translate}}</aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                <div class="rc-resource-name-cell">
                    <img src="/static/images/resource/app.svg">
                    <div class="rc-lines">
                        <div class="rc-line"><a href="javascript:void(0)"
                                [routerLink]="['/workspace',{project: projectName, cluster: clusterName, namespace: namespaceName}, 'app', 'detail', item.resource.uuid]">{{ item.resource.name }}</a></div>
                    </div>
                </div>
            </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="status">
            <aui-table-header-cell *auiTableHeaderCellDef>{{'status' | translate}}</aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                    <rc-service-status-badge [status]="item.services[0] && (item.services[0].resource.new_status || item.services[0].resource.status)"
                    [desiredInstances]="item.services[0] && item.services[0].resource.instances?.desired"
                    [currentInstances]="item.services[0] && item.services[0].resource.instances?.current"></rc-service-status-badge>
            </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="image">
            <aui-table-header-cell *auiTableHeaderCellDef>{{'image' | translate}}</aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                <rc-service-image-display [imageDisplayParams]="imageDisplayParamsMap[item.resource.uuid]"></rc-service-image-display>
            </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="action">
            <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
                <div [auiDropdown]="menu"
                    [auiDropdownDisabled]="!menu.hasEnabledItem"
                    class="action-button">
                    <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
                </div>
                <aui-menu #menu
                    size="small">
                    <aui-menu-item *ngIf="appUtilities.showUpdate(item)"
                        [disabled]="!appUtilities.canUpdate(item)"
                        (click)="updateApp(item.resource.uuid)">{{ 'update' | translate }}</aui-menu-item>
                    <aui-menu-item *ngIf="appUtilities.showDelete(item)"
                        [disabled]="!appUtilities.canDelete(item)"
                        (click)="deleteApp(item)">{{ 'delete' | translate }}</aui-menu-item>
                </aui-menu>
            </aui-table-cell>
        </ng-container>
        <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
        <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
    </aui-table>

    <rc-zero-state [zeroState]="showZeroState"
        [fetching]="!initialized && fetching"
        resourceName="application"></rc-zero-state>

    <rc-pagination2 [count]="(listMeta$ | async)?.count"
        [page]="(pageParams$ | async)?.pageIndex"
        [pageSize]="(pageParams$ | async)?.pageSize"
        [disabled]="fetching"
        (pageChanged)="pageChanged($event)">
    </rc-pagination2>
</aui-card>