.aui-table {
  &__column-name {
    flex: 2 0 120px;
  }
  &__column-status {
    flex: 0 0 120px;
  }
  &__column-image {
    flex: 3 0 120px;
    rc-service-image-display {
      display: inline-block;
    }
  }
}

rc-pagination2 {
  margin-top: 8px;
}
