<div class="form-container">
  <div class="form-header">{{ 'enterprise_register' | translate }}</div>

  <form>
    <div class="register-info">
      <div style="margin-right: 1em;">
        {{ 'note' | translate }}:
      </div>
      <div class="register-info-content">
        <div>1. {{ 'register_info_line_1' | translate }}</div>
        <div>2. {{ 'register_info_line_2' | translate }}</div>
        <div>3. {{ 'register_info_line_3' | translate }}</div>
      </div>
    </div>

    <rld-form-control-fragment
      *ngFor="let fragment of formControlFragments"
      [formControlFragment]="fragment">
    </rld-form-control-fragment>
    <button aui-button="primary"
            size="large"
            (click)="register()"
            [loading]="submitting"
            [disabled]="registerDisabled">
      {{ 'register' | translate }}
    </button>
  </form>
</div>
