:host {
  ::ng-deep {
    .mat-tab-group,
    .rc-tab-container {
      background-color: transparent !important;
    }

    .mat-tab-group {
      .mat-tab-header {
        margin: 0;
      }

      .mat-tab-label {
        color: #000;
      }

      .mat-tab-label-active {
        opacity: 1;
      }

      .mat-ink-bar {
        background-color: #59889b !important;
      }

      .mat-tab-header {
        border-bottom-color: rgba(0, 0, 0, 0.12);
      }
    }

    .rc-tab-container {
      padding: 20px 0 !important;
    }
  }
}
