<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>{{ 'image'| translate }}</ng-container>
    <ng-container *rcBreadcrumbItem>{{ 'image_repository'| translate }}</ng-container>
  </rc-breadcrumb>
</ng-container>

<div *ngIf="!registries"
     style="height:80px"
     [rcLoadingMask]="true"></div>
<rc-tab-group *ngIf="registries"
              [selectedIndex]="selectedIndex"
              (selectedIndexChange)="onSelectedIndexChange($event)">
  <ng-container *ngFor="let registry of registries; trackBy uuid">
    <div *rcTab="tabLabel">
      <rc-image-repository-projects [registry]="registry"></rc-image-repository-projects>
    </div>
    <ng-template #tabLabel>
      <span class="fa fa-lock"
            style="margin-right:4px;"
            [hidden]="registry.is_public"></span>
      {{ registry.display_name || registry.name }}
    </ng-template>
  </ng-container>
</rc-tab-group>
