<form
  #form="ngForm"
  class="rc-auto-scaling-form">
  <p>
    <span>{{'function_switch' | translate }}&nbsp;</span>
    <rc-checkbox
      type="toggle"
      name="enable_scale"
      [(ngModel)]="data.enable_scale">
      {{ (data.enable_scale ? 'switch_on' : 'switch_off') | translate }}
    </rc-checkbox>
  </p>
  <section>
    <div>{{ 'scaling_up_config' | translate }}</div>
    <p>
      <span>{{'cpu_utilization' | translate}} >=</span>
      <input
        rcInput
        rcErrorsTooltip
        name="max_cpus_utilization"
        [(ngModel)]="scale_up.max_cpus_utilization"
        type="number"
        [min]="1"
        [max]="100"
        required
        pattern="^\d+$">
      <span>&nbsp;%&nbsp;{{'logic_or'|translate}}&nbsp;&nbsp;{{'memory_utilization' | translate}}&nbsp;>=&nbsp;</span>
      <input
        rcInput
        rcErrorsTooltip
        name="max_mem_utilization"
        [(ngModel)]="scale_up.max_mem_utilization"
        type="number"
        pattern="^\d+$"
        required
        [min]="1"
        [max]="100">
        <span>&nbsp;%</span>
    </p>
    <p>
      <span>{{'increase_delta' | translate }}&nbsp;</span>
      <input
        rcInput
        rcErrorsTooltip
        name="increase_delta"
        [(ngModel)]="scale_up.increase_delta"
        type="number"
        pattern="^\d+$"
        required
        [min]="1"
        [max]="65535">
      <span>&nbsp;{{'unit_node'|translate}}&nbsp;&nbsp;{{'max_scale_num'|translate}}&nbsp;</span>
      <input
        rcInput
        rcErrorsTooltip
        name="max_scale_num"
        [(ngModel)]="scale_up.max_scale_num"
        type="number" pattern="^\d+$"
        required
        [min]="1"
        [max]="65535">
      <span>&nbsp;{{'unit_node'|translate}}</span>
    </p>
    <p *ngIf="this.cluster.attr.cloud.name==='VMWARE'">
      <span>CPU </span>
      <input
        rcInput
        rcErrorsTooltip
        name="cpu_num"
        [(ngModel)]="scale_up.cpu_num"
        type="number"
        required
        [min]="1">
      <span> {{ 'unit_core' | translate }} {{ 'memory' | translate }} </span>
      <input
        rcInput
        rcErrorsTooltip
        name="mem_size"
        [(ngModel)]="scale_up.mem_size"
        type="number"
        required
        [min]="4">
      <span> G</span>
    </p>
    <p *ngIf="instanceTypeOptions.length">
      <span>{{'vm_size' | translate}}&nbsp;</span>
      <rc-single-selection-dropdown
        name="instance_type"
        [(ngModel)]="scale_up.instance_type"
        [options]="instanceTypeOptions"
        displayField="display"
        valueField="value">
      </rc-single-selection-dropdown>
    </p>
    <p *ngIf="sshKeyPairOptions.length">
      <span>SSH KEY</span>
      <rc-single-selection-dropdown
        name="ssh_key_name"
        [(ngModel)]="scale_up.ssh_key_name"
        [options]="sshKeyPairOptions"
        displayField="display"
        valueField="value"
        [allowFilter]="false">
      </rc-single-selection-dropdown>
    </p>
  </section>
  <section>
    <div>{{ 'scaling_down_config' | translate }}</div>
    <p>
      <span>{{'cpu_utilization' | translate}} &lt;&nbsp; </span>
      <input
        rcInput
        rcErrorsTooltip
        name="min_cpus_utilization"
        [(ngModel)]="scale_down.min_cpus_utilization"
        type="number"
        pattern="^\d+$"
        required
        [min]="1"
        [max]="100">
      <span>&nbsp;%&nbsp;&nbsp;&nbsp;{{'logic_and'|translate}}&nbsp;&nbsp;&nbsp;{{'memory_utilization' | translate}}&nbsp;&lt;&nbsp;</span>
      <input
        rcInput
        rcErrorsTooltip
        name="min_mem_utilization" [(ngModel)]="scale_down.min_mem_utilization"
        type="number"
        pattern="^\d+$"
        required
        [min]="1"
        [max]="100">
        <span>&nbsp;%</span>
    </p>
    <p>
      <span>{{'decrease_delta'|translate }}&nbsp;</span>
      <input
        rcInput
        rcErrorsTooltip
        name="decrease_delta"
        [(ngModel)]="scale_down.decrease_delta"
        type="number"
        pattern="^\d+$"
        required
        [min]="1"
        [max]="65535">
      <span>&nbsp;{{'unit_node'|translate}}&nbsp;&nbsp;{{'min_scale_num'|translate}}&nbsp;</span>
      <input
        rcInput
        rcErrorsTooltip
        name="min_scale_num"
        [(ngModel)]="scale_down.min_scale_num"
        type="number"
        pattern="^\d+$"
        required
        [min]="1"
        [max]="65535">
      <span>&nbsp;{{'unit_node'|translate}}</span>
    </p>
    <p>
      <span>{{'occupied_node'|translate }}&nbsp;</span>
      <rc-checkbox
        name="forbid_delete_occupied_node"
        [(ngModel)]="scale_down.forbid_delete_occupied_node"
        type="toggle">
        {{ (scale_down.forbid_delete_occupied_node ? 'forbid_delete' : 'can_delete') |translate }}
      </rc-checkbox>
    </p>
  </section>
</form>

<div class="rc-dialog-footer">
  <button
    rcButton="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="save()">
    {{ 'save' | translate }}
  </button>
  <button
    rcButton
    [disabled]="submitting"
    (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
