.rc-auto-scaling-form {
  margin: 30px 60px;

  > section {
    position: relative;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #fcfeff, #f8fdff);
    border: solid 1px #e3f3fa;
    padding: 24px 32px;
    margin-top: 8px;
    margin-bottom: 30px;

    > div {
      position: absolute;
      left: 40px;
      top: 0;
      transform: translateY(-50%);
      font-size: 14px;
      color: #4d4d4d;
    }
  }

  p {
    line-height: 32px;
    font-size: 14px;
    color: #4d4d4d;

    > [rcinput] {
      width: 56px;
    }
  }
}
