<div class="rb-form-panel rb-configuration-item-edit" rb-loading-mask="vm.submitting">
  <div class="rb-form-container">
    <form class="rb-form" name="vm.form">
      <!-- account name -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'description' | translate}} </label>
          <input class="rb-input"
                 type="text"
                 name="name"
                 maxlength="64"
                 rb-errors-tooltip
                 ng-model="vm.configuration.description">
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.confirm()">{{'confirm' |
        translate}}
      </button>
    </div>
  </div>
</div>