.rc-tag {
  display: inline-flex;
  align-items: center;
  margin: 2px;
  padding: 0 10px;
  min-height: 24px;
  font-size: 14px;
  border-radius: 3px;

  &--mode-default {
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.6);
  }

  &__close-button {
    margin-left: 6px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
}
