<div class="content" [rcLoadingMask]="loading">
  <div class="rc-detail-container" *ngIf="notification&&!loadError">
    <div class="detail-icon">
      <img src="/static/images/resource/notification.svg" alt="">
    </div>
    <div class="detail-wrapper">
      <!-- header -->
      <div class="detail-header">
        <h3>{{notification.name}}</h3>
        <div class="detail-buttons" fxLayout>
          <button rcButton="primary" *ngIf="canUpdate" [disabled]="loading||isDeleting" (click)="update()">{{'update'|translate}}</button>
          <rc-button-menu text="{{'action'|translate}}">
            <button rcMenuButton (click)="delete()" *ngIf="canDelete" [disabled]="isDeleting">{{'delete'|translate}}</button>
          </rc-button-menu>
        </div>
      </div>
      <!-- content -->
      <div class="detail-content">
        <!-- status -->
        <div class="detail-item">
          <label>{{ "created_by" | translate }}</label>
          <div>{{ notification.created_by }}</div>
        </div>
        <!-- size -->
        <div class="detail-item">
          <label>{{ 'created_at' | translate }}</label>
          <div>{{ notification.created_at | rcFormatUtcStr }}</div>
        </div>
        <div class="detail-item">
          <label>{{ 'quota_space' | translate }}</label>
          <div>
            <a [routerLink]="['/quota/detail', notification.space_name]">{{ notification.space_name }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rc-detail-tab">
  <rc-tab-group *ngIf="!loading&&!loadError">
    <div *rcTab="'notification_subscription_info' | translate" [rcLoadingMask]="loading">
      <rc-table class="rc-secondary-table"
                [rows]="notification.subscriptions"
                [headerHeight]="40"
                [rowHeight]="auto">
        <rc-table-col name="{{ 'notification_subscription_type' | translate }}">
          <div *rcTableColCell="let item = row">{{ item.method | translate }}</div>
        </rc-table-col>
        <rc-table-col name="{{ 'notification_subscription_info' | translate }}" [cellClass]="'rc-col-cell-truncated'">
          <div *rcTableColCell="let item = row">{{ item.recipient }}</div>
        </rc-table-col>
        <rc-table-col name="{{ 'notification_webhook_secret' | translate }}">
          <div *rcTableColCell="let item = row">{{ item.secret }}</div>
        </rc-table-col>
        <rc-table-col name="{{ 'notification_subscription_remark' | translate }}">
          <div *rcTableColCell="let item = row">{{ item.remark }}</div>
        </rc-table-col>
      </rc-table>
    </div>
  </rc-tab-group>
</div>
