@import '_colors.styles';

.rc-node-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;

  &__group {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;

    [rcbutton] {
      margin-right: 8px;
    }

    &--width-fit {
      max-width: 100%;
      flex-shrink: 1;
      padding-right: 24px;
    }
  }

  &__title {
    padding: 0 12px;
    flex-shrink: 1;
    max-width: 100%;
    display: flex;
    overflow: hidden;
  }

  &__cluster-name {
    display: block;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }

  &__node-ip {
    display: block;
  }

  &__schedule-badge {
    margin-left: 12px;
    flex-shrink: 0;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 14px;
    font-size: 14px;
    color: white;

    &--schedulable {
      background-color: $status-color-success;
    }

    &--unschedulable {
      background-color: $status-color-error;
    }
  }
}
