<rc-region-badge-option [option]="regionBadgeOption"></rc-region-badge-option>

<div class="rc-node-header">
  <div class="rc-node-header__group rc-node-header__group--width-fit">
    <ng-container *ngIf="(clusterDetail$ | async) && (nodeDetail$ | async)">
      <i class="fa fa-laptop"></i>
      <div class="rc-node-header__title">
        <a
          class="rc-node-header__cluster-name"
          [routerLink]="['/cluster/detail',(pluck(routeParams$, 'clusterName') | async)]">
          {{ pluck(clusterDetail$, 'display_name') | async }}
        </a>
        <span class="rc-node-header__node-ip">/{{ pluck(routeParams$, 'privateIp') | async }}</span>
      </div>
      <rc-status-badge
        mode="rect"
        [status]="nodeState$ | async">
      </rc-status-badge>
      <div
        *ngIf="(isK8s$ | async) && (pluck(nodeDetail$, 'type') | async) !== 'SYS' && (pluck(nodeDetail$, 'attr','schedulable') | async) !== undefined"
        class="rc-node-header__schedule-badge rc-node-header__schedule-badge--{{ (pluck(nodeDetail$, 'attr','schedulable') | async) ? 'schedulable' : 'unschedulable' }}">
        {{ ((pluck(nodeDetail$, 'attr','schedulable') | async) ? 'region_node_schedule_schedule' :
        'region_node_schedule_unschedule') |
        translate }}
      </div>
    </ng-container>
  </div>
  <div class="rc-node-header__group">
    <button
      rcButton="primary"
      *ngIf="(couldAction('start') | async) && (isAutoCreate$ | async)"
      (click)="startNode()">
      {{ 'start' | translate }}
    </button>
    <button
      rcButton
      *ngIf="(couldAction('stop') | async) && (isAutoCreate$ | async)"
      (click)="stopNode()">
      {{ 'stop' | translate }}
    </button>
    <rc-button-menu
      [text]="'action' | translate">
      <button
        rcMenuButton
        *ngIf="couldAction('tag') | async"
        (click)="updateNodeTag()">
        {{ 'update_node_tags' | translate }}
      </button>
      <button
        rcMenuButton
        *ngIf="couldAction('delete') | async"
        (click)="deleteNode()">
        {{ 'delete' | translate }}
      </button>
      <button
        rcMenuButton
        *ngIf="(couldAction('clear') | async) && (pluck(clusterDetail$, 'container_manager') | async) !== 'NONE'"
        (click)="clearNode()">
        {{ 'region_empty_node' | translate }}
      </button>
      <button
        rcMenuButton
        *ngIf="(couldAction('deploy') | async) && (pluck(clusterDetail$, 'container_manager') | async) !== 'NONE'"
        (click)="deployNode()">
        {{ 'region_node_make_compute' | translate }}
      </button>
      <button
        rcMenuButton
        *ngIf="couldAction('drain') | async"
        [disabled]="(pluck(nodeDetail$, 'state') | async)==='DRAINING'"
        (click)="doAction('drain')">
        {{ 'region_node_drain' | translate }}
      </button>
      <button
        rcMenuButton
        *ngIf="couldAction('uncordon') | async"
        [disabled]="(pluck(nodeDetail$, 'state') | async)==='DRAINING'"
        (click)="doAction('uncordon')">
        {{ 'region_node_uncordon' | translate }}
      </button>
      <button
        rcMenuButton
        *ngIf="couldAction('cordon') | async"
        [disabled]="(pluck(nodeDetail$, 'state') | async)==='DRAINING'"
        (click)="doAction('cordon')">
        {{ 'region_node_cordon' | translate }}
      </button>
    </rc-button-menu>
  </div>
</div>

<rc-node-info
  *ngIf="(nodeDetail$ | async) && (clusterDetail$ | async)"
  [cluster]="clusterDetail$ | async"
  [node]="nodeDetail$ | async">
</rc-node-info>

<rc-tab-group
  style="margin: 16px 0 18px;">
  <div
    *rcTab="'monitoring' | translate">
    <rc-node-monitor
      [node]="nodeDetail$ | async"
      [clusterName]="pluck(routeParams$, 'clusterName') | async">
    </rc-node-monitor>
  </div>
  <div
    *rcTab="'component' | translate">
    <rc-referenced-service-list
      [apiVersion]="(pluck(clusterDetail$, 'platform_version') | async)==='v3' ? 'v2' : 'v1'"
      [params]="{host_ip: (pluck(nodeDetail$, 'private_ip') | async)}">
    </rc-referenced-service-list>
  </div>
</rc-tab-group>
