:host {
  width: 100%;
  height: 100%;
  min-height: inherit; // some containers only have min-height
  background: rgba(0, 0, 0, 0.05);
  opacity: 1;
  transition: opacity 0.5s;
  position: relative;

  /* Make sure the contents (spinner, text) are always centered: */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .ui.loader:after {
    border-color: #767676 transparent transparent !important;
  }
  .ui.loader:before {
    border-color: rgba(0, 0, 0, 0.1) !important;
  }
}
