<rb-loading-mask-placeholder ng-if="!vm.initialized"></rb-loading-mask-placeholder>
<div ng-if="vm.initialized">
  <div ng-if="vm.shouldShowDashboardHeader()" class="rb-spring-dashboard-header">
    <label>Turbine</label>
    <rb-dropdown size="md"
                 options="vm.turbineAppList"
                 key="app_name"
                 value="uuid"
                 on-change="vm.onTurbineAppChange(option)"></rb-dropdown>
  </div>
  <div ng-if="vm.dashboardUrl" class="rb-spring-dashboard-embedded-content">
    <iframe src="{{vm.dashboardUrl | trustedSrc}}" type="text/html" frameborder="0"></iframe>
  </div>
</div>
