.rb-spring-dashboard-header {
  min-height: 32px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  label {
    line-height: 32px;
    font-weight: 400;
    margin-right: 8px;
  }
}
.rb-spring-dashboard-embedded-content {
  height: 480px;
  iframe {
    height: 100%;
    width: 100%;
  }
}
