<div *ngIf="this.title" class="rc-floating-page-header">
  <div class="title" [innerHTML]="option.title"></div>
  <i class="fa fa-remove" (click)="close.emit()"></i>
</div>
<div class="rc-floating-page-container" [ngStyle]="option.customStyle">
  <ng-container *ngTemplateOutlet="option.templateRef"></ng-container>
</div>
