:host {
  background: #f4f4f4;
}

.rc-floating-page-header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #464646;
  background-color: #f6f6f6;
  border-bottom: none;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
  padding: 1.25rem 1.5rem;

  i.fa.fa-remove {
    cursor: pointer;
  }
}

.rc-floating-page-container {
  overflow: auto;
  height: 100%;
  height: calc(100% - 4px);
}
