<div class="page-container-header">
  <ng-container *cdkPortalOutlet="pageHeaderTemplate$ | async">
  </ng-container>

  <rc-default-breadcrumb *ngIf="!(pageHeaderTemplate$ | async)">
  </rc-default-breadcrumb>
</div>

<div class="panel-split-container">
  <div class="page-scroll-container"
       cdkScrollable
       [class.no-min-width]="pageNoMinWidth"
       [style.width]="scrollContainerWidth | rcTrustStyle"
       [style.height]="scrollContainerHeight | rcTrustStyle">
    <div class="rb-page-component"
         #pageContainer>
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Anchor container for legacy rb-side-panel -->
  <div class="page-side-panel-container">
    <div class="resize-handle">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="page-side-panel-container-anchor"></div>
  </div>

  <rc-side-panel *ngIf="sidePanelPosition === 'right'"
                 [@hSlide]
                 [style.width]="sidePanelSize | rcTrustStyle"
                 [style.height]="'100%'"
                 [resizable]="sidePanelResizable"
                 [position]="sidePanelPosition"
                 [computedSize]="sidePanelSize"
                 [customStyle]="sidePanelCustomStyle"
                 [templateRef]="sidePanelTemplateRef"
                 [templateContext]="sidePanelTemplateContext">
  </rc-side-panel>
  <rc-side-panel *ngIf="sidePanelPosition === 'bottom'"
                 [@vSlide]
                 [style.height]="sidePanelSize | rcTrustStyle"
                 [style.width]="'100%'"
                 [resizable]="sidePanelResizable"
                 [position]="sidePanelPosition"
                 [computedSize]="sidePanelSize"
                 [customStyle]="sidePanelCustomStyle"
                 [templateRef]="sidePanelTemplateRef"
                 [templateContext]="sidePanelTemplateContext">
  </rc-side-panel>

  <rc-floating-page *ngIf="floatingPageOption | async"
                    [@floatingPage]
                    [option]="floatingPageOption | async"
                    (close)="closeFloatingPage()">
  </rc-floating-page>

  <div class="page-container-mask"
       *ngIf="showBackdrop | async"
       [@backdrop]>
  </div>
</div>

<!-- Legacy Floating page template: -->
<!-- Invisible mask for preventing the user clicking the background page -->
<div class="floating-page-container-mask">
</div>
<div class="floating-page-container">
  <div class="floating-page-header">
    <div class="floating-page-title">
    </div>
    <i class="fa fa-remove"
       (click)="closeFloatingPage()"></i>
  </div>
  <div class="floating-page-content"></div>
</div>
