@import 'colors.styles';

@import '../layout.common';

:host {
  display: flex;
  flex: 1;
  flex-flow: column;
  position: relative;

  background-color: $page-background-color;
}

.panel-split-container {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  flex-flow: column;
  z-index: 0;
}

.page-scroll-container {
  position: absolute; /* Flexbox percentage length fix */
  z-index: 1;
  overflow: auto;

  /* Following will be recalculated based on side panel size and position */
  width: 100%;
  height: 100%;

  .rb-page-component {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    min-height: 100%;
    padding: $page-container-padding;

    &:not(.no-min-width) {
      min-width: 1000px;
    }

    ::ng-deep > * {
      width: 100%;
    }
  }

  router-outlet {
    display: none;
  }
}

.floating-page-container-mask {
  position: absolute;
  z-index: 1; /* Higher than the split container */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  /* Will be changed via js */
  display: none;
}

.floating-page-container {
  position: absolute;
  z-index: 2; /* Higher than the mask */
  bottom: 0;
  width: calc(100% - 8px);
  height: calc(100% - 14px);
  left: 4px;
  background: #f4f4f4;
  box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.28);
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(50px) scale(0.9);
  opacity: 0;

  /* Will be changed via js */
  display: none;

  &.active {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  .floating-page-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #464646;
    background-color: #f6f6f6;
    border-bottom: none;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12);
    padding: 1.25rem 1.5rem;

    i.fa.fa-remove {
      cursor: pointer;
    }
  }

  .floating-page-content {
    overflow: auto;
    height: calc(100% - 45px);
    padding: 20px;
  }
}

.page-container-mask {
  position: absolute;
  z-index: 1; /* Higher than the scroll container, but lower than the side panel */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  background: #444;
}

rc-side-panel {
  z-index: 2;
  max-width: 100%;
  position: absolute;
  box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.12);
}

rc-floating-page {
  z-index: 3;
  max-width: 100%;
  position: absolute;
  bottom: 0;
  width: calc(100% - 8px);
  height: calc(100% - 14px);
  left: 4px;
  box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.28);
}

/* Legacy side panel container. Should be remove later. */
.page-side-panel-container {
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  background-color: $page-background-color;
  box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.12);

  &[panel-position='bottom'] {
    width: 100%;
    left: 0;
    bottom: 0;

    .resize-handle {
      top: 0;
      left: calc(50% - 25px);
      width: 50px;
      height: 14px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: row-resize;

      > .dot {
        margin: 0 5px;
      }
    }
  }

  &[panel-position='right'] {
    height: 100%;
    top: 0;
    right: 0;
    .resize-handle {
      top: calc(50% - 25px);
      left: 0;
      width: 14px;
      height: 50px;
      flex-flow: column;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: col-resize;

      > .dot {
        margin: 5px 0;
      }
    }
  }

  .page-side-panel-container-anchor {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: $page-container-padding;
  }

  .resize-handle {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    box-shadow: 0 0 8px #999;
    visibility: hidden;
    > .dot {
      margin: 0 5px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #aaa;
    }

    &:hover {
      background-color: #ddd;
    }
  }

  &.resizable .resize-handle {
    visibility: visible;
  }
}

.page-side-panel-container[component='rbProjectList'] {
  background: #fff;
  .page-side-panel-container-anchor {
    padding-top: 0;
  }
}

.page-container-header {
  padding: 8px 26px;
  background-color: #fff;
  box-shadow: 0 1px 5px #eee;
  position: relative;
  z-index: 1;
}
