@import '../layout.common';
@import 'colors.styles';

:host {
  overflow: hidden;
  background-color: $page-background-color;
}

:host[position='bottom'] {
  width: 100%;
  left: 0;
  bottom: 0;

  .resize-handle {
    top: 0;
    left: calc(50% - 25px);
    width: 50px;
    height: 14px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: row-resize;

    > .dot {
      margin: 0 5px;
    }
  }

  &.dragging {
    border-top: 2px solid #aaa;
  }
}

:host[position='right'] {
  height: 100%;
  top: 0;
  right: 0;
  .resize-handle {
    top: calc(50% - 25px);
    left: 0;
    width: 14px;
    height: 50px;
    flex-flow: column;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: col-resize;

    > .dot {
      margin: 5px 0;
    }
  }

  &.dragging {
    border-left: 2px solid #aaa;
  }
}

.resize-handle {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  box-shadow: 0 0 8px #999;
  visibility: hidden;

  > .dot {
    margin: 0 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #aaa;
  }

  &:hover {
    background-color: #ddd;
  }

  &:active {
    opacity: 0;
  }
}

:host.resizable .resize-handle {
  visibility: visible;
}

.side-panel-container {
  overflow: auto;
  width: 100%;
  height: 100%;
  // padding: $page-container-padding;
}
