<div class="resize-handle" draggable="true" #resizeHandle>
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
<div class="side-panel-container" [ngStyle]="customStyle" #sidePanelContainer>
  <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="templateContext"></ng-template>
</div>
