<form
  class="form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="form-content">
    <div class="tips" *ngIf="data.upgradeTo">
      <rc-inline-notification
        type="info"
        closable="true"
        [content]="'jenkins_pipeline_upgrade_tips' | translate:{ fromVersion: fromVersion, toVersion: currentVersion }"
      >
      </rc-inline-notification>
    </div>
    <!-- 基本信息 -->
    <div class="form-group">
      <div class="form-group-header no-border">
        <b>
          {{ 'jenkins_pipeline_basic_info' | translate }}
        </b>
      </div>
      <div class="form-group-content">
        <rc-form-field label="{{'jenkins_pipeline_display_name' | translate}}">
          <input
            formControlName="display_name"
            rcInput
            rcTrim
            type="text"
            maxLength="100"
          >
        </rc-form-field>
        <rc-form-field label="{{'description' | translate}}">
          <textarea
            formControlName="description"
            rcInput
            type="text"
            style="min-height: 80px"
            maxlength="512"
          ></textarea>
        </rc-form-field>
        <div class="rows">
          <div class="fields-name">
            {{'template' | translate}}
          </div>
          <div>
            <a href="javascript:;" (click)="toggleTemplate()">{{ templateName }} {{ currentVersion }}</a>
          </div>
          </div>
      </div>
    </div>
    <div
      class="form-group"
      *ngIf="pipeline_data?.template?.template?.definition?.spec?.withSCM"
    >
      <div class="form-group-header no-border">
        <b>
          {{ 'jenkins_pipeline_select_code_repo' | translate }}
        </b>
      </div>
      <div class="repository-info">
        <ng-container>
          <div class="rows">
            <div class="fields-name">
              {{'jenkins_code_repository' | translate}}
            </div>
            <div>
              {{ pipeline_data?.pipeline_scm?.source }}
            </div>
          </div>
          <div class="rows">
            <div class="fields-name">
              {{'jenkins_code_repository_address' | translate}}
            </div>
            <div>
              {{ pipeline_data?.pipeline_scm?.repository_path }}
            </div>
          </div>
          <rc-form-field
            label="{{'code_branch' | translate}}"
            [shouldFlexRow]="true"
            [hidden]="['NOT_USE', 'SVN'].includes(form.value.source)"
          >
            <input
              formControlName="branch"
              rcInput
              rcTrim
              type="text"
              [required]="!['NOT_USE', 'SVN'].includes(form.value.source)"
              maxLength="512"
              [placeholder]="'jenkins_code_repo_branch_tip' | translate"
            >
            <span class="fa fa-question-circle description-question-circle"
                  rcFormAddon
                  [rcTooltip]="'jenkins_pipeline_code_branch_hint' | translate"
                  [rcTooltipInline]="false"
                  rcTooltipMode="info"
                  rcTooltipPosition="top center">
          </span>
          </rc-form-field>
          <!-- TODO: rc-form-field ignore tag classes -->
          <rc-form-field
            label="{{'jenkins_code_credential' | translate}}"
            [shouldFlexRow]="true"
            [hidden]="!['GIT', 'SVN'].includes(form.value.source)"
            [hideErrors]="true"
          >
            <rc-single-selection-dropdown
              formControlName="credential_name"
              displayField="display_name"
              valueField="name"
              [options]="credentials"
              [placeholder]="'jenkins_code_credential' | translate"
              [allowFilter]="true"
              [rcLoadingMask]="!credentials"
              style="width: 100%;"
            ></rc-single-selection-dropdown>
            <a
              href="javascript:void(0)"
              (click)="addCredential()"
              class="add-credential"
              *ngIf="createCredentialEnabled"
              style="width: 100px;margin-left:8px;"
            >
              {{ 'jenkins_create_credential' | translate }}
            </a>
          </rc-form-field>
        </ng-container>
      </div>
    </div>
    <div
      class="form-group"
      formArrayName="triggers"
    >
      <div class="form-group-header no-border">
        <b>
          {{ 'jenkins_pipeline_trigger' | translate }}
        </b>
      </div>
      <div class="form-group-content">
        <div *ngFor="let trigger of form.get('triggers').controls; trackBy:triggerIdentify">
          <rc-pipeline-form-trigger
            [form]="trigger"
            [codeRepoSource]="form.value.source"
            (remove)="removeTrigger(trigger)"
            #triggerComponent
          ></rc-pipeline-form-trigger>
        </div>
        <div class="trigger-rows">
          <div class="fields-name">
            {{ 'jenkins_pipeline_triggers' | translate }}
          </div>
          <button
            rcIconButton="default"
            rcButtonSize="tiny"
            [rcTooltip]="triggerTypeTemplate"
            [rcTooltipNoArrow]="true"
            [rcTooltipEmpty]="true"
            rcTooltipPosition="bottom left"
            [rcTooltipInline]="false"
            rcTooltipOn="click"
            #triggerSelect="tooltip"
          >
            <i class="fa fa-plus-circle"></i>
            {{ 'jenkins_add_trigger' | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-header no-border">
        {{ 'args' | translate }}
        <i
          class="icon fa-info-circle"
          (click)="showParamsHelp()"
        ></i>
        <a
          style="float: right"
          href="javascript:void(0)"
          (click)="showVarHelp()"
        >
          {{ 'jenkins_pipeline_use_vars' | translate }}
        </a>
      </div>
      <div>
        <div class="template-params-form">
          <rc-pipeline-template-params-form
            [fieldModels]="fieldModels"
            [relationship]="relationship"
            (valueChanged)="paramsChanged($event)"
            (statusChanged)="paramStatusChanged($event)"
          ></rc-pipeline-template-params-form>
        </div>
      </div>
    </div>
  </div>

  <!-- 提交 -->
  <div class="form-footer">
    <button
      rcButton="default"
      (click)="close.emit()"
      [disabled]="saving"
    >
      {{ 'cancel' | translate }}
    </button>
    <button
      rcButton="primary"
      type="submit"
      [disabled]="saving || !initialized"
      [loading]="saving"
    >
      {{ 'save' | translate }}
    </button>
  </div>
</form>

<ng-template #triggerTypeTemplate>
  <div class="trigger-select">
    <div class="trigger-select-title">
      {{ 'jenkins_select_trigger_type' | translate }}
    </div>
    <div class="trigger-select-body">
      <a
        href="javascript:void(0)"
        (click)="addTrigger('cron')"
        [class.disabled]="cronTriggerDisabled()"
      >
        <i class="fa fa-clock-o"></i>
        <span>
          {{ 'jenkins_trigger_cron' | translate }}
        </span>
      </a>
      <a
        href="javascript:void(0)"
        (click)="addTrigger('image_change')"
      >
        <i class="fa fa-building"></i>
        <span>
          {{ 'jenkins_trigger_image_change' | translate }}
        </span>
      </a>
      <a
        href="javascript:void(0)"
        (click)="addTrigger('code_change_hook')"
        [class.disabled]="codeChangeHookTriggerDisabled()"
      >
        <i class="fa fa-code-fork"></i>
        <span>
          {{ 'jenkins_trigger_code_change_hook' | translate }}
        </span>
      </a>
    </div>
  </div>
</ng-template>
