@import '../layout.common';

:host {
  display: flex;
  align-items: stretch;
  height: $page-header-height;
}

header.toolbar {
  display: flex;
  align-items: center;
  height: 100%;
  color: #555;
  background-color: $page-header-background-color;
  min-height: 0;
  flex-flow: row;
  flex: 1;

  .logo-container {
    display: block;
    overflow: hidden;
    transform: scale(0);
    max-width: 0;
    transition: max-width $nav-animation-duration,
      transform $nav-animation-duration;
    margin: 0 12px;

    &.show-logo {
      transform: scale(1);
      max-width: 200px;
    }
  }

  img.logo {
    height: 32px;
  }

  .header-breadcrumb {
    font-size: 16px;

    > ::ng-deep * {
      margin-right: 8px;
    }
  }

  rc-region-badge {
    opacity: 0;
  }

  .magic-space {
    flex: 1;
  }

  .toolbar-divider {
    // border: 1px solid #589cc3;
    border-left: 0;
    width: 0px;
    margin: 0 16px;
    height: 30px;
  }
}
