<header class="toolbar">
  <a href="javascript:void(0)" class="logo-container" [class.show-logo]="layoutState.navCollapseState">
    <img class="logo" [src]="layoutState.logoMainMiniSrc">
  </a>

  <rc-region-badge [@scaleInOut]="shouldShowRegionBadge"></rc-region-badge>

  <rc-license-tip></rc-license-tip>
  <!-- The next div is a spacer to make the following items right align -->
  <div fxFlex></div>

  <ng-container *ngIf="projectsEnabled && !userViewEnabled">
    <rc-project-badge></rc-project-badge>
    <div class="toolbar-divider"></div>
  </ng-container>

  <rc-profile-dropdown>
  </rc-profile-dropdown>
</header>
