<div fxLayout="row" class="rc-list-header">
  <button *ngIf="hasCreatePermission"
          rcButton="primary"
          [disabled]="loading"
          (click)="create()">
    {{'notification_create' | translate}}
  </button>
  <span fxFlex></span>
  <rc-search-input  (onSearch)="filter($event)"
                    [searchOnChange]="true"
                    [loading]="loading"
                    placeholder="{{'filter_by_name_placeholder'|translate}}"></rc-search-input>
</div>
<div class="table-container" [rcLoadingMask]="loading">
  <rc-table class="rc-primary-table"
            *ngIf="initialized"
            [rows]="notifications"
            [headerHeight]="40"
            [rowHeight]="auto">
    <rc-table-col name="{{'name'|translate}}" [width]="300" [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let item = row">
        <a [routerLink]="['/notification/detail', item.uuid]" title="{{item.name}}">{{item.name}}</a>
      </div>
    </rc-table-col>
    <rc-table-col name="{{'quota_space'|translate}}" [width]="240">
      <div *rcTableColCell="let item = row">
        <a [routerLink]="['/quota/detail', item.space_name]">{{item.space_name}}</a>
      </div>
    </rc-table-col>
    <rc-table-col name="{{'created_by'|translate}}" [width]=200>
      <div *rcTableColCell="let item = row">{{item.created_by}}</div>
    </rc-table-col>
    <rc-table-col name="{{'created_at'|translate}}" [width]=240>
      <div *rcTableColCell="let item = row">{{item.created_at|rcFormatUtcStr}}</div>
    </rc-table-col>
    <rc-table-col name="{{'action'|translate}}" [width]="200">
      <div *rcTableColCell="let item = row">
        <rc-button-menu>
          <button rcButton
                  rcButtonSize="small"
                  rcButtonMenuDefault
                  (click)="delete(item)"
                  *ngIf="canDelete(item)"
                  [disabled]="item.isDeleting">{{'delete'|translate}}</button>
          <button rcButton
                  rcButtonSize="small"
                  rcButtonMenuDefault
                  *ngIf="!canDelete(item)"
                  (click)="viewDetail(item)">{{'view'|translate}}</button>
          <button rcMenuButton
                  *ngIf="canDelete(item)"
                  (click)="viewDetail(item)">{{'view'|translate}}</button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>
</div>
