<form #form="ngForm">
  <table class="rc-form-table">
      <thead>
          <tr>
              <td style="display: flex;">{{ "key" | translate }}</td>
              <td style="width: 45%;">{{ "value" | translate }}</td>
              <td style="width: 50px;">{{ "reference" | translate }}</td>
              <td style="width: 40px;"></td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of envVars ; trackBy: trackByIndex;"
              class="rc-form-input">
              <td>
                  <input rcInput
                      type="text"
                      name="name-{{item.index}}"
                      [pattern]="envVarReg.pattern"
                      [rcErrorsTooltip]
                      [rcErrorsTooltipMapper]="errorMappers.name"
                      [(ngModel)]="item.name">
              </td>
              <td *ngIf="!item.reference">
                  <input rcInput
                      type="text"
                      name="value-{{item.index}}"
                      [(ngModel)]="item.value">
              </td>
              <td *ngIf="item.reference">
                <div class="rc-group">
                  <rc-single-selection-dropdown name="configmap-option-{{item.index}}"
                                                [(ngModel)]="item.configmap"
                                                displayField="name"
                                                valueField="name"
                                                [placeholder]="(configmapOptions.length ? 'k8s_service_select_configmap' : 'currently_no_options')|translate"
                                                [options]="configmapOptions"
                                                #configmapDropdown
                                                (ngModelChange)="onConfigmapModelChange($event, item.index, item)"
                                                (change)="onConfigmapChange($event)"></rc-single-selection-dropdown>
                  <rc-single-selection-dropdown name="configmap-option-key-{{item.index}}"
                                                [(ngModel)]="item.configmapKey"
                                                displayField="name"
                                                valueField="name"
                                                #configmapKeyDropdown
                                                [placeholder]="(configmapKeyOptions(item.configmap).length ? 'k8s_service_select_configmap_key' : 'currently_no_options')|translate"
                                                [options]="configmapKeyOptions(item.configmap)"></rc-single-selection-dropdown>
                </div>

              </td>
              <td>
                <rc-checkbox mode="toggle"
                             name="reference-{{item.index}}"
                             [(ngModel)]="item.reference"
                             style="display: flex;"></rc-checkbox>
              </td>
              <td>
                  <a class="form-action-button"
                      href="javascript:void(0)"
                      (click)="deleteEnvVar(item.index)">
                      <i class="fa fa-minus-circle"></i>
                  </a>
              </td>
          </tr>
      </tbody>
  </table>
  <div *ngIf="!envVars.length"
      class="rc-form-table-empty">
      {{'no_env_vars' | translate}}
  </div>
  <div class="rc-form-table-add-row"
      (click)="addEnvVar()">
      <i class="fa fa-plus-circle"></i> {{ "add" | translate }}
  </div>
</form>
