rb-monitor-chart-create {
  .rb-form-panel > .rb-form-container {
    padding-top: 16px;
  }
  .rb-chart-preview {
    height: 160px;
  }
  .rb-form {
    padding-top: 16px;
    background-color: #f9f9f9;
  }
}
