<div class="rb-form-panel" rb-loading-mask="vm.submitting">
  <div class="rb-form-container">
    <!--chart preview-->
    <div class="rb-chart-preview">
      <rb-line-chart ng-if="vm.series"
                     series="vm.series"
                     highcharts-options="vm.highChartsOptions"
                     axis-options="vm.axisOptions"
                     point-tooltip-fn="vm.pointTooltipFn"
                     hide-legend="vm.hideLegend"></rb-line-chart>
      <div class="rb-loading-mask-placeholder" ng-if="!vm.series && vm.loading">
        {{'data_loading' | translate}}
      </div>
      <div class="rb-loading-mask-placeholder" ng-if="!vm.series && !vm.loading">
        {{'monitor_chart_preview' | translate}}
      </div>
    </div>
    <!--create chart-->
    <ng-form ng-if="!vm.item" name="vm.form" class="rb-form">
      <!-- chart type -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_chart_type' | translate}}</label>
          <rb-radio-group options="vm.chartTypeOptions"
                          key="name"
                          value="value"
                          html-key="html"
                          on-change="vm.onChartTypeSelected(option)"></rb-radio-group>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- metric -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_metric' | translate}}<span class="rb-required-mark">*</span></label>
          <rb-dropdown options="vm.metricOptions"
                       key="display_name"
                       value="metric_name"
                       on-change="vm.onMetricSelected(option)"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- over -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_filter_criteria' | translate}}</label>
          <rb-dropdown
            rb-loading-mask="vm.metricsLoading"
            multiple="true"
            options="vm.metricSourceOptions"
            key="name" value="value"
            placeholder="{{'none' | translate}}"
            on-add="vm.onMetricSourceAdd(option)"
            on-remove="vm.onMetricSourceRemove(option)"
            is-disabled="!vm.metricSourceOptions.length"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- aggregator -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_aggregator' | translate}}<span class="rb-required-mark">*</span></label>
          <rb-dropdown options="vm.metricAggregatorOptions" key="name" value="value" on-change="vm.onMetricAggregatorSelected(option)"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- group_by -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_group' | translate}}</label>
          <rb-dropdown
            rb-loading-mask="vm.metricsLoading"
            multiple="true"
            placeholder="{{'monitor_group_placeholder' | translate}}"
            options="vm.metricGroupOptions"
            on-add="vm.onMetricGroupAdd(option)"
            on-remove="vm.onMetricGroupRemove(option)"
            key="name"
            value="value"
            is-disabled="!vm.metricGroupOptions.length"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- chart name -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_chart_name' | translate}}<span class="rb-required-mark">*</span></label>
          <input class="rb-input"
                 type="text"
                 name="name"
                 ng-model="vm.display_name"
                 rb-errors-tooltip
                 minlength="4"
                 maxlength="64"
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
    </ng-form>
    <!--update chart-->
    <ng-form ng-if="vm.item" name="vm.form" class="rb-form">
      <!-- chart type -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_chart_type' | translate}}</label>
          <rb-radio-group options="vm.chartTypeOptions"
                          key="name"
                          value="value"
                          html-key="html"
                          init="vm.model.type"
                          on-change="vm.onChartTypeSelected(option)"></rb-radio-group>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- metric -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_metric' | translate}}<span class="rb-required-mark">*</span></label>
          <rb-dropdown options="vm.metricOptions" key="display_name" value="metric_name"
                       init="vm.model.metric"
                       on-change="vm.onMetricSelected(option)"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- over -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_filter_criteria' | translate}}</label>
          <rb-dropdown
            rb-loading-mask="vm.metricsLoading"
            multiple="true"
            options="vm.metricSourceOptions"
            key="name" value="value"
            placeholder="{{'none' | translate}}"
            init="vm.selectedSourceOptions"
            on-add="vm.onMetricSourceAdd(option)"
            on-remove="vm.onMetricSourceRemove(option)"
            is-disabled="!vm.metricSourceOptions.length"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- aggregator -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_aggregator' | translate}}<span class="rb-required-mark">*</span></label>
          <rb-dropdown options="vm.metricAggregatorOptions" key="name" value="value"
                       init="vm.model.aggregator"
                       on-change="vm.onMetricAggregatorSelected(option)"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- group_by -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_group' | translate}}</label>
          <rb-dropdown
            rb-loading-mask="vm.metricsLoading"
            multiple="true"
            placeholder="{{'monitor_group_placeholder' | translate}}"
            options="vm.metricGroupOptions"
            init="vm.selectGroupOptions"
            on-add="vm.onMetricGroupAdd(option)"
            on-remove="vm.onMetricGroupRemove(option)"
            key="name"
            value="value"
            is-disabled="!vm.metricGroupOptions.length"></rb-dropdown>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- chart name -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label>{{'monitor_chart_name' | translate}}<span class="rb-required-mark">*</span></label>
          <input class="rb-input"
                 type="text"
                 name="name"
                 ng-model="vm.display_name"
                 minlength="4"
                 maxlength="64"
                 rb-errors-tooltip
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
    </ng-form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button type="button" class="ui button rb-btn-primary" ng-disabled="vm.metricsLoading || !vm.model.metric" ng-click="vm.confirm()">{{'save' |
        translate}}
      </button>
    </div>
  </div>
</div>







