<div class="rb-form-panel rb-config-files-dialog">
  <div class="rb-form-container">
    <form class="rb-form" name="vm.form">

      <div class="rb-input-container">
        <!-- file_path -->
        <div class="rb-input-field-container">
          <label>{{'file_path' | translate}}<span class="rb-required-mark">*</span></label>
          <input class="rb-input"
                 type="text"
                 name="path"
                 ng-model="vm.curConfig.path"
                 ng-pattern="vm.handlePathPattern"
                 rb-errors-tooltip
                 rb-errors-tooltip-mapper="{
                   'pattern': (vm.pathPatternHint | translate)
                 }"
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
      <!-- content_selection_mode -->
      <div class="rb-input-container" ng-if="!vm.disableRaw">
        <div class="rb-input-field-container">
          <label>{{'content_selection_mode' | translate}}</label>
          <rb-radio-group options="vm.mountTypes"
                          init="vm.initType"
                          on-change="vm.selectMountFileType(option)"></rb-radio-group>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container"></div>
      </div>
      <!-- configuration -->
      <div class="rb-input-container" ng-if="vm.selectedMountType !== vm.mountTypes[0]">
        <div class="rb-input-field-container">
          <label>{{'configuration' | translate}}</label>
          <div class="rb-input" rb-loading-mask="vm.isConfigsLoading" style="max-width: 380px">
            <rb-model-dropdown name="config"
                               options="vm.configs"
                               placeholder="{{vm.curConfig.config? '' : 'no_data' | translate}}"
                               required="true"
                               ng-model="vm._fakeConfig"
                               key="display_name"
                               value="id"
                               init="vm.curConfig.uuid"
                               rb-errors-tooltip
                               on-change="vm.onConfigChange(option)"></rb-model-dropdown>
          </div>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
      <!-- key -->
      <div class="rb-input-container" ng-if="vm.selectedMountType !== vm.mountTypes[0]">
        <div class="rb-input-field-container">
          <label>{{'key' | translate}}<span class="rb-required-mark">*</span></label>
          <div flex="100" rb-loading-mask="vm.isKeysLoading" style="max-width: 380px">
            <rb-model-dropdown name="key"
                               options="vm.keys"
                               placeholder="{{'no_data' | translate}}"
                               required="true"
                               ng-model="vm._fakeKey"
                               rb-errors-tooltip
                               key="key"
                               value="key"
                               init="vm.curConfig.key"
                               on-change="vm.onKeyChange(option)"></rb-model-dropdown>
          </div>
          <div class="rb-input-field-addon">
            <span class="rb-fieldset-action-btn" ng-if="!vm.isKeysLoading && !vm.isConfigsLoading && vm.curConfig.key"
                  ng-click="vm.previewCode()">
              <i class="fa fa-eye"></i>
            </span>
          </div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
      <!-- value -->
      <div class="rb-input-container" ng-if="vm.selectedMountType === vm.mountTypes[0]">
        <div class="rb-input-field-container">
          <label class="value-label">{{ 'value'| translate}}<span class="rb-required-mark">*</span></label>
          <div class="code-wrap" rb-errors-tooltip="vm.form.raw" flex="100">
            <textarea ui-codemirror ui-codemirror-opts="vm.editorOptions"
                      ui-refresh="vm.codeMirrorRefresh"
                      name="raw"
                      required="true"
                      ng-model="vm.curConfig.rawValue"></textarea>
          </div>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' |
        translate}}
      </button>
      <button type="button"
              class="ui button rb-btn-primary"
              ng-disabled="vm.isKeysLoading || vm.isConfigsLoading"
              ng-click="vm.confirm()">
        {{'confirm' | translate}}
      </button>
    </div>
  </div>
</div>
