<div class="rb-service-fieldset-config-files">
  <table class="rb-detail-table">
    <thead>
    <tr>
      <td width="240">{{'file_path'|translate}}</td>
      <td>{{'configuration_items'|translate}}</td>
      <td width="120">{{'action'|translate}}</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in vm.configFiles track by $index">
      <td class="ellipsis">{{item.path}}</td>
      <td class="ellipsis" ng-if="item.type === 'raw'">{{item.rawValue}}</td>
      <td class="ellipsis" ng-if="item.type === 'config'">{{item.config}} / {{item.key}}</td>
      <td>
        <button class="rb-fieldset-action-btn" ng-click="vm.previewCode(item)">
          <i class="fa fa-eye"></i>
        </button>
        <button ng-disabled="vm.isDisabled" ng-click="vm.editConfigFilesItem($index, item)" class="rb-fieldset-action-btn">
          <i class="fa fa-edit"></i>
        </button>
        <button ng-disabled="vm.isDisabled" ng-click="vm.deleteConfigFilesItem($index)" class="rb-fieldset-action-btn">
          <i class="fa fa-remove"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-right margin-top-2">
    <button type="button"
            ng-disabled="vm.isDisabled"
            class="ui button tiny rb-btn-default pull-right"
            ng-click="vm.editConfigFilesItem()">
      {{'add' | translate}}
    </button>
  </div>
</div>