.rc-percent-card {
  width: 100%;
  height: 174px;
  padding: 12px 24px;
  border-radius: 3px;
  background-color: white;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 18px;
    color: #4d4d4d;
  }

  &__content {
    height: 100%;
    flex-shrink: 1;
    display: flex;
    align-items: center;
  }

  &__legend {
    width: 50%;
    margin: 0;
  }

  &__legend-item {
    padding: 4px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 2px;
      margin-right: 4px;
      flex-shrink: 0;
    }

    &--color {
      &-green::before {
        background-color: #67d387;
      }

      &-yellow::before {
        background-color: #ffbb00;
      }

      &-red::before {
        background-color: #fc5d68;
      }

      &-silver::before {
        background-color: #dde8ed;
      }
    }
  }

  &__label {
    margin-right: 12px;
    font-size: 12px;
    color: #999999;
    flex-shrink: 0;
  }

  &__value {
    font-size: 18px;
    color: #333333;
    flex-shrink: 1;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__chart {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 120%;
    overflow: hidden;
  }

  &__perenct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #9da4af;
  }
}

.rc-percent-card--vertical {
  padding: 12px 24px 8px;

  .rc-percent-card {
    &__title {
      text-align: center;
    }

    &__content {
      flex-direction: column-reverse;
    }

    &__legend {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &__legend-item {
      padding: 0 8px;
    }

    &__value {
      font-size: 14px;
    }

    &__perenct {
      font-size: 14px;
    }

    &__chart {
      width: 100%;
    }
  }
}
