<div
  class="rc-percent-card"
  [class.rc-percent-card--vertical]="vertical">
  <div class="rc-percent-card__title">
    {{ title }}
  </div>
  <div class="rc-percent-card__content">
    <ul class="rc-percent-card__legend">
      <li
        class="rc-percent-card__legend-item rc-percent-card__legend-item--color-{{ legendColor }}"
        [title]="allocated">
        <span class="rc-percent-card__label">{{ usedText }}</span>
        <span class="rc-percent-card__value">{{ toFloat(allocated).toFixed(fixed) }}</span>
      </li>
      <li
        class="rc-percent-card__legend-item rc-percent-card__legend-item--color-silver"
        [title]="total - allocated">
        <span class="rc-percent-card__label">{{ residueText }}</span>
        <span class="rc-percent-card__value">{{ toFloat(total - allocated).toFixed(fixed) }}</span>
      </li>
    </ul>
    <div class="rc-percent-card__chart">
      <ngx-charts-pie-chart
        [results]="results"
        [doughnut]="true"
        [scheme]="{domain: colors}">
      </ngx-charts-pie-chart>
      <div class="rc-percent-card__perenct">
        {{ (utilization * 100).toFixed(1) + '%' }}
      </div>
    </div>
  </div>
</div>
