<div class="rc-dialog-content">
  <rc-log-source-form
    #data
    [init]="logSource$ | async">
  </rc-log-source-form>
</div>

<div class="rc-dialog-footer">
  <button
    rcButton="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="save()">
    {{ 'save' | translate }}
  </button>
  <button
    rcButton
    [disabled]="submitting"
    (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
