<div class="rb-form-row input">
  <div class="rb-label" flex="25">
    {{vm.label | translate | rbTitleCase}}
  </div>
  <div ng-if="vm.min" flex="55" class="rb-form-row-input-wrap">
    <rb-service-fieldset-instance-size-new on-change="vm.onNewInstanceSizeChange(instance_size, config)"
                                       disable-customize="vm.disableCustomize"
                                       min-instance-size="vm.min"
    ></rb-service-fieldset-instance-siz-new>
  </div>
  <div ng-if="!vm.min" flex="55" class="rb-form-row-input-wrap">
    <rb-service-fieldset-instance-size on-change="vm.onOldInstanceSizeChange(instance_size, config)"
                                       disable-customize="vm.disableCustomize"
                                       instance-size-list="vm.options"
    ></rb-service-fieldset-instance-size>
  </div>
</div>