<div class="wrapper" [@inOut] [class.sm]="!title" *ngIf="show" [ngClass]="type">
  <div class="spec left fa confirm-box-info-icon" [ngClass]="iconType"></div>
  <div class="spec middle">
    <div class="m-h" *ngIf="!!title" [innerHtml]="title"></div>
    <div class="m-b" *ngIf="!!content" [innerHtml]="content"></div>
    <ng-template cdkPortalOutlet></ng-template>
  </div>
  <div class="spec right" *ngIf="closable" (click)="closeSelf()">
  </div>
</div>
