@import '_colors.styles';

rb-code-quality-panel-sonarqube {
  .sonarqube-panel {
    margin: auto;
    width: 900px;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border: 2px solid $default-border-color;

    .panel-header {
      width: 100%;
      margin: 6px 0 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .panel-title {
      margin-left: -2px;
      height: 24px;
      padding: 0 8px;
      line-height: 24px;
      font-size: 14px;
      color: #ffffff;
      text-align: center;
      background-color: $button-primary-background-color;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    .panel-date-info {
      margin-right: 12px;
      font-size: 14px;
      color: #888888;
    }

    .status-list {
      display: flex;
      list-style: none;
    }

    .status-card {
      width: 110px;
    }

    .status-label {
      margin-top: 8px;
      text-align: center;
      font-size: 14px;
      color: #464646;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .status-threshold {
      margin: auto;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        height: 24px;
        padding: 0 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
      }
    }

    .status-muted {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        content: '';
        display: block;
        width: 18px;
        height: 2px;
        background-color: #464646;
      }
    }

    .status-rating {
      margin: auto;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      font-size: 20px;
      color: #ffffff;
      background-color: $button-primary-background-color;
    }

    .status-percent {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: #464646;

      &::before {
        content: '';
        display: block;
        margin-right: 8px;
        width: 20px;
        height: 20px;
        border: 2px solid #d7333d;
        border-radius: 100%;
      }
    }

    .status-detail-link {
      text-decoration: none;

      .status-label {
        color: $button-primary-background-color;
      }

      &:hover {
        .status-rating {
          background-color: #1892c9;
        }

        .status-label {
          color: #0e303d;
        }
      }

      &:active {
        .status-rating {
          background-color: #1583b4;
        }
      }
    }

    .status-color--A {
      background-color: #00aa00;
    }

    .status-color--B {
      background-color: #b0d513;
    }

    .status-color--C {
      background-color: #eabe06;
    }

    .status-color--D {
      background-color: #ed7d20;
    }

    .status-color--E {
      background-color: #e00;
    }

    .status-color__percent--A {
      &::before {
        border-color: #00aa00;
      }
    }

    .status-color__percent--B {
      &::before {
        border-color: #b0d513;
      }
    }

    .status-color__percent--C {
      &::before {
        border-color: #eabe06;
      }
    }

    .status-color__percent--D {
      &::before {
        border-color: #ed7d20;
      }
    }

    .status-color__percent--E {
      &::before {
        border-color: #e00;
      }
    }

    .level-color--OK {
      color: #00aa00;
    }

    .level-color--WARN {
      color: #ed7d20;
    }

    .level-color--ERROR {
      color: #e00;
    }

    .level-color--NONE {
      color: #b4b4b4;
    }
  }
}
