<div #editor
     class="rc-code-editor"
     [class.rc-code-editor-readonly]="readOnly">
  <div class="editor-header"
       *ngIf="header">
    <span>{{mode | rcTitleCase}}</span>
    <span>({{readOnly ? ('code_editor_readonly' | translate) : ('code_editor_writable'
      | translate)}})</span>
    <span class="flex"></span>
    <div type="button" class="code-editor-button code-editor-button-import" *ngIf="allowImport && !readOnly">
      <i class="fa fa-download"></i>
      {{'code_editor_import' | translate}}
      <input type="file" rcFileReader (onComplete)="import($event)">
    </div>
    <button type="button" class="code-editor-button" (click)="export()" *ngIf="allowExport && readOnly">
      <i class="fa fa-upload"></i>
      {{'code_editor_export' | translate}}
    </button>
    <button *ngIf="allowMaximize"
            class="code-editor-button"
            type="button"
            (click)="toggleFullScreen()">
      <ng-container *ngIf="!fullscreenMode">
        <i class="fa fa-expand"></i>
        {{'code_editor_expand' | translate}}
      </ng-container>
      <ng-container *ngIf="fullscreenMode">
        <i class="fa fa-compress"></i>
        {{'code_editor_compress' | translate}}
      </ng-container>
    </button>
  </div>
  <div class="editor-content"
       [class.has-header]="header"
       rcVisibilityObserver
       (visible)="onVisible($event)">
    <textarea #host></textarea>
    <div #content>
      <ng-content></ng-content>
    </div>
  </div>
</div>
<ng-template #fullscreenEditor>
  <rc-code-editor [mode]="mode"
                  [(ngModel)]="value"
                  [readOnly]="readOnly"
                  [fullscreenMode]="true"></rc-code-editor>
</ng-template>
