:host {
  display: block;
  min-width: 400px;
  min-height: 300px;
  &.rc-code-editor-fullscreen {
    height: 100%;
  }
}

.rc-code-editor {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 350px;
  padding-top: 40px;
  .editor-header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #333;
    height: 40px;
    padding: 0 16px;
    border-radius: 5px 5px 0 0;
    > span {
      margin-right: 16px;
      color: #16b9fe;
      font-weight: 600;
      &.flex {
        flex-grow: 1;
      }
    }
    .code-editor-button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: #999;
      margin-left: 12px;
      transition: color ease 0.1s;
      &:focus {
        outline: none;
      }
      &:hover {
        color: #fff;
      }
    }
    .code-editor-button-import {
      position: relative;
      overflow: hidden;
      input[type='file'] {
        opacity: 0;
        position: absolute;
        z-index: 9;
        top: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
      }
    }
  }
  .editor-content {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;

    &.has-header {
      top: 40px;
      height: calc(100% - 40px);
    }
  }
  ::ng-deep .CodeMirror {
    height: 100%;
    font-size: 14px;
    border-radius: 0 0 5px 5px;
    line-height: 1.42857143;
  }
}

.rc-code-editor-readonly ::ng-deep .CodeMirror-cursor {
  display: none !important;
}
