<form #form="ngForm"
      (ngSubmit)="confirm(form)">
  <div style="padding-top:20px;min-height:111px">
    <rc-form-field [label]="'namespace_name' | translate">
      <input rcInput
             name="namespace_name"
             [(ngModel)]="namespaceName"
             pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
             required>
    </rc-form-field>
  </div>
  <div class="modal-footer">
    <button rcButton
            [disabled]="loading"
            (click)="close.emit()">{{ 'cancel' | translate }}</button>
    <button rcButton="primary"
            type="submit"
            [disabled]="loading"
            [loading]="loading">{{ 'create' | translate }}</button>
  </div>
</form>
