<aui-inline-alert [closable]="true">
  <div>{{'cluster_namespace_tips' | translate}}</div>
</aui-inline-alert>

<aui-card>
  <div auiCardHeader
       fxLayout>
    <button *ngIf="showCreateNamespace"
            aui-button="primary"
            (click)="createNamespace()">
      {{ "create_namespace" | translate }}
    </button>
    <div fxFlex></div>
    <aui-search [searchButton]="true"
                [searching]="searching"
                [debounce]="200"
                placeholder="{{'search_by_name_placeholder' | translate}}"
                (search)="triggerSearch($event)">
    </aui-search>
  </div>

  <rc-loading-mask [loading]="empty && loading"></rc-loading-mask>

  <aui-table *ngIf="!empty"
             [dataSource]="clusterNamespaces"
             [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{'name' | translate}}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <img src="/static/images/resource/lb-list.svg"
             alt="namespace icon"
             class="namespace-icon">
        <a [routerLink]="['/cluster/namespace/detail', clusterId, item.kubernetes.metadata.name]">
          {{ item.kubernetes.metadata.name }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{'status' | translate}}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span class="status"
              [ngClass]="getStatus(item)">
          {{ getStatus(item) | translate }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_at">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{'created_at' | translate}}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kubernetes.metadata.creationTimestamp | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div [auiDropdown]="menu"
             [auiDropdownDisabled]="!menu.menuItems || !menu.menuItems.length"
             class="action-button">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item [disabled]="item.kubernetes.status.phase === 'Terminating' || item._deleting"
                         (click)="viewNamespace(item)">
            {{ 'view' | translate }}
          </aui-menu-item>
          <aui-menu-item [disabled]="item.kubernetes.status.phase === 'Terminating' || item._deleting"
                         (click)="deleteNamespace(item)">
            {{ 'delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="['name', 'status', 'created_at', 'action']">
    </aui-table-header-row>
    <aui-table-row
        *auiTableRowDef="let row; columns: ['name', 'status', 'created_at', 'action'];">
    </aui-table-row>
  </aui-table>

  <section class="rc-list-pagination" *ngIf="clusterNamespaces?.length">
    <aui-paginator [length]="count"
                   [pageSize]="currentPageSize"
                   [pageIndex]="currentPage"
                   (page)="pageChanged($event)"
                   [pageSizeOptions]="[10, 20, 50, 100]">
    </aui-paginator>
  </section>

</aui-card>
