.rc-list-pagination {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

rc-loading-mask {
  height: 120px;
  background: transparent;
}

.namespace-icon {
  margin-right: 8px;
}

.status {
  &:before {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &.running:before {
    background-color: #63d283;
    box-shadow: 0 0 5px 0 rgba(#63d283, 0.7);
  }

  &.deleting:before {
    background-color: #fc5d68;
    box-shadow: 0 0 5px 0 rgba(#fc5d68, 0.7);
  }
}
