<aui-card>
  <div fxLayout
       auiCardHeader>
    <button aui-button="primary"
            (click)="createConfigmap()"
            *ngIf="configmapCreateEnabled">
      {{'create_config' | translate}}
    </button>
    <div fxFlex></div>
    <aui-search [searchButton]="true"
                [searching]="searching"
                [debounce]="200"
                placeholder="{{'search_by_name_placeholder' | translate}}"
                (search)="searchByName($event)">
    </aui-search>
  </div>
  <aui-table [dataSource]="list$ | async"
             [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'name' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/configmap.svg"
               style="width:48px">
          <div class="rc-lines">
            <div class="rc-line">
              <a href="javascript: void(0)"
                 (click)="showDetail(rowData.kubernetes.metadata.name)">{{ rowData.kubernetes.metadata.name }}</a>
            </div>
          </div>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="namespace">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'region_namespace' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div>{{ rowData.kubernetes.metadata.namespace }}</div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="description">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'description' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div [title]="rowData.kubernetes.metadata.annotations[descriptionKey]"
             *ngIf="rowData.kubernetes.metadata.annotations&&rowData.kubernetes.metadata.annotations[descriptionKey]; else noDescription">
          {{ rowData.kubernetes.metadata.annotations[descriptionKey] }}
        </div>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef>{{'action' | translate}}</aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div [auiDropdown]="menu"
             [auiDropdownDisabled]="!menu.hasEnabledItem"
             class="action-button">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </div>
        <aui-menu #menu size="small">
          <aui-menu-item
            *ngIf="configmapUtilities.showUpdate(rowData)"
            (click)="updateConfigmap(rowData.kubernetes.metadata.name)"
          >{{'update' | translate}}</aui-menu-item>
          <aui-menu-item
            *ngIf="configmapUtilities.showDelete(rowData)"
            (click)="deleteConfigmap(rowData)"
          >{{'delete' | translate}}</aui-menu-item>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
  </aui-table>
  <rc-zero-state [zeroState]="showZeroState"
                 [fetching]="!initialized && fetching"
                 resourceName="configmap"></rc-zero-state>
</aui-card>
