<div class="page-heading">
  <p>{{ 'plugin_center_instruction' | translate }}</p>
</div>

<rc-loading-mask [loading]="(empty | async) && loading">
</rc-loading-mask>

<div *ngIf="(empty | async) && (loadError | async)"
     class="rb-loading-mask-placeholder">
  <span>{{ 'data_load_error' | translate }}</span>
  <button class="ui button small rb-btn-primary margin-top-2" (click)="refetchList()">
    {{ 'refresh' | translate }}
  </button>
</div>

<div class="plugin-list">
  <rc-plugin-list-card
    *ngFor="let item of (listItems | async);trackBy:trackByFn"
    [cardItem]="item"
    [region]="region"
    [installButtonEnabled]="cardInstallButtonEnabled">
  </rc-plugin-list-card>
</div>
