@import '_mixins';

.page-heading {
  margin: 5px 0 20px 0;
  @extend %clearfix;
  > p {
    float: left;
    padding: 8px;
    background: #e4f6f9;
    margin: 10px 0 10px;
    border: 1px solid #9fe1ee;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    line-height: 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666;
    letter-spacing: 0px;
  }
}
