
<div class="content-container">
  <mat-tab-group (selectedTabChange)="tabChange$.next($event)">
    <mat-tab [label]="'build_code_repo_name_input_manual' | translate">
      <div class="tab-content">
        <rc-form-field
          label="{{'build_config_code_repo' | translate}}"
        >
          <input
            type="text"
            class="repo-input"
            [ngModel]="input$ | async"
            (ngModelChange)="inputChange$.next($event)"
            rcInput
            placeholder="e.g., your-repo-name"
          />
          <span rcFormPrefix>{{data.codeOrg}} /</span>
        </rc-form-field>
      </div>
    </mat-tab>
    <mat-tab [label]="'select' | translate">
      <div class="tab-content">
        <div [rcLoadingMask]="loading$ | async" class="repos-container">
          <ul class="repos" *ngIf="!(loading$ | async)">
            <li *ngFor="let item of results$ | async">
              <a
                href="javascript:void(0)"
                (click)="select$.next(item.code_repo_path)"
              >
                {{ data.codeOrg}}/{{  item.code_repo_path }}
                <i *ngIf="(selected$ | async) === item.code_repo_path" class="fa fa-check"></i>
              </a>
            </li>
          </ul>
        </div>
        <rc-pagination2
          [count]="total$ | async"
          [pageSize]="pageSize"
          [page]="page$ | async"
          (pageChanged)="pageChange$.next($event)"
          [disabled]="loading$ | async"
        ></rc-pagination2>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="rc-dialog-footer">
  <button
    rcButton
    (click)="closeModal()"
  >
    {{ 'cancel' | translate }}
  </button>
  <button
    *ngFor="let selectedRepo of [selectedRepo$ | async]"
    rcButton="primary"
    [disabled]="!selectedRepo"
    (click)="closeModal(selectedRepo)"
  >
    {{ 'select' | translate }}
  </button>
</div>