<div
  class="template-list-container"
  [ngStyle]="{padding: listType? '20px':'0'}"
>
  <div class="card-list-header">
    <rc-radio-group
      [options]="templateTypeList"
      displayField="name"
      valueField="value"
      [(ngModel)]="type"
    ></rc-radio-group>
    <div fxFlex></div>
    <rc-search-input
      [placeholder]="'search_by_name_placeholder'| translate"
      (change)="search($event.target.value)"
    ></rc-search-input>
  </div>
  <div
    [rcLoadingMask]="loading"
    style="height: 100%"
  >
    <div class="cards">
      <div
        class="template-none-tips"
        *ngIf="!templates?.length && type==='custom' && !loading"
      >
        {{'jenkins_template_custom_template_none'|translate}}
      </div>
      <div
        class="template-none-tips"
        *ngIf="!templates?.length && type!=='custom' && !loading"
      >
        {{'no_results'|translate}}
      </div>
      <div
        class="template-card-container"
        *ngFor="let template of templates"
      >
        <rc-pipeline-template-card
          [template]="template"
          [type]="listType"
          [canCreatePipeline]="canCreatePipeline"
        ></rc-pipeline-template-card>
      </div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
      <div class="template-card-container"></div>
    </div>
  </div>
</div>
