<div *rcPageHeaderContent style="display: flex">
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a
        href="javascript:void(0)"
        rcRouterStateLink="jenkins"
      >
        {{ 'nav_jenkins'| translate }}
      </a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_jenkins_templates' | translate }}
    </ng-container>
  </rc-breadcrumb>
  <div fxFlex></div>
  <rc-button-menu *ngIf="canViewRepo">
    <button
      rcButton
      rcButtonMenuDefault
      [disabled]="syncStatus==='INPROGRESS'"
      (click)="actions.main.fn()"
    >
      <i
        class="fa fa-refresh"
        *ngIf="syncStatus==='INPROGRESS'"
      ></i>
      {{(syncStatus==='INPROGRESS' && actions.main.type === 'sync'? actions.main.processing_text : actions.main.text)|translate}}
      <span *ngIf="syncStatus==='INPROGRESS' && actions.main.type === 'sync'">...</span>
    </button>
    <button
      rcMenuButton
      *ngFor="let action of actions.others"
      [disabled]="action.disabled"
      (click)="action.fn()"
    >
      {{action.text|translate}}
    </button>
  </rc-button-menu>
</div>
<rc-pipeline-template-list [listType]="0"></rc-pipeline-template-list>
<ng-template #syncDetailTemplate>
  <button
    rcButton
    (click)="syncReport()"
    rcButtonSize="small"
    style="float: right;"
  >
    {{'jenkins_sync_report'|translate}}
  </button>
</ng-template>
