:host {
  ::ng-deep {
    circle {
      stroke-width: 2px !important;
    }
    path {
      stroke-width: 2px !important;
    }
    g {
      > .text {
        font-size: 10px;
      }
    }
    rc-jenkins-pipeline-history-diagram {
      .diagram-container .scrollable {
        overflow: hidden !important;
      }
    }
  }
}

.template-list-container {
  height: 100%;
  min-height: 286px;
  .cards {
    display: flex;
    flex-flow: row wrap;
    .template-card-container {
      flex-grow: 1;
      padding: 6px;
      min-width: 400px;
    }
  }

  .card-list-header {
    padding: 6px;
    display: flex;
    flex-direction: row;
  }
}

.template-none-tips {
  text-align: center;
  width: 100%;
  margin-top: 12px;
}
