:host {
  display: flex;
  padding: 40px;
  justify-content: space-between;
}

.mode-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 40px 0 20px 0;
  cursor: pointer;
  position: relative;

  &:hover {
    border-color: #24a7e3;
    box-shadow: 0 0 0 1px #24a7e3;

    &:after {
      content: '';
      background-image: url('/static/images/icon/check.svg');
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .icon {
      &.icon-ui {
        background-image: url('/static/images/icon/create_by_ui_h.svg');
      }

      &.icon-yaml {
        background-image: url('/static/images/app/create_from_yaml_h.svg');
      }
    }

    .title {
      color: #24a7e3;
    }
  }

  .icon {
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
    width: 100%;
    height: 90px;

    &.icon-ui {
      background-image: url('/static/images/icon/create_by_ui.svg');
    }

    &.icon-yaml {
      background-image: url('/static/images/app/create_from_yaml.svg');
    }
  }

  .description {
    color: #999;
    margin-top: 40px;
  }

  .title {
    margin-top: 16px;
    margin-bottom: 0;
  }
}
