<rc-form-container>
  <form class="rb-form"
        #appCreateForm="ngForm"
        (ngSubmit)="confirm()">
    <!-- 命名空间 -->
    <rc-form-field label="{{'region_namespace' | translate}}"
                   [shouldFlexRow]="true">
      <rc-single-selection-dropdown #singleDropdown
                                    required
                                    name="namespace"
                                    [options]="namespaceOptions"
                                    [(ngModel)]="configmapPayload.metadata.namespace"
                                    (change)="onNamespaceOptionChange($event)"
                                    displayField="name"
                                    valueField="name">
      </rc-single-selection-dropdown>
    </rc-form-field>
    <!-- 名称 -->
    <rc-form-field label="{{'name' | translate}}"
                   [shouldFlexRow]="true">
      <input rcInput
             name="name"
             [(ngModel)]="configmapPayload.metadata.name"
             maxlength="63"
             pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
             required>
    </rc-form-field>
    <!-- 描述 -->
    <rc-form-field label="{{'description' | translate}}">
      <input rcInput
             name="description"
             [(ngModel)]="description">
    </rc-form-field>
    <!-- YAML -->
    <rc-form-field label="{{'yaml_file' | translate}}"
                   [shouldFlexRow]="true">
      <rc-code-editor [(ngModel)]="configmapYaml"
                      mode="yaml"
                      name="yaml"
                      required></rc-code-editor>
    </rc-form-field>
  </form>

  <ng-container *rcFooterContent>
    <button fxFlexOffset="140px"
            rcButton="primary"
            [loading]="submitting"
            [disabled]="submitting"
            (click)="appCreateForm.ngSubmit.emit()">{{'confirm' | translate}}</button>
    <button fxFlexOffset="12px"
            rcButton
            [disabled]="submitting"
            (click)="cancel()">{{'cancel' | translate}}</button>
  </ng-container>
</rc-form-container>
