<div class="mode-card"
     (click)="close()"
     routerLink="k8s_configmap/create">
  <div class="icon icon-ui"></div>
  <div class="description">{{ 'create_configmap_by_ui' | translate }}</div>
  <h4 class="title">{{ 'standard_mode' | translate }}</h4>
</div>
<div class="mode-card"
     (click)="close()"
     routerLink="k8s_configmap/create-yaml">
  <div class="icon icon-yaml"></div>
  <div class="description">{{ 'create_configmap_by_yaml' | translate }}</div>
  <h4 class="title">{{ 'compose_file' | translate }}</h4>
</div>
