.fields-wrapper {
  margin-bottom: 20px;
  padding: 0 20px;
  border-radius: 3px;
  background-color: #fff;

  + .fields-wrapper {
    margin-bottom: 75px;
  }
}

.fields-header {
  padding: 12px 0;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
}

.fields {
  padding: 0 80px;
}

.no-config {
  border: 1px dashed #e8e8e8;
  height: 252px;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}

.config-item {
  padding-top: 16px;
  margin-left: 70px;
  background-color: #fafafa;

  rc-form-field {
    ::ng-deep {
      label.form-field-label {
        width: 70px;
      }

      .addon-container {
        padding-bottom: 48px;
        align-self: center;
        color: #999;
      }
    }

    textarea {
      resize: none;
    }
  }
}

.dashed-line {
  border-top: 1px dashed #e8e8e8;
  margin: 20px -80px;
}

.add-config {
  padding: 12px 0 20px 0;
  text-align: right;
}

.form-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.9;

  button + button {
    margin-right: 8px;
  }
}
