<form #appCreateForm="ngForm"
      (ngSubmit)="confirm()">
  <div class="fields-wrapper">
    <div class="fields-header">{{ 'basic_info' | translate }}</div>
    <div class="fields">
      <!-- 命名空间 -->
      <rc-form-field label="{{'region_namespace' | translate}}"
                     [shouldFlexRow]="true">
        <rc-single-selection-dropdown #singleDropdown
                                      required
                                      name="namespace"
                                      [options]="namespaceOptions"
                                      [(ngModel)]="configMap.kubernetes.metadata.namespace"
                                      (change)="onNamespaceOptionChange($event.name)"
                                      displayField="name"
                                      valueField="name"
                                      style="flex:1">
        </rc-single-selection-dropdown>
      </rc-form-field>
      <!-- 名称 -->
      <rc-form-field label="{{'name' | translate}}"
                     [shouldFlexRow]="true">
        <input rcInput
               name="name"
               [(ngModel)]="configMap.kubernetes.metadata.name"
               maxlength="63"
               pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
               required>
      </rc-form-field>
      <!-- 描述 -->
      <rc-form-field label="{{'description' | translate}}">
        <input rcInput
               name="description"
               [(ngModel)]="configMap.kubernetes.metadata.annotations[descriptionKey]">
      </rc-form-field>
    </div>
  </div>

  <div class="fields-wrapper">
    <div class="fields-header">{{ 'configmap_config_info' | translate }}</div>
    <div class="fields">
      <div *ngIf="!configItems?.length"
           class="no-config">{{ 'configmap_no_config' | translate }}</div>
      <ng-container *ngFor="let configItem of configItems; index as i">
        <div *ngIf="i"
             class="dashed-line"></div>
        <div class="config-item">
          <rc-form-field label="{{'key' | translate}}"
                         [shouldFlexRow]="true">
            <input rcInput
                   required
                   [name]="'key_' + i"
                   [(ngModel)]="configItem.key"
                   pattern="[-._a-zA-Z0-9]+">
          </rc-form-field>
          <rc-form-field label="{{'value' | translate}}"
                         [shouldFlexRow]="true">
            <textarea rcInput
                      rows="8"
                      [name]="'value_' + i"
                      [(ngModel)]="configItem.value"></textarea>
            <div class="delete-config"
                 rcFormAddon
                 role="button"
                 (click)="deleteConfigItem(i)">
              <i class="fa fa-trash-o"></i>
            </div>
          </rc-form-field>
        </div>
      </ng-container>
      <div class="add-config">
        <button rcButton="primary-lite"
                (click)="addConfigItem()">{{ 'configmap_add_config' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="form-footer">
    <button rcButton="primary"
            type="submit"
            [loading]="submitting"
            [disabled]="submitting">{{'create' | translate}}</button>
    <button rcButton
            [disabled]="submitting"
            (click)="cancel()">{{'cancel' | translate}}</button>
  </div>
</form>
