@import 'colors.styles';
@import 'form.styles';
.chart-preview {
  height: 180px;
  position: relative;
  &.scrolling {
    .chart-container {
      background-color: rgba(0, 0, 0, 0.34);
    }
  }
}
.chart-title {
  text-align: center;
}
.rb-form-row {
  width: 70%;
}
rc-single-selection-dropdown,
rc-multi-selection-dropdown {
  width: 100%;
}
.chart-container {
  padding: 0 32px;
  left: 160px;
  position: fixed;
  right: 0;
  left: 160px;
  z-index: 1901;
  top: 94px;
  padding: 15px 67px 10px 52px;
  transition: background-color ease 0.3s;
}
.chart-outer {
  padding: 16px;
  height: 220px;
  background-color: #fff;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.12);
}
.chart {
  height: 100%;
}
:host-context(.right-pane.nav-collapsed) {
  .chart-container {
    left: 0;
  }
}

.chart-empty {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a1a1a1;
}

.rc-form-group-header {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #333;
  height: 48px;
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.rc-form-group-content {
  padding: 16px 0;
  min-width: 200px;
  width: 70%;
}

.alarm-threshold,
.alarm-interval {
  display: flex;
  flex: 1;
  rc-single-selection-dropdown {
    width: 120px;
    margin-right: 8px;
    ::ng-deep .ui.selection.dropdown {
      min-width: auto;
    }
  }
}
.alarm-interval {
  rc-single-selection-dropdown {
    margin-right: 0;
    margin-left: 8px;
  }
}
rc-alarm-action {
  width: 100%;
}

:host ::ng-deep {
  .hint-label-wrapper {
    margin-top: 8px;
  }
  .rc-form-footer {
    padding-left: 156px !important;
  }
}

.rc-help-hint {
  white-space: nowrap;
  margin-left: 8px;
}
