<div class="chart-preview" [class.scrolling] = "scrolling">
  <div class="chart-container" [ngStyle]="{'padding-right.px': scrollBarWidth + 52}">
    <div class="chart-outer">
      <div class="chart" [rcLoadingMask]="chartLoading">
          <rc-charts-line-chart
            [results]="chart.data"
            [xAxis]="true"
            [yAxis]="true"
            [autoScale]="true"
            *ngIf="chart.data.length && !chartLoading"
            [yScaleMin]="chart.yScaleMin"
            [yScaleMax]="chart.yScaleMax"
            [xAxisTickWidth]="120"
            [roundDomains]="true"
            [xAxisTickFormatting]="chart.xAxisTickFormatting">
            <ng-template #tooltipTemplate let-model="model">
              <div class="rc-chart-tooltip-item">{{ getChartTooltipDisplay(model.name) }}</div>
              <div class="rc-chart-tooltip-item">{{ model.value }}</div>
            </ng-template>
          </rc-charts-line-chart>
          <div class="chart-empty" *ngIf="!chart.data.length && !chartLoading">
            {{ 'monitor_chart_preview' | translate }}
          </div>
      </div>
    </div>
  </div>
</div>
<rc-form-container>
  <div [rcLoadingMask]="loading || submitting">
    <form [formGroup]="form" #alarmForm="ngForm" *ngIf="initialized">
      <div class="rc-form-group">
        <div class="rc-form-group-header">{{ 'monitor_metric' | translate }}</div>
        <div class="rc-form-group-content">
          <!-- 监控指标 -->
          <rc-form-field label="{{ 'monitor_metric' | translate }}" [shouldFlexRow]="true">
            <rc-single-selection-dropdown formControlName="metric"
                                          [options]="metricOptions"
                                          displayField="display_name"
                                          valueField="metric_name"
                                          required>
            </rc-single-selection-dropdown>
            <div *ngIf="metricDisplay && metricDisplay !== alarm.metric_name" class="rc-help-hint">
              {{metricDisplay}}
            </div>
          </rc-form-field>
          <!-- 统计方式 -->
          <rc-form-field label="{{ 'monitor_aggregator' | translate }}" [shouldFlexRow]="true">
            <rc-single-selection-dropdown formControlName="aggregator"
                                          [options]="aggregatorOptions"
                                          displayField="name"
                                          valueField="value"
                                          [allowFilter]="false"
                                          required>
            </rc-single-selection-dropdown>
          </rc-form-field>
          <!-- 筛选条件 -->
          <rc-form-field label="{{ 'monitor_filter_criteria' | translate }}" [shouldFlexRow]="true">
            <rc-multi-selection-dropdown formControlName="filterTags"
                                          [options]="metricFilterTagOptions"
                                          displayField="name"
                                          valueField="value">
            </rc-multi-selection-dropdown>
          </rc-form-field>
          <!-- 排除条件 -->
          <rc-form-field label="{{ 'monitor_exclude_criteria' | translate }}" [shouldFlexRow]="true">
            <rc-multi-selection-dropdown  formControlName="excludeTags"
                                          [options]="metricExcludeTagOptions"
                                          displayField="name"
                                          valueField="value">
            </rc-multi-selection-dropdown>
          </rc-form-field>
          <!-- 分组 -->
          <rc-form-field label="{{ 'monitor_group' | translate }}" [shouldFlexRow]="true">
            <rc-multi-selection-dropdown  formControlName="groupBy"
                                          [options]="metricGroupOptions"
                                          displayField="name"
                                          valueField="value"
                                          placeholder="{{'monitor_group_placeholder' | translate}}">
            </rc-multi-selection-dropdown>
          </rc-form-field>
        </div>
      </div>
      <div class="rc-form-group">
        <div class="rc-form-group-header">{{ 'basic_info' | translate }}</div>
        <div class="rc-form-group-content">
          <!-- 资源空间 -->
          <ng-container *ngIf="quotaEnabled">
            <rc-form-field label="{{ 'quota_space' | translate }}" [shouldFlexRow]="true" *ngIf="spaces.length && !updating">
              <rc-single-selection-dropdown formControlName="quotaSpace"
                                            [options]="spaces"
                                            required>
              </rc-single-selection-dropdown>
            </rc-form-field>
            <div class="rc-form-field" *ngIf="!spaces.length || updating">
              <label class="rc-form-field-label">{{'quota_space'|translate}} <span class="rc-required-mark">*</span></label>
              <div class="rc-form-field-container">
                <div class="rc-form-field-none" *ngIf="!spaces.length && !updating">{{'quota_space_required' | translate}}</div>
                <div *ngIf="updating">{{originAlarm.quotaSpace}}</div>
              </div>
            </div>
          </ng-container>
          <!-- 告警名称 -->
          <ng-container>
            <rc-form-field label="{{'alarm_name' | translate}}" [shouldFlexRow]="true" [hideErrors]="true" *ngIf="!updating">
              <input  rcInput
                      formControlName="alarmName"
                      maxlength="36"
                      [pattern]="baseNamePattern"
                      placeholder="{{'alarm_name' | translate}}"
                      [rcErrorsTooltip]
                      [rcErrorsTooltipMapper]="errorsMapper.name"
                      autocomplete="off"
                      required>
            </rc-form-field>
            <div class="rc-form-field" *ngIf="updating">
              <label class="rc-form-field-label">{{'alarm_name'|translate}} <span class="rc-required-mark">*</span></label>
              <div class="rc-form-field-container">
                <div>{{originAlarm.alarmName}}</div>
              </div>
            </div>
          </ng-container>

          <rc-form-field label="{{ 'alarm_severity_level' | translate }}" [shouldFlexRow]="true" *ngIf="severityLevelEnabled">
            <rc-single-selection-dropdown formControlName="severityLevel"
                                          [options]="severityLevelOptions"
                                          displayField="name"
                                          valueField="value">
            </rc-single-selection-dropdown>
          </rc-form-field>

          <!-- 描述 -->
          <rc-form-field label="{{'description' | translate}}" [shouldFlexRow]="true" [hideErrors]="true">
            <input  rcInput
                    formControlName="alarmDescription"
                    maxlength="1024"
                    placeholder="{{'description' | translate}}">
          </rc-form-field>
          <!-- 持续时间 -->
          <rc-form-field label="{{ 'alarm_period' | translate }}" [shouldFlexRow]="true">
            <rc-single-selection-dropdown formControlName="period"
                                          [options]="periods"
                                          displayField="name"
                                          valueField="value"
                                          (change)="onPeriodChange($event)"
                                          required>
            </rc-single-selection-dropdown>
          </rc-form-field>
          <!-- 告警阀值 -->
          <div class="rc-form-field">
            <label class="rc-form-field-label">{{ 'alarm_threshold' | translate }} <span class="rc-required-mark">*</span></label>
            <div class="rc-form-field-container">
              <div class="rc-form-field-row">
                <div class="alarm-threshold">
                  <rc-single-selection-dropdown formControlName="thresholdOperator"
                                                [options]="thresholdOperatorOptions"
                                                [allowFilter]="false">
                  </rc-single-selection-dropdown>
                  <input  rcInput
                          formControlName="threshold"
                          type="number"
                          pattern="^(?:[1-9]\d*|0)(?:\.\d+)?$"
                          rcErrorsTooltip
                          [rcErrorsTooltipMapper]="errorsMapper.number"
                          required>
                  <div class="rc-form-addon" *ngIf="shouldShowThresholdUnit">{{threshodUnitDisplay}}</div>
                </div>
              </div>
            </div>
          </div>
          <!-- 告警间隔 -->
          <div class="rc-form-field">
            <label class="rc-form-field-label">{{ 'alarm_interval' | translate }}</label>
            <div class="rc-form-field-container">
              <div class="rc-form-field-row">
                <div class="alarm-interval">
                  <input  rcInput
                          formControlName="notifyInterval"
                          type="number"
                          pattern="^(?:[1-9]\d*|0)(?:\.\d+)?$"
                          rcErrorsTooltip
                          [rcErrorsTooltipMapper]="errorsMapper.number">
                  <rc-single-selection-dropdown formControlName="notifyIntervalUnit"
                                                [options]="notifyIntervalOptions"
                                                displayField="name"
                                                valueField="readable_value"
                                                [allowFilter]="false"
                                                (change)="onNotifyIntervalChange($event)">
                  </rc-single-selection-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rc-form-group">
        <div class="rc-form-group-header">{{ 'alarm_action' | translate }}</div>
        <div class="rc-form-group-content">
          <div class="rc-form-field">
            <label class="rc-form-field-label">{{'alarm_action' | translate}}</label>
            <div class="rc-form-field-container">
              <div class="rc-form-field-row">
                <rc-alarm-action (alarmActionAdd)="onAlarmActionAdd($event)" [actions]="actions"></rc-alarm-action>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <ng-container *rcFooterContent>
    <button rcButton="primary"
            (click)="submit($event)"
            [class.loading]="submitting"
            [disabled]="loading">{{(updating?'save':'create') | translate}}</button>
    <button rcButton (click)="cancel()">{{'cancel' | translate}}</button>
  </ng-container>
</rc-form-container>
