<div class="rc-node-monitor">
  <div class="rc-node-monitor__header">
    <div class="rc-node-monitor__date-picker">
      <span>{{ 'monitor_period' | translate }}</span>
      <rc-single-selection-dropdown
        name="time_horizon"
        [(ngModel)]="timeHorizon"
        (change)="update$.next($event.value)"
        [options]="timeHorizonOptions"
        displayField="display"
        valueField="value"
        [allowFilter]="false">
      </rc-single-selection-dropdown>
    </div>
    <button
      rcButton
      (click)="update$.next(timeHorizon)">
      <i class="fa fa-refresh"></i>
    </button>
  </div>

  <div rcRow
       [rcRowGutter]="16">
    <div rcCol
         [rcColSpan]="12">
      <div class="rc-node-monitor__card">
        <div class="rc-node-monitor__card-title">{{ 'cpu_utilization_real' | translate }}</div>
        <div class="rc-node-monitor__card-content">
          <rc-charts-area-chart
            *ngIf="cpuPercent$ | async"
            [results]="cpuPercent$ | async"
            [scheme]="chartConfig.scheme"
            [xAxis]="chartConfig.xAxis"
            [yAxis]="chartConfig.yAxis"
            [yAxisTickFormatting]="percentTickFormatting"
            [showGridLines]="chartConfig.showGridLines"
            [gradient]="chartConfig.gradient"
            [autoScale]="chartConfig.autoScale"
            [curve]="chartConfig.curve">
            <ng-template #tooltipTemplate let-model="model">
                <div class="rc-chart-tooltip-item">{{ model.series }} ● {{ model.name |  rcFormatUtcStr}}</div>
                <div class="rc-chart-tooltip-item">{{ (model.value*100).toFixed(4) }}%</div>
              </ng-template>
              <ng-template #seriesTooltipTemplate let-model="model">
                <div *ngFor="let tooltipItem of model" class="rc-chart-tooltip-item">
                    <span class="tooltip-item-color" [style.background-color]="tooltipItem.color"></span>
                    <span>{{ tooltipItem.series }}: {{ (tooltipItem.value*100).toFixed(4) }}%</span>
                </div>
              </ng-template>
          </rc-charts-area-chart>
          <div *ngIf="!(cpuPercent$ | async)">
            {{ 'no_data' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div rcCol
         [rcColSpan]="12">
      <div class="rc-node-monitor__card">
        <div class="rc-node-monitor__card-title">{{ 'mem_utilization_real' | translate }}</div>
        <div class="rc-node-monitor__card-content">
          <rc-charts-area-chart
            *ngIf="memPercent$ | async"
            [results]="memPercent$ | async"
            [scheme]="chartConfig.scheme"
            [xAxis]="chartConfig.xAxis"
            [yAxis]="chartConfig.yAxis"
            [yAxisTickFormatting]="percentTickFormatting"
            [showGridLines]="chartConfig.showGridLines"
            [gradient]="chartConfig.gradient"
            [autoScale]="chartConfig.autoScale"
            [curve]="chartConfig.curve">
            <ng-template #tooltipTemplate let-model="model">
                <div class="rc-chart-tooltip-item">{{ model.series }} ● {{ model.name |  rcFormatUtcStr}}</div>
                <div class="rc-chart-tooltip-item">{{ (model.value*100).toFixed(4) }}%</div>
              </ng-template>
              <ng-template #seriesTooltipTemplate let-model="model">
                <div *ngFor="let tooltipItem of model" class="rc-chart-tooltip-item">
                    <span class="tooltip-item-color" [style.background-color]="tooltipItem.color"></span>
                    <span>{{ tooltipItem.series }}: {{ (tooltipItem.value*100).toFixed(4) }}%</span>
                </div>
              </ng-template>
          </rc-charts-area-chart>
          <div *ngIf="!(memPercent$ | async)">
            {{ 'no_data' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div rcRow
       [rcRowGutter]="16">
    <div rcCol
         [rcColSpan]="12">
      <div class="rc-node-monitor__card">
        <div class="rc-node-monitor__card-title">{{ 'node-max-disk-percent' | translate }}</div>
        <div class="rc-node-monitor__card-content">
          <rc-charts-area-chart
            *ngIf="maxDiskPercent$ | async"
            [results]="maxDiskPercent$ | async"
            [scheme]="chartConfig.scheme"
            [xAxis]="chartConfig.xAxis"
            [yAxis]="chartConfig.yAxis"
            [yAxisTickFormatting]="percentTickFormatting"
            [showGridLines]="chartConfig.showGridLines"
            [gradient]="chartConfig.gradient"
            [autoScale]="chartConfig.autoScale"
            [curve]="chartConfig.curve">
            <ng-template #tooltipTemplate let-model="model">
                <div class="rc-chart-tooltip-item">{{ model.series }} ● {{ model.name |  rcFormatUtcStr}}</div>
                <div class="rc-chart-tooltip-item">{{ (model.value*100).toFixed(4) }}%</div>
              </ng-template>
              <ng-template #seriesTooltipTemplate let-model="model">
                <div *ngFor="let tooltipItem of model" class="rc-chart-tooltip-item">
                    <span class="tooltip-item-color" [style.background-color]="tooltipItem.color"></span>
                    <span>{{ tooltipItem.series }}: {{ (tooltipItem.value*100).toFixed(4) }}%</span>
                </div>
              </ng-template>
          </rc-charts-area-chart>
          <div *ngIf="!(maxDiskPercent$ | async)">
            {{ 'no_data' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
