.rc-node-monitor {
  &__header {
    height: 48px;
    border-radius: 3px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin-bottom: 18px;
  }

  &__date-picker {
    display: flex;
    align-items: center;

    > span {
      flex-shrink: 0;
      margin-right: 8px;
    }
  }

  &__card {
    margin-bottom: 16px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);

    &-title {
      font-size: 16px;
      line-height: 40px;
      border-bottom: solid 1px #f5f6f7;
      padding-left: 12px;
      flex-shrink: 0;
    }

    &-content {
      height: 260px;
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
