<div class="rb-catalog-auto-scaling-dialog" rb-loading-mask="vm.loading">
    <div class="rb-form-panel">
      <div class="rb-catalog-auto-scaling-container">
        <ng-form class="rb-form" name="vm.scalingForm">
          <div class="rb-form-row input">
            <div class="rb-label">
              {{ 'type' | translate }}
            </div>
            <div>
              <img height="18" class="avatar" ng-src="{{vm.appTypeInfo.avatar}}" alt="app_avatar">
              {{ vm.appTypeInfo.display_name }}
            </div>
          </div>
          <div class="rb-form-row input">
            <div class="rb-label">
              {{ 'region' | translate }}
              </div>
                <rb-dropdown
                flex="75"
                options="vm.appData"
                key="region"
                value="region"
                on-change="vm.handleRegionChange(option)">
              </rb-dropdown>
          </div>
          <div class="rb-form-row input">
            <div class="rb-label">
              {{ 'name' | translate }}
            </div>
              <rb-dropdown
              flex="75"
              options="vm.apps"
              value="uuid"
              key="name"
              on-change="vm.handleAppChange(option)">
            </rb-dropdown>
          </div>
          <div class="rb-form-row input" ng-repeat="config in vm.numOfConfigs">
            <div class="rb-label">
              {{ config.displayName | rbTitleCase}}
            </div>
            <div 
            class="rb-input-labeled-right ui mini fluid input icon" 
            flex="75">
              <input 
              name="{{config.realKey}}"
              ng-model="config.value"
              type="number"
              >
            </div>
          </div>
          <div class="rb-form-row input" ng-if="vm.isFixed && vm.services">
            <div class="rb-label">
              {{ 'catalog_current_node' | translate}}
            </div>
            <div class="node-table" flex="75">
              <table class="rb-detail-table">
                <thead>
                <tr>
                  <td width="280">{{'name'|translate}}</td>
                  <td width="90">{{'status'|translate}}</td>
                  <td width="100">{{'role'|translate}}</td>
                  <td width="100">{{'catalog_node_ip'|translate}}</td>
                  <td width="80">{{'action'|translate}}</td>
                </tr>
                </thead>
            
                <tbody>
                <tr ng-repeat="item in vm.services track by $index">
                  <td>{{item.name}}</td>
                  <td>
                      <span rubick-status-icon status="item.current_status" mode="list" class="service-status"></span>
                  </td>
                  <td>{{item.role}}</td>
                  <td>{{item.ip}}</td>
                  <td>
                    <div ng-if="item.scalable && !item.removed">
                        <button 
                        tooltip-placement="top"
                        uib-tooltip="{{'catalog_remove_node' | translate}}"
                        ng-click="vm.removeNode($index)" 
                        class="rb-fieldset-action-btn">
                          <i class="fa fa-remove"></i>
                        </button>
                    </div>
                    <div ng-if="item.removed">
                        <button ng-click="vm.undoRemoveNode($index)" 
                        tooltip-placement="top"
                        uib-tooltip="{{'catalog_undo_remove_node' | translate}}"
                        class="rb-fieldset-action-btn">
                          <i class="fa fa-undo"></i>
                        </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="rb-form-row input" ng-if="vm.isFixed && vm.ipTags">
            <div class="rb-label">
              {{ 'catalog_new_node' | translate }}
            </div>
              <rb-dropdown
              flex="75"
              options="vm.ipTags"
              multiple="true"
              on-add="vm.onAddNode(option)"
              on-remove="vm.onRemoveNode(option)"
              placeholder="{{vm.ipTags.length ? 'please_select': 'catalog_no_extra_nodes' | translate}}"
              >
            </rb-dropdown>
          </div>
        </ng-form>
      </div>
      <div class="rb-form-footer">
        <div class="rb-form-footer-buttons">
          <button type="button" ng-disabled="vm.submitting" class="ui button rb-btn-default" ng-click="vm.cancel()">
            {{ 'cancel' | translate }}
          </button>
          <button type="button" class="ui button rb-btn-primary" ng-disabled="vm.submitting" ng-click="vm.save()">
            {{ 'confirm' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  
  