@mixin item-image {
  .image {
    height: 1em;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

@mixin rc-dropdown-item {
  font-size: 14px;
  line-height: 19px;
  padding: 6px 8px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: 1px solid #fafafa; // semantic UI dropdown 样式，被border: none覆盖了（疑似bug）
  font-family: 'ff-tisa-web-pro-1', 'ff-tisa-web-pro-2', 'Lucida Grande',
    'Helvetica Neue', 'Helvetica', 'Arial', 'PingFangSC', 'Hiragino Sans GB',
    'Hiragino Sans GB W3', 'Microsoft YaHei', sans-serif;
  @include item-image;
}

:host {
  display: inline-block;
  ::ng-deep .ui.selection.dropdown {
    width: 100%;
    min-height: 32px;
    font-size: 14px;
    > .menu {
      border-top-width: 1px !important; // '.selection' removed menu border-top-width
      max-height: none; // '.selection' added max-height to its menu
      > .input:not(.transparent) {
        margin-top: 8px;
        margin-bottom: 8px;
        input {
          padding: 0 1em;
          height: 28px;
        }
      }
      > .item {
        @include rc-dropdown-item;
      }
      // scrolling menu when allow filter
      > .scrolling.menu {
        .item {
          @include rc-dropdown-item;
        }
      }
      > .message {
        font-size: 12px;
      }
    }
    > .text {
      @include item-image;
    }
  }
  &.rc-active {
    z-index: 10 !important;
  }
}
