@import 'colors.styles';

:host {
  /* Decorate error states */
  &.error-state:not([disabled]) {
    .ui.selection.dropdown {
      color: $form-input-invalid-color;
      border-color: $form-input-invalid-border-color;
      background-color: $form-input-invalid-background-color;
      caret-color: $form-input-invalid-color;
    }
  }

  .ui.selection.dropdown.multiple {
    &.disabled {
      padding-right: 8px;

      .dropdown.icon,
      ::ng-deep .delete.icon {
        display: none;
      }
    }

    ::ng-deep {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 8px;
      > .text {
        margin-left: 0;
      }
      > .dropdown.icon {
        padding-top: 0;
        height: 32px;
        line-height: 32px;
      }
      > .ui.label {
        margin: 3px;
        margin-left: 0;
      }
    }
  }
}
