<div #dropdown
    class="ui multiple selection dropdown" [ngClass]="{'disabled': disabled}" >
    <input type="hidden"
        name="dropdown">
    <i class="dropdown icon"></i>
    <div class="default text">{{placeholder}}</div>
    <div class="menu">
        <div class="ui icon search input">
            <i class="search icon"></i>
            <input type="text"
                placeholder="{{'keyword' | translate}} ...">
        </div>
        <div class="divider"></div>

        <div class="scrolling menu">
            <div *ngFor="let option of options;"
                class="item"
                [class.disabled]="option.$$rcItemDisabled"
                [attr.data-value]="getOptionValue(option)"
                [innerHTML]="getOptionDisplay(option)">
            </div>
        </div>
    </div>
</div>