<div class="radio-group-wrapper" #radioGroupWrapper>
  <li *ngFor="let option of options"
    class="radio-button"
    [class.active]="_selectedOption === option"
    (click)="!disabled && setSelectedOption(option)">
    <div class="radio-button-content" [innerHTML]="getOptionDisplay(option)"></div>
  </li>
</div>

<rc-option-not-found-icon *ngIf="optionNotFound" [value]="value">
</rc-option-not-found-icon>
