@import 'colors.styles';

@mixin list-item {
  height: 32px;
  max-width: 144px;
  min-width: 60px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    white-space: nowrap;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@mixin check-mark {
  &:after {
    content: '';
    background-image: url('/static/images/icon/check.svg');
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: -1px;
    bottom: -1px;
    border-bottom-right-radius: 3px;
  }
}
@mixin more-items {
  min-width: 30px;
  padding: 0;
  &:hover {
    color: $button-primary-border-color;
    border-color: $button-primary-border-color;
  }
}

:host {
  display: inline-flex;
  align-items: center;

  &.disabled > .radio-group-wrapper {
    opacity: 0.7;

    .radio-button {
      cursor: default;
    }
  }

  &.error-state > .radio-group-wrapper {
    box-shadow: 0 1px 2px rgba(128, 0, 0, 0.4);

    .radio-button {
      border: 1px solid $form-input-invalid-border-color;
      color: $form-input-invalid-color;
    }
  }
}

.radio-group-wrapper {
  display: flex;
  li {
    @include list-item;
    cursor: pointer;
    transition: all 0.2s ease;
    border: solid 1px #ccc;
    &:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    &:not(first-child) {
      margin-left: -1px;
    }
    &.active {
      position: relative;
      z-index: 1;
      color: $button-primary-border-color;
      border-color: $button-default-hover-border-color;
      @include check-mark;
    }
    &.rc-more-items {
      @include more-items;
    }
  }
}

.option-not-found-icon {
  font-size: 18px;
  color: $status-color-error;
  margin: 0 8px;
  cursor: pointer;
}
