<!-- Note: the (change) event will by default bubbles up by the embedded input.
We should put a barrier here.
-->
<div #dropdown class="ui selection dropdown" [ngClass]="{'disabled': disabled}" (change)="$event.stopPropagation();">
  <input type="hidden" name="dropdown">
  <i class="dropdown icon"></i>
  <div class="default text">{{placeholder}}</div>
  <div class="menu">
    <ng-container *ngIf="allowFilter">
      <div class="ui icon search input">
        <i class="search icon"></i>
        <input placeholder="{{'keyword' | translate}} ...">
      </div>
      <div class="divider"></div>
      <div class="scrolling menu">
        <div *ngFor="let option of options;"
             class="item"
             [attr.data-value]="getOptionValue(option)" [innerHTML]="getOptionDisplay(option)">
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!allowFilter">
      <div *ngFor="let option of options;"
           class="item"
           [attr.data-value]="getOptionValue(option)" [innerHTML]="getOptionDisplay(option)">
      </div>
    </ng-container>

  </div>
</div>

<rc-option-not-found-icon *ngIf="optionNotFound && !!value" [value]="value">
</rc-option-not-found-icon>
