@import 'colors.styles';

:host {
  display: inline-flex;
  align-items: center;
  position: relative;
  /* Decorate error states */
  &.error-state:not([disabled]) {
    .ui.selection.dropdown {
      color: $form-input-invalid-color;
      border-color: $form-input-invalid-border-color;
      background-color: $form-input-invalid-background-color;
      caret-color: $form-input-invalid-color;
    }
  }
}

.ui.selection.dropdown {
  flex: 1;
  border: 1px solid #ccc;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  > .text {
    display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .dropdown.icon {
    padding-top: 0;
    height: 32px;
    line-height: 32px;
  }
  .search.input {
    input {
      padding-left: 8px;
    }
  }
}
