<div class="multiple-quota-settings">
  <aui-form-item *ngIf="isMirror">
    <label auiFormItemLabel>{{'quota_setting_way'|translate}}</label>
    <aui-checkbox auiFormItemControl name="useSameQuota" (ngModelChange)="useSameQuotaChange($event)" [(ngModel)]="useSameQuota">{{'create_namespace_tip3'|translate}}</aui-checkbox>
  </aui-form-item>
  <ng-container *ngFor="let cluster of clustersQuota;let i =index;">
    <div class="multiple-quota-settings__spece" (click)="shrink[i] = !shrink[i]">
      {{ useSameQuota ? cluster.origin_display_name : cluster.display_name }} {{'quota'|translate}}
      <aui-icon *ngIf="shrink[i]" class="multiple-quota-settings__spece-icon" icon="angle_left"></aui-icon>
      <aui-icon *ngIf="!shrink[i]" class="multiple-quota-settings__spece-icon" icon="angle_down"></aui-icon>
    </div>
    <div *ngIf="!shrink[i]">
      <aui-form-item>
        <label auiFormItemLabel>{{'CPU'|translate}}</label>
        <aui-input-group auiFormItemControl [required]="!!cluster?.quota">
          <input name="cpu" type="number" [min]="getMiniNum('cpu')" [max]="cluster?.quota.cpu.max - cluster?.quota.cpu.used" #cpu="ngModel" [(ngModel)]="resultClusters[i]?.quota.cpu"
            (ngModelChange)="change()" aui-input [required]="!!cluster?.quota">
          <span auiInputAddonAfter>{{'unit_core'|translate}}</span>
        </aui-input-group>
        <div auiFormItemHint *ngIf="!!cluster?.quota && !(cpu.errors?.max || cpu.errors?.min)">{{getQuotaFormItemHint( cluster?.quota ,'cpu') }}</div>
        <div auiFormItemError *ngIf="!!cluster?.quota && (cpu.errors?.max || cpu.errors?.min)">{{ getQuotaErrorInfo( cluster?.quota ,'cpu') }}</div>
        <div auiFormItemError *ngIf="cpu.errors?.required">{{'field_required'|translate}}</div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{'memory'|translate}}</label>
        <aui-input-group auiFormItemControl [required]="!!cluster?.quota">
          <input name="memory" type="number" [min]="getMiniNum('memory')" [max]="cluster?.quota.memory.max - cluster?.quota.memory.used" #memory="ngModel"
            [(ngModel)]="resultClusters[i]?.quota.memory" (ngModelChange)="change()" aui-input [required]="!!cluster?.quota">
          <span auiInputAddonAfter>{{'unit_gb'|translate}}</span>
        </aui-input-group>
        <div auiFormItemHint *ngIf="!!cluster?.quota && !(memory.errors?.max || memory.errors?.min)">{{getQuotaFormItemHint( cluster?.quota ,'memory') }}</div>
        <div auiFormItemError *ngIf="!!cluster?.quota && memory.errors?.max || memory.errors?.min">{{ getQuotaErrorInfo( cluster?.quota ,'memory') }}</div>

        <div auiFormItemError *ngIf="memory.errors?.required">{{'field_required'|translate}}</div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{'Pod'|translate}}</label>
        <aui-input-group auiFormItemControl [required]="!!cluster?.quota">
          <input name="pods" aui-input #pods="ngModel" [(ngModel)]="resultClusters[i]?.quota.pods" type="number" [min]="getMiniNum('pods')" [max]="cluster?.quota.pods.max - cluster?.quota.pods.used"
            (ngModelChange)="change()" [required]="!!cluster?.quota">
          <span auiInputAddonAfter>{{'ge'|translate}}</span>
        </aui-input-group>
        <div auiFormItemHint *ngIf="!!cluster?.quota && !(pods.errors?.max || pods.errors?.min)">{{getQuotaFormItemHint( cluster?.quota ,'pods') }}</div>
        <div auiFormItemError *ngIf="!!cluster?.quota && pods.errors?.max || pods.errors?.min">{{ getQuotaErrorInfo( cluster?.quota ,'pods') }}</div>

        <div auiFormItemError *ngIf="pods.errors?.required">{{'field_required'|translate}}</div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{'pvc_num'|translate}}</label>
        <aui-input-group auiFormItemControl [required]="!!cluster?.quota">
          <input name="pvc" aui-input #pvc="ngModel" [(ngModel)]="resultClusters[i]?.quota.pvc_num" type="number" [min]="getMiniNum('pvc_num')" [max]="cluster?.quota.pvc_num.max - cluster?.quota.pvc_num.used"
            (ngModelChange)="change()" [required]="!!cluster?.quota">
          <span auiInputAddonAfter>{{'ge'|translate}}</span>
        </aui-input-group>
        <div auiFormItemHint *ngIf="!!cluster?.quota && !(pvc.errors?.max || pvc.errors?.min)">{{getQuotaFormItemHint( cluster?.quota ,'pvc_num') }}</div>
        <div auiFormItemError *ngIf="!!cluster?.quota && pvc.errors?.max || pvc.errors?.min">{{ getQuotaErrorInfo( cluster?.quota ,'pvc_num') }}</div>

        <div auiFormItemError *ngIf="pvc.errors?.required">{{'field_required'|translate}}</div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{'storage'|translate}}</label>
        <aui-input-group auiFormItemControl [required]="!!cluster?.quota">
          <input name="storage" aui-input #storage="ngModel" [(ngModel)]="resultClusters[i]?.quota.storage" type="number" [min]="getMiniNum('storage')" [max]="cluster?.quota.storage.max - cluster?.quota.storage.used"
            (ngModelChange)="change()" [required]="!!cluster?.quota">
          <span auiInputAddonAfter>{{'unit_gb'|translate}}</span>
        </aui-input-group>
        <div auiFormItemHint *ngIf="!!cluster?.quota && !(storage.errors?.max || storage.errors?.min)">{{getQuotaFormItemHint( cluster?.quota ,'storage') }}</div>
        <div auiFormItemError *ngIf="!!cluster?.quota && storage.errors?.max || storage.errors?.min">{{ getQuotaErrorInfo( cluster?.quota ,'storage') }}</div>

        <div auiFormItemError *ngIf="storage.errors?.required">{{'field_required'|translate}}</div>
      </aui-form-item>
    </div>
  </ng-container>
</div>
