.multiple-quota-settings {
  ::ng-deep {
    .aui-form-item__label-wrapper {
      width: 15% !important;
    }
    .aui-form-item__container {
      width: 70%;
    }
    input[type='number'] {
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
      }
    }
    .aui-input-group__addon {
      color: #4d4d4d;
    }
    .aui-input-group__addon--after {
      width: 30px;
    }
  }

  &__spece {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
  }
  ::ng-deep {
    aui-icon {
      margin: 0 6px;
      cursor: pointer;
    }
    aui-input-group {
      width: 100%;
    }

    aui-form-item {
      display: block;
      margin-bottom: 16px;
      &:first-child {
        margin-top: 16px;
      }
    }
  }
}
