@import 'definitions/rubick.def';
@import 'form.styles';

.form-field-text {
  display: flex;
  line-height: $form-row-height;
  margin-bottom: 8px;
}
.form-field-label {
  width: 140px;
  text-align: right;
  padding-right: 16px;
  font-weight: normal;
}

rc-single-selection-dropdown,
rc-multi-selection-dropdown {
  width: 100%;
  ::ng-deep .dropdown {
    width: 100%;
  }
}
.sc-default-tip {
  margin-left: space(2);
  color: $color-text-help;
  &:hover {
    color: $color-text-primary;
  }
}
