<!-- <aui-dialog-header>
    title
</aui-dialog-header>
<aui-dialog-content>
  <rc-loading-mask [loading]="loading"></rc-loading-mask>
  <form class=""
        auiForm
        auiFormLabelWidth="140px"
        (ngSubmit)="confirm()">
    <div class="form-field-text" *ngIf="!appUserPvc">
      <label class="form-field-label">{{'region'|translate}}</label>
      <div class="form-field-value">{{region.name}}</div>
    </div>
    <aui-form-item *ngIf="!appUserPvc">
      <label auiFormItemLabel>{{'region_namespace' | translate}}</label>
      <aui-select
        [(ngModel)]="namespace"
        [filterable]="true"
      >
        <aui-option *ngFor="let namespace of namespaceOptions" [label]="namespace.name" [value]="namespace.uuid">{{namespace.name}}</aui-option>
        <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
      </aui-select>
    </aui-form-item>
    <aui-form-item *ngIf="appUserPvc && mirrorClusters.length">
      <label auiFormItemLabel>{{'cluster' | translate}}</label>
      <aui-multi-select
        auiFormItemControl
        name="clusters"
        [(ngModel)]="clusters"
        required
        [placeholder]="placeholder"
        [filterable]="filterable"
        [rcErrorsTooltip]
      >
        <aui-option *ngFor="let cluster of mirrorClusters" [value]="cluster.name">{{cluster.display_name}}</aui-option>
      </aui-multi-select>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{'access_mode' | translate}}</label>
      <aui-radio-group [(ngModel)]="accessMode">
        <aui-radio-button
        *ngFor="let mode of accessModeOptions"
        [value]="mode.value">{{mode.name}}</aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item *ngIf="storageClassEnabled">
      <label auiFormItemLabel>{{'storageclass' | translate}}</label>
      <aui-select
        [(ngModel)]="storageClass"
        [filterable]="true"
      >
        <aui-option
          *ngFor="let opt of storageClassOptions"
          [label]="opt.name"
          [value]="opt.value">{{opt.name}}</aui-option>
        <aui-option-placeholder>{{'no_data' | translate}}</aui-option-placeholder>
      </aui-select>
      <span class="fa fa-info-circle sc-default-tip"
            *ngIf="storageClassSelect.value === 'default'"
            [rcTooltip]="'storageclass_use_default_tip' | translate"
            [rcTooltipMode]="'info'"
            rcTooltipPosition="top center">
      </span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{'size' | translate}}</label>
      <aui-input-group>
        <span auiInputAddonAfter>GB</span>
        <input aui-input
          [(ngModel)]="size"
          *ngIf="!appUserPvc"
          placeholder="10 - 1024"
          [rcErrorsTooltip]
          [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
          required
          min="10"
          max="1024"
          [pattern]="numberReg.pattern">
      </aui-input-group>
      <aui-input-group>
        <span auiInputAddonAfter>GB</span>
        <input rcInput
            [(ngModel)]="size"
            *ngIf="appUserPvc"
            required
            [placeholder]="'0 - '+maxPvcSize"
            [max]="maxPvcSize"
            [rcErrorsTooltip]
            [pattern]="numberReg.pattern">
      </aui-input-group>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
    <div>
        <button aui-button
            (click)="cancel()">
            {{'cancel'|translate}}
        </button>
        <button aui-button="primary"
            [loading]="submitting"
            (click)="confirm()">
            <span *ngIf="updating">{{'save'|translate}}</span>
            <span *ngIf="!updating">{{'create'|translate}}</span>
        </button>
    </div>
</aui-dialog-footer> -->
<rc-form-container>
  <div [rcLoadingMask]="loading||submitting">
    <form [formGroup]="form" #volumeForm="ngForm" (ngSubmit)="submit()">
      <div class="form-field-text" *ngIf="!appUserPvc">
        <label class="form-field-label">{{'region'|translate}}</label>
        <div class="form-field-value">{{region.name}}</div>
      </div>
      <rc-form-field label="{{'region_namespace'|translate}}" *ngIf="!appUserPvc">
        <rc-single-selection-dropdown #namespaceDropdown
                                      formControlName="namespace"
                                      [options]="namespaceOptions"
                                      displayField="name"
                                      valueField="uuid">
        </rc-single-selection-dropdown>
      </rc-form-field>
      <rc-form-field
        label="{{'cluster'|translate}}"
        [shouldFlexRow]="true"
        *ngIf="appUserPvc && mirrorClusters.length">
        <rc-multi-selection-dropdown #mirrorClusterDropdown
                                      required
                                      formControlName="clusters"
                                      [options]="mirrorClusters"
                                      displayField="display_name"
                                      valueField="name">
        </rc-multi-selection-dropdown>
      </rc-form-field>
      <rc-form-field label="{{(appUserPvc?'storage_volume_name':'pvc_name') | translate}}" 
                     [shouldFlexRow]="true"
                     [hideErrors]="true">
        <input rcInput
               formControlName="name"
               maxlength="36"
               placeholder="{{(appUserPvc?'storage_volume_name':'pvc_name_placeholder')|translate}}"
               [rcErrorsTooltip]
               [rcErrorsTooltipMapper]="errorMappers.pvcName"
               pattern="[a-z][a-z0-9\-\_]*"
               required>
      </rc-form-field>
      <rc-form-field label="{{'access_mode'|translate}}">
        <rc-radio-group #accessModeRadioGroup
                        [options]="accessModeOptions"
                        displayField="name"
                        valueField="value"
                        formControlName="accessMode">
        </rc-radio-group>
      </rc-form-field>
      <rc-form-field label="{{'storageclass' | translate}}" *ngIf="storageClassEnabled">
        <rc-single-selection-dropdown formControlName="storageClass"
                                      [options]="storageClassOptions"
                                      displayField="name"
                                      valueField="value"
                                      #storageClassSelect>
        </rc-single-selection-dropdown>
        <span class="fa fa-info-circle sc-default-tip" 
              *ngIf="storageClassSelect.value === 'default'"
              [rcTooltip]="'storageclass_use_default_tip' | translate"
              [rcTooltipMode]="'info'"
              rcTooltipPosition="top center">
        </span>
      </rc-form-field>
      <rc-form-field label="{{'size' | translate}}" 
                     [shouldFlexRow]="true"
                     [hideErrors]="true">
        <input rcInput
               formControlName="size"
               *ngIf="!appUserPvc"
               placeholder="10 - 1024"
               [rcErrorsTooltip]
               [rcErrorsTooltipMapper]="{pattern: (numberReg.tip | translate)}"
               required
               min="10"
               max="1024"
               [pattern]="numberReg.pattern">
        <input rcInput
               formControlName="size"
               *ngIf="appUserPvc"
               required
               [placeholder]="'0 - '+maxPvcSize"
               [max]="maxPvcSize"
               [rcErrorsTooltip]
               [pattern]="numberReg.pattern">
        <div rcFormSuffix>GB</div>
      </rc-form-field>
    </form>
    <div *rcFooterContent>
      <button rcButton
              (click)="cancel()">
        {{'cancel'|translate}}
      </button>
      <button rcButton="primary"
              (click)="volumeForm.onSubmit($event)"
              [class.loading]="submitting">
        <ng-container *ngIf="updating">{{'save'|translate}}</ng-container>
        <ng-container *ngIf="!updating">{{'create'|translate}}</ng-container>
      </button>
    </div>
  </div>
</rc-form-container>