@import 'colors.styles';
:host {
  display: block;
}
.rc-form-panel {
  border: 1px solid $form-input-border-color;
  border-radius: 8px;
  background: #fff;
  padding: 24px 0 0;
  display: flex;
  flex-direction: column;
  .rc-form-container {
    padding: 16px;
    min-height: 120px;
  }
  &.is-in-modal {
    border: none;
    border-radius: 0;
  }
}

.rc-form-footer {
  display: flex;
  padding: 10px 16px 30px 16px;
  justify-content: flex-start;
  ::ng-deep button {
    margin: 0 4px 0 0;
  }
}

.is-in-modal {
  .rc-form-panel {
    border: none;
    border-radius: 0;
  }
  .rc-form-footer {
    flex: 1;
    justify-content: flex-end;
    padding-bottom: 24px;
    ::ng-deep > button {
      margin: 0 0 0 4px;
    }
  }
}
