<div class="rc-form-panel" [class.is-in-modal]="this.isInModal">
  <div class="rc-form-container">
    <!-- Default content will show here: -->
    <ng-content></ng-content>
  </div>

  <div class="rc-form-footer">
    <!-- Buttons should show here: -->
    <ng-container *ngTemplateOutlet="footerContentTemplate"></ng-container>
  </div>
</div>
