<!-- Exec switch-->
<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'pipeline_task_exec_switch' | translate }}
  </div>
  <div layout="column checkbox-column">
    <div class="ui toggle checkbox">
      <input
        ng-disabled="vm.workflow.readonly"
        ng-model="vm.item.model.data.exec_enabled"
        type="checkbox"
        ng-change="vm.onExecEnabledChange()">
      <label></label>
    </div>
    <div class="rb-input-field-addon">
      <span class="fa fa-question-circle"
            uib-popover-html="'pipeline_task_exec_switch_placeholder' | translate"
            popover-placement="top"
            popover-trigger="'mouseenter'"
            popover-append-to-body="true"></span>
    </div>
  </div>
</div>
<!-- Service Selection type-->
<div class="rb-form-row input" ng-if="vm.item.model.data.exec_enabled">
  <div class="rb-label">
    {{ 'pipeline_task_select_service' | translate }}
  </div>
  <div layout="column">
    <rb-radio-group style="margin: 5px 0; align-self: flex-start;"
                    on-change="vm.selectServiceTypeChanged(option.type)"
                    key="displayName"
                    value="type"
                    readonly="vm.workflow.readonly"
                    init="vm.selectServiceType"
                    options="vm.selectServiceTypes">
    </rb-radio-group>
  </div>
</div>

<!-- Region -->
<div class="rb-form-row input" ng-if="vm.item.model.data.exec_enabled">
  <div class="rb-label" flex="25">
    {{ 'region' | translate }}
    <span class="rb-required-mark">*</span>
  </div>

  <!-- Selection mode -->
  <rb-dropdown
    ng-if="!vm.showRegionAsLabel()"
    rb-loading-mask="!(vm.regions$ | rbAsync:this)"
    on-change="vm.regionChanged(option)"
    key="display_name"
    value="id"
    is-disabled="vm.workflow.readonly"
    init="vm.item.model.region_uuid"
    options="vm.regions$ | rbAsync:this">
  </rb-dropdown>

  <!-- Label mode -->
  <span ng-if="vm.showRegionAsLabel()">
    {{ (vm.item.region$ | rbAsync:this).display_name | rbFieldNotAvailable }}
  </span>
</div>

<!-- Select Service -->
<!-- Hidden field to make sure the form is in invalid state if service is null -->
<input type="text"
       class="hidden"
       name="link_service_name"
       ng-if="vm.item.model.data.exec_enabled"
       ng-model="vm.item.model.data.link.name"
       required>
<div class="rb-form-row input"  ng-if="vm.item.model.data.exec_enabled">
  <div class="rb-label">
    {{ 'service' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <rb-dropdown
    rb-errors-tooltip="vm.form['link_service_name']"
    rb-errors-tooltip-mapper="{
      required: ('pipeline_config_task_select_service_hint' | translate)
    }"
    rb-loading-mask="!(vm.availableServices$ | rbAsync:this)"
    on-change="vm.linkServiceChanged(option.value)"
    key="displayName"
    value="uuid"
    is-disabled="vm.workflow.readonly"
    init="vm.item.model.data.link.uuid"
    placeholder="{{ 'pipeline_config_task_select_service_hint' | translate }}"
    options="vm.availableServices$ | rbAsync:this">
  </rb-dropdown>
</div>
