<rc-card
  [fitParent]="true">
  <a rcCardHeader [routerLink]="['/log']">{{ 'chart_title_log' | translate }}</a>
  <rc-chart-container
    [loading]="!initialized"
    [noData]="initialized && !data">
    <rc-charts-bar-vertical
      [results]="data || fakeData"
      [yScaleMax]="data ? null : 1500"
      [scheme]="chartConfig.scheme"
      [xAxis]="chartConfig.xAxis"
      [yAxis]="chartConfig.yAxis"
      [showGridLines]="chartConfig.showGridLines"
      [roundDomains]="chartConfig.roundDomains"
      [roundEdges]="chartConfig.roundEdges"
      [barPadding]="chartConfig.barPadding"
      [xAxisTickWidth]="120"
      [xAxisTickFormatting]="chartConfig.xAxisTickFormatting"
      [yAxisTickFormatting]="chartConfig.yAxisTickFormatting">
      <ng-template #tooltipTemplate let-model="model">
        <div class="rc-chart-tooltip-item">{{ getChartTooltipDisplay(model.name) }}</div>
        <div class="rc-chart-tooltip-item" style="justify-content: center;">{{ model.value }}</div>
      </ng-template>
    </rc-charts-bar-vertical>
  </rc-chart-container>
</rc-card>
