<div class="rb-form-panel rb-configuration-item-edit" rb-loading-mask="vm.submitting">
  <div class="rb-form-container">
    <div ng-if="vm.isExisting" class="ui small message" style="margin-bottom: 32px">
      <p>
        <i class="fa fa-exclamation-circle"></i>
        {{'config_key_update_message' | translate}}
      </p>
    </div>
    <form class="rb-form" name="vm.form">
      <!-- account name -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label style="width:90px;">{{'key' | translate}} <span class="rb-required-mark">*</span></label>
          <input class="rb-input"
                 type="text"
                 name="name"
                 ng-disabled="vm.isExisting"
                 minlength="1"
                 maxlength="64"
                 ng-model="vm.curItem.key"
                 ng-pattern="vm.keyPattern"
                 rb-errors-tooltip
                 rb-errors-tooltip-mapper="{
                   'pattern': (vm.patternInvalid ? 'invalid_pattern': 'key_repeated' | translate)
                 }"
                 required>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
      <!-- remark -->
      <div class="rb-input-container">
        <div class="rb-input-field-container">
          <label style="width:90px;">{{'value' | translate}} <span class="rb-required-mark">*</span></label>
          <div flex="100" rb-errors-tooltip="vm.form['value']">
            <ui-codemirror
              name="value"
              required
              ui-codemirror-opts="vm.editorOptions"
              ui-refresh='vm.editorInitialized'
              ng-model="vm.curItem.value">
            </ui-codemirror>
          </div>
          <div class="rb-input-field-addon"></div>
        </div>
        <div class="rb-input-hint-container">
        </div>
      </div>
    </form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">
        {{'cancel' | translate}}
      </button>
      <button rb-loading-mask="vm.submiting"
              ng-disabled="vm.submiting"
              type="button"
              class="ui button rb-btn-primary"
              ng-click="vm.confirm()">
        {{'confirm' | translate}}
      </button>
    </div>
  </div>
</div>