<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a
        href="javascript:void(0)"
        rcRouterStateLink="jenkins"
      >
        {{ 'nav_jenkins'| translate }}
      </a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      <a
        href="javascript:void(0)"
        rcRouterStateLink="jenkins.pipelines"
      >
        {{ 'nav_jenkins_pipelines' | translate }}
      </a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>{{ displayName }}</ng-container>
  </rc-breadcrumb>
</div>
<div>
  <rc-inline-notification
    type="error"
    closable="true"
    *ngIf="(spaces && !spaces.length) || (integrations && !integrations.length)"
    [content]="'jenkins_no_resource_waring' | translate"
  >
  </rc-inline-notification>
  <div>
    <div style="font-size: 18px; display:inline-block">
      {{ displayName }}
      <span class="version">{{version}}</span>
    </div>
    <a
      style="float: right;"
      (click)="showHelp()"
    >
      {{'jenkins_template_detail'|translate}}
    </a>
  </div>
</div>
<form
  class="form container"
  novalidate
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  [rcLoadingMask]="!initialValue"
>
  <rc-pipeline-create-by-template-steps [currentStep]="currentStep"></rc-pipeline-create-by-template-steps>
  <div
    class="form-content template"
    rcTocContentsContainer
    #toc="toc-contents-container"
  >
    <!-- 基本信息表单预览 -->
    <div
      class="form-group"
      [hidden]="!currentStep"
    >
      <div
        class="form-group-header"
        style="border-bottom: none"
      >
        {{ 'jenkins_pipeline_basic_info' | translate }}
        <i
          style="float: right;cursor: pointer;"
          class="icon fa-angle-{{ basic_info_show ? 'up':'down'}}"
          (click)="basic_info_show = !basic_info_show"
        ></i>
      </div>
      <div
        class="basic-info-preview"
        [ngClass]="{'active':basic_info_show}"
      >
        <div class="rows">
          <div class="fields-name">{{'name' | translate}}</div>
          <div>{{ form.value.name }}</div>
        </div>
        <div class="rows">
          <div class="fields-name">
            {{'jenkins_pipeline_display_name' | translate}}
          </div>
          <div>{{ form.value.display_name }}</div>
        </div>
        <div class="rows">
          <div class="fields-name">{{'space' | translate}}</div>
          <div>{{ form.value.space_name }}</div>
        </div>
        <div class="rows">
          <div class="fields-name">{{'jenkins_integration' | translate}}</div>
          <div>{{ form.value.jenkins_integration_id }}</div>
        </div>
        <div class="rows">
          <div class="fields-name">{{'description' | translate}}</div>
          <div>{{ form.value.description }}</div>
        </div>
        <ng-container  *ngIf="!withoutSCM">
          <div class="form-group-header no-border">
            <b>
              {{ 'pipeline_trigger_type_build' | translate }}
            </b>
          </div>
          <div class="rows">
            <div class="fields-name">
              {{'build_code_repo_client' | translate}}
            </div>
            <div>{{ form.value.source }}</div>
          </div>
          <div
            class="rows"
            *ngIf="form.value.code_org"
          >
            <div class="fields-name">{{'account' | translate}}</div>
            <div>{{ form.value.code_org }}</div>
          </div>
          <div class="rows">
            <div class="fields-name">
              {{'jenkins_code_repository_address' | translate}}
            </div>
            <div>
              {{ form.value.code_repo || form.value.repository_path }}
            </div>
          </div>
          <div class="rows">
            <div class="fields-name">{{'code_branch' | translate}}</div>
            <div>{{ form.value.branch }}</div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="form-group">
      <div
        class="form-group-header"
        [hidden]="currentStep"
      >
        {{ 'jenkins_pipeline_basic_info' | translate }}
      </div>
      <div
        class="form-group-header"
        *ngIf="currentStep"
      >
        {{ 'jenkins_pipeline_template_params' | translate }}
        <a
          style="float: right"
          href="javascript:void(0)"
          (click)="showVarHelp()"
        >
          {{ 'jenkins_pipeline_use_vars' | translate }}
        </a>
      </div>

      <!-- 基本信息表单 -->
      <div
        class="form-group-content"
        *ngIf="!currentStep"
      >
        <rc-form-field label="{{'name' | translate}}">
          <input
            formControlName="name"
            rcInput
            rcTrim
            type="text"
            [required]="true"
            pattern="[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?"
            maxLength="36"
          >
        </rc-form-field>
        <rc-form-field label="{{'jenkins_pipeline_display_name' | translate}}">
          <input
            formControlName="display_name"
            rcInput
            rcTrim
            type="text"
            maxLength="100"
          >
        </rc-form-field>
        <rc-form-field
          label="{{'space' | translate}}"
          [shouldFlexRow]="true"
          [hideErrors]="true"
        >
          <rc-single-selection-dropdown
            formControlName="space_name"
            displayField="name"
            valueField="name"
            [options]="spaces"
            [placeholder]="'space' | translate"
            [allowFilter]="true"
            [rcLoadingMask]="!spaces"
            [required]="true"
            style="width:100%"
          ></rc-single-selection-dropdown>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkins_integration' | translate}}"
          [shouldFlexRow]="true"
          [hideErrors]="true"
        >
          <rc-single-selection-dropdown
            formControlName="jenkins_integration_id"
            displayField="name"
            valueField="id"
            [options]="integrations"
            [placeholder]="'jenkins_integration' | translate"
            [allowFilter]="true"
            [rcLoadingMask]="!integrations"
            [required]="true"
            (ngModelChange)="onIntegrationChange$.next($event)"
            style="width:100%"
          ></rc-single-selection-dropdown>
        </rc-form-field>
        <rc-form-field label="{{'description' | translate}}">
          <textarea
            formControlName="description"
            rcInput
            type="text"
            style="min-height: 80px"
            maxlength="512"
          ></textarea>
        </rc-form-field>
      </div>

      <div
        class="form-group-header  no-border"
        [hidden]="currentStep"
        *ngIf="!withoutSCM"
      >
        <b>
          {{ 'jenkins_pipeline_select_code_repo' | translate }}
        </b>
      </div>
      <div
        class="form-group-content"
        [hidden]="currentStep || withoutSCM"
      >
        <rc-form-field label="{{'jenkins_code_repository' | translate}}">
          <rc-radio-group
            formControlName="source"
            displayField="displayName"
            valueField="name"
            [options]="codeClients"
            [rcLoadingMask]="!codeClients"
            (ngModelChange)="onCodeClientChange$.next($event)"
            [readOnly]="!initialized"
          >
          </rc-radio-group>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkins_code_account' | translate}}"
          [hidden]="['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
        >
          <rc-radio-group
            formControlName="code_org"
            displayField="name"
            valueField="name"
            [options]="codeOrgs"
            [rcLoadingMask]="!codeOrgs"
            (ngModelChange)="onCodeOrgChange$.next($event)"
            [hidden]="isSelectedCodeClientNotBind"
          >
          </rc-radio-group>
          <rc-repo-not-bind-hint *ngIf="isSelectedCodeClientNotBind"></rc-repo-not-bind-hint>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkins_code_repository_address' | translate}}"
          [hidden]="['GIT', 'SVN', 'NOT_USE'].includes(form.value.source)"
          [hideErrors]="true"
        >
          <rc-code-repository-select
            formControlName="code_repo"
            [codeClient]="form.value.source"
            [codeOrg]="form.value.code_org"
            [required]="!['GIT', 'SVN', 'NOT_USE'].includes(form.value.source) && !withoutSCM"
            rcErrorsTooltip
            [rcErrorsTooltipInline]="true"
          ></rc-code-repository-select>
        </rc-form-field>
        <rc-form-field
          label="{{'jenkins_code_repository_address' | translate}}"
          [shouldFlexRow]="true"
          [hidden]="!['GIT', 'SVN'].includes(form.value.source)"
        >
          <input
            formControlName="repository_path"
            rcInput
            rcTrim
            placeholder="{{(['GIT'].includes(form.value.source)? 'jenkins_git_repo_address_example':'jenkins_svn_repo_address_example') | translate}}"
            type="text"
            [required]="['GIT', 'SVN'].includes(form.value.source) && !withoutSCM"
            pattern="^(http(s?):\/\/.+)|(git@.+:.+)|(ssh:\/\/.+@.+)|(git:\/\/.+)"
            maxLength="512"
          >
        </rc-form-field>
        <rc-form-field
          label="{{'code_branch' | translate}}"
          [shouldFlexRow]="true"
          [hidden]="['NOT_USE', 'SVN'].includes(form.value.source)"
        >
          <input
            formControlName="branch"
            rcInput
            rcTrim
            type="text"
            [required]="!['NOT_USE', 'SVN'].includes(form.value.source) && !withoutSCM"
            maxLength="512"
            [placeholder]="'jenkins_code_repo_branch_tip' | translate"
          >
          <span class="fa fa-question-circle description-question-circle"
                rcFormAddon
                [rcTooltip]="'jenkins_pipeline_code_branch_hint' | translate"
                [rcTooltipInline]="false"
                rcTooltipMode="info"
                rcTooltipPosition="top center">
          </span>
        </rc-form-field>
        <div class="credential-field">
          <!-- TODO: rc-form-field ignore tag classes -->
          <rc-form-field
            label="{{'jenkins_code_credential' | translate}}"
            [shouldFlexRow]="true"
            [hidden]="!['GIT', 'SVN'].includes(form.value.source)"
            [hideErrors]="true"
          >
            <rc-single-selection-dropdown
              formControlName="credential_name"
              displayField="display_name"
              valueField="name"
              [options]="credentials"
              [placeholder]="'jenkins_code_credential' | translate"
              [allowFilter]="true"
              [rcLoadingMask]="!credentials"
            ></rc-single-selection-dropdown>
            <a
              href="javascript:void(0)"
              (click)="addCredential()"
              class="add-credential"
              *ngIf="createCredentialEnabled"
            >
              {{ 'jenkins_create_credential' | translate }}
            </a>
          </rc-form-field>
        </div>
      </div>
      <div
        class="form-group-header no-border"
        [hidden]="currentStep"
      >
        <b>
          {{ 'jenkins_pipeline_triggers' | translate }}
        </b>
      </div>
      <div
        [hidden]="currentStep"
        class="form-group-content"
        formArrayName="triggers"
      >
        <div *ngFor="let trigger of form.get('triggers').controls; trackBy:triggerIdentify">
          <rc-pipeline-form-trigger
            [form]="trigger"
            [codeRepoSource]="form.value.source"
            (remove)="removeTrigger(trigger)"
            #triggerComponent
          ></rc-pipeline-form-trigger>
        </div>

        <div class="trigger-rows">
          <div class="fields-name">
            {{ 'jenkins_pipeline_triggers' | translate }}
          </div>
          <div>
            <button
              rcIconButton="default"
              rcButtonSize="tiny"
              [rcTooltip]="triggerTypeTemplate"
              [rcTooltipNoArrow]="true"
              [rcTooltipEmpty]="true"
              rcTooltipPosition="bottom left"
              [rcTooltipInline]="false"
              rcTooltipOn="click"
              #triggerSelect="tooltip"
            >
              <i class="fa fa-plus-circle"></i>
              {{ 'jenkins_add_trigger' | translate }}
            </button>
          </div>
        </div>

      </div>
      <!-- 参数表单 -->
      <div
        class="template-params-form"
        [hidden]="!currentStep"
      >
        <rc-pipeline-template-params-form
          [fieldModels]="fieldModels"
          [relationship]="relationship"
          (valueChanged)="paramsChanged($event)"
          (statusChanged)="paramStatusChanged($event)"
        ></rc-pipeline-template-params-form>
      </div>
      <!-- 操作按钮 -->
      <div class="footer-step-buttons">
        <a
          *ngIf="currentStep"
          style="line-height: 30px;"
          (click)="previewJenkinsfile()"
          [rcTooltip]="'jenkinsfile_preview_tooltip'|translate"
          rcTooltipMode="info"
          rcTooltipPosition="top"
          [ngClass]="{'disabled': paramErrorStatus}"
        >
          {{ 'jenkinsfile_preview' | translate }}
        </a>
        <div></div>
        <button
          rcButton="primary"
          *ngIf="!currentStep"
          (click)="toggleSteps()"
        >
          {{ 'next_step' | translate }}
        </button>
        <button
          rcButton
          *ngIf="currentStep"
          (click)="toggleSteps()"
        >
          {{ 'prev_step' | translate }}
        </button>
        <button
          rcButton="primary"
          *ngIf="currentStep"
          type="submit"
          [disabled]="saving || !initialized"
          [loading]="saving"
        >
          {{ 'create' | translate }}
        </button>
        <button
          rcButton="default"
          (click)="cancelCreate()"
          [disabled]="saving"
        >
          {{ 'jenkins_template_create_pipeline_cancel_title' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>

<ng-template #triggerTypeTemplate>
  <div class="trigger-select">
    <div class="trigger-select-title">
      {{ 'jenkins_select_trigger_type' | translate }}
    </div>
    <div class="trigger-select-body">
      <a
        href="javascript:void(0)"
        (click)="addTrigger('cron')"
        [class.disabled]="cronTriggerDisabled()"
      >
        <i class="fa fa-clock-o"></i>
        <span>
          {{ 'jenkins_trigger_cron' | translate }}
        </span>
      </a>
      <a
        href="javascript:void(0)"
        (click)="addTrigger('image_change')"
      >
        <i class="fa fa-building"></i>
        <span>
          {{ 'jenkins_trigger_image_change' | translate }}
        </span>
      </a>
      <a
        href="javascript:void(0)"
        (click)="addTrigger('code_change_hook')"
        [class.disabled]="codeChangeHookTriggerDisabled()"
      >
        <i class="fa fa-code-fork"></i>
        <span>
          {{ 'jenkins_trigger_code_change_hook' | translate }}
        </span>
      </a>
    </div>
  </div>
</ng-template>
