@import '_colors.styles';

.brief-description {
  margin-top: 20px;
}

.fa-info-circle {
  color: #999;

  &:hover {
    cursor: pointer;
    color: $blue-6;
  }
}

.form.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px;
  margin-top: 12px;
  width: 100%;
  overflow: initial;

  h3 {
    font-size: 18px;
  }

  .footer-step-buttons {
    height: 52px;
    border-top: 1px solid $black-2;
    padding: 10px;
    display: flex;

    > div {
      flex: 1;
    }

    > button {
      margin-left: 8px;
    }
  }

  .form-content.template {
    position: relative;
    padding: 0;
    overflow: initial;
  }

  .basic-info-preview {
    display: flex;
    flex-direction: column;
    margin: 20px;
    transition: height 0.3 ease;
    display: none;

    &.active {
      display: block;
    }

    .rows {
      display: flex;
      min-height: 32px;
      .fields-name {
        width: 120px;
        text-align: right;
        flex-shrink: 0;
        margin-right: 20px;
        &::after {
          content: ' :';
        }
      }
    }
  }

  .trigger-rows {
    display: flex;
    line-height: 32px;

    .fields-name {
      width: 120px;
      text-align: right;
      margin-right: 20px;
      line-height: 32px;
    }
  }

  .template-params-form {
    margin: 20px;
  }
}

:host ::ng-deep {
  .invalid_style {
    color: #b04141;
    border-color: #e0b4b4;
    background-color: #fff6f6;
    caret-color: #b04141;
  }

  form.ng-submitted {
    rc-single-selection-dropdown.ng-invalid {
      & > div {
        @extend .invalid_style;
      }
    }

    rc-pipeline-dyform-repository.ng-invalid {
      & > div > input {
        @extend .invalid_style;
      }
    }
  }
}

.disabled {
  color: grey;
}

.version {
  line-height: 18px;
  font-size: 12px;
  margin-left: 8px;
}
