@import 'colors.styles';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:host {
  position: relative;
  overflow: visible;
}

.circle-wrapper {
  position: relative;
  overflow: hidden;
}

.import-circle {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  font-size: 50%;
  z-index: 1;
  border-radius: 50%;
  background: $status-color-stopped;
  transition: background 0.2s;
  overflow: visible;

  &[status='failed'] {
    background: $status-color-error;
  }

  &[status='success'] {
    background: $status-color-success;
  }

  .import-circle-icon {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.import-circle-spinner {
  animation: spin 1.5s linear infinite;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  border: 3px solid $blue-6;
  border-radius: 50%;
  top: 0;
  left: 0;

  &:after {
    content: '';
    width: 80%;
    height: 80%;
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 0.7) 60%,
      rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-15%, -15%);
  }
}

.circle-step-label {
  display: flex;
  justify-content: center;
  /* Making it position absolute to make it easy to position the dashes. */
  position: absolute;
  top: 90px;
  align-items: center;
  width: 100%;
  left: 0;
}
