@import 'colors.styles';

:host {
  height: 100%;
  background: $silver-1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .step-connector {
    width: 120px;
    height: 4px;
    background: $default-border-color;
    border-radius: 2px;
  }
}

.import-hint-message-containter {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin-right: 10px;

    .fa-smile-o {
      color: $yellow-9;
    }

    .fa-frown-o {
      color: $status-color-error;
    }

    .fa-coffee {
      color: $status-color-in-process;
    }
  }

  .message-container {
    flex: 1;
    flex-wrap: wrap;
    font-size: 18px;
    text-align: left;
  }
}

.empty-view-image {
  width: 320px;
  margin-bottom: 20px;
}

.empty-view-title {
  font-size: 18px;
  font-weight: bold;
}

.loading-catalog-template-page {
  text-align: center;
}

.repo-import-progress-containter {
  padding-bottom: 10%;
}

.import-hyperlink {
  color: $blue-6;
  text-decoration: none;
}
.import-hyperlink:hover {
  color: $blue-6;
  text-decoration: underline;
}
