<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="baidu-site-verification"
        content="IEgE0n6XMv" />
  <link rel="shortcut icon"
        type="image/x-icon"
        href="<%-favicon_path%>">
  <!-- Enable HTML5 mode -->
  <base href="/landing/">
  <style>
    /* Following is inlined since we don't want to let the user see layout reflow issues */

    html {
      font-size: 14px;
      height: 100%;
    }

    body.login-body {
      display: block;
      height: 100%;
      min-height: 100%;
      padding: 30px;
      margin: 0;
      color: #494949;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, "Ubuntu", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
      font-weight: 400;
      background: #f1f1f1 no-repeat fixed top center;
      background-size: cover;
    }

    rld-app {
      display: flex;
      flex-shrink: 0;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      min-height: 100%;
    }

  </style>
</head>

<body class="login-body"
      style="background-image: url('<%- landing_bg_url %>')">
  <rld-app>
    <!-- Switch to a nice looking one if needed -->
    <div style="font-size: 24px; text-align: center;">
      <script>
        (function () {
          const view_mode = '<%-view_mode%>';
          const tpName = '<%-sso_source%>';
          const ssoConfigsString = '<%-sso_configs%>';

          const locale = localStorage['alauda_locale'] || navigator.language || 'en';
          if (['zh_cn', 'zh-cn', 'zh'].includes(locale.toLowerCase())) {
            document.write('载入中， 请稍候 ...');
          } else {
            document.write('Loading ...');
          }
          // tsf sso need skip login page
          if (localStorage['sso_logout_url'] && view_mode === 'login' && tpName === 'tsf') {
            location.href = localStorage['sso_logout_url']
          } else if (view_mode === 'license' && ENVIRONMENTS.sso_configs && tpName === 'tsf') {
            let ssoConfigs
            try {
              ssoConfigs = JSON.parse(HTMLDecode(ssoConfigsString))
            } catch (e) {
              ssoConfigs = [{}]
            }
            const tpSourceLgoutLoginUrl = ssoConfigs[0]['server_logout_url'] + '?service=' + encodeURIComponent(ssoConfigs[0]['server_login_url'] + '?service=' + ssoConfigs[0]['redirect_uri']);
            localStorage.setItem('sso_source', tpName);
            localStorage.setItem('sso_logout_url', tpSourceLgoutLoginUrl);
          }
          function HTMLDecode(text) {
            var temp = document.createElement("div");
            temp.innerHTML = text;
            var output = temp.innerText || temp.textContent;
            temp = null;
            return output;
          }
        })()
      </script>
    </div>
  </rld-app>
</body>

</html>
