<div class="rb-page-heading">
  <h1>
    <i class="fa fa-calendar-check-o"></i>
    <span title="{{ vm.config.config_name }}">{{ vm.config.config_name }}</span>
  </h1>
  <div flex></div>

  <div class="rb-heading-button-group">
    <button class="ui button rb-btn-primary"
            ng-if="vm.buttonDisplayExpr('trigger')"
            ng-class="{loading: vm.starting}"
            ng-disabled="vm.starting || vm.deleting"
            ng-click="vm.startClicked()">
      {{"job_start" | translate}}
    </button>
    <button class="ui button rb-btn-default"
            ng-if="vm.buttonDisplayExpr('update')"
            ui-sref="job.config.update({ name: vm.name })">
      {{"update" | translate}}
    </button>

    <rb-dropdown-menu
      ng-if="!vm.deleting"
      rb-title="{{'action' | translate}}">
      <rb-dropdown-menu-item
        ng-if="vm.buttonDisplayExpr('delete')"
        ng-click="vm.deleteClicked()">
        {{'delete' | translate}}
      </rb-dropdown-menu-item>
    </rb-dropdown-menu>
  </div>
</div>

<!-- Basic info -->
<rb-basic-info-panel fields="vm.basicInfoFields" initialized="vm.config">
</rb-basic-info-panel>

<div ng-if="vm.initialized" class="rb-tabs-container rb-detail-container">
  <md-tabs class="rb-tabs"
           md-border-bottom="true"
           md-dynamic-height="true">
    <!-- History -->
    <md-tab class="rb-tab"
            label="{{ 'job_history' | translate }}">
      <rb-job-history-list config-name="vm.config.config_uuid">
      </rb-job-history-list>
    </md-tab>

    <!-- Events -->
    <md-tab label="{{ 'events' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-event-list ng-if="vm.config.config_uuid"
                       type="'job_config'"
                       primary-key="vm.config.config_uuid">
        </rb-event-list>
      </div>
    </md-tab>

    <!-- Env Files and Vars -->
    <md-tab label="{{ 'environment_variable' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-env-vars-table ng-if="vm.config"
                           env-vars="vm.config.envvars"
                           env-files="vm.envfiles$ | rbAsync:this">
        </rb-env-vars-table>
      </div>
    </md-tab>
  </md-tabs>
</div>
