:host {
  display: block;
  .rc-service-metrics-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .service-metrics-toolbar-row {
      display: flex;
      align-items: center;
      height: 48px;
      > * {
        margin-right: 8px;
      }
      > label {
        font-weight: 400;
        text-align: left;
      }
      input {
        width: 12em;
      }
    }
    ::ng-deep .ui.selection.dropdown {
      min-width: 10em;
    }
  }

  .rc-service-metrics-content {
    rc-service-metric-chart {
      margin-top: 12px;
    }
  }
}
