<div class="chart-toolbar">
  <div class="toolbar-title" title="{{metricDisplayName}}">
    {{metricDisplayName}}
  </div>
  <div class="toolbar-buttons">
    <!--<button (click)="actionRefresh()" [rcTooltip]="'refresh' | translate"><i class="fa fa-refresh"></i></button>-->
  </div>
</div>
<div class="chart-content-wrap" [rcLoadingMask]="loading && empty">
  <div class="chart-no-data" *ngIf="!loading && empty">
    {{'no_data' | translate}}
  </div>
  <div class="chart-content" *ngIf="results && results.length">
    <rc-charts-line-chart
      [scheme]="colorScheme"
      [results]="results"
      [xAxis]="true"
      [yAxis]="true"
      [xAxisTickFormatting]="xAxisTickFormatting"
      [yAxisTickFormatting]="yAxisTickFormatting"
      [xAxisTickWidth]="120"
      [legend]="showLegend"
      [legendTitle]="''">
      <ng-template #tooltipTemplate let-model="model">
        <div class="rc-chart-tooltip-item">{{model.series}}</div>
        <div class="rc-chart-tooltip-item">{{'data' | translate}}: {{getPointValueDisplay(model.value, false)}}</div>
        <div class="rc-chart-tooltip-item">{{'unit' | translate}}: {{unit | rcFieldNotAvailable}}</div>
      </ng-template>
      <ng-template #seriesTooltipTemplate let-model="model">
        <div *ngFor="let tooltipItem of model" class="rc-chart-tooltip-item">
          <span class="tooltip-item-color" [style.background-color]="tooltipItem.color"></span>
          <span>{{tooltipItem.series}}: {{getPointValueDisplay(tooltipItem.value)}}</span>
        </div>
      </ng-template>
    </rc-charts-line-chart>
  </div>
</div>
