<div class="modal-body">
  <div class="clean-users-tip">
    <div>
      <div>{{ 'clean_invalid_ldap_users_tip1' | translate : { invalid_accounts: count == null ? invalidAccounts : count } }}</div>
      <div>{{ 'clean_invalid_ldap_users_tip2' | translate }}</div>
    </div>
  </div>
  <div class="search-wrapper">
    <i class="fa fa-search"></i>
    <input rcInput
           name="search"
           [(ngModel)]="search"
           (input)="searchAccounts()"
           [placeholder]="'support_search_by_name' | translate">
  </div>
  <div [rcLoadingMask]="accountsLoading"
       *ngIf="accountsLoading || accounts?.length"
       class="accounts-wrapper">
    <ul class="list-unstyled accounts">
      <li *ngFor="let account of accounts;">
        <div>
          {{ account.username }}
          <i (click)="deleteUsers(account.username)"
             class="fa fa-trash"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button rcButton
          (click)="cancel()">{{ 'close' | translate }}</button>
  <button (click)="deleteUsers()"
          rcButton="primary">{{ 'clean_all' | translate }}</button>
</div>
