<div>
  <div class="rb-monitor-chart-card-toolbar">
    <div class="chart-card-title" title="{{vm.chart.display_name}}">
      {{vm.chart.display_name}}
    </div>
    <div class="chart-card-buttons">
      <button
        ng-click="vm.actionChartRefresh()" uib-tooltip="{{'refresh' | translate}}"><i class="fa fa-refresh"></i>
      </button>
       <button
        ng-click="vm.actionAlarmCreate()" uib-tooltip="{{'alarm_create' | translate}}"><i class="fa fa-bell"></i>
      </button>
      <button
        ng-click="vm.actionChartDetail()" uib-tooltip="{{'detail' | translate}}"><i class="fa fa-arrows-alt"></i>
      </button>
      <button
        ng-if="vm.buttonDisplayExpr('update')"
        ng-click="vm.actionChartUpdate()" uib-tooltip="{{'update' | translate}}"><i class="fa fa-edit"></i>
      </button>
      <button
        ng-if="vm.buttonDisplayExpr('delete')"
        ng-click="vm.actionChartDelete()" uib-tooltip="{{'delete' | translate}}"><i class="fa fa-trash-o"></i>
      </button>
    </div>
  </div>
  <div class="rb-monitor-chart-card-content" rb-loading-mask="vm.deleteSubmiting || vm.refreshing">
    <div class="rb-loading-mask-placeholder" ng-if="!vm.series && vm.loading">
      {{'data_loading' | translate}}
    </div>
    <div class="rb-loading-mask-placeholder" ng-if="!vm.series && !vm.loading">
      {{'no_data' | translate}}
    </div>
    <rb-line-chart ng-if="vm.series"
                   series="vm.series"
                   highcharts-options="vm.highChartsOptions"
                   axis-options="vm.axisOptions"
                   point-tooltip-fn="vm.pointTooltipFn"
                   hide-legend="true"></rb-line-chart>
  </div>
</div>
