rb-monitor-chart-card,
rb-redis-monitor-chart-card,
rb-mysql-monitor-chart-card,
rb-mongodb-monitor-chart-card {
  float: left;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;
  margin: 0 16px 16px 0;
  transition: box-shadow 0.3s;
  margin-bottom: 8px;
  &:hover {
    box-shadow: 0 0 10px 0 #c4c4c4;
  }
  .rb-monitor-chart-card-toolbar {
    display: flex;
    align-items: center;
    height: 32px;
    border-bottom: 1px solid #ebebeb;
    padding: 0 8px;
    justify-content: space-between;
    .chart-card-title {
      display: flex;
      flex: 1;
      align-items: center;
      height: 30px;
      margin-left: -8px;
      padding-left: 8px;
      color: #464646;
      cursor: move;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      i {
        color: #a1a1a1;
        cursor: default;
        margin-left: 8px;
      }
    }
    .chart-card-buttons {
      button {
        width: 30px;
        line-height: 24px;
        background-color: #fff;
        border: none;
        border-radius: 4px;
        color: #a1a1a1;
        display: block;
        float: left;
        transition: background-color 0.3s, color 0.3s;
        border-right-width: 0;
        &:last-child {
          border-right-width: 1px;
        }
        &:hover:not(.cursor-not-allowed) {
          background-color: #f5f5f5;
          color: #0badeb;
        }
      }
    }
  }
  .rb-monitor-chart-card-content {
    height: 240px;
    .rb-loading-mask-placeholder {
      height: 100%;
    }
  }
}
