<form class="load-balancer-port-add-rule"
      #formRef="ngForm"
      onkeypress="return event.keyCode != 13;"
      [rcLoadingMask]="confirming || !services"
      (ngSubmit)="submitForm(formRef)">

  <div class="main-container">
    <div class="card-item">

      <rc-inline-notification type="info"
                              closable='true'
                              content="{{ 'load_balancer_port_add_description' | translate }}">
      </rc-inline-notification>

      <div *ngIf="type === 'create'">
        <div class="rule-basic-info-form">
          <rc-form-field label="{{ 'port' | translate }}">
            <input rcInput
                   type="number"
                   name="basic_prot"
                   pattern="^[1-9]\d*$"
                   [min]="1"
                   [max]="65535"
                   [rcErrorsTooltip]
                   placeholder="1 ~ 65535"
                   [(ngModel)]="frontendBasicModel.port"
                   required>
          </rc-form-field>
          <div style="flex: 1;"></div>
        </div>
        <div class="rule-basic-info-form">
          <rc-form-field label="{{ 'protocol' | translate }}"
                         [shouldFlexRow]="true"
                         style="max-width:50%;">
            <rc-single-selection-dropdown name="basic_protocol"
                                          [options]="PROTOCOLS"
                                          [(ngModel)]="frontendBasicModel.protocol"
                                          displayField="name"
                                          valueField="value"
                                          (ngModelChange)="portProtocolChanged($event)"
                                          required>
            </rc-single-selection-dropdown>
          </rc-form-field>
          <rc-form-field *ngIf="frontendBasicModel.protocol==='https'"
                         [shouldFlexRow]="true"
                         style="max-width:50%;"
                         label="{{ 'default_certificate' | translate }}">
            <rc-single-selection-dropdown [disabled]="frontendBasicModel.protocol!=='https'"
          
                                          [placeholder]="'load_balancer_select_certififcate_hit'|translate"
                                          [options]="certificatesOptions"
                                          name="basic_cert"
                                          displayField="name"
                                          valueField="uuid"
                                          [(ngModel)]="frontendBasicModel.certificate_id"
                                          required>
            </rc-single-selection-dropdown>
          </rc-form-field>
        </div>
        <div class="rule-basic-info-form">
          <rc-form-field label="{{ 'default_service' | translate }}"
                         [shouldFlexRow]="true"
                         style="max-width:50%;">
            <rc-single-selection-dropdown name="basic_service"
                                          [options]="services"
                                          [(ngModel)]="frontendBasicModel.service_id"
                                          direction="downward"
                                          displayField="service_name"
                                          (ngModelChange)="frontendBasicModel.container_ports=[]; setTagsInput(frontendBasicModel.service_id, tagsInputCreate)"
          
                                          valueField="uuid">
            </rc-single-selection-dropdown>
          </rc-form-field>
          <rc-form-field label="{{ 'container_port' | translate }}">
            <rc-tags-input #tagsInputCreate
                           [maxTags]="1"
                           [(ngModel)]="frontendBasicModel.container_ports"
                           [placeholder]="'ports_tags_placeholder' | translate"
                           [pattern]="PATTERNS.NUMBER"
                           [addOnSpace]="true"
                           name="basic_container_ports"></rc-tags-input>
          </rc-form-field>
        </div>
      </div>

      <table class="table basic-info-table"
             *ngIf="type !== 'create'">
        <tbody>
          <tr>
            <td>{{ 'load_balancer' | translate }}</td>
            <td>{{ loadBalancer.name }}</td>
          </tr>
          <tr>
            <td>{{ 'port' | translate }}</td>
            <td>{{ frontendDetail.port }}</td>
          </tr>
          <tr>
            <td>{{ 'protocol' | translate }}</td>
            <td>{{ frontendDetail.protocol | uppercase }}</td>
          </tr>
          <ng-container *ngIf="frontendDetail.protocol === 'https'">
            <tr>
              <td>{{ 'default_certificate' | translate }}</td>
              <td>{{ frontendDetail.certificate_name }}</td>
            </tr>
            <tr>
              <td>{{ 'default_service' | translate }}</td>
              <td>{{ frontendDetail.service_name }}: {{ frontendDetail.port }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <ol class="rules list-unstyled">
      <li *ngFor="let rule of rules; index as i; last as isLast"
          class="card-item"
          [ngClass]="{ expanded: rule.expanded }">
        <div class="rule-header">
          <div *ngIf="type !== 'update'"
               class="priority">
            <span>{{ 'priority' | translate }} {{ i + 1 }}</span>
          </div>
          <div class="rule-summary">
            <div *ngIf="!rule.expanded && rule.description"
                 class="over-ellipsis full">{{ rule.description }}</div>
            <ng-container *ngIf="!rule.expanded && !rule.description && rule.ruleIndicators">
              <ng-container *ngFor="let indicator of getPartialRuleIndicators(rule.ruleIndicators)">
                <ng-container *ngIf="indicator.key">
                  <div class="over-ellipsis"
                       *ngFor="let value of indicator.values">
                    {{ 'rule_' + indicator.type | lowercase | translate }}: {{ indicator.key }}: {{ value.slice(1).join('-')
                    }}
                  </div>
                </ng-container>

                <ng-container *ngIf="!indicator.key">
                  <ng-container *ngFor="let value of indicator.values">
                    <div class="over-ellipsis"
                         *ngFor="let v of value.slice(1)">
                      {{ 'rule_' + indicator.type | lowercase | translate }}: {{ v }}
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
          <div class="rule-actions text-right">
            <span (click)="rule.expanded = !rule.expanded">{{ (rule.expanded ? 'collapse' : 'expand') | translate }}</span>
            <ng-container *ngIf="type !== 'update'">
              <span [ngClass]="{ disabled: !i }"
                    (click)="i && moveRule(i, i - 1)">{{ 'move_up' | translate }}</span>
              <span [ngClass]="{ disabled: isLast }"
                    (click)="isLast || moveRule(i, i + 1)">{{ 'move_down' | translate }}</span>
              <span (click)="rules.splice(i, 1); rules = cloneDeep(rules)">{{ 'delete' | translate }}</span>
            </ng-container>
          </div>
        </div>
        <div #ruleDetail
             class="rule-detail"
             [ngStyle]="{ maxHeight: rule.expanded ? '10000px' : 0 }"
             (click)="ruleDetail.style.overflow = 'hidden'"
             (transitionend)="ruleDetail.style.overflow = rule.expanded ? 'visible' : 'hidden'">
          <table class="table rule-table">
            <tbody>
              <tr>
                <td>{{ 'rule_description' | translate }}</td>
                <td>
                  <input rcInput
                         type="text"
                         [(ngModel)]="rule.description"
                         [name]="'description[' + i + ']'">
                </td>
              </tr>
              <tr>
                <td>{{ 'service_group' | translate }}</td>
                <td>
                  <table class="table">
                    <thead>
                      <tr>
                        <td>{{ 'service_name' | translate }}</td>
                        <td>{{ 'container_port' | translate }}</td>
                        <td>{{ 'weights' | translate }}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ruleService of rule.services; index as j">
                        <td>
                          <rc-single-selection-dropdown [options]="services"
                                                        [(ngModel)]="ruleService.service_id"
                                                        (ngModelChange)="ruleService.container_ports = []; setTagsInput(ruleService.service_id, tagsInput)"
                        
                                                        [name]="'service_id[' + i + '][' + j +']'"
                                                        direction="downward"
                                                        required
                                                        displayField="service_name"
                                                        valueField="uuid"
                                                        [placeholder]="'service' | translate"
                                                        style="display:flex;max-width: 350px;"
                                                        #serviceRef>
                          </rc-single-selection-dropdown>
                        </td>
                        <td>
                          <rc-tags-input #tagsInput
                                         [maxTags]="1"
                                         [disabled]="!ruleService.service_id"
                                         [(ngModel)]="ruleService.container_ports"
                                         (ngModelChange)="changePort(ruleService)"
                                         required
                                         [placeholder]="'ports_tags_placeholder' | translate"
                                         [pattern]="PATTERNS.NUMBER"
                                         [addOnSpace]="true"
                                         [name]="'container_port[' + i + '][' + j + ']'"></rc-tags-input>
                        </td>
                        <td>
                          <div class="input-action">
                            <div class="input-wrapper">
                              <input rcInput
                                     style="min-width: 80px;"
                                     required
                                     pattern="(0|([1-9]?\d?)|100)"
                                     type="number"
                                     [min]="0"
                                     [max]="100"
                                     [name]="'weight[' + i + '][' + j + ']'"
                                     [(ngModel)]="ruleService.weight">
                              <span class="input-addon">{{ getWeightsPercent(rule, ruleService.weight) }}</span>
                            </div>
                            <div>
                              <i class="fa fa-minus-circle"
                                 (click)="rule.services.splice(j, 1); rule.services = cloneDeep(rule.services)"></i>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="add_service"
                       (click)="addService(rule)">
                    <i class="fa fa-plus-circle"></i>
                    {{ 'add_service' | translate }}
                  </div>
                </td>
              </tr>
              <tr *ngIf="loadBalancer.type !== 'elb'">
                <td>{{ 'rule' | translate }}</td>
                <td>
                  <ul class="rule-indicators list-unstyled">
                    <li *ngFor="let ruleIndicator of rule.ruleIndicators; index as k;">
                      <rc-single-selection-dropdown required
                                                    displayField="display"
                                                    valueField="value"
                                                    style="z-index: 1"
                                                    direction="downward"
                                                    [placeholder]="'select_category' | translate"
                                                    [name]="'rule_type['+ i +'][' + k + ']'"
                                                    [options]="ruleTypes"
                                                    [(ngModel)]="ruleIndicator.type"
                                                    (ngModelChange)="onIndicatorTypeChange(ruleIndicator)">
                      </rc-single-selection-dropdown>
                      <input class="indicator-key"
                             *ngIf="ruleIndicator.type && matchTypesMap.get(ruleIndicator.type).key"
                    
                             type="text"
                             rcInput
                             required
                             [(ngModel)]="ruleIndicator.key"
                             [name]="'indicator_key[' + i + k +']'">

                      <div class="rule-indicator">
                        <ul class="list-unstyled">
                          <li *ngFor="let indicatorValue of ruleIndicator.values; index as m">
                            <div class="key-indicator">
                              <rc-single-selection-dropdown *ngIf="ruleIndicator.type !== 'HOST'"
                                                            required
                                                            direction="downward"
                                                            [name]="'match_type['+ i +'][' + k + '][' + m + ']'"
                            
                                                            [options]="ruleIndicator.type && matchTypesMap.get(ruleIndicator.type).matchTypes"
                            
                                                            [(ngModel)]="indicatorValue[0]"
                                                            (ngModelChange)="indicatorValue.length = 1">
                              </rc-single-selection-dropdown>
                              <div class="match-value">
                                <ng-container *ngIf="indicatorValue[0] === 'Range'; else nonRange">
                                  <input type="text"
                                         rcInput
                                         required
                                         [(ngModel)]="indicatorValue[1]"
                                         [name]="'range_start[' + i + '][' + k + '][' + m + ']'">
                                  <span>～</span>
                                  <input type="text"
                                         rcInput
                                         required
                                         [(ngModel)]="indicatorValue[2]"
                                         [name]="'range_end[' + i + '][' + k + '][' + m + ']'">
                                </ng-container>
                                <ng-template #nonRange>
                                  <input type="text"
                                         rcInput
                                         required
                                         [pattern]="PATTERNS[ruleIndicator.type]"
                                         [(ngModel)]="indicatorValue[1]"
                                         [name]="'indicator_value[' + i +'][' + k + '][' + m + ']'">
                                </ng-template>
                              </div>
                            </div>
                            <span>
                              <i class="fa fa-minus-circle"
                                 (click)="ruleIndicator.values.splice(m, 1); ruleIndicator.values = cloneDeep(ruleIndicator.values)"></i>
                            </span>
                          </li>
                          <li *ngIf="ruleIndicator.type && (!isSpecialLb(loadBalancer.type) || !ruleIndicator.values.length)"
                        
                              class="add-indicator"
                              (click)="ruleIndicator.values.push([])">
                            <i class="fa fa-plus-circle"></i>
                            {{ ('add' | translate) + ('word_delimiter' | translate) + (('rule_' + ruleIndicator.type
                            | lowercase) | translate) }}
                          </li>
                        </ul>
                      </div>
                      <div class="remove-indicator">
                        <i class="fa fa-trash"
                           (click)="rule.ruleIndicators.splice(k, 1); rule.ruleIndicators = cloneDeep(rule.ruleIndicators)"></i>
                      </div>
                    </li>
                  </ul>
                  <div *ngIf="!isSpecialLb(loadBalancer.type) || rule.ruleIndicators.length < 2"
                       class="add-rule-indicator">
                    <span (click)="addRuleIndicator(rule)">
                      <i class="fa fa-plus-circle"></i>
                      {{ 'add_rule_indicator' | translate }}
                    </span>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <rc-checkbox [(ngModel)]="rule.sessionAffinity"
                               (ngModelChange)="rule.session_affinity_policy = rule.session_affinity_attribute = ''"
                
                               [name]="'session_affinity[' + i + ']'">
                    {{ 'session_affinity' | translate }}
                  </rc-checkbox>
                  <div class="session-affinity"
                       *ngIf="rule.sessionAffinity">
                    <rc-single-selection-dropdown required
                                                  [name]="'session_affinity_policy['+ i +']'"
                                                  [options]="sessionAffinities"
                                                  displayField="display"
                                                  valueField="value"
                                                  [(ngModel)]="rule.session_affinity_policy"
                                                  (ngModelChange)="rule.session_affinity_attribute = ''">
                    </rc-single-selection-dropdown>
                    <input *ngIf="rule.session_affinity_policy === 'cookie'"
                           rcInput
                           required
                           type="text"
                           [name]="'session_affinity_attribute['+ i +']'"
                           [(ngModel)]="rule.session_affinity_attribute">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ol>

    <div *ngIf="type !== 'update'"
         class="add-rule">
      <span (click)="addRule()">
        <i class="fa fa-plus-circle"></i>
        {{ 'add_rule' | translate }}
      </span>
    </div>
  </div>

  <div class="modal-footer"
       style="padding: 12px">
    <button rcButton
            style="margin-right: 8px"
            (click)="confirmed.next()">{{ 'cancel' | translate }}</button>
    <button rcButton="primary"
            type="submit">{{ 'confirm' | translate }}</button>
  </div>
</form>
