@import 'colors.styles';

.load-balancer-port-sort-rules {
  display: flex;
  height: 100%;
  flex-direction: column;

  .main-container {
    flex: 1;
    padding: 15px 0;
    overflow-y: auto;
    padding: 20px;
  }

  .tips-wrapper {
    line-height: 32px;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .tips {
    display: flex;
    padding: 10px;
    border-radius: 4px;
    background-color: $yellow-6;

    > {
      :first-child {
        flex: 1;
        padding-right: 10px;
        color: $text-desc-color;
      }

      :last-child {
        display: flex;
        align-items: center;
        color: $blue-3;

        .fa {
          cursor: pointer;
        }
      }
    }
  }

  .over-ellipsis {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .rule-item-wrapper {
    &:not(:first-child) {
      padding-top: 12px;
    }

    &.dragging .rule-item {
      background-color: $yellow-7;
    }

    &.preview {
      &:before {
        display: block;
        content: '';
        border: 1px dashed $blue-7;
        padding: 15px 30px 15px 60px;
      }
    }
  }

  .rule-item {
    position: relative;
    display: flex;
    padding: 15px 30px 15px 60px;
    background-color: #f8f9f9;
    cursor: all-scroll;
  }

  .priority-wrapper {
    position: absolute;
    overflow: hidden;
    width: 50px;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .priority {
    position: absolute;
    padding: 2px 2px 2px 15px;
    width: 80px;
    text-align: center;
    left: -28px;
    top: 22px;
    font-size: 12px;
    transform: translate3d(0, -50%, 0) rotate(-45deg);
    background-color: $yellow-7;

    span {
      display: inline-block;
      transform: scale((9/12));
    }
  }

  .rule-summary {
    flex: 1;
    display: flex;
    overflow: hidden;

    > .over-ellipsis:not(.full) {
      width: (100% / 3);
    }
  }

  .more-detail {
    background-color: $blue-3;
    color: #fff;
    width: 16px;
    height: 12px;
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $blue-7;
    }
  }

  .indicator-item {
    display: flex;

    > :first-child {
      margin-right: 5px;

      &:after {
        content: ':';
      }
    }
  }

  .modal-footer {
    background-color: $silver-6;
    box-shadow: 0 0 8px 0 rgba(196, 201, 203, 0.65);
  }
}
