<form #form="ngForm">
  <div class="main-container"
       [rcLoadingMask]="confirming || !services">
    <div class="row-item">
      <span>{{ 'default_service_name' | translate}}</span>
      <rc-single-selection-dropdown [options]="services"
                                    [(ngModel)]="serviceId"
                                    (ngModelChange)="setTagsInput(tagsInput)"
                                    name="service"
                                    displayField="service_name"
                                    valueField="uuid"></rc-single-selection-dropdown>
    </div>
    <div class="row-item">
      <span>{{ 'port' | translate }}</span>
      <rc-tags-input #tagsInput
                     [maxTags]="1"
                     [addOnSpace]="true"
                     [disabled]="!serviceId"
                     [(ngModel)]="inputPorts"
                     (ngModelChange)="port = +inputPorts[0]"
                     [placeholder]="'port' | translate"
                     [pattern]="PATTERNS.NUMBER"
                     [required]="serviceId"
                     name="port"></rc-tags-input>
    </div>
  </div>
  <div class="modal-footer">
    <button rcButton
            (click)="confirmed.next()">{{ 'cancel' | translate }}</button>
    <button rcButton="primary"
            type="submit"
            [disabled]="!form.valid || this.submitting"
            (click)="submitForm(form)">{{ 'confirm' | translate }}</button>
  </div>
</form>
