<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a
        href="javascript:void(0)"
        [routerLink]="['/load_balancer']"
      >
        {{ 'nav_network'| translate }}
      </a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      <a
        href="javascript:void(0)"
        [routerLink]="['/load_balancer/detail', loadBalancer.name]"
      >
        {{ 'load_balancer'| translate }}
      </a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>{{ 'port'| translate }}</ng-container>
  </rc-breadcrumb>
</ng-container>

<rc-collapse-pane [hidden]="true">
  <div
    class="rc-detail-container"
    style="margin-bottom: 0"
  >
    <div>
      <div class="detail-icon">
        <img
          src="/static/images/network/port.svg"
          alt
        >
      </div>
      <div class="detail-wrapper">
        <div class="detail-header">
          <h3>
            <a [routerLink]="['/load_balancer/detail', loadBalancer.name]">{{ loadBalancer.name }}</a>
            : {{ port }}
          </h3>
          <div
            class="detail-buttons"
            style="display: flex"
          >
            <button
              rcButton="primary"
              *ngIf="frontendDetail.protocol !== 'tcp' && loadBalancer.type !== 'elb' && canUpdate()"
              (click)="addRule()"
            >
              {{ 'add_rule' | translate }}
            </button>
            <rc-button-menu
              class="lb-detail-button"
              *ngIf="canUpdate()"
              [text]="'action' | translate"
            >
              <button
                rcMenuButton
                *ngIf="frontendDetail.protocol === 'https'"
                (click)="updateCertificate()"
              >
                {{ 'update_default_certificate' | translate }}
              </button>
              <button
                rcMenuButton
                (click)="updateService()"
              >
                {{ 'update_default_service' | translate }}
              </button>
              <button
                rcMenuButton
                [disabled]="frontendDetail.protocol === 'tcp' || loadBalancer.type === 'elb' || loadBalancer.type === 'clb'"
                (click)="sortRules()"
              >
                {{ 'set_rule_sorting' | translate }}
              </button>
              <button
                rcMenuButton
                [disabled]="frontendDetail.service_count > 1"
                (click)="deleteFrontendDetail()"
              >
                {{ 'delete_port' | translate }}
              </button>
            </rc-button-menu>
          </div>
        </div>
        <div class="detail-content">
          <div class="detail-item">
            <label>{{ 'region_belonged' | translate }}</label>
            <a
              href="javascript:void(0)"
              [routerLink]="['/cluster/detail', loadBalancer.region_name]"
            >
              {{ loadBalancer.region_name }}
            </a>
          </div>
          <div class="detail-item">
            <label>{{ 'default_certificate' | translate }}</label>
            <div>
              {{ frontendDetail.protocol === 'https' && frontendDetail.certificate_name || '-'
                }}
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'protocol' | translate }}</label>
            <div>
              {{ frontendDetail.protocol | uppercase }}
            </div>
          </div>
          <div class="detail-item">
            <label>{{ 'default_service' | translate }}</label>
            <div>
              <ng-container *ngIf="frontendDetail.service_id; else noService">
                <a
                  *ngIf="isK8sService"
                  [routerLink]="['/k8s_app/detail/component', frontendDetail.service_id]"
                  rcTooltipPosition="top center"
                  [rcTooltip]="frontendDetail.service_name"
                >
                  {{ frontendDetail.service_name }}
                </a>
                <a
                  *ngIf="!isK8sService"
                  [routerLink]="['/app_service/service/service_detail', frontendDetail.service_id]"
                  [queryParams]="{application: frontendDetail.app_name}"
                  rcTooltipPosition="top center"
                  [rcTooltip]="(frontendDetail.app_name ? frontendDetail.app_name + '.' : '') + frontendDetail.service_name"
                >
                  <ng-container *ngIf="frontendDetail.app_name">{{ frontendDetail.app_name }}.</ng-container>
                  {{ frontendDetail.service_name }}
                </a>
                : {{ frontendDetail.container_port }}
              </ng-container>
              <ng-template #noService>-</ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</rc-collapse-pane>

<div class="load-balancer-rules">
  <rc-tab-group>
    <ng-container *rcTab="'rule' | translate">
      <div
        [rcLoadingMask]="searching"
        class="tab-content"
      >
        <div class="search-row">
          <button
            class="btn-refresh"
            (click)="getPageRules()"
          >
            <i class="fa fa-refresh"></i>
          </button>
          <div class="input-wrapper">
            <button (click)="page = 1; getPageRules()">
              <i class="fa fa-search"></i>
            </button>
            <input
              type="text"
              [placeholder]="'support_search_by_description' | translate"
              [(ngModel)]="search"
            >
          </div>
        </div>

        <table class="table load-balancer-rules-table">
          <thead>
            <tr>
              <td>{{ 'description' | translate }}</td>
              <td>{{ 'rule' | translate }}</td>
              <td>{{ 'service_group' | translate }}</td>
              <td>{{ 'action' | translate }}</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rule of rules">
              <td>{{ rule.description || '-' }}</td>
              <td>
                <ng-container *ngIf="rule.dsl; else noDsl">
                  <div
                    class="indicator-item"
                    *ngFor="let indicator of getPartiaIndicators(rule.dsl).indicators"
                  >
                    <div>
                      {{ 'rule_' + indicator.type | lowercase | translate}}
                    </div>
                    <div>
                      <ng-container *ngFor="let value of indicator.values">
                        <div>
                          {{ indicator.key && (indicator.key + ':') }}{{ value.slice(1).join('-')
                          }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
                <ng-template #noDsl>
                  <div
                    *ngIf="rule.domain"
                    class="indicator-item"
                  >
                    <div>{{ 'rule_host' | translate }}</div>
                    <div>
                      <div>{{ rule.domain }}</div>
                    </div>
                  </div>
                  <div
                    *ngIf="rule.url"
                    class="indicator-item"
                  >
                    <div>{{ 'rule_url' | translate }}</div>
                    <div>
                      <div>{{ rule.url }}</div>
                    </div>
                  </div>
                </ng-template>
                <span
                  class="more-detail"
                  *ngIf="getPartiaIndicators(rule.dsl).more"
                  [rcTooltip]="indicatorDetail"
                  rcTooltipMode="info"
                  rcTooltipPosition="bottom left"
                >
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <ng-template #indicatorDetail>
                  <div
                    class="indicator-item"
                    *ngFor="let indicator of parseDSL(rule.dsl)"
                  >
                    <div>
                      {{ 'rule_' + indicator.type | lowercase | translate}}
                    </div>
                    <div>
                      <ng-container *ngFor="let value of indicator.values">
                        <div>
                          {{ indicator.key && (indicator.key + ':') }}{{ value.slice(1).join('-')
                          }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-template>
              </td>
              <td>
                <div
                  class="rule-service-group"
                  *ngFor="let service of rule.services.slice(0, 3)"
                >
                  <div class="rule-service">
                    <div>{{ 'service' | translate }}:</div>
                    <a
                      *ngIf="isK8sService"
                      [routerLink]="['/k8s_app/detail/component', service.service_id]"
                      rcTooltipPosition="top center"
                      [rcTooltip]="service.service_name"
                    >
                      {{ service.service_name }}
                    </a>
                    <a
                      *ngIf="!isK8sService"
                      class="service-link"
                      [routerLink]="['/app_service/service/service_detail', service.service_id]"
                      [queryParams]="{application: service.app_name}"
                      rcTooltipPosition="top center"
                      [rcTooltip]="service.app_name ? service.app_name + '.' + service.service_name: service.service_name"
                    >
                      <ng-container *ngIf="service.app_name">{{ service.app_name }}.</ng-container>
                      {{ service.service_name }}
                    </a>
                    <div>: {{ service.container_port }}</div>
                  </div>
                  <div>
                    {{ 'weights' | translate }} : {{ service.weight }} ({{ getWeightsPercent(rule.services,
                    service.weight) }})
                  </div>
                </div>
                <span
                  *ngIf="rule.services.length > 3"
                  class="more-detail"
                  [rcTooltip]="serviceGroupDetail"
                  rcTooltipMode="info"
                  rcTooltipPosition="bottom left"
                >
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <ng-template #serviceGroupDetail>
                  <div
                    class="rule-service-group"
                    *ngFor="let service of rule.services"
                  >
                    <div class="rule-service">
                      <div>{{ 'service' | translate }} :</div>
                      <a class="service-link">{{ service.service_name }}</a>
                      <div>: {{ service.container_port }}</div>
                    </div>
                    <div>
                      {{ 'weights' | translate }} : {{ service.weight }} ({{ getWeightsPercent(rule.services,
                      service.weight) }})
                    </div>
                  </div>
                </ng-template>
              </td>
              <td>
                <rc-button-menu *ngIf="canUpdate()">
                  <button
                    rcButton
                    rcButtonSize="small" rcButtonMenuDefault
                    [disabled]="rule.type === 'system'"
                    (click)="addService(rule)"
                  >
                    {{ 'add_service' | translate }}
                  </button>
                  <button
                    rcMenuButton
                    [disabled]="rule.type === 'system'"
                    (click)="updateRule(rule)"
                  >
                    {{ 'update_rule' | translate }}
                  </button>
                  <button
                    rcMenuButton
                    [disabled]="rule.services.length > 1"
                    (click)="deleteRule(rule)"
                  >
                    {{ 'delete_rule' | translate }}
                  </button>
                </rc-button-menu>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="rc-list-pagination">
          <rc-pagination
            [count]="count"
            [currentPage]="page"
            [pageSize]="pageSize"
            (pageChanged)="pageChanged($event)"
          ></rc-pagination>
        </div>
      </div>
    </ng-container>
  </rc-tab-group>
</div>
