@import 'colors.styles';

$separation: 20px;
.load-balancer-rules {
  background-color: $card-background-color;
  margin-top: $separation;

  ::ng-deep {
    rc-loading-mask {
      position: absolute;
      top: 0;
    }

    .mat-tab-body-wrapper,
    .mat-tab-body-active,
    .mat-tab-body-content {
      overflow: visible;
    }
  }

  .tab-content {
    margin: 0 12px;
  }

  .search-row {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;

    .input-wrapper {
      display: flex;
      flex-direction: row-reverse;
      flex: 1;
      flex-grow: (1/3);
      border: 1px solid $form-input-border-color;
      border-radius: 5px;
      padding-left: 8px;

      input {
        flex: 1;
        border: 0;
        padding-right: 8px;
      }

      button {
        width: 36px;
        height: 30px;
        border-left: 1px solid $form-input-border-color;
        border-radius: 0;
      }
    }

    button {
      border: 0;
      background-color: transparent;

      &.btn-refresh {
        border: 1px solid $form-input-border-color;
        width: 36px;
        height: 32px;
        margin-left: 8px;
      }
    }
  }

  .rc-list-pagination {
    display: flex;
    justify-content: flex-end;
  }
}

.load-balancer-rules-table {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;

  td {
    width: 20%;
    vertical-align: middle;

    &:nth-child(3) {
      width: 40%;
    }
  }

  .indicator-item {
    display: flex;
    word-break: break-all;

    > :first-child {
      margin-right: 5px;
      white-space: nowrap;

      &:after {
        content: ':';
      }
    }
  }

  .more-detail {
    background-color: $blue-3;
    color: #fff;
    width: 16px;
    height: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $blue-7;
    }
  }

  .rule-service-group {
    display: flex;
    max-width: 400px;

    > .rule-service {
      flex-basis: 180px;
      display: flex;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 10px;

      > :first-child {
        padding-right: 5px;
      }

      .service-link {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      + div {
        white-space: nowrap;
      }
    }
  }
}
