<div class="load-balancer-port-sort-rules"
     [rcLoadingMask]="confirming || !rules">
  <div class="main-container">

    <rc-inline-notification type="info"
                            closable='true'
                            content="{{ 'load_balancer_rule_sort_description' | translate }}">
    </rc-inline-notification>

    <ng-container *ngFor="let rule of rules; index as i">
      <div class="rule-item-wrapper"
           [ngClass]="{dragging: draggingIndex === i}"
           draggable="true"
           (dragstart)="onDragStart(i, $event)"
           (dragenter)="onDragEnter(i)"
           (dragover)="$event.preventDefault()"
           (dragend)="onDragEnd()"
           (drop)="onDrop(i)">
        <div class="rule-item">
          <div class="priority-wrapper">
            <div class="priority">
              <span>{{ 'priority' | translate }} {{ i + 1 }}</span>
            </div>
          </div>
          <div class="rule-summary">
            <div *ngIf="!rule.expanded && rule.description"
                 class="over-ellipsis full">{{ rule.description }}</div>
            <ng-container *ngIf="!rule.expanded && !rule.description && rule.dsl">
              <ng-container *ngFor="let indicator of getPartialRuleIndicators(rule).indicators">
                <ng-container *ngFor="let value of indicator.values">
                  <div class="over-ellipsis"
                       *ngIf="value[0] === 'Range'; else nonRange">
                    {{ 'rule_' + indicator.type | lowercase | translate }}: {{ indicator.key && (indicator.key
                    + ':') }}{{ value.slice(1).join('-') }}
                  </div>
                  <ng-template #nonRange>
                    <div class="over-ellipsis"
                         *ngFor="let v of value.slice(1)">
                      {{ 'rule_' + indicator.type | lowercase | translate }}: {{ v }}
                    </div>
                  </ng-template>
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!rule.dsl">
              <div class="over-ellipsis full">
                <div *ngIf="rule.domain">{{ 'domain' | translate }}: {{rule.domain}}</div>
                <div *ngIf="rule.url">{{ 'url' | translate }}: {{rule.url}}</div>
              </div>
            </ng-container>
          </div>
          <div class="more-detail"
               [rcTooltip]="indicatorDetail"
               rcTooltipMode="info"
               rcTooltipPosition="bottom left">
            <i class="fa fa-ellipsis-h"></i>
          </div>
          <ng-template #indicatorDetail>
            <div class="indicator-item"
                 *ngFor="let indicator of parseDSL(rule)">
              <div>{{ 'rule_' + indicator.type | lowercase | translate}}</div>
              <div>
                <ng-container *ngFor="let value of indicator.values">
                  <div>{{ indicator.key && (indicator.key + ':') }}{{ value.slice(1).join('-')
                    }}
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div *ngIf="previewingIndex === i"
           class="rule-item-wrapper preview"
           (dragover)="$event.preventDefault()"
           (drop)="onDrop(i)"></div>
    </ng-container>
  </div>

  <div class="modal-footer">
    <button rcButton
            (click)="confirmed.next()">{{ 'cancel' | translate }}</button>
    <button rcButton="primary"
            (click)="sortRules()">{{ 'confirm' | translate }}</button>
  </div>
</div>
