@import 'colors.styles';

::ng-deep {
  .addon-container {
    display: none !important;
  }
  .rule-basic-info-form {
    .form-main-container {
      width: 100%;
      .form-input-row {
        width: 100%;
        rc-single-selection-dropdown {
          width: 100%;
        }
        rc-tags-input {
          width: 100%;
        }
      }
    }
    .certificate-disbaled {
      label {
        color: $silver-6;
      }
    }
  }
}

.load-balancer-port-add-rule {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: $silver-6;
  rc-form-field {
    flex: 1;
  }

  ::ng-deep {
    rc-loading-mask {
      z-index: 20001;
    }
  }

  .disabled-font {
    color: $gray-1;
  }

  .main-container {
    height: 100%;
    overflow-y: auto;
  }

  .card-item {
    padding: 15px 20px;
    background-color: $card-background-color;
    margin-bottom: 10px;
  }
  .rule-basic-info-form {
    display: flex;
    margin-right: 10px;
  }

  .rule-description {
    line-height: 24px;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    background-color: $yellow-6;
    margin-bottom: 20px;

    > {
      :first-child {
        flex: 1;
        padding-right: 10px;
        color: $text-desc-color;
      }

      :last-child {
        display: flex;
        align-items: center;
        color: $blue-3;

        .fa {
          cursor: pointer;
        }
      }
    }
  }

  .basic-info-table {
    margin-bottom: 10px;

    td {
      border-top: 0;
      color: #666;

      &:first-child {
        width: 20%;
        text-align: right;
      }
    }
  }

  .over-ellipsis {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .rules {
    .card-item {
      padding: 0 20px;

      &.expanded {
        padding-bottom: 15px;

        .rule-detail {
          transition-timing-function: ease-out;
        }
      }
    }

    .rule-header {
      position: relative;
      display: flex;
      padding: 15px 0 15px 60px;
      margin-left: -20px;
      overflow: hidden;
    }

    .priority {
      position: absolute;
      padding: 2px 2px 2px 15px;
      width: 80px;
      text-align: center;
      left: -28px;
      top: 22px;
      font-size: 12px;
      transform: translate3d(0, -50%, 0) rotate(-45deg);
      background-color: #faf4bc;

      span {
        display: inline-block;
        transform: scale((9/12));
      }
    }

    .rule-summary {
      flex: 1;
      display: flex;
      overflow: hidden;

      > .over-ellipsis:not(.full) {
        width: (100% / 3);
      }
    }

    .rule-actions {
      position: relative;
      padding-left: 20px;
      overflow: hidden;

      > span {
        cursor: pointer;
        padding: 0 10px;
        color: $blue-6;
        border-right: 1px solid $gray-6;

        &:last-child:not(:first-child) {
          border: 0;
          color: $text-warnings-color;
        }

        &.disabled {
          color: $silver-6;
          cursor: not-allowed;
        }
      }
    }

    .rule-detail {
      transition: max-height 0.5s;
    }

    .rule-table {
      td {
        border-top: 0;
        color: #666;
      }

      > tbody > tr {
        &:first-child > td {
          padding-top: 10px;
          vertical-align: middle;
        }

        > td {
          padding-top: 40px;

          &:first-child {
            width: 20%;
            text-align: right;
            white-space: nowrap;
          }
        }
      }

      .table {
        margin-bottom: 0;

        td {
          width: 31%;

          &:last-child {
            width: 38%;
          }
        }

        thead td {
          padding: 0 0 10px;
          text-align: left;
          color: $text-desc-color;
        }

        tbody td {
          padding: 4px 8px 4px 0;

          .input-action {
            display: flex;
          }

          .input-wrapper {
            display: flex;
            flex: 1;
            border-radius: 5px;
            border: 1px solid $form-input-border-color;
            background-color: $card-background-color;

            input {
              flex: 1;
              border: 0;
              padding-left: 5px;
              padding-right: 5px;
              width: 0;
              height: auto;
            }

            .input-addon {
              padding: 5px 12px;
              border-left: 1px solid $form-input-border-color;
            }

            + div {
              display: flex;
              align-items: center;
              margin-left: 10px;

              .fa {
                padding: 5px;
                color: $blue-3;
                cursor: pointer;
              }
            }
          }
        }

        ::ng-deep {
          .rc-tags-input-container .rc-tags-input-wrapper {
            &.rc-state-focus {
              border-radius: 5px;
            }

            .rc-tag-item {
              margin: 3px 4px 3px 0;

              + .rc-tag-input-item {
                display: none;
              }
            }
          }
        }
      }

      .add_service {
        margin-top: 8px;
        border-radius: 2px;
        padding: 3px;
        text-align: center;
        font-size: 12px;
        color: $blue-6;
        background-color: $blue-1;
        cursor: pointer;
      }

      .rule-indicators {
        $dash-border-color: #e5e1e1;
        $tip-color: #bdc8cf;
        $tip-bg-color: #f5f6f6;

        > li {
          position: relative;
          display: flex;
          margin-bottom: 20px;

          &:first-child {
            margin-top: 20px;
          }

          &:not(:first-child) {
            margin-top: 50px;

            &:before {
              position: absolute;
              content: '';
              top: -25px;
              right: 102px;
              transform: translate3d(0, -50%, 0);
              border: 10px solid transparent;
              border-right-color: $tip-bg-color;
            }

            &:after {
              position: absolute;
              top: -25px;
              right: 77px;
              font-size: 12px;
              width: 25px;
              height: 20px;
              display: flex;
              align-items: center;
              transform: translate3d(0, -50%, 0);
              content: 'and';
              color: $tip-color;
              background-color: $tip-bg-color;
            }

            > .rule-indicator {
              &:before {
                position: absolute;
                top: 0;
                right: 15px;
                transform: translate3d(0, -100%, 0);
                content: '';
                height: 50px;
                border-right: 1px dashed $dash-border-color;
              }
            }
          }

          > .rule-indicator {
            position: relative;
            flex: 1;
            border: 1px dashed $dash-border-color;
            padding: 30px 40px 30px 25px;
            border-radius: 3px;

            &:after {
              content: 'or';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              background-color: $tip-bg-color;
              border-radius: 3px;
              color: $tip-color;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              width: 16px;
            }

            > ul > li {
              margin-top: 8px;

              &:not(.add-indicator) {
                display: flex;

                > :first-child {
                  flex: 1;
                }

                > span:last-child {
                  display: flex;
                  padding-left: 10px;
                  align-items: center;

                  .fa {
                    padding: 5px;
                    cursor: pointer;
                    color: $blue-3;
                  }
                }
              }
            }
          }

          > .remove-indicator {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;

            .fa {
              padding: 5px;
              color: $blue-3;
              cursor: pointer;
            }
          }

          > rc-single-selection-dropdown {
            position: absolute;
            top: 0;
            left: 25px;
            transform: translate3d(0, -50%, 0);
          }

          .indicator-key {
            position: absolute;
            z-index: 1;
            width: 160px;
            top: 0;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
          }

          .key-indicator {
            display: flex;
          }

          .match-value {
            display: flex;
            flex: 1;

            &:not(:first-child) {
              padding-left: 8px;
            }

            > input {
              flex: 1;
            }

            > span {
              padding: 0 8px;
              align-self: center;
            }
          }

          .add-indicator {
            font-size: 12px;
            color: $blue-6;
            cursor: pointer;
            background-color: #e3f3fa;
            border-radius: 2px;
            text-align: center;
            padding: 3px;
          }
        }
      }

      .add-rule-indicator {
        color: $blue-6;

        span {
          cursor: pointer;
        }
      }
    }

    .session-affinity {
      display: flex;
      margin-top: 10px;

      > input {
        margin-left: 10px;
      }
    }
  }

  .add-rule {
    color: $blue-6;
    padding: 20px 70px;

    span {
      cursor: pointer;
    }
  }

  .modal-footer {
    z-index: 1;
    background-color: $silver-6;
    box-shadow: 0 0 8px 0 rgba(196, 201, 203, 0.65);
  }
}
