<form class="load-balancer-port-add-service"
      #formRef="ngForm"
      onkeypress="return event.keyCode != 13;"
      [rcLoadingMask]="confirming || !services"
      (ngSubmit)="submitForm(formRef)">
  <div class="main-container">

    <rc-inline-notification type="info"
                            closable='true'
                            content="{{ 'load_balancer_port_add_description' | translate }}">
    </rc-inline-notification>

    <table class="table">
      <tbody>
        <tr>
          <td>{{ 'load_balancer' | translate }}</td>
          <td>{{ modalData.lbName }}</td>
        </tr>
        <tr>
          <td>{{ 'port' | translate }}</td>
          <td>{{ modalData.port }}</td>
        </tr>
        <tr>
          <td>{{ 'protocol' | translate }}</td>
          <td>{{ modalData.protocol | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ 'rule' | translate }}</td>
          <td *ngIf="type==='create'">
            <table class="rule-select-table">
              <thead>
                <tr class="rule-select-title">
                  <td style="width: 150px">{{ 'select'| translate }}</td>
                  <td class="rule-select-column">{{ 'rule'| translate }}</td>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="modalData.parsedRules.length">
                  <tr *ngFor="let rule of modalData.parsedRules; let idx = index; trackBy: idx"
                      class="rule-select-table-row">
                    <td>
                      <rc-checkbox [disabled]="modalData.ruleList[idx].type === 'system'"
                                   [checked]="selectedRuleIndex === idx"
                                   (change)="ruleSelectedChanged($event, idx)">
                      </rc-checkbox>
                    </td>
                    <td style="text-align: left">
                      <div *ngIf="modalData.ruleList[idx].domain && !modalData.ruleList[idx].dsl">
                        {{ 'domain'| translate }}: {{ modalData.ruleList[idx].domain }}
                      </div>
                      <div *ngFor="let indicator of rule.indicators">
                        <div>
                          <span>
                            {{ 'rule_' + indicator.type | lowercase | translate}}
                          </span>
                          <span>
                            <ng-container *ngIf="indicator.key; else noKey">
                              <span *ngFor="let value of indicator.values">
                                {{ indicator.key }}: {{ value.slice(1).join('-') }}:
                              </span>
                            </ng-container>
                            <ng-template #noKey>
                              <ng-container *ngFor="let value of indicator.values">
                                <span *ngFor="let v of value.slice(1)">{{ v }}</span>
                              </ng-container>
                            </ng-template>
                          </span>
                        </div>
                        <div>

                        </div>
                      </div>
                      <span class="more-detail"
                            *ngIf="rule.more"
                            [rcTooltip]="indicatorDetail"
                            rcTooltipMode="info"
                            rcTooltipPosition="bottom left">
                        <i class="fa fa-ellipsis-h"></i>
                      </span>
                      <ng-template #indicatorDetail>
                        <div class="indicator-item"
                             *ngFor="let indicator of parseDSL(rule)">
                          <div>{{ 'rule_' + indicator.type | lowercase | translate}}</div>
                          <div>
                            <ng-container *ngFor="let value of indicator.values">
                              <div>{{ indicator.key && (indicator.key + ':') }}{{ value.slice(1).join('-')
                                }}
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </ng-template>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div *ngIf="!modalData.parsedRules.length"
                 class="table_have_no_data">
              {{ 'have_no_data'| translate }}
            </div>
          </td>
          <td *ngIf="type ==='add'">
            <div class="indicator-item"
                 *ngFor="let indicator of ruleIndicators">
              <div>{{ 'rule_' + indicator.type | lowercase | translate}}</div>
              <div>
                <ng-container *ngIf="indicator.key; else noKey">
                  <div *ngFor="let value of indicator.values">
                    {{ indicator.key }}: {{ value.slice(1).join('-') }}
                  </div>
                </ng-container>
                <ng-template #noKey>
                  <ng-container *ngFor="let value of indicator.values">
                    <div *ngFor="let v of value.slice(1)">{{ v }}</div>
                  </ng-container>
                </ng-template>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>{{ 'service_group' | translate }}</td>
          <td>
            <table class="table">
              <thead>
                <tr>
                  <td>{{ 'service_name' | translate }}</td>
                  <td>{{ 'container_port' | translate }}</td>
                  <td>{{ 'weights' | translate }}</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ruleService of ruleServices; index as i">
                  <td>
                    <rc-single-selection-dropdown [options]="services"
                                                  [(ngModel)]="ruleService.service_id"
                                                  (ngModelChange)="ruleService.container_ports = []; setTagsInput(ruleService.service_id, tagsInput)"

                                                  [name]="'service_id[' + i + ']'"
                                                  required
                                                  displayField="service_name"
                                                  valueField="uuid"
                                                  [placeholder]="'service' | translate"
                                                  style="display:flex">
                    </rc-single-selection-dropdown>
                  </td>
                  <td>
                    <rc-tags-input #tagsInput
                                   [maxTags]="1"
                                   [disabled]="!ruleService.service_id"
                                   [(ngModel)]="ruleService.container_ports"
                                   (ngModelChange)="changePort(ruleService)"
                                   required
                                   [placeholder]="'ports_tags_placeholder' | translate"
                                   [pattern]="PATTERNS.NUMBER"
                                   [addOnSpace]="true"
                                   [name]="'container_port[' + i + ']'"></rc-tags-input>
                  </td>
                  <td>
                    <div class="input-action">
                      <div class="input-wrapper">
                        <input rcInput
                               type="number"
                               pattern="(0|([1-9]?\d?)|100)"
                               [min]="0"
                               [max]="100"
                               [name]="'weight[' + i + ']'"
                               [required]="true"
                               [(ngModel)]="ruleService.weight">
                        <span class="input-addon">{{ getWeightsPercent(ruleService.weight) }}</span>
                      </div>
                      <div>
                        <i class="fa fa-minus-circle"
                           (click)="removeService(i)"></i>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="add_service"
                 (click)="addService()">
              <i class="fa fa-plus-circle"></i>
              {{ 'add_service' | translate }}
            </div>
          </td>
      </tbody>
    </table>
  </div>
  <div class="modal-footer"
       style="padding: 12px">
    <button rcButton
            style="margin-right:8px"
            (click)="confirmed.next()">{{ 'cancel' | translate }}</button>
    <button rcButton="primary"
            [disabled]="selectedRuleIndex === -1 && type === 'create'"
            type="submit">{{ 'confirm' | translate }}</button>
  </div>
</form>
