@import 'colors.styles';
.load-balancer-port-add-service {
  position: absolute;
  width: 100%;
  top: 46px;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .main-container {
    height: 100%;
    padding: 20px;
    overflow-y: auto;

    > .table {
      td {
        border-top: 0;
        color: #666;
      }

      > tbody > tr > td:first-child {
        width: 10%;
        text-align: right;
        white-space: nowrap;
      }

      .indicator-item {
        display: flex;

        > :first-child {
          margin-right: 5px;

          &:after {
            content: ':';
          }
        }
      }

      .table {
        margin-bottom: 0;

        td {
          width: 31%;

          &:last-child {
            width: 38%;
          }
        }

        thead td {
          padding: 0 0 10px;
          text-align: left;
          color: $text-desc-color;
        }

        tbody td {
          padding: 4px 8px 4px 0;

          .input-action {
            display: flex;
          }

          .input-wrapper {
            display: flex;
            flex: 1;
            border-radius: 5px;
            border: 1px solid $form-input-border-color;
            background-color: $card-background-color;

            input {
              flex: 1;
              border: 0;
              padding-left: 5px;
              padding-right: 5px;
              width: 0;
              height: auto;
            }

            .input-addon {
              padding: 5px 12px;
              border-left: 1px solid $form-input-border-color;
            }

            + div {
              display: flex;
              align-items: center;
              margin-left: 10px;

              .fa {
                padding: 5px;
                color: $blue-3;
                cursor: pointer;
              }
            }
          }
        }

        ::ng-deep {
          .rc-tags-input-container .rc-tags-input-wrapper {
            &.rc-state-focus {
              border-radius: 5px;
            }

            .rc-tag-item {
              margin: 3px 4px 3px 0;

              + .rc-tag-input-item {
                display: none;
              }
            }
          }
        }
      }

      .add_service {
        margin-top: 10px;
        border-radius: 2px;
        padding: 3px;
        text-align: center;
        font-size: 12px;
        color: $blue-6;
        background-color: $blue-1;
        cursor: pointer;
      }
    }
  }

  .rule-description {
    line-height: 24px;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    background-color: $yellow-6;
    margin-bottom: 20px;

    > {
      :first-child {
        flex: 1;
        padding-right: 10px;
        color: $text-desc-color;
      }

      :last-child {
        display: flex;
        align-items: center;
        color: $blue-3;

        .fa {
          cursor: pointer;
        }
      }
    }
  }
  .rule-select-table {
    width: 100%;
    border: 1px solid $silver-6;
    margin-bottom: 20px;
    .rule-select-title {
      height: 34px;
      text-align: center;
      background-color: $silver-6;
    }
    .rule-select-table-row {
      text-align: center;
      height: 35px;
      border-bottom: 1px solid $silver-6;
    }
  }

  .table_have_no_data {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: -20px 0 20px 0;
    color: #999;
    height: 68px;
    padding-top: 20px;
    border: 1px solid #ebebeb;
  }
}

.modal-footer {
  background-color: $silver-6;
  box-shadow: 0 0 8px 0 rgba(196, 201, 203, 0.65);
}
