<form #form="ngForm">
  <div class="main-container"
       [rcLoadingMask]="confirming || !certificates">
    <span>{{ 'default_certificate_name' | translate}}</span>
    <rc-single-selection-dropdown [options]="certificates"
                                  [(ngModel)]="certificateId"
                                  (change)="certificateName = $event.name"
                                  required="true"
                                  name="certificate"
                                  displayField="name"
                                  valueField="uuid"></rc-single-selection-dropdown>
  </div>
  <div class="modal-footer">
    <button rcButton
            (click)="confirmed.next()">{{ 'cancel' | translate }}</button>
    <button rcButton="primary"
            type="submit"
            (click)="submitForm(form)">{{ 'confirm' | translate }}</button>
  </div>
</form>
