<rb-region-badge-option
  on-change-state="'app_service.app.list'"
  on-change-confirm="true">
</rb-region-badge-option>

<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="!vm.initialized || vm.submitting">
    <ng-form class="rb-form" name="vm.form">
      <!-- region -->
      <div class="rb-form-row input">
        <div class="rb-label" flex="20">
          {{ "app_region" | translate }}
        </div>
        <div ng-if="vm.regionName" class="rb-input-text">
          {{vm.region.display_name}}
        </div>
        <div ng-if="!vm.regionName" flex="65">
          <rb-dropdown options="vm.regions"
                       key="display_name"
                       value="name"
                       on-change="vm.onRegionChange(option)"></rb-dropdown>
        </div>
      </div>

      <!-- quota_space -->
      <div class="rb-form-row input" ng-if="vm.quotaEnabled">
        <div class="rb-label" flex="20">
          {{ "quota_space" | translate }}
        </div>
        <div flex="65">
          <div ng-if="!vm.spaces.length" class="rb-info-tip">
            {{'quota_space_required' | translate}}
          </div>
          <rb-dropdown ng-if="vm.spaces.length"
                       options="vm.spaces"
                       value="name"
                       key="name"
                       filter-threshold="5"
                       on-change="vm.onSpaceChanged(option)"></rb-dropdown>
        </div>
      </div>

      <!-- app_name -->
      <div class="rb-form-row input">
        <div class="rb-label" flex="20">
          {{ "app_name" | translate }}
          <span class="rb-required-mark">*</span>
        </div>
        <div flex="65" class="ui mini fluid input icon"
             ng-class="{'loading': vm.form['app_name']['$pending']}">
          <input
            type="text"
            ng-model="vm.appData.app_name"
            ng-model-options="{ debounce: 500 }"
            name="app_name"
            ng-pattern="vm.resourceNameBaseRegExp.pattern"
            ng-maxlength="128"
            required
            ui-validate-async="{duplicate: 'vm.validateAppNameDuplicate($value)'}"
            rb-errors-tooltip
            rb-errors-tooltip-mapper="{
              'required': ('name_required' | translate),
              'pattern': (vm.resourceNameBaseRegExp.tip | translate),
              'duplicate': ('name_existed' | translate),
            }"
            placeholder="{{ 'app_name' | translate }}">
          <i class="icon" ng-class="{'checkmark': vm.appData.app_name}"></i>
        </div>
      </div>

      <!-- Strict Mode -->
      <div class="rb-form-row input">
        <div class="rb-label" flex="20">
          {{ "app_service_strict_mode" | translate }}
        </div>

        <div class="checkbox-group">
          <div class="ui toggle checkbox">
            <input type="checkbox" ng-model="vm.appData.strict_mode">
            <label></label>
          </div>
        </div>
        <div class="rb-input-field-addon">
          <i class="fa fa-question-circle"
             uib-popover-html="'app_service_strict_mode_tooltip' | translate"
             popover-placement="top"
             popover-trigger="'mouseenter'"
             popover-append-to-body="true"></i>
        </div>
      </div>

      <!-- Timeout -->
      <div class="rb-form-row input" ng-if="vm.appData.strict_mode">
        <div class="rb-label" flex="20">
          {{ "timeout" | translate }}
          <span class="rb-required-mark">*</span>
        </div>
        <div flex="65" class="ui mini fluid input icon">
          <input
            type="number"
            ng-model="vm.appData.timeout"
            rb-errors-tooltip
            rb-errors-tooltip-mapper="{
              'required': ('field_required' | translate),
              'invalid_num_range': '1 ~ 150'
            }"
            name="timeout"
            ng-required="vm.appData.strict_mode"
            ui-validate="{invalid_num_range: '!$value || ($value <= 150 && $value >= 1)'}"
            placeholder="1 ~ 150{{ 'wraped_second' | translate }}">
        </div>
        <div class="rb-input-field-addon">
          <i class="fa fa-question-circle"
             uib-popover-html="'app_service_timeout_tooltip' | translate"
             popover-placement="top"
             popover-trigger="'mouseenter'"
             popover-append-to-body="true"></i>
        </div>
      </div>

      <!-- yaml file -->
      <div class="rb-form-row input">
        <div class="rb-label" flex="20">
          {{ "yaml_compose_file" | translate }}
          <span class="rb-required-mark">*</span>
        </div>
        <div flex="65">
          <div style="width: 100%;">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="vm.selectTemplateEnabled">
              <label>{{'from_exist_template' | translate}}</label>
            </div>
            <rb-dropdown ng-if="vm.selectTemplateEnabled"
                         options="vm.templateList"
                         key="display_name"
                         value="uuid"
                         init="vm.templateName"
                         on-change="vm.onTemplateNameChange(option)"
                         style="margin-bottom: 8px;"></rb-dropdown>
            <div rb-loading-mask="vm.templateLoading" style="max-height: 300px; overflow: auto;">
              <ui-codemirror ui-codemirror-opts="vm.editorOptions"
                             ng-model="vm.appData.services"
                             style="margin-bottom: 8px;"></ui-codemirror>
            </div>

            <a ng-click="vm.useDemoTemplate()" href="">{{ "show_compose_demo" | translate }}</a>
          </div>
        </div>
      </div>

    </ng-form>
  </div>

  <div class="rb-form-footer">
    <div flex="20"></div>
    <div class="rb-form-footer-buttons" flex="65">
      <button type="button"
              ng-click="vm.create()"
              class="ui button rb-btn-primary">{{'create' | translate}}
      </button>
      <button type="button" class="ui button rb-btn-default"
              ng-click="vm.cancel()">{{'cancel' | translate}}
      </button>
    </div>
  </div>
</div>
