<div *ngIf="addConfiguration" class="dialog-container" [rcLoadingMask]="submitting">
  <div class="code-editor-container">
    <form class="rb-form">
      <rc-form-field label="{{'key' | translate}}" [shouldFlexRow]="true">
        <input rcInput
                name="name"
                [(ngModel)]="model.key"
                maxlength="63"
                pattern="[-._a-zA-Z0-9]+"
                required>
      </rc-form-field>
      <rc-form-field label="{{'value' | translate}}" [shouldFlexRow]="true" id="form-field-code">
        <textarea rcInput
                  rows="16"
                  [name]="'yaml'"
                  [(ngModel)]="model.value"></textarea>
      </rc-form-field>
    </form>
  </div>
  <div class="footer-container">
    <button rcButton="primary" 
      (click)="confirm()" 
      [loading]="submitting"
      [disabled]="!model.key">
      {{'confirm' | translate}}
    </button>
    <button rcButton (click)="cancel()">{{'cancel' | translate}}</button>
  </div>
</div>

<div *ngIf="!addConfiguration" class="dialog-container" [rcLoadingMask]="submitting">
<!-- 联邦集群 -->
  <div class="rc-form-field" *ngIf="originMirrorConfigmaps.length > 1">
    <div class="rc-form-field-label">{{'cluster' | translate}}</div>
    <div class="rc-form-field-container"
        style="min-width: 32em;">
      <aui-multi-select
        [(ngModel)]="selectCluster"
        required
        [filterable]="filterable"
        [rcErrorsTooltip]
      >
        <aui-option
          *ngFor="let item of originMirrorConfigmaps"
          [value]="item.cluster_name">{{item.cluster_display_name}}</aui-option>
      </aui-multi-select>
    </div>
  </div>
  <div class="code-editor-container">
    <aui-code-editor name="yaml"
                class="dialog-yaml"
                *ngIf="!configItem"
                required
                [rcErrorsTooltip]
                [rcErrorsTooltipInline]="true"
                [(ngModel)]="configmapYaml"
                [originalValue]="originalValue"
                [actionsConfig]="{recover: false,clear: false, fullscreen: false}"
                [options]="codeEditorOptions"></aui-code-editor>
    <textarea rcInput
              rows="8"
              required
              *ngIf="configItem"
              [readonly]="readOnly"
              [name]="'yaml'"
              [(ngModel)]="configmapYaml"></textarea>
  </div>
  <div class="footer-container">
    <button *ngIf="!readOnly" 
      rcButton="primary" 
      (click)="confirm()" 
      [loading]="submitting"
      [disabled]="configmapYaml===''"
      >
      {{'confirm' | translate}}
    </button>
    <button rcButton (click)="cancel()">{{'cancel' | translate}}</button>
  </div>
</div>