:host {
  .dialog-container {
    height: 98%;
    min-height: 450px;
    .code-editor-container {
      height: 95%;
      padding: 20px;
      rc-code-editor.dialog-yaml {
        height: 100%;
      }
      form.rb-form {
        display: flex;
        height: 100%;
        flex-direction: column;
      }
    }
    .footer-container {
      padding: 0 20px;
      text-align: right;
      > button:first-child {
        margin-right: 8px;
      }
    }
    .rc-form-field-label {
      width: 65px;
    }
    .rc-form-field {
      margin-top: 20px;
    }
  }

  label.form-field-label {
    width: 40px;
  }

  /deep/ .form-input-row {
    height: 100%;
  }

  /deep/ .form-field-label {
    width: 40px !important;
  }

  /deep/ .addon-container {
    width: 0px !important;
    padding-left: 0px !important;
  }
}
