<div ng-if="vm.isEmpty()"
     class="rb-loading-mask-placeholder">{{'service_detail_envvars_empty' | translate }}
</div>

<!--env files-->
<div ng-repeat="envFile in vm.envFiles track by envFile.uuid">
  <div class="rb-detail-table-caption">
    <a ui-sref="app_service.envfile.detail({ envfileName: envFile.uuid })">
      {{ envFile.display_name ? envFile.display_name : envFile.name }}
    </a>
    <div flex></div>
    <div class="ui input">
      <input type="text"
             ng-model="vm.envFileFilters[envFile.name]"
             placeholder="{{ 'filter_by_name_placeholder' | translate }}">
    </div>
    <span class="fa fa-caret-down"></span>
  </div>
  <div class="rb-detail-table-wrap">
    <table class="rb-detail-table">
      <thead>
      <tr>
        <th style="width: 300px;">{{ "name" | translate }}</th>
        <th>{{ "value" | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in envFile.content | filter: vm.getEnvFileFilterFunction(envFile.name) track by $index">
        <td ng-bind="item[0]" class="envvar-key"></td>
        <td ng-bind="item[1]" class="envvar-value"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--env vars-->
<div ng-if="vm.envVarList.length">
  <div class="rb-detail-table-caption">
    <span>{{ 'environment_variable' | translate }}</span>
    <div flex></div>
    <div class="ui input">
      <input type="text" ng-model="vm.envVarsFilter" placeholder="{{ 'search_by_name_placeholder' | translate }}">
    </div>
    <span class="fa fa-caret-down"></span>
  </div>
  <div class="rb-detail-table-wrap">
    <table class="rb-detail-table">
      <thead>
      <tr>
        <th style="width: 300px;">{{ "name" | translate }}</th>
        <th>{{ "value" | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in vm.envVarList | filter: vm.envVarFilterFunction track by $index">
        <td ng-bind="item[0]" class="envvar-key"></td>
        <td ng-bind="item[1]" class="envvar-value"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
