<div *ngIf="!(projects?.length)"
    class="project-label">
    <div class="project-label__text">{{'no_project' | translate}}</div>
</div>

<div class="project-label"
    *ngIf="projects?.length"
    #projectTooltip
    style="cursor: pointer;"
    [auiTooltip]="projectListTemplate"
    auiTooltipType="plain"
    auiTooltipPosition="bottom start"
    auiTooltipTrigger="click"
    [auiTooltipDisabled]="!(projects?.length)">
    <div class="project-label__text"
        [auiTooltip]="('project' | translate) + ': ' + currentProject?.display_name"
        auiTooltipPosition="bottom start"
        auiTooltipClass="rc-font-small">{{ currentProject?.display_name }}</div>
    <aui-icon icon="angle_down"
        class="project-label__icon"></aui-icon>
</div>

<ng-template #projectListTemplate>
    <div class="project-list">
        <div class="project-list__header">
            <input aui-input
                name="filter_name"
                [(ngModel)]="filterName"
                (ngModelChange)="filterName$.next($event);"
                [placeholder]="'filter_by_name_placeholder' | translate">
        </div>
        <div class="project-list__items">
            <div *ngFor="let project of filteredProjects$ | async; trackBy: trackByProjectId"
                class="project-list__item"
                (click)="selectProject(project)"
                [title]="project.display_name || project.name"
                [class.active-project]="project.name === currentProject?.name">
                {{ project.display_name || project.name }}
            </div>
            <div class="project-list__empty"
                *ngIf="(filteredProjects$ | async)?.length === 0">
                {{ 'no_data' | translate }}
            </div>
        </div>
    </div>
</ng-template>