:host {
  display: block;
  .service-logs-toolbar {
    > .service-logs-toolbar-row {
      display: flex;
      align-items: center;
      height: 48px;
      > * {
        margin-right: 8px;
      }
      > label {
        font-weight: 400;
        text-align: left;
        margin-right: 8px;
      }
      input {
        width: 12em;
      }
      ::ng-deep .ui.selection.dropdown {
        min-width: 10em;
      }
    }
    margin-bottom: 8px;
  }
  .rc-service-log-chart {
    height: 260px;
    margin-bottom: 16px;
    .rc-no-data {
      color: #ccc;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .rc-service-log-footer {
    display: flex;
    height: 32px;
    margin-top: 8px;
    align-items: center;
    justify-content: flex-end;
  }
}
