<div class="rc-log-result-wrap" [rcLoadingMask]="!initialized">
  <div class="rc-log-result" #logContainer>
    <ul *ngFor="let log of logs trackBy: trackByFn">

      <li class="rc-log-item">
        <span>{{log.time * 1000 | rcFormatUtcStr}}</span>
        <span class="log-node">{{log.nodes}}</span>
        <span class="log-instance">{{log.instance_id}}</span>
        <!--<span class="log-path">{{log.paths}}</span>-->
        <span class="log-message">{{log.message}}</span>
      </li>

    </ul>
    <ul *ngIf="initialized && !logs.length">
      <li class="rc-log-item"><span class="log-message">{{'no_data' | translate}}</span></li>
    </ul>
  </div>
</div>
