<div class="service-logs-toolbar">
  <div class="service-logs-toolbar-row">
    <label>{{'monitor_period' | translate}}</label>
    <rc-single-selection-dropdown [options]="timeRangeOptions"
                                  [allowFilter]="false"
                                  displayField="name"
                                  valueField="offset"
                                  [(ngModel)]="selectedTimeRange"
                                  [ngModelOptions]="{standalone: true}"
                                  (change)="timeRangeChanged($event)">
    </rc-single-selection-dropdown>
    <div *ngIf="isCustomTimeRange()">
      <label>{{ "from" | translate }}</label>
      <input
        rcInput
        [rcCalendar]="{enableTime: true, enableSeconds: false}"
        (onChange)="onStartTimeChange($event)"
        [(value)]="timeRangeDisplay.start_time">
    </div>
    <div *ngIf="isCustomTimeRange()">
      <label>{{ "to" | translate }}</label>
      <input
        rcInput
        [rcCalendar]="{enableTime: true, enableSeconds: false}"
        (onChange)="onEndTimeChange($event)"
        [(value)]="timeRangeDisplay.end_time">
    </div>
    <label>{{'keyword' | translate}}</label>
    <rc-tags-input #tagsInput
                   [(ngModel)]="queryTags"
                   (ngModelChange)="search()"
                   [ngModelOptions]="{standalone: true}"
                   [addOnSpace]="true"
                   [tagClassFn]="tagClassFn"
                   style="flex: 1"
    ></rc-tags-input>
    <button rcButton="primary" (click)="search()">{{'search' | translate}}</button>
  </div>

</div>

<div class="rc-service-log-chart" [rcLoadingMask]="loading">
  <div *ngIf="!loading && !aggregationResults" class="rc-no-data">{{'no_data' | translate}}</div>
  <rc-charts-bar-vertical
    *ngIf="aggregationResults"
    [results]="aggregationResults"
    [scheme]="{ domain: ['#8BD6FA'] }"
    [schemeType]="'ordinal'"
    [xAxis]="true"
    [yAxis]="true"
    [showGridLines]="true"
    [roundDomains]="false"
    [xAxisTickWidth]="160"
    [xAxisTickFormatting]="chartConfig.xAxisTickFormatting"
    [yAxisTickFormatting]="chartConfig.yAxisTickFormatting"
    (select)="onChartSelect($event)">
    <ng-template #tooltipTemplate let-model="model">
      <h5>
        {{getAggregationTooltip(model.name)}}
      </h5>
      <h5>{{model.value}}</h5>
    </ng-template>
  </rc-charts-bar-vertical>
</div>

<div *ngIf="logs.length" class="rc-log-result-wrap" [rcLoadingMask]="loading">
  <div class="rc-log-result" #logContainer>
    <ul *ngFor="let log of logs; trackBy: trackByFn">
      <li class="rc-log-item">
        <span>{{log.time * 1000 | rcFormatUtcStr}}</span>
        <span class="log-node">{{log.nodes}}</span>
        <span class="keyword log-instance" (click)="addKeywordByClick('instance', log.instance_id)">{{log.instance_id}}</span>
        <!--<span class="log-path">{{log.paths}}</span>-->
        <span class="log-message"
              *ngIf="hasQueryString"
              [innerHtml]="(log.message)"></span>
        <span class="log-message"
              *ngIf="!hasQueryString">{{log.message}}</span>
      </li>
    </ul>
    <ul *ngIf="initialized && !logs.length">
      <li class="rc-log-item"><span class="log-message">{{'no_data' | translate}}</span></li>
    </ul>
  </div>
</div>
<div class="rc-service-log-footer">
  <rc-pagination *ngIf="pagination.total_page > 1"
                 [count]="pagination.total_items"
                 [pageSize]="pagination.size"
                 (pageChanged)="search($event)"
                 [disabled]="loading"></rc-pagination>
</div>
