$highlight-color: #24a7e3;

.static-field {
  display: flex;
  padding-bottom: 16px;

  .link-text,
  .rb-btn-link {
    color: $highlight-color;
    cursor: pointer;
  }

  > label,
  > div {
    line-height: 32px;
    display: flex;
    align-items: center;
  }

  > label {
    font-weight: normal;
    flex-basis: 20%;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 16px;
  }

  > div {
    flex: 1;

    > span {
      word-break: break-all;
    }

    button + button {
      margin-left: 20px;
    }
  }
}

:host {
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);

  form {
    padding: 32px 0 0;
  }

  textarea {
    padding: 8px;
    line-height: 1.25;
  }

  .static-field.footer {
    padding-top: 16px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.12);
    background-color: #f8f8f8;
  }

  ::ng-deep .form-field-label {
    width: 20% !important;
  }
}
