<form #form="ngForm"
      class="rc-form"
      [rcLoadingMask]="loading"
      (ngSubmit)="create()">
  <div class="static-field"
       *ngIf="registryName">
    <label>{{ 'repository_source' | translate }}</label>
    <div>
      <span>{{ registryName }}</span>
    </div>
  </div>

  <div class="static-field"
       *ngIf="!registry.is_public">
    <label>{{ 'priv_regis_proj' | translate }}</label>
    <div>
      <span>{{ projectName || ( 'default_project_name' | translate ) }}</span>
    </div>
  </div>

  <rc-form-field [label]="'repo_name' | translate">
    <input [(ngModel)]="repository.name"
           name="name"
           rcInput
           rcErrorsTooltip
           pattern="^[a-z0-9][a-z0-9\-\_]*[a-z0-9]$"
           [disabled]="isEditing"
           [placeholder]="'repo_name_placeholder' | translate"
           minlength="4"
           maxlength="64"
           required>
  </rc-form-field>

  <rc-form-field *ngIf="!registryName || registry.is_public"
                 [label]="'private_or_public' | translate">
    <rc-radio-group [options]="types"
                    displayField="display"
                    valueField="value"
                    name="is_public"
                    [value]="repository.is_public"
                    (change)="repository.is_public = $event.value"></rc-radio-group>
  </rc-form-field>

  <rc-form-field [label]="'image_analysis_report' | translate | rcCapitalizeAll">
    <rc-checkbox name="scan_enabled"
                 mode="toggle"
                 [disabled]="!integrationId"
                 [value]="repository.scan_enabled"
                 (change)="repository.scan_enabled = $event"></rc-checkbox>
  </rc-form-field>

  <rc-form-field [label]="'short_description' | translate">
    <input [(ngModel)]="repository.description"
           name="description"
           rcInput
           rcErrorsTooltip
           maxlength="100"
           [placeholder]="'repo_desc_limit' | translate">
  </rc-form-field>

  <rc-form-field [label]="'full_description' | translate">
    <textarea [(ngModel)]="repository.full_description"
              name="full_description"
              rcInput
              rows="18"
              [placeholder]="'use_markdown' | translate"></textarea>
  </rc-form-field>

  <div class="static-field footer">
    <label></label>
    <div>
      <button rcButton="primary"
              [disabled]="projectsLoading"
              type="submit">
        {{ (isEditing ? 'save' : 'create') | translate }}
      </button>
      <button rcButton
              (click)="cancel()">{{ 'cancel' | translate }}
      </button>
    </div>
  </div>
</form>
