@import 'colors.palette';

@import '../../colors';

.rc-node-info {
  height: 120px;
  padding: 0 8px;
  overflow: hidden;
  border-radius: 3px;
  background-color: white;
  display: flex;
  flex-direction: column;

  .rc-node-info {
    &__title {
      margin: 0 8px;
      padding: 8px;
      font-size: 16px;
      color: #4d4d4d;
      border-bottom: 1px solid #f5f6f7;
    }

    &__content {
      height: 100%;
      flex-shrink: 1;
      margin: 0;
      padding: 8px 16px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-around;
      list-style: none;
    }

    &__item {
      width: 33.33%;
      font-size: 14px;
      overflow: hidden;
      display: flex;
    }

    &__label {
      display: block;
      flex-shrink: 0;
      color: #888888;

      &::after {
        content: '：';
      }
    }

    &__value {
      display: block;
      width: 100%;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #4d4d4d;
    }
  }
}

.rc-node-info--column {
  height: 310px;
  padding: 12px 20px;
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
  position: relative;

  .rc-node-info {
    &__title {
      font-size: 18px;
      color: #4d4d4d;
    }

    &__content {
      margin: 10px 0 15px;
    }

    &__item {
      display: flex;
      padding: 10px 0;
      font-size: 14px;
      border-bottom: 1px solid #f5f6f7;

      &:nth-last-of-type(1) {
        border-bottom: none;
      }
    }

    &__label {
      width: 145px;
      flex-grow: 0;
      flex-shrink: 0;
      max-width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #a1a1a1;

      &::after {
        content: '';
      }
    }

    &__value {
      width: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #4d4d4d;
    }
  }
}

.rc-node-components {
  display: flex;
  flex-direction: column;
  height: 120px;
  padding: 0 8px;
  background-color: white;
  border-radius: 3px;

  &__title {
    margin: 0 8px;
    padding: 8px;
    font-size: 16px;
    color: #4d4d4d;
    border-bottom: 1px solid #f5f6f7;
  }

  &__content {
    height: 100%;
    flex-shrink: 1;
    margin: 12px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #808080;
    min-width: 33.33%;
    > span {
      width: 100%;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &::before {
      content: '';
      margin: 0 6px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      flex-shrink: 0;
    }

    &[status='RUNNING'] {
      &::before {
        background-color: $main-green;
        box-shadow: 0 0 0 2px
          rgba(red($main-green), green($main-green), blue($main-green), 0.2);
      }
    }

    &[status='ERROR'] {
      &::before {
        background-color: $main-red;
        box-shadow: 0 0 0 2px
          rgba(red($main-red), green($main-red), blue($main-red), 0.2);
      }
    }
    &[status='UNKNOWN'] {
      &::before {
        background-color: $main-gray;
        box-shadow: 0 0 0 2px
          rgba(red($main-gray), green($main-gray), blue($main-gray), 0.2);
      }
    }
  }
}

.rc-node-num {
  display: flex;
  flex-direction: column;
  height: 120px;
  padding: 0 8px;
  background-color: white;
  border-radius: 3px;

  &__title {
    margin: 0 8px;
    padding: 8px;
    font-size: 16px;
    color: #4d4d4d;
    border-bottom: 1px solid #f5f6f7;
  }

  &__content {
    height: 100%;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__value {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 58px;
    font-weight: bold;
    color: $main-green;

    &::after {
      content: 'conns';
      font-size: 28px;
    }
  }
}

.rc-node-usage {
  display: flex;
  background-color: white;
  border-radius: 3px;

  &__item {
    width: 100%;
    flex-shrink: 1;
    position: relative;

    &--center {
      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 158px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #f5f6f7;
      }
      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 158px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #f5f6f7;
      }
    }
  }
}
