<div rcRow [rcRowGutter]="16">
  <div rcCol [rcColSpan]="(stats$ | async) ? 8 : 16">
    <div [class]="(stats$ | async) ? 'rc-node-info--column' : 'rc-node-info'">
      <div class="rc-node-info__title">{{ 'basic_info' | translate }}</div>
      <ul class="rc-node-info__content">
        <li class="rc-node-info__item">
          <span class="rc-node-info__label">{{ 'private_ip' | translate }}</span>
          <span class="rc-node-info__value" [title]="node.private_ip">{{ node.private_ip }}</span>
        </li>
        <li class="rc-node-info__item">
          <span class="rc-node-info__label">{{ 'public_ip' | translate }}</span>
          <span class="rc-node-info__value" [title]="node.attr.public_ip || '-'">{{ node.attr.public_ip || '-' }}</span>
        </li>
        <li class="rc-node-info__item">
          <span class="rc-node-info__label">{{ 'created_at' | translate }}</span>
          <span class="rc-node-info__value" [title]="node.created_at | rcFormatUtcStr">{{ node.created_at | rcFormatUtcStr }}</span>
        </li>
        <li class="rc-node-info__item">
          <span class="rc-node-info__label">{{ 'create_node_type' | translate }}</span>
          <span class="rc-node-info__value"
                [title]="(node.attr.source === 'api-create' ? 'auto_type' : (node.attr.source ==='scale-up' ? 'scaling_type' : 'manual_type')) | translate">
            {{ (node.attr.source === 'api-create' ? 'auto_type' : (node.attr.source ==='scale-up' ? 'scaling_type' : 'manual_type')) | translate }}
          </span>
        </li>
        <li class="rc-node-info__item">
          <span class="rc-node-info__label">{{ 'region_node_type' | translate }}</span>
          <span class="rc-node-info__value" [title]="('region_node_type_'+node.type) | translate">{{ ('region_node_type_'+node.type) | translate }}</span>
        </li>
        <li class="rc-node-info__item">
          <span class="rc-node-info__label">{{ 'node_tag' | translate }}</span>
          <span class="rc-node-info__value">
            <a
              *ngIf="isK8sContainer() && node.type !== 'SYS' && node.labels"
              [auiTooltip]="nodeLabels"
              [auiTooltipDisabled]="!node.labels.length"
              [auiTooltipContext]="node"
              auiTooltipType="info"
              auiTooltipPosition="top start"
              auiTooltipTrigger="click">
                {{ node.labels.length }} {{ 'ge' | translate }}
            </a>
            <span
              *ngIf="!isK8sContainer() && node.type === 'SYS'">
              {{ node.node_tag }}
            </span>
            <span *ngIf="isEmptyCluster()">-</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div rcCol [rcColSpan]="(stats$ | async) ? 16 : 8">
    <div
      *ngIf="(stats$ | async) && !(pluck(stats$, 'gpus_total') | async)"
      rcRow [rcRowGutter]="16" style="margin-bottom: 16px;">
      <div rcCol [rcColSpan]="12">
        <rc-percent-card
          [fixed]="3"
          [allocated]="pluck(stats$, 'cpus_allocated') | async"
          [total]="pluck(stats$, 'cpus_total') | async"
          [utilization]="pluck(stats$, 'cpus_utilization') | async"
          [title]="'quota_cpu' | translate">
        </rc-percent-card>
      </div>
      <div rcCol [rcColSpan]="12">
        <rc-percent-card
          [allocated]="pluck(stats$, 'mem_allocated') | async"
          [total]="pluck(stats$, 'mem_total') | async"
          [utilization]="pluck(stats$, 'mem_utilization') | async"
          [title]="'quota_mem' | translate">
        </rc-percent-card>
      </div>
    </div>
    <div
      *ngIf="(stats$ | async) && (pluck(stats$, 'gpus_total') | async)"
      style="margin-bottom: 16px;">
      <div class="rc-node-usage">
        <div class="rc-node-usage__item">
          <rc-percent-card
            [vertical]="true"
            [fixed]="3"
            [allocated]="pluck(stats$, 'cpus_allocated') | async"
            [total]="pluck(stats$, 'cpus_total') | async"
            [utilization]="pluck(stats$, 'cpus_utilization') | async"
            [title]="'quota_cpu' | translate">
          </rc-percent-card>
        </div>
        <div class="rc-node-usage__item rc-node-usage__item--center">
          <rc-percent-card
            [vertical]="true"
            [allocated]="pluck(stats$, 'mem_allocated') | async"
            [total]="pluck(stats$, 'mem_total') | async"
            [utilization]="pluck(stats$, 'mem_utilization') | async"
            [title]="'quota_mem' | translate">
          </rc-percent-card>
        </div>
        <div class="rc-node-usage__item">
          <rc-percent-card
            [vertical]="true"
            [fixed]="3"
            [allocated]="pluck(stats$, 'gpus_allocated') | async"
            [total]="pluck(stats$, 'gpus_total') | async"
            [utilization]="pluck(stats$, 'gpus_utilization') | async"
            [title]="'quota_gpu' | translate">
          </rc-percent-card>
        </div>
      </div>
    </div>
    <div rcRow [rcRowGutter]="16">
      <div rcCol [rcColSpan]="(stats$ | async) ? 12 : 24">
        <div class="rc-node-components">
          <div class="rc-node-components__title">{{ 'component_info' | translate }}</div>
          <ul class="rc-node-components__content">
            <li
              *ngFor="let component of node.attr.components"
              [style.width]="1/(node.attr.components.length)*100+'%'"
              [attr.status]="component.status"
              class="rc-node-components__item">
          <span>
            {{ component.type | translate }}
          </span>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="stats$ | async" rcCol [rcColSpan]="12">
        <div class="rc-node-num">
          <div class="rc-node-num__title">{{ 'region_pods_count' | translate }}</div>
          <div class="rc-node-num__content">
            <div class="rc-node-num__value">
              {{ podsCount$ | async }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template
  #nodeLabels
  let-labels="labels">
  <div style="max-width: 300px;display: flex;flex-wrap: wrap;">
    <rc-tag *ngFor="let label of labels">{{ label.key }}:{{ label.value }}</rc-tag>
  </div>
</ng-template>
