<md-dialog aria-label="{{ vm.title }}" class="rb-confirm-box" rb-loading-mask="vm.loading">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ vm.title }}</h2>
      <span flex></span>
      <md-button class="nav-toggle-button md-icon-button"
                 md-no-ink
                 ng-click="vm.cancel()"
                 aria-label="cancel">
        <i class="fa fa-times"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="rb-confirm-box-container">
      <div class="fa fa-question-circle rb-warnning-icon">
      </div>
      <div class="md-dialog-content" translate="{{ vm.content }}">
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="vm.cancel()">
      {{ 'cancel' | translate }}
    </md-button>
    <md-button class="md-raised md-primary" ng-click="vm.hide()">
      {{ 'confirm' | translate }}
    </md-button>
    </div>
  </md-dialog-actions>
</md-dialog>
