<md-dialog aria-label="{{ vm.title }}" class="rb-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ vm.title }}</h2>
      <span flex></span>
      <md-button class="nav-toggle-button md-icon-button"
                 md-no-ink
                 ng-click="vm.hide()"
                 aria-label="cancel">
        <i class="fa fa-times"></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content" ng-bind-html="vm.md | markdown2html"></div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-raised md-primary" ng-click="vm.hide()">
      {{ 'ok' | translate }}
    </md-button>
  </md-dialog-actions>
</md-dialog>
