<div class="region-badge"
     #tooltipAnchor
     [class.no-regions]="(regionLength$ | async) === 0"
     [rcLoadingMask]="!(regionService.regions$ | async)">
  <div class="left-badge"
       (click)="goToRegionDetail()"
       [class.has-selected-region]="selectedRegionName"
       [auiTooltip]="'region_badge_current_region' | translate"
       auiTooltipPosition="bottom center"
       auiTooltipClass="rc-font-small">
    <div class="fa fa-server region-icon"></div>
  </div>
  <div #regionListTooltipEl
       [fxShow]="regionLength$ | async"
       class="right-badge"
       [rcTooltip]="regionListTemplate"
       [rcTooltipTarget]="tooltipAnchor"
       [rcTooltipOn]="'click'"
       [rcTooltipNoArrow]="true"
       [rcTooltipEmpty]="true"
       [rcTooltipOffset]="'0, 4'"
       [rcTooltipPosition]="'bottom left'">
    <div class="display-name">
      <span [title]="(regionDisplayName$ | async)">
        {{ regionDisplayName$ | async }}
      </span>
    </div>
    <div *ngIf="regionLength$ | async"
         class="fa expand-icon fa-angle-down"
         [class.list-active]="regionListTooltipInstance.showing">
    </div>
  </div>

  <div *ngIf="(regionLength$ | async) === 0"
        class="no-region-hint right-badge">
    {{ 'region_none' | translate }}
  </div>
</div>

<div *ngIf="noOnChangeHint"
     [@scaleInOut]
     [rcTooltip]="'region_badge_non_related_hint'| translate"
     rcTooltipPosition="right center"
     rcTooltipMode="info"
     [rcTooltipInline]="false"
     class="fa fa-question-circle no-onchange-hint">
</div>

<ng-template #regionListTemplate>
  <div class="region-badge__region-list">
    <div *ngFor="let region of regions$ | async; trackBy: trackByRegionName"
         class="region-badge__region-list__item"
         (click)="onRegionClicked(region)"
         [title]="region.name"
         [class.active-region]="region.name === selectedRegionName">
      {{ region.display_name }}
    </div>
  </div>
</ng-template>
