<div *ngIf="!nodeTags.length" class="rb-loading-mask-placeholder">
    {{ "no_data" | translate }}
  </div>
  <div class="service-node-tags-list" *ngIf="nodeTags.length">
    <div class="service-detail-tab-content">
      <div class="service-table-label"></div>
      <rc-table
        class="rc-secondary-table"
        [columnMode]="'flex'"
        [headerHeight]="40"
        [rowHeight]="'auto'"
        [rows]="nodeTags">
        <rc-table-col
          [flexGrow]="1"
          name="{{'key' | translate}}"
          [resizeable]="false">
          <div *rcTableColCell="let rowData = row">
            {{rowData.name}}
          </div>
        </rc-table-col>
        <rc-table-col
        [flexGrow]="2"
        name="{{'value' | translate}}"
        [resizeable]="false">
          <div *rcTableColCell="let rowData = row">
            {{rowData.value}}
          </div>
        </rc-table-col>
      </rc-table>
    </div>
  </div>