<div *ngIf="!kubeServices.length" class="rb-loading-mask-placeholder">
  {{ "no_data" | translate }}
</div>
<div class="kube-service-list">
  <div class="service-detail-tab-content" *ngFor="let service of kubeServices">
    <div class="service-table-label">
      {{ service.name }}（{{ service.type}}）- {{ 'port_config' | translate }}
    </div>
    <rc-table
      class="rc-secondary-table"
      [columnMode]="'force'"
      [headerHeight]="40"
      [rowHeight]="50"
      [rows]="service.ports">
      <rc-table-col [width]="150" name="{{'container_port' | translate}}" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          {{rowData.containerPort | rcFieldNotAvailable}}
        </div>
      </rc-table-col>

      <rc-table-col [width]="150" name="{{'kubernetes_service_host_port' | translate}}" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          {{rowData.nodePort | rcFieldNotAvailable}}
        </div>
      </rc-table-col>

      <rc-table-col [width]="150" name="{{'load_balancer' | translate}}" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          {{rowData.loadBalancerName | rcFieldNotAvailable}}
        </div>
      </rc-table-col>

      <rc-table-col [width]="150" name="{{'listening_port' | translate}}" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          {{rowData.listenerPort | rcFieldNotAvailable}}
        </div>
      </rc-table-col>

      <rc-table-col [width]="150" name="{{'protocol' | translate}}" [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          {{rowData.protocol}}
        </div>
      </rc-table-col>

    </rc-table>
  </div>
</div>
