<div *ngIf="!show" class="rb-loading-mask-placeholder">
  {{ "no_data" | translate }}
</div>
<div class="service-affinity-list" *ngIf="show">
  <div class="service-detail-tab-content">
    <div class="service-table-label"></div>
    <rc-table
      class="rc-secondary-table"
      [columnMode]="'flex'"
      [headerHeight]="40"
      [rowHeight]="'auto'"
      [rows]="[affinity]">
      <rc-table-col
        [flexGrow]="1"
        name="{{'affinity' | translate}}（{{ 'service_affinity_hint' | translate }}）"
        [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          <div class="x-affinity-container">
            <ng-container *ngFor="let item of rowData.affinityServices">
              <div class="x-affinity-item">
                {{ item.name }}
              </div>
            </ng-container>
          </div>
        </div>
      </rc-table-col>
      <rc-table-col
      [flexGrow]="1"
      name="{{'antiaffinity' | translate}}（{{ 'service_affinity_hint' | translate }}）"
      [resizeable]="false">
        <div *rcTableColCell="let rowData = row">
          <div class="x-affinity-container">
            <ng-container *ngFor="let item of rowData.antiAffinityServices">
              <div class="x-affinity-item">
                {{ item.name }}
              </div>
            </ng-container>
          </div>
        </div>
      </rc-table-col>
    </rc-table>
  </div>
</div>