<div class="service-detail-tab-list">
  <div class="service-detail-tab-list-label" (click)="setCurrentTab('service-label')" [class.active]="currentTab === 'service-label'">
    {{ 'component_labels' | translate }}
  </div>
  <div class="service-detail-tab-list-label" (click)="setCurrentTab('node-tag')" [class.active]="currentTab === 'node-tag'">
    {{ 'node_tag' | translate }}
  </div>
  <div class="service-detail-tab-list-label" (click)="setCurrentTab('affinity')" [class.active]="currentTab === 'affinity'">
    {{ 'service_affinity' | translate }}
  </div>
  <div class="service-detail-tab-list-label" (click)="setCurrentTab('k8s-service')" [class.active]="currentTab === 'k8s-service'">
    Kubernetes Service
  </div>
</div>

<div [ngSwitch]="currentTab">
  <ng-container *ngSwitchCase="'service-label'">
    <rc-service-config-labels [kubernetes]="kubernetes"></rc-service-config-labels>
  </ng-container>
  <ng-container *ngSwitchCase="'node-tag'">
    <rc-service-config-node-tags [kubernetes]="kubernetes"></rc-service-config-node-tags>
  </ng-container>
  <ng-container *ngSwitchCase="'affinity'">
    <rc-service-config-affinity [kubernetes]="kubernetes"></rc-service-config-affinity>
  </ng-container>
  <ng-container *ngSwitchCase="'k8s-service'">
    <rc-service-config-kube-service [kubernetes]="kubernetes"></rc-service-config-kube-service>
  </ng-container>
  <ng-container *ngSwitchDefault>
    {{ 'no_data' | translate }}
  </ng-container>
</div>