@import '_colors.palette.scss';
@import '_colors.styles';

:host {
  rc-form-field {
    rc-single-selection-dropdown {
      flex: 1;
    }
  }
  rc-code-editor {
    min-height: 450px;
    ::ng-deep .rc-code-editor {
      min-height: 450px;
    }
  }
  .rc-row-buttons {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    min-height: 44px;
    align-items: center;
    padding-right: 70px;
  }
  .rc-service-container-wrap {
    position: relative;
    .form-group-remove {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 12px;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      color: #999;
      font-size: 16px;
      z-index: 1;
      &:focus {
        text-decoration: none;
      }
      &:hover {
        color: $button-default-hover-border-color;
      }
    }
  }
  .rc-yaml-readonly-toggle {
    display: flex;
    justify-content: flex-start;
    height: 24px;
    a,
    a:hover {
      color: $blue-6;
    }
    a:focus {
      text-decoration: none;
    }
  }
  .toc-container {
    position: absolute;
    // padding: 30px 0 0;
    top: 0;
    bottom: 61px;
    left: 218px;
    right: 18px;
    margin: 16px 0;
    overflow: auto;
    &.keep-left {
      left: 18px;
    }
  }
  .toc-form-group-toggle {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $blue-6;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #fafafa;
    i {
      margin-right: 4px;
    }
  }

  .toc-form-group {
    &.header {
      margin-bottom: 20px;
    }
    &.footer {
      margin-top: 20px;
    }
    position: relative;
    background-color: #fff;
    padding: 0 20px;
    min-height: 240px;
    .form-group-header {
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #333;
      height: 48px;
      border-bottom: 1px solid #e5e5e5;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .form-group-content {
      padding: 16px 0;
      min-height: 200px;
      .form-field {
        display: flex;
        align-items: flex-start;
        color: #333;
        label {
          width: 140px;
          padding-right: 16px;
          height: 32px;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          overflow-wrap: break-word;
        }
        .field-container {
          line-height: 32px;
          padding: 0 48px 18px 0;
          flex: 1;
          .field-content-row {
            width: 100%;
            background-color: #fafafa;
            padding: 8px;
            display: flex;
            .content-row-cell {
              flex: 1;
              display: flex;
              .rc-input-prefix,
              .rc-input-suffix {
                height: 32px;
                border: 1px solid $form-input-border-color;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 8px;
              }
              .rc-input-prefix {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-right: none;
              }
              .rc-input-suffix {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border-left: none;
              }
              input {
                flex: 1;
                border-radius: 0;
              }
              &:not(:last-child) {
                margin-right: 24px;
              }
            }
          }
        }
      }
    }
  }
  .toc-footer {
    position: absolute;
    z-index: 20;
    bottom: 0;
    width: 100%;
    padding: 14px 26px;
    border-top: solid 1px $black-2;
    box-shadow: 0 0 8px 0 $gray-7;
    background-color: $silver-6;
    display: flex;
    justify-content: space-between;
    button:not(:last-of-type) {
      margin: 0 16px 0 0;
    }
    > button:first-child {
      margin-left: 190px;
    }
    button.none-nav {
      margin-left: 0;
    }
  }
}
