<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<div class="app-form-container" *ngIf="initialized">
    <form #appForm="ngForm">
        <section class="toc-form-group">
            <div class="form-group-header">
                {{'application' | translate}}
            </div>
            <div class="form-group-content">
                <ng-container *ngIf="update">
                    <div class="rc-form-field">
                        <label class="rc-form-field-label">{{ 'region_namespace' | translate }}</label>
                        <div class="rc-form-field-container">{{appNamespace.name}}</div>
                    </div>
                    <div class="rc-form-field">
                        <label class="rc-form-field-label">{{ 'app_name' | translate }}</label>
                        <div class="rc-form-field-container">{{appName}}</div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!update">
                    <rc-form-field label="{{'region_namespace' | translate}}" [shouldFlexRow]="true">
                        <rc-single-selection-dropdown #singleDropdown required name="namespace" [options]="namespaceOptions" [(ngModel)]="appNamespace.name"
                            (change)="onNamespaceOptionChange($event)" displayField="name" valueField="name">
                        </rc-single-selection-dropdown>
                    </rc-form-field>
                    <rc-form-field label="{{'app_name' | translate}}" [shouldFlexRow]="true">
                        <input rcInput name="name" [(ngModel)]="appName" maxlength="32" [placeholder]="resourceNameReg.tip | translate" [pattern]="resourceNameReg.pattern"
                            required>
                    </rc-form-field>
                </ng-container>
                <rc-form-field label="{{'display_name' | translate}}">
                    <input rcInput
                        name="description"
                        [(ngModel)]="description">
                </rc-form-field>
            </div>
        </section>

        <section class="toc-form-group" *ngIf="!yamlPreview">
            <div class="form-group-header">
                <span>{{'component_list' | translate}}</span>
                <span style="flex: 1;"></span>
                <button rcButton
                    [hidden]="!yamlReadonly"
                    (click)="toggleAddService()">{{'add' | translate}}{{'component' | translate}}</button>
            </div>
            <div class="form-group-content">
                <!-- 服务列表 -->
                <rc-table #serviceTable
                    class="rc-secondary-table"
                    emptyMessage="{{'service_list_empty' | translate}}"
                    [columnMode]="'force'"
                    [headerHeight]="40"
                    [rowHeight]="auto"
                    [rows]="serviceList">
                    <!--组件名称-->
                    <rc-table-col name="{{'component_name' | translate}}"
                        [width]=250>
                        <div *rcTableColCell="let service = row">
                            {{service.data.name }}
                        </div>
                    </rc-table-col>
                    <!--容器数-->
                    <rc-table-col [width]="150"
                        name="{{'container_count' | translate}}">
                        <div *rcTableColCell="let service = row">
                            {{service.data.containers.length}}
                        </div>
                    </rc-table-col>
                    <!--镜像-->
                    <rc-table-col name="{{'image' | translate}}"
                        [width]=300
                        cellClass="rc-col-cell-truncated">
                          <ng-template rcTableColCell let-service="row">
                            <rc-service-image-display
                                [imageDisplayParams]="service.imageDisplayParams"
                            ></rc-service-image-display>
                          </ng-template>
                    </rc-table-col>
                    <!--操作-->
                    <rc-table-col [width]="50" cellClass="rc-col-cell-right" headerClass="rc-header-cell-right">
                        <div *rcTableColCell="let service = row; let index = rowIndex;">
                            <a  class="form-action-button"
                                href="javascript:void(0)"
                                (click)="toggleUpdateService(index)">
                                    <i class="fa fa-edit"></i>
                            </a>
                            <a  class="form-action-button"
                                href="javascript:void(0)"
                                (click)="removeService(index)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </rc-table-col>
                </rc-table>
            </div>
        </section>

        <!-- YAML preview -->
        <section class="toc-form-group" *ngIf="yamlPreview">
            <div class="form-group-header">
                <span>{{'yaml_compose_file' | translate}}</span>
            </div>
            <div class="form-group-content">
                <div class="rc-form-field">
                    <div class="rc-form-field-container"
                        style="min-width: 32em; margin-right: 0;">
                        <aui-code-editor name="yaml" required
                            [originalValue]="originalYaml"
                            [(ngModel)]="appYaml"
                            [options]="codeEditorOptions"
                            [actionsConfig]="codeActionsConfig">
                        </aui-code-editor>
                    </div>
                </div>
                <div class="rc-yaml-readonly-toggle" style="padding: 0;">
                    <a href="javascript:void(0);" *ngIf="yamlReadonly" (click)="toggleYamlReadonly()">{{'enter_yaml_edit_mode' | translate}}</a>
                </div>
            </div>
        </section>
    </form>
    <div class="toc-footer">
        <button class="none-nav" rcButton="primary-lite" *ngIf="!yamlPreview" [disabled]="submitting" (click)="generateYaml()">
            <i class="fa fa-hashtag" style="margin-right: 2px;"></i>{{ 'generate_yaml' | translate }}</button>
        <button class="none-nav" rcButton="primary-lite" *ngIf="yamlPreview && yamlReadonly" [disabled]="submitting" (click)="backToUi()">
            <i class="fa fa-hashtag" style="margin-right: 2px;"></i>{{ 'back_to_ui_edit_mode' | translate }}</button>
        <div style="flex: 1;"></div>
        <button rcButton="default"
            [disabled]="submitting"
            (click)="cancel()">{{ 'cancel' | translate }}</button>
        <button rcButton="primary"
            [loading]="submitting"
            [disabled]="!serviceList.length || submitting"
            (click)="confirm()">
            <span *ngIf="!update">{{ 'create' | translate }}</span>
            <span *ngIf="update">{{ 'update' | translate }}</span>
        </button>
    </div>
</div>
