<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<div *ngIf="initialized"
    class="service-form-container">
    <!-- ui mode -->
    <ul class="toc-links"
        [hidden]="yamlPreview">
        <li>
            <a href="javascript:void(0)"
                rcTocLink="toc_content_service_basic.toc_content_service_advance.toc_content_service_network"
                [for]="toc">
                <span class="link-icon icon-service">
                    <i class="fa fa-file-text-o"></i>
                </span>
                <span class="link-label">{{'component'| translate}}</span>
            </a>
            <div class="link-separator"></div>
            <ul class="secondary-links">
                <li>
                    <a rcTocLink="toc_content_service_basic"
                        [for]="toc"
                        href="javascript:void(0)">{{'basic' | translate}}</a>
                </li>
                <li>
                    <a rcTocLink="toc_content_service_advance"
                        [for]="toc"
                        href="javascript:void(0)">{{'advanced' | translate}}</a>
                </li>
            </ul>
        </li>

        <li *ngFor="let container of service.containers; let i = index; trackBy: trackByContainerIndex;">
            <a href="javascript:void(0)"
                rcTocLink="{{'toc_content_container_basic' + i + '.toc_content_container_advance' + i}}"
                [for]="toc">
                <span class="link-icon icon-container">
                    <i class="fa fa-codepen"></i>
                </span>
                <span class="link-label">{{'container' | translate}}</span>
                <a class="link-remove"
                    *ngIf="service.containers.length > 1"
                    href="javascript:void(0)"
                    (click)="removeContainer(container.index)">
                    <i class="fa fa-trash"></i>
                </a>
            </a>
            <div class="link-separator"></div>
            <ul class="secondary-links">
                <li>
                    <a rcTocLink="{{'toc_content_container_basic' + i}}"
                        [for]="toc"
                        href="javascript:void(0)">{{'basic' | translate}}</a>
                </li>
                <li>
                    <a rcTocLink="{{'toc_content_container_advance' + i}}"
                        [for]="toc"
                        href="javascript:void(0)">{{'advanced' | translate}}</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0)" rcTocLink="toc_content_kube_service" [for]="toc">
                <span class="link-icon icon-service">
                    <aui-icon icon="basic:route_s"></aui-icon>
                </span>
                <span class="link-label">Service</span>
            </a>
        </li>
    </ul>

    <form #serviceForm="ngForm"
        [hidden]="yamlPreview"
        novalidate>
        <div #toc=toc-contents-container
            rcTocContentsContainer
            class="toc-container">
            <!-- basic -->
            <section class="toc-form-group"
                rcTocContent="toc_content_service_basic">
                <div class="form-group-header">
                    {{'component' | translate}}-{{'basic' | translate}}
                </div>
                <div class="form-group-content">
                    <ng-container *ngIf="appUpdate && serviceViewModel">
                        <div class="form-field">
                            <label>{{'component_name' | translate}}</label>
                            <div class="field-container">
                                {{service.name}}
                            </div>
                        </div>
                        <div class="form-field">
                            <label>{{'service_create_deploy_model' | translate}}</label>
                            <div class="field-container">
                                {{service.kind}}
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="!appUpdate || !serviceViewModel">
                        <rc-form-field label="{{'component_name' | translate}}"
                                       [errorsMapper]="{service_name_existed: ('service_name_existed' | translate)}">
                            <input
                                rcInput
                                required
                                name="name"
                                maxlength="32"
                                rcServiceNameValidator
                                [rcNamespaceUuid]="namespace.uuid"
                                [placeholder]="resourceNameReg.tip | translate"
                                [pattern]="resourceNameReg.pattern"
                                [(ngModel)]="service.name" />
                        </rc-form-field>

                        <rc-form-field label="{{'service_create_deploy_model' | translate}}">
                            <rc-radio-group required
                                name='kind'
                                [(ngModel)]="service.kind"
                                [options]="serviceKindOptions">
                            </rc-radio-group>
                        </rc-form-field>
                    </ng-container>

                    <rc-form-field [hidden]="!shouldShowReplicas()"
                        label="{{'service_replicas' | translate}}">
                        <input rcInput
                            name='replicas'
                            min="1"
                            placeholder="{{'service_replicas_placeholder' | translate}}"
                            [pattern]="numberReg.pattern"
                            [(ngModel)]="service.replicas" />
                    </rc-form-field>

                </div>
            </section>

            <!-- advance -->
            <section class="toc-form-group"
                [hidden]="!showAdvanceOptions"
                rcTocContent="toc_content_service_advance">
                <div class="form-group-header"
                    [hidden]="!showAdvanceOptions">{{'component' | translate}}-{{'advanced'| translate}}</div>
                <div class="form-group-content"
                    [hidden]="!showAdvanceOptions">
                    <rc-form-field label="{{'component_labels' | translate}}"
                        [shouldFlexRow]="true">
                        <rc-service-fields-labels name='labels'
                            [(ngModel)]="service.labels"></rc-service-fields-labels>
                    </rc-form-field>

                    <div class="form-field"
                        *ngIf="shouldShowReplicas()">
                        <label>{{'service_scaling_config' | translate}}</label>
                        <div class="field-container">
                            <div class="field-content-row">
                                <div class="content-row-cell">
                                    <div class="rc-input-prefix">{{'min_num_instances'| translate}}</div>
                                    <input rcInput
                                        name="minReplicas"
                                        min="1" required
                                        [pattern]="numberReg.pattern"
                                        [(ngModel)]="service.minReplicas"
                                        [rcErrorsTooltip]
                                        type="text" />
                                    <div class="rc-input-suffix">{{'ge'| translate}}</div>
                                </div>
                                <div class="content-row-cell">
                                    <div class="rc-input-prefix">{{'max_num_instances'| translate}}</div>
                                    <input rcInput
                                        name="maxReplicas"
                                        min="1" required
                                        [pattern]="numberReg.pattern"
                                        [(ngModel)]="service.maxReplicas"
                                        [rcErrorsTooltip]
                                        type="text" />
                                    <div class="rc-input-suffix">{{'ge'| translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <rc-form-field label="{{'node_tag' | translate}}"
                        [shouldFlexRow]="true">
                        <rc-service-fields-node-tags name="nodeTags"
                            [(ngModel)]='service.nodeTags'></rc-service-fields-node-tags>
                    </rc-form-field>

                    <rc-form-field label="{{'service_affinity' | translate}}"
                        *ngIf="shouldShowAffinity()"
                        [shouldFlexRow]="true">
                        <rc-service-fields-affinity name="affinity"
                            [(ngModel)]="service.affinity"></rc-service-fields-affinity>
                    </rc-form-field>

                    <div class="form-field"
                        *ngIf="shouldShowMaxSurge() || shouldShowMaxUnavliable()">
                        <label>{{'service_update_strategy' | translate}}</label>
                        <div class="field-container">
                            <div class="field-content-row">
                                <div class="content-row-cell"
                                    *ngIf="shouldShowMaxSurge()">
                                    <div class="rc-input-prefix">{{'service_max_surge' | translate}}</div>
                                    <input rcInput
                                        type="text"
                                        name="maxSurge"
                                        pattern="^[0-9]+[%]?$"
                                        [rcErrorsTooltip]
                                        placeholder="{{'percentage_or_number' | translate}}"
                                        [(ngModel)]="service.maxSurge">
                                </div>
                                <div class="content-row-cell"
                                    *ngIf="shouldShowMaxUnavliable()">
                                    <div class="rc-input-prefix">{{'service_max_unavailable' | translate}}</div>
                                    <input rcInput
                                        type="text"
                                        name="maxUnavailable"
                                        pattern="^[0-9]+[%]?$"
                                        [rcErrorsTooltip]
                                        placeholder="{{'percentage_or_number' | translate}}"
                                        [(ngModel)]="service.maxUnavailable">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- network mode | host mode -->
                    <rc-service-fields-network-mode name="networkMode" [(ngModel)]="service.networkMode"></rc-service-fields-network-mode>
                </div>
            </section>

            <div class="toc-form-group-toggle"
                (click)="showAdvanceOptions = !showAdvanceOptions;">
                <span *ngIf="!showAdvanceOptions">
                    <i class="fa fa-angle-double-down"></i>{{'display_component_advanced' | translate}}</span>
                <span *ngIf="showAdvanceOptions">
                    <i class="fa fa-angle-double-up"></i>{{'hide_component_advanced' | translate}}</span>
            </div>
            <!-- containers -->
            <div class="rc-service-container-wrap"
                *ngFor="let container of service.containers; index as i; last as isLast; trackBy: trackByContainerIndex;">
                <a class="form-group-remove"
                    href="javascript:void(0)"
                    (click)="removeContainer(container.index)"
                    [hidden]="service.containers.length === 1">
                    <i class="fa fa-trash"></i>
                </a>
                <rc-service-container-fields name="container{{container.index}}"
                    [(ngModel)]="container.config"
                    [namespace]="service.namespace"
                    [serviceUuid]="serviceData?.resource.uuid"
                    [containerIndex]="container.index"
                    (portsChange)="containerPortsChange($event, container.index)"></rc-service-container-fields>
                <div class="rc-row-buttons" *ngIf="isLast">
                    <button rcButton="primary-lite" rcButtonSize="small" (click)="addContainer()">{{'add_container' | translate}}</button>
                </div>
            </div>

            <!-- kube service -->
            <section class="toc-form-group footer" rcTocContent="toc_content_kube_service">
                <div class="form-group-header">Service</div>
                <div class="form-group-content">
                    <rc-form-field label="Kubernetes Service" [shouldFlexRow]="true">
                        <rc-service-fields-kube-service name="kubeServices" [serviceName]="service.name" [(ngModel)]="service.kubeServices" [containerPortsOptions]="containerPortsOptions"></rc-service-fields-kube-service>
                    </rc-form-field>
                </div>
            </section>
        </div>
    </form>

    <div class="toc-footer">
        <div style="flex: 1;"></div>
        <button rcButton="default"
            [disabled]="submitting"
            (click)="cancel()">{{ 'cancel' | translate }}</button>
        <button rcButton="primary"
            [loading]="submitting"
            [disabled]="submitting"
            (click)="confirm()">
            <span>{{ 'save' | translate }}</span>
        </button>
    </div>
</div>
