:host {
  display: block;
  padding: 16px 18px;
  rc-form-field .rc-form-field {
    padding: 0 10%;
  }
  rc-code-editor {
    flex: 1;
  }
  .toc-form-group:first-child {
    margin-bottom: 16px;
  }
  .app-form-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    form {
      height: calc(100% - 61px);
      overflow: auto;
      padding: 24px;
    }
    ::ng-deep {
      rc-table {
        margin-bottom: 24px;
      }
    }
  }

  .toc-form-group {
    .form-group-content > rc-table {
      ::ng-deep .form-action-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        width: 18px;
        height: 18px;
        color: #999;
        transition: all 0.3s ease;
        &:first-child {
          margin-right: 8px;
        }
        &:focus {
          text-decoration: none;
        }
        &:hover {
          color: #24a7e3;
        }
      }
    }
  }
}
