<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<!-- step: basic -->
<ng-container *ngIf="initialized && currentStep === 'basic'">
  <div class="service-form-container">
    <!-- ui mode & yaml mode -->
    <ng-container *ngIf="!yamlPreview">
      <ul class="toc-links">
        <li>
          <a href="javascript:void(0)" rcTocLink="toc_content_app_basic" [for]="toc">
            <span class="link-icon icon-app">
              <!-- <i class="fa fa-cubes"></i> -->
              <aui-icon icon="basic:application_s"></aui-icon>
            </span>
            <span class="link-label">{{'application'| translate}}</span>
          </a>
          <div class="link-separator"></div>
        </li>
        <li>
          <a href="javascript:void(0)" rcTocLink="toc_content_service_basic.toc_content_service_advance.toc_content_service_network"
            [for]="toc">
            <span class="link-icon icon-component">
              <i class="fa fa-cube"></i>
            </span>
            <span class="link-label">{{'component'| translate}}</span>
          </a>
          <div class="link-separator"></div>
          <ul class="secondary-links">
            <li>
              <a rcTocLink="toc_content_service_basic" [for]="toc" href="javascript:void(0)">{{'basic' | translate}}</a>
            </li>
            <li>
              <a rcTocLink="toc_content_service_advance" [for]="toc" href="javascript:void(0)">{{'advanced' | translate}}</a>
            </li>
          </ul>
        </li>
    
        <li *ngFor="let container of service.containers; let i = index; trackBy: trackByContainerIndex;">
          <a href="javascript:void(0)" rcTocLink="{{'toc_content_container_basic' + i + '.toc_content_container_advance' + i}}" [for]="toc">
            <span class="link-icon icon-container">
              <i class="fa fa-codepen"></i>
            </span>
            <span class="link-label">{{'container' | translate}}</span>
            <a class="link-remove" *ngIf="service.containers.length > 1" href="javascript:void(0)" (click)="removeContainer(container.index)">
              <i class="fa fa-trash"></i>
            </a>
          </a>
          <div class="link-separator"></div>
          <ul class="secondary-links">
            <li>
              <a rcTocLink="{{'toc_content_container_basic' + i}}" [for]="toc" href="javascript:void(0)">{{'basic' | translate}}</a>
            </li>
            <li>
              <a rcTocLink="{{'toc_content_container_advance' + i}}" [for]="toc" href="javascript:void(0)">{{'advanced' | translate}}</a>
            </li>
          </ul>
        </li>
        
        <li>
          <a href="javascript:void(0)" rcTocLink="toc_content_kube_service" [for]="toc">
            <span class="link-icon icon-service">
                <aui-icon icon="basic:route_s"></aui-icon>
            </span>
            <span class="link-label">Service</span>
          </a>      
        </li>
      </ul>
    </ng-container>
  
    <form #appForm="ngForm" novalidate>
      <div #toc="toc-contents-container" rcTocContentsContainer class="toc-container" [class.keep-left]="yamlPreview">
        <!-- app basic -->
        <div class="toc-form-group header" rcTocContent="toc_content_app_basic">
          <div class="form-group-header">{{ 'application' | translate }}</div>
          <div class="form-group-content">
            <!-- create -->
            <ng-container *ngIf="!update">
              <!-- namespace -->
              <rc-form-field label="{{'region_namespace' | translate}}"
                  [shouldFlexRow]="true">
                  <rc-single-selection-dropdown #singleDropdown
                      required
                      name="namespace"
                      [options]="namespaceOptions"
                      [(ngModel)]="appPayload.namespace.name"
                      (change)="onNamespaceOptionChange($event)"
                      displayField="name"
                      valueField="name">
                  </rc-single-selection-dropdown>
              </rc-form-field>
              <!-- name -->
              <rc-form-field label="{{'app_name' | translate}}"
                  [shouldFlexRow]="true">
                  <input rcInput
                      name="appName"
                      [(ngModel)]="appPayload.resource.name"
                      maxlength="32"
                      [placeholder]="resourceNameReg.tip | translate"
                      [pattern]="resourceNameReg.pattern"
                      required>
              </rc-form-field>
              <!-- description -->
              <rc-form-field label="{{'display_name' | translate}}">
                  <input rcInput
                      name="description"
                      [(ngModel)]="appPayload.resource.description">
              </rc-form-field>
            </ng-container>
          </div>
        </div>
  
        <ng-container *ngIf="!yamlPreview">
          <!-- service basic -->
          <section class="toc-form-group" rcTocContent="toc_content_service_basic">
            <div class="form-group-header">
              {{'component' | translate}}-{{'basic' | translate}}
            </div>
            <div class="form-group-content">
              <ng-container *ngIf="update">
                <div class="form-field">
                  <label>{{'service_area' | translate}}</label>
                  <div class="field-container">
                    {{serviceData.cluster.name}}
                  </div>
                </div>
                <div class="form-field">
                  <label>{{'region_namespace' | translate}}</label>
                  <div class="field-container">
                    {{serviceData.namespace.name}}
                  </div>
                </div>
                <div class="form-field">
                  <label>{{'component_name' | translate}}</label>
                  <div class="field-container">
                    {{serviceData.resource.name}}
                  </div>
                </div>
                <div class="form-field">
                  <label>{{'service_create_deploy_model' | translate}}</label>
                  <div class="field-container">
                    {{serviceData.resource.kind}}
                  </div>
                </div>
              </ng-container>
          
              <ng-container *ngIf="!update">
                <rc-form-field label="{{'component_name' | translate}}" [errorsMapper]="{service_name_existed: ('service_name_existed' | translate)}">
                  <input rcInput required name="serviceName" maxlength="32" rcServiceNameValidator [rcNamespaceUuid]="appPayload.namespace.uuid"
                    [placeholder]="resourceNameReg.tip | translate" [pattern]="resourceNameReg.pattern" [(ngModel)]="service.name" />
                </rc-form-field>
          
                <rc-form-field label="{{'service_create_deploy_model' | translate}}">
                  <rc-radio-group required name='kind' [(ngModel)]="service.kind" [options]="serviceKindOptions">
                  </rc-radio-group>
                </rc-form-field>
              </ng-container>
          
              <rc-form-field [hidden]="!shouldShowReplicas()" label="{{'service_replicas' | translate}}">
                <input rcInput name='replicas' min="1" placeholder="{{'service_replicas_placeholder' | translate}}" [pattern]="numberReg.pattern"
                  [(ngModel)]="service.replicas" />
              </rc-form-field>
          
            </div>
          </section>
          <!-- service advance -->
          <section class="toc-form-group" [hidden]="!showAdvanceOptions" rcTocContent="toc_content_service_advance">
            <div class="form-group-header" [hidden]="!showAdvanceOptions">{{'component' | translate}}-{{'advanced'| translate}}</div>
            <div class="form-group-content" [hidden]="!showAdvanceOptions">
              <rc-form-field label="{{'component_labels' | translate}}" [shouldFlexRow]="true">
                <rc-service-fields-labels name='labels' [(ngModel)]="service.labels"></rc-service-fields-labels>
              </rc-form-field>
          
              <div class="form-field" *ngIf="shouldShowReplicas()">
                <label>{{'service_scaling_config' | translate}}</label>
                <div class="field-container">
                  <div class="field-content-row">
                    <div class="content-row-cell">
                      <div class="rc-input-prefix">{{'min_num_instances'| translate}}</div>
                      <input rcInput name="minReplicas" min="1" required [pattern]="numberReg.pattern" [(ngModel)]="service.minReplicas" [rcErrorsTooltip]
                        type="text" />
                      <div class="rc-input-suffix">{{'ge'| translate}}</div>
                    </div>
                    <div class="content-row-cell">
                      <div class="rc-input-prefix">{{'max_num_instances'| translate}}</div>
                      <input rcInput name="maxReplicas" min="1" required [pattern]="numberReg.pattern" [(ngModel)]="service.maxReplicas" [rcErrorsTooltip]
                        type="text" />
                      <div class="rc-input-suffix">{{'ge'| translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
          
              <rc-form-field label="{{'node_tag' | translate}}" [shouldFlexRow]="true">
                <rc-service-fields-node-tags name="nodeTags" [(ngModel)]='service.nodeTags'></rc-service-fields-node-tags>
              </rc-form-field>
          
              <rc-form-field label="{{'service_affinity' | translate}}" *ngIf="shouldShowAffinity()" [shouldFlexRow]="true">
                <rc-service-fields-affinity name="affinity" [(ngModel)]="service.affinity"></rc-service-fields-affinity>
              </rc-form-field>
          
              <div class="form-field" *ngIf="shouldShowMaxSurge() || shouldShowMaxUnavliable()">
                <label>{{'service_update_strategy' | translate}}</label>
                <div class="field-container">
                  <div class="field-content-row">
                    <div class="content-row-cell" *ngIf="shouldShowMaxSurge()">
                      <div class="rc-input-prefix">{{'service_max_surge' | translate}}</div>
                      <input rcInput type="text" name="maxSurge" pattern="^[0-9]+[%]?$" [rcErrorsTooltip] placeholder="{{'percentage_or_number' | translate}}"
                        [(ngModel)]="service.maxSurge">
                    </div>
                    <div class="content-row-cell" *ngIf="shouldShowMaxUnavliable()">
                      <div class="rc-input-prefix">{{'service_max_unavailable' | translate}}</div>
                      <input rcInput type="text" name="maxUnavailable" pattern="^[0-9]+[%]?$" [rcErrorsTooltip] placeholder="{{'percentage_or_number' | translate}}"
                        [(ngModel)]="service.maxUnavailable">
                    </div>
                  </div>
                </div>
              </div>
              <!-- network mode | host mode -->
              <rc-service-fields-network-mode name="networkMode" [(ngModel)]="service.networkMode"></rc-service-fields-network-mode>
            </div>
          </section>
          <div class="toc-form-group-toggle" (click)="showAdvanceOptions = !showAdvanceOptions;">
            <span *ngIf="!showAdvanceOptions">
              <i class="fa fa-angle-double-down"></i>{{'display_component_advanced' | translate}}</span>
            <span *ngIf="showAdvanceOptions">
              <i class="fa fa-angle-double-up"></i>{{'hide_component_advanced' | translate}}</span>
          </div>
          <!-- containers -->
          <div class="rc-service-container-wrap" *ngFor="let container of service.containers; index as i; last as isLast; trackBy: trackByContainerIndex;">
            <a class="form-group-remove" href="javascript:void(0)" (click)="removeContainer(container.index)" [hidden]="service.containers.length === 1">
              <i class="fa fa-trash"></i>
            </a>
            <rc-service-container-fields name="container{{container.index}}"
              [(ngModel)]="container.config"
              [namespace]="appPayload.namespace.name"
              [serviceUuid]="serviceData?.resource.uuid"
              [containerIndex]="container.index"
              (portsChange)="containerPortsChange($event, container.index)">
            </rc-service-container-fields>
            <div class="rc-row-buttons" *ngIf="isLast">
              <button rcButton="primary-lite" rcButtonSize="small" (click)="addContainer()">{{'add_container' | translate}}</button>
            </div>
          </div>

          <!-- Servcie -->
          <section class="toc-form-group footer" rcTocContent="toc_content_kube_service">
            <div class="form-group-header">Service</div>
            <div class="form-group-content" style="margin-left: 20px;">
              <rc-form-field [shouldFlexRow]="true">
                <rc-service-fields-kube-service name="kubeServices" [serviceName]="service.name" [(ngModel)]="service.kubeServices" [containerPortsOptions]="containerPortsOptions"></rc-service-fields-kube-service>
              </rc-form-field>
            </div>
          </section>

        </ng-container>
  
        <ng-container *ngIf="yamlPreview">
          <div class="toc-form-group rc-yaml-container">
            <div class="form-group-header">{{'yaml_preview' | translate}}</div>
            <div class="form-group-content">
                <div class="rc-form-field">
                    <div class="rc-form-field-container"
                        style="min-width: 32em; margin-right: 0;">
                        <aui-code-editor name="yaml" required
                            [originalValue]="originalYaml"
                            [(ngModel)]="serviceYaml"
                            [options]="codeEditorOptions"
                            [actionsConfig]="codeActionsConfig">
                        </aui-code-editor>
                    </div>
                </div>
              <div class="rc-yaml-readonly-toggle">
                <a href="javascript:void(0);" *ngIf="yamlReadonly" (click)="toggleYamlReadonly()">{{'enter_yaml_edit_mode' | translate}}</a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  
    <div class="toc-footer">
      <button rcButton="primary-lite" *ngIf="!yamlPreview" [disabled]="submitting" (click)="generateYaml()">
        <i class="fa fa-hashtag" style="margin-right: 2px;"></i>{{ 'generate_yaml' | translate }}</button>
      <button rcButton="primary-lite" *ngIf="!yamlPreview" [disabled]="submitting" (click)="addAppService()">
        <i class="fa fa-plus" style="margin-right: 2px;"></i>{{ 'add' | translate }}{{'component' | translate}}
      </button>
      <button style="margin-left: 0;" rcButton="default" *ngIf="yamlPreview && yamlReadonly" [disabled]="submitting" (click)="backToUi()">{{ 'back_to_ui_edit_mode' | translate }}</button>
      <div style="flex: 1;"></div>
      <button rcButton="default" [disabled]="submitting" (click)="cancel()">{{ 'cancel' | translate }}</button>
      <button rcButton="primary" [loading]="submitting" [disabled]="submitting" (click)="confirmApp()">
        <span *ngIf="!update">{{ 'create' | translate }}</span>
        <span *ngIf="update">{{ 'save' | translate }}</span>
      </button>
    </div>
  
  </div>
</ng-container>

<!-- step: add & update -->
<ng-container *ngIf="initialized && currentStep === 'add'">
  <rc-application-add-service
    [appUpdate]="update"
    (onConfirmed)="saveAppService($event)"
    [namespace]="appPayload.namespace"
    [serviceViewModel]="updatingService">
  </rc-application-add-service>
</ng-container>

<!-- step: staged & update -->
<ng-container *ngIf="initialized && currentStep === 'staged'">
  <rc-application-create-staged
    [update]="update"
    [namespace]="appPayload.namespace"    
    [appName]="appPayload.resource.name"
    [description]="appPayload.resource.description"
    [serviceList]="serviceList"
    (onConfirmed)="stagedConfirm($event)">
  </rc-application-create-staged>
</ng-container>
