<rc-form-container>
    <form class="rb-form" #appCreateForm="ngForm">
      <ng-container *ngIf="update">
        <div class="rc-form-field">
          <label class="rc-form-field-label">{{ 'region_namespace' | translate }}</label>
          <div class="rc-form-field-container">{{appData?.namespace?.name}}</div>
        </div>
        <div class="rc-form-field">
          <label class="rc-form-field-label">{{ 'app_name' | translate }}</label>
          <div class="rc-form-field-container">{{appData?.resource?.name}}</div>
        </div>
      </ng-container>
      <ng-container *ngIf="!update">
        <rc-form-field label="{{'region_namespace' | translate}}" [shouldFlexRow]="true" [hideErrors]="true">
          <rc-single-selection-dropdown
            #singleDropdown
            required
            name="namespace"
            [rcErrorsTooltip]
            [rcErrorsTooltipInline]="true"
            [options]="namespaceOptions"
            [(ngModel)]="appPayload.namespace.uuid"
            (change)="onNamespaceOptionChange($event)"
            displayField="name"
            valueField="uuid">
          </rc-single-selection-dropdown>
        </rc-form-field>
        <rc-form-field label="{{'app_name' | translate}}" [shouldFlexRow]="true" [hideErrors]="true">
          <input rcInput
                 name="name"
                 [rcErrorsTooltip]
                 [rcErrorsTooltipInline]="true"
                 [(ngModel)]="appPayload.resource.name"
                 minlength="4"
                 maxlength="62"
                 pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
                 required>
        </rc-form-field>
      </ng-container>
      <!-- common field -->
      <rc-form-field label="{{'display_name' | translate}}">
        <input rcInput name="description" [(ngModel)]="appPayload.resource.description">
      </rc-form-field>
      <!-- YAML -->
      <div class="rc-form-field">
        <div class="rc-form-field-label">{{'yaml_file' | translate}}</div>
        <div class="rc-form-field-container" style="min-width: 32em;">
            <aui-code-editor *ngIf="update"
              name="yaml"
              required
              [rcErrorsTooltip]
              [rcErrorsTooltipInline]="true"
              [originalValue]="originalYaml"
              [(ngModel)]="appYaml"
              [actionsConfig]="actionsConfigUpdate"
              [options]="codeEditorOptionsUpdate">
            </aui-code-editor>
            <aui-code-editor *ngIf="!update"
              name="yaml"
              required
              [rcErrorsTooltip]
              [rcErrorsTooltipInline]="true"
              [(ngModel)]="appYaml"
              [actionsConfig]="actionsConfigCreate"
              [options]="codeEditorOptions">
            </aui-code-editor>
            <!-- YAML template -->
            <div class="rc-sample-code-editor-toolbar">
                <span class="rc-sample-code-editor-toolbar__label">
                    {{ 'show_compose_demo' | translate }}:
                </span>
                <a class="rc-sample-code-editor-toolbar__button"
                    href="javascript:void(0)"
                    (click)="useDemoTemplate()">
                    <aui-icon icon="basic:write_file"></aui-icon>
                        {{ 'write_in' | translate }}
                </a>
                <a class="rc-sample-code-editor-toolbar__button"
                    href="javascript:void(0)"
                    (click)="showDemoTemplate(yamlDemoTemplate)">
                    <aui-icon icon="basic:eye_s"></aui-icon>
                        {{ 'view' | translate }}
                </a>
            </div>
        </div>
      </div>
    </form>
  
    <ng-container *rcFooterContent>
        <div fxFlex></div>
        <button fxFlexOffset="140px" rcButton="primary" [loading]="submitting" [disabled]="submitting" (click)="confirm()">{{'confirm' | translate}}</button>
        <button fxFlexOffset="12px" rcButton [disabled]="submitting" (click)="cancel()">{{'cancel' | translate}}</button>
    </ng-container>
  </rc-form-container>

  <ng-template #yamlDemoTemplate>
    <aui-dialog-header>
        {{ 'show_compose_demo' | translate }}
    </aui-dialog-header>
    <aui-dialog-content>
        <aui-code-editor
            class="rc-sample-code-editor"
            [options]="{ language: 'yaml', readOnly: true }"
            [actionsConfig]="actionsConfigView"
            [ngModel]="yamlTemplate">
        </aui-code-editor>
    </aui-dialog-content>
</ng-template>
  