rb-mongodb-app-dashboard {
  .monitor-cards {
    display: block;
    position: relative;
    margin-right: -16px;
    min-width: 900px;
    margin-bottom: 16px;
    &:after {
      clear: both;
      content: ' ';
      display: block;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      width: 0;
      height: 0;
    }

    rb-mongodb-monitor-chart-card {
      .rb-metric-name-tooltip .tooltip-inner {
        word-break: break-all;
      }
    }
    &[min-width~='900px'] {
      rb-mongodb-monitor-chart-card {
        width: calc(50% - 16px);
      }
      rb-mongodb-monitor-overview-card {
        width: calc(25% - 16px);
      }
    }
    &[min-width~='1350px'] {
      rb-mongodb-monitor-chart-card {
        width: calc(33.33% - 16px);
      }
      rb-mongodb-monitor-overview-card {
        width: calc(25% - 16px);
      }
    }
  }

  .monitor-toolbar {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    > * {
      margin-right: 8px;
    }
    label {
      font-weight: 400;
    }
  }
}
