<div
  ng-if="!(vm.services&&vm.services.length)"
  class="rb-loading-mask-placeholder">{{'app_links_empty' | translate }}
</div>
<div ng-show="vm.services&&vm.services.length">
  <div class="zoom-button-group">
    <button
      class="zoom-button text-button"
      ng-click="vm.resetGraph()">
      {{ 'reset' | translate }}
    </button>
    <button
      class="zoom-button"
      ng-disabled="vm.graphScale<=0.5"
      ng-click="vm.zoomOut()">
      -
    </button>
    <button
      class="zoom-button"
      ng-disabled="vm.graphScale>=1.5"
      ng-click="vm.zoomIn()">
      +
    </button>
  </div>
  <div class="canvas-container"></div>
</div>
