rb-service-links-graph {
  canvas,
  svg {
    display: block;
    margin: auto;
  }

  .zoom-button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    user-select: none;

    .zoom-button {
      display: block;
      margin-left: 12px;
      width: 28px;
      height: 28px;
      font-size: 18px;
      line-height: 16px;
      border: 1px solid #cfcfcf;
      color: #464646;
      background-color: #ffffff;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #e6e6e6;
      }

      &[disabled] {
        opacity: 0.4;
      }
    }

    .text-button {
      width: auto;
      padding: 0 8px;
      font-size: 14px;
    }
  }
}
