/* To decorate the subject line and control buttons in a page. */
.rb-console .rb-page-heading {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  min-height: 32px;

  h1 {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 24px;
    flex: 2;
    overflow: hidden;

    > *:not(:last-child) {
      margin-right: 8px;
    }

    > .badge {
      min-width: unset;
    }

    > [title] {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.visible {
        overflow: visible;
      }
    }
  }

  .page-heading-toolbar {
    display: flex;
    align-items: center;
    flex: 1;
    > label {
      font-weight: 400;
      margin-right: 8px;
    }
    .ui.input {
      min-width: 12em;
    }
  }
  .rb-heading-button-group {
    display: flex;
    > * {
      margin-left: 4px;
    }
  }
  rb-dropdown-menu {
    align-self: center;
    .ui.button {
      margin-right: 0;
    }
  }
}
