@import 'colors.styles';

$list-odd-background-color: #fff;
$list-even-background-color: #f8f8f8;
$list-hover-background-color: #eff5f8;

@mixin status-list-status-bar($color) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: $color;
}

.rb-console {
  .rb-status-list {
    border: 1px solid #eee;
    .rb-status-list-item {
      display: flex;
      position: relative;
      min-height: 72px;
      padding: 5px 10px;
      transition: background-color 0.5s;
      width: 100%;

      a:hover {
        text-decoration: underline;
      }

      &:nth-child(odd) {
        background-color: $list-odd-background-color;
      }

      &:nth-child(even) {
        background-color: $list-even-background-color;
      }

      &.ok,
      &.success {
        &:before {
          @include status-list-status-bar($status-color-success);
        }
      }

      &.stopped,
      &.error {
        &:before {
          @include status-list-status-bar($status-color-error);
        }
      }

      &.pending,
      &.waiting {
        &:before {
          @include status-list-status-bar($status-color-pending);
        }
      }

      &.deploying,
      &.in-progress {
        &:before {
          @include status-list-status-bar($status-color-in-process);
        }
      }

      &:hover {
        background-color: $list-hover-background-color;
      }
    }
  }

  .status-list-bullet {
    font-size: 8px;
    margin-right: 8px;
    &.success {
      color: $status-color-success;
    }
    &.error {
      color: $status-color-error;
    }
    &.pending {
      color: $status-color-pending;
    }
    &.in-progress {
      color: $status-color-in-process;
    }
    &.stopped {
      color: $status-color-stopped;
    }
  }

  .status-info-abstract-row {
    cursor: pointer;
    position: relative;
    z-index: 0;

    > .flex,
    > div[flex] {
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    i.fa {
      width: 1em;
      text-align: center;
    }
  }
}
