@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

$table-flex-large: 4 0 100px;
$table-flex-medium: 1 0 100px;
$table-flex-small: 0 0 100px;

.aui-table {
  // Reset AUI Table styles until they are applied to the master branch.
  .aui-table__header-row {
    margin-top: -1px;
  }

  .aui-table__header-row,
  .aui-table__row {
    padding: 0;
  }

  .aui-table__header-cell {
    padding: 0 8px;
    white-space: nowrap;
  }

  .aui-table__column-name {
    flex: $table-flex-medium;
    max-width: 180px;
    @include text-overflow();
    a {
      display: inline-block;
      color: #009ce3;
      text-decoration: none;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 7px;
    }
  }

  .aui-table__cell {
    padding: 12px 8px;
  }

  .aui-table__cell,
  .aui-table__header-cell {
    flex: $table-flex-medium;
  }

  .aui-table__column-label,
  .aui-table__column-reason,
  .aui-table__column-message,
  .aui-table__column-image,
  .aui-table__column-node_addresses,
  .aui-table__column-containerImages,
  .aui-table__column-internal_endpoints,
  .aui-table__column-allocated_resources {
    flex: $table-flex-large;
  }

  .aui-table__column-label {
    max-width: 300px;
  }

  .aui-table__column-count,
  .aui-table__column-type,
  .aui-table__column-restarts {
    flex: $table-flex-small;
    @include text-overflow();
  }

  .aui-table__column-action {
    flex: 0 0 44px;
    display: flex;
    justify-content: center;
  }

  .aui-table__column-creationTimestamp {
    flex: 1 0 120px;
  }

  .aui-table__cell {
    &.aui-table__column-status,
    &.aui-table__column-pods {
      display: flex;
      align-items: center;

      rc-status-icon {
        margin-right: 4px;
      }
    }
  }

  .aui-table__column-action .action-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #333;

    &:hover,
    &__active {
      background-color: #e5f5fc;
      color: #009ce3;
    }

    aui-icon {
      font-size: 12px;
    }
  }

  rc-tags-label {
    max-width: 100%;
  }
}
