<!--Explain why there is no data-->
<div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
  <div *ngIf="!(loadError | async)">
    {{ "have_no_app" | translate }}
  </div>
  <div *ngIf="loadError | async">
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError | async"
          rcButton="primary"
          style="margin-top: 12px;"
          (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>

<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<!--App list-->
<div *ngIf="!empty" class="rc-list-container">
  <rc-table #appTable
            class="rc-primary-table"
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowHeight]="82"
            [rows]="appItems">
    <!--Row Detail Template-->
    <rc-table-row-detail [rowHeight]="'auto'">
      <ng-template rcTableRowDetailTemplate let-row="row" let-expanded="expanded">
        <rc-k8s-app-service-list [appUuid]="row.resource.uuid"></rc-k8s-app-service-list>
      </ng-template>
    </rc-table-row-detail>
    <!--Toggle Service List-->
    <rc-table-col
      [width]="30"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false">
      <ng-template rcTableColCell let-row="row" let-rindex="rowIndex" let-expanded="expanded">
        <a
          *ngIf="shouldShowToggleExpand(row)"
          class="rc-table-row-expand"
          href="javascript:void(0)"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          (click)="toggleExpandRow(row, rindex)">
          <i class="fa fa-angle-right"></i>
        </a>
      </ng-template>
    </rc-table-col>
    <!--应用名称-->
    <rc-table-col [width]="250" name="{{'application_name' | translate}}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/app.svg">
          <div class="rc-lines">
            <div class="rc-line"><a href="javascript:void(0)" [routerLink]="['/k8s_app/detail', rowData.resource.uuid]">{{ rowData.resource.name }}</a></div>
          </div>
        </div>
      </div>
    </rc-table-col>
    <!--状态-->
    <rc-table-col [width]="150" name="{{'status' | translate}}">
      <div *rcTableColCell="let rowData = row">
        <rc-status-badge [status]="rowData.resource.status"></rc-status-badge>
      </div>
    </rc-table-col>
    <!--服务数目-->
    <rc-table-col [width]="150" name="{{'service' | translate}}">
      <div *rcTableColCell="let rowData = row">
        <span>{{ rowData.resource?.services?.total }}</span>
      </div>
    </rc-table-col>
    <!--命名空间-->
    <rc-table-col [width]="150" name="{{'region_namespace' | translate}}">
      <div *rcTableColCell="let rowData = row">
        {{ rowData.namespace.name }}
      </div>
    </rc-table-col>
    <!--操作-->
    <rc-table-col [width]="150" name="{{'action' | translate}}"
                  cellClass="rc-col-cell-right"
                  headerClass="rc-header-cell-right">
      <div *rcTableColCell="let rowData = row">
        <rc-button-menu>
          <button rcButton rcButtonSize="small" rcButtonMenuDefault (click)="viewApp(rowData)">
            {{'view' | translate}}
          </button>
          <button rcMenuButton *ngIf="appUtilities.showStart(rowData)"
                  [disabled]="!appUtilities.canStart(rowData)" (click)="startApp(rowData)">{{'start' | translate}}</button>
          <button rcMenuButton *ngIf="appUtilities.showStop(rowData)"
                  [disabled]="!appUtilities.canStop(rowData)" (click)="stopApp(rowData)">{{'stop' | translate}}</button>
          <button rcMenuButton *ngIf="appUtilities.showUpdate(rowData)"
                  [disabled]="!appUtilities.canUpdate(rowData)" (click)="updateApp(rowData)">{{'update' | translate}}</button>
          <button rcMenuButton *ngIf="appUtilities.showDelete(rowData)"
                  [disabled]="!appUtilities.canDelete(rowData)" (click)="deleteApp(rowData)">{{'delete' | translate}}</button>
        </rc-button-menu>
      </div>

    </rc-table-col>
  </rc-table>

  <section class="rc-list-pagination">
    <rc-pagination [count]="count" [pageSize]="pageSize" [disabled]="loading" (pageChanged)="pageChanged($event)"></rc-pagination>
  </section>
</div>

