.quota-textarea {
  width: 100%;
  margin: 0;
  padding: 0.5em 8px;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  outline: 0;
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: inset 0 0 0 0 transparent;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  -o-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
  font-size: 1em;
  line-height: 1.25;
  resize: vertical;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.quota-form-row {
  margin-right: 50px;
}

rc-fieldset-quota-space {
  width: 100%;
  margin-right: 50px;
}

.quota-input-message {
  margin-left: 150px;
}

rc-single-selection-dropdown {
  width: 100%;
}

.rb-quota-table {
  width: unset !important;
}

.unitLabel {
  > input {
    border-radius: 5px 0 0 5px;
  }
  > div.label {
    border-radius: 0 5px 5px 0;
  }
}
