<rc-form-container>
  <form class="rb-form" #quotaUpdateForm="ngForm" (ngSubmit)="submit()">
    <!-- Space Name -->
    <rc-form-field label="{{'name' | translate}}"
                  [shouldFlexRow]="true"
                  [hideErrors]="true">
        <input rcInput
              [hidden]="!isNew"
              type="text"
              name="name"
              [rcErrorsTooltip]
              [rcErrorsTooltipMapper]="errorMapper"
              [(ngModel)]="model.name"
              pattern="^[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?$"
              minlength="1"
              maxlength="36"
              placeholder="{{ 'space_name_placeholder' | translate }}"
              required>
        <label class="rb-input-text"
                [hidden]="isNew">
          {{ model.name }}
        </label>
    </rc-form-field>

    <!-- Description -->
    <rc-form-field label="{{'description' | translate}}"
                  [shouldFlexRow]="true"
                  [hideErrors]="true">
        <textarea name="alarm_desc"
                  rcInput
                  class="quota-textarea"
                  style="border-radius: 5px;"
                  [(ngModel)]="model.description"
                  rows="4"
                  maxlength="255"></textarea>
    </rc-form-field>

    <!-- Quotas -->
    <div class="rc-form-field">
      <label class="rc-form-field-label">
          {{ 'quota_space_quotas_label' | translate }}
      </label>
      <div class="rc-form-field-container">
        <table class="table-condensed rb-fieldset-table rb-quota-table">
          <thead>
            <tr>
              <td style="width: 60%">{{ 'quota_quota_type' | translate }}</td>
              <td style="width: 35%;">{{ 'quota_quota_value' | translate }}</td>
              <td>{{ 'action' | translate }}</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of model.quotas; let i=index">
              <td>
                <rc-single-selection-dropdown
                  [rcLoadingMask]="!quotaTypes"
                  [allowFilter]="false"
                  displayField="label"
                  valueField="name"
                  [name]="'q' + i"
                  [(ngModel)]="row.name"
                  [allowFilter]="false"
                  [options]="quotaTypes">
                </rc-single-selection-dropdown>
              </td>
              <td>
                <div class="ui fluid labeled input unitLabel">
                  <input
                    type="number"
                    rcInput
                    min="0"
                    [name]="'qHard' + i"
                    required
                    [(ngModel)]="row.hard">
                  <div class="ui label text-bold">
                    {{ unitLabels[row.name] }}
                  </div>
                </div>
              </td>
              <td>
                <button class="rb-fieldset-action-btn"
                        (click)="deleteRow(i)">
                  <i class="fa fa-remove"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="canAdd()">
              <td colspan="5">
                <button (click)="addRow()"
                        class="rb-fieldset-add-btn">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="rb-form-row rb-input-message quota-input-message"
          *ngIf="hasDuplicatedQuotaTypes()">
      <div>{{ 'quota_duplicate_quota_type_error' | translate }}</div>
    </div>
  </form>

  <ng-container *rcFooterContent>
    <button rcButton="default"
            type="button"
            (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
    <button rcButton="primary"
            type="submit"
            [class.loading]="submitting"
            [disabled]="!formValid() || this.submitting"
            (click)="quotaUpdateForm.onSubmit()">
      {{'confirm' | translate}}
    </button>
  </ng-container>
</rc-form-container>
