<div class="rc-query rc-mb-5">
  <form class="rc-query-form">
    <div class="rc-query-fields">
      <aui-form-item>
        <label auiFormItemLabel>{{'monitor_period'|translate}}</label>
        <aui-select [(ngModel)]="timeRangeOption" 
                    includes 
                    [loading]="loading" 
                    (ngModelChange)="onTimeRangeChanged($event)"
                    name="timeRangeSelect">
          <aui-option *ngFor="let option of timeRangeOptions" [label]="option.name" [value]="option.type">{{option.name}}</aui-option>
        </aui-select>
        <div class="rc-query-date" *ngIf="timeRangeOption === 'custom_time_range'">
          <label>&nbsp;{{ "from" | translate }}</label>
          <div class="rc-input-wrapper" (valueChange)="onStartTimeSelect($event)" [rcCalendar]="calendarOptions" [(value)]="queryDatesShown.startTime">
            <input aui-input [ngModel]="queryDatesShown.startTime" name="startTime" auiFormItemControl/>
            <span class="rc-input-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
        <div class="rc-query-date" *ngIf="timeRangeOption === 'custom_time_range'">
          <label>&nbsp;{{ "to" | translate }}</label>
          <div class="rc-input-wrapper" (valueChange)="onEndTimeSelect($event)" [rcCalendar]="calendarOptions" [(value)]="queryDatesShown.endTime">
            <input aui-input [ngModel]="queryDatesShown.endTime" auiFormItemControl name="endTime"/>
            <span class="rc-input-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
        <div *ngIf="timeRangeOutOfDate" class="field-group" style="color: red;line-height: 26px;padding-left: 8px;">
          {{'query_condition_time_range_out_of_date' | translate}}
        </div>
      </aui-form-item>
      <aui-form-item *ngIf="!embedded">
        <label auiFormItemLabel>{{'query_condition'|translate}}</label>
        <aui-muti-select 
          auiFormItemControl 
          name="queryCondition" 
          [(ngModel)]="conditions"
          (ngModelChange)="setConditions($event)"
          size="medium"
          [allowCreate]="true"
          [filterable]="true"
          [loading]="loading">
          <aui-option-placeholder>{{'search_no_result' | translate}}</aui-option-placeholder>
          <aui-option *ngFor="let option of suggestions" [label]="option" [value]="option">{{option}}</aui-option>
        </aui-muti-select>
      </aui-form-item>
    </div>
  </form>
</div>

<div class="event-list rc-mb-5" [rcLoadingMask]="loading">
  <ng-container *ngIf="!loading && initialized">
    <aui-table [dataSource]="events"  [trackBy]="trackByFn">
      <ng-container auiTableColumnDef="namespace" *ngIf="!isUserView">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{'namespace' | translate}}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item" title="{{item.metadata.namespace}}" [rcTooltip]="item.metadata.namespace" rcTooltipPosition="top center">
          <ng-container *ngIf="item.metadata.namespace; else noNamespace">
            {{item.metadata.namespace}}
          </ng-container>
          <ng-template #noNamespace>-</ng-template>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="type">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'type' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item" [rcTooltip]="item.involvedObject.kind" rcTooltipPosition="top center">
          {{item.involvedObject.kind}}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="resource_name">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'k8s_event_resource_name' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item" [rcTooltip]="item.involvedObject.name" rcTooltipPosition="top center">
          {{item.involvedObject.name}}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="time_range">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'k8s_event_time_range' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <div class="rc-truncate" title="{{item.firstTimestamp}}" [rcTooltip]="item.firstTimestamp | rcFormatUtcStr" rcTooltipPosition="top center">
            {{item.firstTimestamp | rcFormatUtcStr}}
          </div>
          <div class="rc-truncate" title="{{item.lastTimestamp}}" [rcTooltip]="item.lastTimestamp  | rcFormatUtcStr" rcTooltipPosition="top center">
            {{item.lastTimestamp | rcFormatUtcStr}}
          </div>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="count">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'k8s_event_count' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{item.count}}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="reason">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'k8s_event_reason' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item" [rcTooltip]="item.reason" rcTooltipPosition="top center">
          {{item.reason}}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="message">
        <aui-table-header-cell *auiTableHeaderCellDef>{{'k8s_event_message' | translate}}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item" [rcTooltip]="item.message" rcTooltipPosition="top center">
          {{item.message}}
        </aui-table-cell>
      </ng-container>
      <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
      <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
    </aui-table>
  </ng-container>
  <div class="event-empty" *ngIf="!loading && initialized && !events.length">
    <ng-container *ngIf="isUserView; else platform">
      <div [translate]="'zero_state_hint'" [translateParams]="{ resourceName: ('event' | translate) }"></div>
    </ng-container>
    <ng-template #platform>
      {{ (conditions.length>0?'no_results':'no_data') | translate }}
    </ng-template>
  </div>
</div>
<rc-pagination2 
  [count]="pagination.pages * pagination.size"
  [page]="pagination.current"
  [pageSize]="pagination.size"
  [disabled]="loading"
  (pageChanged)="pageChanged($event)">
</rc-pagination2>