@import 'definitions/rubick.def';

:host {
  ::ng-deep {
    .form-main-container {
      flex: 1;
    }
    .form-input-row {
      width: 100%;
    }
  }
}
.rc-input {
  &-wrapper {
    display: inline-flex;
    .aui-input {
      border-radius: 3px 0 0 3px;
    }
  }
  &-addon {
    padding: 0 8px;
    display: inline-flex;
    align-items: center;
    background-color: $gray-10;
    border: 1px solid $gray-20;
    border-radius: 0 3px 3px 0;
    border-left: none;
  }
}

.rc-query {
  background-color: $color-white;
  &-form {
    display: flex;
  }
  &-fields {
    flex: 1;
    padding: 20px 20px 0;
  }
  &-submit {
    padding: 0 space(5);
    display: flex;
    align-items: center;
    background-color: #fafafa;
  }
  aui-muti-select {
    flex: 1;
    ::ng-deep .aui-muti-select {
      width: 100%;
      .aui-tag--info {
        color: $gray-60;
      }
    }
  }
  aui-select {
    margin-right: space(10);
  }
  &-date {
    margin-right: space(1);
    .rc-input-wrapper {
      margin-left: space(1);
    }
  }
}
.event-list {
  padding: space(5);
  background-color: $color-white;
  .aui-table {
    &__cell,
    &__header-cell {
      padding: 0 space(2);
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__column {
      &-namespace {
        flex: 3;
      }
      &-type {
        flex: 2;
      }
      &-resource_name {
        flex: 3;
      }
      &-count {
        flex: 1;
        text-align: right;
      }
      &-reason {
        flex: 2;
      }
      &-time_range {
        flex: 4;
      }
      &-message {
        flex: 10;
      }
    }
  }
}
.event-empty {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray-40;
}
