<table class="rb-preview-child-table">
  <thead>
  <tr>
    <td ng-if="vm.listeners[0].networkType">{{ 'type' | translate }}</td>
    <td ng-if="vm.listeners[0].lbName">{{ 'name' | translate }}</td>
    <td>{{ 'listening_port' | translate }}</td>
    <td>{{ 'container_port' | translate }}</td>
    <td>{{ 'protocol' |translate }}</td>
    <td ng-if="vm.listeners[0].rules">{{ 'address' | translate }}</td>
    <td ng-if="!vm.listeners[0].networkType">{{ 'certificate' | translate }}</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="listener in vm.listeners track by $index" ng-class="{'divide-row':$index!==0 && listener.showBorder}">
    <td ng-if="listener.networkType" rowspan="{{ listener.num }}">{{ listener.networkType | translate }}</td>
    <td ng-if="listener.lbName" rowspan="{{ listener.num }}">{{ listener.lbName }}/{{ listener.lbType }}</td>
    <td>{{ listener.listener_port || listener.lb_port }}</td>
    <td>{{ listener.container_port }}</td>
    <td>{{ listener.protocol | uppercase }}</td>
    <td ng-if="listener.rules">
      <span ng-repeat="rule in listener.rules track by $index"><i ng-if="$index!==0">,</i>{{ rule.domain+rule.url }}</span>
    </td>
    <td ng-if="!vm.listeners[0].networkType"><span ng-if="listener.certificate_name">{{ listener.certificate_name }}</span></td>
  </tr>
  </tbody>
</table>
