<span>{{ value }}</span>
<a
  href="javascript:void(0)"
  *ngIf="!!value"
  (click)="!disabled && selectRepo()"
>
  <i class="fa fa-edit" ></i>
</a>
<button
  rcButton="default"
  rcButtonSize="small"
  *ngIf="!value"
  (click)="selectRepo()"
  [disabled]="!this.codeClient || !this.codeOrg"
>
  {{ 'select' | translate }}
</button>
