rb-service-detail {
  .rb-service-domain-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .rb-service-domain-item {
      line-height: 24px;
    }
  }
  rb-service-detail-config-files {
    .rb-striped-list {
      rb-copy-span {
        span {
          display: inline-block;
          width: 100%;
        }
      }
      .rb-copy-span-tooltip {
        word-break: break-all;
        .tooltip-inner {
          max-width: 360px;
        }
      }
    }
  }
}

// detail page content
.rb-detail-container {
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
  margin: 16px 0;
  .rb-detail-tab-container {
    padding: 16px;
    min-height: 120px;
    .instance-management {
      background: #f1f5f7;
      border-radius: 15px;
      width: 100%;
      height: 84px;
      > div {
        padding: 10px;
        background-color: #f1f5f7;
        border-radius: 10px;
        > a {
          text-decoration: underline;
        }
      }
    }
    .restart-color {
      background-color: #45b6ea;
      height: 22px;
      width: 22px;
      text-align: center;
    }
    .affinity-setting {
      width: 100%;
      table-layout: fixed;
      td {
        vertical-align: top;
        .service-label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .node-label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  .rb-detail-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 40px;
    border-bottom: 1px solid #eee;
    span:nth-child(2) {
      cursor: pointer;
      padding: 4px 8px;
      transition: transform 0.3s, color 0.3s;
      &:hover {
        color: #37acf0;
      }
      &.rb-collapse {
        transform: rotate(-90deg);
      }
    }
  }
  &.rb-collapse .rb-detail-content-header {
    border-bottom: none;
  }
  .rb-detail-content-wrap {
    min-height: 80px;
    overflow: hidden;
    transition: max-height 0.3s;
  }
  &.rb-collapse .rb-detail-content-wrap {
    max-height: 0;
    min-height: 0;
  }
  .rb-detail-content {
    padding: 16px;
    .rb-detail-row {
      display: flex;
      line-height: 36px;
      div {
        word-break: break-all;
      }
      > div:nth-child(odd) {
        text-align: right;
        padding-right: 16px;
        color: #a1a1a1;
        flex: 0 0 175px;
        min-width: 186px;
      }
      > div:nth-child(even) {
        color: #666;
        flex: 1;
      }
    }
  }
}

// used for env-file table header
.rb-detail-table-caption {
  display: flex;
  color: #333;
  padding: 4px 10px;
  border: 1px solid #eee;
  align-items: center;
  .ui.input {
    min-width: 16em;
  }
  .fa {
    cursor: pointer;
    padding: 4px 8px;
    transition: transform 0.3s, color 0.3s;
    &:hover {
      color: #37acf0;
    }
  }
  &.rb-collapse {
    .fa {
      transform: rotate(-90deg);
    }
  }
  & + .rb-detail-table-wrap > .rb-detail-table {
    border-top: none;
  }
}

// used for env-file table collapse
.rb-detail-table-wrap {
  max-height: 600px;
  overflow: auto;
  transition: max-height 0.3s;
  margin-bottom: 8px;
  border-bottom: 1px solid #eee;
  &.rb-collapse {
    max-height: 0;
  }
}

.rb-automation-note {
  border: 1px solid #eee;
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  color: #666;
  background-color: #fcfcfc;
}

.rc-form-table {
  width: 100%;
  table-layout: fixed;
  thead {
    background-color: #f0f0f0;
  }
  tbody {
    background-color: #fafafa;
  }
  td {
    line-height: 24px;
    padding: 4px 8px;
  }
  tr:not(.rc-form-input) button {
    padding: 4px 8px;
  }
}
.rc-form-table-empty {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  background-color: #fafafa;
}
