<rb-region-badge-option
  on-change-state="'app_service.service.list'">
</rb-region-badge-option>

<div ng-if="vm.initialized" class="rb-page-heading">
  <h1>
    <i class="fa fa-fw fa-cube"></i>
    <span title="{{vm.app.app_name}}">{{ vm.serviceData.service_name }}</span>
    <span rubick-status-icon
          status="vm.serviceData.current_status"
          mode="detail"></span>
    <span rubick-status-icon
          status="vm.serviceData.health_status"
          status-text="{{ vm.serviceData.healthy_num_instances }}/{{ vm.serviceData.target_num_instances }}"
          mode="detail"></span>
    <!--service stateful-->
    <span rubick-status-icon ng-if="vm.isStateful" status="'OK'" mode="detail"
          status-text="{{ 'stateful_app' | translate }}"></span>
    <!--service auto deploy status-->
    <span rubick-status-icon
          ng-if="!vm.isPrivateDeployEnabled && vm.automation['is_active']"
          status="'OK'" mode="detail"
          status-text="{{ 'auto_deploy' | translate }}"></span>
  </h1>
  <div flex></div>
  <div class="rb-heading-button-group">
    <button class="ui button rb-btn-primary"
            ng-if="vm.serviceUtilities.startButton(vm.serviceData.current_status) && vm.checkActionPermission('start')"
            ng-click="vm.actionStart()" ng-disabled="vm.serviceActionLoading">{{ "start" | translate }}
    </button>
    <button class="ui button rb-btn-secondary"
            ng-if="vm.serviceUtilities.stopButton(vm.serviceData.current_status) && vm.checkActionPermission('stop')"
            ng-click="vm.actionStop()" ng-disabled="vm.serviceActionLoading">{{ "stop" | translate }}
    </button>

    <button class="ui button rb-btn-default"
            ng-if="vm.serviceUtilities.updateButton(vm.serviceData.current_status) && vm.checkActionPermission('update')"
            ng-click="vm.actionEdit()" ng-disabled="vm.serviceActionLoading">{{ "update" | translate }}
    </button>

    <rb-dropdown-menu rb-title="{{ 'action' | translate }}">
      <rb-dropdown-menu-item
        ng-if="!vm.isPrivateDeployEnabled && vm.automation && vm.checkActionPermission('update')"
        ng-click="vm.actionAutomation()">
        {{ "automation" | translate }}
      </rb-dropdown-menu-item>

      <rb-dropdown-menu-item
        ng-if="!vm.serviceData.application_name && vm.checkActionPermission('update') && vm.serviceUtilities.updateButton(vm.serviceData.current_status) && !vm.serviceInAction"
        ng-click="vm.showLabelsDialog(vm.serviceData.namespace, 'service', (vm.serviceData.uuid || vm.serviceData.service_name), vm.labelsUpdated)">
        {{ "labels_update" | translate }}
      </rb-dropdown-menu-item>

      <rb-dropdown-menu-item
        ng-if="vm.regionFeatures.includes('exec') && vm.serviceUtilities.execButton(vm.serviceData.current_status) && vm.checkActionPermission('update')"
        ng-click="vm.actionExec()">EXEC
      </rb-dropdown-menu-item>

      <rb-dropdown-menu-item
        ng-if="vm.serviceUtilities.updateButton(vm.serviceData.current_status) && vm.checkActionPermission('update') && vm.ScalingModeEnabled()"
        ng-click="vm.actionScalingConfig()">
        {{ 'scaling_mode' | translate }}
      </rb-dropdown-menu-item>

      <rb-dropdown-menu-item
        ng-if="vm.serviceUtilities.updateButton(vm.serviceData.current_status) && vm.checkActionPermission('update') && vm.UpdateStrategyWithDeployEnabled() &&
         vm.update_strategy_enabled && vm.isKubernetesContainer()"
        ng-click="vm.updateStrategy()">
        {{ 'update_strategy' | translate }}
      </rb-dropdown-menu-item>

      <rb-dropdown-menu-item
        ng-if="vm.serviceUtilities.updateButton(vm.serviceData.current_status) && vm.checkActionPermission('update') && vm.isSupportKubeServices() &&
               vm.serviceData.ports.length"
        ng-click="vm.updateK8sService()">
        {{ 'kubernetes_service'| translate }}
      </rb-dropdown-menu-item>

      <rb-dropdown-menu-item
        ng-if="vm.serviceUtilities.updateButton(vm.serviceData.current_status) && vm.checkActionPermission('update') && vm.serviceData.container_manager === 'KUBERNETES'"
        ng-click="vm.updateDefaultDomain()">
        {{ 'update_default_domain'| translate }}
      </rb-dropdown-menu-item>

      <rb-dropdown-menu-item
        ng-if="vm.checkActionPermission('permission') && !vm.serviceData.application"
        ng-click="vm.actionPermission()">
        {{ "permission_manage" | translate }}
      </rb-dropdown-menu-item>

      <rb-dropdown-menu-item
        ng-if="vm.serviceUtilities.retryUpdateButton(vm.serviceData.current_status) && vm.checkActionPermission('update')"
        ng-click="vm.actionRetryUpdate()">
        {{ vm.serviceData.current_status==='BlueGreen'? 'deploy_total' : 'retry' | translate }}
      </rb-dropdown-menu-item>

      <rb-dropdown-menu-item
        ng-if="vm.serviceUtilities.rollbackButton(vm.serviceData.current_status) && vm.checkActionPermission('update')"
        ng-click="vm.actionRollback()">
        {{ "rollback" | translate }}
      </rb-dropdown-menu-item>

      <rb-dropdown-menu-item
        ng-if="vm.serviceUtilities.deleteButton(vm.serviceData.current_status) && vm.checkActionPermission('delete')"
        ng-click="vm.actionDelete()">
        {{ "delete" | translate }}
      </rb-dropdown-menu-item>

    </rb-dropdown-menu>
  </div>

</div>
<!--Basic info-->
<rb-basic-info-panel fields="vm.basicInfoFields" initialized="vm.initialized"></rb-basic-info-panel>

<div ng-if="vm.initialized" class="rb-detail-container">
  <md-tabs class="rb-tabs"
           md-no-select-click="true"
           md-border-bottom="true"
           md-dynamic-height="true">
    <!--事件-->
    <md-tab md-on-select="vm.onTabSelected('events')"
            label="{{ 'events' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-event-list ng-if="vm.selectedTab === 'events'" type="'service'"
                       primary-key="vm.serviceData.uuid">
        </rb-event-list>
      </div>
    </md-tab>

    <!--服务地址-->
    <md-tab md-on-select="vm.onTabSelected()"
            label="{{ 'endpoints' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-service-detail-endpoints service-data="vm.serviceData"
                                     region-features="vm.regionFeatures"></rb-service-detail-endpoints>
      </div>
    </md-tab>
    <!--容器实例-->

    <md-tab md-on-select="vm.onTabSelected()"
            label="{{ 'instances' | translate }}">
      <div class="rb-detail-tab-container">
        <div ng-if="!vm.serviceData.instances.length"
             class="rb-loading-mask-placeholder">{{ 'service_detail_instances_empty' | translate }}
        </div>
        <table ng-if="vm.serviceData.instances.length" class="rb-detail-table">
          <thead>
          <tr>
            <th>{{ 'instance' | translate }}</th>
            <th style="width:120px;">{{ 'instance_id' | translate }}</th>
            <th style="width:100px;" ng-if="vm.serviceData.instances[0].instance_ports">
              {{ 'container_port' | translate }}
            </th>
            <th style="width:100px;" ng-if="vm.serviceData.instances[0].instance_ports">
              {{ 'host_port' | translate }}
            </th>
            <th style="width:150px;">{{ 'host_ip' | translate }}</th>
            <th ng-if="vm.isKubernetesContainer()" style="width:150px;">{{ 'container_ip' | translate }}</th>
            <th style="width:160px;">{{ 'started' | translate }}</th>
            <th ng-if="vm.isSupportPodDNS()" style="width:200px;">{{ 'DNS' }}</th>
            <th style="width:100px;" ng-if="vm.isKubernetesContainer()">{{ 'action' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in vm.serviceData.instances">
            <td>
              <span ng-bind="item.instance_name"></span>
              <span class="label badge status-running"
                    ng-show="item.version === 'CURRENT'">
                <span style="color:#fff;">{{ 'version_current' | translate }}</span>
              </span>
              <span class="label badge status-deploying"
                    ng-show="item.version === 'PREVIOUS'">
                <span style="color:#fff;">{{ 'version_previous' | translate }}</span>
              </span>
            </td>
            <td>
              <span ng-bind="item.uuid | limitTo: 8"></span>
            </td>
            <td ng-if="item.instance_ports">
              <div ng-repeat="port in item.instance_ports">{{ port.container_port }}</div>
            </td>
            <td ng-if="item.instance_ports">
              <div ng-repeat="port in item.instance_ports">{{ port.host_port }}</div>
            </td>
            <td>
              <rb-copy-span bind-text="item.host_ip"></rb-copy-span>
            </td>
            <td ng-if="vm.isKubernetesContainer()">
              <span ng-bind="item.container_ip"></span>
            </td>
            <td>
              <span ng-bind="item.started_at | formatUtcStr"></span>
            </td>
            <td ng-if="vm.isSupportPodDNS()">
              <span>{{ item.pod_dns }}</span>
            </td>
            <td ng-if="vm.isKubernetesContainer() && vm.checkActionPermission('update')">
              <div tooltip-placement="top"
                    class="restart-color"
                    ng-click="vm.restartInstance(item)"
                    uib-tooltip="{{ 'service_instance_restart' | translate }}">
                <img src="/static/images/action/app-restart.svg">
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </md-tab>

    <!--监控-->
    <md-tab md-on-select="vm.onTabSelected('metrics')"
            label="{{ 'monitoring' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-service-detail-metrics ng-if="vm.selectedTab === 'metrics'"
                                   service-data="vm.serviceData"></rb-service-detail-metrics>
      </div>
    </md-tab>
    <!--日志-->
    <md-tab md-on-select="vm.onTabSelected('logs')"
            label="{{ 'logs' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-service-log ng-if="vm.selectedTab === 'logs'"
                        service="vm.serviceData"></rb-service-log>
      </div>
    </md-tab>
    <!--健康监测-->
    <md-tab ng-if="vm.isServiceHealthcheckEnabled(vm.serviceData, vm.regionFeatures)"
            md-on-select="vm.onTabSelected()"
            label="{{ 'health_check' | translate }}">
      <div class="rb-detail-tab-container">
        <div ng-if="!vm.serviceData.health_checks.length"
             class="rb-loading-mask-placeholder">{{ 'service_detail_healthchecks_empty' | translate }}
        </div>
        <rb-service-fieldset-healthcheck ng-if="vm.serviceData.health_checks.length"
                                         health-checks="vm.serviceData.health_checks"
                                         detail="true"></rb-service-fieldset-healthcheck>
      </div>
    </md-tab>
    <!--环境变量-->
    <md-tab md-on-select="vm.onTabSelected('envvars')"
            label="{{ 'environment_variable' | translate }}">
      <div class="rb-detail-tab-container">
        <rb-env-vars-table ng-if="vm.selectedTab === 'envvars' && vm.serviceData"
                           env-vars="vm.serviceData.instance_envvars"
                           env-files="vm.serviceData.envfiles">
        </rb-env-vars-table>
      </div>
    </md-tab>
    <!--配置文件-->
    <md-tab ng-if="vm.regionFeatures.includes('mount-points')"
            md-on-select="vm.onTabSelected('configfiles')"
            label="{{ 'config_files' | translate }}">
      <div class="rb-detail-tab-container">
        <div ng-if="!vm.serviceData.mount_points || !vm.serviceData.mount_points.length"
             class="rb-loading-mask-placeholder">{{ 'service_config_files_empty' | translate }}
        </div>
        <rb-service-detail-config-files ng-if="vm.serviceData.mount_points && vm.serviceData.mount_points.length"
                                        config-files="vm.serviceData.mount_points"
        >
        </rb-service-detail-config-files>
      </div>
    </md-tab>
    <!--存储卷-->
    <md-tab md-on-select="vm.onTabSelected()"
            label="{{ 'volume' | translate }}">
      <div class="rb-detail-tab-container">
        <div ng-if="!vm.serviceData.volumes.length"
             class="rb-loading-mask-placeholder">{{ 'service_detail_volumes_empty' | translate }}
        </div>
        <rb-storage-volume-list-table
          ng-if="vm.serviceData.volumes.length"
          disable-controls="true"
          service-detail="vm.serviceData"
          region="{ id: vm.serviceData.region_id, name: vm.serviceData.region_name }"> <!-- Hmm ... maybe too hacky? -->
        </rb-storage-volume-list-table>
      </div>
    </md-tab>
    <!--链接服务-->
    <md-tab md-on-select="vm.onTabSelected()"
            label="{{ 'links' | translate }}">
      <div class="rb-detail-tab-container">
        <div ng-if="!vm.links.length"
             class="rb-loading-mask-placeholder">{{ 'service_detail_links_empty' | translate }}
        </div>

        <table ng-if="vm.links.length" class="rb-detail-table">
          <thead>
          <tr>
            <th>{{ "services" | translate }}</th>
            <th>{{ "alias" | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat='link in vm.links'>
            <td>
              <a ng-href="{{ vm.getLinkServiceUrl(link) }}">{{ link.dest_name }}</a>
            </td>
            <td><span ng-bind="link.dest_alias"></span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </md-tab>
    <!--k8s service-->
    <md-tab ng-if="vm.isSupportKubeServices()"
            md-on-select="vm.onTabSelected()"
            label="{{ 'kubernetes_service' | translate}}">
      <div class="rb-detail-tab-container">
        <div ng-if="!vm.kubernetesServices.length"
             class="rb-loading-mask-placeholder">{{ 'kube_service_detail_empty' | translate }}
        </div>

        <table ng-if="vm.kubernetesServices.length" class="rb-detail-table">
          <thead>
          <tr>
            <th>{{ "type" | translate }}</th>
            <th>{{ "name" | translate }}</th>
            <th>{{ "container_port" | translate }}</th>
            <th>{{ "kubernetes_service_host_port" | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat='service in vm.kubernetesServices'>
            <td>
              {{ service.type }}
            </td>
            <td>{{ service.name }}</td>
            <td>
              {{ service.container_port | rbFieldNotAvailable }}
            </td>
            <td>{{ service.node_port | rbFieldNotAvailable }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </md-tab>
    <!--service affinity-->
    <md-tab ng-if="vm.affinityEnabled()"
            md-on-select="vm.onTabSelected()"
            label="{{ 'service_affinity_setting' | translate }}">
      <div class="rb-detail-tab-container">
        <table ng-if="vm.kubeAffinitys.length" class="rb-detail-table affinity-setting">
          <thead>
            <tr>
              <th style="width: 80px">{{ 'affinity_setting_type' | translate }}</th>
              <th style="width: 100px">{{ 'affinity_setting_classification' | translate }}</th>
              <th style="width: 100px">{{ 'affinity_setting_condition' | translate }}</th>
              <th>{{ 'affinity_setting_service_label' | translate }}</th>
              <th>{{ 'affinity_setting_node_label' | translate }}</th>
              <th style="width: 80px">{{ 'affinity_setting_weight' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.kubeAffinitys track by $index">
              <td>{{ item.type }}</td>
              <td>{{ item.classification }}</td>
              <td>{{ item.operator }}</td>
              <td ng-if="!['Exists', 'DoesNotExist'].includes(item.operator)">
                <p
                  class="service-label"
                  title="{{ label }}"
                  ng-repeat="label in item.serviceLabel"
                >
                  {{ label }}
                </p>
              </td>
              <td ng-if="['Exists', 'DoesNotExist'].includes(item.operator)">
                <p
                  class="service-label"
                  title="{{ key }}"
                  ng-repeat="key in item.serviceKey"
                >
                  {{ key }}
                </p>
              </td>
              <td>
                <p class="node-label" title="{{ item.nodeLabel }}">
                  {{ item.nodeLabel }}
                </p>
              </td>
              <td>
                <span
                  ng-if="item.classification === 'Preferred'"
                >{{ item.weight }}</span>
                <span
                  class="required-no-weight"
                  ng-if="item.classification !== 'Preferred'"
                >－</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div ng-if="!vm.kubeAffinitys.length" class="rb-loading-mask-placeholder">
          {{ 'service_affinity_setting_empty' | translate }}
        </div>
      </div>
  </md-tabs>
</div>
