.empty-view-image {
  width: 320px;
  margin-bottom: 20px;
}

.empty-view-title {
  font-size: 18px;
  padding-bottom: 10px;
}

.primary-btn {
  font-size: 16px;
  padding: 7px 20px;
}

.empty-page-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
  height: 100%;
}
