<div class="empty-page-container">
  <img class="empty-view-image" src="/static/images/app-catalog/app-catalog-empty.png" alt="empty-icon">
  <div class="empty-view-title">{{ 'service_catalog_load_data_error' | translate }}</div>
  <button rcButton="primary" class="primary-btn" (click)="refreshAction()">{{ 'refresh' | translate }}</button>
</div>