<div class="namespace-update-quota">
    <aui-dialog-header>
        {{'update_quota'|translate}}
      </aui-dialog-header>
      <aui-dialog-content>
        <form #form="ngForm" auiForm>
          <rc-multiple-quota-settings [clustersQuota]="clustersQuota" name="quotas"
          [minQuotaRange]="minQuotaRange" #quotas="ngModel" [(ngModel)]="quotaSetting"></rc-multiple-quota-settings>
        </form>
      </aui-dialog-content>
      <aui-dialog-footer>
        <div>
          <button aui-button="primary" [loading]="submitting" (click)="confirm()">
            {{'confirm'|translate}}
          </button>
          <button aui-button [auiDialogClose]="true">
            {{ 'cancel' | translate}}
          </button>
        </div>
      </aui-dialog-footer>
</div>
