:host {
  display: block;
}

.account-label {
  display: flex;
  color: #fff;
  font-size: 14px;
  height: 28px;
  align-items: center;
  &__line {
    height: 20px;
    border-left: 1px solid #fff;
    margin: 0 4px;
  }

  &__content {
    cursor: pointer;
    padding: 4px 6px;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
    aui-icon {
      margin-right: 2px;
    }
  }
}

.option-list {
  padding: 8px 0;
  margin-top: 4px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  max-width: 160px;
  min-width: 100px;
  max-height: 400px;
  overflow-y: auto;
  &__item {
    white-space: nowrap;
    padding: 4px 12px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    &.active {
      color: #079fe3;
      font-weight: 500;
    }
    &:hover {
      background-color: #e5f5fc;
    }
  }
}

aui-menu-item {
  .fa {
    width: 24px;
    text-align: left;
  }
  span {
    padding-right: 12px;
  }
}
