<div class="account-label">
    <div class="account-label__content"
        [auiDropdown]="menu">
        <aui-icon icon="basic:account_circle_s"
            class="account-menu__icon"></aui-icon>
        <span>{{username}}</span>
    </div>
</div>

<aui-menu #menu
    [size]="small">
    <aui-menu-item *ngIf="isAdmin"
        (click)="switchToConsole()">
        <i class="fa fa-gear"></i>
        <span>{{'change_to_admin_view' | translate}}</span>
    </aui-menu-item>
    <aui-menu-item *ngIf="showPassUpBtn" (click)="changePassword()">
        <i class="fa fa fa-key"></i>
        <span>{{'change_password' | translate}}</span>
    </aui-menu-item>
    <aui-menu-item (click)="changeLanguage()">
        <i class="fa fa-globe"></i>
        <span>{{language | translate}}</span>
    </aui-menu-item>
    <aui-menu-item [divide]="true"
        (click)="logout()">
        <i class="fa fa-sign-out"></i>
        <span>{{'logout' | translate}}</span>
    </aui-menu-item>
</aui-menu>
