<div class="ui fluid selection dropdown" foldable="vm.foldable">
  <input type="hidden">
  <span ng-if="vm.foldable && vm.foldCount" class="fold-count">({{ vm.foldCount }})</span>
  <i class="dropdown icon"></i>
  <div class="text" ng-class="{default: vm.isEmptyOptions() && vm.placeholder}"></div>
  <div class="menu">
    <div ng-repeat="option in vm._options track by $index"
         title="{{ option[vm.key] }}"
         class="item"
         ng-class="{'active selected':
           vm.multiple !== 'true' && option[vm.value] === vm.selectedOption[vm.value],'disabled': option['op_disabled']}"
         data-value="{{option[vm.value]}}">
      <span class="rb-dropdown-html" ng-show="vm.htmlKey" ng-bind-html="option[vm.htmlKey]"></span>
      <span ng-show="!vm.htmlKey">{{option[vm.key]}}</span>
    </div>
  </div>
</div>
