@import 'colors.styles';

rb-dropdown,
rb-search-dropdown {
  display: flex;
  flex: 1 0 12em;
  min-width: 12em;
  line-height: normal;
  position: relative;
  z-index: 0;
  &[size='xxxxs'] {
    flex: 0 0 4.5em;
    max-width: 4.5em;
    min-width: 4.5em;
  }
  &[size='xxs'] {
    flex: 0 0 8em;
    max-width: 8em;
    min-width: 8em;
  }
  &[size='xs'] {
    flex: 0 0 12em;
    max-width: 12em;
  }
  &[size='sm'] {
    flex: 0 0 16em;
    max-width: 16em;
  }
  &[size='md'] {
    flex: 0 0 24em;
    max-width: 24em;
  }
  &[size='lg'] {
    flex: 0 0 36em;
    max-width: 36em;
  }
  &[floating] {
    flex: 0 0 auto;
  }
  > .ui.selection.dropdown {
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    min-height: 32px;
    min-width: 0;
    vertical-align: middle;
    transition: border-color 0.3s, background-color 0.3s;
    flex: 1 1 0;
    > input.search {
      padding-left: 8px !important;
    }
    > .text > span {
      line-height: 30px;
    }
    > .search.icon,
    > .delete.icon,
    > .dropdown.icon {
      height: 32px;
      margin-top: -17px;
      top: 50%;
    }
    > .menu {
      box-sizing: border-box;
      max-height: 14rem;
      // overwrite bootstrap `.hidden: {display: none !important;}`
      &.hidden.loading {
        display: block !important;
      }
      .item {
        font-size: 14px;
        padding: 6px 8px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        > span {
          line-height: 18px;
        }
      }
      > .message {
        padding-left: 8px;
      }
    }

    .rb-dropdown-html {
      display: flex;
      align-items: center;
    }

    &.floating {
      display: flex;
      align-items: center;
      background: #efefef;
      border-radius: 0;
      &:hover {
        background: #e0e0e0;
      }
      > .menu {
        right: 0;
        left: auto;
        border-radius: 0 !important;
        margin-top: 0.25em !important;
      }
    }
    &.multiple {
      .label {
        word-break: break-all;
        box-shadow: none;
        margin-top: 0.24em;
      }
      > .text {
        margin-left: 0;
        padding-left: 0;
        left: 8px;
      }
      > input.search {
        padding-left: 0 !important;
        margin-left: 0;
      }
    }
    &.active {
      height: auto;
    }
    &.multiple:not(.active) {
      overflow: hidden;
    }

    &.disabled,
    &[disabled] {
      background: $form-disabled-background-color;
      .label > .delete.icon {
        display: none;
      }
    }
    &.search:not(.multiple) > input.search {
      height: 30px;
      padding-top: 6px;
      padding-bottom: 6px;
    }
    /* Make sure too long text will not overflow to the triangle */
    &:not(.multiple) > div.text {
      display: flex;
      align-items: center;
      height: 30px;
      min-width: 0;
      flex: 1;
      overflow: hidden;
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &.active {
    z-index: 10;
  }
}

rb-search-dropdown {
  .ui.dropdown > .menu > .item {
    line-height: 18px;
  }
}

rb-dropdown[foldable='true'] {
  > .ui.selection.dropdown {
    > .fold-count {
      position: absolute;
      right: 31px;
      line-height: 32px;
    }
    &.active > .fold-count {
      display: none;
    }
  }
}

// rb-dropdown-menu component
rb-dropdown-menu {
  > .ui.dropdown.button {
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    padding-right: 8px;
    &,
    &:focus {
      background-color: $button-default-background-color;
      border: 1px solid $button-default-border-color;
      color: $button-default-text-color;
    }

    &:hover,
    &.active,
    &.active:hover {
      background-color: $button-default-hover-background-color;
      border-color: $button-default-hover-border-color;
      color: $button-default-text-color;
    }
    .menu {
      margin-top: 4px;
      right: -1px;
      left: auto;
      border-radius: 0;
      max-height: none;
      overflow-y: auto;
      .item {
        font-size: 14px;
      }
      // overwrite bootstrap `.hidden: {display: none !important;}`
      &.hidden.loading {
        display: block !important;
      }
    }
  }
  &.list {
    > .ui.dropdown.button {
      padding: 0 8px 0 8px;
      border-radius: 16px !important;
      color: #464646;
      border-color: #ddd;
      height: 24px;
      > span {
        display: inline-block;
        line-height: 24px;
        font-size: 12px;
      }
      .menu {
        border: none;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 4px;
      }
      .item {
        font-size: 14px;
        color: #464646;
        min-width: 80px;
        height: 30px;
        > i.fa {
          color: #9da4af;
          font-size: 12px;
          margin-right: 4px;
          width: 18px;
          text-align: center;
        }
      }
    }
  }
}
