<rc-region-badge-option onChangeState="storage.storageclass"></rc-region-badge-option>

<div *rcPageHeaderContent class="storage-custom-header">
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_storage' | translate }}
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_storageclass' | translate }}
    </ng-container>
  </rc-breadcrumb>
  <span role="button" class="fa fa-info-circle notification-switch" (click)="showNotification()"></span>
</div>

<rc-inline-notification type="info"
                        closable='true'
                        *ngIf="notificationVisible"
                        (close)="closeNotification()"
                        [content]="'storageclass_tips' | translate">
</rc-inline-notification>

<div fxLayout="row" class="rc-list-header">
  <button *ngIf="hasCreatePermission"
          rcButton="primary"
          (click)="createStorageClass()"
          [disabled]="loading">
    {{ "create_storageclass" | translate }}
  </button>
  <span fxFlex></span>
  <!-- <rc-search-input [loading]="searching" placeholder="{{'support_search_by_name' | translate}}" (onSearch)="searchChanged($event)"></rc-search-input> -->
  <!-- <button rcIconButton [disabled]="loading" (click)="load()">
    <i class="fa fa-refresh"></i>
  </button> -->
</div>

<div class="table-container" [rcLoadingMask]="loading">
  <rc-table class="rc-primary-table"
            *ngIf="initialized && !loadError"
            [rows]="data"
            [headerHeight]="40"
            [rowHeight]="88"
            emptyMessage="{{emptyMessage | translate}}">
    <rc-table-col name='{{"name"|translate}}' [width]="300">
      <div *rcTableColCell="let sc = row" style="position: relative">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/pvc.svg" alt="">
          <div class="rc-lines">
            <div class="rc-line">
              <a [routerLink]="['/storage/storageclass/detail', sc.kubernetes.metadata.name]" >
                {{sc.kubernetes.metadata.name}}
              </a>
              <span class="label-default" *ngIf="sc.isDefault">
                <span class="label-default-text">{{'storageclass_default' | translate}}</span>
              </span>
            </div>
          </div>
        </div>
        <img src="/static/images/icon/system_cn.svg" class="label-system" *ngIf="sc.isSystem&&lang==='zh_cn'">
        <img src="/static/images/icon/system_en.svg" class="label-system" *ngIf="sc.isSystem&&lang==='en'">
      </div>
    </rc-table-col>
    <rc-table-col name='{{"storageclass_type"|translate}}'>
      <div *rcTableColCell="let sc = row">
        {{extractStorageClassName(sc)}}
      </div>
    </rc-table-col>
    <rc-table-col name='{{"created_at" | translate}}' [width]=220>
      <div *rcTableColCell="let sc = row">
        {{sc.kubernetes.metadata.creationTimestamp | rcFormatUtcStr}}
      </div>
    </rc-table-col>
    <rc-table-col name='{{"action"|translate}}' [width]=200>
      <div *rcTableColCell="let sc = row">
        <rc-button-menu>
          <button rcButton
                  rcButtonSize="small"
                  rcButtonMenuDefault
                  (click)="viewDetail(sc)"
                  [disabled]="sc.inAction">
            {{'view'|translate}}
          </button>
          <button rcMenuButton
                  (click)="setDefault(sc)"
                  *ngIf="sc.canUpdate"
                  [disabled]="sc.inAction">
            {{(sc.isDefault?'cancel_default_storageclass':'set_default_storageclass')|translate}}
          </button>
          <button rcMenuButton
                  [disabled]="sc.inAction"
                  *ngIf="!sc.isSystem && sc.canDelete"
                  (click)="delete(sc)">
            {{'delete'|translate}}
          </button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>
  <div class="table-no-data"
       *ngIf="initialized && loadError">
    <div>
      {{ 'storage_data_load_error' | translate }}
    </div>
    <div>
      <button rcButton="primary"
              (click)="load()">
        {{ 'refresh' | translate }}
      </button>
    </div>
  </div>
</div>
<div class="rc-list-pagination" *ngIf="initialized&&data.length">
  <rc-pagination [count]="pagination.count"
                 [pageSize]="pagination.pageSize"
                 (pageChanged)="pageChanged($event)"
                 [disabled]="loading">
  </rc-pagination>
</div>