@import 'list.styles';

.label-default {
  color: #f8ac58;
  background-color: #fef6ee;
  border: 1px solid #f8ac58;
  font-size: 12px;
  width: 20px;
  height: 32px;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
}
.label-default-text {
  display: inline-block;
  transform: scale(0.83);
}
.table-container {
  .label-system {
    left: -1.2rem;
    top: -20px;
  }
}
