<!--Explain why there is no data-->
<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<div *ngIf="empty && !loading"
    class="rb-loading-mask-placeholder">
    <div *ngIf="!loadError">
        {{ "have_no_app" | translate }}
    </div>
    <div *ngIf="loadError">
        {{ 'data_load_error' | translate }}
    </div>
    <button *ngIf="loadError"
        rcButton="primary"
        style="margin-top: 12px;"
        (click)="refetch()">
        {{ 'refresh' | translate }}
    </button>
</div>
<!-- App Basic Info -->
<div *ngIf="appData"
    class="rc-detail-container">
    <div class="detail-icon">
        <img src="/static/images/resource/app.svg"
            alt="">
    </div>
    <div class="detail-wrapper">
        <div class="detail-header">
            <h3 [attr.title]="appData.resource.name">{{appData.resource.name}}</h3>
            <div class="detail-buttons">
                <button rcButton
                    *ngIf="appUtilities.showStart(appData)"
                    [disabled]="!appUtilities.canStart(appData)"
                    (click)="startApp()">{{'start' | translate}}
                </button>
                <button rcButton
                    *ngIf="appUtilities.showStop(appData)"
                    [disabled]="!appUtilities.canStop(appData)"
                    (click)="stopApp()">{{'stop' | translate}}
                </button>

                <rc-button-menu [text]="'action' | translate">
                    <button rcMenuButton
                        *ngIf="appUtilities.showUpdate(appData)"
                        [disabled]="!appUtilities.canUpdate(appData)"
                        (click)="updateApp()">{{'update' | translate}}
                    </button>
                    <button rcMenuButton
                        *ngIf="appUtilities.showDelete(appData)"
                        [disabled]="!appUtilities.canDelete(appData)"
                        (click)="deleteApp()">{{'delete' | translate}}
                    </button>
                </rc-button-menu>


            </div>
        </div>
        <div class="detail-content">
            <!--创建时间-->
            <div class="detail-item">
                <label>{{'created_at' | translate}}</label>
                <div>{{appData.resource.created_at | rcFormatUtcStr}}</div>
            </div>
            <!--更新时间-->
            <div class="detail-item">
                <label>{{'updated_at' | translate}}</label>
                <div>{{appData.resource.updated_at | rcFormatUtcStr}}</div>
            </div>
            <!--状态-->
            <div class="detail-item">
                <label>{{'status' | translate}}</label>
                <rc-status-badge [status]="appData.resource.status"></rc-status-badge>
            </div>
            <!--命名空间-->
            <div class="detail-item">
                <label>{{'region_namespace' | translate}}</label>
                <div>{{appData.namespace.name}}</div>
            </div>
            <!--描述-->
            <div class="detail-item">
                <label>{{'description' | translate}}</label>
                <div>{{appData.resource.description | rcFieldNotAvailable}}</div>
            </div>
        </div>
    </div>
</div>

<rc-tab-group *ngIf="appData">
    <!--服务列表-->
    <div *rcTab="'services' | translate">
        <rc-k8s-app-service-list *ngIf="uuid"
            #serviceList
            [appUuid]="uuid"></rc-k8s-app-service-list>
    </div>
    <!--事件-->
    <div *rcTab="'events' | translate">
        <rc-event-list *ngIf="uuid"
            type="application"
            [primaryKey]="uuid"></rc-event-list>
    </div>
    <!--监控-->
    <ng-container *rcTab="'monitoring' | translate">
        <rc-app-metrics [uuid]="uuid"></rc-app-metrics>
    </ng-container>
    <!--Yaml-->
    <div *rcTab="'yaml_compose_file' | translate">
        <rc-code-editor mode="yaml"
            [ngModel]="appYaml"
            [readOnly]="true"
            [allowExport]="true"
            [exportFileName]="'app'"></rc-code-editor>
    </div>
    <!-- Topology Graph -->
    <ng-container *ngIf="appTopologySupport">
        <div *rcTab="'app_topology' | translate">
          <rc-application-topology-graph [app]="appData"></rc-application-topology-graph>
        </div>
    </ng-container>
    <!-- catalog-info -->
    <div *ngIf="appData.catalog_info">
        <div *rcTab="'app_catalog_info' | translate">
            <span class="catalog-code-editor-header">Text ({{'code_editor_readonly' | translate}})</span>
            <rc-code-editor mode="text"
                [theme]="'default'"
                [header]="false"
                [ngModel]="appData.catalog_info.notes_txt_content"
                [readOnly]="true">
            </rc-code-editor>
        </div>
    </div>
</rc-tab-group>