rb-image-sync-center-create {
  .rb-form {
    .rb-form-row .rb-label + *:not(.rb-form-row-input-wrap) {
      margin-right: 50px;
    }
    .rb-form-row.rb-input-message {
      margin-left: 150px;
    }
    .rb-form-row:nth-child(4) {
      .rb-label {
        padding-right: 21px;
      }
    }
  }
}
