<div class="rb-form-panel">
  <div class="rb-form-container"
       rb-loading-mask="!vm.initialized || vm.submitting">
    <ng-form name="vm.form"
             class="rb-form">
      <!-- Config Name -->
      <div class="rb-form-row input">
        <div class="rb-label">
          {{'name' | translate}}
          <span class="rb-required-mark">*</span>
        </div>
        <div class="ui fluid input">
          <input ng-disabled="vm.config"
                 type="text"
                 ng-model="vm.model.config_name"
                 name="name"
                 minlength="1"
                 ng-pattern="/^[a-z][a-z0-9\-\_]*$/"
                 maxlength="36"
                 rb-errors-tooltip
                 rb-errors-tooltip-mapper="{ pattern: ('image_sync_center_name_placeholder' | translate) }"

                 required
                 placeholder="{{ 'image_sync_center_name_placeholder' | translate }}">
        </div>
      </div>

      <!-- quota_space -->
      <div class="rb-form-row"
           ng-if="vm.quotaEnabled && vm.spaces">
        <div class="rb-label">
          {{'quota_space' | translate}}
          <span class="rb-required-mark">*</span>
        </div>
        <div ng-if="!vm.spaces.length"
             class="rb-info-tip">
          {{'quota_space_required' | translate}}
        </div>
        <rb-dropdown ng-if="vm.spaces.length"
                     is-disabled="vm.config"
                     options="vm.spaces"
                     value="name"
                     key="name"
                     filter-threshold="5"
                     on-change="vm.onSpaceChanged(option)"></rb-dropdown>
      </div>

      <!-- Source Repository -->
      <rb-repository-dropdown-group readonly="vm.disableRepoSelection"
                                    on-repository-changed="vm.onRepositoryChanged(value)"
                                    init="vm.repositoryInitObj">
      </rb-repository-dropdown-group>

      <!-- Destination Repositories -->
      <div class="rb-form-row input">
        <div class="rb-label">
          {{'image_sync_destination_image' | translate}}
          <span ng-if="!vm.externalRegistries.length"
                class="rb-required-mark">*</span>
        </div>
        <div class="ui fluid input">
          <rb-dropdown rb-loading-mask="!vm.registriesLoaded"
                       multiple="true"
                       init="vm.initInternalRegistries"
                       options="vm.ownRegistries"
                       key="display_name"
                       value="internal_id"
                       on-add="vm.onInternalRegistryAdd(option)"
                       on-remove="vm.onInternalRegistryRemove(option)">
          </rb-dropdown>
        </div>
      </div>
      <div class="rb-form-row input"
           ng-if="!vm.externalRegistries.length">
        <div class="rb-label">
        </div>
        <div class="ui fluid input">
          <button type="button"
                  class="ui button tiny rb-btn-default"
                  ng-click="vm.showExternalRegistry()">
            {{ 'image_add_third_party_registry' | translate }}
          </button>
        </div>
      </div>
      <div class="rb-form-row input"
           ng-if="vm.externalRegistries.length">
        <div class="rb-label">
          {{ 'image_third_party_registry' | translate }}
        </div>
        <div class="rb-form-row-input-wrap">
          <rb-fieldset-image-sync-dest model="vm.externalRegistries">
          </rb-fieldset-image-sync-dest>
        </div>
      </div>
      <div class="rb-form-row">
        <div class="rb-label placeholder"></div>
        <div class="checkbox-group">
          <div class="ui checkbox">
            <input type="checkbox"
                   ng-model="vm.containerSizeCustomized">
            <label>
              {{ 'build_config_custom_container_size' | translate }}
            </label>
          </div>
        </div>
      </div>
      <div class="rb-form-row"
           ng-if="vm.containerSizeCustomized">
        <div class="rb-label placeholder"></div>
        <rb-custom-instance-size-fieldset init="vm.instanceSizeInit"
                                          on-change="vm.onInstanceSizeChange({ cpu, memory })">
        </rb-custom-instance-size-fieldset>
      </div>
    </ng-form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button class="ui button rb-btn-default"
              ng-disabled="vm.submitting"
              ng-click="vm.cancel()">
        {{ 'cancel' | translate }}
      </button>
      <button class="ui button rb-btn-primary"
              ng-disabled="!vm.formValid() || vm.submitting"
              ng-click="vm.confirm()">
        {{ 'confirm' | translate }}
      </button>
    </div>
  </div>
</div>
