<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="vm.submitting">
    <ng-form name="form" class="rb-form">
      <div class="rb-form-row input">
        <div class="rb-label" flex="25">
          {{ "job_config_name" | translate }}
        </div>
        <rb-dropdown
          flex="60"
          on-change="vm.name = option.config_name; vm.uuid = option.config_uuid"
          rb-loading-mask="!vm.jobConfigs"
          filter-threshold="1"
          key="option_display_name"
          value="config_name"
          options="vm.jobConfigs">
        </rb-dropdown>
      </div>
    </ng-form>
  </div>
  <div class="rb-form-footer">
    <div class="rb-form-footer-buttons">
      <button
        ng-disabled="vm.submitting"
        ng-click="vm.cancel()" class="ui button rb-btn-default">
        {{ 'cancel' | translate }}
      </button>
      <button class="ui button rb-btn-primary"
              ng-disabled="!vm.name || vm.submitting"
              ng-click="vm.start()">
        {{ 'confirm' | translate }}
      </button>
    </div>
  </div>
</div>
