<div ng-if="!vm.configName" class="rb-page-heading" layout="row">
  <rb-search-input
    loading="vm.searching"
    on-search="vm.onSearchChanged(value)"
    placeholder="search_by_name_placeholder"
    flex=30>
  </rb-search-input>

  <div flex></div>

  <div class="control-buttons"
       ng-if="!vm.configName">
    <button class="ui button rb-btn-default"
            ng-click="vm.showStartDialog($event)">
      {{'job_start' | translate}}
    </button>
  </div>
</div>

<rb-loading-mask-placeholder
  ng-if="!vm.configName && !vm.list && !vm.loadError">
</rb-loading-mask-placeholder>

<!-- Explains why there is no data -->
<div ng-if="!vm.list || vm.list.length === 0"
     style="padding: 50px; text-align: center;">
  <div ng-if="vm.list.length === 0">
    {{ 'job_no_history_hint' | translate }}
  </div>

  <div ng-if="vm.loadError">
    {{ 'data_load_error' | translate }}
  </div>

  <button ng-if="vm.loadError"
          class="ui button rb-btn-primary margin-top-2"
          ng-click="vm.pageNoChange()">
    {{ 'refresh' | translate }}
  </button>
</div>

<div ng-if="vm.list && vm.list.length > 0"
     rb-loading-mask="vm.loading && vm.pageNoChanged"
     class="rb-status-list" flex>
  <div layout="column" flex
       ng-repeat="item in vm.list track by $index"
       class="rb-status-list-item {{ vm.statusCssMap[item.status] }}"
       ui-sref="job.history.detail({uuid: item.job_uuid})">
    <!-- Row one -->
    <div class="status-info-abstract-row"
         layout-align="start center" flex layout="row">
      <!-- Creator -->
      <div flex="30">
        <i class="fa fa-user"
           tooltip-placement="top"
           uib-tooltip='{{ "creator" | translate }}'></i>
        {{ vm.getCreatorName(item) | rbFieldNotAvailable }}
      </div>

      <!-- Job Name. Hidden if config name is given. -->
      <div flex="30" ng-if="!vm.configName">
        <i class="fa fa-calendar-check-o"
           tooltip-placement="top"
           uib-tooltip='{{ "job_config_name" | translate }}'></i>
        <a ui-sref="job.config.detail({name: item.config_name})"
           ng-click="$event.stopPropagation()"> <!-- Prevent state routing  -->
          {{ item.config_name }}
        </a>
      </div>

      <!-- Image -->
      <div flex="40">
        <i class="fa fa fa-building-o"
           tooltip-placement="top"
           uib-tooltip='{{ "image" | translate }}'></i>
           <rb-copy-span bind-text="vm.getImageAddress(item)"></rb-copy-span>
      </div>
    </div>

    <!-- Row Two -->
    <div class="status-info-abstract-row"
         layout-align="start center" flex layout="row">
      <!-- Creator -->
      <div flex="30">
        <i class="fa fa-clock-o"
           tooltip-placement="top"
           uib-tooltip='{{ "created_at" | translate }}'></i>
        {{ item.created_at | formatUtcStr }}
      </div>

      <!-- Duration -->
      <div flex="{{vm.configName ? '40' : '30'}}">
        <i class="fa fa-history"
           tooltip-placement="top"
           uib-tooltip='{{ "time_cost" | translate }}'></i>
        <span>
          {{ "time_cost" | translate }}
          {{ item.duration | rbDuration }}
        </span>
      </div>

      <!-- Status. When config name hidden, fly up-->
      <div flex="40" ng-style="vm.configName && { 'margin-top':  '-36px', 'padding-left': '120px' }">
        <span rubick-status-icon
              status="vm.statusIconMap[item.status]"
              status-text="{{ ('job_status_' + item.status) | translate }}"
              mode="list">
        </span>
      </div>
    </div>
  </div>
</div>

<rb-pagination
  ng-show="vm.pagination.totalItems > vm.pagination.pageSize"
  class="pull-right"
  size="vm.pagination.pageSize"
  total-items="vm.pagination.totalItems"
  on-change="vm.pageNoChange(page, size)">
</rb-pagination>
