<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a href="javascript:void(0)"
          rcRouterStateLink="jenkins">{{ 'nav_jenkins'| translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'nav_jenkins_histories' | translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<aui-card>
  <div fxLayout auiCardHeader>
    <div fxFlex></div>

    <div fxLayout="row" class="search-input">
      <aui-select [(ngModel)]="jenkinsIntegrationId"
                  filterable
                  (ngModelChange)="onJenkinsIntegrationIdChange($event)"
                  [loading]="!integrations"
                  [disabled]="!integrations?.length"
                  [placeholder]="(integrations && !integrations.length ? 'no_instance' : 'jenkins_integration') | translate">
        <aui-option *ngFor="let option of integrations" [label]="option.name" [value]="option.id">{{option.name}}</aui-option>
      </aui-select>

      <aui-search [searchButton]="true"
                  [searching]="loading$ | async"
                  [debounce]="200"
                  [(keyword)]="inputValue"
                  placeholder="{{'search_by_name_placeholder' | translate}}"
                  (search)="search()">
      </aui-search>
    </div>
    <button
      aui-button
      plain
      [auiTooltip]="autoRefreshIn$ | async"
      [disabled]="loading$ | async"
      [loading]="loading$ | async"
      (click)="refresh()"
    >
      <i class="fa fa-refresh"></i>
    </button>
  </div>
  <rc-jenkins-pipeline-history-table
    [items]="items$ | async"
    [page]="page$ | async"
    [pageSize]="pageSize"
    [total]="total$ | async"
    [loading]="loading$ | async"
    [hidePipeline]="false"
    [mutatingItems]="mutatingItems$ | async"
    (pageChange)="onPageChange($event)"
    (startHistory)="startHistory($event)"
    (cancelHistory)="cancelHistory($event)"
    (deleteHistory)="deleteHistory($event)"
  >
  </rc-jenkins-pipeline-history-table>
</aui-card>
