@import '../_rb-pipeline-workflow-common';

rb-pipeline-workflow-arrow {
  display: flex;
  flex: 1;

  .arrow-container-outer {
    display: flex;
    flex: 1;
    align-self: stretch;
    align-items: center;
    justify-content: center;

    .arrow-container {
      position: relative;
      height: 24px;
      width: 28px;

      .arrow-svg {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
      }

      .plus-sign-large,
      .plus-sign {
        display: none;
      }

      @each $state, $color in $pipeline-color-map {
        .arrow-filler.#{$state} {
          fill: nth($color, 2);
        }
      }

      &[type='insert'] {
        .plus-sign,
        .plus-sign-large,
        .arrow-svg {
          transition: opacity 0.3s;
        }

        .plus-sign {
          display: block;
          position: absolute;
          right: 3px;
          top: -6px;
          background: #fff;
          color: #8f8f8f;
          border-radius: 100%;
          font-size: 12px;
          opacity: 1;
          width: 13px;
          height: 13px;
          padding: 1px;
        }

        .plus-sign-large {
          display: block;
          opacity: 0;
          left: 3px;
          top: -2px;
          position: absolute;
          font-size: 28px;
          color: #0bacea;
        }
      }
    }

    &:hover .arrow-container[type='insert'] {
      .arrow-svg,
      .plus-sign {
        opacity: 0;
      }

      .plus-sign-large {
        opacity: 1;
      }
    }
  }
}
