<div class="arrow-container-outer"
     uib-tooltip="{{ (vm.type === 'insert' ? 'pipeline_config_insert_task' : '') | translate }}">
  <div type="{{ vm.type }}" class="arrow-container">
    <svg class="arrow-svg"
         width="28px" height="21px" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <g>
        <g transform="translate(-257.000000, -270.000000)" class="{{ vm.state }} arrow-filler">
          <g transform="translate(0.000000, -89.000000)">
            <g transform="translate(153.000000, 141.000000)">
              <g>
                <g transform="translate(30.000000, 77.000000)">
                  <g>
                    <g transform="translate(74.000000, 141.000000)">
                      <g>
                        <rect x="7" y="0" width="14" height="10"></rect>
                        <polygon points="0 9 28 9 14 21"></polygon>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <div class="fa fa-plus-circle plus-sign"></div>
    <div class="fa fa-plus plus-sign-large"></div>
  </div>
</div>
