.rc-dialog-content {
  margin: 30px 0;
}

.rc-dialog-footer {
  margin: 0 8px;
  padding: 0 12px;
  border-top: 1px solid #f1f4f6;
  height: 56px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  > button {
    margin-left: 8px;
  }
}
