.node {
  fill: #fff;
  stroke: #d2d2d2;
  stroke-width: 5px;
  &.selected {
    filter: url(#shadow);
  }
  &.success {
    stroke-width: 0;
    fill: #41c969;
  }
  &.running {
    stroke-width: 0;
    fill: #21aee8;
  }
  &.paused {
    stroke-width: 0;
    fill: #21aee8;
  }
  &.failure {
    stroke-width: 0;
    fill: #fa5f6b;
  }
}

.text {
  color: #666;
  font-size: 12px;
}
