<div class="rb-page-service-usage-list">
  <div class="rb-page-heading" fxLayout="row">
    <rc-single-selection-dropdown [options]="singleOptions"
                                  [allowFilter]="false"
                                  (change)="onSingleOptionChange($event)">
    </rc-single-selection-dropdown>
    <div style="margin-left: 8px;">
      <input rcInput
             type="text"
             [(ngModel)]="keyword"
             (ngModelChange)="listFilter()"
             placeholder="{{ 'service_usage_filter_placeholder' | translate}}"
      >
    </div>
    <div fxFlex></div>
    <button
      rcButton="default"
      (click)="exportServiceUsage()">
      {{ "export_excel" | translate }}
    </button>
  </div>
  <div class="table-wrap" *ngIf="!loading">
    <rc-table
      class="rc-primary-table"
      columnMode="force"
      headerHeight="37"
      [rowHeight]="37"
      [rows]="filteredList"
    >
      <rc-table-col name="{{'service_region_name' | translate}}">
        <div *rcTableColCell="let item = row">
          {{ item.region_name }}
        </div>
      </rc-table-col>
      <rc-table-col name="{{'service_name' | translate}}">
        <div *rcTableColCell="let item = row">
          {{ item.service_name }}
        </div>
      </rc-table-col>
      <rc-table-col name="{{'service_id' | translate}}">
        <div *rcTableColCell="let item = row">
          {{ item.service_id | slice:0:7 }}
        </div>
      </rc-table-col>
      <rc-table-col name="{{'instance_size' | translate}}">
        <div *rcTableColCell="let item = row">
          {{ item.instance_size }}
        </div>
      </rc-table-col>
      <rc-table-col>
        <div *rcTableColHeader style="text-align: right;">
          {{ 'running_time_in_hours' | translate }}
        </div>
        <div *rcTableColCell="let item = row" style="text-align: right;">
          {{ item.count }}
        </div>
      </rc-table-col>
    </rc-table>
  </div>
</div>

<rc-loading-mask [loading]="loading"></rc-loading-mask>
