@import 'border.styles';

:host {
  ::ng-deep {
    .datatable-header-cell-label {
      width: 100%;
    }
    .datatable-body-cell-label {
      width: 100%;
    }
  }
}

[container-name^='service_usage'] {
  min-width: 0;
  min-height: 0;
  .panel-heading {
    box-sizing: content-box;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .rb-page-service-usage-list {
    display: flex;
    flex-direction: column;
    rb-dropdown {
      width: 100% !important;
    }
    .ui.dropdown {
      min-width: 100%;
    }
  }
  .table-wrap {
    overflow: auto;
    position: relative;
  }
}
