<div class="event-list-container">
  <div class="event-header">
    <div class="rc-legend-list layout-row"
         layout="row"
         layout-align="start center">
      <div class="rc-legend-item success">
        {{ 'message' | translate }}
      </div>
      <div class="rc-legend-item pending">
        {{ 'warning' | translate }}
      </div>
      <div class="rc-legend-item error">
        {{ 'error' | translate }}
      </div>
    </div>
    <rc-search-input (onSearch)="search($event)"
                     [loading]="loading"></rc-search-input>
  </div>
  <div class="event-content" [rcLoadingMask]="loading">
    <!-- list -->
    <ul class="event-list" *ngIf="events.length">
      <li class="event-item" *ngFor="let event of events" [ngClass]="eventStateMap[event.log_level]">
        <div class="event-item-summary" (click)="expandEvent(event, $event)" role="button">
          <span class="event-time">{{event.formattedTime}}</span>
          <span class="event-message" [innerHTML]="event.message"></span>
          <i class="fa fa-commenting event-message-icon"
             *ngIf="!!event.detail.message"
             rcTooltipPosition="top center"
             [rcTooltipMode]="eventStateMap[event.log_level]"
             [rcTooltip]="event.detail.message"></i>
          <span class="event-detail-icon fa"
                [ngClass]="{'fa-caret-right':!event.expanded, 'fa-caret-down':event.expanded}"></span>
        </div>
        <div class="event-item-detail" *ngIf="event.expanded">
          <pre>{{event.jsonDetail}}</pre>
        </div>
      </li>
    </ul>
    <!-- no data -->
    <div *ngIf="!events.length && !keyword && !loading" class="rb-loading-mask-placeholder">
      {{ "no_data" | translate }}
    </div>
    <!-- no search result -->
    <div class="event-not-found" *ngIf="!events.length && keyword && !loading">
      <h2>{{ 'event_not_found' | translate }}</h2>
      <hr>
      <ul [innerHTML]="notFoundTips"></ul>
      <ul>
        <li>
          <p>{{ 'event_data_example' | translate }}</p>
          <pre>
{{ '{' }}
    "resource_name": "EHEtest",
    "resource_id": "ac16c87b-1e14-44a9-b489-5a5f1319bac4",
    "namespace": "claasv1",
    "detail": {{ '{' }}
        "operator": "vipertest",
        "operation": "destroy"
    {{ '}' }},
    "time": 1466241014.316031,
    "template_id": "generic",
    "resource_type": "service"
{{ '}' }}</pre>
        </li>
      </ul>
    </div>
  </div>
  <div class="event-pagination clearfix" *ngIf="pagination.count>0">
    <rc-pagination [count]="pagination.count"
                   [pageSize]="pagination.pageSize"
                   [currentPage]="pagination.currentPage"
                   (pageChanged)="pageChanged($event)"
                   [disabled]="loading"></rc-pagination>
  </div>
</div>