:host {
  .rc-input-container-help {
    padding-left: 150px;
    padding-right: 48px;
    color: #9c9c9c;
    margin-bottom: 8px;
    word-break: break-all;
  }

  .form-container {
    padding: 16px;
  }
  .form-footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 48px;
  }
  .no-label-item {
    ::ng-deep {
      .aui-form-item__label-wrapper::after {
        content: ' ';
      }
    }
  }

  ::ng-deep {
    .aui-form-item__container {
      margin-right: 48px;
    }
    .random-password {
      margin-bottom: 0;
    }

    .password-help {
      .aui-form-item__content {
        color: #dedede;
        line-height: normal;
      }
    }

    rc-tags-input {
      flex: 1;
      height: 32px;
      line-height: 32px;
    }

    .fa-question-circle {
      color: #dedede;
      font-size: 18px;
    }

    rc-multi-selection-dropdown {
      flex: 1;
      .search.icon {
        position: absolute;
        line-height: 1;
        text-align: center;
        top: 0;
        right: 0;
        font-size: 1em;
        margin: 0;
        width: 2.67142857em;
        opacity: 0.5;
      }
      .search.input {
        position: relative;
        input {
          flex: 1 0 auto;
        }
      }
    }

    .show-more-info {
      > div:last-child {
        position: relative;
      }

      hr {
        width: 100%;
        border-top: 1px solid #eee;
      }

      .more-info {
        position: absolute;
        padding: 0 10px;
        color: #24a7e3;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        cursor: pointer;
        margin-left: 48px;
      }
    }

    .password-remark {
      margin-bottom: 20px;

      > div:last-child {
        line-height: normal;
        color: #dedede;
      }
    }

    .rc-account-password-field {
      position: relative;
      flex: 1;
      input {
        padding-right: 48px !important;
      }
      .rc-account-password-strength {
        position: absolute;
        top: 7px;
        right: 8px;
      }
    }

    .rc-tags-input-wrapper {
      ul {
        padding: 0 8px !important;
      }

      .rc-tag-input-item {
        padding: 0px 4px 0px 0 !important;
      }
    }
  }
}
