<div class="form-container" [rcLoadingMask]="!initialized || submitting">
  <form auiForm *ngIf="!createSuccess" #accountCreateForm="ngForm" auiFormLabelWidth="155px">
    <div *ngIf="!privateDeploy" class="rc-input-container-help">
      {{ helpText }}
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{'username' | translate}}</label>
      <rc-tags-input class="rb-row-content" #tagsInput [placeholder]="'add_by_enter_or_space' | translate" [addOnSpace]="true"
        required [(ngModel)]="accountNames" name="usernames">
      </rc-tags-input>
      <div auiFormItemAddon>
        <i class="fa fa-question-circle" [rcTooltip]="'accounts_name_placeholder' | translate" rcTooltipMode="info" rcTooltipPosition="right"></i>
      </div>
    </aui-form-item>

    <aui-form-item class="no-label-item">
      <aui-checkbox [(ngModel)]="randomPassword" name="randomPassword">{{ 'create_random_password' | translate }}</aui-checkbox>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{'password' | translate}}</label>
      <div class="rc-account-password-field">
        <input rcInput name="password" type="password" [disabled]="randomPassword" [(ngModel)]="password" [minlength]="!randomPassword && passwordPatternObj?.min"
          [maxlength]="!randomPassword && passwordPatternObj?.max" rcErrorsTooltip [rcErrorsTooltipMapper]="changePasswordErrorMapper"
          [required]="!randomPassword">
        <div *ngIf="!randomPassword" class="rc-account-password-strength">
          <rc-app-password-strength-label [password]="password">
          </rc-app-password-strength-label>
        </div>
      </div>
      <div auiFormItemAddon>
        <i class="fa fa-question-circle" [rcTooltip]="'create_user_password_help' | translate" rcTooltipMode="info" rcTooltipPosition="right"></i>
      </div>
    </aui-form-item>

    <aui-form-item class="no-label-item password-help">
      <div [innerHTML]="'create_user_password_help' | translate"></div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{'role' | translate}}</label>
      <rc-multi-selection-dropdown [options]="allRoles" [displayField]="'name'" [valueField]="'name'" [placeholder]="'user_add_role_placeholder' | translate"
        (optionAdd)="onRoleAdd($event)" (optionRemove)="onRoleRemove($event)">
      </rc-multi-selection-dropdown>
      <div auiFormItemAddon>
        <i class="fa fa-question-circle" [rcTooltip]="'create_user_role_help' | translate" rcTooltipMode="info" rcTooltipPosition="right"></i>
      </div>
    </aui-form-item>

    <aui-form-item class="no-label-item show-more-info">
      <hr>
      <span class="more-info" (click)="showMoreInfo = true">
        {{ 'more_info' | translate }}
        <i class="fa fa-angle-double-down"></i>
      </span>
    </aui-form-item>


    <div *ngIf="showMoreInfo">
      <aui-form-item>
        <label auiFormItemLabel>{{'department' | translate}}</label>
        <input rcInput name="department" maxlength="128" [(ngModel)]="department">
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel>{{'position' | translate}}</label>
        <input rcInput name="position" maxlength="128" [(ngModel)]="position">
      </aui-form-item>

      <aui-form-item>
        <label auiFormItemLabel>{{'office_address' | translate}}</label>
        <input rcInput name="office_address" maxlength="128" [(ngModel)]="office_address">
      </aui-form-item>

    </div>

    <aui-form-item class="no-label-item">
      <aui-checkbox [(ngModel)]="passwordView.a" name="passwordView">{{ 'view_user_password' | translate }}</aui-checkbox>
    </aui-form-item>

  </form>
  <div *ngIf="createSuccess ">
    <div style="color: #9c9c9c; ">
      {{ 'created_subaccounts' | translate }}
    </div>
    <aui-table [dataSource]="users ">
      <ng-container auiTableColumnDef="username ">
        <aui-table-header-cell *auiTableHeaderCellDef>{{ 'username' | translate }}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item ">{{ item.username }}</aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="password ">
        <aui-table-header-cell *auiTableHeaderCellDef>{{ 'password' | translate }}</aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item ">{{ item.password }}</aui-table-cell>
      </ng-container>
      <aui-table-header-row *auiTableHeaderRowDef="[ 'username', 'password'] "></aui-table-header-row>
      <aui-table-row *auiTableRowDef="let row; columns: [ 'username', 'password']; "></aui-table-row>
    </aui-table>
  </div>
  <div class="form-footer">
    <div *ngIf="!createSuccess ">
      <button aui-button (click)="cancel()">
        {{ 'cancel' | translate }}
      </button>
      <button aui-button="primary" [disabled]="confirmButtonDisabled()" (click)="confirm()">
        {{ 'create' | translate }}
      </button>
    </div>
    <div *ngIf="createSuccess ">
      <button aui-button="primary" (click)="ok()">
        {{ 'ok' | translate }}
      </button>
    </div>
  </div>
</div>
