<rc-form-container>
  <form class="rb-form" #appCreateForm="ngForm">
    <!-- 命名空间 -->
    <rc-form-field label="{{'region_namespace' | translate}}" [shouldFlexRow]="true" [hideErrors]="true">
      <rc-single-selection-dropdown
        #singleDropdown
        required
        name="namespace"
        [rcErrorsTooltip]
        [rcErrorsTooltipInline]="true"
        [options]="namespaceOptions"
        [(ngModel)]="appPayload.namespace.uuid"
        (change)="onNamespaceOptionChange($event)"
        displayField="name"
        valueField="uuid">
      </rc-single-selection-dropdown>
    </rc-form-field>
    <!-- 名称 -->
    <rc-form-field label="{{'app_name' | translate}}" [shouldFlexRow]="true" [hideErrors]="true">
      <input rcInput
             name="name"
             [rcErrorsTooltip]
             [rcErrorsTooltipInline]="true"
             [(ngModel)]="appPayload.resource.name"
             minlength="4"
             maxlength="62"
             pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
             required>
    </rc-form-field>
    <!-- 描述 -->
    <rc-form-field label="{{'app_description' | translate}}">
      <input rcInput
             name="description"
             [(ngModel)]="appPayload.resource.description">
    </rc-form-field>
    <!-- YAML -->
    <rc-form-field label="{{'yaml_file' | translate}}" [shouldFlexRow]="true" [hideErrors]="true">
      <rc-code-editor name="yaml"
                      [rcErrorsTooltip]
                      [rcErrorsTooltipInline]="true"
                      [(ngModel)]="appYaml"
                      mode="yaml"
                      [allowImport]="true"
                      required></rc-code-editor>
    </rc-form-field>
    <!-- yaml template -->
    <div class="yaml-template">
      <a
        href="javascript:void(0)"
        (click)="useDemoTemplate()"
      >{{ 'show_compose_demo' | translate }}</a>
    </div>
  </form>

  <ng-container *rcFooterContent>
    <button fxFlexOffset="140px" rcButton="primary" [loading]="submitting" [disabled]="submitting" (click)="confirm()">{{'confirm' | translate}}</button>
    <button fxFlexOffset="12px" rcButton [disabled]="submitting" (click)="cancel()">{{'cancel' | translate}}</button>
  </ng-container>
</rc-form-container>
