<table class="table app-table rb-preview-table">
  <thead>
  <tr>
    <td>{{ 'volume_image_path' |translate }}</td>
    <td>{{ 'volume' | translate }}</td>
    <td>{{ 'storage_volume_brick_path' | translate }}</td>
    <td style="width: 100px;">{{ 'action' | translate }}</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="volume in vm.serviceVolumes track by $index">
    <td>{{ volume.app_volume_dir }}</td>
    <td>{{ volume.display_text || volume.volume_name}}</td>
    <td>
      <span ng-if="volume.volume_id==='host_path'">
        {{ volume.volume_name }}
      </span>
    </td>
    <td>
      <button
        class="rb-fieldset-action-btn table-action-btn"
        ng-click="vm.updateVolume('update',$index, volume)">
        <i class="fa fa-edit"></i>
      </button>

      <button
        ng-if="!volume.isPreset"
        class="rb-fieldset-action-btn table-action-btn"
        ng-click="vm.deleteVolume($index, volume)">
        <i class="fa fa-remove"></i>
      </button>
    </td>
  </tr>
</table>
<div class="text-right">
  <button
    type="button"
    class="ui button tiny rb-btn-default"
    ng-click="vm.updateVolume()">
    {{ 'add' | translate }}
  </button>
</div>
