<div fxLayout="row"
     class="rc-list-header">
  <button *ngIf="serviceCreateEnabled"
          rcButton="primary"
          (click)="createService()">
    {{ "create_service" | translate }}
  </button>
  <span fxFlex></span>
  <rc-search-input [loading]="searching"
                   (onSearch)="searchChanged($event)"></rc-search-input>
  <button rcIconButton
          [disabled]="loading"
          (click)="refetch()">
    <i class="fa fa-refresh"></i>
  </button>
</div>

<rc-k8s-service-list [searchQuery]="searchQuery"
                     [regionName]="regionName | async">
</rc-k8s-service-list>
