<rc-loading-mask [loading]="!initialized"
    style="height: 100%;"></rc-loading-mask>
<div *ngIf="initialized"
    style="height: 100%;">
    <rc-service-update *ngIf="type === 'yaml'"
        [serviceData]="serviceData"
        [serviceYaml]="serviceYaml"></rc-service-update>
    <rc-service-create-ui *ngIf="type === 'repo'"
        [serviceData]="serviceData"></rc-service-create-ui>
</div>