<div class="rb-form-panel">
  <div class="rb-form-container" rb-loading-mask="!vm.initialized || vm.submitting">
    <ng-form class="rb-form" name="vm.form">
      <div class="rb-form-row input">
        <div class="rb-label" flex="20">
          {{'template_name' | translate}}
        </div>
        <div flex="65" class="ui fluid input">
          <span>{{vm.template_display_name}}</span>
        </div>
      </div>

      <div class="rb-form-row input">
        <div class="rb-label" flex="20">
          {{ "template_desc" | translate }}
        </div>
        <div flex="65" class="ui fluid input">
          <input
            type="text"
            ng-model="vm.template.description"
            ng-model-options="{ debounce: 500 }"
            name="desc"
            minlength="1"
            maxlength="256"
            placeholder="{{ 'template_desc' | translate }}">
        </div>
      </div>

      <div class="rb-form-row input">
        <div class="rb-label" flex="20">
          {{ "created_at" | translate }}
        </div>
        <div flex="65" class="ui fluid input">
          <span>{{vm.template.created_at | formatUtcStr}}</span>
        </div>
      </div>

      <div class="rb-form-row input">
        <div class="rb-label" flex="20">
          {{ "updated_at" | translate }}
        </div>
        <div flex="65" class="ui fluid input">
          <span>{{vm.template.updated_at | formatUtcStr}}</span>
        </div>
      </div>

      <div class="rb-form-row input">
        <div class="rb-label" flex="20">
          {{ "yaml_file" | translate }}
          <span class="rb-required-mark">*</span>
        </div>
        <div flex="65">
          <div style="width: 100%;">
            <ui-codemirror ui-codemirror-opts="vm.editorOptions"
                           ng-model="vm.template.yaml"></ui-codemirror>
          </div>
        </div>
      </div>
    </ng-form>
  </div>

  <div class="rb-form-footer">
    <div flex="20"></div>
    <div class="rb-form-footer-buttons" flex="65">
      <button type="button" class="ui button rb-btn-primary" ng-click="vm.update()">{{'save' | translate}}
      </button>
      <button type="button" class="ui button rb-btn-default" ng-click="vm.cancel()">{{'cancel' | translate}}
      </button>
    </div>
  </div>
</div>