<div class="rc-list-header">
  <button *ngIf="hasCreateAlarmPermission"
          rcButton="primary"
          (click)="createAlarm()"
          [disabled]="loading">
    {{ "alarm_create" | translate }}
  </button>
  <span fxFlex></span>
  <rc-search-input [loading]="searching" mode="filter" (onSearch)="searchChanged($event)"></rc-search-input>
  <button rcIconButton [disabled]="loading" (click)="load()">
    <i class="fa fa-refresh"></i>
  </button>
</div>

<div class="table-container" [rcLoadingMask]="loading">
  <table class="rc-native-table rc-native-table-secondary" *ngIf="initialized">
    <thead>
      <tr>
        <td style="width:120px;">{{ 'name' | translate }}</td>
        <td style="width:100px;">{{ 'quota_space' | translate }}</td>
        <td style="width:100px;">{{ 'status'|translate }}</td>
        <td style="width:120px;">{{ 'logs_query_condition' | translate }}</td>
        <td style="width:160px;">{{'logs_query_condition_content' | translate}}</td>
        <td style="width:120px;">{{'log_time_range' | translate}}</td>
        <td style="width:120px;">{{ 'alarm_threshold' | translate }}</td>
        <td style="width:100px;">{{ 'alarm_action' | translate }}</td>
        <td style="width:140px;">{{ 'action' | translate }}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alarm of alarms; trackBy: trackByIndex">
        <td class="rc-col-break">
          <a [routerLink]="['/alarm/log_alarm_detail', alarm.uuid]">{{alarm.name}}</a>
        </td>
        <td>
          <a *ngIf="alarm.space_name;else noSpace"
             [routerLink]="['/quota/detail', alarm.space_name]">{{alarm.space_name}}</a>
          <ng-template #noSpace>-</ng-template>
        </td>
        <td class="rc-col-nowrap">
          <rc-status-badge [status]="statusMap[alarm.status]"></rc-status-badge>
        </td>
        <td>
          <ng-container *ngIf="alarm.saved_search_detail&&alarm.saved_search_detail.display_name;else noQueryCondition">{{alarm.saved_search_detail.display_name}}</ng-container>
          <ng-template #noQueryCondition>-</ng-template>
        </td>
        <td class="rc-col-break">
          <div [innerHTML]="queryConditionContent(alarm.saved_search_detail)"></div>
        </td>
        <td>
          <div [innerHTML]="timeRange(alarm.saved_search_detail)"></div>
        </td>
        <td>{{getThresholdDisplay(alarm)}}</td>
        <td>
          <div [innerHTML]="getAlarmActionDisplay(alarm)"></div>
        </td>
        <td>
          <rc-button-menu>
            <button rcButton
                    rcButtonSize="small" rcButtonMenuDefault
                    (click)="viewDetail(alarm.uuid)">{{'view'|translate}}</button>
            <button rcMenuButton
                    [disabled]="alarm.inAction"
                    (click)="update(alarm)"
                    *ngIf="alarm.canUpdate">{{'update'|translate}}</button>
            <button rcMenuButton
                    [disabled]="alarm.inAction"
                    (click)="delete(alarm)"
                    *ngIf="alarm.canDelete">{{'delete'|translate}}</button>
          </rc-button-menu>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="!alarms.length">
      <tr class="rc-row-empty">
        <td colspan="9">
            {{(keyword.length?'no_results':'no_data') | translate}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
