<rc-tab-group (selectedIndexChange)="select($event)" [selectedIndex]="index">
  <!-- metric alarm -->
  <ng-container *rcTab="'metric_alarm' | translate">
    <rc-alarm-list></rc-alarm-list>
  </ng-container>
  <!-- log alarm -->
  <ng-container *rcTab="'log_alarm' | translate">
    <rc-log-alarm-list></rc-log-alarm-list>
  </ng-container>
</rc-tab-group>