@import '../_rb-pipeline-workflow-common';

/* Simple animation for running state */
@keyframes rb-workflow-item-running-animation {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

/* Styles for different states for decorating the container */
@mixin workflow-item-state-decorator($state, $color) {
  .workflow-item-container.#{$state} {
    border-color: nth($color, 2);

    .workflow-item-header {
      background-color: nth($color, 1);

      .order-num {
        color: nth($color, 1);
      }
    }

    &.selected {
      box-shadow: 0 0 10px nth($color, 1);
    }
  }
}

rb-pipeline-workflow-item {
  .workflow-item-container {
    transform: scale(0.99);
    font-size: $pipeline-item-font-size-main;
    border: 2px solid #d0d0d0;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    cursor: pointer;
    transition: box-shadow 0.2s, background-color 0.4s, border-color 0.4s,
      transform 0.4s;
    border-radius: 5px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);

    &.running {
      animation: 1s infinite alternate rb-workflow-item-running-animation;
    }

    &.disabled {
      opacity: $pipeline-disabled-opacity;
      cursor: default;
    }

    &.selected {
      box-shadow: 0 0 10px;
      transform: scale(1);
    }

    .workflow-item-header {
      height: 36px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      color: #fff;
      transition: background-color 0.4s;

      .order-num {
        border-radius: 50%;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        font-size: 13px;
        font-weight: 600;
        margin-right: 10px;
        background-color: #fff;
        transition: color 0.4s;
      }

      .header-title {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .remove-icon:hover {
        text-shadow: 0 0 10px #fff;
      }
    }

    .workflow-item-body {
      min-height: 50px;
      padding: 5px 0;
      display: flex;
      flex-flow: column;
      position: relative;

      .fa.fa-plus {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        color: #b8b8b8;
        font-size: 32px;
        padding: 14px 0;
      }

      .workflow-item-field-row {
        display: flex;
        flex: 1;
        align-items: center;
        padding: 4px 0;

        .field-logo {
          width: 36px;
          text-align: center;
          flex-shrink: 0;

          &.field-logo-exec {
            background: url(/static/images/pipeline/task-item-field/manual-exec.svg);
            background-repeat: no-repeat;
            background-size: 24px 14px;
            background-position: 6px 0px;
            padding-top: 7px;
            padding-bottom: 7px;
          }
        }

        .field-label {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &[type='pipeline_task_type'] .field-label {
          font-style: italic;
          padding: 0 2px;
        }

        @each $state, $color in $pipeline-color-map {
          &.#{$state} {
            color: nth($color, 1);
          }
        }
      }

      .workflow-item-message-container {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 10px;
      }
    }
  }

  @each $state, $color in $pipeline-color-map {
    @include workflow-item-state-decorator($state, $color);
  }

  /* Special decorations for inactive */
  .workflow-item-container.inactive {
    .workflow-item-header {
      color: #000;

      .order-num {
        background-color: #8f8f8f;
      }
    }
  }
}
