<div class="workflow-item-container {{ vm.item.state }}"
     ng-class="{ selected: vm.item.selected, disabled: vm.item.disabled, running: vm.item.running }"
     ng-click="vm.item.onClick()">
  <div class="workflow-item-header"
       title="{{ vm.item.title }}">
    <div ng-show="vm.item.isTask() && vm.item.order"
         class="order-num">
      {{ vm.item.order }}
    </div>
    <div class="header-title">
      {{ vm.item.title }}
    </div>
    <div class="remove-icon fa fa-trash"
         ng-click="$event.stopPropagation(); vm.item.onRemove();"
         ng-if="vm.item.isTask() && vm.item.touched && !vm.workflow.readonly">
    </div>
  </div>
  <div rb-loading-mask="vm.item.loading"
       class="workflow-item-body">

    <div class="fa fa-plus" ng-if="!vm.item.touched">
    </div>

    <div class="workflow-item-message-container"
         ng-show="vm.item.message && !vm.item.loading && vm.item.touched">
      {{ vm.item.message }}
    </div>

    <div type="{{ field.type }}"
         class="workflow-item-field-row {{ field.css }}"
         ng-repeat="field in vm.item.fields | orderBy: 'order'"
         ng-show="vm.item.touched && !vm.item.message && field.label">
      <span class="{{ field.logo }} field-logo"
            uib-tooltip="{{ field.type | translate }}"
            tooltip-append-to-body="true">
      </span>
      <div class="field-label" title="{{ field.label }}">{{ field.label }}</div>
    </div>
  </div>
</div>
