.var-help-container {
  margin: 20px;
  max-height: 450px;
  overflow: auto;

  .description {
    padding-bottom: 20px;
  }
}

:host ::ng-deep {
  ol {
    padding-left: 20px;

    li {
      line-height: 20px;
    }
  }
}
