@import 'colors.styles';

$log-hover-background-color: #465155;
$log-context-background-color: #121b1b;
rb-service-log {
  min-height: 240px;
  .rb-service-log-header {
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
    .ui.radio {
      margin-left: 8px;
    }
  }
}

.rb-log-container {
  position: relative;

  .clear-button {
    position: absolute;
    bottom: 15px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: rgba(74, 85, 90, 0.95);
    color: $button-primary-text-color;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;

    &:hover {
      color: $status-color-in-process;
    }
  }
}

.rb-log-list,
.rb-log-list-placeholder {
  font-family: 'Monaco', 'DejaVu Sans Mono', 'Liberation Mono', monospace;
  font-size: 12px;
  color: #e1e6e6;
  background-color: #263238;
  max-height: 600px;
  min-height: 400px;
  overflow: auto;
  > li {
    list-style: none;
    line-height: 20px;
    padding: 4px 8px;
    &:hover {
      background-color: $log-hover-background-color;
    }
    > span {
      margin-right: 4px;
    }
  }
  .rb-log-item .log-message {
    white-space: pre-wrap;
    word-break: break-word;
    &.log-error {
      color: $status-color-error;
    }
  }
}

@mixin rb-log-context-border-style() {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  height: 100%;
  width: 0;
  border-left: 1px solid #e1e6e6;
}

rb-service-log-search {
  .rb-log-search-form {
    margin-bottom: 8px;
    .form-inline {
      display: flex;
      .form-group {
        input {
          width: 160px;
        }
        > label {
          line-height: 32px;
          font-size: 12px;
          font-weight: 400;
        }
      }
      .ui.button {
        margin-left: 8px;
      }
    }
  }
  .rb-log-search-events {
    height: 200px;
    margin-bottom: 8px;
    > section {
      height: 100%;
    }
  }
  .rb-log-search-result-wrap {
    min-height: 200px;
  }
  .rb-log-search-result {
    font-family: 'Monaco', 'DejaVu Sans Mono', 'Liberation Mono', monospace;
    color: #e1e6e6;
    font-size: 12px;
    background-color: #263238;
    max-height: 600px;
    min-height: 400px;
    overflow: auto;
    ul {
      margin: 0;
      li {
        position: relative;
        list-style: none;
        > span:not(.context-border) {
          margin-right: 4px;
        }
        .rb-log-icon {
          font-size: 16px;
          width: 16px;
          height: 20px;
          position: absolute;
          left: 8px;
          top: 4px;
          margin-right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #e1e6e6;
          transition: color 0.2s;
          &.icon-after {
            bottom: 4px;
            top: auto;
          }
          &:hover {
            color: #0badeb;
          }
          .fa-minus-circle {
            color: #0badeb;
          }
        }
        &.rb-log-item {
          padding: 4px 8px 4px 32px;
          background-color: #263238;
          line-height: 20px;
          em {
            font-style: normal;
            background-color: #f7e8ac;
            color: #1a282f;
          }
          &:hover {
            background-color: $log-hover-background-color;
          }
          .log-message {
            white-space: pre-wrap;
            word-break: break-word;
          }
        }
        .rb-log-context {
          margin: 0 8px;
          background-color: $log-context-background-color;
          border-radius: 4px;
          &.collapse {
            height: 0;
          }
          .log-context-item {
            display: relative;
            line-height: 20px;
            padding: 4px 8px 4px 32px;
          }
          .log-context-item:before {
            @include rb-log-context-border-style();
          }
          &.rb-log-context-before {
            .log-context-item:first-child:before {
              top: 26px;
            }
          }
          &.rb-log-context-after {
            .log-context-item:last-child:before {
              bottom: 26px;
            }
          }
        }
      }
    }
  }
}
