<div class="rb-log-container">
  <ul ng-if="!vm.lastLogTime" class="rb-log-list-placeholder">
    <li class="rb-log-item rb-log-waiting-message" ng-show="vm.loading"><span class="log-message">Please wait...</span>
    </li>
    <li class="rb-log-item rb-log-waiting-message" ng-show="!vm.loading"><span class="log-message">{{'no_log_last_7_days' | translate}}</span>
    </li>
  </ul>
  <ul ng-show="vm.lastLogTime" class="rb-log-list">
  </ul>
  <div
    ng-click="vm.clearLogs()"
    class="clear-button rb-icon-besom"></div>
</div>
