<div class="rb-log-search-form">
  <form class="form-inline">
    <div class="form-group">
      <rb-dropdown size="sm"
                   options="vm.timestampOptions"
                   key="name"
                   value="type"
                   init="vm.timestampOption"
                   on-change="vm.onTimestampChanged(option)"></rb-dropdown>
    </div>
    <div class="form-group" ng-if="vm.allowCustomTimeRange">
      <label>{{ "from" | translate }}</label>
      <div rb-date-time-picker
           timestamp="vm.queryDates.from"
           options="vm.dateTimeOptions"
           class="input-group date ui input">
        <input type="text"
               class="form-control"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <div class="form-group" ng-if="vm.allowCustomTimeRange">
      <label>{{ "to" | translate }}</label>
      <div rb-date-time-picker
           timestamp="vm.queryDates.to"
           options="vm.dateTimeOptions"
           class="input-group date ui input">
        <input type="text"
               class="form-control"/>
        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
      </div>
    </div>

    <div class="form-group ui input" style="flex:1;">
      <input type="text"
             keycode="13"
             rb-key-code="vm.search()"
             class="form-control input"
             ng-model="vm.queryString"
             placeholder="{{ 'keyword' | translate }}"
             style="width:100%;">
    </div>

    <button style="flex-basis: {{ vm.allowCustomTimeRange ? 'auto' : '100px' }}"
            type="button"
            class="ui button rb-btn-primary"
            ng-click="vm.search()">
      {{ "search" | translate }}
    </button>
  </form>

</div>

<div class="rb-log-search-events" rb-loading-mask="vm.loading">
  <section></section>
</div>

<div ng-if="vm.logs.length" class="rb-log-search-result-wrap" rb-loading-mask="vm.loadingLogs">
  <div class="rb-log-search-result">
    <ul ng-repeat="log in vm.logs track by $index">
      <li ng-if="vm.logCache[log.time]">
        <ul class="rb-log-context rb-log-context-before" ng-class="{'collapse': !vm.logCollapseMap[log.time]}">
          <li class="log-context-item"
              ng-repeat="_log in vm.logCache[log.time]['before'] track by $index">
            <span>{{_log.time * 1000 | formatDate:true}}</span>
            <span>{{_log.instance_id}}</span>
            <span class="log-message">{{_log.message}}</span>
            <span ng-if="$first"
                  class="rb-log-icon icon-before"
                  ng-click="vm.logInsight(log, 'before')"
                  title="{{'log_context_view_more_before' | translate}}">
            <i class="fa fa-arrow-circle-up"></i>
          </span>
          </li>
        </ul>
      </li>
      <li class="rb-log-item">
        <span>{{log.time * 1000 | formatDate:true}}</span>
        <span>{{log.instance_id}}</span>
        <span class="log-message" ng-if="vm.hasQueryString" ng-bind-html="(log.message | trustAsHtml)"></span>
        <span class="log-message" ng-if="!vm.hasQueryString">{{log.message}}</span>
        <span ng-if="vm.hasQueryString" class="rb-log-icon" ng-click="vm.logInsight(log)" title="{{'log_context_view' | translate}}">
        <i class="fa"
           ng-class="{'fa-minus-circle': vm.logCollapseMap[log.time], 'fa-plus-circle': !vm.logCollapseMap[log.time]}" ></i>
      </span>
      </li>
      <li ng-if="vm.logCache[log.time]">
        <ul class="rb-log-context rb-log-context-after" ng-class="{'collapse': !vm.logCollapseMap[log.time]}">
          <li class="log-context-item"
              ng-repeat="_log in vm.logCache[log.time]['after'] track by $index">
            <span>{{_log.time * 1000 | formatDate:true}}</span>
            <span>{{_log.instance_id}}</span>
            <span class="log-message">{{_log.message}}</span>
            <span ng-if="$last"
                  class="rb-log-icon icon-after"
                  ng-click="vm.logInsight(log, 'after')"
                  title="{{'log_context_view_more_after' | translate}}">
            <i class="fa fa-arrow-circle-down"></i>
          </span>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</div>

<rb-pagination ng-if="vm.pagination.total_items"
               size="vm.pagination.size"
               total-items="vm.pagination.total_items"
               on-change="vm.getLogs(page)"
               disabled="vm.loadingLogs">
</rb-pagination>