<div class="rb-service-log-header">
  <rb-dropdown size="sm"
               rb-loading-mask="vm.logSourceLoading"
               options="vm.logSourceList"
               key="name"
               value="value"
               on-change="vm.onLogSourceChanged(option)"></rb-dropdown>
  <rb-radio-group options="vm.logModes" on-change="vm.onLogModeChange(option)"></rb-radio-group>
</div>

<rb-service-log-search ng-if="vm.logMode === vm.SERVICE_LOG_MODE.SEARCH" service="vm.service" source="vm.logSource"></rb-service-log-search>

<rb-service-log-polling ng-if="vm.logMode === vm.SERVICE_LOG_MODE.POLLING"
                        service="vm.service"
                        source="vm.logSource"></rb-service-log-polling>