@import '_colors.styles';

:host {
  ::ng-deep {
    .datatable-body-cell-label {
      width: 100%;
    }
  }
}

.charge-list-container {
  padding: 14px 18px 0;
  .quota-usage-column {
    display: flex;
    align-items: center;
  }
  .quota-usage-bar {
    background-color: $status-color-success;
    height: 8px;
    border-radius: 6px;
  }
  .quota-usage-value {
    width: 3em;
    text-align: center;
  }
}
