<div class="charge-list-container">
  <div style="margin-bottom: 12px;">
    {{ quotaLabel | translate }}({{unit | translate}}):  <em>{{ percent }}%</em>
    <a href="javascript:void(0)" style="float: right;" (click)="close.emit()">
      <i class="fa fa-close"></i>
    </a>
  </div>
  <rc-table
    class="rc-primary-table"
    columnMode="force"
    headerHeight="37"
    [rowHeight]="37"
    [rows]="list"
  >
    <rc-table-col [width]="280" name="{{'service_name' | translate}}">
      <div *rcTableColCell="let item = row">
        <a href="javascript:void(0)" (click)="viewServiceDetail(item)">
          {{ item.displayName }}
        </a>
      </div>
    </rc-table-col>
    <rc-table-col [width]="1000">
      <div *rcTableColHeader>{{ quotaLabel | translate }} ({{unit | translate}})</div>
      <div *rcTableColCell="let item = row">
        <div class="quota-usage-column">
          <div [ngStyle]="{'width': item.normalizedWidth}" class="quota-usage-bar"></div>
          <div class="quota-usage-value">{{ item.request }}</div>
        </div>
      </div>
    </rc-table-col>
  </rc-table>
</div>

<!-- Explains why there is no data -->
<rc-loading-mask [loading]="!list && !loadError"></rc-loading-mask>
<div class="rb-list-table-info-container"
     *ngIf="!list || list.length === 0">
  <div *ngIf="loadError">
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError"
          class="ui button rb-btn-primary margin-top-2"
          (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>
