<div class="rb-horizontal-message">
  <span class="fa fa-exclamation-circle"></span>
  <div>
    {{'alarm_action_help_message' | translate}}
  </div>
</div>

<table class="rb-detail-table">
  <thead>
  <tr>
    <th style="width:120px;">{{'action_type' | translate}}</th>
    <th style="width:120px;">{{'trigger_type' | translate}}</th>
    <th>{{'resource' | translate}}</th>
    <th style="width:60px;">{{'action' | translate}}</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of actions; let i = index">
      <td>{{item.action_type | translate}}</td>
      <td>{{item.trigger_option | translate}}</td>
      <td>{{getActionResourceDisplayName(item)}}</td>
      <td>
        <span role="button" (click)="removeActionResource(i)">
          <i class="icon remove"></i>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-right margin-top-2">
  <button rcButton rcButtonSize="tiny" (click)="addAlarmAction()">{{'add' | translate}}</button>
</div>