@import 'colors.styles';
@import 'definitions/rubick.def';
.rc-cluster-deploy {
  $footer-height: 60px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__content {
    margin-bottom: $footer-height;
    padding: 14px 18px;
    overflow: auto;

    rc-radio-group ::ng-deep .radio-button-content {
      white-space: nowrap;
    }
  }

  &__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: #f1f4f6;
    box-shadow: 0 0 8px 0 rgba(196, 201, 203, 0.65);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 32px;

    > button {
      margin-left: 8px;
    }
  }
}

.rc-deploy-form {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: white;

  &__label {
    padding: 12px 0;
    border-bottom: 1px solid #f1f4f6;
    font-size: 18px;
    color: #4d4d4d;
  }

  &__content {
    margin: 30px auto 40px;
    width: 70%;
  }
}

rc-multi-selection-dropdown {
  width: 100%;
}
.volume-fieldset {
  background-color: #fafafa;
  position: relative;
  padding-top: 30px;
  margin-bottom: 16px;
  &:first-child {
    margin-bottom: 30px;
  }
  &-legend {
    position: absolute;
    left: 140px;
    top: -13px;
    height: 27px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    background-color: #fff;
  }
  &-disabled {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(250, 250, 250, 0.7);
    }
  }
}
.sc-choice {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  .sc-create-button {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    height: 32px;
    border-radius: 3px;
    padding: 0 16px;
    line-height: 30px;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    user-select: none;
    &.disabled {
      opacity: 0.7;
      color: #ccc;
      cursor: default;
    }
    &.active {
      color: #24a7e3;
      background-color: #e6f2f8;
      border-color: #24a7e3;
    }
  }
}
.sc-set-default {
  height: 20px;
  padding: 0 6px;
  margin-left: 8px;
  line-height: 1;
  display: flex;
  font-size: 12px;
  align-items: center;
  color: #009ce3;
  i {
    transform: scale(0.9);
  }
  &.default {
    color: #f8ac58;
    background-color: #fef6ee;
    border: 1px solid #f8ac58;
    border-radius: 3px;
    .sc-set-default-text {
      transform: scale(0.83);
    }
  }
}
.required-mark {
  color: $text-warnings-color;
  padding-left: 4px;
}

.table-nodes {
  width: 100%;
  margin-bottom: 8px;
  thead {
    td {
      background-color: #f0f0f0;
      height: 32px;
      padding: 0 8px;
    }
  }
  tbody {
    td {
      padding: 8px;
      border-bottom: 1px dashed #e8e8e8;
    }
  }
  .table-nodes-form {
    td {
      border-bottom: 1px solid #e8e8e8;
    }
  }
  rc-single-selection-dropdown {
    width: 100%;
  }
  rc-tags-input.no-values {
    ::ng-deep input {
      width: auto !important;
    }
  }
  .node-drive-item {
    display: inline-block;
    font-weight: 700;
    vertical-align: middle;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 4px;
    padding: 2px 8px;
    margin: 2px 4px 2px 0;
    background-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.6);
  }
  .fa-trach {
    color: #999;
  }
}
.node-empty {
  color: $text-warnings-color;
  margin-bottom: 16px;
}

.node-topo-drive {
  display: flex;
  align-items: center;
  rc-tags-input {
    flex: 1;
  }
  .drive-tip {
    color: $color-text-help;
    margin-left: space(2);
    width: 16px;
    &:hover {
      color: $color-text-primary;
    }
  }
}
