<rc-region-badge-option [option]="{hidden: true}"></rc-region-badge-option>

<div class="rc-cluster-deploy" [rcLoadingMask]="!(cloudName$ | async) || !(allIps$ | async) || !model.token">
  <div class="rc-cluster-deploy__content">
    <form
      *ngIf="(cloudName$ | async) && (allIps$ | async) && model.token"
      #form="ngForm"
      class="rc-deploy-form">
      <div class="rc-deploy-form__label">Kubernetes {{ 'template' | translate }}</div>
      <div class="rc-deploy-form__content">
        <rc-form-field
          *ngIf="!weblabs.NEW_KUBERNETES_ENABLED"
          [label]="'region_type' | translate">
          <rc-radio-group
            name="platform_version"
            [(ngModel)]="model.platform_version"
            [options]="platformVersionOptions"
            displayField="name"
            valueField="value">
          </rc-radio-group>
          <span
            class="fa fa-question-circle description-question-circle"
            rcFormAddon
            [rcTooltip]="'region_type_hint' | translate"
            [rcTooltipInline]="false"
            rcTooltipMode="info"
            rcTooltipPosition="top center">
            </span>
        </rc-form-field>
        <rc-form-field
          [label]="'region_acmp_template' | translate">
          <rc-single-selection-dropdown
            name="template_type"
            [(ngModel)]="model.template_type"
            (change)="$event?.value && onTemplateTypeChanged($event.value)"
            [options]="templateTypeOptions$ | async"
            displayField="name"
            valueField="value"
            [allowFilter]="false">
          </rc-single-selection-dropdown>
        </rc-form-field>
        <rc-form-field
          *ngIf="featureOptions.length"
          [label]="'region_acmp_features' | translate">
          <div
            rcFlexList
            rcFlexCellWidth="200px"
            [rcFlexCellMargin]="[0,0]">
            <div
              rcFlexCell
              *ngFor="let feature of featureOptions;let i = index">
              <rc-checkbox
                [name]="'feature_'+i"
                [disabled]="!feature.optional"
                [(ngModel)]="features[feature.value]">
                {{ ('region_feature_' + feature.value) | translate }}
              </rc-checkbox>
            </div>
          </div>
        </rc-form-field>
      </div>

      <div class="rc-deploy-form__label">{{ 'region_master_node' | translate }}</div>
      <div class="rc-deploy-form__content">
        <rc-form-field
          [label]="'region_acmp_master_is_compute' | translate">
          <rc-checkbox
            type="toggle"
            name="is_compute"
            [(ngModel)]="model.is_compute">
          </rc-checkbox>
        </rc-form-field>
        <ng-container *ngIf="model.template_type==='poc'">
          <rc-form-field
            label="Private IP">
            <rc-single-selection-dropdown
              name="master_private_ip"
              [(ngModel)]="model.master.private_ip"
              (change)="masterIps$.next([$event])"
              [options]="ipOptions$ | async"
              required>
            </rc-single-selection-dropdown>
          </rc-form-field>
          <rc-form-field
            label="Public IP">
            <input
              rcInput
              name="master_public_ip"
              [(ngModel)]="model.master.public_ip"
              required>
          </rc-form-field>
        </ng-container>
        <rc-form-field
          *ngIf="model.template_type==='prod'"
          label="Private IP"
          [shouldFlexRow]="true">
          <rc-multi-selection-dropdown
            name="master_private_ip"
            [(ngModel)]="model.master"
            (valueChange)="masterIps$.next($event)"
            [options]="masterMultiIpOptions$ | async"
            valueField="value"
            displayField="value"
            [maxlength]="3"
            [minlength]="3"
            required>
          </rc-multi-selection-dropdown>
        </rc-form-field>
      </div>

      <div class="rc-deploy-form__label">{{ 'region_slave_node' | translate }}</div>
      <div class="rc-deploy-form__content">
        <rc-form-field
          [label]="'username' | translate">
          <input
            rcInput
            name="slave_username"
            [(ngModel)]="model.slave_username"
            placeholder="root"
            required>
        </rc-form-field>
        <rc-form-field
          [label]="'region_slave_ssh_port' | translate">
          <input
            rcInput
            name="slave_ssh_port"
            [(ngModel)]="model.slave_ssh_port"
            placeholder="root"
            required>
        </rc-form-field>
        <rc-form-field
          *ngIf="(slaveIpsMaxLength$ | async)>0"
          [label]="'region_acmp_slave_node_title' | translate"
          [shouldFlexRow]="true">
          <rc-multi-selection-dropdown
            name="slave"
            [(ngModel)]="model.slave"
            (valueChange)="slaveIps$.next($event)"
            [options]="slaveMultiIpOptions$ | async"
            valueField="value"
            displayField="value">
          </rc-multi-selection-dropdown>
        </rc-form-field>
      </div>

      <ng-container *ngIf="features.load_balancer">
        <div class="rc-deploy-form__label">{{ 'lb' | translate }}</div>
        <div class="rc-deploy-form__content">
          <rc-form-field
            [label]="'type' | translate">
            <rc-radio-group
              name="lb_type"
              [(ngModel)]="lbType"
              (change)="onLbTypeChanged()"
              [options]="lbTypeOptions"
              displayField="name"
              valueField="value">
            </rc-radio-group>
          </rc-form-field>
          <ng-container *ngIf="model.template_type==='poc'">
            <rc-form-field
              label="Private IP">
              <rc-single-selection-dropdown
                name="lb_private_ip"
                [(ngModel)]="featureConfigs.load_balancer.private_ip"
                [options]="ipOptions$ | async"
                required>
              </rc-single-selection-dropdown>
            </rc-form-field>
            <rc-form-field
              label="Public IP">
              <input
                rcInput
                name="lb_public_ip"
                [(ngModel)]="featureConfigs.load_balancer.public_ip"
                required>
            </rc-form-field>
          </ng-container>
          <ng-container *ngIf="model.template_type==='prod'">
            <rc-form-field
              [label]="'region_acmp_load_balance_use_iaaslb' | translate">
              <rc-checkbox
                name="lb_iaas_lb"
                [(ngModel)]="featureConfigs.load_balancer.iaas_lb"
                type="toggle">
              </rc-checkbox>
            </rc-form-field>
            <rc-form-field
              label="VIP"
              [errorsMapper]="{pattern: ('region_acmp_monitor_invalid' | translate)}">
              <input
                rcInput
                name="lb_private_ip"
                [(ngModel)]="featureConfigs.load_balancer.private_ip"
                [pattern]="ipOrDomainPattern"
                required>
            </rc-form-field>
            <rc-form-field
              [label]="'region_load_balance_monitor_ip' | translate"
              [errorsMapper]="{pattern: ('region_acmp_monitor_invalid' | translate)}">
              <input
                rcInput
                name="lb_public_ip"
                [(ngModel)]="featureConfigs.load_balancer.public_ip"
                [pattern]="ipOrDomainPattern"
                required>
            </rc-form-field>
            <rc-form-field
              [label]="'region_acmp_load_balance_node' | translate"
              [shouldFlexRow]="true">
              <rc-multi-selection-dropdown
                name="lb_nodes"
                [(ngModel)]="featureConfigs.load_balancer.nodes"
                [options]="ipOptions$ | async">
              </rc-multi-selection-dropdown>
            </rc-form-field>
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="model.template_type==='prod'">
        <div class="rc-deploy-form__label">Controller HAProxy</div>
        <div class="rc-deploy-form__content">
          <rc-form-field
            label="IAAS LB">
            <rc-checkbox
              name="ch_iaas_lb"
              [(ngModel)]="model.controller_haproxy.iaas_lb"
              type="toggle">
            </rc-checkbox>
          </rc-form-field>
          <rc-form-field
            label="VIP">
            <input
              rcInput
              name="ch_floating_ip"
              [(ngModel)]="model.controller_haproxy.floating_ip"
              [pattern]="controllerHAPattern"
              required>
          </rc-form-field>
          <rc-form-field
            [label]="'region_acmp_monitor_ip' | translate">
            <input
              rcInput
              name="ch_monitor_ip"
              [(ngModel)]="model.controller_haproxy.monitor_ip"
              [pattern]="controllerHAPattern"
              required>
          </rc-form-field>
          <rc-form-field
            [label]="'region_acmp_controller_haproxy_node' | translate"
            [shouldFlexRow]="true">
            <rc-multi-selection-dropdown
              name="ch_nodes"
              [(ngModel)]="model.controller_haproxy.nodes"
              [options]="ipOptions$ | async"
              [maxlength]="2">
            </rc-multi-selection-dropdown>
          </rc-form-field>
        </div>
      </ng-container>

      <ng-container *ngIf="features.registry">
        <div class="rc-deploy-form__label">{{ 'nav_image_hub' | translate }}</div>
        <div class="rc-deploy-form__content">
          <rc-form-field
            label="Node">
            <rc-single-selection-dropdown
              name="registry_node"
              [(ngModel)]="featureConfigs.registry.node"
              [options]="ipOptions$ | async">
            </rc-single-selection-dropdown>
          </rc-form-field>
          <rc-form-field
            [label]="'region_acmp_registry_name' | translate">
            <input
              rcInput
              name="registry_name"
              [(ngModel)]="featureConfigs.registry.registry_settings.name"
              pattern="[A-Za-z0-9_-]*"
              required>
          </rc-form-field>
          <rc-form-field
            [label]="'region_acmp_registry_storage' | translate">
            <rc-radio-group
              name="registry_storage"
              [(ngModel)]="featureConfigs.registry.registry_settings.storage"
              (change)="onRegistryStorageChanged($event)"
              [options]="registryStorageSettingOptions"
              displayField="name"
              valueField="name">
            </rc-radio-group>
          </rc-form-field>
          <rc-form-field
            *ngFor="let setting of registryStorageSettings"
            [label]="('region_acmp_registry_' + setting.toLowerCase()) | translate">
            <input
              rcInput
              [name]="'registry_' + setting"
              [(ngModel)]="featureConfigs.registry.registry_settings[setting]"
              required>
          </rc-form-field>
        </div>
      </ng-container>

      <!-- Add storageclass support -->
      <ng-container *ngIf="features.volume">
        <div class="rc-deploy-form__label">{{ 'volume' | translate }}</div>
        <div class="rc-deploy-form__content">
          <div class="volume-fieldset">
            <div class="volume-fieldset-legend">
              <rc-checkbox
                name="volume_driver_glusterfs"
                (ngModelChange)="glusterfsSelect($event)"
                [(ngModel)]="volumeDrivers.glusterfs">
                {{ 'region_acmp_volume_type_glusterfs' | translate }}
              </rc-checkbox>
            </div>
            <div class="volume-fieldset-fields">
              <!-- <rc-form-field
                [label]="'region_acmp_glusterfs_path' | translate">
                <input
                  rcInput
                  [disabled]="!volumeDrivers.glusterfs"
                  name="volume_glusterfs_path"
                  [(ngModel)]="featureConfigs.volume.volume_settings.glusterfs.path"
                  required>
              </rc-form-field> -->
              <rc-form-field
                label="Replica">
                <input
                  rcInput
                  [disabled]="!volumeDrivers.glusterfs"
                  name="volume_glusterfs_replica"
                  [(ngModel)]="featureConfigs.volume.volume_settings.glusterfs.replica"
                  type="number"
                  required>
              </rc-form-field>
              <div class="rc-form-field">
                <label class="rc-form-field-label">{{'region_acmp_glusterfs_nodes_topology' | translate}} <span class="required-mark">*</span></label>
                <div class="rc-form-field-container">
                  <table class="table-nodes">
                    <thead>
                      <tr>
                        <td>{{'region_acmp_glusterfs_nodes' | translate}}</td>
                        <td>{{'region_acmp_glusterfs_drive' | translate}}</td>
                        <td style="min-width: 80px">{{'action' | translate}}</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-nodes-form">
                        <td>
                          <rc-single-selection-dropdown
                            #nodeSelect
                            [disabled]="!volumeDrivers.glusterfs"
                            name="volume_glusterfs_nodes"
                            [options]="masterSlaveIps$ | async"
                            required>
                          </rc-single-selection-dropdown>
                        </td>
                        <td>
                          <div class="node-topo-drive">
                            <rc-tags-input
                              [ngClass]="{'no-values': !nodeDrive.value.length}"
                              #nodeDrive
                              [disabled]="!volumeDrivers.glusterfs"
                              placeholder="{{(nodeDrive.value.length?'':'add_multiple_by_enter') | translate}}"
                              [addOnSpace]="false"
                              required>
                            </rc-tags-input>
                            <span class="fa fa-info-circle drive-tip"
                                  [rcTooltip]="'node_topo_disk_hint' | translate"
                                  [rcTooltipMode]="'info'"
                                  rcTooltipPosition="top center">
                            </span>
                          </div>
                        </td>
                        <td>
                          <button
                            rcButton
                            [disabled]="!volumeDrivers.glusterfs || !nodeDrive.value.length ||!nodeSelect.value"
                            (click)="addNode(nodeSelect.value, nodeDrive.value)"
                          >{{'add' | translate}}</button>
                        </td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr *ngFor="let topo of glusterfsNodeTopologies;let i=index">
                        <td>{{topo.node}}</td>
                        <td>
                          <span class="node-drive-item" *ngFor="let drive of topo.drives">{{drive}}</span>
                        </td>
                        <td><i class="fa fa-trash" role="button" (click)="removeNode(i)"></i></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- <rc-form-field
                [label]="'region_acmp_glusterfs_nodes' | translate"
                [shouldFlexRow]="true">
                <rc-multi-selection-dropdown
                  [disabled]="!volumeDrivers.glusterfs"
                  name="volume_glusterfs_nodes"
                  [(ngModel)]="featureConfigs.volume.volume_settings.glusterfs.nodes"
                  [options]="ipOptions$ | async">
                </rc-multi-selection-dropdown>
              </rc-form-field> -->
            </div>
          </div>
          <!-- ebs -->
          <div class="volume-fieldset">
            <div class="volume-fieldset-legend">
              <rc-checkbox
                name="volume_driver_ebs"
                [disabled]="(cloudName$ | async)!=='AWS'"
                [(ngModel)]="volumeDrivers.ebs">
                {{ 'region_acmp_volume_type_ebs' | translate }}
              </rc-checkbox>
              <span
                style="margin-left: 8px"
                class="fa fa-question-circle description-question-circle"
                rcFormAddon
                [rcTooltip]="'region_volume_driver_type_hint' | translate"
                [rcTooltipInline]="false"
                rcTooltipMode="info"
                rcTooltipPosition="top center">
              </span>
            </div>
            <div class="volume-fieldset-fields" [ngClass]="{'volume-fieldset-disabled': (cloudName$ | async)!=='AWS'}">
              <rc-form-field
                label="AWS Access Key">
                <input
                  rcInput
                  [disabled]="(cloudName$ | async)!=='AWS' || !volumeDrivers.ebs"
                  name="volume_ebs_aws_access_key"
                  [(ngModel)]="featureConfigs.volume.volume_settings.ebs.aws_access_key"
                  required>
              </rc-form-field>
              <rc-form-field
                label="AWS Secret Key">
                <input
                  rcInput
                  [disabled]="(cloudName$ | async)!=='AWS' || !volumeDrivers.ebs"
                  name="volume_ebs_aws_secret_key"
                  [(ngModel)]="featureConfigs.volume.volume_settings.ebs.aws_secret_key"
                  required>
              </rc-form-field>
              <rc-form-field
                label="Zone">
                <input
                  rcInput
                  [disabled]="(cloudName$ | async)!=='AWS' || !volumeDrivers.ebs"
                  name="volume_ebs_zone"
                  [(ngModel)]="featureConfigs.volume.volume_settings.ebs.zone"
                  required>
                <span
                  class="fa fa-question-circle description-question-circle"
                  rcFormAddon
                  [rcTooltip]="'region_acmp_ebs_zone_hit' | translate"
                  [rcTooltipInline]="false"
                  rcTooltipMode="info"
                  rcTooltipPosition="top center">
                </span>
              </rc-form-field>
            </div>
          </div>
          <!-- Auto create storageclass -->
          <div class="auto-create-sc" *ngIf="model.platform_version==='v3'">
            <div class="rc-form-field">
              <label class="rc-form-field-label">{{'storageclass' | translate}}</label>
              <div class="rc-form-field-container">
                <div class="sc-choice" *ngFor="let choice of scCreateChoices">
                  <span
                    role="button"
                    (click)="scCreateSelect(choice)"
                    class="sc-create-button"
                    [ngClass]="{'active': choice.active, 'disabled': !choice.enabled}">{{choice.text}}</span>
                  <span
                    *ngIf="choice.active"
                    (click)="scSetDefault(choice)"
                    class="sc-set-default"
                    [ngClass]="{'default': choice.default}"
                    role="button">
                    <span class="sc-set-default-text">{{'set_storageclass_default' | translate}}</span>
                    <i *ngIf="choice.default" class="fa fa-close"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="rc-deploy-form__label">CNI</div>
      <div class="rc-deploy-form__content">
        <rc-form-field
          [label]="'network_mode' | translate">
          <rc-radio-group
            name="cni_type"
            [(ngModel)]="model.cni.type"
            [options]="networkTypeOptions$ | async"
            (change)="onNetworkModeChanged($event.value)"
            displayField="name"
            valueField="value">
          </rc-radio-group>
        </rc-form-field>
        <rc-form-field
          *ngIf="model.cni.type==='flannel'"
          [label]="'type' | translate">
          <rc-radio-group
            name="cni_flannel_type"
            [(ngModel)]="model.cni.flannel.type"
            [options]="hostGwTypeOptions$ | async"
            displayField="name"
            valueField="value">
          </rc-radio-group>
          <span class="fa fa-question-circle description-question-circle"
            *ngIf="model.cni.flannel.type==='aws-vpc'"
            rcFormAddon
            [rcTooltip]="'region_aws_vpc_hint' | translate"
            [rcTooltipInline]="false"
            rcTooltipMode="info"
            rcTooltipPosition="top center">
          </span>
        </rc-form-field>
        <rc-form-field
          *ngIf="model.platform_version==='v3' && weblabs.NETWORK_POLICY_ENABLED"
          [label]="'network_policy' | translate">
            <rc-radio-group
              name="cni_network_policy"
              [(ngModel)]="model.cni.network_policy"
              [options]="networkPolicyOptions$ | async"
              displayField="name"
              valueField="value">
            </rc-radio-group>
        </rc-form-field>
        <ng-container *ngIf="model.cni.type==='flannel' && model.cni.flannel.type==='ali-vpc'">
          <rc-form-field
            label="Access Key">
            <input
              rcInput
              name="cni_flannel_access_key"
              [(ngModel)]="model.cni.flannel.access_key"
              required>
          </rc-form-field>
          <rc-form-field
            label="Secret Access Key">
            <input
              rcInput
              name="cni_flannel_secret_access_key"
              [(ngModel)]="model.cni.flannel.secret_access_key"
              required>
          </rc-form-field>
        </ng-container>
      </div>

      <ng-container *ngIf="model.cni.type !== 'macvlan'">
        <div class="rc-deploy-form__label">CIDR</div>
        <div class="rc-deploy-form__content">
          <rc-form-field
            label="CIDR">
            <input
              rcInput
              name="cidr"
              [(ngModel)]="model.cidr"
              [placeholder]="cidrPlaceholder$ | async"
              pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}(\/16)$"
              required>
          </rc-form-field>
        </div>
      </ng-container>

      <div class="rc-deploy-form__label">{{ 'log_source' | translate }}</div>
      <div class="rc-deploy-form__content">
        <rc-log-source-form
          #logSource>
        </rc-log-source-form>
      </div>

      <ng-container *ngIf="model.platform_version !== 'v3'">
        <div class="rc-deploy-form__label">{{ 'region_over_commit' | translate }}</div>
        <div class="rc-deploy-form__content">
          <rc-form-field
            [label]="'cpu_num' | translate">
            <input
              rcInput
              name="over_commit_cpu"
              [(ngModel)]="model.over_commit.cpu"
              type="number"
              required>
          </rc-form-field>
          <rc-form-field
            [label]="'memory' | translate">
            <input
              rcInput
              name="over_commit_mem"
              [(ngModel)]="model.over_commit.memory"
              type="number"
              required>
          </rc-form-field>
        </div>
      </ng-container>
    </form>
  </div>

  <div class="rc-cluster-deploy__footer">
    <button
      rcButton="primary"
      [loading]="submitting"
      [disabled]="submitting"
      (click)="deploy()">
      {{ 'save' | translate }}
    </button>
    <button
      rcButton
      [disabled]="submitting"
      [routerLink]="['/cluster/detail',(clusterName$ | async)]">
      {{ 'cancel' | translate }}
    </button>
  </div>
</div>
