$tab-active-color: #24a7e3;
:host {
  display: block;
  .mat-tab-group {
    background-color: #fff;
  }
  ::ng-deep {
    .mat-ink-bar {
      background-color: $tab-active-color !important;
    }
    .mat-tab-label {
      height: 54px;
      color: #888;
      min-width: auto;
      padding: 0 20px;
    }
    .mat-tab-label-active {
      color: $tab-active-color;
    }
    .mat-tab-header {
      margin: 0 20px;
      border-bottom: 1px solid #e5e5e5;
    }
  }
  .rc-tab-container {
    padding: 20px;
    background-color: #fff;
    min-height: 100px;
  }
}
