<mat-tab-group [selectedIndex]="selectedIndex"
               (selectedIndexChange)="onSelectedIndexChange($event)">
  <ng-container *ngFor="let tab of tabs">
    <!-- We just want to use the angular material tab header component -->
    <mat-tab *ngIf="isString(tab.label)"
             [label]="tab.label"
             [disabled]="tab.disabled"></mat-tab>
    <mat-tab *ngIf="!isString(tab.label)"
             [disabled]="tab.disabled">
      <ng-template mat-tab-label>
        <ng-container *ngTemplateOutlet="tab.label">
        </ng-container>
      </ng-template>
    </mat-tab>
  </ng-container>
</mat-tab-group>

<div class="rc-tab-container">
  <ng-template [cdkPortalOutlet]="portalInstance"></ng-template>
</div>
