<div class="vertical-tabs">
  <ul class="vertical-nav-tabs">
    <li *ngFor="let tab of tabs; index as i"
        (click)="selectTab(tab, i)"
        [class.active]="tab.active">
      <ng-container *ngTemplateOutlet="tab.tabNavRef"></ng-container>
    </li>
  </ul>
  <div class="vertical-tabs-content">
    <ng-content></ng-content>
  </div>
</div>
