<div fxLayout="row" class="rc-list-header">
  <span fxFlex></span>
  <!--<rc-search-input [loading]="searching" (onSearch)="searchChanged($event)" [searchOnChange]="true"></rc-search-input>-->
  <button rcIconButton [disabled]="loading" (click)="refetch()">
    <i class="fa fa-refresh"></i>
  </button>
</div>

<!--Explain why there is no data-->
<div *ngIf="empty && !loading" class="rb-loading-mask-placeholder">
  <div *ngIf="!(loadError | async)">
    {{ "pod_list_empty" | translate }}
  </div>
  <div *ngIf="loadError | async">
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError | async"
          rcButton="primary"
          style="margin-top: 12px;"
          (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>

<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>

<!--Pod list-->
<div *ngIf="!empty" class="rc-list-container">
  <rc-table #podTable
            class="rc-primary-table"
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowHeight]="82"
            [rows]="podItems">

    <rc-table-col [width]="240" name="{{'pod_name' | translate}}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/pod.svg">
          <div class="rc-lines">
            <!--容器名称-->
            <div class="rc-line">
              <span>{{rowData.metadata.name }}</span>
            </div>
            <!-- 所属服务 -->
            <div class="rc-line" *ngIf="getBelongingService(rowData)">
              <span>{{'belonging_component' | translate}}：</span>
              <a href="javascript:void(0)" [routerLink]="['/k8s_app/detail/component', getBelongingService(rowData)['uuid']]">{{ getBelongingService(rowData)['name'] }}</a>
            </div>
            <!-- 所属应用 -->
            <div class="rc-line" *ngIf="getBelongingApp(rowData)">
              <span>{{'belonging_app' | translate}}：</span>
              <a href="javascript:void(0)" [routerLink]="['/k8s_app/detail', getBelongingApp(rowData)['uuid']]">{{ getBelongingApp(rowData)['name'] }}</a>
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>
    <!--状态-->
    <rc-table-col [width]="60" name="{{'status' | translate}}">
      <div *rcTableColCell="let rowData = row">
        <rc-status-badge [status]="rowData.status.phase" [showPrimitiveStatus]="true"></rc-status-badge>
      </div>
    </rc-table-col>
    <!--命名空间-->
    <rc-table-col [width]="120" name="{{'region_namespace' | translate}}">
      <div *rcTableColCell="let rowData = row">
        {{ rowData.metadata.namespace }}
      </div>
    </rc-table-col>
    <!--镜像-->
    <rc-table-col [width]="200" name="{{'image' | translate}}" cellClass="rc-col-cell-truncated">
      <div *rcTableColCell="let rowData = row">
        <rc-service-image-display [imageDisplayParams]="rowData.imageDisplayParam"></rc-service-image-display>
      </div>
    </rc-table-col>
    <!--操作 (暂无)-->
  </rc-table>

  <section class="rc-list-pagination">
    <rc-pagination [count]="count"
                   [pageSize]="pageSize"
                   [currentPage]="currentPage"
                   [disabled]="loading"
                   (pageChanged)="pageChanged($event)">
    </rc-pagination>
  </section>
</div>

