@import 'colors.styles';

.rc-list-header {
  margin: 8px 0 16px;
  .search-input {
    margin-right: 8px;
    input {
      border-radius: 5px 0 0 5px;
      min-width: 24rem;
    }
    button {
      border-radius: 0 5px 5px 0;
      margin-left: -1px;
    }
  }
  rc-search-input {
    margin-right: 8px;
  }
}

.rc-list-container {
  margin-bottom: 16px;
}

.rc-list-pagination {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
