<div>
  <form class="rc-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="content-container">
      <rc-form-field label="{{'name' | translate}}">
        <input
          rcInput
          required
          type="text"
          formControlName="name"
          pattern="^[a-zA-Z0-9_.-]+$"
          maxLength="100"
        />
      </rc-form-field>
      <rc-form-field label="{{'username' | translate}}">
        <input
          rcInput
          type="text"
          required
          formControlName="username"
          maxLength="100"
        />
      </rc-form-field>
      <rc-form-field label="{{'password' | translate}}">
        <input
          rcInput
          type="password"
          required
          formControlName="password"
          maxLength="100"
        />
      </rc-form-field>
    </div>
    <div class="rc-dialog-footer">
      <button
        rcButton
        (click)="closeModal()"
        [disabled]="saving"
      >
        {{ 'cancel' | translate }}
      </button>
      <button
        rcButton="primary"
        type="submit"
        [loading]="saving"
        [disabled]="saving"
      >
        {{ 'create' | translate }}
      </button>
    </div>
  </form>
</div>