<div class="rc-search" [ngClass]="{ 'loading': loading, 'rc-filter': isFilter }">
  <input  #input
          name="keyword"
          type="text"
          rcInput
          (keyup.enter)="search()"
          (ngModelChange)="onChange($event)"
          [placeholder]="placeholder || (isFilter ? 'filter_by_name_placeholder' : 'keyword') | translate"
          [disabled]="disabled"
          [required]="required"
          [(ngModel)]=keyword>
  <i class="icon search" (click)="search()" *ngIf="!loading"></i>
  <i class="icon loader" *ngIf="loading && !isFilter"></i>
</div>