@import 'colors.styles';
@import 'border.styles';
@import 'form.styles';

:host {
  width: 360px;
  display: flex;
  &.rc-search-small {
    width: 320px;
  }
}
.rc-search {
  position: relative;
  flex: 1;
  .icon {
    position: absolute;
    color: #999;
    margin: 0;
  }
  &:not(.rc-filter) {
    .icon {
      margin: 0;
      width: 31px;
      height: 30px;
      right: 1px;
      top: 1px;
      border-left: 1px solid #dededf;
      line-height: 30px;
      transition: border-color 0.3s, background-color 0.3s, color 0.3s;
      &:hover {
        color: $form-input-focus-border-color;
      }
    }
    .loader {
      &:after,
      &:before {
        width: 14px;
        height: 14px;
        border-width: 2px;
        left: 50%;
        top: 50%;
        margin-left: -7px;
        margin-top: -7px;
      }
    }
    input:focus + .icon {
      background-color: $form-input-focus-border-color;
      color: #fff;
      border-color: $form-input-focus-border-color;
    }
  }
  &.rc-filter {
    input {
      padding-left: 25px;
    }
    .icon {
      left: 8px;
      top: 0;
      line-height: 32px;
      height: 32px;
      width: 13px;
      color: #ccc;
    }
  }
}
