<div class="form-container">
  <div class="form-container" [rcLoadingMask]="!initialized || submitting">
    <form auiForm #roleAddForm="ngForm" [name]="form" auiFormLabelWidth="155px">
      <aui-form-item>
        <label auiFormItemLabel>{{'username' | translate}}</label>
        <label>{{username}}</label>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{'role' | translate}}</label>
        <rc-multi-selection-dropdown [options]="filterRoles" [displayField]="'name'" [valueField]="'name'" [placeholder]="'user_add_role_placeholder' | translate"
          (optionAdd)="onRoleAdd($event)" (optionRemove)="onRoleRemove($event)">
        </rc-multi-selection-dropdown>
      </aui-form-item>
      <div class="form-footer">
        <button aui-button (click)="cancel()">{{'cancel' | translate}}</button>
        <button aui-button="primary" (click)="confirm()" [disabled]="!initialized || !selectedRoles.length">{{'confirm' | translate}}</button>
      </div>
    </form>
  </div>
</div>
