:host {
  .form-container {
    padding: 16px;
  }
  ::ng-deep {
    .aui-form-item__container {
      margin-right: 48px;
    }
    rc-multi-selection-dropdown {
      .search.icon {
        position: absolute;
        line-height: 1;
        text-align: center;
        top: 0;
        right: 0;
        font-size: 1em;
        margin: 0;
        width: 2.67142857em;
        opacity: 0.5;
      }
      .search.input {
        position: relative;
        input {
          flex: 1 0 auto;
        }
      }
    }
  }
  .form-footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 48px;
  }
  rc-multi-selection-dropdown {
    width: 100%;
  }
}
