<ng-container *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>{{ 'image'| translate }}</ng-container>
    <ng-container *rcBreadcrumbItem>
      <a [routerLink]="['/image/repository']">{{ 'image_repository'| translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>{{ 'help'| translate }}</ng-container>
  </rc-breadcrumb>
</ng-container>

<div class="rb-page-heading">
  <h1>
    <i class="fa fa-fw fa-file-o"></i>
    <a [title]="repositoryName"
       [routerLink]="['/image/repository/detail']"
       [queryParams]="{ registryName: registryName, repositoryName: repositoryName, projectName: projectName }">{{ repositoryName }}</a>
  </h1>
</div>
<div class="rb-detail-container">
  <div class="rb-detail-content"
       [rcLoadingMask]="!initialized">
    <h2>{{ 'repo_guideline' | translate }}</h2>
    <h3>{{ 'image_registry' | translate }}</h3>
    <pre><code>{{ repositoryIndex }}</code></pre>
    <h3>
      {{ 'pull_image' | translate | rcCapitalizeAll }}
    </h3>
    <pre><code>{{ textPull }}</code></pre>
    <h3>
      {{ 'push_image' | translate | rcCapitalizeAll }}
    </h3>
    <pre><code [innerHTML]="textPush | rcTrustHtml"></code></pre>
    <p [innerHTML]="'repo_help_other_link' | translate | rcTrustHtml"></p>
  </div>
</div>
