<div class="modal-body">
  <div class="clean-users-tip">
    <div>
      <div>{{ 'clean_invalid_ldap_users_tip1' | translate : { invalid_accounts: vm.count == null ? vm.invalidAccounts : vm.count } }}</div>
      <div>{{ 'clean_invalid_ldap_users_tip2' | translate }}</div>
    </div>
  </div>
  <div class="search-wrapper">
    <i class="fa fa-search"></i>
    <input ng-model="vm.search"
           ng-change="vm.searchAccounts()"
           type="search"
           placeholder="{{ 'support_search_by_name' | translate }}">
  </div>
  <div rb-loading-mask="vm.accountsLoading"
       ng-if="vm.accountsLoading || vm.accounts.length"
       class="accounts-wrapper">
    <ul class="list-unstyled accounts">
      <li ng-repeat="account in vm.accounts">
        <div>
          {{ account.username }}
          <i ng-click="vm.deleteUsers(account.username)"
             class="fa fa-trash"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="vm.rbModal.cancel()"
          class="ui button rb-btn-default">{{ 'close' | translate }}</button>
  <button ng-click="vm.deleteUsers()"
          class="ui button rb-btn-primary">{{ 'clean_all' | translate }}</button>
</div>
