rb-account-clean-ldap {
  .modal-body {
    padding: 40px;
  }

  .modal-footer {
    .button {
      border-radius: 3px !important;
    }

    .rb-btn-primary {
      margin-left: 5px;
    }
  }

  .clean-users-tip {
    display: flex;

    > div {
      margin-left: auto;
      margin-right: auto;

      > :first-child {
        font-size: 16px;
        color: #666;
      }

      > :last-child {
        margin-top: 8px;
        font-size: 12px;
        color: #999;
      }
    }
  }

  .search-wrapper {
    position: relative;
    display: flex;
    margin-top: 20px;

    i {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translate3d(0, -50%, 0);
      color: #b8b8b8;
      margin-top: -1px;
    }

    input {
      flex: 1;
      padding: 6px 10px 6px 30px;
      border: solid 1px #dedede;
      border-radius: 3px;
    }
  }

  .accounts-wrapper {
    margin-top: 12px;
    max-height: 267px;
    padding: 10px 0;
    overflow-y: auto;
    border-radius: 3px;
    border: solid 1px #e3f3fa;
    background-image: linear-gradient(to bottom, #fcfeff, #f8fdff);
  }

  .accounts {
    margin-bottom: 0;

    > li {
      display: inline-flex;
      width: (100% / 3);
      padding: 0 8px;
      color: #696969;

      &:hover > div {
        border-radius: 3px;
        background-color: #ecf6fb;

        .fa {
          display: inline-block;
        }
      }

      > div {
        position: relative;
        display: inline-block;
        padding: 8px 22px 8px 12px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        max-width: 100%;

        .fa {
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translate3d(0, -50%, 0);
          display: none;
          color: #24a7e3;
          cursor: pointer;
        }
      }
    }
  }
}
