<div fxLayout="row" class="rc-page-header" style="margin-bottom: 8px;">
  <div *ngIf="initialized" flex="25">
      <rc-search-input [loading]="searching"
                       placeholder="{{'search_by_display_name_placeholder' | translate}}"
                       (onSearch)="search($event)"></rc-search-input>
    </div>
    <span fxFlex></span>
</div>

<div class="no-data" *ngIf="initialized && !loading && !conditions.length === 0">
  <div *ngIf="conditions.length === 0">
    {{ 'log_query_condition_empty_note' | translate }}
  </div>
</div>

<div class="rc-list-container" *ngIf="initialized">
  <rc-table
    class="rc-primary-table"
    columnMode="force"
    headerHeight="40"
    [rowHeight]="'auto'"
    [rows]="conditions"
  >
    <rc-table-col name="{{ 'name' | translate }}">
      <div *rcTableColCell="let item = row">
        <a style="cursor: pointer;" (click)="redirectToLogDashboard(item)">
          {{item.name}}
        </a>
      </div>
    </rc-table-col>
    <rc-table-col name="{{ 'display_name' | translate }}">
      <div *rcTableColCell="let item = row">
          {{item.display_name}}
      </div>
    </rc-table-col>
    <rc-table-col name="{{ 'log_time_range' | translate | rcTitleCase }}">
      <div *rcTableColCell="let item = row">
        <span [innerHtml]="item.timeRangeDisplay"></span>
      </div>
    </rc-table-col>
    <rc-table-col name="{{ 'logs_query_condition' | translate }}">
      <div *rcTableColCell="let item = row">
        <span [innerHtml]="item.conditionsDisplay"></span>
      </div>
    </rc-table-col>
    <rc-table-col name="{{ 'created_by' | translate | rcTitleCase }}">
      <div *rcTableColCell="let item = row">
          {{item.created_by}}
      </div>
    </rc-table-col>
    <rc-table-col name="{{ 'log_query_last_used_time' | translate | rcTitleCase }}">
      <div *rcTableColCell="let item = row">
          {{item.used_at | rcFormatUtcStr}}
      </div>
    </rc-table-col>
    <rc-table-col name="{{ 'action' | translate | rcTitleCase }}">
      <div *rcTableColCell="let item = row">
        <rc-button-menu>
          <button rcButton
                  rcButtonSize="small"
                  rcButtonMenuDefault
                  (click)="redirectToLogDashboard(item)">
            {{ 'view' | translate }}
          </button>
          <button rcMenuButton
                  *ngIf="hasCreateLogAlarmPermission"
                  [disabled]="shouldDisableAlarmCreateButton(item)"
                  (click)="actionAlarmCreate(item)">
            {{ 'alarm_create' | translate }}
          </button>
          <button rcMenuButton
                  [disabled]="shouldDisableDeleteButton(item.uuid)"
                  *ngIf="item.canDelete"
                  (click)="actionDelete(item)">{{ 'delete' | translate }}</button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>

  <div class="rc-list-pagination" *ngIf="pagination.count > pagination.page_size">
    <rc-pagination [count]="pagination.count"
                   [pageSize]="pagination.page_size"
                   (pageChanged)="pageNoChange($event)"
    ></rc-pagination>
  </div>
</div>
