rb-pipeline-config-container-info {
  [uib-tooltip] {
    cursor: pointer;
  }

  .container-item {
    padding: 10px 0;
    border: 1px solid rgba(34, 36, 38, 0.15);
    background-color: #fff;

    + .container-item {
      margin-top: 15px;
    }

    &.readonly {
      background-color: #f0f0f0;
      opacity: 0.45;
    }
  }

  .container-table {
    width: 100%;

    > thead {
      font-weight: bold;

      > tr > td {
        padding: 5px;
      }
    }

    > tbody > tr > td {
      white-space: nowrap;

      &:first-child,
      &:last-child {
        padding: 10px 5px;
      }

      &:nth-child(2) {
        padding: 5px 0;
      }
    }

    > thead,
    > tbody {
      > tr > td {
        vertical-align: top;

        &.use-image {
          vertical-align: middle;

          > div {
            display: flex;
            align-items: center;
          }
        }

        &:nth-child(2) {
          width: 100%;
        }

        &:first-child,
        &:nth-child(3) {
          text-align: center;
        }
      }
    }
  }
}
