<ul class="list-unstyled">
  <li class="container-item rb-pipeline-config-form-container"
      ng-class="{readonly: vm.workflow.readonly}"
      ng-repeat="container in vm.containers">
    <table class="container-table">
      <thead>
        <tr>
          <td>{{ 'pipeline_task_container_name' | translate }}</td>
          <td colspan="2">{{ container.name }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ 'pipeline_config_update_image' | translate }}</td>
          <td colspan="2"
              class="use-image">
            <div>
              <div class="ui toggle checkbox">
                <input ng-model="container.use_image_in_trigger"
                       ng-disabled="vm.workflow.readonly"
                       type="checkbox">
                <label></label>
              </div>
              <i class="fa fa-question-circle"
                 uib-tooltip="{{ 'pipeline_config_trigger_image_tip' | translate }}"></i>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            {{ 'environment_variable' | translate }}
          </td>
          <td>
            <table class="env-table">
              <thead>
                <tr>
                  <td>{{ 'key' | translate }}</td>
                  <td>{{ 'value' | translate }}</td>
                  <td>{{ 'reference' | translate }}</td>
                </tr>
              </thead>
              <tbody ng-if="container.env">
                <tr ng-repeat="envItem in container.env">
                  <td>
                    <input type="text"
                           ng-model="envItem.name"
                           ng-disabled="vm.workflow.readonly"
                           pattern="[A-Za-z_][A-Za-z0-9_]*"
                           required
                           rbInput>
                  </td>
                  <td>
                    <div ng-if="envItem.valueFrom"
                         class="env-config-map">
                      <rb-dropdown on-change="vm.configMapChange(option, envItem.valueFrom.configMapKeyRef)"

                                   key="name"
                                   value="uuid"
                                   is-disabled="vm.workflow.readonly"
                                   init="envItem.valueFrom.configMapKeyRef.uuid"
                                   placeholder="{{ 'pipeline_config_select_config_map' | translate }}"

                                   options="vm.configMaps">
                      </rb-dropdown>
                      <rb-dropdown on-change="vm.configMapKeyChange(option.value, envItem.valueFrom.configMapKeyRef)"

                                   is-disabled="vm.workflow.readonly"
                                   init="envItem.valueFrom.configMapKeyRef.key"
                                   placeholder="Key"
                                   options="vm.configMapsCache[envItem.valueFrom.configMapKeyRef.uuid].keys">
                      </rb-dropdown>
                      <i class="fa fa-eye"
                         ng-disabled="!envItem.valueFrom.configMapKeyRef.key"
                         ng-click="vm.previewConfigMapValue(envItem.valueFrom.configMapKeyRef)"></i>
                    </div>
                    <input ng-if="!envItem.valueFrom"
                           type="text"
                           ng-model="envItem.value"
                           ng-disabled="vm.workflow.readonly"
                           required
                           rbInput>
                  </td>
                  <td>
                    <div class="env-actions">
                      <div class="ui toggle checkbox">
                        <input ng-init="refEnabled = !!envItem.valueFrom"
                               ng-model="refEnabled"
                               ng-disabled="vm.workflow.readonly"
                               type="checkbox"
                               ng-change="vm.onRefChange(envItem, refEnabled)">
                        <label></label>
                      </div>
                      <i class="fa fa-minus-circle"
                         ng-click="vm.removeEnv(container,$index)"
                         ng-disabled="vm.workflow.readonly"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">
                    <div class="add-env"
                         ng-click="vm.addEnv(container)"
                         ng-disabled="vm.workflow.readonly">
                      <i class="fa fa-plus-circle"></i>
                      {{ 'add' | translate }}
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </td>
          <td>
            <i class="fa fa-question-circle"
               uib-tooltip="{{ 'pipeline_config_env_variables_tip' | translate }}"></i>
          </td>
        </tr>
        <tr>
          <td style="vertical-align:middle">ConfigMap</td>
          <td>
            <rb-dropdown key="name"
                         value="uuid"
                         multiple="true"
                         is-disabled="vm.workflow.readonly"
                         init="vm.initConfigMaps[$index]"
                         options="vm.configMaps"
                         on-add="vm.configMapAdded(container, option)"
                         on-remove="vm.configMapRemoved(container, option)"></rb-dropdown>
            </rb-dropdown>
          </td>
          <td>
            <i class="fa fa-question-circle"
               uib-tooltip="{{ 'pipeline_config_config_maps_tip' | translate }}"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </li>
</ul>
