<!-- Service selection -->
<!-- Hidden field to make sure the form is in invalid state if service is null -->
<input type="text"
       class="hidden"
       name="service_name"
       ng-model="vm.item.model.data.service.uuid"
       required>
<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'pipeline_task_select_service' | translate }}
    <span class="rb-required-mark">*</span>
  </div>
  <rb-dropdown rb-loading-mask="!(vm.availableServices$ | rbAsync:this)"
               rb-errors-tooltip="vm.form['service_name']"
               rb-errors-tooltip-mapper="{ required: ('pipeline_config_task_select_service_hint' | translate) }"

               on-change="vm.serviceChanged(option.value)"
               ng-click="vm.servicesDropdownClicked()"
               key="displayName"
               value="uuid"
               is-disabled="vm.workflow.readonly"
               init="vm.item.model.data.service.uuid"
               placeholder="{{ 'pipeline_config_task_no_available_service_hint' | translate }}"

               options="vm.availableServices$ | rbAsync:this">
  </rb-dropdown>
  <div class="input-hint">
    <i ng-if="(vm.availableServices$ | rbAsync:this).length === 0"
       class="fa fa-question-circle rb-label-hint"
       style="cursor: pointer; margin-left: 0.5em;line-height:32px;"
       uib-popover="{{ 'pipeline_config_task_no_available_service_long_hint' | translate }}"

       popover-placement="left"
       popover-append-to-body="true"
       popover-trigger="'mouseenter'">
    </i>
  </div>
</div>

<ng-container ng-if="vm.isNewKxsRegion">
  <!-- Container -->
  <div class="rb-form-row input"
       ng-if="vm.item.model.data.service">
    <div class="rb-label">
      {{ 'pipeline_task_select_container' | translate }}
      <span class="rb-required-mark">*</span>
    </div>
    <rb-dropdown rb-loading-mask="!(vm.containers$ | rbAsync:this)"
                 on-add="vm.containerAdded(option)"
                 on-remove="vm.containerRemoved(option)"
                 key="name"
                 value="name"
                 multiple="true"
                 is-disabled="vm.workflow.readonly"
                 init="vm.initContainers"
                 required
                 options="vm.containers$ | rbAsync:this">
    </rb-dropdown>
  </div>

  <!-- Container Info-->
  <div class="rb-form-row input"
       ng-if="vm.item.model.data.service">
    <div class="rb-label">
      {{ 'pipeline_task_container_info' | translate }}
    </div>
    <rb-pipeline-config-container-info region-id="vm.item.model.region_uuid"
                                       containers="vm.item.model.data.service.containers"
                                       config-maps="vm.configMaps$ | rbAsync:this"
                                       workflow="vm.workflow"></rb-pipeline-config-container-info>
  </div>
</ng-container>
<ng-container ng-if="!vm.isNewKxsRegion">
  <!-- Env file -->
  <div class="rb-form-row input">
    <div class="rb-label">
      {{ 'envfile' | translate }}
    </div>
    <rb-dropdown rb-loading-mask="!(vm.envfiles$ | rbAsync:this)"
                 on-add="vm.envfileAdded(option)"
                 on-remove="vm.envfileRemoved(option)"
                 key="display_name"
                 value="uuid"
                 multiple="true"
                 is-disabled="vm.workflow.readonly"
                 init="vm.initEnvfiles"
                 options="vm.envfiles$ | rbAsync:this">
    </rb-dropdown>
  </div>

  <!-- Env variables -->
  <div class="rb-form-row input">
    <div class="rb-label">
      {{ 'environment_variable' | translate }}
    </div>
    <rb-service-fieldset-env-vars is-disabled="vm.workflow.readonly"
                                  env-vars="vm.item.model.data.env_vars">
    </rb-service-fieldset-env-vars>
  </div>

  <!-- Config Files -->
  <div ng-if="vm.configFileEnabled$ | rbAsync:this">
    <div class="rb-form-fieldset-interval"></div>
    <div class="rb-form-row input">
      <div class="rb-label">
        {{ 'config_files' | translate }}
      </div>
      <rb-service-fieldset-config-files is-disabled="vm.workflow.readonly"
                                        config-files="vm.item.model.data.mount_points">
      </rb-service-fieldset-config-files>
    </div>
  </div>
</ng-container>

<!-- Rollback toggle -->
<div class="rb-form-row input">
  <div class="rb-label">
    {{ 'pipeline_update_service_automatic_rollback' | translate }}
  </div>
  <div class="checkbox-group">
    <div class="ui toggle checkbox">
      <input type="checkbox"
             ng-disabled="vm.workflow.readonly"
             ng-model="vm.item.model.data.automatic_rollback">
      <label></label>
    </div>
  </div>
</div>
