:host ::ng-deep {
  .dropdown,
  rc-multi-selection-dropdown,
  rc-single-selection-dropdown {
    width: 100%;
  }

  rc-form-field label.form-field-label {
    width: 160px;
    white-space: nowrap;
  }
}
