<form #form="ngForm">
  <rc-form-field
    [label]="'region_log_source_output' | translate"
    [shouldFlexRow]="true">
    <rc-multi-selection-dropdown
      name="write_log_source"
      [(ngModel)]="writeLogSource"
      [options]="outputLogSources"
      (valueChange)="updateQueryLogOptions($event)"
      displayField="name"
      valueField="id"
      [placeholder]="'pipeline_select_none' | translate">
    </rc-multi-selection-dropdown>
  </rc-form-field>
  <rc-form-field
    [label]="'region_log_source_query' | translate"
    [shouldFlexRow]="true">
    <rc-single-selection-dropdown
      name="read_log_source"
      [(ngModel)]="readLogSource"
      [options]="queryLogSources"
      displayField="name"
      valueField="id"
      [allowFilter]="false">
    </rc-single-selection-dropdown>
  </rc-form-field>
</form>
