<div class="rb-popover-label-list-wrap">
  <div class="rb-popover-label-list">
    <div ng-repeat="service in app.services track by $index"
         title="{{ service.service_name }}"
         class="rb-popover-label-item">
      <a ng-if="service.current_status !== 'UnCreated'" href="{{vm.getServiceUrl(app, service)}}">{{ service.service_name }}</a>
      <span ng-if="service.current_status === 'UnCreated'">{{ service.service_name }}</span>
    </div>
  </div>
</div>