<rb-region-badge-option on-change-state="'app_service.app.list'">
</rb-region-badge-option>

<div class="rb-page-heading"
     flex>

  <rb-app-service-labels-search flex="75"
                                search-subject="vm.paramsSubject$"
                                filter-fn-subject="vm.labelsFilterFnSubject$"
                                resources="vm.resources$ | rbAsync:this"></rb-app-service-labels-search>

  <div flex></div>
  <div>
    <button class="ui button rb-btn-primary"
            ng-if="vm.appCreateEnabled"
            ui-sref="app_service.app.create_app({region_name: vm.currentRegion.name})">
      {{ "create_app" | translate }}
    </button>
  </div>
</div>

<!-- Explains why there is no data -->
<div ng-show="(vm.initialized$ | rbAsync:this) && (vm.empty$ | rbAsync:this) && !(vm.loading$ | rbAsync:this)"
     class="rb-loading-mask-placeholder">

  <div ng-show="!(vm.error$ | rbAsync:this)">
    {{ "have_no_app" | translate }}
  </div>

  <div ng-show="(vm.error$ | rbAsync:this)">
    {{ 'data_load_error' | translate }}
  </div>

  <button ng-show="(vm.error$ | rbAsync:this)"
          class="ui button rb-btn-primary margin-top-2"
          ng-click="vm.refresh()">
    {{ 'refresh' | translate }}
  </button>
</div>

<!-- Loading indicator -->
<rb-loading-mask-placeholder ng-if="!(vm.initialized$ | rbAsync:this) || (vm.empty$ | rbAsync:this) && (vm.loading$ | rbAsync:this)"></rb-loading-mask-placeholder>

<!-- App list table -->
<table ng-show="(vm.initialized$ | rbAsync:this) && !(vm.empty$ | rbAsync:this)"
       class="table app-table table-bordered table-hover"
       rb-loading-mask="(vm.loading$ | rbAsync:this)">
  <thead>
    <tr>
      <td ng-click="vm.sort('name')"
          style="width: 25%;">
        <span>{{ "name" | translate }}</span>
      </td>
      <td style="width:135px;">
        {{ "status" | translate }}
      </td>
      <td style="width:15%;">
        {{ "type" | translate }}
      </td>
      <td style="width:75px;">
        <span>{{ "labels" | translate }}</span>
      </td>
      <td ng-if="vm.quotaEnabled"
          ng-click="vm.sort('space_name')"
          style="width: 20%;">
        <span>{{ "quota_space" | translate }}</span>
      </td>
      <td style="width:90px;">{{ "action" | translate }}</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="app in (vm.resources$ | rbAsync:this) track by $index">
      <!--name-->
      <td class="app-name-cell">
        <div>
          <a href="javascript:void(0)"
             ng-href="{{vm.getAppUrl(app)}}"
             title="{{app.app_name}}">
            {{app.app_name}}
          </a>
          <a ng-show="app.services.length"
             href="javascript:void(0)"
             class="fa fa-cube"
             uib-popover-template="vm.appServicesTemplate"
             popover-placement="top-left"
             popover-class="rb-labels-popover"
             popover-append-to-body="true"
             popover-trigger="'outsideClick'"></a>
        </div>
      </td>
      <!--status-->
      <td>
        <span rubick-status-icon
              status="app.current_status"
              mode="list"
              class="app-status"></span>
      </td>
      <!--type-->
      <td class="rb-truncate-cell">
        <span title="{{vm.getAppTypeDisplay(app.type, app.source)}}">{{vm.getAppTypeDisplay(app.type,
          app.source) | rbFieldNotAvailable}}</span>
      </td>
      <!--resource labels-->
      <td>
        <div class="rb-labels-popover-container">
          <a ng-if="app.labels.length"
             href="javascript:void(0)"
             uib-popover-template="vm.resourceLabelsPopoverTemplate"
             popover-class="rb-labels-popover"
             popover-append-to-body="true"
             popover-trigger="'outsideClick'">{{ app.labels.length }}{{ 'ge'
            | translate }}</a>
          <span ng-if="!app.labels.length">N/A</span>
        </div>
      </td>
      <!--quota space-->
      <td class="rb-truncate-cell"
          ng-if="vm.quotaEnabled">
        <a ng-if="app.space_name"
           router-link="'/quota/detail/' + app.space_name"
           title="{{ app.space_name }}">{{ app.space_name }}</a>
        <span ng-if="!app.space_name">N/A</span>
      </td>
      <!--actions-->
      <td>
        <rb-dropdown-menu class="list"
                          rb-title="{{'action' | translate}}">
          <rb-dropdown-menu-item ng-click="vm.startApp(app);"
                                 ng-show="vm.buttonIfExpr(app, 'start')"
                                 rb-disabled="vm.buttonDisabledExpr(app, 'start')">
            <i class="fa fa-play"></i>
            {{ (app.current_status === 'PartialRunning' ? "start_all" : "start") | translate
            }}
          </rb-dropdown-menu-item>
          <rb-dropdown-menu-item ng-click="vm.stopApp(app);"
                                 ng-show="vm.buttonIfExpr(app, 'stop')"
                                 rb-disabled="vm.buttonDisabledExpr(app, 'stop')">
            <i class="fa fa-stop"></i>
            {{ (app.current_status === 'PartialRunning' ? "stop_all" : "stop") | translate }}
          </rb-dropdown-menu-item>
          <rb-dropdown-menu-item ng-if="vm.buttonIfExpr(app, 'update')"
                                 rb-disabled="vm.buttonDisabledExpr(app, 'updatelabel')"
                                 ng-click="vm.updateAppLabels(app);">
            <i class="fa fa-tags"></i>
            {{ "labels_update" | translate }}
          </rb-dropdown-menu-item>
          <rb-dropdown-menu-item ng-click="vm.updateApp(app)"
                                 ng-if="!app.type && vm.buttonIfExpr(app, 'update')"
                                 rb-disabled="vm.buttonDisabledExpr(app, 'update')">
            <i class="fa fa-pencil"></i>
            {{ "update" | translate }}
          </rb-dropdown-menu-item>
          <rb-dropdown-menu-item ng-click="vm.deleteApp(app);"
                                 ng-if="vm.buttonIfExpr(app, 'delete')"
                                 rb-disabled="vm.buttonDisabledExpr(app, 'delete')">
            <i class="fa fa-trash-o"></i>
            {{ "delete" | translate }}
          </rb-dropdown-menu-item>

        </rb-dropdown-menu>
      </td>
    </tr>
  </tbody>
</table>

<!-- Pagination -->
<rb-pagination ng-show="(vm.initialized$ | rbAsync:this) && vm.pagination.count > vm.pagination.pageSize"
               class="pull-right"
               size="vm.pagination.pageSize"
               total-items="vm.pagination.count"
               on-change="vm.onPageChanged(page)">
</rb-pagination>
