rb-app-list {
  margin-bottom: 16px;
  .app-table {
    table-layout: fixed;
    .app-name-cell {
      div {
        width: 100%;
        display: flex;
        overflow: hidden;
        align-items: center;
        a:first-child {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        a:last-child {
          width: 20px;
          margin-left: 8px;
        }
      }
      a:focus {
        text-decoration: none;
      }
    }
    .app-status > .badge {
      font-weight: 600;
      width: 80px;
      text-align: center;
    }
  }
}
