<!--Explain why there is no data-->
<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<div *ngIf="empty && !initialized" class="rb-loading-mask-placeholder">
  <div *ngIf="!loadError">
    {{ "have_no_app" | translate }}
  </div>
  <div *ngIf="loadError">
    {{ 'data_load_error' | translate }}
  </div>
  <button *ngIf="loadError"
          rcButton="primary"
          style="margin-top: 12px;"
          (click)="refetch()">
    {{ 'refresh' | translate }}
  </button>
</div>
<rc-application-create *ngIf="type === 'yaml'" [appData]="appData" [appYaml]="appYaml"></rc-application-create>
<rc-application-create-ui *ngIf="type === 'repo'" [appData]="appData"></rc-application-create-ui>