<aui-card>
  <!-- header -->
  <div auiCardHeader fxLayout>
    <button aui-button="primary"
      *ngIf="appCreateEnabled"
      (click)="createApp()">
      {{ 'create_app' | translate}}
    </button>
    <div fxFlex></div>
    <aui-search [searchButton]="true"
      [searching]="searching"
      [debounce]="200"
      [(keyword)]="keyword"
      placeholder="{{'search_by_name_placeholder' | translate}}"
      (search)="searchChanged($event)"
    >
    </aui-search>
  </div>
  <!-- app list -->
  <rc-application-list [searchQuery]="searchQuery" [regionName]="regionName | async"></rc-application-list>
</aui-card>
