<rc-card
  [title]="title"
  [fitParent]="true"
  [footnote]="data?.time | rcFormatUtcStr">
  <rc-chart-container
    [loading]="!initialized"
    [noData]="initialized && (!data || data.value===undefined)"
    [noRegion]="!(regionService.region$ | async)">
    <div
      [style.color]="color"
      class="rc-region-info-chart">
      <div class="rc-region-info-chart__container">
        <div class="rc-region-info-chart__value">{{ data?.value }}</div>
        <div class="rc-region-info-chart__unit">{{ data?.unit }}</div>
      </div>
    </div>
  </rc-chart-container>
</rc-card>
