@import '../_colors.scss';

$fontSizeS: 48px;
$fontSizeM: 72px;
$fontSizeL: 98px;
$fontSizeXL: 138px;

.rc-region-info-chart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__unit {
    font-size: 24px;
  }

  &__value {
    font-size: $fontSizeXL;
  }

  @media (max-width: 2560px) {
    &__value {
      font-size: $fontSizeL;
    }
  }

  @media (max-width: 1920px) {
    &__value {
      font-size: $fontSizeM;
    }
  }

  @media (max-width: 1440px) {
    &__value {
      font-size: $fontSizeS;
    }
  }

  &--color-ok {
    color: $color-ok;
  }

  &--color-error {
    color: $color-error;
  }
}
