<div
  [formGroup]="form"
  class="trigger"
>
  <div class="rc-static-form-field">
    <label class="form-field-label">
      {{ 'jenkins_pipeline_trigger' | translate }}
    </label>
    <div class="form-main-container">
      <ng-container [ngSwitch]="form.value.type">
        <ng-container *ngSwitchCase="'cron'">
          <div class="content">
            <span>
              {{ 'jenkins_trigger_cron' | translate }}
            </span>
          </div>
          <div class="hint-label-wrapper">
            <span></span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'image_change'">
          <div class="content">
            <span>
              {{ 'jenkins_trigger_image_change' | translate }}
            </span>
          </div>
          <div class="hint-label-wrapper">
            <span></span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'code_change_hook'">
          <div class="content">
            <span>
              {{ 'jenkins_trigger_code_change_hook' | translate }}
            </span>
            <span
              *ngIf="notUseCodeRepo"
              class="error-hint"
            >
              <i class="fa fa-exclamation-triangle"></i>
              {{ 'jenkins_trigger_code_change_hook_invalid' | translate }}
            </span>
          </div>
          <div class="hint-label-wrapper">
            <span>
              {{ 'jenkins_trigger_code_change_hook_hint' | translate }}
            </span>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <rc-form-field
    label="{{'jenkins_trigger_time_rule' | translate}}"
    hintLabel="{{'jenkins_time_rule_tips' | translate}}"
    [hidden]="form.value.type !== 'cron'"
  >
    <input
      type="text"
      rcInput
      rcTrim
      formControlName="cron"
      maxLength="30"
      [required]="form.value.type === 'cron'"
    >
  </rc-form-field>
  <rc-form-field
    label="{{'image_registry_name' | translate}}"
    [shouldFlexRow]="true"
    [hidden]="form.value.type !== 'image_change'"
    [hideErrors]="true"
  >
    <rc-single-selection-dropdown
      formControlName="registry"
      displayField="display_name"
      valueField="name"
      [options]="imageRegistries"
      [placeholder]="'image_registry_name' | translate"
      [allowFilter]="true"
      [rcLoadingMask]="!imageRegistries"
      [required]="form.value.type === 'image_change'"
      (ngModelChange)="onImageRegistryChange$.next($event)"
      style="width:100%"
    ></rc-single-selection-dropdown>
  </rc-form-field>
  <rc-form-field
    label="{{'project' | translate}}"
    [shouldFlexRow]="true"
    [hidden]="form.value.type !== 'image_change' || isPublic"
    [hideErrors]="true"
  >
    <rc-single-selection-dropdown
      formControlName="project"
      displayField="display_name"
      valueField="project_name"
      [options]="imageProjects"
      [placeholder]="'project' | translate"
      [allowFilter]="true"
      [rcLoadingMask]="!imageProjects"
      [required]="form.value.type === 'image_change'"
      (ngModelChange)="onImageProjectChange$.next($event)"
      style="width:100%"
    ></rc-single-selection-dropdown>
  </rc-form-field>
  <rc-form-field
    label="{{'image_repository' | translate}}"
    [shouldFlexRow]="true"
    [hidden]="form.value.type !== 'image_change'"
    [hideErrors]="true"
  >
    <rc-single-selection-dropdown
      formControlName="repository"
      displayField="name"
      valueField="name"
      [options]="imageRepositories"
      [placeholder]="'image_repository' | translate"
      [allowFilter]="true"
      [rcLoadingMask]="!imageRepositories"
      [required]="form.value.type === 'image_change'"
      style="width:100%"
    ></rc-single-selection-dropdown>
  </rc-form-field>
  <rc-form-field
    label="{{'trigger_version' | translate}}"
    [hidden]="form.value.type !== 'image_change'"
    [hideErrors]="true"
  >
    <rc-radio-group
      formControlName="useImageTagFilter"
      displayField="displayName"
      valueField="value"
      [options]="useImageTagFilterOptions"
    >
    </rc-radio-group>
  </rc-form-field>
  <rc-form-field
    label="{{'trigger_version_filter' | translate}}"
    [hidden]="form.value.type !== 'image_change' || !form.value.useImageTagFilter"
  >
    <input
      type="text"
      rcInput
      rcTrim
      formControlName="image_tag_filter"
      [required]="!!form.value.useImageTagFilter"
      [placeholder]="'jenkins_trigger_image_tag_tip' | translate"
    >
  </rc-form-field>
</div>
<div class="actions">
  <a
    href="javascript:void(0)"
    (click)="remove.next()"
  >
    <i class="fa fa-minus-circle"></i>
  </a>
</div>
