<div class="form-container">
  <div class="form-header">{{ 'reset_password' | translate }}</div>
  <form (ngSubmit)="submit()">
    <div style="padding: 10px 0 20px 0;">
      {{ accountLabel | translate }}: {{ mobileOrEmail }}
    </div>
    <rld-form-control-fragment
      *ngFor="let fragment of formControlFragments"
      [formControlFragment]="fragment">
    </rld-form-control-fragment>
    <button aui-button="primary"
            size="large"
            [loading]="submitting"
            type="submit" [disabled]="submitDisabled">
      {{ 'submit' | translate }}
    </button>
  </form>
  <div class="bottom-links">
    <a routerLink="/forget-password">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
      {{ 'back_to_prev_step' | translate }}
    </a>
  </div>
</div>
