<div class="form-container">
  <div class="form-header">{{ 'forget_password' | translate }}</div>
  <form (ngSubmit)="sendCaptchaCode()">
    <rld-form-control-fragment *ngFor="let fragment of formControlFragments"
                               [formControlFragment]="fragment">
    </rld-form-control-fragment>
    <div class="error-message">{{errorMessage}}</div>
    <button class="button primary large ui"
            [class.loading]="submitting"
            [auiTooltip]="sendVerificationCodeHint | translate"
            auiTooltipPosition="bottom start"
            type="submit"
            [disabled]="submitDisabled">
      {{ 'verify_now' | translate }}
    </button>
  </form>
</div>
