<div class="diagram-container">
  <div class="scrollable" [attr.width]="width" [attr.height]="height">
    <svg [attr.width]="width" [attr.height]="height">
      <svg:defs/>
      <svg:filter id="shadow" width="200%" height="200%" x="-50%" y="-50%">
        <svg:feGaussianBlur
          in="SourceGraphic"
          stdDeviation="4"
        />
        <svg:feOffset dx="0" dy="0" />
        <svg:feMerge>
            <svg:feMergeNode />
            <svg:feMergeNode in="SourceGraphic" />
        </svg:feMerge>
      </svg:filter>
      <svg:g [attr.transform]="transform">
        <svg:g *ngFor="let link of links; trackBy linkTracker"
          rc-jenkins-pipeline-history-diagram-link
          [link]="link"
          [diagramConfig]="this.diagramConfig"
        />
        <svg:g
          *ngFor="let node of nodes; trackBy nodeTracker"
          rc-jenkins-pipeline-history-diagram-node
          [node]="node"
          [diagramConfig]="this.diagramConfig"
          [entities]="entities"
          [selected]="selected"
          (selectedChange)="selectedChange.next($event)"
        />
      </svg:g>
    </svg>
  </div>
</div>