@import '_colors.styles';

//$status-color-map: (
//  'ok': $status-color-success,
//  'alarm': $status-color-error,
//  'insufficient_data': $status-color-in-process
//  'insufficient_res': $status-color-in-process
//);
$status-color-map: (
  'ok': #6ec434,
  'alarm': #fc5d68,
  'insufficient_data': #0badeb,
  'insufficient_res': #0badeb,
);
@mixin rb-status-badge-indicator-color($status, $color) {
  &[status='#{to_lower_case($status)}'] {
    .rb-status-indicator {
      color: $color;
      background-color: $color;
      -webkit-box-shadow: 0 0 10px $color;
      box-shadow: 0 0 10px $color;
    }
    .rb-status-text {
      color: $color;
    }
  }
}
.rb-status-badge {
  display: flex;
  font-size: 14px;
  align-items: center;
  @each $status, $color in $status-color-map {
    @include rb-status-badge-indicator-color($status, $color);
  }
  .rb-status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid;
  }
}
