.rc-node-labels {
  padding: 16px 30px 0;

  &__wrapper {
    position: relative;
    border-radius: 3px;
    border: dashed 1px #e5e1e1;
    padding-top: 32px;
    padding-bottom: 16px;
  }

  &__form {
    display: flex;
    margin: 0 24px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    background-color: white;

    input {
      margin-right: 8px;
      width: 100%;
      flex-shrink: 1;
    }

    button {
      width: 70px;
      flex-shrink: 0;
    }
  }

  &__item {
    display: flex;
    margin: 0 24px;
    height: 32px;
    align-items: center;

    + .rc-node-labels__item {
      border-top: solid 1px #e5e1e1;
    }

    .key,
    .value {
      margin-right: 8px;
      width: 100%;
      flex-shrink: 1;
    }

    .delete-btn {
      width: 70px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;

      > i {
        cursor: pointer;
      }
    }
  }
}
