<div class="rc-dialog-content">
  <div class="rc-node-labels" [rcLoadingMask]="checking">
    <div class="rc-node-labels__wrapper">
      <form class="rc-node-labels__form" [formGroup]="modelForm">
        <input
          rcInput
          rcErrorsTooltip
          [rcErrorsTooltipMapper]="errorMapper"
          formControlName="key">
        <input
          rcInput
          rcErrorsTooltip
          formControlName="value">
        <button
          rcButton
          (click)="addLabel()">
          {{ 'add' | translate }}
        </button>
      </form>
      <div class="rc-node-labels__content">
        <div
          *ngFor="let label of labels;trackBy: trackByKey"
          class="rc-node-labels__item">
          <div class="key">{{ label.key }}</div>
          <div class="value">{{ label.value }}</div>
          <div class="delete-btn">
            <i *ngIf="label.editable" (click)="deleteLabel(label.key)" class="fa fa-remove"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rc-dialog-footer">
  <button
    rcButton="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()">
    {{ 'confirm' | translate }}
  </button>
  <button
    rcButton
    [disabled]="submitting"
    (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
