@import 'colors.styles';
@import 'static/app/components/common/style/mixins';

.rule-description {
  line-height: 24px;
  display: flex;
  padding: 10px;
  border-radius: 4px;
  background-color: $yellow-6;
  margin-bottom: 20px;

  > {
    :first-child {
      flex: 1;
      padding-right: 10px;
      color: $text-desc-color;
    }

    :last-child {
      display: flex;
      align-items: center;
      color: $blue-3;

      .fa {
        cursor: pointer;
      }
    }
  }
}

.rc-list-header {
  margin: 8px 0 16px;
  .search-input {
    margin-right: 8px;
    input {
      border-radius: 5px 0 0 5px;
      min-width: 24rem;
    }
    button {
      border-radius: 0 5px 5px 0;
      margin-left: -1px;
    }
  }
  rc-search-input {
    margin-right: 8px;
  }
}

.rc-list-container {
  margin-bottom: 16px;
}

.search {
  position: relative;
  color: #ccc;

  .filter-input {
    border: 1px solid $form-input-border-color;
    border-radius: 5px;
    width: 345px;
    height: 32px;
    padding-left: 25px;
    color: #666;

    &::-webkit-input-placeholder {
      color: #ccc;
    }

    &::-moz-placeholder {
      color: #ccc;
    }
  }
  .icon.search {
    position: absolute;
    left: 6px;
    top: 6px;
  }
}

.rc-lines {
  overflow: hidden;
  .rc-line {
    a {
      @include truncate-anchor;
    }
  }
}
