<rc-region-badge-option onChangeState="load_balancer"></rc-region-badge-option>
<div *rcPageHeaderContent>
  <rc-breadcrumb>
    <ng-container *rcBreadcrumbItem>
      <a href="javascript:void(0)"
         [routerLink]="['/load_balancer']">{{ 'nav_network'| translate }}</a>
    </ng-container>
    <ng-container *rcBreadcrumbItem>
      {{ 'load_balancer'| translate }}
    </ng-container>
  </rc-breadcrumb>
</div>

<rc-inline-notification type="info"
                        closable='true'
                        content="{{ 'load_balancer_list_description' | translate }}">
</rc-inline-notification>

<div fxLayout="row"
     class="rc-list-header">
  <div *ngIf="lbCreateEnabled">
    <button rcButton="primary"
            [disabled]="!canCreate()"
            (click)="create()">
      {{ "create" | translate }}
    </button>
    <button rcButton="primary"
            [disabled]="!canImport()"
            (click)="import()"
            style="margin-left: 12px">
      {{ "import" | translate }}
    </button>
  </div>
  <span fxFlex></span>
  <div class="search">
    <i class="icon search"></i>
    <input class="filter-input"
           [(ngModel)]="filterKey"
           placeholder="{{ 'filter_by_name_placeholder' | translate }}">
  </div>
</div>

<rc-loading-mask [loading]="empty && loading"></rc-loading-mask>
<!-- load balancer list-->
<div class="rc-list-container" *ngIf="!loading">
  <rc-table #lbTable
            class="rc-primary-table"
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowHeight]="82"
            [rows]="getLoadBalancerList()">
    <rc-table-col name="{{ 'name'| translate }}"
                  [width]="350"
                  [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          <img src="/static/images/resource/lb-list.svg">
          <div class="rc-lines">
            <div class="rc-line">
              <a href="javascript:void(0)"
                 title="{{rowData.name}}"
                 [routerLink]="['/load_balancer/detail', rowData.name]">{{ rowData.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </rc-table-col>
    <!-- lb type-->
    <rc-table-col name="{{ 'type'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          {{ ('load_balancer_' + rowData.type) | translate }} v{{ rowData.version }}
        </div>
      </div>
    </rc-table-col>
    <!-- lb address-->
    <rc-table-col name="{{ 'address'| translate }}"
                  [cellClass]="'rc-col-cell-truncated'">
      <div *rcTableColCell="let rowData = row"
           rcTooltipPosition="top left"
           [rcTooltip]="rowData.address">
        {{ rowData.address }}
      </div>
    </rc-table-col>
    <!-- lb address type-->
    <rc-table-col name="{{ 'lb_address_type'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <div class="rc-resource-name-cell">
          {{ 'lb_address_' + rowData.address_type | translate }}
        </div>
      </div>
    </rc-table-col>
    <!-- action -->
    <rc-table-col name="{{ 'action'| translate }}">
      <div *rcTableColCell="let rowData = row">
        <rc-button-menu>
          <button rcButton
                  rcButtonSize="small" rcButtonMenuDefault
                  (click)="viewLoadBalancer(rowData)">
            {{ 'view' | translate }}
          </button>
          <button rcMenuButton
                  *ngIf="networkService.canAction(rowData, 'delete')"
                  (click)="deleteLoadBalancer(rowData)">{{ 'delete' | translate }}</button>
        </rc-button-menu>
      </div>
    </rc-table-col>
  </rc-table>
  <div *ngIf="empty && !loading">
      <div class="rb-loading-mask-placeholder">
        <div *ngIf="loadError">
          {{ 'data_load_error' | translate }}
        </div>
        <button *ngIf="loadError"
                rcButton="primary"
                style="margin-top: 12px;"
                (click)="refetch()">
          {{ 'refresh' | translate }}
        </button>
      </div>
    </div>
</div>
