<rc-form-container [rcLoadingMask]="!initialized">
  <form #form="ngForm">
    <rc-form-field label="ConfigMap" [shouldFlexRow]="true">
      <rc-container-fields-configmap name="configmaps" [(ngModel)]="containerConfigmaps" [namespace]="namespace"></rc-container-fields-configmap>
    </rc-form-field>
  </form>
  <ng-container *rcFooterContent>
      <button rcButton
              (click)="cancel()">
        {{'cancel'|translate}}
      </button>
      <button
        *ngIf="shouldShowPrevStep()"
        rcButton
        (click)="prevStep()">
        {{'prev_step'|translate}}
      </button>
      <button rcButton="primary"
              [loading]="submitting"
              [disabled]="submitting"
              (click)="confirm()">
        {{'confirm'|translate}}
      </button>
    </ng-container>
</rc-form-container>