:host {
  ::ng-deep {
    label[for^='rc-pipeline-template-service-container-'] {
      display: none !important;
    }

    .template-dynamic-form-container {
      rc-form-field {
        margin-bottom: 6px;

        label.form-field-label {
          width: 180px;
        }
      }
    }

    .form-main-container {
      width: 100%;
    }

    .form-input-row {
      width: 100%;
    }

    rc-pipeline-template-service-container {
      width: 100%;
    }

    rc-pipeline-dyform-credential {
      width: 100%;
    }

    rc-pipeline-dyform-repository {
      width: 100%;
    }

    rc-pipeline-dyform-env {
      width: 100%;
      tbody {
        tr div rc-single-selection-dropdown:last-child {
          width: 100px !important;
        }
      }
    }

    rc-pipeline-dyform-configmap {
      width: 100%;
      rc-multi-selection-dropdown {
        width: 100%;
      }
    }

    rc-code-editor {
      width: 100%;
    }

    rc-single-selection-dropdown {
      width: 100%;
    }
  }
}
